body, html{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Cinzel', serif;
	margin: 0 0 10px 0;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
	font-size: 12px;
}
#modal{
	position: fixed;
	z-index: 200;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	display: none;
}
.modal__wrapper{
	width: 600px;
	background: #FFF;
	border-radius: 10px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.form-modal{
	width: 60px;
	margin-bottom: 10px;
}
.clear{
	clear: both;
}
.titre{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.soustitre{
    text-align: left;
    margin-bottom: 10px;
    background: #bdbdbd;
    color: #FFF;
    padding: 10px;
}
#tri, #tri2{
	width: 200px;
	margin-bottom: 10px;
}
.btn-accueil, #input-studio{
    width: 100%;
    margin-bottom: 10px;
}
.btn-studio{
    width: 12.5%;
    margin-bottom: 10px;

		&.btn-100{
			 width: 100%;
		}
}
.btn-choisir{
    position: absolute;
    bottom: 0px;
    width: calc(100% - 15px);
    text-transform: uppercase;
    padding: 2px 10px;
    left: 15px;
}
.btn-annuler{
	float: right;
}
.btn-stat, .btn-contrat{
	display: none;
}
.btn-acteur{
	width: calc(100% + 15px);
	height: 125px;
	font-size: 50px;

}
.btn-acteur_selected{

}
.argent{
	margin: 10px 0;
}
#navigation_0, #navigation_1, #navigation_2{
    position: absolute;
    height: 200px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 20px;
}
.up, .down{
	cursor: pointer;
}
.up.disabled, .down.disabled{
	color: #dedede;
	cursor: not-allowed;
}
#actrice_0, #actrice_1, #actrice_2{
    height: 230px;
    overflow: hidden;
}
#actrice_2 .btn-stat, #actrice_2 .btn-contrat{
	display: block;
	float: left;
	width: calc(50% - 7px);
	position: absolute;
	bottom: 0px;
	left: 15px;
	padding: 3px;
}
#actrice_2 .btn-contrat{
	left: initial;
	right:0px;
}
.actrice_exclusive::before{
	content: "\00a0 ";
	background: url(../../img/exclusive.png) top left no-repeat;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 30px;
	left: 15px;
	z-index: 10;
}
.actrice_selected::after{
	content: "\00a0 ";
	height: 174px;
	width: calc(100% - 15px);
	position: absolute;
	top: 30px;
	left: 15px;
	z-index: 10;
	border: 3px solid red;
}
.actrice-new .actrice_nbfilm, .actrice-new .actrice_nbscene, .actrice-new .actrice_perf, .actrice-new .actrice_fan{
	display: none;
}
.actrice-new .actrice_contrat .actrice_nbfilm{
	display: block;
}
.actrice_wrapper2 .btn-choisir{
	display: none;
}
.actrice{
    overflow: hidden;
    height: 230px;
}
.actrice_img{
    width: calc(100% + 15px);
    position: relative;
    height: auto;
    margin-top: 30px;
}
.actrice label{
    position: absolute;
    top: 0px;
    background: rgba(255, 255, 255, 0.75);
    width: calc(100% - 15px);
    margin: 0;
    padding: 5px;
    text-align: center;
    left: 15px;
    color: #5bc0de;
}
.actrice_fan{
    position: absolute;
    top: 35px;
    right: 5px;
    color: #ff8bd0;
}
.actrice_fan span{
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
}
.actrice_info{
    position: absolute;
    top: 30px;
    /* left: 15px; */
    left: -100%;
    width: calc(100% - 15px);
    background: rgb(255, 255, 255);
    height: 175px;
    padding: 10px;
    transition: all .5s;
    color: #333;
    font-size: 16px;
		z-index: 11;
}
.actrice_contrat{
    position: absolute;
    top: 30px;
    right: -100%;
    width: calc(100% - 15px);
    background: rgb(255, 255, 255);
    height: 173px;
    padding: 10px;
    transition: all .5s;
    color: #333;
    font-size: 16px;
		z-index: 11;
}
.actrice_wrapper2 .actrice_info{
	height: 173px;
}
.actrice_info p{
	margin-bottom: 2px;
}
.actrice_wrapper .actrice:hover .actrice_info, .actrice_wrapper1 .actrice:hover .actrice_info{
    left: 15px;
}
.actrice_info-active{
  left: 15px;
}
.actrice_contrat-active{
  right: 0px;
}
.actrice_warning{
	position: absolute;
	top: 4px;
	left: 20px;
	z-index: 9;
	color: #ffa700;
}
.actrice_danger{
	position: absolute;
	top: 4px;
	right: 5px;
	z-index: 9;
	color: #d9534f;
}
.acteur{
    margin-bottom: 20px;
}
.bgcard, .bgcostume{
	padding: 0 15px 15px 0;
	overflow: hidden;
	cursor: pointer;
}
.bgcard, .bgcostume{
    height: 204px;
}
.bgcard img, .bgcostume img{
	width: 100%;
	height: auto;
}
.bgcard label, .bgcostume label{
	position: absolute;
	width: calc(100% - 15px);
	padding: 5px;
	background: rgba(255, 255, 255, 0.75);
  z-index: 10;
}
.bgcard-disabled{
    cursor: not-allowed;
	    filter: sepia(100%);
}
.bgcard .fa-times-circle{
	float: right;
  cursor: pointer;
}
.icon-bikini{
	background: url(../../img/costume/bikini.png) no-repeat center center #FFF;
	background-size: 90% auto;
	position: absolute;
	bottom: 21px;
	right: 21px;
	width: 35px;
	height: 35px;
	z-index: 1000;
	border-radius: 50%;
}
.icon-maid{
	background: url(../../img/costume/costume_maid.png) no-repeat center center #FFF;
	background-size: 90% auto;
	position: absolute;
	bottom: 21px;
	right: 21px;
	width: 35px;
	height: 35px;
	z-index: 1000;
	border-radius: 50%;
}
.icon-nurse{
	background: url(../../img/costume/costume_nurse.png) no-repeat center center #FFF;
	background-size: 90% auto;
	position: absolute;
	bottom: 21px;
	right: 21px;
	width: 35px;
	height: 35px;
	z-index: 1000;
	border-radius: 50%;
}
.icon-secretary{
	background: url(../../img/costume/costume_secretary2.png) no-repeat center center #FFF;
	background-size: auto 90%;
	position: absolute;
	bottom: 21px;
	right: 21px;
	width: 35px;
	height: 35px;
	z-index: 1000;
	border-radius: 50%;
}
.icon-school{
	background: url(../../img/costume/costume_school.png) no-repeat center center #FFF;
	background-size: 90% auto;
	position: absolute;
	bottom: 21px;
	right: 21px;
	width: 35px;
	height: 35px;
	z-index: 1000;
	border-radius: 50%;
}
.icon-bdsm{
	background: url(../../img/costume/costume_bdsm.png) no-repeat center center #FFF;
	background-size: auto 90%;
	position: absolute;
	bottom: 21px;
	right: 21px;
	width: 35px;
	height: 35px;
	z-index: 1000;
	border-radius: 50%;
}
.bg_prix{
	position: absolute;
	bottom: 20px;
	background: #FFF;
	width: 60px;
	height: 20px;
	z-index: 30;
	padding-left: 5px;
}
.bgcostume .bg_prix{
    bottom: 60px;
}
.bgcostume{
	display: none;
}
.bgcostume .btn{
	position: absolute;
	bottom: 16px;
}
