<div class="getplayer">
  <label>Joueur</label>
  <select class="selectplayer">
  </select>

  <label>Avantage</label>
  <select class="avantage">
    <option value="courageux">courageux</option>
    <option value="populaire">populaire</option>
    <option value="riche">riche</option>
    <option value="sportif">sportif</option>
    <option value="studieux">studieux</option>
  </select>

  <label>Défaut</label>
  <select class="defaut">
    <option value="bagarreur">bagarreur</option>
    <option value="naif">naif</option>
    <option value="parfait">parfait</option>
    <option value="peureux">peureux</option>
    <option value="tricheur">tricheur</option>
  </select>

  <label>Numéro</label>
  <input value="" class="numero" />

  <label>Sexe</label>
  <select class="sexe">
    <option value="fille">fille</option>
    <option value="garcon">garcon</option>
  </select>

  <label>Place</label>
  <select class="place">
    <option value="1">1</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="9">9</option>
  </select>

  <label>Magie</label>
  <select class="magie">
    <option value="vent">vent</option>
    <option value="feu">feu</option>
    <option value="eau">eau</option>
    <option value="terre">terre</option>
  </select>

  <label>Energie</label>
  <select class="energie">
    <option value="verte">verte</option>
    <option value="noire">noire</option>
  </select>

  <button class="save">SAVE</button>
  <div class="msg"></div>
</div>
<div class="importplayer">
  <select class="exportlst">
  </select>
  <button class="import">IMPORTER</button>
</div>
