<!-- GATCHA INDEX -->
<div class="gatchawrapper">
  <!-- LIVRE -->
  <div class="gatcha gatcha__army livres" data-livre="livre1">
    <div class="titre" data-trad="titre1">
    </div>
    <p class="num">1</p>
  </div>
  <div class="gatcha gatcha__army livres locked" data-livre="livre2">
    <div class="titre" data-trad="titre2">
    </div>
    <p class="num">2</p>
  </div>


  <!-- CHAPITRE -->
  <div class="chapitre chapitre-1" data-livre="livre1">
    <p class="titre__chapitre selected" data-chap="chapitre1" data-trad="chapitre1"></p>
    <p class="titre__chapitre" data-chap="chapitre2" data-trad="chapitre2"></p>
    <p class="titre__chapitre" data-chap="chapitre3" data-trad="chapitre3"></p>
    <div class="nom"></div>
    <button data-trad="New" class="new"></button>
    <button data-trad="Retour" class="retour"></button>
    <button data-trad="Continue" class="continue"></button>
  </div>
  <div class="chapitre chapitre-2" data-livre="livre2">
    <p class="titre__chapitre selected" data-chap="chapitre1" data-trad="chapitre21"></p>
    <div class="nom"></div>
    <button data-trad="New" class="new"></button>
    <button data-trad="Retour" class="retour"></button>
    <button data-trad="Continue" class="continue"></button>
  </div>
</div>


<div class="ouverture">

  <div class="coffre">
    <div class="bt bt-cancel2"></div>
    <div class="coffre__num" data-trad="gnb"></div>
    <div class="flextab">
      <div class="coffre__ouverture1" data-trad="x1"></div>
      <div class="coffre__ouverture10" data-trad="x10"></div>
    </div>
  </div>

</div>
