<div id="listeinfo">

  <div class="boxinfo boxinfo-perso">
    <button data-info="template/infos/persos/index.html">Afficher les personnages</button>
  </div>

  <div class="boxinfo boxinfo-lieu">
    <button data-info="template/infos/lieux/index.html">Afficher les lieux</button>
  </div>

  <div class="boxinfo boxinfo-monstre">
    <button data-info="template/infos/creatures/index.html">Afficher les créatures</button>
  </div>

  <div class="boxinfo boxinfo-carte">
    <button data-info="template/infos/carte/index.html">Afficher la carte du monde</button>
  </div>

  <button class="Export">Exporter les données</button>
</div>
