<div class="num num-2-1-1">

  <div class="text">
    <h1>PROLOGUE</h1>
    <p>Le vent soufflait encore plus fort que d'habitude aujourd'hui. Les grains de sable fouettaient le visage des deux enfants. Leur peau, halée par le soleil, indiquait, si besoin l'en était, qu'ils appartiennent au peuple du désert.</p>

    <p>Armin est l'ainé, 15 ans. Plutôt grand pour son âge, il manie le sabre aussi bien qu'un jeune soldat. Il a déjà humilié plusieurs adultes qui l'avaient jugé trop vite. Mais il n'a pas cette arrogance tout à fait légitime qu'il aurait pu développer. Il est très méfiant et toujours sur la défensive, son passé l'a fait mûrir trop vite et il n'a déjà plus rien d'un enfant si ce n'est son âge. Il n'est pas très aimé des habitants du village mais très respecté pour son courage et ses compétences physiques.</p>

    <p>Yasha est la cadette, 10 ans. Ne voulant pas rester un poids pour son frère, elle entreprit très tôt de trouver de quoi gagner un peu d'argent. Et c'est en consultant les anciens papyrus de ses parents qu'elle se forma à l'art compliqué de la médecine. Elle prépare pour les habitants du village des onguents et autres médicaments. Elle sait se rendre indispensable car, elle l'a bien compris, sans cela, les villageois l'auraient poussé hors du village… voir pire.</p>

    <p>En effet, la vie est dure dans le désert des Tourments : la nourriture manque, l'eau est une ressource de toute première importance et les bandits rôdent partout. N'importe qui a déjà une vie très difficile. Mais pour deux enfants ayant perdu leurs parents ça l'est encore plus. Et, pour c'est deux là, le destin a décidé de s'acharner : les deux enfants ont tous les deux contracté la malédiction animale "Animalia". Une malédiction qui a touché des centaines de personnes à la suite de "l'Apocalypse". Les anciens du village racontent que, loin au nord, un pays a commis l'irréparable. Voulant maîtriser les pouvoirs des Dieux, ils l'ont payé de leur vie, non sans apporter sur le monde la colère de Jarès, le Dieu de la vengeance.</p>

    <p>Depuis ce jour, une étrange malédiction touche des gens au hasard, partout dans le monde. Une malédiction impossible à cacher, puisqu'elle donne à son porteur des traits animaux.</p>

    <p>Dans cette nouvelle aventure, qui souhaiterais-tu jouer ?</p>

  </div>

  <div class="choix">
    <!-- <div>Bientôt : Le livre 2 arrive dans quelques mois !</div> -->
    <div class="ch heros-1" data-go="2">Armin - le grand frère de 15 ans</div>
    <div class="ch heros-2" data-go="2">Yasha - la petite sœur de 10 ans</div>
  </div>

</div>
<!--
Armin
-> Guerrier
- Crotale : insensible maladie et toxines + esquive
- Fennec : court très vite + Ouïe fine

Yasha
-> Fabrique des potions
- Crapaud : insensible maladie et toxines + saut
- Lièvre : court très vite + saut

  -->
