<div class="num num-2-1-10">

  <div class="text">
    <h1>- 10 -</h1>

    <div>
        <p>
          Les jours passaient, monotones, sans que vous réussissiez à vraiment changer votre condition. Plusieurs fois tu te demandas si vivre comme cela était vraiment une vie. C'était plus de la survie.
        </p>

        <p>Heureusement pour toi quelques lueurs de bonheur illuminaient de temps à autres tes journées. Amalia en faisait partie. Elle vous connaissait depuis toujours. C'était la fille des Grandin, des éleveurs de chameaux qui étaient bien connus dans le village pour la qualité des animaux qu'ils vendaient. Surtout, tu les connaissais depuis tout<span class="h-2">e</span> petit<span class="h-2">e</span>, tes parents étaient bien amis avec eux.</p>

        <p>Depuis toujours tu étais allé jouer avec Amalia dans les alentours. Aller capturer des scorpions ou aller enquiquiner monsieur Erhnan, c'était des passe-temps innocents qui te paraissent bien loin maintenant.</p>

        <p>
          Amalia a 14 ans, elle est plutôt jolie, avec de longues tresses de cheveux noirs. Ses yeux sont aussi noirs que sa chevelure et sa peau sombre ne détone pas avec le reste. Elle s'habille souvent avec un grand pagne blanc, attaché à la taille par un foulard bleu. Très souriante, elle n'a jamais cessé de vous aimer, même lors de votre étrange mutation. Pour cela tu lui en es extrêmement reconnaissant<span class="h-2">e</span>.
        </p>

        <p>
          Ce jour là, tu passas chez elle pour te changer un peu les idées de ta journée. Amalia habite une grande ferme un peu à l'extérieur du village. Il y a une grand clôture, qui est plus là pour indiquer aux bédouins de passage de ne pas installer leur tente ici que pour empêcher les chameaux de partir. Ces derniers restent à la ferme, il y a de l'eau, et on leur sert à manger sans rien faire. C'est le paradis pour eux.
        </p>

        <p>
          Tu toques à la porte et la mère d'Amalia te dit que sa fille est partie à la carrière de fer. Tu la remercies et tu pars dans cette direction.
        </p>
    </div>

  </div>

  <div class="choix">
    <div class="ch" data-go="11">Suite</div>
  </div>

</div>
