<div class="num num-2-1-11">

  <div class="text">
    <h1>- 11 -</h1>

    <div>
        <p>
          La carrière de fer c'est une raison supplémentaire de former un village ici. Le désert aux alentours et arides mais composé principalement de roches. Et un peu au nord, se trouve des amas rocheux riches en fer.
        </p>

        <p>
          Quand la mère d'Amalia t'a dit qu'elle était là bas, bien entendu, tu sais qu'elle n'est pas allée dans les grottes. Il y a, juste à côté, un endroit rempli de jolis cactus où vous allez souvent pour vous amusez.
        </p>

        <p>
          Et c'est sans surprise que tu la retrouves là bas.
        </p>

        <p>
          Mais elle ne cueille pas les fleurs des cactus, ni n'essaie de trouver de jolis cailloux. Elle est juste assise sur une pierre, regardant le couché de soleil, le visage posé dans ses mains.
        </p>

    </div>

  </div>

  <div class="choix">
    <div class="ch h-1" data-go="12">Coucou, tu fais quoi ?</div>
    <div class="ch h-2" data-go="13">Coucou, ça va ?</div>
  </div>

</div>
