<div class="num num-2-1-12">

  <div class="text">
    <h1>- 12 -</h1>

    <div>
        <p>
          - Oh, Armin… Je ne fais rien de spécial. Je regardais simplement le soleil couchant. Je trouve simplement ça joli.<br />
          - Ah bon ? <span class="p-1">Oui, j'adore aussi les couchés de soleil, même si la nuit m'engourdissent par leur froid.</span><span class="p-2">Oui, j'adore aussi les couchés de soleil, les sons de la nuit sont si beaux je trouve.</span><br />
          - Ha ha, fit-elle en gloussant. J'adore comme tu décris toujours tout de manière si unique.<br />
          - Heu… c'est juste qu'avec ma "maladie", je ressens ça, fais-tu un peu honteux.<br />
          - Je sais… je ne voulais pas te vexer.
        </p>

        <p>Après une petite pause où tu la voies toujours regarder le soleil distraitement :</p>

        <p>
          - Parfois, je me dis que j'aimerai bien avoir été touché pour la maladie aussi.<br />
          - Et bien je pense que tu ne sais pas ce que tu dis, réponds-tu en souriant. Si tu savais comment les gens te parlent quand tu es un mutant.<br />
          - Mais je sais que toi et Yasha vous seriez toujours mes amis, non ?<br />
          - … Bien entendu ! Je voulais dire, les autres, les marchands, les étrangers de passages…<br />
          - En tout cas ce soir, j'aimerai être à ta place, fit la jeune fille en te coupant.
        </p>

        <p>Tu as bien l'impression qu'il lui est arrivé quelque chose mais tu ne sais pas trop quoi. Si elle avait envie de t'en parler, tu sais qu'elle ne se serait pas fait prier. Quand tu as eu une mauvaise journée tu préfères qu'on ne te demande pas d'en parler.</p>
    </div>

  </div>

  <div class="choix">
    <div class="ch h-1" data-go="14">Demander quand même ce qui ne va pas</div>
    <div class="ch h-2" data-go="15">Passer juste un bon moment pour lui changer les idées</div>
  </div>

</div>
