<div class="num num-2-1-13">

  <div class="text">
    <h1>- 13 -</h1>

    <div>
        <p>
          Tu as immédiatement vu que quelque chose n'allait pas. Peut-être que tu peux l'aider.
        </p>
        <p>
          - Je ne veux pas t'ennuyer avec mes problèmes, répond Amalia. C'est rien comparé à tout ce que tu as vécu avec Armin. J'aurai vraiment l'air d'être une enfant gâté.<br />
          - Qu'est-ce que tu racontes, répliques-tu. Je suis ton amie, et les amis sont fait pour s'aider. Et c'est pas parce que je suis plus petite que toi que je ne peux rien faire. J'ai des pouvoirs tu sais, fais-tu en bombant le torse.<br />
          - Ha ha, merci tu me donnes un peu de baume au cœur. Mais malheureusement tu ne pourras rien faire. <br />
          - Dis toujours, insistes-tu.
        </p>

        <p>Amalia lâche un grand soupir et semble avoir du mal à trouver les mots. C'est avec un petite voix tremblante qu'elle dit finalement :</p>

        <p>
          - Mes parents m'ont annoncé qu'ils m'avaient trouvé un mari.<br />
          - Qu … un mari ? Tu vas te marier ? t'exclames-tu.<br />
          - Avec le fils d'un marchand de Sahalem. Il parait que son père est très riche. Mais je ne l'ai jamais vu.<br />
          - Hé ben, fais tu encore sous le choc. Je dois avouer que c'est une sacré nouvelle. Mais tu n'as que 14 ans, c'est pas trop jeune ?<br />
          - Leur fils a 16 ans il parait, et ils ont fait une demande à mes parents. Je crois qu'ils sont déjà venus acheter des chameaux et qu'ils m'ont vu à ce moment là.
        </p>

        <p>La nouvelle te secoue encore. Tu t'assieds à côté de ton amie, regardant à ton tour le couché de soleil.</p>

        <p>
          - Mais alors… tu vas partir du village ? réalises-tu.
        </p>

        <p>Quand tu prononces ces mots, Amalia plonges sa tête dans ses bras, ne voulant pas que tu la voies pleurer. C'est la seule amie qu'il te reste au village et elle va partir. Mais pour elle, c'est un changement encore plus radical. Tu as les larmes qui te montent aux yeux mais tu lui poses délicatement ta main sur l'épaule.</p>

        <p>
          - Si ça se trouve, il est très bien ce type. Peut-être que tu te sentiras bien à Sahalem.
        </p>

        <p>En relevant la tête Amalia te dis en pleurant :</p>

        <p>
          - Je ne veux pas partir d'ici ! Je me sens bien avec vous ! Je veux pas me marier !
        </p>
    </div>

  </div>

  <div class="choix">
    <div class="ch" data-go="16">Suite</div>
  </div>

</div>
