<div class="num num-1-1-2">

  <div class="text">
    <h1>- CHOIX POUVOIR -</h1>

    <div class="h-1">
        <p>Quand Armin est né, il n'était pas si différent des autres enfants, si ce n'est peut-être sa taille assez grande.</p>
        <p>Lors de l'Apocalypse il s'est transformé.</p>
        <p>- 1: Crotale -</p>
        <p>Sa peau s'est recouverte d'écailles. Sa peau est devenue plus froide et il a besoin de se réchauffer au soleil pour ne pas s'endormir. Mais en contrepartie, les poisons et les maladies ne le touchent plus. Ses réflexes sont également devenus surhumain, il est capable d'attraper une flèche en plein vol.</p>
        <p>- 2: Fennec -</p>
        <p>Ses oreilles sont devenues plus longues et touffues. Elles ont progressivement migrées vers le sommet de son crâne. Il peut désormais entendre des sons au delà du spectre humain, ses capacités auditives sont devenues hors norme. Egalement, il peut courir 4 à 5 fois plus rapidement qu'un humain normalement constitué.</p>
    </div>

    <div class="h-2">
        <p>Quand Yasha est née, elle n'était pas si différente des autres enfants.</p>
        <p>Lors de l'Apocalypse elle s'est transformée.</p>
        <p>- 1: Crapaud -</p>
        <p>Yasha a désormais deux gros yeux globuleux et une langue qu'elle peut déployer jusqu'à 2 mètres. Mais en contrepartie, les poisons et les maladies ne le touchent plus. Elle peut également respirer sous l'eau et faire des bonds extraordinaires - jusqu'à 10 mètres de long ou 3 mètres de haut.</p>
        <p>- 2: Lièvre -</p>
        <p>Ses oreilles sont devenues plus longues et touffues. Elles ont progressivement migrées vers le sommet de son crâne. Elle peut désormais courir 5 à 6 fois plus rapidement qu'un humain normalement constitué. Ses réflexes sont également surhumain, et il est impossible de la prendre par surprise quand elle est dans un état normal (peut se faire avoir si elle a les pieds coincés, ou si elle est en train de dormir…)</p>
    </div>
  </div>

  <div class="choix">
    <div class="ch h-1 pouvoir-1" data-go="3">1: Pouvoir du Crotale</div>
    <div class="ch h-1 pouvoir-2" data-go="3">2: Pouvoir du Fennec</div>
    <div class="ch h-2 pouvoir-1" data-go="3">1: Pouvoir du Crapaud</div>
    <div class="ch h-2 pouvoir-2" data-go="3">2: Pouvoir du Lièvre</div>
  </div>

</div>
