<div class="num num-2-1-3">

  <div class="text">
    <h1>- Introduction -</h1>

    <div>
        <p>Le matin se levait sur le petit village de l'oasis des trois chameaux. Le village ne comptait qu'une dizaine de maisons mais était traversé par la route commerciale du sud. De ce fait, des centaines de voyageurs, marchands et autres nomades campaient en permanence autour du point d'eau.</p>

        <p>Il faut dire que le temps est particulièrement difficile dans ce coin du monde. Ainsi le moindre point d'eau est absolument indispensable à tout le monde.</p>

        <div class="h-1">
          <p>Tu te levas ce matin en direction de la tente de Marez. C'est le chef d'une troupe de mercenaires qui te donne de temps en temps des missions d'escorte de caravane.</p>
          <p>Il n'est pas très amical mais il reconnait tes talents à l'épée et surtout il paie le prix annoncé.</p>
          <p>En zigzagant entre les tentes, les odeurs d'épices viennent piquer tes narines sensibles.</p>
          <p class="p-1">La chaleur est douce et réchauffe ton sang refroidi par ton animalité.</p>
          <p class="p-2">La chaleur t'étouffe comme tous les jours, tes oreilles sont trop touffues et te font transpirer.</p>
        </div>
        <div class="h-2">
          <p>Tu dis au revoir à ton frère qui partait chercher un travail auprès d'un escroc notoire. Tu n'aimais pas ces gens qui profitaient de lui mais tu ne pouvais pas y faire grand chose.</p>
          <p>En l'accompagnant du regard, tu retournas la pancarte de votre maison qui indiquait que tu ouvrais la "boutique". En tant que seule médecin-apothicaire de la ville, tu étais très demandée.</p>
          <p>Et cela ne traina pas, aussitôt le premier client s'introduisit dans le petit atelier qui te servait à les recevoir.</p>
        </div>
    </div>

  </div>

  <div class="choix">
    <div class="ch h-1" data-go="4">Suite</div>
    <div class="ch h-2" data-go="5">Suite</div>
  </div>

</div>
