<div class="num num-2-1-4">

  <div class="text">
    <h1>- 4 -</h1>

    <div>
        <p>- Ahh ! Armin, tu viens pour du travail ?</p>
        <p>Marez m'accueillait toujours avec le sourire mais il savait qu'il pouvait me payer moins cher que les autres car j'avais besoin d'argent. Et donc j'acceptais n'importe quel boulot.</p>

        <p>- Salut Marez. Est-ce que tu as quelque chose alors ?<br />
          - Hé hé hé. Pas grand chose pour le moment, mais si tu as un peu de temps tu peux aider mes gars à décharger les marchandises de la caravane Grand Soleil. Ils sont chargés comme des mules.<br />
          - Tu me donnes combien pour ça ?<br />
          - ...hum...pourquoi pas un poulet ?<br />
          - Tu te moques de moi ? Je veux de l'argent. Tu vas en plus, certainement, me donner un poulet à la limite de la mort, complètement déplumé.<br />
          - ça ne t'intéresse pas ? Entendu, alors deux pièces de cuivre ?
        </p>
    </div>

  </div>

  <div class="choix">
    <div class="ch" data-go="6">D'accord</div>
    <div class="ch" data-go="7">Trouver un autre travail après avoir insulté Marez</div>
  </div>

</div>
