<div class="num num-2-1-5">

  <div class="text">
    <h1>- 5 -</h1>

    <div>
        <p>- Bonjour madame. Vous cherchez quelque chose ? demande-tu à ta première cliente de la journée.
        </p>
        <p>C'est une femme que tu n'as jamais vu. Elle est probablement arrivée avec la dernière caravane. Son teint n'est pas très halé, elle doit venir du nord et à dû souffrir de la chaleur comme jamais.</p>

        <p class="p-1">Quand tu lui as ouvert la porte, elle a d'abord pris un air de dégoût comme tu en as souvent l'habitude. Et même si elle semble avoir besoin de toi, elle a du mal à cacher son aversion.</p>
        <p class="p-2">Elle ne semble pas cacher qu'elle aurait préféré être servie par un "véritable" humain.</p>

        <p>- Hum… Tes parents ne sont pas là ? te répond-t-elle.<br />
          - JE suis le médecin de cette boutique. Mes parents sont morts depuis un moment déjà, récites-tu machinalement comme tu en as désormais l'habitude.<br />
          - Ha bon ? … heu … désolée.<br />
          - De quoi avez-vous besoin ?<br />
          - Ha, heu… non en fait … je reviendrai plus tard.
        </p>
    </div>

  </div>

  <div class="choix">
    <div class="ch" data-go="8">Au revoir</div>
    <div class="ch" data-go="9">Accuser la cliente d'être raciste</div>
  </div>

</div>
