<div class="num num-2-1-6">

  <div class="text">
    <h1>- 6 -</h1>

    <div>
        <p>Aider la caravane du Grand Soleil est finalement un travail assez agréable. Ces gens là ont l'habitude de traiter avec des mutants. Ils t'ont même proposer de boire un peu de vin avec eux après le travail.
        </p>
        <p>Marez te donna ta paie en rigolant. Tu lui pris les pièce avec un regard noir et retourna voir ta sœur.</p>

        <p>Tu arrivas juste quand un client sortait avec une médication de Yasha dans les mains. Tu lui accordas un signe de tête pour le saluer, même si tu ne le connaissais pas et tu passas la porte.</p>

        <p>- Alors ? Bonne journée pour toi ?<br />
          - Oh pas pire que d'habitude. Et pour toi ?
        </p>

        <p>Tu alignas les deux pièces devant ta sœur pour lui montrer la "générosité" du mercenaire.</p>

        <p>- Ah ouais ?! fit Yasha un peu surprise. C'est pas terrible.<br />
          - On va pas tenir éternellement avec des paies comme ça.<br />
          - Mais qu'est-ce que tu voudrais faire de plus ? On est des enfants et on est des mutants. On peut juste survivre.<br />
          - Moi je veux plus que juste survivre…
        </p>

        <p>Tu n'en étais pas fier mais, comme souvent, la journée se terminait en dispute avec ta sœur. Tu étais l'aîné, c'était à toi de trouver un moyen de vous en sortir. Mais tu n'avais, pour le moment, pas d'idée.</p>
    </div>

  </div>

  <div class="choix">
    <div class="ch" data-go="10">Suite</div>
  </div>

</div>
