<div class="num num-2-1-7">

  <div class="text">
    <h1>- 7 -</h1>

    <div>
        <p>- Tu sais où tu peux te les mettre tes deux pièces de cuivre ? réponds-tu<br />
          - Pas besoin d'être grossier Armin. De toute façon tu reviendras ramper pour un travail auprès de moi.<br />
          - Ben pas aujourd'hui en tout cas. Escroc.
        </p>

        <p>Et tu partis en trombe de la tente du mercenaire. La suite de la journée fut assez ennuyeuse, malgré tes demandes personne n'avait besoin de ton aide aujourd'hui. Et tu aida même gratuitement grand-mère Janice, qui avait besoin d'aller tirer un peu d'eau.</p>

        <p>Elle te remercia d'une tasse de thé, mais tu sais que cela ne vous aidera pas à vous remplir le ventre.</p>

        <p>Un peu déçu de ta journée, tu rentras le soir voir ta sœur dans la maison familiale qui lui servait de boutique pour vendre ses herbes et médicaments.</p>

        <p>- Encore une journée pourrie, fis-tu en rentrant grincheux.<br />
          - Hum… j'ai vendu assez pour qu'on s'achète des œufs et un peu de petit-pois si tu veux.<br />
          - Ha...j'ai pas faim c'est bon. Mange les, grand-mère Janice m'a déjà préparé un repas, répondis-tu en mentant.
        </p>

        <p>Et tu allas t'endormir en réfléchissant à comment vous sortir de cette situation.</p>
    </div>

  </div>

  <div class="choix">
    <div class="ch" data-go="10">Suite</div>
  </div>

</div>
