<div class="num num-2-1-8">

  <div class="text">
    <h1>- 8 -</h1>

    <div>
        <p>- Ah ? Vous êtes sûre ? Si vous êtes malade mieux vaut consulter un médecin, dis-tu.<br/>
          - En fait, je viens de me rappeler que je pouvais aussi boire de l'eau pour faire passer ce vilain mal de tête !<br/>
          - Très bien, au revoir !<br/>
          La dame sorti du petit atelier et partit vers la caravane "Grand Soleil" en se précipitant.<br/>
          - Euh, madame, l'Oasis, c'est de l'autre côté !<br/>
          - Ah, oui mais j'allais chercher ma gourde, répondit la cliente en riant.<br/>
          - Elle est à votre ceinture, madame, répondis-tu d'un ton blasé.
          - Oh, oui ! que suis-je étourdie ! dit-elle en se dirigeant vers l'oasis</p>


        <p>
          Tu étais exaspérée par tes clients, surtout les étrangers qui niaient tes talents à cause de ton apparence mais tu devais faire comme si de rien n'était, car si tu commençais à perdre des clients alors qu'il n'y en avait pas beaucoup… Depuis le début de la journée, tu n'avais eu que la visite de deux clients mais tu savais qu'ils ne venaient que le matin très tôt, le soir ou encore la nuit certaines fois, les heures où il faisait le moins chaud. Alors à midi avoir des clients… autant voir un poisson dans le désert.
        </p>
    </div>

  </div>

  <div class="choix">
    <div class="ch" data-go="10">Suite</div>
  </div>

</div>
