<div class="num num-2-1-9">

  <div class="text">
    <h1>- 9 -</h1>

    <div>
        <p>- Ben dis-donc, faut pas vous gêner, répliques-tu.<br/>
          - Hein ? Maaiis de quoi vous parlez ?<br />
          <span class="p-1">
            Tu fis tourner tes yeux dans leurs orbites et enroula la cliente de ta langue.<br/>
            - Haaa ! s'écria la dame Un monstre ! <br/>
            - Vous voyez ? Sale raciste.<br/>
            - Comment osez-vous ! Sale crapaud !<br/>
            Tu reposa la cliente par terre et fis re-rentrer ta langue dans ta bouche, remis tes yeux en place et pris un air joyeux.
            - Sur ce, au revoir et au plaisir de vous revoir !
            La cliente se précipita dehors en hurlant.
          </span>
          <span class="p-2">
            Tu courus à l'autre bout de la pièce et ferma la porte à clé.<br/>
            - Ben madame, vous savez bien de quoi je parle...dis-tu.<br/>
            - Euh... si je répond non, c'est grave ?<br/>
            Tu vas vers l'arrière boutique et répond :<br/>
            - Ouais. ça veut dire que vous êtes une grosse menteuse.<br/>
            Tu reviens avec une petite photo à la main. Une photo de toi avant l'Apocalypse. Toute normale.<br/>
            - Si quand vous avez ouvert la porte, vous auriez vu ça, vous aurez accepté de vous faire consulter, renchéris-tu.<br/>
            Tu agitas tes oreilles poilues et pris un air effrayant.<br/>
            - Ouuuuuh...J'ai été frappée d'une malédiction par pure malchance comme des milliers d'autres personnes… ça m'a fais pousser des oreilles de lièvre… Ouah, c'est horrible, je suis un monstre, ironisa-tu.<br/>
            Tu repris un air normal et dis d'un ton jovial à la cliente en lui ouvrant la porte :<br/>
            -Sur ce, au revoir et au plaisir de vous revoir !
            La cliente quitta volontiers le petit atelier et jura dans sa tête que jamais elle ne reviendrais.
          </span>

        </p>

    </div>

  </div>

  <div class="choix">
    <div class="ch" data-go="10">Suite</div>
  </div>

</div>
