<div class="num num-1-3-1">

  <div class="text chapter3 intro">
    <div class="newchapter">CHAPITRE 3</div>
    <div class="newchapter3">La bataille de la Lune</div>

    <div class="resume">
      <p class="middle">- Prologue -</p>

      <!-- FIN 1 Lasseni a le pouvoir de Soufflardent (forcé) - retour à l'Académie -->
      <div class="fin fin-1">
        <p>Après le combat dans la grotte de Soufflardent, les monts noirs se firent plus calmes. Le départ de Ymir et Zaïra, partis à la recherche des 3 autres mages héritiers du pouvoirs du grand dragon noir, ne remis pas en cause la vie à la forteresse de la Lune. Ce ne sont pas les mages puissants qui manquent sur place.</p>
        <p>Après avoir pris quelques provisions; Fandrean, Lasseni, Mac Lumy et toi, décidèrent de partir pour l'Académie.</p>
        <p>Usaki ne donna pas signe de vie jusque-là. Qu'advint-il de la créature ? Nul ne le sait.</p>
      </div>
      <!-- \FIN 1 -->
      <!-- FIN 2 REM/NAO a le pouvoir de Soufflardent - retour à l'Académie -->
      <div class="fin fin-2">
        <p>Après le combat dans la grotte de Soufflardent, les monts noirs se firent plus calmes. Le départ de Ymir et Zaïra, partis à la recherche des 4 mages héritiers du pouvoirs du grand dragon noir, ne remis pas en cause la vie à la forteresse de la Lune. Ce ne sont pas les mages puissants qui manquent sur place.</p>
        <p>Après avoir pris quelques provisions; Fandrean, Lasseni, Mac Lumy et toi, décidèrent de partir pour l'Académie.</p>
        <p>Usaki ne donna pas signe de vie jusque-là. Qu'advint-il de la créature ? Nul ne le sait.</p>
      </div>
      <!-- \FIN 2 -->
      <!-- FIN 3 Tu as le pouvoir de Soufflardent (forcé) - retour à l'Académie -->
      <div class="fin fin-3">
        <p>Après le combat dans la grotte de Soufflardent, les monts noirs se firent plus calmes. Le départ de Ymir et Zaïra, partis à la recherche des 3 autres mages héritiers du pouvoirs du grand dragon noir, ne remis pas en cause la vie à la forteresse de la Lune. Ce ne sont pas les mages puissants qui manquent sur place.</p>
        <p>Après avoir pris quelques provisions; Fandrean, Lasseni, Mac Lumy et toi, décidèrent de partir pour l'Académie.</p>
        <p>Usaki ne donna pas signe de vie jusque-là. Qu'advint-il de la créature ? Nul ne le sait.</p>
      </div>
      <!-- \FIN 3 -->
      <!-- FIN 4 Tu as le pouvoir de Soufflardent (accepté) -->
      <div class="fin fin-4">
        <p>Après le combat dans la grotte de Soufflardent, tu partis seul<span class="sf">e</span>. Tu avais besoin de faire le point savoir ce que tu comptais faire avec tes nouveaux pouvoirs. Tu réussis à te faire passer pendant quelques temps pour un<span class="sf">e</span> de l'académie - ce qui est à moitié vrai quand même - toujours à te déplacer à la limite des territoires connus. Les monstres et dragons préférant t'éviter, tu ne peux pas dire que le danger rôdait.</p>
      </div>
      <!-- \FIN 4 -->
    </div>

  </div>
  <div class="choix choix2">
    <div class="ch fin fin-1" data-go="2">SUITE</div>
    <div class="ch fin fin-2" data-go="3">SUITE</div>
    <div class="ch fin fin-3" data-go="4">SUITE</div>
    <div class="ch fin fin-4" data-go="5">SUITE</div>
  </div>
  <audio id="myAudio">
    <source src="/media/chapter3.mp3" type="audio/mpeg">
  </audio>
</div>
