<div class="num num-1-3-10">

  <div class="text chapter3">

    <h1>- 10 -</h1>

    <p>Tu te sens aspiré<span class="sf">e</span> à grande vitesse vers une destination inconnue. Le paysage défile tellement vite qu'il est impossible de savoir vraiment où tu te diriges. Mais l'impression est que tu t'envoles à la verticale sans jamais dévier. Leng Fao est juste à côté de toi et semble contente. Tu arrives parfaitement à la voir, elle, alors que la vitesse est intense.</p>

    <p>- Relaxe-toi, te conseille-t-elle. Tu es dans notre ascenseur magique. Tu as juste à attendre.<br />
      - La cent sœur-quoi ? Je ne comprends rien, balbuties-tu.<br />
      - Ha ha ha. C'est normal, mais il vaut mieux que tu vois les choses. Jamais tu ne me croirais sinon. Attention, il va falloir se retourner maintenant.
    </p>

    <p>Leng Fao commence à se retourner comme si elle flottait dans les airs et t'aides à faire de même. Tu ne comprends absolument pas ce qu'il se passe mais tu sais que tu es très loin de ton point de départ.<br />
      L'éclair rouge autour de vous commence à s'effacer, ou alors plutôt, vous commencez à ralentir et tu commences à voir l'extérieur. Il fait nuit noire semble-t-il et vous allez vous posez au milieu d'une petite ville où les maisons sont toutes blanches, sans tuiles sur les toits. Un style architectural que tu n'as jamais vu.</p>

    <p>En te posant, l'éclair rouge s'estompe totalement. Il n'y a personne pour vous accueillir mais ils doivent tous être en train de dormir. Enfin c'est ce que tu croyais car plusieurs portes commencent à s'entrouvrir et même quelques personnes sortent. Ta surprise est totale quand tu vois finalement plusieurs noctules commencer à s'approcher. Tu es arrivé<span class="sf">e</span> dans un village de noctules.</p>

    <p>- Leng Fao ! On est où ? Derrières les monts noirs ? C'est un village de noctules, pas vrai ? demandes-tu.</p>

    <p>Mais la jeune femme te souris et te pointe seulement le ciel avec son doigt. En levant la tête tu vois une gigantesque boule bleue et blanche là où devrait se trouver la lune.</p>

    <p>- C'est quoi ce truc ? Où est la lune, fais-tu incrédule.<br />
      - Ha ha ha, tu es drôle. <span class="tonnom"></span>, je te souhaite la bienvenue SUR la lune. La boule bleue ? C'est ton monde.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="39">Quel choc ! Tu es sur la lune</div>
  </div>

</div>
