<div class="num num-1-3-101">

  <div class="text chapter3">

    <h1>- 101 -</h1>

    <p>Construire le nouveau village des noctules ici sembla ardu au premier abord, mais les créatures sont puissantes et immenses. Elles déblayèrent les alentours très vite. La décision fut prise de construire les maisons en pierre plutôt qu'en bois, surtout à cause du manque d'arbres aux alentours. En attendant que tout se construise les gens de la forteresse ont donné des toiles pour faire des tentes et des couvertures. Ils partagèrent également un peu de leur nourriture.</p>

    <p>Tu passas une partie de ton temps à expliquer aux noctules la vie sur terre, les monstres qu'ils pourraient rencontrer et les plantes qu'ils peuvent cueillir et manger. Leng Fao leur faisait la traduction mais très vite tu arrivas à baragouiner quelques mots en noctule. Et de même, les noctules comprirent certains de tes mots.</p>

    <p class="middle">*</p>

    <p>Peu de temps après avoir enfin réussi à loger tout le monde, un groupe de mages arriva au nouveau village.</p>

    <p>
      - Hé ben, si on nous avait dit qu'on te retrouverait ici, fait une voix familière.
    </p>

    <p>Mac Lumy, Anselm, Haziko, Panacle et Kannan te saluent. Depuis la poutre sur laquelle tu te tenais, tu en lâche ton marteau et tu ne peux retenir un large sourire. Tu sautes à terre en ralentissant ta chute par magie.</p>

    <p>
      - Vous êtes là...? Et même tous là ? Je dois avouer que je ne m'y attendais pas.<br />
      - Je vois que tu n'as pas chômé, remarque Mac Lumy. D'où viennent tous ces noctules ?<br />
      - C'est une longue histoire, fais-tu. Je vais vous raconter ça.<br />
      - Nous aussi on a une histoire à te raconter, certainement moins belle que la tienne mais tout aussi importante, ajoute Kannan.
    </p>

    <p>Ils prennent tous un air sérieux. Quelque chose de grave a dû arriver.</p>


  <div class="choix">
    <div class="ch" data-go="99">Continuer</div>
  </div>

</div>
