<div class="num num-1-3-102">

  <div class="text chapter3">

    <h1>- 102 -</h1>

    <p>Tu racontes à Leng Fao la raison de leur venue et la prise de l'Académie par les prophètes. Tes amis semblent un peu mal à l'aise au fur et à mesure que tu lui racontes tout ça.</p>

    <p>
      - Hum… j'ai dit quelque chose de mal ? leur demandes-tu.<br />
      - … Tu es sûr<span class="sf">e</span> qu'on peut lui faire confiance, te dit Kannan ?<br />
      - Bien sûr, je suis allé<span class="sf">e</span> sur la lune, j'ai vu les villages de noctules et même si je pense bien ne pas tout connaitre à la situation qu'ils ont enduré : je leur fais confiance.
    </p>

    <p>Leng Fao te regarde puis demande à tes compagnons :</p>

    <p>
      - Qui vous a appris la magie de la lune ? Votre général ? Qui est-ce ?<br />
      - Le général Allister Lengl nous a dit de nous méfier de la journaliste Leng Fao. Il n'avait pas dit que vous étiez une noctule par contre, fait Anselm.<br />
      - Il devait l'ignorer, ajoute Haziko.<br />
      - Allister Lengl... souffle Leng Fao entre ses dents. C'est une des nombreuses identités d'Usaki sur votre planète. Il utilise un sort de masque puissant, tout comme moi. Croyez-moi sur parole : on se connait très bien tous les deux.<br />
      - Il nous avait prévenu que vous ne l'aimiez pas, fait Kannan en hochant la tête de concert avec les autres.<br />
      - … Si Leng Fao dit que c'est Usaki vous devriez vous méfier, tentes-tu d'expliquer. Vous êtes sûr qu'il ne vous manipule pas ?<br />
      - Le général Allister est celui qui nous laisse entrevoir un espoir contre les prophètes, s'énerve Kannan. Je me fiche qu'il soit un noctule ou non, du moment qu'on détruit ces monstres !
    </p>

    <p>Tout le monde garde le silence pendant quelques instants puis Leng Fao reprends :</p>

    <p>
      - Vous n'êtes pas obligé de me croire, mais sur la lune, Usaki réunit ses armées pour envahir la terre. Il est en train de fomenter une guerre ici sur terre entre deux camps qu'il veut de toute façon détruire. Peu importe qui gagne cette guerre, le camp victorieux sera affaibli et il pourra alors faire venir ses troupes beaucoup plus facilement.<br />
      - Oui, tout à fait, fais-tu. Je suis sûr<span class="sf">e</span> qu'Usaki a un plan tordu comme ce que vient de dire Leng Fao.<br />
      - <span class="tonnom"></span>, qu'est-ce que tu veux, te demande Kannan ? Qu'on laisse les suppôts de Soufflardent au pouvoir pour nous détruire tous ? Si on agit rapidement et de manière subtile on ne tuera que les 3 prophètes, on pourra même sauver Lass' qui nous donnera un coup de main. On ne sera pas affaibli. A la forteresse tous les mages connaissent la magie de la lune, tu penses qu'il ne faut pas qu'ils nous aident ?<br />
      - Si bien sûr… Mais je pense que vous devriez choisir un autre chef, plutôt que quelqu'un qui ne vous révèle même pas qui il est véritablement.
    </p>

    <p>Kannan a l'air d'être la chef de cette petite troupe de mages, tous les autres la regarde. C'est elle que tu dois convaincre pour que tout le groupe te suive. Mais, reste à savoir ce que tu désires faire.</p>



  <div class="choix">
    <div class="ch fin fin-1 fin-2" data-go="103">Proposer de te suivre toi plutôt qu'Usaki</div>
    <div class="ch" data-go="111">Les laisser partir et agir seul<span class="sf">e</span></div>
  </div>

</div>
