<div class="num num-1-3-103">

  <div class="text chapter3">

    <h1>- 103 -</h1>

    <div class="av-populaire">
      <p>
        - Qu'on te rejoigne ? s'exclame Kannan. Tu penses pouvoir diriger une révolte contre les prophètes ?<br />
        - Ensemble on a déjà fait plein de choses, pourquoi pas se faire confiance les uns les autres plutôt qu'en Usaki ?<br />
        - Tu veux nous faire trahir Allister pour rejoindre Leng Fao ? demande Haziko.<br />
        - Non ! Leng Fao n'a rien à voir avec ma décision. Elle doit de toute façon rester ici avec son village. Cette décision c'est la mienne.
      </p>
      <p>Après un moment d'hésitation Kannan accepte, Mac Lumy et les autres sont bien contents de se joindre à toi. Mais tu vas devoir diriger le petit groupe.</p>

      <p>
        - <span class="tonnom"></span>, si jamais je venais à être déçue par tes décisions je partirai de mon côté, te prévient Kannan.<br />
        - Bien sûr ! Vous comptez sur moi, je dois assurer.
      </p>
    </div>
    <div class="av-pas-populaire">
      <div class="def-naif">
        <p>
          - Désolé <span class="tonnom"></span>, mais, même si tu as toujours été un<span class="sf">e</span> mage très doué<span class="sf">e</span>, on a affaire avec des monstres de magie. Allister est notre meilleure solution. S'il nous trahit plus tard on changera de cible. Mais pour le moment, traitons les problèmes par ordre d'urgence.
        </p>

        <p>Kannan est inflexible. Elle te dit qu'elle restera sur ses gardes, mais que pour le moment ils n'ont pas d'autres choix. Elle donne un ordre à la troupe et tous repartent vers la forteresse de la lune. Leng Fao pose sa main sur ton épaule pour te réconforter un peu. Mais dorénavant tu vas devoir agir de ton côté pour éviter qu'Usaki ne détruise l'humanité. Leng Fao te dit qu'elle va rester avec son village mais te confie un artefact pour savoir où tu te trouves en permanence.</p>
      </div>
      <div class="def-peureux">
        <p>
          - Désolé <span class="tonnom"></span>, mais, même si tu as toujours été un<span class="sf">e</span> mage très doué<span class="sf">e</span>, on a affaire avec des monstres de magie. Allister est notre meilleure solution. S'il nous trahit plus tard on changera de cible. Mais pour le moment, traitons les problèmes par ordre d'urgence.
        </p>

        <p>Kannan est inflexible. Elle te dit qu'elle restera sur ses gardes mais que pour le moment ils n'ont pas d'autres choix. Elle donne un ordre à la troupe et tous reparte vers la forteresse de la lune. Leng Fao pose sa main sur ton épaule pour te réconforter un peu. Mais dorénavant tu vas devoir agir de ton côté pour éviter qu'Usaki ne détruise l'humanité. Leng Fao te dit qu'elle va rester avec son village mais te confie un artefact pour savoir où tu te trouves en permanence. Selon elle, elle saura si tu es en danger et arrivera aussitôt.</p>
      </div>
      <div class="def-parfait">
        <p>
          - Qu'est-ce que tu as en plus qui ferait qu'on doit te suivre ? demande Kannan. Moi même je suis déjà plus puissante que toi. Alors si jamais Allister nous trahit je pense pouvoir m'en sortir mieux que toi.<br />
          - Si je te bats dans un duel de magie tu me suivras ? fais-tu déterminé<span class="sf">e</span>.
          - Tu as vraiment du temps à perdre ... ? ... Entendu. Mais si tu perds tu nous fiches la paix.
        </p>
      </div>
      <div class="def-tricheur">
        <p>
          - Qu'est-ce que tu as en plus qui ferait qu'on doit te suivre ? demande Kannan. Moi même je suis déjà plus puissante que toi. Alors si jamais Allister nous trahit je pense pouvoir m'en sortir mieux que toi.<br />
          - Si je te bats dans un duel de magie tu me suivras ? fais-tu déterminé<span class="sf">e</span>.
          - Tu as vraiment du temps à perdre … ? … Entendu. Mais si tu perds tu nous fiches la paix.
        </p>
      </div>
      <div class="def-bagarreur">
        <p>
          - Qu'est-ce que tu as en plus qui ferait qu'on doit te suivre ? demande Kannan. Moi même je suis déjà plus puissante que toi. Alors si jamais Allister nous trahit je pense pouvoir m'en sortir mieux que toi.<br />
          - Si je te bats dans un duel de magie tu me suivras ? fais-tu déterminé<span class="sf">e</span>.
          - Tu as vraiment du temps à perdre … ? … Entendu. Mais si tu perds tu nous fiches la paix.
        </p>
      </div>
    </div>



  <div class="choix">
    <div class="ch av-populaire" data-go="129">Aller à la forteresse pour récupérer des mages</div>
    <div class="av-pas-populaire">
      <div class="ch def-naif" data-go="130">Tu salues Leng Fao et pars en direction de l'Académie</div>
      <div class="ch def-peureux" data-go="130">Tu salues Leng Fao et pars en direction de l'Académie</div>
      <div class="ch def-parfait" data-go="104">Faire un duel de magie avec Kannan</div>
      <div class="ch def-tricheur" data-go="104">Faire un duel de magie avec Kannan</div>
      <div class="ch def-bagarreur" data-go="104">Faire un duel de magie avec Kannan</div>
    </div>
  </div>

</div>
