<div class="num num-1-3-104">

  <div class="text chapter3">

    <h1>- 104 -</h1>

    <p>Le duel de magie consiste à projeter son potentiel magique dans une sphère, la personne qui a le plus d'énergie fait briller alors la sphère d'une couleur qui lui est propre. Cela montre alors quelle personne à le plus d'énergie sans blesser son collègue. C'est une manière utilisée de temps en temps à l'Académie pour départager deux mages en conflits.</p>

    <p>Le visage de Kannan ne montre pas de doute, elle est confiante dans ses capacités mais elle sait que tu as toujours été un<span class="sf">e</span> mage doué<span class="sf">e</span>. Donc elle ne fanfaronne pas. Et contrairement à ce qu'elle t'a dit, tu sens qu'au fond d'elle, elle n'est pas certaine de te battre.</p>

    <p>De ton côté tu sais que Kannan est une mage d'un certain talent, mais tu as toujours été au dessus d'elle en terme de puissance. Tu dois, en tout cas, à tout prix la battre. Juste avant le duel, Leng Fao te prévient de ne pas utiliser ta magie MONDE tu pourrais blesser ton amie. Tu lui promets, de toute façon tu ne sais pas encore l'utiliser. Tu te présentes devant le cercle tracé sur le sol, Kannan fait de même de l'autre côté du cercle.</p>

    <div class="magie-verte">
      <p>Tu écartes les mains et concentres ton énergie, au contact du cercle une boule verte apparait. Kannan t'imites et une boule violette apparait de son côté. Les deux boules se percutent au milieu du cercle et se mélangent, aucune couleur prends le dessus. De chaque côté, vous tentez de lancer un peu plus d'énergie, tu sens que tu dois puiser dans tes réserves.</p>
      <p>Tu pensais pouvoir prendre l'avantage beaucoup plus facilement, Kannan est plus puissante que ce que tu imaginais. Tu es vraiment à deux doigts de t'effondrer de fatigue quand tout à coup, Kannan mets un genoux à terre et la boule d'énergie reste verte, confirmant ta victoire.</p>
      <p>
        - Ok <span class="tonnom"></span>. C'est toi qui a gagné, te dit la mage. Mais avoue, j'ai bien progressé, non ?<br />
        - Oui, tu m'as donné du fil à retordre, j'ai bien cru que j'allais perdre.
      </p>

      <p>Tu lui tends la main pour l'aider à se relever. Tout le groupe te félicite et te demande ce que tu décides de faire.</p>
    </div>
    <div class="magie-noire">
      <p>Tu écartes les mains et concentres ton énergie. Au contact du cercle une boule noire apparait. Kannan t'imites et une boule violette apparait de son côté. Les deux boules se percutent au milieu du cercle et se mélangent, aucune couleur prends le dessus. De chaque côté, vous tentez de lancer un peu plus d'énergie, tu sens que tu dois puiser dans tes réserves.</p>
      <p>Tu pensais pouvoir prendre l'avantage beaucoup plus facilement, Kannan est plus puissante que ce que tu imaginais. Tu dois puiser vraiment loin dans tes ressources, et même trop loin. Tu es obligé<span class="sf">e</span> de poser le genoux à terre quand les forces te manquent. Au centre du cercle la boule d'énergie devient violette pour confirmer la victoire de Kannan.</p>
      <p>
        - Tu ne t'attendais pas à ça ? fait la mage. J'ai bien progressé, non ?<br />
        - Oui, j'avoue, j'ai perdu.
      </p>

      <p>Kannan lance un ordre et tout le groupe part en direction de la forteresse en te laissant sur place. Mac Lumy t'aide à te relever et te lance un au revoir un peu triste. Dorénavant tu vas devoir agir de ton côté pour éviter qu'Usaki ne détruise l'humanité. Leng Fao te dit qu'elle va rester avec son village mais te confit un artefact pour savoir où tu te trouves en permanence. Selon elle, elle saura si tu es en danger et arrivera aussitôt.</p>
    </div>
    <div class="magie-noire2">
      <p>Tu écartes les mains et concentres ton énergie. Au contact du cercle une boule noire apparait. Kannan t'imites et une boule violette apparait de son côté. Les deux boules se percutent au milieu du cercle et se mélangent, aucune couleur prends le dessus. Assez vite tu relances une deuxième vague d'énergie en puisant un peu plus dans tes réserves.</p>
      <p>Instantanément la boule au centre du cercle devient noire, et explose à la figure de Kannan la mettant à terre sans dégât. Tu as gagné.</p>
      <p>
        - Wao ! fait la mage complètement surprise. Je pensais avoir progressé mais tu m'as battu si facilement...<br />
        - Ne dis pas ça j'ai dû puiser dans mes ressources, lui fais-tu en l'aidant à se relever.
      </p>

      <p>Leng Fao, se tient le visage dans sa main comme si tu avais fait une bêtise.</p>

      <p>
        - Je t'avais dit de ne pas utiliser la magie MONDE. Tu n'en fais qu'à ta tête toi.<br />
        - Hein ? Mais j'ai rien fait de spécial. J'ai utilisé la magie comme j'ai l'habitude.<br />
        - Ben ce que tu as utilisé à l'instant : c'est la magie MONDE. Elle pourra t'aider à abattre Usaki.
      </p>

      <p>Tu gardes tout ça dans un coin de ta tête, même si tu ne sais pas si tu peux contrôler vraiment cette énergie. Tout le groupe te félicite pour le duel et te demande ce que tu décides de faire.</p>
    </div>


  <div class="choix">
    <div class="ch magie-verte" data-go="129">Aller à la forteresse pour récupérer des mages</div>
    <div class="ch magie-noire" data-go="130">Tu salues Leng Fao et pars en direction de l'Académie</div>
    <div class="ch magie-noire2" data-go="129">Aller à la forteresse pour récupérer des mages</div>
  </div>

</div>
