<div class="num num-1-3-105">

  <div class="text chapter3">

    <h1>- 105 -</h1>

    <p>Après quelques instants pour se reposer, tes amis te proposent de les accompagner et de rejoindre leur groupe. Ils sont toujours preneurs de nouveaux combattants.</p>

    <p>Bien entendu tu as envi<span class="sf">e</span> d'aider Leng Fao, mais maintenant que son village est sur terre ils n'ont plus vraiment besoin de toi. Tu décides donc d'accompagner tes amis et de te diriger vers la forteresse de la lune avec eux.</p>


  <div class="choix">
    <div class="ch" data-go="129">Aller à la forteresse pour récupérer des mages</div>
  </div>

</div>
