<div class="num num-1-3-106">

  <div class="text chapter3">

    <h1>- 106 -</h1>

    <p>Trouver la faction rebelle est plus facile à dire qu'à faire. En faisant appel à tes pouvoirs tu essaies de localiser les endroits qui concentrent le plus la magie. Bien vite, tu te rends compte que cette méthode ne mène à rien. Autour de l'Académie il y a beaucoup de villages qui comptent plusieurs mages.</p>

    <p>Mais en te rappelant qu'ils utilisent justement une magie qui ne se repère pas avec les pouvoirs de Soufflardent, tu essaies de voir si tu ne trouves pas quelque chose de bizarre. Bingo ! Autour du lac, un seul village ne concentre aucune magie, ce qui est extrêmement improbable. Le village est assez grand, il y a forcément des mages dedans. Mais alors, ce doit être des mages utilisant la magie de la lune.</p>

    <p>Tu t'y rends en un instant avec tes pouvoirs. Le village est endormi car il est tard. Cela n'empêche que plusieurs personnes sont encore dans les rues. En te voyant arriver, l'une des silhouettes se précipite dans un bâtiment. Il s'agissait certainement d'une sentinelle. Tu la suis dans le bâtiment tout en restant extrêmement prudent<span class="sf">e</span>. Les rebelles ont déjà éliminé un des prophètes.</p>

    <p>En entrant, tu t'aperçois que tu es rentré<span class="sf">e</span> dans l'auberge du village. Tu entends du bruit et des gens descendent du premier étage en trombe.</p>

    <p>Ton ancienne professeure Espéride Mazénian te fixe avec un instant de stupeur.</p>

    <p>
      - Bonjour, fais-tu en levant les mains en l'air. Je ne vous veux aucun mal, je viens juste discuter avec "les rebelles".<br />
      - <span class="tonnom"></span>, tu es avec eux ou tu viens rejoindre la rébellion ? te dit Espéride. Comment nous as-tu retrouvé ?<br />
      - Je suis avec tout le monde et personne. Je viens juste vous donner une information... enfin si c'est vous la rébellion.
    </p>

    <p>D'autres personnes descendent à la suite de l'ancien professeur de l'Académie. Anselm, Kannan, Panacle, Haziko et Mac Lumy sont là. Tu ne t'attendais pas à les revoir dans cette situation.</p>

    <p>
      - Les amis !<br />
      - <span class="tonnom"></span> ! Tu viens nous rejoindre ? fait Mac Lumy.
    </p>

    <p>Mais une voix derrière toi refroidit l'ambiance.</p>

    <p>
      - C'est notre ennemi, c'est un<span class="sf">e</span> prophète, dit un homme bien vêtu que tu n'avais jamais vu auparavant.
    </p>

    <p>Tu ne l'as pas senti s'approcher, ni entendu, avant qu'il ne parle.</p>

    <p>
      - … Usaki. Je vois que tu as encore changé de visage ? réagis-tu.<br />
      - Je...ne vois pas de qui vous parlez, fait l'homme visiblement surpris et gêné par ta réponse.<br />
      - <span class="tonnom"></span>, tu es vraiment un des quatre prophètes ? te demande Kannan.
    </p>


  <div class="choix">
    <div class="ch" data-go="107">Oui, je viens vous dire que votre général n'est autre qu'Usaki</div>
    <div class="ch" data-go="110">Oui, je viens faire une proposition à Usaki</div>
  </div>

</div>
