<div class="num num-1-3-107">

  <div class="text chapter3">

    <h1>- 107 -</h1>

    <p>Devant ta révélation les personnes présentes semblent incrédules.</p>

    <p>
      - Usaki n'a qu'un but : détruire l'humanité et récupérer la terre. Je suis allé<span class="sf">e</span> sur la lune, je pourrai vous raconter ce que j'ai vu là-bas. Notamment les villages des noctules que j'ai visités.<br />
      - Tu mens, fait l'homme que tu penses être Usaki ! Il est impossible d'aller sur la lune.<br />
      - Un noctule m'y a emmené : Leng Fao.
    </p>

    <p>L'homme fait un bond en arrière et commence à lancer un sort. Tu réagis instantanément mais tu ne veux pas faire de mal à tes amis. Alors, tu décides de lancer un sort d'aspiration. L'air derrière l'homme est aspiré ce qui le propulse en arrière, le fait passer au travers du mur en bois et le fait rater sa concentration pour son sort. Contrairement à lui, tu n'as même pas besoin de te concentrer pour lancer tes sorts ce qui te laisse un avantage certain.</p>

    <p>Tu veux te précipiter à l'extérieur pour aller combattre le noctule mais Kannan s'interpose.</p>

    <p>
      - <span class="tonnom"></span> attends ! Tu es sûr<span class="sf">e</span> de toi ? Essayons de parler.<br />
      - C'est lui qui m'a attaqué, il n'y a aucun doute possible, fais-tu très calmement.
    </p>

    <p>Mais tout à coup, l'auberge commence à craquer de tous les côtés. Une sorte de masse noire vous entoure de tous les côtés.</p>

    <p>
      - Qu'est-ce que...?<br />
      - Tout le monde au à côté de moi, hurle Espéride.
    </p>

  <div class="choix">
    <div class="ch" data-go="108">Se mettre à côté d'Espéride</div>
    <div class="ch" data-go="109">Tenter de détruire la masse noire pour sauver tout le monde</div>
  </div>

</div>
