<div class="num num-1-3-108">

  <div class="text chapter3">

    <h1>- 108 -</h1>

    <p>Ce sort n'a pas l'air d'être créé avec l'énergie de Soufflardent. Impossible de le détruire. Tu rejoins Espéride en vitesse.</p>

    <p>
      - Espéride c'est quoi ce sort ? demandes-tu.<br />
      - C'est le "voile noir", le sort qu'on a mis au point pour détruire les prophètes. Mais contre nous, il est aussi très dangereux.
    </p>

    <p>Tu laisses faire Espéride, visiblement elle maîtrise aussi la magie de la lune et connait le sort. Elle concentre sa magie et tente tout ce qu'elle peut alors que la masse noire est maintenant juste à 1 mètre de vos pieds. Si c'est Usaki qui l'a lancé tu sais qu'il a une puissance phénoménal, Espéride pourra-t-elle détruire le sort seule ?</p>

    <p>Alors que Kannan commençait elle aussi à tenter de détruire le sort :</p>

    <p>
      - Ne me gênez pas ! fait Espéride autoritaire. Je vais y arriver.
    </p>

    <p>Tu sens que l'énergie d'Espéride s'estompe. Ses cheveux blanchissent d'un coup et sa peau commence à noircir énormément.</p>

    <p>
      - Espéride, je vous aide, fais-tu.<br />
      - Ce sort est spécialement prévu pour te tuer, tu ne dois rien tenter contre… Je… vais … le ...détruire.
    </p>

    <p>Et la masse noire retombe au sol comme une petite pluie d'été. Espéride tombe d'abord sur ses genoux puis s'écroule par terre.</p>

    <p>
      - Général Espéride ! s'écrie Haziko en la prenant dans ses bras.
    </p>

    <p>Tu t'approches d'eux mais tu le sais déjà : Espéride a donné sa vie pour vous sauver. Dehors Usaki, ou qui que ce fut, n'est plus là.</p>

    <p>
      - Le général Allister a tenté de nous tuer ? fait Kannan. Tu… tu devais avoir raison dans ce cas.<br />
      - C'est une ordure, Soufflardent ne m'a donné qu'un but : l'éliminer.<br />
      - Alors tu es bien un prophète ? fait Anselm.
    </p>

    <p>Tu acquiesces de la tête mais tout le monde est plus triste de la disparition d'Espéride que de ta révélation.</p>

  <div class="choix">
    <div class="ch" data-go="133">Continuer</div>
  </div>

</div>
