<div class="num num-1-3-109">

  <div class="text chapter3">

    <h1>- 109 -</h1>

    <p>A l'instant où tu tentes de désagréger la masse noire, tu te sens attirée vers elle. Elle te tombe dessus et tout devient sombre. Plus un bruit.</p>

    <p>Tu aperçois des petites lueurs au loin qui grossissent et finalement te voilà éjecté<span class="sf">e</span> tu ne sais où.</p>

    <p>Il n'y a pas d'air, tes poumons te font souffrir. Le froid est immense et ta magie ne fonctionne plus. Avant de t'endormir tu réalises que tu es dans l'espace : entre le monde et la lune.</p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>

</div>
