<div class="num num-1-3-11">

  <div class="text chapter3">

    <h1>- 11 -</h1>

    <p>Le jour se lève alors que tu n'as pas pu beaucoup dormir, <span class="sf">inquiète</span><span class="sg">inquiet</span> par cette journée fatidique. Mac Lumy n'a pas l'air d'avoir passé une meilleure nuit. Lasseni, elle, semble toujours très motivée même si tu ne la sens pas aussi sereine qu'elle voudrait bien le montrer.</p>

    <p>Vous marchez pendant encore de longues heures, puis traversez enfin les villages proches de l'Académie que vous connaissez. Dès le premier village plusieurs mages viennent vous rejoindre. Fandrean n'avait pas menti : il a des alliés ici aussi. Ce sont ces mages là qui sont là. Les villageois vous acclament également. Les amis de Fandrean ont fait passer le message que vous aviez tué Soufflardent. Ce n'est pas vraiment un mensonge, le dragon noir est mort, mais c'est loin d'être toute la vérité sur cette affaire.</p>

    <p>Un petit groupe commence à vous accompagner, puis le groupe se change très vite en cohorte et en arrivant au grand pont c'est une véritable marée humaine que vous devez traverser. Tu n'en crois pas tes yeux, alors que tu ne voyais pas comment Fandrean allait s'y prendre pour récupérer le pouvoir à l'Académie te voilà désormais beaucoup plus optimiste. Un regard à Mac Lumy te dit que tu n'es pas <span class="sf">la seule</span><span class="sg">le seul</span> à te sentir mieux. Fandrean est tout sourire, il lève les bras en traversant la foule, salut plusieurs connaissances. Bon d'accord il n'a pas fait grand chose pour tuer Soufflardent mais s'il vous permet ces éloges tu ne lui en veux pas.</p>

    <p>- Bravo les mages !! interpelle quelqu'un dans la foule.<br />
      - Fandrean je t'aime, crie une femme portant son bébé à bout de bras comme pour recevoir la bénédiction du grand mage.</p>

    <p class="fin fin-1">Lasseni semble, elle, toujours aussi concentrée, fixant la tour de magie intensément. Tu es juste à côté d'elle et tu ressens un froid intense commencer à émaner d'elle. Tu lui mets la main sur l'épaule :<br /><br />
    - Lasseni, tout va bien pour le moment. Essaie de respirer, il y a trop de monde ici. Il faut que tu contrôle ton pouvoir, lui fais-tu.<br /><br />
    La jeune mage se retourne comme réveillée d'un mauvais rêve, l'aura de froid se résorbe et elle te sourit.<br /><br />
    - Tout va bien, te fait-elle. Mais merci.<br /><br />
    Elle n'avait pas l'air de remarquer qu'elle était sur le point de relâcher son pouvoir. Tu te demandes si elle peut maîtriser le pouvoir de Soufflardent ou si, tôt ou tard, quelque chose va craquer et qu'une catastrophe se produira alors.
    </p>

    <p class="fin fin-2">Mais il ne faut pas vous reposer sur vos lauriers, Soyos et les autres mages supérieurs - Soyos, Mullihane, Andaelor et Pasha - ne vont pas renoncer à leur poste sans rien faire.
    </p>

    <p class="fin fin-3">Plus tu avances vers l'Académie et plus tu ressens le pouvoir en toi en train de bouillonner. En regardant la tour de magie de l'Académie tu ressens une puissante aura magique en sortir. Il ne faut pas vous reposer sur vos lauriers, Soyos et les autres mages supérieurs - Soyos, Mullihane, Andaelor et Pasha - ne vont pas renoncer à leur poste sans rien faire. Lasseni t'attrapes le bras :<br /><br />
    - Fais gaffe, pas ici. Retiens ton pouvoir, te fait la jeune mage.<br /><br />
    Tu n'avais même pas fait attention mais tu étais en train de concentrer ton énergie immense. Plusieurs mages commençaient à te regarder. Si Lasseni ne t'avais pas retenue peut être même que tu aurais lancé un sort sans le vouloir. Avec le pouvoir de Soufflardent lancer un sort est devenu aussi facile que respirer : tu dois faire attention.<br /><br />
    - Heu... ok, merci. Je n'avais pas vu.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="12">Avancer jusqu'aux portes de l'Académie</div>
  </div>

</div>
