<div class="num num-1-3-110">

  <div class="text chapter3">

    <h1>- 110 -</h1>

    <p>
      - Mais enfin <span class="tonnom"></span>, commence Mac Lumy. Usaki n'est pas ici. Cet homme est le général Allister. Il nous aide à combattre les prophètes.<br />
      - Seuls les noctules connaissent la magie de la lune. Alors soit c'est un noctule, soit il a fait un séjour à la forteresse de la lune.<br />
      - Ce n'est pas possible, fait <span class="partiavecusaki"></span>. Je connais tout le monde là-bas et Allister n'en fait pas parti.
    </p>

    <p>Au moment où tu te retournes vers l'homme, tu vois qu'il a préparé un sort qu'il lance sur toi sans hésiter. Mac Lumy est juste à côté de toi mais cela n'a pas l'air de lui poser le moindre problème.</p>

    <p>Une sorte de masse noire s'étire devant toi comme si elle essayait de te gober. </p>

    <p>A l'instant où tu tentes de la désagréger, tu te sens attirée vers elle. Elle te tombe dessus et tout devient sombre. Plus un bruit.</p>

    <p>Tu aperçois des petites lueurs au loin qui grossissent et finalement te voilà éjecté<span class="sf">e</span> tu ne sais où.</p>

    <p>Il n'y a pas d'air, tes poumons te font souffrir. Le froid est immense et ta magie ne fonctionne plus. Avant de t'endormir tu réalises que tu es dans l'espace : entre le monde et la lune.</p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>

</div>
