<div class="num num-1-3-111">

  <div class="text chapter3">

    <h1>- 111 -</h1>

    <p>Tes amis te laissent et repartent en direction de la forteresse pour recruter des mages. Tu t'es dit qu'il était préférable de ne pas leur imposer tes idées. Après tout, tu ne sais pas tout. Peut-être que Leng Fao se trompe et que ce général n'est pas Usaki. Peut-être que tout se passera bien quand même pour eux.</p>

    <p>Toujours est-il que tu décides de ne pas rester les bras croiser. Tu te prépares quelques provisions pour le voyage et décident de laisser les noctules dans leur nouveau village.</p>

    <p>Leng Fao te dit qu'elle va rester avec son village mais te confie un artefact pour savoir où tu te trouves en permanence. Selon elle, elle saura si tu es en danger et arrivera aussitôt.</p>

  <div class="choix">
    <div class="ch" data-go="130">Tu salues Leng Fao et pars en direction de l'Académie</div>
  </div>

</div>
