<div class="num num-1-3-112">

  <div class="text chapter3">

    <h1>- 112 -</h1>

    <p>Tu sais bien que personne ne t'en voudra d'aller chercher les deux mages légendaires. Et d'ailleurs tu es plus ou moins sûr<span class="sf">e</span> qu'ils vont arriver dans la région dans pas longtemps. Après tout, ils étaient à la recherche des prophètes et les voilà tous à l'Académie d'Azalys.</p>

    <p>La nouvelle va rapidement faire le tour du pays et tu n'auras pas trop à chercher pour les retrouver. En tout cas c'est ce que tu penses. En te plaçant sur la routes au nord ouest de l'Académie et en tentant de percevoir les énergies magiques tu devrais y arriver. Après tout Ymir et Zaïra sont les deux mages les plus puissants de l'histoire.</p>

    <p>Tu restes quand même une nuit à Eaux-Claires avant de repartir le lendemain. Kannan, Mac Lumy et les autres restent avec Espéride et la résistance. Tu salues tout le monde et repars bien décidé<span class="sf">e</span> a ne pas laisser passer une puissance magique comme celle des deux mages légendaires.</p>

  <div class="choix">
    <div class="ch" data-go="132">Continuer</div>
  </div>

</div>
