<div class="num num-1-3-113">

  <div class="text chapter3">

    <h1>- 113 -</h1>

    <p>Comme demandé par Espéride, vous passez la soirée à vous racontez un peu ce qu'il vous est arrivé depuis que vous vous étiez perdu de vue.</p>

    <p class="panacle">Panacle est devenu assistant mage gardien. Il a toujours aimé enchanter des objets et c'est la spécialité des gardiens.</p>

    <p class="anselm">Anselm, lui, était devenu un professeur de magie pour les premières années. En tout cas il était en train de passer son diplôme, pour le moment il a toujours été l'assistant d'un autre professeur.</p>

    <p calss="haziko">Haziko a poursuivi des études plus poussées dans les parchemins magiques et les grimoires. Elle était à l'Académie quand les prophètes ont pris possession des lieux. Elle crée des artefacts également.</p>

    <p>Kannan est entrée dans la résistance presque aussitôt sa création faite. Elle a rencontré Espéride alors même qu'elle débarquait à Eaux-Claires en fuyant l'attaque des prophètes. Et Allister les a recruté en sentant leur magie respectives.</p>

    <p>Quant à Mac Lumy, tu connais un peu son histoire.</p>

    <p>Vous finissez autour d'un feu de camp en train de griller quelques patates et rigoler de vos aventures. Chacun s'endort en se couchant simplement par terre. Le village est tellement rempli qu'il n'y a plus de place nul part ailleurs.</p>

    <p class="middle">*</p>

    <p>Le lendemain Espéride vous réveille un peu trop tôt à votre goût.</p>

    <p>
      - Votre prochaine mission consistera a vous infiltrer sur l'île de l'Académie, mieux vaut pour vous maîtriser votre sort de masque, vous explique Espéride.<br />
      - Com...Comment ? fait Panacle en se frottant les yeux.<br />
      - Allez, du nerf. Les prophètes ne vont pas perdre du temps, eux. Vous avez un rendez-vous avec Mullihane !<br />
      - La mage supérieure du vent ! s'exclame Haziko.<br />
      - En personne, explique Espéride. Si on peut la faire rejoindre notre résistance ce serait un grand atout.
    </p>

    <p>Tout le monde se précipite et part en sursaut jusqu'au port pour prendre un petit bateau. Kannan, qui visiblement a le grade de lieutenant dans la résistance, prend les commandes de l'opération.</p>

  <div class="choix">
    <div class="ch" data-go="134">Continuer</div>
  </div>

</div>
