<div class="num num-1-3-114">

  <div class="text chapter3">

    <h1>- 114 -</h1>

    <p>La nuit n'est pas très agréable, la chaleur t'empêche de dormir. Mais finalement tu t'écroules de fatigue quand même.</p>

    <p>Au petit matin, <span class="naorem"></span> et Méonie viennent te voir pendant que tu manges un pain au lait à la cantine de l'Académie.</p>

    <p>
      - On a des visiteurs, il faudrait que tu nous accompagnes pour les recevoir.<br />
      - Des visiteurs de prestige, ajoute Méonie.<br />
      - Hum… qui ça ? Je les connais, demandes-tu.
    </p>

    <p>Après avoir avalé le reste de ton petit-déjeuner trop vite et manqué de t'étouffer, vous partez précipitamment jusqu'à la salle de réception. Vous passez par une petite porte dérobée pour vous placer en position autour de la grande table en bois de la grande salle. Tout est impeccable et même des corbeilles de fruits sont placées ça et là.</p>

    <p>Un serviteur ouvre la porte en grand et annonce :</p>

    <p>
      - Ymir et Zaïra, grands mages légendaires et vainqueurs triomphants du dragon Soufflardent !
    </p>

    <p>Les deux mages s'avancent d'un pas ferme vers vous.</p>

    <p>
      - Nous n'avons pas triomphé de Soufflardent, nous l'avions endormi, dit Zaïra au serviteur.<br />
      - Heu… excusez moi, fait poliment le serviteur bien embarrassé avant de s'éclipser en refermant les portes.
    </p>

    <p>Pendant un instant Ymir et Zaïra vous regardent tour à tour dans les yeux.</p>

    <p>
      - Je ne pensais pas que vous viendriez jusqu'à nous, fait <span class="naorem"></span>.<br />
      - Ha ! Toi tu es l'arrogant du groupe, c'est ça ? fait Ymir.<br />
      - Qu... Quoi !?<br />
      - <span class="tonnom"></span>, t'interpelle Zaïra, je suis sûre que tu n'es pas comme ces deux là. Qu'est-ce que tu dirais de nous rejoindre ? fait-elle en rigolant.
      - Heu... c'est une vraie question ? réponds-tu.<br />
      - Et bien, en tout cas c'est ce qu'on va vous proposer : soit vous partez de l'Académie et on vous revoit jamais, soit vous allez devoir nous affronter.<br />
      - Qui est-ce qui est arrogant maintenant ? fait <span class="naorem"></span>. On est des Dieux et vous êtes de simples mages, notre puissance est sans limite comparée à la votre.<br />
      - Mais… vous n'êtiez pas 4 à l'origine, demande Zaïra amusée. Est-ce qu'un Dieu serait déjà mort ?<br />
      - Misérables, fait <span class="naorem"></span> en grinçant des dents.<br />
      - Vous n'êtes pas des dragons. Vous pensez que votre magie est sans limites mais votre corps l'est. Vous ne pourrez jamais supporter une telle puissance, vous allez disparaitre bientôt, désintégrés par votre propre magie. Mais nous avons la solution à ce problème.
    </p>

  <div class="choix">
    <div class="ch" data-go="138">Continuer</div>
  </div>

</div>
