<div class="num num-1-3-115">

  <div class="text chapter3">

    <h1>- 115 -</h1>

    <p>Kannan prendra la tête de la petite troupe qui sera envoyée sur l'île de l'Académie. L'objectif est clair : supprimer un deuxième prophète. Visiblement il y a un espion dans l'Académie qui pourrait vous aider à vous approcher de Méonie, la cible à abattre.</p>

    <p>En ce qui te concerne, tu n'as pas encore choisi ce que tu allais faire. Car d'un côté tu as envie d'aider la résistance contre les prophètes mais cela signifie ne pas s'occuper d'Usaki. Et tu te dis que toute cette agitation va faire ses affaires. Une fois que les prophètes et la résistance seront affaiblis, il n'aura qu'à en profiter pour envoyer son armée et éliminer l'humanité toute entière.</p>

    <p>Une de tes idées serait peut être de trouver Ymir et Zaïra pour t'aider. Après tout, ils sont eux aussi à la poursuite des prophètes et devraient donc bientôt arriver à l'Académie.</p>

  <div class="choix">
    <div class="ch" data-go="140">Suivre le groupe de Kannan</div>
    <div class="ch" data-go="112">Chercher Ymir et Zaïra</div>
  </div>

</div>
