<div class="num num-1-3-116">

  <div class="text chapter3">

    <h1>- 116 -</h1>

    <p>
      - Ok, sans vouloir vous commander, fait Arak, l'assassinat c'est mon domaine. Je m'en occupe en un clin d'œil.<br />
      - Soit discret lui dit <span class="naorem"></span>. Il faut dans la mesure du possible que ça ait l'air d'un accident.<br />
      - Ne vous inquiétez pas, je suis LE spécialiste.
    </p>

    <p>Tu es toi-même pas très sûr<span clas="sf">e</span> de lui faire confiance, mais tu es content<span clas="sf">e</span> de ne pas avoir à t'en charger en personne.</p>

    <p>Tu te replonges dans ton idée d'élection et sa préparation pendant qu'Arak part de l'Académie à la poursuite du journaliste.</p>

    <p class="middle">*</p>

    <p>Le soir du même jour, Méonie vient te voir alors que tu planches sur des livres dans la bibliothèque. Tu te rends d'ailleurs compte que créer un nouveau conseil de magie est beaucoup plus compliqué que tu ne l'imaginais à l'origine.</p>

    <p>
      - Tu y arrives ? demande-t-elle.<br />
      - Je dois avouer que je me casse les dents sur plusieurs problèmes. Mais petit-à-petit je vais y arriver.<br />
      - Je venais pour autre chose en fait, fait-elle en se tournant vers la fenêtre. Arak n'est toujours pas revenu.<br />
      - Il a peut-être décidé de prendre son temps pour bien être discret, non ?<br />
      - Tu ne le connais pas… C'est une vraie tête brûlée, il n'est pas subtil.<br />
      - …On aurait du envoyer <span class="naorem"></span> alors, lui réponds-tu. Mais alors, où est Arak en ce moment ?<br />
      - Avec le sort "vision de rêve", on peut voir qu'il nous indique une sorte de vortex noir. Généralement c'est le signe que la personne est morte.<br />
      - Qu... quoi ? Arak serait mort ?<br />
      - C'est ce qu'il semblerait, restons prudents. Ce journaliste ne me dit rien qui vaille. Je le sens mal depuis le début.
    </p>

    <p>Méonie te souhaite bonne nuit et s'en va. Alors que tu penses toi aussi à aller te coucher une mage de l'Académie fait son apparition. Mullihane, la mage supérieure du vent, ancienne membre du conseil de magie vient te voir. Vous lui avez retiré le contrôle de l'Académie, elle doit vous en vouloir. Selon <span class="naorem"></span> les mages supérieurs vous ont juré allégeance et vous aident mais dans les faits ils vous évitent et quand vous leur demandez quelque chose ils rechignent toujours à la tâche.</p>

    <p>
      - Vous avez quelques minutes à m'accorder, fait-elle en faisant une révérence gracieuse ?
    </p>

  <div class="choix">
    <div class="ch" data-go="117">Continuer</div>
  </div>

</div>
