<div class="num num-1-3-117">

  <div class="text chapter3">

    <h1>- 117 -</h1>

    <p>
      - Bien sûr, que se passe-t-il ? lui dis-tu.<br />
      - Je voulais d'abord vous dire que j'apprécie votre idée de partager le pouvoir avec des mages. Même si j'aurai fait cela différemment cela à le mérite d'être une avancée que je n'attendais pas.
    </p>

    <p>Mullihane est extrêmement polie avec toi. Tu ne sais pas si cela cache quelque chose ou si elle veut en profiter pour récupérer un peu de pouvoir.</p>

    <p>
      - Vous êtes probablement en train de travailler sur les conditions d'élection de ces mages mais il y a déjà une mage qui a retenu mon attention et que je voudrai vous présenter. Elle vient de la rive Est du lac et possède déjà de nombreux soutiens.<br />
      - Vraiment, fais-tu étonné<span class="sf">e</span>, j'avoue que je ne m'attendais pas à ce que quelqu'un se présente si vite alors même que nous n'avons rien finalisé.<br />
      - Oui, je sais bien, mais elle respecte déjà vos critères, c'est une mage issue de l'Académie qui a beaucoup d'expériences malgré sa jeunesse. Certains disent qu'elle pourrait devenir aussi puissante de Fandrean.<br />
      - Bigre, j'ai bien envie de la voir effectivement.<br />
      - Dans ce cas, que diriez-vous de demain après le repas ? Je vous ferai envoyer un serviteur dès qu'elle arrivera sur l'île.
    </p>

  <div class="choix">
    <div class="ch" data-go="141">Bien sûr</div>
    <div class="ch" data-go="145">Demain ? J'ai vraiment trop de travail, disons plutôt dans 3 jours</div>
  </div>

</div>
