<div class="num num-1-3-118">

  <div class="text chapter3">

    <h1>- 118 -</h1>

    <p>Le soir du même jour, Méonie vient te voir alors que tu planches sur des livres dans la bibliothèque. Tu te rends d'ailleurs compte que créer un nouveau conseil de magie est beaucoup plus compliqué que tu ne l'imaginais à l'origine.</p>

    <p>
      - Tu y arrives ? demande-t-elle.<br />
      - Je dois avouer que je me casse les dents sur plusieurs problèmes. Mais petit-à-petit je vais y arriver.<br />
      - Je venais pour autre chose en fait, fait-elle en se tournant vers la fenêtre. Arak a disparu.<br />
      - Il était sorti en mission ?<br />
      - Tu ne le connais pas… C'est une vraie tête brûlée, impossible de le tenir en place.<br />
      - … />
      - Avec le sort "vision de rêve", on peut voir qu'il nous indique une sorte de vortex noir. Généralement c'est le signe que la personne est morte.<br />
      - Qu... quoi ? Arak serait mort, fais-tu choqué<span class="sf">e</span> ?<br />
      - C'est ce qu'il semblerait, restons prudents. Il était parti vers l'est c'est tout ce que je sais.
    </p>

    <p>Méonie te souhaite bonne nuit et s'en va. Alors que tu penses toi aussi à aller te coucher une mage de l'Académie fait son apparition. Mullihane, la mage supérieure du vent, ancienne membre du conseil de magie vient te voir. Vous lui avez retiré le contrôle de l'Académie, elle doit vous en vouloir. Selon <span class="naorem"></span> les mages supérieurs vous ont juré allégeance et vous aide mais dans les faits ils vous évitent et quand vous leur demander quelque chose ils rechignent toujours à la tâche.</p>

    <p>
      - Vous avez quelques minutes à m'accorder, fait-elle en faisant une révérence gracieuse ?
    </p>

  <div class="choix">
    <div class="ch" data-go="117">Continuer</div>
  </div>

</div>
