<div class="num num-1-3-119">

  <div class="text chapter3">

    <h1>- 119 -</h1>

    <p>Tu travailles encore toute la journée avant de t'accorder un peu de repos. Puis tu te souviens de l'invitation du journaliste et décidé de te rendre à Eaux-Claires. Il fait encore beau, le soleil n'est pas encore couché alors tu décides de t'y rendre tranquillement par bateau.</p>

    <p>Prendre un peu l'air sur la petite embarcation qui te transporte est très agréable, tu laisses une main trainer dans l'eau pour te rafraichir et tu commences à voir plus distinctement les maisons du port d'Eaux-Claires se découper au loin.</p>

    <p>Tu sautes sur le quai dès que tu le peux, le port est rempli de bateaux, une foule immense est rassemblée ici. Il y presqu'autant de monde qu'à l'Académie, tu ne t'y attendais pas.</p>

    <p>Tu demandes à un marin où tu peux trouver Allister et il t'indique l'auberge du village. Beaucoup de personnes te suivent du regard. Tu ne dois pas oublier qu'en tant que prophète, beaucoup de personnes doivent te détester, ici comme à l'Académie.</p>

    <p>Tu rentres dans l'auberge et tu vois Allister attablé dans le fond, il te fait signe de venir le voir quand il t'aperçoit.</p>

    <p>
      Tu te diriges vers lui mais une main te saisit le poignet. Mac Lumy est là, il a l'air inquiet et crie à l'adresse d'Allister :<br />
      - C'est <span class="tonnom"></span> ! <span class="sf">Elle</span><span class="sg">Il</span> n'est pas dangereu<span class="sf">se </span><span class="sg">x</span> !<br />
      - Mac… fait le journaliste. Qu'est-ce que t'es en train de faire ?<br />
      - Mac, qu'est-ce qu'il se passe ? lui demandes-tu.<br />
      - C'est un piège <span class="tonnom"></span> ! Il veut te tuer ! Il faut que tu t'échappes vite !
    </p>

    <p>Du premier étage, tu aperçois d'autres personnes surprises. Kannan, Haziko, Panacle et Anselm sont là, accompagnés par Espéride ton ancienne professeur.</p>

  <div class="choix">
    <div class="ch" data-go="121">S'échapper</div>
    <div class="ch" data-go="120">Attaquer Allister</div>
  </div>

</div>
