<div class="num num-1-3-12">

  <div class="text chapter3">

    <h1>- 12 -</h1>

    <p>Accompagnés par une foule immense, vous traversez les rues étroites de l'île jusqu'aux portes de l'Académie. Fandrean s'avance et fait signe à la foule de se calmer pour qu'il puisse parler :</p>

    <p>- Merci pour votre accueil. Cela faisait longtemps que je n'étais pas revenu à l'Académie mais je n'ai jamais oublié la dévotion des gens qui y habitent. Je vais devoir vous laissez pour faire mon rapport à mes supérieurs. Mais je vous l'assure, nous fêterons tous ensemble la mort du grand dragon Soufflardent très prochainement, tous ensemble.</p>

    <p>Une grande clameur accompagne les paroles de Fandrean. Et tandis que les portes de l'Académie s'ouvrent, vous entrez tandis que la foule scande le nom de leur héros "FANDREAN".</p>

    <p>L'école n'a pas l'air d'avoir changé en ton absence. Les élèves forment une haie d'honneur sur votre passage en vous applaudissant. Tu croises le regard de Qobur qui t'applaudit aussi en vous souriant.</p>

    <p class="fin fin-1">
      Espéride Mazénian, la mage du vent, fait un signe à Lasseni pour lui dire de venir la voir. Mais Lasseni lui renvoie juste un signe de la main et suit son frère.
      <span class="av-riche">
        <br /><br />Une main t'agrippe d'un coup et tu es tiré<span class="sf">e</span> dans le jardin Est très rapidement. Cellya Van Demillon, ta mère te fait face.
        <br /><br />- <span class="tonnom"></span>, tu dois t'enfuir vite ! Vous allez tous vous faire arrêter, voir pire ! Suis-moi, fait-elle en essayant de t'entrainer vers le port de l'Académie.<br />
        - Maman, je ne peux pas les abandonner. Fandrean va bâtir une nouvelle Académie ! J'ai vu Ymir et Zaïra : ils sont vivants. Je connais la vérité.<br />
        - Et c'est pour ça que c'est trop dangereux ! s'écrie-t-elle. Je ne voulais pas que tu deviennes mage parce que j'avais justement peur que tu découvres la vérité.<br />
        - Tu... connaissais la vérité ? dis-tu en écarquillant les yeux.<br />
        - Je... je suis une mage aux ordres d'Ymir et Zaïra depuis des années maintenant. Je les ai découverts lors d'une mission dans les monts noirs. J'étais leur espionne, ici à l'Académie.<br /><br />
        Tu n'en crois pas tes oreilles. Ta mère savait tout depuis le début ! <br /><br />
        - Je suis désolée, fait un petite voix derrière ta mère. Vous allez devoir me suivre <span class="sf">toutes les deux</span><span class="sg">tous les deux</span>.<br /><br />
        Une jeune fille vole au dessus du buisson devant toi. Elle a les cheveux roses et tu as l'impression de l'avoir déjà vue. Oui, cette fille fait parti de ceux qui ont reçu le pouvoir de Soufflardent : que fait-elle ici ?
      </span>
    </p>

    <p class="fin fin-3">
      Espéride Mazénian, la mage du vent, te fait signe de venir la voir. Elle a l'air inquiète.
    </p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch fin fin-1 av-pas-riche" data-go="20">S'écarter pour aller voir Espéride</div>
    <div class="ch fin fin-1 av-riche" data-go="21">Parler à la jeune fille</div>
    <div class="ch fin fin-1" data-go="13">Suivre Fandrean et le groupe</div>
    <div class="ch fin fin-2" data-go="13">Suivre Fandrean et le groupe</div>
    <div class="ch fin fin-3" data-go="20">S'écarter pour aller voir Espéride</div>
    <div class="ch fin fin-3" data-go="13">Suivre Fandrean et le groupe</div>
  </div>

</div>
