<div class="num num-1-3-120">

  <div class="text chapter3">

    <h1>- 120 -</h1>

    <p>Tu te précipites sur Allister, tout en gardant en tête qu'il faut que tu te retiennes pour ne pas détruire tout l'établissement et tes amis avec. Tu vas essayer de le capturer pour l'interroger.</p>

    <p>Mais à peine as-tu eu le temps de t'approcher qu'il lance un sort étrange, une masse noire arrive sur toi en tentant de te gober. De ton côté ton sort de lianes magiques saucissonne Allister en un instant. il ne te reste plus qu'à détruire ce blob.</p>

    <p>Mais à l'instant où tu tentes de désagréger la masse noire, tu te sens attirée vers elle. Elle te tombe dessus et tout devient sombre. Plus un bruit.</p>

    <p>Tu aperçois des petites lueurs au loin qui grossissent et finalement te voilà éjecté<span class="sf">e</span> tu ne sais où.</p>

    <p>Il n'y a pas d'air, tes poumons te font souffrir. Le froid est immense et ta magie ne fonctionne plus. Avant de t'endormir tu réalises que tu es dans l'espace : entre le monde et la lune.</p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>

</div>
