<div class="num num-1-3-121">

  <div class="text chapter3">

    <h1>- 121 -</h1>

    <p>Tu décides d'écouter Mac Lumy. Tu es tombé<span class="sf">e</span> dans un piège et tenter l'affrontement maintenant ne semble pas idéal. Bien que tu sois un prophète tu n'es pas immortel<span class="sf">le</span>.</p>

    <p>Tu lances un sort de téléportation pour te retrouver directement dans ta chambre, dans la tour de l'Académie. Qu'est-ce que faisaient tous tes anciens amis avec cet Allister ? Visiblement une sorte de groupe s'est préparé à affronter les prophètes et il va falloir certainement les combattre.</p>

    <p>Dans ce groupe il y a tous tes anciens amis.</p>

    <p class="middle">*</p>

    <p>Très vite, tu tiens tout le monde au courant. Arak ricane en disant que tu aurais dû combattre et s'en va directement à Eaux-Claires pour retrouver Allister, sans faire preuve de la moindre prudence.</p>

    <p>Méonie semble plutôt inquiète, elle te dit que visiblement le pays va être divisé même si l'élection d'un nouveau conseil de magie se déroule bien. Si les idées de ce groupe arrivent à faire "boule de neige" vous risquez d'avoir à gérer une guerre civile.</p>

    <p>Pour <span class="naorem"></span> c'était le genre de choses auxquelles il s'attendait. Mais il ne pense pas que cela pose de souci. Arak aura bientôt réglé le problème et les choses pourront reprendre leur cours. Cela servira même de leçon à ceux qui veulent s'opposer à vous.</p>

    <p>En ce qui te concerne, tu te rends de plus en plus compte que diriger l'Académie n'est pas facile. Finalement, et si l'ancien conseil, Soyos, Mullihane, Andaelor et Pasha, n'avait pas eu raison de cacher plein de choses à la population ? Après tout, cela a permis à plein de gens de vivre paisiblement.</p>

  <div class="choix">
    <div class="ch" data-go="146">Continuer</div>
  </div>

</div>
