<div class="num num-1-3-122">

  <div class="text chapter3">

    <h1>- 122 -</h1>

    <p>Tu rejettes l'offre de lutter aux côtés de la résistance avec tes anciens amis. Tu n'as rien contre eux particulièrement mais tu sens que cela n'amènera rien de bon.</p>

    <p>
      - Je suis désolé<span class="sf">e</span>, réponds-tu. Si les prophètes se divisent j'ai peur que cela laisse le champ libre à Usaki. Mon but ce n'est pas de dominer les autres mais ce noctule par contre... je dois l'arrêter.<br />
      - Cela signifie que tu es notre ennemie ? demande Kannan. Tu as dit tout à l'heure que tu croyais qu'Usaki était le général Allister.<br />
      - ... Désolé<span class="sf">e</span> mais je vais devoir le stopper.
    </p>

    <p>L'ambiance devient lourde, Kannan te jette un regard noir. Tes autres amis semblent eux aussi s'inquiéter. Ils savent que tu es un prophète et que tes pouvoirs sont immenses. Mac Lumy brise le silence en se plaçant devant Kannan.</p>

    <p>
      - J'ai confiance en <span class="tonnom"></span>. Je pense qu'on devrait en rester là pour aujourd'hui.<br />
      - Entendu, de toute façon je ne comptais pas affronter un prophète en l'absence d'Allister, dit Espéride.
    </p>

    <p>L'ancienne enseignante te fait signe de partir et les gens s'écartent pour que tu puisses te diriger vers la porte. Avant de repartir Kannan te prévient.</p>

    <p>
      - On est ennemie maintenant, la prochaine fois qu'on se verra l'un<span class="sf">e</span> de nous deux devra probablement mourir. Soit prêt<span class="sf">e</span>.
    </p>


  <div class="choix">
    <div class="ch" data-go="114">Partir d'Eaux-Claires et retourner à l'Académie</div>
  </div>

</div>
