<div class="num num-1-3-123 ret-90">

  <div class="text chapter3">

    <h1>- 123 -</h1>

    <p>
      - Entendu. Je pense que si je vous rejoins, la balance peut pencher et… peut être que Méonie et <span class="naorem"></span> abandonneront.<br />
      - Oui, je suis certaine que les choses pourraient vraiment changer en nous rejoignant, se réjouit Espéride.<br />
      - Mais une fois le retour à la normale retrouvé, je m'occuperai d'Usaki.
    </p>

    <p>Kannan hoche la tête en signe d'approbation même si elle ne te semble pas sincère entièrement. Espéride, elle, te confirme que ce qui importe c'est le retour du conseil de magie au pouvoir de l'Académie dans un premier temps. Ce qui se passera avec Usaki, ne la concerne pas.</p>

    <p>
      - Quand est-ce que je pourrai voir Usaki ? Enfin, le général Allister, demandes-tu ?<br />
      - je pense qu'il vaut mieux que tu ne le vois pas, fais Kannan. Pour le moment tu seras notre espion<span class="sf">ne</span> à l'Académie. Alors tu vas retourner là-bas et nous te ferons parvenir des ordres de par nos hommes sur place. Il faudra nous faire part de toutes les décisions que vous autres, prophètes, prenez.
    </p>

    <p>Tu te sens un peu manipulé<span class="sf">e</span> mais pour le moment, ils ne doivent pas encore avoir confiance totalement en toi. Tu acceptes malgré tout et retourne dans ta chambre, dans la tour de l'Académie.</p>


  <div class="choix">
    <div class="ch" data-go="147">Continuer</div>
  </div>

</div>
