<div class="num num-1-3-124">

  <div class="text chapter3">

    <h1>- 124 -</h1>

    <p>
      Trouver Allister n'est pas une sinécure. L'homme semble connu de tous les petits villages aux alentours du lac Déluine mais il n'est nul part. Il doit prendre des mesures magiques pour te filer entre les doigts. De plus, tout le monde semble le protéger, personne ne désire te parler, tu es obligé<span class="sf">e</span> d'utiliser tes pouvoirs pour leur soutirer la moindre information.
    </p>

    <p>Après des jours de recherche tu finis par abandonner et retourner à l'Académie pour savoir s'ils ont eu de nouvelles informations. Malheureusement ce n'est pas le cas et tu décides de passer ta première nuit depuis longtemps dans la chambre qui t'a été réservée dans la grande tour de l'Académie.</p>


  <div class="choix">
    <div class="ch" data-go="114">Continuer</div>
  </div>

</div>
