<div class="num num-1-3-125">

  <div class="text chapter3">

    <h1>- 125 -</h1>

    <p>
      Tu restes à la forteresse pour donner un coup de main aux noctules. Ils t'en sont reconnaissant. Même si les gens de la forteresse sont très gentils avec eux ils apprécient que tu ne les abandonnes pas immédiatement.
    </p>

    <p class="middle">*</p>

    <p>Quelques jours plus tard, alors que tu t'attelais à élargir une porte menant aux entrepôt avec l'aide de Pim et Poum - deux enfants noctules qui t'aiment bien - un garde t'appelle pour te signaler qu'un groupe de mages venant de loin est arrivé à la forteresse. Il est venu recruter des mages de la forteresse en vue d'une attaque contre l'Académie.</p>

    <p>Tout cela te semble bien étrange et tu décides de faire un tour dans la salle de réception de la forteresse. Quand tu poses le pied sur le carrelage de la pièce, tu reconnais immédiatement les cheveux blonds de Mac Lumy.</p>

    <p>
      - Mac ? fais-tu pour l'interpeler.<br />
      - Hein ? <span class="tonnom"></span> ! fait-il en se retournant.
    </p>

    <p>Le reste de son groupe se retourne : Kannan, Panacle, Haziko et Anselm sont là. Tu les prends dans tes bras chacun à son tour.</p>

    <p>Ils t'expliquent que l'Académie est tombée aux mains des prophètes. Quand Fandrean et Lasseni sont revenus là-bas ils sont tombés dans un piège. Les prophètes obligent les deux frères et sœurs à leur obéir. En dépit de la puissance de Lasseni, si elle désobéit son frère se fera torturer. Malgré ça, elle refuse d'utiliser ses pouvoirs contre la population, en tout cas pour le moment.</p>

    <p>Kannan t'apprend une bonne nouvelle dans tout cela ; la résistance est en train de se former. Autour du général Allister, un mage journaliste. Ils auraient déjà réussi a tuer un des prophètes, le plus impétueux, Arak. Grâce notamment à la magie de la lune que les prophètes ne connaissent pas et ne peuvent donc pas contrôler.</p>

    <p>
      - Il vous faut donc des mages pour combattre avec la résistance ? Je suis des vôtres, fais-tu enthousiaste.<br />
      - Génial, fait Panacle, on dirait qu'on reforme notre groupe de première année.<br />
      - Oui j'avoue je suis assez nostalgique, ajoute Haziko.
    </p>

    <p>Les gens de la forteresse, qui ont toujours combattu Soufflardent, ne se font pas prier non plus. Une trentaine de mages, tous plus chevronnés les uns que les autres, acceptent de vous accompagner également. Les noctules resteront, bien entendu, à la forteresse, et si Ymir et Zaïra repassent par là des gens s'occuperont de leur passer le message.</p>

    <p>Tu fais tes aurevoirs à Pim et Poum. Tu regrettes que Leng Fao se soit justement absentée aujourd'hui pour aller chercher de la nourriture. Tu n'auras pas eu l'occasion de lui parler avant ton départ. Car le temps presse et vous repartez seulement quelques heures après l'arrivée de tes amis à la forteresse.</p>

  <div class="choix">
    <div class="ch" data-go="149">Continuer</div>
  </div>

</div>
