<div class="num num-1-3-126">

  <div class="text chapter3">

    <h1>- 126 -</h1>

    <p>
      Vous êtes six à partir à la recherche d'Ymir et Zaïra. Vous lancez bien entendu un sort de Vision de rêve en premier lieu mais vous ne pouvez voir que la direction générale de leur présence. Les deux mages légendaires doivent être trop loin pour que vous puissiez voir plus.
    </p>

    <p>Mais au fil des jours vous sentez tout de même que vous êtes dans la bonne direction, les visions semblent plus claires, signe que le sort fonctionne mieux. Et tu es forcé<span class="sf">e</span> de constater que la direction que vous prenez est l'Académie. Et si Ymir et Zaïra se déplacent dans cette direction cela signifie donc que les prophètes y sont également, non ?</p>

    <p>Les cinq mages en ta compagnie arrivent à la même conclusion que toi.</p>

    <p>
      - On va devoir faire attention, explique Roh-Ju, non seulement on risque de tomber sur les prophètes, mais si, en plus, des gens de l'Académie nous voient, on pourrait être pourchassés puisque nous sommes des mages renégats.<br />
      - Peut-être que l'Académie a été attaqué par les prophètes, ajoute Exxon.<br />
      - Ce n'est pas impossible. Donc que tout le monde reste sur ses gardes.
    </p>

  <div class="choix">
    <div class="ch" data-go="127">Continuer</div>
  </div>

</div>
