<div class="num num-1-3-127">

  <div class="text chapter3">

    <h1>- 127 -</h1>

    <p>
      Vous arrivez finalement jusqu'à l'Académie en prenant les petites routes. Vos sorts de Vision de rêve vous écartent quand même de l'Académie. Visiblement les deux mages légendaires ont posé leurs valises à quelques kilomètres de là sur une colline sans aucune maison ou abris.
    </p>

    <p>Mais en arrivant sur place : personne. Vous avez beau réessayer de lancer des sorts en boucle, vous obtenez la même réponse : Ymir et Zaïra sont ici. Sauf qu'ils n'y sont pas.</p>

    <p>
      - Peut-être un sort d'invisibilité, fait Roh-Ju.<br />
      - Mince alors, oui tu dois avoir raison.
    </p>

    <p>Et, alors que vous vous mettez tous à tâter l'air pour essayer de trouver les deux mages, une lueur apparait devant vous. Elle se déplace comme un insecte avant de vous éblouir puis laisse place aux deux mages légendaires.</p>

    <p>
      - Roh-Ju ! Et vous autres aussi, fait Ymir. Que faites-vous donc ici ?<br />
      - Ymir, Zaïra ! Nous avons des nouvelles absolument terribles à vous faire part, commence Roh-Ju. <span class="tonnom"></span> a ramené à la forteresse tout un village de noctules et des informations particulièrement inquiétantes à propos d'Usaki.
    </p>

    <p>Les mages légendaires t'observent et te font signes de leur expliquer en détails le souci. Et tu racontes tout ton périple sur la lune et ce que l'on t'a raconté sur Usaki.</p>

    <p>
      - Hum… Usaki se serait joué de nous ? fait Zaïra. Je ne l'aurai jamais cru.<br />
      - Mais sa disparition de la forteresse semble indiquer que <span class="tonnom"></span> nous raconte la vérité, résonne Ymir.<br />
      - Et les prophètes ? Si vous êtes ici, cela signifie-t-il qu'ils ont attaqué l'Académie, demande un des mages.<br />
      - Oui … et non. Ils ont pris le pouvoir tellement vite qu'on ne peut pas appeler ça une attaque. Les mages supérieurs ont tous juré allégeance à eux en un tour de main. Soyos et Pasha ont démontré une fois de plus qu'ils étaient des couards, explique Ymir.<br />
      - Mais nous avons découvert le point faible des prophètes, fait Zaïra, ce ne sont pas des dragons et leur corps humains n'arrive à contenir la magie gigantesque de Soufflardent qu'au prix de dégâts, qu'ils ne semblent pas comprendre.<br />
      - Comment ça ? demandes-tu.<br />
      - Le corps des prophètes est en train de mourir. Ils ne tiendront pas longtemps comme ça. Très vite ils vont en payer les conséquences.<br />
      - Oui, mais ce qui est étrange c'est qu'un des prophètes est déjà mort et qu'ils ne semblent pas inquiets plus que cela. Nous avons ressenti l'énergie de l'un d'entre eux revenir dans les entrailles de la terre.<br />
      - Mais… ce sont de très bonnes nouvelles, non ? fait Roh-Ju.<br />
      - Peut-être… lui répond Zaïra. Quand les gens sentent que c'est la fin, ils sont capables de faire des bêtises, et pour les prophètes, les bêtises peuvent avoir des conséquences extrêmes.
    </p>

  <div class="choix">
    <div class="ch" data-go="128">Continuer</div>
  </div>

</div>
