<div class="num num-1-3-128">

  <div class="text chapter3">

    <h1>- 128 -</h1>

    <p>
      - Vos petit-enfants… Lasseni et Fandrean... ils étaient en route pour l'Académie. Vous savez ce qu'ils sont devenus ? demandes-tu enfin.<br />
      - Lasseni semble être dans l'enceinte de l'école, elle est très bien traitée. Mais elle ne semble pas heureuse, nous supposons que Fandrean a été fait prisonnier mais nous n'avons pas réussi à le localiser. Les autres prophètes doivent le retenir quelque part pour obliger Lasseni à obéir.<br />
      - Donc, si nous délivrons Fandrean, Lasseni nous rejoindra forcément. C'est ce qu'on doit faire !<br />
      - Nous avons engagé une autre tactique : nous sommes déjà rentrés en contact avec les prophètes. Nous leur avons expliqué que leur corps allait pourrir très vite. Et que nous avions une solution pour les aider. Mais pour cela ils vont devoir redonner le pouvoir à des mages.<br />
      - Qu... QUOI !? Vous voulez redonner le pouvoir à Soyos et aux autres !? Et en plus, vous laissez vos petits-enfants en danger !? je ne comprends pas, fais-tu outré<span class="sf">e</span>.<br />
    </p>

    <p>Les deux mages te regardent un peu triste. L'air de dire qu'il ne faut pas leur en vouloir malgré les apparences.</p>

    <p>
      - Il faut voir l'ensemble, et non nos motivations personnelles. Lasseni et Fandrean ont pris leur décision en revenant à l'Académie. Si nous essayons de les secourir, on ne peut prédire quelles seront les actions des prophètes, fait Ymir.<br />
      - Et s'ils se mettaient à détruire l'Académie ou se venger sur la population ce serait terribles, ajoute Zaïra.<br />
      - Mais… c'est votre famille ! fais-tu.<br />
      - Cela nous attriste mais nous nous devons de garder cette position pour le moment.
    </p>

    <p>Tu commences à compatir pour Lasseni. La pauvre n'a jamais connue ses ancêtres mais a eu une enfance difficile par leur faute - et celle de l'Académie. Malgré ça elle a toujours était première partout, elle s'est faite "contaminée" par le pouvoir de Soufflardent et risque de voir son corps pourrir à cause de cela. Et ses ancêtres sont en train de l'abandonner...</p>


  <div class="choix">
    <div class="ch" data-go="150">- Les "mages légendaires" ? Quelle blague ! Moi j'irai les sauver.</div>
    <div class="ch" data-go="156">- Entendu. Je comprends que c'est pour le bien de l'Académie.</div>
  </div>

</div>
