<div class="num num-1-3-129">

  <div class="text chapter3">

    <h1>- 129 -</h1>

    <p>
      Vous parcourez les monts noirs pendant quelques heures, devenus plus sûrs mais toujours aussi sec et abrupt. Puis enfin vous vous retrouvez à la forteresse. <br />Lordonis, le grand mage qui a pris la direction de la forteresse depuis le départ d'Ymir et Zaïra vous reçoit dans la plus belle salle.</p>

    <p>Sans traîner, Kannan explique la situation et requiert de l'aide auprès des gens de la forteresse de la lune. Lordonis ne se fait pas prier, il sent que c'est l'occasion pour lui et les siens de pouvoir revenir dans des terres plus hospitalières. Sans hésiter il réunit ses meilleurs éléments et avant la soirée, une trentaine de mages chevronnés sont prêt à vous accompagner.</p>

    <p>Les femmes et les enfants vous préparent des provisions pendant que vous vous reposez. Vous allez repartir très vite. Kannan, en leader du groupe, vous explique qu'elle espère pouvoir partir avant la nuit. Vous camperez sur le chemin, chaque minutes compte.</p>

    <p>En discutant un peu avec les gens de la forteresse, tu apprends que personne n'a de nouvelles des deux mages légendaires. Mais en entendant que les prophètes sont à l'Académie, ils te disent qu'il est probable qu'Ymir et Zaïra soient déjà dans le coin.</p>

    <p>Mac Lumy vient te chercher. L'heure du départ a sonné.</p>


  <div class="choix">
    <div class="ch" data-go="149">Repartir avec une belle troupe de mages</div>
  </div>

</div>
