<div class="num num-1-3-13">

  <div class="text chapter3">

    <h1>- 13 -</h1>

    <p>Un mage bien habillé que tu ne connais pas invite Fandrean à l'accompagner et vous dit de rester à l'attendre au deuxième étage de la tour. Mais Lasseni et tous les mages qui vous accompagnent l'ignorent. Vous y êtes : le coup d'état de Fandrean est lancé. Plusieurs mages de l'Académie vous rejoignent : Qobur, Osman Zérion le mage du feu ou Guérénile la mage blanche par exemple. Tous vous suivent jusqu'au 7° étage de la tour où se trouvent les 4 mages supérieurs.
    </p>
    <p>
      Sans ménagement pour les pauvres serviteurs qui sont sensés faire respecter le protocole, Fandrean déboule dans la salle du conseil des 4. Vous lui emboitez le pas pour faire irruption dans la superbe salle. Des vitraux de toutes les couleurs font écho aux tapisseries que tu as pu voir à la forteresse de la Lune. Mais ici l'histoire est celle enseignée par l'Académie où Ymir et Zaïra meurent en endormant le dragon Soufflardent.
    </p>

    <p>Andaelor, le mage supérieur du vent se lève immédiatement de son siège pour fustiger votre attitude :<br />
      - Qu'est-ce que cela signifie ? Fandrean, la rumeur de votre coup d'état était donc fondée. Vous n'êtes qu'un traitre !<br />
      - Andaelor, je ne peux pas croire que vous n'êtes pas au courant de la vérité sur mes ancêtres. Je ne trahis personne. Ce que je désire simplement c'est retirer le pouvoir à des gens qui ont laissé un danger comme Soufflardent sans surveillance. Pire vous avez même tenter de faire tuer les gens qui essayaient d'y trouver une solution : encore une fois mes ancêtres, explique Fandrean.<br />
      - Ha ha ha. Vous dites alors que gouverner l'Académie ne vous intéresse pas, lance Mullihane à son tour moqueuse.<br />
      - Silence ! crie un mage allié de Fandrean. Vous allez devoir répondre de vos mensonges devant le tribunal magique. Il est impensable de garder des gens comme vous au pouvoir.
    </p>

    <p>Tout le monde commence alors à crier et à s'interpeler, c'est la pagaille. Pasha qui n'avait encore rien dit fait calmer les esprits.</p>

    <p>- Fandrean, gouverner c'est parfois prendre des décisions dures et impopulaires mais qui servent le plus grand nombre. Depuis que Soufflardent a été endormi nous avons développé la magie à un niveau encore jamais vu. Nos mages sillonnent le continent pour protéger, donner à manger, éduquer la population. Tu n'as vu qu'un côté de la vérité. Nous avons maintenu la paix, et la vérité c'est qu'Ymir et Zaïra ont, en fait, tout fait pour maintenir Soufflardent en vie pendant toutes ces années. Nous, nous voulions le détruire... <br />
      - Comment osez-vous vous moquer de moi comme... commence à répondre Fandrean.<br />
      - Je ne me moque pas de vous Fandrean. Vous êtes un héros ! Vous avez terrassé la bête !... Vous avez votre place parmi nous. Acceptez d'être des nôtres et devenez le cinquième mage supérieur pour gouverner l'Académie et protéger la population. Nous avons besoin de votre aide.
    </p>

    <p>Fandrean se tait mais a l'air de comprimer sa colère. Il a toujours montré qu'il se dévouait pour les autres, comme à la tour d'Azano par exemple. S'il prend le pouvoir ici, il y aura peut-être une guerre, car les mages supérieurs ont vraiment réussi à établir une société sûre et agréable pour beaucoup de personnes. Et ils sont encore adorés par énormément de monde. Dans ce cas, cette guerre ferait beaucoup de victimes innocentes et Fandrean a l'air d'y penser. Lasseni s'avance devant son frère :</p>

    <p>- Je n'en ai rien à faire de mes ancêtres, commence-t-elle à dire. Mais vous essayez de nous dire que ce qu'ils ont fait pour maintenir endormi Soufflardent était MAL ? Arrêtez d'essayer de passer pour les gentils. Vous vous fichez des autres, vous vous considérez au-dessus de tout le monde. A tel point que vous interdisez même aux jeunes mages les étages supérieurs de la tour. La population, vous l'utilisez pour avoir de l'argent et c'est tout. Vous ne méritez pas votre rang.</p>

    <p>Le discours et le regard noir de Lasseni suffisent à rappeler à Fandrean pourquoi il était venu. Il pose sa main sur l'épaule de sa sœur :</p>

    <p>- Vous quatre, mages supérieurs, vous allez devoir nous suivre. Votre jugement vous attend.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="14">Ecouter la suite</div>
  </div>

</div>
