<div class="num num-1-3-130">

  <div class="text chapter3">

    <h1>- 130 -</h1>

    <p>
      Tu as déjà fait cette route, elle n'est pas très dangereuse pour un<span class="sf">e</span> mage de ton niveau. Ton objectif est clair, rejoindre l'Académie n'est que ta destination. Une fois là-bas, tu devras mettre au point un système pour venir à bout des prophètes et d'Usaki.
    </p>

    <p>Dans un coin de ta tête, tu te demandes si la meilleure option ne serait pas de diriger la puissance des prophètes contre le noctule. Mais tu ne sais pas encore comment tu va mettre cette stratégie au point. Tu manques d'alliés c'est bien ton souci.</p>

    <p class="middle">*</p>

    <p>Après plusieurs jours de marche te voilà non loin de l'Académie, le ciel est chargé de nuages mais l'atmosphère est lourde. Un orage d'été va éclater tu le sens. Beaucoup de monde s'entasse sur les routes qui mènent à l'Académie, et beaucoup en repartent également. Visiblement les prophètes laissent la population assez libre, puisque tout cela te semble bien familier.</p>

    <p>Un individu encapuchonné s'approche de toi en te faisant l'aumône :<br />
      - Messire, une petite pièce pour un ancien soldat...fait-il d'une voix rocailleuse.<br />
      - Heu... désolé, je n'ai pas grand chose moi-même..., commences-tu à répondre. <br />
      - Tu ne me reconnais pas, dit-il tout bas ?
    </p>

    <p>En relevant la tête pour mieux voir son visage tu reconnais Ymir.</p>

    <p>
      - Qu.. Ymir ! <br />
      - chhhhhhhhhut, fait-il en mettant son doigt sur ses lèvres. Suis-moi.
    </p>

    <p>Le mage légendaire te guide en dehors de la route et remonte une petite colline. En arrivant sur place, Zaïra est présente et semble vous attendre.</p>

    <p>
      - Alors, c'était bien <span class="sf">elle</span><span class="sg">lui</span> ? fait la mage fière d'elle-même.<br />
      - Tout à fait, lui répond Ymir.<br />
      - Vous m'aviez reconnu ?<br />
      - Je n'oublie jamais une énergie, explique Zaïra. Et la tienne ne passe pas inaperçue. Tu es assez puissante et surtout ce n'est pas une "couleur" de magie habituelle.<br />
      - Ha bon ? Heu… je suis content<span class="sf">e</span> de vous trouver.
    </p>


  <div class="choix">
    <div class="ch" data-go="131">Expliquer à Ymir et Zaïra ton histoire</div>
  </div>

</div>
