<div class="num num-1-3-131">

  <div class="text chapter3">

    <h1>- 131 -</h1>

    <p>
      - Hum… Usaki se serait joué de nous ? fait Zaïra. Je ne l'aurai jamais cru.<br />
      - Mais sa disparition de la forteresse semble indiquer que <span class="tonnom"></span> nous raconte la vérité, résonne Ymir.<br />
      - Et les prophètes ? Ils laissent la population tranquille, demandes-tu ?<br />
      - Oui … et non. Ils ont pris le pouvoir tellement vite qu'on ne peut pas appeler ça une attaque. Les mages supérieurs ont tous juré allégeance à eux en un tour de main. Soyos et Pasha ont démontré une fois de plus qu'ils étaient des couards, explique Ymir.<br />
      - Mais nous avons découvert le point faible des prophètes, fait Zaïra, ce ne sont pas des dragons et leur corps humains n'arrive à contenir la magie gigantesque de Soufflardent qu'au prix de dégâts qu'ils ne semblent pas comprendre.<br />
      - Comment ça, fais-tu.<br />
      - Le corps des prophètes est en train de mourir. Ils ne tiendront pas longtemps comme ça. Très vite ils vont en payer les conséquences.<br />
      - Oui, mais ce qui est étrange c'est qu'un des prophètes est déjà mort et qu'ils ne semblent pas inquiets plus que cela. Nous avons ressenti l'énergie de l'un d'entre eux revenir dans les entrailles de la terre.<br />
      - Mais... ce sont de très bonnes nouvelles, non ? te permets-tu de dire.<br />
      - Peut-être... te répond Zaïra. Quand les gens sentent que c'est la fin, ils sont capables de faire des bêtises, et pour les prophètes, les bêtises peuvent avoir des conséquences extrêmes.
    </p>

    <p>Après un temps d'attente, tu te décides à demander la question qui te trotte dans la tête depuis le début.</p>

    <p>
      - Vos petit-enfants… Lasseni et Fandrean... ils étaient en route pour l'Académie. Vous savez ce qu'ils sont devenus ? demandes-tu enfin.<br />
      - Lasseni semble être dans l'enceinte de l'école, elle est très bien traitée. Mais elle ne semble pas heureuse, nous supposons que Fandrean a été fait prisonnier mais nous n'avons pas réussi à le localiser. Les autres prophètes doivent le retenir quelque part pour obliger Lasseni à obéir.<br />
      - Donc, si nous délivrons Fandrean, Lasseni nous rejoindra forcément. C'est ce qu'on doit faire !<br />
      - Nous avons engagé une autre tactique : nous sommes déjà rentré en contact avec les prophètes. Nous leur avons expliqué que leur corps allait pourrir très vite. Et que nous avions une solution pour les aider, fait Ymir. Mais pour cela ils vont devoir redonner le pouvoir à des mages.<br />
      - Qu... QUOI !? Vous voulez redonner le pouvoir à Soyos et aux autres !? Et en plus vous laissez vos petits-enfants en danger !? je ne comprends pas, fais-tu outré<span class="sf">e</span>.<br />
    </p>

    <p>Les deux mages te regardent un peu triste. L'air de dire qu'il ne faut pas leur en vouloir malgré les apparences.</p>

    <p>
      - Il faut voir l'ensemble, et non nos motivations personnelles, fait Ymir. Lasseni et Fandrean ont pris leur décision en revenant à l'Académie. Si nous essayons de les secourir, on ne peut prédire quelles seront les actions des prophètes.<br />
      - Et s'ils se mettaient à détruire l'Académie ou se venger sur la population ce serait terribles, ajoute Zaïra.<br />
      - Mais… c'est' votre famille ! fais-tu.<br />
      - Cela nous attriste mais nous nous devons de garder cette position pour le moment.
    </p>

    <p>Tu commences à compatir pour Lasseni. La pauvre n'a jamais connue ses ancêtres mais a eu une enfance difficile par leur faute - et celle de l'Académie. Malgré ça elle a toujours était première partout, elle s'est faite "contaminée" par le pouvoir de Soufflardent et risque de voir son corps pourrir à cause de cela. Et ses ancêtres sont en train de l'abandonner...</p>

  <div class="choix">
    <div class="ch" data-go="150">- Les "mages légendaires" ? Quelle blague ! Moi j'irai les sauver.</div>
    <div class="ch" data-go="156">- Entendu. Je comprends que c'est pour le bien de l'Académie.</div>
  </div>

</div>
