<div class="num num-1-3-133">

  <div class="text chapter3">

    <h1>- 133 -</h1>

    <p>Rapidement, la nouvelle fait le tour du village, Allister a tué Espéride. Même si c'était pour éliminer un prophète comme toi, beaucoup trouvent l'action de leur dirigeant assez discutable. Kannan, Mac Lumy et tes amis de l'Académie ne mâchent pas leurs mots contre Allister et révèlent à tout le monde qu'il s'agit en fait d'un noctule : Usaki.</p>

    <p>Mais c'est trop à accepter pour pas mal de monde. Certains pensent qu'ils sont manipulés par tes pouvoirs, ce qui renforce leur haine contre toi. Néanmoins d'autres commencent à douter et se posent des questions. D'où vient Allister en fait ? Il est mage mais personne ne le connaissait à l'Académie.</p>

    <p>
      - Les amis, je vais rentrer à l'Académie - dis-tu à Mac Lumy.<br />
      - Je viens avec toi, te répond le jeune mage.<br />
      - Si <span class="naorem"></span> ou Méonie apprennent que tu faisais partie de la résistance ça peut être dangereux.<br />
      - Je veux leur parler, je veux délivrer Lass'. Je ne vais pas la laisser comme ça.
    </p>

    <p>Devant le regard déterminé de Mac, tu ne te sens pas le courage de lui refuser. Kannan, Anselm, Haziko et Panacle te disent qu'ils vont faire le tour du lac pour prévenir le plus de monde possible de la vraie nature d'Allister. Tu salues tout le monde, en vous promettant de faire un rapport sur la situation dans deux jours dans une auberge sur l'île de l'Académie. Tu dis à Mac Lumy de s'accrocher à toi et vous vous transportez en un instant dans la cour de l'école.</p>

  <div class="choix">
    <div class="ch" data-go="159">Continuer</div>
  </div>

</div>
