<div class="num num-1-3-134">

  <div class="text chapter3">

    <h1>- 134 -</h1>

    <p>
      Vous prenez un bateau pour rejoindre l'autre côté du lac et pouvoir rentrer à l'Académie par le grand pont.
    </p>
    <p class="av-sportif">Vous débarquez à la ferme de dragons. Tu vois des jeunes s'entrainer malgré les événements et ça te fait penser à Levy. Tu te demandes où <span class='sf'>il</span><span class='sg'>elle</span> se trouve en ce moment.</p>

    <p>Une fois un petit coin tranquille trouvé, vous lancez tous un sort de masque sur vous. Pas besoin qu'il soit extrême, pas de changement d'âge ou de changement de sexe. Un simple changement de coiffure et de visage fera l'affaire. Vous allez devoir garder le sort pendant un bon moment, donc il vaut mieux ne pas avoir à dépenser trop d'énergie.</p>

    <p>
      - Bien, fait Kannan, devenue une jolie blonde. Tout le monde en place. On a rendez-vous dans les jardins sud de l'école.<br />
      - On pourra rentrer dans l'école facilement ? s'enquiert Mac Lumy qui possède désormais une superbe moustache raffinée.<br />
      - Un de nos espions nous fera rentrer par la porte des serviteurs, explique Haziko qui a choisi de changer de poids et prendre artificiellement 30 kilos.<br />
      - Ouah, ton masque il est spécial, lui fait Anselm. Pourquoi t'a décidé de devenir moche ? Moi j'ai décidé au contraire d'être super musclé.<br />
      - Idiot, réplique la mage. Si tu es trop beau, tout le monde va se retourner pour t'admirer. On essaie d'être discret je te signale.<br />
      - Hé ! C'est pas bête, finit Panacle en se lançant un sort de masque juste à ce moment là.
    </p>

    <p>Le mage a désormais une vilaine cicatrice sur le visage.</p>

    <p>
      - Là tu fais carrément peur, lui dis-tu.
    </p>

    <p class="av-riche">Personnellement tu as choisi un masque qui te donne une apparence un peu plus adulte. Et un air plus sombre avec une chevelure impeccable vers l'arrière.</p>
    <p class="av-studieux">Personnellement tu as choisi un masque qui te donne une apparence très normale. Aucun signe particulier qui pourrait te trahir.</p>
    <p class="av-populaire">Personnellement tu as choisi un masque qui te donne un air cool, avec une mèche de cheveux qui passe devant ton œil droit.</p>
    <p class="av-sportif">Personnellement tu as choisi un masque avec plus de muscles et une coupe de cheveux de guerrier - mal coiffé.</p>
    <p class="av-courageux">Personnellement tu as choisi un masque avec une chevelure des hommes du nord et la peau grise comme Mac Lumy.</p>

    <p>
      - Assez de bavardages. On avance, ordonne Kannan.
    </p>

    <p>Le pont n'est pas plus surveillé qu'en temps normal. Ton regard est attiré par une personne assise sur la grande porte d'entrée de la ville, au bout du pont. Ce n'est qu'en avançant que tu reconnais <span class="naorem"></span>. Le prophète semble observer les allées et venues des gens sur le pont.</p>

    <p>
      - Kannan, murmures-tu. <span class="naorem"></span> est là-haut. Faut faire demi-tour.
    </p>

    <p>La mage, lance un bref regard vers le prophète. Mac Lumy et Panacle font de même.</p>

    <p>
      - Ne regardez pas ! fait Kannan. On continue, il n'y a aucune raison qu'il nous arrête.<br />
      - C'est un prophète, il doit savoir qu'un a un sort de masque, fais-tu inqui<span class='sf'>ète</span><span class='sg'>et</span>.<br />
      - On continue, persiste Kannan en plaçant sa main sur ton bras pour te calmer.
    </p>

  <div class="choix">
    <div class="ch" data-go="135">Faire demi tour malgré l'ordre de Kannan</div>
    <div class="ch" data-go="136">Continuer et passer sous la porte de la ville</div>
  </div>

</div>
