<div class="num num-1-3-135">

  <div class="text chapter3">

    <h1>- 135 -</h1>

    <p>Tu tournes très vite les talons pour suivre quelqu'un qui part en sens inverse, discrètement.</p>

    <p>
      - <span class="tonnom"></span>, suis-nous ! s'exaspère Kannan.
    </p>

    <p>Mais tu continues ton chemin dans l'autre sens. Des gens lèvent la tête pour voir quelque chose dans le ciel. A peine as-tu eu le temps de faire de même que <span class='naorem'></span> se pose délicatement devant toi.</p>

    <p>
      - Enlevons ce sort de masque, fait le prophète en claquant des doigts.
    </p>

    <p>D'un coup ton sort se brise et te révèle à lui. Il semble d'abord surpris.</p>

    <p>
      - Et bien, que viens-tu faire ici ? Délivrer ton amie Lasseni ou son frère ?<br />
      - Qu...<br />
      - Si tu savais le nombre de personne qui passent par ce pont avec un sort de masque tu serais surpris<span class="sf">e</span>. Mais par contre il n'y en a pas beaucoup qui font demi-tour. Je me suis dit que tu devais vraiment préparer quelque chose de grave pour être aussi stressé<span class="sf">e</span>.
    </p>

    <p>Un cri surgit dans la foule derrière toi. Mac et ses belles moustaches prépare un sort de feu à lancer sur le prophète. Les gens s'écartent sur son passage. Certains se jettent même à l'eau.</p>

    <p>
      - Tu n'étais pas venu<span class="sf">e</span> seul<span class="sf">e</span>, ajoute <span class='naorem'></span>. Je vais devoir faire un exemple de vous tous.
    </p>

    <p>Le prophète souffle un fumée noire qui s'insère dans tes poumons et ceux de tes amis. Tu as beau faire tous les efforts possibles tu n'arrives plus à respirer. Finalement ton corps se transforme en petites cendres et s'envolent au vent.</p>

    <p><em>Ton aventure et celle de tes amis s'arrête là.</em></p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>

</div>
