<div class="num num-1-3-136">

  <div class="text chapter3">

    <h1>- 136 -</h1>

    <p>Vous pénétrez tous ensemble sous la porte sans que <span class="naorem"></span> n'ait réagi.</p>
    <p>
      - Bien, suivez-moi, fait Haziko en prenant la tête du cortège.
    </p>

    <p>La mage vous guide à travers les rues de l'Académie jusqu'à l'entrée des serviteurs de l'école. Tu n'étais encore jamais passé<span class="sf">e</span> par là. Haziko remonte un petit objet qui est, selon elle, un artefact de son invention. Il a la forme d'un petit oiseau et une fois remonté il s'envole comme un vrai.</p>

    <p>
      - Je ne pensais pas qu'un truc pareil pouvait exister, fait Mac Lumy interloqué.<br />
      - C'est comme ça que je contacte notre espion, explique Haziko.
    </p>

    <p>En effet, quelques minutes plus tard, un serviteur vous ouvre la porte en tenant dans ses mains l'oiseau mécanico-magique d'Haziko. Vous vous infiltrez le plus discrètement possible derrière lui. Après quelques informations, il repart de son côté pour ne pas être vu en votre compagnie.</p>

    <p>L'heure du rendez-vous approche. Il y a beaucoup de personnes que tu ne connais pas dans l'enceinte de l'école. Tu penses que vous passerez plutôt inaperçus mais on ne sait jamais. Alors vous êtes toujours vigilants. Aucun accès n'est interdit, mais certains mages semblent très pointilleux. Ils ordonnent des punitions à certains élèves de l'école qui traversent les jardin en dehors des sentiers ou s'ils font trop de bruits.</p>

    <p>
      - C'est la police magique, t'explique Kannan. Ils ont juré allégeance aux prophètes dès qu'ils sont arrivés. Et ils vont très loin pour se faire apprécier.
    </p>

    <p>Après quelques minutes vous arrivez jusqu'au jardin sud. Il n'y a personne, ce qui est assez bizarre étant donné l'effervescence dans le reste de l'école. A peine êtes-vous arrivés que Mullihane apparait. La mage supérieure du vent est parée d'une belle robe blanche. Tu sais qu'elle est sensée avoir plus de soixante ans, mais on dirait qu'elle n'en a que trente.</p>

    <p>
      - Pas d'inquiétude, vous fait-elle. J'ai lancé un enchantement sur les jardins. Personne ne viendra nous déranger... exceptés les prophètes, hé hé. Mes pouvoirs ne sont pas aussi puissants que les leurs.<br />
      - Ce n'est pas vraiment rassurant, fait Panacle apeuré.<br />
      - Je m'appelle Kannan, vous avez demandé au général Espéride un rendez-vous ?<br />
      - Directement au but ? fait Mullihane amusée. Un parfait petit soldat... Bien, oui, je sais que vous essayez de supprimer les prophètes.
    </p>

    <p>Visiblement Mullihane n'est pas alliée de la résistance. Espéride vous a envoyé mais il est possible que ce soit un piège. Après tout, les mages supérieurs ont tous accepté de servir les prophètes quand ils sont arrivés.</p>

    <p>
      - Je sais que vous avez déjà tué un des prophètes, c'est extraordinaire, continue la mage supérieure. J'aimerai vous apporter mon aide.<br />
      - Oui, notre général nous a appris une méthode contre les prophètes, dit simplement Kannan. Comment pourriez-vous nous aider ?<br />
      - Et bien, l'une des prophètes - Méonie - est une petite idéaliste. Il est assez facile de la manipuler. Je pourrai facilement vous l'amener à l'endroit que vous désirez pour lui tendre le même piège qu'à ce prophète que vous avez éliminé.
    </p>

    <p>Kannan semble réfléchir mais l'offre semble intéressante.</p>

    <p>
      <span class="def-naif">
      - Et qu'est-ce que vous y gagnez ? demande Anselm.<br />
      </span>
      <span class="def-pas-naif">
      - Et qu'est-ce que vous y gagnez ? demandes-tu.<br />
      </span>
      - Hum... Je voudrai reprendre mon rôle de dirigeante de l'Académie bien sûr. Je sais que vous ne pouvez pas me promettre ça. Mais si vous me mettiez en contact avec votre général Allister je vous en serai reconnaissante.<br />
      - Donc si je résume, fait Kannan, pour le moment vous ne ferez rien sans avoir vu Allister ?<br />
      - Oh bien sûr que si. Ce prophète je veux bien vous l'offrir gratuitement. Mais la suite de notre collaboration ne dépendra que de vous.
    </p>


  <div class="choix">
    <div class="ch" data-go="137">Continuer</div>
  </div>

</div>
