<div class="num num-1-3-137">

  <div class="text chapter3">

    <h1>- 137 -</h1>

    <p>Vous ressortez de l'école par là où êtes entrés. Sans difficulté. Vous décidez de vous réunir sur une petite place avec vue sur le lac, un peu en hauteur.</p>

    <p>
      - Vous la croyez ? demande Anselm en brisant le silence.<br />
      - Elle semble avoir des motivations suffisantes pour nous aider, fait seulement Kannan.<br />
      - Vous avez fait comment pour tuer un prophète ? finis-tu par demander.<br />
      - Le général Allister nous a appris un sort de la lune qui ne peut être contrôlé par les prophètes, explique Kannan. Mais il ne suffit pas de le lancer. Il faut que le prophète soit assez proche et ne tente pas de l'éviter. De plus, il faut être sacrément puissant pour pouvoir lancer le sort.
    </p>

    <p>Un sort de magie de la lune ? C'est ça le point faible des prophètes ? Alors tu sens qu'il y a peut-être de l'espoir.</p>

    <p>
      - Si on détruit un deuxième prophète comme le propose Mullihane, il ne restera que <span class="naorem"></span> ? fais-tu plein<span class="sf">e</span> d'espoir.<br />
      - … Et Lasseni, te corrige Kannan.<br />
      - Qu'est-ce que tu racontes, fais-tu choquée ? Lasseni c'est Lasseni. Tu ne veux quand même pas la tuer aussi.<br />
      - Le but de la résistance c'est l'élimination des prophètes : leur puissance est trop grande pour être contrôlée.<br />
      - On ne pourrait pas voir ça quand il ne restera que Lass', dit Mac Lumy en essayant de vous calmer. Pour le moment le plus urgent c'est Méonie et <span class="naorem"></span>.
    </p>


  <div class="choix">
    <div class="ch" data-go="162">Lasseni est mon amie, je ne laisserai pas la résistance la tuer</div>
    <div class="ch" data-go="163">Ok, je comprends. Lasseni devra mourir pour que la paix soit faite</div>
  </div>

</div>
