<div class="num num-1-3-138">

  <div class="text chapter3">

    <h1>- 138 -</h1>

    <p>
      - Pardon ? demandes-tu. Qu'est-ce que vous racontez ? Je n'ai aucune sensation de ce genre.<br />
      - Hé hé, vous n'avez vraiment encore rien senti. J'en doute, fait Zaïra.
    </p>

    <p>Tu as beau réfléchir tu n'as pas eu l'impression que ton corps ressentait une pression. Tu as l'impression d'être juste bien et puissant<span class="sf">e</span>. D'ailleurs tu dirais que plus le temps passe et plus tu te sens puissant<span class="sf">e</span>. Tu as l'impression de, petit à petit, pouvoir contrôler tous les éléments et pas seulement celui de ton affinité principale.</p>

    <p>Mais quand tu croises le regard de <span class="naorem"></span> et Méonie, pour eux cela semble être différent. Ils ont l'air de parfaitement comprendre les paroles des deux mages légendaires.</p>

    <p>
      - Et vous avez la solution donc ? fait <span class="naorem"></span>. Une solution que vous voulez bien nous donner.<br />
      - Bien sûr, fait Ymir sincère. Puisque cette solution nous arrange aussi. <br />
      - Comment cela ? fait le prophète en grinçant des dents.<br />
      - Il suffit que vous redonniez votre pouvoir au monde. Si vous le redonnez à la planète, tout le monde pourra encore avoir accès à la magie.<br />
      - Et comme cela vous pourrez prendre le pouvoir, éructe <span class="naorem"></span>!<br />
      - Nous ne sommes pas comme vous, fait Zaïra avec une moue désintéressée.
    </p>

    <p>Ymir et Zaïra vous expliquent qu'ils n'ont jamais voulu le pouvoir, que ce soit autrefois ou maintenant. Mais que la survie des humains leur tient à coeur. Et pour eux, les prophètes sont des humains.</p>

    <p>
      - Vous avez toujours combattu Soufflardent, votre discours ne change rien, balaie <span class="naorem"></span>. Méonie est avec moi aussi sur ce point là.<br />
      - Je ne… sais pas trop, fait timidement la prophète.<br />
      - Quoi ! Mais ce… ce sont nos ennemis.<br />
      - Et bien on va vous laisser en discuter entre vous, finit Ymir. Nous repasserons plus tard.<br />
      - Vous croyez que je vais vous laisser partir !? s'étonne <span class="naorem"></span>.
    </p>

    <p>Mais les deux mages s'estompent dans l'air comme s'ils n'avaient été que de simples nuages. Vous laissant entre vous.</p>


  <div class="choix">
    <div class="ch" data-go="139">Discuter</div>
  </div>

</div>
