<div class="num num-1-3-139">

  <div class="text chapter3">

    <h1>- 139 -</h1>

    <p>
      - Méonie ! Tu veux vraiment laisser ton pouvoir ? Je t'assure qu'ils ne savent pas de quoi ils parlent.<br />
      - Mais je ressens une sorte d'affaiblissement depuis quelques temps. Ce sont les mages légendaires. Et s'ils avaient raison ? T'en penses quoi <span class="tonnom"></span> ?
    </p>

    <p>Tu ne sais pas trop quoi dire. Abandonner ton pouvoir, tu n'y avais même pas pensé. Tu ne savais même pas que c'était possible. Mais contrairement à Méonie, tu te sens très en forme. <span class="naorem"></span> ne va certainement jamais rendre son pouvoir. Mais si tu le faisais, tu es presque certain<span class="sf">e</span> que Méonie abandonnerait le sien aussi.</p>

    <p>
      - Faites ce que vous voulez après tout ! s'exclame <span class="naorem"></span>. Si vous refusez le pouvoir que vous a donné Soufflardent alors je serai le seul maître.
    </p>

    <p>Le prophète s'en va en fulminant sans même attendre de réponse de ta part.</p>

  <div class="choix">
    <div class="ch" data-go="167">Dire à Méonie que tu veux rendre ton pouvoir</div>
    <div class="ch" data-go="168">Dire à Méonie que tu veux garder ton pouvoir</div>
  </div>

</div>
