<div class="num num-1-3-14">

  <div class="text chapter3">

    <h1>- 14 -</h1>

    <p>CLAP CLAP CLAP</p>
    <div class="fin fin-1">
      <p>Sortis de nulle part, 3 individus sortent de la pénombre derrières les piliers du fond de la salle. Les 3 prophètes, héritiers des pouvoirs de Soufflardent sont là. <span class="naorem"></span> applaudit.</p>
      <p>- Superbe discours Lasseni. Mais au final, il ne sert plus à grand chose. Les 4 mages supérieurs ne dirigent déjà plus l'Académie. Pour diriger le pays le plus puissant du monde, il faut bien les êtres les plus puissants. Tu as le droit de revendiquer une place à nos côté Lasseni. Mais tous les autres vont devoir se mettre à genoux devant nos ordres.<br />
        - Attendez, s'écrie Pasha. Vous nous aviez juré que vous nous laisseriez gérer ça !<br />
        - Vous ne gérez rien du tout vieux fou, s'écrie le plus grand des trois prophètes - celui qui avait attaqué Usaki à la forteresse de la lune. Vous n'avez rien écouté ? On va vous montrer ce qu'est la vraie magie hé hé hé.
      </p>

      <p>La dernière des trois prophètes - Méonie -  fit briller ses yeux et d'un coup tu te retrouvas seul<span class="sf">e</span> dans le noir. Aspiré<span class="sf">e</span> vers le bas comme si tu tombais du haut de la tour. Mais cette sensation s'arrêta soudainement. Sous tes pieds, tu as l'impression que des dalles de marbres sont là mais tu ne vois rien d'autre que ton propre corps.</p>

      <p>- MAC, LASS' ! Vous êtes où ?</p>

      <p>Des bruits de pas te répondirent, puis la mage Méonie sortit des ténèbres.</p>

      <p>- Tu fais partit de ceux qui ont tué maître Soufflardent. Je n'en tire aucun plaisir mais je dois t'éliminer, fit-elle comme si elle te disait bonjour.</p>
    </div>
    <div class="fin fin-2">
      <p>Sortis de nulle part, 4 individus sortent de la pénombre derrières les piliers du fond la salle. Les 4 prophètes, héritiers des pouvoirs de Soufflardent sont là. <span class="naorem"></span> applaudit.</p>
      <p>- Superbe discours Lasseni. Mais au final, il ne sert plus à grand chose. Les 4 mages supérieurs ne dirigent déjà plus l'Académie. Pour diriger le pays le plus puissant du monde il faut bien les êtres les plus puissants. Vous allez devoir tous vous mettre à genoux devant nos ordres.<br />
        - Attendez, s'écrie Pasha. Vous nous aviez juré que vous nous laisseriez gérer ça !<br />
        - Vous ne gérez rien du tout vieux fou, s'écrie le plus grand des quatre prophètes - celui qui avait attaqué Usaki à la forteresse de la lune. Vous n'avez rien écouté ? On va vous montrer ce qu'est la vraie magie hé hé hé.
      </p>

      <p>La plus petite des prophètes - Méonie -  fit briller ses yeux et d'un coup tu te retrouvas seul<span class="sf">e</span> dans le noir. Aspiré<span class="sf">e</span> vers le bas comme si tu tombais du haut de la tour. Mais cette sensation s'arrêta soudainement. Sous tes pieds, tu as l'impression que des dalles de marbres sont là mais tu ne vois rien d'autre que ton propre corps.</p>

      <p>- MAC, LASS' ! Vous êtes où ?</p>

      <p>Des bruits de pas te répondirent, puis la mage Méonie sortit des ténèbres.</p>

      <p>- Tu fais partit de ceux qui ont tué maître Soufflardent. Je n'en tire aucun plaisir mais je dois t'éliminer, fit-elle comme si elle te disait bonjour.</p>
    </div>
    <div class="fin fin-3">
      <p>Sortis de nulle part, 3 individus sortent de la pénombre derrières les piliers du fond la salle. Les 3 prophètes, héritiers des pouvoirs de Soufflardent sont là. <span class="naorem"></span> applaudit.</p>
      <p>- Superbe discours Lasseni. Mais au final, il ne sert plus à grand chose. Les 4 mages supérieurs ne dirigent déjà plus l'Académie. Pour diriger le pays le plus puissant du monde il faut bien les êtres les plus puissants. <span class="tonnom"></span>, tu as le droit de revendiquer une place à nos côté. Mais tous les autres vont devoir se mettre à genoux devant nos ordres.<br />
        - Attendez, s'écrie Pasha. Vous nous aviez juré que vous nous laisseriez gérer ça !<br />
        - Vous ne gérez rien du tout vieux fou, s'écrie le plus grand des trois prophètes - celui qui avait attaqué Usaki à la forteresse de la lune. Vous n'avez rien écouté ? On va vous montrer ce qu'est la vraie magie hé hé hé.
      </p>

      <p>La dernière des trois prophètes - Méonie -  fit briller ses yeux et d'un coup tu te retrouveras seul<span class="sf">e</span> dans le noir. Aspiré<span class="sf">e</span> vers le bas comme si tu tombais du haut de la tour. Mais cette sensation s'arrêta soudainement. Sous tes pieds, tu as l'impression que des dalles de marbres sont là mais tu ne vois rien d'autre que ton propre corps.</p>

      <p>- MAC, LASS' ! Vous êtes où ?</p>

      <p>Des bruits de pas te répondirent, puis la mage Méonie sortit des ténèbres.</p>

      <p>- Tu es venu<span class="sf">e</span> nous mettre des bâtons dans les roues ? demande-t-elle. Je ne le te conseille pas. Mais à nous quatre nous pourrions reforger le monde comme l'aurait voulu maître Soufflardent. Comme tu le vois, nous ne voulons pas détruire l'Académie. Nous allons juste reprendre le contrôle sur ce continent.</p>
    </div>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="fin fin-1">
      <div class="ch fin1 fin1-1" data-go="17">Tenter de sortir de ces ténèbres avec un sort de la lune</div>
      <div class="ch" data-go="16">Attaquer la prophète Méonie avec ta magie</div>
      <div class="ch" data-go="15">Tenter de t'enfuir même si tu ne vois pas où tu vas</div>
    </div>
    <div class="fin fin-2">
      <div class="ch fin1 fin1-1" data-go="17">Tenter de sortir de ces ténèbres avec un sort de la lune</div>
      <div class="ch" data-go="16">Attaquer la prophète Méonie avec ta magie</div>
      <div class="ch" data-go="15">Tenter de t'enfuir même si tu ne vois pas où tu vas</div>
    </div>
    <div class="fin fin-3">
      <div class="ch fin1 fin1-1" data-go="17">Tenter de sortir de ces ténèbres avec un sort de la lune</div>
      <div class="ch" data-go="18">Attaquer la prophète Méonie avec ta magie</div>
      <div class="ch" data-go="19">Accepter l'alliance qu'elle te propose</div>
    </div>
  </div>

</div>
