<div class="num num-1-3-140">

  <div class="text chapter3">

    <h1>- 140 -</h1>

    <p>L'espionne que vous devez rencontrer n'est autre que Mullihane : la mage supérieure du vent. Quand les prophètes sont arrivés à l'Académie elle leur a juré allégeance, mais visiblement elle n'est pas contre les combattre.</p>

    <p>
      - Bien, fait Kannan. Que chacun prépare ses affaires. Nous partons dans l'heure.
    </p>

  <div class="choix">
    <div class="ch" data-go="134">Continuer</div>
  </div>

</div>
