<div class="num num-1-3-141">

  <div class="text chapter3">

    <h1>- 141 -</h1>

    <p>
      Le lendemain, alors que tu finis ton repas en essayant encore d'améliorer les conditions des élections avec Méonie, un serviteur vient te chercher. Tu te rappelles que Mullihane devait te présenter quelqu'un justement pour le nouveau conseil de magie. Tu t'excuses auprès de Méonie, qui préfère finir son repas. Tu lui promets de lui raconter ce que tu penses de cette candidate.
    </p>

    <p>
      Le serviteur te guide jusqu'aux jardins sud du palais, ils sont plus frais et à l'ombre de la librairie, c'est aussi le plus calme de l'école. Visiblement Mullihane a dû donner des ordres car d'ordinaire il y a quand même quelques étudiants et professeurs à profiter de l'endroit. Mais aujourd'hui il n'y a que Mullihane qui t'attend avec une jeune femme. Elle est un peu plus grande que toi, parait avoir ton âge avec une belle chevelure blonde qui descend en boucles jusqu'à ses hanches. Habillée de manière plutôt simple.
    </p>

    <p class="def-naif">La jeune femme semble un peu stressée en te voyant, qui ne le serait pas en rencontrant un prophète.</p>
    <p class="def-pas-naif">La jeune femme semble surprise en te voyant, pourtant Mullihane a dû lui dire que c'était toi, un des prophètes, qui venait.</p>

    <p>
      - Bonjour, <span class='tonnom'></span>. A qui ai-je l'honneur ?<br />
      - Heu… je… je...<br />
      - Je vous présente Hilde Marway, qui vient tout droit d'Eaux-Claires, un petit port sur la rive Est du lac.<br />
      - Hilde ? Très bien, détendez-vous je vous en prie. Je ne suis pas méchant<span class="sf">e</span>, fais-tu pour la détendre.<br />
      - Oui Hilde détendez-vous, ça va être votre moment, lui dit Mullihane en souriant.
    </p>

    <p>Vous vous asseyez l'une en face de l'autre sur des bancs du jardin. Mullihane reste un peu plus loin debout. Elle vous dit de faire connaissance pendant qu'elle va récupérer quelques biscuits et un peu de thé.</p>

    <p>
      - Attendez ! lui dit Hilde. Ce n'était pas ce qui étais prévu !<br />
      - Comment ? Hum... Quelle différence que ce soit <span class='tonnom'></span> plutôt que Méonie ? Faites ce que vous avez à faire.
    </p>

    <p class="def-naif">Tu comprends plus ou moins. Visiblement, Mullihane a fait croire à cette Hilde qu'elle verrait Méonie.</p>
    <p class="def-pas-naif">Tu commences à te dire que tout n'est pas très clair. Tu remarques d'ailleurs que cette Hilde possède une magie sur elle. Certainement un sort de masque. Elle n'est probablement pas celle qu'elle prétend être.</p>

    <p>
      - Tout va bien ? lui demandes-tu.<br />
      - ... Je suis désolé pour tout ça, fait Hilde.
    </p>

    <p>D'un coup, elle se redresse et se prépare à lancer un sort. Mais d'un réflexes tu l'envoies valdinguer contre un pot de fleurs du jardins. Elle se relève difficilement mais elle est différente. Le sort de masque qu'elle avait sur elle a disparu. Tu remarques que la personne que tu as devant toi n'est autre que Kannan. Ton amie des premières années.</p>

  <div class="choix">
    <div class="ch" data-go="142">Continuer</div>
  </div>

</div>
