<div class="num num-1-3-142">

  <div class="text chapter3">

    <h1>- 142 -</h1>

    <p>
      - Kannan !? Qu'est-ce que tu fais là ?<br />
      - La ferme ! Ne rends pas les choses plus difficiles ! s'énerve la mage. … Je dois … le faire.<br />
      - Le faire ? Qu... tu ne veux quand même pas ... ?<br />
      - Je DOIS le faire il n'y a pas d'autres choix.
    </p>

    <p>Kannan incante un nouveau sort mais tu la projette une nouvelle fois à l'autre bout du jardin.</p>

    <p>
      - Arrête ! Je ne veux pas te faire de mal, la supplies-tu.<br />
      - Tu… ne peux...pas comprendre…, fait-elle en se relevant avec plus de mal. Je suis venue… juste pour ça.
    </p>

    <p>Un bloc de pierre est soudain envoyé avec force dans ta direction et tu as juste le temps de le désintégrer d'un clin d'œil. Mullihane qui venait de t'attaquer hurle à Kannan :<br /><br />
      - Maintenant ! C'est notre dernière chance !!
    </p>

    <p>Tout cela n'était qu'un piège depuis le début. Même si tu essaies de redonner du pouvoir aux mages, eux, semblent vouloir essayer de vous tuer, vous, les prophètes. Kannan finit par lancer son sort : une sorte de vague noire se crée et approche de toi à toute vitesse. Tu vois l'expression de colère et de rage sur le visage de Kannan. Elle ne s'arrêtera pas. Visiblement Mullihane fait plus confiance dans ce sort de Kannan que dans ses propres pouvoirs : ce doit donc être une puissance redoutable.</p>

    <p>Tu as deux moyens de régler ça : encaisser le sort à tes risques et périls ou tuer Kannan. En éliminant ton amie, le sort sera automatiquement détruit. Avec tes pouvoirs tu peux la tuer avant même que son sort ne t'atteigne.</p>

  <div class="choix">
    <div class="ch" data-go="143">Encaisser le sort</div>
    <div class="ch" data-go="144">Tuer Kannan</div>
  </div>

</div>
