<div class="num num-1-3-143">

  <div class="text chapter3">

    <h1>- 143 -</h1>

    <p>Tu laisses la forme noire fondre sur toi et te gober. Elle s'éparpille autour de toi vaincu<span class="sf">e</span>. Mais quand tu scrutes les alentours, tu te rends compte que ce n'est plus le jardin de l'Académie. L'environnement est noire, les étoiles semblent plus proches de toi qu'avant. L'air n'arrive plus jusqu'à tes poumons. Tu essaies au maximum de canaliser ton énergie mais tu dois te rendre à l'évidence : tu n'es plus sur la terre.</p>

    <p>Après quelques minutes de luttes, tes forces disparaissent et le froid t'envahit. Tes ennemis t'ont vaincu.</p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>

</div>
