<div class="num num-1-3-144">

  <div class="text chapter3">

    <h1>- 144 -</h1>

    <p>
      Simplement en ayant l'idée à l'esprit tu fais exploser le cœur de ton amie qui tombe instantanément au sol sans vie. La vague noire se dissipe sur l'instant. Mullihane regarde Kannan incrédule. Comme si c'était impossible de tuer quelqu'un d'un simple regard.
    </p>

    <p>
      - Je … je ne suis pas responsable ! Ils m'ont obligé ! dit la mage supérieure en bafouillant.<br />
      - … Je ne veux plus te voir, dis tu simplement.
    </p>

    <p>L'instant d'après Mullihane s'écroule et explose telle une fontaine de lumière. Elle aussi victime de ton pouvoir. Tu n'allais pas laisser cette traitresse vivre. Tu te rapproches lentement de Kannan mais tu sais que tu viens réellement de la faire mourir. Tu la prends dans tes bras, tu ne peux retenir tes larmes.</p>

  <div class="choix">
    <div class="ch" data-go="178">Continuer</div>
  </div>

</div>
