<div class="num num-1-3-145">

  <div class="text chapter3">

    <h1>- 145 -</h1>

    <p>
      - Quel dommage ! s'exclame Mullihane. Elle vient justement demain à l'Académie.<br />
      - Ah… oui mais là j'ai vraiment trop de travail, essaies-tu de te justifier.<br />
      - Hum… peut être que je peux la présenter à Méonie dans ce cas ? te demande la mage supérieure.<br />
      - Méonie ? Oui oui, bien sûr, j'ai confiance en elle.
    </p>

    <p>Sur ces mots, Mullihane s'en va en te saluant et te laisse travailler.</p>

    <p class="middle">*</p>

    <p>Le lendemain, pendant que tu finis ton repas en racontant tes avancées sur les élections à Méonie, un serviteur vient la chercher. Mullihane l'attend pour lui présenter cette candidate dont elle te parlait hier. Tu la laisses partir en lui demandant de bien tout noter sur cette candidate pour qu'elle t'en parle après.</p>

    <p>Tu te demandes justement combien il faudrait de candidats. Il faudrait probablement mettre un maximum de candidatures possibles. Si des centaines de mages veulent se présenter ce sera difficile d'organiser quoi que ce soit.</p>

    <p class="middle">*</p>

    <p>Un peu plus tard, un serviteur rentre brusquement dans ton bureau. Il te surprend tellement que tu fais une énorme rature sur ton parchemin.</p>

    <p>
      - Mais…!! Vous pourriez frapper avant d'entrer ! On ne vous a jamais appris la politesse ? fais-tu exaspéré<span class="sf">e</span>.<br />
      - La … la prophétesse Méonie !<br />
      - Et bien quoi Méonie ?<br />
      - Elle est morte ! Dans les jardins.
    </p>

    <p>Ton sang ne fait qu'un tour, tu vas aussi vite que possible jusqu'aux jardins. Là, un médecin est là mais tu vois bien qu'il ne peut rien faire. Méonie est coupée en d'eux. Et personne ne sait où se trouve la deuxième partie du corps de la prophétesse. Malgré sa blessure aberrante, elle ne saigne pas.</p>

    <p>Les jardins, c'était l'endroit où Mullihane avait donné rendez-vous à Méonie pour voir sa candidate.</p>

    <p>
      - Où es Mullihane ? demandes-tu avec une colère contenue.
    </p>

  <div class="choix">
    <div class="ch" data-go="174">Continuer</div>
  </div>

</div>
