<div class="num num-1-3-146">

  <div class="text chapter3">

    <h1>- 146 -</h1>

    <p>Arak décide finalement de partir sans rien vous dire. Il a décidé d'aller "mettre une raclée" à cette résistance, selon le serviteur qui t'a renseigné. Tu te fais un peu de souci pour tes anciens amis. Après tout, Arak est quelqu'un de très impulsif, il pourrait tout raser sur un coup de tête.</p>

    <p class="middle">*</p>

    <p>Le soir du même jour, Méonie vient te voir alors que tu planches sur des livres dans la bibliothèque. Tu te rends d'ailleurs compte que créer un nouveau conseil de magie est beaucoup plus compliqué que tu ne l'imaginais à l'origine.</p>

    <p>
      - Tu y arrives ? demande-t-elle.<br />
      - Je dois avouer que je me casse les dents sur plusieurs problèmes. Mais petit-à-petit je vais y arriver.<br />
      - Je venais pour autre chose en fait, fait-elle en se tournant vers la fenêtre. Arak n'est toujours pas revenu.<br />
      - Il a peut-être décidé de prendre son temps pour bien être discret, non ?<br />
      - Tu ne le connais pas… C'est une vraie tête brûlée, il n'est pas subtil.<br />
      - …On aurait du envoyer <span class="naorem"></span> alors, lui réponds-tu. Mais alors, où est Arak en ce moment ?<br />
      - Avec le sort "vision de rêve", on peut voir qu'il nous indique une sorte de vortex noir. Généralement c'est le signe que la personne est morte.<br />
      - Qu... quoi ? Arak serait mort ?<br />
      - C'est ce qu'il semblerait, restons prudents. J'ai un mauvais pressentiment.
    </p>

    <p>Méonie te souhaite bonne nuit et s'en va. Alors que tu penses toi aussi à aller te coucher une mage de l'Académie fait son apparition. Mullihane, la mage supérieure du vent, ancienne membre du conseil de magie vient te voir. Vous lui avez retiré le contrôle de l'Académie, elle doit vous en vouloir. Selon <span class="naorem"></span> les mages supérieurs vous ont juré allégeance et vous aide mais dans les faits ils vous évitent et quand vous leur demander quelque chose ils rechignent toujours à la tâche.</p>

    <p>
      - Vous avez quelques minutes à m'accorder, fait-elle en faisant une révérence gracieuse ?
    </p>

  <div class="choix">
    <div class="ch" data-go="117">Continuer</div>
  </div>

</div>
