<div class="num num-1-3-147 retour-123">

  <div class="text chapter3">

    <h1>- 147 -</h1>

    <p>Mac Lumy a l'air sincèrement ravi que tu rejoignes le groupe, mais tu ne te fais pas d'illusion. C'est certainement Usaki qui est derrière tout cela. Et tu va tout faire pour le remettre à sa place. Il veut provoquer une guerre sur terre entre les humains. Tu n'as aucune envie de lui faire de cadeau. Et tu te dis qu'avec tes pouvoirs cela va être un jeu d'enfant de retrouver sa trace maintenant que tu fais parti de la résistance.</p>

    <p>
      - Mais du coup… comment vous avez fait pour tuer Arak ? te décides-tu à demander.<br />
      - C'est un sort de l'invention du général, commence Panacle.<br />
      - Ne lui en dites pas trop, l'interromps Kannan. Je ne lui fais pas encore pleinement confiance.<br />
      - Elle fait partie des notres ! s'exclame Mac Lumy.<br />
      - Tu es trop naïf Mac. On est en guerre. C'est peut être une ruse de l'ennemi.
    </p>

    <p>Kannan te traite encore d'ennemi. Il va falloir faire tes preuves pour avoir plus d'informations.</p>

    <p>
      - Et vous voudriez que je vous aide comment ? demandes-tu.<br />
      - Tu pourrais peut-être commencer par faire délivrer Fandrean et Lasseni.<br />
      - … Qu'est-ce que vous racontez ? Il me semble qu'ils ont été délivré. Il n'y a pas si longtemps mais ils ne croupissent plus en prison.<br />
      - Nos espions ne nous ont rien dit, fait Espéride. Nous allons essayer de confirmer cette information.
    </p>

    <p>D'un claquement de doigts Espéride fait venir un mage, il est envoyé sur le champs à l'Académie dans ce but. C'est étrange que la résistance ne soit pas au courant de tout cela.</p>



  <div class="choix">
    <div class="ch" data-go="148">Continuer</div>
  </div>

</div>
