<div class="num num-1-3-148 retour-147">

  <div class="text chapter3">

    <h1>- 148 -</h1>

    <p>La journée passe et tu décides de retourner à l'Académie. On te prévient qu'il y a des espions partout et que si tu dis quoi que ce soit aux autres prophètes ils le sauront. </p>

    <p>Tu fais toi-même ta petite enquête sur Fandrean et Lasseni. Il s'avère qu'ils auraient complètement disparus. Personne ne sait où ils se trouvent. Sont-ils encore sur l'île de l'Académie ? Tu décides d'aller voir directement <span class="naorem"></span> pour en avoir le cœur net.</p>

    <p>Le prophète est assis sur la porte de la ville, à 10 mètres du sol. Il scrute les gens qui entrent et sortent de la cité lacustre.</p>

    <p>
      - Lasseni et Fandrean sont introuvables ! Tu ne sais rien à ce sujet, fais-tu visiblement énervé<span class="sf">e</span>.<br />
      - Fandre... ? Non je n'en sais rien, fait-il avec dédain. Ils ont probablement rejoint un mouvement de mages qui veut notre mort. C'est sûr qu'il vaut mieux se cacher dans ce cas.<br />
      - Tu es bien calme en parlant de complot, lui fais-tu remarquer.<br />
      - Si Arak n'était pas mort je dirai que je suis serein. Mais là j'essaie d'être concentré.
    </p>

    <p>Le prophète semble très concentré sur le pont et l'agitation des va-et-vients des gens.</p>

    <p>
      - Que fais-tu ?<br />
      - Hum… beaucoup de monde tente de rentrer avec des sorts de masques. La plupart sont d'anciens opposants qui ne veulent pas se faire repérer mais qui ne sont pas dangereux. Je vérifie surtout ceux qui ont un comportement suspect ou ceux qui ont une aura magique étrange.<br />
      - Et ? Tu as attrapé des gens suspects ?<br />
      - Et bien, pas sur ce pont, mais il y a une énergie bizarre qui s'approche : je l'ai repéré depuis quelques jours et ne vient jamais trop prêt de l'Académie. J'ai l'impression qu'il fait le tour du lac.<br />
      - Où ça ? demandes-tu.
    </p>

    <p><span class="naorem"></span> pointe un village au loin. Tu essaies de ressentir les énergies magiques que toi même tu perçois. Et il y en a une qui est différente, c'est le seul mage qui n'a pas l'air de faire appel aux forces de Soufflardent.</p>

    <p>
      - Il n'utilise pas le pouvoir de Soufflardent... t'exclames-tu.<br />
      - Oui. C'est le seul, confirme <span class="naorem"></span>.<br />
      - C'est Usaki.<br />
      - Probablement, mais je ne préfère pas tomber dans un piège de sa part comme Arak. Alors j'observe de loin. Demain j'envoie Soyos, Pasha, Mullihane et Andaelor s'occuper de lui.
    </p>

    <p>Tu as bien retenu l'information mais que vas-tu en faire ? Faut-il absolument la transmettre à Kannan ? Si tu le fais, elle sauvera probablement son général Allister. D'un autre côté maintenant que tu connais son énergie, trouver Usaki est très facile.</p>


  <div class="choix">
    <div class="ch" data-go="179">Transmettre l'information à Kannan</div>
    <div class="ch" data-go="181">Attendre la nuit pour débusquer Usaki seul<span class="sf">e</span></div>
  </div>

</div>
