<div class="num num-1-3-149 retour-125 retour-129">

  <div class="text chapter3">

    <h1>- 149 -</h1>

    <p>Votre troupe a fière allure. Bien entendu, vous n'êtes pas si nombreux mais en terme de puissance l'Académie pourrait avoir peur. Enfin si elle n'était pas dirigée actuellement par les prophètes.</p>

    <p>Vous mettez quelques jours à redescendre jusqu'au lac Déluine. Kannan t'explique que vous allez vous regrouper au port d'Eaux-Claires pour préparer l'attaque finale. Espéride, ton ancienne professeur de première année, est passée général. Elle dirige une bonne partie des troupes sur place. Mais celui qui dirige cette résistance est donc le général Allister. Il a mis au point un terrible sort de la lune que les prophètes ne peuvent pas contrer. En effet, le sort utilise une magie qui n'est pas lié à Soufflardent et les prophètes ne peuvent la manipuler. Bien entendu ils pourraient simplement s'enfuir ou esquiver le sort, mais les prophètes - ou en tout cas Arak - sont présomptueux et croient qu'ils sont immortels.</p>

    <p>Sur le chemin, Kannan, Mac Lumy et tes amis apprennent le sort à tout le monde y compris à toi. Il faut un certain niveau pour le maîtriser. De simples élèves de l'Académie n'y arriveraient pas. Heureusement les gardes de la forteresse sont tous des gens avec de solides bases en magie. Ils gardaient Soufflardent, et ils montrent bien qu'ils sont au moins aussi puissants que les meilleurs éléments de l'Académie.</p>

    <p class="middle">*</p>

    <p>Le petit port d'Eaux-Claire est à l'opposé de l'île de l'Académie sur le lac. Il est à l'est alors que l'île se trouve à l'ouest. La grande tour te semble si proche. Est-ce que les prophètes savent ce que vous êtes en train de préparer ? Espéride, habillée avec une belle armure de cuir, s'approche en vous voyant arriver.</p>

    <p>
      - Je vois que cette mission a porté ses fruits ! fait-elle satisfaite.<br />
      - Affirmatif, répond Kannan. En plus des gens de la forteresse, je ramène aussi un<span class="sf">e</span> ancien<span class="sf">ne</span> élève.<br />
      - QU...Whoa ?! <span class="tonnom"></span> ! Ravie de te revoir !<br />
      - Tout le plaisir est pour moi, fais-tu avec modestie. Y-a-t-il eu du nouveau pendant notre trajet ?<br />
      - Direct dans le sujet ? J'aime ça, fait Espéride. Et bien Allister a recruté énormément de personnes, partout autour du lac. Nous avons aussi une dizaine d'espions à l'école. Mais j'avoue que la grande majorité des mages de l'école sont encore dirigés par les prophètes.<br />
      - Mais si on attaque… vous pensez qu'ils vont nous attaquer ? demande Mac Lumy. Après tout, ils n'ont pas vraiment envie de défendre les prophètes, si ?<br />
      - En fait, je crains qu'ils ne le fassent. Ils sont tellement persuadés que les prophètes sont des Dieux, qu'ils n'imaginent même pas qu'ils puissent être vaincus.<br />
      - Mais je voyais que vous en aviez tué un ? demandes-tu innocemment.<br />
      - C'est exact, mais les prophètes ont dit qu'il était en mission dans les terres barbares, explique Espéride. Personne ne croit notre version des faits. Mais pour le moment, tout est en place. D'après le général Allister, on n'attendait plus que vous pour lancer la grande offensive.
    </p>

  <div class="choix">
    <div class="ch" data-go="184">Continuer</div>
  </div>

</div>
