<div class="num num-1-3-15">

  <div class="text chapter3">

    <h1>- 15 -</h1>

    <p>Tu te retournes et tentes de t'enfuir à toute jambes. Tu n'entends pas Méonie te poursuivre : elle a peut être été surprise par ta décision rapide. Tu décoches un regard derrière ton épaule pour voir qu'elle est à peine 2 mètres derrière toi. Elle ne bouge pas. Et te regarde avec beaucoup de déception. Tu remarques que peu importe que tu cours : tu fais du surplace.</p>

    <p>- Cet endroit est mon espace magique, te dit Méonie. Tu ne peux aller que là où je le désire. Je peux même t'y laisser pour l'éternité si je le désire. Mais j'avoue que je m'attendais à ce que tu le remarques. <br />
      - QU.. c'est impossible ! Un sort comme cela ne peut pas exister.<br />
      - Les forces que Soufflardent m'a données me le permettent. Et maintenant, désolée, mais je dois en finir.
    </p>

    <p>Méonie sort un long bâton des ténèbres et te touches le crâne. Tu plonges alors dans un sommeil profond… la dernière chose que tu auras vu est le visage sans sentiment de Méonie. Tu ne te réveillera jamais de ce sommeil magique. L'aventure s'achève là pour toi.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>

</div>
