<div class="num num-1-3-150 retour-128">

  <div class="text chapter3">

    <h1>- 150 -</h1>

    <p>Tu laisses tomber Ymir et Zaïra et part sans te retourner vers l'Académie. Il faut à tout prix que tu sauves Lasseni et Fandrean. Et si personne ne t'aide tant pis.</p>

    <p>Zaïra tente bien de te retenir mais Ymir lui fait signe de te laisser partir. Peut-être que dans le fond, ils apprécient que quelqu'un se soucie de leur famille. Mais une chose est sûre, tu es incroyablement déçue d'eux. Ils étaient tes idoles.</p>

    <p class="middle">*</p>

    <p>Tu rentres par le grand pont, dans la cité de l'Académie. Toujours en colère. Tu ne sais pas exactement où Fandrean et Lasseni sont mais ils devraient être en prison. En tout cas Fandrean, pour Lasseni tu ne sais pas vraiment. Et l'Académie n'en possède qu'une seule pour les mages : dans les sous-sols de l'école.</p>

    <p class="av-populaire">
      Alors que tu réfléchissais à une méthode pour rentrer dans l'école sans te faire remarquer, tu tombes sur Rodolphe - ton ami d'enfance. Il devait justement passer du ravitaillement aux cuisines de l'école. Il te propose de l'accompagner. Tu as d'abord hésité car tu ne veux pas mettre ton ami en danger mais c'est tout de même la meilleure solution pour toi. Vous rentrez donc par la porte de service et tu l'aides à porter les fruits et légumes de son père jusqu'au cuisine. Là, tu le remercies encore de son aide et le laisse.
    </p>
    <p class="av-pas-populaire">
      Tu te dis que tu vas passer par la porte de service de l'école : là où tous les serviteurs non-mages rentrent. Tu attends que l'un d'entre eux sortent et lance un sort de masque, de façon à ressembler à la personne venant de sortir. Puis tu frappe à la porte.<br />
      - Bonjour, fais-tu maladroitement, oui j'ai oublié un parchemin que je devais livrer...<br />
      - Ok Malla, le jour où tu n'oubliera rien c'est pas encore aujourd'hui. Une vraie tête en l'air.<br /><br />
      C'était aussi facile que tu l'espérais.
    </p>

    <p>L'accès aux sous-sols de l'école est gardé. Tu sais que les gardiens sont des mages spécialement entrainés pour réduire à néant les pouvoirs magiques. Ils ont toutes sortes de sorts et d'artefacts pour ça. Y aller sans un plan bien précis serait certainement très compliqué. Peut-être que le plus simple est d'abord de trouver Lasseni. Après tout, elle pourra certainement t'aider à délivrer son frère grâce à ses pouvoirs.</p>

  <div class="choix">
    <div class="ch" data-go="151">Continuer</div>
  </div>

</div>
