<div class="num num-1-3-151 retour-150">

  <div class="text chapter3">

    <h1>- 151 -</h1>

    <p>Tu interpelles un serviteur et lui demandes sans hésiter :</p>
    <p>
      - Où est-ce que je pourrai trouver Lasseni, la prophète ?<br />
      - Lasse… Ah ? La sœur de messire Fandrean ? Elle est au septième étage de la tour, elle sort rarement de sa chambre.<br />
      - Hum… Merci beaucoup.
    </p>

    <p>Le septième étage est le dernier. Celui qui était réservé aux chambres les plus luxueuses, celles des anciens mages supérieurs comme Pasha ou Soyos. Mais monter aussi haut dans la tour était aussi interdit à beaucoup de monde. Tu n'as jamais eu le droit, bien sûr de monter tout la haut. Tu espères qu'avec les prophètes au pouvoirs, cette interdiction n'a plus lieu d'être.</p>

    <p>De toute façon tu es venu<span class="sf">e</span> pour Lasseni et son frère. Tu dois prendre le risque.</p>

    <p>En grimpant les premiers étages, tu remarques quand même que plus tu montes moins il y a de serviteurs. Cela t'inquiète légèrement. Et tu décides donc de prendre encore plus de précautions. En faisant extrêmement attention, tu arrives au septième étage sans être vu<span class="sf">e</span>. Mais il y a 5 pièces, 4 en rond réparties autour d'une pièce centrale. Bien entendu, chaque prophète doit avoir sa propre chambre. Si tu ouvres la mauvaise tu risques de vraiment le sentir passer. Tu décides d'écouter délicatement chaque porte.</p>

    <p>La porte est possède un panneau avec une étoile dessus. En écoutant, tu entends quelqu'un qui fait des allers-retours dans la pièce. Il ou elle ne parle pas et semble donc seul.</p>
    <p>La porte sud possède un panneau avec la lettre M dessus. En écoutant, tu n'entends absolument aucun bruit.</p>
    <p>La porte ouest possède un panneau avec un poisson dessus. En écoutant, tu entends quelque chose. Comme un bruit de tissu qu'on froisse, mais tu n'es pas sûr<span class="sf">e</span>.</p>
    <p>La porte nord possède un panneau avec une couronne dessus. En écoutant, tu n'entends absolument aucun bruit.</p>
    <p>La porte de la pièce centrale ne possède aucun panneau, et n'a pas de fenêtre. En écoutant, tu n'entends absolument aucun bruit.</p>

  <div class="choix">
    <div class="ch" data-go="152">Ouvrir la porte EST</div>
    <div class="ch" data-go="153">Ouvrir la porte SUD</div>
    <div class="ch" data-go="154">Ouvrir la porte OUEST</div>
    <div class="ch" data-go="153">Ouvrir la porte NORD</div>
    <div class="ch" data-go="155">Ouvrir la porte CENTRALE</div>
  </div>

</div>
