<div class="num num-1-3-152 retour-151">

  <div class="text chapter3">

    <h1>- 152 -</h1>

    <p>Tu entrouvres porte qui n'est pas verrouillée. Mais bien sûr, elle grince à réveiller un mort. Une personne est assise à un bureau et se retourne en t'entendant.</p>
    <p><span class="naorem"></span> te dévisage comme s'il avait vu un fantôme.</p>
    <p>
      - Alors c'était toi l'espion qui a fait délivré tout le monde ?! Ce coup-ci je ne vais pas te rater.
    </p>

    <p>Tu ne sais pas trop ce qu'il veut dire mais tu n'as pas le temps de dire quoi que ce soit que te voilà prisonni<span class="sf">ère</span><span class="sg">er</span> dans un gigantesque cristal. Tu as beau tapé dessus de toutes tes forces rien ne se passe. <span class="naorem"></span> n'a pas l'air de rigoler, il sert le poing et le cristal se ressert sur toi. Tu te décides à lancer un sort de boule de feu pour tenter le briser mais le cristal résiste, l'explosion te fait de vilaines blessures et l'oxygène disparait.</p>

    <p>En quelques minutes tu meurs d'asphyxie.</p>

    <p>Ton aventure s'arrête là.</p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>

</div>
