<div class="num num-1-3-153 retour-151">

  <div class="text chapter3">

    <h1>- 153 -</h1>

    <p>La porte est vérouillée, personne ne répond ou ne vient ouvrir. La personne l'utilisant a dû s'absenter.</p>

    <p>La porte est possède un panneau avec une étoile dessus. En écoutant, tu entends quelqu'un qui fait des allers-retours dans la pièce. Il ou elle ne parle pas et semble donc seul.</p>
    <p>La porte sud possède un panneau avec la lettre M dessus. En écoutant, tu n'entends absolument aucun bruit.</p>
    <p>La porte ouest possède un panneau avec un poisson dessus. En écoutant, tu entends quelque chose. Comme un bruit de tissu qu'on froisse, mais tu n'es pas sûr<span class="sf">e</span>.</p>
    <p>La porte nord possède un panneau avec une couronne dessus. En écoutant, tu n'entends absolument aucun bruit.</p>
    <p>La porte de la pièce centrale ne possède aucun panneau, et n'a pas de fenêtre. En écoutant, tu n'entends absolument aucun bruit.</p>

  <div class="choix">
    <div class="ch" data-go="152">Ouvrir la porte EST</div>
    <div class="ch" data-go="154">Ouvrir la porte OUEST</div>
    <div class="ch" data-go="153">Ouvrir la porte NORD</div>
    <div class="ch" data-go="155">Ouvrir la porte CENTRALE</div>
  </div>

</div>
