<div class="num num-1-3-154 retour-151">

  <div class="text chapter3">

    <h1>- 154 -</h1>

    <p>Tu entrouvres la porte délicatement et voit que quelqu'un se repose dans son lit. Tu n'arrives pas à voir vraiment qui c'est. Alors tu te faufiles délicatement jusqu'à lui ou elle tout en observant la fenêtre. Au cas où, tu pourrais sauter par là et lancer un sort de "chute ralentie".</p>

    <p>Mais tu n'auras pas besoin : c'est bien Lasseni qui est endormie là. Tu la réveilles délicatement en mettant un doigt sur tes lèvres pendant qu'elle se frotte les yeux.</p>

    <p>
      - Qu... <span class="tonnom"></span> ? Qu'est-ce que tu fais là ? fait-elle surprise.<br />
      - Je viens te délivrer, j'avoue qu'avec tes pouvoirs je ne sais pas ce que tu fais encore ici.<br />
      - Tu… tu ne sais pas ce qu'ils ont promis de faire à mon frère si je pars. Ils m'obligent à contrôler les mages qui se rebellent… j'en peux plus.<br />
      - Et Fandrean ? Où est-il ? Si je le délivre tu pourras partir, non ?<br />
      - Je ne sais pas. Ils l'ont enfermé dans une prison lointaine. C'est tout ce que je sais.
    </p>

    <p>Cela n'arrange pas tes affaires. Mais tu dois trouver un moyen d'aider Lasseni. Elle ne peut compter sur personne d'autre.</p>

    <p>
      - Parmi les prophètes, qui est au courant de l'endroit où se trouve ton frère ? demandes-tu.<br />
      - <span class="naorem"></span> et Méonie doivent le savoir tous les deux. Arak devait le savoir aussi mais il est mort parait-il. Tu… tu ne comptes quand même pas leur demander de libérer mon frère ? Je te préviens, ils tiennent Usaki responsable de la mort de Soufflardent mais vous êtes aussi sur leur liste noire.<br />
      - Avec un sort de "masque" je pourrai peut-être leur soutirer l'information. En qui ils ont confiance ?<br />
      - Qui heu… je ne sais pas trop j'ai l'impression qu'ils se méfient de tout le monde, surtout <span class="naorem"></span>. Mais je pense qu'ils pourraient avoir confiance en Soyos ou Esteban.<br />
      - Esteban ? demandes-tu, ignorant de qui il s'agit.<br />
      - C'est le nouveau chef de leur police magique, il est grand et porte une robe rouge avec des flammes brodées dessus. Si tu cherches <span class="naorem"></span>, il est dans la chambre avec une étoile dessus. La chambre de Méonie c'est celle avec un "M". Mais elle est rarement là, tu la trouveras plus facilement en ville… vers le port.
    </p>

    <p>Tu notes tout cela dans ta tête. Et décides avant toute chose d'essayer de trouver cet Esteban pour savoir quelle tête il a. Tu laisses Lasseni en lui promettant de revenir la voir et descend les escaliers quatre à quatre le plus discrètement possible.</p>

    <p>En arrivant en bas, un homme te prenant pour un serviteur te demande d'aller lui chercher un verre de vin aux cuisines. Il a une belle robe rouge bardée de flammes rouges. On peut dire que tu n'auras pas mis longtemps pour le trouver. Bien entendu, tu lui dis que tu vas t'occuper de son verre, et part en direction des cuisines.</p>

    <p>Maintenant il te faut décider qui interroger et quelle apparence prendre.</p>

  <div class="choix">
    <div class="ch" data-go="190">Interroger <span class="naorem"></span> avec l'apparence de Soyos</div>
    <div class="ch" data-go="191">Interroger <span class="naorem"></span> avec l'apparence d'Esteban</div>
      <div class="ch" data-go="192">Interroger Méonie avec l'apparence de Soyos</div>
    <div class="ch" data-go="193">Interroger Méonie avec l'apparence d'Esteban</div>
  </div>

</div>
