<div class="num num-1-3-155 retour-151">

  <div class="text chapter3">

    <h1>- 155 -</h1>

    <p>La porte s'ouvre. Tu es visiblement dans la grande salle de repos du conseil de magie. Beaucoup de belles peintures, des sculptures, un beau sofa et une bibliothèque magnifique. Il y a également un pupitre pour que les mages puissent faire les enluminures pour leurs parchemins.</p>

    <p>Tout cela est bien joli mais cela ne t'intéresse pas plus que cela. Quelle porte ouvrir ?</p>

    <p>La porte est possède un panneau avec une étoile dessus. En écoutant, tu entends quelqu'un qui fait des allers-retours dans la pièce. Il ou elle ne parle pas et semble donc seul.</p>
    <p>La porte sud possède un panneau avec la lettre M dessus. En écoutant, tu n'entends absolument aucun bruit.</p>
    <p>La porte ouest possède un panneau avec un poisson dessus. En écoutant, tu entends quelque chose. Comme un bruit de tissu qu'on froisse, mais tu n'es pas sûr<span class="sf">e</span>.</p>
    <p>La porte nord possède un panneau avec une couronne dessus. En écoutant, tu n'entends absolument aucun bruit.</p>
    <p>La porte de la pièce centrale ne possède aucun panneau, et n'a pas de fenêtre. En écoutant, tu n'entends absolument aucun bruit.</p>

  <div class="choix">
    <div class="ch" data-go="152">Ouvrir la porte EST</div>
    <div class="ch" data-go="153">Ouvrir la porte SUD</div>
    <div class="ch" data-go="154">Ouvrir la porte OUEST</div>
    <div class="ch" data-go="153">Ouvrir la porte NORD</div>
  </div>

</div>
