<div class="num num-1-3-156 retour-128">

  <div class="text chapter3">

    <h1>- 156 -</h1>

    <p>A contrecœur tu acceptes de laisser tomber Lasseni et Fandrean pour le moment. Mais tu espères quand même pouvoir les aider à un moment ou l'autre.</p>

    <p>Ymir explique donc sa stratégie. Lui et Zaïra sont donc déjà allés voir les prophètes pour leur dire que leur corps aller tomber en poussière sous l'effet de la puissance de Soufflardent qui est en eux. Ils leur ont dit que la seule solution était de rendre leur pouvoir à la planète. <span class="naorem"></span> semble complètement dans le déni et ne l'acceptera jamais. Mais la seconde prophète pourrait accepter.</p>

    <p>Lasseni sera la dernière à convaincre mais bien entendu, les deux mages légendaires n'ont pas pu la voir comme ils te l'ont déjà dit.</p>

    <p>
      - Nous allons donc commencer par réduire leur puissance en faisant abandonner ses pouvoirs à cette Méonie. Une fois seul, <span class="naorem"></span> devrait être à notre portée pour être maitrisé. Voici des artefacts qu'on a récupéré de la forteresse de la lune. On les utilisait pour endormir Soufflardent. Je pense que si vous arrivez à en poser un seul sur un prophète il tombera, endormi sur l'instant.<br />
      - Vous êtes sûr ? demandes-tu. Soufflardent avait besoin de plusieurs dizaines de ces artefacts pour s'endormir, non ?<br />
      - Oui, mais là ce ne sont que des humains. Pas un dragon millénaire. Fais-nous confiance, t'assures Zaïra.
    </p>

    <p>Tu prends avec toi ce précieux artefact. Ymir vous demande de vous séparer pour atteindre le quartier du port de l'Académie. C'est là que Méonie a l'habitude de rester en journée. C'est lui qui contactera en premier la prophète. Mais vous serez là en renfort. Si la situation devient compliquée chacun aura l'objectif de poser son artefact sur Méonie à n'importe quel prix.</p>

    <p>Vous partez chacun à votre tour. Zaïra te dit que tu partiras à la fin, mais de faire attention. Ils entreront tous avec un bracelet rouge et chacun avec un sort de masque. Si vous voulez être sûr que vous parlez à quelqu'un du groupe : vérifiez qu'il porte un bracelet rouge.</p>

    <p>Finalement, 5 minutes après le départ de Zaïra, tu pars à ton tour en direction de l'Académie.</p>

  <div class="choix">
    <div class="ch" data-go="157">Continuer</div>
  </div>

</div>
