<div class="num num-1-3-157 retour-156">

  <div class="text chapter3">

    <h1>- 157 -</h1>

    <p>Le pont menant à l'île est bondé de gens, dans les deux sens. L'arrivée des prophètes au pouvoir n'a pas changé grand chose à l'activité. Tu es sous ton sort de masque et quiconque te regarde ne voit qu'une jeune femme du nord à la peau grise.</p>

    <p>En passant par la grande entrée de la ville, tu surprends une conversation.</p>

    <p>
      - La police magique a encore arrêté des mages renégats qui tentaient d'entrer en ville, dit quelqu'un.<br />
      - Encore ? J'ai du mal à croire qu'il y a autant de mages renégats que ça à vouloir venir ici. Surtout en ce moment, lui répond son interlocuteur.
    </p>

    <p>Tu espère fortement qu'il ne s'agit pas d'Ymir ou Zaïra en tout cas. Mais ces deux là savent normalement se défendre. Ce que tu ne savais pas c'est qu'il y avait maintenant une police magique. Tu restes instinctivement beaucoup plus prudent<span class="sf">e</span> et tu continues ton chemin jusqu'au port.</p>

  <div class="choix">
    <div class="ch" data-go="158">Continuer</div>
  </div>

</div>
