<div class="num num-1-3-158 retour-157">

  <div class="text chapter3">

    <h1>- 158 -</h1>

    <p>Les deux mages légendaires t'ont dit qu'il faudrait attendre au moins le lendemain à midi. C'est le temps qu'ils vont donner à Méonie pour venir à leur rendez-vous. En attendant tu devras être sur tes gardes.</p>

    <p>Le quartier du port semble plus populaire qu'avant. La "police magique" rode dans le coin mais les gens du coin ne semblent pas apprécier les prophètes. C'est certainement quelque chose à retenir et dont il faudra profiter. Il y a plus d'alliés que d'ennemis ici.</p>

    <p>Tu te trouves une petite chambre pour la nuit. Une habitante loue certaines pièces de sa maison, trop grande pour elle toute seule. Ce n'est pas une auberge et du coup tu peux même te reposer tranquillement en verrouillant derrière toi. Tu as trouvé l'endroit idéal pour passer le temps jusqu'à demain. Le soleil se couche rapidement et tu t'endors sans manger.</p>

    <p class="middle">*</p>

    <p>Le lendemain tu te réveilles tard mais suffisament en avance du rendez-vous prévu. La propriétaire te force à avaler un petit-déjeuner maison qui est bon mais trop copieux. Tu te forces à finir pour ne pas la contrarier et tu repars au port.</p>

    <p>Le rendez-vous est dans une auberge mais on t'a dit de rester positionné<span class="sf">e</span> juste dehors au cas où. En gardant toujours un œil sur les évènements à l'extérieur de l'auberge. Et suivre ce qu'il se passe à l'intérieur en même temps. Tu ne sais vraiment pas comment tu vas concilier les deux : en te mettant à une fenêtre tu vas certainement paraître suspect<span class="sf">e</span>.</p>

    <p>Et puis tu te souviens que tu ne te rappelles même plus à quoi ressemble cette Méonie. La reconnaitras-tu en la voyant ?</p>

    <p>En fait tu te tracasses pour rien. En effet, une grande clameur se fait entendre sur la petite place où tu te trouves. Les gens se regroupent pour saluer quelqu'un. </p>

    <p>
      - Dame Méonie ! crie quelqu'un.<br />
      - Merci, merci. fait un autre en se mettant à plat ventre.
    </p>

    <p>Méonie distribue argent, nourriture et guérit des malades en un tour de main. En fait elle est très aimée des gens de l'île et tu ne t'y attendais pas du tout. Tout le monde disait qu'ils étaient pire que la peste alors te voilà bien surpris<span class="sf">e</span>.</p>

    <p>Après quelques acclamations elle rentre dans l'auberge du rendez-vous. Ymir est certainement en train de l'attendre dedans.</p>

  <div class="choix">
    <div class="ch" data-go="195">Se mettre à une fenêtre pour surveiller l'extérieur et l'intérieur en même temps</div>
  </div>

</div>
