<div class="num num-1-3-159 retour-133">

  <div class="text chapter3">

    <h1>- 159 -</h1>

    <p>
      - Comment vas-tu faire pour délivrer Lass' ? demandes-tu à Mac Lumy. Elle est enfermée au sous-sol je crois, mais elle est gardée.<br />
      - Je vais directement aller parler avec les prophètes. Tu peux m'organiser un rendez-vous ? fait le mage déterminé.
    </p>

    <p>Tu ne pensais pas à ça mais tu te dis que tu seras là pour l'aider au cas où. Il ne va rien tenter d'illégal. Mais tu ne sais pas trop comment <span class="naorem"></span> va réagir.</p>

    <p>Ainsi tu amènes avec toi Mac Lumy jusqu'au septième étage de la tour. Tu te dis que tu iras dormir plus tard, tu veux savoir ce qu'il va se passer. Tu fais attendre Mac dans la salle de repos du conseil de magie. Ou plutôt la salle de repos des prophètes désormais. Et tu vas chercher les deux autres prophètes pour qu'ils puissent discuter avec Mac Lumy. <span class="naorem"></span> traine un peu la patte mais te suis.</p>

    <p>
      - Bon… qui veut nous parler ? fait le prophète en rentrant dans la pièce. ... Attend, je l'ai déjà vu lui… Il a essayé de nous arrêter à la forteresse de la lune, non ?<br />
      - Mac Lumy, mage de l'Académie. Oui j'étais à la forteresse de la lune.<br />
      - Mac… fais-tu en te prenant le visage dans les mains.<br />
      - Et bien, t'as du courage de venir nous voir après ce que tu as fait ?<br />
      - Si je suis venu, c'est pour vous demander de libérer Lasseni. … Et son frère Fandrean aussi, fait ton ami sans se démonter.<br />
      - Lasseni et Fandrean ? fait <span class="naorem"></span> amusé. Et pourquoi on ferait ça ?<br />
      - Moi ça ne me dérange pas, dit Méonie désinvolte. Libérons-les.<br />
      - Qu... Quoi !? Méonie ! Arrêtes de toujours prendre des décisions trop vite comme ça et réfléchit un peu. Ces types pourraient mener une révolte contre nous ! Après tout, ils sont revenus à l'Académie pour faire tomber l'ancien conseil de magie à la base.<br />
      - On sera mieux vu par la population en les libérant qu'en les laissant croupir en prison, dit simplement Méonie. Tous les jours des gens viennent me voir pour s'en plaindre.
    </p>

    <p>Méonie et <span class="naorem"></span> continuent de se chamailler. La première reste calme et légèrement blasée, le second ne semble pas vouloir lâcher ses deux prisonniers.</p>

  <div class="choix">
    <div class="ch" data-go="161">Je suis pour les libérer également : nous sommes donc 2 contre 1</div>
    <div class="ch" data-go="160">Laisser Mac Lumy gérer la libération de Lasseni tout seul</div>
  </div>

</div>
