<div class="num num-1-3-16">

  <div class="text chapter3">

    <h1>- 16 -</h1>

    <p>Tu décides de ne pas lui laisser le temps de se préparer plus que ça et d'envoyer directement une attaque magique sur ton ennemi.</p>
    <p>Tu concentres au maximum ton énergie pour faire une "boule de feu", comme Fandrean te l'a appris pendant le trajet, mais ton sort explose devant Méonie avant même de l'atteindre.</p>
    <p>- Cet espace est mon monde, te dit-elle. J'ai le pouvoir de plier l'espace et le temps selon mon bon vouloir. Tes sorts n'ont absolument aucune puissance ici.</p>

    <div class="magie-noire2">
      <p>Aucun pouvoir ? La solution ne peut pas être ce qu'elle prétend. Même Soufflardent s'est fait endormir par les artefacts d'Ymir et Zaïra. Cette fois tu concentres ton pouvoir si intensément qu'il brille autour de toi. Cet espace est magique, tu dois pouvoir le briser. Et tu décides alors de lancer toutes tes forces dans les ténèbres qui t'entourent. Tu plonges tes mains dedans comme s'il s'agissait d'une flaque de boue et tu décharges tout ce que tu peux dedans en espérant que Méonie ne puisse contenir son sort si tu y ajoutes ta propre énergie.</p>

      <p>Des arcs électriques se créent autour de toi. Méonie semble surprise par la tournure des événements.</p>

      <p>- C'est inutile. Grâce aux pouvoirs de Soufflardent ma maîtrise de la magie est l'équivalente de celle d'un Dieu. Même les mages supérieurs ne peuvent s'y mesurer, fait-elle stoïque.</p>

      <p>Mais les ténèbres commencent à se distordre, à certains endroits tu commences à voir la salle du conseil dans laquelle tu étais juste avant.</p>

      <p>- Qu... qu'est-ce que tu as fait ? fait Méonie en perdant un peu son calme. Ta magie est tellement faible comment peux-tu… ?</p>

      <p>Tu ne sais pas ce qu'il se passe mais tu décides d'essayer de la faire douter un peu plus.</p>

      <p>- Hey ! Je croyais que tu maitrisais cet endroit telle une déesse ? fais-tu <span class="sf">moqueuse</span><span class="sg">moqueur</span>. Pffu... quelle déesse de pacotille.</p>

      <p>Méonie te regarde en écarquillant les yeux et semble énervée. Au moment où les distorsions des ténèbres s'accentuent, Méonie lâche un crie qui te fait sursauter et l'espace se casse. Les ténèbres s'envolent comme une fumée noire et tu reviens dans la salle du conseil au milieu d'un bataille, ou plutôt ce qu'il en reste. Tu es <span class="sf">la seule</span><span class="sg">le seul</span> debout dans ton camp. Les prophètes et les quatre mages supérieurs te font face.</p>

      <p>- Hey ben Méonie, tu en as laissé un<span class="sf">e</span> sortir de ton espace ? dit <span class="naorem"></span>. Ce n'est pourtant pas l<span class="sg">e</span><span class="sf">a</span> plus puissant<span class="sf">e</span>.<br />
        - … <span class="sf">Elle</span><span class="sg">Il</span> a ... une magie inconnue. Quelque chose qui ne vient pas de Soufflardent.<br />
        - Vraiment ? Dans ce cas on va devoir l'étudier un peu.</p>

      <p>Tu ne vois aucune échappatoire face à ces monstres de magie et de toute façon tu n'as presque plus d'énergie. Méonie sort un bâton de derrière son dos et lance un flash lumineux qui te rends inconscient<span class="sf">e</span>.</p>

    </div>
    <div class="magie-noire">
      <p>Impossible que ça se finisse comme cela. Tu te jettes sur Méonie en lançant un double sort de main de flammes. Mais en t'approchant, tes flammes s'essoufflent comme si Méonie avait soufflé dessus pour éteindre une bougie. Le temps commence à ralentir. Tu as l'impression de vivre tes derniers instants alors que la prophétesse lève sa main pour lancer un sort. Mais un halo rouge sort de ta poche pour t'enrober et tu te sens aspiré<span class="sf">e</span> quelque part.</p>

      <p>Une lumière rouge t'entoure et tu te sens transporté<span class="sf">e</span> très vite ailleurs. La vitesse est intense. Tu ne vois absolument rien de ce qu'il se passe à l'extérieur. En passant la main dans ta poche tu vois un artefact étrange. Il n'est pas à toi mais il t'a certainement sauvé.</p>

      <p>Après quelques minutes de voyage la vitesse se réduit et la lumière se fait moins intense. Tu commences à voir ce qui t'entoure. Le sol n'est pas loin de toi et tu y arrives la tête la première. La chute soulève un nuage de poussière. Il fait nuit et te voilà au milieu d'un village aux murs blancs. Alors que tu te demandes où tu te trouves, une voix familière t'accueille :<br />
        - <span class="tonnom"></span>, je te souhaite la bienvenue sur la LUNE ! te fait Leng Fao.<br />
        - Hein ? Qu'est-ce qu'il se passe ? Je suis où ?
      </p>

      <p>Pour seule réponse Leng Fao te montre le ciel du doigt et tu remarques une boule bleue et blanche. Le ciel est complètement noir, et des habitants commencent à sortir des habitations pour venir te voir de plus près. En un rien de temps te voilà entouré<span class="sf">e</span> de noctules. Oui, te voilà arrivé<span class="sf">e</span> sur la lune dans un village de noctules.</p>
    </div>
    <div class="magie-verte">
      <p>Impossible que ça se finisse comme cela. Tu te jettes sur Méonie en lançant un double sort de main de flammes. Mais en t'approchant tes flammes s'essoufflent comme si Méonie avait soufflé dessus pour éteindre une bougie. Le temps commence à ralentir. Tu as l'impression de vivre tes derniers instants alors que la prophétesse lève sa main pour lancer un sort. Mais un halo rouge sort de ta poche pour t'enrober et tu te sens aspiré<span class="sf">e</span> quelque part.</p>

      <p>Une lumière rouge t'entoure et tu te sens transporté<span class="sf">e</span> très vite ailleurs. La vitesse est intense. Tu ne vois absolument rien de ce qu'il se passe à l'extérieur. En passant la main dans ta poche tu vois un artefact étrange. Il n'est pas à toi mais il t'a certainement sauvé.</p>

      <p>Après quelques minutes de voyage la vitesse se réduit et la lumière se fait moins intense. Tu commences à voir ce qui t'entoure. Le sol n'est pas loin de toi et tu y arrives la tête la première. La chute soulève un nuage de poussière. Il fait nuit et te voilà au milieu d'un village aux murs blancs. Alors que tu te demandes où tu te trouves, une voix familière t'accueille :<br />
        - <span class="tonnom"></span>, je te souhaite la bienvenue sur la LUNE ! te fait Leng Fao.<br />
        - Hein ? Qu'est-ce qu'il se passe ? Je suis où ?
      </p>

      <p>Pour seule réponse Leng Fao te montre le ciel du doigt et tu remarques une boule bleue et blanche. Le ciel est complètement noir, et des habitants commencent à sortir des habitations pour venir te voir de plus près. En un rien de temps te voilà entouré<span class="sf">e</span> de noctules. Oui, te voilà arrivé<span class="sf">e</span> sur la lune dans un village de noctules.</p>
    </div>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch magie-noire2" data-go="22">Te réveiller</div>
    <div class="ch magie-noire" data-go="39">Continuer</div>
    <div class="ch magie-verte" data-go="39">Continuer</div>
  </div>

</div>
