<div class="num num-1-3-160 retour-159">

  <div class="text chapter3">

    <h1>- 160 -</h1>

    <p>
      - Hem, hem. fait Mac Lumy en se raclant la gorge pour reprendre la parole. Je pense que vous devez les libérer. De toute façon la résistance sera beaucoup plus problématique pour vous que Fandrean et Lasseni.<br />
      - La résistance ? fait <span class="naorem"></span>. C'est qui ça la résistance.<br />
      - Sans compter Usaki qui a déjà tué l'un des votres, ajoute le jeune mage sans voir les signes que tu lui fais pour qu'il se taise.<br />
      - Usaki... Comment tu es au courant de tout ça toi ? lui demande <span class="naorem"></span>.<br />
      - Je fais partie de...
    </p>

    <p>Mais Mac Lumy ne peut pas finir sa phrase. Tu lui as lancé un sort pour qu'il ne puisse plus parler et qu'il ne s'attire pas d'ennuis.</p>

    <p>
      - <span class="tonnom"></span>, laisse-le parler. Ce type, il sait où est Usaki j'ai l'impression.<br />
      - Non, laisse tomber, Usaki je viens de l'affronter justement et il a encore réussi à s'enfuir on ne sait où.
    </p>

    <p>La situation commence à vous échapper... Méonie semble très méfiante aussi.</p>

    <p>
      - <span class="tonnom"></span>, tu n'es pas venue nous rejoindre pour nous espionner quand même, dit la petite prophétesse ?<br />
      - Non je vous le jure. Je suis totalement des votres.<br />
      - Alors tue ce mage pour nous le prouver, fait <span class="naorem"></span>. Il fait partie de ceux qui nous ont affronté à la forteresse de la Lune.<br />
      - Hein !? Non je ne peux pas faire ça !<br />
      - Fais-le !
    </p>

  <div class="choix">
    <div class="ch  def-pas-peureux" data-go="202">Attaquer Méonie et <span class="naorem"></span> pour t'enfuir avec Mac Lumy</div>
    <div class="ch" data-go="203">Tuer Mac Lumy</div>
  </div>

</div>
