<div class="num num-1-3-161 retour-159">

  <div class="text chapter3">

    <h1>- 161 -</h1>

    <p>
      - C'est vrai : deux contre un, acquiesce Méonie. <span class="naorem"></span>, tu dois accepter notre décision.<br />
      - QU... mais c'est son amie. <span class="sf">Elle</span><span class="sg">Il</span> ne devrait même pas être autorisé<span class="sf">e</span> à voter, se plaint l'autre prophète.
    </p>

    <p><span class="naorem"></span> grommelle dans sa barbe mais vous accorde la libération de Lasseni et Fandrean. Tu sautes de joie en faisant une accolade à Méonie et Mac Lumy.</p>

    <p>En redescendant aux sous-sols avec ton ami, tu dois lui avouer que tu n'y croyais pas mais que tu admires son courage.</p>

    <p>Les gardiens vous laissent passer, bien entendu, et semblent un peu surpris quand tu leur dis de libérer les deux mages. Quelques minutes plus tard, ils ressortent avec tes deux amis. Mac Lumy saute dans les bras de Lasseni.<p>

    <p>
      - Ha ha, je suis tellement content de te revoir ! fait le mage encore plus joyeux que d'habitude.<br />
      - Ah ? Moi aussi Mac je suis contente tu sais, lui répond la mage qui semble bien fatiguée.<br />
      - C'est vous qui nous avez libéré ? demande Fandrean bien amoché par des tortures certainement.<br />
      - Heu, c'est surtout Mac, fais-tu humblement. Je n'ai pas fait grand chose. C'est lui qui a eu plus de courage que moi.<br />
      - On l'a fait ensemble ! s'écrie Mac. Sans toi, je n'aurai rien pu faire.
    </p>

    <p>Et vous repartez tous les quatre, sortez de l'école pour aller dormir dans une auberge du port. Quartier populaire où Fandrean possède beaucoup d'alliés. Tu prends soin de guérir les blessures du mage au préalable pour ne pas choquer la population. Il suffirait juste d'une étincelle pour que les gens attaquent les prophètes même s'ils n'ont aucun pouvoir. Et ce serait un bain de sang.</p>

  <div class="choix">
    <div class="ch" data-go="204">Continuer</div>
  </div>

</div>
