<div class="num num-1-3-162 retour-137">

  <div class="text chapter3">

    <h1>- 162 -</h1>

    <p>
      - Ecoute, on verra ça plus tard, te dit Kannan. Pour le moment ce n'est pas Lasseni notre objectif. Mais je voulais que tu comprennes ce qu'on allait faire.<br />
      - Oh j'ai bien compris maintenant, répliques-tu. Je vous aiderai à contrer les prophètes mais je te préviens que vous n'avez pas intérêt à faire du mal à Lasseni.<br />
      - Ou sinon… ? demande Kannan en attendant que tu finisses sa phrase.<br />
      - Ou sinon… je ne sais pas. Je suppose que je l'aiderai.<br />
      - Ha ha ha ! rigole Kannan. Ben dans ce cas ça va, je vois que tu es toujours aussi naï<span class="sf">ve</span><span class="sg">f</span>.
    </p>

    <p>Tu n'as pas vraiment envie de rire. Si Kannan ne veut pas comprendre ta détermination, tant pis. Elle sera surprise au moment où tu te rangeras du côté de Lasseni.</p>

  <div class="choix">
    <div class="ch" data-go="164">Continuer</div>
  </div>

</div>
