<div class="num num-1-3-163 retour-137">

  <div class="text chapter3">

    <h1>- 163 -</h1>

    <p>
      - Bien, fait Kannan. Si tout le monde comprends bien le but de la résistance, tout va bien alors.
    </p>

    <p>Tu es bien obligé<span class="sf">e</span> de te ranger du côté de Kannan. Lasseni pourrait devenir dangereuse avec ses pouvoirs. Et les prophètes ont démontré qu'ils pouvaient vraiment chambouler le monde entier.</p>

  <div class="choix">
    <div class="ch" data-go="164">Continuer</div>
  </div>

</div>
