<div class="num num-1-3-164 retour-162 163">

  <div class="text chapter3">

    <h1>- 164 -</h1>

    <p>
      Anselm retourne à Eaux-Claires informer Espéride de votre entretien avec Mullihane. Cette dernière s'attendait à ce que la mage supérieure demande à récupérer son ancienne position au sein de l'Académie. Mais puisqu'elle se propose de piéger Méonie sans contrepartie, vous allez en profiter.
    </p>

    <p>Alors que vous attendez de nouvelles informations pour agir, attablés à une auberge, un jeune garçon vient vous voir :<br /><br />
      - Kannan ? dit-il<br />
      - C'est moi, répond ton amie.
    </p>

    <p>Le garçon dépose un papier dans sa main et repart sans rien dire.</p>

    <p>
      - Bon, on va agir. Mullihane va nous permettre d'approcher Méonie.<br />
      - Quel est le plan ? demande Mac Lumy.<br />
      - Je m'occuperai de lancer le sort, explique Kannan, vous serez en support pour attirer l'attention du prophète si ça se passe mal. Il nous faut aussi quelqu'un à l'extérieur au cas où cela se passerait mal, pour faire le rapport à Espéride. Mac, Haziko, <span class="tonnom"></span>, Panacle : lequel d'entre vous veut ce poste ? C'est le plus sûr.
    </p>

    <p>Vous vous regardez tous à tour de rôle. Haziko semble hésitante. Elle tremble un peu à l'idée d'affronter un prophète. Mais pour le moment elle ne dit rien.</p>

  <div class="choix">
    <div class="ch" data-go="165">Haziko ? Tu veux rester à l'extérieur ?</div>
    <div class="ch" data-go="166">Je prends ce poste, dis-tu.</div>
  </div>

</div>
