<div class="num num-1-3-165 retour-164">

  <div class="text chapter3">

    <h1>- 165 -</h1>

    <p>
      - Heu… si personne n'en veut, ok, dit-elle en faignant d'accepter à contrecoeur.
    </p>

    <p>Tu lui souris pour la remercier, et elle te fait un petit signe de tête pour faire de même. Elle restera à l'auberge et lancera des sorts de "vision de rêve" à interval régulier si vous ne revenez pas avant la nuit.</p>

    <p>Mullihane vous donne rendez-vous juste après le déjeuner dans les jardins sud. Elle s'arrangera pour vous libérer l'espace, elle a prévu un entretien entre Méonie et l'un d'entre vous qu'elle fera passer pour un mage intéressé pour se joindre à la police magique des prophètes.</p>

    <p>
      - Vous attendrez que je lance le sort, dit Kannan. En aucun cas vous ne devez agir avant, compris ?<br />
      - Et quand tu lances le sort, on fait quoi ? demandes-tu.<br />
      - Il faut la coller sur place : sort de racines, glace… n'importe quoi pour qu'elle ne puisse plus bouger et encaisser mon sort.<br />
      - Entendu, faites-vous en cœur.<br />
      - Et surtout, aucune attaque au corps à corps, prévient encore Kannan. Si elle esquive le sort, si elle contre le sort ou quoi que ce soit qui n'aille pas dans notre sens : vous abandonnez tout et vous vous enfuyez. Mais surtout vous ne retournez pas à Eaux-Claires, ils ne faut pas que les prophètes puissent nous trouver, ni Espéride ni nos collègues.
    </p>

    <p>D'un signe de tête vous acquiescez. Mullihane vous fait pénétrer dans l'école une nouvelle fois et vous laisse aux jardins sud. Elle lance un sort sur les jardins pour que les gens s'en éloignent naturellement. Etant donné sa puissance, à part les prophètes, personne ne devrait venir ici.</p>

    <p>
      - Bon je vais chercher Méonie, si vous êtes prêts, vous dit Mullihane.<br />
      - Nous sommes prêts, fait Kannan en se lançant un sort de masque.
    </p>

    <p>Kannan reste à attendre sur un banc pendant que toi, Mac Lumy et Panacle êtes cachés dans des bosquets du jardin. Chacun d'un côté différent. Tu es à peu prés à 15 mètres de Kannan. Derrière toi, un petit muret surplombe le lac. Si besoin tu pourrais te jeter par là pour t'enfuir. Mac Lumy a l'emplacement le plus difficile pour s'enfuir : en direction de la tour de l'école.</p>

  <div class="choix">
    <div class="ch" data-go="207">Continuer</div>
  </div>

</div>
