<div class="num num-1-3-166 retour-164">

  <div class="text chapter3">

    <h1>- 166 -</h1>

    <p>
      - Je vais rester ici, fais-tu.<br />
      - Hum… entendu, fait Kannan. Pas d'objection ?<br />
      - Non, non, font les autres.
    </p>

    <p>Tu vas rester à l'auberge et tu lanceras des sorts de "vision de rêve" si tu n'as de nouvelles de personne avant la nuit. Tu leur souhaites bonne chance. Haziko semble encore plus stressée qu'avant. Même si Mac tente de la rassurer.</p>

    <p>Tu sais que Mullihane doit leur présenter Méonie dans les jardins sud après le déjeuner. En restant à cette auberge, et s'ils s'enfuient par la porte des serviteurs, tu devrais pouvoir les retrouver très facilement.</p>

    <p class="middle">*</p>

    <p>L'attente est longue pour toi, mais plutôt agréable. Tu prends à interval régulier une concoction au miel ou une tarte aux cerises de saison. Une simple omelette pour le déjeuner, toujours attablé<span class="sf">e</span> à la terrasse de l'auberge et sans jamais détourner le regard de la porte des serviteurs.</p>

    <p>L'heure tourne, tu n'as pas de nouvelles. Anselm revient d'Eaux-Claires un peu après et vous attendez ensemble. Toujours sans aucune nouvelle au milieu de l'après midi vous commencez à être sérieusement inquiet. Vos sorts de "vision de rêve" ne fonctionnent pas. Quelqu'un trouble votre canalisation.</p>

    <p>
      - Il parait que l'énergie magique qu'on utilise vient des prophètes, fait Anselm. Si on n'arrive pas à la canaliser cela signifie peut être que Méonie est morte ?<br />
      - Quand Arak est mort, l'énergie est retournée à la terre, non ? Et puis il reste toujours au moins deux prophètes, non ?
    </p>

    <p>Votre inquiétude se confirme quand Haziko revient seule à l'auberge en début de soirée. Elle tombe de fatigue dans les bras d'Anselm, les joues dégoulinantes de larmes.</p>

    <p>
      - Que s'est-il passé ? demandes-tu.<br />
      - C'est...c'est ma fauuuuute ! fait Haziko en pleurs. Je … je … les … ai tué !!!
    </p>

    <p>Tu fais signe à Anselm de ne pas rester là, des gens commencent à vous regarder. Vous rejoignez le bateau de la résistance pour retourner tranquillement à Eaux-Claires.</p>

    <p>Sur le chemin Haziko s'endort de fatigue contre toi. D'après ce que tu as compris, <span class="naorem"></span> accompagnait Méonie. Et Kannan a continué l'opération, certainement en espérant tuer les deux prophètes. Mais tout se passa mal. Vos autres amis et Mullihane furent victimes des deux prophètes.</p>

    <p>Alors qu'Anselm fait grise mine en manœuvrant le bateau jusqu'au port, tu ne peux retenir tes larmes en repensant à Panacle, Kannan et surtout Mac Lumy avec qui tu as partagé tes aventures.</p>

  <div class="choix">
    <div class="ch" data-go="213">Continuer</div>
  </div>

</div>
