<div class="num num-1-3-167 retour-139">

  <div class="text chapter3">

    <h1>- 167 -</h1>

    <p>
      - Je vais rendre mon pouvoir, dis-tu à Méonie. Je suis certain<span class="sf">e</span> qu'Ymir et Zaïra pourront recréer un monde meilleur avec l'aide des autres mages.<br />
      - … Et puis on ne détruira pas notre corps, fait la prophète. La seule chose qui me gène c'est qu'on n'aura pas pu s'occuper d'Usaki.
    </p>

    <p>C'est vrai, le noctule reste toujours une menace dont vous ne vous êtes pas occupé. Comment le débusquer avant de rendre vos pouvoirs et sans causer de catastrophe ?</p>

    <p>
      - <span class="naorem"></span> ne va pas abandonner ses pouvoirs. J'ai peur qu'en restant seul il ne fasse des bêtises, te dit Méonie.<br />
      - Que comptes-tu faire quand tu auras rendu tes pouvoirs ? lui demandes-tu.<br />
      - J'ai été embarqué dans cette aventure contre mon grés tu sais, commence la prophète. Je viens des terres barbares du nord. Ma famille a été massacré par les adorateurs de Soufflardent. Imp, le prêtre de Soufflardent m'a recueilli et je suis devenue à mon tour une adoratrice.<br />
      - Qu... je ne savais pas, lui dis-tu choqué<span class="sf">e</span>. Mais ne me dis pas que tu leur avais pardonné ?<br />
      - Je ne sais pas, je ne ressentais pas de haine à leur encontre malgré ce qu'ils avaient fait. Et quand Soufflardent m'a parlé dans mes rêves, il m'a réconforté. Au départ je croyais que l'Académie était, en fait, responsable de tous les maux de la terre. J'avais les idées confuses, peut-être à cause du grand dragon... je ne sais pas.
    </p>

    <p>Jamais la petite prophétesse ne t'avais encore parlé autant d'elle.</p>

    <p>
      - Mais maintenant que je suis ici, je vois que seule une poignée de mages prenait les décisions. De la même manière que chez les adorateurs. Et maintenant que je suis au pouvoir je réitère les mêmes erreurs que tout le monde. Je ne vois pas d'issue. Je ne suis pas digne des pouvoirs de Soufflardent.<br />
      - Rien qu'en disant ça, tu les mérites plus que quiconque Méonie. <br />
      - Merci, mais je pense quand même que je vais rendre mes pouvoirs. Je ne sais pas si j'aurai eu le courage de le faire si tu ne m'avais pas dit que tu allais le faire aussi. Pourquoi tu ne veux pas les garder toi ?
    </p>

  <div class="choix">
    <div class="ch def-peureux" data-go="169">Continuer</div>
    <div class="ch def-tricheur" data-go="170">Continuer</div>
    <div class="ch def-bagarreur" data-go="171">Continuer</div>
    <div class="ch def-naif" data-go="172">Continuer</div>
    <div class="ch def-parfait" data-go="173">Continuer</div>
  </div>
</div>
