<div class="num num-1-3-168 retour-139">

  <div class="text chapter3">

    <h1>- 168 -</h1>

    <p>
      - Je vais garder mes pouvoirs Méonie. Non pas que je veuille absolument tout contrôler. Mais j'en ai besoin pour contrer Usaki. Et quand Usaki sera mis hors course il faudra contrôler <span class="naorem"></span>. Il y aura aussi toujours des gens comme Soyos ou Pasha pour essayer de manipuler les gens. Je ne peux pas les laisser faire.<br />
      - Je comprends… fait timidement la prophète. Tu as certainement raison. Je vais garder mes pouvoirs, au moins pour un petit peu plus longtemps.
    </p>

    <p>Tu lui dis de ne pas s'inquiéter et que vous avez le temps avant que votre corps parte en fumée comme disaient les deux mages légendaires. Méonie acquiesce et repart dans sa chambre. Mais tout ceci te fait te dire que vous autres prophètes, êtes en fait plus fragiles qu'il n'y parait. Tu aimerais probablement reparler aux mages légendaires, en privé. C'est décidé, tu vas les chercher, ils ne doivent pas être si loin. Avec tes pouvoirs ce devrait être plus facile à faire que de retrouver Usaki qui peut se cacher avec sa magie bizarre.</p>

    <p class="middle">*</p>

    <p>Le lendemain alors que tu te réveilles un peu plus tard que d'habitude, Andaelor, le mage supérieur vient te voir :<br />
      - Bonjour <span class="tonnom"></span>, j'avais rendez-vous avec Méonie pour parler des affaires de la ville. Vous ne l'avez pas vue ?<br />
      - Hum… Elle doit être encore endormie, il est tôt, réponds-tu.<br />
      - Heu… Pas si tôt que ça en fait, retorque le mage en te jugeant un peu.
    </p>

    <p>Pour lui faire plaisir tu lui dis que tu iras voir dans sa chambre plus tard.</p>

    <p>En remontant la tour, tu toques à la porte de la prophète. Sans réponse tu rentres dans sa chambre. Méonie est en train de dormir. Mais tu as beau l'appeler elle ne se réveille pas. En t'approchant tu remarques qu'elle a la peau sombre, presque grise, comme les gens du nord. Et lui posant la main sur l'épaule, tes doigts s'enfoncent dans la cendre. Méonie s'effrite. Elle n'est plus. </p>

    <p>Tu es tellement sous le choc que tu lances un sort pour tenter de la retrouver. Cette masse de cendres ne peut pas être la personne avec qui tu parlais la veille. Mais tu dois te rendre à l'évidence. Est-ce qu'elle a subi le sort dont parlait Ymir et Zaïra ? Ou est-ce autre chose ?</p>

    <p>Tu ne sais pas mais tu vas très vite informer <span class="naorem"></span>. Ce dernier reste sous le choc pendant plusieurs minutes puis se lève d'un coup de sa chaise et tempête. Il crie à gorge déployée qu'il va tuer les deux mages légendaires. Il est fou de rage.</p>

  <div class="choix">
    <div class="ch" data-go="215">Continuer</div>
  </div>
</div>
