<div class="num num-1-3-169 retour-167">

  <div class="text chapter3">

    <h1>- 169 -</h1>

    <p>
      - Je crois que je veux rendre mes pouvoirs car j'ai peur de ce que je pourrai en faire. Depuis que je les ai, je n'ai rien pu faire de vraiment bien alors que Soufflardent m'a dit que j'étais l'équivalent d'un Dieu. Je ne me sens pas divin, alors là pas du tout. Je suis trop jeune pour une telle responsabilité, je ne connais rien de ce monde. Comment pourrai-je le diriger. J'ai peur de faire des erreurs, je suis effrayé à l'idée de devoir prendre des décisions qui pourraient faire du mal aux gens. Je suis effrayé<span class="sf">e</span> d'être humain<span class="sf">e</span> et pas un dragon comme Soufflardent. Lui ne pouvait pas faire d'erreur comme ça... ou si il en a fait une quand même.<br />
      - Laquelle ? te demande Méonie.<br />
      - Il m'a donné son pouvoir. Je ne dis pas qu'un autre aurait fait mieux que moi. Je pense qu'aucun humain ne devrait avoir un tel pouvoir.
    </p>

    <p>Méonie saute dans tes bras en te faisant un câlin. Elle a l'air touchée par tes paroles.</p>

  <div class="choix">
    <div class="ch" data-go="217">Continuer</div>
  </div>
</div>
