<div class="num num-1-3-17">

  <div class="text chapter3">

    <h1>- 17 -</h1>

    <p>Les ténèbres font aussi partis de la magie de la lune. Avec ton apprentissage de cette magie à la forteresse tu sais qu'il est dur de maintenir ce type de sort quand on y insuffle l'énergie d'une autre personne. Aussitôt tu concentres ta magie de la lune pour la lancer dans les ténèbres. L'obscurité étant totale ta magie est ici à son potentiel maximum.</p>

    <p>- Qu... qu'est-ce que tu as fait ? fait Méonie en perdant un peu son calme. Ta magie est tellement faible comment peux-tu… ?</p>

    <p>Des distorsions apparaissent très vite dans les ténèbres et le sort se brise aussitôt. Les ténèbres s'envolent comme une fumée noire et tu reviens dans la salle du conseil au milieu d'un bataille, ou plutôt ce qu'il en reste. Tu es <span class="sf">la seule</span><span class="sg">le seul</span> debout dans ton camp. Les prophètes et les quatre mages supérieurs te font face.</p>

    <p>- Hey ben Méonie, tu en as laissé un<span class="sf">e</span> sortir de ton espace ? dit <span class="naorem"></span>. Ce n'est pourtant pas l<span class="sg">e</span><span class="sf">a</span> plus puissant<span class="sf">e</span>.<br />
      - … <span class="sf">Elle</span><span class="sg">Il</span> a … une magie inconnue. Quelque chose qui ne vient pas de Soufflardent.<br />
      - Vraiment ? Dans ce cas on va devoir l'étudier un peu.</p>

    <p>Tu ne vois aucune échappatoire face à ces monstres de magie. Méonie sort un bâton de derrière son dos et lance un flash lumineux qui te rends inconscient<span class="sf">e</span>.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="22">Te réveiller</div>
  </div>

</div>
