<div class="num num-1-3-170 retour-167">

  <div class="text chapter3">

    <h1>- 170 -</h1>

    <p>
      - Comme toi j'ai l'impression de ne pas mériter ces pouvoirs. J'ai l'impression de les avoir volés. Je ne suis qu'un mensonge, une personne qui prétend être le successeur du dragon le plus puissant du monde mais qui n'arrive même pas à diriger l'Académie. Je n'arrive pas non plus à retrouver Usaki. Mes amis ne sont plus à mes côtés. Si avoir les pouvoirs de Soufflardent signifie une telle solitude alors je préfère les rendre.<br />
      - Je suis là, moi, te dit Méonie. Tu sais, je te considère comme mon ami<span class="sf">e</span>.<br />
      - Oui… toi aussi tu es mon amie. Mais tu es la seule.
    </p>

    <p>Méonie saute dans tes bras en te faisant un câlin. Elle a l'air touchée par tes paroles.</p>

  <div class="choix">
    <div class="ch" data-go="217">Continuer</div>
  </div>
</div>
