<div class="num num-1-3-171 retour-167">

  <div class="text chapter3">

    <h1>- 171 -</h1>

    <p>
      - Parfois j'ai envi d'utiliser mes pouvoirs, mais vraiment à fond. Je me dis que si je lançais la totalité de mes pouvoirs je pourrai trouver Usaki en un claquement de doigts. Mais que je détruirai tout sur mon passage. Et mes amis avec peut-être. J'ai envi de foncer dans le tas comme Arak mais je finirai comme lui alors, sans rien avoir accompli. Mon attitude n'est pas compatible avec un tel pouvoir. Il faut que je le laisse.<br />
      - Je suis pas du tout comme cela...fait Méonie. Mais au moins tu te préoccupes des autres, c'est ce que je vois.<br />
      - J'essaie.
    </p>

    <p>Méonie saute dans tes bras en te faisant un câlin. Elle a l'air touchée par tes paroles.</p>

  <div class="choix">
    <div class="ch" data-go="217">Continuer</div>
  </div>
</div>
