<div class="num num-1-3-172 retour-167">

  <div class="text chapter3">

    <h1>- 172 -</h1>

    <p>
      - Je fais confiance à Ymir et Zaïra. S'ils ont dit que nos corps aller se détruire sous le pouvoir de Soufflardent, alors je les crois. Il ne faut pas que nous tardions. Tant pis si <span class="naorem"></span> ne le voit pas. Mais je suis sûr<span class="sf">e</span> que si nous le faisons, il nous suivra finalement. Il est têtu mais il ne peut pas tout diriger tout seul.<br />
      - Hum… je ne sais pas si tu as raison mais je pense aussi que c'est trop dangereux de garder ces pouvoirs.
    </p>

    <p>Méonie te signifie d'un signe de tête qu'elle a apprécié parler avec toi.</p>

  <div class="choix">
    <div class="ch" data-go="217">Continuer</div>
  </div>
</div>
