<div class="num num-1-3-173 retour-167">

  <div class="text chapter3">

    <h1>- 173 -</h1>

    <p>
      - Je pense que Soufflardent a fait une erreur en partageant ses pouvoirs. Jamais nous ne pouvions nous entendre à quatre. J'aurai préféré recevoir la totalité de ses pouvoirs, ou rien du tout. Un personnage comme Arak était-il la bonne personne pour recevoir un tel fardeau ? Je ne pense pas. Désormais, en son absence une partie des pouvoirs de Soufflardent est retourné à la terre, nous ne pouvons donc plus contrôler parfaitement l'énergie. Notre rôle - de garder le pouvoir à ceux qui le mérite - n'est donc plus possible. Les humains peuvent puiser de l'énergie directement dans la terre sans que nous leur en donnions. Si on ne sert plus à rien : autant rendre le pouvoir nous aussi.<br />
      - Hum… je n'avais pas du tout pensé à ça, fait Méonie. Mais tu as tout à fait raison, nous sommes inutiles.
    </p>

    <p>Méonie te signifie d'un signe de tête qu'elle a apprécié parler avec toi.</p>

  <div class="choix">
    <div class="ch" data-go="217">Continuer</div>
  </div>
</div>
