<div class="num num-1-3-174 retour-145">

  <div class="text chapter3">

    <h1>- 174 -</h1>

    <p>On t'informe que Mullihane a disparu également. Des serviteurs l'auraient vu partir en bateau avec une mage.</p>

    <p class="def-bagarreur">La colère monte en toi. Sans hésiter tu pars à sa recherche. Tu connais l'aura magique de Mullihane. Avec tes pouvoirs, la retrouver sera un jeu d'enfant. <span class="naorem"></span> a beau essayer de te convaincre d'attendre un peu car ce serait peut être un piège d'Usaki. Cette fois tu ne peux pas leur pardonner. Méonie était la gentillesse incarnée.</p>
    <p class="def-pas-bagarreur"><span class="naorem"></span> est en colère mais vous vous dites que c'est peut être un coup d'Usaki. Méonie était la gentillesse incarnée et tu ne comprends pas pourquoi ils lui ont fait ça. Tu connais l'aura magique de Mullihane. Avec tes pouvoirs, la retrouver serait un jeu d'enfant.</p>

  <div class="choix">
    <div class="ch def-bagarreur" data-go="175">Continuer</div>
    <div class="ch def-pas-bagarreur" data-go="175">Tenter de trouver Mullihane</div>
    <div class="ch def-pas-bagarreur" data-go="178">Se calmer et rester avec <span class="naorem"></span></div>
  </div>
</div>
