<div class="num num-1-3-175 retour-174">

  <div class="text chapter3">

    <h1>- 175 -</h1>

    <p>Tu arrives à repérer l'aura de l'ancienne membre du conseil. Elle semble être dans un village de l'autre côté du lac. Elle n'est pas allée bien loin pour se cacher. Tu te souviens qu'elle t'avait dit qu'elle voulait te faire rencontrer une mage qui venait de ce côté là également. Peut-être que c'est seulement une coïncidence mais peut-être que c'est également leur repaire.</p>

    <p>Tu t'envoles loin au-dessus du lac, toujours énervé<span class="sf">e</span>. Tu n'arrives pas à te calmer. Et tu dis qu'il faudrait certainement raser tout l'endroit. Tu vas donner un récital d'adieu à ton ami. Ce village est sûrement infesté de terroristes. Et tu ne connais le visage que de Mullihane. Les autres personnes qui l'ont aidé à organiser le meurtre de Méonie te sont inconnues. Mais peut-être qu'Usaki est dans le coup...</p>

  <div class="choix">
    <div class="ch" data-go="176">Pulvériser tout le village à distance</div>
    <div class="ch" data-go="177">Descendre au village et trouver Mullihane</div>
  </div>
</div>
