<div class="num num-1-3-176 retour-175">

  <div class="text chapter3">

    <h1>- 176 -</h1>

    <p>En canalisant ta colère en magie, tu lances une décharge sur le village depuis les airs. Une explosion gigantesque crée un énorme trou dans la rive. Le village disparut sur le coup dans un flash lumineux aussi intense que furtif. Des blocs de pierres tombèrent dans le lac comme une pluie de grêle. Une immense vague parcourut le lac, faisant chavirer bon nombre d'embarcations.</p>

    <p>Tu restais pendant quelques minutes dans les airs, tout en essayant de reprendre ton souffle. Non pas que tu aies fait un effort formidable, mais plutôt pour reprendre tes esprits. Car tu paniques, tu viens de réaliser que tu viens de tuer tout un village. Que des gens vont avoir certainement la même réaction que toi quand tu as vu le corps de Méonie. Mais eux ne pourront pas déchainer un tel pouvoir.</p>

    <p><span class="naorem"></span> arrive un instant après.</p>

    <p>
      - Et bien… tu t'es calmé<span class="sf">e</span> ? fait le prophète.<br />
      - Je… j'ai fait une bêtise je crois… fais-tu en laissant couler de chaudes larmes.
    </p>

    <p>Tu pleures peut-être autant pour la mort de ton amie que pour ce que tu viens de faire.</p>

    <p>
      - Je vous l'avais dit : les humains doivent être mis au pas, dit <span class="naorem"></span> en te prenant dans ses bras. A partir de maintenant on va faire à ma manière.
    </p>

  <div class="choix">
    <div class="ch" data-go="221">Continuer</div>
  </div>
</div>
