<div class="num num-1-3-177 retour-175">

  <div class="text chapter3">

    <h1>- 177 -</h1>

    <p>Tu te poses en douceur et tu suis l'aura de Mullihane. Elle a l'air d'être dans une de ces maisons à toit de chaume, un peu en hauteur par rapport au lac.</p>
    <p>Pendant que tu marches dans cette direction, déterminé<span class="sf">e</span>, des villageois t'interpelles :<br /><br />
      - Hé ! Encore un prophète de mort ! Fichez le camp de chez nous ! dit un paysan l'air féroce.<br />
      - Dehors les monstres ! fait un autre.<br />
      - Allister va tous vous tuer.<br />
      - Allister ! Allister !
    </p>

    <p>De plus en plus de monde t'entoure, scandant le nom d'Allister.</p>

    <p>
      - ALLISTER ?! cries-tu alors. ET BIEN QU'IL SE MONTRE ! JE SUIS LA ! ALLISTER ! MULLIHANE ! VENEZ VOUS MESURER A MOI !
    </p>

    <p>La population se calme aussitôt, mais personne ne te répond. Au moment ou tu reprends ton chemin, une tomate vient s'écraser sur ton bras. Certains commencent à ramasser ce qu'ils ont sous la main et à te le jeter dessus. Ils détalent tous en courant dès que tu leur renvoies tout dans la figure avec tes pouvoirs.</p>

    <p>Juste avant d'arriver à la maison au toit de chaume, quelqu'un en sort et referme derrière lui. Mullihane vient d'elle même.</p>

    <p>
      - <span class="tonnom"></span>, tu n'aurais pas dû venir seul<span class="sf">e</span> ici. Tu sais pourtant que la résistance a tué deux prophètes.<br />
      - Mullihane tu as fait tomber Méonie dans un piège !<br />
      - C'est ta faute, répliques la mage. C'est toi que je visais mais tu étais trop occupé<span class="sf">e</span> par tes pathétiques élections.
    </p>

    <p>C'en est trop, tu lances un sort instantané vers la mage supérieur qui tente d'activer un artefact. Mais ta déflagration anéantit son objet et la projette à travers la porte de la maison. Par l'ouverture créée, tu vois que visiblement son artefact a quand même réussi à lui sauver la vie car elle parvient à se remettre debout. </p>

    <p>
      - C'est terminé, dit une voix derrière toi.
    </p>

    <p>A peine as-tu eu le temps de te retourner que tu vois un homme d'apparence humaine mais dont tu sais parfaitement qu'il s'agit d'Usaki. Une sorte de masse noire sort de ses mains et t'enveloppe en un instant. Et quand tu scrutes les alentours, tu te rends compte que tu n'es plus dans le village. L'environnement est noir, les étoiles semblent plus proches de toi qu'avant. L'air n'arrive plus jusqu'à tes poumons. Tu essaies au maximum de canaliser ton énergie mais tu dois te rendre à l'évidence : tu n'es plus sur la terre.</p>

    <p>Après quelques minutes de lutte, tes forces disparaissent et le froid t'envahit. Tes ennemis t'ont vaincu.</p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>

</div>
