<div class="num num-1-3-178 retour-174">

  <div class="text chapter3">

    <h1>- 178 -</h1>

    <p>
      Tu arrives à te calmer, notamment grâce à <span class="naorem"></span>, ce qui t'étonnes un peu de sa part. D'accord il n'est pas aussi impulsif qu'Arak mais il est toujours un peu colérique. Tu décides de rester dans ta chambre en repensant à tout ça, tu as envie d'être seul<span class="sf">e</span>. Mais quelques heures seulement après, tu es sorti<span class="sf">e</span> de ta torpeur par une gigantesque clameur, et une odeur de brûlée.
    </p>

    <p>Dans la cours de l'école, des gens se rassemblent en hurlant de désespoir. <span class="naorem"></span> a monté un bûcher. Et des gens sont en train d'être exécutés. La police magique empêche les gens de venir aider. <span class="naorem"></span> a lui même déployé une barrière magique pour empêcher quiconque de pouvoir aider les malheureux.</p>

    <p>
      - Mais… <span class="naorem"></span>, qui sont ces personnes ? demandes-tu.<br />
      - Mullihane était une traitresse. Du coup je veux être sûr qu'il n'y en a pas d'autres. Voilà déjà plusieurs serviteurs et mages de l'école que j'ai débusqué. Je vais interroger personnellement tout ceux qui ont accès à l'école. Puis je débusquerai tous les espions de l'Académie.<br />
      - Mais… c'est horrible ! dis-tu indigné<span class="sf">e</span>.<br />
      - Tu n'es pas obligé<span class="sf">e</span> de participer. Je m'occupe de tout. Va te reposer, fait-il en te souriant calmement.
    </p>

    <p>Tout ça te rends encore plus triste. Tu passes le reste de la journée dans ta chambre mais l'odeur insupportable qui s'échappe du bûcher arrive jusqu'à tes fenêtres et tu ne peux rien avaler de la journée.</p>


    <p class="middle">*</p>

    <p>La nuit venue, tu n'arrives pas à t'endormir, tu repenses à la journée passée accoudé<span class="sf">e</span> à ta fenêtre. Quand soudain une explosion se fait entendre dans la ville. Des bruits se font entendre également dans les jardins de l'école, quelques étages en dessous de toi.</p>

  <div class="choix">
    <div class="ch" data-go="222">Continuer</div>
  </div>
</div>
