<div class="num num-1-3-179 retour-148">

  <div class="text chapter3">

    <h1>- 179 -</h1>

    <p>
      Tu décides de faire parvenir un message à Kannan, lui disant bien ce que tu viens d'apprendre. Et surtout l'attaque prochaine de l'ancien conseil de magie au grand complet pour mettre hors d'état de nuire Usaki / Allister. Tu ne sais pas ce qu'elle fera de cette information mais tu lui expliques tout cela par télépathie. Au départ ton amie est surprise car c'est un sort de très haut niveau que tu as l'air de maîtriser sans même y faire attention. Tu penses qu'elle n'avait pas encore réalisé la puissance de vos pouvoirs. Et du te demandes si elle est vraiment préparée à affronter des prophètes.
    </p>

    <p>Elle te remercie chaleureusement en tout cas et te dit qu'elle va envoyer un messager le plus rapidement possible. Tu décides de laisser passer la fin de la journée en lisant quelques parchemins empruntés à la bibliothèque. Puis tu te couches sans même te demander ce qu'il se passera demain : tu détestes presqu'autant Usaki que l'ancien conseil de magie. Peu importe ce qui leur arrivera.</p>

    <p class="middle">*</p>

    <p>Un oiseau te réveille en plein milieu de la nuit. Il est perché sur le rebord de ta fenêtre que tu laisses ouverte à cause de la chaleur. En y regardant de plus prêt, ce n'est pas un oiseau normal. Il est mécanique, guidé par la magie certainement. Tu n'avais jamais vu auparavant d'artefact de ce genre. Un message est accroché dans un petit tube à sa patte.</p>

    <p>"Changement de plan. Essaies de participer à la mission avec Soyos et les autres. Essaies aussi d'amener un prophète avec toi. Reste toujours éloigné<span class="sf">e</span> de l'autre prophète pendant la mission. Dès que les hostilités commenceront, tu devras te charger de maitriser le mage Andaelor et Soyos en deuxième si tu peux. Détruis ce message dès que tu l'as lu. K."</p>

    <p>Un changement de plan de dernière minute ? Cela ne te dis rien. Tu pensais pouvoir te la couler douce sur cette mission. Tu sais bien que Kannan ne prendrait pas de décision inconsidérée mais affronter un prophète en plus de l'ancien conseil de magie ? C'est très risqué. Ou alors, il y a quelque chose qu'elle ne te dit pas.</p>

    <p>Tu te recouches mais cette fois tu as beaucoup plus de mal à t'endormir.</p>

  <div class="choix">
    <div class="ch" data-go="180">Continuer</div>
  </div>
</div>
