<div class="num num-1-3-18">

  <div class="text chapter3">

    <h1>- 18 -</h1>

    <div class="magie magie-eau">
      <p >Sans même forcer tu déclenches alors ton pouvoir. La neige commence à tomber autour de vous deux. La température chute brutalement. Méonie reste calme et ne bouge pas même si le froid doit beaucoup plus la gêner que toi. Elle disparait d'un coup pour réapparaitre dans ton dos en sortant des ombres : ses mains ressemblent plus à des épées désormais. En s'abattant sur ton dos la prophétesse recule comme si elle venait de se rendre compte d'un danger.</p>
      <p>Ses armes ne t'ont fait aucun mal : tout ton corps et recouvert d'une fine couche de glace ultra-résistante. Les attaques physiques ne peuvent plus te faire le moindre mal. Mais tout cela commence à t'énerver un peu. Tu fais baisser la température à -50° pour la faire réfléchir un peu.</p>

      <p>- D'accord, je me rends - dit-elle. Mais sache que si je le veux je peux te garder indéfiniment dans cet espace. Alors calme-toi un peu.</p>

      <p>Pour seule réponse tu décides de passer la température à -100°.</p>

      <p>La prophétesse écarquille les yeux et disparait comme prise de panique. Te voilà seul<span class="sf">e</span> au milieu de ces ténèbres gelés. Est-ce qu'elle avait raison en disant qu'elle pouvait te garder ici ? Soufflardent te l'a dit : tu as les pouvoirs d'un Dieu, ça ne devrait pas t'arrêter. Tu continues de descendre la température, jusqu'à ce que ton imagination ne puisse continuer.</p>

      <p>Vers les -500°, les ténèbres deviennent bleus et finissent par se briser sous le froid intense de ton pouvoir.</p>
    </div>

    <div class="magie magie-terre">
      <p >Sans même forcer tu déclenches alors ton pouvoir. L'herbe commence à pousser tout autour de vous. Des lianes remontent le long des jambes de Méonie. Elle reste calme et ne bouge pas. Elle disparait d'un coup pour réapparaitre dans ton dos en sortant des ombres : ses mains ressemblent plus à des épées désormais. En s'abattant sur ton dos la prophétesse recule comme si elle venait de se rendre compte d'un danger.</p>
      <p>Ses armes ne t'ont fait aucun mal : tout ton corps et recouvert d'une fine couche de métal ultra-résistante, comme une armure étincelante et légère. Les attaques physiques ne peuvent plus te faire le moindre mal. Mais tout cela commence à t'énerver un peu. Tu te penches et déclenches un splendide coup de poing dans la terre. Le choc provoque un séisme gigantesque dans cet espace de ténèbres et de plantes.</p>

      <p>En se propageant l'onde a brisé les ténèbres. Au loin les ombres s'effritent et tout tombe comme un chateau de cartes.</p>
    </div>

    <div class="magie magie-feu">
      <p >Sans même forcer tu déclenches alors ton pouvoir. La température monte brutalement. Méonie reste calme et ne bouge pas même si la chaleur doit beaucoup plus la gêner que toi. Elle disparait d'un coup pour réapparaitre dans ton dos en sortant des ombres : ses mains ressemblent plus à des épées désormais. En s'abattant sur ton dos la prophètesse recule comme si elle venait de se rendre compte d'un danger.</p>
      <p>Ses armes ne t'ont fait aucun mal : tout ton corps et recouvert de flammes. La prophétesse a dû se bruler sérieusement quand elle t'a attaqué. Mais tout cela commence à t'énerver un peu. Tu décides d'augmenter la température à 55° pour la faire réfléchir un peu.</p>

      <p>- D'accord, je me rends - dit-elle. Mais sache que si je le veux je peux te garder indéfiniment dans cet espace. Alors calme-toi un peu, fait-elle en suant de grosses gouttes.</p>

      <p>Pour seule réponse tu décides de passer la température à 80°.</p>

      <p>La prophétesse écarquille les yeux et disparait comme prise de panique. Te voilà seul<span class="sf">e</span> au milieu de ces ténèbres gelés. Est-ce qu'elle avait raison en disant qu'elle pouvait te garder ici ? Soufflardent te l'a dit : tu as les pouvoirs d'un Dieu, ça ne devrait pas t'arrêter. Tu continues d'augmenter la température, jusqu'à ce que ton imagination ne puisse continuer.</p>

      <p>Vers les 150°, les ténèbres deviennent rouges et finissent par se briser sous la chaleur intense de ton pouvoir.</p>
    </div>

    <div class="magie magie-vent">
      <p>Comment cette petite prophétesse pensait pouvoir te retenir dans cet espace. Tu as les pouvoirs du vent de Soufflardent, ce qui signifie que tu maîtrises les illusions mieux que personne. D'un claquement de doigts les ténèbres disparaissent. En regardant Méonie droit dans les yeux tu peux voir une petite goutte de sueur perler. Elle n'a pas dû avoir souvent l'habitude que des gens sortent de ce sort aussi facilement.</p>
    </div>

    <p>Te revoilà dans la salle du conseil. Tous tes alliés sont à terre, endormis semble-t-il. Ils doivent être dans les ténèbres de Méonie penses-tu. Les 3 prophètes te font face ainsi que les 4 mages supérieurs qui semblent trembler de peur.</p>

    <p>- <span class="tonnom"></span>, écoute moi deux minutes, fait <span class="naorem"></span>. Si nous nous combattons entre nous, ce monde va forcément finir en ruines. L'Académie et tous les gens que tu aimes vont mourir car notre pouvoir n'a d'égal que notre imagination.</p>

    <p>Il n'a pas tort. Tu as dû faire très attention en sortant des ténèbres pour contenir tes pouvoirs. Si tu avais maintenu ta puissance tout le monde aurait pu mourir sur le coup.</p>

    <p>- Et pourquoi tout devrait se passer comme vous le voulez plutôt qu'à ma manière, réponds-tu. Fandrean serait un bon maître pour cette Académie.<br />
      - Fandrean est un héros malgré lui. Lors des événements de la forteresse il a été contrôlé magiquement. Tu es plus un<span class="sf">e</span> héros que lui, te fais Arak l'un des prophètes. Tu préfères pourtant le laisser aux commandes de l'Académie.<br />
      - Les gens l'adorent et il est très puissant sans avoir reçu les pouvoirs de Soufflardent. Peu importe si les gens se trompent en pensant que c'est lui le héros qui a détruit Soufflardent. Il est le seul qui peut amener la paix et la stabilité.<br />
      - Justement ! te fait Soyos qui s'incruste dans votre conversation. Si c'est ce que tu penses vraiment, tu dois comprendre pourquoi nous avons menti pendant toutes ces années et pourquoi laisser les prophètes gouverner est la seule bonne décision. Fandrean amènera la guerre contre nous, alors que si tu nous rejoins... la paix pourra enfin avoir lieu. La paix qu'on n'a jamais eu avec Soufflardent.</p>

    <p>Ils ont tous l'air de craindre ton pouvoir mais tu sais que ces 3 prophètes ont au moins autant de puissance que toi. Peut-être espèrent-ils tous échapper à cette guerre.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="19">Accepter de les rejoindre</div>
    <div class="ch" data-go="24">Tenter de sauver tout ton groupe et t'échapper</div>
  </div>

</div>
