<div class="num num-1-3-180 retour-179">

  <div class="text chapter3">

    <h1>- 180 -</h1>

    <p>
      Le lendemain tu passes voir très tôt <span class="naorem"></span>, tellement tôt même que tu le réveilles. Tu lui fais part de ton intention de rejoindre le groupe de l'ancien conseil. Tu lui dis que tu veux vraiment confronter Usaki et que tu aimerais l'affronter personnellement. Il n'a pas l'air contre, et vu que tu lui as toujours dit à quel point le noctule était ton objectif il n'essaie pas de te contredire. Alors, voyant qu'il est de bonne humeur malgré le fait que tu l'aies réveillé, tu lui proposes de venir avec vous.
    </p>

    <p>
      - En fait, je voulais envoyer le conseil de magie parce que je suis persuadé qu'Usaki a mis au point un sort ou une technique pour nous détruire, te dit <span class="naorem"></span> en baillant. Je voulais prendre aucun risque à ce niveau là, tu devras faire très attention d'ailleurs.<br />
      - Hum… mais à deux plus le conseil on aura plus de chances de s'en sortir indemne, non ? tentes-tu pour le persuader.<br />
      - ... Et pourquoi pas après tout ? J'appelle Méonie on va y aller tous les trois. On va en finir avec ce noctule infernal, fait-il en tapant dans ses mains.<br />
      - Qu...  Méonie aussi ? Tu penses qu'on aura besoin d'elle.<br />
      - Bien sûr. A trois on sera encore plus puissants qu'à deux. On réduira encore les risques. Et de cette manière Usaki ne pourra pas s'enfuir, j'en suis certain.
    </p>

    <p>Mince, tu es trop <span class="sf">persuasive</span><span class="sg">persuasif</span>. Soyos, Andaelor, Mullihane, Pasha et vous trois : il faut que tu préviennes à tout prix Kannan. Mais tu as beau l'appeler par télépathie, tu n'arrives pas à lui parler. Elle doit encore dormir !</p>

    <p>
      - Prépare-toi ! On part tout de suite, te sourit <span class="naorem"></span>.<br />
    </p>

  <div class="choix">
    <div class="ch" data-go="223">Continuer</div>
  </div>
</div>
