<div class="num num-1-3-181 retour-148">

  <div class="text chapter3">

    <h1>- 181 -</h1>

    <p>Tu attends la nuit pour aller t'infiltrer jusqu'à la ville où tu avais senti Usaki. Il n'a pas l'air d'avoir bougé. C'est l'occasion d'en finir avec le noctule. Tu décides de prendre toutes les précautions possibles : tu concentres ton énergie au maximum pour lancer un sort d'invisibilité totale sur toi. Personne ne pourra sentir ton aura, te voir, te sentir, te toucher ou t'entendre. Tu y vas de nuit pour que la plupart des gens soient endormi en plus. Cette fois c'est la bonne.</p>

    <p>Tu traverses le ciel nocturne est clair à la vitesse du vent. Les lumières du village brillent encore. C'est d'habitude le signe d'une fête car l'heure est tardive. Mais là, il s'agit de personnes faisant des rondes dans le village. Ils doivent être sur leur garde pour protéger quelque chose… ou quelqu'un !</p>

    <p>Une grande maison est ton objectif : tu sens l'aura vide d'énergie de Soufflardent au premier étage, isolée. Personne n'est avec lui mais la lumière est allumée. Tu traverses le mur pour te retrouver à côté d'un homme, bien habillé quoi que normal. Assez grand et brun. Il n'a pas l'air d'avoir de sort de masque mais tu sens une énergie autour de lui : peut être a-t-il inventé un nouveau sort pour ne pas se faire repérer par vos pouvoirs. Il est en train d'écrire toutes sortes de parchemins et ne sent pas ta présence.</p>

    <p>En lisant par dessus ses épaules tu vois qu'il est en train de donner ses futurs ordres à la résistance. Des ordres indiquant que la prochaine cible à abattre sera Méonie. Un autre disant dans quelle ville il sera le lendemain. Enfin tu vois sur le bord de la table un parchemin à destination d'Espéride, lui disant de ne pas te faire confiance et de te surveiller. Que tu étais certainement contrôlé<span class="sf">e</span> par le pouvoir corrompu de Soufflardent et qu'elle raconterait n'importe quoi pour vous diviser. Ces messages, il ne les a pas encore envoyés.</p>

    <p>Tu n'arrives pas à être sûr<span class="sf">e</span> à cent pour cent qu'il s'agit d'Usaki. Tu le sens dans tes tripes mais tu n'as pas de certitude. Il s'agit néanmoins d'un ennemi aux prophètes c'est la seule chose pour laquelle tu n'as aucun doute. Tu pourrais falsifier ses messages pour qu'Espéride te fasse confiance, que Méonie soit laissée tranquille et revenir le lendemain puisque tu sais dans quelle ville il sera, le conseil de magie se chargera de lui demain de toute façon. Mais tu peux aussi tenter de l'assassiner tout de suite.</p>

  <div class="choix">
    <div class="ch" data-go="182">Falsifier les lettres et repartir</div>
    <div class="ch" data-go="183">L'assassiner</div>
  </div>
</div>
