<div class="num num-1-3-182 retour-181">

  <div class="text chapter3">

    <h1>- 182 -</h1>

    <p>L'homme roule les parchemins et les laisse sur le bureau. Alors que tu pensais qu'il allait s'allonger sur le lit, il sort un artefact, le déploie et disparait dans une petite lumière rouge. Tu as beau essayé de trouver son énergie partout, tu ne la retrouves nulle part : il a disparu totalement. Mais tu en profites donc pour falsifier les documents encore plus facilement. </p>

    <p>Tu retrouves également un document qu'il a reçu dans la journée, d'Espéride. Ce parchemin lui indique que Mullihane est désormais une espionne qui travaille pour la résistance. Et tu sais que <span class="naorem"></span> a demandé au conseil de magie d'attaquer ici demain. Nul doute que la résistance va être mise au courant de l'attaque et que Soyos, Pasha et Andaelor tomberont dans un piège. Tu as l'impression qu'Usaki a toujours un coup d'avance sur vous mais cette fois c'est toi qui a l'information.</p>

    <p>Une fois tes lettres falsifiées, tu retournes à ta chambre, regardant encore en direction du village duquel tu reviens au loin en réfléchissant à ce que tu feras demain. Et en voyant furtivement la pleine lune, quelque chose t'interpelle. L'aura d'Usaki ou de cette personne qui était dans le village, tu la ressens... sur la lune ! Cette fois tu n'as plus de doute : c'était bien Usaki là-bas.</p>

  <div class="choix">
    <div class="ch" data-go="224">Continuer</div>
  </div>
</div>
