<div class="num num-1-3-184 retour-149">

  <div class="text chapter3">

    <h1>- 184 -</h1>

    <p>La grande offensive, c'est une attaque de l'Académie par plusieurs côtés. Vos espions vous ouvrirons les portes de la ville, et de l'école. Le quartier populaire du port va être soulevé. La police magique ne saura plus où donner de la tête. Le plus dur sera d'approcher les prophètes et de les éliminer avec votre sort. Votre équipe, composée des mages de la forteresse de la nuit, d'Espéride et de tes amis vous aurez la tâche première de vous occuper du prophète <span class="naorem"></span>. Si vous trouvez Méonie sur votre passage, bien sûr, il faudra l'éliminer également. Mais normalement c'est l'équipe du général Allister qui doit s'occuper d'elle.</p>

    <p>Parmi les autres danger potentiels il y a l'ancien conseil de magie. Les mages supérieurs Soyos, Pasha et Andaelor sont les plus puissants de l'Académie et pourraient vraiment causer des dommages dans vos rangs. Plusieurs de vos espions auront pour tâche de les assassiner juste avant le combat. Mais avec de tels adversaires rien n'est garantie. La mage supérieure du vent Mullihane fait partie de vos espions à ta grande surprise. Elle a rejoint les rangs de la résistance récemment en échange d'un bon poste si la résistance l'emporte.</p>

    <p>Enfin, Lasseni ne fait pas partie des objectifs de la mission et personne n'en parle. Alors qu'elle a des pouvoirs incommensurables. Espéride te dit que Lasseni reste souvent dans sa chambre sans rien faire selon les espions. Elle ne devrait opposer aucune résistance.</p>

    <p>Le reste des troupes de votre côté sera chargé d'affronter la police magique et tous les mages de l'école qui sont restés fidèles aux prophètes.</p>

    <p>
      - Bien, si personne n'a de questions, reposez-vous ! fait Espéride à tout le monde. Nous attaqueront cette nuit.
    </p>

  <div class="choix">
    <div class="ch" data-go="189">Aucune question de ta part</div>
    <div class="ch av-riche" data-go="185">Des nouvelles de ta mère qui est à l'Académie ?</div>
    <div class="ch av-studieux" data-go="186">Des nouvelles de ton frère ?</div>
    <div class="ch av-populaire" data-go="187">Que vont devenir les habitants de l'île de l'Académie pendant cette bataille ?</div>
    <div class="ch av-sportif" data-go="188">Des nouvelles de Levy ?</div>
  </div>
</div>
