<div class="num num-1-3-185 retour-184">

  <div class="text chapter3">

    <h1>- 185 -</h1>

    <p>Quand tu évoques le nom de ta mère, le regard d'Espéride s'assombrit.</p>
    <p>
      - Il parait que ta mère a affronté la prophète Méonie quand celle-ci a attaqué l'Académie pour en prendre possession. Et nos espions ne l'ont jamais revus là-bas. Il parait que beaucoup de mages ont disparu les jours qui ont suivi l'attaque. Beaucoup ont réussi à fuir et rejoindre la résistance. D'autres ont préféré s'enfuir par lâcheté mais je connaissais bien ta mère et je si elle n'a pas donné de signe de vie c'est qu'elle est...<br />
      - Non, c'est la mage la plus puissante que je connaisse, elle ne peut pas m'abandonner maintenant, fais-tu au bord des larmes. Je devais lui prouver que j'étais devenu<span class="sf">e</span> un<span class="sf">e</span> vrai<span class="sf">e</span> mage !<br />
      - … Elle le savait, dit Espéride pour te soulager. Tu n'avais rien à lui prouver, elle savait que tu étais un<span class="sf">e</span> grand<span class="sf">e</span> mage.
    </p>

    <p>La mage te prends dans ses bras mais tu t'écartes.</p>

    <p>
      - Vous ne l'avez pas vue mourir ? Alors elle est peut-être vivante ! t'écries-tu.<br />
      - … Je suis désolée, continue Espéride. Nos sorts de "visions de rêves" restent noirs… ce qui signifie généralement que la personne qu'on rechercher est morte. Je ne veux pas que tu te fasses d'illusions. Mais du coup si tu préfères rester ici plutôt que de te joindre à l'attaque de cette nuit je comprendrai.<br />
      - … Non… non je vais venir. ...Et...je retrouverai ma mère.
    </p>

  <div class="choix">
    <div class="ch" data-go="189">Continuer</div>
  </div>
</div>
