<div class="num num-1-3-186 retour-184">

  <div class="text chapter3">

    <h1>- 186 -</h1>

    <p>Ton frère était élève à l'Académie. Encore dans les classes inférieurs mais c'est vrai qu'il était donc là quand les prophètes sont arrivés.</p>
    <p>
      - … ? J'avoue que je ne sais pas ce qu'il lui est arrivé, s'excuse Espéride.<br />
      - Il s'appelait Eran, c'est ça ? demande un mage que tu ne connais pas.<br />
      - Oui ! dis-tu plein<span class="sf">e</span> d'espoir.<br />
      - Je l'avais vu partir de l'école le jour de l'attaque mais je ne sais pas où il est allé. S'il est parti de l'Académie il devrait être en vie.<br />
      - Oui, il est certainement retourné à Sarambe ! fais-tu avec certitude.
    </p>

    <p>Cette nouvelle te rassure plutôt même si cela demande à être confirmé. En tout cas tu vas pouvoir te lâcher pendant l'attaque de cette nuit.</p>

  <div class="choix">
    <div class="ch" data-go="189">Continuer</div>
  </div>
</div>
