<div class="num num-1-3-187 retour-184">

  <div class="text chapter3">

    <h1>- 187 -</h1>

    <p>
      - La plupart des habitants n'ont pas de pouvoirs magiques, ils vont rester bien tranquillement chez eux, explique Espéride. A part les gens du port, tous les autres vont attendre que les choses se passent. En agissant de nuit on risque moins d'avoir des morts du côté des civils. Mais éviter de lancer des sorts trop puissants en dehors de l'école.<br />
      - Ouf, fais-tu soulagé<span class="sf">e</span>.<br />
      - On n'attaque pas de nuit pour les éviter des morts du côté des habitants mais ça nous arrange bien en fin de compte.
    </p>

    <p>Cette nouvelle te rassure plutôt. En tout cas tu vas pouvoir te lâcher pendant l'attaque de cette nuit.</p>

  <div class="choix">
    <div class="ch" data-go="189">Continuer</div>
  </div>
</div>
