<div class="num num-1-3-188 retour-184">

  <div class="text chapter3">

    <h1>- 188 -</h1>

    <p>
      - Levy fait parti de l'équipe du général Allister. Il parait qu'il attaquera avec plusieurs autres sur le dos de leurs dragon-fées.<br />
      - C'est vrai !
    </p>

    <p>Tu sautes de joie car tu n'avais aucune nouvelle de sa part depuis un moment. Encore une bataille que vous ferez ensemble. Tu espères que vous vous en sortirez tous les deux. En tout cas tu vas pouvoir te lâcher pendant l'attaque de cette nuit.</p>

  <div class="choix">
    <div class="ch" data-go="189">Continuer</div>
  </div>
</div>
