<div class="num num-1-3-189 retour-184">

  <div class="text chapter3">

    <h1>- LE DERNIER DINER -</h1>

    <p>Tout le monde s'éparpille un peu et par de son côté. Certains écrivent des lettres pour leurs proches au cas où ils ne reviendraient pas de cette bataille. Mais tu n'as pas envie de faire de même, tu sens que si tu le fais cela va faire baisser ton moral.</p>

    <p>Tu espères quand même que cette bataille ne va pas faire les affaires d'Usaki. Il faudra rester prudent à tout moment.</p>

    <p>Le soir Mac Lumy vient te chercher pour vous réunir une dernière fois avant la bataille en mangeant quelques saucisses grillés au feu de bois. Kannan est là, avec Haziko, Anselm et Panacle.</p>

    <p>
      - Hé ! Ça me rappelle la première année, dit Kannan.<br />
      - Oui, répond Mac Lumy. On a bien tourné je trouve, hé hé. On est devenu de puissants mages maintenant.<br />
      - Garde la tête sur les épaules, on est encore loin du niveau des mages supérieurs, s'exclame Anselm en rigolant.<br />
      - Mais la bataille de cette nuit, ça va être quelque chose qu'on n'oubliera pas, fait Panacle en forçant un sourire inquiet.<br />
      - … Je dois dire que j'ai une de ces peurs, avoue Haziko tremblante.<br />
      - T'inquiètes pas, lui dis-tu. On sera tous là pour s'aider. On laissera personne derrière.<br />
      - C'est clair, fait Mac Lumy. J'ai appris la magie pour aider les autres, et je laisserai personne te faire du mal.<br />
      - Merci les amis… dit simplement Haziko en rigolant sous le stress.<br />
      - Mais personnellement je n'oublie pas Lasseni, finis-tu. On va la sauver aussi.
    </p>

    <p>Anselm lève une coupe de bière pour trinquer :</p>

    <p>
      - Pour Lasseni !
    </p>

    <p>Vos verres s'entrechoquent et vous buvez une rasade pour vous donner du courage. Le reste de la soirée se passe trop rapidement. Tu n'avales rien, car malgré les apparences tu appréhendes la bataille encore plus que les autres tu as l'impression.</p>

    <p>Espéride vous demande d'éteindre les feux. Les embarcations se préparent. Certains font leurs adieux à leur famille. C'est parti.</p>


  <div class="choix">
    <div class="ch" data-go="226">Continuer</div>
  </div>
</div>
