<div class="num num-1-3-19">

  <div class="text chapter3">

    <h1>- 19 -</h1>

    <p>L'idée d'une alliance ne semble pas être le plus mauvais choix mais que va-t-il arriver à tes compagnons. Une fois la proposition acceptée tu te retrouvas au milieu d'une réunion au sommet entre toi et les autres prophètes.</p>

    <p>Les 4 mages supérieurs n'ont pas droit à la parole. Soyos et les autres ne sont maintenant que vos hommes de mains. Tu sais qu'aucun de tes amis n'a pour le moment été blessé mais ils ont été mis en prison pour appel à la rébellion. Cette réunion est là pour celler votre alliance et savoir comment vous allez gouverner ce monde.</p>

    <p>- Bien, tout d'abord, <span class="tonnom"></span> laisse-moi te présenter les autres prophètes, commence <span class="naorem"></span>. Voici Méonie, une suivante de Soufflardent depuis maintenant un peu plus d'une année. Elle vient de la tour d'Azano. Ça a été une des premières à répondre présent à l'appel de notre maître.</p>

    <p>La petite prophétesse te fait un signe de la tête pour te saluer, elle n'a pas l'air bien bavarde et ne montre pas du tout ce qu'elle pense.</p>

    <p>- Et voici Arak, un ancien garde la forteresse de la Lune.</p>

    <p>Tu te souviens qu'il avait attaqué Usaki lors de votre affrontement là-bas. Il a l'air d'être impulsif et de ne pas trop réfléchir.</p>

    <p>- Hé hé hé, rigole Arak. Quand je pense qu'à la forteresse de la Lune Ymir et Zaïra nous ont toujours dit de ne pas écouter les paroles de Soufflardent. Je les avais toujours admiré mais il faut bien avouer qu'ils ont eu bien tord. Grâce aux pouvoirs du maître nous pouvons diriger le monde. Si on les avait écouté, on vivrait encore dans ces grottes.</p>

    <p>En absorbant le pouvoir de Soufflardent, <span class="naorem"></span> a l'air d'avoir changé également. Il fait plus mature. Il a l'air d'avoir pris le commandement même si les 2 autres ont des pouvoirs aussi immenses que lui.</p>

    <p>- Que comptez-vous faire de Fandrean et des quatres mages supérieurs ? demandes-tu.<br />
      - Fandrean est un héros, fait <span class="naorem"></span>. On va lui donner le contrôle de Grand-Couronne au sud. C'est la deuxième ville de notre empire, on lui laissera le commandement d'une tour de magie qu'on construira là-bas.<br />
      - En tout cas c'est ce qu'on fera croire, car les vrais maîtres c'est nous, rigole Arak.<br />
      - Pour les quatre mages supérieurs pour le moment on va les laisser ici à l'Académie. Tout le monde saura bientôt que nous sommes les véritables maîtres, les 4 prophètes. Mais nous allons nous faire aimer des gens et d'ici quelques temps nous ferons une cérémonie officielle où on nous couronnera comme maître de l'Académie et de l'empire.
    </p>

    <p>Tu regardes un peu les autres prophètes et tu vois que c'est vraiment ce qu'ils ont l'intention de faire.</p>

    <p>- En fait, malgré vos pouvoirs vous ne voulez que ce que tout le monde veut. Vous n'êtes pas très originaux.<br />
      - Hey ! Fait Arak. Ma famille entière est morte dans les marais autour de la tour d'Azano. J'ai galéré pendant des années à survivre dans les monts noirs. J'ai droit à un peu de reconnaissance et de confort. Mais ne t'inquiètes pas, il n'y a pas que le pouvoir qui me fait envie. L'Académie a le pouvoir sur une partie du monde mais au delà des monts noirs, au delà du désert du sud : tout est inexploré. Moi je vais aller conquérir tous ces endroits que personne ne connait. Je vais pouvoir déclencher mon pouvoir comme je le veux sur des monstres et des barbares. Ha, je vais me faire plaisir.
    </p>

    <p>En écoutant ça tu te rends compte qu'Arak n'aurait pas été dérangé plus que ça par une guerre. Contrairement aux deux autres il te donne l'impression de ne vouloir qu'une chose : détruire et tuer. Ça te donne un haut le cœur. Arak a l'air de s'en rendre compte :</p>

    <p>- Hey, chacun ses passions <span class="sf">fillette</span><span class="sg">garçon</span>. Méonie et <span class="naorem"></span> ont leur vision des choses aussi. Tu te crois meilleur<span class="sf">e</span> que nous ? Avec tes pouvoirs tu voudrais faire quoi ?</p>



  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="25">Je voudrai juste faire un monde de paix</div>
    <div class="ch" data-go="46">Je voudrai juste retrouver Usaki comme Soufflardent me l'a demandé</div>
  </div>

</div>
