<div class="num num-1-3-190 retour-154">

  <div class="text chapter3">

    <h1>- 190 -</h1>

    <p>
      Tu te regardes dans un miroir pour être sûr<span class="sf">e</span> de toi. L'illusion semble parfaite, tu es réellement un sosie de Soyos. Maintenant tu prends ton courage à deux mains et toques à la porte de <span class="naorem"></span>. Et après quelques secondes d'attente la porte s'ouvre toute seule.
    </p>

    <p>
      - Entrez, dit simplement le prophète en restant attablé à son bureau, sa plume entre les doigts.<br />
      - Bonjour … heu… maitre <span class="naorem"></span>, hé hé, fais-tu. Désolé de vous déranger.<br />
      - Soyos...? Qu'est-ce que tu veux ?<br />
      - Voilà, je m'inquiétais au sujet de Fandrean. Je me disais que s'il s'échappait cela pouvait être un sérieux problème et je voulais savoir si vous l'aviez mis à un endroit vraiment sûr.<br />
      - Ne t'inquiètes pas pour ça, répond sèchement <span class="naorem"></span>. Il est... qu'est-ce que c'est que ça ?
    </p>

    <p>Le prophète a l'air de te regarder fixement inquiet. Puis il fait un geste de la main et ton sort de masque disparait sans que tu n'aies pu y faire quoi que ce soit.</p>

    <p>
      - <span class="tonnom"></span> ! Je dois avouer qu'en terme d'audace tu mérites vraiment un bon point. Mais j'en ai clairement marre de vous autres qui ne voulez jamais m'obéir.
    </p>

    <p>Le prophète fait un autre geste et tu sens ta bouche se fermer et tes jambes comme prises dans un étau. Un autre geste et ta tête tourne en arrière avec un bruit d'os brisé.</p>

    <p>Ton aventure se termine ici.</p>



  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>
</div>
