<div class="num num-1-3-191 retour-154">

  <div class="text chapter3">

    <h1>- 191 -</h1>

    <p>
      Tu te regardes dans un miroir pour être sûr<span class="sf">e</span> de toi. L'illusion semble parfaite, tu es réellement un sosie de cet Esteban. Maintenant tu prends ton courage à deux mains et toques à la porte de <span class="naorem"></span>. Et après quelques secondes d'attente la porte s'ouvre toute seule.
    </p>

    <p>
      - Entrez, dit simplement le prophète en restant attablé à son bureau, sa plume entre les doigts.<br />
      - Bonjour … heu… maitre <span class="naorem"></span>, hé hé, fais-tu. Désolé de vous déranger.<br />
      - Esteban...? Qu'est-ce que tu veux ?<br />
      - Voilà, je m'inquiétais au sujet de Fandrean. Je me disais que s'il s'échappait cela pouvait être un sérieux problème et je voulais savoir si vous l'aviez mis à un endroit vraiment sûr.<br />
      - Ne t'inquiètes pas pour ça, répond <span class="naorem"></span>. Je sais que tu veux bien faire mais sur ce coup là dis-toi que j'ai pris toutes les dispositions pour que même Lasseni ne puisse le trouver. Cela devrait te rassurer, non ?<br />
      - Si, si bien sûr mais je me disais que si je savais où il était je pourrai protéger davantage l'endroit...<br />
      - Moins il y a de monde au courant et moins il y aura de risques. Allez, fiche moi le camp maintenant, je travaille.
    </p>

    <p><span class="naorem"></span> traite vraiment Esteban comme un simple laquais. Peut-être que tu aurais dû prendre l'apparence de Soyos. Mais si tu reviens demander la même chose déguisé en mage supérieur cela semblera bizarre. Mieux vaut tenter ta chance avec Méonie.</p>



  <div class="choix">
    <div class="ch" data-go="192">Interroger Méonie avec l'apparence de Soyos</div>
    <div class="ch" data-go="193">Interroger Méonie avec l'apparence d'Esteban</div>
  </div>
</div>
