<div class="num num-1-3-192 retour-154 191">

  <div class="text chapter3">

    <h1>- 192 -</h1>

    <p>
      Dans le miroir tu es le sosie de Soyos. Même sa mère ne ferait pas la différence, enfin tu l'espères. Tu prends ton courage à deux mains et part en direction du quartier du port. Plusieurs mages de la police magique t'arrêtent mais pas pour te faire du mal. Ils sont tous des admirateurs du mage Soyos. Tu veux bien leur signer un autographe en te disant que ça te parait dingue. Ce type a essayé de tuer les mages légendaires, il a pactisé avec les prophètes de Soufflardent et il a des admirateurs.
    </p>
    <p>Finalement tu trouves la prophète Méonie en train de soigner des gens avec des sorts de magie.</p>

    <p>
      - Bonjour … maitresse Méonie, dis-tu avec le ton le plus mielleux possible. Comment allez-vous ?<br />
      - Qu'est-ce que tu veux Soyos ? répond la prophète qui a visiblement déjà dû le remballer plusieurs fois.<br />
      - Voilà, je m'inquiétais au sujet de Fandrean. Je me disais que s'il s'échappait cela pouvait être un sérieux problème et je voulais savoir si vous l'aviez mis à un endroit vraiment sûr.<br />
      - Tu t'inquiètes pour Fandrean ? s'étonne Méonie.<br />
      - Ben… s'il s'échappe.<br />
      - Ah… oui, s'il s'échappe bien sûr. Toi tu voulais qu'on le tue si je me souviens bien.
    </p>

    <p>Tous les villageois autour de vous écoutent votre conversation pendant que la prophétesse soigne les habitants malades. Quand ils entendent que Soyos voulait tuer Fandrean, ils te jettent des regards noirs.</p>

    <p>
      - En fait, vous m'avez mal compris… je voulais dire que pour éviter qu'il ne s'échappe...heu… il faudrait carrément le libérer.
    </p>

    <p>Méonie s'interromps sous le coup de la surprise et te regarde.</p>

    <p>
      - Pardon ?<br />
      - Vous ne croyez pas ? Il n'est plus dangereux et il sait qui est le plus fort désormais. <br />
      - … Je pense aussi qu'il n'est plus un danger. <br />
      - Ha, vous aussi ? <span class="naorem"></span> m'a demandé de venir vous voir pour savoir ce que vous en pensiez. Si vous voulez, je peux aller le faire délivrer, dites moi juste où le trouver.
    </p>

    <p>Méonie semble pensive. Elle ne bouge plus puis guérit une dernière personne, salue la population et te fait signe de la suivre. Dans une petite ruelle elle lance un sort qui semble vous avoir bloqué tous les deux dans une sorte de dimension alternative. Tu ne peux plus sortir de là. La prophète se retourne pour te faire face.</p>


  <div class="choix">
    <div class="ch" data-go="194">Continuer</div>
  </div>
</div>
