<div class="num num-1-3-194 retour-192 193">

  <div class="text chapter3">

    <h1>- 194 -</h1>

    <p>
      - Je vois bien que tu as un sort de masque sur toi, lance la prophète. Retire-le pour me parler. Je veux savoir qui tu es.
    </p>

    <p>Te voilà dans de beaux draps, mais la prophète aurait pu te tuer simplement et elle ne l'a pas fait. Tu l'as vu faire des guérisons dans la ville, elle est certainement plus ouverte à la discussion que tu le pensais. Tu annules ton sort et révèle ton vrai visage.</p>

    <p>
      - Je… je t'ai déjà vu, commence-t-elle. A la forteresse de la lune, c'est ça ?<br />
      - Heu… oui, je ... j'étais là, fais-tu inqui<span class="sf">ète</span><span class="sg">et</span> par sa mémoire.<br />
      - Tu es l'allié<span class="sf">e</span> d'Usaki ?<br />
      - NON ! Ce n'est pas mon allié. Je suis venu<span class="sf">e</span> ici uniquement pour délivrer Lasseni. Et son frère.<br />
      - … Tu n'as pas l'air de mentir.
    </p>

    <p>Méonie t'explique qu'elle ne voit pas d'intérêt à retenir prisonnier Fandrean et Lasseni. Qu'Usaki et une faction appelée "la résistance" sont de plus gros problèmes. Sans compter les mages légendaires. </p>

    <p>
      - Je pense qu'on va disparaitre aussi vite qu'on est arrivé, se désolé la prophétesse.<br />
      - Mais... vos pouvoirs sont tellement énormes. <br />
      - Je vais bientôt mourir, dit-elle. Les mages légendaires me l'ont dit, mais je le savais déjà avant.<br />
      - Je vous ai vu en train de guérir des gens malades ! Vous ne méritez pas de mourir, vous pouvez encore partir d'ici, vivre une vie simple et calme. Il n'y a pas de fatalité !<br />
      - Merci… je vais réfléchir à tout ça.<br />
      - Mais, … heu … pour Fandrean ? hésites-tu à demander.<br />
      - Bien sûr, je vais le délivrer. <span class="naorem"></span> sera vert de colère, mais j'aimerai faire une bonne action quand même.
    </p>

    <p>La prophète annule son sort et repart en direction de l'école. Tu ne t'attendais pas du tout à avoir ce genre de discussion. Va-t-elle vraiment délivrer Fandrean ? Il suffisait seulement de lui demander ?</p>


  <div class="choix">
    <div class="ch" data-go="227">Continuer</div>
  </div>
</div>
