<div class="num num-1-3-195 retour-158">

  <div class="text chapter3">

    <h1>- 195 -</h1>

    <p>
      Tu es juste à l'extérieur de l'auberge, plaqué<span class="sf">e</span> contre la fenêtre. Ton point de vue sur Ymir est mince mais tu l'aperçois à l'étage. Tu suis du regard Méonie qui monte le rejoindre. Juste de l'autre côté de la fenêtre, deux hommes sont attablés et rigolent en te faisant des signes. Les voir faire les singes devant toi ne t'aide pas à te concentrer mais tu ne vas quand même pas leur lancer un sort.
    </p>

    <p>Tu crois voir à l'intérieur Zaïra avec le "masque" dont elle t'avait parlé. Elle est assez loin de la table d'Ymir mais avec sa maîtrise de la magie, cela devrait suffire.</p>

    <p>Des voix un peu plus vives se font entendre à l'extérieur. La police magique est dans le coin et les habitants se font un peu maltraiter.</p>

    <p>
      - Restez pas là, bande de fainéants, leur lance un policier.<br />
      - Un de vos prophètes à détruits ma barque, je peux plus travailler, se plaint un pêcheur.<br />
      - Ben, t'as qu'à la reconstruire au lieu de te tourner les pouces ici, fait un autre policier en faisant rigoler ses collègues.
    </p>

    <p>Les policiers sont au nombre de quatre. Tu décides de rester contre le mur et d'abandonner quelques instants la surveillance interne pour ne pas te faire remarquer par eux. Mais contre toute attente, ils pénètrent tous dans l'auberge. Mince ! De retour à ton poste d'observation - contre la vitre - tu surveilles leurs faits et gestes.</p>

    <p>La tension monte d'un cran quand tu les vois commencer à monter à l'étage. Ils n'ont pas l'air d'avoir noté la présence de la prophète. Faut-il que tu agisses ?</p>

    <p>En croisant le regard de l'homme de l'autre côté de la vitre et qui te faisait des grimaces tout à l'heure, tu notes qu'il est beaucoup plus sérieux. Certainement parce qu'il a noté ton angoisse. Il regarde les policiers et te fait un signe dans leur direction. Tu as l'impression qu'il te demande si tu veux qu'il s'occupe des policiers.</p>

  <div class="choix">
    <div class="ch" data-go="196">Hocher la tête pour lui dire d'agir</div>
    <div class="ch" data-go="197">Secouer la tête pour lui dire de ne rien faire et laisser Ymir et Zaïra se débrouiller</div>
    <div class="ch av-tricheur" data-go="201">provoquer une explosion à l'extérieur de l'auberge pour faire sortir la police</div>
  </div>
</div>
