<div class="num num-1-3-196 retour-195">

  <div class="text chapter3">

    <h1>- 196 -</h1>

    <p>
      Tu hoches la tête et l'homme regarde son compère en lui décochant un regard lui disant que c'était le moment. Il se lève d'un coup en titubant et en s'en prenant verbalement aux policiers. Son collègues fait de même, en faisant croire lui aussi qu'il était saoul. Les policiers n'ont pas l'air surpris mais s'énervent très vite et décident d'arrêter les deux hommes. Ils les embarquent aussitôt à l'extérieur. Tu les vois passer dans la rue juste devant toi pendant que tes deux alliés imprévus continuent de faire des leurs. Un des hommes te décoche un clin d'œil et tu lui fais un signe de la main pour le remercier.
    </p>

    <p>
      - Vous allez passer la fin de la journée au mitard. Espèces de poivrots ! leur déclare un policier.<br />
      - J'ai rien fait de mal, hips ! J'ai le droit de b-b-boire, si je veux ! lui réponds l'homme avec un talent d'acteur rare.
    </p>

    <p>Ouf ! Il faudra que tu les retrouves plus tard pour les remercier ces deux là. Ils vous ont évité une situation peut-être risquée dans cette auberge. Et tu reprends ta position à la fenêtre pour continuer la surveillance. Zaïra qui a tout vu te fait un petit signe de tête pour te féliciter. Même si c'est plutôt les deux hommes qu'il faudrait remercier.</p>

    <p class="middle">*</p>

    <p>Finalement Méonie n'a pas été chamboulée par l'animation dans l'auberge. Ymir semble se lever après un moment et laisser la prophète. Il quitte l'auberge au sous le regard de la prophète qui croise furtivement le tien. Tu te retournes contre le mur pour te cacher immédiatement mais tu ne sais pas si elle t'a vu. Tu n'oses plus regarder dans l'auberge et décide de changer de masque dans la ruelle d'à côté.</p>

  <div class="choix">
    <div class="ch" data-go="229">Retrouver Ymir et Zaïra</div>
  </div>
</div>
