<div class="num num-1-3-197 retour-195">

  <div class="text chapter3">

    <h1>- 197 -</h1>

    <p>
      Les policiers montent au premier étage et viennent saluer Méonie. Ils semblent aussi parler à Ymir qui se lève pour les saluer à son tour. Mais la discussion semble continuer. Tu vois Zaïra commencer à monter au premier étage. Tout semble s'accélérer. Zaïra te fait un petit signe avec ses doigts pour te dire de te tenir prête.
    </p>

    <p>les policiers semblent se fâcher et ordonner quelque chose à Ymir. Méonie se lève à son tour. Zaïra se penche comme pour ramasser un objet tombé à terre et fonce d'un coup sur la prophète avec son artefact en main. Ymir semble lever sa main également.</p>

  <div class="choix">
    <div class="ch" data-go="198">Tenter de lancer ton artefact sur Méonie avec un sort</div>
    <div class="ch" data-go="199">Lancer un sort sur les policiers pour qu'ils ne puissent pas gêner Zaïra</div>
    <div class="ch" data-go="200">Lancer un sort sur Méonie pour la fixer sur place</div>
  </div>
</div>
