<div class="num num-1-3-198 retour-197">

  <div class="text chapter3">

    <h1>- 198 -</h1>

    <p>
      Zaïra passe au travers des policiers sans problème mais se fait projeter avec puissance contre le mur de l'auberge par la prophète. Ymir lance avec sa main droite un sort de ronces sur les policiers pendant qu'il sort son artefact pour le plaquer contre Méonie.
    </p>

    <p>De ton côté tu lances ton sort de "vent" le plus puissant sur ton artefact, qui traverse la vitre à grande vitesse pour aller en direction de la prophète. Méonie semble faire fondre le bras d'Ymir qui tombe par terre immédiatement avec l'artefact. Mais au milieu de tous ses bruits, elle ne fait pas attention à ton artefact qu'il lui arrive pile dans son dos et vient se plaquer parfaitement dessus.</p>

    <p>Elle tombe de sommeil sur le coup. Tu te précipites à l'intérieur de l'auberge. Tout le monde est médusé et n'ose faire quoi que ce soit. Ymir se soigne et porte la prophète comme un paquet pendant que tu aides Zaïra à reprendre ses esprits.</p>

    <p>
      - On part vite, accrochez-vous à moi, vous dit Ymir.
    </p>

    <p>Les policiers sont tellement empêtrés dans les ronces qu'ils n'arrivent pas à incanter quoi que ce soit. Seuls leurs cris résonnent :<br /><br />
      - On vous retrouvera !!
    </p>

    <p>Tu t'accroches à Ymir et Zaïra fait de même. Et te voilà propulsé<span class="sf">e</span> dans le ciel à une vitesse inimaginable pour te retrouver juste quelques instants plus tard sur la colline où vous avez préparé votre plan. La prophète est toujours endormie dans sous le bras d'Ymir.</p>

    <p>
      - Bravo <span class="tonnom"></span>, ces policiers ont failli tout faire échouer.
    </p>

  <div class="choix">
    <div class="ch" data-go="230">Continuer</div>
  </div>
</div>
