<div class="num num-1-3-199 retour-197">

  <div class="text chapter3">

    <h1>- 199 -</h1>

    <p>
      Zaïra tente de passer au milieu des policiers et tu déclenches un sort de "racines" pour les fixer sur place. Mais Ymir fait de même avec un sort de ronces. Zaïra n'a aucun mal à passer mais se fait projeter avec puissance contre le mur de l'auberge par la prophète. Ymir sort son artefact à son tour pour le plaquer contre Méonie mais son bras tombe au sol comme s'il avait fondu.
    </p>

    <p>Après avoir donné une dernière pichenette mentale à Ymir, Méonie se retourne vers toi. Elle semble avoir ressenti ton énergie dans la bataille.</p>

    <p>Tu décides de ne pas attendre de savoir ce qu'il va se passer et de prendre tes jambes à ton cou. Mais l'auberge est soufflée par une énergie terrible qui t'envoie percuter le mur de la maison d'en face. Cette dernière est, de tout façon, explosée par la force de l'explosion de Méonie. Te voilà aplati<span class="sf">e</span> sous une tonne de briques et de poutres de bois.</p>

    <p>Ton aventure se termine ici.</p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>
</div>
