<div class="num num-1-3-2">

  <div class="text chapter3">

    <h1>- 2 -</h1>

    <p>Des monts noirs jusqu'à l'Académie le voyage est long, tu le sais bien. Que va-t-il se passer une fois arrivés là-bas ? Tu ne sais pas trop. Vous n'en avez pas beaucoup discuté. Lasseni veut des réponses, savoir pourquoi l'Académie vous a menti pendant des années, pourquoi on vous a enseigné que Ymir et Zaïra étaient mort.</p>

    <p>Fandrean est là pour soutenir sa soeur, accablée par son nouveau pouvoir. Elle a beaucoup de mal à dormir la nuit, et vous réveille régulièrement en hurlant, suite à un cauchemar. Bien sûr, son frère désire aussi connaître la vérité de la part de l'Académie. Mais il a l'air de mettre ça derrière la protection de sa soeur. Peut-être veut-il la surveiller aussi. Jusqu'à quel point peut-on faire confiance en quelqu'un qui a été corrompu par le pouvoir de Soufflardent ?</p>

    <p>Mac Lumy suit le groupe, il ne dit pas grand chose mais semble inquiet. Tu te doutes que vous n'allez pas être accueilli à bras ouverts à l'Académie dans ces conditions. Après tout, vous venez faire éclater la vérité qu'ils souhaitent cacher à tout le monde. Qui plus est, accompagnés d'une des héritière de Soufflardent.</p>

    <div class="def-naif">
      <p>Selon toi, vous n'avez pas à avoir peur de tout ça malgré tout. Car vous avez vaincu le grand dragon noir finalement.</p>
    </div>
    <div class="def-peureux">
      <p>Penser à tout cela te terrifie. Chaque jour qui passe, vous vous rapprochez de l'Académie et chaque jour la peur te noue un peu plus l'estomac.</p>
    </div>
    <div class="def-bagarreur">
      <p>En tout cas, tu ne vas pas te débiner alors que tout cela laisse présager d'une belle bagarre. Tu essaies de demander à Fandrean le plus de conseils magiques possibles. Il ne faut pas perdre un instant.</p>
    </div>
    <div class="def-tricheur">
      <p>C'est vrai que l'Académie a menti, mais peut être que finalement c'était pour le bien de tous. Si les gens avait appris plus tôt que le grand dragon noir était vivant, ils auraient peut être paniqués. Et tu vois maintenant que passer outre le pouvoir de Soufflardent est impossible. Petit à petit, il s'est forgé une armée et finalement vit encore à travers 4 individus. Faut-il que tu aides l'Académie ou que tu continues avec Fandrean, Lasseni et Mac Lumy ? Tu es hésitant<span class="sf">e</span>.</p>
    </div>
    <div class="def-parfait">
      <p>De toute façon, tu ne connais pas la peur. C'est trop tôt pour paniquer et après ce que vous révèlerez, tout le monde rejoindra votre camp. Tu en es persuadé<span class="sf">e</span>.</p>
    </div>
  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="6">Continuer le voyage</div>
  </div>

</div>
