<div class="num num-1-3-20">

  <div class="text chapter3">

    <h1>- 20 -</h1>

    <p>Espéride ne t'attend pas et file vers les souterrains de la tour. Tu presses le pas pour la rattraper.</p>

    <p>- Professeur Espéride ! fais-tu pour la faire s'arrêter.</p>

    <p>Mais elle se retourne pour mettre un doigt sur ses lèvres et te fais signe de la suivre. Vous descendez toujours plus bas dans les étages jusqu'à ressortir sur un petit quai sur le lac. Tu n'avais encore jamais pris ce passage. C'est sûrement un espace pour les serviteurs pour pouvoir remonter des provisions. Un petit bateau a l'air de vous attendre avec quelques personnes que tu as déjà vu à l'Académie. A part Espéride il n'y a que des servants. Espéride te fait signe de monter à bord.</p>

    <p>- Professeur, qu'est-ce qu'il se passe ?<br />
      - L'Académie est tombée. Elle est entre les mains des prophètes… Fandrean va tomber dans un piège. Les quatre mages supérieurs se sont alliés avec les prophètes, héritiers du pouvoir de Soufflardent.<br />
      - Quoi ? Mais il faut les prévenir !<br />
      - … La seule chose qu'on puisse faire pour le moment c'est de fuir, te dit-elle.<br />
      - Attendez comment se fait-il que vous seule vous enfuyez ? demandes-tu.
    </p>

    <p>Espéride baisse la tête comme honteuse. Les autres passagers du petit navire n'ont pas l'air plus fiers.</p>

    <p>- Nous sommes les anciens espions de Soufflardent à l'Académie, quand nous avons appris ce qui était arrivé à notre maître nous avons retrouvé les prophètes et nous les avons fait pénétrer dans l'Académie. Ils ont pu mettre à genoux les 4 mages supérieurs facilement.<br />
      - Vous… vous êtes une espionne de Soufflardent ? fais-tu en murmurant sous le coup de la surprise.<br />
      - Je comprends ta surprise mais on doit partir maintenant.
    </p>



  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="48">Partir avec Espéride</div>
    <div class="ch" data-go="47">Retourner en courant le plus vite possible auprès de tes amis.</div>
  </div>

</div>
