<div class="num num-1-3-201 retour-195">

  <div class="text chapter3">

    <h1>- 201 -</h1>

    <p>
      Tu te décides à faire une petite explosion pour ne pas déclencher de panique. La détonation est quand même plus forte que ce que tu pensais et tout le monde te regarde. Tu prends alors tes jambes à ton coup dans une petite ruelle avec de lancer en urgence un nouveau sort de "masque" en changeant de sexe. Puis tu fais demi tour calmement. Et au premier angle de la rue tu manques de percuter les policiers qui semblent à ta poursuite.
    </p>

    <p>
      - Tu n'aurais pas vu un individu avec une sale gu... heu un salopard ? te demande un des policiers.
    </p>

    <p>Tu leur fais juste un signe de la main vers une ruelle plus loin et ils filent tous dans cette direction. Ouf ! Ils n'étaient pas bien malin, tu as pu les blouser. Tu retournes calmement à la fenêtre de l'auberge avec ta nouvelle apparence.</p>

    <p class="middle">*</p>

    <p>Finalement Méonie n'a pas été chamboulée par l'animation derrière l'auberge. Ymir semble se lever après un moment et laisser la prophète. Il quitte l'auberge au sous le regard de la prophète qui croise furtivement le tien. Tu te retournes contre le mur pour te cacher immédiatement mais tu ne sais pas si elle t'a vu. Tu n'oses plus regarder dans l'auberge et décide de changer de masque dans la ruelle d'à côté.</p>

  <div class="choix">
    <div class="ch" data-go="229">Retrouver Ymir et Zaïra</div>
  </div>
</div>
