<div class="num num-1-3-202 retour-160">

  <div class="text chapter3">

    <h1>- 202 -</h1>

    <p>
      Tu déclenches un pouvoir d'illusion pour provoquer un aveuglement sur Méonie et <span class="naorem"></span>. Tu prends la main de Mac Lumy mais vous réalisez trop tard que vous ne vous trouvez plus dans la tour de magie de l'Académie. Tu sembles être dans une gigantesque pièce en pierre remplie de brouillard et complètement fermée.
    </p>

    <p>
      - Ceci est le second monde, dit Méonie en se frottant les yeux pour essayer de voir quelque chose. C'est moi qui l'ai créé, personne ne peut s'en échapper sans mon autorisation.<br />
      - Tu nous sous-estimes vraiment <span class="tonnom"></span>, ajoute <span class="naorem"></span>. Nos pouvoirs sont aussi puissants que les tiens.
    </p>

    <p>Et le mage claque des doigts pour le montrer.</p>

    <p>Mac Lumy se transforme alors instantanément en flaque d'eau à tes pieds. Sa main qui tenait la tienne n'est plus que quelques gouttes restant accrochées à tes doigts. tu cries de désespoir laissant les deux prophètes libres de leurs actes pour te donner une leçon.</p>

    <p>Malgré tes pouvoirs, tu ne fais pas le poids face à deux prophètes et ta vie prends fin dans ce lieu sombre et froid. Ton aventure se termine ici.</p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>
</div>
