<div class="num num-1-3-203 retour-160">

  <div class="text chapter3">

    <h1>- 203 -</h1>

    <p>
      Tu sais que tu n'as pas d'autre échappatoire. Alors tu lances un dernier regard à Mac Lumy, les larmes au coin des yeux.
    </p>

    <p>
      - <span class="tonnom"></span>... tu ne vas quand même pas les écouter ? fait le jeune mage. On peut se battre, continue-t-il plein de fougue.
    </p>

    <p>Et il se lance vers les deux prophètes en préparant un sort de feu que tu sens puissant. Mais l'instant d'après il s'écroule à terre, inerte. tu viens d'arrêter son cœur et son flux sanguin dans tout son corps.</p>

    <p>Méonie et <span class="naorem"></span> semblent satisfaits.</p>

    <p>
      - J'avais l'intention de libérer Fandrean et Lasseni, souffle Méonie.<br />
      - Hein ? Merci de m'en parler avant quand même, fait <span class="naorem"></span> visiblement surpris.<br />
      - Oui… mais je pense qu'il faudrait peut-être ne pas se presser du coup.
    </p>

    <p>Méonie te jette un regard plein de reproches et s'en va. <span class="naorem"></span> te mets la main sur l'épaule et te dit à l'oreille.</p>

    <p>
      - Fait gaffe, je crois qu'elle va te surveiller maintenant, hé hé. Et moi aussi…
    </p>

  <div class="choix">
    <div class="ch" data-go="234">Continuer</div>
  </div>
</div>
