<div class="num num-1-3-204 retour-161">

  <div class="text chapter3">

    <h1>- 204 -</h1>

    <p>
      A l'auberge du port, tout le monde fête le retour de leur héros Fandrean. A titre personnel tu te réjouis d'avoir sorti Lasseni de là. Tu pensais que les habitants seraient plus réservés en ta présence mais visiblement cela ne les choque pas qu'un des prophètes soit là. Certains essaient même de te payer des pintes de bières, que tu refuses poliment. Du coup tu te venges sur les raviolis de poissons qui sont délicieux.
    </p>

    <p>
      - Fandrean, Lass', vous devez absolument rejoindre la résistance, leur lance Mac Lumy. Avec vous en plus on est sûr de gagner.
    </p>

    <p>Les chants et les cris disparaissent d'un coup. Et tout le monde tourne la tête vers toi, inquiet.</p>

    <p>
      - Ne vous inquiétez pas pour <span class="tonnom"></span>, <span class="sf">elle</span><span class="sg">il</span> est des notres, ajoute Mac Lumy en rigolant.<br />
      - Bravo pour la discrétion abruti, lui lances-tu.
    </p>

    <p>Moi ça à le mérite de relancer les rires, plusieurs personnes te tapent fortement dans le dos en rigolant comme si maintenant tu étais de leur famille. Ils sont tous inconscients ou quoi ? Mais ça te fait plaisir, c'est l'ambiance que tu aimerais voir regagner l'Académie. Avec la police magique, le moral des habitants était pour le moment au plus bas.</p>

    <p>
      - Je crois qu'on va quand même faire profil bas un moment, finit par vous dire Fandrean.<br />
      - … Tu dis ça pour me protéger ? lui demandes Lasseni... Inutile de répondre je sais que oui. Et bien fait ce que tu veux mais moi je vais rejoindre Mac Lumy et <span class="tonnom"></span>.<br />
      - Ha ha ha. Impossible de changer ma petite sœur. Entendu, on va vous rejoindre.
    </p>

    <p>Mac Lumy prends Lasseni dans ses bras qui tente de se sortir de son étreinte. Voir ces deux là comme ça te fait sourire. Certainement que vous n'allez pas pouvoir retrouver une pareille fête avant longtemps, alors tu en profites.</p>

  <div class="choix">
    <div class="ch" data-go="205">Continuer</div>
  </div>
</div>
