<div class="num num-1-3-205 retour-204">

  <div class="text chapter3">

    <h1>- 205 -</h1>

    <p>
      Le lendemain tu amènes tout le monde à Eaux-Claires avec tes pouvoirs. Espéride et les gens du village sont tous ravis de voir Fandrean les rejoindre.
    </p>

    <p>
      - On attendait plus que vous pour lancer la grande offensive. Hier pendant que vous arriviez à faire votre grande évasion, Allister a subi une attaque de l'ancien conseil de magie. Soyos, Pasha et Andaelor l'ont débusqué et attaqué.<br />
      - Il va bien ? demande immédiatement Mac Lumy.<br />
      - Oui, car Mullihane, la quatrième membre du conseil les a trahi et nous a rejoint. Elle a pu nous prévenir à temps. Mais les trois autres ont quand même fait un carnage dans les troupes d'Allister. <br />
      - Et du coup, il veut quand même lancer l'attaque contre l'Académie, demandes-tu interloqué<span class="sf">e</span>.<br />
      - C'est exact, on avance la date de notre grande attaque puisque de toute façon ils savent où nous sommes et ce que nous sommes en train de préparer.<br />
      - Du coup, on avance la date à quand, fait Mac Lumy ?<br />
      - Cette nuit, lui répond Espéride en souriant.
    </p>

  <div class="choix">
    <div class="ch" data-go="206">Continuer</div>
  </div>
</div>
