<div class="num num-1-3-206 retour-205">

  <div class="text chapter3">

    <h1>- 206 -</h1>

    <p>La grande offensive, c'est une attaque de l'Académie par plusieurs côtés. Vos espions vous ouvrirons les portes de la ville, et de l'école. Le quartier populaire du port va être soulevé. La police magique ne saura plus où donner de la tête. Le plus dur sera d'approcher les prophètes et de les éliminer avec votre sort. Tes amis accompagnés de Fandrean et d'Espéride auront la tâche première de s'occuper du prophète <span class="naorem"></span>. Méonie est la cible de l'équipe du général Allister.</p>

    <p>Parmis les autres danger potentiels il y a l'ancien conseil de magie. Les mages supérieurs Soyos, Pasha et Andaelor sont les plus puissants de l'Académie et pourraient vraiment causer des dommages dans vos rangs. Plusieurs de vos espions auront pour tâche de les assassiner juste avant le combat. Mais avec de tels adversaires rien n'est garantie. C'est pourquoi on te donne la tâche de finir le travail au cas où sur ces trois là puis d'aller retrouver l'équipe Espéride pour les aider.</p>

    <p>Lasseni demande ce qu'il est prévu de faire une fois qu'il ne restera plus qu'un seul prophète : toi.</p>

    <p>
      - Notre objectif est de détruire les prophètes mais <span class="tonnom"></span> est notre allié. Je sais que le général Allister connait un moyen de retirer les pouvoirs d'un prophètes sans le tuer. Mais le prophète doit être consentant.<br />
      - Oh, si Allister dit ça alors je n'ai vraiment aucune raison d'être inqui<span class="sf">ète</span><span class="sg">et</span>, réponds-tu cynique.<br />
      - Il faut que tu sois un peu plus confiante en Allister, je te jure qu'il n'est pas aussi mauvais que tu le penses, te rassure Mac Lumy.
    </p>

    <p>Après la discussion Lasseni vient te voir pour parler.</p>

    <p>
      - Tu as des doutes sur ce général Allister ? demande la mage des glaces.<br />
      - Disons que je me demande s'il ne serait pas lié à Usaki. Peut-être est-il réellement Usaki.<br />
      - Tu me fais confiance à moi ? te demande alors Lasseni.<br />
      - Qu...quelle question, bien sûr ! fais-tu.<br />
      - Je me charge de le surveiller et de veiller sur toi. Si tu me dis que cet Allister est louche alors il est louche pour moi aussi.
    </p>

    <p>Tu es content<span class="sf">e</span> que quelqu'un te crois enfin sur ce coup là. Lasseni te sourit et tu ne peux empêcher un petit rire aussi. Vous finissez la soirée avec votre groupe de première année puis tu retournes dans ta chambre à l'Académie, en te préparant pour l'attaque qui ne saurait tarder.</p>

  <div class="choix">
    <div class="ch" data-go="235">Continuer</div>
  </div>
</div>
