<div class="num num-1-3-207 retour-165">

  <div class="text chapter3">

    <h1>- 207 -</h1>

    <p>Tu sens le stress monter en toi. L'attente semble interminable. Comme personne n'entre dans le jardin, tout est silencieux. C'est le calme avant la tempête. Puis, un rire. Des voix de gens qui discutent se rapprochent.</p>

    <p>C'est Mullihane qui revient avec Méonie. Mais elle est également accompagnée de <span class="naorem"></span> ! Mince, deux prophètes, ce n'était pas prévu. Tu regardes Kannan mais elle regarde fixement les deux prophètes. Elle semble assez nerveuse. Et qui ne le serait pas dans cette situation.</p>

    <p>Tu ne connais pas le sort pour neutraliser les prophètes, mais peut-être que Mac Lumy ou Panacle sont au courant. Dans tous les cas, il faudra attendre que Kannan passe à l'action. Il est possible que ton amie décide d'abandonner la mission devant une difficulté plus grande que prévue. C'est elle qui est en première ligne, il vaut mieux la laisser décider.</p>

    <p>Dans le cas où elle déciderait d'attaquer quand même, il faut te tenir prêt<span class="sf">e</span>. Impossible de contacter Mac ou Panacle pour mettre au point une stratégie.</p>

    <p>Tu vois bien que Mullihane tente de faire partir <span class="naorem"></span> mais ce dernier dit qu'il a bien envie de discuter avec un nouveau membre pour la police magique.</p>

    <p>Kannan, a un petit sourire crispé aux lèvres quand ils arrivent à sa portée. Si Kannan réagit, que feras-tu ?</p>

  <div class="choix">
    <div class="ch" data-go="208">Cibler Méonie avec tes sorts - comme prévu</div>
    <div class="ch" data-go="209">Cibler <span class="naorem"></span> - Mac et Panacle viseront certainement Méonie</div>
    <div class="ch def-peureux" data-go="210">C'est trop dangereux, il vaut mieux se cacher et ne rien faire !</div>
  </div>
</div>
