<div class="num num-1-3-208 retour-207">

  <div class="text chapter3">

    <h1>- 208 -</h1>

    <p>Kannan se dévoile aussitôt et lance son sort. Elle s'est probablement dit qu'il fallait profiter de l'occasion et se débarrasser des deux prophètes d'un coup.</p>

    <p>Tu réagis en lançant un sort de racines sur Méonie à distance. De la glace vient également geler ses pieds et un bloc de pierre se crée derrière elle pour l'empêcher de fuir. Vous avez tous visé le même prophète. Une masse noire se forme devant elle et tente de la gober.</p>

    <p>Mais Kannan crie soudain de douleur et s'effondre au sol. Tu ne sais pas ce qu'il s'est passé mais elle se tient le visage. Beaucoup de sang coule entre ses doigts. <span class="naorem"></span> se fait ceinturer par Mullihane qui a concentré son énergie magique dans ses bras.</p>

    <p>La masse noire gobe Méonie sans qu'elle ait pu faire quoi que ce soit. <span class="naorem"></span> arrache les bras de la mage supérieure du vent et la projette à son tour dans la masse noire avant de l'éviter facilement lui même.</p>

    <p>Kannan ne peut plus maintenir son sort et celui-ci disparait. Ni Méonie, ni Mullihane n'ont réapparu. <span class="naorem"></span> s'avance lentement vers Kannan. Arrivé devant elle, il lève un bras et le ciel devient verdâtre. Non..., en fait il vient de créer une sorte de cage verte transparente avec son énergie, et vous êtes tous dedans.</p>

    <p>
      - Montrez-vous ! hurle le prophète. Ou je tue cette fille !
    </p>

    <p>Kannan est si faible que son sort de masque disparait à son tour.</p>

  <div class="choix">
    <div class="ch" data-go="241">Se montrer</div>
    <div class="ch" data-go="242">Rester caché<span class="sf">e</span></div>
  </div>
</div>
