<div class="num num-1-3-209 retour-207">

  <div class="text chapter3">

    <h1>- 209 -</h1>

    <p>Kannan se dévoile aussitôt et lance son sort. Elle s'est probablement dit qu'il fallait profiter de l'occasion et se débarrasser des deux prophètes d'un coup.</p>

    <p>Tu réagis en lançant un sort de racines sur <span class="naorem"></span> à distance. Pendant ce temps, de la glace vient également geler les pieds de méonie et un bloc de pierre se crée derrière elle pour l'empêcher de fuir. Tes deux compères ont bien visé la prophétesse. Une masse noire se forme devant elle et tente de la gober.</p>

    <p>Mais Kannan crie soudain de douleur et s'effondre au sol. Tu ne sais pas ce qu'il s'est passé mais elle se tient le visage. Beaucoup de sang coule entre ses doigts. <span class="naorem"></span> se fait ceinturer par Mullihane qui a concentré son énergie magique dans ses bras.</p>

    <p>Méonie dans un réflexe incroyable se coupe les jambes pour éviter que la masse noire ne la gobe. Pendant ce temps tu lances un sort supplémentaire sur <span class="naorem"></span>. Tu déclenches le sort de lumière le plus puissant possible pour l'aveugler et tu cours vers Kannan.</p>

    <p>Alors que tu la prends dans tes bras, tu croises le regard de Méonie. Tu vas mourir c'est sûr. Mais elle perds connaissance quand Panacle la frappe à la tête. Tu te dépêches de sauter dans le vide par le balcon que tu avais repéré en lançant un sort de "chute contrôlée". Panacle te suit, mais Mac se fait attendre. Tu n'as aucune idée de ce qui est arrivé à Mullihane et <span class="naorem"></span>.</p>

    <p>Soudain le petit mage blond vous rejoint. Vous n'avez même pas encore pris le temps de lancer un sort de soin à Kannan. Mais beaucoup de sang coule de ses yeux. Un des deux prophètes a dû les lui éclater.</p>

    <p>
      - Tiens bon Kannan ! lui dis-tu. On va te sortir de là.
    </p>

    <p>Vous fuyez à travers la ville basse avant de récupérer votre barque. Beaucoup de passants vous ont vu et vous devez fuir le plus vite possible. Haziko est pour le moment en sécurité où elle est, tu t'en préoccuperas plus tard.</p>

  <div class="choix">
    <div class="ch" data-go="245">Continuer</div>
  </div>
</div>
