<div class="num num-1-3-21">

  <div class="text chapter3">

    <h1>- 21 -</h1>

    <p>
      - <span class="tonnom"></span>, tu dois rejoindre Espéride à l'embarcadère des provisions, te dit ta mère. Elle va bientôt s'enfuir. Ce n'est pas vraiment une amie mais maintenant on a des intérêts communs. Je vais retenir cette fille.<br />
      - Mais… maman. Cette fille c'est une des prophètes ! fais-tu apeuré<span class="sf">e</span><br />
      - Je sais, j'ai déjà prévu de quoi la combattre. Mais je ne pourrai pas lancer mes sorts si je sais que tu es dans le coin. Maintenant vas-y.
    </p>

    <p>D'une tape dans le dos, tu reçois une grosse quantité d'énergie qui te fait te téléporter sur un escalier. Pris<span class="sf">e</span> de surprise, tu trébuches et roules sur quelques marches jusqu'à atterrir sur le quai des provisions en question. Un petit bateau a l'air d'être sur le point de partir. Plusieurs marins te regardent surpris et apeurés. Il s'agit uniquement de serviteurs de l'Académie qui ne manient pas la magie.</p>

    <p>Un instant après, Espéride déboule des escalier et se fige un instant en te voyant. Puis elle se reprend et te dit :<br />
      - Ok <span class="tonnom"></span>, c'est ta mère qui t'as envoyé, c'est ça ? Embarques tout de suite. On ne peut plus attendre.<br />
      - Il faut attendre ma mère, elle va arriver. Elle se bat avec une des prophètes.<br />
      - Hein ?...fait Espéride en faisant accélérer les procédures d'embarquement. Raison de plus, on ne va pas traîner ici.
    </p>

    <p>Les autres marins aussi prennent peur en entendant ton histoire. Ils n'ont pas vraiment l'air surpris. Comme s'ils s'enfuyaient justement à cause de la présence des prophètes.</p>

    <p>- Je vais pas t'obliger si tu ne veux pas partir. Mais je pense que ta mère t'a envoyé jusqu'à moi pour que tu t'en sortes, fait Espéride en te tendant la main pour te faire monter sur le navire.</p>

    <p>Tu acceptes à contrecœur et le bateau s'éloigne rapidement grâce à une brise magique lancée par la mage du vent. Tu regardes derrière toi cette tour de l'Académie que tu venais tout juste de retrouver et tu espères que ta mère a réussi à se sortir des griffes de ce prophète.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="48">Continuer</div>
  </div>

</div>
