<div class="num num-1-3-210 retour-207">

  <div class="text chapter3">

    <h1>- 210 -</h1>

    <p>Kannan se dévoile aussitôt et lance son sort. Elle s'est probablement dit qu'il fallait profiter de l'occasion et se débarrasser des deux prophètes d'un coup.</p>

    <p>Tu restes sur place surpris<span class="sf">e</span> que ton amie ait pris un tel risque. Pendant ce temps, de la glace vient également geler les pieds de méonie et un bloc de pierre se crée derrière elle pour l'empêcher de fuir. Tes deux compères ont bien visé la prophétesse. Une masse noire se forme devant elle et tente de la gober.</p>

    <p>Mais Kannan crie soudain de douleur et s'effondre au sol. Tu ne sais pas ce qu'il s'est passé mais elle se tient le visage. Beaucoup de sang coule entre ses doigts. <span class="naorem"></span> se fait ceinturer par Mullihane qui a concentré son énergie magique dans ses bras.</p>

    <p>Méonie dans un réflexe incroyable se coupe les jambes pour éviter que la masse noire ne la gobe. Panacle se précipites vers Kannan en assomant Méonie. Mac Lumy lui se précipite vers <span class="naorem"></span> pour aider Mullihane. Tétanisé<span class="sf">e</span> par la peur tu restes bien caché<span class="sf">e</span> dans ton bosquet.</p>

    <p>Panacle soulève Kannan et saute du balcon que tu avais repéré pour s'enfuir avec un sort de "chute contrôlée". Pendant ce temps <span class="naorem"></span> arrache les bras de Mullihane avant de lancer un lumière noire sur Mac Lumy qui s'effondre au sol sans bouger. <span class="naorem"></span> se précipite vers Méonie et lui promulgue un sort de soin qui arrête toutes ses blessures et lui fait repousser ses jambes. Mais elle reste inconsciente et <span class="naorem"></span> appelle des serviteurs et la police magique.</p>

    <p>Méonie est emmenée en repos très vite dans sa chambre pendant que Mac Lumy et Mullihane vont être enfermés dans les geôles. Mais avant d'emporter Mac Lumy, <span class="naorem"></span> demande à le voir. Il lance alors un sort de "masque" et prends l'apparence de ton ami avant de sauter à son tour par le balcon.</p>

    <p>Mince ! Le prophète veut certainement profiter de l'occasion pour s'infiltrer dans la résistance. Votre échec est total sur cette mission mais il vaut mieux te dépêcher de retourner auprès d'Espéride à Eaux-Claires. Malheureusement, le jardin est plein de monde et la police magique rôde partout.</p>

  <div class="choix">
    <div class="ch" data-go="211">Attendre qu'il y ait moins de monde</div>
    <div class="ch" data-go="212">Tenter un sort de masque pour s'enfuir</div>
  </div>
</div>
