<div class="num num-1-3-211 retour-210">

  <div class="text chapter3">

    <h1>- 211 -</h1>

    <p>Quelques minutes passent avant qu'un individu assez grand avec un grande cape rouge brodée de flammes ne fassent son apparition. Visiblement il est le chef de la police magique. Il demande à tous ses gardes de passer l'école au peigne fin au cas où d'autres terroristes se seraient infiltrés.</p>

    <p>Tu sens vraiment l'étau se resserrer sur toi. Mais personne ne t'a encore vu.</p>

    <p class="middle">*</p>

    <p>Il se passe une journée complète avant que le jardin semble plus calme. Tu n'as entendu aucune nouvelle de tes compagnons ou des prophètes mais tu n'es pas rassuré<span class="sf">e</span> pour autant. Tu prends ton courage à deux mains et sort de ta cachette pour passer finalement par dessus le balcon.</p>

    <p>La chute semble encore plus longue dans le noir et ton sort de chute contrôlé te réceptionne parfaitement. Tu tentes de rejoindre d'abord l'auberge où Haziko vous attendez mais tout est fermé. Haziko n'a probablement pas loué de chambre, elle a dû retourner à Eaux-Claires.</p>

    <p>Il ne te reste plus qu'à voler un bateau pour retourner de nuit à Eaux-Claires.</p>

    <p>A peine étais-tu en train de détacher les amarres que tu entends une explosion au loin. Cela provient de l'autre côté du lac, dans la direction d'Eaux-Claires. Quelque chose brûle. Est-ce que <span class="naorem"></span> a fait du grabuge ?</p>

  <div class="choix">
    <div class="ch" data-go="250">Continuer</div>
  </div>
</div>
