<div class="num num-1-3-212 retour-210">

  <div class="text chapter3">

    <h1>- 212 -</h1>

    <p>Tu te déguises en homme quelconque mais surtout avec la tenue reconnaissable de la police magique : un képi bleu et une tunique de la même couleur.</p>

    <p>Sortant de ton bosquet, un policier te voit sortir.</p>

    <p>
      - Personne dans ce bosquet, fais-tu avec aplomb.<br />
      - Ha ? fait-il étonné. Ok, vous êtes du genre à être hyper rigoureux vous. Deux prophètes étaient ici à se battre il y a quelques minutes vous savez. S'il y avait quelqu'un il serait parti en courant depuis longtemps.<br />
      - On n'est jamais trop prudent, lui assures-tu.<br />
      - Exactement, renchérit celui qui semble être le chef et qui vient d'arriver.
    </p>

    <p>Il ne ressemble pas aux autres, il a une belle robe rouge avec des flammes brodées dessus.</p>

    <p>
      - Pardon Chef Esteban ! fait le premier policier. Oui, chef on va fouiller chaque bosquet.<br />
      - Je préfère ça, lui répond Esteban. Toi quel est ton nom ?<br />
      - Heu… Yfo Kjyaille, fais-tu en inventant un nom le plus vite possible.<br />
      - Et bien Yfo, je pense que vous aller monter en grade.<br />
      - Ha, j'en suis ravi.
    </p>

    <p>Le policier te laisse tranquille et tu te déplaces subtilement jusqu'à la porte de service. Puis, sitôt seul<span class="sf">e</span>, tu files jusqu'à l'auberge où t'attend Haziko. En quelques enjambées t'y voilà rendu<span class="sf">e</span>.</p>

    <p>
      - Haziko ! Vite il faut retourner à Eaux-Clairs ! Urgence absolue, je t'expliquerai en route.<br />
      - Heu… je ne vous connais pas monsieur le policier. Et je n'ai rien fait de mal.<br />
      - Hein… ? Ah, oui mon sort de masque. C'est moi <span class="tonnom"></span>, suis-moi vite.
    </p>

    <p>Et tu pars en trombe. Tu es obligé<span class="sf">e</span> de te retourner et d'attendre Haziko qui a mis un peu de temps à tout comprendre.</p>

  <div class="choix">
    <div class="ch" data-go="251">Continuer</div>
  </div>
</div>
