<div class="num num-1-3-213 retour-166">

  <div class="text chapter3">

    <h1>- 213 -</h1>

    <p>En rentrant à Eaux-Claires, vous apprenez la mauvaise nouvelle à Espéride et à la résistance. Eux aussi n'ont pas de bonnes nouvelles.</p>

    <p>Visiblement Allister a été débusqué par l'Académie. Les prophètes ont envoyé Soyos, Pasha et Andaelor, qui formaient l'ancien conseil de magie avec Mullihane, à sa rencontre. Allister a perdu une partie de la résistance de son côté mais, lui n'est pas blessé.</p>

    <p>
      - On a vraiment passé un mauvaise journée, fais-tu complètement au bout du rouleau.<br />
      - Et bien ressaisis-toi, te dit Espéride. Car cela a convaincu Allister de lancer la grande bataille cette nuit.<br />
      - Qu..Quoi ? Mais on a subit trop de pertes ! t'exclames-tu. C'est du suicide !<br />
      - On ne va pas attendre que les prophètes nous fassent plus de dommages, on va tout finir ce soir. Personne ne s'y attendra.
    </p>

    <p>Anselm et Haziko semblent plutôt d'accord avec le discours d'Espéride. Mais toi tu te dis que cela va finir en tuerie totale.</p>

  <div class="choix">
    <div class="ch" data-go="214">Continuer</div>
  </div>
</div>
