<div class="num num-1-3-214 retour-213">

  <div class="text chapter3">

    <h1>- 214 -</h1>

    <p>La grande offensive, c'est une attaque de l'Académie par plusieurs côtés. Vos espions vous ouvrirons les portes de la ville, et de l'école. Le quartier populaire du port va être soulevé. La police magique ne saura plus où donner de la tête. Le plus dur sera d'approcher les prophètes et de les éliminer avec votre sort. Haziko, Anselm et toi accompagnés d'Espéride et de quelques mages de la résistance auront la tâche première de s'occuper du prophète <span class="naorem"></span>. Méonie est la cible de l'équipe du général Allister.</p>

    <p>Parmi les autres danger potentiels il y a l'ancien conseil de magie. Les mages supérieurs Soyos, Pasha et Andaelor sont les plus puissants de l'Académie et pourraient vraiment causer des dommages dans vos rangs. Plusieurs de vos espions auront pour tâche de les assassiner juste avant le combat. Mais avec de tels adversaires rien n'est garantie.</p>

    <p>Enfin, Lasseni ne fait pas partie des objectifs de la mission et personne n'en parle. Alors qu'elle a des pouvoirs incommensurables. Espéride te dit que Lasseni reste souvent dans sa chambre sans rien faire selon les espions. Elle ne devrait opposer aucune résistance.</p>

    <p>Le reste des troupes de votre côté sera chargé d'affronter la police magique et tous les mages de l'école qui sont restés fidèles aux prophètes.</p>

    <p>
      - Bien, si personne n'a de questions, reposez-vous ! fait Espéride à tout le monde. Nous attaqueront cette nuit.
    </p>

    <div class="av-studieux">
      <p>Ton frère était élève à l'Académie. Encore dans les classes inférieurs mais c'est vrai qu'il était donc là quand les prophètes sont arrivés, alors tu demandes de ses nouvelles.</p>
      <p>
        - … ? J'avoue que je ne sais pas ce qu'il lui est arrivé, s'excuse Espéride.<br />
        - Il s'appelait Eran, c'est ça ? demande un mage que tu ne connais pas.<br />
        - Oui ! dis-tu plein<span class="sf">e</span> d'espoir.<br />
        - Je l'avais vu partir de l'école le jour de l'attaque mais je ne sais pas où il est allé. S'il est parti de l'Académie il devrait être en vie.<br />
        - Oui, il est certainement retourné à Sarambe ! fais-tu avec certitude.
      </p>

      <p>Cette nouvelle te rassure plutôt même si cela demande à être confirmé. En tout cas tu vas pouvoir te lâcher pendant l'attaque de cette nuit.</p>
    </div>
    <div class="av-riche">
      <p>Mais tu demandes quand même des nouvelles de ta mère. le regard d'Espéride s'assombrit.</p>
      <p>
        - Il parait que ta mère a affronté la prophète Méonie quand celle-ci a attaqué l'Académie pour en prendre possession. Et nos espions ne l'ont jamais revus là-bas. Il parait que beaucoup de mages ont disparu les jours qui ont suivi l'attaque. Beaucoup ont réussi à fuir et rejoindre la résistance. D'autres ont préféré s'enfuir par lâcheté mais je connaissais bien ta mère et je si elle n'a pas donné de signe de vie c'est qu'elle est...<br />
        - Non, c'est la mage la plus puissante que je connaisse, elle ne peut pas m'abandonner maintenant, fais-tu au bord des larmes. Je devais lui prouver que j'étais devenu<span class="sf">e</span> un<span class="sf">e</span> vrai<span class="sf">e</span> mage !<br />
        - ... Elle le savait, dit Espéride pour te soulager. Tu n'avais rien à lui prouver, elle savait que tu étais un<span class="sf">e</span> grand<span class="sf">e</span> mage.
      </p>

      <p>La mage te prends dans ses bras mais tu t'écartes.</p>

      <p>
        - Vous ne l'avez pas vue mourir ? Alors elle est peut-être vivante ! t'écries-tu.<br />
        - … Je suis désolée, continue Espéride. Nos sorts de "visions de rêves" restent noirs… ce qui signifie généralement que la personne qu'on rechercher est morte. Je ne veux pas que tu te fasses d'illusions. Mais du coup si tu préfères rester ici plutôt que de te joindre à l'attaque de cette nuit je comprendrai.<br />
        - … Non… non je vais venir. ...Et...je retrouverai ma mère.
      </p>
    </div>
    <div class="av-populaire">
      <p>Comme l'île de l'Académie va être attaquée, tu demandes ce que vont devenir les habitants.</p>
      <p>
        - La plupart des habitants n'ont pas de pouvoirs magiques, ils vont rester bien tranquillement chez eux, explique Espéride. A part les gens du port, tous les autres vont attendre que les choses se passent. En agissant de nuit on risque moins d'avoir des morts du côté des civils. Mais éviter de lancer des sorts trop puissants en dehors de l'école.<br />
        - Ouf, fais-tu soulagé<span class="sf">e</span>.<br />
        - On n'attaque pas de nuit pour les éviter des morts du côté des habitants mais ça nous arrange bien en fin de compte.
      </p>

      <p>Cette nouvelle te rassure plutôt. En tout cas tu vas pouvoir te lâcher pendant l'attaque de cette nuit.</p>
    </div>
    <div class="av-sportif">
      <p>Tu demandes quand même si quelqu'un aurait des nouvelles de Levy.</p>
      <p>
        - Levy fait parti de l'équipe du général Allister. Il parait qu'il attaquera avec plusieurs autres sur le dos de leurs dragon-fées.<br />
        - C'est vrai !
      </p>

      <p>Tu sautes de joie car tu n'avais aucune nouvelle de sa part depuis un moment. Encore une bataille que vous ferez ensemble. Tu espères que vous vous en sortirez tous les deux. En tout cas tu vas pouvoir te lâcher pendant l'attaque de cette nuit.</p>
    </div>

  <div class="choix">
    <div class="ch" data-go="253">Continuer</div>
  </div>
</div>
