<div class="num num-1-3-215 retour-168">

  <div class="text chapter3">

    <h1>- 215 -</h1>

    <p>Les cris de <span class="naorem"></span> ne se calme pas et tu n'arrives pas du tout à le calmer. Puis d'un coup tu le vois partir par la fenêtre et s'envoler. Il est au dessus du lac et des nuages commencent à s'amonceler dans le ciel. Une tempête se prépare.</p>

    <p>Des éclairs viennent rapidement le frapper en plein ciel sans qu'il n'y prête attention. Des bourrasques énormes se forment autour du prophète jusqu'à créer une gigantesque trombe d'eau. Les navires sur le lacs sont balayés comme des brindilles. Sur l'île de l'école, le vent et si fort que la plupart des gens sont obliger de s'abriter pour ne pas tomber par terre. Certaines toitures commencent à s'arracher.</p>

    <p>Tu te décides à t'élancer dans les airs pour contenir la colère de <span class="naorem"></span> mais les arcs électriques autour de lui te font y réfléchir une deuxième fois.</p>

    <p>
      - <span class="naorem"></span> !! lui cries-tu à travers la trombe qui s'élève désormais tout autour du prophète.
    </p>

    <p>Mais rien n'y fait. Si tu ne l'arrêtes pas il va détruire toute l'Académie. Tu décides de concentrer l'énergie de Soufflardent utilisée par <span class="naorem"></span> sur toi pour que tu sois la seule personne a subir les dommages.</p>

    <p>Et une énergie fantastique t'arrive si fort que tu manques de t'écraser dans les eaux du lac, te reprenant au dernier moment. Au moins la trombe se désagrège formant un petite pluie fine. Le vent se calme également et <span class="naorem"></span> semble se calmer.</p>

    <p>Tu le raccompagnes lentement jusqu'à sa chambre.</p>

    <p>
      - Tout va bien ? lui demandes-tu penché<span class="sf">e</span> sur son lit.<br />
      - … Oui je crois. Il faut rappeler les deux mages légendaires, on doit leur parler.<br />
      - Attends, rien ne dit qu'Ymir et Zaïra soit derriè... commences-tu à dire avant d'être coupé<span class="sf">e</span>.<br />
      - Je sais. Je vais leur dire que je vais rendre mes pouvoirs.<br />
      - Qu... Quoi !? Heu...ok.<br />
      - Le plus tôt sera le mieux, tu peux te charger de les appeler ?<br />
      - …Entendu, lui promets-tu.
    </p>

    <p>Tu le laisses se reposer dans sa chambre. La mort de Méonie l'a beaucoup plus perturbé que tu ne l'aurais cru. Bien entendu la petite prophète était très gentille, mignonne et jamais de mauvaise humeur. Peut-être qu'il l'aimait.</p>

  <div class="choix">
    <div class="ch" data-go="216">Continuer</div>
  </div>
</div>
