<div class="num num-1-3-216 retour-215">

  <div class="text chapter3">

    <h1>- 216 -</h1>

    <p>Tu as promis de donner rendez-vous a Ymir et Zaïra pour leur dire que <span class="naorem"></span> voulait rendre ses pouvoirs. Cela te laisse un peu incertain<span class="sf">e</span> quant à conserver tes pouvoirs. Il faut au moins que tu les conserves jusqu'à la chute d'Usaki mais après ?</p>

    <p>Comme prévu, connaissant l'aura des énergie des deux mages légendaires, les retrouver est un jeu d'enfants pour toi. Tu te matérialises juste à côté d'eux, sur une colline proche de l'Académie.</p>

    <p>
      - Que s'est-il passé ? te demande Ymir. Nous avons vu la tornade.<br />
      - Méonie est morte, dis-tu sobrement. <span class="naorem"></span> a eu une légère crise mais souhaite désormais rendre ses pouvoirs.<br />
      - Cet événement inattendu fait bien les choses, réagit Zaïra.
    </p>

    <p>La réaction des deux mages ne semble pas feinte. Ils n'ont vraiment pas l'air d'être pour quoi que ce soit dans la mort de Méonie.</p>

    <p>
      - Quand pourriez-vous venir à la grande tour pour nous expliquer la procédure à suivre pour rendre les pouvoirs de Soufflardent ?<br />
      - Tu souhaites aussi rendre tes pouvoirs ?<br />
      - Hum… pas encore. Mais le pouvoir ne m'intéresse pas. Je dois par contre faire quelque chose avant de laisser la puissance de Soufflardent de côté.
    </p>

    <p>Ymir et Zaïra se regardent en hochant la tête.</p>

    <p>
      - Nous sommes certain que tu as la tête sur les épaules mais ne traine pas si tu ne veux pas que ton corps se désagrège, t'alerte Ymir.<br />
      - Nous passerons cette nuit. Nous devons prendre quelques précautions quand même, on ne doute pas de toi mais pour <span class="naorem"></span>...t'expliques Zaïra<br />
      - Je vous assures que la mort de Méonie lui a vraiment fait un choc. Mais ok. Je dirai à la police magique de vous laisser passer.
    </p>

    <p>Tu salues les deux mages puis tu repars aussi vite que tu arrivas.</p>

  <div class="choix">
    <div class="ch" data-go="254">Continuer</div>
  </div>
</div>
