<div class="num num-1-3-217 retour-169 à 173">

  <div class="text chapter3">

    <h1>- 217 -</h1>

    <p>Alors que tu réfléchissais encore aux paroles d'Ymir et Zaïra, tu reçois un message d'un serviteur.</p>

    <p>
      - C'est de la part de qui ? demandes-tu.<br />
      - Un élève de l'école je crois mais je ne suis pas sûr. Je ne suis pas mage mais la personne qui me l'a donné ne semblait pas...normale.
    </p>

    <p>Tu prends le message et renvois le serviteur. En dépliant le message une sorte de sceau magique se brise. Visiblement seules des personnes avec une grande énergie magique étaient capable d'ouvrir ce message. De même au contact de tes doigts les lettres sur le papier se changent pour former un autre message que celui écrit au préalable. La personne qui t'envois ce message a pris beaucoup de précautions pour que tu sois <span class="sf">la seule</span><span class="sg">le seul</span> à pouvoir le lire.</p>

    <p>"Bonjour, mon nom n'a que peu d'intérêt. Mais je voudrai vous donner une information d'importance vitale pour vous. Le général Allister, préparant l'attaque de l'Académie avec la résistance se trouvera ce soir dans le village de Trois-Chemin. Cherchez une aura étrange, sans magie, ce sera la sienne. Méfiez-vous : ses pouvoirs ne sont pas une blagues. Signé : Un fidèle de Soufflardent."</p>

    <p>Tu tiens dans tes mains une opportunité à ne pas louper. Mais comme le message le dit, cet Allister a des pouvoirs extraordinaires. Et si son aura semble sans magie c'est peut être parce qu'il utilise la magie de la lune. Donc ce serait Usaki ?</p>

    <p>Tu te demandes si tu dois parler de tout ça à <span class="naorem"></span> et Méonie ou si tu te débrouilles seul<span class="sf">e</span>.</p>

  <div class="choix">
    <div class="ch" data-go="220">Parler à <span class="naorem"></span> et Méonie</div>
    <div class="ch" data-go="218">Surprendre Allister seul<span class="sf">e</span> cette nuit</div>
  </div>
</div>
