<div class="num num-1-3-218 retour-217">

  <div class="text chapter3">

    <h1>- 218 -</h1>

    <p>Tu attends la nuit pour aller t'infiltrer jusqu'à la ville de Trois-Chemin. Tu essaies de sentir une présence sans magie comme te l'a confié le message. Et effectivement une personne semble être un mage mais son énergie est très bizarre. Tu décides de prendre toutes les précautions possibles : tu concentres ton énergie au maximum pour lancer un sort d'invisibilité totale sur toi. Personne ne pourra sentir ton aura, te voir, te sentir, te toucher ou t'entendre.</p>

    <p>Tu traverses le ciel nocturne est clair à la vitesse du vent. Les lumières du village brillent encore. C'est d'habitude le signe d'une fête car l'heure est tardive. Mais là, il s'agit de personnes faisant des rondes dans le village. Ils doivent être sur leur garde pour protéger quelque chose… ou quelqu'un !</p>

    <p>Une grande maison est ton objectif : tu sens l'aura vide d'énergie de Soufflardent au premier étage, isolée. Personne n'est avec lui mais la lumière est allumée. Tu traverses le mur pour te retrouver à côté d'un homme, bien habillé quoi que normal. Assez grand et brun. Il n'a pas l'air d'avoir de sort de masque mais tu sens une énergie autour de lui : peut être a-t-il inventé un nouveau sort pour ne pas se faire repérer par vos pouvoirs. Il est en train d'écrire toutes sortes de parchemins et ne sent pas ta présence.</p>

    <p>En lisant par dessus ses épaules tu vois qu'il est en train de donner ses futurs ordres à la résistance. Des ordres indiquant que la prochaine cible à abattre sera l'Académie. Un autre disant dans quelle ville il sera le lendemain. Ces messages, il ne les a pas encore envoyés.</p>

    <p>Tu n'arrives pas à être sûr<span class="sf">e</span> à cent pour cent qu'il s'agit d'Usaki. Tu le sens dans tes tripes mais tu n'as pas de certitude. Il s'agit néanmoins d'un ennemi aux prophètes c'est la seule chose pour laquelle tu n'as aucun doute.</p>

  <div class="choix">
    <div class="ch" data-go="219">L'assassiner</div>
  </div>
</div>
