<div class="num num-1-3-219 retour-218">

  <div class="text chapter3">
    <!-- Pas allié de la résistance -->
    <h1>- 219 -</h1>

    <p>Sans ménagement tu lui envoies un décharge d'énergie incroyable. Mais avec des réflexes surhumain il arrive à s'écarter au dernier moment, ton énergie lui arrachant le bras droit et une partie de son ventre tout de même.</p>

    <p>Devant la douleur, sa magie s'estompe et l'homme se change en noctule, immense dans la pièce et pouvant à peine bouger. Il tremble et pose sa main gauche sur sa blessure. Tu n'arrives pas à reconnaitre les noctules entre eux mais celui là est de la taille d'Usaki dans tes souvenirs.</p>

    <p>Il n'a pas l'air de savoir où tu te trouves et tu perds un peu de temps à l'observer sous l'effet de surprise de sa transformation en noctule. Cela lui laisse un temps précieux. En effet il ne cherchait pas à mettre la main sur sa blessure mais à récupérer un artefact qu'il avait dans une poche de son vêtement maintenant déchiré. Il appuie fébrilement dessus et disparait avant même que tu aies le temps de continuer à l'attaquer.</p>

    <p>Déçu de ne pas avoir agi plus vite, tu te décides à fouiller ses affaires. Et tu retrouves un document qu'il a reçu dans la journée, d'Espéride, ton ancienne professeure. Ce parchemin lui indique que Mullihane est désormais une espionne qui travaille pour la résistance. Il y a donc une traitresse avec beaucoup de pouvoirs à l'Académie. Tu as l'impression qu'Usaki a toujours un coup d'avance sur vous mais cette fois c'est toi qui a l'information.</p>

    <p>Tu décides de simplement retourner te coucher dans ton lit, à l'Académie.</p>

  <div class="choix">
    <div class="ch" data-go="259">Continuer</div>
  </div>
</div>
