<div class="num num-1-3-22">

  <div class="text chapter3">

    <h1>- 22 -</h1>

    <p>Tu te réveilles sur une paillasse humide. Il fait froid et seul un fin rayon de soleil filtre par une fente dans le mur derrière toi. La solide porte de bois qui ferme cette pièce te le dit : tu es enfermé<span class="sf">e</span> dans les geôles de l'Académie.</p>

    <p>Tu ne les avais jamais visité mais tu entends le clapotis des vagues qui passent par l'ouverture dans le mur. Il y a également une sorte de bourdonnement dans tes oreilles que tu n'arrives pas à arrêter. C'est très désagréable.</p>

    <p>Mais plus grave encore tu constates que tu n'arrives plus du tout à concentrer ton énergie. Faire de la magie est impossible pour le moment.</p>

    <p>Tu entends des personnes parler dans une pièce à côté sans pour autant comprendre de quoi ils discutent. Puis, une porte se referme, un verrou se ferme et des pas s'approchent de toi. Ils s'arrêtent devant ta porte et la déverrouillent.</p>

    <p>Soyos en personne arrive dans ta geôle, accompagné par un garde armé d'une épée qui reste dans le couloir.</p>

    <p>- Réveillé<span class="sf">e</span> ?</p>

    <p>Tu ne lui réponds pas. Ce type a livré l'Académie aux prophètes, tu n'as vraiment rien à lui dire.</p>

    <p>- Ecoute-moi <span class='tonnom'></span>, je sais ce que tu dois penser. Mais ces types sont trop forts. Si on s'oppose à eux c'est le système entier de l'Académie qui va disparaitre. Plus de mages pour aider la population, des gens mourront… En travaillant pour eux, on pourra toujours limiter les dégâts. Crois moi c'est ce qui est le mieux pour tout le monde.<br />
    - C'est surtout ce qui est le mieux pour vous, finis-tu quand même par dire.<br />
    - Je comprends ce que tu ressens car quand ils sont arrivés ici j'étais pareil que toi. Ce que tu dois savoir c'est que je les ai convaincu de ne pas tous vous tuer. Nous t'avons formé, ce serait dommage de ne pas plus apprécier tes qualités de mage. Si tu acceptes de travailler pour nous, les prophètes ne te tiendront pas rigueur de ta révolte.<br />
    - Tout le monde est vivant ? Vous aller relâcher tout le monde ? demandes-tu inqui<span class="sf">ète</span><span class="sg">et</span>.<br />
      <span class="fin fin-1">
      - Et bien, je dois avouer qu'il n'a pas été facile de vous avoir la vie sauve. Il parait que vous avez, toi et tes camarades, contribués à la mort de Soufflardent et ça les mets vraiment en rogne. Mais ils ont accepté quand Lasseni leur a dit qu'elle les rejoindrait.<br />
      - Ordure ! fais-tu en colère. Vous l'avez forcé !<br />
      - Hé ! Si tu n'acceptes pas notre offre, sache que tu seras exécuté<span class="sf">e</span> dès demain. Je reviens ce soir pour entendre ta réponse, réfléchis bien.
      </span>
      <span class="fin fin-2">
      - Et bien, je dois avouer qu'il n'a pas été facile de vous avoir la vie sauve. Il parait que vous avez, toi et tes camarades, contribués à la mort de Soufflardent et ça les mets vraiment en rogne. Mais ils ont quand même reconnu votre valeur.<br />
      - Jamais je ne vous rejoindrai ! fais-tu en colère.<br />
      - Hé ! Si tu n'acceptes pas notre offre, sache que tu seras exécuté<span class="sf">e</span> dès demain. Je reviens ce soir pour entendre ta réponse, réfléchis bien.
      </span>
    </p>

    <p>Soyos te jette un regard dédaigneux puis referme la porte en la verrouillant.</p>



  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="23">Réfléchir à la proposition de Soyos</div>
  </div>

</div>
