<div class="num num-1-3-220 retour-217">

  <div class="text chapter3">

    <h1>- 220 -</h1>

    <p>
      - Le chef de ces rebelles sera à Trois-Chemin ? s'étonne <span class="naorem"></span>.<br />
      - C'est ce que semble indiquer ce message, réponds-tu.<br />
      - C'est peut-être un piège pour nous attirer là-bas, fait Méonie.<br />
      - Oui. Le message t'était uniquement adressé, reconnait <span class="naorem"></span>. Il faut peut-être prudent. C'est peut être un coup de ces mages légendaires. Je propose qu'on envoie le conseil de magie s'occuper de cet Allister : il faut bien qu'ils nous servent à quelque chose, non ?<br />
      - Tu veux dire… commences-tu.<br />
      - Oui laissons Pasha, Soyos, Mullihane et Andaelor s'occuper de cela.
    </p>

    <p>Tout le monde semble valider cette option. Et vous rassemblez les quatre mages supérieurs pour leur donner une mission comme s'ils étaient de simples premières années en magie. S'ils ne sont pas contents, en tout cas ils ne le montrent pas. Ils partiront demain dans l'aprés-midi pour pouvoir attaquer cette nuit.</p>

    <p class="middle">*</p>

    <p>Le conseil revient en pleine nuit. Méonie vient te réveiller, puisque tu avais quand même décider de te reposer un peu. Vous les réunissez dans la salle de réception qui était la leur auparavant. Les quatre mages sont revenus sains et saufs.</p>

    <p>
      - Andaelor, au rapport, commence le mage. L'individu Allister semble effectivement avoir été au village de Trois-Chemin. Mais il a quitté précipitamment le village juste avant notre arrivée.<br />
      - Le village était par contre rempli de membres de cette résistance dont il fait parti, poursuis Soyos. Et même d'anciens mages de l'Académie qui veulent renverser votre pouvoir.<br />
      - Nous avons éliminé toutes les personnes dont nous sommes sûrs faisaient partis de ce groupe, continue Mullihane.<br />
      - Une des personnes capturée nous a dit qu'Allister avait été prévenu de notre arrivée, finit Pasha.
    </p>

    <p><span class="naorem"></span> fait grise mine.</p>

    <p>
      - Hum… Cela signifie que quelqu'un a trahi notre mission, fait-il. Qui était au courant ?<br />
      - Nous sept seulement, fais-tu en vous comptant. Trois prophètes et quatre membres du conseil.<br />
      - Il y a peut-être aussi la personne qui a envoyé le message qui pourrait être dans le coup, se demande Méonie.<br />
      - Bien, fait <span class="naorem"></span> en demandant au quatre mages de partir.
    </p>

    <p>Ils vous laissent à discuter dans la salle de réception, non sans s'être chacun décoché un regard inquiet.</p>

    <p>
      - Tu penses que les mages supérieurs veulent nous trahir, demandes-tu à <span class="naorem"></span>.<br />
      - Ils ne nous aiment pas et je n'ai pas une grande confiance en eux, te répond-t-il. Mais peut-être que seulement un ou deux sont des traîtres. On va devoir les avoir à l'œil ces quatre là.
    </p>

    <p>Vous êtes d'accord là dessus et repartez vous coucher.</p>

  <div class="choix">
    <div class="ch" data-go="261">Continuer</div>
  </div>
</div>
