<div class="num num-1-3-221 retour-176">

  <div class="text chapter3">

    <h1>- 221 -</h1>

    <p>
      De retour à l'Académie, <span class="naorem"></span> te dit que vous n'allez pas vous laisser faire. Dès demain, la police magique va fouiller toute la ville à la recherche d'espions. Aujourd'hui c'est l'école entière qu'il fait fouiller avec l'aide d'Esteban, le chef de la police.
    </p>

    <p>Puis une fois débarrassés de toutes ces personnes, vous irez cherchez autour du lac. Mais il te promet qu'il n'oublie pas Usaki pour autant. Il compte donner pour mission à l'ancien conseil de magie de le trouver et de le tuer. Soyos, Pasha et Andaelor auront donc cette mission. Mais ils seront tous les trois interrogés pour être sûr qu'ils ne sont pas des traitres eux-mêmes.</p>

    <p>Tu n'as même pas le courage de lui répondre. Toi et Méonie vous avez toujours essayez d'aider le maximum de personnes avec vos pouvoirs et malgré ça rien ne semble aller. Il y a trop de personnes qui ne souhaite pas voir un monde meilleur. Tu te sens complètement abattu<span class="sf">e</span> et tu décides de passer le reste de la journée à te reposer.</p>

    <p><span class="naorem"></span> vient te chercher le soir pour manger mais tu n'as pas faim.</p>

    <p class="middle">*</p>

    <p>La nuit venue tu n'arrives pas à t'endormir, tu repenses à la journée passée accoudé<span class="sf">e</span> à ta fenêtre. Quand soudain une explosion se fait entendre dans la ville. Des bruits se font entendre également dans les jardins de l'école, quelques étages en dessous de toi.</p>

  <div class="choix">
    <div class="ch" data-go="222">Continuer</div>
  </div>
</div>
