<div class="num num-1-3-222 retour-178 221">

  <div class="text chapter3">

    <h1>- 222 -</h1>

    <p>
      Quelqu'un déboule alors dans ta chambre sans frapper. Ils sont masqués mais tu sens qu'il s'agit de mages à leur énergie. l'un d'entre eux active un artefact qui t'éblouis. Mais d'après le bruit de leur pas ils continuent de s'avancer vers toi à vive allure.
    </p>

    <p>Sans rien voir tu fais alors monter la chaleur de la pièce à prés de 10 000 degrés les faisant fondre en un instant. Ta chambre aussi subit quelque dommages. Le temps que tu reprennes le contrôle total de tes yeux, un petit incendie s'est déclaré. Tu éteins tout ça très facilement mais les murs ont commencé à fondre également. Tu retapes tout ça du mieux que tu peux. Tu ne sais pas qui étaient ces individus mais ils venaient pour te tuer.</p>

    <p>Tu sors de ta chambre assez vite, toujours alerté<span class="sf">e</span> par les explosions dans la ville de plus en plus nombreuses. Cela ressemble à une attaque en règle de l'Académie.</p>

    <p>A peine ta tête dépasse-t-elle le seuil de ta porte qu'une épée tente de te décapiter.</p>

    <p class="av-sportif">Tu as juste le temps de te courber pour l'éviter et glacer le tueur qui restait caché dans le couloir.</p>
    <p class="av-pas-sportif">Tu as juste le temps de repousser par la pensée le coup et et glacer le tueur qui restait caché dans le couloir.</p>

    <p>La porte de <span class="naorem"></span> est également ouverte, ou plutôt démolie. Des bruits de pas, quelqu'un semble en sortir. Toujours sur tes gardes tu te tiens prêt<span class="sf">e</span> à terrasser un nouvel adversaire. Mais c'est bien le prophète qui sort, les mains pleines de sang.</p>

  <div class="choix">
    <div class="ch" data-go="263">Continuer</div>
    <!-- Méonie est peut-être morte ou vivante -->
  </div>
</div>
