<div class="num num-1-3-223 retour-180">

  <div class="text chapter3">

    <h1>- 223 -</h1>

    <p>
      Vous partez sur les chapeaux de roue avec quelques sorts du vent pour vous envoler jusqu'au village en question où est sensé être Usaki. Les mages du conseil ne sont pas aussi rapide que vous et vous les attendez, mais même comme ça vous serez au village dans quelques minutes.
    </p>

    <p>C'est bon ! Tu arrives à contacter Kannan. Tu lui expliques très vite le problème mais elle te répond qu'elle est à l'autre bout du lac et que jamais elle ne pourra transmettre l'information à temps. Tu vas devoir improviser te dit-elle. Ce n'est peut-être pas plus mal car de toute façon tu ne voulais pas forcément laisser Usaki s'en sortir.</p>

    <p><span class="naorem"></span> indique aux quatre mages du conseil la position d'Usaki pour qu'ils aillent en avant faire le ménage. Cela n'arrange pas tes affaires mais il est compréhensible que le prophète prennent quelques précautions. Puis il te dit de le suivre, Méonie emboitant votre vol.</p>

    <p>Soyos a pénétré dans la maison où se trouvait Usaki. Aucun bruit pour le moment, mais cela ne saurait tarder. Mullihane reste sur le toit discrète. Andaelor s'apprête à foncer par la fenêtre tandis que Pasha commence à faire un carnage sur plusieurs personnes du village qui passaient par là.</p>

    <p>De ton côté tu es sûr<span class="sf">e</span> que la résistance a préparé un accueil assez tendu à tout ce beau monde.</p>

    <p>Puis le premier étage de la maison vole en éclats. Pasha se protège et Mullihane s'écarte tant bien que mal. Méonie vous abrite tous les trois sous une bulle de défense. Quand la fumée se dissipe et que tout redevient calme, Soyos est étendu par terre. Une dizaine de mages vous regardant depuis ce qu'il reste du premier étage d'un air vengeur.</p>

    <p>
      - Oh, oh ! fait <span class="naorem"></span>. C'était un piège ? Je n'avais pas senti ces gaillards là.
    </p>

    <p>De chaque maison du village des dizaines de mages sortent à leur tour et même des cavaliers de dragons-fées sont là en train de voler dans les airs avec leur monture.</p>

    <p class="av-sportif">Tu espères que Levy ne fait pas parti de ce groupe.</p>

    <p>
      - Méonie, <span class="tonnom"></span>, vous dit <span class="naorem"></span>. Je prends ces dix là qui semblent costauds. Prenez qui vous voulez mais ne mourrez pas.
    </p>

  <div class="choix">
    <div class="ch" data-go="264">Attaquer les mages - trahir la résistance</div>
    <div class="ch" data-go="265">Attaquer Andaelor comme convenu</div>
  </div>
</div>
