<div class="num num-1-3-224 retour-182">

  <div class="text chapter3">

    <h1>- 224 -</h1>

    <p>
      Le lendemain matin, l'équipe composée des quatre anciens membres du conseil se prépare très tôt à attaquer le repaire d'Usaki. Tu sais désormais que Mullihane fait parti de la résistance. Elle ne montre aucune faille pouvant le laisser penser. Mais tu es toi aussi membre de la résistance alors tu n'as pas grand chose à dire.
    </p>

    <p>Le groupe s'en va donc aux aurores et vous attendez patiemment leur retour dont tu sais pertinemment qu'il ne sera pas positif.</p>

    <p class="middle">*</p>

    <p>Et c'est le cas, quelques heures plus tard les quatre reviennent. Ils n'ont pas pu trouver Usaki. Mais le village était rempli de mages qui ont tenter de les arrêter. Mais leur puissance leur a permis de les repousser sans dégâts ni d'un côté ni de l'autre.</p>

    <p>
      - Hum… J'ai l'impression qu'il y a une sorte de rébellion qui est train de se mettre en place et de s'organiser, lance <span class="naorem"></span>.<br />
      - Et c'est Usaki qui la mène ? demande Méonie.<br />
      - C'est une possibilité, lui répond le prophète.
    </p>

    <p class="middle">*</p>

    <p>La nuit tombe.</p>

  <div class="choix">
    <div class="ch" data-go="267">Retrouver Usaki - tu te rappelles ses lettres</div>
    <div class="ch" data-go="262">Rester à l'Académie</div>
  </div>
</div>
