<div class="num num-1-3-226 retour-189">

  <div class="text chapter3">
    <!-- ATTAQUE <span class="naorem"></span> groupe toi Espéride + mages de la forteresse SANS Lasseni -->
    <h1>- 226 -</h1>

    <p>
      Une flopée de petites embarcations s'aventurent sur le lac. Tu fais route avec trois mages de la forteresse, Kannan et Mac Lumy. Espéride et le reste de ta troupe sont dans une barque juste à côté. Sans un bruit vous vous approchez de l'Académie. Votre petite équipe va débarquer au quai de l'école. Tandis que d'autres iront directement au port.
    </p>

    <p>Le quai de l'école semble gardé par deux personnes. Espéride fait signe de s'arrêter de ramer. Un des mages de la forteresse lance une incantation et les deux hommes sur le ponton tombent à terre endormis.</p>

    <p>
      - Bravo, le félicite un de ses collègues.<br />
      - C'était un sort de magie de la nuit, demandes-tu ?<br />
      - Tout à fait, un sort de sommeil à distance, c'est moi qui l'ai mis au point.
    </p>

    <p>Décidément tu apprends des choses chaque jours. Vous pouvez débarquer ainsi sans problème. Espéride éteint les torches des deux gardes pour éviter de se faire repérer.</p>

    <p>
      - <span class="naorem"></span> doit se trouver dans sa chambre au dernier étage de la tour, explique Espéride. Le meilleur moment pour l'abattre sera bien entendu de le tuer dans son sommeil.<br />
      - Mais si nos équipes au port attaquent avant, on va le réveiller, non ? demande Kannan.<br />
      - Le plan est de tuer <span class="naorem"></span> et d'envoyer un signal pour lancer l'attaque. Un sort de boule de feu fera l'affaire. On doit se regrouper avec une équipe du général Allister en haut de la tour. Chacun aura son prophète à abattre.
    </p>

    <p>Mais une explosion retentit dans le quartier du port.</p>

    <p>
      - Mince, un imprévu on dirait, fait Espéride. Désormais c'est la course, on doit absolument se dépêcher.
    </p>

  <div class="choix">
    <div class="ch" data-go="268">Monter les étages de la tour en vitesse</div>
  </div>
</div>
