<div class="num num-1-3-227 retour-194">

  <div class="text chapter3">

    <h1>- 227 -</h1>

    <p>
      Après un moment d'hésitation tu décides tout de même d'aller à la tour de l'Académie pour voir si Fandrean sera délivré et si tu pouvais voir Lasseni.
    </p>

    <p>Deux individus t'arrêtent à l'entrée, faisant certainement parti de la police magique.<br /><br />
      - Halte, seules les personnes autorisées peuvent rentrer.<br />
      - Je viens voir Méonie, la prophète. Elle m'a promis quelque chose, fais-tu imperturbable.<br />
      - Méonie ? Mais bien sûr, rigole le premier garde.<br />
      - Attend, l'arrête son collègue. Vous êtes mage c'est ça ?
    </p>

    <p>Tu acquiesces de la tête et le garde te dit que tu peux passer, visiblement Méonie a donné des ordres te concernant. Et en tout cas tu peux désormais aller et venir ici à ta guise.</p>

    <p>On te fait attendre au rez-de-chaussée pendant qu'un serviteur va prévenir Méonie. Pendant l'attente tu vois quelques-uns de tes anciens professeurs. Ils te demandent des nouvelles. Cela te fait plaisir de savoir que l'école reste à peu prés la même malgré les événements.</p>

    <p class="av-riche">On t'apprend par contre que ta mère a disparu depuis l'attaque de l'Académie par les prophètes. Elle aurait essayé de s'opposer aux prophètes avec une poignée de mages mais on ne sait pas ce qu'ils sont devenus. Qobur, ton ancien professeur de première année est plutôt pessimiste et pense qu'elle est malheureusement morte.</p>
    <p class="av-studieux">On t'apprend par contre que ton frère a réussi à s'enfuir de l'Académie lors de la prise de pouvoir des prophètes. Beaucoup d'élèves ont fui dont ton frère. Qobur, ton ancien professeur de première année croit savoir qu'il serait reparti pour Sarambe. Il faudra que tu passes le voir quand tout sera fini.</p>

    <p>Méonie, arrive finalement, accompagnée de <span class="naorem"></span>. Ce dernier prend la parole.</p>

    <p>
      - Hé ! <span class="tonnom"></span>, tu sais que parmi tous les anciens élèves de l'Académie tu es <span class="sf">la seule</span><span class="sg">le seul</span> que j'apprécierai voir combattre à mes côtés. Tu serais partant<span class="sf">e</span> ?<br />
      - Je ne suis pas là pour ça. Méonie, tu m'avais promis quelque chose.<br />
      - Oui, et je tiendrai parole. Viens me voir ce soir tu auras ce que tu voulais.
    </p>

    <p>Elle n'en dit pas plus. Peut-être n'en a-t-elle pas parlé à <span class="naorem"></span>.</p>

  <div class="choix">
    <div class="ch" data-go="228">Revenir le soir</div>
  </div>
</div>
