<div class="num num-1-3-228 retour-227">

  <div class="text chapter3">

    <h1>- 228 -</h1>

    <p>
      Le soir venu, tu reviens à la tour. On te fait monter jusqu'au septième étage où on t'amène jusqu'à la porte portant un "M". Le serviteur te laisse dés que Méonie ouvre la porte. Lasseni est également présente et semble surprise de te voir.
    </p>

    <p>
      - Je n'ai encore rien dit à Lasseni, explique Méonie.<br />
      - Qu... que se passe-t-il demande Lasseni ?<br />
      - J'ai convaincu Méonie de libérer Fandrean, lui dis-tu.<br />
      - Je...J'y pensais depuis un moment, se justifie la prophète. Mais il faudra vous enfuir cette nuit, <span class="naorem"></span> n'est pas au courant et il sera certainement fâché d'apprendre que j'ai libéré Fandrean.<br />
      - Oh… Bien sûr, où est mon frère ? fait Lasseni qui reprend des couleurs.
    </p>

    <p>Méonie explique qu'ils ont enfermé Fandrean dans une prison si lointaine qu'elle est au delà des monts noirs, dans le désert de glace, à un endroit que même un prophète comme Lasseni n'aurait jamais l'idée d'aller fouiller. Méonie disparait un instant puis réapparait en compagnie de Fandrean. Il n'a pas l'air très en forme mais n'est pas blessé. Sa barbe a bien poussé et semble ahuri de voir sa soeur.</p>

    <p>
      - Merci Méonie. Merci <span class="tonnom"></span>, fait Lasseni.<br />
      - Je t'avais promis que j'allais t'aider, fais-tu satisfait<span class="sf">e</span>.<br />
      - Bien il faut vous enfuir maintenant, fait Méonie légèrement inquiète.
    </p>

    <p>Mais une explosion se fait entendre au loin. Cela semble provenir de la ville. Puis quelqu'un défonce la porte de la chambre de Méonie. Tu as juste le temps de voir plusieurs personnes masquées qu'une explosion de lumière t'aveugle. Une main t'agrippes pour que tu te couches au sol.</p>

    <p>En récupérant l'usage de tes yeux tu vois 3 hommes à terre. Certainement des tueurs qui ont été envoyé pour assassiner Méonie. Par chance personne n'est blessé de votre côté. C'est Fandrean qui s'est chargé de neutraliser les trois hommes.</p>

    <p>
      - Mon petit séjour dans ce désert glacial m'a habitué à ce genre de lueur intense, par chance. fait-il.<br />
      - Merci… fait Méonie. Je ne voyais plus rien.<br />
      - Méonie, pars avec nous ! lui dit Lasseni. Tu ne dois rien à <span class="naorem"></span>. Ta place n'est pas ici.
    </p>

    <p>Mais Fandrean ne laisse pas le temps à la prophète de répondre.</p>

    <p>
      - J'ai l'impression que c'est une attaque en règle ! Il y a des dizaines de personnes dans les jardins, fait-il en regardant par la fenêtre.
      </p>

    <p>Puis d'autres explosions retentissent dans la ville.</p>

  <div class="choix">
    <div class="ch" data-go="273">Continuer</div>
  </div>
</div>
