<div class="num num-1-3-229 retour-196">

  <div class="text chapter3">

    <h1>- 229 -</h1>

    <p>
      - Méonie a accepté de rendre ses pouvoirs, fait Ymir satisfait. Je lui ai expliqué comment faire pour redonner ses pouvoirs à la terre mais m'a confié devoir faire une dernière chose avant.<br />
      - Quoi donc ? demandes-tu.<br />
      - Elle n'a pas voulu me dire. Mais je pense qu'elle ne va rien faire de stupide. Elle avait pris sa décision avant de venir.<br />
      - Qu'est-ce qu'on fait alors ? fais-tu.<br />
      - On va attendre qu'elle rende ses pouvoirs avant de s'occuper de <span class="naorem"></span>, explique Zaïra. Mais pour lui il faudra certainement lui coller un artefact sur le dos pour l'obliger à rendre ses pouvoirs.
    </p>

    <p>Vous hochez tous les trois la tête et allez chercher une autre auberge dans la ville pour vous reposer. "L'auberge de la tour" est en dehors de l'enceinte de l'école mais possède des chambre avec vue sur le bâtiment le plus célèbre de l'Académie. Vous décidez de vous installer là.</p>

    <p>
      - Comment saura-t-on que Méonie a rendu ses pouvoirs ? demandes-tu.<br />
      - Avec un sort de "vision des énergies", explique Ymir. Normalement ce sort ne devrait pas permettre de repérer des individus mais plutôt des sources de magie. Mais comme les prophètes sont des sources d'énergie on pourra vérifier si elle a abandonné les pouvoirs de Soufflardent ou non.
    </p>

    <p>Tu te couches content<span class="sf">e</span> de la journée. La nuit est chaude, vous dormez la fenêtre ouverte. Soudain, une explosion vous réveille en sursaut.</p>

    <p>Zaïra se précipite à la fenêtre.</p>

    <p>
      - Cela provient du quartier du port, fait-elle. Je me demande ce qu'il se passe.<br />
      - Regarde, fait Ymir en montrant les jardins de l'école que vous arrivez à voir depuis votre chambre.
    </p>

    <p>Des dizaines de personnes sont en train de s'infiltrer dans l'école. C'est certainement une attaque. Il te semble reconnaitre une silhouette : Espéride !</p>

    <p>
      - Méonie n'a pas encore rendu ses pouvoirs ! Est-ce que c'est elle qui préparait cette attaque et c'est ça qu'il lui restait à faire ? se désole Ymir.<br />
      - On ne peut pas rester sans rien faire, fait Zaïra. Avec nos artefacts, nous avons le pouvoir de réduire n'importe quel prophète au silence.
    </p>

    <p>Et vous sautez - projeté par la magie - tous les trois de la fenêtre de l'auberge pour atterrir dans l'école.</p>


  <div class="choix">
    <div class="ch" data-go="279">Continuer</div>
  </div>
</div>
