<div class="num num-1-3-23">

  <div class="text chapter3">

    <h1>- 23 -</h1>

    <p>Tu repenses à ce que t'a dit le mage supérieur. Tu n'as absolument pas envie de suivre des hommes comme lui ou les prophètes. Mais qu'est-ce que tu peux faire ?</p>

    <p>Tu entends soudain quelqu'un triturer la serrure de ta geôle. C'est étrange, tu n'as entendu aucun bruit de pas.</p>

    <div class="av-studieux">

      <p>La porte s'entrouvre laissant passer la tête d'Eran, ton frère. Son visage s'éclaircit dès qu'il te voit.</p>

      <p>- ERAN...!!! commences-tu à t'écrier.<br />
        - Shhhhhhhhhhh. te fait-il en mettant un doigt devant sa bouche pour te faire signe d'être discret.
      </p>

      <p>Tu lui sautes dans les bras et il murmure :<br />
        - Ouf, je suis bien content de te retrouver. Quand les mages supérieurs ont parlé de votre rébellion je n'en croyais pas mes oreilles.<br />
        - C'est eux qui ont vendu l'Académie aux prophètes, dis-tu en te retenant de crier.<br />
        - On parlera de ça plus tard. On doit partir au plus vite. Heureusement qu'ils n'avaient pas remarqué que ton frère était mage à l'Académie.
      </p>

      <p>Vous ressortez tous les deux dans le couloir. Personne. D'un signe de la main ton frère te dit de le suivre. En passant devant la geôle à côté de la tienne tu vois un nom inscrit sur la porte : "Mac Lumy". Tu tires la manche d'Eran pour qu'il s'arrête.</p>

      <p>- Il faut faire sortir Mac aussi.<br />
        - On n'a pas le temps, nos alliés nous attendent.<br />
        - Je ne pars pas sans Mac.</p>

      <p>Ton frère voit que tu ne blagues pas et crochète la serrure de ton ami. La surprise est aussi grande pour lui que ce que tu as vécu tout à l'heure. Mais vous fêterez vos retrouvailles plus tard.</p>

      <p>En sortant au plus vite tu vérifies si tu ne vois pas de geôles avec le nom de Lasseni ou Fandrean. Mais rien. Pas même un des mages qui vous accompagnait n'a l'air d'être dans cette prison.</p>

    </div>

    <div class="av-riche">

      <p>La porte s'entrouvre laissant passer la tête de ta mère. Son visage s'éclaircit dès qu'elle te voit.</p>

      <p>- MAMAN...!!! commences-tu à t'écrier.<br />
        - Shhhhhhhhhhh. te fait-elle en mettant un doigt devant sa bouche pour te faire signe d'être discret.
      </p>

      <p>Tu lui sautes dans les bras et elle murmure :<br />
        - Ouf, je suis bien contente de te retrouver. Quand les mages supérieurs ont parlé de votre rébellion je n'en croyais pas mes oreilles.<br />
        - C'est eux qui ont vendu l'Académie aux prophètes, dis-tu en te retenant de crier.<br />
        - On parlera de ça plus tard. On doit partir au plus vite. Heureusement j'ai pu me cacher avant qu'ils ne pensent à me capturer.
      </p>

      <p>Vous ressortez tou<span class="sf">te</span>s les deux dans le couloir. Personne. D'un signe de la main ta mère te dit de le suivre. En passant devant la geôle à côté de la tienne tu vois un nom inscrit sur la porte : "Mac Lumy". Tu tires la manche de ta mère pour qu'elle s'arrête.</p>

      <p>- Il faut faire sortir Mac aussi.<br />
        - On n'a pas le temps, nos alliés nous attendent.<br />
        - Je ne pars pas sans Mac.</p>

      <p>Ta mère voit que tu ne blagues pas et crochète la serrure de ton ami. La surprise est aussi grande pour lui que ce que tu as vécu tout à l'heure. Mais vous fêterez vos retrouvailles plus tard.</p>

      <p>En sortant au plus vite tu vérifies si tu ne vois pas de geôles avec le nom de Lasseni ou Fandrean. Mais rien. Pas même un des mages qui vous accompagnait n'a l'air d'être dans cette prison.</p>

    </div>

    <div class="av-populaire">

      <p>La porte s'entrouvre laissant passer la tête de Rodolphe accompagné par un autre type. Son visage s'éclaircit dès qu'il te voit.</p>

      <p>- RODO...!!! commences-tu à t'écrier.<br />
        - Shhhhhhhhhhh. te fait-il en mettant un doigt devant sa bouche pour te faire signe d'être discret.
      </p>

      <p>Tu lui sautes dans les bras et il murmure :<br />
        - Ouf, je suis bien content de te retrouver. Quand les mages supérieurs ont parlé de votre rébellion je n'en croyais pas mes oreilles.<br />
        - C'est eux qui ont vendu l'Académie aux prophètes, dis-tu en te retenant de crier.<br />
        - On parlera de ça plus tard. On doit partir au plus vite. Heureusement des amis à toi ont pu me faire rentrer dans l'Académie. Tu reconnais le garçon qui vous accompagnes tu as déjà rigolé plusieurs fois avec lui. Ce n'est pas un ami mais tu l'apprécies quand même, il s'appelle Keltor si tu te souviens bien.
      </p>

      <p>Vous ressortez tous les trois dans le couloir. Personne. D'un signe de la main Rodolphe te dit de le suivre. En passant devant la geôle à côté de la tienne tu vois un nom inscrit sur la porte : "Mac Lumy". Tu tires sur la manche de ton ami pour qu'il s'arrête.</p>

      <p>- Il faut faire sortir Mac aussi.<br />
        - On n'a pas le temps, nos alliés nous attendent.<br />
        - Je ne pars pas sans Mac.</p>

      <p>Il voit que tu ne blagues pas et crochète la serrure de ton ami. La surprise est aussi grande pour lui que ce que tu as vécu tout à l'heure. Mais vous fêterez vos retrouvailles plus tard.</p>

      <p>En sortant au plus vite tu vérifies si tu ne vois pas de geôles avec le nom de Lasseni ou Fandrean. Mais rien. Pas même un des mages qui vous accompagnait n'a l'air d'être dans cette prison.</p>

    </div>

    <div class="av-sportif">

      <p>La porte s'entrouvre laissant passer la tête de Levy. Son visage s'éclaircit dès qu'<span class="sf">il</span><span class="sg">elle</span> te voit.</p>

      <p>- LEVY...!!! commences-tu à t'écrier.<br />
        - Shhhhhhhhhhh. te fait-<span class="sf">il</span><span class="sg">elle</span> en mettant un doigt devant sa bouche pour te faire signe d'être discret.
      </p>

      <p>Tu lui sautes dans les bras et <span class="sf">il</span><span class="sg">elle</span> murmure :<br />
        - Ouf, je suis bien content<span class="sg">e</span> de te retrouver. Je suis revenu à l'Académie aussi vite que possible. Et j'ai l'impression que j'ai bien fait.<br />
        - Ha ha, oui. Tu tombes à pic.<br />
        - On parlera de ça plus tard. On doit partir au plus vite.
      </p>

      <p>Vous ressortez tous les deux dans le couloir. Personne. D'un signe de la main Levy te dit de le suivre. En passant devant la geôle à côté de la tienne tu vois un nom inscrit sur la porte : "Mac Lumy". Tu tires sur la manche de ton ami pour qu'<span class="sf">il</span><span class="sg">elle</span> s'arrête.</p>

      <p>- Il faut faire sortir Mac aussi.<br />
        - On n'a pas le temps, nos alliés nous attendent.<br />
        - Je ne pars pas sans Mac.</p>

      <p><span class="sf">Il</span><span class="sg">Elle</span> voit que tu ne blagues pas et crochète la serrure de ton ami. La surprise est aussi grande pour lui que ce que tu as vécu tout à l'heure. Mais vous fêterez vos retrouvailles plus tard.</p>

      <p>En sortant au plus vite tu vérifies si tu ne vois pas de geôles avec le nom de Lasseni ou Fandrean. Mais rien. Pas même un des mages qui vous accompagnait n'a l'air d'être dans cette prison.</p>

    </div>

    <div class="av-courageux">

      <p>- Psssit.</p>

      <p>Quelqu'un a l'air de t'appeler de l'extérieur. Tu arrives juste à entendre une petite voix qui te dit :<br />
        - Voilà un artefact à déplier dans ta geôle.</p>

      <p>Aussitôt un tout petit baton de métal passe par la fente dans le mur. Il est relié à plusieurs fils de pêche. Des fils utilisés pour capturer les plus gros poissons du lac. Tu notes qu'une sorte de bouton se trouve au centre du baton de métal.</p>

      <p>En appuyant dessus il se déplie. L'artefact se transforme alors en sorte d'ancre de bâteau. De l'extérieur quelqu'un tire un peu dessus et l'ancre vient se planter dans le mur.</p>

      <p>- Bien, maintenant attention ça risque de surprendre mais plaque-toi contre la porte de ta geôle.</p>

      <p>Tu as juste le temps de faire ce que la voix te dit quand soudain l'ancre défonce le mur du fond de ta cellule. Aussitôt des litres d'eau envahissent l'espace. Ta prison était juste au bord du lac et visiblement à hauteur du niveau d'eau. Tu es projeté<span clas="sf">e</span> sous l'eau et quelques mains te ramènent à la surface dans un bâteau. A côté de toi Mac Lumy a subi le même sort. Tu es bien content<span clas="sf">e</span> qu'il s'en soit sorti aussi. </p>

      <p>- Reposez-vous tous les deux. Nous, on se charge de partir d'ici au plus vite ! fait une voix familière.</p>

    </div>




  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch av-courageux" data-go="50">S'échapper</div>
    <div class="ch av-pas-courageux" data-go="49">S'échapper</div>
  </div>

</div>
