<div class="num num-1-3-230 retour-198">

  <div class="text chapter3">

    <h1>- 230 -</h1>

    <p>
      - Méonie est endormie, mais si on la réveille, elle va nous attaquera, non ? demandes-tu.<br />
      - … Certainement, fait Ymir. Elle m'a dit qu'elle voulait rendre ses pouvoirs, mais a commencé à s'énerver quand elle a vu arriver Zaïra.<br />
      - Mince. J'aurai dû rester sur place, se plaint la mage légendaire.<br />
      - Ce n'est pas de ta faute, le console Ymir.<br />
      - Mais on fait quoi du coup ? fais-tu affolé<span class="sf">e</span>.
    </p>

    <p>Les deux mages légendaires te regardent l'air désolé.</p>

    <p>
      - On va devoir la tuer pendant qu'elle dort, explique Zaïra.<br />
      - Qu... Non ! Elle a dit qu'elle voulait abandonner ses pouvoirs ! On ne peut pas la tuer.<br />
      - On n'a pas le choix. Il faut que la personne abandonne ses pouvoirs d'elle même. Il faudrait sinon la puissance magique de tous les mages de l'Académie réunis pour réussir à le faire.<br />
      - Alors… il y a un moyen de le faire ? fais-tu avec un peu d'espoir.<br />
      - Tu te rends compte qu'il faudrait la puissance de Soufflardent pour réussir quelque chose comme ça, rigole Zaïra. A nous trois ce n'est pas possible.<br />
      - Expliquez-moi quand même.
    </p>

    <p>Les deux mages légendaires soupirent mais comme tu les as bien aidé jusque là ils consentent à te raconter. Il faudrait plonger sa propre énergie pour la transférer dans Méonie, une sorte de retour à la source puisque Méonie est elle-même émétrice de l'énergie magique. L'énergie envoyé à Méonie serait alors directement récupéré par la terre.</p>

    <p>
      - Nous avons déjà essayé à plusieurs reprises sur Soufflardent, dit Ymir. Mais il possédait tellement d'énergie que c'était tenter d'éteindre un incendie en crachant dessus. Il faudrait envoyer autant d'énergie qu'elle en possède. Et personne ne pourrait le faire.<br />
      - Lasseni pourrait le faire, dis-tu.<br />
      - Les prophètes peuvent émettre de l'énergie mais ils ne peuvent le transmettre à quelqu'un sans mourir. Soufflardent l'a bien montré. D'ailleurs cela vaut pour quiconque donne toute son énergie de cette manière. Si on arrive à transmettre assez d'énergie, toutes les personnes qui n'auront plus un minimum d'énergie mourront.
    </p>

    <p>Effectivement, cela semble très risqué.</p>



  <div class="choix">
    <div class="ch" data-go="231">Je dois quand même essayer Méonie semble être le genre de personne pour lequel je me bats</div>
    <div class="ch" data-go="233">Laisser Ymir et Zaïra tuer Méonie</div>
  </div>
</div>
