<div class="num num-1-3-231 retour-230">

  <div class="text chapter3">

    <h1>- 231 -</h1>

    <p>
      - Tu prends quand même le risque malgré tout ce qu'on t'a dit ? s'étonne Ymir.<br />
      - Bien, fait Zaïra. Saches que je trouve ton comportement extraordinaire... et stupide. Mais je le respecte.
    </p>

    <p>Tu ne te laisses pas démonter. Tu sais que ton geste peut te coûter la vie, mais si tu vois qu'il ne te reste plus d'énergie tu t'arrêteras pour ne pas mourir. Tu te places au dessus de la prophète endormie et tu concentres ton énergie avant de la projeter en elle.</p>

    <p>Ta vision se trouble d'un coup. Ton énergie semble littéralement aspirée par Méonie. Tu ne contrôles rien du tout. Tu as presque l'impression de perdre connaissance quand une vision apparait devant tes yeux. Le regard de Soufflardent juste devant toi. Tu sembles flotter dans un rêve sombre entourer par le grand dragon. Des étincelles d'énergie t'entoure et explose dans des étincelles vertes de temps en temps.</p>

    <p>
      - Tu essaies de sauver Méonie du pouvoir que lui ai donné ?<br />
      - Est-ce… que je suis dans un rêve ? demandes-tu.<br />
      - Un rêve qui ne durera plus très longtemps, dis le dragon. Bientôt ton énergie aura disparu et tu mourras. Ymir et Zaïra t'ont pourtant bien dit que c'était dangereux.<br />
      - Je ne pouvais pas les laisser la tuer ! Elle n'est pas mauvaise.<br />
      - Je suis tout de même surpris et heureux de voir qu'il y a des mages qui souhaitent sincèrement ne pas tuer mes "enfants".<br />
      - Je voulais...la...sauver…
    </p>

    <p>Tout se brouille autour de toi. La dernière chose que tu entends est une phrase du dragon.</p>

    <p>
      - Je dois bien avouer, que n'importe qui d'autre que toi aurait échoué.
    </p>

    <p>Puis plus rien.</p>


  <div class="choix">
    <div class="ch" data-go="232">Continuer</div>
  </div>
</div>
