<div class="num num-1-3-232 retour-231">

  <div class="text chapter3">

    <h1>- 232 -</h1>

    <p>Tu te réveilles en pleine nuit, toujours sur la colline. Le vent chaud chatouillant tes cheveux. Une silhouette est debout et regarde l'Académie. Plusieurs lueurs sont d'ailleurs visibles au loin comme si… il y avait des incendies dans la ville.</p>

    <p>
      - La ville est en feu ? t'exclames-tu soudain.<br />
      - Oh, tu es réveillé<span class="sf">e</span> ? fait Méonie.<br />
      - Méonie ? Tu es vivante ? fais-tu boulversé<span class="sf">e</span>.<br />
      - Grâce à toi. Ymir et Zaïra m'ont dit qu'ils n'avaient jamais vu quelqu'un avec autant de puissance que toi. Tu aurais une source de magie cachée en toi. Une magie qui ne vient pas de Soufflardent.<br />
      - Vr... vraiment ? fais-tu surpris<span class="sf">e</span>.<br />
      - Une énergie plus puissante que nous les prophètes. Enfin, je ne suis plus une prophète, j'ai perdu mes pouvoirs grâce à toi. Je voulais faire une dernière chose avant cela. Mais tout a l'air de s'accélérer.<br />
      - Où sont Ymir et Zaïra, demandes-tu.<br />
      - Des gens attaquent l'Académie. Ils sont allés voir ce qu'il se passe. Peut-être devront-ils intervenir. Personnellement je pense que c'est Usaki qui est derrière cette attaque.
    </p>

    <p>L'Académie est attaquée, tu sens au fond de toi que tu dois y aller. Tes amis, tu sens qu'ils sont tous là-bas. Et si tu as vraiment une telle énergie, tu dois y aller.</p>

    <p>
      - Je vais aller les aider, fais-tu en te relevant difficilement.<br />
      - Attend, tu viens de dépenser beaucoup d'énergie pour me sauver. Tu es trop fatigué<span class="sf">e</span> pour y aller.<br />
      - Je DOIS y aller ! fais-tu convaincant<span class="sf">e</span>.
    </p>

    <p>Méonie voit bien qu'elle ne peut rien dire qui te ferait t'arrêter. Elle t'aide à te relever et alors que tu descends de la colline le plus vite possible, tu l'entends te crier au loin.</p>

    <p>
      - <span class="tonnom"></span> ! Reviens vivante ! Il faut que je te remercie pour m'avoir sauvé !
    </p>

    <p>Tu lèves la main sans la regarder pour lui signifier que tu reviendras la voir. Mais pour le moment tu ne vas pas rater le grand final.</p>


  <div class="choix">
    <div class="ch" data-go="280">Continuer</div>
  </div>
</div>
