<div class="num num-1-3-233 retour-230">

  <div class="text chapter3">

    <h1>- 230 -</h1>

    <p>Même si Méonie est un prophète. L'assassiner alors qu'elle est endormie est chose aisée pour les deux mages légendaires. La petite prophète rayonne quand Ymir abat une dague pleine d'énergie magique sur elle. Une sorte de feu d'artifice aux éclats verts se libère et s'envole dans le ciel. Méonie semble apaisée dans la mort et son corps fusionne alors avec la terre de la colline. De magnifiques fleurs fleurissent à l'endroit où elle se tenait. Des arbres viennent maintenant pousser en instant tout autour d'elle. Puis tout se calme.</p>

    <p>
      - Elle possédait le pouvoir de la terre, explique Zaïra. Cette colline formera un parfait petit mausolée. Le pouvoir de Soufflardent est retourné à la terre.
    </p>

    <p>Tu ne peux t'empêcher de lâcher quelques larmes sur le sort de la prophétesse.</p>

    <p class="middle">*</p>

    <p>Ymir doit soigner son bras et vous restez par sécurité pas trop loin de cette colline. Peut-être que des gens ont vu les éclats de lumière mais vous verrez les gens arriver de loin. Et vous ne serez pas trop loin de l'Académie.</p>

    <p>Le soir venu tu te poses encore beaucoup de questions sur tout cela. Fallait-il vraiment en arriver là ? Est-ce que vous valez mieux que les prophètes ? Mais tu es sorti<span class="sf">e</span> de tes pensées par une vive lueur dans la ville de l'Académie, au loin.</p>

    <p>
      - Une explosion, fait Ymir.<br />
      - Quelqu'un attaque l'Académie, explique Zaïra.<br />
      - On... y va ? demandes-tu.
    </p>

    <p>Les deux mages légendaires hochent la tête et vous partez en courant vers le grand pont.</p>


  <div class="choix">
    <div class="ch" data-go="282">Continuer</div>
  </div>
</div>
