<div class="num num-1-3-234 retour-203">

  <div class="text chapter3">

    <h1>- 234 -</h1>

    <p>Tu ne te remets pas de la mort de Mac Lumy. Tu as fait tout ça pour sauver Lasseni, mais tu finis en tuant de tes propres mains ton ami. Tu passes le reste de la journée à te lamenter. Tu ne sors pas de ta chambre et tu refuses les plats que t'apporte des servants.</p>

    <p>Au bout d'un moment, les gens comprennent qu'il faut un peu te laisser. Ou <span class="naorem"></span> leur a peut-être dit de te donner un peu de temps. Tu as envie de mourir.</p>

    <p>La nuit tombe mais tu n'arrives pas à fermer l'œil. En plus de ton cas de conscience il fait une chaleur insupportable. Tout à coup, une vive détonation provenant de la ville se fait entendre. Tu t'approches de la fenêtre intrigué<span class="sf">e</span>. Le quartier du port semble avoir subi une attaque.</p>

    <p>La serrure de ta porte vole d'un coup en éclat et trois personnes entrent avec empressement. Ils sont tous masqués. L'un d'un semble appuyer sur un artefact qu'il tient à la main.</p>

    <p>Par réflexes tu les plaques contre le mur en leur laissant aucune chance. L'artefact de l'homme se déclenche en faisant une vive lumière. Cela te laisse un peu ébloui<span class="sf">e</span> mais tu les as assommé. Ils ne pouvaient pas en profiter.</p>

    <p>Puis… tu te ressaisis. Tu voulais mourir, mais tu t'es défendu<span class="sf">e</span> ? Peut-être qu'en fait tu sais au fond de toi que tu dois te racheter.</p>

    <p>Tu sors de ta chambre et évite au dernier moment l'épée d'un autre homme masqué. D'un geste tu le transformes en glace. La porte de <span class="naorem"></span> est également défoncée. L'instant d'après il en sort les mains ensanglantées, lui aussi a dû faire face à une attaque. </p>

    <p>
      - Toi aussi ? te demande-t-il.<br />
      - Oui trois hommes dedans et un à l'extérieur, fais-tu en montrant l'assassin gelé à côté de toi.<br />
      - Va voir Méonie, je déclenche l'alerte. Venez me rejoindre en bas.
    </p>

  <div class="choix">
    <div class="ch" data-go="283">Continuer</div>
  </div>
</div>
