<div class="num num-1-3-235 retour-206">

  <div class="text chapter3">
    <!-- ATTAQUE <span class="naorem"></span> groupe toi Espéride + Fandrean et Lasseni cible Naorem tu es un prophète -->
    <h1>- 235 -</h1>

    <p>
      Le soir tu attends le signal qui devrait bientôt arriver. Tu essaies de rentrer en contact avec Espéride. Elle te dit de te mettre en place, ils seraient sur le point de débarquer au port et sur le quai de l'école. L'équipe du général Allister serait de l'autre côté du pont.
    </p>

    <p>Tu sors à peine de ta chambre que tu vois des serviteurs qui ne devraient pas être dans le coin normalement. Ils te font signes de te taire. Tu les laisses tranquilles et tu descends à l'étage inférieur, où devrait être les trois mages du conseil dont tu dois t'occuper. Et en descendant les marches de l'escalier tu croises des mages avec des masques et des artefacts qui font le trajet inverses. Ils sont huit et vont vraisemblablement assassiner les deux prophètes. Tu en arrêtes un.</p>

    <p>
      - Je croyais que c'était le travail du général Allister et du général Espéride ?<br />
      - Si on peut les assassiner sans les réveiller ce sera le mieux. On évitera des dégâts inutiles. Passe ton chemin, on ne s'en prends pas à toi par respect pour Espéride mais sache que tu as intérêt à remplir ton devoir.
    </p>

    <p>Ces soldats t'ont presque menacé alors que vous êtes sensés faire parti de la même armée. Faut-il prévenir Espéride ? Tu n'en as pas envie. En arrivant au sixième étage Mullihane est, elle, en train de descendre plus bas. Tu ne sais pas si elle s'échappe ou si elle a une autre mission. Tu es désormais seul<span class='sf'>e</span> à cet étage, sans compter tes trois cibles bien sûr.</p>

    <p>Tu attends au sixième étage tu es proches de la porte de la chambre de Soyos. Et le signal se fit entendre : une gigantesque explosion provenant de la ville. Par télépathie, Espéride te le confirme : l'attaque est lancée tu dois commencer l'attaque.</p>

  <div class="choix">
    <div class="ch" data-go="236">Raser le sixième étage avec un sort de feu de puissance prophétique</div>
    <div class="ch" data-go="237">Glacer l'étage avec un sort d'eau de puissance légendaire</div>
    <div class="ch" data-go="238">Ne rien faire et t'envoler pour retrouver Usaki / Allister et le tuer</div>
  </div>
</div>
