<div class="num num-1-3-236 retour-235">

  <div class="text chapter3">

    <h1>- 236 -</h1>

    <p>
      Tu déclenches une chaleurs et des flammes dignes des plus grands volcans. Les murs explosent plus rien n'existe à cet étage en un instant. Ta mission fut facile à terminer.
    </p>

    <p>Puis tu te souviens que la tour avait un septième étage. Ce dernier est en train de te tomber dessus. Tu déclenches alors une barrière magique autour de toi éclatant les rochers qui te tombent dessus. Le septième étage s'effondre, tu vois les assassins et serviteurs croisés précédemment mourir écrasé par des pierres ou tomber dans le vide.</p>

    <p>Une fois tout tombé, tu te penches pour voir les dégâts faits. Les étages inférieurs sont très amochés. Peut-être que la tour va tomber. Les blocs de pierre ont visiblement touché des membres de la résistance qui pénétraient dans l'école par les jardins. Derrière toi quelqu'un t'interpelle.</p>

    <p>
      - Qu'est-ce qu'il se passe bon sang ? te demande <span class="naorem"></span>.
    </p>

    <p>Méonie est également là. Bien évidemment ils sont encore vivants.</p>

    <p>
      - Je suis tombé<span class="sf">e</span> sur des assassins, dis-tu. J'y suis allé<span class="sf">e</span> un peu fort je crois.<br />
      - On reconstruira plus tard, en attendant je sonne l'alerte, fait <span class="naorem"></span>.
    </p>

    <p>Tu ne penses pas qu'Espéride voyait ton action de manière aussi voyante. Mais en tout cas, les deux autres prophètes croient en toi encore.</p>

  <div class="choix">
    <div class="ch" data-go="290">Continuer</div>
  </div>
</div>
