<div class="num num-1-3-237 retour-235">

  <div class="text chapter3">

    <h1>- 237 -</h1>

    <p>
      D'un geste tu glaces la totalité de l'étage. La température descend si bas qu'il faut que tu te lances un sort pour pouvoir le supporter.
    </p>

    <p>Tu entends des cris à l'étage supérieurs mais pas ceux des prophètes. Les serviteurs que tu avais croisés tantôt descendent en trombe au sixième étage. Et se transforme en glace aussi vite qu'ils sont arrivés. Méonie et <span class="naorem"></span> vont certainement descendre bientôt et verront le sort. Même s'ils prennent le temps de le défaire, les trois mages supérieurs glacés ne devraient plus être en état de combattre. Un froid pareil a dû les tuer sur le coup.</p>

    <p>Tu décides donc de descendre le plus vite possible. L'équipe d'Espéride ne devrait plus tarder mais comme les prophètes sont réveillés, cela va compliquer leur tâche.</p>

    <p>Mais aussitôt Méonie apparait à tes côtés.</p>

    <p>
      - Nous sommes attaqués <span class="tonnom"></span>. Tu as eu des assassins aussi ?<br />
      - Heu… Tout à fait et j'avoue que je me suis un peu laissé<span clas="sf">e</span> emporter à l'étage d'au dessus.
    </p>

    <p><span class="naorem"></span> vous rejoint en se frottant les bras.</p>

    <p>
      - C'est toi qui a fait l'ère glaciaire là ? en référence à ton sort de glace.<br />
      - Désolé<span clas="sf">e</span>, des assassins partout. J'ai dû faire le ménage.<br />
      - Bon c'est pas trop grave mais je crois que les mages supérieurs ont tous été congelés du coup.<br />
      - Ah ? Mince alors, fais-tu en tentant de feindre la surprise. Je n'y pensais plus.
    </p>

  <div class="choix">
    <div class="ch" data-go="290">Continuer</div>
  </div>
</div>
