<div class="num num-1-3-238 retour-235">

  <div class="text chapter3">

    <h1>- 238 -</h1>

    <p>
      Peu importe ces trois mages. Celui qui compte c'est Usaki tu t'envoles par la fenêtre et scrutes les alentours à la recherche d'une énergie qui n'utilisent pas les forces de Soufflardent.
    </p>

    <p>En bas des hommes défoncent la porte d'entrée de l'école, ils sont emmenés par un homme que tu n'as jamais vu et qui possède justement ce profil. Tu projettes sur lui un bloc de pierre à grande vitesse. Mais il est sauvé par un de ses hommes qui le pousse en avant. Tu viens malheureusement de terrasser quelqu'un que tu n'avais pas visé.</p>

    <p>Ses autres hommes l'aident à se relever.<br /><br />
      - Tout va bien général Allister ?
    </p>

    <p>C'est bien lui. Tu vas pouvoir t'en donner à cœur joie. Tu fonces dans sa direction en te mettant un sort d'invisibilité.</p>

    <p>
      - Un prophète nous vise ! crie Usaki, ou Allister comme ils l'appellent. Procédez au plan ! Tous en formation !
    </p>

    <p>Les mages lancent alors tous un sort qui les rends à leur tour invisible. Même avec tes pouvoirs tu ne les sens pas. Ce doit être un sort de magie de la lune.</p>

  <div class="choix">
    <div class="ch" data-go="239">Lancer un sort de zone pour détruire tout ce qui était dans cette zone</div>
    <div class="ch" data-go="240">S'écarte un instant pour analyser la situation</div>
  </div>
</div>
