<div class="num num-1-3-239 retour-238">

  <div class="text chapter3">

    <h1>- 239 -</h1>

    <p>
        D'un seul coup tu projettes ton énergie dans la zone. Un rayon de lumière sort du sol et explose en ligne droite pour finir dans les étoiles. Un gigantesque trou s'est formé dans cette partie de l'école. Tu as probablement tué pas mal d'assaillant, mais ce n'est pas trop grave si tu as pu avoir Usaki.
    </p>

    <p>Un grand "crac", te fait te retourner. Le sol à côté de la tour s'effondre dans le trou que tu as formé et le grand bâtiment est train de pencher dangereusement. Tu enlèves ton sort d'invisibilité pour pouvoir consolider la tour.</p>

    <p>
      - On l'attaque ! crie la voix de quelqu'un sortant des ombres.
    </p>

    <p>Trois mages et Usaki ont réussi à échapper à ton sort. Ils tentent de déclencher un artefact devant toi. Tu esquives habilement le tout en reculant vivement dans les jardins sud. Ta vitesse fut telle que les mages ont cru à une nouvelle disparition.</p>

    <p>
      - Il a prévu une tactique anti-prophète, évidemment, fais-tu en te parlant à toi même.<br />
      - <span class="tonnom"></span> ! Qu'est-ce que tu fais ? Kannan est juste à côté de toi et te regarde paniqué<span class="sf">e</span>.
    </p>

    <p>Un peu déboussolé<span class="sf">e</span> et ne sachant quoi répondre, la tour s'effondre dans l'école dans un capharnaüm sans nom.</p>

  <div class="choix">
    <div class="ch" data-go="291">Continuer</div>
  </div>
</div>
