<div class="num num-1-3-24">

  <div class="text chapter3">

    <h1>- 24 -</h1>

    <div class="magie magie-vent">
      <p>Avec la rapidité du vent tu emportes avec toi toutes les personnes endormies par terre. Tu exploses un vitrail et file par l'ouverture provoquée.</p>

      <p>Tes amis te suivent dans ta foulée. Ce n'est pas très difficile avec tes pouvoirs. Tes ennemis n'ont même pas eu le temps de réagir.</p>

      <p>Tu as l'impression d'avoir fait ce qu'il fallait. Mais derrière toi la tour de l'Académie commence à s'effriter et tombe en morceaux sur l'école. Tu comprends que tu ne maîtrise pas totalement ton pouvoir. Tu es allé<span class="sf">e</span> trop loin et tu as détruit la grande tour.</p>

      <p>Tu finis ton échappée en posant tout le monde sur une colline à coté du lac. Tu sens bien que les prophètes sont toujours vivants mais tu as certainement enseveli plusieurs dizaines de mages.</p>

      <p class="av-riche">Tu espères que ta mère n'était pas sur place quand ça s'est produit.</p>
      <p class="av-studieux">Tu espères que ton frère n'était pas sur place quand ça s'est produit.</p>
    </div>

    <div class="magie magie-feu">
      <p>Tu décides d'essayer de t'échapper mais très vite <span class="naorem"></span> entre en action. Tu n'as pas le temps de dire ouf que tout des amis disparaissent, emportés tu ne sais où par le prophète.</p>

      <p>Il a certainement les pouvoirs du vent pour se déplacer aussi vite.</p>

      <p>Sans trop réfléchir tu sautes alors par la fenêtre en passant à travers un vitrail pour t'échapper. Tu fais jaillir alors des ailes de feu pour te propulser le plus loin possible. Mais personne ne te pourchasse et derrière toi la tour de l'Académie commence à s'effriter et tombe en morceaux sur l'école. Tu comprends que tu ne maîtrise pas totalement ton pouvoir. Tu es allé<span class="sf">e</span> trop loin et tu as détruit la grande tour.</p>

      <p class="av-riche">Tu espères que ta mère n'était pas sur place quand ça s'est produit.</p>
      <p class="av-studieux">Tu espères que ton frère n'était pas sur place quand ça s'est produit.</p>
    </div>

    <div class="magie magie-eau">
      <p>Tu décides d'essayer de t'échapper mais très vite <span class="naorem"></span> entre en action. Tu n'as pas le temps de dire ouf que tout des amis disparaissent, emportés tu ne sais où par le prophète.</p>

      <p>Il a certainement les pouvoirs du vent pour se déplacer aussi vite.</p>

      <p>Sans trop réfléchir tu sautes alors par la fenêtre en passant à travers un vitrail pour t'échapper. Tu fais jaillir alors des ailes de glace pour te propulser le plus loin possible. Mais personne ne te pourchasse et derrière toi la tour de l'Académie commence à s'effriter et tombe en morceaux sur l'école. Tu comprends que tu ne maîtrise pas totalement ton pouvoir. Tu es allé<span class="sf">e</span> trop loin et tu as détruit la grande tour.</p>

      <p class="av-riche">Tu espères que ta mère n'était pas sur place quand ça s'est produit.</p>
      <p class="av-studieux">Tu espères que ton frère n'était pas sur place quand ça s'est produit.</p>
    </div>

    <div class="magie magie-terre">
      <p>Tu décides d'essayer de t'échapper mais très vite <span class="naorem"></span> entre en action. Tu n'as pas le temps de dire ouf que tout des amis disparaissent, emportés tu ne sais où par le prophète.</p>

      <p>Il a certainement les pouvoirs du vent pour se déplacer aussi vite.</p>

      <p>Sans trop réfléchir tu sautes alors par la fenêtre en passant à travers un vitrail pour t'échapper. Tu fais jaillir alors des ailes d'oiseau gigantesques pour te propulser le plus loin possible. Mais personne ne te pourchasse et derrière toi la tour de l'Académie commence à s'effriter et tombe en morceaux sur l'école. Tu comprends que tu ne maîtrise pas totalement ton pouvoir. Tu es allé<span class="sf">e</span> trop loin et tu as détruit la grande tour.</p>

      <p class="av-riche">Tu espères que ta mère n'était pas sur place quand ça s'est produit.</p>
      <p class="av-studieux">Tu espères que ton frère n'était pas sur place quand ça s'est produit.</p>
    </div>

    <p>Tu te rends compte qu'en voulant sauver tes amis tu as finalement causé des dommages énormes sans même t'en rendre compte. Tes pouvoirs te semblent devenus un véritable fléau.</p>

    <p>- Pourquoi il m'a donné ce pouvoir ?! te lamentes-tu.<br />
      - Je peux peut-être t'aider à contrôler cette magie si tu veux, fait-une voix derrière toi.</p>

    <p>Tu te retournes surpris<span class="sf">e</span>, Leng Fao est là.</p>

    <p>- Je sais que tu ne veux pas me suivre mais qu'est-ce qu'il te reste comme choix ?<br />
      - Mais qui êtes-vous enfin ?<br />
      - Il n'y a qu'un moyen pour toi de savoir, te dit-elle en te tendant la main.</p>

      <p>Tu acceptes l'offre et une lumière rouge vous enrobe tou<span class="sf">te</span>s les deux. Tes amis, eux sont laissés sur place toujours endormis.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="10">Partir avec Leng Fao</div>
  </div>

</div>
