<div class="num num-1-3-240 retour-238">

  <div class="text chapter3">

    <h1>- 240 -</h1>

    <p>
      Usaki a mis au point une stratégie contre les prophètes. Il faut que tu restes sur tes gardes. Tu pourrais bien sûr tout raser avec tes pouvoirs mais tu as beaucoup d'amis dans le coin. Cela ne ferait que les affaires du noctule justement.
    </p>

    <p>Tu t'es mis<span class="sf">e</span> dans les jardins sud. Toujours invisible. Tu vois passer très vite l'équipe d'Espéride. Kannan, Mac Lumy, Lasseni, Fandrean, Panacle, Anselm et Haziko dans ses pas.</p>

    <p>
      - Vite ! Il faut qu'on s'approche le plus vite possible au contact des prophètes ! fait Espéride.<br />
      - Préparez tous vos artefacts, continue Kannan. Et sachez qu'ils ne vous laisseront pas le temps d'incanter votre sort de la lune. Il faut à tout prix les aveugler avec la bombe au préalable.<br />
      - <span class="tonnom"></span> est toujours dans la tour, fait Lasseni. Il faut faire attention de ne pas la toucher avec notre sort.
    </p>

    <p>Tu as entendu le plan. Certainement qu'Usaki doit vouloir faire la même chose. Ils vont probablement tous se presser en haut de la tour pour affronter Méonie et <span class="naorem"></span>.</p>

    <p>Tu laisses tout le monde passer sachant que tu peux te rendre où tu veux en un instant.</p>

    <p>
      - <span class="tonnom"></span> ? fait une voix à côté de toi.<br />
      - … Ymir ? Vous arrivez à me voir ? fais-tu surpris<span class="sf">e</span>.<br />
      - Cette attaque tombe au plus mauvais moment, Méonie venait de nous promettre de rendre ses pouvoirs.<br />
      - Qu... elle les a rendus ?<br />
      - Je ne crois pas, elle a dit qu'elle avait une dernière chose à faire, ajoute Zaïra qui est là également.
    </p>

    <p>Tu annules ton invisibilité puisqu'elle ne marche pas avec eux.</p>

    <p>
      - Vous venez faire quoi ici ? leur demandes-tu. Vous êtes avec Usaki ?<br />
      - Non. Les prophètes sont notre but mais on ne veut pas les tuer. Juste neutraliser leurs pouvoirs. Et contrairement à <span class="naorem"></span>. On te fait confiance.<br />
      - Tu dois nous amener en haut de la tour avant tout ce beau monde, finit Ymir. On va en terminer avant que tout le monde n'arrive.
    </p>

  <div class="choix">
    <div class="ch" data-go="292">Accepter</div>
    <div class="ch" data-go="295">Refuser</div>
  </div>
</div>
