<div class="num num-1-3-241 retour-208">

  <div class="text chapter3">

    <h1>- 241 -</h1>

    <p>
      Tu te dis que ce n'est pas le moment d'hésiter. Tu vas essayer de tout prendre sur toi. Tu te relèves d'un coup en lui criant dessus.
    </p>

    <p>
      - Lâche tout de suite Kannan !<br />
      - <span class="tonnom"></span> ? J'avoue que je ne m'y attendais pas, fait-il un peu soulagé. Où sont les autres ? Vous n'étiez pas que deux.<br />
      - Il n'y avait que moi, Kannan et Mullihane. Laisse mon amie maintenant.
    </p>

    <p>Tu espères que Panacle et Mac Lumy ne fassent pas de bêtises. Pour le moment ils restent cachés, cherchant probablement une occasion pour s'enfuir. En tout cas tu le souhaites.</p>

    <p>
      - Toi ? C'est toi qui aurait lancé tout ces sorts pour piéger Méonie et m'attaquer ?<br />
      - C'est moi que tu veux alors laisse Kannan, lui répètes-tu.<br />
      - <span class="tonnom"></span>... sauves toi. Laisse-moi ici, gémit Kannan.<br />
      - Et bien si c'est toi qui a fait tout ça, tu devrais réussir à contrer ce petit sort.
    </p>

    <p><span class="naorem"></span> tend le bras dans ta direction et une décharge de feu extraordinaire te transperce le coeur comme si cela avait été un fétu de pailles. Tu ne t'attendais pas à une réaction si rapide. Tu n'as rien vu venir et tu t'effondres à terre. Tout devient noir.</p>

    <p class="middle">*</p>

    <p>Soudain tes poumons se remplissent d'air et tu te réveilles en sursauts. Tu n'es plus dans les jardins. Tu semble reconnaitre l'endroit : la chapelle aux morts de l'Académie. Autours de toi les cadavres de plusieurs personnes sont entreposées en attendant qu'on s'occupe d'eux. Tu ne sais pas trop qui t'a sauvé mais en passant la main sur ton cœur tu ne sens aucune blessure. A la place, il y a une marque verte étrange, comme si un éclair de la même couleur t'avait frappé.</p>

    <p>Tu entrouvres la porte de la remise dans laquelle tu étais : personne. Mais il fait nuit. Tu te sens un peu faible. Soudain une explosion retentit. Proche. Tu sors de la chapelle pour voir que les rues sont pleines de personnes se ruant vers l'école. Tu es dans le quartier du port et la caserne du coin a été incendiée. Une femme passe à côté de toi et tu l'arrêtes.</p>

    <p>
      - C'est la révolte, te dit-elle. On est la résistance, la troupe de la générale Espéride, on reprend l'Académie.
    </p>

    <p>Tu ne sais pas combien de temps s'est écoulé depuis que tu as perdu connaissance, mais cela semble être l'attaque de la dernière chance. Tu files vers l'école en suivant le mouvement.</p>

  <div class="choix">
    <div class="ch" data-go="296">Continuer</div>
  </div>
</div>
