<div class="num num-1-3-242 retour-208">

  <div class="text chapter3">

    <h1>- 242 -</h1>

    <p>
      Il vaut mieux ne pas bouger, il croira certainement que Mullihane était la seule alliée de Kannan et s'en ira. Mais Mac Lumy sort de sa cachette en lui criant dessus.
    </p>

    <p>
      - Lâche tout de suite Kannan !<br />
      - Mac Lumy ? J'avoue que je ne m'y attendais pas, fait-il un peu soulagé. Où sont les autres ? Vous n'êtiez pas que deux.<br />
      - Il n'y avait que moi, Kannan et Mullihane. Laisse mon amie maintenant, lui répond-t-il.
    </p>

    <p>Tu ne vois pas ce que tu vas pouvoir faire sans demander un miracle. Tu as quand même vu Kannan lancer son sort une fois, peut-être arriverais-tu à le lancer aussi en dernier recours.</p>

    <p>
      - Toi ? C'est toi qui aurais lancé tous ces sorts pour piéger Méonie et m'attaquer ? continue <span class="naorem"></span><br />
      - C'est moi que tu veux alors laisse Kannan, lui répète Mac Lumy.<br />
      - Mac… sauves toi. Laisse-moi ici, gémit Kannan.<br />
      - Et bien si c'est toi qui a fait tout ça tu devrais réussir à contrer ce petit sort.
    </p>

    <p><span class="naorem"></span> tend le bras dans la direction du jeune mage blond et une décharge de feu extraordinaire lui transperce le coeur comme si cela avait été un fétu de pailles. Il était en train de commencer à incanter un sort mais le prophète ne lui a pas laisser l'occasion de le finir.</p>

  <div class="choix">
    <div class="ch" data-go="243">Essayer de lancer le sort de "masse noir"</div>
    <div class="ch" data-go="244">Continuer de se cacher</div>
  </div>
</div>
