<div class="num num-1-3-243 retour-242">

  <div class="text chapter3">

    <h1>- 243 -</h1>

    <p>
      Tu sors de ta cachette juste à la fin de ton incantation et le projette sur <span class="naorem"></span>. Une gigantesque masse noire apparait. En percutant la cage d'énergie du prophète, cette dernière se brise et continue de grandir jusqu'à atteindre la taille de la tour de magie. Le sort de Kannan était beaucoup plus petit.
    </p>

    <p>Mais la masse se fige et commence à se résorber, il se retourne et part en sens inverse : dans ta direction. Tu te fais gober par ta propre masse noire. Alors que tu ne sais même pas ce que ce sort est sensé faire. Tu as cru que la magie était trop facile. Quelle prétention !</p>

    <p>Tu as l'impression d'être dans un monde complètement différent désormais. Tu sembles flotter dans les airs, au milieu d'un ciel sombre et violet. Ce blob a dû créer un nouveau monde dans lequel tu es bloqué. Peut-être que Mullihane et Méonie sont ici aussi ?</p>

    <p class="middle">*</p>

    <p>Tu as beau passer des heures et des heures, tu ne trouves personnes. Ni même d'animaux. Ni même autre chose que ce ciel violet. Ta magie semble aussi réduite à néant, et bien que le temps ait passé tu n'as ni la sensation de faim ni celle de soif. Peut-être es-tu mort<span class="sf">e</span> ? C'est l'idée qui commence à te traverser l'esprit.</p>

    <p>Mais, alors que tu pensais finir dans ce monde violet pendant une éternité, tout commence à s'effriter. Le monde s'éteint comme un papier qu'on brûle, laissant apparaitre finalement le monde que tu connais. Te revoilà dans les jardins sud, de nuit. Avec une agitation sans nom autour de toi.</p>

    <p>
      - Attention !!!
    </p>

    <p>Quelqu'un vient te forcer à te coucher à terre pour éviter un bloc de pierre qui vient s'écraser derrière toi.</p>

    <p>
      - <span class="tonnom"></span>, ça va ? te demande un vieux mage que tu reconnais.<br />
      - Ymir… ?! Qu... qu'est-ce qu'il s'est passé ?<br />
      - Et bien, je viens de te sauver la vie, dit-il avec un sourire. Il y a des sorts qui volent de partout, il faut faire attention.<br />
      - Ne restez pas là vous deux, intervient Zaïra. On doit arrêter les prophètes et tout ce beau monde, je viens d'apercevoir Usaki qui monte dans la tour.
    </p>

    <p>Tu ne sais absolument pas ce qu'il s'est passé. Peut-être que… tu as voyagé dans le temps ? La résistance semble avoir attaqué l'Académie. Le police magique des prophètes se bat contre eux. Les prophètes ne sont visibles nul part.</p>

  <div class="choix">
    <div class="ch" data-go="297">Continuer</div>
  </div>
</div>
