<div class="num num-1-3-244 retour-242">

  <div class="text chapter3">

    <h1>- 244 -</h1>

    <p>
      Le corps de Mac Lumy reste à terre sans vie. Le prophète appelle des serviteurs et ouvre sa cage d'énergie. Il donne l'ordre de mettre en prison Kannan.
    </p>

    <p>
      - Je sais que vous êtes encore deux à vous cacher, dit <span class="naorem"></span>. Sortez de là. De toute façon je ne souhaite pas vous tuer, vous aller porter un message à votre pathétique résistance.
    </p>

    <p>Mince, c'était sûr qu'avec ses pouvoirs il puisse vous voir. Après un instant d'hésitation, tu sors de ta cachette et Panacle fait de même à son tour.</p>

    <p>
      - Tient ? <span class="tonnom"></span>, comme on se retrouve, fait le prophète. Et toi … ? Je ne te connais pas. Bien vous allez retourner auprès de votre chef ou ce que vous voudrez et vous lui direz la chose suivante : "la mort de Méonie, je vais vous la faire payer tellement cher que vous espèrerez longtemps n'avoir jamais fait ça.".
    </p>

    <p>L'espace d'un instant tu avais cru que <span class="naorem"></span> allait vous donner un vrai message. Mais il ne fait qu'annoncer sa vengeance.</p>

    <p>
      - D'ailleurs, continue-t-il, il n'y a pas besoin d'être deux pour transmettre ce message.
    </p>

    <p>Et d'un coup Panacle disparait, à la place se trouve un escargot.</p>

    <p>
      - Voilà, je pense que tu seras plus rapide que lui à raconter ce qu'il s'est passé, te dit le prophète.
    </p>

    <p>Tu le regardes hébété<span class="sf">e</span>, puis il te montre la sortie du bras. En t'en allant toujours sous le choc tu entends un "crac". En te retournant, tu aperçois le prophète en train de retirer son pied de l'escargot qu'il vient d'écraser.</p>

  <div class="choix">
    <div class="ch" data-go="298">Retrouver Haziko</div>
  </div>
</div>
