<div class="num num-1-3-245 retour-209">

  <div class="text chapter3">

    <h1>- 245 -</h1>

    <p>
      Panacle et Mac Lumy rament le plus vite possible. Tu as prodigué un sort de soin sur les yeux de Kannan mais tu le sais bien : personne ne peut arriver à redonner la vue à quelqu'un. Ou peut-être les prophètes ?
    </p>

    <p>
      - On a réussi à avoir Méonie ? demandes-tu. <br />
      - C'est bien le seul point positif de cette mission, grommelle Panacle. On a perdu Mullihane et Kannan ne va plus pouvoir se battre.<br />
      - … On savait que c'était risqué, non ? fait Mac Lumy.<br />
      - Je suis en colère ! crie Panacle. Pourquoi Mullihane nous a ramené deux prophètes ! On aurait dû  en avoir qu'un !
    </p>

    <p>Toi aussi tu es désolé<span class="sf">e</span> pour ce qui est arrivé à Kannan. Mais tu ne peux t'empêcher de te dire que cela aurait pu être bien pire.</p>

    <p>
      - Panacle... ? demande la voix tremblotante de Kannan.<br />
      - Kannan ! Tu te sens mieux ? demande le mage.<br />
      - Tu ne dois pas t'en vouloir. Cette mission est un succés. On a eu la prophète. Tant pis si je ne peux plus me battre. C'est un sacrifice auquel j'avais consenti.
    </p>

    <p>Tu dis à Kannan de se reposer. Tu la tiens dans tes bras pendant tout le trajet et même si elle est vie, tu la sens trembler pendant tout le trajet. Tu lance un sort de chaleur dans tes mains pour la réchauffer et elle semble s'endormir plus calmement.</p>

    <p class="middle">*</p>

    <p>En arrivant à Eaux-Claires, Kannan est transporté en urgence chez le médecin. Même si les soins magiques sont extraordinaires, les soins conventionnels font parfois aussi des miracles. Tu espères que ce soit le cas cette fois-ci.</p>

    <p>
      - Mac, Panacle, <span class="tonnom"></span>, venez me faire votre rapport, vous dit Espéride.
    </p>

  <div class="choix">
    <div class="ch" data-go="246">Faire le rapport</div>
  </div>
</div>
