<div class="num num-1-3-246 retour-245">

  <div class="text chapter3">

    <h1>- 246 -</h1>

    <p>
      Vous expliquez en détails ce qu'il s'est passé à Espéride. Elle est satisfaite de cette victoire. Un prophète en moins, elle ne pouvait espérer mieux.
    </p>

    <p>
      - C'est une très bonne nouvelle, dit-elle. Cela conforte notre action de cette nuit.<br />
      - Cette nuit ? Qu'est-ce qu'il se passe cette nuit ? demandes-tu.<br />
      - Nous faisons notre grande attaque finale. Il ne reste qu'un prophète, c'est le moment. Le générale Allister est en train d'approcher de l'Académie par la rive Est. Nous arriverons par le lac.<br />
      - Le général Allister n'est pas ici ? demande Mac Lumy.<br />
      - Bien sûr que non, il nous envoit des messages mais c'est tout. Bon sang Mac, ça fait combien de temps que t'es avec nous ? Tu le sais tout ça.<br />
      - Hum… dans ce cas, fait-il.
    </p>

    <p>En regardant ton ami, tu notes qu'il a les yeux noirs. Lui qui a toujours eu les yeux bleus. </p>

    <p>
      - Mac… ? lui fais-tu.
    </p>

    <p>Il se tourne vers toi normalement.</p>

    <p>
      - Qui... es-tu ? lui fais-tu.<br />
      - Ha ? Mince, je suis répéré.
    </p>

    <p>Et d'un coup, tout te revient en tête, Mac Lumy avait mis du temps à vous rejoindre. Il a certainement été intercepté par le <span class="naorem"></span>. A-t-il été tué ? En tout cas, c'est certainement le prophète qui est en face de toi et qui vient avait pris l'apparence de ton ami.</p>

    <p>Une gigantesque tempête se déclenche alors autour du sosie de Mac Lumy. Tout est balayé avec une puissance telle qu'elle déchire tout, fracasse la roche et emporte les maisons. La totalité du village est rasé. Tu ne sais pas pourquoi mais le prophète t'a gardé indemne auprès de lui. En reprenant son apparence <span class="naorem"></span> te dit juste :</p>

    <p>
      - Voilà quelle est la puissance d'un prophète. Vous avez tué Méonie, voici la juste punition pour votre arrogance. Votre général Allister sera le suivant. Si tu souhaites rester en vie, reste ici.
    </p>


  <div class="choix">
    <div class="ch" data-go="247">Continuer</div>
  </div>
</div>
