<div class="num num-1-3-247 retour-246">

  <div class="text chapter3">

    <h1>- 247 -</h1>

    <p>
      Tu n'arrives à retrouver personne. Tout ce que tu as fait pour tenter de sauver Kannan, n'a servi à rien. Tout le monde a disparu. Tu ne sais plus quoi faire. <span class="naorem"></span> est reparti à l'Académie, te laissant seul<span class="sf">e</span>.
    </p>

    <p>Dans la soirée deux personnes viennent te chercher. Tu reconnais leur démarche.</p>

    <p>
      - Ymir ! Zaïra ! Pourquoi cela a dû finir comme ça, demandes-tu aux deux mages légendaires.<br />
      - Ce n'est pas encore fini, fait Ymir. Chaque action a une conséquence.<br />
      - Oui… je viens de l'apprendre, fais-tu en versant quelques larmes.<br />
      - On nous a toujours pris pour des faibles parce qu'on ne prenait pas le pouvoir. Mais on ne l'a jamais cherché, t'explique Zaïra. On sait que des gens ont mis la pression sur nos descendants. Lasseni et Fandrean. Alors qu'ils n'ont rien à voir avec nos histoires. Mais on a toujours voulu faire profil bas et s'occuper uniquement de ce qui était important.<br />
      - Et maintenant…? pleures-tu. Qu'est-ce qui est important ?<br />
      - C'est retourner le pouvoir de Soufflardent à la terre. C'est éliminer <span class="naorem"></span>.
    </p>

    <p>Tu ne sais pas vraiment ce que tu veux faire, tous tes amis sont morts.</p>

    <p>
      - Tu as le choix, fait Ymir. Nous avons appris qu'Allister, ou plutôt Usaki, attaquerait cette nuit l'Académie. Nous n'allons pas rester les bras croisés. Veux tu nous accompagner ?<br />
      - On va pas te mentir, c'est extrêmement risqué, fait Zaïra. Tu peux sois rester en dehors de tout ça et finir toute cette histoire. Ou bien tu peux être <span class="sf">actrice</span><span class="sg">acteur</span> jusqu'au bout.
    </p>


  <div class="choix">
    <div class="ch" data-go="301">Accompagner les deux mages légendaires</div>
    <div class="ch" data-go="248">Rester sur la rive dévastée seul<span class="sf">e</span></div>
  </div>
</div>
