<div class="num num-1-3-248 retour-247">

  <div class="text chapter3">

    <h1>- 248 -</h1>

    <p>
      - Bien, fait Ymir. Je crois que c'est une sage décision. Si les choses se passent mal. Essaie de fuir le plus loin possible.
    </p>

    <p class="middle">*</p>

    <p>Toute la soirée tu restes prostré<span class="sf">e</span> là où se tenait le village d'Eaux-Claires. Dans la nuit des explosions retentissent au loin, sur l'île de l'Académie. Tu admires le spectacle comme si tu regardais un feu d'artifices. Tout te semble surréaliste. Puis vient le bouquet final.</p>

    <p>Une explosion bleue gigantesque t'éblouit. L'île se transforme en cristal, le lac se gèle. Tu sens l'énergie magique continuer et s'arrêter juste en touchant le sol devant toi. Un froid intense te transperce puis tout se fige.</p>

    <p>Le soleil se lève à ce moment là. Faisant miroiter la grande tour de l'Académie de milles reflets. Le lac est tellement solide que tu peux marcher dessus. Tu décides quand même de faire le trajet jusqu'à l'île.</p>

    <p>Traverser le lac à pied est une expérience nouvelle. Des barques sont prises dans la glace. Dans la plupart, des gens sont gelés à l'intérieur. Dans chaque parcelle de glace autour de toi, se trouve une énergie redoutable, l'énergie de Soufflardent.</p>

    <p>En escaladant les quais garnis de stalagmites du port, tu te retrouves dans un autre monde. Des centaines de personnes enfermées dans des cercueils de glace. Les humains et les animaux, logés à la même enseigne.</p>

    <p>Tu remontes le chemin jusqu'à l'école. Mais le décors n'est plus le même qu'avant et tu te perds deux fois avant de te retrouver devant la porte défoncée par le gel. Dans la cour de l'école, des dizaines de personnes sont là, telles des statues de glace. Tu reconnais le professeur Qobur au milieu de cette forêt des glaces. Tu montes dans la tour.</p>

    <p>Les marches sont extrêmement glissantes mais tu te hisses sans trop de souci jusqu'au sixième étage. Ymir et Zaïra sont dans les bras l'un de l'autre mais tiennent Fandrean entre eux deux. Ils se sont réuni juste avant de mourir. Formant la statue de glace la plus émouvante que tu aies vu jusque là.</p>

    <p>Dans les marches menant au septième étage, Haziko est gelée, cramponnée à la rambarde. Tu l'avais presqu'oubliée. Les dernières marches sont les plus durs à monter. Tu as un peu d'appréhension sur ce que tu vas rencontrer.</p>

    <p>Presque sans surprise, Leng Fao, la journaliste se tient là. Mais elle est vivante et se retourne vers toi.</p>


  <div class="choix">
    <div class="ch" data-go="249">Epilogue</div>
  </div>
</div>
