<div class="num num-1-3-249 retour-248">

  <div class="text chapter3">

    <h1>- FIN 1 -</h1>

    <p>
      - <span class='tonnom'></span>. Je suis contente de te voir en vie, fait Leng Fao.<br />
      - Qu... qu'est-ce qu'il s'est passé ?
    </p>

    <p>
      Au septième étage se trouve une sculpture de glace invraisemblable. Un noctule tente de mettre la main sur une sorte de lumière bleue. Ce noctule c'est Usaki, il lui manque un bras et a dû fortement batailler. A ses pieds, se tient le corps gelé de <span class="naorem"></span>. Mais il y a cette lumière bleue, même gelée elle semble vivante.
    </p>

    <p>
      - Elle est vivante, t'indique Leng Fao. Regarde bien, de temps en temps elle bouge.
    </p>

    <p>Et en effet tu sursautes en la voyant bouger.</p>

    <p>
      - C'est Lasseni ! Elle a mis un terme à tout cela. Elle a déclenché le sort qui a tout gelé. Le pouvoir de Soufflardent l'a transformé en énergie vivante et désormais elle est immortelle, mais piégée dans cette couche de glace.<br />
      - Alors tout est fini ? demandes-tu.<br />
      - Pour les noctules, oui, te confirme Leng Fao. Les troupes de noctules qui étaient sur la lune ont déjà appris la mort de leur général. Ils n'ont plus personne pour les guider. Ils n'envahiront pas la terre comme ils l'avaient prévu.<br />
      - Mais l'Académie… qui va la diriger ?<br />
      - Il me semble que l'Académie soit finie. Il ne reste plus personne... à part toi. C'est à vous les hommes de savoir ce que vous en ferez, mais avec tes pouvoirs magiques tu auras une grande responsabilité.<br />
      - Je… je n'en veux pas ! Je ne suis pas intervenu<span class="sf">e</span> car je ne suis pas de taille justement.<br />
      - Cela ne signifie pas que tu dois diriger les autres. Mais pourquoi n'essaierais-tu pas d'enseigner la magie ? Les humains vont avoir besoin de plus de mages.
    </p>

    <p>C'est vrai. Tu pourrais faire cela : enseigner la magie à des gens. Transmettre tes connaissances. Transmettre l'histoire de ce qu'il s'est passé. De tes amis. De Lasseni. Et peut-être qu'un jour tu arriveras à la sortir de sa prison de glace !</p>

</div>
