<div class="num num-1-3-25">

  <div class="text chapter3">

    <h1>- 25 -</h1>

    <p>Les 3 autres prophètes se regardent puis éclatent de rire.</p>

    <p>- Tu es bien <span class="sf">naïve</span><span class="sg">naïf</span>, dit Arak. Avec notre pouvoirs il y aura des jaloux et la guerre sera inévitable.<br />
      - Soufflardent n'a jamais voulu la guerre et pourtant pleins de mages sont allés lui chercher querelles, ajoute <span class="naorem"></span>. Et il avait encore plus de pouvoirs que nous.</p>

    <p>Tout ce qu'ils te disent est vrai. Mais est-ce mal de penser à la paix ?</p>

    <p>- Si nous, qui sommes les plus puissants aux mondes, ne pensons pas à la paix ; personne ne le fera, dis-tu simplement. Soufflardent n'a pas réussi à faire la paix mais nous avons deux avantages par rapport à lui : tout d'abord nous ne sommes pas seuls et deuxièmement nous sommes humains. Les autres nous écouteront plus facilement qu'un dragon.</p>

    <p>Cette fois les trois prophètes ne rigolent plus. Tu as l'air d'avoir avancé des arguments qu'ils ne peuvent pas contredire.</p>

    <p>- Je suis d'accord avec <span class='tonnom'></span>, fait Méonie en brisant le silence. Cela vaut le coup d'être tenté.<br />
    - Attendez, intervient <span class="naorem"></span>. La paix c'est bien joli mais concrètement qu'est-ce que tu proposes qu'on fasse <span class='tonnom'></span> ?</p>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="26">Nous allons partager le pouvoir avec les mages</div>
    <div class="ch" data-go="27">Nous allons partager le pouvoir avec les sans-magie</div>
    <div class="ch" data-go="28">Nous allons partager le pouvoir avec tout le monde</div>
  </div>

</div>
