<div class="num num-1-3-250 retour-211">

  <div class="text chapter3">

    <h1> 250 </h1>

    <p>
      Tu essaies de ramer le plus vite possible pour rejoindre Eaux-Claires. Le lac n'est pas si grand que ça mais le trajet semble durer une éternité. Tu arrives enfin sur place mais seulement pour constater ce que tu pressentais. Le village a été rasé. <span class="naorem"></span> a certainement fait tout ça. Tu tombes à genoux en te lamentant. Il n'y a même pas moyen de trouver les corps des gens qui ont été tué. Même les maisons ont disparu devant la violence du sort du prophète.
    </p>

    <p>
      - Ce n'est pas fini, dit une voix derrière toi.<br />
      - Ymir...Zaïra !? fais-tu en reconnaissant les deux mages légendaires. Si, c'est fini ! Tous mes amis sont morts dans ce village.<br />
      - Il reste à s'occuper de ce prophète, t'explique Zaïra.<br />
      - Tu as le choix, fait Ymir. Nous avons appris qu'Allister, ou plutôt Usaki, attaquerait cette nuit l'Académie. Nous n'allons pas rester les bras croisés. Veux tu nous accompagner ?<br />
      - On va pas te mentir, c'est extrêmement risqué, continue Zaïra. Tu peux sois rester en dehors de tout ça et finir toute cette histoire. Ou bien tu peux être <span class="sf">actrice</span><span class="sg">acteur</span> jusqu'au bout.
    </p>


  <div class="choix">
    <div class="ch" data-go="301">Accompagner les deux mages légendaires</div>
    <div class="ch" data-go="248">Rester sur la rive dévastée seul<span class="sf">e</span></div>
  </div>
</div>
