<div class="num num-1-3-251 retour-212">

  <div class="text chapter3">

    <h1> 251 </h1>

    <p>
      Sur la barque que vous avez "emprunté" à un pêcheur, tu racontes toutes l'histoire à Haziko.
    </p>

    <p>
      - Il faut arriver à temps pour prévenir les autres, dis-tu à ton amie.<br />
      - Je vais envoyer un message, dit-elle.
    </p>

    <p>Tu la vois sortir une plume et un parchemin pour écrire un message. Puis elle le replis et le passe à la patte d'un oiseau mécanique qu'elle sort de sa poche. Elle le remonte avec une clé et l'oiseau s'envole en direction d'Eaux-Claires.</p>

    <p>
      - C'est quoi ce truc ? demandes-tu.<br />
      - C'est mon artefact-pigeon-voyageur. Je suis devenue fabricante d'artefacts tu sais, répond-t-elle fièrement.
    </p>

    <p>Et l'oiseau se déplace vraiment très vite. Il pourrait bien sauver la mise à tout le monde. Mais peu de temps avant votre arrivée au port une gigantesque explosion se forme dans le petit village.</p>

    <p>Vous avez le temps de voir repartir <span class="naorem"></span> qui a l'air de retourner vers l'Académie.</p>

    <p>
      - Non ! C'est pas vrai ! fait Haziko. Ils s'en sont sortis, pas vrai ?
    </p>

    <p>Tu ne réponds rien mais tu rames deux fois plus vite. Quand vous débarquez enfin, la zone est carbonisée, même les maisons sont en cendres. Les pierres ont fondues sous la chaleur. Seule une forme noire est debout au centre du village. On dirait une forme humaine avec le bras en avant tentant certainement d'affronter le prophète.</p>

    <p>
      - Non ! commence à pleurer Haziko.
    </p>

    <p>Tu la prends dans tes bras mais toi aussi tu n'arrives pas à contenir tes larmes.</p>

    <p>Soudain un bruit de porte qui s'ouvre se fait entendre.</p>


  <div class="choix">
    <div class="ch" data-go="252">Continuer</div>
  </div>
</div>
