<div class="num num-1-3-252 retour-251">

  <div class="text chapter3">

    <h1> 252 </h1>

    <p>Une porte se soulève du sol. Elle était cachée par toutes les cendres du village. Anselm en sort, hébété devant le spectacle qui s'impose à lui. Vous le regardez, lui, avec le même étonnement.</p>

    <p>
      - Anselm ? fais-tu incrédule.<br />
      - <span class="tonnom"></span>, Haziko ! fait-il heureux de vous voir.
    </p>

    <p>Il vient vous voir en courant pendant que tu aides Haziko à se remettre debout. Derrière Anselm d'autres personnes sortent de cette cachette souterraine. Panacle et plusieurs villageois sont là. D'autres portes s'ouvrent et tu t'aperçois que des dizaines de personnes ont pu être sauvées.</p>

    <p>
      - C'est grâce à vous deux, vous explique Anselm en sortant l'oiseau mécanique d'Haziko de sa poche. On s'est tous caché pendant qu'Espéride a trouvé un prétexte pour parler avec le prophète sous son apparence de Mac Lumy.<br />
      - Mais… Espéride alors, qu'est-ce qu'elle est devenue ? demandes-tu.<br />
      - Je ne suis pas sûr... Je crois que c'est elle.
    </p>

    <p>Anselm te montre la silhouette humaine carbonisée au centre du village.</p>

    <p>
      - Elle… s'est … sacrifiée ? fait Haziko en reniflant un grand coup.<br />
      - C'était notre général, et notre ancienne professeure. Elle nous aura toujours protégé. C'est aussi grâce à elle qu'on est en vie.<br />
      - Oui, fais-tu triste. Kannan a pu être sauvée aussi ?<br />
      - Elle est avec le médecin dans la cache secrête mais ses blessures l'empêcheront de se battre pendant longtemps.
    </p>

    <p>Anselm vous raconte également qu'un messager avait envoyé dans la journée un message expliquant que la grande attaque serait pour cette nuit. L'armée d'Allister, va attaquer l'Académie. Dans l'idéal l'armée d'Espéride aurait dû attaquer également en passant par le lac.</p>

    <p>
      - Il n'est pas trop tard, fait Haziko. En partant maintenant on pourrait les rejoindre.<br />
      - Nous n'avons plus d'embarcation à part la barque que nous avons ramené, fais-tu remarquer.<br />
      - Mais nous sommes des mages, explique Panacle en se joignant à la discussion.
    </p>

    <p>Vous vous êtes compris. Avec d'autres mages survivants, vous construisez à la hâte une dizaine d'embarcation. Elle ne tiendront pas longtemps mais elles ne sont pas faites pour durer. Avant de partir avec Haziko, Panacle et Anselm, tu vas voir Kannan qui se repose sur un rocher en compagnie du médecin, un bandeau sur les yeux.</p>

    <p>
      - Kannan, on va finir toute cette histoire, lui dis-tu. Reste ici pour te soigner. Je te promets que je reviendrai.<br />
      - Hé hé ! Je te fais confiance, je te laisse le travaille le plus dur. Tu ne connais même pas le sort pour affronter les prophètes.<br />
      - On s'en sortira, fais-tu confiant<span class="sf">e</span>.
    </p>

    <p>Et vous embarquez tous les quatre dans l'embarcation.</p>

  <div class="choix">
    <div class="ch" data-go="303">Continuer</div>
  </div>
</div>
