<div class="num num-1-3-253 retour-214">
  <!-- Haziko + Anselm + Espéride + Toi -> beaucoup de morts, Lasseni (prophète) et Fandrean sont vivants -->
  <div class="text chapter3">

    <h1> 253 </h1>

    <p>Votre cible est <span class="naorem"></span>, après ce qu'il a fait à vos amis vous êtes prêt à en découdre. Les embarcations filent sur le lac. Celle de votre petite équipe de quatre - Haziko, Anselm, Espéride et toi - se déplace vers le quai de l'école. Tandis que les autres vont débarquer au port pour créer un diversion.</p>

    <p>En arrivant vers la zone de débarquement, vous observez deux gardes en train de surveiller les alentours.</p>

    <p>
      - C'est la police magique, fait Espéride. Laissez moi faire.
    </p>

    <p>Elle mets ses mains en porte voix et sifflote une petite musique toute douce. L'instant d'après les deux gardes tombent sur le sol endormis. Ce sort t'impressionne mais il ne faut pas trainer. Vous sautez sur le ponton et éteignez les torches des gardes. Puis vous remontez les marches menant à l'école quatre à quatre. En arrivant aux jardins des serviteurs Espéride vous fait signe d'attendre.</p>

    <p>
      - On doit attendre qu'il y ait moins de gardes. Allister et ses troupes vont arriver, c'est là qu'on sortira.
    </p>

    <p>Sans attendre beaucoup plus longtemps, une explosion retentit dans la ville. Cela a l'air de provenir du port, le reste des troupes a réussi à faire diversion. Puis d'autres explosions de couleurs différentes retentissent vers l'entrée de la ville. Des dizaines de policiers sortent de l'école pour aller affronter la révolte.</p>

    <p>
      - C'est le moment, fait Espéride. Espérons que nos espions aient pu s'occuper des trois mages du conseil survivants. Sinon cela va être encore plus compliqué.
    </p>

  <div class="choix">
    <div class="ch" data-go="307">Continuer</div>
  </div>
</div>
