<div class="num num-1-3-254 retour-216">

  <div class="text chapter3">

    <h1> 254 </h1>

    <p>Le soir venu, les deux mages légendaires se présentent comme convenu à l'école. Tu as laissé des ordres pour les faire venir jusqu'au sommet de la tour.</p>

    <p><span class="naorem"></span> attend dans la salle de réception, tu es à ses côtés. Il a l'air complètement vidé. Son regard est dans le vague, tu ne sais même pas s'il comprend ce que tu es en train de lui dire. De temps en temps tu le vois faire une sorte de sourire comme s'il se remémorait un souvenir qu'il avait de Méonie puis son visage redevient grave ou absent.</p>

    <p>Un serviteur fait entrer Ymir et Zaïra puis vous laisse.</p>

    <p>
      - <span class="naorem"></span>, je veux que tu saches que nous sommes désolés d'apprendre la mort de Méonie, commence poliment Ymir. Toutes nos condoléances. <span class="tonnom"></span> nous a dit que tu souhaitais rendre tes pouvoirs. Dans ce cas nous allons t'expliquer comment faire. Nous respectons ton choix, et nous pensons que c'est ce qu'il y a de mieux à faire.
    </p>

    <p>Quand Ymir commence à parler <span class="naorem"></span> redresse la tête. Il a les yeux bien écarquillé et laisse le mage parler, il lâche un petit rire quand il entends les condoléances et se relève à la fin.</p>

    <p>
      - Oh, je crois qu'il y a un petit malentendu, fait <span class="naorem"></span>.<br />
      - Qu... comment ? réagit Zaïra. Je me doutais bien que tu ne voulais pas rendre ton pouvoir.<br />
      - Bien sûr que si, fait <span class="naorem"></span> en rigolant. Mais je n'ai pas besoin de vous. Je sais très bien comment faire tout seul, ça fait longtemps que je l'ai découvert.<br />
      - Dans ce cas, pourquoi voulais-tu que nous venions, fait Ymir dubitatif.<br />
      - Parce qu'il fallait que tout le monde soit là. Mais vous êtes légèrement en avance, il manque un dernier invité.
    </p>

    <p>Une explosion retentit soudain dans la ville. Vous vous précipitez toi et les deux mages légendaires à la fenêtre.</p>

    <p>
      - Enfin ! Il est là ! Usaki est arrivé ! s'exclame <span class="naorem"></span> avec le rire d'un dérangé. Je vais maintenant RENDRE mes pouvoirs.
    </p>

  <div class="choix">
    <div class="ch" data-go="255">Continuer</div>
  </div>
</div>
