<div class="num num-1-3-255 retour-254">

  <div class="text chapter3">

    <h1> 255 </h1>

    <p>
      - <span class="tonnom"></span>, je crois qu'on va devoir intervenir. te dit Ymir.<br />
      - Oui quelque chose me dit qu'il ne va pas vraiment rendre ses pouvoirs, fait Zaïra.
    </p>

    <p>Tu dois avouer que <span class="naorem"></span> a maintenant l'attitude de quelqu'un devenu fou. Il rigole en se tenant le visage dans ses mains et son énergie se concentre autour de lui de manière dangereuse.</p>

    <p>
      - Ha ha ha ! Je viens de comprendre le sens même du pouvoir ! s'exclame encore le prophète.
    </p>

    <p>Il est de plus en plus dur de se tenir debout dans la pièce, les vents provoqués par l'accumulation d'énergie de <span class="naorem"></span> vous plaquent contre le mur.</p>

    <p>Zaïra décoche un regard à Ymir, fait de même avec toi.</p>

  <div class="choix">
    <div class="ch" data-go="256">Les aider à attaquer <span class="naorem"></span></div>
    <div class="ch def-peureux" data-go="257">T'enfuir le plus loin possible par la fenêtre</div>
  </div>
</div>
