<div class="num num-1-3-256 retour-255">

  <div class="text chapter3">

    <h1> 256 </h1>

    <p>
      Les deux mages légendaires sortent chacun un artefact de leurs robes. Tu reconnais ces objets, ce sont ceux qui étaient sur le corps de Soufflardent pour l'endormir. Puis ils se précipitent avec toute leur énergie sur le prophète.
    </p>

    <p><span class="naorem"></span> lance aussitôt une puissante rafale dans leur direction. Tu t'interposes pour dévier le sort avec tes pouvoirs mais tu ne t'attendais pas à une telle violence d'énergie. Tu réussis ta parade mais te voilà aussitôt envoyé<span class="sf">e</span> contre le mur. Tu espères avoir créé assez d'espace pour les deux mages.</p>

    <p>Ymir ne voit pas arriver une frappe du bras de <span class="naorem"></span> et finit à côté de toi sonné. Mais Zaïra en embuscade derrière son mari réussit à saisir le poignet du prophète et à lui coller l'artefact dessus.</p>

    <p>
      - C'est fait ! s'écrie de joie Zaïra.
    </p>

    <p>Mais sa joie est de courte durée. Vous vous apercevez que <span class="naorem"></span> s'était lui même coupé le bras pour l'envoyer sur Ymir. L'artefact n'a aucun effet. Et la mage légendaire s'empile sur vous avec violence. Tu arrives toutefois à la rattraper pour lui éviter de se fracasser le crâne contre le mur.</p>

    <p>
      - Ha ha ha, c'était trop gros ! Je vous avais vu venir ! Mais dites moi maintenant si vous vous attendiez à ça !
    </p>

    <p>Le prophète lâche alors toute l'énergie qu'il avait concentré dans les airs. Un gigantesque rayon jaune fait voler le toit de la tour. La folie du prophète lui a permis de transcender ses pouvoirs. Mais tu ne sais pas vraiment ce qu'il visait.</p>

    <p>
      - Regardez-mieux ! vous dit <span class="naorem"></span>.
    </p>

    <p>Et le rayon percuta la lune. La faisant exploser en une myriade de lumières.</p>

    <p>
      - Ha ha ha ! C'était un cadeau pour toi Usaki ! hurle le prophète. Maintenant je vais faire exploser cette fichue planète !
    </p>

    <p>Cette fois il faut l'arrêter. <span class="naorem"></span> va tous vous tuer.</p>

    <p>
      - Tu dois lui poser cet artefact dessus, te dit Zaïra. Toi seul<span class="sf">e</span> peux le faire. Je n'ai plus de force.<br />
      - Entendu, je m'en charge. dis-tu en ramassant l'artefact d'Ymir.
    </p>

  <div class="choix">
    <div class="ch" data-go="309">Terrasser <span class="naorem"></span> ou mourir</div>
  </div>
</div>
