<div class="num num-1-3-257 retour-255">

  <div class="text chapter3">

    <h1> 257 </h1>

    <p>
      Tout cela te semble trop risqué. Que prépare <span class="naorem"></span> ? Tu n'en sais rien mais tu préfères ne rien savoir et partir. A pleine vitesse tu ne t'arrêtes qu'en arrivant vers le désert de l'ouest. En pleine zone barbare. En te retournant tu vois un énorme rayon jaune partir dans le ciel. Est-ce le sort de <span class="naorem"></span> ?
    </p>

    <p>Le rayon percute la lune et la détruit en un myriade de lumières. Sa folie lui a fait commettre l'irréparable. Puis tu sens un énorme tremblement de terre et puis plus rien. Des débris de la lune tombent sur la terre, provoquant des raz de marée dans les mers, des tremblements de terre et une destruction que tu n'avais encore jamais vue.</p>

    <p class="middle">*</p>

    <p>Après quelques jours pour te remettre émotionnellement, tu décidas de retourner à l'Académie pour savoir ce qu'il était arrivé. Sur ton chemin tout n'était que calme et désolation. Toi même tu sais que tu n'as survécu que grâce à tes pouvoirs. Pas une seule personne vivante sur ton passage.</p>

    <p>Le désert de l'ouest semble sans fin. Mais tu reconnais à un moment un bâtiment détruit. Ne serait-ce pas la coupole de la grande bibliothèque de l'Académie ? Si. La ville que tu recherchais a complètement changé. Le lac n'existe plus, du sable fin a remplacé les collines verdoyantes. Tout est mort : végétation, animaux et humains.</p>

    <p>Tu as beau recherché des traces d'énergie, tu n'en vois aucune. Tout est mort et enterré sous des tonnes de sable et de pierre. Si tu n'avais pas été si peureu<span class="sf">se</span><span class="sg">x</span> tu aurais peut-être pu éviter ça.</p>

    <p>Te voilà désormais complètement seul<span class="sf">e</span>.</p>

    <p>Mais alors que tu étais en train de perdre la raison, une voix dans ta tête te dit que tu pourrais réparer tout cela. Tu es un<span class="sf">e</span> prophète. Si <span class="naorem"></span> a pu détruire la lune, peut-être peux-tu réparer la terre.</p>

  <div class="choix">
    <div class="ch" data-go="258">Epilogue</div>
  </div>
</div>
