<div class="num num-1-3-258 retour-257">

  <div class="text chapter3">

    <h1>- FIN 2 -</h1>

    <p>
      Tu te recroquevilles en boule et tu fermes les yeux. Tu te concentres en méditant. Ton énergie s'empare de toi, tu es en transe. Tu vas la réparer cette planète et tout ce qu'il y avait dessus. Tu as eu peur mais maintenant tu sais ce que tu dois faire. Tu vas reconstruire ce monde.
    </p>

    <p>
      En t'endormant tu commences à t'enfoncer dans la terre, jusqu'à attendre son noyau éteint. Tu te positionnes comme un fœtus à cet endroit relâchant ton énergie d'un coup.
    </p>

    <p>A la surface, le ciel devenu gris reprend une belle couleur bleue. Des nuages forment une pluie salvatrice. Les montagnes devenues sables se resolidifient. Des rivières se forment et des les mers se reforment.</p>

    <p>Les arbres repoussent et ça-et-là des animaux sortent de leur tanière. Des insectes butinent les fleurs et la vie reprend.</p>

    <p>Dans ton cocon au centre de la terre, petit à petit tu disparais. Tu as donné la totalité de ton pouvoir pour faire renaître un monde que tu espères meilleur.</p>

    <p class="middle">*</p>

    <p>Des centaines d'année plus tard, comme sorti d'un rêve tu te sens bouger. Tu donnes des coups dans ta prison et tu essaies de te créer une sortie pour arriver à l'air libre. La lumière du soleil te fait mal aux yeux. Tu sens le vent sur tes écailles, tu as envie de voler dans les airs. Ta mère, un grand dragon noir est à tes côtés.</p>

    <p>
      - Tu t'appelleras Soufflardent, te dit-elle fière.
    </p>

</div>
