<div class="num num-1-3-259 retour-219">

  <div class="text chapter3">

    <h1> 259 </h1>

    <p>
      Le lendemain, tu te lèves assez tôt pour ne pas rater le départ des quatre mages du conseil. Mais à quoi bon les laisser continuer cette mission. Mullihane est une espionne et tu as attaqué la nuit dernière. Il est certain qu'ils ne trouveront rien.
    </p>

    <p>Mais tu préfères agir au moment où ils vont partir, quand <span class='naorem'></span> et Méonie se réveillèrent.</p>

    <p>
      - Bien, je compte sur vous quatre pour me ramener Usaki ou quiconque se cache derrière cette énergie bizarre, fait <span class='naorem'></span>.<br />
      - Entendu, réagit Soyos. Comptez sur nous.<br />
      - Mullihane ? Je peux vous poser une question avant que vous ne partiez, lui demandes-tu ?<br />
      - Bien sûr, maitre prophète, fait-elle poliment.<br />
      - Hum... Pourquoi allez-vous à ce village en sachant que vous les avez déjà prévenu de votre attaque ?<br />
      - C...comment cela ? Je ne comprends pas, fait la mage apeurée.<br />
      - J'ai pu lire un message disant que l'on allait attaquer le village de Trois-Chemins. Signé de votre main.
    </p>

    <p>Avec tes pouvoirs, tu arrives a faire apparaitre un parchemin identique à celui que tu as vu chez Usaki la veille. <span class='naorem'></span> est bouche-bée. Méonie regarde le parchemin et plisse les yeux en dévisageant Mullihane.</p>

    <p>
      - C'est un faux ! On veut me compromettre, essaie de se défendre la mage.
    </p>

    <p><span class='naorem'></span> coupe les deux mains de la mage d'un sort rapidement placé et ordonne.</p>

    <p>
      - Mettez-la en prison, je veux savoir toutes les informations qu'elle a donné et à qui.
    </p>

    <p>Soyos demande alors timidement.</p>

    <p>
      - La mission est annulée ?<br />
      - Oui, la mission est annulée Soyos. Descend de ce cheval et fait la parler.
    </p>

    <p>Mullihane est emmenée pendant que les deux autres prophètes s'approchent de toi.</p>

  <div class="choix">
    <div class="ch" data-go="260">Parler avec eux</div>
  </div>
</div>
