<div class="num num-1-3-26">

  <div class="text chapter3">

    <h1>- 26 -</h1>

    <p>
      - Avec les mages ? s'étonne Arak. Tu veux dire Soyos, Mullihane et les autres ? Ces gars là ont colonisé par la guerre beaucoup de territoires barbares. Ils ont aussi fait la guerre à Soufflardent. Et c'est avec eux que tu veux partager le pouvoir ?<br />
      - Justement, l'interromps-tu. Il ne faut pas agir comme eux en prenant le pouvoir pour nous seulement. Si nous sommes là, ils ne pourront plus faire ce qu'ils veulent. Il s'agit aussi de ne pas les obliger à prendre les décisions que nous voulons. Nous devrons être objectif et savoir accepter de voir les choses différemment.
    </p>

    <p>Les 3 autres prophètes sont un peu perplexe. <span class="naorem"></span>, Méonie et toi êtes des adolescents et Arak n'a pas l'air d'avoir eu une éducation très poussée.</p>

    <p>
      - On va se faire marcher dessus, si on leur laisse une partie du pouvoir. Nous ne sommes pas doués en politique alors qu'eux sont à la tête de l'Académie depuis très longtemps, explique <span class="naorem"></span>.<br />
      - Je ne vois pas d'autre solution que de faire confiance. Mais je n'ai pas dit qu'il fallait garder Soyos. Des types comme Fandrean sont beaucoup plus fiables il me semble.
    </p>

    <p>Méonie prends alors la parole :</p>

    <p>- Cela veut dire qu'on va désigner, nous même quels mages seront à nos côtés aux commandes de l'Académie ? Si c'est le cas, alors personne ne va nous contredire.<br />
      - Je sais, c'est pourquoi je pense que tous les mages de l'Académie doivent pouvoir voter avec nous pour décider de cela, finis-tu. Il faut organiser une élection !</p>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="51">Préparer l'élection du conseil de magie</div>
  </div>

</div>
