<div class="num num-1-3-260 retour-259">

  <div class="text chapter3">

    <h1> 260 </h1>

    <p>
      - Comment tu as une cette information ? demande Méonie.<br />
      - Et bien… j'ai attaqué cette personne la nuit dernière. C'était, sans doute possible, Usaki. Mais je n'ai pu que lui arracher le bras. Il a réussi à s'enfuir. Par contre j'ai pu voir quelques uns des parchemins qu'il avait avec lui.<br />
      - Tu aurais pu nous en parler, fait <span class="naorem"></span>.<br />
      - Mon but... non, je dirai plutôt, la raison de mon existence c'est de détruire Usaki. Quand tu m'as donné l'information je me suis senti<span class="sf">e</span> obligé<span class="sf">e</span> de le faire.<br />
      - Oh là là, fait Méonie en soupirant mais en rigolant.<br />
      - Oh et il est en train de monter un groupe de résistance contre l'Académie. Il doit y avoir d'autres espions que Mullihane sur l'île.
    </p>

    <p>Les deux autres prophètes sont d'accord avec toi. Ils donnent des ordres à Esteban, le chef de la police magique et dans l'heure suivante l'école est déjà sans dessus dessous. Plusieurs personnes ont été reconnues coupables d'espionnage. Esteban ne prend aucun gant et fait exécuter tous ceux qui sont convaincus de ce crime. Après l'école c'est le reste de la ville qui est passé au peigne fin.</p>

    <p>Par l'intermédiaire de la police vous faites tuer ce jour là cent quatre vingt dix sept personnes.</p>

    <p>Ce n'est pas ce que tu voulais à la base. Mais ce sont toutes des personnes qui se sont alliés à Usaki. Elles devaient savoir ce qu'elles risquaient en s'opposant à vous.</p>

    <p>Après ce coup dur, les troupes d'Usaki ne vont pas vous s'en remettre de si tôt. Et tu pourras le traquer plus facilement.</p>

    <p class="middle">*</p>

    <p>Lors du repas du soir, Méonie t'apprend que Mullihane a préféré se donner la mort en se coupant la langue. Elle n'aura divulgué aucun de ses secrets. En allant te coucher tu trouves que les horreurs qui se sont produites aujourd'hui ne t'ont pas trop affectées. Et tu te demandes si le pouvoir de Soufflardent ne serait pas en train de corrompre ton esprit.</p>

    <p>Tu te couches sans trop y penser quand même. Mais tu es réveillé<span class='sf'>e</span> en pleine nuit par un gigantesque détonation. En ouvrant les yeux tu vois un assassin avec un couteau penché sur toi.</p>

    <p>La détonation l'a visiblement surpris et cela te laisse la seconde qu'il te fallait pour le geler d'un revers de la main.</p>

  <div class="choix">
    <div class="ch" data-go="317">Continuer</div>
  </div>
</div>
