<div class="num num-1-3-261 retour-220">

  <div class="text chapter3">

    <h1> 261 </h1>

    <p>
      Sans entrer dans la paranoïa tu surveilles quand même les quatre mages supérieurs. Ils ont toujours obéit à vos ordres jusqu'à maintenant mais c'était peut-être pour endormir vos soupçons.
    </p>

    <p>Tu passes la matinée à surveiller Soyos. Il a déjà trahi Ymir et Zaïra par le passé, tu ne lui fais pas confiance. Mais ta surveillance ne donne rien. Tu le vois même faire du zèle. Il sermonne un jeune mage qui lui dit qu'il va abandonner l'école car il ne veut pas travailler pour les prophètes.</p>

    <p>
      - Idiot ! lui répond Soyos. La magie va au-delà de ces histoires de pouvoirs.<br />
      - Mais je ne veux pas qu'un jour on m'ordonne de faire des choses horribles avec mes pouvoirs… La police magique est cruelle, fait l'élève dépité.<br />
      - L'Académie est le seul endroit autorisé pour apprendre la magie. Ce n'est pas pour rien qu'on a dicté cette règle. La plupart des mages renégats se servent de leurs élèves et lancent des sorts de destruction et de malheur. Apprendre la magie c'est un art, et si tu es passionné par ton art, et je sais que tu l'es, tu ne dois pas abandonner.
    </p>

    <p>Soyos s'arrête un peu ému.</p>

    <p>
      - La magie c'est la plus belle chose que j'ai apprise dans ma vie. Je suis fier de ce que j'en ai fait. Je t'en pris prends le temps d'y réfléchir et reviens me voir si vraiment tu désires t'en aller.
    </p>

    <p>L'élève lui jure d'y penser et s'éloigne. Du haut de la tour, où tu n'as pas perdu une miette de ce qu'il s'est passé, tu te dis que même Soyos peut être touchant parfois. L'après-midi tu décides de changer de cible et de surveiller Andaelor, le mage supérieur de la nature.</p>

    <p>Le mage grommelle une bonne partie de l'après-midi, se plaignant d'être secondé par des incapables. Il ne supporte pas Esteban, le chef de la police magique, nommé par <span class="naorem"></span>. Cela vous fait un point en commun car, de ce que tu as pu voir, cet Esteban est complètement pourri, cruel et fourbe. Il prend un malin plaisir à terroriser la population.</p>

    <p>Andaelor, a perdu beaucoup de mages dans l'attaque des prophètes sur l'Académie. Ils sont soit morts, soit partis de l'Académie. Le mage supérieur a cependant l'air de travailler avec ardeur aux tâches que vous lui donner. Il refait même le travail mal fait de ses nouveaux subalternes.</p>

    <p>Tu le surprends à discuter avec Mullihane.</p>

    <p>
      - J'ai encore du travail mais on se rejoint au dîner, fait-il.<br />
      - Tu ne devrais pas travailler autant, les prophètes ne t'ont-ils pas donné des mages pour faire ce travail ?<br />
      - Des bons à rien, oui. Si je ne revois pas ces comptes, ou si je ne relis pas cette nouvelle loi sur la propriété, c'est la ruine assurée pour le pays.<br />
      - Bien, dans ce cas je te laisse, fait la mage.
    </p>

    <p>La journée ne t'a pas appris qui était le traitre mais tu commences à te dire que l'ancien conseil de magie était plus sérieux que tu ne l'aurais cru.</p>


  <div class="choix">
    <div class="ch" data-go="262">Continuer</div>
  </div>
</div>
