<div class="num num-1-3-262 retour-261 265">

  <div class="text chapter3">

    <h1> 262 </h1>

    <p>
      Le soir, la nuit est chaude. Tu laisses la fenêtre ouverte pour t'endormir. Tu penses à plein de choses mais tu arrives quand même à te coucher facilement.
    </p>

    <p>Un bruit sourd, comme une détonation au loin, te réveilles au milieu de la nuit. Un homme masqué est penché au dessus de ton lit, un couteau à la main. Lui aussi, surpris par le bruit a détourné la tête. Sans prendre plus de temps tu le congèles en lui touchant la main.</p>

    <p>Deux autres personnes, masquées elles aussi, se tiennent debout dans ta chambre et se jettent sur toi. Mais tes pouvoirs de prophète ne leur laisse aucune chance. Ils restent figés dans une position burlesque, gelés comme leur compère. Cela n'a pas l'air d'être des mages.</p>

    <p>Tu passes la tête rapidement par la fenêtre et observes une lueur de flammes dans le quartier du port. Certainement l'explosion que tu as entendue. Des bruits de pas attirent ton attention sept étage en dessous de toi, dans les jardins. Des dizaines de personnes tentent de s'infiltrer dans la tour.</p>

    <p>Puis une autre explosion retentit vers l'entrée de la ville. L'Académie est attaquée.</p>

    <p>Tu sens alors quelqu'un passer la tête par la porte de ta chambre, restée entrouverte. <span class="naorem"></span> apparait les mains pleines de sang. Quand il voit ta nouvelle sculpture de glace il déclare :</p>

    <p>
      - Des assassins, Méonie semble ok, elle aussi. Vient on va avoir du boulot je crois.
    </p>


  <div class="choix">
    <div class="ch" data-go="263">Le suivre</div>
  </div>
</div>
