<div class="num num-1-3-263 retour-262 220">

  <div class="text chapter3">

    <h1> 263 </h1>

    <p class="méonie-vivante">
      - Méonie, pars devant, le quartier du port est en pleine révolte, fait <span class="naorem"></span>. Je sais que c'est ton quartier, vas-y avec la police magique.<br />
      - Bien, mais je sens qu'il y a plein de gens qui s'infiltrent dans la tour, ça va aller ?<br />
      - Ne t'en fais pas pour nous, la rassures-tu.<br /><br />
      Alors la prophète s'envole par la fenêtre pour aller rêgler le problème du port.
    </p>
    <p class="méonie-mort">
      - Le port est en flammes mais on doit d'abord sécuriser la tour, dit <span class="naorem"></span>.<br />
      - Entendu.
    </p>

    <p><span class="naorem"></span> saute par dessus la rambarde des escaliers pour arriver tout en bas plus vite. Toi tu passes par les escaliers, non pas que tu souhaites prendre ton temps mais tu veux être sûr de prévenir tout le monde de ce qu'il se passe. </p>

    <p>Au sixième étage, tu notes déjà que les portes des mages supérieures sont toutes ouvertes. Et tu te dis que c'est tant mieux, si c'est quatre là sont déjà réveillés cela va vous permettre d'avoir de l'aide. Mais tu te figes quand tu vois quelques gouttes de sang sur la poignée de la porte d'Andaelor.</p>

    <p>Tu ouvres complètement la pièce pour t'apercevoir que le mage baigne dans une mare de sang. Les assassins sont déjà passés par là. Soyos et Pasha ont subi le même sort. Ce dernier a toutefois réussi à terrasser l'un de ses agresseurs. Un homme masqué, complètement brûlé, gît à côté du mage supérieur.</p>

    <p class="mullihane-vivante">Mullihane reste par contre introuvable.</p>

    <p>Tu es d'accord que les prophètes ne sont pas des saints, mais fallait-il vraiment faire ce genre de massacre ? Qui que soient les personnes qui ont commandité ce crime, seraient-elles meilleures que vous a diriger l'Académie ?</p>

    <p>Tu descends les escaliers quatre à quatre en prenant toujours soin de vérifier que chaque étage n'est plus rempli d'assassin, ou que personne n'ait besoin d'aide.</p>

  <div class="choix">
    <div class="ch" data-go="318">Le suivre</div>
    <!-- Kannan peut-être morte -->
  </div>
</div>
