<div class="num num-1-3-264 retour-223">

  <div class="text chapter3">

    <h1> 264 </h1>

    <p>Usaki ne semble pas ici. Tu décides de suivre l'ordre de <span class="naorem"></span>, tu déclenches une série de missiles magiques qui suivent à la trace les mouvements des mages de la résistance. Ils ont beaux essayer de s'enfuir ils ne leur échappent pas. Certains arrivent à se protéger avec des barrières magiques, mais cela te laisse le temps de les endormir avec d'autres sorts.</p>

    <p>Le combat est trop déséquilibré, les mages de la résistance tombent comme des mouches, celui qui est inconscient à tes pieds ne doit pas avoir plus de quinze ans...</p>

    <p>Tout à coup il se relève et te canalise son énergie dans ses bras pour te ceinturer.</p>

    <p>
      - Alfrid ! Vas-y lance le sort ! crie-t-il à un de ses amis.
    </p>

    <p>Alfrid, perché sur le toit d'une maison, et que tu n'avais pas vu, incante alors un sort. Il ne prend pas de magie de Soufflardent, c'est un sort de magie de la lune. Une masse noire sort de ces mains pour tenter de vous gober, toi et le jeune mage.</p>

    <p>Paniqué<span class="sf">e</span>, et te disant qu'il vaut mieux éviter ce sort tu déchires les deux bras du jeune homme et finit ton mouvement par une roulade. D'un regard en arrière tu vois le mage se faire manger et disparaitre. La masse noire se désagrège mais le corps du mage ne réapparait pas.</p>

    <p>
      - Quel sort terrible ! comprends-tu.
    </p>

    <p>Tu te dis qu'il vaut mieux que tu aides Méonie et <span class="naorem"></span>, ils ne vont pas être assez sur leur garde.</p>

    <p>La petite prophète s'est abritée derrière une de ses barrières magiques, tu n'en as jamais vu de plus solide. Elle endort les mages les uns après les autres en leur tirant des pétales de rose au visage. Elle arrête les sorts de boule de feu comme si c'était une petite pluie fine, mais quand un des mages lance ce gros blob noir sur elle tu te précipites.</p>

    <p>
      - Méonie ! Esquive ce truc ! lui ordonnes-tu.<br />
      - Quoi ? Heu... ok.
    </p>

    <p>Le blob s'écrase contre un mur et Méonie comprends la dangerosité du sort.</p>

    <p>Une fois que les prophètes prirent conscience du danger de ce sort, le reste du combat fut rapidement terminé. Avec l'aide des mages supérieurs, <span class="naorem"></span> eut peu de mal à se débarrasser des 10 mages qui semblaient pourtant costauds.</p>

    <p>
      - Quelle misère ! fait le prophète. Je m'attendais à plus d'actions.<br />
      - Soyos a l'air en vie, mais en sale état, remarques-tu.<br />
      - Je vais le soigner, déclare Méonie.
    </p>

    <p>Le village est dévasté, la résistance a subi une grosse défaite. Vous rentrez au village sans avoir trouvé Usaki mais en vous disant qu'ils ne vont pas se remontrer de si tôt.</p>

  <div class="choix">
    <div class="ch" data-go="262">Continuer</div>
  </div>
</div>
