<div class="num num-1-3-265 retour-264">

  <div class="text chapter3">

    <h1> 265 </h1>

    <p>D'un élan vif tu te projettes dans la direction d'Andaelor, tu lui envoies une bourrasque de vent à bout portant qui le fait traverser quatre maisons. Tout le monde est éberlué. Mais les mages en profitent. Plusieurs mages lancent des artefacts dans la direction de Méonie et <span class="naorem"></span>. Au contact du sol, cela déclenche une fumée noire qui masque tout.</p>

    <p>Le champ de bataille devient très dur à visualiser, les mages de la résistance utilisent tous soudain la magie de la nuit. Ce qui les rends très difficile à percevoir pour vous autre les prophètes. Sortant de la fumée, Pasha, le mage supérieur te lance une gerbe de flammes.</p>

    <p>
      - Traitre<span class="sf">sse</span> ! hurle-t-il. Tu nous as fait tombé dans un piège !
    </p>

    <p>Les flammes du mages t'ont surpris<span class="sf">e</span> mais tu as pu te protéger. Néanmoins, tu sais qu'il possède des pouvoirs très puissants. Il ne faut pas que tu sois arrogant<span class="sf">e</span>. Tu évites son nouveau sort et lui lance un sort de pic de glace qu'il fait fondre avant qu'il ne l'atteigne.</p>

    <p>Votre combat est épique et le mage supérieur du feu semble presqu'à ton niveau. Son expérience du combat comble l'écart de vos pouvoirs. Mais soudain, le voilà qu'il trébuche. Sa main droite se retrouve plaquée dans son dos et Mullihane apparait lui faisant un clé de bras en sortant de son sort d'invisibilité.</p>

    <p>
      - Maintenant <span class="tonnom"></span> ! Finis le ! fait Mullihane.
    </p>

    <p>Tu comprends alors que la mage supérieure du vent était du côté de la résistance elle aussi.</p>

    <p>
      - Soyez maudits, siffle Pasha entre ses dents.
    </p>

    <p>Ton sort de "Foudre" part de la paume de tes mains pour percuter le mage et le réduire en cendres. Mullihane s'écartant au dernier moment.</p>

    <p>
      - Tu as voulu me griller aussi ? te fait-elle.<br />
      - Pourquoi personne ne m'a dit que tu étais avec nous ?<br />
      - J'ignorai également qu'on avait un prophète dans nos rang, te retorque la mage.
    </p>

  <div class="choix">
    <div class="ch" data-go="266">Continuer</div>
  </div>
</div>
