<div class="num num-1-3-266 retour-265">

  <div class="text chapter3">

    <h1> 266 </h1>

    <p>Puis un souffle de vent balaie le champ de bataille, écartant toute la fumée.</p>

    <p>Tu as mis hors combat Andaelor et Pasha. Soyos est toujours à terre et désormais Mullihane et toi même êtes du côté de la résistance. De manière ouverte.</p>

    <p>Méonie et <span class="naorem"></span> ont mis à terre une vingtaine de mages mais quand ils voient que tu es désormais contre eux leur réaction ne se fait pas attendre.</p>

    <p>
      - Méonie ! On s'enfuit ! lui crie <span class="naorem"></span>. <span class="tonnom"></span> nous a trahi.
    </p>

    <p>Et les deux prophètes disparaissent, certainement repartis pour leur chambre à la tour de l'Académie.</p>

    <p>Tout le monde se congratule. La résistance a complètement écrasé les anciens mages supérieurs… en fait surtout grâce à toi.</p>

    <p>
      - Merci, vient te dire un des mages qui semble être le chef de cette section de la résistance. Je m'appelle Jon et je suis ravi d'avoir un prophète à nos côtés.<br />
      - Un prophète et un mage supérieur, le corrige Mullihane.<br />
      - Tout à fait, fait Jon un peu gêné.
    </p>

    <p class="av-sportif">
      Alors que beaucoup de mages viennent te poser des questions tu entends soudain une voix familière.<br /><br />
      - <span class="tonnom"></span> ? C'est bien toi ? Ha ha ! Je suis si content<span class="sg">e</span> de te voir.<br />
      - Levy ? fais-tu surpris<span class="sf">e</span>. Qu'est-ce que tu fais là ?<br /><br />

      <span class="sf">Le</span><span class="sg">La</span> mage t'explique qu'après avoir récupéré de ses blessures, <span class="sf">il</span><span class="sg">elle</span> était revenu à l'Académie, pour s'apercevoir de l'attaque des prophètes. Tout de suite <span class="sf">il</span><span class="sg">elle</span> a voulu rejoindre la résistance. <span class="sf">Il</span><span class="sg">Elle</span> est sous les ordres du général Allister.
    </p>

    <p>Tout le monde se met à soigner les blessés et Soyos est mis en prison. Malheureusement tu y es allé<span class="sf">e</span> un peu fort avec Andaelor, qui n'a pas survécu à ses blessures.</p>

    <p>
      - Nous attaquerons l'Académie ce soir, fait Jon. Nous attendrons notre général, Allister et nous reprendrons ce qui appartient au humains !<br />
      - Allister sera là, demandes-tu à Mullihane.<br />
      - C'est le général de la résistance, encore heureux qu'il participe à la grande bataille.
    </p>

    <p>Tu as hâte de le voir.</p>

  <div class="choix">
    <div class="ch" data-go="319">Continuer</div>
  </div>
</div>
