<div class="num num-1-3-267 retour-224">

  <div class="text chapter3">

    <h1> 267 </h1>

    <p>Tu aimes bien t'élancer dans les airs en pleines nuit. L'air est plus frais mais avec la saison chaude c'est très agréable. Et l'espace d'un instant tu oublies tous les soucis que tu as.</p>

    <p>Cette petite escapade ne fait pas exception et tu apprécies chaque moment. Mais tu es confronté<span class="sf">e</span> à la réalité dès que tu survoles le village où se trouve Usaki.</p>

    <p>Des dragons flottent dans les airs, alors tu restes totalement invisible. Des centaines de mages, peut-être même des milliers sont à cheval. Un homme semble leur faire un discours. Aucun doute, il s'agit de celui que tu as vu tantôt : Usaki avec son sort de masque.</p>

    <p>
      - Mes braves, nos espions nous ouvriront les portes de la ville, harangue Usaki. Notre deuxième armée va soulever la population de l'île pour former la plus grande révolte de l'humanité. Si nous, les hommes, ne faisons pas ça maintenant, alors c'est que nous acceptons notre servitude. Acceptez-vous d'être les pions de monstres créés par Soufflardent ?<br />
      - Non ! Non ! Vive Allister !! crie la foule en délire.
    </p>

    <p>Quelle ironie ! Usaki motive ses troupes en les faisant haïr les prophètes au nom de l'humanité, … alors qu'il est un noctule. Soufflardent avait raison, cette créature doit être stoppée.</p>

    <p>Mais combattre maintenant est extrêmement risqué, ce serait même du suicide. Tu ne peux pas affronter autant de monde.</p>

    <p>Alors tu les suis, invisible, à l'affut du moment opportun. L'Académie se rapproche. Les troupes vont commencer leur traversée du pont quand une explosion retentit dans le quartier du port.</p>

    <p>
      - Nos alliés commencent la bataille, s'écrie Usaki. Ne les laissons pas seuls, chargez !
    </p>

    <p>Et l'armée s'engage au pas de course sur le grand pont.</p>

  <div class="choix">
    <div class="ch" data-go="323">Continuer</div>
  </div>
</div>
