<div class="num num-1-3-268 retour-226">

  <div class="text chapter3">

    <h1> 268 </h1>

    <p>Vous entrez dans l'école en trombe. Plusieurs serviteurs ne comprennent même pas qui vous êtes et vous laisse passez avec un regard d'incompréhension.</p>

    <p>En montant le premier étage, un mage armé vous arrête pour vous demander qui vous êtes mais Espéride le fait basculer par dessus la rembarde l'escalier et il s'écroule en bas avec fracas. </p>

    <p>
      - INTRUS ! crie-t-il alors qu'il se relève difficilement un étage en dessous.
    </p>

    <p>Tout à coup Espéride se fige, le corps d'un homme masqué complètement brûlé est jeté devant vous.</p>

    <p>
      - Espéride Mazénian ! vous dit Pasha, le mage supérieur du feu. Vous nous avez envoyé vos assassins. Et bien sachez qu'on les a bien reçu.
    </p>

    <p>Vos espions avaient pour mission de tuer les mages supérieurs, ils ont échoué visiblement.</p>

    <p>
      - On n'a pas de temps à perdre avec toi, fait la mage en envoyant un coup de poing étrange sur le mage.
    </p>

    <p>Son bras se déforme et s'allonge pour venir frapper Pasha par derrière. Mais ce dernier a senti le coup venir et arrête le poing avec sa main.</p>

    <p>
      - Je n'ai pas eu le temps de vous le dire quand vous avez quitté l'Académie ma chère, mais vous êtes virée ! fait le mage en enflammant sa main et causant une vive douleur à votre général.
    </p>

  <div class="choix">
    <div class="ch" data-go="269">S'occuper de Pasha toi même</div>
    <div class="ch" data-go="326">Laisser Espéride s'en charger</div>
  </div>
</div>
