<div class="num num-1-3-269 retour-268">

  <div class="text chapter3">

    <h1> 269 </h1>

    <p>
      Tu concentres ton énergie et lance un sort de boule de feu au visage du mage supérieur. Ce dernier l'absorbe comme si c'était un bonbon.
    </p>

    <p>
      - Tu oses lancé un sort du feu sur moi ? fait Pasha hilare. Quelle arrogance !<br />
      - Espéride ! Laissez-moi ce type, allez vous occuper des prophètes !
    </p>

    <p>Espéride n'a pas envie de te laisser un tel adversaire mais elle sait que le temps presse, elle s'élance dans les escaliers avec le reste de ton groupe dans son pas.</p>

    <p>
      - Je ne vais pas vous laisser passer ! fait le mage en provoquant une explosion sur le chemin d'Espéride.
    </p>

    <p>Mais l'explosion est contenue et s'éparpillent en petites étincelles pendant que tout le monde passe à l'étage supérieur. Seul Mac Lumy est resté là après son incantation.</p>

    <p>
      - Moi aussi je suis un mage du feu, fait-il avec classe. <span class="tonnom"></span>, on se le fait à deux ?<br />
      - Avec plaisir, lui dis-tu.<br />
      - Qu'est-ce que les jeunes d'aujourd'hui peuvent être arrogants, se plaint Pasha.
    </p>


  <div class="choix">
    <div class="ch" data-go="270">Tenter un sort d'eau</div>
    <div class="ch" data-go="272">Tenter un sort de terre</div>
    <div class="ch" data-go="271">Tenter un sort de vent</div>
  </div>
</div>
