<div class="num num-1-3-27">

  <div class="text chapter3">

    <h1>- 27 -</h1>

    <p>
      - Avec les sans-magies ? s'étonne Arak. C'est hors de question. Ces types ne comprennent rien. Je le sais j'étais un des leurs avant. Certains ne savent ni lire ni écrire. Et comment faire pour les faire choisir des représentants ? Il y a des milliers de villages dans les territoires de l'Académie.<br />
      - C'est vrai que cela pose un certains nombre de questions mais nous sommes les héritiers du pouvoir de Soufflardent, dis-tu confiant<span class="sf">e</span>. Je suis certain<span class="sf">e</span> que nous trouverons une manière de faire.
    </p>

    <p>Les 3 autres prophètes sont un peu perplexe. <span class="naorem"></span>, Méonie et toi êtes des adolescents et Arak n'a pas l'air d'avoir eu une éducation très poussée.</p>

    <p>
      - On pourrait créer un artefact qui permettrait de choisir un représentant rien qu'en y pensant, ajoute Méonie.<br />
      - Désolé mais ça devient n'importe quoi, fait <span class="naorem"></span>. Je ne peux accepter ça. On ne peut pas laisser n'importe qui partager notre pouvoir. On doit au minimum choisir parmi les plus éduqués.<br />
      - Ouais, ajoute Arak. Hors de question de partager le pouvoir avec des sans-magies pour ma part.
    </p>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="26">Dans ce cas nous allons partager le pouvoir avec les mages</div>
    <div class="ch" data-go="29">Si vous ne voulez pas de ça : que proposez-vous ?</div>
  </div>

</div>
