<div class="num num-1-3-270 retour-269">

  <div class="text chapter3">

    <h1> 270 </h1>

    <p>
      Votre combat dans les escaliers est épique. Tu lances des trombes d'eau sous haute pression sur le mage supérieur qui esquive tout. De son côté il vous bombarde d'explosions et de flammes que Mac Lumy dévie ou réduit en simples étincelles.
    </p>

    <p>L'escalier se fragilise, l'eau dégouline de partout et menace de te faire glisser à plusieurs reprises. Les sorts de feu de Pasha arrachent à plusieurs endroits des morceaux de pierres.</p>

    <p>Des gardes de la police magique arrivent dans votre dos.</p>

    <p>
      - Maître Pasha ! Nous allons vous aider !<br />
      - Ne me gêner pas ! Je n'ai pas besoin de vous pour me débarrasser de ces petits mages de pacotille.
    </p>

    <p>Une explosion de plus et l'escalier craque complètement. Avant même de penser à autre chose, tu lances alors un gigantesque sort de glace qui retient la volée de marches sur laquelle vous vous battez. Désormais le champ de bataille est encore plus mémorable. </p>

    <p>
      - Pas mal, te souris Mac Lumy.<br />
      - Oui mais n'arrive pas à prendre l'avantage.
    </p>

    <p>Pasha semble perdre patience, et exécute alors un sort directement sur le plafond. L'explosion fait s'écrouler l'escalier du dessus sur vous avant même que Mac Lumy ait eu le temps de le contrer. Tu fermes les yeux en pensant que tu vas finir écraser mais quand tu les rouvres les blocs sont en lévitation au dessus de toi. Tu te retournes et voient Ymir en train de faire léviter les blocs pendant que Zaïra s'est occupée des gardes.</p>

    <p>
      - Vous préférez vous battre contre des enfants plutôt que contre les prophètes qui sont le problème majeur ici ? demande rhétoriquement Ymir.<br />
      - Cela faisait longtemps… je suppose que vous n'avez pas oublié ? fait Pasha aux deux mages légendaires.<br />
      - Non, répond Zaïra, mais nous gouttons peu à la vengeance. Dis-toi Pasha que tu es sur notre chemin.
    </p>

    <p>Pasha bouillonne de colère, il s'enflamme entièrement et concentre une telle énergie qu'il pourrait faire exploser la tour. Les deux mages légendaires s'approche très vite de lui et d'un simple geste le font tomber à terre inconscient.</p>

    <p>
      - Que s'est-il passé ? demande Mac Lumy.<br />
      - Ces artefacts ont gardé endormi Soufflardent pendant des dizaines d'années alors sur un humain ça calme ! fait Zaïra en montrant l'objet qu'elle a collé sur Pasha.<br />
      - Allons-y les autres attendent.
    </p>


  <div class="choix">
    <div class="ch" data-go="331">Continuer</div>
  </div>
</div>
