<div class="num num-1-3-271 retour-269">

  <div class="text chapter3">

    <h1> 271 </h1>

    <p>
      Alors que tout était prêt pour un combat épique tu calmes les ardeurs de Pasha en lui envoyant une bourrasque de vent telle, qu'elle le fait passer par dessus la rembarde. Le mage supérieur tombe en vous laissant passer beaucoup plus facilement que prévu.
    </p>

    <p>
      - Heu… bien joué, dit Mac Lumy un peu déçu. Je m'attendais tellement à un gros combat.<br />
      - Mieux vaut garder ses forces pour les prophètes gros malin, lui réponds-tu. Tu peux exploser les escaliers derrière nous ? Cela nous évitera d'être poursuivi trop facilement.<br />
      - Mais les mages les plus puissants connaissent des sorts de lévitation, fait remarquer ton ami.<br />
      - On évitera tous les mages de faible niveau et les non-mages comme cela quand même.
    </p>

    <p>Mac t'accorde ce point et détruit les escaliers derrière vous. Vous continuez votre ascension en espérant rattraper votre petit groupe. Pasha n'est certainement pas mort mais vous aurez un peu d'avance.</p>

  <div class="choix">
    <div class="ch" data-go="340">Continuer</div>
  </div>
</div>
