<div class="num num-1-3-272 retour-269">

  <div class="text chapter3">

    <h1> 272 </h1>

    <p>Tu essaies de contraindre Pasha avec des sorts de racines ou des ronces. Mais elles brûlent directement à son contact. De son côté il vous bombarde d'explosions et de flammes que Mac Lumy dévie ou réduit en simples étincelles.
    </p>

    <p>L'escalier se fragilise, les flammes commencent à embraser les tapisseries. Les sorts de feu de Pasha arrachent à plusieurs endroits des morceaux de pierres.</p>

    <p>Des gardes de la police magique arrivent dans votre dos.</p>

    <p>
      - Maître Pasha ! Nous allons vous aider !<br />
      - Ne me gênez pas ! Je n'ai pas besoin de vous pour me débarrasser de ces petits mages de pacotille.
    </p>

    <p>Une explosion de plus et l'escalier craque complètement. Tu te tiens aux blocs qui retombent lourdement à l'étage d'en dessous. Mac Lumy se relève aussitôt mais de ton côté, ton pied est bloqué son une pierre. Pasha a visiblement réussi a lancé son sort de chute contrôlée plus rapidement que toi et s'en est sorti sans mal.</p>

    <p>
      - Désolé les enfants ! Je vais devoir profiter de ce pied bloqué, fait Pasha en lançant un sort d'"explosion majeure".
    </p>

    <p>Mac Lumy va essayer de s'interposer et de dévier le sort comme il le peut. Mais tu sens que le mage supérieur ne rigole plus. Ce sort est extrêmement dangereux. </p>

    <p>Tu ne veux pas perdre ton ami et avec une énergie que tu ne te soupçonnais pas d'avoir tu te relèves d'un coup en faisant valser la pierre qui te retenais prisonni<span class="sf">ère</span><span class="sg">er</span>. Tu rejoins Mac Lumy et, côte-à-côte, vous échangez un regard, concentrez ensemble votre énergie et quand le sort de Pasha vous atteint vous le renvoyez sur son lanceur.</p>

    <p>
      - Retour à l'envoyeur ! faites-vous en cœur.
    </p>

    <p>Pasha, surpris, veut esquiver mais trébuche sur une pierre. Il ne peut que faire des yeux ronds de terreur quand son propre sort vient le pulvériser. L'explosion provoque un trou énorme dans le mur extérieur de la tour mais elle ne semble pas vouloir s'effondrer pour autant.</p>

    <p>
      - Bravo, fait une voix derrière vous en applaudissant. Battre un mage supérieur n'est pas à la portée du premier mage venu.<br />
      - Général Allister, fait Mac Lumy en se tournant vers lui.<br />
      - Alli...Usaki, fais-tu entre tes dents.
    </p>


  <div class="choix">
    <div class="ch" data-go="350">Continuer</div>
  </div>
</div>
