<div class="num num-1-3-273 retour-228">

  <div class="text chapter3">

    <h1> 273 </h1>

    <p>
      - Très bien, allez-vous en tout de suite, fait Méonie. Je me charge de régler ce qu'il se passe ici.<br />
      - On va pas te laisser avec tout ça sur les bras ! insistes-tu.<br />
      - Lasseni, avec tes pouvoirs tu peux partir d'ici avec Fandrean en un instant, redit Méonie. Ce qu'il se passe ici n'est pas ton problème. S'il te plait.
    </p>

    <p>Lasseni décoche un regard en coin à son frère et répond :</p>

    <p>
      - Au contraire, l'Académie a toujours été ma maison. S'il y a un endroit où je veux vivre c'est ici. Je ne vais pas partir maintenant.<br />
      - Je suis d'accord, ajoute Fandrean. J'ai moi aussi besoin de me dégourdir les jambes de toute façon.
    </p>

    <p>Méonie allait dire quelque chose mais elle sourit et accepte votre aide finalement.</p>

    <p>Vous sortez prudemment de la chambre de Méonie. Le septième étage semble bien calme mais vous entendez des bruits de sorts qui fusent à l'étage d'en dessous. Devant la chambre de <span class="naorem"></span>, quatre assassins masqués sont laissés pour mort dans une flaque de sang. Le prophète n'est pas là mais des traces de pas ensanglantées montrent que quelqu'un est descendu il y a peu de temps.</p>

    <p>
      - Nous devons absolument faire attention à <span class="naorem"></span>, explique Fandrean.<br />
      - Lasseni et moi on s'occupera de lui, fait calmement Méonie en regardant ton amie.<br />
      - Tu vas l'affronter … ? demandes-tu.<br />
      - Je veux juste le mettre hors d'état de nuire. C'est un danger pour l'Académie, la police magique qu'il a mis en place est cruelle et dangereuse. Je veux juste aider les gens, moi.
    </p>

    <p>La petite prophétesse semble plus sûre d'elle même, elle veut prendre les choses en main. Les sorts semblent continuer de danser à l'étage du dessous. C'est normalement l'étage où se reposent Mullihane, Pasha, Soyos et Andaelor.</p>

    <p>Vous vous mettez en cercle prêt à l'action et Lasseni d'un geste de la main découpe le sol autour de vous. Vous tombez à l'étage du dessous en plein milieu d'un bataille où les éclairs s'échangent.</p>

    <p>Méonie lance sa protection autour de vous pour dévier tous les projectiles avec facilité. Fandrean se met aussi dans le tempo et commence à s'occuper de quelques mages à sa gauche. Tu ne sais pas qui est qui mais dans le feu de l'action tu lances aussi tes sorts, excité<span class="sf">e</span>.</p>


  <div class="choix">
    <div class="ch" data-go="274">Continuer</div>
  </div>
</div>
