<div class="num num-1-3-274 retour-273">

  <div class="text chapter3">

    <h1> 274 </h1>

    <p>
      Le combat ne dura pas très longtemps après votre arrivée. Enfin la fumée se dissipa et les éclairs firent silence. Des mages inconnus sont au sol d'un côté. Des serviteurs de l'école sont étendus ça et là. Enfin, Andaelor est adossé à un mort, grièvement blessé. Soyos est étendu dans sa chambre, gisant dans une mare de sang. IL a été assassiné par le même genre d'individus qui vous ont attaqué. Pasha et Mullihane ne sont visibles nul par.
    </p>

    <p>
      - Andaelor ! Que se passe-t-il ? fait Méonie en soignant le mage supérieur.<br />
      - Des assassins ont brisé ma porte et tenté de me tuer. Après ça ces mages sont arrivés d'on ne sait où.<br />
      - Vous avez vu <span class="naorem"></span> ? fais-tu innocemment.<br />
      - Je l'ai vu passé très vite. Il a sauté dans le vide pour arriver en bas de la tour sans même faire attention à moi. Désolé de le dire mais ce petit sagouin m'a abandonné, qu'il ne vienne plus me faire la morale.
    </p>

    <p>Andaelor a toujours été le membre du conseil de magie à dire ce qu'il pense. Même les prophètes ne lui ont pas fait perdre cette habitude.</p>

    <p>
      - Mais vous savez qui attaque ? demande Fandrean.<br />
      - Ha, Fandrean ? Méonie vous a libéré. Bah, tout cela ressemble furieusement à l'assaut final des rebelles contre les prophètes.
    </p>

    <p>Soudain la tour est secouée par une explosion. Puis vous sentez toute la structure trembler mais la tour reste debout.</p>

    <p>
      - On discutera plus tard, fait Lasseni. Descendons !
    </p>

    <p>Alors que tu suis ce petit groupe, tu as tout à coup une sorte de prémonition. Ou une intuition. Quelque chose te dit que tu dois sauter par la fenêtre du sixième étage tout de suite. Non pas que tu cours un danger. Mais plutôt tu sais que ta destinée est derrière cette ouverture.</p>

  <div class="choix">
    <div class="ch" data-go="275">Suivre le groupe</div>
    <div class="ch" data-go="278">Sauter par la fenêtre</div>
  </div>
</div>
