<div class="num num-1-3-275 retour-274">

  <div class="text chapter3">

    <h1> 275 </h1>

    <p>
      Le cinquième étage est presque vide. Certains serviteurs, cachés dans les chambres risque un oeil dehors et referme les portes aussitôt en vous voyant passer. Plusieurs morts jonchent le sol. Vous entendez des cris au quatrième étage et des bruits de combats.
    </p>

    <p>Méonie toujours en tête, pour vous protéger, vous déboulez dans ce qui était autrefois le réfectoire des mages les plus puissants de l'Académie. Transformé depuis en réfectoire pour la police magique, des lumières brillent comme jamais au milieu de la pièce. Puis, faisant fi des énergies magiques qui s'entrechoquent, vous arrivez à distinguer 3 silhouettes encore debout au milieu de ce chaos. Les tables sont en miettes et des gardes semblent inconscients ou mort un peu partout dans le réfectoire.</p>

    <p><span class="naorem"></span> est debout d'un côté de la pièce, riant aux éclats. De l'autre côté Ymir et Zaïra lui font face. Les deux mages légendaires ont tenu bon face à un prophète.</p>

    <p>
      - <span class="naorem"></span>! lui crie Méonie. Arrête ! C'est fini !<br />
      - Qu'est-ce qui est fini ? dit le prophète. Une fois que j'aurai tué ces deux là c'est moi qu'on appellera "la légende".<br />
      - <span class="naorem"></span>, je suis là aussi, et je vais te faire payer tout ce que tu nous as fait à moi et mon frère, lui hurle Lasseni.
    </p>

    <p><span class="naorem"></span> voit alors Fandrean, et comprends alors que Méonie l'a libéré. Il semble déçu, et son rire s'éteind. Ymir, le voyant déconcentré, s'élance vers le prophète un artefact à la main. Mais <span class="naorem"></span> réagit avec fureur. Il hurle et fait exploser son énergie tout autour de lui. Ymir est envoyé valdingué contre le mur, Zaïra le retenant d'extrême justesse, pour ne pas qu'il se fasse mal.</p>

    <p>
      - Méonie ! Tu étais la seule en qui j'avais confiance ! s'exclame le prophète. Si toi aussi tu me fais ça...je...je
    </p>

    <p>Sans finir sa phrase, le prophète dégage une vague d'énergie faisant s'effriter la tour. Les briques commencent à se briser. Tout s'envole. Le plafond se désagrège et tu n'arrives à rester debout uniquement grâce à la protection de Méonie. Andaelor arrive à agripper avec des racines les gardes inconscients qui commencent aussi à s'envoler.</p>

    <p>
      - Comment l'arrêter ? demande Fandrean.<br />
      - Je pense que je peux le détruire, fait Lasseni.<br />
      - Non… laisse moi faire, lui réplique Méonie. Mais occupes-toi de protéger tout le monde.
    </p>

  <div class="choix">
    <div class="ch av-courageux" data-go="276">Continuer</div>
    <div class="ch av-pas-courageux" data-go="277">Continuer</div>
  </div>
</div>
