<div class="num num-1-3-276 retour-275">

  <div class="text chapter3">

    <h1> 276 </h1>

    <p>
      Lasseni reprend le sort de Méonie pour vous gardez dans une bulle protectrice pendant que les éléments semblent désormais se déchainer. Le haut de la tour s'est envolé dans les airs. Le quatrième étage est le sommet. La pluie et les éclairs frappent avec violence l'île. Les vents sont déchainés. Ymir et Zaïra semblent à bout de force et n'arrivent à se retenir qu'avec leurs dernière forces.
    </p>

    <p>Méonie s'approche sans mal de <span class="naorem"></span>, elle arrive jusqu'à lui et le prend dans ses bras. La tempête persiste. Alors dans un dernier regard vers vous tu vois Méonie lâcher une larme et vous faire un sourire.</p>

    <p>Tu t'y attendais. Elle va se sacrifier pour mettre un terme à leur existence à tous les deux. Et tu ne vas pas la laisser partir sans tout tenter. Tu te jettes en dehors de la bulle protectrice avec la force de tout ton courage.</p>

    <p>
      - <span class="tonnom"></span> ! Tu vas te faire emporter, te crie Lasseni.
    </p>

    <p>Mais contre toute attente ta rage te donne la force de courir aussi vite que d'habitude, tu vois les flux d'énergie et tu les évites avec facilité. Tu lances à l'attention d'Ymir :</p>

    <p>
      - Donnez moi cet artefact !
    </p>

    <p>Ymir comprends immédiatement et te lance avec ses dernières forces magiques l'objet qu'il avait sur lui. Tu l'avais reconnu tout à l'heure, il s'agit d'un des objets que les deux mages légendaires avaient utilisés pour endormir Soufflardent. Tu aspires l'objet jusqu'à ta paume sans même avoir eu besoin d'incanter le moindre sort. Tu commences à rayonner d'une lueur verte. Tu sembles inarrêtable et les deux prophètes sont maintenant à portée de main.</p>

    <p>
      - Tu dois le coller sur <span class="naorem"></span>, hurle la voix de Zaïra.
    </p>

    <p>Mais le prophète qui semblait complètement en transe reprend ses esprits en entendant cela et déclenche sa fureur sur toi. Tu tends le bras tenant l'artefact pour que l'objet le touche avant que son sort ne le fasse. Du bout des doigts l'artefact se colle alors sur le prophète. Mais une onde de choc t'atteint de plein fouet au même moment. Le choc brise tes os et te fait cracher du sang avant de t'envoyer promener quelques mètres plus loin.</p>

    <p>Les éléments se calment aussitôt que le prophète tombe de sommeil en touchant l'objet. De ton côté, tu à l'impression de ne plus rien voir. Qu'est-ce qu'il se passe ? Le souffle t'a blessé au yeux et te voilà aveugle.</p>

  <div class="choix">
    <div class="ch" data-go="357">Continuer</div>
  </div>
</div>
