<div class="num num-1-3-277 retour-275">

  <div class="text chapter3">

    <h1> 277 </h1>

    <p>
      Lasseni reprend le sort de Méonie pour vous gardez dans une bulle protectrice pendant que les éléments semblent désormais se déchainer. Le haut de la tour est désormais parti dans les airs. Le quatrième étage est le sommet. La pluie et les éclairs frappent avec violence l'île. Les vents sont déchainés. Ymir et Zaïra semblent à bout de force et n'arrivent à se retenir qu'avec leurs dernière forces.
    </p>

    <p>Méonie s'approche sans mal de <span class="naorem"></span>, elle arrive jusqu'à lui et le prend dans ses bras. La tempête persiste. Alors dans un dernier regard vers vous tu vois Méonie lâcher une larme et vous faire un sourire.</p>

    <p>Puis frappés par un éclair, les deux prophètes se transforment en lumière violette. Et comme une source jaillissante, tout le pouvoir de Soufflardent contenu dans leur deux êtres s'échappe. Formant une pluie violette magnifique sur tout le lac Déluine. Les éléments se calment aussitôt, plus de pluie, plus de vent.</p>

    <p>Lasseni relâche son sort devant la beauté du spectacle.</p>

    <p>
      - Alors tout est fini ? s'exclame Andaelor. Il n'y a plus de prophète ? Enfin sauf toi, dit le mage en voyant Lasseni se tourner vers lui.
    </p>

    <p>Enfin, tout est fini. La tour de l'Académie est en miette mais tout est bien qui fini bien. Ymir et Zaïra s'effondrent de fatigue. Ils ont tenu jusqu'au bout de leurs forces. Fandrean se précipitent vers eux.</p>

    <p>
      - Ha ha, que vas-tu faire maintenant ? demandes-tu à Lasseni en admirant cette douce pluie violette.<br />
      - Je vais rendre mes pouvoirs… Je sais que c'est possible.
    </p>

    <p>Tu es contente d'entendre ça. Tu sais que Lasseni n'avait jamais voulu de ses pouvoirs. Et soudain tu vois la mage s'effondrer à terre, endormie, un artefact identique à celui qu'Ymir avait en main collé sur elle. Cet artefact, c'est celui que Soufflardent avait sur lui pour le maintenir endormi.</p>

    <p>
      - Tu veux rendre tes pouvoirs ? dit une voix. Tant mieux, je suis là justement pour que vous rendiez vos pouvoirs à leurs propriétaires.
    </p>

    <p>Usaki sous sa forme de noctule se tient debout derrière, sorti de nul part. Cinq hommes sont avec lui mais paniquent quand ils le voient sous cette forme monstrueuse. Aussitôt sort de "masse noire" est envoyé sur ton amie. Elle est presqu'à bout portant. Elle ne pourra pas l'esquiver. Mais tu avais vu le coup venir et tu pourrais pousser ton ami. Tu peux le faire.</p>

  <div class="choix">
    <div class="ch av-sportif" data-go="363">Pousser Lasseni</div>
    <div class="ch av-pas-sportif" data-go="365">Pousser Lasseni</div>
  </div>
</div>
