<div class="num num-1-3-278 retour-274">

  <div class="text chapter3">

    <h1> 278 </h1>

    <p>
      Tu sautes par la fenêtre prêt<span class="sf">e</span> à lancer un sort de chute contrôlée. Et tu files à grande vitesse à travers les étages, tu atterris au sol juste devant un homme en train de se faire gober par une masse noire. Juste avant de le voir disparaitre tu crois reconnaître le visage de Pasha, le mage supérieur du feu.
    </p>

    <p>Les gardes de l'école ont été débordé, les assaillants ont l'air victorieux. Les mages de la résistance grimpent les marches de la tour pendant que tu restes le regard fixe sur ton objectif. Malgré son apparence tu le reconnais, et lui aussi. Usaki, qui vient de terrasser Pasha, se dresse devant toi.</p>

    <p>
      - Ne me gène pas <span class="tonnom"></span>. Je dois m'occuper de plus gros poissons. Une fois les prophètes morts j'enverrai mon armée de noctule sur terre. Plus personne ne pourra nous arrêter.
    </p>

    <p>Il parle à la vue de tous mais avec le chaos ambiant tu es bien <span class="sf">la seule</span><span class="sg">le seul</span> à l'écouter.</p>

    <p>
      - JE serai là pour vous arrêter, réponds-tu.<br />
      - Ha ha ! Tu n'es rien comparé à m...
    </p>

    <p>Mais tu lances alors un sort de bourrasque pour mettre à terre le noctule avant qu'il ne termine sa phrase.</p>

    <p>
      - Misérable. Tu veux vraiment m'arrêter ? Dans ce cas je vais te faire souffrir !
    </p>

    <p>La tour de l'école résonne, le vent commence à souffler fort et la pluie s'abat sur toute la région. Le haut de la tour commence à se désagréger et s'envoler dans les airs. Ce doit être l'œuvre des prophètes. Mais ton combat est ici.</p>

  <div class="choix">
    <div class="ch" data-go="367">Lancer un sort d'attaque</div>
    <div class="ch" data-go="373">Lancer un sort de protection</div>
  </div>
</div>
