<div class="num num-1-3-279 retour-229">

  <div class="text chapter3">

    <h1> 279 </h1>

    <p>
      - Bon où allons-nous ? demande Zaïra.<br />
      - Par là, fais-tu en indiquant la direction qu'à prise Espéride.
    </p>

    <p>La direction, c'est la tour de l'école. Les gardes magiques des prophètes affrontent des mages venus d'en dehors. Des explosions continuent de se faire entendre dans le reste de la ville. Vous prenez bien soin d'éviter tous les combats inutiles possibles. Les serviteurs - sans magie - tremblent de peur et vous laissent passer.</p>

    <p>Vous voilà au rez-de-chaussée de la tour, des bruits de combat se font entendre un peu partout. Ymir et Zaïra n'attendent pas et se précipitent dans les escaliers. Vous arrivez juste à temps au premier étage pour observer un combat dantesque entre Mac Lumy et Pasha, le mage supérieur du feu. Mais ton ami semble sur le point de faiblir. Surtout que des gardes viennent le prendre à revers. Ymir décoche un regard à Zaïra qui le comprends aussitôt. Lui s'envole pour intervenir et sauver Mac Lumy pendant que Zaïra se débarrasse en un instant des gardes.</p>

    <p>
      - Mac, ça va ? fais-tu essouflé<span class="sf">e</span>.<br />
      - <span class="tonnom"></span>, bien content de vous voir tous les trois, fait le mage en sueur.
    </p>

    <p>Ymir lance un regard noir à Pasha. C'est vrai que Pasha fait parti des mages qui ont autrefois abandonné et qui ont tenté d'assassiner les deux mages légendaires.</p>

    <p>
      - Vous préférez vous battre contre des enfants plutôt que contre les prophètes qui sont le problème majeur ici ? demande rhétoriquement Ymir.<br />
      - Cela faisait longtemps… je suppose que vous n'avez pas oublié ? fait Pasha aux deux mages légendaires.<br />
      - Non, répond Zaïra, mais nous gouttons peu à la vengeance. Dis-toi Pasha que tu es sur notre chemin.
    </p>

    <p>Pasha bouillonne de colère, il s'enflamme entièrement et concentre une telle énergie qu'il pourrait faire exploser la tour. Les deux mages légendaires s'approche très vite de lui et d'un simple geste le font tomber à terre inconscient.</p>

    <p>
      - Que s'est-il passé ? demande Mac Lumy.<br />
      - Ces artefacts ont gardé endormi Soufflardent pendant des dizaines d'années alors sur un humain ça calme ! fait Zaïra en montrant l'objet qu'elle a collé sur Pasha.<br />
      - Allons-y, fais-tu.
    </p>


  <div class="choix">
    <div class="ch" data-go="331">Continuer</div>
  </div>
</div>
