<div class="num num-1-3-28">

  <div class="text chapter3">

    <h1>- 28 -</h1>

    <p>
      - Avec les sans-magies et les mages aussi ? s'étonne Arak. C'est hors de question. Entre les sans-magies qui ne comprennent rien et les mages qui ont fait la guerre à Soufflardent, y en a pas un pour rattraper l'autre.<br />
      - Hum... désolé de te dire ça <span class="tonnom"></span>, ajoute <span class="naorem"></span> mais ça me parait impossible. Les sans-magies... j'avoue que ça me parait difficile de partager le pouvoir avec eux. Notre monde tourne autour de la magie et ils n'y comprennent rien.
    </p>

    <p>Méonie n'a pas l'air d'être contre ton idée mais les deux autres semblent vraiment camper sur leur position.</p>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="26">Dans ce cas nous allons partager le pouvoir avec les mages seulement</div>
    <div class="ch" data-go="29">Si vous ne voulez pas de ça : que proposez-vous ?</div>
  </div>

</div>
