<div class="num num-1-3-280 retour-232">

  <div class="text chapter3">

    <h1> 280 </h1>

    <p>
      Tu as mal dans tout le corps, mais tu n'es pas si fatigué<span class="sf">e</span> que ça. Le pont est facile à passer. Des cavaliers, ne faisant pas parti des troupes de la ville sont stationnés là. Tu tentes de passer te glissant entre eux.
    </p>

    <p>
      - Hé ! Attention petit<span class="sf">e</span> ! te crie certains.
    </p>

    <p>Mais tu ne leur prêtes aucune attention. La porte de la ville, habituellement fermée de nuit est détruite. Des hommes agitent un drapeau étrange avec croissant de lune. Les hommes hurlent à tue-tête.</p>

    <p>
      - Vive le général Allister !
    </p>

    <p>Tu continues ta route alors que les rues commencent à être plus agitées. Des gardes sont à terre. D'autres sont pourchassés ou capturés. Les assaillants semblent avoir l'avantage. Plus tu approches de l'école et plus les éléments semblent se déchainer. Le vent fait maintenant place à une véritable tempête surréaliste. La pluie te fouette le visage et avancer devient plus difficile.</p>

    <p>Te voilà devant la porte de l'école, des gens se barricadent juste à l'extérieur et lancent des sorts à l'intérieur à intervalle régulier. Mais de temps en temps un sort vient les percuter provenant des gardes à l'intérieur.</p>

    <p>Puis un grand soulagement les fait se lever et tous rentrer dans l'enceinte de l'école.</p>

    <p>
      - Venez ! Allister s'est chargé de ce type.
    </p>

    <p>Tu rentres en même temps que le groupe. Dès que tu le vois tu comprends que c'est lui. Même avec son apparence humaine, cet homme qui donne des ordres aux milieu de ce chaos, c'est Usaki.</p>


  <div class="choix">
    <div class="ch" data-go="281">Continuer</div>
  </div>
</div>
