<div class="num num-1-3-281 retour-232">

  <div class="text chapter3">

    <h1> 281 </h1>

    <p>Le noctule croise ton regard et s'immobilise. Tu t'avances calmement jusqu'à lui. Tu ne sais pas où se trouvent les prophètes ou tout le monde, mais Usaki est sur ton chemin.</p>

    <p>
      - Ne me gène pas <span class="tonnom"></span>. Je dois m'occuper de plus gros poissons. Une fois les prophètes morts, j'enverrai mon armée de noctules sur terre. Plus personne ne pourra nous arrêter.
    </p>

    <p>Il parle à la vue de tous mais avec le chaos ambiant, tu es bien <span class="sf">la seule</span><span class="sg">le seul</span> à l'écouter.</p>

    <p>
      - JE serai là pour vous arrêter, réponds-tu.<br />
      - Ha ha ! Tu n'es rien comparé à m...
    </p>

    <p>Mais tu lances alors un sort de bourrasque pour mettre à terre le noctule avant qu'il ne termine sa phrase.</p>

    <p>
      - Misérable. Tu veux vraiment m'arrêter ? Dans ce cas je vais te faire souffrir !
    </p>

    <p>L'école toute entière résonne. Le haut de la tour commence à se désagréger et s'envoler dans les airs. Ce doit être l'œuvre de <span class="naorem"></span>. Mais ton combat est ici.</p>

  <div class="choix">
    <div class="ch" data-go="367">Lancer un sort d'attaque</div>
    <div class="ch" data-go="373">Lancer un sort de protection</div>
    <!-- Méonie vivante mais plus une prophète -->
  </div>
</div>
