<div class="num num-1-3-282 retour-233">

  <div class="text chapter3">

    <h1> 282 </h1>

    <p>Une armée est posté sur le pont, elle s'attaque à la grande entrée de la ville, fermée de nuit.</p>

    <p>
      - Passons par le lac, fait Ymir.
    </p>

    <p>Aussitôt dit vous descendez la petite bande de verdure pour arriver jusqu'au bord du lac. Là, Ymir te fait signe de t'accrocher sur son dos. Ce que tu hésites à faire, après tout il a l'air bien vieux, ne va-t-il pas se casser le dos en te portant ? Mais tu n'as pas le choix.</p>

    <p>Glissant à la surface grâce à un de leurs sorts, les deux mages légendaires filent jusqu'à l'embarcadère de l'Académie. Sur le dos du mage, tu vois la tour trembler sous l'effet d'un sort.</p>

    <p>Sur le ponton de l'embarcadère, plusieurs gardent sont endormis, signe que des intrus sont passés par ici également.</p>

    <p>Un escalier remonte de manière abrupte jusqu'aux jardins de l'école. Plus vous avancez plus vous entendez les combats. Vous restez le plus discrets possibles.</p>

    <p>
      - <span class="naorem"></span> et Lasseni sont dans la tour, je vois leur énergie, fait Zaïra.<br />
      - Soyez prudent, lance Ymir en prenant la tête du cortège.
    </p>

    <p>Devant la tour les combats font rage. Un mage semble surpuissant et repousse les intrus tentant d'infiltrer l'école. Il te semble reconnaître Pasha, le mage supérieur du feu. Heureusement il n'a d'yeux que pour la façade avant et ne se rend pas compte de votre passage.</p>

    <p>Une fois dans la tour, les choses ne semblent pas se calmer. Ymir et Zaïra n'attendent pas et se précipitent dans les escaliers. Vous arrivez juste à temps au premier étage pour observer un combat dantesque entre Mac Lumy et Pasha, le mage supérieur du feu. Mais ton ami semble sur le point de faiblir. Surtout que des gardes viennent le prendre à revers. Ymir décoche un regard à Zaïra qui le comprends aussitôt. Lui s'envole pour intervenir et sauver Mac Lumy pendant que Zaïra se débarrasse en un instant des gardes.</p>

    <p>
      - Mac, ça va ? fais-tu essouflé<span class="sf">e</span>.<br />
      - <span class="tonnom"></span>, bien content de vous voir tous les trois, fait le mage en sueur.
    </p>

    <p>Ymir lance un regard noir à Pasha. C'est vrai que Pasha fait parti des mages qui ont autrefois abandonné et qui ont tenté d'assassiner les deux mages légendaires.</p>

    <p>
      - Vous préférez vous battre contre des enfants plutôt que contre les prophètes qui sont le problème majeur ici ? demande rhétoriquement Ymir.<br />
      - Cela faisait longtemps… je suppose que vous n'avez pas oublié ? fait Pasha aux deux mages légendaires.<br />
      - Non, répond Zaïra, mais nous gouttons peu à la vengeance. Dis-toi Pasha que tu es sur notre chemin.
    </p>

    <p>Pasha bouillonne de colère, il s'enflamme entièrement et concentre une telle énergie qu'il pourrait faire exploser la tour. Les deux mages légendaires s'approche très vite de lui et d'un simple geste le font tomber à terre inconscient.</p>

    <p>
      - Que s'est-il passé ? demande Mac Lumy.<br />
      - Ces artefacts ont gardé endormi Soufflardent pendant des dizaines d'années alors sur un humain ça calme ! fait Zaïra en montrant l'objet qu'elle a collé sur Pasha.<br />
      - Allons-y, fais-tu.
    </p>


  <div class="choix">
    <div class="ch" data-go="331">Continuer</div>
  </div>
</div>
