<div class="num num-1-3-283 retour-234">

  <div class="text chapter3">

    <h1> 283 </h1>

    <p>
      Tu fais ce qu'on t'a dit et va voir ce que fait Méonie. Sa chambre est vide de sa présence mais les corps de plusieurs assassins montrent qu'elle a subi une attaque elle aussi avant de partir.
    </p>

    <p>Tu te sens bizarre, comme si tout cela était finalement normal. Le châtiment du destin pour ton geste sur Mac s'abat maintenant sur vous. Toutes les choses affreuses que vous avez faites ont un coup. Mais tu dois te racheter, et tu sais comment. Il faut juste que tu attendes un peu. Tu dois juste attendre qu'Usaki soit là.</p>

    <p>Tu restes blotti<span class="sf">e</span> en boule dans la chambre de Méonie heureu<span class="sf">se</span><span class="sg">x</span> d'avoir compris ton but, à toi et aussi celui des prophètes.</p>

    <p>Les briques, de la tour autour de toi, commencent à se morceler. Le vent violent commence à emporter la tour. Avec tes pouvoirs tu t'envoles au milieux des objets qui se désintègre dans une tempête à l'extérieur. Les éclairs fusent et la pluie fouette ton visage sans te faire de mal.</p>

    <p>Un peu plus bas tu observes Méonie et <span class="naorem"></span> en train de se battre. Autour d'eux, Ymir, Zaïra, Espéride, Kannan et d'autres mages que tu reconnais pas.</p>

    <p>Tu ne souhaites pas intervenir. Tu regardes tout cela avec un oeil attentif. Les sorts s'entrechoquent dans ce combat titanesque. Les prophètes semblent avoir l'avantage en se débarrassant tout d'abord d'Espéride dans un tourbillon qui l'envoya dans la tempête se faire déchiqueter.</p>

    <p>Les mages accompagnant Kannan, disparurent les uns après les autres aussi. Ton amie lança un sort de masse noire facilement évité par les prophètes. Elle perdit ses forces mais fut rattrapé au dernier moment par Zaïra au moment où elle allait tomber dans la tempête.</p>

    <p>Et contre toutes tes prédictions que tu aurais pu faire Ymir réussit à endormir les deux prophètes en leur collant un artefact sur le dos.</p>

    <p>La tempête se calma et tu continua à flotter dans les airs, certain<span class="sf">e</span> de devoir encore attendre. Et ce fut payant, ce que tu attendais se produisit. Usaki fit son apparition un peu plus tard alors que les mages légendaires et Kannan se reposaient de leur réussite. Le noctule sous forme humaine, s'approcha des deux prophètes.</p>

    <p>Et c'est là que tu intervins.</p>

    <p>Lancé<span class="sf">e</span> à la vitesse la plus rapide que tu puisses atteindre tu te posa juste devant Usaki, lui tranchant le bras gauche.</p>

    <p>De douleur, le noctule repris son apparence monstrueuse de lapin géant.</p>

    <p>
      - Usaki, je n'attendais plus que toi, déclaras-tu ! Hé hé hé. Vous tous : le moment est venu de clore ce chapitre.
    </p>


  <div class="choix">
    <div class="ch" data-go="284">Continuer</div>
  </div>
</div>
