<div class="num num-1-3-284 retour-283">

  <div class="text chapter3">

    <h1> 284 </h1>

    <p>
      Tout le monde fut surpris par ta remarquable arrivée. Les mages accompagnant Usaki commencèrent à prendre peur en te voyant toi et lui sous son étrange apparence.
    </p>

    <p>
      - Vous ne saviez pas que votre général adoré était un noctule ? demandes-tu en rigolant. Quels naïfs vous faites. Usaki je voulais que tu sois là pour voir ça, regarde !
    </p>

    <p>Tu lèves la main vers le ciel et en concentrant ton énergie au maximum tu déclenches le sort le plus puissant jamais lancé depuis des lustres. Un rayon bleuâtre transperce le ciel nocturne. Et sous les yeux ébahis de ton auditoire, le sort vient percuter et détruire la lune. Le ciel s'éclaircie devant la gigantesque explosion bleue que tu viens de faire. De multiples morceaux de lunes sont éparpillés dans le ciel.</p>

    <p>
      - Je crois que tu viens de la lune Usaki, non ? fais-tu. Qu'est-ce que ça te fait de voir ta maison se désintégrer ?
    </p>

    <p>Mais le noctule regarde le ciel sans rien pouvoir dire. Tu vois des larmes couler de ses yeux.</p>

    <p>
      - Ha ha ha ! Tu pleures ? rigoles-tu. Les noctules peuvent pleurer alors ?<br />
      - <span class="tonnom"></span>, tu es devenu<span class="sf">e folle</span><span class="sg"> fou</span> ? te demande Zaïra. Les restes de la lune vont s'écraser sur la terre.
    </p>

    <p>Tu restes silencieu<span class="sf">se</span><span class="sg">x</span> tout d'abord, cette vieille mage t'a gâché le moment d'émotions que tu avais prévu avec Usaki. </p>

    <p>
      - Je me fiche bien de ça, cela n'a pas d'importance dans le but qui nous a été donné à nous les prophètes.<br />
      - Qu'est-ce que tu racontes, dit Kannan en se relevant.<br />
      - Nous avons pour but de créer un nouveau monde. Un monde plus beau, nous pouvons tout créer et bien faisons-le. Nous allons recréer à trois le monde… après avoir effacé ce monde horrible et qui n'a pas de sens, hé hé hé !
    </p>

    <p>Tu rigoles de la vacuité de tout se que tu tenais pour important avant et qui n'a désormais plus aucune signification pour toi.</p>

    <p>
      - <span class="sf">Elle est devenue</span><span class="sg">Il est devenu</span> complètement cinglé<span class="sf">e</span> ! s'exclame Usaki en reprenant un peu ses esprits. Arrêtez-là ! Elle va tous vous tuer !<br />
      - Oh ! Ce n'est pas beau de gâcher la surprise, lui retorques-tu.
    </p>

    <p>Avant de pouvoir concentrer ton énergie pour éradiquer l'humanité tu dois t'occuper des gêneurs.</p>

  <div class="choix">
    <div class="ch" data-go="285">Tuer Usaki</div>
    <div class="ch" data-go="286">Tuer Ymir et Zaïra</div>
    <div class="ch" data-go="287">Tuer Kannan</div>
  </div>
</div>
