<div class="num num-1-3-285 retour-284">

  <div class="text chapter3">

    <h1> 285 </h1>

    <p>
      Tu concentres ta première attaque sur Usaki avant qu'il ne puisse lancer son sort contre les prophètes. Tu sais que même avec un bras en moins il reste le plus grand danger. Alors tu décides de placer une bombe dans son ventre et de le faire exploser. Le sang rose du noctule vint t'asperger le visage et te procurant le plaisir d'avoir enfin vaincu l'adversaire de Soufflardent. Ce que tu es en train de faire c'est juste ce que voulait le grand dragon, tu le comprends seulement maintenant.
    </p>

    <p>
      Les mages accompagnant Usaki t'encerclent et lancent des sorts de partout. Mais ils ricochent sur toi comme s'ils n'étaient que des balles en mousse. D'un revers de la main tu envoies une onde qui vient les trancher en deux, n'en laissant aucun survivre.
    </p>

    <p>
      - <span class="tonnom"></span>, regarde ce que tu es devenu<span class="sf">e</span> ! fait Kannan en pleurant à chaudes larmes.<br />
      - La ferme ! t'énerves-tu. Vous ne comprenez pas que je fais ça pour vous aussi ! Vous voulez vraiment continuer à vivre dans ce monde pourri ?! Je vous offre le salut de Soufflardent !<br />
      - Et bien tu lui passeras le bonjour dans l'autre monde, fait Ymir qui apparait tout à coup dans ton dos avec un artefact. Et ne t'inquiètes pas, on se débrouillera bien ici sans la salut de ce monstre.<br />
      - Ne vous moquez pas de lui !!!!! t'écries-tu.
    </p>

    <p>Ton aura d'énergie s'emballe et tu viens lacérer le mage légendaire avec des décharges d'énergie pure. Lui détruisant son artefact au passage et le laissant gisant au sol, la gorge tranchée.</p>

    <p>
      - Ymir, se lamente Zaïra.
    </p>

    <p>Et ne lui laissant pas le temps de réagir tu viens déposer un sort de fleuraison sur la mage légendaire. Son corps se faisant manger de l'intérieur par des plantes, de ses blessures de magnifiques plantes à fleurs rouge sortirent en un instant.</p>

    <p>Kannan, déjà blessée reste seule devant toi sans même réagir.</p>

    <p>
      - Ha ha ! Toi au moins tu as compris, tu sais qu'il faut me laisser faire finalement.<br />
      - Non… mais je n'ai même plus la force de bouger. Et je ne vois pas ce que je pourrai faire seule.<br />
      - Dans ce cas reste assise et admire le spectacle, lui dis-tu. Je te promets que personne ne souffrira.
    </p>

    <p>Et tu concentres une dernière fois ton énergie en toi. Tout est redevenu plus calme, tu respires, zen. Tu joins tes deux mains et ferme les yeux pour éteindre le monde.</p>


  <div class="choix">
    <div class="ch" data-go="289">Continuer</div>
  </div>
</div>
