<div class="num num-1-3-286 retour-284">

  <div class="text chapter3">

    <h1> 286 </h1>

    <p>
      Ces deux mages ont déjà endormi <span class="naorem"></span> et Méonie. Ils sont les plus dangereux et tu décides de t'en occuper en premier. Alors qu'ils allaient te foncer dessus tu décides de les faire s'écrouler tous les deux sur les artefacts qu'ils tiennent à la main. Immédiatement ils tombent endormis.
    </p>

    <p>
      - Ha ha ha ! Quelle ironie de finir blessé par son propre équipement, t'amuses-tu !
    </p>

    <p>Mais Usaki en profita pour s'avancer vers toi en lançant le sort que Kannan utilisa tout à l'heure. Une sorte de masse noire se forma devant lui pour tenter de te gober. Les mages qui l'accompagnaient lancèrent eux aussi des sorts dans ta direction pour te mettre hors d'état de nuire. Mais tu lança alors le sort que tu voulais utiliser depuis le début : tu changeas ta place avec celle des deux mages légendaires, te retrouvant hors de danger. Les deux mages endormies subirent une pluie de sorts venant de toute part, se faisant finalement gober par une masse noire étrange.</p>

    <p>
      - Qu'est-ce que vous leur avez mis. Bravo, fis-tu en applaudissant.
    </p>

    <p>Les mages le souffle coupé par ta tactique, ne virent pas que tu repartais aussitôt à l'attaque et ton "onde de choc mortelle" les coupa nets en deux. Seuls Usaki arriva à esquiver en sautant en l'air, tandis que Kannan se baissait suffisamment pour que le sort lui passe juste au dessus d'elle.</p>

    <p>Une fois dans les airs, le noctule ne pouvait plus esquiver et tu lui fis le plaisir de lui envoyer un sort de métamorphose pour en finir avec lui. Usaki retomba au sol sous l'apparence d'un innocent petit lapin.</p>

    <p>Kannan, déjà blessée reste seule devant toi sans même réagir.</p>

    <p>
      - Ha ha ! Toi au moins tu as compris, tu sais qu'il faut me laisser faire finalement.<br />
      - Non… mais je n'ai même plus la force de bouger. Et je ne vois pas ce que je pourrai faire seule.<br />
      - Dans ce cas reste assise et admire le spectacle, lui dis-tu. Je te promets que personne ne souffrira.
    </p>

    <p>Et tu concentres une dernière fois ton énergie en toi. Tout est redevenu plus calme, tu respires, zen. Tu joins tes deux mains et ferme les yeux pour éteindre le monde.</p>

  <div class="choix">
    <div class="ch" data-go="289">Continuer</div>
  </div>
</div>
