<div class="num num-1-3-287 retour-284">

  <div class="text chapter3">

    <h1> 287 </h1>

    <p>
      Tu te décides à tuer Kannan en première. Elle n'a plus aucune force, elle peut à peine se mettre debout, mais elle représente à elle seule tout ce qui te retient encore. La mort de Mac Lumy fut certainement le déclencheur de tout ça mais tu sais que tu dois le faire pour le bien de tous. Alors… si tu arrives à tuer Kannan maintenant, cela signifie que tu as vaincu tes peurs et ton chagrin. Une fois morte, plus rien ne pourra t'arrêter. Tu auras transcendé tes sentiments jusqu'à les nier. Un dieu n'a pas besoin de sentiments.
    </p>

    <p>La main levée vers elle tu la regarde une dernière fois. Elle pleures en te regardant, sans bouger. Et tu sens toi aussi quelque chose sur tes joues. Devant sa peine, tu ne peux t'empêcher de te souvenir de tout ce que tu as vécu avec tes amis. Tout cela te réapparait maintenant. Les joies de la première année, les aventures avec Lasseni et Mac Lumy, le professeur Qobur et tant d'autres choses… Des larmes. C'est ce qui coulent sur tes joues. Tu ne peux pas la tuer.</p>

    <p>
      - Désolé<span class="sf">e</span> je crois que je n'ai pas la force de te tuer Kannan. Tu vas devoir souffrir dans ce monde horrible sans moi, lui dis tu en acceptant ton sort.
    </p>

    <p>Car du coin de l'œil tu as bien vu Usaki lancer un sort et une masse noire va te gober. Mais ce n'est pas le noctule qui t'a vaincu. C'est Kannan... ce sont tes amis.</p>

  <div class="choix">
    <div class="ch" data-go="288">Epilogue</div>
  </div>
</div>
