<div class="num num-1-3-288 retour-287">

  <div class="text chapter3">

    <h1> FIN 3 </h1>

    <p>
      Un nouveau jour se lève sur les terres dévastées. Il y a de cela 5 ans, une terrible catastrophe est arrivée. La lune a explosé. Ses débris sont tombés sur la terre et a tout détruit sur son passage. Aujourd'hui il ne reste plus rien de l'Académie.
    </p>

    <p>Les gens des terres barbares, habitués aux environnements hostiles ont survécu. Et désormais, une nouvelle tribu vient s'installer sur l'oasis du soleil. C'est un petit endroit de verdure au milieu du désert. Une énorme montagne fait de l'ombre même quand le soleil est à son zénith. On dit que cette montagne est une partie de la lune tombée sur terre. Grâce à cela un petit étang reste toute l'année. C'est donc l'endroit idéal pour la tribu de Keita pour s'installer.</p>

    <p>Keita est un petit garçon. Plus tard il veut devenir explorateur. Comme son père. Alors il parcourt tous les jours cette gigantesque montagne à côté de son village. Un jour il pénètre dans une grotte que personne auparavant n'avait encore visité. Elle est gigantesque. Là au fond une créature est tapie. Keita n'en a encore jamais vu d'aussi grande.</p>

    <p>
      - Vient, petit humain, que je te présente mon enfant, fait la créature.
    </p>

    <p>L'enfant s'approche de la créature sans aucune peur et écartant ses pattes, la créature dévoile un bébé à peine plus gros que l'enfant. Tout de suite Keita le caresse mais le bébé dévoile ses ailes et s'envole pour l'éviter.</p>

    <p>
      - Ha ha ! fait la mère. Il ne connait pas encore les humains, il est un peu craintif. Mais il sera le plus puissant de son espèce. Son nom est Soufflardent. Il devait naitre à cet endroit exact pour retrouver ses pouvoirs.<br />
      - Il devait naitre à l'oasis du soleil ? demande Keita.<br />
      - Oui. Mais autrefois cet endroit s'appelait l'Académie. Un endroit qui aura changé la face du monde.
    </p>

    <p>Si aujourd'hui plus personne à part ce dragon ne connait le nom de l'Académie. Il reste toutefois un nom qui a survécu et qui se transmet de bouche à oreilles dans les tribus barbares et notamment dans le village de Keita. Celui du démon <span class="tonnom"></span>, le destructeur du monde. Selon la légende, le démon se réveillera un jour pour détruire une nouvelle fois le monde.</p>

</div>
