<div class="num num-1-3-289 retour-285 286">

  <div class="text chapter3">

    <h1> 289 </h1>

    <p>
      Soudain tu sens les bras de Kannan t'entourer sans aucune force, pour te faire un câlin.
    </p>

    <p>
      - Ne t'inquiètes pas Kannan, tout sera bientôt fini.<br />
      - Je… je… désolée. J'aurai dû voir ce que tu endurais...<br />
      - Je te l'ai dit, je suis complètement libre désormais. Nous seront deux pour voir l'aube d'un nouveau jour.<br />
      - Désolée… pour… ça.
    </p>

    <p>La mage te regarde les yeux pleins de larmes et tout à coup te voilà dans l'obscurité la plus totale. Kannan est toujours avec toi mais ne bouge plus et ses bras flottent autour de toi. La pauvre a puisé ses forces au fond d'elle-même jusqu'à en mourir pour lancer un dernier sort.</p>

    <p>C'est donc ça qui arrive quand on se fait avaler par la masse noire ? Soudain des scintillement blanc, t'entourent au fur et à mesure que la masse noire de désagrège. D'un coup d'œil tu vois ton monde depuis l'espace. Il est si beau. Des milliers de fragments de lune commençant à s'écraser un peu partout.</p>

    <p>Tu tiens la main de Kannan, pendant que l'air de tes poumons s'éteint. Ta magie a disparu sitôt arrivé<span class="sf">e</span> dans l'espace. Le froid intense t'endort paisiblement. Tu n'en veux pas à Kannan, d'ici tu peux voir le monde s'éteindre en même temps que toi.</p>

  <div class="choix">
    <div class="ch" data-go="288">Epilogue</div>
  </div>
</div>
