<div class="num num-1-3-29">

  <div class="text chapter3">

    <h1>- 29 -</h1>

    <p>- On en avait déjà discuté, nous trois, commence Arak. Nous allons d'abord conquérir le monde entier. Je peux même m'en charger tout seul.<br />
    - Moi, fait <span class="naorem"></span>, je m'occuperai directement des mages et de l'Académie.<br />
    - …Et je m'occuperai des sans-magies et de tous leurs problèmes, finis Méonie. Tu pourras m'aider si tu veux.</p>

    <p>Cela semble si simple quand ils le disent mais tu sens que ce sera beaucoup plus dur que prévu.</p>

    <p>
      - Vous pensez pouvoir faire tout, sans vous faire aider par des mages ou des habitants non mages ? interroges-tu.<br />
      - Nos pouvoirs… sont infinis, fait Arak. Rien qu'en y pensant je pourrai raser l'Académie si je le voulais.<br />
      - Hum… je vais réfléchir à quoi je voudrai m'occuper dans ce cas...</p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="56">… Mais je me ferai aider d'autres personnes.</div>
    <div class="ch" data-go="57">… sans aide. Je peux me débrouiller seul<span class="sf">e</span> comme vous dites</div>
  </div>

</div>
