<div class="num num-1-3-290 retour-236">

  <div class="text chapter3">

    <h1> 290 </h1>

    <p>
      Vous descendez les étages ensembles les uns après les autres. Au niveau du quatrième niveau, vous vous retrouvez nez à nez avec le groupe d'Espéride. La salle dans laquelle vous êtes est le réfectoire des gardes mais, les quelques policiers qui sont présents, ont tous déjà mordus la poussière.
    </p>

    <p>Espéride est en première ligne. Kannan et Mac Lumy la suive à sa gauche. Fandrean et Lasseni à sa droite. Anselm, Haziko et Panacle suivants derrière. Le plan était qu'ils s'occupent de <span class="naorem"></span> pendant que l'équipe d'Allister s'occupait de Méonie. Mais il n'y a personne d'autre.</p>

    <p>
      - Le rendez-vous des vieilles connaissances ! fait <span class="naorem"></span>. C'est tellement dommage de vous arrêtez là.<br />
      - Toujours aussi vantard, lui lâche Lasseni.<br />
      - Vous êtes fichus, rendez-vous, tente Espéride.<br />
      - Fichus ? s'étonne le prophète. On est trois demi-dieux contre quelques mages de seconde zone.<br />
      - Hem, hem ! fait Méonie en se raclant la gorge.<br />
      - Ok, quelques mages de seconde zone et Fandrean, corrige-t-il.
    </p>

    <p>L'équipe d'Espéride se positionne en rond pour vous entourer. Tu n'avais aucun ordre pour une telle situation. Tu parles discrètement à Espéride télépathiquement pour te coordonner.</p>

    <p>
      - Les mages supérieurs sont hors course, je dois faire quoi là ?<br />
      - Quand tu verras des gros blobs noirs, il faudra tout faire pour pousser les prophètes dedans.<br />
      - C'est tout ? Compris !
    </p>

    <p>Et le combat commença.</p>


  <div class="choix">
    <div class="ch" data-go="379">Continuer</div>
  </div>
</div>
