<div class="num num-1-3-291 retour-239">

  <div class="text chapter3">

    <h1> 291 </h1>

    <p>
      - Désolé<span class="sf">e</span> Kannan mais là le moment est mal choisi pour papoter.<br />
      - Tu viens de détruire la tour je te signale !<br />
      - J'en reconstruirai une belle avec mes pouvoirs, ne t'inquiètes pas.
    </p>

    <p>Sortant de la fumée provoquée par la chute de la tour, Allister - Usaki - et quelques mages approchent.</p>

    <p>
      - Soldats, tuez ce<span class="sf">tte</span> prophète, comme prévu <span class="sf">elle</span><span class="sg">il</span> se retourne contre nous pour contrecarrer nos plans.<br />
      - Je contrecarre pas les plans de la résistance, nuances-tu, je contrecarre tes plans Usaki.
    </p>

    <p>Espéride, accompagnant Kannan et d'autres mages intervient alors.</p>

    <p>
      - <span class="tonnom"></span> n'est pas un problème, occupons-nous des autres avant.<br />
      - Regarde ce désastre autour de toi, c'est <span class="sf">elle la</span><span class="sg">lui le</span> coupable.
    </p>

    <p>Et sans attendre plus longtemps Usaki lève le bras et incante un sort. Mais il est obligé d'esquiver un projectile magique et son incantation se perd dans la nature.</p>

    <p>
      - Oh, oh !? Il y a du beau monde ici, s'extasie <span class="naorem"></span>.<br />
      - Tout va bien <span class="tonnom"></span> ? demande Méonie.
    </p>

    <p>Pour résumer : la résistance est présente avec Espéride, Kannan et certainement d'autres amis à toi que tu n'as pas encore vu. Usaki est également présent avec plusieurs mages adeptes de la magie de la lune. Et pour finir vous, les trois prophètes, êtes également là. Au milieu des ruines de la tour. Les jardins sont ravagés. </p>


  <div class="choix">
    <div class="ch" data-go="391">Attaquer Usaki</div>
    <div class="ch" data-go="393">Protéger Kannan, Espéride et tes amis</div>
  </div>
</div>
