<div class="num num-1-3-292 retour-240">

  <div class="text chapter3">

    <h1> 292 </h1>

    <p>
      D'un regard entendu, tu fais signe aux deux mages légendaires de se rapprocher et vous vous téléportez au cinquième étage. Là où tu sentais la présence des deux autres prophètes. <span class="naorem"></span> tourne la tête dans votre direction surpris de cette apparition, alors qu'il se dirigeait vers l'étage inférieur.
   </p>

   <p>
     - Ymir, Zaïra ? Qu...
    </p>

    <p>Les deux mages légendaires tentent de l'emporter grâce à l'effet de surprise et chacun cible un prophète avec un artefact que tu as déjà vu. Ce sont les mêmes que ceux qu'il y avait sur le corps de Soufflardent quand il dormait.</p>

    <p>Il faut que tu protèges au moins un des deux mages pour qu'ils puissent arriver à coller leur artefact sur leur prophète. Ymir vise <span class="naorem"></span> pendant que Zaïra vise Méonie.</p>

    <p>Qui protéger ?</p>

  <div class="choix">
    <div class="ch" data-go="293">Ymir</div>
    <div class="ch" data-go="294">Zaïra</div>
  </div>
</div>
