<div class="num num-1-3-293 retour-292">

  <div class="text chapter3">

    <h1> 293 </h1>

    <p>
      Tu enrobes le corps d'Ymir d'une protection et tu écartes les sorts que le prophète lui envoie. Mais au moment de toucher <span class="naorem"></span>, le mage légendaire est arrêté en plein vol, comme percutant un mur invisible.
    </p>

    <p>
      Méonie ! Elle est une spécialiste des protections. Tout cela ne prend pas une bonne tournure. <span class="naorem"></span> change de cible avant même que tu n'aies le temps de réagir et la pauvre Zaïra s'effondre au sol sans bouger.
    </p>

    <p>
      - Ouah ? <span class="tonnom"></span>, tu nous trahis ? s'exclame le prophète.<br />
      - On dirait bien confirme Méonie.
    </p>

    <p>Maintenant que l'effet de surprise est passé, Zaïra à terre, le combat semble prendre une tournure bien dramatique. Tu te téléportes pour récupérer l'artefact de Zaïra et tente de le coller sur <span class="naorem"></span> en allongeant ton bras. Là encore, une frappe de Méonie bien placée protège le prophète en repoussant ton attaque.</p>

    <p>Ymir avait suivi le mouvement et tenté de se rapprocher de la prophétesse mais encore une fois cela se solda par un échec. <span class="naorem"></span> s'interposa et repoussa le mage violemment contre le mur.</p>

    <p>Les deux mages légendaires sont à terre inconscients.</p>

  <div class="choix">
    <div class="ch" data-go="403">Continuer</div>
  </div>
</div>
