<div class="num num-1-3-294 retour-292">

  <div class="text chapter3">

    <h1> 294 </h1>

    <p>
      Tu enrobes le corps de Zaïra d'une protection et tu bloques le sort que Méonie se préparait. Sans rien pouvoir faire la prophétesse s'écroule dès que son corps ressent l'artefact.
    </p>

    <p>De son côté Ymir s'est retrouvé très vite à terre. Car même s'il avait l'effet de surprise, les prophètes peuvent lancer des sorts rien qu'en y pensant. Le mage légendaire est prostré à terre, sans bouger.</p>

    <p>
      - Il nous faut l'artefact d'Ymir, te dis Zaïra.<br />
      - Je m'en charge, lui réponds-tu.
    </p>

    <p>Tu te téléportes à côté du mage légendaire et récupère l'artefact. Dans le même temps <span class="naorem"></span> a mis à terre Zaïra en un temps record.</p>

    <p>
      - C'est un duel, s'amuse <span class="naorem"></span>. Prophète contre prophète, qui sera la plus fort ?
    </p>

    <p>Tout ce que tu as à faire c'est coller l'objet sur son corps et surtout, il ne faut pas qu'il puisse enlever celui que Méonie porte sur elle.</p>

  <div class="choix">
    <div class="ch" data-go="406">Continuer</div>
  </div>
</div>
