<div class="num num-1-3-295 retour-240">

  <div class="text chapter3">

    <h1> 295 </h1>

    <p>
      - Hors de question ! Je me charge d'Usaki. Faites ce que vous voulez avec les deux prophètes.
    </p>

    <p>Les deux mages légendaires semblent déçus mais se taisent et partent en direction de la tour.</p>

    <p>Soudain tu as une idée. Dès que tu reverras Usaki sous sa forme humaine, tu le transformeras en noctule. Il devrait provoquer la terreur chez ses alliés.</p>

    <p>Et justement, Usaki et ses troupes réapparaissent quelques secondes plus tard.</p>

    <p>
      - Le prophète a dû s'enfuir messire Allister.<br />
      - J'en doute, répond Usaki. Soyez sur vos gardes ! Je prédis un piège de l'ennemi.
    </p>

    <p>Il ne crois pas si bien dire. Même si tu ne peux enlever son sort qui le fait apparaitre comme un homme - probablement car ce doit être un sort de magie de la lune des noctules - tu peux ajouter une illusion le présentant sous sa véritable forme.</p>

    <p>Le général commence alors à enfler, ses oreilles grandissent et ses bras se couvrent de poils. En quelques secondes le voilà redevenu un noctule.</p>

    <p>
      - Haaaaa ! Qu'est-ce que c'est que ce monstre ? s'écrie les gens autour d'Usaki.<br />
      - Calmez-vous ! C'est toujours moi Usaki ! Heu… NON ! Allister !
    </p>

    <p>Le noctule commence à s'embrouiller, c'est très bien. Certains mages commencent à l'attaquer. Il se défend en exterminant quiconque était encore là. Cela t'aurais bien arrangé qu'il se fasse avoir par ses troupes mais ça aurait été trop beau.</p>

    <p>
      - <span class="tonnom"></span> ! Je sais que c'est toi qui a fait ça, hurle le noctule. Montre-toi ou je détruis cette tour !
    </p>

  <div class="choix">
    <div class="ch" data-go="411">Continuer</div>
  </div>
</div>
