<div class="num num-1-3-296 retour-241">

  <div class="text chapter3">

    <h1> 296 </h1>

    <p>Tu continues ta route alors que les rues commencent à être plus agitées. Des gardes sont à terre. D'autres sont pourchassés ou capturés. Les assaillants semblent avoir l'avantage. Plus tu approches de l'école et plus les éléments semblent se déchainer. Le vent fait maintenant place à une véritable tempête surréaliste. La pluie te fouette le visage et avancer devient plus difficile.</p>

    <p>Te voilà devant la porte de l'école, des gens se barricadent juste à l'extérieur et lancent des sorts à l'intérieur à intervalle régulier. Mais de temps en temps un sort vient les percuter provenant des gardes à l'intérieur.</p>

    <p>Puis un grand soulagement les fait se lever et tous rentrer dans l'enceinte de l'école.</p>

    <p>
      - Venez ! Allister s'est chargé de ce type.
    </p>

    <p>Tu rentres en même temps que le groupe. Dès que tu le vois, tu comprends que c'est lui. Même avec son apparence humaine, cet homme qui donne des ordres aux milieu de ce chaos, c'est Usaki.</p>


  <div class="choix">
    <div class="ch" data-go="281">Continuer</div>
  </div>
</div>
