<div class="num num-1-3-297 retour-243">

  <div class="text chapter3">

    <h1> 297 </h1>

    <p>
      Vous partez tous les trois en zigzagant dans l'école devenue un champ de bataille. La police magique et les mages soutenants les prophètes d'un côté, la résistance de l'autre, composée d'anciens mages de l'Académie pour la plupart.
    </p>

    <p>
      En entrant au rez-de-chaussée une servante vous supplie de l'épargner. La pauvre est couverte de sang et ne doit rien comprendre à ce qu'il se passe. Ymir lui dit de se cacher dans un coin et vous continuer votre ascension de la tour.
    </p>

    <p>En grimpant les étages, tu observes par la fenêtre que les éléments commencent à se déchainer. Des éclairs zèbrent le ciel et la pluie s'accentue. Au deuxième étage, tout est calciné. Seules deux personnes sont présentes mais inconscientes. Anselm d'un côté et Pasha le mage supérieur du feu de l'autre. Tu t'approches rapidement de ton amie pour voir s'il va bien.</p>

    <p>Tu respires de soulagement quand tu sens son cœur battre, il a dû se battre jusqu'à l'épuisement. Mais il n'a aucune blessure sérieuse, seulement quelques brûlures. Pasha a, lui, reçu un énorme bloc de pierre sur la tête. Pas de chance pour lui, mais c'est vrai que la tour commence à vibrer et certaines briques ou objets tombent à terre.</p>

    <p>
      - Laisse-le ici, te dit Zaïra. Il est plus en sécurité là où il est que là où on va.
    </p>

    <p>Bien d'accord avec la mage, vous poursuivez votre chemin.</p>

  <div class="choix">
    <div class="ch" data-go="413">Continuer</div>
  </div>
</div>
