<div class="num num-1-3-298 retour-244">

  <div class="text chapter3">

    <h1> 298 </h1>

    <p>
      Marchant sans vraiment faire attention où tu vas, trop choqué<span class="sf">e</span> par ce que tu viens de vivre, tu ne remarques même pas que tu passes à côté de l'auberge et d'Haziko. La mage vient te tirer la manche pour que tu l'aperçoives.
    </p>

    <p>
      - Ha...ziko. Je… sais pas … comment dire ça.<br />
      - Qu'est-ce qu'y est arrivé aux autres ? demande-t-elle.<br />
      - Kannan a été faite prisonnière, commences-tu en craignant d'annoncer la suite,... Mac et Pa...excuse-moi c'est trop dur.
    </p>

    <p>Tu tombes en larmes dans les bras d'Haziko. La mage comprend vite ce qu'il se passe et elle te fait assoir à une table de l'auberge.</p>

    <p>
      - C'était une mission trop dure, fait Haziko. Même si vous avez réussi à avoir un des deux prophètes...<br />
      - Oui… snif… je ne vaux rien… je ne sais pas pourquoi je me suis pas battu<span class="sf">e</span>.<br />
      - Si tu l'avais fait tu serais mort<span class="sf">e</span> ! essaies de te réconforter Haziko. Vient, on doit prévenir Espéride le plus vite possible.
    </p>

    <p>Haziko sort un petit oiseau mécanique de sa poche, écrit un message sur un parchemin puis le colle à la patte de l'oiseau. Après cela l'artefact s'envole, porteur du message.</p>

    <p>
      - Il vaut mieux ne pas retourner à Eaux-Claires nous même, se méfie Haziko. Si ça se trouve, il y a des espions qui nous suivent. Mais mon oiseau magique va porter le message, ne t'en fais pas.
    </p>

  <div class="choix">
    <div class="ch" data-go="299">Continuer</div>
  </div>
</div>
