<div class="num num-1-3-299 retour-298">

  <div class="text chapter3">

    <h1> 299 </h1>

    <p>
      En prenant beaucoup de précautions, vous gagnez le quartier du port, où plusieurs personnes sont alliées à la résistance. Haziko et toi êtes accueillis à bras ouverts. C'est une petite maison de pêcheurs mais elle permet de loger une famille de sept personnes.
    </p>

    <p>Quand Haziko leur apprend que l prophète Méonie est morte, ils n'ont pas l'air si fou de joie. Méonie était une prophète qui venait régulièrement leur apporter de l'aide. La police magique, par contre, aux ordres d'Esteban - leur chef - et de <span class="naorem"></span> ne sont pas très appréciés. Mais vous leur expliquer que Méonie était la cible qu'on vous a demandé d'abattre et pas un autre.</p>

    <p>Comme ils voient que tu n'es pas en forme ils te proposent un lit pour te reposer. Tu n'arrives pas à dormir, mais tu entends Haziko leur expliquer pourquoi tu as l'air si mal en point. Et quand elle répète ce qu'il s'est passé tu ne peux t'empêcher de t'enrouler dans les draps en pleurant.</p>

    <p>Finalement la fatigue l'emporte et tu t'endors. Haziko vient te réveiller alors que tu ne pensais plus à tout ça.</p>

    <p>
      - Espéride a renvoyé l'oiseau, explique la mage. Nous avons des ordres ! La grande bataille sera cette nuit. Notre armée va attaquer l'Académie. Le général Allister et son armée seront là aussi !<br />
      - Qu... quoi ? réponds-tu sans trop comprendre, encore trop fatigué<span class="sf">e</span> par ta journée.<br />
      - Une partie de nos va débarquer dans le quartier du port, on doit faire une diversion pour rameuter le plus de policiers ici pendant qu'Espéride et Allister iront tuer <span class="naorem"></span>.
    </p>

    <p>Cette dernière phrase provoque l'électrochoc suffisant pour te remettre.</p>

    <p>
      - Ils nous laissent derrière !? fais-tu outré<span class="sf">e</span>.<br />
      - Hein ? Non, fait Haziko pour te calmer. Notre mission est importante aussi.<br />
      - <span class="naorem"></span> a tué Mac et Panacle... Je dois au moins être là quand il rendra son dernier souffle !
    </p>

    <p>Tu es en colère, de manière totalement irrationnelle. Tu n'as rien pu faire la dernière fois mais là tu veux être présent<span class="sf">e</span> quand même. Tu sautes du lit et tu te précipites dehors, filant vers l'école.</p>

    <p>
      - Mais attend ! Ils ne sont pas encore arrivés ! te hurle Haziko. Tu ne vas pas y aller seul<span class="sf">e</span> ?
    </p>

    <p>Tu es déjà trop loin pour l'entendre. Tu dois venger tes amis.</p>

  <div class="choix">
    <div class="ch" data-go="300">Continuer</div>
  </div>
</div>
