<div class="num num-1-3-30">

  <div class="text chapter3">

    <h1>- 30 -</h1>

    <p>Avec le temps tu as réussi quand même à maîtriser un peu ton pouvoir. Et s'il y a une chose que tu arrives à faire beaucoup mieux qu'avant, c'est à repérer les sources de magie. Il faut dire que toi-même tu en es une énorme.</p>

    <p>Même si les autres prophètes, héritiers du pouvoir, n'ont pas la même catégorie de magie tu devrais pouvoir les localiser. En te concentrant un peu tu as l'impression de ressentir deux énormes sources d'énergie vers le sud. Elles ont l'air ensemble. Mais tu n'arrives pas à trouver la troisième.</p>

    <p>N'ayant pas d'autres piste, tu te diriges à pleine vitesse vers l'endroit en question.</p>

    <p>Avec tes pouvoirs, tu ne mets pas longtemps à traverser les paysages en t'envolant. Tu commences à reconnaitre les collines qui défilent sous tes pieds : tu te rapproches de l'Académie. Oui, c'est sûr, les deux sources de magie gigantesques sont à l'Académie.</p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="32">Faire attention pour s'infiltrer dans l'Académie</div>
  </div>

</div>
