<div class="num num-1-3-300 retour-299">

  <div class="text chapter3">

    <h1> 300 </h1>

    <p>
      L'entrée de l'école est bien gardée. Tu ne sais pas trop comment rentrer. Peut-être avec un sort de masque ? Ou alors un sort de racines pourrait te faire une sorte de corde pour passer le mur d'enceinte. C'est là qu'Haziko te trouve, à bout de souffle.
    </p>

    <p>
      - Je...ouf… je sais ce que tu vas me dire, fait la mage. Mais Mac et Panacle sont mes amis aussi. Et suis autant triste que toi.<br />
      - Je ne resterai pas au port pendant que tout le monde sera ici, fais-tu déterminé<span class="sf">e</span>.<br />
      - Et je ne veux pas te prendre en plus des autres ! fait Haziko en te giflant.<br />
      - … Je … je l'ai peut-être méritée, t'excuses-tu.<br />
      - Ecoute, je viens de donner les consignes à Georc dans le quartier du port. Quand l'armée sera là, il y aura une grande explosion, ce sera le signe pour l'équipe d'Espéride d'infiltrer la tour de l'école. On entrera à ce moment là.<br />
      - Tu viens aussi. Haziko, il vaut...<br />
      - Je t'accompagne. La dernière fois j'avais peur de tout faire rater et d'être un boulet… mais être absente alors que j'aurai pu aider c'est quelque chose qui fait encore plus mal. Et en plus à deux on aura plus de chances que seul.
    </p>

    <p>Tu ne la reconnais presque pas. Elle qui a toujours été un peu froussarde semble avoir trouvé un courage exemplaire. Tu es content<span class="sf">e</span> de l'avoir avec toi.</p>

    <p>Vous restez quelques minutes encore, à vous cacher dans une ruelle sombre proche de l'école, quand une explosion retentit. Des policiers sortent de l'école et presque immédiatement. Vous profitez de cette diversion pour grimper par dessus le mur avec un sort de racines.</p>

    <p>Et Haziko te montre tout de suite quelque chose en te faisant signe d'être silencieu<span class="sf">se</span><span class="sg">x</span>. L'équipe d'Espéride, accompagné d'Anselm, est en train de pénétrer dans la tour.</p>


  <div class="choix">
    <div class="ch" data-go="423">Suivre l'équipe d'Espéride</div>
  </div>
</div>
