<div class="num num-1-3-301 retour-247">

  <div class="text chapter3">

    <h1> 301 </h1>

    <p>
      Accompagné<span class="sf">e</span> des deux mages légendaires vous regagnez l'île de l'Académie. Vous arrivez là-bas assez vite, Ymir ayant lancé un sort d'automatisation sur les rames pour que le bateau avance tout seul.
    </p>

    <p>C'est la saison chaude, et les nuits sont étouffantes, mais le ciel est suffisamment clair pour bien apprécier les étoiles. Cette nuit il fait encore plus chaud que d'habitude. Selon Zaïra c'est souvent signe que quelque chose d'important va se produire. Pendant le trajet, les deux mages te confie également un artefact.</p>

    <p>
      - Ceci est un "Ensommeillateur", il nous a permis d'endormir Soufflardent autrefois. Il sera efficace contre tout le monde. Même les prophètes.<br />
      - Cela s'utilise comment ? demandes-tu.<br />
      - Oh très simplement, t'explique Zaïra, tu le prends par la poignée puis tu essais de coller cette partie là sur la personne que tu veux endormir. Et enfin tu relâches tout.<br />
      - Ouah ! Même un sans-magie pour l'utiliser, fais-tu impressionné<span class="sf">e</span>.<br />
      - En fait non, corrige Ymir. Si tu n'as aucune magie, tu ne peux pas le coller. C'est l'énergie du porteur qui est aspiré dans l'artefact et qui permettra à l'objet de se coller.<br />
      - C'est... tout de même impressionnant.
    </p>

    <p>Zaïra a toute une panoplie de ces artefacts, elle les garde dans son sac magique au cas où. A vous trois vous allez pouvoir endormir toute l'Académie s'il le faut.</p>

    <p>Vous posez le pied sur le quai du quartier du port en vous déguisant grâce à vos sorts de masques. Puis vous allez vous posez à l'auberge de la tour. C'est un endroit un peu en hauteur, duquel vous pourrez voir des ennemis arriver et en plus vous avez vue sur la grande tour de magie de l'Académie.</p>

    <p>Vous n'avez pas à attendre très longtemps avant de voir des torches au loin du côté du grand pont. Puis une explosion retentit dans le quartier du port, et un début d'émeute se fait entendre.</p>

    <p>
      - Bien, les attaquants semblent faire une attaque en différents points, suggère Zaïra. Mais leur objectif principal est certainement la tour de magie.<br />
      - On devrait y aller, fais-tu.
    </p>

  <div class="choix">
    <div class="ch" data-go="302">Continuer</div>
  </div>
</div>
