<div class="num num-1-3-302 retour-301">

  <div class="text chapter3">

    <h1> 301 </h1>

    <p>
      Plusieurs gardes patrouillent dans la ville. Aussitôt l'explosion entendue, ils commencent à grouiller de partout et à se diriger vers le port. D'autres explosion retentissent.
    </p>

    <p>Cela vous facilite la tâche puisque vous allez dans le sens opposé.</p>

    <p>
      - Ceux qui ont fait ça devait espérer faire une diversion, lance Ymir. Il doit y avoir d'autres personnes qui veulent s'infiltrer dans la tour : comme prévu.
    </p>

    <p>Vous voilà à côté du mur d'enceinte de l'école. Ymir claque des talons et saute par dessus le mur de 3 mètres de haut.</p>

    <p>
      - Je ne sais pas faire ça ! dis tu en te retournant vers Zaïra.<br />
      - Je t'aide, fait la mage en te lançant en l'air comme si tu étais une plume.
    </p>

    <p>Tu retombes à l'intérieur de l'école comme un chat, à quatre pattes. Et juste au moment de te relever tu vois un groupe de personnes masquées rentrer discrètement dans la tour. Du doigt tu montres ce curieux défilé aux deux mages légendaires.</p>

    <p>
      - Suivons-les ! ordonne Zaïra.
    </p>

  <div class="choix">
    <div class="ch" data-go="438">Continuer</div>
  </div>
</div>
