<div class="num num-1-3-303 retour-252">

  <div class="text chapter3">

    <h1> 303 </h1>

    <p>
      En l'absence d'Espéride et de Kannan, tout le monde t'a désigné comme chef du groupe. Sur vos embarcations de fortunes vous voguez jusqu'à l'île de l'Académie. Tu envoies toutes les barques sauf la tienne vers le quartier du port. Ils devront faire une diversion et rameuter le plus de gardes possibles pour vous faciliter l'entrée dans la tour.
    </p>

    <p>
      Car c'est votre objectif à vous quatre : toi, Haziko, Anselm et Panacle. Vous allez tenter tout d'abord de délivrer Mac Lumy puis de trouver Lasseni pour qu'elle puisse vous aider. Enfin, détruire les prophètes. Sachant que l'armée d'Allister devrait arriver dans le même temps cela te semble jouable.
    </p>

    <p>
      - Je connais les geôles comme ma poche, fait Panacle. On devrait facilement trouver Mac.<br />
      - Mais… et s'ils avaient déjà … tué Mac… ? s'inquiète Haziko.<br />
      - Mieux vaut ne pas penser au pire tout de suite, fais-tu. Mais dans ce cas, il faudra trouver Lasseni au plus vite. Avec ses pouvoirs, elle devrait nous être d'une aide précieuse.
    </p>

    <p>Vous vous dirigez alors vers le quai de l'école. Réservé pour les personnes importantes et les livraisons de matériel et de nourriture. Mais il est surveillé par deux gardes en train de bailler.</p>

    <p>Haziko vous fait signe qu'elle s'en charge. Elle sort un oiseau mécanique assez gros, le remonte puis le guide par magie jusqu'au deux gardes.</p>

    <p>
      - Ouah ! T'as vu ce truc ? fait un des deux.<br />
      - C'est un albatros ou quoi ? Il est énorme !<br />
      - Un albatros ? Sur le lac Déluine ? Jamais vu ça… s'étonne le premier.
    </p>

    <p>Et l'oiseau ouvre son bec laissant s'échapper une épaisse fumée verte. A peine les deux gardes l'ayant respiré, qu'ils s'assoupissent en un instant. Vous pouvez débarquer sans problème et remonter les marches du quai pour atteindre directement l'école.</p>

  <div class="choix">
    <div class="ch" data-go="304">Continuer</div>
  </div>
</div>
