<div class="num num-1-3-304 retour-303">

  <div class="text chapter3">

    <h1> 304 </h1>

    <p>
      Pour atteindre les geôles il faut emprunter un escalier depuis le rez-de-chaussée de la tour. Vous vous cachez derrière un bosquet en attendant l'occasion pour pénétrer discrètement dans la tour.</p>

    <p>Puis, une explosion survient dans le quartier du port. Vos amis ont déjà commencé l'attaque. Des dizaines de policiers et de gardes sortent de la tour pour aller voir ce qu'il se passe. L'agitation permet de passer inaperçu avec toutes les personnes dans la cours de l'école. Les élèves et les serviteurs ont été réveillé également et vous n'avez aucun mal à vous infiltrer.</p>

    <p>
      - Bien, par contre quand je travaillais en tant que gardien, explique Panacle, on avait toujours un surveillant à la fin de la première volée de marche. On l'appelait le surveillant principal. Quand on descend les marches, c'est presqu'impossible qu'il ne nous voit pas. Son bureau est face aux escaliers.<br />
      - Dans ce cas on pourrait se faire passer pour des mages qui viennent mettre quelqu'un en prison, suggère Haziko.<br />
      - Ou bien on pourrait se faire un sort de masque et se faire passer pour des gardes, propose Anselm.<br />
      - Alors dans tous les cas : attention ! insiste Panacle. Il y a des artefacts juste derrière le bureau du surveillant. Ce sont des artefacts qui annule toute magie. Donc après le surveillant on ne pourra plus compter sur notre magie, compris ?
    </p>

  <div class="choix">
    <div class="ch" data-go="305">Choisir le plan d'Haziko</div>
    <div class="ch" data-go="306">Choisir le plan d'Anselm</div>
  </div>
</div>
