<div class="num num-1-3-305 retour-304">

  <div class="text chapter3">

    <h1> 305 </h1>

    <p>
      Tu expliques à tes camarades qu'Anselm et Haziko vont se faire passer pour des mages qui t'arrête toi. Comme Panacle a déjà travaillé ici tu préfères qu'il reste un peu en retrait et vous l'appellerai quand vous aurez éclaircie le passage. Car l'objectif est clair : neutraliser le surveillant.
    </p>

    <p>
      Vous descendez donc à trois, toi avec un sort de racine autour des mains que tu t'es lancé<span class="sf">e</span>. Tu sais que tu peux l'annuler quand tu veux. En arrivant en bas de la première volée d'escaliers, vous voyez un surveillant qui se met debout. Il a l'air assez vieux mais plutôt costaud, le nez un peu cassé, une dent en moins. Il pourrait ressembler à un de ces soldats trop vieux pour faire la guerre. Mais vous n'oubliez pas qu'il manie la magie avec précision s'il est un gardien.
    </p>

    <p>
      - Halte là, fait-il ! Qui êtes-vous ?<br />
      - Nous amenons un<span class="sf">e</span> prisonni<span class="sf">ère</span><span class="sg">er</span>, explique Anselm. C'est un des causeurs de troubles de ce soir.<br />
      - Ha ? L'explosion que j'ai entendu ? s'étonne le gardien. Vous avez déjà arrêté quelqu'un ?<br />
      - Vous êtes en train de mettre en doute les pouvoirs des prophètes ? lui dit Haziko. Ils sont déjà sur place, préparez-vous à recevoir du monde.<br />
      - Mince... moi qui pensais être peinard, grogne le vieux mage. Bon attendez je vous ouvre.
    </p>

    <p>Puis le mage s'arrête un instant.</p>

    <p>
      - Mais vous n'êtes pas de la police magique, si ? Vous n'avez pas vos uniformes.<br />
      - On… était en train de dormir au moment de l'attaque et le chef nous aurait passé un savon si on était en retard, tente d'expliquer Anselm. On a préféré oublié l'uniforme plutôt qu'être en retard.<br />
      - Ha ? C'est vrai qu'Esteban n'est pas connu pour sa patience, ricane le gardien en installant un artefact sur la porte principale.
    </p>

    <p>Après un dernier sort lancé, la porte s'ouvre. Tu annules alors immédiatement ton sort et lui lances un sort de glace sur les mains. Haziko sort alors une petite boule et la lance sur la mage. Cette dernière explose aussitôt et colle le gardien au mur dans une espèce de bouillie verdâtre. Enfin Anselm pose un bâillon sur la bouche de l'homme pour qu'il n'appelle pas les secours.</p>

    <p>Quand Panacle descend enfin vous rejoindre, il lance alors :</p>

    <p>
      - Je serai toujours étonné par ces sorts que je ne connais pas.<br />
      - Tu parles de ma bombe de "gluant nasal" ? fait Haziko.<br />
      - Heu … si c'est ce truc vert, oui. "Gluant nasal" ? C'est de la morve ? s'inquiète Panacle.<br />
      - Oui, mais c'était pas beau comme nom alors je l'ai renommé. C'est de la morve de limon du lac.
    </p>

    <p>Anselm et Panacle font une tête dégouttée et rentre dans la prison. Tu rigoles bien pendant que tu laisses passer Haziko devant toi. Tu espères que personne ne passera tout de suite par ici.</p>

  <div class="choix">
    <div class="ch" data-go="447">Continuer</div>
  </div>
</div>
