<div class="num num-1-3-306 retour-304">

  <div class="text chapter3">

    <h1> 306 </h1>

    <p>
      Vous lancez tous les quatre vos sorts de masques et descendez l'escalier.  En arrivant en bas de la première volée d'escaliers, vous voyez un surveillant qui se met debout. Il a l'air assez vieux mais plutôt costaud, le nez un peu cassé, une dent en moins. Il pourrait ressembler à un de ces soldats trop vieux pour faire la guerre. Mais vous n'oubliez pas qu'il manie la magie avec précision s'il est un gardien.
    </p>

    <p>
      - Halte là ! Que se passe-t-il ? demande le vieux mage. Qu'est-ce que c'était que l'explosion que j'ai entendu tantôt.<br />
      - Des rebelles ont attaqué le port, nous sommes venu renforcer la défense de la prison sur l'ordre des prophètes, expliques-tu. Ils pensent que c'est une diversion pour venir délivrer certaines personnes retenues ici.<br />
      - Hum… Bien. Mais ne me gênez pas dans mon travail, fait l'homme irrité.
    </p>

    <p>Puis l'homme fait mine de chercher un artefact pour ouvrir la porte mais sort un puissant "lanceur d'éclair". Tu as juste le temps de l'éviter mais l'éclair rebondit sur le mur et percute Anselm de plein fouet.</p>

    <p>Haziko sort une petite boule de sa poche et la lance sur le mage. Cette dernière explose aussitôt et colle le gardien au mur dans une espèce de bouillie verdâtre. Le vieil homme ne peut rient faire.</p>

    <p>
      - Comment nous avez-vous reconnu ? demandes-tu en annulant ton sort de masque.<br />
      - Vous êtes minables… Ici on est habitué à voir ce genre de sort. Repérer les sorts de masques c'est la base. Et puis votre déguisement était nul, il manquait le logo de la police brodé sur le revers de la manche. De plus, ce ne sont pas les prophètes qui donnent les ordres à la police mais c'est Esteban, cet imbécile de commandant.<br />
      - Hum… on a fait un paquet d'erreurs, reconnais-tu. Comment va Anselm ?<br />
      - Je… vais bien, fait le mage.
    </p>

    <p>Mais il est visiblement bien touché et ne sera pas d'une grande aide pour la suite. En tout cas, vos sorts de soins ne suffisent pas à le soigner complètement.</p>

    <p>
      - De toute façon vous n'arriverai jamais à ouvrir la porte de la prison sans moi, vous êtes bloqués.<br />
      - En fait il faut prendre l'artefact dans le tiroir, fait Panacle en révélant sa vraie nature. Et puis on le cale sur la porte et on lance le sort d'ouverture.
    </p>

    <p>Tout en faisant cela, la porte s'ouvre effectivement. Le vieux mage est stupéfait et il ne vous reste qu'à le bâillonner pour ne pas qu'il donne l'alerte.</p>

  <div class="choix">
    <div class="ch" data-go="447">Continuer</div>
  </div>
</div>
