<div class="num num-1-3-307 retour-253">

  <div class="text chapter3">

    <h1> 307 </h1>

    <p>
      Vous rentrez discrètement dans la tour en vous faufilant entre les élèves de l'école et les serviteurs réveillés par l'explosion. Puis vous montez directement, direction les étages les plus élevées, là où seront les prophètes. Mais à peine arrivés au deuxième étage qu'un individu vous barre la route. Mais il semble tout aussi surpris que vous.
    </p>

    <p>
      - Espéride ! Vous avez lâchement abandonné l'Académie quand les prophètes sont arrivés, que venez vous faire ici ?<br />
      - Pasha, lui répond Espéride, quelle désagréable surprise.
    </p>

    <p>Le mage supérieur du feu est devant vous. Ce qui signifie déjà que vos espions n'ont pas réussi à les tuer tous.</p>

    <p>
      - Je crois que je comprends, fait Pasha. Toute cette agitation, c'est vous ! Les assassins aussi je présume.<br />
      - Les prophètes ont dirigé cette Académie trop longtemps ! fait Espéride.
    </p>

    <p>Espéride connait le mieux le sort pour se débarrasser des prophètes. Tu lances alors un sort de racines sur les jambes de Pasha et tu pousses Espéride pour qu'elle passe.</p>

    <p>
      - Allez-y ! Je le retiens ! fais-tu.
    </p>

  <div class="choix">
    <div class="ch" data-go="308">Se battre contre Pasha</div>
  </div>
</div>
