<div class="num num-1-3-308 retour-307">

  <div class="text chapter3">

    <h1>- 307 -</h1>

    <p>
      Un mage supérieur ce n'est clairement pas le premier adversaire venu, mais tu arrives à esquiver ses sorts tant bien que mal. Il n'a pas l'air de te prendre de haut et utilise des techniques de combats que tu ne connaissais pas. Il ne mise pas tout sur ces sorts mais aussi sur son physique. Un grand coup de poing détruit ta dernière protection magique et te met à terre.
    </p>

    <p>
      - Les gens comme vous ne savent que détruire ! fait le mage. Nous, nous avons essayé de maintenir quelque chose, malgré la présence des prophètes. Et maintenant vous venez nous crachez au visage. Quelle insolence !
    </p>

    <p>Tu donnes alors un dernier coup dans tes mains et déclenche un sort de racines sur l'escalier. Les pousses écartent les pierres et commencent à faire tomber la volée de marches pendant que tu te retiens d'extrêmes justesse à une tapisserie sur le mur. </p>

    <p>Pasha tombe au rez-de-chaussée et tu essaies de monter à l'étage supérieur en escaladant la tapisserie. Mais surgissant de la fumée des débris de l'escalier tombé, Pasha fonce vers toi, visiblement indemne.</p>

    <p>Tu ne sais pas trop quoi faire jusqu'à ce qu'une sorte de liane sorte également de la fumée et attrape le mage supérieur du feu. Le faisant s'écrouler une deuxième fois tout en bas de la tour.</p>

    <p>Tu ne sais pas ce qu'il s'est passé mais tu as eu chaud. Tu continues ta montée laborieuse, tout en sachant que ce combat a déjà entamé tes réserves.</p>

  <div class="choix">
    <div class="ch" data-go="460">Continuer</div>
  </div>

</div>
