<div class="num num-1-3-309 retour-256">

  <div class="text chapter3">

    <h1>- 309 -</h1>

    <p>
      Il te faut un plan pour abattre <span class="naorem"></span>. Si tu fonces tête baissée, tu sais que tu vas mourir. Et sur ce quatrième étage, qui est désormais le sommet de la tour, tu es seul<span class="sf">e</span>.
    </p>

    <p>Option 1 : tenter de raisonner <span class="naorem"></span> en lui parlant de Méonie peut-être.</p>
    <p>Option 2 : tenter puiser ton énergie au maximum pour lui coller l'artefact sur le corps.</p>

  <div class="choix">
    <div class="ch" data-go="310">Option 1</div>
    <div class="ch" data-go="316">Option 2</div>
  </div>

</div>
