<div class="num num-1-3-31">

  <div class="text chapter3">

    <h1>- 31 -</h1>

    <p>Avec tes pouvoirs, tu ne mets pas longtemps à traverser les paysages en t'envolant. Tu commences à reconnaitre les collines qui défilent sous tes pieds : tu te rapproches de l'Académie. Plus tu te rapproches et plus tu sens deux sources de magie gigantesques provenir de ton ancienne école.</p>

    <p>Il y a certainement deux prophètes, héritiers du pouvoir de Soufflardent, dans l'Académie.</p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="32">Faire attention pour s'infiltrer dans l'Académie</div>
  </div>

</div>
