<div class="num num-1-3-310 retour-309">

  <div class="text chapter3">

    <h1>- 310 -</h1>

    <p>
      - <span class="naorem"></span> ! Arrête ça ! Tu penses que Méonie voulait te voir tout exploser ?<br />
      - Mais pour rebâtir, il faut d'abord tout détruire, explique le prophète. Et une fois que nous serons les deux seuls survivants, nous pourrons construire un monde meilleur, le monde de Méonie !<br />
      - Non ! Si tu détruis tout, toutes les personnes pour lesquelles se battaient Méonie mourront. Tout ce qu'elle a fait n'aura servi à rien.<br />
      - Tu parles de ces personnes qui l'ont tué ! Elles l'ont trahi et l'ont remercié en la tuant ! Pourquoi faudrait-il que je compatisse à la disparition de ces mécréants ?
    </p>

  <div class="choix">
    <div class="ch" data-go="311">Parce que le pardon est ce que Méonie voulait le plus transmettre</div>
    <div class="ch" data-go="313">Parce que même si c'est gens là doivent être puni, il y en a beaucoup qui mérite de vivre</div>
  </div>

</div>
