<div class="num num-1-3-312 retour-311">

  <div class="text chapter3">

    <h1>- FIN 4 -</h1>

    <p>
      Tu reprends conscience dans un lit. Bien au chaud. Tu arrives à ouvrir les yeux mais c'est comme si tu avais un voile colorant en jaune tout ce que tu vois. Les sons sont aussi très différents de ce que tu connaissais autrefois. C'est comme si tout ce que tu entendais était passé à travers une sourdine. Tu as un peu de mal à bouger les bras. C'est là que tu vois que l'on t'a posé des prothèses. Ce sont des artefacts que tu as à la place des bras. Mais tu arrives à sentir le monde qui t'entoure avec ces doigts mécaniques.
    </p>

    <p>
      - Docteur ! <span class="sf">Elle</span><span class="sg">Il</span> est réveillé<span class="sf">e</span> ! s'exclame quelqu'un.
    </p>

    <p>Tout de suite quelqu'un arrive à ton chevet. Tu ne la reconnais pas.</p>

    <p>
      - <span class="tonnom"></span>, tu te souviens de moi ? C'est Haziko.
    </p>

    <p>Haziko ? Non, cela ne te dit rien.</p>

    <p>
      - Tu as reçu de grosses blessures lors de ton combat contre <span class="naorem"></span>... Mais tu as sauvé la planète. On te remercie tous pour ça. Le conseil de magie a voté la construction d'une sculpture en ton honneur aujourd'hui.<br />
      - Je… ne comprends pas. J'ai fait quelque chose de bien ? demandes-tu.<br />
      - Tu ne t'en souviens pas ? C'est pas grave, ça va te revenir plus tard. Saches que je travailles d'arrache pied pour te remettre d'applomb. Après l'explosion de la lune, il y a eu des débris partout à tomber sur la terre. Tu verras, rien ne ressemble à ce que tu connaissais.<br />
      - Je… ne me souviens de rien.<br />
      - Ben ça te fera certainement moins mal au coeur dans ce cas là. Reposes-toi bien pour le moment.
    </p>

    <p class="middle">*</p>

    <p>Tu ne pouvais pas encore sortir du lit. Tes jambes n'étaient pas encore "réparées". Tu ne te souvenais absolument pas qui tu étais ni ce que tu avais fait. Mais tu avais du respect pour cette Haziko qui continuait de réparer ton corps avec ses artefacts. Mais tout ce que tu vivais semblait terne, une réalité qui ne valait pas le coup d'être vécue. Et tu déprimais. </p>

    <p>Par la suite plusieurs personnes vinrent te rendre visite.</p>

    <p>Tout d'abord une journaliste, une certaine Leng Fao. Tu ne te rappelais plus de qui elle était mais elle te remerciait pour ce que tu avais fait. Elle pleurait beaucoup car il parait qu'elle venait de la lune.</p>

    <p>Puis vint un groupe de plusieurs personnes qui parait-il étaient tes amis auparavant. L'une d'entre eux ferait d'ailleurs désormais parti du conseil de magie actuellement : une certaine Lasseni.</p>

    <p class="av-studieux">Une personne disant être ton frère vint également te rendre visite et il te raconta comment tu réussis à rentrer dans une école de magie appelée l'Académie. Il te parla de vos parents et de tout ce qu'il se souvenait. Malgré tout cela, aucun souvenir ne raviva ta mémoire.</p>
    <p class="av-populaire">Une personne disant être ton amie vint te voir. Une certaine Annette. Elle te confia que votre ami Rodolphe fut écrasé par des débris de lune mais qu'elle a fait une jolie stèle pour lui et toute sa famille. Quand tu iras mieux tu pourras aller le voir.</p>
    <p class="av-sportif">Une personne disant être ton ami<span class="sg">e</span> vint te voir. Un<span class="sg">e</span> certain<span class="sg">e</span> Levy. Vous avez visiblement vécu des moments ensembles, des bons et des plus difficiles. Est-ce que vous avez été amoureux. Tu ne t'en souviens plus. Mais <span class="sf">il</span><span class="sg">elle</span> est revenu<span class="sg">e</span> très souvent te voir .</p>

    <p>Enfin un gigantesque lapin vint te voir un jour. Et c'est très étrange car cette personne… te disait quelque chose. Il disait s'appeler Usaki, qu'il avait failli provoquer un massacre sur terre et qu'il venait s'excuser. Lui aussi venait de la lune et a perdu toutes les personnes qui lui était chères. Et au moment où il allait s'en allait ta main mécanique lui agrippa la jambes.</p>

    <p>
      - Je me souviens de votre visage, lui dis-tu. Est-ce qu'on était … ami ?<br />
      - Et bien… ce n'est pas ce que je pourrai...<br />
      - Est-ce que vous voulez bien être mon ami ? demandas-tu alors. Vous êtes la seule personne dont je me souviens un peu.
    </p>

    <p>Alors le visage du noctule s'éclaira et il se rassit. Vous parlâtes ensemble toute la journée, toi ne te souvenant de rien mais ayant enfin passé un bon moment depuis ton réveil. Avec un ami.</p>

  <!-- <div class="choix">
    <div class="ch" data-go="312">Epilogue</div>
  </div> -->

</div>
