<div class="num num-1-3-313 retour-310">

  <div class="text chapter3">

    <h1>- 313 -</h1>

    <p>
      - Non… même avec mes pouvoirs je ne peux punir tout ceux qui le mérite, s'effondre le prophète. C'est plus facile de détruire le monde...<br />
      - Personne n'a dit que ce serait facile <span class="naorem"></span> ! lui réponds-tu. Mais tu dois arrêter ça ! Commence par te calmer et je t'aiderai.
    </p>

    <p><span class="naorem"></span> ne répond rien. Il te regarde au bout d'un moment avec le sourire sur les lèvres mais l'air calme.</p>

    <p>
      - Merci <span class='tonnom'></span>. Je crois que je ne savais plus ce que je faisais.<br />
      - C'est pas grave, on va tout reconstruire, ok ?<br />
      - <span class='tonnom'></span>, notre place n'est pas ici, t'explique le prophète. On aurait jamais dû avoir ces pouvoirs. Je m'en rends compte maintenant. J'espère pouvoir me racheter de tout le mal que j'ai fait avec cette ultime action.
    </p>

    <p>Loin de calmer son énergie <span class="naorem"></span> lance un sort monumental. Son corps brille de partout et la tempête se tait. Puis il lévite légèrement et tu vois son corps en train de se décomposer.</p>

    <p>
      - Je vais rejoindre Méonie, encore merci pour tes mots.
    </p>

    <p>Puis chaque morceau du corps de <span class="naorem"></span> part dans une direction différente, créant un véritable feu d'artifice multicolore et frappant les morceaux de lune qui commençaient à tomber sur la terre. Grâce à ce dernier sort, le prophète permet d'éviter une catastrophe sans précédent.</p>

    <p>Zaïra te fait un sourire en se remettant debout. Elle soigne Ymir qui en avait besoin également. Et quand tu pensais que tout était enfin fini, Usaki débarqua au quatrième étage de la tour. Sans son sort pour se dissimuler, le grand lapin semble bien triste de voir la lune détruite.</p>

    <p>
      - <span class="naorem"></span> a détruit la lune, lui dis-tu. Est-ce que tu es venu chercher vengeance ?<br />
      - … La vengeance ne ramènera pas les miens ... fait le noctule.<br />
      - Cela veut-il dire que tu ne nous feras plus de mal ?
    </p>

    <p>Le noctule ne répond pas, il préfère redescendre par où il était venu. Lasseni et Fandrean qui venaient d'arriver le laisse passer. Tu commences à tout leur raconter.</p>

  <div class="choix">
    <div class="ch" data-go="314">Continuer</div>
  </div>

</div>
