<div class="num num-1-3-314 retour-313">

  <div class="text chapter3">

    <h1>- 314 -</h1>

    <p>
      En étant le dernier des prophètes encore en vie il ne te restait qu'une chose à faire pour mettre un terme à l'attaque de la résistance. Ymir et Zaïra t'aidèrent à rendre tes pouvoirs à la terre. La magie de Soufflardent était finalement entièrement retournée de là où elle venait.
    </p>

    <p>Les deux mages légendaires, accompagnées de Lasseni et Fandrean n'eurent aucun mal à faire arrêter le combat. D'autant plus que leur général - Allister - était parti on ne sait où.</p>

    <p>
      L'île de l'Académie était en morceaux, à cause de l'attaque de la résistance mais aussi et surtout à cause du déchainement des pouvoirs de <span class="naorem"></span>. La police magique, abandonné de ses prophètes, rendit les armes. Et Esteban, leur chef fut arrêté.
    </p>

    <p>
      Lasseni te tira la manche pour te féliciter, et tu lui répondis d'un sourire gêné. Et malgré les nombreux morts, le climat général fut à la fête. Tout le reste de la nuit la cité fit entendre flûtes et trompettes et on commença à déblayer les dégâts en mangeant quelques tourtes.
    </p>

    <p>
      En attendant qu'un nouveau conseil de magie fut choisi, c'est Espéride Mazénian, un des général de la résistance qui fut mise aux commandes de la nouvelle Académie.<br />
      Tu retrouvas tous tes amis. Lasseni bien entendu, mais aussi Mac, Haziko, Panacle, Anselm et Kannan.
    </p>


  <div class="choix">
    <div class="ch" data-go="315">Epilogue</div>
  </div>

</div>
