<div class="num num-1-3-315 retour-314">

  <div class="text chapter3">

    <h1>- FIN 5 -</h1>

    <p>
      Une grande assemblée fut faite pour choisir le conseil de magie de la nouvelle Académie. Ymir et Zaïra furent présentés, et comme ils refusaient tous les deux d'en faire partie, chacun pensa que c'était une bonne idée qu'ils aident à désigner les personnes méritantes.
    </p>

    <p>
      Tout d'abord, les mages de la résistance voulaient qu'Espéride en fasse partie. Mais cette dernière refusa, contre toute attente. Elle expliqua qu'elle avait travaillé pendant des années pour Soufflardent et que quand le grand dragon avait donné ses pouvoirs aux prophètes elle avait compris son erreur. Devant cette révélation, et les sifflets de honte qu'elle provoqua, Espéride expliqua qu'elle partirait en exil dans les terres barbares dès qu'elle aurait fini d'aider à nettoyer les dommages dans la ville.
    </p>

    <p>
      Ymir et Zaïra choisir alors un premier mage qui fit l'unanimité : Fandrean. Le petit-fils des mages légendaires, celui qui débarrassa le monde de Soufflardent - oui c'est cette version qui restera dans les livres d'histoire - accepta le poste.
    </p>

    <p>
      Et là, tu ne vis pas arriver la suite. On te proposa de devenir également membre du conseil. Mais les regards de la foule, à cause de ton ancienne appartenance aux prophètes, te forcèrent à refuser. Mais tu préféras introduire quelqu'un d'autre pour te remplacer. Leng Fao, qui avait fait venir sur terre une partie de son village lunaire avant sa destruction. Elle permettra de rendre la survie, des derniers de son espèces, possible. Ymir et Zaïra validèrent la proposition.
    </p>

    <p>Parmi les anciens membres du conseil, Mullihane fut la seule à garder son poste. Les autres eurent pour mission d'aider à reconstruire la tour d'Azano. C'était l'endroit où ils avaient autrefois envoyé Fandrean.</p>

    <p>
      Et pour finir, les deux mages légendaires proposèrent également de rajouter un sans-magie au conseil. Chose qui fit bondir beaucoup de monde. C'est une idée que tu aurais aimé mettre en place et tu l'applaudis. Un vieux pêcheur qui passe désormais son temps le nez dans les livres, fut choisi. Pour permettre aux mages de ne pas s'accaparer tout le pouvoir.
    </p>

    <p class="middle">*</p>

    <p class="av-riche">
      Le temps passa et la nouvelle Académie commença à reprendre des couleurs. Un gigantesque parc mémorial fut consacré aux victimes de la "guerre des prophètes". Ceux qui voulaient y enterrer leurs proches décédés le pouvaient. C'est là que tu as décidé d'enterrer ta mère. Aujourd'hui, avec ton père, vous venez faire une petite prière à celle qui a donné sa vie en essayant de protéger la cité des prophètes. Elle mourut en protégeant des élèves de l'école parait-il. Ton père t'appris également qu'elle avait travaillé pour Ymir et Zaïra comme espionne de la forteresse de la lune. Et c'est pour cela qu'elle ne voulait pas que tu fasses de magie, elle savait toutes les horreurs qui s'y cachait. Mais elle a toujours cru en toi.
    </p>
    <p class="av-studieux">
      L'école ne réouvrit pas tout de suite. Et tu réussis à retrouver ton frère à Sarambe. Il s'était enfui là-bas quand les prophètes attaquèrent l'Académie. Quand tu le revis, tu lui racontas toutes tes aventures : de la forteresse de la lune à Soufflardent, des prophètes à Usaki. Une version qu'il ne trouverait jamais dans les parchemins. Eran te confia également qu'il allait arrêter la magie. Ce n'était pas pour lui et la vie à Sarambe lui avait finalement toujours plu : il connait du monde et a trouvé un travail à la ferme de monsieur Foin. Tu es content<span class="sf">e</span> qu'il ait trouvé ce qu'il voulait faire.
    </p>
    <p class="av-populaire">
      En aidant à déblayer la cité, tu tomba sur Rodolphe et son père qui faisaient un brin de ménage dans leur boutique. Sans te faire prier, tu aidas ton amie avec ta magie. Annette vint vous voir à la fin avec quelques tartes toutes chaudes pour vous remettre de vos efforts. C'est vrai que la cité avait souffert mais finalement, ce sont les mages qui ont payé le plus lourd tribu. La population, elle, s'en est plutôt bien sorti. Et ça te fait plaisir pour tes amis.
    </p>
    <p class="av-sportif">
      Levy te retrouva après tant de temps séparés. Il t'expliqua qu'il faisait parti de la troupe d'Allister quand la résistance attaqua. Et que lui dirigeait une section de mages à dos de dragons. Chacun d'entre vous raconta ses aventures et vous passèrent l'après-midi ensemble. A la fin, <span class="sf">il</span><span class="sg">elle</span> t'expliqua qu'<span class="sf">il</span><span class="sg">elle</span> aimerait bien se poser, que l'aventure c'était peut-être terminé pour <span class="sf">lui</span><span class="sg">elle</span>. Et quand tu lui demandas pourquoi, <span class="sf">il</span><span class="sg">elle</span> te demanda en mariage, que ce serait toi sa nouvelle aventure… Et tu acceptas.
    </p>
    <p class="av-courageux">
      Tu ne pus jamais vraiment accepter de ne recevoir aucune punition. Tu faisais parti<span class="sf">e</span> des prophètes et tu as causé du tord à des gens, tu en es persuadé<span class="sf">e</span>. Tu expliquas alors à Ymir et Zaïra, qui restèrent à l'Académie pour faire leurs recherches, que tu allais partir en exil, comme Espéride. Que tu irais au delà des frontières connues et que tu reviendrais avec quelque chose qui te fera pardonner. Et à peine eus-tu passé la colline derrière le lac Déluine, qu'un compagnon se proposa à ton voyage. Usaki, le noctule, ne savant plus où était sa place, demanda s'il pouvait t'accompagner. Tu lui serras la patte pour lui signifier que oui. Et vous partîtes vers l'ouest espérant peut-être retrouver Espéride.
    </p>

  <!-- <div class="choix">
    <div class="ch" data-go="315">Epilogue</div>
  </div> -->

</div>
