<div class="num num-1-3-316 retour-309">

  <div class="text chapter3">

    <h1>- 316 -</h1>

    <p>Le prophète déchaine encore plus les éléments, Zaïra commence à voir sa peau s'arracher devant la violence de l'énergie produite. Elle hurle de douleur en essayant de garder Ymir sous son bras.</p>

    <p>Tu te jettes vers <span class="naorem"></span> en essayant à tout prix de lui rentrer dedans et percer ses défenses. Mais tu es bloqué<span class="sf">e</span> par une barrière de vent créée par le prophète. Tu es immobile à 50 centimètres de lui sans pouvoir avancer d'un pas de plus.</p>

    <p>Puis d'un coup l'artefact se brise et les éclats viennent entailler ta chaire. Il n'y a plus moyen de l'arrêter.</p>

    <p>Mais tu te reprends très vite. S'il peut faire ça tu peux le faire aussi. Tu plaques tes deux mains sur son vortex d'énergie qui l'entoure et tu concentres à ton tour ta propre énergie magique. Et tu décides que tu vas encaisser sur toi la totalité des pouvoirs que <span class="naorem"></span> déclenche. C'est le seul moyen de sauver la planète.</p>

    <p>Zaïra perd conscience et les deux mages légendaires finissent en charpie dans la tempête d'énergie crée par le prophète. Tu commences alors à rediriger les pouvoirs vers toi et tes ongles s'arrachent au premier instant. Puis des canaux sanguins de tes bras explosent, tes oreilles et tes yeux saignent. Tu sens l'énergie saturer en toi. Tu vas déborder d'énergie. Déjà une lumière brille au niveau de ton ventre, une partie de l'énergie absorbée ressort par ton nombril. Il faut que tu fasses mieux que ça.</p>

    <p>Mais la folie de <span class='naorem'></span> a exalté ses pouvoirs. Tes tympans explosent et tu n'entends plus rien. Tes yeux se brouillent et tu ne vois plus rien.</p>

    <p>Puis toutes les douleurs s'estompent, tu ressens une drôle de douce chaleur dans tout ton corps. Tu te sens vraiment bien. C'est une nouvelle énergie. Quelque chose que tu n'avais encore jamais ressenti. Une énergie douce qui ne vient ni de Soufflardent ni de la lune.</p>

    <p>Tu te rends compte que c'est la planète elle-même qui te prête son énergie. Devant le danger de voir toute vie s'éteindre, elle a voulu t'aider. Tu te sens surpuissante d'un coup et arrive facilement à absorber toute l'énergie du prophète. Tu l'as vidé, tu lui as pris tous ses pouvoirs.</p>

    <p>La tempête se calme instantanément. Tu restes quelques instants debout toujours bien. Et tu vois l'énergie en toi repartir vers la terre. Ton pouvoir est absorbée par la terre comme tu viens d'absorber le pouvoir de <span class="naorem"></span>.</p>

    <p>Sitôt la dernière part d'énergie en toi partie, la sensation de bien être se fane et tu tombes par terre. Tu ne peux plus bouger, plus voir, plus entendre. La douleur en toi est insupportable. Tu sombres dans l'inconscience...</p>

  <div class="choix">
    <div class="ch" data-go="312">Epilogue</div>
  </div>

</div>
