<div class="num num-1-3-317 retour-260">

  <div class="text chapter3">

    <h1>- 317 -</h1>

    <p>
      Peut-être que la résistance n'a pas apprécié que vous arrêtiez leurs espions car les jardins semblent grouiller de monde. Des explosions retentissent dans la ville. Et cet assassin dans ta chambre... Ils sont en train de faire leur attaque finale.
    </p>

    <p>
      A peine sorti<span class="sf">e</span> de ta chambre tu tombes sur <span class="naorem"></span>, les mains pleines de sang.
    </p>

    <p>
      - Toi aussi, tu as eu de la visite ? lui demandes-tu.<br />
      - Rien de grave, mais j'ai l'impression qu'ils font une attaque d'envergure. Je vais voir ce qu'il se passe en bas. Toi, préviens Méonie et les mages supérieurs.
    </p>

    <p>
      Tu acquiesces et va toquer à la chambre de Méonie, la porte a été forcée. Mais la prophète t'ouvre toute calme, deux assassins changés en statue dans sa chambre. Vous commencez à descendre à l'étage du dessous, tu dis à Méonie de rejoindre <span class="naorem"></span> pendant que tu préviens les mages supérieurs.
    </p>

    <p>Mais c'est malheureusement assez rapide, les corps de Soyos et Andaelor sont dans leur chambre. Tu comprends que les assassins sont passés par là également. Et la chambre de Pasha est déserte, le corps d'un homme masqué calciné prouve qu'il a réussi à se débrouiller.</p>

    <p>Sans demander ton reste tu continues ta descente en espérant rejoindre les deux prophètes.</p>

  <div class="choix">
    <div class="ch" data-go="318">Continuer</div>
  </div>

</div>
