<div class="num num-1-3-318 retour-263 317">

  <div class="text chapter3">

    <h1>- 318 -</h1>

    <p>
      Tu arrives au quatrième étage, anciennement l'étage du réfectoire des gardes. Désormais les tables sont toutes détruites et les présentoirs à nourriture sont en morceaux. Quelques gardes et mages semblent inconscients un peu partout dans la pièce. Et un terrible combat semble se préparer.
    </p>

    <p>
      D'un côté Espéride accompagnée de quelques mages que tu as déjà vu à la forteresse de la lune. <span class="kannan-morte">Panacle, Haziko et Anselm sont là également.</span><span class="kannan-vivante">Kannan, Panacle, Haziko et Anselm sont là également.</span> A l'autre bout de la pièce <span class="naorem"></span> et Méonie, côte-à-côte.
    </p>

    <p>
      - Ha ! Avec un troisième prophète qui vient d'arriver votre compte est bon, fait le prophète.<br />
      - <span class="tonnom"></span> ! te crie Espéride. On va avoir besoin de ton aide. Tu n'es pas comme eux ! Si tu ne nous aides pas ce sont ces deux là qui vont mettre le chaos !<br />
      - <span class="tonnom"></span> est de notre côté ! s'insurge Méonie.
    </p>

    <p>Tu sais que le groupe d'Espéride à ses chances, ils connaissent des sorts pour contrer les prophètes, mais elles sont minces. Qui aider ?</p>

  <div class="choix">
    <div class="ch" data-go="470">Aider le groupe d'Espéride</div>
    <div class="ch" data-go="471">Aider les deux prophètes</div>
  </div>

</div>
