<div class="num num-1-3-319 retour-266">

  <div class="text chapter3">

    <h1>- 319 -</h1>

    <p>
      Le soir venu, une grande troupe arrive au village, cela semble être l'arrivée du général. Après quelques félicitations aux troupes en place, il vient vous voir, toi et Mullihane.
    </p>

    <p>
      - Bien, on m'a dit que vous vous étiez bien battus, fait Allister. Cette nuit nous lançons notre grande offensive sur l'Académie, nous espérons que vous vous joindrez à l'opération.<br />
      - Au point où j'en suis, répond Mullihane, autant battre le fer quand il est chaud, hein ? Je viens avec vous.
    </p>

    <p>Allister se tourne vers toi et semble attendre la réponse, mais tu le fixes avec un regard noir.</p>

    <p>
      - On peut se parler en privé ? demandes-tu.
    </p>

    <p>D'un geste il te fait signe de le suivre et il rentre dans une tente d'où il fait sortir tout le monde.</p>

    <p>
      - J'ai mis un sort sur la tente, personne ne nous entendra, fait Allister. Alors ? De quoi voulais-tu parler ?<br />
      - Oh ça va. Ne fait pas l'innocent, je sais que tu es Usaki.<br />
      - Oui c'est vrai, reconnait le noctule. Mais nous avons un but commun : tu t'es allié<span class="sf">e</span> à la résistance maintenant. Je te propose qu'on s'occupe d'abord des deux autres prophètes et on règlera nos différents plus tard. D'accord ?
    </p>

    <p>Il semble complètement à ta merci mais tu sais qu'il doit avoir un plan si tu l'attaques.</p>

    <p>
      - Entendu, réponds-tu. Mais ne crois pas que j'oublierai.
    </p>

  <div class="choix">
    <div class="ch" data-go="320">Continuer</div>
  </div>

</div>
