<div class="num num-1-3-32">

  <div class="text chapter3">

    <h1>- 32 -</h1>

    <p>Alors que tu te demandais comment rentrer discrètement quelqu'un apparait juste sous tes yeux, par magie. C'est <span class="naorem"></span>, l'un des prophètes.</p>

    <p>
      - <span class="tonnom"></span> ! fait-il surpris en apparaissant dans les airs devant toi. Je croyais que c'était Arak qui revenait.<br />
      - Hum… Qu'est-ce que tu fais à l'Académie ? lui fais-tu.<br />
      - Hé hé. Nous avons pris le contrôle de l'école. Soyos et les autres sont nos marionnettes désormais. On a bien essayé de te retrouver mais bizarrement on n'a jamais pu localiser ton énergie.<br />
      - Oui je me cachais alors j'ai pris soin de rendre mon énergie invisible, lui réponds-tu. Mais... si vous êtes aux commandes ici, ça veut dire que c'est vous qui avez capturé Fandrean et Lasseni ?
    </p>

    <p>Le jeune mage semble très fier quand tu fais référence à ça.</p>

    <p>
      - Oui, ils avaient rassemblé beaucoup de mages et la population était aussi avec eux. Ils voulaient renverser le pouvoir de l'Académie. Malheureusement pour eux, nous étions là et personne ne peut contrer notre pouvoir.<br />
      - Hum… du coup, est-ce que je peux venir à l'Académie sans être inquiété<span class="sf">e</span> ?<br />
      - Oui, tout à fait. Viens faire un tour, tu verras comme on a déjà bien arrangé les choses à notre vision.
    </p>

    <p><span class="naorem"></span> te fait un signe de la main et vous redescendez calmement jusqu'à la première cours de l'Académie.</p>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="33">Continuer</div>
  </div>

</div>
