<div class="num num-1-3-320 retour-319">

  <div class="text chapter3">

    <h1>- 320 -</h1>

    <p>
      Votre armée part quelques heures après l'arrivée d'Allister. Il ne vous faudra pas si longtemps avant d'arriver au pont de l'Académie. Des mages rigolent en disant qu'ils ne peuvent plus perdre avec un prophète et le général de leur côté. Ils oublient un peu vite la démonstration que leur ont fait Méonie et <span class="naorem"></span>.
    </p>

    <p>
      C'est fait, vous y voilà. L'armée est devant le pont menant à l'île de l'Académie.
    </p>

    <p>
      - Halte ! fait Allister. Nous devons attendre le signal de notre deuxième équipe.
    </p>

    <p>Le "signal" ne se fait pas attendre, une explosion dans le quartier du port.</p>

    <p>
      - Vous… attaquez la population ? demandes-tu à Usaki.<br />
      - Il s'agit simplement d'une diversion pour que nos troupes puissent arriver plus facilement à l'école, fait le noctule en te souriant.
    </p>

    <p>La charge est sonnée, la direction donnée : l'école. L'armée file sur le grand pont. Le premier obstacle est la porte d'entrée de la ville, fermée la nuit. Mais tu préfères ne pas perdre de temps et tu transformes le bois de la porte en eau. Tout le monde passe plus rapidement. Les explosions continuent dans le quartier du port.</p>

    <p>Tu suis Usaki qui se dirige vers l'école à vive allure, sur son cheval. Là-bas les mages de la tour semblent se défendre contre des membres de la résistance déjà là.</p>

    <p>
      - Au rapport, leur demande Usaki.<br />
      - Des mages nous barrent le chemin ! Il y en a un qui est vraiment trop puissant ! fait un des mages résistants.<br />
      - Hum… <span class="tonnom"></span>, montre tes pouvoirs, élimine ce mage ! dit Usaki avec un sourire sadique.
    </p>

  <div class="choix">
    <div class="ch" data-go="321">Accepter</div>
    <div class="ch" data-go="322">Refuser</div>
  </div>

</div>
