<div class="num num-1-3-321 retour-320">

  <div class="text chapter3">

    <h1>- 321 -</h1>

    <p>
      - Ok, mais je suis là pour vous aider contre les prophètes ! Les autres vous devrez vous débrouiller seuls après.<br />
      - Oui oui, bien sûr, se moque un peu Usaki.
    </p>

    <p>Décidemment tu te dis que tu es en train de te faire manipuler par le noctule mais tu le frapperas au moment où il ne s'y attendra pas. Tu rentres par l'entrée défoncée. Pasha, le mage supérieur du feu est là. D'abord surpris de te voir, et commençant à suer à grosses gouttes il t'apostophe :</p>

    <p>
      - <span class="tonnom"></span> ! On m'a dit que tu nous avais trahi ! Nous avons capturé des amis à toi et si jamais tu f...
    </p>

    <p>Mais tu ne le laisses pas finir sa phrase et commence à lancer un rayon laser avec tes yeux. La jambe de Pasha tombe à terre quand il essaie de l'éviter.</p>

    <p>
      - Tu ne veux pas m'écouter ? fait le mage entre rage et inquiétude.
    </p>

    <p>Mais tu préfères en finir. Pasha était un de ceux qui ont toujours menti à la population, il a essayé de tuer les mages légendaires et n'a pas hésité à travailler pou les prophètes. Il méritait de mourir. En compressant l'air au dessus de lui, tu enfonces le mage supérieur dans deux mètres de terre. Il ne bouge plus.</p>

    <p>
      - Tous à l'intérieur, s'écrie Usaki en s'engageant de son côté vers la tour.
    </p>

  <div class="choix">
    <div class="ch" data-go="461">Suivre Usaki</div>
  </div>

</div>
