<div class="num num-1-3-322 retour-320">

  <div class="text chapter3">

    <h1>- 322 -</h1>

    <p>
      - Hors de question. Je suis juste là quand vous affronterez les prophètes. Si vous n'êtes pas capable d'arriver jusqu'à eux autant arrêter tout de suite.<br />
      - Qu... tu avais promis de nous aider, s'énerve Usaki.<br />
      - …Contre les prophètes, oui, rectifies-tu.
    </p>

    <p>Tu rayonnes de joie en voyant Usaki faire une crise. Puis il descend de son cheval et va mettre au pas le mage lui-même. Tu décides de regarder le combat en passant la tête par un endroit où le mur d'enceinte est cassé. Le mage puissant n'est autre que Pasha : un des mages supérieurs. S'il pouvait tuer Usaki cela ne te dérangerait pas.</p>

    <p>Le combat débute et les sorts fusent. Tu en profites pour voir les nouveaux sorts d'Usaki. Il n'utilise que des sorts de magie de la lune, pour ne pas se faire contrer par un prophète. Et au bout d'un combat formidable Usaki l'emporte de justesse, tuant Pasha d'un sort lui arrêtant le cœur. Le noctule reprend ses esprits et lance à ses hommes et à toi.</p>

    <p>
      - Tous à l'intérieur, s'écrie Usaki en s'engageant de son côté vers la tour.
    </p>

  <div class="choix">
    <div class="ch" data-go="461">Suivre Usaki</div>
  </div>

</div>
