<div class="num num-1-3-323 retour-267">

  <div class="text chapter3">

    <h1>- 323 -</h1>

    <p>
      Toujours en lévitation dans les airs, tu attends le bon moment pour attaquer le noctule. Son armée passe la porte. Des chevaucheurs de dragon-fées sont là et filent à côté de toi sans te voir grâce à ton invisibilité.
    </p>

    <p class="av-sportif">Tu arrives à reconnaitre Levy parmi les monteurs de dragons. Mais bien sûr tu ne peux pas aller le voir.</p>

    <p>
      Les troupes commencent à avancer jusqu'à l'école. Les policiers et les gardes de la ville semblent débordés de tous les côtés. Tu ne sais pas vraiment ce que fait <span class="naorem"></span> mais tu n'as qu'un objectif : Usaki. L'école semble être le dernier bastion des sympathisants des prophètes. Un mage semble à lui seul pouvoir repousser toutes les attaques des résistants. C'est Pasha, le mage supérieur du feu.
    </p>

    <p>Usaki est obligé de s'en occuper lui-même. C'est le meilleur moment pour l'attaquer ! Quand il sera en plein combat contre un des plus puissants mages de l'Académie, il ne pensera pas à regarder tes mouvements.</p>

    <p>Mais Pasha va peut-être prendre un coup sans que tu ne le veuilles.</p>

  <div class="choix">
    <div class="ch" data-go="324">Frapper à pleine puissance - Pasha sera peut-être blessé</div>
    <div class="ch" data-go="325">Réduire la puissance de ton sort pour ne pas toucher Pasha</div>
  </div>

</div>
