<div class="num num-1-3-324 retour-323">

  <div class="text chapter3">

    <h1>- 324 -</h1>

    <p>
      Qu'importe les dommages collatéraux !  Tu l'as dit de nombreuses fois : seul Usaki est important, il doit mourir. Tu attends le moment où il prépare un premier sort et tu concentres ton énergie sur le noctule.
    </p>

    <p>
      La terre se soulève alors frappée par un rayon de lumière intense. Une lumière qui dévore la chair et brûle comme du feu. Usaki est frappé de plein fouet sans comprendre d'où vient l'attaque. Pasha aussi est dans le rayon du sort et commence à hurler de douleur. D'autres mages de l'école et des résistants, pris également dans ton sort d'une puissance effroyable, fondent comme neige au soleil.
    </p>

    <p>
      Tu atterris devant les restes fumants d'Usaki. C'est fait ! Tu as enfin réussi à débarrasser le monde de cet être abject.
    </p>

    <p>
      - Général ! Non, général ! Vous ne pouvez pas mourir, pleure un soldat de la résistance.<br />
      - Vive le prophète <span class="tonnom"></span> scandent des gardes de l'école.
    </p>

    <p>Tu te retournes alors vers les attaquants, toujours plus nombreux que vous mais qui viennent aussi d'être témoin d'un sort bouleversant.</p>

    <p>
      - Si vous vous rendez maintenant, nous saurons être magnanime, fais-tu. Mais pour ceux qui veulent continuer le combat, je suis là.
    </p>

    <p>Certains t'attaquent de fureur, mais leur colère les aveugles et tu esquives leurs sorts de magie de la lune très facilement. Et après avoir éliminé encore une dizaine de résistants, tu vois ceux qui restent commencer à se rendre.</p>


  <div class="choix">
    <div class="ch" data-go="472">Continuer</div>
  </div>

</div>
