<div class="num num-1-3-325 retour-323">

  <div class="text chapter3">

    <h1>- 325 -</h1>

    <p>
      Qu'importe les dommages collatéraux !  Tu l'as dit de nombreuses fois : seul Usaki est important, il doit mourir. Tu attends le moment où il prépare un premier sort et tu te téléportes dans le dos du noctule et lui envoie une décharge ardente en plaquant tes mains sur son dos. Pasha en profite également pour lui percer le cœur avec une flèche de magma.
    </p>

    <p>
      En mourant, Usaki reprend sa forme de noctule. Ce qui te permet de crier aux résistants présents :
    </p>

    <p>
      - Vous avez été manipulé, soldats de la résistance. Manipulés par ce monstre venue d'ailleurs ! Vous avez cru ses mensonges alors que nous avons toujours essayé de le supprimer. Terrasser cet être a été la tâche que m'a confié Soufflardent avant de mourir. Vous pouvez continuer de nous combattre mais au nom de quoi ? De votre liberté ? Nous vous l'avons déjà laissé. Pour le pouvoir ? Bon nombre d'entre vous n'en avez pas avant, et de notre côté nous offrons des postes à l'Académie pour nous servir. Vous trouvez que nous sommes despotiques ? Mais comment se comportait le conseil de la magie avant ?
    </p>

    <p>Ton petit discours calme les ardeurs des résistants même les plus inspirés. Surtout, en voyant le corps monstrueux d'Usaki, ils ont eu le choc de leur vie. Et tous commencent à rendre les armes. Pasha n'a pas eu l'air d'apprécier la fin de ton monologue mais il a l'air de te respecter. Tu donnes l'ordre de ne pas faire de mal aux résistants qui voudraient se rendre.</p>

  <div class="choix">
    <div class="ch" data-go="472">Continuer</div>
  </div>

</div>
