<div class="num num-1-3-326 retour-268">

  <div class="text chapter3">

    <h1>- 326 -</h1>

    <p>
      - Kannan, je te laisse les rênes de la mission, dit Espéride. Je dois affronter ce mage moi-même.<br />
      - Entendu, mais vous n'avez pas intérêt à mourir, lui lâche Kannan en commençant à grimper à l'étage d'au dessus.
    </p>

    <p>Vous lui emboitez le pas. Cependant Pasha ne laisse, bien sûr, pas tout ce joli monde passer sans réagir. Il commence à incanter rapidement un sort mais Espéride se jette sur lui en lui tenant les deux mains. Cela vous laisse suffisamment de temps pour que le mage supérieur du feu ne vous embête pas. L'instant d'après il souffle une flamme énorme sur Espéride. Elle se protège de ses mains puis tu n'arrives plus à voir ce qu'il se passe.</p>

    <p>Vous poursuivez votre montée de la tour quand des dizaines de serviteurs déboulent affolés. Vous avez juste le temps de vous plaquez sur les bords de l'escalier pour les laisser passer.</p>

    <p>
      - Il doit y avoir du grabuge pas loin, fait Mac Lumy.<br />
      - Il doit nous rester quelques espions dans la tour, dit Kannan. Espérons qu'ils ne se soient pas faits prendre.
    </p>

    <p>Enfin, vous voilà au quatrième étage, anciennement le réfectoire des mages de la tour. Désormais la salle est un vrai chaos. Les tables et les chaises sont toutes détruites et les corps de plusieurs serviteurs sont au sol, ainsi que les corps de certains mages.</p>

    <p>Dans le fond de la salle, <span class="naorem"></span> est en train de tuer un serviteur, certainement un de vos espions. Méonie est à côté de lui. Mince, vous allez devoir affronter les deux prophètes ici. L'équipe d'Allister - Usaki - n'est toujours pas arrivée.</p>

    <p>
      - Oh ? Des visages connus, lance le prophète. Je suppose que c'est vous qui avez organisé cette tuerie surprise ?
    </p>

    <p>Vous ne répondez pas. Kannan réfléchit à la meilleur option pour affronter ces deux monstres.</p>

    <p>
      - On connait tous le sort pour contrer les prophètes, résume-t-elle. Je vais détourner leur attention. Chacun aura pour but d'essayer de toucher un des deux prophètes, n'importe lequel.<br />
      - Tu veux attirer leur attention seul ? fais-tu surpris<span class="sf">e</span>.<br />
      - Je me suis entrainée pour ça, fais-moi confiance.
    </p>

    <p>Tu as beau savoir que Kannan est très forte, seule, tu sens que c'est la dernière fois que tu lui parleras.</p>

  <div class="choix">
    <div class="ch" data-go="327">Attendre un moment d'inattention pour lancer un sort sur les prophètes</div>
    <div class="ch" data-go="329">Faire diversion aux côtés de Kannan</div>
  </div>

</div>
