<div class="num num-1-3-327 retour-326">

  <div class="text chapter3">

    <h1>- 327 -</h1>

    <p>
      - Tu viens seule ? s'étonne <span class="naorem"></span> en voyant Kannan s'approcher. Bien, Méonie, s'il te plait n'interviens pas. Je m'occupe d'elle.<br />
      - Entendu, Je garde un oeil sur les autres alors, fait la prophète.
    </p>

    <p>
      <span class="naorem"></span> commence immédiatement avec un sort qui balaie toutes la pièce. Kannan sentant le coup venir a sauté en l'air et en concentrant son énergie dans ses pieds s'est accroché au plafond. Plusieurs mages de la forteresse, vous accompagnant toujours on été soufflé à terre. L'un d'entre eux a perdu connaissance en se cognant contre le mur.
    </p>

    <p>Dans l'instant d'après, Heron, un autre mage de la forteresse lance directement son sort de "masse noire" - le sort pour tuer les prophètes.</p>

    <p>
      - Attention <span class="naorem"></span>, je n'arrive pas à contrer ce sort ! lui hurle Méonie. Ne le touche pas c'est une magie inconnue.
    </p>

    <p>Le prophète écoute sa camarade et laisse passer la masse noire comme si c'était un nuage qui avait perdu son chemin. La masse noire gobe une partie du mur, créant une brèche dans la tour puis disparaissant.</p>

    <p>
      - Sacré sort, reconnait <span class="naorem"></span>.
    </p>

    <p>Mais Heron ne peut lui répondre, Méonie s'est téléporté sur lui et l'a transformé en statue de pierre. Elle retourne en un instant à l'autre bout de la pièce. Visiblement elle visera quiconque interviendra dans ce duel. Et maintenant les deux prophètes sont au courant du sort. Vous voilà dans la panade.</p>

    <p>
      - <span class="tonnom"></span>, on doit se concentrer sur Méonie, te dit Mac Lumy. Tant qu'elle nous surveille, personne ne pourra aider Kannan.<br />
      - Oui, on va tous se jeter sur elle, ajoute Anselm. Je vais lancer un sort de lumière pour l'aveugler, gardez bien vos yeux fermés à mon signal pour ne pas être touché. Puis on se jette tous sur elle.<br />
      - Je m'occupe de lancer le sort de "masse noire", fait Panacle.
    </p>

  <div class="choix">
    <div class="ch" data-go="328">Suivre le plan</div>
  </div>

</div>
