<div class="num num-1-3-328 retour-327">

  <div class="text chapter3">

    <h1>- 328 -</h1>

    <p>
      Kannan n'avait pas menti. Elle a dû s'entrainer car elle arrive à esquiver les attaques du prophètes. Mais elle ne fait que défendre, impossible d'attaquer. C'est le moment de se lancer.
    </p>

    <p>
      - MAINTENANT ! crie Anselm.
    </p>

    <p>Il lance un sort de lumière intense. Ayant fermés les yeux juste avant vous pouvez voir alors que vos adversaires ont forcément dû être aveuglé pour quelques instants. Vous vous précipitez à quatre sur Méonie : toi, Panacle, Haziko et Anselm. Panacle prépare son sort en arrivant devant Méonie. Vous êtes là pour vous assurez qu'elle ne s'échappe pas.</p>

    <p>
      - Attention ! fait la voix de Kannan venue de derrière.
    </p>

    <p>Forcément, votre amie et <span class="naorem"></span> ont été aveuglé mais le prophète a réagit extrêmement vite et le voilà dans le dos de Panacle prêt à le faire mourir, un sourire au coin des lèvres.</p>

    <p>Tu n'as absolument pas le temps d'incanter le moindre sort, tu étais en train de préparer un sort de racines pour Méonie. Et l'avertissement de Kannan t'a surpris, et t'as fait perdre ton sort. Mais Méonie est toujours en train de se frotter les yeux. Si tu laisses un seul instant de plus à Panacle, peut-être pourra-t-il lancer son sort à bout portant. Empêchant Méonie de réagir. Après ça, <span class="naorem"></span> risque quand même de faire un carnage. Mais ça ferait un prophète en moins.</p>

  <div class="choix">
    <div class="ch" data-go="473">S'interposer devant <span class="naorem"></span></div>
    <div class="ch" data-go="475">Continuer vers Méonie et lancer toi aussi un sort de "masse noire sur la prophète"</div>
  </div>

</div>
