<div class="num num-1-3-329 retour-326">

  <div class="text chapter3">

    <h1>- 329 -</h1>

    <p>
      - Hors de question que je te laisse seule face à ce monstre, dis-tu. Moi aussi je me suis entraîné<span class="sf">e</span>
    </p>

    <p>Kannan te sourit et <span class="naorem"></span> s'avance seul face à vous deux. Méonie semble particulièrement attentive aux faits et gestes de tes équipiers.</p>

    <p>
      Le prophète commence immédiatement avec un sort qui balaie toutes la pièce. Kannan sentant le coup venir a sauté en l'air et en concentrant son énergie dans ses pieds s'est accroché au plafond. Tu as préféré te baisser pour laisser passer le sort au dessus de ta tête. Plusieurs mages de la forteresse, vous accompagnant toujours on été soufflé à terre. L'un d'entre eux a perdu connaissance en se cognant contre le mur.
    </p>

    <p>Dans l'instant d'après, Heron, un autre mage de la forteresse lance directement son sort de "masse noire" - le sort pour tuer les prophètes.</p>

    <p>
      - Attention <span class="naorem"></span>, je n'arrive pas à contrer ce sort ! lui hurle Méonie. Ne le touche pas c'est une magie inconnue.
    </p>

    <p>Le prophète écoute sa camarade et laisse passer la masse noire comme si c'était un nuage qui avait perdu son chemin. La masse noire gobe une partie du mur, créant une brèche dans la tour puis disparaissant.</p>

    <p>
      - Sacré sort, reconnait <span class="naorem"></span>.
    </p>

    <p>Mais Heron ne peut lui répondre, Méonie s'est téléporté sur lui et l'a transformé en statue de pierre. Elle retourne en un instant à l'autre bout de la pièce. Visiblement elle visera quiconque interviendra dans ce duel. Et maintenant les deux prophètes sont au courant du sort. Vous voilà dans la panade.</p>

    <p>
      - A deux on peut contre-attaquer, te dit Kannan. Après son prochain sort, je l'immobiliserai et toi tu en profiteras pour lancer "masse noire" au corps à corps.<br />
      - Cela semble facile mais face à un adversaire comme ça… fais-tu assez stressé<span class="sf">e</span>
    </p>

  <div class="choix">
    <div class="ch" data-go="330">Suivre le plan</div>
  </div>

</div>
