<div class="num num-1-3-33">

  <div class="text chapter3">

    <h1>- 33 -</h1>

    <p>En arrivant dans la cour de l'école beaucoup de choses semblent changées, alors que tu ne l'avait pas remarqué du ciel. La végétation est luxuriante, les jardins sont plus beaux qu'ils ne l'ont jamais été, avec des fleurs et des parfums inconnus de toi. </p>

    <p>Les murs des différents bâtiments de l'école et de la tour sont comme neufs, d'un blanc éclatant. Seule une vigne parcourant toute la hauteur de la tour donne un peu de vert à la structure.</p>

    <p>Mais quand ton regard se porte sur quelques élèves qui passent par là tu te rends compte que quelque chose de grave est arrivé. Ils ont de nouvelles tenues, très sombres avec juste des broderies rouges en bas de leur robe de magie. Ils baissent tous la tête et surtout évitent de vous regarder toi ou <span class="naorem"></span>. Tu peux noter que certains évitent même de passer à côté de vous.</p>

    <p>- Qu'est-ce que tu en penses <span class="tonnom"></span> ? te dit <span class="naorem"></span>. Nous appelons ça le Palais, et plus l'Académie. Les jardins, c'est Méonie qui les a fait, elle se débrouille très bien pour ça. Moi je m'occupe des mages et de la magie dans tout notre empire. On est devenu les 3 empereurs de la magie, mais avec toi on va être 4.</p>

    <p>A ce moment la petite prophétesse Méonie apparait en descendant la volée de marche qui donnait sur la bibliothèque de l'Académie… ou du Palais désormais.</p>

    <p>
      - Bonjour <span class="naorem"></span>. te fait-elle. J'étais persuadée que l'énergie que je ressentais c'était Arak qui revenait.<br />
      - Arak ? demandes-tu.<br />
      - Oui le dernier prophète, tu te souviens ? te fait <span class="naorem"></span>. Lui il s'occupe de conquérir le reste du monde. Ce qui n'était pas encore sous le contrôle de l'ancienne Académie.
    </p>

    <p>Un mage arrive vers vous, se pose devant <span class="naorem"></span> en le saluant :<br />
      - Maître <span class="naorem"></span> ! Une agitation en ville. Des habitants se rebellent face à certains mages qui étaient en ville.<br />
      - Hum je vois, Méonie il va falloir que tu serres un peu plus la vis de tes sans-magies.<br />
      - Je crois plutôt que ce sont tes mages qui les ont encore réprimé.
    </p>

    <p>Tu comprends que Méonie a l'air de s'occuper des personnes ne faisant pas de magie alors que <span class="naorem"></span> s'occupe des mages. Il semble y avoir des tensions entre les deux groupes, et même entre les deux prophètes tout n'a pas l'air de se passer pour le mieux.</p>

    <p>- Suis-nous on va te montrer un peu la ville. Je sais que tu connais, mais des choses ont changé, explique <span class="naorem"></span>.</p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="34">Aller en ville</div>
  </div>

</div>
