<div class="num num-1-3-330 retour-326">

  <div class="text chapter3">

    <h1>- 330 -</h1>

    <p>
      Le prophète reprend son combat avec vous et disparait complètement. Le temps que vous essayiez de le retrouver il réapparait dans ton dos et de lance une décharge électrique intense. Tu n'as jamais eu une douleur aussi intense. Tes vêtements ont brûlé sous l'impact et ta chaire a grillé comme un poulet qu'on fait à la broche. Tu tombes lourdement au sol.
    </p>

    <p>Kannan, lancée dans son action, réussit à geler les bras du prophètes un instant. Mais avec toi au sol, impossible d'enchainer avec le sort de "masse noire".</p>

    <p>
      - Pas mal, fait <span class="naorem"></span>. Je suppose que <span class="sf">ta copine</span><span class="sg">ton copain</span> devait me tuer avec le même sort que tout à l'heure ? Dommage que je l'ai tué<span class="sf">e</span> avant.<br />
      - Parle pour toi ! fais-tu en te redressant d'un coup, suffoquant de douleur mais avec le sort de masse noire préparé.
    </p>

    <p>Mais au moment où tu t'apprêtais à détruire le prophète avec ton sort, une vive lumière t'aveugla. Tu continua quand même ton sort mais sans voir où il partait précisément. Petit à petit, tu retrouvas la vue, mais le prophète n'était plus là. Vous l'avez eu ! Un de moins ! Ton sort s'est dissipé et n'est plus là. Kannan en tournant la tête vit alors la catastrophe.</p>

    <p>Tes amis - Panacle, Haziko et Anselm - s'étaient rués sur Méonie. Ce sont eux certainement qui avaient lancé le sort de lumière. La prophète fut bien aveuglée mais <span class="naorem"></span> a repris vite l'usage de ses yeux et s'apprête à tous les écraser par derrière. Ta joie fut de courte durée.</p>

    <p>
      - ATTENTION ! leur cria Kannan.
    </p>

  <div class="choix">
    <div class="ch" data-go="479">Continuer</div>
  </div>

</div>
