<div class="num num-1-3-331 retour-270 279 282">

  <div class="text chapter3">

    <h1>- 331 -</h1>

    <p>
      Vous vous précipitez dans les étages supérieurs. Un grand craquement secoue toute la tour quand vous êtes au troisième étage. Les meubles tombent à terre. Certaines pierres des murs s'envolent. Des lustres tombent et vous entendez le tonnerre par la fenêtre. Une véritable tempête semble désormais se déchainer à l'extérieur.
    </p>

    <p>
      - C'est certainement un coup des prophètes, lâche Zaïra.
    </p>

    <p>Et en vous retrouvant au quatrième étage, vous n'en croyez pas vos yeux. Le haut de la tour n'existe plus. Vous êtes sur une plateforme de pierre face aux éléments déchainés. La pluie vient fouetter ton visage et le vent est énorme. <span class="naorem"></span> est comme en transe au milieu de l'étage désolé. Une sorte de vortex l'entoure, il rayonne d'énergie et semble plus puissant que jamais.</p>

    <p>A un côté de la plateforme, Espéride est blessée, retenue par <span class="kannan-vivante">Kannan</span><span class="kannan-morte">un mage de la forteresse</span> pour ne pas qu'elle s'envole. Haziko, Panacle et Anselm essaient de faire de même avec plusieurs mages de la forteresse qui vous accompagnaient et qui ont mis hors d'état de nuire. A l'autre bout de l'étage, Lasseni est là fixant le prophète enragé.</p>

    <p>
      - Que s'est-il passé ? demande Mac Lumy à Haziko en hurlant pour passer au dessus du bruit du vent.<br />
      - Panacle a réussi à envoyer son sort sur Méonie, avec l'aide de Lasseni il faut bien le dire. Et depuis <span class="naorem"></span> est comme ça.
    </p>

    <p>Il a dû recevoir le choc de sa vie en voyant Méonie mourir sous ses yeux. Il va être plus dangereux que jamais. Heureusement Lasseni est là, cela te redonne un peu d'espoir.</p>

    <p>
      - Mac Lumy, <span class="tonnom"></span>, pouvez-vous concentrez toute votre énergie sur ce vortex ? vous demande Ymir. Nous allons essayer de poser ces artefacts sur lui.<br />
      - Cette énergie semble immense, on n'y arrivera jamais ! fait Mac Lumy paniqué.<br />
      - Il ne faut pas qu'il concentre d'avantage d'énergie, explique Zaïra. Il est normalement à la limite que son corps ne puisse supporter. Si ça continue il va exploser de l'intérieur et relâcher toute l'énergie de Soufflardent d'un coup. C'est tout le lac Déluine qui serait rayé de la carte.
    </p>

  <div class="choix">
    <div class="ch" data-go="332">Concentrer ton énergie sur le vortex</div>
    <div class="ch" data-go="339">Proposer plutôt que Lasseni le fasse avec ses pouvoirs</div>
  </div>

</div>
