<div class="num num-1-3-332 retour-331">

  <div class="text chapter3">

    <h1>- 332 -</h1>

    <p>
      Aidé<span class="sf">e</span> de Mac Lumy et des deux mages légendaires vous concentrez votre énergie sur le vortex entourant le prophète. Tu as déjà du mal à tenir debout alors concentrer ton énergie manque de te faire t'envoler. Heureusement Haziko te retiens au sol, Panacle faisant de même avec Mac.
    </p>

    <p>Tu ne sais pas comment les deux mages légendaires font mais ils arrivent à faire la manœuvre tout en avançant à vive allure sur <span class="naorem"></span>. Le vortex commence à s'écarter pour offrir un passage quand Ymir et Zaïra sont tout proche. Mais cela réveille le prophète qui, sortant de transe, hurle de colère et déclenche un ouragan encore plus puissant. L'onde d'énergie surprend Ymir et Zaïra qui s'envolent dans la tempête. La mage dans un dernier espoir te lance son artefact qui atterrit miraculeusement dans tes mains.</p>

    <p>
      Mais l'onde vous touche également. Tout le monde est balayé de la plateforme. Le vent est trop intense. Une main te retient d'extrême justesse alors que tu allais finir dans les airs. Une main velue. Un énorme lapin te tient la main. Il semble avoir du mal à se tenir debout mais tient bon.
    </p>

    <p>
      - Usaki ! lui cries-tu. Si tu crois que je suis ton allié<span class="sf">e</span>, tu te trompes !<br />
      - Si tu veux bien qu'on laisse ça de côté une seconde ! On n'est plus que trois pour éviter que ce type ne réduise en miette toute l'Académie. Même moi je ne veux pas ça !
    </p>

    <p>Trois ? Toi, Usaki et … ? Mais oui, Lasseni est toujours sur ce quatrième étage. Elle s'est protégée avec une barrière magique.</p>

    <p>
      - Cet artefact c'est le même que celui mis sur Soufflardent, remarque Usaki. Je suppose qu'en le plaquant sur le prophète on devrait s'en sortir.<br />
      - C'est le but, reconnais-tu.<br />
      - Bon, donne-moi le. Je m'en occupe.<br />
      - Qu...<br />
      - Fais-moi confiance, te dit Le noctule de plus en plus en souffrance avec le vent.
    </p>

  <div class="choix">
    <div class="ch" data-go="333">Donner l'artefact à Usaki</div>
    <div class="ch" data-go="336">Ne pas lui faire confiance et te jeter toi-même sur <span class="naorem"></span></div>
  </div>

</div>
