<div class="num num-1-3-333 retour-332">

  <div class="text chapter3">

    <h1>- 333 -</h1>

    <p>
      Tu donnes l'artefact à Usaki, qui te répond avec un sourire.
    </p>

    <p>
      - Idiot<span class="sf">e</span> !
    </p>

    <p>Puis il te lâche la main et tu t'envoles dans la tempête en hurlant.</p>

    <p>Le vent t'emporte haut dans les airs, la pluie se transforme en glace qui déchire tes vêtements et te lacèrent de partout. Tu passes au dessus des nuages et la paix revient. Tu as juste le temps de te dire que tu n'arriveras jamais à faire un sort de "chute contrôlée" suffisamment puissant pour ne pas mourir, que tu retombes dans la tempête.</p>

    <p>Tu vois l'île de l'Académie grossir au fur et à mesure que tu retombes. Puis une explosion bleue, vive, t'éblouit. Pendant l'espace d'un instant tu crois être en plein journée. Mais la nuit revient aussi vite que la lumière de l'explosion disparait. La tempête se calme aussitôt. Tu continues à foncer directement sur le quatrième étage de la tour de l'Académie. Tu veux faire un sort, mais plus aucun de tes muscles ne bouge. C'est fini, tu vas mourir.</p>

    <p class="av-sportif">
      Mais soudain, te voilà en train de redresser ta chute. Un dragon-fée, filant comme le vent vient de te récupérer. Levy te fait un sourire en te prenant dans ses bras.<br /><br />
      - Et bien, j'arrive à temps.<br />
      - Les héros arrivent toujours en retard, rigoles-tu.
      - Que s'est-il passé ? demandes-tu.<br /><br />
      Pour répondre à ta question, vous vous posez sur ce quatrième étage.
    </p>
    <p class="av-pas-sportif">
      Mais soudain, te voilà en train de redresser ta chute. Un dragon-fée, filant comme le vent vient de te récupérer. Un mage de la résistance te récupère en souriant.<br /><br />
      - Vous avez récupéré les autres aussi ? demandes-tu.<br />
      - Je ne sais pas, on a vu beaucoup de monde tomber, te dit-il. Je ne sais pas si on a tout le monde.<br />
      - Que s'est-il passé ? demandes-tu.<br /><br />
      Pour répondre à ta question, vous vous posez sur ce quatrième étage.
    </p>

  <div class="choix">
    <div class="ch" data-go="334">Continuer</div>
  </div>

</div>
