<div class="num num-1-3-334 retour-333">

  <div class="text chapter3">

    <h1>- 334 -</h1>

    <p>
      La plateforme est recouverte de glace. Mais en regardant bien, c'est toute la tour qui est prise dans la glace, et même toute l'île. Même le lac a gelé.
    </p>

    <p>Au centre de la plateforme, là où se trouvait <span class="naorem"></span>, il n'y a plus que la statue gelé d'un noctule. Usaki tentait visiblement de toucher le prophète avec l'artefact quand il fut gelé. <span class="naorem"></span> a disparu. Ou alors, peut-être est-il dans ce réceptacle de glace juste devant le noctule. </p>

    <p>Une sorte de petite boite de glace est là, mais ce qui retient le plus ton attention c'est qu'elle est surmontée d'une petite étoile de glace dans lequel bouge une petite lumière bleue.</p>

    <p>
      - <span class="tonnom"></span>, c'est moi Lasseni.<br />
      - Que Lasseni ? Où es-tu ? demandes-tu.<br />
      - Je suis là… je suis cette lumière.<br />
      - Quoi ? C'est… c'est toi ?
    </p>

    <p>La surprise est immense. Tu ne sais pas quoi dire, tu écoutes la petite lumière avec attention.</p>

    <p>
      - J'ai voulu arrêter <span class="naorem"></span>. Et pour cela j'ai dû aller au bout de mes forces pour passer son vortex. En faisant cela j'ai complètement détruit mon corps. Mais ce n'était pas grave, je pense que c'était mon rôle dans cette histoire. Les pouvoirs qu'on m'a donné devaient servir à ça.<br />
      - Attend, je… mais comment es tu encore vivante ?<br />
      - Je crois que quand mon corps est mort, il a libéré toute mon énergie de l'eau. L'énergie de Soufflardent. Et mon esprit a été piégé par la glace.<br />
      - C'est… c'est horrible, dis-tu en pleurant. On...on va trouver un moyen de te sortir de là, lui promets-tu.<br />
      - Inutile, dit Lasseni. Même si mon esprit est pris au piège. Je vais bientôt disparaitre. Je sens déjà que je n'en ai plus pour longtemps alors si tu pouvais faire une dernière chose pour moi...?<br />
      - Bien sûr n'importe quoi.<br />
      - Je sais que mon frère était retenu prisonnier quelque part mais je n'ai jamais su où. Il n'était pas à l'Académie. Mais maintenant que tous les prophètes sont morts… S'il te plait : retrouve et délivre mon frère.<br />
      - Je te jure que je le retrouverai, même si je dois y passer toute ma vie.<br />
      - … <span class="tonnom"></span>, tu sais j'ai apprécié mes aventures à tes côtés. Mais j'ai toujours été un poil au dessus de toi en magie, hé hé hé...<br />
      - Ha ha … sniff..ha... Oui j'ai toujours été derrière toi. Je t'accorde ça. ... Pourquoi t'es tu sacrifiée alors que ton frère avait besoin de toi ?<br />
      - ...<br />
      - Lasseni … ?<br />
      - …
    </p>

    <p>Cette nuit fut conservée dans les mémoires comme "la nuit du grand gel", car depuis, le lac n'a jamais dégelé et la glace lancée par Lasseni n'a jamais fondu.</p>


  <div class="choix">
    <div class="ch" data-go="335">Epilogue</div>
  </div>

</div>
