<div class="num num-1-3-335 retour-334">

  <div class="text chapter3">

    <h1>- FIN 6 -</h1>

    <p>
      Une grande assemblée fut faite pour choisir le conseil de magie de la nouvelle Académie. Ymir et Zaïra furent présentés, et comme ils refusaient tous les deux d'en faire partie, chacun pensa que c'était une bonne idée qu'ils aident à désigner les personnes méritantes.
    </p>

    <p>
      Tout d'abord, les mages de la résistance voulaient qu'Espéride en fasse partie. Mais cette dernière refusa, contre toute attente. Elle expliqua qu'elle avait travaillé pendant des années pour Soufflardent et que quand le grand dragon avait donné ses pouvoirs aux prophètes elle avait compris son erreur. Devant cette révélation, et les sifflets de honte qu'elle provoqua, Espéride expliqua qu'elle partirait en exil dans les terres barbares dès qu'elle aurait fini d'aider à nettoyer les dommages dans la ville.
    </p>

    <p class="kannan-vivante">
      Ymir et Zaïra choisir alors un premier mage qui fit l'unanimité : Kannan. La mage est plutôt surprise de se voir proposé le poste. Mais elle était haut gradée dans la résistance et elle a combattu les prophètes autant que possible. Son courage lui aura valu au moins cet égard. Elle accepta, en rougissant, le poste.
    </p>

    <p>Arristan, un mage de la forteresse de la lune fut invité également à prendre un siège au conseil de la magie. Chose qui bien entendu fut acceptée de part la contribution à la victoire finale.    </p>

    <p>
      Et là, tu ne vis pas arriver la suite. On te proposa de devenir également membre du conseil. Mais tu avais fait une promesse à Lasseni. Tu devais repartir à l'aventure, trouver son frère. Tu préféras introduire quelqu'un d'autre pour te remplacer. Leng Fao, qui avait fait venir sur terre une partie de son village lunaire. Elle permettra de rendre la survie, des derniers de son espèces, possible. Ymir et Zaïra validèrent la proposition.
    </p>

    <p class="mullihane-vivante">Parmi les anciens membres du conseil, Mullihane fut la seule à garder son poste. Les trois autres furent tous retrouvé morts dans l'école. Certains assassinés dans leur chambre - Soyos et Andaelor, et Pasha dans la cours de l'école.</p>

    <p>
      Et pour finir, les deux mages légendaires proposèrent également de rajouter un sans-magie au conseil. Chose qui fit bondir beaucoup de monde. C'est une idée que tu trouves intéressante et tu l'applaudis. Un vieux pêcheur qui passe désormais son temps le nez dans les livres, fut choisi. Pour permettre aux mages de ne pas s'accaparer tout le pouvoir.
    </p>

    <p class="middle">*</p>

    <p class="av-riche">
      Le temps passa et la nouvelle Académie commença à reprendre des couleurs. Un gigantesque parc mémorial fut consacré aux victimes de la "guerre des prophètes". Ceux qui voulaient y enterrer leurs proches décédés le pouvaient. C'est là que tu as décidé d'enterrer ta mère. Aujourd'hui, avec ton père, vous venez faire une petite prière à celle qui a donné sa vie en essayant de protéger la cité des prophètes. Elle mourut en protégeant des élèves de l'école parait-il. Ton père t'appris également qu'elle avait travaillé pour Ymir et Zaïra comme espionne de la forteresse de la lune. Et c'est pour cela qu'elle ne voulait pas que tu fasses de magie, elle savait toutes les horreurs qui s'y cachait. Mais elle a toujours cru en toi. Après cela, tu expliquas à ton père ta nouvelle quête : retrouver Fandrean pour ton amie. Il comprit et tu partis sans te retourner pour une autre aventure.
    </p>
    <p class="av-studieux">
      L'école ne réouvrit pas tout de suite. Et tu réussis à retrouver ton frère à Sarambe. Il s'était enfui là-bas quand les prophètes attaquèrent l'Académie. Quand tu le revis, tu lui racontas toutes tes aventures : de la forteresse de la lune à Soufflardent, des prophètes à Usaki. Une version qu'il ne trouverait jamais dans les parchemins. Eran te confia également qu'il allait arrêter la magie. Ce n'était pas pour lui et la vie à Sarambe lui avait finalement toujours plu : il connait du monde et a trouvé un travail à la ferme de monsieur Foin. Tu es content<span class="sf">e</span> qu'il ait trouvé ce qu'il voulait faire. Avant de partir chercher Fandrean tu voulais lui dire au revoir.
    </p>
    <p class="av-populaire">
      En aidant à déblayer la cité, tu tomba sur Rodolphe et son père qui faisaient un brin de ménage dans leur boutique. Sans te faire prier, tu aidas ton amie avec ta magie. Annette vint vous voir à la fin avec quelques tartes toutes chaudes pour vous remettre de vos efforts. C'est vrai que la cité avait souffert mais finalement, ce sont les mages qui ont payé le plus lourd tribu. La population, elle, s'en est plutôt bien sorti. Et ça te fait plaisir pour tes amis. Et finalement tu pus quitter la cité en ayant revu tous ceux que tu aimes. Maintenant une autre aventure s'ouvre à toi : retrouver Fandrean.
    </p>
    <p class="av-sportif">
      Levy te retrouva après tant de temps séparés. Il t'expliqua qu'il faisait parti de la troupe d'Allister quand la résistance attaqua. Et que lui dirigeait une section de mages à dos de dragons. Chacun d'entre vous raconta ses aventures et vous passèrent l'après-midi ensemble. A la fin, <span class="sf">il</span><span class="sg">elle</span> t'expliqua qu'<span class="sf">il</span><span class="sg">elle</span> aimerait bien se poser, que l'aventure c'était peut-être terminé pour <span class="sf">lui</span><span class="sg">elle</span>. Et quand tu lui demandas pourquoi, <span class="sf">il</span><span class="sg">elle</span> te demanda en mariage, que ce serait toi sa nouvelle aventure… Et tu acceptas, mais <span class="sf">il</span><span class="sg">elle</span> devra attendre ton retour. Tu te dois d'abord de retrouver Fandrean.
    </p>
    <p class="av-courageux">
      Tu t'en veux encore pour ce qu'il est arrivé à Lasseni. Tu te dis que peut-être tu aurais pu éviter cela. C'est pour cette raison, et aussi parce que ton amie te l'a demandé, que tu pars à la recherche de Fandrean.
    </p>

  <!-- <div class="choix">
    <div class="ch" data-go="315">Epilogue</div>
  </div> -->

</div>
