<div class="num num-1-3-336 retour-332">

  <div class="text chapter3">

    <h1>- 336 -</h1>

    <p>
      Tu te jettes de toutes tes forces en avant mais s'en est presque ridicule. Tu avances les pieds l'un après l'autre comme si tu avais des poids de 100 kilos attachés à chacun. Usaki te poursuit de manière aussi grotesque, lui aussi souffrant terriblement du vent, encore plus même à cause de sa grande taille.
    </p>

    <p>
      Lasseni, en te voyant avancer avec l'artefact, se déplace jusqu'au vortex de <span class='naorem'></span>. Le prophète n'a plus l'air de comprendre ce qui l'entoure, il semble complètement dévoré par son pouvoir et ne remarque même plus vos actions. Lasseni approche alors ses mains du vortex et te crée une ouverture.
    </p>

    <p>
      - Passe par là <span class="tonnom"></span>, mais dépêches-toi, te hurle Lasseni. J'ai l'impression que toute cette énergie est en train de me détruire aussi.<br />
      - Je fais ce que je peux, dis-tu en "sprintant" à deux à l'heure.<br />
      - Tu n'y arriveras jamais, sale humain ! te crie Usaki.
    </p>

    <p>Tu t'engouffres dans la brèche qu'a créé Lasseni et tu respires. A l'intérieur tout est calme. Seul <span class="naorem"></span> est en lévitation avec les yeux tout blanc. Il ne semble pas te voir. De l'autre côté, Lasseni referme le vortex, elle semble a bout de souffle et sa peau commence à prendre une couleur bleue bizarre. Elle envoie une décharge à Usaki qui s'envole dans la tempête.</p>

    <p>
      - Vas-y <span class="tonnom"></span> ! hurle Lasseni. La tour est en train de partir en morceaux !
    </p>

    <p>Tu regardes une dernière fois le prophète et pose l'artefact sur son corps.</p>

  <div class="choix">
    <div class="ch" data-go="337">Continuer</div>
  </div>

</div>
