<div class="num num-1-3-337 retour-336">

  <div class="text chapter3">

    <h1>- 337 -</h1>

    <p>
      Quelques jours plus tard, après la victoire de la résistance, beaucoup de choses restaient en suspend. Ymir et Zaïra démontrèrent aux gens de la résistance qu'Allister n'était en fait qu'un noctule voulant les manipuler. Et tout le monde dut bien se rendre à l'évidence quand ils retrouvèrent le corps glacé d'Usaki. Lasseni lui avait bien donné le coup fatal sur la tour.
    </p>

    <p>
      Tu es heureu<span class="sf">se</span><span class="sg">x</span> d'apprendre que les personnes éjectées de la tour dans la tempête ont toutes pu être rattrapées par l'unité de dragon-fées. Même si certains souffrent encore de blessures graves, personne n'en est mort.
    </p>

    <p>
      En attendant qu'un nouveau conseil de magie soit choisi, c'est Espéride qui prit le commandement en temps que deuxième général de la résistance. Elle dirigea tous les travaux pour nettoyer l'Académie des dégâts occasionnés par cette guerre.
    </p>

    <p>
      Dans le même temps Lasseni fut secourue d'urgence par ces ancêtres. En effet, son corps ne supportait plus la puissance du pouvoir de Soufflardent et menacer de la détruire. Les deux mages légendaires lui expliquèrent alors comment rendre ses pouvoirs à la terre. Ce qu'elle fit. Néanmoins, le pouvoir de l'eau de Soufflardent lui laissa une peau bleue pâle comme souvenir.
    </p>

    <p>
      Personne ne savait ce qu'il était advenu de Fandrean. Lasseni savait que les prophètes l'avait emprisonné quelque part mais elle ne savait pas où.</p>

  <div class="choix">
    <div class="ch" data-go="338">Epilogue</div>
  </div>

</div>
