<div class="num num-1-3-34">

  <div class="text chapter3">

    <h1>- 34 -</h1>

    <p>Les rues par lesquelles vous passez sont calmes, sans vie. Les volets des maisons sont tous fermés. Mais plus vous vous rapprochez du port et plus le bruit se fait entendre. Vous êtes accompagnés par quelques mages en tenues guerrières.</p>

    <p>Il suffit que vous arriviez sur place pour que le silence se fasse. Des habitants, non mages, encerclaient 3 mages de l'Académie. Tu vois qu'un habitant gît par terre, victime d'un sort de feu lancé par un des mages certainement. Ils étaient carrément en train de se battre.</p>

    <p>Méonie s'approche de l'homme blessé et le guérit juste en posant sa main sur lui. La foule a l'air d'apprécier le geste et lance un cri de victoire. <span class="naorem"></span> lève le bras gauche en l'air et le silence revint instantanément.</p>

    <p>
      - Bon qu'est-ce qu'il se passe ici ? fait-il en s'adressant aux 3 mages.<br />
      - Maître, alors que nous faisions juste quelques emplettes, nous nous sommes retrouvés dans ce traquenard, commence l'un des mages impliqués. Sans explications, plusieurs habitants nous ont attaqué et très vite une foule nous a encerclé.<br />
      - C'est faux ! s'écrit quelqu'un dans la foule. Ils nous ont volé, comme d'habitude !
    </p>

    <p><span class="naorem"></span> se retourne l'air méchant, vers la personne qui vient de répondre.</p>

    <p>- Si jamais quelqu'un ose parler sans en avoir reçu l'ordre, il servira d'appât pour les monstres marins du lac, explique le prophète.</p>

    <p>Tu commences à comprendre, le Palais est devenu une tyrannie. Les prophètes ont mis les mages au dessus de tous les autres et ces derniers en profitent pour faire ce qu'ils veulent aux habitants. Par contre, une fois de retour à ton ancienne école, les mages sont obligés de se taire pour ne pas s'attirer les foudres des prophètes. Il y a un vrai climat de terreur qui s'est installé.</p>

    <p>Méonie a l'air de prendre quand même soin des non-mages, mais comme elle est plus timide que les autres prophètes, elle les laisse faire trop de choses horribles.</p>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="35">Prendre parti pour les mages</div>
    <div class="ch" data-go="36">Prendre parti pour les habitants</div>
  </div>

</div>
