<div class="num num-1-3-340 retour-271">

  <div class="text chapter3">

    <h1>- 340 -</h1>

    <p>
      Vous vous précipitez dans les étages supérieurs. Un grand craquement secoue toute la tour quand vous êtes au troisième étage. Les meubles tombent à terre. Certaines pierres des murs s'envolent. Des lustres tombent et vous entendez le tonnerre par la fenêtre. Une véritable tempête semble désormais se déchainer à l'extérieur.
    </p>

    <p>
      - C'est certainement un coup des prophètes, lâche Mac Lumy.
    </p>

    <p>Et en vous retrouvant au quatrième étage, vous n'en croyez pas vos yeux. Le haut de la tour n'existe plus. Vous êtes sur une plateforme de pierre face aux éléments déchainés. La pluie vient fouetter ton visage et le vent est énorme. <span class="naorem"></span> est comme en transe au milieu de l'étage désolé. Une sorte de vortex l'entoure, il rayonne d'énergie et semble plus puissant que jamais.</p>

    <p>A un côté de la plateforme, Espéride est blessée, retenue par <span class="kannan-vivante">Kannan</span><span class="kannan-morte">un mage de la forteresse</span> pour ne pas qu'elle s'envole. Haziko, Panacle et Anselm essaient de faire de même avec plusieurs mages de la forteresse qui vous accompagnaient et qui ont mis hors d'état de nuire. A l'autre bout de l'étage, Lasseni est là, fixant le prophète enragé.</p>

    <p>
      - Que s'est-il passé ? demande Mac Lumy à Haziko en hurlant pour passer au dessus du bruit du vent.<br />
      - Panacle a réussi à envoyer son sort sur Méonie, avec l'aide de Lasseni il faut bien le dire. Et depuis <span class="naorem"></span> est comme ça.
    </p>

    <p>Il a dû recevoir le choc de sa vie en voyant Méonie mourir sous ses yeux. Il va être plus dangereux que jamais. Heureusement Lasseni est là, cela te redonne un peu d'espoir.</p>

    <p>
      - Il faut réussir à lui lancer notre sort Mac, dis-tu. Mais pour l'approcher ça va pas être facile.<br />
      - Il faudrait que Lasseni nous couvre, propose ton ami.<br />
      - Excellente idée, va la rejoindre et dis lui de me couvrir pendant que j'essaie d'approcher ce vortex.
    </p>

  <div class="choix">
    <div class="ch" data-go="341">S'approcher du vortex</div>
  </div>

</div>
