<div class="num num-1-3-341 retour-340">

  <div class="text chapter3">

    <h1>- 341 -</h1>

    <p>
      Le vent est vraiment trop violent pour te permettre d'avancer facilement. Mac Lumy est obligé de ramper en s'agrippant tant bien que mal pour se positionner à côté de Lasseni. Cette dernière a l'air de comprendre le plan, et commence par créer un barrière d'énergie autour d'elle et Mac Lumy pour le protéger du vent.
    </p>

    <p>
      Peut-être que <span class='naorem'></span> ressentit l'énergie de Lasseni car à ce moment là il déclencha une onde d'énergie qui souffla tout le monde sur la plateforme. Tu réussis à rester en position grâce à l'intervention efficace de Lasseni qui te protégea à distance. A part Mac Lumy, lui aussi protégé, les autres furent emportés dans la tempête.
    </p>

    <p>
      Tu espères fortement qu'ils en réchappent. Mais pour le moment tu dois continuer d'avancer. Le prophète semble être retourné dans une sorte de transe qui le fait oublier tout ce qui l'entoure. Mais son vortex semble plus puissant que jamais et son énergie continue de s'accumuler. Soudain un cri derrière toi se fait entendre, ou plutôt un rugissement.
    </p>

    <p>
      Un noctule vient d'apparaitre sur la plateforme. Usaki vient d'arriver, au pire moment. Tu jettes un regard en direction de Lasseni mais elle semble avoir tout le mal du monde à se protéger elle, Mac Lumy et toi. De plus elle est en train de t'ouvrir un passage dans le vortex, pour que tu puisses le franchir facilement.
    </p>

    <p>
      - <span class="tonnom"></span> ! te hurle Usaki. Ne fais pas ça ! Si tu l'arrêtes maintenant, l'Académie sera rasée par le vortex qui l'entoure !<br />
      - Et tu proposes quoi ? lui réponds Mac Lumy. Si on ne fait rien on va tous mourir !<br />
      - Je peux l'envoyer sur la lune ! répond Usaki. Laisse moi faire !
    </p>

  <div class="choix">
    <div class="ch" data-go="342">Faire confiance à Usaki et le laisser faire</div>
    <div class="ch def-pas-naif" data-go="348">Continuer sans faire attention au noctule</div>
  </div>

</div>
