<div class="num num-1-3-342 retour-341">

  <div class="text chapter3">

    <h1>- 342 -</h1>

    <p>
      - OK ! fais-tu. Viens, vite ! Lasseni est en train d'ouvrir un passage dans le vortex, il faut que tu en profites.
    </p>

    <p>
      Le noctule a beaucoup de mal à avancer, comme toi, mais il te rattrape.
    </p>

    <p>
      - Retournes avec tes amis, sous la bulle de protection de Lasseni, te dit-il.
    </p>

    <p>Et vous continuez vos routes respectives, toujours sous les éléments déchainés. Tu arrives finalement à te mettre à l'abri dans la bulle de protection de Lasseni quand le noctule passe enfin le vortex du prophète.</p>

    <p>
      - Tu lui fais confiance ? demande Lasseni à bout de souffle et qui commence à voir sa peau devenir légèrement bleutée.<br />
      - Lasseni ? Qu'est-ce qu'il t'arrive ? fait Mac Lumy.<br />
      - Je crois que ce vortex est en train de libérer la force de Soufflardent en moi. Je ne sais pas si je vais pouvoir me retenir longtemps.<br />
      - Heu… qu'est-ce que ça veut dire ? demandes-tu hésitant<span class="sf">e</span>.<br />
      - … bientôt je vais me transformer en la même chose que <span class="naorem"></span> je crois. Le pouvoir de Soufflardent me contrôlera et je vais déclencher un cataclysme.<br />
      - Mince, vite Usaki ! Dépêches-toi ! lui crie Mac Lumy.
    </p>

    <p>Mais le noctule a l'air tranquille dans le vortex. Il vous sourit sournoisement et pose ses pattes sur les tempes de <span class='naorem'></span>.</p>

    <p>
      - Qu'est-ce qu'il fait ? te demandes-tu.<br />
      - Il… il veut absorber l'énergie de <span class="naorem"></span>, s'énerve Lasseni.<br />
      - Il essaie de nous doubler ?! s'exclame Mac Lumy.<br />
      - Je vais devoir l'arrêter, dis-tu.
    </p>

  <div class="choix">
    <div class="ch" data-go="343">Concentrer toute ton énergie pour le sort le plus spectaculaire de ta vie</div>
    <div class="ch" data-go="346">Demander à Mac Lumy de lancer un sort commun pendant que Lasseni ouvre à nouveau le vortex</div>
  </div>

</div>
