<div class="num num-1-3-343 retour-342">

  <div class="text chapter3">

    <h1>- 343 -</h1>

    <p>
      - Lasseni, il faut que tu tiennes la protection encore un peu, je me charge du reste. Mac toi tu vas devoir te débrouiller pour que Lasseni ne se transforme pas comme <span class="naorem"></span>. Fais tout ce que tu peux !<br />
      - Hein ! Mais je ne sais pas ce que je dois faire pour ça ! se lamente le mage.<br />
      - T'inquiètes pas Mac, lui lance Lasseni. Je vais tenir bon.
    </p>

    <p>
      Tu concentres ton énergie au maximum. Un sort normal ne pourra jamais passer le vortex puis arrêter le noctule. Il faudrait même réussir un sort qui, en plus, arrête <span class="naorem"></span>. Tu le sais, pour cela tu vas devoir utiliser toute ton énergie vitale. Tu vas te sacrifier avec ton ultime sort.
    </p>

    <p>
      Des volutes de magie commencent à t'entourer, mais tu sais que ce n'est pas assez. Lasseni commence à voir sa peau se craqueler, elle va probablement bientôt lâcher prise. Tu puises dans tes réserves, le sang commence à couler de tes oreilles et de tes yeux. Mais tu continues à concentrer ton énergie encore. Tu as le goût du sang dans ta bouche, tes doigts tremblent. Tu ne peux pas faire plus et tu lances le sort ultime : "Rédemption" ! Un éclair multicolore sort de tes mains comme un arc-en-ciel et viens percuter le vortex avec force.
    </p>

    <p>
      Mais cela ne semble pas le détruire. Il te faut encore plus de pouvoir. Mac Lumy lance des sorts de soins sur Lasseni en boucle, elle qui commence à avoir des bouts de peau se détacher de ses joues.
    </p>

    <p>
      Et tout à coup, le silence devint total. Tu ne ressens plus de fatigue ni de douleurs. Tu ne vois plus rien car tu es devenue totalement aveugle et tu n'entends plus rien car tu es complètement sourd<span class="sf">e</span>. Mais tu continues d'envoyer toute ton énergie vitale dans ton sort. Et ton énergie commence alors à gonfler, et gonfler encore, jamais tu n'avais senti autant d'énergie en toi. Tu ressens toute les énergies autour et tu sais que ton sort de "Rédemption" vient de passer le vortex. Il a percuté Usaki de plein fouet, le grillant sur place. Il vient maintenant tenter d'arrêter <span class='naorem'></span>.
    </p>

  <div class="choix">
    <div class="ch" data-go="344">Mourir en terrassant le prophète</div>
  </div>

</div>
