<div class="num num-1-3-344 retour-343">

  <div class="text chapter3">

    <h1>- 344 -</h1>

    <p>
      Ton énergie continue d'augmenter, une énergie qui te protège et qui est chaude et apaisante. Tu ressens les choses complètement différemment.
    </p>

    <p>
      Il y a l'énergie protectrice de Lasseni, l'énergie désespérée de Mac Lumy et celle de <span class="naorem"></span> : complètement folle. Mais désormais tu n'as plus de doutes : tu vas le détruire. Une nouvelle vague de pouvoir te submerge et le prophète est annihilé. Tu ne le ressens plus, nul part. Tu sens alors toute ton énergie fondre et retourner à la terre.
    </p>

    <p>
      Et tu comprends alors ce qu'il s'est passé. La terre elle-même est intervenue, elle t'a prêté son énergie pour que tu terrasses le prophète. Maintenant elle reprend ce qu'elle t'avait donné. Quand la dernière goutte d'énergie quitte ton corps, une douleur insupportable te traverse. Tu as mal partout. Tes bras et tes jambes tombent en morceaux, tu n'as même plus la force de crier.
    </p>

    <p>
      Ton esprit sombre en te demandant si Mac Lumy a réussi à contenir Lasseni. Tu l'espères du fond du cœur…
    </p>

  <div class="choix">
    <div class="ch" data-go="345">Epilogue</div>
  </div>

</div>
