<div class="num num-1-3-345 retour-344">

  <div class="text chapter3">

    <h1>- FIN 8 -</h1>

    <p>
      Tu reprends conscience dans un lit. Bien au chaud. Tu arrives à ouvrir les yeux mais c'est comme si tu avais un voile colorant en jaune tout ce que tu vois. Les sons sont aussi très différents de ce que tu connaissais autrefois. C'est comme si tout ce que tu entendais était passé à travers une sourdine. Tu as un peu de mal à bouger les bras. C'est là que tu vois que l'on t'a posé des prothèses. Ce sont des artefacts que tu as à la place des bras. Mais tu arrives à sentir le monde qui t'entoure avec ces doigts mécaniques.
    </p>

    <p>
      - Docteur ! <span class="sf">Elle</span><span class="sg">Il</span> est réveillé<span class="sf">e</span> ! s'exclame quelqu'un.
    </p>

    <p>Tout de suite quelqu'un arrive à ton chevet. Tu ne la reconnais pas.</p>

    <p>
      - <span class="tonnom"></span>, tu te souviens de moi ? C'est Haziko.
    </p>

    <p>Haziko ? Non, cela ne te dit rien.</p>

    <p>
      - Tu as reçu de grosses blessures lors de ton combat contre <span class="naorem"></span>... Mais tu as sauvé la planète. On te remercie tous pour ça. Le conseil de magie a voté la construction d'une sculpture en ton honneur aujourd'hui.<br />
      - Je… ne comprends pas. J'ai fait quelque chose de bien ? demandes-tu.<br />
      - Tu ne t'en souviens pas ? C'est pas grave, ça va te revenir plus tard. Saches que je travailles d'arrache pied pour te remettre d'aplomb. Tu es un<span class="sf">e</span> héro<span class="sf">ïne</span>. Tu as presque donné ta vie pour nous sauver.<br />
      - Je… ne me souviens de rien.<br />
      - Cela va peut-être prendre un peu de temps. Reposes-toi bien pour le moment.
    </p>

    <p class="middle">*</p>

    <p>Tu ne pouvais pas encore sortir du lit. Tes jambes n'étaient pas encore "réparées". Tu ne te souvenais absolument pas qui tu étais ni ce que tu avais fait. Mais tu avais du respect pour cette Haziko qui continuait de réparer ton corps avec ses artefacts. Mais tout ce que tu vivais semblait terne, une réalité qui ne valait pas le coup d'être vécue. Et tu déprimais. </p>

    <p>Par la suite plusieurs personnes vinrent te rendre visite.</p>

    <p>Tout d'abord une journaliste, une certaine Leng Fao. Tu ne te rappelais plus de qui elle était mais elle te remerciait pour ce que tu avais fait. Elle te raconta que finalement les noctules, privés de leur général, n'attaqueraient pas. Cette phrase n'avait aucun sens pour toi, que voulait-elle dire ?</p>

    <p>Puis vint un groupe de plusieurs personnes qui parait-il étaient tes amis auparavant. L'une d'entre eux ferait d'ailleurs désormais parti du conseil de magie actuellement : une certaine Lasseni. Elle était un peu différente des autres avec sa peau bleue, mais elle te remercia beaucoup.</p>

    <p class="av-studieux">Une personne disant être ton frère vint également te rendre visite et il te raconta comment tu réussis à rentrer dans une école de magie appelée l'Académie. Il te parla de vos parents et de tout ce qu'il se souvenait. Malgré tout cela, aucun souvenir ne raviva ta mémoire.</p>
    <p class="av-populaire">Une personne disant être ton amie vint te voir. Une certaine Annette. Elle te confia que votre ami Rodolphe fut retrouvé mort, tué par des policiers pendant la révolte, mais qu'elle a fait une jolie stèle pour lui et toute sa famille. Quand tu iras mieux tu pourras aller le voir.</p>
    <p class="av-sportif">Une personne disant être ton ami<span class="sg">e</span> vint te voir. Un<span class="sg">e</span> certain<span class="sg">e</span> Levy. Vous avez visiblement vécu des moments ensembles, des bons et des plus difficiles. Est-ce que vous avez été amoureux. Tu ne t'en souviens plus. Mais <span class="sf">il</span><span class="sg">elle</span> est revenu<span class="sg">e</span> très souvent te voir .</p>

    <p>Il te fallu du temps pour retrouver goût à la vie. On te dit qu'une statue allait être érigée en ton honneur à l'Académie. Mais tu ne te souvenais même plus de ce qu'était l'Académie. Haziko t'expliqua également qu'avec tes blessures tu ne pourrais plus jamais utilisé la magie, mais là encore tu ne te souvenais plus de ce qu'était la magie.</p>

    <p>
      Mais lors d'une nuit assez chaude, un rêve te réveilla. Dans ce rêve, une voix glaciale te proposait de la servir et qu'en échange tu recevrais un corps capable de ressentir tous les plaisirs de la vie. Cette voix avait un nom : Soufflardent. Mais bien sûr ce n'était qu'un rêve. Pas vrai ? Ce n'était qu'un rêve, hein ?
    </p>

  <!-- <div class="choix">
    <div class="ch" data-go="312">Epilogue</div>
  </div> -->

</div>
