<div class="num num-1-3-346 retour-342">

  <div class="text chapter3">

    <h1>- 346 -</h1>

    <p>
      - Lasseni, il faut que tu tiennes la protection encore un peu. Mac et moi on va combiner nos énergies pour passer ce vortex et élimer Usaki et <span class="naorem"></span><br />
      - Hein ?! Même à deux on aura jamais assez d'énergie, se lamente Mac.<br />
      - Je compte sur toi, lui lance Lasseni. Je vais tenir bon.
    </p>

    <p>
      Vous concentrez votre énergie en tentant une attaque combinée. La puissance est énorme. Mac ne fait pas semblant et sait qu'il doit y aller à fond. Tu vois qu'il commence à trembler des mains et son nez se met à saigner. Mais il tient bon. Toi aussi d'ailleurs tu commences à avoir les mêmes symptômes.
    </p>

    <p>
      Mais ce n'est pas suffisant, le vortex ne facille pas. Mac Lumy va craquer. Lasseni aussi, tu remarques que la peau de son visage commence à se craqueler.
    </p>

    <p>
      Puis c'est le drame. La protection de Lasseni lâche. Mac Lumy est emporté dans la tempête en hurlant. Toi même tu es obligé de relâcher tous tes efforts pour t'agripper avec hargne à la bordure de ce quatrième étage. Lasseni se met debout et te dit quelque chose. Avec le vent c'est parfaitement inaudible. Mais tu arrives à lire sur ses lèvres : "Adieu, j'espère que tu ne m'oublieras pas".
    </p>

    <p>
      Et elle se jette dans le vortex au moment où son corps commençait à tomber en morceaux. Une vague bleue jaillit à l'endroit même où elle se tenait. Le souffle de la déflagration t'envoie balader. Et un froid immense vient recouvrir la tour de glace. Toute l'île se gèle...Tout le lac se transforme en glace.
    </p>

    <p>Zaïra réussit à te récupérer alors que tu allais t'écraser au sol. Tu n'avais même plus assez d'énergie pour lancer un sort de chute contrôlée. La tempête s'est calmée. Lasseni a réussi, elle a arrêté <span class="naorem"></span>. Ou alors, Usaki aurait finalement récupéré les pouvoirs du prophète ?</p>

  <div class="choix">
    <div class="ch" data-go="347">Comprendre</div>
  </div>

</div>
