<div class="num num-1-3-348 retour-341">

  <div class="text chapter3">

    <h1>- 348 -</h1>

    <p>
      - J'y crois pas une seconde, lui dis-tu en continuant ton chemin.
    </p>

    <p>
      Le noctule s'énerve et commence à faire quelques gestes.
    </p>

    <p>
      - Ok ! Je vais devoir te tuer alors ! Moi qui pensait vous laisser mourir de la main de ce prophète.<br />
      - Je le savais ! lui réponds-tu. Tu n'es pas digne de confiance.
    </p>

    <p>Tu n'as pas d'autre choix que de continuer à avancer vers l'ouverture que Lasseni a fait dans le vortex. Tu n'es plus très loin. Tu vas y arriver avant qu'Usaki ne puisse t'envoyer un sort.</p>

    <p>Mais un éclair traverse la plateforme du quatrième étage pour venir te frapper. Tu fermes les yeux mais en essayant de sauter pour atteindre le vortex.</p>

    <p>Tu as réussi tu y es. Lasseni a refermé derrière toi le vortex. Tu te retournes heureu<span class="sf">se</span><span class="sg">x</span> pour voir la tête d'Usaki.</p>

    <p>Mais la réalité est brutale. Si tu as pu arriver jusqu'au vortex c'est grâce au sacrifice de Mac Lumy. Le mage s'est jeté en travers du sort du noctule. Tu vois son corps emporté par la tempête.</p>

    <p>
      - <span class="tonnom"></span> ! te crie Lasseni. Fais ton sort vite ! Moi je m'occupe de cet être abject.
    </p>


  <div class="choix">
    <div class="ch" data-go="349">Lancer le sort de "masse noire" sur <span class="naorem"></span></div>
  </div>

</div>
