<div class="num num-1-3-349 retour-348">

  <div class="text chapter3">

    <h1>- 349 -</h1>

    <p>
      Tu envoie le sort de "masse noire" sur le prophète, toujours en transe, les larmes aux yeux en revoyant le corps de ton ami parti dans la tempête.
    </p>

    <p>
      La masse noire gobe <span class="naorem"></span> et tout s'arrête. Le vortex disparait et la tempête se calme aussitôt. Tu tombes à genoux en te roulant pour voir Lasseni.
    </p>

    <p>
      Cette dernière en a déjà fini avec Usaki. Elle a fait une sculpture de glace du noctule qui semble crier de douleur. Cela ne te rendra pas Mac Lumy mais au moins il a été vengé.
    </p>

    <p>Lasseni vient te voir pour t'aider à te relever. Elle pleure avec toi sur le sort de votre compagnon.</p>

    <p>Ymir et Zaïra arrive à ce moment là. Un peu trop tard pour la bataille. Personne ne savait où était Fandrean. Lasseni ignorait où les deux prophètes l'avaient emprisonné et elle se jura de le retrouver. Quitte à y passer sa vie.</p>


  <div class="choix">
    <div class="ch" data-go="338">Epilogue</div>
  </div>

</div>
