<div class="num num-1-3-35">

  <div class="text chapter3">

    <h1>- 35 -</h1>

    <p>Tu t'avances alors vers <span class="naorem"></span>. Dans la foule certains semblent te reconnaître. D'autres se demandent bien qui est ce mage qui ose prendre la parole devant les deux prophètes.</p>

    <p>
      - Ecoutez-moi tous. Je suis <span class="tonnom"></span>, hériti<span class="sf">ère</span><span class="sg">er</span> des pouvoirs de Soufflardent. Ceux qui ne peuvent utiliser la magie doivent toute obéissance aux mages. Sans eux vous ne seriez rien. Pensez à tout le confort que la magie vous apporte : lumière grâce à la magie, eau courante chez vous grâce aux artefact, quand vient l'hiver la magie vous apporte le chauffage... Et vous vous plaignez pour quelques objets volés ! Si vous voulez avoir une meilleure vie essayez de devenir mage. Non, en fait vous ne pourriez pas. Vous le savez, devenir mage c'est quelque chose qui est au dessus de votre niveau.
    </p>

    <p>Tu lances un regard de pitié aux habitants pendant que les mages t'applaudissent. Méonie, elle, semble un peu déçue par ta prise de parole.</p>

    <p>
      Et alors que tu semblais avoir vraiment fait taire tout le monde une mot commence à se faire entendre légèrement, puis de plus en plus fort pour finalement être scandé en cœur par la foule entière :<br />
      - ALLISTER ! ALLISTER ! ALLISTER !
    </p>

    <p>Le choc est grand pour toi et les deux prophètes. Ne sachant que faire vous décidez de repartir au Palais en escortant les 3 mages pris à parti.</p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="37">Continuer</div>
  </div>

</div>
