<div class="num num-1-3-350 retour-272">

  <div class="text chapter3">

    <h1>- 350 -</h1>

    <p>
      Tu vois le visage du général Allister pour la première fois mais son regard ne te trompe pas. Il s'agit bien d'Usaki.
    </p>

    <p>
      - Mac, écartes-toi, je vais vous prouver que ce type n'est pas celui qu'il prétend être.<br />
      - Oh là ! s'exclame Allister. Je pensais que tu étais notre allié<span class="sf">e</span>.<br />
      - Je suis l'allié<span class="sf">e</span> de la résistance... la vraie, pas celle dirigée par un noctule hargneux.
    </p>

    <p>Mac Lumy te saisit le poignet en tentant de comprendre.</p>

    <p>
      - <span class="tonnom"></span>, Allister nous a permis d'arriver jusque là. Sans lui rien n'aurait été possible. Calmes-toi.<br />
      - Oui, réagit aussi Allister. Si nous pouvions repousser ce moment de colère pour quand nous aurons réussi à renverser les prophètes, ce serait pas mal.
    </p>

    <p>Impossible de lui faire confiance, mais la bataille est en cours avec les prophètes. Mieux vaut terminer l'un le plus vite possible pour contrer le noctule après.</p>

    <p>
      - Espéride et les autres sont déjà montés, explique Mac Lumy au général.<br />
      - Diantre, nous sommes en retard, mieux vaut nous dépêcher.
    </p>

  <div class="choix">
    <div class="ch" data-go="351">Suivre Mac et Allister</div>
  </div>

</div>
