<div class="num num-1-3-351 retour-350">

  <div class="text chapter3">

    <h1>- 351 -</h1>

    <p>
      Allister déploie un sort puissant qui vous donne pendant l'espace d'un instant des ailes noires. Vous êtes huit en vous comptant. Toi, Mac Lumy, Allister et cinq mages de la résistance.
    </p>

    <p>
      Tout à coup la tour tremble. Les lustres tombent des plafonds, les murs s'effritent, les tapisseries retombent au sol. Et une véritable tempête commence à éclater dehors.
    </p>

    <p>
      - Dépêchons-nous, hurle Allister.
    </p>

    <p>Un gigantesque meuble, renversé par les secousses tombe dans le vide et tu l'évite d'extrême justesse. Le mage derrière toi n'a pas eu cette chance et finit écrasé en plein vol.</p>

    <p>Des éclairs zèbrent le ciel et vous éclairent par à-coup. Vous passez les deuxième et troisième étage très rapidement. Finalement un combat terrible fait rage au quatrième et dernier étage de la tour.</p>

    <p>En effet, bien que la tour s'élevait autrefois jusqu'au septième étage, désormais vous voilà au sommet. Sur une simple plateforme balayé par la pluie et le vent. Au centre : <span class="naorem"></span>, entouré d'un vortex vert tourbillonnant. Il semble en transe et son énergie parait s'élever de seconde en seconde.</p>

    <p>Autour de lui c'est un véritable carnage.</p>

    <p>Le groupe d'Espéride au grand complet est à terre. Kannan, Haziko, Panacle et Anselm sont inconscients. Vos amis mages de la forteresse également.</p>

    <p>Il ne reste en état de se battre que trois personnes. Tout d'abord Ymir et Zaïra, sorti de nul part, semblent en piteux état mais continuent de se battre contre le prophète. A l'autre bout de la plateforme, là on se tenait avant l'escalier vers le cinquième étage, Lasseni est présente. Elle vous regarde arriver mais parait beaucoup plus concentrée sur <span class="naorem"></span>.</p>

    <p>
      - Oh oh ! Cela ne parait pas si mal, estime Allister. La prophète Méonie semble avoir disparue.<br />
      - Vous n'avez pas vu toutes ces personnes à terre ? fais-tu en rageant.<br />
      - C'est la guerre voyons. Pensais-tu que cette histoire finirait sans un drame ?
    </p>

    <p>
      Zaïra vous interpelle de loin.
    </p>

    <p>
      - Nous avons besoin que vous nous ouvriez un passage dans le vortex ! Une fois passé ce mur nous pourrons nous occuper du prophète.<br />
      - Cela me semble possible, lui répond Allister. Tous ensemble : concentrez votre énergie magique sur ce vortex.
    </p>

  <div class="choix">
    <div class="ch" data-go="356">Concentrer ta magie sur le vortex</div>
    <div class="ch" data-go="352">Aller soigner tes amis à terre</div>
  </div>

</div>
