<div class="num num-1-3-352 retour-351">

  <div class="text chapter3">

    <h1>- 352 -</h1>

    <p>
      Ce n'est pas une personne de moins qui fera la différence. Et tes amis pourraient avoir besoin de soins urgents. Tu te précipites vers Kannan, la plus proche. Mais le vent devient de plus en plus fort.
    </p>

    <p>Ymir et Zaïra tentent de s'approcher du vortex en courant comme ils le peuvent. Et Allister, Mac Lumy et les autres semblent en mesure d'ouvrir un petit passage dans le vortex.</p>

    <p>De ton côté, avec un sort de soin sur Kannan, celle-ci ouvre les yeux.</p>

    <p>
      - ATTENTION ! hurle Allister.
    </p>

    <p>Tu ne sais pas ce qu'il s'est passé mais tout à coup, Ymir et Zaïra sont projetés en arrière. Tu vois une sorte d'onde te raser la tête. Heureusement que tu étais agenouillée sinon tu aurais pris l'attaque de plein fouet. Le prophète a lancé une attaque tout autour de lui.</p>

    <p>
      Mac Lumy a réussi à se baisser à temps également mais plusieurs mages ont été éjecté de la plateforme. Un objet atterrit à côté de toi et Kannan, c'est un artefact... le même que Soufflardent avait sur son corps pour le garder endormi.
    </p>

    <p>
      - <span class="tonnom"></span>, te dit Kannan entre ses dents. C'est l'artefact d'Ymir et Zaïra. Si tu touches le prophète avec il s'endormira.<br />
      - Cela devrait être plus simple que de lui lancer le sort de magie de la lune, fais-tu en récupérant l'artefact. Reposes-toi un peu Kannan, je m'occupe de ça.
    </p>

    <p>En te retournant vers Mac, tu es surpris<span class="sf">e</span> de voir qu'Allister a abandonné son aspect humain pour réapparaitre sous les traits du noctule que tu connais. L'onde de choc de <span class="naorem"></span> l'a visiblement suffisamment affaibli pour qu'il redevienne normal.</p>

  <div class="choix">
    <div class="ch" data-go="353">Continuer</div>
  </div>

</div>
