<div class="num num-1-3-353 retour-352">

  <div class="text chapter3">

    <h1>- 353 -</h1>

    <p>
      - Usaki ! réagit Mac Lumy. Alors <span class="tonnom"></span> avait raison ?<br />
      - Du calme, fait le noctule ébranlé. Pour le moment ce qui compte c'est d'arrêter le prophète comme je l'ai dit.
    </p>

    <p>Le vortex s'est refermé, Ymir et Zaïra ne sont visible nul part. Ils ont dû être projetés dans la tempête. Le vent recommence à souffler de plus belle. Tes amis encore inconscients vont se faire emporter ci ça continue.</p>

    <p>
      - Je me charge de tout le monde, dit Kannan.<br />
      - Tu es sûre ? Tu as encore beaucoup de blessures.<br />
      - Je ne peux que faire ça pour vous aider, alors ne te préoccupe que de <span class="naorem"></span>.
    </p>

    <p>Tu hoches la tête et tu pars en direction du prophète comme les deux mages légendaires avant toi.</p>

    <p>
      - J'y vais, fais-tu à l'attention d'Usaki. Ouvrez moi un passage dans le vortex.<br />
      - On est plus que deux ! te signale Mac Lumy.<br />
      - Laisse tomber, te hurle Usaki. Donne moi cet artefact je suis plus fort que toi, je pourrai mieux supporter ce vent ! Et faites votre possible pour ouvrir le vortex !
    </p>

    <p>Tu ne sais pas si tu peux lui faire confiance mais il a vraiment l'air de vouloir arrêter <span class="naorem"></span>. Lasseni semble aussi souffrir de quelque chose car elle parait à bout de souffle. Mais elle s'approche avec facilité du vortex et plonge ses mains dedans. Ainsi elle force une ouverture.</p>

    <p>
      - <span class="tonnom"></span> ! Passe dedans, te dit Lasseni. Je ne vais pas tenir longtemps.
    </p>

  <div class="choix">
    <div class="ch" data-go="354">Laisser l'artefact à Usaki pour qu'il prenne les risques</div>
    <div class="ch" data-go="355">Foncer dans l'ouverture créée par Lasseni</div>
  </div>

</div>
