<div class="num num-1-3-354 retour-353">

  <div class="text chapter3">

    <h1>- 354 -</h1>

    <p>Tu fais signes à Usaki de venir et tu lui remets l'artefact.</p>

    <p>
      - On rêglera nos comptes plus tard, lui fais-tu. Va là dedans et finis le.
    </p>

    <p>
      Le noctule hoche la tête et fonce avec l'artefact dans l'ouverture du vortex. Aussitôt passé, Lasseni relâche son effort et le vent manque de l'emporter. Tu la rattrapes au dernier moment.
    </p>

    <p>Sa peau est devenue toute bleue. Cela semble très bizarre.</p>

    <p>
      - Qu'est-ce qu'il fait, s'écrie Mac Lumy en désignant Usaki.
    </p>

    <p>Le noctule a laissé tomber l'artefact à terre et pose ses pattes sur les temps de <span class="naorem"></span>. Le prophète est complètement en transe et ne réagit même plus à son environnement mais son énergie continue de monter.</p>

    <p>
      - Usaki veut voler les pouvoirs de <span class="naorem"></span>, dit alors Lasseni.<br />
      - Lasseni, ta peau ? fait Mac. Qu'est-ce qu'il t'arrive ?<br />
      - Je crois que ce vortex est en train de libérer la force de Soufflardent en moi. Je ne sais pas si je vais pouvoir me retenir longtemps.<br />
      - Heu… qu'est-ce que ça veut dire ? demandes-tu hésitant<span class="sf">e</span>.<br />
      - … bientôt je vais me transformer en la même chose que <span class="naorem"></span> je crois. Le pouvoir de Soufflardent me contrôlera et je vais déclencher un cataclysme.
    </p>

    <p>Kannan a réussi à récupérer tout le monde et te fais signe qu'elle redescend en vous laissant finir le travail. Tu lui fais un signe de la main pour lui signifier que vous aller finir le travail.</p>


  <div class="choix">
    <div class="ch" data-go="343">Concentrer toute ton énergie pour le sort le plus spectaculaire de ta vie</div>
    <div class="ch" data-go="346">Demander à Mac Lumy de lancer un sort commun pendant que Lasseni vous protège avec une protection magique</div>
  </div>

</div>
