<div class="num num-1-3-356 retour-351">

  <div class="text chapter3">

    <h1>- 356 -</h1>

    <p>
      En vous concentrant tous en même temps, une ouverture se produit dans le vortex. Ymir et Zaïra tentent de s'approcher du vortex en courant comme ils le peuvent.
    </p>

    <p>Tout à coup <span class="naorem"></span> sort de sa transe, peut-être à cause de votre ouverture dans son vortex, et lance une puissante onde destructrice autour de lui.</p>

    <p>
      - ATTENTION ! hurle Allister.
    </p>

    <p>Ymir et Zaïra sont projetés en arrière, ils ont pris le sort presqu'à bout portant. Tu te baisses pour éviter de justesse le puissant sort. Kannan, Haziko et tous tes amis inconscients sont projetés dans la tempête.</p>

    <p>
      Mac Lumy a réussi à se baisser à temps également mais plusieurs mages ont été éjecté de la plateforme. Un objet atterrit à côté de toi, c'est un artefact... le même que Soufflardent avait sur son corps pour le garder endormi. Si tu arrives à le poser sur le prophète tu pourras l'arrêter tu en es certain<span class="sf">e/<span>.
    </p>

    <p>En te retournant vers Mac, tu es surpris<span class="sf">e</span> de voir qu'Allister a abandonné son aspect humain pour réapparaitre sous les traits du noctule que tu connais. L'onde de choc de <span class="naorem"></span> l'a visiblement suffisamment affaibli pour qu'il redevienne normal.</p>

  <div class="choix">
    <div class="ch" data-go="353">Continuer</div>
  </div>

</div>
