<div class="num num-1-3-357 retour-276">

  <div class="text chapter3">

    <h1>- 357 -</h1>

    <p>
      Quelqu'un te prends dans ses bras et semble te soigner. La douleur s'en va mais tes yeux ne voient toujours rien.
    </p>

    <p>
      - Est-ce que ça va mieux ? te dit Lasseni.<br />
      - Je ne vois plus rien, lui réponds-tu.
    </p>

    <p>Tu entends des pas de plusieurs personnes arriver à votre étage puis une voix qui déclare.</p>

    <p>
      - Méonie, Lasseni, je suis le général Allister, laissez tomber vos pouvoirs ou nous devrons tous vous détruire.
    </p>

    <p>Allister ? Non… ce doit être Usaki. Tu agrippes Lasseni.</p>

    <p>
      - Lass', ce type n'est pas un humain, c'est Usaki. S'il te plait, détruis-le.<br />
      - Hum… il semble être allié avec tous les autres, si je l'attaque je risque de déclencher un carnage.
    </p>

    <p>Dans ce cas, c'est toi qui va le faire. Tu te relèves et tu essaies de faire face à la voix que tu entends.</p>

    <p>
      - Usaki ! Je dois t'arrêter ! lui cries-tu.<br />
      - <span class="tonnom"></span>, dit Zaïra, c'est la fin. Nous avons gagné. Il s'agit du général de la résistance. Usaki n'est pas là.
    </p>

    <p>
      Une petite voix brise le silence qui s'était installé.
    </p>

    <p>
      - D'accord, je vais rendre mes pouvoirs, déclare Méonie. Dites-moi juste comment faire.
    </p>

    <p>Tu rages, tout le monde est en train de faire confiance à Usaki. Il a une puissance incomparable. Les deux mages légendaires sont déjà bien blessés. Si Méonie et Lasseni redonnent leurs pouvoirs… personne ne pourra l'arrêter. Il va prendre le contrôle de l'Académie.</p>

  <div class="choix">
    <div class="ch" data-go="358">Tenter d'attaquer Usaki - mais tu ne le vois pas</div>
    <div class="ch" data-go="361">Laisser Usaki et attendre une occasion plus tard</div>
  </div>

</div>
