<div class="num num-1-3-358 retour-357">

  <div class="text chapter3">

    <h1>- 358 -</h1>

    <p>
      Tu incantes alors un sort en puisant au plus profond de toi le plus d'énergie possible. Tu vas lui envoyer un "rayon destructeur", un sort que tu viens de mettre au point. Lasseni n'a même pas le temps d'arrêter que le sort est parti.
    </p>

    <p>
      Tu es calme malgré les événements et tu as tenté de visualiser la position d'Usaki grâce à tes autres sens. Puis il te semble reconnaître les formes. Tu ne vois pas avec tes yeux mais tu ressens les énergies magiques autour de toi. Lasseni a une belle énergie bleue. Méonie une douce énergie verte. Et une forme plus loin une énergie noire : c'est Usaki.
    </p>

    <p>
      - NON <span class="tonnom"></span> ! Pas ça ! hurle Ymir et Zaïra.
    </p>

    <p>Tu t'aperçois que ton sort ne va pas vers le noctule mais vers l'énergie d'autres mages, certainement ceux qui venaient d'arriver avec leur général.</p>

    <p>Une nouvelle énergie semble s'emparer de toi, elle provient de la terre et te dit dans ta tête que tu peux le faire. Tu bouges tes mains et avec ta volonté tu courbes la direction de ton sort. Alors qu'il allait toucher un innocent, il lui passe son le nez et vire sur le noctule.</p>

    <p>Visiblement surpris il n'arrive pas à esquiver.</p>

    <p>
      - De toute ma vie, c'est la première fois que je vois quelqu'un arriver à courber la direction d'un sort, souffle Ymir.<br />
      - Regardez, s'écrie Lasseni ! … Usaki !
    </p>

    <p>
      L'ancien général Allister n'a pas changé pour toi, mais après avoir encaissé ton sort tout le monde a l'air de le percevoir sous son vrai jour.
    </p>

    <p>
      - Misérable, s'écrie le noctule. Je me vengerai ! fait-il en sortant un artefact de sa poche.
    </p>

    <p>Tu ressens toujours les énergies, c'est comme ça que tu "vois" Lasseni empêcher le noctule de s'enfuir. Elle casse son artefact et le plaque au sol. Puis elle l'enferme dans un bloc de glace, à toute épreuve.</p>

  <div class="choix">
    <div class="ch" data-go="359">Continuer</div>
  </div>

</div>
