<div class="num num-1-3-359 retour-358">

  <div class="text chapter3">

    <h1>- 359 -</h1>

    <p>
      L'énergie que t'avais prêté la terre semble alors s'échapper de toi. Quand elle finit par disparaitre complètement tu te sens incroyablement fatigué<span class="sf">e</span> et tu mets un genoux à terre.
    </p>

    <p>Zaïra vient alors s'occuper de toi en te félicitant pendant qu'Ymir explique à Méonie et Lasseni comment rendre leurs pouvoirs.</p>

    <p>La résistance est sous le choc de savoir qu'elle a été dirigée depuis le début par un monstre.</p>

    <p class="espéride-vivante">Espéride prend le contrôle de l'Académie le temps que soit choisi un nouveau conseil de la magie.</p>
    <p class="espéride-morte">Fandrean prend le contrôle de l'Académie le temps que soit choisi un nouveau conseil de la magie.</p>

    <p>De ton côté, malgré les soins de Méonie et Lasseni, avant de rendre leur pouvoirs, tes yeux n'ont jamais pu guérir. Mais si tu as pu arrêter Usaki dans ses plans, c'est le principal.</p>

  <div class="choix">
    <div class="ch" data-go="360">Epilogue</div>
  </div>

</div>
