<div class="num num-1-3-36">

  <div class="text chapter3">

    <h1>- 36 -</h1>

    <p>Tu t'avances alors vers <span class="naorem"></span>. Dans la foule certains semblent te reconnaître. D'autres se demandent bien qui est ce mage qui ose prendre la parole devant les deux prophètes.</p>

    <p>
      - Ecoutez-moi tous. Je suis <span class="tonnom"></span>, hériti<span class="sf">ère</span><span class="sg">er</span> des pouvoirs de Soufflardent. Ceux qui peuvent utiliser la magie ont passé du temps à l'apprendre. Mais ce n'est pas une raison pour écraser les habitants de l'Académie de cette façon.
    </p>

    <p>Tu as pris soin de dire Académie et non Palais. Tu préfères l'ancien nom qui donne son sens premier à la magie, un endroit d'apprentissage et non un endroit pour gouverner les autres. Tu reprends ton discours :</p>

    <p>- Vous êtes déjà privilégiés, vous avez plus de pouvoirs, plus de richesses et plus de confort que les autres. Vous devez en profiter pour redistribuer vos richesses aux habitants. Si vous leur volez leur travail, les gens vont finir par partir de l'Académie et cela deviendra une ville morte. Cette ville, m'a toujours émerveillé<span class="sf">e</span>, quand je suis arrivé<span class="sf">e</span> il y a quelques années j'ai vu ici la plus belle ville du monde… Et aujourd'hui je suis déçu<span class="sf">e</span> de ce que je vois.</p>

    <p>Tu lances un regard de pitié aux mages pendant que la foule t'applaudit. Méonie semble contente de ta prise de parole contrairement à <span class="naorem"></span>.</p>

    <p>Ce dernier décide de repartir au Palais en escortant les 3 mages pris à parti, te laissant toi et Méonie sur place.</p>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="38">Continuer</div>
  </div>

</div>
