<div class="num num-1-3-361 retour-357">

  <div class="text chapter3">

    <h1>- 361 -</h1>

    <p>
      Tu décidas d'attendre plus tard. Usaki ferait forcément une erreur à un moment et se trahira. Pour le moment tout le monde a besoin de souffler, et toi <span class="sf">la première</span><span class="sg">le premier</span>.
    </p>

    <p>On t'amena à l'infirmerie, Méonie et Lasseni essayèrent de soigner tes yeux mais sans succès. Plus tard, tu appris qu'Ymir et Zaïra avaient expliqués aux deux prophètes comment rendre leurs pouvoirs. Ce qu'elles avaient fait.</p>

    <p>
      Et dans la nuit, la fin du monde telle que tu l'avais connu arriva...
    </p>

    <p>
      Usaki avait fait venir toutes ses troupes noctules depuis la lune. L'Académie fut anéantie en une nuit. La surprise fut totale. Lasseni et Fandren réussirent à s'enfuir avec toi. Tu te reprochas longtemps de ne pas être intervenue.
    </p>

    <p>
      De tes anciens amis, tu ne savais même pas qui avait pu s'en sortir. Tout ce que tu savais c'est que les noctules avaient massacré la population entière de l'île de l'Académie. Ils avaient profité de la fatigue des combats contre les prophètes pour vous achever.
    </p>

  <div class="choix">
    <div class="ch" data-go="362">Epilogue</div>
  </div>

</div>
