<div class="num num-1-3-362 retour-361">

  <div class="text chapter3">

    <h1>- FIN 10 -</h1>

    <p>
      Douze années se sont écoulées depuis que les noctules ont envahi la planète terre. Les monstres lunaires se sont appropriés les endroits les plus beaux et regorgeants de nourriture. Les humains ont été forcé de s'enfuir dans les terres hostiles : les déserts, les marais et les montagnes stériles.
    </p>

    <p>Tu fais partie de la caravane "blanche". C'est une troupe d'une vingtaine d'humains, Fandrean et Lasseni sont avec toi. Vous êtes les seuls mages du groupe et vous tentez jour après jour de survivre.</p>

    <p>Dès que vous essayez de retourner sur des terres un peu plus hospitalières, vous ne voyez que des ruines de villages ravagés par les noctules. Lasseni ne te raconte pas tout en détail mais cela te fait froid dans le dos. Il parait que la lune a pris une couleur bleue, comme si des océans s'y était formé mais tu ne pourras jamais les voir de tes yeux.</p>

    <p class="middle">*</p>

    <p>Un jour que vous évoluiez dans le désert de l'ouest, vous tombez sur une sorte de grotte dans une montagne. D'abord, cette grotte fut un endroit propice à votre repos, vous procurant une bonne dose de fraicheur dont vous aviez besoin. Mais vous vous êtes rapidement rendus compte que la grotte était habitée et qu'étant donné la hauteur du plafond, la bête était peut être énorme.</p>

    <p>Lasseni, toi et Fandrean, en tant que mages du groupe décidèrent d'aller visiter le fond pour vérifier la dangerosité des lieux.</p>

    <p>Tes sens avaient évolués et désormais ta cécité était compensé par ton ouïe et ton odorat. Et au même moment que tes compagnons tu reconnus que vous aviez affaire à un dragon. L'odeur de souffre était formelle. Et un dragon de bonne taille.</p>

    <p>
      - Ne vous inquiétez pas, vous déclara le dragon d'une douce voix. Vous pouvez vous reposez pour la nuit. Moi comme vous, j'ai besoin de repos.<br />
      - Merci bien, répondit Fandrean. Nous ne voulions pas vous déranger, nous sommes désolés.<br />
      - Hi hi. Tant que vous êtes ici, laissez moi vous présentez mon fils.
    </p>

    <p>La maman dragon écarta ses pattes et un bébé dragonneau leva la tête vers vous.</p>

    <p>
      - Il s'appelle Soufflardent, déclara sa mère.<br />
      - Souffl... lâcha Lasseni stupéfaite. Oh, c'est un nom de dragon courant ?<br />
      - Non, seuls les dragons les plus puissants peuvent prétendre à ce nom. Il ramènera les humains en maître sur la terre. Comme il l'avait fait autrefois.<br />
      - Mais… ce n'est pas le même que… fis-tu sans comprendre.<br />
      - Si, il est le fils de la planète elle-même. Il possède toute la magie du monde. Il était le seul dieu de ce monde, et le voilà de retour !
    </p>

  <!-- <div class="choix">
    <div class="ch" data-go="362">Epilogue</div>
  </div> -->

</div>
