<div class="num num-1-3-363 retour-277">

  <div class="text chapter3">

    <h1>- 363 -</h1>

    <p>
      Tu réussis à pousser Lasseni, juste au moment où la masse noire allait la gober. Te voilà désormais en première ligne pour encaisser le sort de plein fouet. Mais grâce à ta souplesse et à tes capacités physiques, tu sautes par dessus dans une acrobatie digne des meilleurs cirque de l'Académie.
    </p>

    <p>Lasseni se remet de sa surprise immédiatement et te remercie de ton intervention. De ton côté tu atterris juste face au noctule qui ne s'attendait pas à ça.</p>

    <p>
      - Alors tu es mage et tu sais faire ça ? s'étonne Usaki.<br />
      - Et c'est pas fini ! lui dis-tu.
    </p>

    <p>Tu prépares à ton tour le plus puissant sort possible. Un sort de feu. Tu veux absolument en terminer avec lui. Usaki veut bouger également mais ses pattes semblent piégées dans la glace. Une glace qui remonte petit à petit le long de son corps : Lasseni est en train de le congeler.</p>

    <p>Sentant qu'il est en mauvaise posture, le noctule se met à incanter aussi. Mais la glace lui prend les bras, puis le torse et la tête jusqu'au bout des oreilles.</p>

    <p>Ton sort est prêt. Dans un cri jubilatoire tu envoies ton sort de "pyro-destruction" sur la statue d'Usaki qui vole en éclats. Cette fois plus personne ne pourra vous empêcher d'avoir une fin heureuse.</p>

    <p class="middle">*</p>

    <p>Ymir et Zaïra expliquèrent à Lasseni comment rendre ses pouvoirs à la terre, ce qu'elle fit sans hésiter. Visiblement elle a mal vécu d'avoir récupéré les pouvoirs du grand dragon.</p>

        <p class="espéride-vivante">La résistance victorieuse mais sans son général, c'est Espéride qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>
        <p class="espéride-morte">La résistance victorieuse mais sans son général, c'est Fandrean qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>

  <div class="choix">
    <div class="ch" data-go="364">Epilogue</div>
  </div>

</div>
