<div class="num num-1-3-365 retour-277">

  <div class="text chapter3">

    <h1>- 365 -</h1>

    <p>
      Tu réussis à pousser Lasseni, juste au moment où la masse noire allait la gober. Te voilà désormais en première ligne pour encaisser le sort de plein fouet. Tu essaies de t'écarter de la trajectoire du sort mais pas assez. La masse noire gobe tes jambes. Tu hurles de douleurs. Tes jambes ont disparues, et tu te vides de ton sang.
    </p>

    <p>Lasseni se remet de sa surprise immédiatement et se retourne immédiatement contre Usaki.</p>

    <p>
      - Sale monstre ! lui crie Lasseni. Meurs !
    </p>

    <p>Usaki veut s'en aller mais ses pattes semblent piégées dans la glace. Une glace qui remonte petit à petit le long de son corps : Lasseni est en train de le congeler.</p>

    <p>Sentant qu'il est en mauvaise posture, le noctule se met à sortir un artefact de sa fourrure. Mais la glace lui prend les bras, puis le torse et la tête jusqu'au bout des oreilles. Et le noctule se transforma en statue de glace.</p>

    <p class="middle">*</p>

    <p>Tu fus soignée par Lasseni juste après cela. Mais malgré ses pouvoirs, elle ne put reconstituer tes jambes. Fandrean te porta jusqu'à l'infirmerie pour que tu puisses te reposer.</p>

    <p>Ymir et Zaïra expliquèrent à Lasseni comment rendre ses pouvoirs à la terre, ce qu'elle fit sans hésiter. Visiblement elle a mal vécu d'avoir récupéré les pouvoirs du grand dragon.</p>

        <p class="espéride-vivante">La résistance victorieuse mais sans son général, c'est Espéride qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>
        <p class="espéride-morte">La résistance victorieuse mais sans son général, c'est Fandrean qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>

  <div class="choix">
    <div class="ch" data-go="366">Epilogue</div>
  </div>

</div>
