<div class="num num-1-3-367 retour-278">

  <div class="text chapter3">

    <h1>- 367 -</h1>

    <p>
      Tu choisis de lancer un sort de "lance-flamme", que tu viens d'apprendre. Avec tes mains mises en forme de tête de dragon, tu incantes ton sort en concentrant la magie du feu. Malgré la tempête environnante, tu arrives étonnamment bien à canaliser l'énergie magique.
    </p>

    <p>
      Usaki incante également un sort de magie de la lune. Tu ne reconnais pas ses mouvements, ce sera un sort surprise pour toi.
    </p>

    <p>Vos deux sorts sont prêts en même temps et vous lancez l'un sur l'autre vos pouvoirs.</p>

    <p>Des flammes rouges, absolument magnifiques, s'envolent vers le noctule, pendant que les ombres semblent prendre formes dans le dos d'Usaki et se jeter sur toi telles des lassos noirs.</p>

    <p>Tes flammes détruisent un des lassos mais Usaki saute facilement par dessus. C'est un lapin après tout. De ton côté, tu esquives deux des lassos restants avant de te faire attraper le pied droit. Puis, ne pouvant plus esquiver, tes bras se retrouvent prisonniers également.</p>

    <p>
      - Bien, finit la plaisanterie, reprend Usaki en retombant au sol. Voici le sort de "masse noire" qu'on réserve aux prophètes. Tu es privilégié<span class="sf">e</span> tu vois ?
    </p>

    <p>Et le noctule invoque une énorme masse noire devant toi : prête à te gober.</p>

  <div class="choix">
    <div class="ch" data-go="368">Brûler les lassos en concentrant ton énergie du feu sur toi</div>
    <div class="ch" data-go="372">Tirer sur les lassos d'un coup sec : ils ont l'air attaché au dos d'Usaki</div>
  </div>

</div>
