<div class="num num-1-3-368 retour-367">

  <div class="text chapter3">

    <h1>- 368 -</h1>

    <p>
      Cela ne semble pas fonctionner. Les lassos ne bougent pas. Il faut que tu concentres l'énergie du feu au maximum. Ta chaire sent le brûlé, tes amis brûlent mais cela a permit de desserrer les lassos et tu peux esquiver la "masse noire" juste avant qu'elle ne te gobe. Mais tu es en triste état. La pluie qui s'abat, calme légèrement la douleur mais tu dois lutter pour ne pas tomber dans les pommes.
    </p>

    <p>
      - Ouah ! Quel courage ! fait le noctule. Tu as brûlé ton propre corps pour te sortir de mes tentacules d'ombre. Mais tu ferais mieux d'abandonner.
    </p>

    <p>Ne voulant pas lui laisser ce plaisir tu essaies de réfléchir à un nouveau sort mais pendant ce temps la tempête redouble et des éclairs semblent se concentrer sur le haut de la tour. D'ailleurs, les étages cinq, six et sept se sont envolés. Un prophète est en train de se déchainer là-bas.</p>

    <p>
      - Je n'ai pas de temps à perdre, t'explique Usaki. Je peux détruire le prophète qu'il y a là-haut. Laisse-moi passer.<br />
      - Si un prophète détruit ce monde, tant pis, réponds-tu. Mais je fais confiance à mes compagnons pour s'en sortir. Toi je ne te laisserai pas t'enfuir.
    </p>

    <p>Une décharge parcours alors ton corps, tu ne ressens plus de douleurs. La magie semble couler de nouveau à plein régime dans tes veines. Tu sens que la terre elle-même te redonne des forces pour contrer cet ennemi qu'elle considère comme dangereux.</p>

    <p>Et tu reprends ta position d'incantation pour refaire un "lance-flamme".</p>

    <p>Usaki comprends que tu ne bougeras pas et se met également en position d'incantation.</p>

  <div class="choix">
    <div class="ch" data-go="369">Détruire Usaki ou mourir</div>
  </div>

</div>
