<div class="num num-1-3-369 retour-368">

  <div class="text chapter3">

    <h1>- 369 -</h1>

    <p>
      Vos sorts se déclenchent encore une fois ensemble. Usaki a envoyé un nouveau sort, un sort de tourbillon noir qui fonce sur toi. Tu ne sais pas si tu pourras l'esquiver, alors tu envoies toute l'énergie qu'il te reste dans ce sort.
    </p>

    <p>Les flammes qui jaillissent de tes mains sont d'un blanc à l'opposé total de la noirceur du tourbillon d'Usaki. La puissance de ton sort t'arrache les ongles de tes mains et déchire ta peau brûlée.</p>

    <p>En percutant le sort d'Usaki, les flammes blanches annihilent les ténèbres du tourbillon. Et le rayon vient transpercer le coeur du noctule. L'enflammant aussitôt dans des flammes tout aussi blanches.</p>

    <p>Pendant quelques secondes, Usaki reste debout comme insensible, mais finit par tomber à terre toujours en flammes malgré la pluie.</p>

    <p>Puis soudain la tempête s'arrête, un feu d'artifice violet semble partir du haut de la tour - au quatrième étage. Des petites étincelles violettes retombent sur tout le lac et la cité, comme une pluie magnifique.</p>

    <p>Tu sens l'énergie prêtée par la terre repartir dans le sol et, sitôt la dernière goutte envolée, la douleur reprend de plus belle dans tout ton corps. C'est trop dur de résister, tu tombes immédiatement inconscient<span class="sf">e</span> au sol.</p>

  <div class="choix">
    <div class="ch" data-go="370">Continuer</div>
  </div>

</div>
