<div class="num num-1-3-37">

  <div class="text chapter3">

    <h1>- 37 -</h1>

    <p>Aussitôt de retour au Palais, <span class="naorem"></span> te fait signe de le suivre jusqu'à l'ancienne salle du conseil des mages supérieurs. La salle n'est pas très spacieuse car elle est au sommet de la tour, au septième étage, mais elle est très bien décorée. Des vitraux aux fenêtres racontent la légende d'Ymir et Zaïra à la façon apprise à l'Académie et fait écho aux tapisseries que tu avais vues à la forteresse de la lune. Mullihane et Andaelor sont là en train de discuter.</p>

    <p>- Dehors vous deux, fait <span class="naorem"></span> de mauvaise humeur. </p>

    <p>Les deux mages supérieurs, traités comme des serviteurs, s'exécutent sur le champs.</p>

    <p>- Bon sang. Depuis qu'on a reprit le Palais en main les habitants sont un problème. Méonie les respectent trop et ils nous mettent des bâtons dans les roues. Alors même que c'est les plus inutiles !<br />
      - Je m'inquiéterai plus de leur réaction finale à ta place, lui fais-tu remarquer.<br />
      - Allister ?... c'est un résistant je crois. C'est notre ennemi et visiblement il fomente une rébellion.<br />
      - J'étais venu pour ça autre chose. Quelqu'un m'a parlé d'Usaki et des noctules. Une mage fournaliste ou un truc du genre.<br />
      - Fournaliste ? C'est quoi ? fait <span class="naorem"></span> curieux.<br />
      - Je n'ai pas bien compris moi-même, mais elle savait plein de choses et surtout que les noctules voulaient détruire tous les humains.<br />
      - A part Usaki, tu veux dire qu'il y a d'autres noctules ?<br />
      - J'avoue que je n'en ai pas vu d'autres personnellement.
    </p>

    <p>Tu marques une pause dans ton récit, pendant que <span class="naorem"></span> a l'air soucieux.</p>

    <p>- Cette fournaliste m'a dit aussi que Fandrean et Lasseni étaient ici, capturés. Vous en avez fait quoi ? finis-tu par demander.</p>

    <p><span class="naorem"></span> t'avait déjà dit qu'ils avaient été capturés sans te préciser ce qu'il leur était arriver.</p>

    <p>
      - On voudrait faire collaborer Fandrean avec nous. S'il nous rejoignait on pourrait manipuler facilement l'opinion des habitants. Ils le considèrent comme un héro. Ils pensent que c'est lui qui a tué Soufflardent. Et même avec notre pouvoir on ne peut pas forcer les gens à nous croire, nous les prophètes. Quelle guigne ! Pour l'instant il croupit en prison dans les sous-sols du Palais.<br />
      - Les mages supérieurs ont l'air de vous avoir rejoint, dis-tu en faisant référence à Mullihane et Andaelor précédemment présents.<br />
      - Evidemment, ils gardent un peu de pouvoir mais ils nous lèchent les bottes… Quand à Lasseni elle est en prison aussi, on essaie de se servir d'elle pour faire pression sur son frère mais ils tiennent bon malgré nos tortures.<br />
      - Vous… les torturez ? fais-tu choqué<span class='sf'>e</span>.<br />
      - Pour avoir la paix ce ne serait pas cher payé.
    </p>

    <p>Tu tournes les talons et commence à partir de la salle.</p>

    <p>- Où vas-tu ?.<br />
      - Voir Lasseni, réponds-tu en tournant la tête par dessus ton épaule tout en laissant transparaitre ton dégoût pour les méthodes utilisées par <span class="naorem"></span>.
      </p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="63">Descendre au sous-sol</div>
  </div>

</div>
