<div class="num num-1-3-370 retour-369">

  <div class="text chapter3">

    <h1>- 370 -</h1>

    <p>
      Tu te réveilles dans un lit à l'infirmerie bien plus tard. Lasseni est à ton chevet. Tu vois avec surprise que ton corps a été guéri en partie. Tu as encore des cicatrices de tes blessures sur tout le corps mais tes ongles ont repoussé et tu ne ressens aucune douleur.
    </p>

    <p>Lasseni t'explique qu'elle a utilisé ses pouvoirs de prophète pour te guérir mais qu'elle ne peut pas faire mieux. En te regardant dans la glace, tu vois que les cicatrices t'ont complètement dévisagées. Tu te reconnais à peine, mais au moins tu es vivante, alors tu remercies ton amie et lui demande ce qu'il s'est passé avec Méonie et <span class="naorem"></span>.</p>

    <p>Ce dernier aurait engagé le combat contre <span class="espéride-vivante">Espéride, sa troupe,</span> Ymir et Zaïra. Mais quand Méonie arriva en compagnie de Fandrean et Lasseni - trahissant l'autre prophète -  il devint fou en réalisant qu'il était tout seul. Il a voulu alors détruire la planète. Mais Méonie s'est sacrifiée pour l'arrêter. Elle s'est transformée, elle et <span class="naorem"></span>, en pluie violette.</p>

    <p>La grande bataille aura causé beaucoup de morts mais tout semble rentré dans l'ordre. Les gens de la résistance cherchèrent longtemps où était passé leur général Allister - alias Usaki.  Tu te dis qu'il valait mieux pas qu'ils sachent la vérité.</p>

    <p class="middle">*</p>

    <p class="espéride-vivante">La résistance victorieuse mais sans son général, c'est Espéride qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>
    <p class="espéride-morte">La résistance victorieuse mais sans son général, c'est Fandrean qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>

  <div class="choix">
    <div class="ch" data-go="371">Epilogue</div>
  </div>

</div>
