<div class="num num-1-3-372 retour-367">

  <div class="text chapter3">

    <h1>- 372 -</h1>

    <p>
      Le noctule a l'air de peser au moins 10 fois ton poids, mais avec l'énergie du désespoir, tu tires quand même sur les lassos de toutes tes forces.
    </p>

    <p>Usaki ne s'attendait pas à ça et est projeté en avant dans son propre sort de "masse noire", ses lassos d'ombre disparaissent sur le coup. Mais son énorme blob noir continue avec horreur son chemin dans ta direction. Tu pensais vraiment qu'elle disparaitrait tout de suite !</p>

    <p>Encore allongé<span class='sf'>e</span> à terre tu tentes une roulade mais tes jambes traversent quand même le sort du noctule.</p>

    <p>En criant de douleur tu réalises que tu viens de perdre tes deux jambes et que tu es en train de te vider de ton sang. En quelques instants tu tombes dans les pommes.</p>

    <p class="middle">*</p>

    <p>Tu te réveillas quelques heures plus tard dans une infirmerie de la résistance. Lasseni était déjà à ton chevet. Elle t'expliqua que malgré ses pouvoirs de prophète elle ne put que te sauver la vie sans pouvoir te reconstituer tes jambes.</p>

    <p>Tu n'as plus de jambes, mais au moins tu es vivante, alors tu remercies ton amie et lui demande ce qu'il s'est passé avec Méonie et <span class="naorem"></span>.</p>

    <p>Ce dernier aurait engagé le combat contre <span class="espéride-vivante">Espéride, sa troupe,</span> Ymir et Zaïra. Mais quand Méonie arriva en compagnie de Fandrean et Lasseni - trahissant l'autre prophète -  il devint fou en réalisant qu'il était tout seul. Il a voulu alors détruire la planète. Mais Méonie s'est sacrifiée pour l'arrêter. Elle s'est transformée, elle et <span class="naorem"></span>, en pluie violette.</p>

    <p>La grande bataille aura causé beaucoup de morts mais tout semble rentré dans l'ordre. Les gens de la résistance cherchèrent longtemps où était passé leur général Allister - alias Usaki.  Tu te dis qu'il vallait mieux pas qu'ils sachent la vérité.</p>

    <p class="middle">*</p>

    <p>Lasseni réussit à se débarrasser de ses pouvoirs grâce à Ymir et Zaïra. Ces derniers avaient réussi à trouver un moyen pour les prophètes pour qu'ils puissent abandonner les pouvoirs de Soufflardent et les rendre à la terre.</p>

    <p class="espéride-vivante">La résistance victorieuse mais sans son général, c'est Espéride qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>
    <p class="espéride-morte">La résistance victorieuse mais sans son général, c'est Fandrean qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>

  <div class="choix">
    <div class="ch" data-go="366">Epilogue</div>
  </div>

</div>
