<div class="num num-1-3-373 retour-278">

  <div class="text chapter3">

    <h1>- 373 -</h1>

    <p>
      Tu choisis de lancer un sort de "Muraille", que tu viens d'apprendre. Tes mains mis en forme d'un cercle et tu incantes ton sort en concentrant la magie de la terre. Malgré la pluie environnante tu arrives étonnamment bien à canaliser l'énergie magique.
    </p>

    <p>
      Usaki incante également un sort de magie de la lune. Tu ne reconnais pas ses mouvements, ce sera un sort surprise pour toi.
    </p>

    <p>Vos deux sorts sont prêts en même temps et vous lancez l'un sur l'autre vos pouvoirs.</p>

    <p>Un mur de pierre vient sortir du sol devant toi, pendant que les ombres semblent prendre formes dans le dos d'Usaki et se jeter sur toi telles des lassos noirs.</p>

    <p>Les lassos d'Usaki percutent le mur sans pouvoir le traverser. Derrière ta protection, tu sens alors qu'il faut contre-attaquer, puisqu'il ne peut pas te voir. Et puisque la magie de la terre a fonctionné contre sa magie de la lune tu continues avec un sort de "Gouffre".</p>

    <p>
      - Je croyais que tu voulais me tuer ? crie Usaki de rage. Pourquoi est-ce que tu te caches ?
    </p>

    <p>Mais tu ne te laisses pas tomber dans le piège, tu restes concentré<span class="sf">e</span> sur ta tactique.</p>

  <div class="choix">
    <div class="ch" data-go="374">Continuer</div>
  </div>

</div>
