<div class="num num-1-3-374 retour-373">

  <div class="text chapter3">

    <h1>- 374 -</h1>

    <p>
      Tu te rends compte en incantant ton sort, que si Usaki ne voit pas ce que tu fais, c'est la même chose pour toi. Mais c'est trop tard pour penser à autre chose. Tu plaques tes mains au sol quand tu sens que ton sort est prêt.
    </p>

    <p>
      Un craquement parcourt le sol jusque là où devrait se trouver le noctule. Puis une secousse fait s'ouvrir le sol pour faire tomber Usaki dedans.
    </p>

    <p>La pluie redouble et la tour de magie se décompose. Ou plutôt, les étages cinq, six et sept s'envolent. Des éclairs se concentrent sur le quatrième étage. <span class="naorem"></span> a l'air de se déchainer mais tu dois faire confiance à tes amis pour gérer ça.</p>

    <p>Tu contournes avec précaution ton mur pour voir si Usaki est bien tombé dans ton piège. Ton trou béant l'a sans doute aspiré car tu ne vois de trace de lui nul part.</p>

  <div class="choix">
    <div class="ch" data-go="375">Vérifier dans le trou</div>
    <div class="ch" data-go="377">Fermer ton "gouffre" et écraser tout ce qui se trouve dedans immédiatement</div>
  </div>

</div>
