<div class="num num-1-3-375 retour-374">

  <div class="text chapter3">

    <h1>- 375 -</h1>

    <p>
      Tu passes la tête au dessus du trou pour vérifier que le noctule est bien dedans. Mais bien sûr en prévoyant un sort de "lance-flamme" au cas où.
    </p>

    <p>Au moment où tu passes la tête, une gigantesque forme noire visqueuse en sort.</p>

    <p>
      - Prends ça ! s'écrie une voix au fond du trou.
    </p>

    <p>Le haut de ton corps est attrapé par la masse noire sans que tu puisses faire quoi que ce soit. Tu vois avec horreur que ton corps est coupé en deux. Tu sens un froid immense t'envahir. Tu sais que c'est la fin pour toi mais tu sais finalement qu'Usaki était dans le trou.</p>

    <p>Et aussitôt que ta vie s'achève le gouffre se referme sur le noctule qui meurt écrasé par dix tonnes de pierres.</p>

    <p>Tu ne sais pas ce qu'il advint de tes amis mais tu espères qu'ils auront réussi à arrêter <span class="naorem"></span>. Tu n'es pas triste, tu sais que tu as réussi le but que tu t'étais fixé<span class="sf">e</span> : arrêter Usaki.</p>

  <div class="choix">
    <div class="ch" data-go="376">Epilogue</div>
  </div>

</div>
