<div class="num num-1-3-376 retour-375">

  <div class="text chapter3">

    <h1>- FIN 14 -</h1>

    <p>
      Tu fermes les yeux, tu ne ressens plus rien. Ou plutôt tu te sens comme dans un rêve. Tu es en train de rêver.
    </p>

    <p class="middle">*</p>

    <p>Des centaines d'année plus tard, comme sorti<span class="sf">e</span> d'un rêve tu te sens bouger. Tu donnes des coups dans ta prison et tu essaies de te créer une sortie pour arriver à l'air libre. La lumière du soleil te fait mal aux yeux. Tu sens le vent sur tes écailles, tu as envie de voler dans les airs. Ta mère, un grand dragon noir est à tes côtés.</p>

    <p>
      - Tu t'appelleras Soufflardent, te dit-elle fière.
    </p>

    <p>Soufflardent ? Ce nom te dit quelque chose. Etrange, car tu viens seulement de naître.</p>

</div>
