<div class="num num-1-3-377 retour-375">

  <div class="text chapter3">

    <h1>- 377 -</h1>

    <p>
      Tu ne sais pas si Usaki est dedans mais tu refermes ton sort et le gouffre se replie sur lui-même. Si quelqu'un était dedans il a été écrasé par dix tonnes de pierre.
    </p>

    <p>Mais tu restes sur tes gardes, au cas où Usaki aurait lancé un sort le rendant invisible.</p>

    <p>Soudain la tempête s'arrête. Un véritable feu d'artifice violet semble jaillir du quatrième étage de la tour. C'est magnifique.</p>

    <p>Quelques instants plus tard, les soldats et les mages de la résistance commencent à crier victoire. Chacun saute dans les bras des uns et des autres. Plusieurs personnes te prennent dans leurs bras sans que tu n'aies rien demandé.</p>

    <p>Heureusement qu'ils n'avaient pas vu que tu avais combattu leur "général". Tu as d'ailleurs beau continuer à rester sur tes gardes, Usaki ne revint pas. A-t-il fuit ? Est-il reparti sur la lune ? Tu n'espères pas.</p>

    <p>Lasseni et Fandrean finissent par redescendre dans la cour de l'école sous les applaudissements. Enfin, c'est plutôt un champ de bataille qu'une cours d'école désormais. Lasseni te fait la tête en te demandant où tu étais passé<span class='sf'>e</span>.</p>

    <p>Tu dois t'excuser platement plusieurs fois pour t'expliquer mais ton amie a l'air de t'en vouloir... pendant quelques minutes seulement. Ne voyant pas Méonie avec eux, tu lui demandes ce qu'il s'est passé.</p>

    <p><span class="naorem"></span> aurait engagé le combat contre <span class="espéride-vivante">Espéride, sa troupe,</span> Ymir et Zaïra. Mais quand Méonie arriva en compagnie de Fandrean et Lasseni - trahissant l'autre prophète -  il devint fou en réalisant qu'il était tout seul. Il a voulu alors détruire la planète. Mais Méonie s'est sacrifiée pour l'arrêter. Elle s'est transformée, elle et <span class="naorem"></span>, en pluie violette.</p>

    <p>La grande bataille aura causé beaucoup de morts mais tout semble rentré dans l'ordre. Les gens de la résistance cherchèrent longtemps où était passé leur général Allister - alias Usaki.  Tu te dis qu'il valait mieux pas qu'ils sachent la vérité.</p>

    <p class="middle">*</p>

    <p class="espéride-vivante">La résistance victorieuse mais sans son général, c'est Espéride qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>
    <p class="espéride-morte">La résistance victorieuse mais sans son général, c'est Fandrean qui récupéra le pouvoir, le temps qu'un nouveau conseil de magie soit choisi.</p>

  <div class="choix">
    <div class="ch" data-go="378">Epilogue</div>
  </div>

</div>
