<div class="num num-1-3-379 retour-290">

  <div class="text chapter3">

    <h1>- 370 -</h1>

    <p>
      <span class="naorem"></span> semble avoir pris pour cible Fandrean, le mage qu'il estime le plus dangereux. De son côté Méonie, le protège avec des barrières magiques absolument infranchissables. Tu ne sais pas comment Espéride compte passer ça même avec des "blobs noirs".
    </p>

    <p>D'ailleurs, Lasseni et Kannan essaient d'envoyer depuis le début du combat des sorts de feu et de glace sans parvenir à faire le moindre dommage.</p>

    <p>Fandrean, grâce à son expérience, arrive de justesse à éviter les sorts du prophète mais la tour encaisse de grosses secousses. Le frère de Lasseni est obligé de rester continuellement en défense. Il ne peut pas contre-attaquer.</p>

    <p>Même s'il tente d'attirer le prophète à lui, un sort vient exploser à côté de Panacle, qui s'écroule inconscient. Si ça continue, <span class='naorem'></span> va les avoir les uns après les autres.</p>

    <p>
      Méonie te regarde en te demandant ce que tu attends pour combattre. Elle te dit qu'elle te protégera donc que tu peux te lâcher.
    </p>

    <p>
      - Heu… Je vois que <span class="naorem"></span> s'amuse tellement, fais-tu pour te justifier. Je ne vais pas lui gâcher ce plaisir.<br />
      - Hooo ! T'es trop gentille en fait, réplique Méonie avec tendresse.
    </p>

    <p>Enfin, Espéride lance un premier sort ressemblant à un "blob noir", puis Lasseni, Kannan et Anselm font de même. Deux blobs semblent se diriger vers toi et Méonie. Deux autres vers <span class="naorem"></span>.</p>


  <div class="choix">
    <div class="ch" data-go="380">Tenter de "pousser" Méonie dans un blob</div>
    <div class="ch" data-go="398">Tenter de "pousser" <span class="naorem"></span> dans un blob</div>
  </div>

</div>
