<div class="num num-1-3-38">

  <div class="text chapter3">

    <h1>- 38 -</h1>

    <p>Tu te rapproches un peu de Méonie pour lui demander :</p>

    <p>
      - Y aurait pas comme une certaine tension entre toi et <span class="naorem"></span> ? J'ai l'impression que votre coup d'état sur l'Académie ne se passe si bien que ça.<br />
      - ... Oui, on ne gouverne que par la force. Les mages supérieurs nous lèchent les bottes mais c'est parce qu'ils ont peur de nous. Le reste des mages nous suit car on leur a gardé leur place hiérarchique dans la société mais ils se défoulent sur la population.
    </p>

    <p>Des habitants vous entourent et viennent vous serrer la main à tou<span class="sf">te</span>s les deux. Ils sont vraiment ravis de ton intervention. Méonie aussi a l'air de les traiter plutôt bien et semble appréciée.</p>

    <p>
      - Si <span class="naorem"></span> se comporte comme ça, toi, ça te va ? lui demandes-tu.<br />
      - Au départ j'étais plutôt pour une société où on présenterait le monde comme on l'aurait aimé. Comme Soufflardent me l'avait présenté. Mais Arak et <span class="naorem"></span> se vengent de ce que l'Académie a pu faire subir à notre ancien maître.<br />
      - C'est étrange, personnellement j'ai trouvé que l'Académie était allé trop loin avec Soufflardent mais je ne ressens pas le besoin de tout contrôler pour autant. Je n'ai pas en moi de grief particulier contre l'Académie. J'ai compris que ce qui comptait ce n'était finalement pas de libérer Soufflardent mais de libérer son pouvoir. Et c'est désormais chose faite.<br />
      - Mais c'est à nous 4 désormais de distribuer ce pouvoir aux mages, intervient Méonie. Le pouvoir de Soufflardent n'est pas "libre".<br />
      - Hum… je ne sais pas. Peut être est-il possible pour nous d'abandonner nos pouvoirs et de laisser n'importe qui les utiliser.<br />
      - Tu.. tu voudrais abandonner ton pouvoir ? fait Méonie surprise.<br />
      - Je ne sais pas. Maintenant que j'ai un pouvoir sans fin je ne sais pas trop quoi en faire. Soufflardent m'a seulement donné pour mission d'arrêter Usaki. Après quoi… je n'aurai plus vraiment d'objectif.
    </p>

    <p>La prophétesse est abasourdie mais ne te fait pas plus de reproche. Elle parait même sensible à ton discours et semble se demander ce qu'elle pourrait faire de ses pouvoirs également.</p>

    <p>
      - Il parait que vous avez capturé Fandrean et Lasseni, je peux les trouver où ?<br />
      - Arak et <span class="naorem"></span> les ont fait enfermé dans les sous-sols de l'Académie. Ils souhaitaient que Fandrean les rejoigne pour pouvoir contrôler la population plus facilement, dit Méonie sombrement. Il faut dire qu'il est considéré comme un héro par les gens d'ici.
    </p>

    <p>Dés l'information prise tu décides d'aller toi-même voir ça de plus prés. Tu retournes en un instant dans la cour de l'école.</p>
  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="63">Descendre au sous-sol</div>
  </div>

</div>
