<div class="num num-1-3-380 retour-379">

  <div class="text chapter3">

    <h1>- 380 -</h1>

    <p>
      Méonie a l'air de se rendre compte rapidement que ces blobs sont dangereux et va prévenir <span class="naorem"></span> d'esquiver le sort. Tu prends les devants et tente de projeter magiquement la prophète dans le blob.
    </p>

    <p>Méonie, surprise, décolle sans souci mais se téléporte au moment où elle allait être gobée. Elle arrive devant <span class="naorem"></span>, juste à temps pour le pousser sur le côté et éviter les sorts qui le visaient.</p>

    <p>
      - Attention, lui dit-elle. Ces sorts sont mortels.<br />
      - Ouah, tu as bien fait de me le dire, j'aurai essayé d'encaisser.<br />
      - Et <span class="tonnom"></span> a essayé de me jeter dedans.
    </p>

    <p>Le prophète se tourne vers toi l'air déçu, trahi. Vous allez jouer cartes sur table désormais. Plus besoin de te cacher.</p>

    <p>
      - Opération : on rase tout ! fait <span class="naorem"></span>.
    </p>

    <p>Il concentre son énergie et fait sauter les étages cinq, six et sept. Vous laissant sur une plateforme complètement vide. Les meubles et les accessoires s'envolent dans les cieux, après l'apparition soudaine d'une énorme tempête.</p>

    <p><span class="naorem"></span> continue d'assurer l'attaque, pendant que Méonie se charge de la défense. Fandrean te rejoint et te dit :</p>

    <p>
      - Il va falloir que tu contres les protections de Méonie. A part toi, personne ne pourra le faire ici.<br />
      - Je vais tenter, mais c'est une spécialiste des sorts de protection.
    </p>

  <div class="choix">
    <div class="ch" data-go="381">Continuer</div>
  </div>

</div>
