<div class="num num-1-3-381 retour-380">

  <div class="text chapter3">

    <h1>- 381 -</h1>

    <p>
      Les protections de Méonie sont solides. Tu essaies de les plier ou de les ouvrir mais l'instant d'après tout est remis en place. <span class="naorem"></span> a pris de son côté un nouvel angle d'attaque et attaque Anselm. Ce dernier, ne s'y attendant pas est touché de plein fouet. Tu arrives juste à temps pour le soigner d'une blessure mortelle.
    </p>

    <p>Mais ton ami est KO.</p>

    <p>
      - On va commencer à supprimer tous les petits gêneurs, et puis on s'occupera des gros, explique le prophète.
    </p>

    <p>Un nouvel éclair explose aux pieds d'Haziko qui est projetée dans la tempête. Même toi tu n'arrives pas à la rattraper.</p>

    <p>
      - <span class="tonnom"></span> ! te dit Lasseni. Tu dois ouvrir la barrière de Méonie. Ne t'occupes pas de nous !<br />
      - Mais...<br />
      - On ne peut contre-attaquer que si tu fais ça ! Je sais que c'est dur à voir mais on est tous prêt à se sacrifier. Je suis sûre qu'Haziko a pu se rattraper. C'est une mage de haut niveau.
    </p>

    <p>Tu te ressaisis. Même si ça ne dure qu'une seconde tu dois percer la défense de la prophète. Tu concentres ton énergie contre celle de Méonie et ça crée une petite déchirure.</p>

    <p>
      - Vas-y Fandrean ! Maintenant ! lui cries-tu.
    </p>

    <p>Mais au moment où il tentait de passer par ton ouverture, <span class="naorem"></span> surgit en lui envoyant un bloc de pierre sur le dos avec violence.</p>

    <p>
      - Ha ha ha ! Notre duo est indestructible ! se vante le prophète.<br />
      - Je suis pourtant passé, fait une voix derrière les deux prophètes.
    </p>

    <p>En se retournant, <span class="naorem"></span> et Méonie découvrent avec stupeur un lapin de trois mètres de haut. Il venait d'incanter un sort de blob directement sur Méonie qui n'a pas le temps de l'éviter. L'instant d'après, la prophète a disparu. Sa barrière se détruit aussitôt.</p>

    <p>
      - Usaki ? fais-tu en même temps que Lasseni et Mac Lumy.
    </p>

    <p><span class="naorem"></span>, déboussolé, semble soudain entrer dans un crise de grande ampleur. Un cri sort de sa gorge déclenchant une onde de choc autour de lui. Usaki est projeté en arrière et manque de se faire emporter dans la tempête. Il est retenu au dernier moment par Fandrean.</p>

    <p>Espéride prend la décharge en pleine tête et finit inconsciente. Il ne reste plus que toi, Kannan, Mac Lumy, Lasseni, Fandrean et Usaki. Contre un prophète devenu fou de colère. Mais c'est aussi peut-être l'occasion d'en finir avec Usaki.</p>

  <div class="choix">
    <div class="ch" data-go="382">Continuer</div>
  </div>

</div>
