<div class="num num-1-3-382 retour-381">

  <div class="text chapter3">

    <h1>- 382 -</h1>

    <p>
      Fandrean se lance le premier sur le prophète. Mais ses sorts s'enroule autour de <span class="naorem"></span> qui les aspire en lui. Il semble gagner en puissance à chaque sort lancé. Le prophète n'a plus l'air lui-même. Ses yeux sont devenus blancs et il ne vous parle plus, si ce n'est en poussant des cris de bêtes.
    </p>

    <p>
      - Que ceux qui le peuvent lancent leur sort de "masse noire", crie Usaki à tout le monde.
    </p>

    <p>Les blobs sont envoyés une nouvelle fois en direction du prophète. Mais, il a l'air de se souvenir de la dangerosité du sort et les évite tous avec facilité. Puis vient se téléporter dans le dos de Mac Lumy avant de le lancer dans la tempête. Un éclair zèbre alors le ciel pour venir frapper ton ami en plein ciel.</p>

    <p>
      - Mac ! s'écrie Lasseni.
    </p>

    <p>Kannan se jette de la tour pour voler à son secours, mais <span class="naorem"></span> s'engage directement sur elle. Tu viens juste à temps pour t'interposer entre le prophète et la mage. Tu places une protection que tu penses la plus solide possible. Mais la colère du prophète lui a fait décupler ses forces et passes outre ta barrière assez facilement.</p>

    <p>Tu protèges Kannan de ton corps en lui disant de sauver Mac Lumy. Avec ta main tu agrippes <span class="naorem"></span> quand il te frappe avec une "main de flamme" et tu le ramènes avec toi sur la plateforme du quatrième étage. </p>

    <p>Vous n'êtes pas grièvement blessés, ni l'un ni l'autre. Mais il t'a fichu un coup au moral : il semble bien plus puissant que toi dans cet état. Et ton groupe vient de perdre deux éléments. Soudain le prophète se fige. Un vortex vert commence à tourbillonner autour de lui. Une puissance inouïe semble se concentrer dedans. Il faudrait une puissance considérable pour passer ce vortex.</p>

    <p>
      - <span class="tonnom"></span> ! Tu vas refaire pareil qu'avec Méonie, t'interpelle Usaki. Tu vas m'ouvrir un passage à travers ce vortex et on pourra se débarrasser de lui.<br />
      - Non, je m'en charge, dis Lasseni à Usaki. Je vais passer le vortex.<br />
      - J'ai plus de puissance que toi, s'énerve Usaki. Je le ferai.
    </p>

  <div class="choix">
    <div class="ch" data-go="383">Ouvrir un passage dans le vortex en face de Lasseni</div>
    <div class="ch" data-go="389">Ouvrir un passage dans le vortex en face d'Usaki</div>
  </div>

</div>
