<div class="num num-1-3-383 retour-382">

  <div class="text chapter3">

    <h1>- 383 -</h1>

    <p>
      Alors qu'Usaki essaie encore d'argumenter avec Lasseni, tu envoies un message à ton amie par télépathie : "Vas-y" !
    </p>

    <p>Le vortex a beau être puissant, il te semble plus facile à ouvrir que la protection de Méonie. Néanmoins en projetant ton pouvoir dedans tu entends dans ta tête comme un craquement. Ton pouvoir semble grossir en toi. Tu as même l'impression de voir ton énergie s'échapper de tes doigts tellement tu en as. Mais tu n'as pas le temps pour faire plus attention à cela.</p>

    <p>Lasseni, s'engouffre dans la brèche que tu viens de lui créer. Et tu refermes aussitôt le vortex en mettant un genoux à terre. Fandrean vient vite te voir.</p>

    <p>
      - Ta peau, elle est devenue verte ! te fait le mage. Que se passe-t-il ?<br />
      - Je… crois que ce vortex m'a fait un truc, réponds-tu. Je ne vais pas bien du tout, fais-tu en ayant un haut-le-cœur.
    </p>

    <p>Usaki court jusqu'à vous deux.</p>

    <p>
      - Il fallait que tu me fasses entrer ! Cette mage n'a pas le niveau pour se débarrasser du prophète.
    </p>

    <p>Mais <span class="naorem"></span> ne bouge pas. Lasseni est face à lui un peu stupéfaite devant le corps du prophète qui lévite légèrement. Il ne semble plus du tout faire attention à ce qui l'entoure. Mais son énergie continue d'augmenter. Et plus elle augmente et plus tu entends des craquements dans ta tête. Tes doigts semblent se fendre et tu vois encore plus d'énergie en sortir.</p>

    <p>Lasseni lance alors son sort de "masse noir" sur le prophète immobile. La tempête se calme en un instant, en même temps que le blob aspire <span class="naorem"></span>. Le vortex se désagrège dans le ciel nocturne comme un feu qu'on éteint.</p>

    <p>Mais les craquements dans ta tête sont plus forts que jamais.</p>

    <p>
      - Hum… il ne reste plus qu'un prophète, fait la voix d'Usaki à côté de toi.<br />
      - Comment ? s'exclame Fandrean. Si tu <span class="sf">la</span><span class="sg">le</span> touches, je te tue.
    </p>

  <div class="choix">
    <div class="ch" data-go="384">Continuer</div>
  </div>

</div>
