<div class="num num-1-3-384 retour-383">

  <div class="text chapter3">

    <h1>- 384 -</h1>

    <p>
      Tu commences à comprendre légèrement. Le vortex a déclenché une réaction en chaine dans ton corps. Tu es en train d'absorber de plus en plus d'énergie mais ton corps ne peut plus le supporter. Tu vas devenir bientôt exactement comme <span class="naorem"></span> était.
    </p>

    <p>
      - Si on <span class="sf">la</span><span class="sg">le</span> laisse avec ces pouvoirs, ce ne sera qu'une question de temps avant <span class="sf">qu'elle</span><span class="sg">qu'il</span> ne devienne un tyran despotique. Ou <span class="sf">qu'elle</span><span class="sg">qu'il</span> fasse sauter une partie de la planète.<br />
      - Pour le moment, on va juste l'amener voir des médecins, répond Fandrean à Usaki. Tout va bien <span class="tonnom"></span>?<br />
      - Qu'est-ce qu'<span class="sf">elle</span><span class="sg">il</span> a ? fait le noctule en remarquant seulement maintenant ta peau devenue verte.
    </p>

    <p>Lasseni revient vers vous au pas de course quand elle remarque que ça ne va pas pour toi. Ta poitrine te semble trop petite et ta respiration est difficile maintenant. Tu sens que ton pouvoir pourrait exploser à tout moment. Tu as l'impression que tu pourrais détruire toute l'Académie si cela se produisait.</p>

    <p>
      - <span class="sf">Elle</span><span class="sg">Il</span> est en train de perdre la raison, comme l'autre prophète juste avant ! s'exclame Usaki. Faut l'abattre tout de suite !<br />
      - Hors de question ! lui répond sèchement Lasseni. On va trouver une solution.<br />
      - Attends… Lass', fais-tu en ayant de plus en plus de mal à parler, je…
    </p>

  <div class="choix">
    <div class="ch" data-go="385">… vais exploser. Laisse Usaki me tuer. Sinon on va tous mourir !</div>
    <div class="ch av-pas-studieux" data-go="386">… vais réussir à me contrôler.</div>
    <div class="ch av-studieux" data-go="387">… vais réussir à me contrôler.</div>
  </div>

</div>
