<div class="num num-1-3-385 retour-384">

  <div class="text chapter3">

    <h1>- 385 -</h1>

    <p>
      - Dis pas ça ! fait Lasseni en pleurs. Il y a sûrement un moyen de comprendre ce qu'il se passe et de t'aider.<br />
      - Vous l'avez entendu<span class="sf">e</span> ? fait Usaki avec aplomb. Je vais réaliser son souhait.<br />
      - Noon ! hurle Lasseni, mais son frère l'arrête.
    </p>

    <p>Tu vois que Fandrean est obligé de prendre sa sœur dans ses bras pour l'empêcher de venir contrer le noctule. Avant qu'il ne lance son sort tu lui adresses une dernière demande.</p>

    <p>
      - Tu as prévu quoi après ma mort ? Tu va attaquer l'Académie ?<br />
      - Tu n'as pas besoin de t'en préoccuper, fait le noctule.<br />
      - Je voudrai que tu me promettes que tu laisseras tout le monde tranquille, ici, sur terre.<br />
      - Tu ne seras pas là pour voir si je respecte ma promesse...<br />
      - J'ai lancé un sort, fais-tu en le coupant. Si plus de cent noctules arrivent sur terre… la lune explosera.<br />
      - QUOI !? fait Usaki. Espèce de … />
      - Tu es le seul capable de faire respecter cette condition, lui dis-tu. Je compte sur toi.<br />
      - …
    </p>

    <p>Bien entendu, tu n'as pas un tel pouvoir. Mais tu espères que ton mensonge obligera Usaki à laisser la terre tranquille. Il ne répond pas mais il a l'air contrarié. Il met ses pattes en l'air prêt à incanter. </p>

    <p>"CRAC"</p>

    <p>Des craquelures apparaissent dans tes yeux, et de partout sur ton corps. Tu rayonnes d'énergie verte. Tu te sens complètement disparaitre, absorbé<span class="sf">e</span> par une puissance encore bien plus grande que Soufflardent. Et puis tout disparait quand un blob noir te recouvre.</p>

  <div class="choix">
    <div class="ch" data-go="376">Epilogue</div>
  </div>

</div>
