<div class="num num-1-3-386 retour-384">

  <div class="text chapter3">

    <h1>- 386 -</h1>

    <p>
      - Vous voyez ! fait Lasseni. <span class="sf">Elle</span><span class="sg">Il</span> va se battre !<br />
      - Regarde-là, lui fait Usaki. Elle est sur le point d'exploser, son énergie fuite de partout. Dit-lui toi, t'es son frère !<br />
      - Lasseni, dépêchons-nous. Il y a sûrement un médecin dans la résistance qui pourra l'aider.<br />
      - Oh les imbéciles ! se lamente le noctule.
    </p>

    <p>Fandrean te prend dans ses bras et saute de la tour pour atterrir dans la cours de l'école. Il appelle de partout les médecins. Plusieurs arrivent pour te voir. Tu ne comprends plus trop ce qu'il se passe. Le bruit dans ton crâne t'empêche d'entendre quoi que ce soit d'autre. Tu es mis<span class="sf">e</span> dans un lit sur une tente pendant qu'on t'ausculte. Puis Ymir et Zaïra déboulent en trombe à ton chevet.</p>

    <p>
      - Elle va libérer son énergie ! s'écrie Ymir.<br />
      - Vite petit<span class="sf">e</span>, te dit Zaïra. Tu vas faire exactement ce que je te dis, ok ?
    </p>

    <p>Tu n'entends rien de ce qu'ils racontent. Mais ils ont l'air inquiets.</p>

    <p>"CRAC"</p>

    <p>Des craquelures apparaissent dans tes yeux, et de partout sur ton corps. Tu rayonnes d'énergie verte. Tu te sens complètement disparaitre, absorbé<span class="sf">e</span> par une puissance encore bien plus grande que Soufflardent. Ton corps ne supporte plus la pression de l'énergie intérieure qui te consume.</p>

    <p>Dans une déflagration titanesque tu annihiles complètement l'Académie. La tour, l'île, le lac et les environs s'évapore comme neige au soleil. Mais ta conscience reste encore quelques instants à flotter au dessus de tout ça. Puis tu te sens absorbé<span class="sf">e</span> par la terre.</p>

  <div class="choix">
    <div class="ch" data-go="376">Epilogue</div>
  </div>

</div>
