<div class="num num-1-3-387 retour-384">

  <div class="text chapter3">

    <h1>- 387 -</h1>

    <p>
      - Vous voyez ! fait Lasseni. <span class="sf">Elle</span><span class="sg">Il</span> va se battre !<br />
      - Regarde-là, lui fait Usaki. Elle est sur le point d'exploser, son énergie fuite de partout. Dit-lui toi, t'es son frère !<br />
      - Non… ce n'est pas une blague… je dois donner mon pouvoir et ce sera fini, expliques-tu.<br />
      - Hein ? Oh dans ce cas je veux bien te soulager, fait le noctule. Donne moi tes pouvoirs.<br />
      - Ha ha ha, rigoles-tu. Tu ne serais pas capable non plus de les maîtriser. Il n'y a qu'une seule créature qui peut récupérer ces pouvoirs : Soufflardent.<br />
      - Mais... il est mort, fait Lasseni.
    </p>

    <p>Depuis un moment tu te le demandais : d'où est venu le grand Dragon ? Ce n'était pas un simple dragon comme les autres. Quelqu'un lui avait forcément donné la vie. Et cette personne c'est celle qui a récupéré les pouvoirs de chaque prophète avant toi : la terre.</p>

    <p>
      - Elle va lui redonner vie si je rends mes pouvoirs, j'en suis sûre, fais-tu.<br />
      - De qui parles-tu, fait Fandrean interrogatif.
    </p>

    <p>Puis tu poses tes mains sur le plancher en essayant de transférer tes pouvoirs dans le sol à travers la tour. Immédiatement tout se met à trembler. La tour s'agite comme si elle était vivante. Ymir et Zaïra arrivent juste à ce moment là. La mage légendaire comprends immédiatement la situation et vient te tenir la main.</p>

    <p>
      - C'est bien <span class="tonnom"></span>, continue de te concentrer sur ma voix. Ferme les yeux et fais tout ce que je te dis.
    </p>

    <p>Elle semble savoir de quoi elle parle et tu suis toutes ses indications. Très vite tu sens ton niveau d'énergie baisser. Les craquelures sur ton corps commencent à se refermer. Quand la dernière goutte de l'énergie de Soufflardent quitte ton corps, tu ressens une fatigue anormale et tu t'endors.</p>


  <div class="choix">
    <div class="ch" data-go="388">Epilogue</div>
  </div>

</div>
