<div class="num num-1-3-388 retour-387">

  <div class="text chapter3">

    <h1>- FIN 16 -</h1>

    <p>
      Tu te réveilles bien plus tard. Dans une superbe chambre, digne des contes de fées. Une corbeille de fruit est posée sur ta table de nuit. Tu ne peux t'empêcher de mordre dans une pêche bien juteuse. Tu as l'impression de n'avoir rien mangé pendant des jours. Tu passes la tête par la fenêtre en même temps que tu avales le contenu de la corbeille. Le lac Déluine te fait face. Cela signifie que tu es… dans la tour de magie ?
    </p>

    <p>Tu n'avais jamais vu de chambre aussi luxueuse dans la tour avant. Et puis, tu as l'impression d'être beaucoup plus haut qu'avant. En regardant vers le bas, la cité semble en chantier. Après la grande bataille, elle a dû se reconstruire mais cela signifie aussi que tu n'as pas dormi pendant des mois. Des mages ont certainement reconstruit la tour. Et encore plus haute et plus luxueuse.</p>

    <p>Une servante ouvre la porte et laisse tomber des affaires de toilette en te voyant debout.</p>

    <p>
      - <span class="sf">Dame</span><span class="sg">Messire</span> <span class="tonnom"></span> ! Vous êtes réveillé<span class="sf">e</span> !
    </p>

    <p>La servante te guide jusqu'à la cours de l'école. Beaucoup de choses ont changées. Les jardins sont en train d'être refleuris par magie et les dortoirs des premières années sont en pleine reconstruction.</p>

    <p>
      - Maître Fandrean, <span class="sf">Dame</span><span class="sg">Messire</span> <span class="tonnom"></span> s'est réveillé<span class="sf">e</span>, répète la servante.
    </p>

    <p>Fandrean est habillé d'une robe d'habitude portée par les membres du conseil de magie. Il a certainement été promu à ce poste après la bataille. Il est en train de coordonner les travaux de l'école.</p>

    <p>
      - Comment vas-tu alors ? commence le mage. Tu as dormi pendant prés d'un mois tu sais.<br />
      - Un mois ? fais-tu étonné<span class="sf">e</span>. Si longtemps que ça ? Est-ce que j'ai loupé quelque chose ?<br />
      - Quelque chose ? Tu veux dire comme ça ? dit Fandrean en pointant vers le ciel.
    </p>

    <p>Et en levant les yeux sur le haut de la tour, tu vois un gigantesque dragon en train de dormir sur la plateforme la plus haute de la tour. C'est un grand dragon noir. Il ... ressemble à Soufflardent.</p>

    <p>
      - Des noctules nous ont attaqué après que la bataille fut terminée, explique Fandrean. Nous allions perdre, on avait subi trop de pertes en se battant les uns contre les autres. Et là, sorti de nul part, ce grand dragon est venu nous sauver. Il a exterminé les troupes de noctules à lui tout seul. Maintenant il se contente de se reposer là haut et de manger ce qu'on lui apporte. C'est devenu notre protecteur.<br />
      - Si je m'attendais à cela. <br />
      - Lasseni dit que quand tu as renvoyé tes pouvoirs dans la terre cela a permi à la plnète de faire renaitre Soufflardent, comme tu l'avais pressenti.<br />
      - Mais... pourquoi nous protège-t-il ?
    </p>

    <p>Fandrean hausse les épaules pour signifier qu'il n'en sait rien. Mais visiblement tout est bien qui finit bien.</p>

    <p>
      - Et Usaki ? Que lui est-il arrivé ? demandes-tu.<br />
      - C'était le général des noctules. Mais personne ne sait s'il est mort face au dragon ou s'il a survécu. Si c'est le cas, il doit vivre sur la lune, avec les noctules encore vivants.
    </p>

</div>
