<div class="num num-1-3-389 retour-382">

  <div class="text chapter3">

    <h1>- 389 -</h1>

    <p>
      Alors qu'Usaki essaie encore d'argumenter avec Lasseni, tu envoies un message au grand lapin par télépathie : "Vas-y" !
    </p>

    <p>Le vortex a beau être puissant, il te semble plus facile à ouvrir que la protection de Méonie. Néanmoins en projetant ton pouvoir dedans tu entends dans ta tête comme un craquement. Ton pouvoir semble grossir en toi. Tu as même l'impression de voir ton énergie s'échapper de tes doigts tellement tu en as. Mais tu n'as pas le temps pour faire plus attention à cela.</p>

    <p>Usaki, s'engouffre dans la brèche que tu viens de lui créer. Et tu refermes aussitôt le vortex en mettant un genoux à terre. Fandrean vient vite te voir.</p>

    <p>
      - Ta peau, elle est devenue verte ! te fait le mage. Que se passe-t-il ?<br />
      - Je… crois que ce vortex m'a fait un truc, réponds-tu. Je ne vais pas bien du tout, fais-tu en ayant un haut-le-cœur.
    </p>

    <p>Lasseni court jusqu'à vous deux.</p>

    <p>
      - Tu as vraiment confiance en ce noctule ? te demande ton amie.<br />
      - ... Il veut lui aussi terrasser les prophètes, j'en suis certain<span class="sf">e</span>.<br />
      - Et qu'est-ce qu'il fait là ? réagit Fandrean.
    </p>

    <p>Usaki est devant le prophète et commence à poser ses pattes sur les tempes de <span class="naorem"></span>.</p>

    <p>
      - Mince, t'écries-tu. … Je crois qu'il essaie d'aspirer les pouvoir du prophète.<br />
      - Qu'est-ce qu'on peut faire ? te demande Fandrean. Tu peux rouvrir le vortex ?
    </p>

    <p>L'énergie de <span class="naorem"></span> continue d'augmenter. Et plus elle augmente et plus tu entends des craquements dans ta tête. Tes doigts semblent se fendre et tu vois encore plus d'énergie en sortir.</p>

    <p>
      - Je crois que je sais quoi faire, dis-tu. Allez vous mettre à l'abri. Je vais devoir faire un sort que sera peut-être difficilement contrôlable. Eloignez le plus de monde possible.
    </p>

    <p>Fandrean et sa sœur ne savent pas ce que tu vas tenter mais te font confiance. Avant de partir, Lasseni te tiens la main.</p>

    <p>
      - Ne meurs pas, ok ?<br />
      - Ne t'inquiètes pas, je n'ai vraiment pas envie de mourir.
    </p>

    <p>Et ton amie redescend les étages de la tour en courant. Tu as une petite larme au coin de l'œil en te disant que tu ne pourras pas tenir cette promesse que tu viens de lui faire.</p>

  <div class="choix">
    <div class="ch" data-go="390">Faire le sacrifice ultime et terrasser Usaki et <span class="naorem"></span></div>
  </div>

</div>
