<div class="num num-1-3-39">

  <div class="text chapter3">

    <h1>- 39 -</h1>

    <p>Tu es invité<span class='sf'>e</span> dans une maison semblable à toutes les autres. Les plafonds sont très hauts. Il faut dire que les noctules sont tous très grands. Usaki sous sa forme de noctule faisait parti des plus grands de sa race visiblement mais même les enfants font presque 2 mètres.</p>

    <p>Leng Fao pose son bagage dans un coin et te tend un tabouret, tu as l'impression de retourner en enfance car, un noctule est obligé de te porter pour que tu puisses grimper dessus. Beaucoup de visages restent collés aux fenêtres pour essayer de t'apercevoir. Ils ne doivent pas voir des humains tous les jours. La mage journaliste avec qui tu es venu sort des gâteaux et fait chauffer un peu d'eau.</p>

    <p>
      - Heu… Leng Fao, hésites-tu. Tu habites ici ?<br />
      - Oui, c'est chez moi. Et je te présente Yrik et Manatolla, fait-elle en te présentant deux noctules qui étaient là avec toi mais dont tu n'arriverais jamais à faire la différence entre les deux tellement ils se ressemblent.
    </p>

    <p>Les noctules poussent des petits cris pour se parler entre eux, ils ne semblent pas connaître ta langue.</p>

    <p>- Comment as-tu appris leur langue ? … Et comment es-tu arrivée ici ? demandes-tu à Leng Fao</p>

    <p>En posant une tasse d'un liquide inconnu et bleuâtre elle re répond :</p>

    <p>- Je suis une noctule. Tout comme Usaki j'utilise un sort de masque pour ne pas te faire peur. Mais il va bientôt disparaitre.</p>

    <p>Et effectivement à peine eut-elle finit sa phrase qu'un grand noctule la remplace.</p>

    <p>- Tu...tu peux encore parler ma langue sous cette forme j'espère, dis-tu beaucoup moins à l'aise.<br />
      - Ne t'inquiètes pas, ça, je l'ai apprise sans magie.</p>

    <p>Sans goûter à ta tasse tu continues à te montrer suspicieu<span class="sf">se</span><span class="sg">x</span> avec Leng Fao.</p>

    <p>- Tu m'avais dit que les noctules voulaient du mal aux humains et maintenant vous m'amenez en plein chez eux… chez vous. Enfin vous voyez ce que je veux dire.<br />
      - Hum hum, fait Leng Fao en ingurgitant une lampée de son breuvage. Je comprends pourquoi tu es sur tes gardes. Mais ici nous sommes un village pacifique. Un des seuls sur la lune. Pour que tu comprennes tout, je vais devoir te raconter l'histoire de la lune. Et elle est très fortement connectée à celle de ton monde.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="40">Ecouter l'histoire</div>
  </div>

</div>
