<div class="num num-1-3-390 retour-389">

  <div class="text chapter3">

    <h1>- FIN 17 -</h1>

    <p>
      Tu t'approches assez lentement du vortex. Les craquements dans ta tête commencent à être si forts que le bruit de la tempête ne te dérange même plus. Usaki te voit approcher.
    </p>

    <p>
      - Inutile ! J'aurai bientôt aspiré les pouvoirs de ce prophète, et regarde : il ne réagit même pas.
    </p>

    <p>En effet, <span class="naorem"></span> est amorphe. Il reste figé, ce n'est plus qu'une coquille vide, dévoré par les pouvoirs de Soufflardent. Et tu sens que ces craquements dans ta tête vont faire de même avec toi. Désormais tu as assez attendu, tu espères que Lasseni et Fandrean aient pu éloigner tout le monde. Tu concentres tes pouvoirs pour un ultime sort. Tu vas arrêter Usaki, le vortex et <span class="naorem"></span> d'un seul coup. Ton corps se fissure complètement et tu as l'impression d'enfin être libre. Tu étais emprisonné dans un corps trop faible pour toi et le moment de ta renaissance est arrivée.</p>

    <div class="magie magie-vent">
      <p>Une vague jaune déferle sur la tour. La tempête vient renforcer tes pouvoirs, le vortex s'estompe et Usaki est emporté dans les airs comme un simple papier dans le vent. <span class="naorem"></span> est dévoré par ton énergie et disparait comme un tableau qu'on efface.</p>

      <p>Tes pouvoirs du vent arrache la cité de son lac. Le pont de l'Académie se brise et la cité entière se soulève. Ton pouvoir inonde les rues comme une source d'eau pure. Dégoulinant du haut de la tour, une rivière jaune parcours désormais l'île. Et les habitants ne peuvent que constater qu'ils sont désormais dans une cité flottante dans les airs, environ trois cents mètres au dessus du lac.</p>

      <p>Une petite lumière jaune est désormais visible au quatrième étage de la tour de magie. Elle brillera encore plusieurs centaines d'années. Et tant qu'elle sera allumée, la tour flottera dans les cieux.</p>

      <p>Tout cela a provoqué des inondations un peu partout autour du lac mais tout redevient comme avant très vite.</p>

      <p>Le corps d'Usaki est retrouvé noyé dans le lac quelques jours plus tard par des pêcheurs.</p>
    </div>

    <div class="magie magie-feu">
      <p>Une vague rouge déferle sur la tour. Des flammes jaillissent de toi en explosant de partout. <span class="naorem"></span> est dévoré par ton énergie et disparait comme un tableau qu'on efface.</p>

      <p>Les flammes dévorent la ville en un rien de temps. Beaucoup de gens doivent s'enfuir sur le lac ou par le grand pont. Rien ne semble pouvoir éteindre l'incendie. Ni la pluie ni le froid ne viendront à bout de ces flammes.</p>

      <p>Une petite lumière rouge est désormais visible dans les restes calcinés de ce qui était autrefois le quatrième étage de la tour de magie. Elle brillera encore plusieurs centaines d'années. Et tant qu'elle sera allumée, l'incendie perdurera. A côté de cette lumière repose le squelette d'un lapin géant carbonisé : Usaki.</p>

      <p>Les eaux du lac ont commencé à s'évaporer. Plusieurs années plus tard, il ne restera rien du lac.</p>
    </div>

    <div class="magie magie-eau">
      <p>Une vague bleue déferle sur la tour. <span class="naorem"></span> est dévoré par ton énergie et disparait comme un tableau qu'on efface. La glace prend enferme tout sur son passage.</p>

      <p>La tour, l'île, le lac se gèlent à cause de tes pouvoirs. Rien ne résiste au froid intense que ton énergie a dégagé.</p>

      <p>Une petite bleue est désormais visible, enfermée dans un cristal de glace, au quatrième étage de la tour de magie. Elle brillera encore plusieurs centaines d'années. Et tant qu'elle sera allumée, les glaces ne fonderont pas. A côté de cette lumière, une statue de glace d'un lapin géant reste là pour l'éternité : Usaki n'a pas pu s'enfuir cette fois.</p>
    </div>

    <div class="magie magie-terre">
      <p>Une vague verte déferle sur la tour. <span class="naorem"></span> est dévoré par ton énergie et disparait comme un tableau qu'on efface. Un arbre gigantesque commence à pousser à une vitesse anormale. Tout ce que ses racines touchent, il les fait fleurir.</p>

      <p>La tour, l'île, le lac deviennent le terreau de cet arbre géant. Et de partout des fleurs magnifiques jaillissent.</p>

      <p>Une petite verte est désormais visible, dans un trou dans le tronc de l'arbre géant. Elle brillera encore plusieurs centaines d'années. Et tant qu'elle sera allumée, l'arbre vivra. A côté de cette lumière, un magnifique bosquet de fleurs magnifiques reste pour lui tenir compagnie, il a fleurit sur qui était autrefois un lapin géant.</p>
    </div>

    <p>Bien qu'ayant sacrifié<span class="sf">e</span> ta vie, tu te rends compte que tu es juste passé<span class="sf">e</span> à quelque chose de différent. La lumière, c'est toi, et tu protègeras cet endroit unique que tu viens de créer pendant encore longtemps. Même si tu n'arrives plus à communiquer avec les autres, ni à ressentir les choses, tu sais que c'était la meilleure utilisation possible des pouvoirs de Soufflardent.</p>
<!--

  <div class="choix">
    <div class="ch" data-go="390">Faire le sacrifice ultime et terrasser Usaki et <span class="naorem"></span></div>
  </div> -->

</div>
