<div class="num num-1-3-391 retour-291">

  <div class="text chapter3">

    <h1>- 391 -</h1>

    <p>
      Usaki est toujours ta priorité, mais cette fois ça risque d'être un joyeux bazar. Tu essaies de lui briser les os pour qu'il ne puisse plus du tout bouger. Le noctule semble encaisser le sort de plein fouet puisque tu le vois s'écrouler de douleurs, et reprendre petit à petit sa forme de noctule. Tout le monde va pouvoir se rendre compte de qui il est réellement.
    </p>

    <p>
      Mais en fait, personne ne fait vraiment attention à lui. Le sol s'effondre en explosant. Des projectiles magiques arrivent et fusent dans tous les sens. Tu en esquives un mais en encaisse un autre qui te transperce la jambe. Qui a lancé ce sort ? Tu ne le sais pas. Les sons s'estompent, tout a l'air de se passer au ralenti. Tu concentres ton énergie pour supporter la douleur. Des sorts de "masse noire" semblent partir dans tous les sens. Tu ne sais pas vraiment ce que c'est mais tu sens que tu ne dois pas y toucher : ce ne sont pas des sorts faits avec l'énergie de Soufflardent, donc probablement des sorts de noctule. Ou en tout cas fait avec la magie de la lune.
    </p>

    <p>
      Des cris surgissent au milieu des explosions. Du sang vient gicler sur ton visage. Le corps d'un mage a été découpé par un sort. Du coin de l'oeil tu vois <span class="mac-vivant">Mac Lumy</span><span class="mac-mort">Haziko</span> en train de tenir Kannan dans ses bras mais elle a la moitié du visage arraché. La fumée dégagée par les explosions te fait tousser et te piques les yeux. Tu concentres une nouvelle attaque pour en finir avec le noctule, car même si ses os ont craqués, quelqu'un pourrait le soigner.
    </p>

    <p>Tu le transformes alors en petit lapin normal, cela lui apprendra. Vu son état de faiblesse, ce n'est pas compliqué.</p>

    <p>Les explosions se calment, la fumée retombe, tu t'avances prés du lapin et le prends dans tes bras. Tu tournes la tête et déclare :</p>

    <p>
      - C'était bien Usaki, vous avez v... !
    </p>

    <p>Mais autour de toi : plus personne n'est vivant. Méonie a disparu, <span class="naorem"></span> est coupé en deux au niveau du torse. Espéride a fleuri, des centaines de roses ont poussé à travers son corps, les mages accompagnants Usaki ont tous subi des sorts plus horribles les uns que les autres.</p>

    <p class="haziko-vivante">Tu vois le corps d'Haziko avec un filet de sang sortant de sa bouche.</p>
    <p class="panacle-vivant">Panacle s'est changé en une statue de pierre complètement brisée.</p>
    <p class="anselm-vivant">Anselm est allongé par terre en train de brûler d'un feu magique bleu.</p>

    <p class="mac-vivant">Seul Mac Lumy est encore en vie, en train de pleurer ses amis morts.</p>

    <p>Usaki, le petit lapin, en profite pour sauter de tes bras et gambader à travers les ruines. Cela semble miraculeux mais il évite tous les sorts encore lancé sur le champ de bataille.</p>

  <div class="choix">
    <div class="ch" data-go="392">Epilogue</div>
  </div>

</div>
