<div class="num num-1-3-392 retour-391">

  <div class="text chapter3">

    <h1>- FIN 18 -</h1>

    <p>
      Tu appris que Lasseni était dans la tour quand elle s'est effondrée. Vous n'avez jamais retrouvé son corps. Ni celui de Fandrean d'ailleurs. Où le mage était-il à ce moment là ? Personne ne le sait. <span class="mac-vivant">Mac Lumy ne t'adressa plus la parole, il te repprocha de n'avoir eu en tête que ta haine du noctule et d'avoir abandonné tes amis.</span>
    </p>

    <p>Ymir et Zaïra, qui avaient rejoint le combat mais trop tard, ne purent que constater les dommages. Ils t'indiquèrent un moyen de rendre tes pouvoirs à la terre. Ce serait une manière de te sauver disaient-ils, car tôt ou tard, le pouvoir trop grand de Soufflardent finirait par te détruire ton corps. Tu hésitas. Tu décidas de conserver tes pouvoirs, au moins encore un peu.</p>

    <p>Comme tu avais combattu avec la résistance personne ne te fit trop de reproches mais tout le monde essayait de t'éviter. Tu ne peux pas les blâmer, tu aurais sûrement fait la même chose toi-même. Alors tu partis de l'Académie en ruine, sans même attendre de savoir qui serait choisi pour reprendre les rênes du pouvoir.</p>

    <p>Tu parcourus les montagnes encore plus au nord des montagnes noires. Tu devais le ou la trouver. Tu savais qu'il y existait, il devait forcément exister.</p>

    <p class="middle">*</p>

    <p>Une année plus tard, en arrivant sur la montagne la plus haute et enneigée que tu n'avais jamais vue, tu t'introduisis dans les entrailles de la terre. Une grotte gigantesque, exactement ce que tu recherchais. Mais était-il là ?</p>

    <p>Oui. Enfin, tu trouvais ce que tu cherchais. Un dragon noir gigantesque était allongé et te regarda entrer.</p>

    <p>
      - Approches, dit le dragon d'une voix féminine. Je t'attendais.<br />
      - Vous m'attendiez ? demandas-tu.<br />
      - Oui, car normalement tu aurais dû perdre tes pouvoirs depuis longtemps, mais ton abnégation à me chercher t'a permis de les conserver.<br />
      - Vous saviez que je vous cherchais ?<br />
      - Je suis la mère de tout ce qui existe. Je suis la mère de Soufflardent. C'est moi qui t'es aussi insufflé la vie. Je suis la magie elle-même. Tu me vois comme un dragon mais c'est juste l'enveloppe corporelle que j'ai choisi pour te parler. Je savais que tu cherchais un dragon, alors me voilà.<br />
      - Si… si vous êtes vraiment ce que vous dîtes, alors s'il vous plait, redonnez la vie à mes amis. Je… les ai abandonné il y a longtemps… Ils n'auraient pas dû mourir. Prenez moi à la place.
    </p>

    <p>Le dragon calma tes sentiments d'un simple souffle sur ta tête.</p>

    <p>
      - Du calme. La mort fait partit du cours normal des choses. Ils sont morts en faisant la guerre, penses-tu qu'ils aient été naïf au point de ne pas se rendre compte que c'était dangereux ? Ils connaissaient les risques et en sont morts.<br />
      - Mais… c'est injuste ! Pourquoi suis-je vivant<span class="sf">e</span> et eux morts ?<br />
      - Penses-tu que j'y sois pour quelque chose ? Chacun a été libre de ses actions dans cette histoire.<br />
      - Alors… pourquoi m'attendiez-vous ? demandes-tu en reniflant.<br />
      - Je vais devoir te reprendre tes pouvoirs maintenant. Je dois redonner naissance à un nouveau guide.<br />
      - Un nouveau guide ? fais-tu incrédule.<br />
      - Un nouveau Soufflardent doit être là pour vous guider, vous les hommes. J'ai essayé de vous donner son pouvoir pour voir ce que vous en feriez mais cela s'est avéré être un échec.<br />
      - … Oui, je suis un échec.<br />
      - Non, tu ne l'es pas, te console le dragon. L'échec est pour moi, je n'ai pas su vous donner la capacité de contrôler suffisamment ces pouvoirs. Sèches tes larmes car tu fais partie de mes meilleurs expérience. Je te ferai renaitre encore plus fort<span class="sf">e</span>.<br />
      - Qu... Comment cela "renaitre" ?
    </p>

    <p>Mais le dragon aspire ton pouvoir et ta vie par la même occasion. Tu tombes inerte à ses pattes. </p>

    <p class="middle">*</p>

    <p>Beaucoup plus tard, tu sembles te réveiller d'un long cauchemar, mais tu ne te rappelles de rien. Un grand dragon noir tient à tes côtés. Tu le connais ? Tu t'aperçois que tu viens de percer la coquille de ton oeuf.</p>

    <p>
      - Hum… comment vais-je t'appeler, fait le dragon. Je sais, à partir d'aujourd'hui tu t'appelleras <span class="tonnom"></span>.<br />
      - Ba baba.
    </p>

    <p>Tu essaies de parler mais tu ne sais que babiller.</p>

    <p>
      - Je suis ton père, Soufflardent. Je t'apprendrai tout ce que je sais, te dit alors ton dragon de père.
    </p>

</div>
