<div class="num num-1-3-393 retour-291">

  <div class="text chapter3">

    <h1>- 393 -</h1>

    <p>
      Le plus important est de protéger tes amis. Usaki et les deux prophètes ont une puissance inimaginable, il parait impossible que tes amis survivent à un déchainement de leurs pouvoirs. Tu fais un sort pour te permettre d'encaisser sur toi tous leurs dommages. Le plus longtemps possible tu espères. Le temps au moins de pouvoir les rassembler et les protéger sous une barrière magique.
    </p>

    <p>Mais ton pied est transpercé d'un sort, puis un autre te lacère le ventre. Tu sais que tu viens certainement de sauver la vie à deux de tes amis, mais la douleur est dure à supporter. Les explosions fusent dans tous les sens sur le champ de bataille. Le sang d'un mage accompagnant Usaki te gicle au visage, la fumée te pique les yeux et te fait tousser. Des sorts de "masse noire" apparaissent de partout. Cela semble être un sort impossible à détruire avec les pouvoirs de Soufflardent. Tu te téléportes pour en éviter un. Mais en réapparaissant tu t'écroules en sentant ton dos te brûler.</p>

    <p>Tu t'es mis<span class="sf">e</span> un peu plus loin pour ne pas encaisser un sort perdu mais tu encaisses toujours les sorts de tes amis.</p>

    <p>Un mage de la garde te voit blessé<span class="sf">e</span> et s'approche.</p>

    <p>
      - Je suis Esteban, le chef de la police magique. Vous allez bien maîtresse <span class="tonnom"></span>.<br />
      - Tu vois le combat là-bas ? fais-tu en montrant l'endroit où les prophètes se battent avec Usaki.<br />
      - Bien sûr, fait l'homme.<br />
      - L'homme avec la belle tunique, dis-tu en montrant Usaki. Tu dois le tuer. C'est le chef de la résistance. Mais ne touches à personne d'autre.<br />
      - A vos ordres ! fait le mage en se précipitant dans l'action.
    </p>

    <p>Au moins cela fera un allié de plus, penses-tu. C'est à ce moment là que ton bras droit tombe à terre. Tu as beau essayé de te guérir, ton sort pour protéger tes amis est en train de te tuer.</p>

    <p>Tu décides de te reposer en lançant un sort d'arrêt du temps.</p>

    <p>Tout se met alors en pause. Tu souffles un peu, tu peux raccrocherton bras tombé un peu avant. Et te rapprocher du combat qui fait rage mais suspendu dans le temps. Tes amis sont tous encore vivants : heureusement après ce que tu viens d'encaisser. <span class="naorem"></span> a lui aussi perdu un de ses bras. Méonie semble en mauvaise posture entourée par des sorts de "masse noire". Usaki, est en duel avec ce type, Esteban, que tu lui as envoyé.</p>

    <p>Soudain une voix te fait sursauter.</p>

    <p>
      - Il ne faut pas jouer avec le temps tu sais ?
    </p>

    <p>Un être de lumière est sur le champ de bataille et te parle. Il semble pouvoir se mouvoir sans problème malgré ton sort.</p>

    <p>
      - Qui êtes-vous ?<br />
      - Il ne faut pas jouer avec le temps car ton corps ne supportera pas un sort d'un tel niveau. Si tu continues tu vas exploser de l'intérieur, te prévient la créature.<br />
      - Mais… vous êtes là pour m'aider ou… ?<br />
      - Je suis là pour te mettre en garde, il ne te reste plus beaucoup de temps.
    </p>

    <p>La créature disparait alors aussi vite qu'elle était arrivée. Et ton sort d'arrêt du temps se termine en te remettant en plein cœur d'un combat tumultueux. Méonie se fait dévorer par les blobs noirs pendant qu'Estebant finit congelé en bloc de glace.</p>



  <div class="choix">
    <div class="ch" data-go="394">Continuer</div>
  </div>

</div>
