<div class="num num-1-3-394 retour-393">

  <div class="text chapter3">

    <h1>- 394 -</h1>

    <p>
      - Méonie !! Hurle <span class="naorem"></span>.
    </p>

    <p>Usaki semble content de sa victoire contre Esteban mais Espéride et tous tes amis le regardent comme s'ils avaient vu un fantôme.</p>

    <p>
      - Quoi ? fait le noctule.<br />
      - Mais… tu étais bien Usaki alors ? fait Mac Lumy bouche-bée.<br />
      - Hein ? Je suis le général Allister ! Vous ne me reconnaissez pas … ? Quoi ?
    </p>

    <p>Le noctule a repris sa forme de lapin géant, son combat l'a tellement fait puisé dans ses ressources qu'il n'a pas pu maintenir sa couverture.</p>

    <p>
      - Toi ! fait <span class="naorem"></span> en désignant le noctule. Tout ça c'est ta faute, c'est ça ?<br />
      - Oh et puis à quoi bon le cacher maintenant, oui j'ai préparé ça depuis un moment. Quel que soit le vainqueur de ce combat, j'enverrai ensuite mon armée de noctules pour finir le travail. L'humanité va payer pour nous avoir volé notre magie !<br />
      - Qu'est-ce que tu racontes ? s'exclame Espéride. Tu nous as manipulé ?<br />
      - Bien sûr ! s'énerve Usaki. Vous avez détruit mon monde ! Vous avez détruit la lune ! Soufflardent nous a pris toute la magie qu'on avait pour vous la donner ! Mon monde se meurt !<br />
      - Et... c'est pour ça ... que tu nous fais nous massacrer les uns les autres ? rage Kannan.<br />
      - Je ne m'attendais pas à ce que vous compreniez. Mais maintenant c'est trop tard, l'Académie est ravagée et beaucoup de mages sont déjà morts.<br />
      - Sale... lapin, crache <span class="naorem"></span> entre ses dents. Laissez-le moi, je vais le détruire.
    </p>

    <p>Mais tu poses une main sur l'épaule du prophète. Il semble bien blessé et tu remarques qu'Espéride, tes amis et même les mages qui accompagnaient le général Allister se retournent tous contre le noctule.</p>

    <p>
      - Je crois que tu as réussi à tous les liguer contre toi, fais-tu à Usaki.<br />
      - Je vous l'ai déjà dit : je m'en fiche tout est fini maintenant.
    </p>

    <p>Tes doigts tremblent de manière anormale. Ce que t'as dit cet être de lumière te reviens en tête : "tu n'as plus beaucoup de temps". Quand même tu espérais un peu plus que ça.</p>

  <div class="choix">
    <div class="ch" data-go="395">Etre compatissant avec Usaki</div>
    <div class="ch" data-go="396">Tuer Usaki pour venger tous les morts qu'il a causé</div>
  </div>

</div>
