<div class="num num-1-3-395 retour-394">

  <div class="text chapter3">

    <h1>- FIN 19 -</h1>

    <p>
     Tu attrapes alors Usaki par la fourrure de son torse avant même qu'il ait eu le temps de faire quoi que ce soit. Puis tu regardes avec tristesse tes amis. Tu croises le regard de Mac Lumy l'espace d'un instant. Tu sais qu'il a compris le sens de ton regard : c'est un adieu.
    </p>

    <p>Tu décolles alors dans les airs avec ton passager - Usaki - tu traverses le ciel, tu l'enveloppe d'une bulle protectrice pour passer par delà des nuages et l'espace. Tu sens tes doigts trembler de plus en plus. Dans l'espace tes pouvoirs ne semblent plus fonctionner, mais tu le traverses si vite que tu arrives à destination avant de mourir de froid. Te voilà sur la lune. Au milieu d'une ville gigantesque. Les grandes maisons blanches sont très différentes de ce qu'il y a sur terre.</p>

    <p>Des dizaines de noctules te regardent. Certains commencent à s'affoler. Usaki se remet difficilement du voyage mais semble crier quelque chose dans une langue inconnue. Mais tu ne te dégonfles pas, tu prends la parole en criant puissamment pour couvrir le brouhaha qui s'installe.</p>

    <p>
      - Il parait que vous nous reprocher d'avoir volé votre magie ? fais-tu.<br />
      - … - pas de réponse.<br />
      - Dans ce cas je suis venu<span class="sf">e</span> faire revivre cette planète ! dis-tu.<br />
      - Qu'est-ce que tu racontes ? marmonne Usaki en se relevant.<br />
      - Soufflardent a volé la magie des votres, tu disais ? Et bien figures-toi que j'en ai récupéré une partie.<br />
      - Je sais bien cela, c'est pour ça que j'essayais de te tuer justement.<br />
      - Notre planète aussi a besoin de magie, c'est pourquoi vous n'aurez que ce que je vous donnerai.<br />
      - Tu… tu vas nous donner si facilement ta magie ? s'étonne Usaki.<br />
      - Personnellement j'en ai trop, dis tu alors que tout ton corps tremble.
    </p>

    <p>Usaki arrête alors des gardes qui venaient t'arrêter. Tu remarques que le ciel est d'un noir triste et les rues manquent de couleurs. C'est vrai que cette lune semble comme un monde éteint, éternellement dans la nuit. Tu te mets en tailleur par terre et commence à te concentrer.</p>

    <p>
      - Tu vas vraiment abandonner tes pouvoirs pour ce monde qui t'es inconnu ? demande quelqu'un.
    </p>

    <p>Autour de toi le temps est arrêté. L'homme de lumière est devant toi.</p>

    <p>
      - Tout cette histoire avec les noctules a coûté la vie de trop de personnes.<br />
      - Tu sais que ce pouvoir que tu as, c'est moi qui l'avait confié à Soufflardent ?<br />
      - Je… m'en doutais un peu, fais-tu. Tu es Dieu ?<br />
      - Non, je suis juste une incarnation de la terre. Ta planète. Soufflardent n'a jamais volé la magie des noctules, il leur en a prêté pendant longtemps et leur a repris pour privilégier les humains. Tu vas donner une partie de mon pouvoir aux noctules, c'est vraiment ce que tu veux ?<br />
      - Regarde leur monde ? Il est si triste, comment pourrais-je leur en vouloir d'être jaloux ?<br />
      - Sans tes pouvoirs, le manque d'oxygène sur la lune va te tuer.<br />
      - Je sens que je n'en ai plus pour longtemps de toute façon, dis-tu en montrant tes tremblements.<br />
      - … Tu te sacrifies pour un peuple étranger. Tu es bien plus <span class="sf">une déesse</span><span class="sg">un dieu</span> que moi. Mais je respecte ton choix.
    </p>

    <p>L'homme de lumière disparait et le temps reprend son cours. Tu poses les mains sur le sol lunaire. Tu entends les noctules commencer à s'émerveiller. Le ciel redevint bleu, des nuages apparaissent dans le ciel, des oiseaux volent en piaillant et même une pluie fine commence à tomber. A entendre leurs cris de joie, ils ne devaient pas avoir vu ça depuis un bout de temps.</p>

    <p>Usaki te prends dans ses bras en te remerciant, mais tu n'es plus qu'un corps sans vie. La dernière goutte de ton énergie s'en est allée, te laissant gisant sur le sol lunaire.</p>

    <p class="middle">*</p>

    <p>Depuis la terre, les gens peuvent désormais voir la lune devenue bleue grâce aux mers que tu as créées. Et il parait que là haut, un peuple de lapins géants - les noctules - vénèrent un dieu humain du nom de <span class="tonnom"></span>.</p>

</div>
