<div class="num num-1-3-396 retour-394">

  <div class="text chapter3">

    <h1>- 396 -</h1>

    <p>
      Tu te transportes en un instant devant Usaki et tu le figes dans la pierre. Transformé en statue de pierre il semble calme.
    </p>

    <p>
      - Les noctules vont vraiment nous attaquer maintenant ? demandes Mac Lumy.<br />
      - Ils peuvent venir, je les attends, fait <span class="naorem"></span>.<br />
      - Il faudrait déjà qu'on arrête de s'entre tuer, fait remarquer Espéride.
    </p>

    <p>Kannan vient te voir, elle s'aperçoit que tu regardes tes mains tremblantes.</p>

    <p>
      - Tu vas bien ? te demande ton amie.<br />
      - Heu… ça va, ça va, ne t'inquiètes pas.
    </p>

    <p><span class="naorem"></span> fait arrêter les combats avec l'aide d'Espéride. Chacun se serrant la main pour montrer que les choses semblent rentrer dans l'ordre.</p>

    <p>Tes amis retrouvèrent Lasseni et Fandrean. Les prisonniers de la résistance et tous ceux qui avaient été emprisonnés par la police magique furent libérés. Il faut dire que bien vite Espéride annonça l'arrivée prochaine d'une armée de noctules.</p>

    <p>Ymir et Zaïra, qui arrivèrent à ce moment là à l'école, furent heureux de constater que la catastrophe avait pu être évitée.</p>

    <p>Ils allèrent parler d'abord à <span class="naorem"></span> qui les envoya paître. Puis Zaïra vint te voir alors que tu essayais de cacher tes tremblements en nettoyant les dommages.</p>

    <p>
      - <span class="tonnom"></span>, il faut absolument que tu abandonnes les pouvoirs que Soufflardent t'a donné. Bientôt ton corps ne pourra plus les supporter et tu risques d'en mourir.<br />
      - Je crois que cela a déjà commencé, lui réponds-tu honnêtement en lui montrant tes mains.<br />
      - Malheur, il n'y a pas un instant à perdre.<br />
      - Quoi ? Vous pouvez vraiment m'aider ?
    </p>

    <p>Zaïra prit Ymir sous son bras et les deux mages légendaires te dispensèrent tout un tas de d'instructions à suivre pour rendre tes pouvoirs. Mac Lumy voulut venir voir ce qu'il se passait mais Ymir lui dit que l'urgence était absolue et qu'il fallait pas vous embêter. Tout fut incroyablement facile, presque trop. Tu venais de rendre les pouvoir de Soufflardent à la terre. Mais tu avais toujours la possibilité de faire ta propre magie, beaucoup moins puissante c'est sûr.</p>

    <p>
      - Mais <span class="naorem"></span> ne devrait pas faire pareil ? demandas-tu innocemment.<br />
      - Evidemment, réagit Ymir. Mais cet idiot nous a dit qu'il devait garder ses pouvoirs pour la bataille contre les noctules. Il ne se rend pas compte du danger qu'il peut encourir.<br />
      - … oh. J'essaierai de lui parler, fis-tu. ... Zaïra, Ymir... vous... vous savez comment Soufflardent est apparu sur terre ?<br />
      - Comment cela ? s'étonna Zaïra.<br />
      - Et bien, nous sommes tous nés d'un père et d'une mère. Mais Soufflardent, il a une mère ? Vous avez été à ses côtés pendant des dizaines d'années. Vous le savez ?<br />
      - Nous pensons que Soufflardent était l'enfant de la terre elle même, expliqua Ymir. Et qu'elle lui avait transmis tous ses pouvoirs magiques, ou une grande partie.<br />
      - La terre est vivante, c'est ça ?<br />
      - Oui, nous le pensons, c'est pour ça qu'on te disait de rendre les pouvoirs à la terre.<br />
      - Ce ne serait pas une sorte d'homme de lumière ? La terre je veux dire ? Vous n'avais jamais vu cet être étrange ?
    </p>

    <p>Les deux mages semblent stupéfaits de ce que tu leur explique. Mais ils sont sur la même longueur d'onde que toi : cette créature que tu as vue est certainement une incarnation de la terre. Que tu l'aies vu est une chose unique dans l'histoire.</p>

    <div class="choix">
      <div class="ch" data-go="397">Epilogue</div>
    </div>
</div>
