<div class="num num-1-3-398 retour-379">

  <div class="text chapter3">

    <h1>- 398 -</h1>

    <p>
      Méonie a l'air de se rendre compte rapidement que ces blobs sont dangereux et va prévenir <span class="naorem"></span> d'esquiver le sort. Tu prends les devants et tente de projeter magiquement le prophète dans le blob.
    </p>

    <p>Ce dernier, surpris, décolle sans souci et finit avalé par le blob. Méonie pousse un cri de stupeur.</p>

    <p>
      - <span class="tonnom"></span> ! Pourquoi as-tu fait cela ?<br />
      - On doit vous arrêter, désolé<span class="sf">e</span>, lui dis-tu. Tu devrais d'ailleurs te rendre. Tu es désormais seule.
    </p>

    <p>
      La prophète fait des yeux ronds de surprise. Elle semble complètement abattue. Soudain, la lumière qui vous parvenait de la lune, brillante cette nuit, se tarit. En passant la tête par la fenêtre, Espéride semble inquiète.
    </p>

    <p>
      - Je ne sais pas ce qu'il se passe mais cela ne semble pas bon, fait la mage.
    </p>

    <p>De l'encre noire semble tomber du ciel, les étoiles et la lune ne sont plus visibles. En tombant sur la terre, les gouttes d'encre s'infiltrent dans la terre et font mourir tout ce qu'elle touche. Les arbres, l'herbe, les cochons, les oiseaux perdent la vie dès qu'ils se font toucher. L'eau du lac se noircit et vous voyez les poissons remonter à la surface le ventre en l'air.</p>

    <p>
      - Méonie, lui fais-tu. Tu dois te reprendre. C'est toi qui fait ça, pas vrai ?<br />
      - C'est elle qui… ce truc ? s'étonne Mac Lumy.<br />
      - Laissez moi maintenant, dit tout bas Méonie.<br />
      - Méonie ! Tu dois arrêter ton sort ! fais-tu en la secouant pour qu'elle se reprenne.<br />
      - LAISSEZ-MOI TRANQUILLE ! hurle la prophète.
    </p>

    <p>Tu recules de quelques pas sous la surprise et tu la vois se mettre en boule sur le sol.</p>

    <p>
      - Qu'est-ce qu'on peut faire ? demandes-tu à tout le monde.<br />
      - Si on la tue ça va détruire son sort ? demande Panacle.<br />
      - Aucune idée, maintenant qu'il est lancé, je ne suis pas sûre, répond Espéride.
    </p>

    <p>Méonie commence à devenir un peu transparente et se transforme très vite en une flaque d'eau noire, qui s'infiltre dans le sol.</p>

  <div class="choix">
    <div class="ch" data-go="401">Poursuivre Méonie en t'infiltrant dans le sol également</div>
    <div class="ch" data-go="399">Tenter de supprimer le sort de Méonie avec tes pouvoirs</div>
  </div>

</div>
