<div class="num num-1-3-399 retour-398">

  <div class="text chapter3">

    <h1>- 399 -</h1>

    <p>
      Le général Allister déboule alors au quatrième étage.
    </p>

    <p>
      - Mais qu'est-ce qu'il se passe ? fait-il inquiet.<br />
      - La prophète Méonie est devenue complètement folle en voyant <span class="naorem"></span> mourir sous ses yeux. Elle a déclenché ce nouveau cataclysme.<br />
      - <span class="tonnom"></span>, reprend Allister. Tu peux annuler ce sort ?<br />
      - C'est que je vais tenter. Mais je n'ai jamais vu un truc pareil.
    </p>

    <p>Tu sors à l'extérieur en t'envolant. Une barrière magique te protégeant de cette pluie mortelle. Des dragons-fées tombent du ciel comme des mouches.</p>

    <p>Tu te dis qu'il faut à tout prix supprimer ces nuages noirs dans le ciel. Sans eux la pluie ne tombera plus. Alors avec toute ta puissance tu écartes les nuages avec les plus grandes bourrasques que tu puisses créer. Mais aussitôt les nuages reprennent leur place. Il faudrait que tu puisses maintenir ton sort en permanence, et ça ne protégerait que l'Académie. </p>

    <p>Alors que tu ne sais pas quoi faire pour agir, le visage de Méonie apparait dans les nuages noirs.</p>

    <p>
      - Ce monde doit disparaitre, fait le visage. Je vais l'éteindre. Vous disparaitrez bientôt tous. Le monde renaitra de ses cendres quand vous serez tous morts. Alors sortez de chez vous, plus vous vous cacherez, plus vous souffrirez. Et je ne désire que votre bonheur.
    </p>

    <p>La prophète semble bien avoir succombé à la folie. Tu n'aurais pas cru qu'elle fut aussi fragile que ça. Mais en finissant son petit discours, la pluie noire tomba de plus belle. Tu retournas dans la tour te mettre à l'abri. Allister était en train d'enguirlander Espéride.</p>

    <p>
      - Ce n'est pas possible ! Ce monde était parfait ! <br />
      - Du calme, lui répond Espéride. Qu'est-ce que vous racontez ?<br />
      - Soufflardent a détruit la lune, et maintenant c'est son prophète qui détruit la terre ? C'est… n'importe quoi ! s'emporte le général.
    </p>

    <p>Tout le monde se regarde ne comprenant plus grand chose. Tu te permets d'expliquer ce que tu as compris.</p>

    <p>
      - Allister c'est Usaki. C'est un noctule, il vient de la lune.<br />
      - Mais...c'est vrai ? demande Anselm.<br />
      - Hé hé hé ! Pourquoi le cacher maintenant ? fait Allister en retirant son sort et apparaissant sous les traits d'un noctule.<br />
      - Incroyable ! réagirent tes compagnons.<br />
      - Je voulais tellement conquérir cette planète, fait Usaki. Mais maintenant, c'est devenu encore pire que chez moi. Du coup je vais vous laisser.
    </p>

    <p>Le noctule sort un artefact caché sous ses poils et l'active. Dans un rayon rouge qui vient transpercer le toit de la tour il semble repartir dans le ciel et traverser les nuages.</p>

    <p>
      - Il aurait pu passer par la fenêtre, s'emporte Mac Lumy. La pluie va rentrer à l'intérieur désormais.
    </p>

    <p>Tu répares le toit très vite avec tes pouvoirs mais tu ne sais pas vraiment comment contrer le sort de Méonie.</p>


  <div class="choix">
    <div class="ch" data-go="400">Continuer</div>
  </div>

</div>
