<div class="num num-1-3-4">

  <div class="text chapter3">

    <h1>- 4 -</h1>

    <p>Des monts noirs jusqu'à l'Académie le voyage est long, tu le sais bien. <span class="magie-vent">Pourtant avec tes nouveaux pouvoirs tu sais que tu pourrais y être en un instant. Tu sens que tu peux te déplacer aussi vite que le vent.</span>. Mais que va-t-il se passer une fois arrivés là-bas ? Tu ne sais pas trop, vous n'en avez pas beaucoup discuté. Lasseni veut des réponses, savoir pourquoi l'Académie vous a menti pendant des années. Pourquoi on vous a enseigné que Ymir et Zaïra étaient mort.</p>

    <p>Fandrean te donne l'impression de vouloir récupérer le pouvoir à l'Académie. C'est l'un des plus grand mage et était pressenti pour devenir l'égal de Soyos. Peut être veut-il faire pression sur les maîtres de l'Académie pour s'emparer du commandement total de l'Académie. Bien entendu, la vérité l'intéresse mais il a l'air de croire fermement la version d'Ymir et Zaïra.</p>

    <p>Mac Lumy suit le groupe, il ne dit pas grand chose mais semble inquiet. Tu te doutes que vous n'allez pas être accueilli à bras ouverts à l'Académie dans ces conditions. Après tout, vous venez faire éclater la vérité qu'ils souhaitent cacher à tout le monde.</p>

    <div class="def-naif">
      <p>Selon toi, vous n'avez pas à avoir peur de tout ça malgré tout. Car vous avez vaincu le grand dragon noir finalement. Et en plus, tu te dis que les pouvoirs dont tu as hérité sont finalement utiles, même s'ils viennent de Soufflardent.</p>
    </div>
    <div class="def-peureux">
      <p>Penser à tout cela te terrifie, même avec les pouvoirs de Soufflardent. Chaque jour qui passe, vous vous rapprochez de l'Académie et chaque jour la peur te noue un peu plus l'estomac.</p>
    </div>
    <div class="def-bagarreur">
      <p>En tout cas, tu ne vas pas te débiner alors que tout cela laisse présager d'une belle bagarre. Tu essaies de demander à Fandrean le plus de conseils magiques possibles. Il ne faut pas perdre un instant.</p>
    </div>
    <div class="def-tricheur">
      <p>C'est vrai que l'Académie a menti, mais peut être que finalement c'était pour le bien de tous. Si les gens avait appris plus tôt que le grand dragon noir était vivant, ils auraient peut être paniqués. Et tu vois maintenant que passer outre le pouvoir de Soufflardent est impossible. Petit à petit, il s'est forgé une armée et finalement vit encore à travers 4 individus. Faut-il que tu aides l'Académie ou que tu continues avec Fandrean, Lasseni et Mac Lumy ? Tu es hésitant<span class="sf">e</span>.</p>
    </div>
    <div class="def-parfait">
      <p>De toute façon, tu ne connais pas la peur. C'est trop tôt pour paniquer et après ce que vous révèlerez, tout le monde rejoindra votre camp. Tu en es persuadé<span class="sf">e</span>.</p>
    </div>
  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="6">Continuer le voyage</div>
  </div>

</div>
