<div class="num num-1-3-40">

  <div class="text chapter3">

    <h1>- 40 -</h1>

    <p>Leng Fao te met à l'aise et commence son récit.</p>

    <p>Il y a longtemps de ça, la lune était prospère, des animaux et de la végétation partout un véritable paradis semblable à ce que tu as connu à l'Académie. Le ciel était bleu et les noctules vivaient en maître tout comme les humains le sont sur ton monde.</p>

    <p>Les noctules avaient remarqué que chaque chose était vivante, les arbres, les animaux, les rochers. Chaque chose dégageait une énergie, cette énergie les humains l'appelle MAGIE mais les noctules l'appelle CHI. Les noctules apprirent à manipuler le CHI comme les humains manipulent la magie. Sauf que, chez les noctules, tout le monde en était capable facilement. Très vite aussi les noctules comprirent qu'il existait 4 types de CHI : celui de la terre, celui du vent, celui de l'eau et celui du feu. En combinant ces quatre CHI, on pouvait donner naissance à n'importe quoi.</p>

    <p>Pendant des centaines d'années, les noctules purent vivre heureux et prospérer. Mais un jour, le CHI de l'eau disparut. Sans cette énergie cruciale la panique fut totale. L'eau déjà existante ne disparut pas, mais la pluie ne revint jamais. Quelle ne fut pas la surprise des noctules quand ils virent que la boule noire au dessus d'eux qu'ils appelaient TERRE - ton monde - devint bleutée au même moment. Certains noctules émirent l'hypothèse que le CHI de l'eau avait été aspiré sur terre. Et une expédition d'urgence fut envoyée.</p>

    <p>Grâce aux CHI du vent et de la terre, l'expédition fut possible. Des artefacts permirent à une dizaine de noctules de partir pour la Terre. Sur place, ton monde ressemblait beaucoup à ce à quoi la lune ressemble aujourd'hui. Avec des rivières et des lacs en plus. Après une recherche approfondie mais rapide, les noctules virent que le CHI de l'eau était concentré en un seul endroit : une montagne.</p>

    <p>Les noctules découvrirent alors un gigantesque dragon noir que les humains baptisèrent Soufflardent des centaines d'années plus tard. Il était encore jeune, donnant l'impression qu'il venait de naître malgré sa taille gigantesque. Comme, la montagne était fendue à cet endroit, les noctules pensèrent que c'est la planète elle-même qui donna naissance au grand dragon. Et en naissant, la bête aspira le CHI de l'eau à des milliers de kilomètres de là.</p>

    <p>Les noctules se firent comprendre étrangement facilement auprès du dragon. Mais ce dernier refusa catégoriquement de rendre le CHI. Pire, agacé par les demandes répétées des noctules il décida d'aspirer les autres CHI dans son ensemble, mais promit d'en donner suffisamment aux noctules pour leur besoin.</p>

    <p>La puissance du dragon empêcha les noctules de négocier mieux que cela et ils retournèrent sur la lune.</p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="41">Continuer l'histoire</div>
  </div>

</div>
