<div class="num num-1-3-400 retour-399">

  <div class="text chapter3">

    <h1>- FIN 21 -</h1>

    <p>
      Les jours ont passé, puis les semaines. Grâce à tes pouvoirs tu as pu déployé des abris un peu partout dans la ville. Les gens commencent même à s'habituer à cette pluie mortelle. Le premier problème que vous rencontrâtes fut la nourriture.
    </p>

    <p>Vous avez dû trouver de quoi abriter des plantations un peu partout sur l'île de l'Académie. Toujours grâce à tes pouvoirs, tu arrivais à filtrer l'eau noire en dehors de la terre pour pouvoir planter des légumes. Les mages travaillèrent d'arrache-pied pour accélérer la pousse des végétaux. Mais la pluie semblait sans fin.</p>

    <p>Les trois quart de la population de la ville mourut dans les quelques jours qui suivirent le début de cette pluie. Il fut donc facile d'accueillir les réfugiés qui venaient de Sarambe et des villages autour du lac et qui avaient réussi à survivre par miracle. Personne ne sortait sans son toit portatif. </p>

    <p>Mais le deuxième problème fit bientôt son apparition. Le lac menaçait de déborder et d'inonder toute la ville. Ymir et Zaïra qui avaient réussi à regagner la cité à temps conseillèrent de transformer l'île en bateau flottant sur cette mer noire. Bien entendu, seul<span class="sf">e</span> toi pouvait accomplir un tel miracle.</p>

    <p>C'est ainsi que naquit l'île de l'Académie. Et après bien des années, le niveau de l'eau fut si haut que l'île parvint à naviguer au dessus des nuages d'encre. Tout le monde fut aveuglé par la lueur du soleil qu'ils n'avaient pas vu depuis fort longtemps.</p>

    <p class="middle">*</p>

    <p>68 ans plus tard</p>

    <p>
      - <span class="sf">Grand-mère</span><span class="sg">Grand-père</span> <span class="tonnom"></span> ! Viens voir !
    </p>

    <p>Alors que tu te reposais dans ton lit, Eron, l'un des enfants de la ville flottante te réveille en sursaut. Il a l'air de vouloir te montrer quelque chose.</p>

    <p>
      - Regarde, fait-il en te montrant l'horizon. Qu'est-ce que c'est ?<br />
      - C'est … une montagne ! fis-tu étonné<span class='sf'>e</span>. Cela signifie… que le niveau de l'eau a baissé.
    </p>

    <p>L'île alla se poser tout proche de la montagne en voguant lentement. Le sol semblait propre. Des pousses d'herbe indiquait que la nature et la vie avait repris à cet endroit. Tu compris alors que Méonie, avait tenu jusque là et étais probablement morte désormais. Son sort avait disparu à sa mort et le monde allait peut-être enfin pouvoir guérir. Mais votre cité flottante est certainement la seule présence humaine du monde. Il faudra du temps pour qu'une ville comme l'Académie renaisse.</p>

    <p>
      - <span class="sf">Grand-mère</span><span class="sg">Grand-père</span>, un monstre, là, te montre Eron.
    </p>

    <p>Et dans le ciel, tu vois une créature que tu n'avais plus vu depuis 68 ans : un grand dragon noir. Tu sens son regard se porter sur toi et te dire.</p>

    <p>" Ne t'inquiète pas pour les humains. Quand tu mourras je récupérerai les pouvoirs que je t'ai confié. Et je ferai renaitre ce monde de ses cendres. "</p>

    <p>
      - Ce n'est pas un monstre, expliquas-tu à Eron. C'est un ami. Son nom est Soufflardent.
    </p>


</div>
