<div class="num num-1-3-401 retour-398">

  <div class="text chapter3">

    <h1>- 401 -</h1>

    <p>
      Tu abandonnes ta forme humaine pour poursuivre Méonie à travers le sol. Elle s'enfonce toujours plus profondément dans les profondeurs de la terre.
    </p>

    <p>
      - Arrêtes-toi ! tentes-tu de crier à Méonie.<br />
      - Ce monde doit disparaitre ! fait elle. Rien n'a de valeur. Il n'y a que des gens inutiles et sans valeur. A nous deux nous pourrions créer tellement mieux. Détruisons ce monde ensemble.<br />
      - Tu es folle Méonie ! Il y a plein de monde qu'on aime encore là-haut.<br />
      - Ce ne sont que de simples animaux de compagnie, fait la prophète méconnaissable. Tôt ou tard ils devront mourir de toute façon. Mais les humains ont tout gâché. Ils se font la guerre sans cesse.<br />
      - Ne dis pas n'importe quoi ! lui retorques-tu. Ce sont nous, les prophètes qui avons causé ce chaos.<br />
      - SILENCE !!!!! s'emporte Méonie en causant des explosions souterraines.
    </p>

    <p>Tu esquives toutes ses attaques et parvient à la rattraper, toujours dans un état de liquide doué de parole.</p>

    <p>
      - Méonie, calme-toi ! lui fais-tu. Nous ne sommes pas des Dieux. Ce que tu es en train de faire, tu es certaine de pouvoir le réparer ?<br />
      - Soufflardent était un Dieu, et il nous a choisit pour utiliser ses pouvoirs après sa mort, ricane Méonie.<br />
      - Méonie...<br />
      - N'aies pas peur ! Je maîtrise tout, ha ha ha.
    </p>

  <div class="choix">
    <div class="ch" data-go="402">Absorber les pouvoirs de Méonie</div>
  </div>

</div>
