<div class="num num-1-3-402 retour-401">

  <div class="text chapter3">

    <h1>- FIN 22 -</h1>

    <p>
      Tu enveloppes la masse liquide qu'est devenue Méonie avec ton propre liquide, et tu concentres ton pouvoir pour absorber son énergie.
    </p>

    <p>
      - Arrêtes ! crie Méonie. Si tu continues, je ne pourrai plus maintenir mon sort.
    </p>

    <p>Mais tu continues. Méonie semble souffrir atrocement.</p>

    <p>
      - S'il te plait, ne me tues pas ! t'implore la prophète qui ne peut plus rien faire.
    </p>

    <p>Mais tu continues. Elle semble de plus en plus faible.</p>

    <p>
      - <span class='tonnom'></span>... pourquoi ? Pourquoi sauver ce monde horrible…?
    </p>

    <p>Et les pouvoirs de Méonie se fondent finalement complètement dans les tiens. En lui arrachant sa dernière goutte d'énergie, la prophète redevient humaine… au milieu de la roche et meurt compressée par cent millions de mètres cube de roches.</p>

    <p>Sous ta forme liquide tu ne peux verser de larmes et c'est tant mieux car tu sens que tu aurais probablement pas pu t'en empêcher.</p>

    <p>Tu essaies alors de remonter à la surface mais tu n'y arrives pas. Tu te sens attiré<span class="sf">e</span> par une force supérieure vers le bas. Vers le centre de la planète. Tu traverses de plus en plus vite les manteaux rocheux et la lave en fusion pour t'arrêter devant une boule de lumière : le centre de la terre.</p>

    <p>
      - Merci pour tout ce que tu as fait, <span class="tonnom"></span>. te dit la lumière.<br />
      - Vous… me connaissez ?<br />
      - Soufflardent m'a parlé de toi. Et je suis sa mère.<br />
      - Je dois retourner à la surface, vous pouvez m'aider ?<br />
      - Le sort de Méonie s'est arrêté, tout va redevenir normal.<br />
      - C'est vrai ? demandes-tu joyeu<span clas="sf">se</span><span clas="sg">x</span>.<br />
      - Mais je dois te garder ici.<br />
      - P...pourquoi ? Je n'ai rien fait de mal. J'ai tout tenté pour aider le plus de monde.<br />
      - Les humains ont besoin d'un protecteur, Usaki va peut-être envoyer ses troupes sur terre.<br />
      - Justement, je dois retourner les aider !<br />
      - J'ai besoin de récupérer les pouvoirs qui t'ont été confié. Soufflardent doit renaitre.<br />
      - … je… je vais… mourir ici ?<br />
      - Ne soit pas triste, la mort n'est pas la fin pour toi. Ce ne sera qu'un commencement. Je te le promets.
    </p>

    <p>Tu ne peux de toute façon pas bouger. Tu savais que ces pouvoirs changeraient ta vie, mais tu ne l'imaginais pas à ce point là. La lumière récupère tes pouvoirs et tu disparais sans un bruit.</p>

    <p class="middle">*</p>

    <p>Quelque chose te fait mal aux poumons. C'est une douleur atroce, tu es obligé<span class="tonnom"></span> de crier, de pleurer.</p>

    <p>
      - Regarde, comme <span clas="sf">elle est mignonne</span><span clas="sg">il est mignon</span>, dit une voix.<br />
      - Comment allez-vous l'appeler ? demande une autre voix.<br />
      - <span clas="sf">Elle</span><span clas="sg">Il</span> s'appellera <span class="tonnom"></span>. C'était le nom d'un<span class="sf">e</span> ami<span class="sf">e</span>.<br />
      - Tu es sûre de toi Lasseni ? <span clas="sf">Elle</span><span clas="sg">Il</span> portera le nom d'un héro de la guerre. <span clas="sf">Elle</span><span clas="sg">Il</span> va devoir vivre avec ce poids sur les épaules.<br />
      - Je sais Mac, mais je suis sûre qu'<span clas="sf">elle</span><span clas="sg">il</span> sera à la hauteur.
    </p>

    <p>Ta mère - Lasseni - te regarde avec bonheur. Ton père - Mac Lumy - te fais quelques risettes. Puis tu t'endors, trop fatigué<span class="sf">e</span> par ta propre renaissance.</p>

</div>
