<div class="num num-1-3-403 retour-293">

  <div class="text chapter3">

    <h1>- 403 -</h1>

    <p>
      Même si tu arrives à poser l'artefact sur un des deux prophètes, l'autre te fera certainement regretté de ne pas en avoir deux. Mais tu reprends espoir en voyant arriver l'équipe d'Espéride à l'autre bout de l'étage.
    </p>

    <p>Ils ne comprennent pas immédiatement ce qu'il se passe mais ils voient Ymir et Zaïra à terre et se mettent en position de combat.</p>

    <p>
      - Méonie, tu t'occupes d'eux ? lui lance <span class="naorem"></span>.<br />
      - Tu pourras gérer <span class="tonnom"></span> tout seul ?<br />
      - Sans problème.
    </p>

    <p>Et pour joindre l'acte à la parole il balaie la tour d'un sort de brasier dans ta direction. Tu as juste le temps de te protéger avec une barrière magique, mais les briques de la tour s'envolent derrière toi.</p>

    <p>Méonie entre aussi dans l'action en créant une multitude de petits champignons partout dans la pièce où vous vous trouvez. Quelque chose te dit de ne pas marcher dessus. Mais cela te fais penser à une stratégie.</p>

    <p>Tu esquives les sorts de <span class="naorem"></span> le temps de repérer l'emplacement de tous les champignons de la prophète. Puis tu les fais tous disparaitre pour les projeter sur <span class="naorem"></span>. Le prophète est surpris mais réussi à se téléporter avant qu'ils n'explosent sur lui. La déflagration est puissante et fait tomber tout le monde.</p>

    <p>Le prophète réapparait alors juste derrière toi, comme tu t'y attendais. Tu fais exprès d'encaisser le sort du prophète pour pouvoir lancer en même temps ton artefact dans son dos. Il ne voit pas le coup venir et tombe en sommeil instantanément. Mais tu as encaissé un sort qui t'as arraché le bras gauche. Heureusement qu'avec tes pouvoirs, tu le récupères par terre et le recolle comme on ferait avec une poupée. Tout le monde regarde la scène un peu horrifié.</p>

    <p>
      - Ben quoi ? fais-tu. J'avais tout prévu.<br />
      - C'est… dégueux, dit simplement Haziko.<br />
      - Bon c'est pas grave, résume Espéride. Méonie ! Rends-toi ! Tu es seule !<br />
      - Heu… c'est que…, la prophète ne sait pas trop quoi faire ni comment réagir.
    </p>

  <div class="choix">
    <div class="ch" data-go="404">Continuer</div>
  </div>

</div>
