<div class="num num-1-3-404 retour-403">

  <div class="text chapter3">

    <h1>- 404 -</h1>

    <p>
      Mais alors que vous sentiez que Méonie allait probablement se rendre une sorte de blob noire sort du sol pour gober <span class="naorem"></span> qui était encore endormi par l'artefact.
    </p>

    <p>
      - Qu'est-ce qu'il se passe ? t'écries-tu.
    </p>

    <p>Déboulant alors à votre étage, Allister fait son apparition.</p>

    <p>
      - Endormir les prophètes n'est pas suffisant ! dit-il. Il faut bien les finir avec nos sorts de magie de la lune.
    </p>

    <p>Méonie écarquille les yeux et pousse un hurlement à exploser les tympans. De l'encre noire semble alors tomber du ciel, les étoiles et la lune ne sont plus visibles. En tombant sur la terre, les gouttes d'encre s'infiltrent dans la terre et font mourir tout ce qu'elle touche. Les arbres, l'herbe, les cochons, les oiseaux perdent la vie dès qu'ils se font toucher. L'eau du lac se noircit et vous voyez les poissons remonter à la surface le ventre en l'air.</p>

    <p>
      - Méonie, lui fais-tu. Tu dois te reprendre. C'est toi qui fait ça, pas vrai ?<br />
      - C'est elle qui… ce truc ? s'étonne Mac Lumy.<br />
      - Laissez moi maintenant, dit tout bas Méonie.<br />
      - Méonie ! Tu dois arrêter ton sort ! fais-tu en la secouant pour qu'elle se reprenne.<br />
      - LAISSEZ-MOI TRANQUILLE ! hurle la prophète.
    </p>

    <p>Tu recules de quelques pas pour ne pas la contrarier et tu la vois se mettre en boule sur le sol.</p>

    <p>
      - Qu'est-ce qu'on peut faire ? demandes-tu à tout le monde.<br />
      - Si on la tue ça va détruire son sort ? demande Panacle.<br />
      - Aucune idée, maintenant qu'il est lancé, je ne suis pas sûre, répond Espéride.<br />
      - Mais tuez là, ordonne Allister.
    </p>

    <p>Méonie commence à devenir un peu transparente et se transforme très vite en une flaque d'eau noire, qui s'infiltre dans le sol.</p>

    <div class="choix">
      <div class="ch" data-go="401">Poursuivre Méonie en t'infiltrant dans le sol également</div>
      <div class="ch" data-go="405">Tenter de supprimer le sort de Méonie avec tes pouvoirs</div>
    </div>

</div>
