<div class="num num-1-3-406 retour-294">

  <div class="text chapter3">

    <h1>- 406 -</h1>

    <p>
      Vous vous rendez sort pour sort mais tout en faisant attention chacun de ne pas faire de destruction inutile. Tu n'as pas envie de blesser Ymir et Zaïra et il ne veut pas blesser Méonie.
    </p>

    <p>
      Et soudain l'équipe d'Espéride arrive à votre étage. Tous tes amis sont avec elle.
    </p>

    <p>
      - C'est fini <span class="naorem"></span>, lui dis-tu. Abandonne. Ymir et Zaïra m'ont dit qu'ils voulaient simplement neutraliser nos pouvoirs. Ils ne veulent pas nous tuer.<br />
      - Tu leurs fait confiance ? te répond le prophète. Ils ont enfermé Soufflardent pendant des dizaines d'années. Hors de question qu'on fasse pareil avec moi !<br />
      - Ils ne feraient pas ça avec des humains !<br />
      - Tu veux parier ? s'énerve <span class="naorem"></span>.
    </p>

    <p>Espéride et tes amis commencent à vous encercler. Tu sais qu'ils n'ont pas les artefacts des mages légendaires eux.</p>

    <p>
      - Ecoute ! Espéride et les autres ne vont te tuer. Rends-toi s'il te plait.
    </p>

    <p>Le prophète a l'air d'hésiter.</p>

  <div class="choix">
    <div class="ch av-populaire" data-go="407">Continuer</div>
    <div class="ch av-pas-populaire" data-go="410">Continuer</div>
  </div>

</div>
