<div class="num num-1-3-407 retour-406">

  <div class="text chapter3">

    <h1>- 406 -</h1>

    <p>
      - Entendu, mais seulement si vous me promettez qu'aucun mal ne sera fait à Méonie.<br />
      - Je te le promets, fais-tu en indiquant de la main à Espéride de ne rien faire.
    </p>

    <p>Tu t'écartes du prophète et tu expliques à tout le monde la résolution que vous avez prise tous les deux.</p>

    <p>
      - Il suffit de soigner les mages légendaires et tout ira bien, résumes-tu.<br />
      - Je garde quand même Méonie en otage, le temps qu'il soit maîtrisé par Ymir et Zaïra, déclare Espéride.<br />
      - Heu… d'accord, lui accordes-tu.
    </p>

    <p>Chacun se regarde en chien de faïence, guettant un geste indiquant une reprise du combat chez son ennemi. Tu te rapproches d'Ymir et commence à le soigner. Tout à coup, Allister déboule à votre étage.</p>

    <p>
      - Qu'est-ce que vous attendez ? fait le général de la résistance. Envoyez-lui vos sorts !<br />
      - Du calme général, tente de lui expliquer Espéride, les mages légendaires ont peut-être une meilleure solution à tout ça.<br />
      - Qu'est-ce que vous racontez ? Celle là ne peut même pas bouger : nous sommes en position de force.
    </p>

    <p>Et Allister commence à incanter son sort sur Méonie.</p>

    <p>
      - NON !! Pas ça ! t'écries-tu alors que tu allais voir Zaïra pour la guérir.
    </p>

    <p><span class="naorem"></span> était déjà aussi en train de reprendre sa position de combat, tous tes amis faisaient couler une goutte de sueur en voyant que tout aller basculer. Mais Allister s'immobilisa soudain. Puis mis un genoux à terre et s'écroula par terre en prenant l'apparence du noctule qu'il était.</p>

    <p>Dans son dos était collé un artefact de Soufflardent. En tournant ta tête vers Ymir, tu vis que le mage légendaire avait pu lancer son objet assez vite pour s'occuper d'Usaki.</p>

    <p>
      - C...Comment ? Allister était Usaki ? s'étonne Espéride.<br />
      - Je crois qu'il vous a manipulé, explique Ymir. Essayez de nous faire confiance, dit le mage encore avec le souffle un peu court. Je vous promets qu'on va résoudre tout ça mieux que ce qu'on a fait à Soufflardent.<br />
      - Vous nous aviez entendu ? réagit <span class="naorem"></span>.<br />
      - On a un moyen de vous faire abandonner vos pouvoirs. Vous allez les rendre à la terre.
    </p>

  <div class="choix">
    <div class="ch" data-go="408">Continuer</div>
  </div>

</div>
