<div class="num num-1-3-408 retour-407">

  <div class="text chapter3">

    <h1>- 408 -</h1>

    <p>
      Une fois que Zaïra fut réveillée, les mages légendaires expliquèrent aux prophètes - dont toi - comment rendre ses pouvoirs à la terre. C'était une manipulation extrêmement simple mais auquel il fallait penser. Et avec des pouvoirs quasi-divins, qui aurait voulu les laisser tomber.
    </p>

    <p>
      Mais de ton côté, tu avais vu que trop de pouvoirs n'amenait pas le bonheur. Il fallait peut-être changer le système de conseil de magie, ou simplement les personnes au pouvoir, mais tu n'en sais trop rien. Tu n'as pas assez d'expérience pour être aux commandes.
    </p>

    <p>
      Méonie, a toujours privilégié la protection des autres. Et elle n'avait pas un caractère qui allait de pair avec la tyrannie qu'essayait de mettre en place Arak et <span class="naorem"></span>.
    </p>

    <p>Ce dernier, d'ailleurs, avait montré finalement qu'il tenait plus à Méonie qu'aux pouvoirs. Tu n'aurais pas cru cela de lui. Mais tu notas qu'il lui tenait la main quand vous avez rendu vos pouvoirs.</p>

    <p>Ces deux là décidèrent de partir ensemble, sans dire où. Ils savaient que la population n'oublierait pas ce qu'ils avaient fait. Mais ils n'avaient pas l'air malheureux en s'en allant. Surtout, tu n'avais encore jamais vu Méonie sourire de cette façon.</p>

    <p>Le temps qu'un nouveau conseil soit choisi, c'est Espéride qui pris les commandes de l'Académie.</p>

    <p>Usaki fut ligoté et mis en cellule, et il avoua qu'il préparait une tentative d'invasion de la terre avec ses armées de noctules. La perspective d'une nouvelle guerre fit peur a beaucoup de monde. Mais une journaliste du nom de Leng Fao vint apporter de bonnes nouvelles aux humains.</p>

    <p>En effet, Leng Fao était aussi une noctule, mais sur la lune elle s'opposait à Usaki. Quand les noctules apprirent qu'Usaki avait été capturé, les noctules se disputèrent pour savoir quoi faire et finalement c'est l'opposant antimilitariste Hong Tao qui a pris le commandement là-haut. Leng Fao, en tant que diplomate des nouveaux noctules devra s'entretenir avec le prochain conseil de magie pour savoir si les humains accepteraient de partager un peu de magie avec eux.</p>

  <div class="choix">
    <div class="ch" data-go="409">Epilogue</div>
  </div>

</div>
