<div class="num num-1-3-41">

  <div class="text chapter3">

    <h1>- 41 -</h1>

    <p>Soufflardent envoyait vraiment son énergie sur la lune et la pluie revint. Mais il donnait beaucoup moins de CHI que ce dont les noctules avaient l'habitude. Et certaines zones devinrent des déserts ou rien ne pousse. Le ciel pâlit. Certains animaux disparurent.</p>

    <p>Bon gré mal gré, les noctules furent obligés de s'adapter et utilisèrent le CHI en quantité restreinte. Jusqu'au jour où Soufflardent n'envoya plus rien du tout. Une seconde expédition fut envoyée sur Terre pour comprendre ce qu'il se passait. En arrivant l'expédition vit que la terre était devenue aussi belle que l'était la lune autrefois. Et une nouvelle espèce était en train de bâtir des villes.</p>

    <p>En retournant voir Soufflardent, les noctules apprirent que le grand dragon réservait le CHI pour sa nouvelle espèce préférée : les humains. Et que la lune et les noctules ne l'intéressaient pas. Sous le choc, les noctules tentèrent alors de s'installer sur la terre. Mais Soufflardent leur interdit formellement. Les noctules étaient donc condamnés à mort. Sans eau ni vent, ils ne pouvaient survivre.</p>

    <p>Ce fut alors le temps de la grande guerre contre la terre. Des milliers de noctules attaquèrent la terre, tuant tous les humains pour se venger puis tentèrent d'attaquer le grand dragon. Mais sans CHI la victoire fut facile pour Soufflardent.</p>

    <p>Tu arrêtas Leng Fao dans son histoire.</p>

    <p>
      - Tu veux dire que Soufflardent nous a créé nous les humains ? Et qu'en plus il nous a donc donné la magie. Nous l'avons donc fait dormir pendant des centaines d'années avec des artefacts issus de la magie qu'il nous a lui-même donné ?<br />
      - Oui c'est ironique. Il a été tué à cause du CHI qu'il nous avait volé et qu'il a utilisé pour vous créer.
    </p>

    <p>Leng Fao reprit son histoire.</p>

    <p>Les noctules commencèrent à dépérir sur la lune, l'eau, les animaux et même le vent disparut. Mais grâce aux recherches d'un noctule très malin, une nouvelle catégorie de CHI fut trouvée. Il fut baptisé CHI de la LUNE ou Magie de la lune sur terre. Le CHI était tiré directement de la puissance de la lune. Ainsi les noctules purent grâce à cet énergie faire pousser de nouveaux végétaux, créer de nouveaux animaux et tout simplement survivre. Même si la lune devint un désert de poussière avec un ciel noir.</p>

    <p>Petit à petit les gens finirent par s'habituer à cette vie mais en espérant toujours reprendre les autres CHI à Soufflardent. C'est pourquoi, il y a de cela 150 ans, une troisième expédition fut envoyée sur terre. Comprenant un seul membre : Usaki. Il arriva juste à temps pour sauver deux humains qui se faisaient attaquer par quelqu'un d'autre alors qu'ils essayaient d'endormir Soufflardent. Les deux humains s'appelaient Ymir et Zaïra, leur puissance magique étaient gigantesque. Même Usaki, le plus grand mage de la lune ne pouvait les arrêter. Mais sans le savoir, les humains étaient en train de tuer leur mère. La créature qui leur donnait tout le CHI.</p>

    <p>Usaki est revenu il y a peu sur la lune avec la nouvelle que le grand dragon avait été tué par ses enfants en leur laissant son pouvoir. Désormais les armées de la lune sont en train de se constituer pour envahir une nouvelle fois la terre. Ils espèrent que, sans le grand dragon, les humains soient faibles.</p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="42">Manger un gâteau après avoir entendu cette histoire</div>
  </div>

</div>
