<div class="num num-1-3-410 retour-406">

  <div class="text chapter3">

    <h1>- 410 -</h1>

    <p>
      - Entendu, mais seulement si vous me promettez qu'aucun mal ne sera fait à Méonie.<br />
      - Je te le promets, fais-tu en indiquant de la main à Espéride de ne rien faire.
    </p>

    <p>Tu t'écartes du prophète et tu expliques à tout le monde la résolution que vous avez prise tous les deux.</p>

    <p>
      - Il suffit de soigner les mages légendaires et tout ira bien, résumes-tu.<br />
      - Je garde quand même Méonie en otage, le temps qu'il soit maîtrisé par Ymir et Zaïra, déclare Espéride.<br />
      - Heu… d'accord, lui accordes-tu.
    </p>

    <p>Chacun se regarde en chien de faïence, guettant un geste indiquant une reprise du combat chez son ennemi. Tu te rapproches d'Ymir et commence à le soigner. Tout à coup, Allister déboule à votre étage.</p>

    <p>
      - Qu'est-ce que vous attendez ? fait le général de la résistance. Envoyez-lui vos sorts !<br />
      - Du calme général, tente de lui expliquer Espéride, les mages légendaires ont peut-être une meilleure solution à tout ça.<br />
      - Qu'est-ce que vous racontez ? Celle là ne peut même pas bouger : nous sommes en position de force.
    </p>

    <p>Et Allister commence à incanter son sort sur Méonie.</p>

    <p>
      - NON !! Pas ça ! t'écries-tu alors que tu aller voir Zaïra pour la guérir.
    </p>

    <p>
      Et Méonie disparu dans un sort de "masse noire". <span class="naorem"></span> laissa éclater sa rage en un instant : faisant exploser les étages supérieurs de la tour. Une onde de choc balaya tout sur son passage et percuta les gens autour de toi les faisant basculer dans une tempête qui venait de se déclencher avec la colère du prophète. Un véritable vortex vert l'entoure comme une protection divine.
    </p>

    <p>Grâce à tes pouvoirs tu avais pu rester sur cet étage mais tu es désormais seul<span class="sf">e</span> face à <span class="naorem"></span> devenu fou de rage.</p>

  <div class="choix">
    <div class="ch" data-go="309">Continuer</div>
  </div>

</div>
