<div class="num num-1-3-411 retour-295">

  <div class="text chapter3">

    <h1>- 411 -</h1>

    <p>
      Tu sors de ton invisibilité mais avec une stratégie en tête. Tu restes à bonne distance pendant que tu envoies ta propre illusion discuter avec Usaki.
    </p>

    <p>
      - Usaki, tu ne m'échapperas pas, fais-tu avec aplomb.<br />
      - Tu crois que je compte m'enfuir ? répond-t-il. J'ai déjà tué un prophète, tu ne me fais pas peur.
    </p>

    <p>Et il envoie un sort de boule de feu sur ton illusion. Tu la fais disparaitre et réapparaitre plus loin.</p>

    <p>
      - Tu ne comptes pas m'affronter ? fait le noctule. Tu vas faire qu'esquiver ?<br />
      - Tu perds ton calme assez rapidement, lui dis-tu. Ce doit être la peur. Mais tu fais bien d'avoir peur.
    </p>

    <p>Tu arrives vraiment bien à lui faire perdre son sang froid et Usaki déclenche alors une attaque de zone pour essayer de t'avoir. Il lance plusieurs sorts de suite, tout explose, sa puissance n'est pas à prendre à la légère même si elle ne rivalise pas avec la tienne. La fumée se disperse et tu fais réapparaitre ton illusion.</p>

    <p>
      - C'est tout ? fais-tu en feignant la déception. Tu sais que la magie de Soufflardent ne me fait rien ?<br />
      - NE ME FAIT PAS RIRE ! crie Usaki en lançant un nouveau sort. DIS MOI SI CELA NE TE FAIT RIEN CETTE FOIS !
    </p>

    <p>Et un gigantesque blob noir part dans la direction de ton illusion. Tu n'attendais que cela, tu t'arranges pour faire croire que tu t'es fait avoir par le sort du noctule et tu fais disparaitre ton illusion.</p>

    <p>
      - HA HA HA ! Ton arrogance a été ta faiblesse ! fait ironiquement le noctule à bout de souffle. La magie de la lune aura eu raison de toi.
    </p>

    <p>Téléporté<span class="sf">e</span> juste derrière le noctule, tu lui touches le dos avec un sort de glace. Usaki a juste le temps de légèrement tourner la tête et te voir avant de finir complètement recouvert par la glace.</p>

    <p>C'est à ce moment là qu'une tempête commence à souffler, mais une tempête certainement magique. Les étages cinq, six et sept se sont envolés, des éclairs zèbrent le ciel et certains touchent le quatrième étage où une bataille doit faire rage.</p>

  <div class="choix">
    <div class="ch" data-go="412">Monter au quatrième étage</div>
  </div>

</div>
