<div class="num num-1-3-412 retour-411">

  <div class="text chapter3">

    <h1>- 412 -</h1>

    <p>
      <span class="naorem"></span> est en pleine transe, il a les yeux blanc. Il est entouré d'un vortex vert qui tourne autour de lui en lui procurant une protection à toute épreuve.
    </p>

    <div class="espéride-vivante">
      <p>Espéride est encore debout mais son équipe est complètement à terre.</p>
    </div>
    <div class="espéride-morte">
      <div class="mac-vivant">
        <p>Mac Lumy est encore debout mais son équipe est complètement à terre.</p>
      </div>
      <div class="mac-mort">
        <p>Haziko est encore debout mais son équipe est complètement à terre.</p>
      </div>
    </div>

    <p>Tu lui demande en haussant la voix pour que la tempête ne couvre pas ce que tu dis.</p>

    <p>
      - Que s'est-il passé ? <br />
      - On a réussi à emporter Méonie dans notre "masse noire", mais depuis il s'est énervé et est devenu comme ça. Il a envoyé valdingué toute l'équipe dans la tempête.
    </p>

    <p>A ce moment là un éclair vient lui faire perdre l'équilibre et tomber de la tour. Visiblement aucun dommage pour ton ami, réceptionné par un mage en bas.</p>

  <div class="choix">
    <div class="ch" data-go="309">Continuer</div>
  </div>

</div>
