<div class="num num-1-3-413 retour-297">

  <div class="text chapter3">

    <h1>- 413 -</h1>

    <p>
      En continuant à monter les escaliers, vous tombez sur Espéride, souffrant le martyr, blessée au cou. Des explosions retentissent au quatrième étage.
    </p>

    <p>Zaïra se penche sur ton ancien professeur, en lui lançant un sort de guérison. Mais Espéride va devoir se reposer, son état est encore préoccupant. Néanmoins elle n'a pas l'air de l'entendre de cette oreille et se remet debout.</p>

    <p>
      - Vous ne devez pas y retourner, lui dis-tu. Vous n'êtes pas en état.<br />
      - Je ne vais pas laisser mes hommes tous seuls, fait Espéride en se comportant comme un général.<br />
      - Laissez-nous faire, lui dit Ymir en la forçant à s'asseoir.<br />
      - Humpf... ok mais faites attention, les deux prophètes sont juste là… au quatrième étage.
    </p>

    <p>Vous avancez de quelques marches en laissant Espéride se reposer. Des mages sont en train de se battre contre les deux prophètes mais le combat est inégal. Seuls les sorts de "masse noire" - sorte de blob issue de la magie de la nuit - sont efficaces contre eux et ils esquivent tout.</p>

    <p>
      - Tiens, fait Ymir en te tendant un artefact. Si tu touches un des prophètes avec ça et que tu lui colles dessus, il s'écroulera endormi.<br />
      - Ce ne serait pas… ? t'interroges-tu.<br />
      - Si, fait Zaïra, ce sont les artefacts qu'on utilisait pour endormir Soufflardent. <br />
      - Suis-nous, il ne faut pas les laisser comprendre ce qu'on va faire, explique Ymir. On mets tout ce qu'on a dés notre première attaque.
    </p>

    <p>Tu hoches la tête en serrant l'artefact contre toi. Il a la taille d'un livre mais pèse beaucoup plus lourd.</p>

  <div class="choix">
    <div class="ch" data-go="414">Attaquer en visant Méonie</div>
    <div class="ch" data-go="422">Attaquer en visant <span class="naorem"></span></div>
  </div>

</div>
