<div class="num num-1-3-416 retour-415">

  <div class="text chapter3">

    <h1>- 416 -</h1>

    <p>
      Tu ne sais pas comment tu vas pouvoir protéger Lasseni mais tu vas t'y employer en tout cas. Leur combat commence et une décharge de gel couvre une partie de l'étage avec des stalactites. Une bourrasque de vent emporte le plancher d'une partie de l'étage également.
    </p>

    <p>Des flash lumineux bleus et jaunes explosent quand leurs énergies s'entrechoquent. Personne ne semble prendre l'avantage. Puis tu vois qu'Espéride est finalement venue et lance un sort sur <span clas="naorem"></span>.</p>

    <p>Une lance de fer est projetée sur le prophète, dans son angle mort. Mais il le sent immédiatement, se tourne et d'une rafale de vent projette Espéride et sa lance hors de la tour. Lasseni profite de ce moment d'inattention pour tenter de le toucher. Tu vois qu'elle va lui lancer un sort d'une puissance terrible, ses mains rayonnent d'une énergie bleue fluorescentes.</p>

    <p>Mais avec un réflexe surhumain le prophète va se protéger avec son artefact. Non ! Si Lasseni touche l'artefact, elle sera hors combat.</p>

    <p>Tu ne sais pas ce qui t'a pris, mais tu avais presque prédit ce qu'il allait se passer. Tu es déjà en train de t'interposer entre les deux prophètes. </p>

    <p>
      - Lasseni ! Lance ton sort sur moi, lui dis-tu. Tu toucheras <span class="naorem"></span> forcément.
    </p>

    <p>Qu'est-ce tu as dit ? Tu vas te sacrifier ? Une petite larme coule sur ta joue. Tu sens le froid métallique de l'artefact tenu par le prophète s'abattre sur ton dos et puis tu t'écroules de sommeil.</p>


  <div class="choix">
    <div class="ch" data-go="417">Continuer</div>
  </div>

</div>
