<div class="num num-1-3-417 retour-416">

  <div class="text chapter3">

    <h1>- 417 -</h1>

    <p>
      Tu te réveilles un peu plus tard, il fait toujours nuit. Lasseni te tient dans ses bras.
    </p>

    <p>
      - Qu'est-ce qu'il s'est passé ? fais-tu encore à moitié endormi<span class="sf">e</span>.<br />
      - Tu as de la chance que ton amie soit une prophète, te dit Ymir à côté. L'artefact était calibré pour Soufflardent. Alors si un humain l'encaisse il peut s'endormir pour l'éternité. Heureusement Lasseni a pu te réveiller.<br />
      - Mince j'avais pas pensé à ça, fais-tu en faisant rire tout le monde. Mais et <span class="naorem"></span> ?<br />
      - Je n'ai pas lancé mon sort sur toi, comme tu as pu t'en rendre compte, fait Lasseni. J'étais sûr que tu me protégerais, j'ai passé mes mains juste à côté de toi et j'ai pu geler le prophète.
    </p>

    <p>En te tournant, tu vois une statue de glace à l'effigie de <span class='naorem'></span>. Il semble encore vivant à l'intérieur mais il n'arrive pas à faire fondre la glace.</p>

    <p>
      - C'est la "glace ultime", même un prophète ne peut la faire fondre, déclare Lasseni.<br />
      - Que va-t-il devenir ? demandes-tu.<br />
      - Le général Allister veut lui envoyer un sort de "masse noire", à lui et à Méonie.<br />
      - Allister ?
    </p>

    <p>Le général est en train de féliciter Espéride et ses hommes pour le travail accompli. Il te regarde en tournant la tête avec un petit sourire. Tu es sûr<span class="sf">e</span> qu'il s'agit d'Usaki.</p>

  <div class="choix">
    <div class="ch" data-go="418">Continuer</div>
  </div>

</div>
