<div class="num num-1-3-419 retour-415">

  <div class="text chapter3">

    <h1>- 419 -</h1>

    <p>
      Tu ne sais pas comment tu vas pouvoir protéger Lasseni mais tu vas t'y employer en tout cas. Leur combat commence et une décharge de gel couvre une partie de l'étage avec des stalactites. Une bourrasque de vent emporte le plancher d'une partie de l'étage également.
    </p>

    <p>Des flash lumineux bleus et jaunes explosent quand leurs énergies s'entrechoquent. Personne ne semble prendre l'avantage. Tu essaies alors de faire glisser <span class="naorem"></span> avec une plaque de glace qui tu vas créer sous ses pieds.</p>

    <p>Tu ne vois pas Espéride qui vient de revenir et qui lance un sort de "lance de fer" sur le prophète également.</p>

    <p>Ta plaque de glace a bien l'effet voulu, le prophète glisse et tombe en arrière mais juste au moment où il allait prendre la "lance" d'Espéride. Le sort passe au dessus de lui et vient percuter Lasseni de plein fouet alors qu'elle allait lancer un sort pour finir <span class="naorem"></span>.</p>

    <p>Ce n'est vraiment pas ce que tu voulais. Lasseni tombe alors sur le prophète qui se protège avec son artefact. Lasseni s'endort immédiatement. Quel ratage complet !</p>

    <p> Le prophète se relève en envoyant balader Espéride par dessus le mur de la tour coupée. Elle est emportée dans la tempête. Ymir vient te voir pour t'expliquer ce qu'il compte faire.</p>

    <p>
      - Il ne reste que nous deux. Je vais attirer l'attention de <span class="naorem"></span>. Tu dois aller enlever l'artefact sur Lasseni, ok ?<br />
      - Oui, c'est compris. Ne mourrez pas, hein ?
    </p>


  <div class="choix">
    <div class="ch" data-go="420">Continuer</div>
  </div>

</div>
