<div class="num num-1-3-42">

  <div class="text chapter3">

    <h1>- 42 -</h1>

    <p>
      - Notre village veut agir différemment des autres noctule, enchaine Leng Fao. Nous pensons que maintenant que Soufflardent est mort, nous pourrions demander aux humains de venir habiter sur terre.<br />
      - Oh…! Je comprends ce n'est pas une mauvaise idée je suppose.<br />
      - C'est vrai ?! répond Leng Fao toute heureuse. Vous nous autorisez à venir sur terre ?
    </p>

    <p>Elle explique ça très vite à Yrik et Manatolla qui poussèrent de petits cris, très vite les gens dehors se mirent aussi à faire des cris atroces qui semblèrent être des cris de joie pour eux.</p>

    <p>
      - M...mais mais attendez ! les interromps-tu. Je ne suis pas la personne à qui il faut demander cela. Ce n'est pas moi qui dirige la terre. D'ailleurs même les mages supérieurs de l'Académie ne dirigent pas la totalité de mon monde.<br />
      -  Ah bon ? Pourtant vous aussi vous avez récupéré le CHI de votre monde. Tout comme nous avons récupéré le CHI de la lune, vous vous avez le CHI de la terre. J'ai parcouru votre monde de long en large et vous êtes la seule personne à l'avoir. Je pensais donc que vous étiez la personne qui représentait la terre dans son ensemble. Le successeur de Soufflardent en quelque sorte.<br />
      - Qu... comment ça ? Qu'est-ce que vous racontez ?<br />
      - Vous ne le savez pas ? En vous coule le sixième type de CHI, ou plutôt le sixième type de magie : la magie de votre monde. Appelons la magie MONDE puisque la magie de la terre existe déjà. Comme nous avons maîtrisé la magie de la lune, il est facile pour nous de sentir ces choses là.
    </p>

    <p>Tu regardes tes mains perplexe. Tu aurais un autre type de magie inconnu jusque là ?</p>

    <p>
      - Mais pourtant Usaki ne m'en a jamais parlé, fais-tu remarquer. Pourtant vous dites que vous arrivez à voir ça facilement.<br />
      - Usaki ne rêve que d'une chose maintenant, récupérer tous les CHI. Il souhaite pour cela éradiquer les humains et peut être même votre monde. Chez nous, il est considéré comme le plus grand héro actuel. Il est l'ennemi de l'humanité pour vous.
    </p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="43">Comment faire pour utiliser la magie MONDE ?</div>
    <div class="ch" data-go="44">Comment arrêter Usaki ?</div>
  </div>

</div>
