<div class="num num-1-3-422 retour-413">

  <div class="text chapter3">

    <h1>- 422 -</h1>

    <p>
      Les deux prophètes semblent vouloir s'amuser, ou alors ils ne veulent pas détruire la tour. Car ils pourraient exploser la totalité de l'étage s'ils le désiraient.
    </p>

    <p>Ymir part en tête, sous la protection d'un sort de Zaïra, juste derrière lui. Tu fermes la marche. Pour leur âge, tu trouves les deux mages très rapides.</p>

    <p><span class="naorem"></span> semble vous remarquer enfin et claque des doigts dans votre direction. L'explosion devant toi te surprend et tu dois t'arrêter l'espace d'un instant. Ymir et Zaïra ont su réagir à temps en sautant chacun sur un côté et en se protégeant avec un mur d'eau.</p>

    <p>Les deux mages légendaires semblent inarrêtables, ils n'auront même pas besoin de toi. Mais tu continues ton effort, Ymir l'a dit : il faut tout donner.</p>

    <p>Au moment où Ymir se projette en avant en allongeant son bras pour toucher <span class="naorem"></span>, son artefact est stoppé en plein vol à un mètre du torse du prophète. Une protection magique ? Zaïra surgit sur le côté mais est accueillie par un mur de flammes qui l'oblige à se protéger en lâchant son artefact. Méonie en profite alors pour lui envoyer une onde à haute pression.</p>

    <p>La mage légendaire est envoyée violemment contre le mur et une cage se forme autour d'elle.</p>

    <p>Toujours focalisé<span class="sf">e</span> sur <span class="naorem"></span> tu passes juste à côté d'Ymir. Et tu te jettes sur le prophète en criant. Ce dernier t'esquive de justesse. Mais Méonie est juste derrière lui et n'a pas le temps de réagir.</p>

    <p>Dans une position loufoque tu lui colles ton artefact sur les fesses alors qu'elle ne t'avait même pas vu. Elle s'effondre au sol en ronflant légèrement.</p>


  <div class="choix">
    <div class="ch" data-go="415">Continuer</div>
  </div>

</div>
