<div class="num num-1-3-423 retour-300">

  <div class="text chapter3">

    <h1>- 423 -</h1>

    <p>
      Vous vous infiltrez discrètement dans la tour. Des serviteurs et des élèves de l'école sont sortis pour voir ce qu'il se passait, cela vous facilite la tâche.
    </p>

    <p>
      - Je ne les vois pas, fait Haziko.<br />
      - Ils ont dû monter, lui réponds-tu.
    </p>

    <p>Vous grimpez au premier étage et Haziko te tire immédiatement derrière la porte d'un local pour les serviteurs. Dans l'entrebâillement de la porte, tu vois passer Pasha, le mage supérieur du feu qui crie à tout le monde de rentrer dans sa chambre et qu'une intrusion est en cours dans la tour.</p>

    <p>
      - Mince, Espéride s'est déjà fait repéré, t'agaces-tu.<br />
      - Ou alors c'est un de nos espions, fait Haziko.<br />
      - Tu crois qu'on peut sortir maintenant ? lui demandes-tu.<br />
      - Cela semble sûr, on va monter la tour en accompagnant tous ces serviteurs.
    </p>

    <p>Vous voyez effectivement les gens en train de regagner leurs chambres et vous en profitez pour vous intégrer au groupe. Aussitôt vous entendez des explosions dans la cours de l'école et des cris. Pasha hurle de venir l'aider.</p>

    <p>Mais vous continuez à monter. Au deuxième étage vous voyez les serviteurs, devant vous, commencer à rebrousser chemin en courant. Ils manquent de vous renverser. Tu arrêtes une petite servante qui doit être encore plus jeune que toi.</p>

    <p>
      - Que se passe-t-il ?<br />
      - Les prophètes : ils se battent au quatrième étage ! Ils sont en train de tuer tout ce qui passe à leur portée.<br />
      - <span class="tonnom"></span>, t'interpelle Haziko, si on les attaque de face, on va mourir. Il nous faut un plan.
    </p>

    <p>Elle a raison, tu n'as envie de perdre personne d'autre. Alors tu réfléchis un peu. Espéride et Anselm doivent avoir fort à faire si ce sont eux qui se battent mais il ne faut pas se jeter dans la gueule du loup non plus.</p>

    <p>
       - Bonjour les enfants, c'est à cause de vous ce bazar ? demande une voix derrière vous.<br />
       - Ymir, Zaïra ? t'étonnes-tu. Qu'est-ce que… ? On a besoin de vous ! Il faut arrêter les prophètes, nos amis se battent contre eux.<br />
       - On est là pour ça nous aussi, explique Zaïra.<br />
       - Prenez ces artefacts, on les utilisait avant pour maintenir Soufflardent endormi. Cela devrait suffire face à un prophète. Vous devez juste lui coller dessus. Mais laissez-nous passer devant quand même.
    </p>

    <p>Quelle chance d'être tombé sur les deux mages légendaires. Vous avez en plus une nouvelle arme contre les prophètes. Haziko te tire la manche pour te demander.</p>

    <p>
      - C'est vraiment les mages légendaires ? fait elle étonnée.<br />
      - Oui, je les ai rencontrés à la forteresse de la lune.<br />
      - Ouah ! J'en reviens pas de croiser ces mages. Même si Mac Lumy m'en avait parlé.
    </p>

  <div class="choix">
    <div class="ch" data-go="424">Continuer</div>
  </div>

</div>
