<div class="num num-1-3-424 retour-423">

  <div class="text chapter3">

    <h1>- 424 -</h1>

    <p>
      Vous suivez Ymir et Zaïra qui se dépêchent mais prennent beaucoup de précautions pour monter chaque étage restant. Et au quatrième étage les bruits de combat se font entendre.
    </p>

    <p>
      - Restez ici, fait Ymir.<br />
      - Oui, dit Zaïra en vous demandant donc d'attendre juste avant le quatrième étage.<br />
      - On vient vous aider, fais-tu sans broncher. Vous ne savez pas ce qu'on a traversé.<br />
      - Oui, confirme Haziko. On va pas attaquer comme des fous sans réfléchir. On ne prendra que des risques calculés.<br />
      - Je crois que c'est impossible de vous retenir ? fait Ymir. Dans ce cas venez.
    </p>

    <p>Au quatrième étage, qui était avant le réfectoire de la tour, tout est en miette à terre. Plusieurs mages semblent inconscients ou mort. Seuls Espéride et Anselm sont encore debout face aux deux prophètes qui restent dans le fond de la grande salle. Espéride semble à deux doigts de tomber par terre. Elle a probablement protégé Anselm tout ce temps, qui est sans une égratignure.</p>

    <p><span class="naorem"></span> lance un sort gigantesque sur la mage comme si c'était une pichenette. Ymir intervient en déviant le sort contre le mur et faisant exploser une partie de la tour.</p>

    <p>En voyant les deux mages légendaires, Espéride met un genoux à terre. Contente de voir arriver des renforts.</p>

    <p>
      - Anselm ! Comment ça se passe ? lui cries-tu de loin.<br />
      - On ne pensait pas tomber sur les deux en même temps, vous confie le jeune mage.<br />
      - Ok, reposez-vous tous les deux un peu, dit Zaïra aux deux mages que vous venez de secourir. Ymir, on passe à l'attaque ?<br />
      - Quand tu veux ma chère, lui répond son époux.
    </p>

    <p>Tu ne veux pas être en reste. Tu fais un signe de tête à Haziko et vous décidez d'une attaque également.</p>

  <div class="choix">
    <div class="ch" data-go="425">Attaque combinée de face</div>
    <div class="ch" data-go="432">Attaque combinée en ciseaux</div>
  </div>

</div>
