<div class="num num-1-3-426 retour-425">

  <div class="text chapter3">

    <h1>- 426 -</h1>

    <p>
      C'est alors que Lasseni arrive à son tour au quatrième étage, descendant des étages supérieurs.
    </p>

    <p>
      - Je ne vais plus me cacher, fait-elle. <span class="naorem"></span> ! Cette fois tu vas payer pour ce que tu nous as fait à moi et mon frère.
    </p>

    <p>Les alliés arrivent petit-à-petit mais de plus en plus puissant. Cette fois, vous avez un prophète en plus dans votre camp. Ymir vous fait signe de rester avec Anselm et Espéride pour les soigner. Ce que vous faites. Lasseni occupe toute l'attention de Méonie et <span class="naorem"></span>, l'atmosphère a vraiment changé depuis l'arrivée de Lass'. L'air est devenu vraiment froid, ce doit être elle qui fait cela.</p>

    <p>Elle attaque avec fureur en lançant des sorts de glace à des niveaux énormes. Méonie repousse tout pendant que <span class="naorem"></span> veut contre-attaquer mais doit subir les attaques combinées des deux mages légendaires.</p>

    <p>
      - Guérissez-moi vite, vous fait Espéride. Si je peux aller attaquer on va prendre le dessus cette fois.
    </p>

    <p>C'est vrai, avec un mage du niveau d'Espéride en plus ils ne tiendront plus. Vous vous dépêchez à trois de lancer vos sorts de guérisons les plus puissants sur la mage. Mais tout à coup quelque chose de terrible surgit du sol. Une masse noire sort du sol pour venir gober toutes les personnes au dessus. Ymir, Zaïra, Méonie et <span class="naorem"></span> se font toucher par le sort. Le prophète est le seul à être encore en partie là après que la masse noire se soit dissipée.</p>

    <p>Il crie de douleur en voyant qu'il lui manque ses jambes. Un grand trou s'est formé dans le plancher à l'endroit où la masse noire est apparue. Et un grand lapin en surgit. Usaki !</p>

    <p>
      - Mince je n'ai pas réussi à avoir le deuxième prophète, j'étais trop optimiste, fait le noctule. Enfin bon, j'ai eu les deux mages légendaires et un prophète. Pas mal, hein ? se vante-t-il devant vous.
    </p>

    <p>Vous n'en croyez pas vos yeux. Il a mis quatre des plus puissantes personnes au monde au tapis avec un seul sort.</p>

    <p>
      - Il a tué Ymir et Zaïra ? se demande Haziko en pleurant.<br />
      - C'est quoi ce monstre ? se demande Espéride.<br />
      - C'est Usaki, un noctule. C'est mon… notre ennemi.
    </p>

    <p>Lasseni regarde Usaki de loin mais semble en colère aussi contre lui.</p>

  <div class="choix">
    <div class="ch" data-go="427">Continuer</div>
  </div>

</div>
