<div class="num num-1-3-427 retour-426">

  <div class="text chapter3">

    <h1>- 427 -</h1>

    <p>
      Et alors que Lasseni allait lui lancer une attaque de glace, le noctule lui cria :
    </p>

    <p>
      - Lasseni ! Si tu m'attaques tu ne sauras jamais où est emprisonné ton frère !
    </p>

    <p>Lasseni s'arrête immédiatement mais en se mordant la lèvre. Elle semble bouillir intérieurement. Tu sais que si l'artefact fonctionnait sur Soufflardent, il doit fonctionner sur un noctule alors tu te précipites sur lui en te disant que l'adversaire est moins puissant qu'avant.</p>

    <p>Espéride ne comprenant même pas si cette créature est amie ou ennemie ne réagit pas. Mais avant de t'élancer … </p>

  <div class="choix">
    <div class="ch" data-go="428">Tu as demandé à Haziko de te protéger le plus possible</div>
    <div class="ch" data-go="431">Tu as demandé à Haziko d'attaquer avec toi</div>
  </div>

</div>
