<div class="num num-1-3-428 retour-427">

  <div class="text chapter3">

    <h1>- 428 -</h1>

    <p>
      Tu sens arriver sur toi un sort de protection de ton amie, tu ne sais pas si ce sera suffisant contre Usaki mais tu dois juste lui coller l'artefact dessus. Le noctule te voit arriver de loin et commence à incanter. Mais tu ne restais pas les bras croisés, tu enflammes tes deux mains avec un sort puis tu te jettes de plus belle sur lui.
    </p>

    <p>Des tentacules noirs sortent alors du dos du noctule et tentent de t'attraper. Le sort de protection d'Haziko écarte trois tentacules pendant que tu en brûles deux autres avec tes mains de feu. Tu te rapproches vraiment prés d'Usaki.</p>

    <p>
      - Ha ha ! Bel effort, fait-il. Mais mes tentacules d'ombre se déplacent plus vite que toi.
    </p>

    <p>Dans ton dos les tentacules repoussés reviennent vers toi et vont t'attraper quand tout à coup ils explosent.</p>

    <p><span class="naorem"></span> vient de les faire disparaitre alors qu'il baigne dans une mare de sang.</p>

    <p>
      - Vas-y <span class="tonnom"></span> ! t'encourage le prophète. Détruis-moi ce monstre ! Je ne peux pas plus t'aider.
    </p>

    <p>Tu es sur lui, il ne faut pas qu'il esquive. Mais tu vois qu'il a les pieds pris dans la glace. Il est immobilisé par quelqu'un. Le lapin géant alors, en te voyant approcher inexorablement vers lui tente de d'envoyer un formidable coup de poing mais il est repoussé par le sort d'un autre de tes amis.</p>

    <p>
      - De la part de tout le monde ! lui hurles-tu en lui collant l'artefact sur le torse.
    </p>

    <p>Usaki s'endort aussitôt pendant que tu tombes dans le trou qu'il avait fait.</p>

    <p>Haziko, Lasseni et tout le monde au quatrième étage entendent un grand "boum" quant tu t'écrases puis une petite voix qui sort de l'étage inférieur.</p>

    <p>
      - C'est tout bon, j'ai rien !
    </p>

  <div class="choix">
    <div class="ch" data-go="429">Continuer</div>
  </div>

</div>
