<div class="num num-1-3-43">

  <div class="text chapter3">

    <h1>- 43 -</h1>

    <p>
      - La puissance de ton monde <span class="tonnom"></span> est telle que tu pourrais l'utiliser même ici sur la lune. Mais elle semble impossible à maîtriser pour nous-autres noctules. Je ne pourrai donc pas t'expliquer comment l'utiliser. Cela semble différent de la magie de la lune, je ne sais pas si cela t'aidera.<br />
      - Ben… en fait non, ça ne m'aide pas.
    </p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="44">Comment arrêter Usaki ?</div>
    <div class="ch" data-go="45">Choisir que faire ensuite</div>
  </div>

</div>
