<div class="num num-1-3-431 retour-427">

  <div class="text chapter3">

    <h1>- 431 -</h1>

    <p>
      Haziko t'accompagne avec un sort de flammes sur ses mains et son oiseau mécanico-magique qui la suit. Tu lances toi aussi un sort de "canon de lumière" sur le noctule. Qui se protège avec un sort bizarre qui absorbe ton sort. Il enchaine en incantant très vite un sort d'attaque. Vous continuez pendant ce temps à vous approcher de lui pour lui coller votre artefact dessus.
    </p>

    <p>Des tentacules noirs sortent alors du dos du noctule et tentent de vous attraper. Haziko en brûle deux avec ses mains de feu, elle en dévie un troisième avec son oiseau mécanico-magique qui se fracasse par terre après cela. Tu essaies d'esquiver ceux qui viennent vers toi mais sans y parvenir. Les tentacules s'enroulent autour de ta taille et de ta cheville. Haziko fonce de plus belle mais seule face au monstre lunaire.</p>

    <p>
      - Ha ha ! Bel effort, fait-il. Mais mes tentacules d'ombre se déplacent plus vite que toi.
    </p>

    <p>Dans son dos le tentacule repoussé lui revient dessus et va l'attraper quand tout à coup il explose.</p>

    <p><span class="naorem"></span> vient de faire disparaitre le sort du noctule alors qu'il baigne dans une mare de sang.</p>

    <p>
      - Vas-y ! l'encourage le prophète. Détruis-moi ce monstre ! Je ne peux pas t'aider plus.
    </p>

    <p>Haziko est sur lui, il ne faut pas qu'il esquive. Il tente alors en dernière solution de la frapper avec son énorme patte. Mais n'étant plus retenu<span clas="sf">e</span> par son sort, tu t'interposes et crées une barrière de glace pour laisser Haziko le toucher.</p>

    <p>
      - De la part de tout le monde ! lui hurle Haziko en lui collant l'artefact sur le torse.
    </p>

    <p>La patte d'Usaki s'écrase dans ton mur en le fracassant mais c'est trop tard. Il s'endort aussitôt pendant que vous tombez, toi et Haziko dans le trou qu'il avait fait.</p>

    <p>Lasseni et tout le monde au quatrième étage entendent un grand "boum" quant tu t'écrases puis une petite voix qui sort de l'étage inférieur.</p>

    <p>
      - C'est tout bon, on n'a rien !
    </p>

  <div class="choix">
    <div class="ch" data-go="429">Continuer</div>
  </div>

</div>
