<div class="num num-1-3-432 retour-424">

  <div class="text chapter3">

    <h1>- 432 -</h1>

    <p>
      Haziko et toi partez dans des directions opposés, pour essayer d'attaquer sur les côtés pendant qu'Ymir et Zaïra partent en ligne droite. Méonie semble s'occuper de la défense pendant que <span class="naorem"></span> s'occupe de l'attaque. Mais les deux mages légendaires occupent l'attention des prophètes plus que vous.
    </p>

    <p>Une série de sorts est lancé par <span class="naorem"></span>. Zaïra écarte les deux premières attaquent avant de s'écarter et laisser passer Ymir qui en écarte deux autres avec des incantations rapides pour dévier les sorts. Ils sont impressionnants ! On dirait presqu'ils ont la puissance des prophètes.</p>

    <p>Ymir s'approche un peu plus pour essayer de coller son artefact sur le prophète, Zaïra pendant ce temps lance une série de missiles magiques pour occuper Méonie. Cependant, <span class="naorem"></span> fait grossir son bras qui prend la taille d'un arbre et vient sécher le mage légendaire dans son action. Vous entendez les craquements de ses os quand il tombe brutalement à terre.</p>

    <p>Zaïra continue l'action en lançant son artefact avec un sort de télékinésie. Mais un mur de caoutchouc vient apparaitre devant <span class="naorem"></span> et arrête l'artefact. La mage légendaire récupère aussitôt ce qu'elle venait de lancer et saute par dessus le mur. Mais, stupeur ! Personne ne se trouve derrière. Les deux prophètes en ont profité pour se téléporté au dessus de la mage et lui tomber dessus avec un sort de "bombe enflammée".</p>

    <p>L'explosion allait vous souffler aussi, mais Haziko a très vite sorti un petit artefact de sa poche qui absorbe les dégâts. Par contre tu encaisses complètement l'onde qui te projette plus loin à côté d'Anselm et Espéride.</p>

    <p>Haziko continue son attaque seule. Et alors qu'elle esquive habilement l'attaque de <span class="naorem"></span> elle est arrêtée en plein vol par un mur invisible. Une cage se forme autour d'elle et va s'accrocher au plafond.</p>

    <p>
      - Oh ! Il y avait deux personnes encore ? fait <span class="naorem"></span> étonné.<br />
      - Heureusement pour toi que je les avais vu, fait Méonie. Regarde, ils ont tous ces artefacts à la main. IL me semble reconnaitre ceux qui était sur Maître Soufflardent.<br />
      - Tu as raison Méonie, ils veulent donc nous endormir comme ils l'avaient fait avec notre maitre. Ils vont payer cher.
    </p>

    <p>Ymir se relève et incante un sort de soin sur lui. Ses os ont l'air de retour à la normal mais l'effet de surprise n'est plus garantie. Zaïra vient vous rejoindre, la bombe a abîmé ses habits mais elle tient bon. Haziko a beau mordre les barreaux de sa cage, elle semble à l'épreuve des dents et de la magie.</p>

  <div class="choix">
    <div class="ch" data-go="433">Continuer</div>
  </div>

</div>
