<div class="num num-1-3-435 retour-434">

  <div class="text chapter3">

    <h1>- 435 -</h1>

    <p>
      Usaki mais tu dois juste lui coller l'artefact dessus. Le noctule te voit arriver de loin et commence à incanter. Mais tu ne restais pas les bras croisés, tu enflammes tes deux mains avec un sort puis tu te jettes de plus belle sur lui.
    </p>

    <p>Des tentacules noirs sortent alors du dos du noctule et tentent de t'attraper. Tu en brûles deux autres avec tes mains de feu pendant que tu esquives les autres. Tu te rapproches vraiment prés d'Usaki.</p>

    <p>
      - Ha ha ! Bel effort, fait-il. Mais mes tentacules d'ombre se déplacent plus vite que toi.
    </p>

    <p>Dans ton dos les tentacules esquivés reviennent vers toi mais Anselm s'interpose et encaisse l'attaque en criant. Le pauvre vient de se faire perforer aux niveau des poumons. Et puis les tentacules explosent laissant Anselm à terre sans bouger avec un grand trou dans le ventre.</p>

    <p>Tu t'aperçois que c'est <span class="naorem"></span> qui vient de faire disparaitre le sort du noctule alors qu'il baigne dans une mare de sang.</p>

    <p>
      - Vas-y <span class="tonnom"></span> ! t'encourage le prophète. Détruis-moi ce monstre ! Je ne peux pas t'aider plus.
    </p>

    <p>Tu es sur lui, il ne faut pas qu'il esquive. Mais tu vois qu'il a les pieds pris dans la glace. Il est immobilisé par quelqu'un. Le lapin géant alors, en te voyant approcher inexorablement vers lui tente de d'envoyer un formidable coup de poing mais il est repoussé par le sort d'un autre de tes amis.</p>

    <p>
      - De la part de tout le monde ! lui hurles-tu en lui collant l'artefact sur le torse.
    </p>

    <p>Usaki s'endort aussitôt pendant que tu tombes dans le trou qu'il avait fait.</p>

    <p>Haziko, Lasseni et tout le monde au quatrième étage entendent un grand "boum" quant tu t'écrases puis une petite voix qui sort de l'étage inférieur.</p>

    <p>
      - C'est tout bon, j'ai rien !
    </p>

  <div class="choix">
    <div class="ch" data-go="436">Continuer</div>
  </div>

</div>
