<div class="num num-1-3-436 retour-435">

  <div class="text chapter3">

    <h1>- 436 -</h1>

    <p>
      Le prophète <span class="naorem"></span> a demandé à ce qu'on le laisse mourir. Il ne voulait pas être soigné. Il vous confia qu'il aurait dû se concentrer plus sur Usaki, comme lui aurait demandé Soufflardent avant de mourir. Il semble résigné à mourir alors que peut-être Lasseni aurait pu le guérir. Mais visiblement, il n'osait pas lui demander après lui avoir fait subir des choses horribles à elle et à son frère. Il lui révéla d'ailleurs où était enfermé Fandrean, dans une prison glaciaire à des milliers de kilomètres de là. Personne n'aurait pu le retrouver.
    </p>

    <p>Une cérémonie spéciales fut donnée en l'honneur d'Ymir et Zaïra et de tout ceux qui moururent au court de cette guerre. Tu t'en veux un peu d'avoir demandé à Anselm de t'aider, cela l'a tué. Haziko, Lasseni et toi, eurent une pensée spéciale pour vos camarades. Espéride fait un discours émouvant et est nommée au commandement de l'Académie le temps qu'un nouveau conseil soit choisi.</p>

    <p>Usaki resta enfermé dans une cellule avec son artefact collé à la poitrine. La résistance se demanda un moment où étais passé leur général.</p>

    <p>Mais une journaliste du nom de Leng Fao vous expliqua que vous l'aviez capturé. Allister était bien en réalité Usaki : un général noctule visant à envahir la planète terre.</p>

    <p>En effet, Leng Fao était aussi une noctule, mais sur la lune elle s'opposait à Usaki. Quand les noctules apprirent qu'Usaki avait été capturé, les noctules se disputèrent pour savoir quoi faire et finalement c'est l'opposant antimilitariste Hong Tao qui a pris le commandement là-haut. Leng Fao, en tant que diplomate des nouveaux noctules était venue pour savoir si les humains accepteraient de partager un peu de magie avec eux.</p>

  <div class="choix">
    <div class="ch" data-go="430">Epilogue</div>
  </div>

</div>
