<div class="num num-1-3-437 retour-434">

  <div class="text chapter3">

    <h1>- 437 -</h1>

    <p>
      Anselm t'accompagne avec un sort de flammes sur ses mains. Tu lances toi aussi un sort de "canon de lumière" sur le noctule. Qui se protège avec un sort bizarre qui absorbe ton sort. Il enchaine en incantant très vite un sort d'attaque. Vous continuez pendant ce temps à vous approcher de lui pour lui coller votre artefact dessus.
    </p>

    <p>Des tentacules noirs sortent alors du dos du noctule et tentent de vous attraper. Anselm en brûle deux avec ses mains de feu. Tu essaies d'esquiver ceux qui viennent vers toi mais sans y parvenir. Anselm te pousse alors en avant pour te ne pas te faire prendre. Mais c'est lui qui se retrouve touché. Les tentacules s'enroulent autour de sa taille et de sa cheville. Les tentacules le secoue de haut en bas en lui faisant frapper le plafond puis le plancher. Il reste immobile comme une marionnette, tué par Usaki.</p>

    <p><span class="naorem"></span> pose sa main sur la cheville du noctule stupéfait, pour l'empêcher de bouger. Il lui lance alors un puissant sort qui transforme les pieds d'Usaki en bloc de pierre.</p>

    <p>
      - Vas-y <span class="tonnom"></span> ! t'encourage le prophète. Détruis-moi ce monstre ! Je ne peux pas t'aider plus.<br />
      - De la part de tout le monde ! lui hurles-tu en lui collant l'artefact sur le torse.
    </p>

    <p>Usaki s'endort aussitôt pendant que tu tombes dans le trou qu'il avait fait.</p>

    <p>Lasseni et tout le monde au quatrième étage entendent un grand "boum" quant tu t'écrases puis une petite voix qui sort de l'étage inférieur.</p>

    <p>
      - C'est tout bon, j'ai rien !
    </p>

  <div class="choix">
    <div class="ch" data-go="436">Continuer</div>
  </div>

</div>
