<div class="num num-1-3-439 retour-438">

  <div class="text chapter3">

    <h1>- 439 -</h1>

    <p>
      En continuant à monter les escaliers, vous entendez des explosions retentir au quatrième étage. Des mages sont en train de se battre contre les deux prophètes mais le combat est inégal. Seuls les sorts de "masse noire" - sorte de blob issue de la magie de la nuit - sont efficaces contre eux et les prophètes esquivent tout.
    </p>

    <p>
      - Tiens, fait Ymir en te tendant un artefact. Si tu touches un des prophètes avec ça et que tu lui colles dessus, il s'écroulera endormi.<br />
      - Ce ne serait pas… ? t'interroges-tu.<br />
      - Si, fait Zaïra, ce sont les artefacts qu'on utilisait pour endormir Soufflardent. <br />
      - Suis-nous, il ne faut pas les laisser comprendre ce qu'on va faire, explique Ymir. On mets tout ce qu'on a dés notre première attaque.
    </p>

    <p>Tu hoches la tête en serrant l'artefact contre toi. Il a la taille d'un livre mais pèse beaucoup plus lourd.</p>

  <div class="choix">
    <div class="ch" data-go="440">Attaquer en visant Méonie</div>
    <div class="ch" data-go="445">Attaquer en visant <span class="naorem"></span></div>
  </div>

</div>
