<div class="num num-1-3-44">

  <div class="text chapter3">

    <h1>- 44 -</h1>

    <p>
      - Je pensais qu'avec ton pouvoir de magie MONDE tu pourrais peut être éviter à tout le monde une guerre sanglante, te dit Leng Fao.<br />
      - Sans savoir comment l'utiliser je ne me sens pas prêt<span class="sf">e</span>.<br />
      - Cela parait impossible faire aboutir la paix de notre côté, nous avons déjà tout fait et malgré nos suppliques, la colère contre les humains est trop grande. Les humains vont devoir négocier avec Usaki je pense.<br />
      - Mais les humains ne savent même pas que les noctules existent ! te lamentes-tu.<br />
      - Dans ce cas la guerre semble inévitable.
    </p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="43">Comment faire pour utiliser la magie MONDE ?</div>
    <div class="ch" data-go="45">Choisir que faire ensuite</div>
  </div>

</div>
