<div class="num num-1-3-441 retour-440">

  <div class="text chapter3">

    <h1>- 440 -</h1>

    <p>
      - <span class="tonnom"></span>, c'est toi qui … ? fait <span class="naorem"></span>. <br />
      - Bravo, exulte Ymir. <span class="naorem"></span> rends-toi ! Tu es tout seul désormais.<br />
      - Quoi ? Je suis peut-être seul mais je suis presqu'un Dieu ! fait-il en relâchant une onde d'énergie qui vient trancher la tour en deux.
    </p>

    <p>Les mages qui étaient encore avec vous, réussissent à se baisser à temps. Mais les étages supérieurs vont s'effondrer sur vous. Tu te protèges avec tes bras même si tu sais que cela ne sert à rien.</p>

    <p>Puis les briques, les lustres et tout ce qu'il y avait dans les étages supérieurs se transforment en une pluie de cristaux de neige formant des scintillements bleutés dans la nuit. Même <span class="naorem"></span> semble surpris.</p>

    <p>Venant d'arriver au quatrième étage, Lasseni regarde le prophète.</p>

    <p>
      - <span class="naorem"></span>. Pour tout ce que tu m'as fait, à moi et à mon frère je vais me venger une bonne fois pour toute.
    </p>

    <p>Le prophète réagit immédiatement en envoyant des lianes saisir le bras d'Ymir et le projeter un peu plus loin. Les lianes lui ramène l'artefact d'Ymir.</p>

    <p>
      - Viens me voir Lasseni ! fait <span class="naorem"></span>. On va voir si tu peux me battre. La glace contre le vent. Qui est le plus fort ?
    </p>

    <p>Tu ne sais pas quoi faire mais deux prophètes l'un contre l'autre pourraient faire du dégâts. Et il suffit à <span class="naorem"></span> avec son artefact pour qu'elle tombe de sommeil.</p>


  <div class="choix">
    <div class="ch" data-go="442">Protéger Lasseni</div>
    <!-- <div class="ch" data-go="XX">Attaquer <span class="naorem"></span></div> -->
  </div>

</div>
