<div class="num num-1-3-444 retour-443">

  <div class="text chapter3">

    <h1>- 444 -</h1>

    <p>
      Tu te relèves sans rien dire. Les mages d'Allister se positionnent autour des deux prophètes pour les faire passer dans leur sort de "masse noire".
    </p>

    <p>Allister va bientôt donner l'ordre de les tuer. Mais tu récupères l'artefact qui t'avait endormi et le colle sur lui sans te douter de ce qu'il allait se passer. Les mages interviennent tout de suite en te plaquant au sol pendant Allister s'endort devants vous.</p>

    <p>Et en s'endormant il reprend sa forme de noctule. Tu savais que personne ne te croirait sans voir ce dont tu te doutais.</p>

    <p>
      - Attendez, lâchez-<span clas="sf">la</span><span clas="sg">le</span> ! Regardez ! C'est Usaki, s'écrie Ymir.
    </p>

    <p>Zaïra, libérée de sa cage, confirme qu'il s'agit bien du noctule. </p>

    <p>Usaki fut ligoté et mis en cellule, et il avoua qu'il préparait une tentative d'invasion de la terre avec ses armées de noctules. La perspective d'une nouvelle guerre fit peur a beaucoup de monde. Mais une journaliste du nom de Leng Fao vint apporter de bonnes nouvelles aux humains.</p>

    <p>En effet, Leng Fao était aussi une noctule, mais sur la lune elle s'opposait à Usaki. Quand les noctules apprirent qu'Usaki avait été capturé, les noctules se disputèrent pour savoir quoi faire et finalement c'est l'opposant antimilitariste Hong Tao qui a pris le commandement là-haut. Leng Fao, en tant que diplomate des nouveaux noctules devra s'entretenir avec le prochain conseil de magie pour savoir si les humains accepteraient de partager un peu de magie avec eux.</p>

  <div class="choix">
    <div class="ch" data-go="409">Continuer</div>
  </div>

</div>
