<div class="num num-1-3-420 retour-419">

  <div class="text chapter3">

    <h1>- 420 -</h1>

    <p>
      Ymir semble être le dernier adversaire dangereux pour le prophète, tu essayes de passer dans son dos pour rejoindre ton amie.
    </p>

    <p>Le combat s'engage entre <span class="naorem"></span> et le mage légendaire. Mais ce dernier n'a aucun moyen de l'emporter. Une bourrasque manque de le projeter dans la tempête, il est retenu in-extremis par la main d'un nouvel arrivant : le général Allister.</p>

    <p>Ce dernier s'engage immédiatement en combat contre le prophète et aide Ymir. Allister est certainement Usaki, en tout cas, tu en es convaincu<span class="sf">e</span>. A deux le combat est plus équilibré et le prophète doit esquiver les "masses noires" envoyées par Allister.</p>

    <p>Tu mets le temps qu'il faut pour ramper jusqu'à Lasseni mais tu y arrives. A ce moment là, tu vois Ymir se faire perforer le ventre par un sort de <span class="naorem"></span>. Le mage légendaire est allé au bout de lui même pour te laisser le temps de libérer Lasseni.</p>

    <p>Allister se jette alors sur le prophète en lui bloquant les bras et les jambes. Tu libères l'artefact du ventre de ton amie.</p>

    <p>
      - <span class="tonnom"></span> ! crie Allister. Maintenant ! Il faut le finir.<br />
      - Je m'en charge, fait Lasseni en sortant de son sommeil.
    </p>

    <p>Allister combat jusqu'au bout également, <span class="naorem"></span> lui tranche les bras en les arrachant mais ne peut esquiver le sort de "Glace ultime" de Lasseni. Le prophète est pris dans un bloc de glace si solide que même lui ne peut s'en défaire. Allister est également pris dans le sort. Lasseni n'a pas pu diminuer la puissance de son sort pour ne pas le toucher.</p>

    <p>Les mages viennent en pleurs devant leur général.</p>

    <p>
      - Il faut que tu le libères, dit l'un d'entre eux à Lasseni.<br />
      - Si je le libère le prophète s'enfuira aussi, répond ton amie.
    </p>

    <p>Puis elle se repose au sol. Tu viens la voir pour t'assurer qu'elle va bien. Elle est juste encore un peu endormie à cause de l'artefact mais te remercie de ce que tu as fait pour la libérer.</p>

    <p>Zaïra est libérée de sa cage et les combats se terminent avec la victoire de la résistance.</p>


  <div class="choix">
    <div class="ch" data-go="421">Epilogue</div>
  </div>

</div>
