<div class="num num-1-3-447 retour-305 306">

  <div class="text chapter3">

    <h1>- 445 -</h1>

    <p>
      Vous vous arrêtez à chaque cellule. Panacle vous montre un petit artefact devant chaque porte. Il sert à empêcher les mages à l'intérieur d'utiliser leur magie.
    </p>

    <p>
      - Il n'y a que des mages ici alors ? demande Anselm.<br />
      - Oui, ceux qui n'ont pas l'usage de la magie sont enfermés à la prison centrale de la cité, avec les sans-magie, explique Panacle.<br />
      - On doit tous les délivrer, fais-tu.<br />
      - Mais… il y a peut-être des gens dangereux, s'inquiète Haziko.<br />
      - Cela fera une diversion, fais-tu, et je pense qu'il n'y a ici que des gens qui veulent renverser les prophètes.
    </p>

    <p>A chaque cellule occupée, vous ouvrez la porte. Chaque personne libérée vous remercie et vous leur dites de s'échapper le plus vite possible.</p>

    <p>
      - Il n'y a qu'un garde d'habitude Panacle ? lui demande Haziko. Ce n'est pas très bien gardé.<br />
      - Hum… généralement ça suffit. Les cellules donnent directement sur le lac, donc personne ne peut s'échapper facilement. Et la prison est située sous la tour, l'endroit où se trouvent tous les mages les plus puissants du monde.
    </p>

    <p>Enfin alors qu'il ne restait plus que quelques cellules, vous entendez quelqu'un qui crie :</p>

    <p>
      - Hé ! Délivrez moi aussi ! Je peux me battre !<br />
      - Mac Lumy ! faites-vous en cœur.<br />
      - Les amis ! Jamais je n'aurai cru que vous veniez me chercher aussi vite, fait le mage.<br />
      - On n'allait pas t'abandonner, retorques-tu.<br />
      - J'ai entendu des explosions, vous avez mis le paquet, dis-donc.<br />
      - La résistance a lancé sa grande attaque, lui répond Anselm. Le général Allister doit être là.<br />
      - On doit l'aider alors, fait le mage.<br />
      - Non, notre mission tout d'abord c'est de trouver Lasseni maintenant, le détrompes-tu.
    </p>

    <p>Chacun hoche la tête à l'unisson pour acquiescer. Mac Lumy est délivré de sa geôle et vous repartez par le seul chemin de sortie. En passant devant le gardien "ligoté", Panacle lui donne un petite tape sur la tête pour l'énerver un peu.</p>

    <p>
      - Où peut se trouver Lasseni ? te demandes-tu à toi et aux autres.<br />
      - Elle dort au septième étage d'après ce que j'ai entendu, dit Mac Lumy.<br />
      - Mais avec un boucan pareil, elle ne doit plus dormir, remarque Panacle.
    </p>

    <p>Tout à coup, tu t'immobilises et tu demandes à Mac.</p>

    <p>
      - Nous n'avons pas trouvé Fandrean dans la prison… Les prophètes ne l'ont pas tué quand même ?<br />
      - Il parait qu'il est retenu dans une prison secrète, mais à part Méonie et <span class="naorem"></span> personne ne sait où exactement.<br />
      - Lasseni doit être vraiment mal, fais-tu remarquer.
    </p>


  <div class="choix">
    <div class="ch" data-go="448">Continuer</div>
  </div>

</div>
