<div class="num num-1-3-448 retour-447">

  <div class="text chapter3">

    <h1>- 448 -</h1>

    <p>
      Vous remontez les marches du sous-sol pour arriver au rez-de-chaussée où les combats ont l'air intenses dans la cours de l'école. L'armée d'Allister semble déjà être là.
    </p>

    <p>
      - Lasseni est probablement en haut de cette tour, mais si on monte on a une possibilité de rencontrer les prophètes, dis-tu.<br />
      - On connait le sort pour les maitriser, fait remarquer Panacle. On serait mieux avec Lasseni mais s'il n'y a pas moyen de faire autrement on les affrontera.
    </p>

    <p>Panacle met sa main au milieu de vous cinq et chacun d'entre vous vous posez la votre par dessus.</p>

    <p>
      - On ne laisse tomber personne, compris ? fais-tu. Mais on prend le moins de risque possible. Kannan nous attend tous.
    </p>

    <p>Et vous montez discrètement au premier étage en profitant de la confusion pour vous faire passer pour des serviteurs. Tu allais te diriger vers l'escalier principal pour monter au deuxième étage quand Haziko t'arrête.</p>

    <p>
      - Non, pas par là. Mon oiseau mécanico-magique me dit qu'un adversaire puissant descend. Je crois que c'est un des mages supérieur.
    </p>

    <p>Un mage supérieur ? Soyos ou un de ses collègues va au combat.</p>


  <div class="choix">
    <div class="ch" data-go="449">Aller à sa rencontre pour l'affronter</div>
    <div class="ch" data-go="459">Passer par le deuxième escalier - celui des serviteurs</div>
  </div>

</div>
