<div class="num num-1-3-449 retour-448">

  <div class="text chapter3">

    <h1>- 449 -</h1>

    <p>
      - Il faut éliminer les adversaires qui se présente à nous si ce n'est pas des prophètes, expliques-tu.
    </p>

    <p>Vous attendez cachés derrière une tapisserie de voir qui descend. Et quelques secondes plus tard, Pasha, le mage supérieur du feu file en donnant des ordres. </p>

    <p>
      - Appelez Esteban ! hurle le grand mage. Faites sonnez l'alerte dans toute la tour. Que les serviteurs se barricadent dans leur chambre ! Ne traînez pas dans nos pattes !
    </p>

    <p>Vous sortez alors de derrière les tapisseries pour vous lancer sur le mage. Ce dernier réagit très vite, il est visiblement terriblement sur ses gardes. Il lance aussitôt un sort de bombe, contré par Mac Lumy qui, en bon mage du feu, avait prévu sa réaction. Panacle lance un sort de "ronces supérieures" qui sert le mage en lui causant des dommages.</p>

    <p>Mais Pasha se transforme alors en homme de feu qui brûle les ronces.</p>

    <p>
      - Canon à eau, cries-tu en incantant un sort d'eau capable de l'éteindre.
    </p>

    <p>Le mage supérieur est harcelé de tous les côtés et ne sais plus où donner de la tête. Il ne s'attendait quand même pas à être attaqué par cinq mages d'un coup. Il est plaqué contre la rembarde de l'escalier.</p>

    <p>
      - Ne me faites pas rire ! hurle-t-il. Je suis un mage supérieur.
    </p>

    <p>Il lance alors des flammes tout autour de lui te forçant à te couvrir les yeux et à t'arrêter un instant. Mais quelqu'un a pu continuer le combat sans se soucier des flammes. L'oiseau mécanico-magique d'Haziko fonce en plein dans la tête de Pasha qui bascule de la rembarde et retombe un étage plus bas, au rez-de-chaussée.</p>

    <p>Vous vous penchez tous pour voir ce qu'il lui est arrivé, et vous ne pouvez que vous féliciter de voir le mage assommé en bas de la tour.</p>

    <p>
      - Ouah ! C'est la puissance des artefacts ça ! s'écrie Haziko fière d'elle-même.<br />
      - Un gros coup de chance, résume Anselm.
    </p>


  <div class="choix">
    <div class="ch" data-go="450">Continuer</div>
  </div>

</div>
