<div class="num num-1-3-45">

  <div class="text chapter3">

    <h1>- 45 -</h1>

    <p>Tu dois maintenant prendre une décision sur ce que tu comptes faire.</p>

  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="64">Aller négocier avec Usaki, qui se trouve à la capitale de la lune</div>
    <div class="ch" data-go="66">Faire venir sur terre le village entier de Leng Fao</div>
    <div class="ch fin fin-3" data-go="73">Retourner sur terre seul<span class='sf'>e</span> pour tenter de convaincre l'Académie d'accepter la venue des noctules sur terre</div>
    <div class="ch fin fin-1 fin-2" data-go="75">Retourner sur terre seul<span class='sf'>e</span> pour tenter de convaincre l'Académie d'accepter la venue des noctules sur terre</div>
  </div>

</div>
