<div class="num num-1-3-450 retour-449">

  <div class="text chapter3">

    <h1>- 450 -</h1>

    <p>
      - <span class="tonnom"></span>, regarde ! fait Mac Lumy pendant que vous appréciez votre victoire.
    </p>

    <p>Le mage te montre deux mages en train de monter à votre étage en semblant raser les murs. Quand ils vous voient, ils vous font signe de les attendre. En arrivant en face de vous, les deux mages viennent directement discuter avec toi.</p>

    <p>
      - Ymir, Zaïra ! fais-tu. Je suis si content<span class="sf">e</span> de vous voir.
    </p>

    <p>Ceux de tes amis qui ne les connaissaient pas sont stupéfaits.</p>

    <p>
      - Nous sommes là pour nous occuper des prophètes, fait Ymir. C'est ce qu'on avait promis quand on est parti de la forteresse de la lune.<br />
      - On sent leur énergie dans la tour, fait Zaïra. Ils semblent descendre les étages.<br />
      - Mince, si on monte on va les croiser ? demandes-tu.<br />
      - Si vous ne voulez pas les affronter, il vaut mieux pour vous faire demi-tour.<br />
      - On est là pour sauver Lasseni, intervient Mac Lumy.<br />
      - Le troisième prophète ? demande Zaïra. D'après son énergie elle est encore en haut de la tour.
    </p>

    <p>Vous expliquez aux deux mages légendaires que vous allez vous infiltrez et ramener Lasseni pour qu'elle vous aide à battre les deux prophètes.</p>

    <p>
      - Et bien, résume Ymir. On va essayer de vous créer de l'espace pour le faire. Et si vous arrivez à la ramener ce sera certainement une aide appréciée.<br />
      - Mais… vous n'allez quand même pas les attaquer que tous les deux ? fait Haziko.<br />
      - Nous nous sommes préparé, fait Zaïra. Et nous avons déjà endormi Soufflardent pendant des années. On y arrivera.
    </p>

    <p>Tu fais signe à tout le monde de suivre ce plan et vous prenez les escaliers de services pendant qu'Ymir et Zaïra prennent les escaliers principaux avec un peu d'avance.</p>


  <div class="choix">
    <div class="ch" data-go="451">Continuer</div>
  </div>

</div>
