<div class="num num-1-3-451 retour-450">

  <div class="text chapter3">

    <h1>- 451 -</h1>

    <p>
      Alors que vous passez le troisième étage, vous entendez des bruits d'explosion à l'étage supérieur. Les prophètes semblent là. Ils ont déjà dû attaquer les mages légendaires.
    </p>

    <p>Tu passes <span class="sf">la première</span><span class="sg">le premier</span> en étirant ton cou pour voir ce qu'il se passe.</p>

    <p>Le quatrième étage était autrefois le réfectoire des mages les plus puissants, désormais les murs des pièces sont détruits, les meubles sont en miettes et plus personnes sont mourantes au sol. Des mages comme des serviteurs. Vers l'escalier principal, Ymir et Zaïra se tiennent debout avec des artefacts à leur mains. Méonie et <span class="naorem"></span> sont de l'autre côté. Ils ont l'air de se parler pour le moment.</p>

    <p>
      - On doit les aider ! fait Mac Lumy. T'as vu les dégâts qu'ils ont causé ? Avec nos sorts on peut les battre.
    </p>

    <p>Tu donnes un gifle au mage.</p>

    <p>
      - Notre mission c'est Lasseni ! Les mages légendaires ont dit eux-mêmes qu'ils avaient besoin d'elle. Espéride est morte pour nous protéger de ces monstres et je refuse que tu meurs aussi en faisant l'idiot.<br />
      - …Désolé. fait Mac Lumy en se tenant la joue.<br />
      - Heu… désolé<span class="sf">e</span> aussi pour la baffe, fais-tu en remarquant que tu y était allé<span class="sf">e</span> un peu fort.
    </p>

    <p>Vous attendez que le combat commence et vous vous faufilez vers l'étage supérieur.</p>


  <div class="choix">
    <div class="ch" data-go="452">Continuer</div>
  </div>

</div>
