<div class="num num-1-3-452 retour-451">

  <div class="text chapter3">

    <h1>- 452 -</h1>

    <p>
      - Haziko ? Tu peux laisser ton oiseau mécanico-magique ici ? demande Panacle à votre amie.<br />
      - Ha ? Oui bien sûr ! Comme ça je vous informerai du combat.
    </p>

    <p>Vous montez les étages en courant. Puis vous ralentissez en arrivant au sixième étage. C'est l'endroit où les mages supérieurs ont leur chambre depuis que les prophètes ont pris le contrôle de l'Académie. Mais personne n'a l'air sur place. Les portes des chambres sont ouvertes et des traces de sang sont visibles un peu partout.</p>

    <p>Dans la chambre de Soyos, le mage supérieur baigne dans une mare de sang. Et Andaelor a également été assassiné.</p>

    <p>
      - Ce sont nos espions qui ont fait ça ? demande Haziko.<br />
      - Je pense, explique Anselm. Il n'y a pas de trace de magie, ils ont été tué avec des couteaux.<br />
      - C'est exact ! déclare une voix assise sur les marches du septième étage.
    </p>

    <p>Lasseni est assise, à vous attendre dirait-on. Ses mains sont gonflées d'énergie, bleues, comme prêtes à lancer un sort.</p>

    <p>
      - Lasseni, t'écris-tu. On est venue pour que tu nous accompagnes. On a besoin de toi pour affronter Méonie et <span class="naorem"></span> !<br />
      - Vous avez besoin de… moi ? fait Lasseni un peu choquée.<br />
      - Ben oui, fait Mac, tu as une puissance considérable. Ymir et Zaïra sont là, ils se battent en ce moment même.<br />
      - Oh… vous n'êtes pas au courant alors.<br />
      - Au courant de quoi ? demande Anselm.
    </p>

    <p>Lasseni se relève mais elle semble assez inquiétante. Sa puissance ne cesse d'augmenter en concentrant son énergie.</p>

    <p>
      - La résistance a envoyé des assassins pour nous tuer… moi y compris. J'ai dû tuer trois individus masqués.
    </p>

    <p>Vous êtes tous choqués d'apprendre ça. C'est sûrement un ordre d'Allister. Bien entendu, tu n'avais pas confiance en lui avant mais maintenant que tu entends ça.</p>

    <p>
      - Lasseni …
    </p>


  <div class="choix">
    <div class="ch" data-go="453">… on ne te demande pas de te battre pour la résistance. Mais bats-toi avec nous. Avec Ymir et Zaïra.</div>
    <div class="ch" data-go="458">… on est désolé. On n'était au courant de rien.</div>
  </div>

</div>
