<div class="num num-1-3-453 retour-452">

  <div class="text chapter3">

    <h1>- 453 -</h1>

    <p>
      - …pff. Me battre pour Ymir et Zaïra ? Mes ancêtres qui se fichent de moi ? Pourquoi je leur devrai quelque chose ? Ils ne sont même pas venus avec vous, ça prouve bien qu'ils n'en ont rien à faire.<br />
      - Mais ils se battent contre les prophètes, ils attendent ton retour ! s'exclame Panacle.<br />
      - Ils peuvent bien mourir… la seule personne qui compte pour moi est emprisonnée dans un endroit que seuls Méonie et <span class="naorem"></span> connaissent. Si je les tue, je ne reverrai jamais Fandrean.
    </p>

    <p>Evidemment ça semble problématique. Tu ne sais pas comment vous allez la convaincre de vous suivre.</p>

    <p>
      - Lass', fait Mac Lumy. Tu as appris la magie pour quoi ? Pour prouver quelque chose à tes ancêtres ?<br />
      - Q.. Quoi ? Bien sûr que non ! s'énerve Lasseni. J'ai toujours travaillé plus que tout le monde parce que c'est ce qu'on attendait de la petite-petite fille des mages légendaires. Il fallait que je sois forte pour me sortir de cette Académie de vautours. Fandrean a eu le même parcours que moi. Mon but a toujours été de rendre le monde plus juste.<br />
      - Alors pourquoi tu prends tes décisions en fonction de ce que penserait Ymir et Zaïra, continue Mac Lumy. Ne viens pas combattre les prophètes pour tes ancêtres, viens les affronter parce que c'est la chose à faire. Tu trouves le monde juste avec eux au pouvoir ?<br />
      - Mais je te répète que Fandrean va...<br />
      - Tu vas te laisser manipuler par ces types horribles pour ton frère ? Tu crois qu'il aurait voulu ça ? Tu crois qu'il aurait voulu que tu laisses mourir l'Académie pour le sauver, lui ?<br />
      - Je… je.
    </p>

    <p>Le discours de Mac Lumy a fait son effet. Tu es fi<span class="sg">er</span><span class="sf">ère</span> de lui. Lasseni semble abandonner son énergie, en tout cas redevenir moins belliqueuse. Elle se met à genoux et se met à pleurer. Tu viens à côté d'elle pour la prendre dans tes bras et tu lui dis.</p>

    <p>
      - Je te promets qu'on trouvera ton frère. Je viendrai avec toi pour le chercher où qu'il se trouve.
    </p>

    <p>Lasseni pleure de plus belle pendant que tu la réconfortes puis elle sèche ses larmes et vous descendez ensemble.</p>


  <div class="choix">
    <div class="ch" data-go="454">Continuer</div>
  </div>

</div>
