<div class="num num-1-3-454 retour-453">

  <div class="text chapter3">

    <h1>- 454 -</h1>

    <p>
      Vous faites le chemin inverse à toute vitesse. Les combats semblent encore en cours au quatrième étage. Vous sortez de l'escalier principale avec Lasseni. Zaïra est enfermée dans une cage qui semble crée par magie. Ymir continue de se battre mais est très fatigué. Méonie et <span class="naorem"></span> ne se font aucun souci. Mais quelqu'un d'autre est arrivé et semble combattre les prophètes. Un grand chevalier : le général Allister.
    </p>

    <p>Quand tu le vois tu en es certain<span class="sf">e</span> cette personne n'est autre qu'Usaki. Il a quelque chose dans le regard qui te rappelle le noctule.</p>

    <p>Lasseni crie à l'attention des prophètes.</p>

    <p>
      - <span class="naorem"></span> ! Tu vas payer ce que tu m'as fait à moi et à mon frère !
    </p>

    <p>Vous vous mettez en position de cercle pour pouvoir lancer vos sorts contre les prophètes. Lasseni attirera leur attention.</p>

    <p><span class="naorem"></span> déclenche des vents surhumains qui emportent les étages cinq, six et sept de la tour. Un véritable tempête apparait dans le ciel autour de vous et la pluie vient fouetter votre visage. Zaïra dans sa cage est emportée par les bourrasques. Chacun d'entre vous doit faire un effort considérable pour s'accrocher. Mais tout va mieux un instant plus tard quand Lasseni lance une bulle de protection sur vous tous.</p>

    <p>Lasseni s'occupe de <span class="naorem"></span> dans un combat titanesque, des éclairs jaunes et bleus viennent les frapper à chaque fois qu'ils s'envoient un sort. Méonie voudrait bien aider son compère mais Ymir ne lui laisse pas le temps de réagir, et Allister décide de la viser également. Les sorts du général sont d'une puissance digne des mages légendaires et c'est pour cela que la prophète est à la peine.</p>

    <p>Personne ne semble faire attention à vous mais tu sais que tu as le fin mot de l'histoire dans tes mains. Tu viens de récupérer l'artefact que Zaïra avait. Il était resté accroché derrière un bloc de pierre. Il te suffit de le coller sur <span class="naorem"></span>. Mais Mac Lumy te propose de lui lancer plutôt un sort de 'masse noire'.</p>

    <p>Le sort de "masse noire" tuerait <span class="naorem"></span> alors que l'artefact l'endormirait seulement.</p>

  <div class="choix">
    <div class="ch" data-go="455">Utiliser l'artefact</div>
    <div class="ch" data-go="457">Utiliser le sort de "masse noire"</div>
  </div>

</div>
