<div class="num num-1-3-455 retour-454">

  <div class="text chapter3">

    <h1>- 455 -</h1>

    <p>
      Tu dis a tes amis de s'écarter et tu te jettes sur <span class='naorem'></span> pendant qu'il contre un sort de Lasseni. Il n'a pas la possibilité de te contrer sans encaisser un puissant sort de la part de ton amie.
    </p>

    <p>Le prophète tombe de sommeil aussitôt que tu lui colles l'artefact dessus. La tempête se calme aussitôt et Lasseni peut enfin souffler un peu.</p>

    <p>Méonie ne sait plus quoi faire, elle sait que le combat est perdu désormais. Lasseni va l'attaquer et elle ne pourra rien faire.</p>

    <p>
      - Je me rends ! fait la prophète en levant les bras en l'air. Lasseni, je vais te rendre Fandrean, je sais où il se trouve.<br />
      - Ne l'écoutez pas ! s'insurge Allister. Il faut les tuer !<br />
      - Calmez-vous jeune homme, lui dit Ymir. Tout est terminé.<br />
      - Non ! Ils doivent mourir ! Ils sont trop puissants ! s'énerve Allister.
    </p>

    <p>Le général incante alors un sort en direction de Lasseni. Nul doute qu'il s'agit du sort de "Masse noire". Mais du sang sort de sa bouche. Un pieu de glace vient de lui transpercer le cœur. Lasseni vient de lui porter un coup mortel.</p>

    <p>
      - Toi ! Tu es essayé de m'assassiner et si elle meurt, je ne reverrai jamais mon frère.
    </p>

    <p>Tu essaies de calmer Lasseni en lui disant que cette fois, tout était fini. Le général Allister prend alors l'apparence d'un gigantesque lapin. Comme tu l'avais deviné il s'agissait d'Usaki.</p>

    <p class="middle">*</p>

    <p>Ymir et Zaïra - qui avaient facilement pu s'en sortir - expliquèrent aux prophètes comment rendre leurs pouvoirs. Car ce fut la condition donnée par la résistance pour leur libération. Méonie et <span class="naorem"></span> rendirent leur pouvoirs tout de suite et partirent en exil dans les terres barbares.</p>

    <p>Méonie ne semblait pas si malheureuse. Tu notas qu'elle tenait la main de <span class="naorem"></span> au moment de s'en aller. Ces deux là s'aimaient depuis un bout de temps on dirait.</p>

    <p>Mais comme promis, ils donnèrent l'indication de la prison de Fandrean à Lasseni, qui put délivrer son frère en un instant. Aussitôt que ce dernier fut libéré, elle rendit, elle aussi, ses pouvoirs. Et attendant le choix d'un nouveau conseil de magie c'est Fandrean qui pris le pouvoir.</p>

  <div class="choix">
    <div class="ch" data-go="456">Epilogue</div>
  </div>

</div>
