<div class="num num-1-3-456 retour-455">

  <div class="text chapter3">

    <h1>- FIN 26 -</h1>

    <p>
      Une grande assemblée fut faite pour choisir le conseil de magie de la nouvelle Académie. Zaïra fut présentée, mais comme elle refusait d'en faire partie, chacun pensa que c'était une bonne idée qu'elle aide à désigner les personnes méritantes. Peut-être que la mort d'Ymir lui fit prendre cette décision.
    </p>

    <p>Fandrean fut bien entendu proposé pour occuper un poste dans le conseil de magie. Lasseni ne put contenir son émotion. Surtout, Zaïra annonça officiellement être l'ancêtre d'elle et Fandrean. Cela te fit plaisir, elle qui avait beaucoup souffert à cause d'elle et Ymir. La voilà portée en triomphe grâce à sa déclaration.</p>

    <p>Arristan, un mage de la forteresse de la lune fut invité également à prendre un siège au conseil de la magie. Chose qui bien entendu fut acceptée de part la contribution à la victoire finale.</p>

    <p class="mullihane-vivante">Parmi les anciens membres du conseil, Mullihane fut la seule à garder son poste. Les trois autres furent tous retrouvé morts dans l'école. Certains assassinés dans leur chambre - Soyos et Andaelor, et Pasha dans la cours de l'école.</p>

    <p>
      Et pour finir, les deux mages légendaires proposèrent également de rajouter un sans-magie au conseil. Chose qui fit bondir beaucoup de monde. C'est une idée que tu trouves intéressante et tu l'applaudis. Un vieux pêcheur qui passe désormais son temps le nez dans les livres, fut choisi. Pour permettre aux mages de ne pas s'accaparer tout le pouvoir.
    </p>

    <p class="middle">*</p>

    <p>Allister devint une sorte de héros de l'humanité, qui s'était sacrifié pour la résistance. Personne à part le conseil et quelques mages de haut niveau - et vous - ne sut qu'il s'agissait en fait d'Usaki. Et un jour une journaliste du nom de Leng Fao arriva pour vous donner plus d'informations.</p>

    <p>En effet, Leng Fao était aussi une noctule, mais sur la lune elle s'opposait à Usaki. Quand les noctules apprirent qu'Usaki avait été capturé, les noctules se disputèrent pour savoir quoi faire et finalement c'est l'opposant antimilitariste Hong Tao qui a pris le commandement là-haut. Leng Fao, en tant que diplomate des nouveaux noctules était venue pour savoir si les humains accepteraient de partager un peu de magie avec eux.</p>

    <p>C'est avec beaucoup de joie que tu appris que quand Leng Fao expliqua cela au conseil, ils validèrent tous sa proposition. Vos meilleurs fabricant d'artefact allaient donc se mettre sans tarder à la construction de réserve de magie pour les donner aux noctules. Leng Fao fut ravie d'apprendre ça. Vous espérez que cela renforce un peu les liens fragiles qui existe avec les noctules. Jamais la population ne fut mise au courant de l'existence d'Usaki et tu penses que c'est bien mieux comme cela. Le général noctule, d'ailleurs, fut laissé en prison où il purge sa peine d'emprisonnement à vie.</p>

    <p class="av-riche">
      Le temps passa et la nouvelle Académie commença à reprendre des couleurs. Un gigantesque parc mémorial fut consacré aux victimes de la "guerre des prophètes". Ceux qui voulaient y enterrer leurs proches décédés le pouvaient. C'est là que tu as décidé d'enterrer ta mère. Aujourd'hui, avec ton père, vous venez faire une petite prière à celle qui a donné sa vie en essayant de protéger la cité des prophètes. Elle mourut en protégeant des élèves de l'école parait-il. Ton père t'appris également qu'elle avait travaillé pour Ymir et Zaïra comme espionne de la forteresse de la lune. Et c'est pour cela qu'elle ne voulait pas que tu fasses de magie, elle savait toutes les horreurs qui s'y cachait. Mais elle a toujours cru en toi.
    </p>
    <p class="av-studieux">
      L'école ne réouvrit pas tout de suite. Et tu réussis à retrouver ton frère à Sarambe. Il s'était enfui là-bas quand les prophètes attaquèrent l'Académie. Quand tu le revis, tu lui racontas toutes tes aventures : de la forteresse de la lune à Soufflardent, des prophètes à Usaki. Une version qu'il ne trouverait jamais dans les parchemins. Eran te confia également qu'il allait arrêter la magie. Ce n'était pas pour lui et la vie à Sarambe lui avait finalement toujours plu : il connait du monde et a trouvé un travail à la ferme de monsieur Foin. Tu es content<span class="sf">e</span> qu'il ait trouvé ce qu'il voulait faire.
    </p>
    <p class="av-populaire">
      En aidant à déblayer la cité, tu tomba sur Rodolphe et son père qui faisaient un brin de ménage dans leur boutique. Sans te faire prier, tu aidas ton amie avec ta magie. Annette vint vous voir à la fin avec quelques tartes toutes chaudes pour vous remettre de vos efforts. C'est vrai que la cité avait souffert mais finalement, ce sont les mages qui ont payé le plus lourd tribu. La population, elle, s'en est plutôt bien sorti. Et ça te fait plaisir pour tes amis.
    </p>
    <p class="av-sportif">
      Levy te retrouva après tant de temps séparés. Il t'expliqua qu'il faisait parti de la troupe d'Allister quand la résistance attaqua. Et que lui dirigeait une section de mages à dos de dragons. Chacun d'entre vous raconta ses aventures et vous passèrent l'après-midi ensemble. A la fin, <span class="sf">il</span><span class="sg">elle</span> t'expliqua qu'<span class="sf">il</span><span class="sg">elle</span> aimerait bien se poser, que l'aventure c'était peut-être terminé pour <span class="sf">lui</span><span class="sg">elle</span>. Et quand tu lui demandas pourquoi, <span class="sf">il</span><span class="sg">elle</span> te demanda en mariage, que ce serait toi sa nouvelle aventure… et tu acceptas.
    </p>

  <!-- <div class="choix">
    <div class="ch" data-go="315">Epilogue</div>
  </div> -->

</div>
