<div class="num num-1-3-457 retour-454">

  <div class="text chapter3">

    <h1>- 457 -</h1>

    <p>
      Tu demandas à Mac Lumy de se charger du sort, il le connaissait bien et il avait le droit de se venger aussi. Son sort se lança aussitôt et tu attrapa Lasseni avec un sort de racines pour ne pas qu'elle soit gobé également.
    </p>

    <p>La masse noire engloutit <span class="naorem"></span> sans laisser de trace. Le prophète était vaincu, mort.</p>

    <p>Méonie ne savait plus quoi faire, elle savait que le combat était perdu désormais. Lasseni va l'attaquer et elle ne pourra rien faire.</p>

    <p>
      - Je me rends ! fait la prophète en levant les bras en l'air. Lasseni, je vais te rendre Fandrean, je sais où il se trouve.<br />
      - Ne l'écoutez pas ! s'insurge Allister. Il faut les tuer !<br />
      - Calmez-vous jeune homme, lui dit Ymir. Tout est terminé.<br />
      - Non ! Ils doivent mourir ! Ils sont trop puissants ! s'énerve Allister.
    </p>

    <p>Le général incante alors un sort en direction de Lasseni. Nul doute qu'il s'agit du sort de "Masse noire". Mais du sang sort de sa bouche. Un pieu de glace vient de lui transpercer le cœur. Lasseni vient de lui porter un coup mortel.</p>

    <p>
      - Toi ! Tu es essayé de m'assassiner et si elle meurt, je ne reverrai jamais mon frère.
    </p>

    <p>Tu essaies de calmer Lasseni en lui disant que cette fois, tout était fini. Le général Allister prend alors l'apparence d'un gigantesque lapin. Comme tu l'avais deviné il s'agissait d'Usaki.</p>

    <p class="middle">*</p>

    <p>Ymir et Zaïra - qui avait facilement pu s'en sortir - expliquèrent à Méonie comment rendre leurs pouvoirs. Car ce fut la condition donnée par la résistance pour leur libération. Méonie rendit ses pouvoirs tout de suite et partit en exil seule dans les terres barbares. Tu te demandes si une jeune fille comme elle et sans ses pouvoirs pourra survivre longtemps là-bas.</p>

    <p>Méonie laissa couler une larme avant de partir. Elle aimait <span class="naorem"></span> et sa mort l'a choqué. Elle n'était pas si méchante que ça, alors chaque jour qui passe tu espères qu'elle s'en sortira.</p>

    <p>Mais comme promis, ils donnèrent l'indication de la prison de Fandrean à Lasseni, qui put délivrer son frère en un instant. Aussitôt que ce dernier fut libéré, elle rendit, elle aussi, ses pouvoirs. Et attendant le choix d'un nouveau conseil de magie c'est Fandrean qui pris le pouvoir.</p>

  <div class="choix">
    <div class="ch" data-go="456">Epilogue</div>
  </div>

</div>
