<div class="num num-1-3-459 retour-448">

  <div class="text chapter3">

    <h1>- 459 -</h1>

    <p>
      Vous passez par l'escalier de services et vous voyez une dizaines de serviteurs descendre en courant, l'air paniqué. Tu arrêtes l'un d'entre eux avant qu'il ne s'enfuit.
    </p>

    <p>
      - Que se passe-t-il ?<br />
      - Les prophètes ! Ils sont au quatrième étage et ils tuent tous ceux qui passent à leur portée. Même nous les serviteurs.
    </p>

    <p>Tu le laisses partir puis vous avancez un peu plus lentement pour rester sur vos gardes.</p>

    <p>Tu passes en première et alonge ton cou pour voir ce qu'il se passe au quatrième étage. C'était autrefois l'étage réfectoire des mages les plus puissants, désormais les murs des pièces sont détruits, les meubles sont en miettes et plus personnes sont mourantes au sol. Des mages comme des serviteurs. Vers l'escalier principal, Ymir et Zaïra se tiennent debout avec des artefacts à leur mains. Méonie et <span class="naorem"></span> sont de l'autre côté. Ils ont l'air de se parler pour le moment.</p>

    <p>
      - On doit les aider ! fait Mac Lumy. T'as vu les dégâts qu'ils ont causé ? Avec nos sorts on peut les battre.
    </p>

    <p>Tu donnes un gifle au mage.</p>

    <p>
      - Notre mission c'est Lasseni ! Les mages légendaires ont combattu Soufflardent à deux. Ils devraient pouvoir se débrouiller. Espéride est morte pour nous protéger de ces monstres et je refuse que tu meurs aussi en faisant l'idiot.<br />
      - …Désolé. fait Mac Lumy en se tenant la joue.<br />
      - Heu… désolé<span class="sf">e</span> aussi pour la baffe, fais-tu en remarquant que tu y était allé<span class="sf">e</span> un peu fort.
    </p>

    <p>Vous attendez que le combat commence et vous vous faufilez vers l'étage supérieur.</p>


  <div class="choix">
    <div class="ch" data-go="452">Continuer</div>
  </div>

</div>
