<div class="num num-1-3-46">

  <div class="text chapter3">

    <h1>- 46 -</h1>

    <p>
      - Ouais, je te comprends, fait Arak. Moi aussi, si je tombe sur ce noctule je lui colle mon poing dans la ...<br />
      - Merci Arak pour ce moment poétique, intervient <span class="naorem"></span>. Ecoute <span class="tonnom"></span>, malheureusement Usaki utilise une magie étrange, qui n'est pas issue de Soufflardent. Je crois qu'il appelle ça la magie de la lune. Et il est impossible pour nous de repérer ce type de magie.<br />
      - Ouais, c'est un vrai mystère cette bestiole, reprend Arak. On est en train de former des mages pour qu'ils essaient de le retrouver mais pour le moment y a rien qu'on puisse faire.
    </p>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch fin1 fin1-1" data-go="76">Je connais la magie de la lune, je me charge de le trouver</div>
    <div class="ch" data-go="25">S'il n'y a pas de moyen de le localiser : va pour un monde de paix</div>
  </div>

</div>
