<div class="num num-1-3-460 retour-308">

  <div class="text chapter3">

    <h1>- 460 -</h1>

    <p>
      En continuant ton escalade tu arrives à remettre pied à terre au troisième étage en étirant un peu ton pied jusqu'à la rembarde de l'escalier.
    </p>

    <p>
      Des explosions se font maintenant entendre à l'étage supérieur. Il y a des combats en cours. Tu te précipites pour aider tes amis. Une dernière marche et te voilà au quatrième étage, anciennement c'était le réfectoire des mages puissants de l'Académie. Désormais tout est détruit, les murs de la salle tombent en miettes et plusieurs personnes sont inconscientes au sol. Des mages et des serviteurs.
    </p>

    <p>
      Espéride, Anselm et Haziko sont debout en train de se battre mais ils sont tombés sur les deux prophètes. Méonie et <span class="naorem"></<pan> se délecte d'une bataille a priori facile. Et au moment où tu allais les rejoindre une main te saisie par l'épaule.
    </p>

    <p>
      - Attends ! N'y vas pas sans cet objet.<br />
      - Ymir ! Zaïra ! fais-tu surpris<span class="sf">e</span>.
    </p>

    <p>Les deux mages légendaires sont venus à la rescousse. Ils posent dans tes mains un artefact. C'est le même que ceux qui retenaient Soufflardent endormi.</p>

    <p>
      - Si tu le colles sur un prophète : il s'endormira, t'explique Zaïra. Mais laisse-nous passer en premiers.
    </p>

    <p>Tu te rapproches de tes amis pendant que les mages légendaires se préparent. Espéride semble à bout de force. Anselm et Haziko ont été protégé par votre ancienne professeur.</p>

    <p>
      - Haziko, je vais avoir besoin de ton aide, je vais aider Ymir et Zaïra avec ça - tu montres l'artefact dans tes mains.<br />
      - Et moi je fais quoi ? demande Anselm.<br />
      - Il faut que tu guérisses Espéride pendant ce temps.<br />
      - Hé <span class="tonnom"></span> ! Je peux encore me battre, se défend la générale de la résistance.<br />
      - Vous ne tenez plus debout, fais-tu en la repoussant pour lui montrer dans quel état elle se trouve. Laissez-nous prendre le relai. Haziko on va faire une …
    </p>

  <div class="choix">
    <div class="ch" data-go="425">… Attaque combinée de face</div>
    <div class="ch" data-go="432">… Attaque combinée en ciseaux</div>
  </div>

</div>
