<div class="num num-1-3-461 retour-321">

  <div class="text chapter3">

    <h1>- 461 -</h1>

    <p>
      Vous pénétrez dans la tour, les serviteurs sont évacués de leurs chambres, les mages sont arrêtés. Les mages de la résistance semblent prendre l'ascendant sur l'Académie. Que font les prophètes ? Un individu est amené devant Usaki.
    </p>

    <p>
      - Général, nous avons arrêté le chef de la police magique ! Il s'appelle Esteban, fait un mage de la résistance.<br />
      - Je vous jure que je n'ai fait que suivre les ordres des prophètes, se défend le mage. Si je n'obéissait pas ils m'exécutaient et…
    </p>

    <p>Esteban s'arrête quand il te voit aux côtés d'Usaki.</p>

    <p>
      - Tu es un lâche messire Esteban, fait Usaki. Mais tu as de la chance j'aime les lâches, mettez-le dans une cellule et s'il essaie quoi que ce soit : tuez-le.<br />
      - Bien messire !<br />
      - Prophète <span class="tonnom"></span>, vous nous avez trahi ?
    </p>

    <p>Tu ne prends même pas le temps de répondre à cet homme. Il n'agissait que pour le compte de <span class="naorem"></span> les rares fois où tu avais eu l'occasion de lui parler tu avais eu envie de lui arracher la langue. Il parait que même Méonie le détestait. Mais il faisait tout le sale boulot alors il était utile aux prophètes.</p>

    <p>
      - Bien continuons ! lance Usaki à ses hommes.
    </p>

    <p>A chaque nouvel étage de la tour, Usaki demande à ce que tout le monde soit évacué et que les mages soient arrêtés. La tour tremble et les meubles tombent soudain. Une tempête vient d'éclater dehors. Il ne vous reste que cinq mages avec vous quand vous arrivez au quatrième étage où un terrible combat est en cours.</p>

    <p><span class="naorem"></span> est en transe au milieu de l'étage, mais le plus surprenant c'est que les étages supérieurs ont disparu. Envolés dans une tempête magique certainement créée par le prophète. La pluie vous fouette le visage et des éclairs viennent le frapper de temps en temps sans qu'il ne semble les sentir. Autour de lui, un vortex vert tourne, lui conférant une protection contre les sorts.</p>

    <p>Il n'y a que deux personnes encore debout pour l'affronter. Enfin debout est un peu exagéré. Ymir et Zaïra, les mages légendaires se tiennent comme ils le peuvent au sol avec un artefact dans leurs mains. La tempête est d'une puissance telle, que personne ne peut rester debout longtemps. Les mages avec vous n'ont pas résisté longtemps et ont terminé dans la tempête. Usaki n'arrive plus à garder sa forme humaine et redevient un noctule sous l'effet de la magie du prophète.</p>

    <p>
      Tu ne sens plus l'énergie de Méonie. Tu lances un sort de "vision de rêve" et ne voit que du noir : signe qu'elle est probablement morte. <span class="naorem"><span> doit être dans une fureur noire. Il était très attaché à la petite prophète.
    </p>

    <p>
      - Tu dois faire quelque chose ! te dit Usaki.
    </p>

  <div class="choix">
    <div class="ch" data-go="462">Tenter d'arrêter <span class="naorem"></span></div>
    <div class="ch" data-go="467">Lancer Usaki dans le vortex de <span class="naorem"></span></div>
  </div>

</div>
