<div class="num num-1-3-462 retour-461">

  <div class="text chapter3">

    <h1>- 462 -</h1>

    <p>
      Tu t'enveloppes d'abord d'une protection magique pour ne pas ressentir le vent. Et tu fais de même sur les mages légendaires pour les aider. Mais tu décides de laisser Usaki affronter la tempête. Puis tu te diriges vers <span class="naorem"></span>.
    </p>

    <p>Il ne répond ni à tes appels ni à tes demandes télépathiques. Le vortex trouble peut-être tes communications avec lui ? Le problème c'est que de l'autre côté de ce vortex, le prophète ne semble réagir à rien. Son énergie ne cesse de grandir et ses yeux sont devenus blancs.</p>

    <p>Alors que tu allais mettre les mains dans le vortex pour en forcer le passage tu remarques que l'énergie qui le compose est très étrange et que si tu le touches, tu pourrais bien le regretter, même en étant un prophète. Quelque chose dans ta tête te dit : n'y touches pas.</p>

    <p>
      - <span class="tonnom"></span>, te dit Ymir. Si tu arrives à nous ouvrir ce vortex on pourra endormir <span class="naorem"></span> avec ça !
    </p>

    <p>Le mage légendaire te montre un artefact, le même qui lui avait servi à endormir Soufflardent.</p>

    <p>
      - Ce vortex…, dis-tu. Je sens que ce n'est pas une bonne idée de le toucher.<br />
      - Tu as une autre solution ? te demande Zaïra.
    </p>

  <div class="choix">
    <div class="ch" data-go="463">Tenter d'ouvrir le vortex</div>
    <div class="ch" data-go="465">Faire un sort pour envoyer <span class="naorem"></span> sur la lune</div>
  </div>

</div>
