<div class="num num-1-3-464 retour-463">

  <div class="text chapter3">

    <h1>- 464 -</h1>

    <p>
      Zaïra te montre qu'il lui en reste bien un. En cas de besoin, elle pourrait t'endormir. Mais dans un éclair noir il disparait des mains de la mage.
    </p>

    <p>
      - Je préfère garder cela pour moi, fait Usaki en vous montrant l'artefact.<br />
      - Usaki ! Vous devez m'endormir ! Je vais bientôt...<br />
      - Tu es mon ennemi<span class="sf">e</span>, fait le noctule. Si tu veux qu'on t'endorme, alors je ferai le contraire.<br />
      - Abruti ! On va … tous … mourir ! lui cries-tu.
    </p>

    <p>"CRAC"</p>

    <p>Tu n'arrives plus rien à contrôler. De l'énergie sort de ta bouche et tu commences à léviter légèrement. Tu ne peux plus du tout contrôler ton corps et un vortex apparait autour de toi à ton tour. La tour, déjà endommagée, commence à se briser de partout sous les coups d'une sorte de gigantesque tremblement de terre.</p>

    <p>Tous les étages restants de la tour s'effondre pendant que tu restes en lévitation. Les mages légendaires et Usaki font de même. Tu arrives à entendre leur conversation mais tu ne peux plus agir.</p>

    <p>
      - Usaki ! Donne-nous cet artefact !<br />
      - Jamais ! Je vais plutôt l<span class="sf">a</span><span class="sg">e</span> tuer avec mon sort.
    </p>

    <p>L'énergie fait de plus en plus craquer ton corps alors qu'Usaki commence à se battre avec les mages légendaires. Tu ne vois désormais plus rien, une lumière aveuglante semble en permanence devant tes yeux ; c'est l'énergie qui commence à s'échapper par tes yeux.</p>

    <p>"CRAC"</p>

  <div class="choix">
    <div class="ch" data-go="376">Epilogue</div>
  </div>

</div>
