<div class="num num-1-3-465 retour-463">

  <div class="text chapter3">

    <h1>- 465 -</h1>

    <p>
      Tu ne veux pas toucher le vortex alors tu proposes de projeter <span class="naorem"></span> le plus loin possible. D'un rayon rouge tu le fais se transporter jusqu'à la lune en un instant. La tempête s'arrête et le vortex disparait.
    </p>

    <p>
      - Qu'est-ce que tu as FAIT !!!! s'écrie Usaki. Pourquoi tu l'as envoyé là haut ?<br />
      - Je suis ton ennemi<span class="sf">e</span> ! fais-tu en lui lançant un regard de victoire.
    </p>

    <p>Usaki sent la défaite mais il sort quand même un artefact de sa fourrure et le déclenche. Immédiatement un rayon l'envoie à son tour sur la lune, fendant la nuit.</p>

    <p>
      - Il pourrait nous le renvoyer ici ? demande Zaïra.
    </p>

    <p>Mais avant que tu aies eu le temps de répondre la nuit se teinte de vert. Une formidable explosion semble venir tout droit de la lune. L'énergie emmagasiné par <span class="naorem"></span> a débordé, provoquant l'explosion du prophète.</p>

    <p>Une fumée verte recouvre la lune, et quand elle disparait c'est avec horreur que vous vous apercevez qu'un cratère immense a dévisagé la lune. Des centaines de rochers lunaires commencent alors à se diriger sur la terre à vive allure. Se transformant en énormes boules de feu en arrivant dans l'atmosphère.</p>

    <p>
      - Oh ? t'étonnes-tu. Je n'avais pas songé à ça.<br />
      - Comment ? réagis Ymir. Tu ne peux pas arrêter ces boules de feu ?
    </p>

  <div class="choix">
    <div class="ch" data-go="466">Essayer de protéger la terre</div>
  </div>

</div>
