<div class="num num-1-3-466 retour-465">

  <div class="text chapter3">

    <h1>- 466 -</h1>

    <p>
      Tu envoies des dizaines d'éclairs de grande puissance pour exploser les boules de feu. Mais cela ne suffit pas. A chaque fois, cela réduit leur taille mais en créer beaucoup plus. Mieux vaut des milliers de petites boules de feu, qu'une gigantesque, te dis-tu.
    </p>

    <p>
      Mais leur nombre semble infini. Tu n'arrives pas à tout arrêter. Ton énergie semble même à sa limite. Tu ne pensais pas que l'énergie de Soufflardent en avait une.
    </p>

    <p>Et l'apocalypse arriva. Les boules de feu s'écrasèrent sur la terre. D'abord au loin, puis plus proche, et enfin une arriva pile sur le lac Déluine. Elle n'était pas si grosse mais provoqua d'abord un gigantesque tremblement de terre. Faisant chuter la tour et qui détruisit toute la ville. Toi et les deux mages légendaires, restèrent en lévitation au dessus de tout cela.</p>

    <p>Quelques dragons-fées et leurs cavaliers étaient également hors de danger. Mais pour tous les autres c'était déjà terrible.</p>

    <p>Puis le lac se souleva provoquant un raz-de-marée qui balaya tout sur son passage. L'île de l'Académie fut complètement balayé par la force de la vague. Aucun village autour du lac ne survécut.</p>

    <p>Ce fut la fin du monde.</p>

    <p>Alors tu décidas de faire la seule chose que tu pouvais faire : réparer ce monde. Si tes pouvoirs l'avait détruit, tes pouvoirs pouvaient le reconstruire. Mais pour cela tu vas devoir concentrer tes pouvoirs le plus possible.</p>

  <div class="choix">
    <div class="ch" data-go="258">Epilogue</div>
  </div>

</div>
