<div class="num num-1-3-468 retour-467">

  <div class="text chapter3">

    <h1>- 468 -</h1>

    <p>
      Tu poses tes mains sur le vortex et avec ton énergie tu crées une ouverture en plein milieu. Cela commence déjà à te brûler un peu les doigts mais cela semble supportable.
    </p>

    <p>
      - Allez-y ! Je ne sais pas combien de temps je vais pouvoir tenir, fais-tu peu confiant<span class="sf">e</span>.
    </p>

    <p>Les deux mages légendaires passent dans l'ouverture, que tu refermes juste derrière eux. Finalement tout s'est très bien passé, te dis-tu.</p>

    <p>"CRAC"</p>

    <p>Quelque chose vient de se craqueler dans ta tête. Tu t'aperçois d'un coup, que tes doigts commence à s'ouvrir légèrement. Une belle énergie verte commence à s'échapper de toi. Pendant que tu sens une puissance grandir au plus profond de toi. Quelque chose s'est brisé en toi quand tu as touché le vortex. Tu as l'impression que l'énergie de Soufflardent est en train d'essayer de sortir de toi et d'exploser à la face du monde.</p>

    <p>Et puis tu comprends qu'il a dû arriver la même chose à <span class="naorem"></span>. Mince, dans quelques temps tu vas être toi aussi dans cette situation ?</p>

    <p>Le vortex, soudain, s'efface comme une bougie qu'on éteint, la tempête s'arrête. Le prophète est endormi, un artefact collé sur son dos.</p>

    <p>Un autre craquement, puis un autre. Tu n'arrives presque plus à bouger. Tu poses un genoux à terre.</p>

    <p>
      - Ymir ! Zaïra ! Je vais avoir besoin de votre aide !<br />
      - Que se passe-t-il ? font les deux mages légendaires.<br />
      - Je...ne sais pas ! Mais il vous reste un artefact ?
    </p>

  <div class="choix">
    <div class="ch" data-go="469">Epilogue</div>
  </div>

</div>
