<div class="num num-1-3-469 retour-468">

  <div class="text chapter3">

    <h1>- FIN 27 -</h1>

    <p>
      Zaïra te montre qu'il lui en reste bien un. En cas de besoin, elle pourrait t'endormir. Tu lui fais signe qu'il le faut, que tu ne vas pas arriver à contrer le pouvoir qui te ronge.
    </p>

    <p>
      Elle applique alors délicatement l'artefact contre ton dos et tu t'endors paisiblement.
    </p>

    <p class="middle">*</p>

    <p>
      Tu te réveilles un jour, dans une pièce magnifique. Tu te croirais au milieu d'un magnifique temple, tout en pierre. Une vieille femme est devant toi. Accompagnée d'un vieil homme. Tous deux semblent être de puissants mages. En regardant à tes pieds, une grande rune autour de toi a été gravée. Tu ne sais absolument pas à quoi elle correspond. La vieille femme a, dans le creux de ses mains, l'artefact que Zaïra avait posé sur toi.
    </p>

    <p>
      - Vous m'avez enlevé l'artefact, et... je n'ai pas l'impression que mon pouvoir va exploser.<br />
      - Oui <span class="tonnom"></span>, nous avons réussi à renvoyer tes pouvoirs dans la terre, fait la vieille femme.<br />
      -Ouah ! Merci beaucoup ! fais-tu.<br />
      - Oh, on a mis du temps, fait le vieil homme.<br />
      - Du temps ? fais-tu. Combien de temps ?<br />
      - Environ 60 ans ! fait la vielle femme.
    </p>

    <p>Tu as beau regarder ta peau, tu n'as pas l'impression d'avoir vieilli.</p>

    <p>
      - La magie de Soufflardent a préservé ta jeunesse <span class="tonnom"></span>, t'explique le vieil homme.<br />
      - On… se connait ? commences-tu à t'inquiéter.<br />
      - Nous sommes tous les deux membres du conseil de magie de l'Académie, fait le vieil homme. Je suis <span class="mac-vivant">Mac Lumy</span><span class="mac-mort">Anselm</span>, et voici ma femme.<br />
      - Je suis ravie de pouvoir te revoir <span class="tonnom"></span>, c'est moi <span class="lasseni-vivante">Lasseni</span><span class="lasseni-morte">Haziko</span>.
    </p>

    <p>Et les deux mages t'expliquent qu'ils ont fait des recherches toutes leur vie pour comprendre comment enlever les pouvoirs d'un prophète. Tu les remercies pour le temps qu'ils ont consacré pour toi, et tu es bien triste d'apprendre qu'ils sont presque les deux derniers survivants de l'époque.</p>

    <p>Les noctules sont désormais alliés avec les humains et ils viennent régulièrement de la lune pour faire du commerce.<</p>

    <p>Tu as l'impression d'avoir raté quelque chose, que plus rien n'a de sens. Tout est si loin de ce que tu connaissais. Il y a désormais une nouvelle énergie qui existe : l'électricité. Et même les sans-magies peuvent l'utiliser.</p>

    <p>Après avoir essayé de rester dans cette nouvelle Académie, tu décidas de partir, d'aller dans les terres barbares. Un endroit qui avait peut-être moins changé. En tout cas tu l'espères car tu ne te sens plus à ta place dans ce monde changé.</p>

    <p>Plus jamais, l<span class="sf">a</span><span class="sg">e</span> mage connu<span class="sf">e</span> sous le nom de <span class="tonnom"></span> ne revint à l'Académie. Qu'a-t-<span class="sf">elle</span><span class="sg">il</span> trouvé dans les terres barbares ? C'est une autre histoire.</p>


</div>
