<div class="num num-1-3-47">

  <div class="text chapter3">

    <h1>- 47 -</h1>

    <p>Tu retournes le plus vite possible jusqu'à la porte de la tour où tout le monde était parti. Ne voyant plus Fandrean et Lasseni tu intercepte un élève qui passait par là :</p>

    <p>
      - Fandrean, ...pffu..., il est ... pfuu... déjà parti ? fais-tu en train de récupérer ton souffle.<br />
      - Heu... je crois qu'ils sont partis à la salle du conseil. Tout en haut de la tour, mais je ne suis pas sûr, je n'ai jamais eu le droit de monter au delà du premier étage.
    </p>

    <p>Aussitôt la réponse entendue, tu grimpes les escaliers quatre à quatre. Quelqu'un t'interromps au deuxième étage en se plaçant devant toi :</p>

    <p>
      - L'accès aux étages supérieurs est interdite aux élèves... commence-t-il.<br />
      - JE SUIS AVEC FANDREAN !! lui cries-tu en glissant entre lui et le mur.
    </p>

    <p>Enfin le septième étage ! Devant la porte de la salle du conseil ouverte, les mages qui accompagnaient Fandrean sont tous par terre en train de dormir visiblement. Des dizaines de corps sont étendus.</p>

    <p>Tout à coup tu te retrouvas seul<span class="sf">e</span> dans le noir. Aspiré<span class="sf">e</span> vers le bas comme si tu tombais du haut de la tour. Mais cette sensation s'arrêta soudainement. Sous tes pieds, tu as l'impression que des dalles de marbres sont là mais tu ne vois rien d'autre que ton propre corps.</p>

    <p>Des bruits de pas firent disparaitre le silence, puis la prophétesse Méonie sortit des ténèbres.</p>

    <div class="fin fin-1">
      <p>- Tu fais partit de ceux qui ont tué maître Soufflardent. Je n'en tire aucun plaisir mais je dois t'éliminer, fit-elle comme si elle te disait bonjour.</p>
    </div>
    <div class="fin fin-2">
      <p>- Tu fais partit de ceux qui ont tué maître Soufflardent. Je n'en tire aucun plaisir mais je dois t'éliminer, fit-elle comme si elle te disait bonjour.</p>
    </div>
    <div class="fin fin-3">
      <p>- Tu es venu<span class="sf">e</span> nous mettre des bâtons dans les roues ? demande-t-elle. Je ne le te conseille pas. Mais à nous quatre nous pourrions reforger le monde comme l'aurait voulu maître Soufflardent. Comme tu le vois, nous ne voulons pas détruire l'Académie. Nous allons juste reprendre le contrôle sur ce continent.</p>
    </div>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="fin fin-1">
      <div class="ch fin1 fin1-1" data-go="17">Tenter de sortir de ces ténèbres avec un sort de la lune</div>
      <div class="ch" data-go="16">Attaquer la prophètesse Méonie avec ta magie</div>
      <div class="ch" data-go="15">Tenter de t'enfuir même si tu ne vois pas où tu vas</div>
    </div>
    <div class="fin fin-2">
      <div class="ch fin1 fin1-1" data-go="17">Tenter de sortir de ces ténèbres avec un sort de la lune</div>
      <div class="ch" data-go="16">Attaquer la prophètesse Méonie avec ta magie</div>
      <div class="ch" data-go="15">Tenter de t'enfuir même si tu ne vois pas où tu vas</div>
    </div>
    <div class="fin fin-3">
      <div class="ch fin1 fin1-1" data-go="17">Tenter de sortir de ces ténèbres avec un sort de la lune</div>
      <div class="ch" data-go="18">Attaquer la prophètesse Méonie avec ta magie</div>
      <div class="ch" data-go="19">Accepter l'alliance qu'elle te propose</div>
    </div>
  </div>

</div>
