<div class="num num-1-3-470 retour-318">

  <div class="text chapter3">

    <h1>- 470 -</h1>

    <p>
      - Désolé<span class="sf">e</span>, dis-tu à Méonie. Je dois aider mes amis.
    </p>

    <p>Tu envoies alors une décharge dans la direction de la prophète qui, de surprise, l'encaisse de plein fouet. Elle tombe à terre pendant que <span class="naorem"></span> essaie de faire face sur tous les fronts. </p>

    <p>Finalement, il réussit à défendre suffisamment bien, le temps que Méonie se relève.</p>

    <p>C'est à ce moment là qu'Ymir et Zaïra surgirent à leur tour au quatrième étage, encore de nouveaux alliés. Ils tiennent à la main un artefact étrange. L'atmosphère se calme légèrement. Le prophète les dévisage comme s'il ruminait quelque chose depuis des jours.</p>

    <p>
      - Ymir, Zaïra ! leur crie <span class="naorem"></span>. Vous avez endormi Soufflardent pendant des dizaines d'années ! Pourquoi ? Je veux savoir.<br />
      - Soufflardent détruisais les hommes, personne ne pouvait venir dans les monts noirs sans subir sa fureur, explique alors Zaïra.<br />
      - Mensonge ! Soufflardent a toujours aidé les hommes, il leur a donné la magie, s'énerve <span class="naorem"></span>.<br />
      - Tu es biaisé, lui réplique Ymir, tu n'as toujours entendu que la voix de ton maître. Tu n'étais pas là quand il commettait ses atrocités.
    </p>

    <p>Tu ne sais pas ce qu'il se passe mais tout à coup une masse noire sortit du sol et vint gober Méonie par en dessous, la faisant disparaitre définitivement, en laissant un trou, allant au troisième étage. Un lapin de trois mètres de haut en sortit : Usaki.</p>

    <p>
      - Hum… cela nous fait donc : un prophète de moins, s'amuse-t-il.
    </p>

    <p><span class="naorem"></span> ne comprit d'abord pas ce qu'il s'est passé, puis dans un cri de rage lança une onde qui fit trembler toute la tour. Les étages supérieurs s'envolèrent dans une tempête qu'il venait de créer. L'équipe d'Espéride fut aspirée au grand complet dans la tempête. Usaki put se retenir avec ses pattes griffues. Les deux mages légendaires furent également assez prompt à se tenir au sol.</p>

    <p>Quant à toi, cette petite bourrasque te fit que peu d'effet. Un vortex vert commença alors à se former autour de <span class="naorem"></span> qui semblait soudain complètement en transe. Usaki s'approche alors de toi, comme il peut malgré le vent et la pluie.</p>

    <p>
      - Tu dois faire quelque chose ! te dit Usaki.
    </p>

  <div class="choix">
    <div class="ch" data-go="462">Tenter d'arrêter <span class="naorem"></span></div>
    <div class="ch" data-go="467">Lancer Usaki dans le vortex de <span class="naorem"></span></div>
  </div>

</div>
