<div class="num num-1-3-471 retour-318">

  <div class="text chapter3">

    <h1>- 471 -</h1>

    <p>
      - Désolé<span class="sf">e</span>, dis-tu à Espéride. Je dois aider Méonie et <span class="naorem"></span>.
    </p>

    <p>Tu envoies alors une décharge dans la direction d'Espéride. Mais une forme venue de l'étage d'en dessous dévie ton attaque. Ymir vient d'arriver, un artefact à la main. A côté de l'escalier, Zaïra est également présente en train de te viser avec un sort.</p>

    <p>
      D'un mouvement de bras le sort est annulé, mais la mage légendaire tente alors de projeter son bras en le faisant s'allonger de 10 mètres. Elle essaie de te toucher avec son artefact. Mais elle rebondit contre une barrière magique. Méonie vient de te sauver la vie. Cet artefact semble être efficace contre les prophètes.
    </p>

    <p>Tu ne sais pas ce qu'il se passe mais tout à coup une masse noire sortit du sol et vint gober Méonie par en dessous, la faisant disparaitre définitivement, en laissant un trou, allant au troisième étage. Un lapin de trois mètres de haut en sortit : Usaki.</p>

    <p>
      - Hum… cela nous fait donc : un prophète de moins, s'amuse-t-il.
    </p>

    <p><span class="naorem"></span> ne comprit d'abord pas ce qu'il s'est passé, puis dans un cri de rage lança une onde qui fit trembler toute la tour. Les étages supérieurs s'envolèrent dans une tempête qu'il venait de créer. L'équipe d'Espéride fut aspirée au grand complet dans la tempête. Usaki put se retenir avec ses pattes griffues. Les deux mages légendaires furent également assez prompt à se tenir au sol.</p>

    <p>Quant à toi, cette petite bourrasque te fit que peu d'effet. Un vortex vert commença alors à se former autour de <span class="naorem"></span> qui semblait soudain complètement en transe. Usaki s'approche alors de toi, comme il peut malgré le vent et la pluie.</p>

    <p>
      - Tu dois faire quelque chose ! te dit Usaki. Il va tout détruire !
    </p>

  <div class="choix">
    <div class="ch" data-go="462">Tenter d'arrêter <span class="naorem"></span></div>
    <div class="ch" data-go="467">Lancer Usaki dans le vortex de <span class="naorem"></span></div>
  </div>

</div>
