<div class="num num-1-3-472 retour-324">

  <div class="text chapter3">

    <h1>- 472 -</h1>

    <p>
      Des explosions survinrent également du haut de la tour de magie. Cela fit voler en éclat les étages cinq, six et sept. Quand tu arrivas sur le quatrième étage, qui formait désormais le haut de la tour, tu pus voir Ymir et Zaïra au sol, vaincus par <span class="naorem"></span><span class="méonie-vivante"> et Méonie</span>.
    </p>

    <p>La résistance fut définitivement vaincue ce soir là. Usaki, qui avait fomenté cette tentative de coup d'état pour que les noctules puissent envahir la terre plus facilement, fut accusé de haute trahison et de manipulation après sa mort.</p>

    <p>Cela permit aux prophètes de rallier beaucoup de monde de la résistance qui ne voulurent pas qu'on puisse les associer à ce monstre de noctule.</p>

    <p>L'armée noctule tenta d'envahir la terre quelques jours plus tard. Mais ils ne purent rien faire contre une humanité qui venait de se ranger comme un seul homme derrière les prophètes. Vous les massacrèrent en ne laissant que quelques uns retourner sur la lune.</p>

    <p>Depuis cette fameuse nuit, les prophètes gagnèrent en popularité et désormais, vous êtes soutenus un peu partout. Grâce à vos pouvoirs vous avez pu conquérir de nouvelles patries dans les terres barbares. Vous avez pu apporter plus de modernité, plus de soins, plus de richesse sur l'Académie.</p>

    <p>Mais il y avait visiblement un prix à payer pour un tel pouvoir. <span class="naorem"></span> fut le premier a mourir. Son corps ne réussit à contenir les pouvoirs de Soufflardent que jusqu'à ses 27 ans. Méonie qui l'avait épousé le suivit quelques années plus tard. Tu fus <span class="sf">la dernière</span><span class="sg">le dernier</span> à survivre. Peut-être car tu n'utilisas pas autant tes pouvoirs.</p>

    <p>Mais tu te décidas à passer les rênes du pouvoir à d'autres personnes. Tu passas les dernières années de ta vie à consigner dans des livres tout ce dont ta mémoire pouvait se souvenir. Et tu t'attelas à le faire apprendre dans toutes les écoles de l'Académie. Tu ne voulais surtout pas, qu'un individu ou qui que ce soit, se décide à déformer l'histoire comme avait pu le faire Soyos, Pasha, Mullihane et Andaelor en leur temps.</p>

    <p>Même s'il se passa des horreurs dans cette guerre, tu écrivis exactement ce qui s'y passa. Ton devoir était de faire passer ce message pour que les erreurs du passé ne se répètent pas.</p>

    <p>Et quand tu t'endormis enfin cette nuit là… tu ne te réveillas plus.</p>

  <div class="choix">
    <div class="ch" data-go="376">Epilogue</div>
  </div>

</div>
