<div class="num num-1-3-473 retour-328">

  <div class="text chapter3">

    <h1>- 473 -</h1>

    <p>
      Peu importe ce qu'il t'arrive si ça peut sauver ton ami et en même temps se débarrasser d'un prophète. <span class="naorem"></span> lance un sort que tu sens mortel mais tu te mets sur la trajectoire pour ne pas que Panacle soit touché.
    </p>

    <p>Puis c'est le trou noir.</p>

    <p>...</p>
    <p>...</p>
    <p>...</p>

    <p>Tu reprends tes esprits avec la tête qui tourne, tu ne sais pas trop ce qu'il vient de se passer mais tes amis sont encore là. Méonie a disparu, elle a dû se faire avoir par Panacle et <span class="naorem"></span> est au milieu d'un vortex qui l'entoure.</p>

    <p>Tu ne le remarques que maintenant mais les étages supérieurs ne sont plus là. Quelqu'un les a fait s'envolé dans une tempête magique qui vous entoure. La pluie fouette ton visage. Tu te relèves difficilement avec un bruit dans les oreilles qui t'empêche de bien entendre.</p>

    <p>Tu t'approches d'Haziko en titubant :</p>

    <p>
      - Qu'est-ce qu'il s'est passé ? demandes-tu encore dans le pâté.<br />
      - Q... <span class="tonnom"></span> ! Tu es vivant<span class="sf">e</span>, la mage semble ne pas y croire.<br />
      - Oui … mais j'entends pas très bien, j'ai un bourdonnement dans les oreilles, lui réponds-tu.
    </p>

    <p>La mage saute dans tes bras, en pleurant. Elle croyait sans doute que le prophète t'avait tué. Kannan et Panacle sont effarés de te voir également, et surtout de te voir debout.</p>

    <p>Suite à ton action, vous avez pu effectivement vous débarrasser de Méonie mais <span class="naorem"></span> est devenu enragé et a détruit le haut de la tour. La tempête est également de son fait.</p>

    <p>
      - Il faut lui envoyer le sort, fais-tu.<br />
      - Impossible, répond Kannan. Son vortex le protège de tous nos sorts, même ceux de la magie de la lune.
    </p>

    <p>Tu avances en zigzagant jusqu'au vortex pour aller voir cela. Kannan te rattrape.</p>

    <p>
      - Hé ! T'es sûr<span class="sf">e</span> que ça va ? te fait elle. Si tu touches ce vortex : tu es fini<span class="sf">e</span>. C'est de l'énergie magique pure.<br />
      - Je… dois y aller Kannan, lui réponds-tu. On m'a ramené pour vous aider, et je vous aide.<br />
      - Qu'est-ce que tu racontes ? fait la mage.<br />
      - Mon cœur ne bat plus ! Il me reste pas beaucoup de temps, je vais vous ouvrir ce vortex.
    </p>

  <div class="choix">
    <div class="ch" data-go="474">Ouvrir le vortex</div>
  </div>

</div>
