<div class="num num-1-3-474 retour-473">

  <div class="text chapter3">

    <h1>- 474 -</h1>

    <p>
      Depuis que tu t'es réveillé<span clas="sf">e</span>, tu es obligé<span clas="sf">e</span> de faire circuler ton sang dans ton corps avec ta magie. Dès que tu seras fatigué<span clas="sf">e</span> ce sera la fin. Tu ne sais même pas comment tu tiens sur tes jambes mais tu continues à approcher du vortex.
    </p>

    <p>
      - Mais qu'est-ce qu'<span clas="sf">elle</span><span clas="sg">il</span> fait ? se demande Anselm.<br />
      - <span clas="sf">Elle</span><span clas="sg">Il</span> va nous ouvrir le vortex, fait Kannan. <br />
      - Mais c'est du suicide, s'écrie Panacle.<br />
      - … je vais croire en <span clas="sf">elle</span><span clas="sg">il</span> continue Kannan qui vient te rejoindre.
    </p>

    <p>Le vortex est maintenant juste devant toi. C'est vrai qu'il semble incroyablement dangereux. Des éclairs verts viennent de temps en temps frapper <span class="naorem"></span> à l'intérieur du vortex et te font sursauter. Le prophète semble en transe et ne remarque rien de ce qu'il se passe autour de lui. Mais la tempête est de plus en plus forte et tu sens que bientôt toute la tour de magie sera emportée.</p>

    <p>Tu poses tes mains dans le vortex pour essayais de plier un peu l'énergie et d'ouvrir un passage. Aussitôt tes mains se couvrent de cloques et la douleur te met les larmes aux yeux. </p>

    <p>
      - Si tu n'y arrives pas, enlèves tes mains tout de suite, te supplie Kannan.
    </p>

    <p>Mais tu ne vas pas dire ton dernier mot tout de suite. Une énergie apaisante provenant du plancher vient t'aider. Elle s'ajoute à la tienne et diminue la douleur. Petit-à-petit tu arrives à la transférer dans tes mains. La quantité d'énergie déborde en toi désormais, tu en as plus que tu n'en as jamais eu. Et avec un dernier effort tu ouvres le vortex en deux avec tes mains.</p>

    <p>
      - C'est fait ! Vas-y ! dis-tu à Kannan.<br />
      - Mais <span class="tonnom"></span> ! Ta peau ! remarque Kannan.
    </p>

    <p>Effectivement, ta peau est devenue verdâtre, tes veines ressortent sur ton corps, gonflées de magie, comme si elles allaient exploser.</p>

    <p>
      - Je ne vais pas tenir longtemps, fais-tu en commençant à saigner du nez.
    </p>

    <p>Ton amie se précipite dans l'ouverture et tu relâches ton effort aussitôt. Tu es emportée par la tempête immédiatement. Les éclairs tonnent autour de toi pour te donner un dernier requiem. Et puis tout se calme, la tempête se calme et tu vois la lune qui t'accompagne dans ton dernier voyage.</p>

  <div class="choix">
    <div class="ch" data-go="376">Epilogue</div>
  </div>

</div>
