<div class="num num-1-3-475 retour-328">

  <div class="text chapter3">

    <h1>- 475 -</h1>

    <p>
      Tu te reconcentres pour pouvoir lancer le sort de 'masse noire' sur Méonie. Panacle disparait sous tes yeux, liquéfié, il s'effondre sur lui même, ressemblant désormais à une simple flaque d'eau.
    </p>

    <p>Mais tu continues ton effort et incante ton sort sur Méonie qui réouvre les yeux.</p>

    <p>"POUF"</p>

    <p>Méonie n'a pas le temps de faire quoi que ce soit. Elle disparait dans le blob. <span class="naorem"></span> t'envoie un coup avec son bras qu'il a transformé en tronc d'arbre. Tu roules lourdement sur le côté, tu as certainement beaucoup de côtes cassées.</p>

    <p>
      - Panacle ! s'écrie Haziko.
    </p>
    <p>
      - Méonie ! s'écrie <span class="naorem"></span>.
    </p>

    <p>Tout le monde est touchée par l'action qui vient de se produire. Kannan essaie alors d'en profiter pour s'approcher du prophète et lui lancer le sort pour s'en débarrasser. Mais ce de dernier hurle de colère et lance une onde qui s'en va détruire les étages supérieurs de la tour.</p>

    <p>Un vortex vient se créer autour de lui et tout le monde est soufflé au loin. Vous devez vous accrochez fortement au sol pour ne pas vous faire aspirer dans la tempête. Kannan, plus proche de l'onde, a failli s'envoler mais est rattrapé d'extrême justesse par Anselm.</p>

  <div class="choix">
    <div class="ch" data-go="476">Continuer</div>
  </div>

</div>
