<div class="num num-1-3-476 retour-475">

  <div class="text chapter3">

    <h1>- 476 -</h1>

    <p>
      Il te faut absolument faire quelque chose, tu sens que <span class="naorem"></span> est complètement possédé par le pouvoir de Soufflardent. Il est dans une sorte de transe au milieu du vortex. Il n'a pas supporté la mort de Méonie et a craqué. Anselm tente de lui lancer son sort de "masse noire" mais en percutant le vortex ce dernier se dissipe.
    </p>

    <p>C'est de l'énergie magique pure, toucher ce truc équivaut à encaisser les plus gros sorts du prophète en une seule fois. Et cela lui procure une protection contre la magie gigantesque.</p>

    <p>
      - Qu'est-ce qu'on peut faire ? te demandes-tu en te tenant les côtes.<br />
      - Je vais t'ouvrir un passage, fait Lasseni en t'aidant à te relever.<br />
      - Lasseni ! t'exclames-tu.
    </p>

    <p>Ton amie vient d'arriver au quatrième étage. Avec elle, vous pourriez vous en sortir.</p>

    <p>Tu fais signe à Kannan de vous laisser faire. Et tu t'approches aussi vite que possible du vortex avec Lasseni.</p>

    <p>
      - Ne touchez pas à ça ! fait la voix d'Usaki qui vient lui aussi d'arriver. Ce truc pourrait détruire la planète ! Vous ne devait pas y toucher.
    </p>

    <p>Tu fais confiance à Lasseni et beaucoup moins à Usaki. Si elle te dit qu'elle peut le faire, c'est qu'elle le fera.</p>

    <p>
      - Les amis, crie Lasseni. Si vous pouviez empêcher ce noctule de nous embêter pendant qu'on détruit ce vortex, ça nous aiderait bien.<br />
      - Bien compris, répond Kannan.
    </p>

    <p>Et Lasseni te fait un petit signe de la tête pour te dire qu'elle va y aller. Elle plonge ses mains dans le vortex.</p>

  <div class="choix">
    <div class="ch" data-go="477">Continuer</div>
  </div>

</div>
