<div class="num num-1-3-477 retour-476">

  <div class="text chapter3">

    <h1>- 477 -</h1>

    <p>
      Lasseni semble souffrir en passant les mains dans le vortex mais elle tient bon. Sa peau se change, elle devient bleue pâle et sa peau commence à se craqueler dans tous les sens. C'est comme si quelque chose en elle essayait de sortir.
    </p>

    <p>Mais tout à coup, elle écarte les mains et ouvre un passage dans le vortex.</p>

    <p>
      - Vas-y détruis-moi ce prophète, fait Lasseni.<br />
      - Lasseni ! Tu es sûre que ça va ? lui demandes-tu.<br />
      - Tout va bien ! Mais dépêches toi que j'aille aider nos amis. Le noctule a l'air puissant.
    </p>

    <p>C'est vrai il ne faudrait pas que les autres meurent pendant ce temps. Tu te faufiles dans le trou en faisant attention de ne pas toucher les bords. Lasseni refermes l'entrée dès que tu es passé<span class="sf">e</span>. <span class="naorem"></span> n'est plus qu'une coquille vide, sa puissance semble encore augmentée mais il ne voit même pas que tu es juste à côté de lui. Alors, à bout portant, tu lances ton sort de "masse noire".</p>

    <p class="middle">*</p>

    <p>Après le combat, la résistance pris le pouvoir. Les prophètes vaincus, la police magique d'Esteban rendit les armes. Usaki fut gelé par Lasseni en un rien de temps après t'avoir fait passé le vortex. Il fut mis dans une cellule magique, sous la tour.</p>

    <p>Les résistants se demandèrent longtemps où était passé leur général, il s'avéra qu'Allister était bien Usaki.</p>

    <p>C'est ce que vous confirma Leng Fao, une journaliste. Cette dernière était aussi une noctule, mais sur la lune elle s'opposait à Usaki. Quand les noctules apprirent qu'Usaki avait été capturé, les noctules se disputèrent pour savoir quoi faire et finalement c'est l'opposant antimilitariste Hong Tao qui a pris le commandement là-haut. Leng Fao, en tant que diplomate des nouveaux noctules était venue pour savoir si les humains accepteraient de partager un peu de magie avec eux.</p>

    <p>Lasseni était un peu triste. Non pas à cause de la nouvelle couleur de sa peau, qu'elle garda bleue. Mais parce que les prophètes avaient enfermés Fandrean dans une prison, dont elle ignorait la localisation. Elle jura qu'elle irait le chercher aussitôt que possible, même si elle devait y passer le restant de ses jours.</p>

    <p>Ymir et Zaïra arrivèrent peu après et lui expliquèrent comment rendre ses pouvoirs à la terre. C'est ce que fit la mage, elle qui n'avait jamais demandé à récupéré les pouvoirs de Soufflardent.</p>

    <p>En attendant qu'un nouveau conseil soit choisi, ce sont les mages légendaires qui furent désignés pour diriger l'Académie.</p>

  <div class="choix">
    <div class="ch" data-go="478">Epilogue</div>
  </div>

</div>
