<div class="num num-1-3-479 retour-330">

  <div class="text chapter3">

    <h1>- 479 -</h1>

    <p>
      Le temps semble passer au ralenti. Tu vois avec horreur qu'Haziko se jette en travers du chemin de <span class="naorem"></span>. Anselm et Panacle lance leur sort de "masse noire" sur Méonie qui disparait dans le blob. Mais Haziko est touchée par le prophète et va s'écrouler à terre avec un grand trou dans le ventre.
    </p>
    <p>
      - Haziko ! s'écrie Kannan.
    </p>
    <p>
      - Méonie ! s'écrie <span class="naorem"></span>.
    </p>

    <p>Tout le monde est touchée par l'action qui vient de se produire. Panacle essaie alors d'en profiter pour s'approcher du prophète et lui lancer le sort pour s'en débarrasser. Mais ce de dernier hurle de colère et lance une onde qui s'en va détruire les étages supérieurs de la tour.</p>

    <p>Un vortex vient se créer autour de lui et tout le monde est soufflé au loin. Vous devez vous accrochez fortement au sol pour ne pas vous faire aspirer dans la tempête. Panacle, plus proche de l'onde, a failli s'envoler mais est rattrapé d'extrême justesse par Anselm.</p>

  <div class="choix">
    <div class="ch" data-go="480">Continuer</div>
  </div>

</div>
