<div class="num num-1-3-48">

  <div class="text chapter3">

    <h1>- 48 -</h1>

    <p>
      - Ecoute moi <span class="tonnom"></span>, te dit Espéride, nous partons de l'Académie car elle est aux mains de créatures beaucoup trop puissantes pour nous. Mais une Résistance est en train se créer. Actuellement nous voguons vers le petit port d'Eaux-Claires. Quelqu'un est en train de rassembler du monde là-bas pour trouver un moyen de renverser les prophètes. Et je pense que nous allons les rejoindre.<br />
      - Vous serviez Soufflardent et maintenant vous voulez anéantir ceux qui ont récupéré son pouvoir ? C'est difficile à avaler je trouve.<br />
      - Libre à toi de ne pas me croire. Mais il faut que tu saches que les prophètes nous ont contacté quand ils sont arrivés à l'Académie. Nous les avons aidé mais dès qu'ils ont eu le pouvoir ils ont commencé à virer tous ceux qui ne leur étaient plus utiles. Tous ceux qui ne savaient pas faire de magie, des serviteurs et autres cuisiniers ont été renvoyé de l'école.<br />
      - … Pourquoi ? Vous n'étiez plus loyal envers eux ? demandes-tu.<br />
      - Loin de là, fait un des marins avec vous. Mais ils nous ont dit que nous avions la traitrise dans le sang et qu'on ne pouvait pas nous faire confiance.<br />
      - Ces prophètes sont vraiment très… bizarres.
    </p>

    <div class="fin fin-3">
      <p>Pourtant en tant qu'hériti<span class="sf">ère</span><span class="sg">er</span> du pouvoir de Soufflardent tu n'as pas ce genre de réflexion. Mais tu décides de ne pas révéler ta vraie nature à Espéride tout de suite. Elle et les marins ne semblent pas très enclins à faire confiance aux prophètes dorénavant.</p>
    </div>


    <p>- D'accord, je vous aiderai, réponds tu après quelques secondes de réflexion. Mais si je vois un geste louche de votre part je ne pourrai pas garantir que je ne vous trahirai pas.</p>

    <p>D'un signe de tête entendu Espéride te tends la main pour sceller cette alliance.</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="78">Débarquer au port d'Eaux-Claires</div>
    </div>

</div>
