<div class="num num-1-3-49">

  <div class="text chapter3">

    <h1>- 49 -</h1>

    <p>Vous sortez facilement des geôles. L'Académie a toujours fait plus confiance à la magie qu'aux gens, du coup il n'y a jamais de gardes même pour les sous-sols. A la place, plusieurs artefacts sont normalement mis pour empêcher quiconque de pénétrer par là ou d'en sortir. Mais il y a quelques personnes qui peuvent désactiver ces artefacts : les gardiens de la prison de l'Académie.</p>

    <p>Tu comprends comment on t'a libéré quand tu vois qui est le gardien actuel : Panacle, ton ancien copain de première année!</p>

    <p>
      - Panacle ? s'étonne Mac Lumy. Ha ha ha. Je ne savais pas que tu étais devenu un des gardiens.<br />
      - On fêtera nos retrouvailles plus tard, fait le mage. Un bateau nous attend pour partir de l'Académie au plus vite.<br />
      - Tu viens aussi avec nous ? demandes-tu.<br />
      - Oui, acquiesce Panacle. Maintenant que j'ai ouvert les geôles ce serait trop dangereux de rester ici.
    </p>

    <p>Vous parcourez quelques passages souterrains inconnus, guidés par Panacle. Très vite vous débouchez sur un petit ponton où un bateau se prépare à larguer les amarres. Anselm, Haziko et Kannan sont en train de vous y attendre.</p>

    <p>Tu n'as même pas le temps de te demander comment <span class="partiavecusaki"></span> est aussi ici que le petit bâteau file sur le lac.</p>

    <p>
      - Je sais que tu ne t'attendais pas à me voir. Mais une drôle de mage m'a dit que tu avais besoin de mon aide.<br />
      - Une...drôle de mage ? fais-tu interloqué<span class="sf">e</span>. Une … fournaliste ? Leng Fao ?<br />
      - Heu… une "journaliste" plutôt, … je crois. Oui c'est bien elle. Je me demandais si tu la connaissais vraiment.<br />
      - Connaître n'est pas vraiment le mot. Je l'ai rencontrée une fois.
    </p>

    <p>Visiblement cette Leng Fao sait vraiment tout. Ou alors elle t'a suivi ?</p>

    <p>- Direction, le village d'Eaux-Claires, de l'autre côté du lac, vous indique Panacle. La résistance est déjà en train de s'y préparer.</p>

    <p>Votre bateau passe inaperçu au milieu des dizaines d'autres déjà présents, pêcheurs, marchands, ou simples voyageurs. Tu te demandes seulement ce qu'il est arrivé à Lasseni et Fandrean.</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="82">Débarquer au port d'Eaux-Claires</div>
    </div>

</div>
