<div class="num num-1-3-5">

  <div class="text chapter3">

    <h1>- 5 -</h1>

    <p>Quelques jours plus tard, alors que tu étais en train de te faire cuire un laperain sur ton feu de camp, le bruit craquant d'une branche survint.</p>
    <p>Il est midi et une silhouette encapuchonnée s'approche de toi en se frayant un chemin à travers les buissons. Depuis ta fuite des monts noirs, tu prends quand même soin de ne pas trop attirer l'attention. La fumée de ton feu a dû lui permettre de te repérer.</p>
    <p>- Qui va-là ? demandes-tu l'air menaçant alors que tu n'es qu'un<span class="sf">e</span> jeune <span class="sf">fille</span><span class="sg">garçon</span>.<br />
      - <span class="tonnom"></span> ? Vous êtes bien <span class="tonnom"></span> ? demande la personne d'une petite voix fluette tout en retirant sa capuche.</p>

    <p>Une jeune femme d'une vingtaine d'années te fait face. Elle est habillée comme une voyageuse, mais une voyageuse qui aurait sacrément fait le tour du monde : elle a plusieurs cicatrices sur le visage, des chaussures rembourrées spécialement conçues pour la marche et un sac si gros qu'il la dépasse. Avec tes pouvoirs tu sais que cette personne est une mage, mais son niveau a l'air très faible. <span class="fin1 fin1-1">En te concentrant un peu tu sens qu'elle utilise la magie de la lune. Celle qu'on t'a enseigné à la forteresse de la lune.</span></p>

    <div class="def-naif">
      <p>
        - Qu'est-ce que vous voulez ? lui dis-tu<br />
        - Oh je sais que vous êtiez à la forteresse de la lune. Vous connaissez peut-être Fandrean et Lasseni ?<br />
        - Oui, pourquoi ? Vous les avez vu récemment ? Ils ne doivent pas être dans le coin pourtant.<br />
        - Effectivement. Disons que je suis au courant d'à peu prés tout ce qui se passe sur ce monde. Je suis une mage journaliste.<br />
        - Jour... jour-quoi ? Jamais entendu parlé.<br />
        - Journaliste. Mais ce n'est pas important, par contre je viens vous rapporter que vos deux amis ont été capturés par l'académie.
      </p>
    </div>
    <div class="def-pas-naif">
      <p>
        - Qu'est-ce que vous voulez ? lui dis-tu méfiant<span class="sf">e</span><br />
        - Oh je sais que vous êtiez à la forteresse de la lune. Vous connaissez peut-être Fandrean et Lasseni ?<br />
        - ...Hum, pourquoi ? Vous les avez vu récemment ? Ils ne doivent pas être dans le coin pourtant.<br />
        - Effectivement. Disons que je suis au courant d'à peu prés tout ce qui se passe sur ce monde. Je suis une mage journaliste.<br />
        - Jour... jour-quoi ? Jamais entendu parlé.<br />
        - Journaliste. Mais ce n'est pas important, par contre je viens vous rapporter que vos deux amis ont été capturés par l'académie.
        -
      </p>
    </div>

    <p>Vu ce que tu as appris à la forteresse de la Lune tu te dis que l'académie a dû les arrêter pour ne pas qu'ils puissent révéler la vérité.</p>

    <p>- Je ne suis plus avec eux vous savez.<br />
      - Mais avec vos pouvoirs vous pourriez peut être les aider. Ou alors, quel est votre but maintenant ?</p>

    <p>Cette personne est au courant pour tes pouvoirs ! Cela t'a surpris mais elle savait que tu venais de la forteresse alors ça ne te parait pas insensé.</p>

    <p>- Qui êtes-vous exactement ?<br />
      - Une journaliste… simplement. Mon nom est Leng Fao.<br />
      - Ce que je souhaite faire ne vous regarde pas je pense.<br />
      - Hum… c'est là que je me permets de vous contredire. Vous avez des pouvoirs immenses capables de changer l'histoire. Vous pouvez choisir de sauver Fandrean pour le mettre à la tête de l'Académie, vous pouvez aussi détruire l'Académie pour la diriger vous-même ou vous pourriez ne rien faire. Mais dans tous les cas, moi, je me permets de vous informer de ce qu'il se passe.</p>

    <p>Détruire l'Académie ? Est-ce ce que tu veux ? Tu ne le sais pas encore.</p>

    <p>- Il se peut également que vos amis aux pouvoirs surhumains le fassent sans vous ? poursuit Leng Fao.<br />
      - Dans ce cas je n'ai même pas à prendre de décisions.<br />
      - Peut-être… mais vous êtes <span class="sf">la seule</span><span class="sg">le seul</span> que j'ai pu trouver. Et donc <span class="sf">la seule</span><span class="sg">le seul</span> à qui je peux parler d'un autre ennemi.</p>

    <p>Un autre ennemi ? De qui veut-elle parler ?</p>

    <p>- Connaissez-vous les noctules <span class="tonnom"></span> ? En tout cas vous devriez connaitre un certain noctule : Usaki.<br />
      - Vous le connaissez ?<br />
      - Les noctules sont nombreux <span class="tonnom"></span>. Ils sont presqu'aussi nombreux que les humains. Et ils ne souhaitent qu'une chose : détruire l'humanité.<br />
      - Qu'est-ce que vous racontez ? réponds-tu interloqué<span class="sf">e</span><br />
      - Je suis une journaliste, je ne vous dévoile que ce que j'ai appris comme informations. Enfin, j'ai fait mon travail. J'ai transmis l'information. Maintenant l'histoire est entre vos mains.</p>

    <p>Aussitôt, Leng Fao tourne les talons et repart à travers les buissons pour poursuivre son chemin. Quelle rencontre étrange ! Elle a vraiment l'air de savoir beaucoup de choses mais peut être aussi qu'elle essaie de te manipuler pour que tu ailles à l'Académie sauver Fandrean. Mais c'est vrai que tu te dis qu'il est temps de choisir ta voie.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="31">Partir en direction de l'Académie</div>
    <div class="ch" data-go="30">Tenter de retrouver tes camarades héritiers de Soufflardent</div>
  </div>

</div>
