<div class="num num-1-3-50">

  <div class="text chapter3">

    <h1>- 50 -</h1>

    <p>C'était la voix de Panacle, ton ancien ami de première année. Et il n'est pas tout seul à bord : Anselm, Haziko et Kannan sont en train de vous y attendre.</p>

    <p>Tu te demandes comment <span class="partiavecusaki"></span> est aussi ici.</p>

    <p>
      - Je sais que tu ne t'attendais pas à me voir. Mais une drôle de mage m'a dit que tu avais besoin de mon aide.<br />
      - Une...drôle de mage ? fais-tu interloqué<span class="sf">e</span>. Une … fournaliste ? Leng Fao ?<br />
      - Heu... une "journaliste" plutôt, ... je crois. Oui c'est bien elle. Je me demandais si tu la connaissais vraiment.<br />
      - Connaître n'est pas vraiment le mot. Je l'ai rencontrée une fois.
    </p>

    <p>Visiblement cette Leng Fao sait vraiment tout. Ou alors elle t'a suivi ?</p>

    <p>- Direction, le village d'Eaux-Claires, de l'autre côté du lac, vous indique Panacle. La résistance est déjà en train de s'y préparer.</p>

    <p>Votre bateau passe inaperçu au milieu des dizaines d'autres déjà présents, pêcheurs, marchands, ou simples voyageurs. Tu te demandes seulement ce qu'il est arrivé à Lasseni et Fandrean.</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="83">Débarquer au port d'Eaux-Claires</div>
    </div>

</div>
