<div class="num num-1-3-51">

  <div class="text chapter3">

    <h1>- 51 -</h1>

    <p>Alors que vous décidiez d'ajourner votre réunion pour en parler avec les mages, tu décidas de te rendre aux geôles pour discuter avec Lasseni et Fandrean.</p>

    <p>Les geôles sont au sous-sol de la tour, gardé par des mages spécialisés. A l'entrée des sous-sol et tout le long des geôles des artefacts sont placés pour empêcher les gens de concentrer leur énergie. Ce qui rend l'utilisation de la magie impossible. Sauf pour vous 4 prophètes puisque vous n'avez pas besoin de concentrer d'énergie : elle est en vous.</p>

    <p>En allant voir Lasseni, tu te rends compte que l'un des gardiens responsables des geôles n'est autre que Panacle, ton ancien ami de première année. Vous vous saluez brièvement mais tu sens une légère tension dans son regard. Il doit avoir un peu peur de toi, c'est sûr.</p>

    <p>Après avoir parcouru un dédale d'escaliers et de couloirs, on t'ouvre la porte de la cellule de Fandrean. Il n'a pas l'air en forme mais tu t'attendais presque à pire.</p>

    <p>
      - Humpf... tu les as rejoints ? te fait-il. Tu pourras diriger l'Académie et le monde, je te comprends.<br />
      - Pas du tout, réponds-tu. Je venais voir comment vous alliez, toi et Lasseni.<br />
      - Tu l'as déjà vu ? Elle va bien ? demande-t-il sans attendre.<br />
      - J'ai commencé par te voir. Mais on m'a dit qu'elle allait bien. Je suis venu<span class="sf">e</span> te dire que nous allions organiser des élections pour savoir qui dirigera l'Académie avec nous. Tous les mages pourront voter, y compris toi.<br />
      - Ha ha ha ! rigole-t-il nerveusement. Oui on sera libre de choisir le mage que vous voudrez.<br />
      - Non, je comprends que tu sois sceptique mais même toi pourra te présenter. Nous devons encore peaufiner les modalités mais il y aura un conseil de magie qui aura autant de pouvoir politique que nous 4. Nous voulons partager le pouvoir.<br />
      - … je dois avouer que ça ne saute pas aux yeux. Vous enfermez ceux qui n'ont pas la même opinion que vous...<br />
      - Ce genre de chose est fini, le coupes-tu. Maintenant, je suis aussi aux commandes. Les choses changent.
    </p>

    <p>Fandrean semble peu enthousiaste mais accepte ce que tu lui racontes. Il fait un signe de tête pour te dire qu'il attend quand même de voir.</p>

    <p>- Si tu acceptes de rester dans l'enceinte de l'Académie jusqu'au vote, je te fais délivrer sur le champs. Lasseni aura la même possibilité.</p>

    <p>Fandrean se met debout, enlève la paille qui était sur sa tunique et accepte ta proposition. Il t'accompagne jusqu'à la geôle de Lasseni qui fait de même. Elle te remercie pour les avoir délivrés et sont escortés jusqu'à une chambre dans l'enceinte de l'école.</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="52">Choisir les modalités de l'élection</div>
    </div>

</div>
