<div class="num num-1-3-52">

  <div class="text chapter3">

    <h1>- 52 -</h1>

    <p>Après avoir réfléchi chacun de votre côté, toi et les 3 autres prophètes décidèrent de définir les modalités de l'élection.</p>

    <p>Pour bien rappeler ce qui est en jeu, <span class="naorem"></span> rappelle que vous quatre resterez au pouvoir mais qu'un conseil de mages sera là pour gouverner avec vous. Ce que vous avez décidé, sous ton impulsion.</p>

    <p>Tout d'abord vous devez choisir qui sera capable de voter. Tu as déjà dit à Fandrean qu'il pourrait se présenter et voter. Tu espères que tu ne t'es pas trop avancé<span class="sf">e</span>.</p>

    <p>
      - La plupart des mages se trouvent à l'Académie, commence Arak. Depuis que la tour d'Azano est détruite et que Soufflardent est mort, on ne trouve plus grand monde vers les monts noirs. Je propose de laisser voter tous les mages de l'Académie et ceux autour du lac.<br />
      - Pourquoi ne pas laisser voter n'importe quel mage ? lance Méonie. Du moment qu'il arrive à temps pour voter et qu'il est dans les livrets d'anciens élèves de l'Académie, bien sûr.<br />
      - Hein ? lui répond Arak. Si on fait ça, on va devoir attendre un moment pour prévenir tous les mages du monde qu'on organise un tel vote.<br />
      - Je pense que je peux envoyer à tout le monde un message télépathique, fait <span class="naorem"></span>, mais c'est vrai qu'on va devoir prendre en compte que certains mages très éloignés ne pourront pas être là à temps.
    </p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch vote1-1" data-go="53">Valider l'idée d'Arak : ne laisser voter que les mages autour du lac et de l'Académie</div>
      <div class="ch vote1-2" data-go="53">Valider l'idée de Méonie : laisser tout le monde voter du moment qu'il arrive à temps</div>
    </div>

</div>
