<div class="num num-1-3-53">

  <div class="text chapter3">

    <h1>- 53 -</h1>

    <p>Très bien, cette partie est validée. Deuxièmement vous devez choisir qui aura droit de se présenter au conseil.</p>

    <p>
      - Je pense qu'il faut autoriser n'importe quel mage à se présenter, commences-tu. Si on ne fait pas ça, personne ne croira qu'on veut bien partager le pouvoir. Si on commence à dire que certains sont bannis de cette élection tout le projet d'élection tombe à l'eau.<br />
      - Je suis plutôt d'accord, dit <span class="naorem"></span>. Néanmoins, certains mages devenus renégats pourraient se présenter ? Et même, qu'en est-il de Fandrean ? Le laisse-t-on se présenter ?<br />
      - Je ne crois pas que Fandrean soit un problème, déclare Méonie. Tout le monde croit que c'est un héros, alors que nous connaissons la vérité. Laissons-lui la possibilité de se présenter s'il le veut. Pour les mages renégats je pense qu'il faut les laisser aussi. C'est l'ancien conseil des mages qui les avait bannis. A eux de montrer ce qu'ils valent, de toute manière ils ne seront jamais une menace pour nous quatre. D'un point de vue du pouvoir, je veux dire.<br />
      - Vous êtes tous dingues, s'insurge Arak. Vous voulez dire qu'on ne va absolument mettre aucune limite à cette élection ? Je suis désolé je mets un veto. Et les mages de première année, on les laisse se présenter aussi pendant qu'on y est ?<br />
      - C'était l'idée, fait Méonie.
    </p>

    <p>Comme l'élection était ton idée au départ, les trois prophètes te laisse choisir. Quelle limite souhaites-tu imposer pour pouvoir se présenter ?</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch vote2-1" data-go="54">Aucune limite : mages renégats, Fandrean et mages inexpérimentés peuvent se présenter</div>
      <div class="ch vote2-2" data-go="54">Interdire aux mages renégats : Fandrean et mages inexpérimentés peuvent se présenter</div>
      <div class="ch vote2-3" data-go="54">Interdire aux mages inexpérimentés : mages renégats et Fandrean mais pas les premières et deuxièmes années</div>
    </div>

</div>
