<div class="num num-1-3-54">

  <div class="text chapter3">

    <h1>- 54 -</h1>

    <p>Un dernier point est à définir. Combien de membres constitueront le conseil ?</p>

    <p>
      - Il faut au moins quatre mages dans ce conseil, insiste <span class="naorem"></span>, pour qu'ils apparaissent comme nos égaux. En tout cas au niveau des décisions qu'ils peuvent prendre. Car en terme de puissance… on sera toujours bien au dessus.<br />
      - Ouais, quatre ça me va, fait Arak.<br />
      - Hum… si on laisse quatre mages, certains pourraient ne pas ressentir un grand changement avec avant, se demande Méonie. Il y avait déjà quatre mages du temps de Soyos.<br />
      - On s'en fiche de ça, répond Arak incrédule.<br />
      - Je pense que 6 mages seraient importants, reprend Méonie, on leur montrerait que les mages ne seront pas élus en fonction de leurs talents dans un domaine de magie mais pour ce qu'ils ont à proposer. Les experts dans les quatre domaines de magie c'est nous.<br />
      - ...C'est pas bête, fait simplement <span class="naorem"></span> qui a l'air ouvert aux deux solutions.
    </p>

    <p>Arak n'a pas l'air pour ou contre. Il a l'air de se ficher totalement de ça. De manière général, cette élection ne l'emballe pas.</p>

    <p>
      - Du moment que nous quatre, gardons autant de pouvoir que le conseil, moi je m'en fiche, fait-il. Mais si on me dit qu'à 6 le conseil aura plus de pouvoir que nous, alors là je dit non.<br />
      - Non, bien sûr, le rassure <span class="naorem"></span>. On partage le pouvoir, on ne le donne pas à un conseil de magie. <span class="tonnom"></span>, tu préfères quoi toi ? Quatre ou six mages dans ce conseil ?
    </p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch vote3-1" data-go="55">4 mages constitueront le conseil de magie</div>
      <div class="ch vote3-2" data-go="55">6 mages constitueront le conseil de magie</div>
    </div>

</div>
