<div class="num num-1-3-55">

  <div class="text chapter3">

    <h1>- 55 -</h1>

    <p>Aussitôt votre réunion terminée, vous décidez d'en parler en faisant une grande assemblée dans l'amphithéâtre de l'école.</p>

    <p>Les bancs sont remplis. Les mages ont tous plus ou moins entendu parler de votre projet et veulent savoir si vous allez vraiment partager votre pouvoir et comment ?</p>

    <p><span class="naorem"></span>, te fait un signe de la main pour te signifier que tu as l'honneur de parler en premi<span class="sf">ère</span><span class="sg">er</span> et d'expliquer ce nouveau conseil de mages. Après tout, c'était ton idée. Tu as beau avoir un pouvoir immense, parler devant une foule pareille, tu n'as pas l'habitude. Mais tu te ressaisis et t'avance sur l'estrade pour déclarer :</p>

    <p>- Bonjour, mages de l'Académie et peut-être d'ailleurs. Vous avez l'air d'être déjà au courant ; nous vous proposons la constitution d'un nouveau conseil de mages, qui aurait autant de pouvoir décisionnel que nous.</p>

    <p>Un brouhaha se fait immédiatement entendre. Tu essaies de calmer tout le monde mais visiblement la nouvelle fait l'effet d'une bombe.</p>

    <p>- OH ! VOUS ALLEZ LA FERMER ET <span class="sf">LA</span><span class="sg">LE</span> LAISSER PARLER, hurle Arak.</p>

    <p>Pour une fois, tu apprécies le franc-parler du prophète.</p>

    <p>
      - Nous allons donc organiser un vote pour élire ce conseil de magie...<br />
      - Quoi ? Vous allez laisser n'importe qui participer à cette élection ? s'insurge déjà un des mages les plus puissants de l'Académie.<br />
      - HEY ! Faut que je vous le dise comment ? se plaint Arak. Si y en a encore un qui l'ouvre avant la fin de la présentation de <span class="tonom"></span>, je l'envoie boire la tasse dans le lac.
    </p>

    <p>Le calme revient, et tu enchaines.</p>

    <p>- Je vous laisserai poser des questions à la fin, ne vous inquiétez pas, fais-tu pour apaiser tout le monde.</p>

    <p>Et tu expliques en détails ce que vous avez décidé tous les quatres, quelques minutes auparavant. Après un discours beaucoup plus long que tu ne t'aurais cru capable, tu laisses la parole à <span class="naorem"></span>. Mais ce dernier semble satisfait par ta prestation et propose à l'audience de poser des questions.</p>

    <p>
      - Que vont devenir Soyos, Mullihane, Andaelor et Pasha ? demande Ostamus, le grand mage des mers.<br />
      - Ils seront libres de se présenter à cette élection. Mais chacun individuellement, répond Méonie.<br />
      - Mais nous ne pouvons choisir qu'une seule personne quand on va voter, non ? intervient un élève que tu ne connais pas.<br />
      - Oui, les <span class="vote3-1">quatre</span><span class="vote3-2">six</span> mages qui auront reçu le plus de voix seront placés au conseil des mages, réponds-tu.
    </p>

    <p>Un mage dont tu ne sais pas le nom lève la main pour prendre la parole :</p>

    <p>- Je n'ai pas bien compris un truc, fait-il. Si je suis un mage qui a appris tout seul, mais qui n'est pas un mage renégat ; je peux m'inscrire, n'est-ce-pas ? Ou est-ce qu'il faut obligatoirement être passé par l'Académie ?</p>

    <p>Tout le monde se retourne vers l'individu. Si on connait la magie sans être passé par l'Académie, on est un mage renégat. Cette personne a l'air de l'ignorer, il l'est sans doute : un mage renégat. Qu'un tel individu soit dans l'assistance quelques minutes après votre réunion entre prophètes est pour le moins surprenant.</p>

    <p class="vote2-2">
      - Dans ce cas t'es un mage renégat. Tu n'auras pas le droit de t'inscrire, fait Arak en reprenant la parole.<br />
      - Mais dans ce cas, vous aussi vous êtes des renégats, non ? fait le mage sans se dégonfler.<br />
      - On est des dieux, nous, fait Arak visiblement agacé. Seuls les dieux dans un domaine de magie peuvent faire partie de notre côté du pouvoir.<br />
      - Oh… je vois, fait simplement le mage avant d'écrire tout ça dans un mémo.<br />
      - Mais t'es qui toi ? s'énerve Arak de plus belle. Présente-toi!<br />
      - Moi ? Je suis Allister Lengl, mage journaliste.
    </p>
    <p class="vote2-autre">
      - Dans ce cas t'es un mage renégat. Et tu auras le droit de t'inscrire, fait Arak en reprenant la parole. T'as pas écouté pendant la présentation ?<br />
      - Oh… je vois, fait simplement le mage avant d'écrire tout ça dans un mémo.<br />
      - Mais t'es qui toi ? s'énerve Arak de plus belle. Présente-toi!<br />
      - Moi ? Je suis Allister Lengl, mage journaliste.
    </p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="84">Continuer</div>
    </div>

</div>
