<div class="num num-1-3-56">

  <div class="text chapter3">

    <h1>- 56 -</h1>

    <p>La réunion entre vous quatre se termine, tu ne sais pas vraiment de quoi tu veux t'occuper comme tu as dit mais tu vas chercher à te faire aider.</p>

    <p>Les autres t'ont informé que Fandrean et Lasseni ainsi que d'autres mages avaient été mis en prison en attendant qu'ils reprennent raison et se joignent à vous. Tu te décides à aller rendre une petite visite au mage pour vérifier qu'il va bien.</p>

    <p>En pénétrant dans les sous-sols de la tour, tu remarques que ton ancien ami de première année, Panacle, travaille désormais avec les gardiens des geôles de la tour. Ils sont là pour mettre au point des artefacts pour empêcher quiconque de s'enfuir. Il te conduit jusqu'à la cellule de Fandrean et t'ouvre la porte. Fandrean se lève quand tu rentres. Il est vivant mais a l'air d'avoir eu un traitement plutôt dur.</p>

    <p>
      - Fandrean, je viens d'arriver à la tour, commences-tu. Est-ce que tu vas bien ?<br />
      - J'ai vu mieux mais on fera avec, répond le mage. Est-ce que tu as vu ma sœur ?<br />
      - Je compte la voir juste après toi, mais on m'a dit qu'elle allait bien.<br />
      - Tant mieux, fait-il soulagé.
    </p>

    <p>Puis après avoir repris sa place assise sur sa couchette, il reprend :</p>

    <p>
      - Tu… t'es allié<span class="sf">e</span> avec eux ?<br />
      - Je vais voir ce que je peux apporter. Je ne sais pas encore si j'ai ma place ici... je cherche encore ce que je dois faire.<br />
      - Si tu veux mon avis, tu dois contrer ces monstres. Tu as l'air d'avoir encore gardé ton humanité, contrairement aux 3 autres.
    </p>

    <p>Tu te dis qu'il exagère un peu. Arak semble sévère mais Méonie paraît beaucoup plus compatissante, <span class="naorem"></span> a l'air un peu entre les deux.</p>

    <p>
      - Je cherche à me faire épauler, fais-tu. Voudrais-tu travailler avec moi pour remettre un peu d'ordre dans tout ça ?<br />
      - … Ils ne vont pas te laisser me délivrer, te répond-t-il.<br />
      - J'ai autant de pouvoir qu'eux, ils ne peuvent pas me le refuser.
    </p>

    <p>D'un geste tu ordonnes à Panacle de laisser partir Fandrean et de faire de même avec Lasseni. Tu ne sais pas vraiment si c'était le bon choix à faire, mais sur le coup, ça t'a semblé une bonne idée.</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="87">Continuer</div>
    </div>

</div>
