<div class="num num-1-3-57">

  <div class="text chapter3">

    <h1>- 57 -</h1>

    <p>Après quelques jours déjà tu vois un peu mieux ce qu'il semble se tramer derrière les pensées de chaque prophète.</p>

    <p>Arak est parti le premier de l'Académie, il décida de conquérir les territoires barbares le plus vite possible. Et très vite tu entendis parler des massacres qu'il causait partout où il passait. Visiblement seules la guerre et la vengeance le font avancer.</p>

    <p><span class="naorem"></span> prit sous sa coupe les mages comme il l'avait dit. Ceux qui ne voulaient pas lui obéir se voyaient siphonné de sa magie. Les mages les plus brutaux et qui léchaient le plus les bottes furent promus. Il leur donna également plus de pouvoir pour qu'ils puissent mettre les autres mages à genoux. Ces mages ne se privaient pas d'ailleurs pour aller causer des problèmes dans la ville avec les sans-magie. Toujours à les tourner en ridicule ou leur voler leur marchandise. C'est la dictature de la magie.</p>

    <p>Méonie, elle, passait son temps à apaiser les sans-magies, les guérir, les protéger et à embellir la ville. Mais elle se gardait bien de punir les mages qui en faisaient trop. Elle est vraiment trop timide malgré ses pouvoirs.</p>

    <p>Tes anciens amis de l'Académie commencèrent à te fuir dès qu'ils comprirent que tu faisais parti des prophètes.</p>

    <p class="middle">*</p>

    <p>Alors que tu restais à regarder les étoiles un soir, seul<span class="sf">e</span>, et alors que tu songeais finalement à rejoindre Méonie ou <span class="naorem"></span>, quelqu'un vint se joindre à tes pensées :<br />
      - Bonsoir <span class="tonom"></span>. Vous avez du mal à dormir ?
    </p>

    <p>Un homme assez grand avec une belle barbe tressée s'approche vers toi et se met à regarder aussi le ciel. Tu es a peu prés sûr<span class="sf">e</span> de ne l'avoir jamais vu auparavant.</p>

    <p>
      - Qui êtes-vous ? demandes-tu.<br />
      - Un ami… peut être, fait-il en souriant. Cela dépendra de ce que vous répondrez à ce que j'ai à vous dire.
    </p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="58">Ecouter le mystérieux personnage</div>
      <div class="ch" data-go="60">L'attaquer pour le tester</div>
    </div>

</div>
