<div class="num num-1-3-58">

  <div class="text chapter3">

    <h1>- 58 -</h1>

    <p>Tu ne sais pas de qui il s'agit, tu restes donc sur tes gardes même si, à part les autres prophètes, personne ne peut atteindre ton niveau de pouvoir.</p>

    <p>
      - Je vous écoute, fais-tu curieu<span class="sg">x</span><span class="sf">se</span>.<br />
      - Hum… Je vais être très direct. Je représente une faction rebelle de votre pouvoir.
    </p>

    <p>Tu écarquille les yeux surpris<span class="sf">e</span>. Il te dit ça sans penser que tu pourrais le tuer en un instant on dirait.</p>

    <p>
      - Ha, ha ! Je sais que ça peut paraître audacieux que je vous dise ça, mais c'est la vérité.<br />
      - Je veux bien vous croire, continuez, fais-tu simplement.<br />
      - Vous le savez peut être déjà avec vos pouvoirs mais notre faction a déjà montré qu'elle peut vous combattre... Votre prophète, celui qui s'appelle Arak, il n'est pas rentré de ses combats, n'est-ce pas ?
    </p>

    <p>Tu commences à paniquer un peu. Ce type est en train de dire que son groupe s'est occupé d'anéantir Arak ?</p>

    <p>
      - Vous bluffez, dis-tu entre tes dents.<br />
      - Oh ? fait-il surpris à son tour. Votre immense pouvoir ne vous permet pas de savoir ça ? C'est très intéressant.<br />
      - Plus de jeu ! Qui êtes-vous ? Que voulez-vous ? fais-tu un peu tendu<span class="sf">e</span><br />
      - … Je suis le chef de la faction rebelle : Enky Luna. Et je suis venu vous demander de vous allier à nous.<br />
      - Qu...quoi ? fais-tu complètement abassourdi<span class="sf">e</span>.<br />
      - Ne vous inquiétez pas : je ne vais pas vous demander de combattre vos amis. Nous avons remarqué que pour le moment vous ne vouliez pas prendre parti, alors je me suis permis de venir vous voir. Pour vous demander d'abandonner vos pouvoirs.
      <br />
      - ... Abandonner mes pouvoirs ? répètes-tu.<br />
      - Soufflardent a abandonné les siens. Vous devriez donc facilement pouvoir abandonner les vôtres ?<br />
      - Attendez... vous voulez que je vous donne mes...<br />
      - Non, non, non, je voulais vraiment dire abandonner. Ne pouvez-vous pas rendre au monde ce pouvoir que vous avez ?
    </p>

    <p>Tu n'y avais jamais encore pensé. Oui, tu peux certainement abandonner tes pouvoirs et les rendre libres d'accès à tous les mages de cette façon. Cela signifierait que tu n'aurais plus cette immense responsabilité dont tu ne sais quoi faire.</p>

    <p>- Arak n'a pas voulu et nous avons dû lui prendre le pouvoir de force. Désormais, son pouvoir est déjà retourné à la terre. Que décidez-vous ? Allez-vous rendre le pouvoir ?</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="59">L'écoutez et rendre le pouvoir - tu pourras toujours utiliser la magie comme un mage ordinaire</div>
      <div class="ch" data-go="60">Refuser et l'attaquer</div>
    </div>

</div>
