<div class="num num-1-3-59">

  <div class="text chapter3">

    <h1>- 59 -</h1>

    <p>- Vous avez raison, c'est ce qu'il y a de mieux à faire, fais-tu. Ce pouvoir ne devrait pas être utilisé par de simples humains. Nous ne sommes pas assez sage pour avoir un tel pouvoir.</p>

    <p>Enky Luna te fait un regard entendu et d'un geste de la main te propose de rendre ton pouvoir. Tu acquiesces, t'agenouille et fait sortir ton pouvoir dans le sol pour le renvoyer à la planète. Tout se passe extrêmement rapidement. Tu ne savais pas vraiment comment faire mais juste avec ton intuition ton pouvoir s'est transféré.</p>

    <p>Tu sens que tu n'as plus la possibilité de déplacer des montagnes mais tu essaies quand même un de tes anciens sorts pour vérifier qu'ils fonctionnent encore. En un instant tu lance un sort de lumière. Tu souris, tu as bien rendu le pouvoir à la terre sans le faire disparaitre.</p>

    <p>
      - C'est vrai...ça marche ! fais-tu <span class="sf">folle de joie</span><span class="sg">fou de joie</span>. J'ai rendu le pouvoir et je peux encore faire ma magie. Il n'y a pas besoin de donner un pouvoir pareil à qui que ce soit, vous aviez raison.<br />
      - Vraiment, tu l'as fait ? Tu n'as plus tes pouvoirs ? te répond-t-il.<br />
      - Oui ! Mais je peux toujours faire ma magie comme avant.<br />
      - Ha ha ha...! Qu'est-ce que tu es <span class="sf">naïve</span><span class="sg">naïf</span>.<br />
      - Oui... hein quoi ?
    </p>

    <p>L'homme commence alors à se troubler, puis il prend une toute autre forme. Il avait mis un sort de masque sur lui ! Devant toi apparait Usaki se tordant de rire du haut de ses trois mètres de haut.</p>

    <p>
      - Arak était un sacré challenge à abattre, mais toi, je dois dire que tu m'as facilité la tâche.<br />
      - Non ! Ne… quoi ! Je…
    </p>

    <p>Mais tu n'as pas le temps d'en dire plus qu'Usaki lance un puissant sort d'explosion te laissant juste à tes regrets.</p>

    <p><em>L'aventure se termine là pour toi.</em></p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
    </div>

</div>
