<div class="num num-1-3-6">

  <div class="text chapter3">

    <h1>- 6 -</h1>

    <p>Enfin l'Académie est en vue au loin. La silhouette de la grande tour se détachant sur l'horizon avec le soleil couchant. Dès demain vous y serez. Après un repas rapide vous décidez de vous coucher plus tôt pour la confrontation avec les grands mages de l'Académie du lendemain.</p>

    <p>Alors que tu t'écartes un peu des autres pour aller faire tes besoins, une voix te fais sursauter.</p>

    <p>- Vous allez vraiment attaquer l'Académie ?</p>

    <p>Une jeune femme d'une vingtaine d'années te fait face. Elle est habillée comme une voyageuse, mais une voyageuse qui aurait sacrément fait le tour du monde : elle a plusieurs cicatrices sur le visage, des chaussures rembourrées spécialement conçues pour la marche et un sac si gros qu'il la dépasse. Avec tes pouvoirs tu sais que cette personne est une mage, mais son niveau a l'air très faible. <span class="fin1 fin1-1">En te concentrant un peu tu sens qu'elle utilise la magie de la lune. Celle qu'on t'a enseigné à la forteresse de la lune.</span></p>

    <p>- D'où vous sortez ? Qui êtes-vous ? fais-tu en préparant un sort.<br />
      - Du calme. Je me présente je suis Leng Fao. Je suis une mage journaliste.<br />
      - Jour... jour-quoi ? Jamais entendu parlé.<br />
      - Journaliste. Mais ce n'est pas important, et je pense que vous vous trompez d'adversaire.</p>

    <p>Tu vois que la jeune femme admire l'Académie au loin en train de disparaitre au fur et à mesure que le soleil se couche.</p>

    <p>- On sait que les "prophètes" peuvent être dangereux mais Ymir et Zaïra sont déjà partis à leur recherche, fais-tu. L'Académie doit aussi s'expliquer sur tout ce qu'elle cache depuis des décennies.<br />
      - Je ne pensais pas aux "prophètes". Connaissez-vous les noctules <span class="tonnom"></span> ? En tout cas vous devriez connaitre un certain noctule : Usaki.<br />
        - Vous le connaissez ?<br />
        - Les noctules sont nombreux <span class="tonnom"></span>. Ils sont presque aussi nombreux que les humains. Et ils ne souhaitent qu'une chose : détruire l'humanité.<br />
        - Qu'est-ce que vous racontez ? réponds-tu interloqué<span class="sf">e</span><br />.
        - Je suis une journaliste, je ne vous dévoile que ce que j'ai appris comme informations.
    </p>

    <p>Tu trouves cette femme très étrange. D'où sort-elle ces informations ? Peut être travaille-t-elle pour l'Académie et essaie-t-elle de te détourner de ton chemin pour éviter une confrontation avec ses maîtres.</p>

    <p>- Que voulez-vous ? lui demandes-tu. Vous voulez qu'on n'aille pas jusqu'à l'Académie et qu'on s'arrête ?<br />
      - Je pense que vous êtes tous assez grands pour faire vos propre choix, mais je voulais être sûre que vous soyez bien au courant de tous les enjeux.<br />
      - De toute façon je n'ai aucune idée d'où peut-être Usaki donc le choix est vite fait, expliques-tu.
    </p>

    <p>La jeune femme tourne sa tête en te regardant dans les yeux et en te souriant.</p>

    <p>- Ça je le sais aussi. Je sais absolument tout. Vous parlez à une mage journaliste.<br />
    - … Ecoutez vous avez l'air de savoir beaucoup de choses. Pourquoi ne pas aller en parler avec Fandrean pendant que... enfin là c'est pas vraiment le moment.<br />
    - Hum… Non Fandrean et Lasseni ne m'écouteront pas. Mais si VOUS désirez que je vous amène jusqu'à Usaki, je le peux.</p>

    <div class="def-naif">
      <p>Cette Leng Fao ne t'inspire pas confiance. Elle a l'air trop faible magiquement pour être un obstacle insurmontable mais est-ce que tu souhaites poursuivre Usaki maintenant ?</p>
    </div>
    <div class="def-pas-naif">
      <p>Cette Leng Fao ne t'inspire pas du tout confiance. Peut-être est-ce même Usaki avec un sort de masque. Néanmoins ce qu'elle a dit t'intrigue.</p>
    </div>
  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="7">Faire confiance à Leng Fao et la suivre</div>
    <div class="ch def-pas-naif" data-go="8">Crier pour alerter tes amis</div>
    <div class="ch" data-go="9">Dire à Leng Fao que tu souhaites rester avec tes compagnons</div>
  </div>

</div>
