<div class="num num-1-3-60">

  <div class="text chapter3">

    <h1>- 60 -</h1>

    <p>Sans lui laisser le temps de réagir, tu essaies de lui lancer un simple sort de choc psychique. Mais avec ton énergie illimitée il va le sentir passer. Et effectivement, sous ton impulsion tu l'envoies voler à l'autre bout du jardin, le faisant s'écraser sur un panneau recouverts de rosiers.</p>

    <p>Il se relève surpris et riant nerveusement:</p>

    <p>- Hé hé hé ! Alors tu m'avais reconnu <span class='tonnom'></span> ? Arak ne s'est douté de rien, lui.</p>

    <p>L'homme retire son sort de masque et tu découvres avec stupeur qu'il s'agissait en fait d'Usaki. Le gigantesque noctule de 3 mètres de haut se trouve en face de toi. Soufflardent te l'avait dit : il est ton véritable ennemi.</p>

    <p>- Mais qu'est-ce que tu veux ? Pourquoi tu nous laisses pas tranquille ? fais-tu en lançant cette fois un sort beaucoup plus puissant.</p>

    <p>Tu déchaines ton pouvoir sur Usaki, faisant exploser une partie de l'école sur le chemin. Mince, tu t'es laissé<span class="sf">e</span> emporter et tu viens de provoquer des dégâts peut être non réparables. Tu espères n'avoir tué personne...</p>

    <p>- Et ben ! fait une voix sortant de la fumée générée par ton attaque. Je dois avouer que je vais devoir battre en retraite.</p>

    <p>Usaki semble bien blessé, et d'un geste disparait totalement. Tu ressens plus du tout sa présence ou son énergie.</p>

    <p class="fin1 fin1-1">Tu es sûr<span class="sf">e</span> qu'il a utilisé un sort de cape de la lune. Ce qui veut dire que si tu lances un attaque de zone tout autour de toi tu le toucheras. Il est encore là !</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="62">Vérifier les dommages que tu as causé tout en restant sur tes gardes</div>
      <div class="ch fin1 fin1-1" data-go="61">Déclencher une attaque de zone</div>
    </div>

</div>
