<div class="num num-1-3-61">

  <div class="text chapter3">

    <h1>- 61 -</h1>

    <p>Tu décides de te montrer sans pitié, tu lèves les mains au dessus de ta tête pour relancer une puissante attaque. Mais tu sens une main se refermer fermement sur ton poignet gauche. Méonie t'arrête alors que tu allais certainement détruire toute l'île de l'Académie.</p>

    <p>
      - Maîtrise-toi un peu ! fait la prophète avec un regard noir. Tu voulais tuer tout le monde ?<br />
      - Hein ? Non, Usaki était là ! Il est encore dans le coin, mais invisible.<br />
      - Je ne ressens pas sa présence...<br />
      - C'est un sort de magie de la lune : la cape de la nuit. C'est un sort qu'il a inventé, je le connais.<br />
      - Si tu es obligé<span class="sf">e</span> de détruire toute l'Académie pour ça : oublie ! fait Méonie avec un applomb comme tu ne lui en avais jamais connu.
    </p>

    <p><span class="naorem"></span> finit par arriver, accompagné par plusieurs autres mages réveillés par ton attaque. Tu expliques aux deux prophètes ce que le noctule t'a raconté.</p>

    <p>
      - Si Usaki a vraiment trouvé Arak, ça expliquerait pourquoi on n'a plus de nouvelles de lui, fait <span class="naorem"></span>.<br />
      - Vraiment ? On ne sait pas où est Arak ? demandes-tu.<br />
      - D'habitude par télépathie on y arrivait mais récemment plus aucun contact ne passait. On pensait que c'était dû à la distance.<br />
      - Il semblerait bien que nous ne sommes plus que 3 prophètes, fait Méonie inquiète.<br />
      - Usaki est notre ennemi, Soufflardent nous l'avait dit, leur assènes-tu.<br />
      - Tu as raison, te répond <span class="naorem"></span> après un temps de réflexion. A partir de demain, tous les mages de l'Académie seront à sa recherche. Je serai bien sûr aussi de la partie.
    </p>

    <p>Alors que tu pensais aller te recoucher, tu te rends compte que tu as complètement détruit le dortoir des jeunes mages. Plusieurs élèves sont en train de pleurer. Tu as probablement tué certains d'entre eux. Ce n'est pas ce que tu voulais...</p>

    <p>
      - Voilà ce qui se passera chaque fois que tu voudras utiliser ton pouvoir pour détruire, te dit Méonie derrière ton dos. Retourne te coucher, je vais les aider.<br />
      - Je vais t'aider aussi...<br />
      - Tu en as assez fait !! Retourne - te - coucher, fait la mage en insistant.
    </p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="88">Laisser Méonie réparer tes bêtises et aller te coucher</div>
    </div>

</div>
