<div class="num num-1-3-62">

  <div class="text chapter3">

    <h1>- 62 -</h1>

    <p>Alors que la fumée de l'explosion commence à retomber, tu te rends compte que tu as complètement détruit le dortoir des jeunes mages. Plusieurs élèves sont en train de pleurer. Tu as probablement tué certains d'entre eux. Ce n'est pas ce que tu voulais...</p>

    <p>
      Méonie apparait juste derrière toi : <br />
      - Qu'est-ce qu'il s'est passé ici ? demande-t-elle inquiète.<br />
      - Heu… Usaki était là, on s'est battu.
    </p>

    <p>Vous vous précipitez tou<span class='sf'>te</span>s les deux pour aider les jeunes mages. Méonie a développé ses pouvoirs pour aider et guérir, elle a tous les bons réflexes pour réagir face à la catastrophe que tu as provoquée. <span class="naorem"></span> apparait un peu plus tard, il semble beaucoup moins concerné même si normalement c'est lui qui est en charge des mages.</p>

    <p>Tu leur expliques la présence d'Usaki et ce qu'il a dit sur Arak.</p>

    <p>
      - Si Usaki a vraiment trouvé Arak, ça expliquerait pourquoi on n'a plus de nouvelles de lui, fait <span class="naorem"></span>.<br />
      - Vraiment ? On ne sait pas où est Arak ? demandes-tu.<br />
      - D'habitude par télépathie on y arrivait mais récemment plus aucun contact ne passait. On pensait que c'était dû à la distance.<br />
      - Il semblerait bien que nous ne sommes plus que 3 prophètes, fait Méonie inquiète.<br />
      - Usaki est notre ennemi, Soufflardent nous l'avait dit, leur assènes-tu.<br />
      - Tu as raison, te répond <span class="naorem"></span> après un temps de réflexion. A partir de demain, tous les mages de l'Académie seront à sa recherche. Je serai bien sûr aussi de la partie.
    </p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="88">Continuer</div>
    </div>

</div>
