<div class="num num-1-3-63">

  <div class="text chapter3">

    <h1>- 63 -</h1>

    <p>En pénétrant dans les sous-sols de la tour, tu remarques que ton ancien ami de première année, Panacle, travaille désormais avec les gardiens des geôles de la tour. Ils sont là pour mettre au point des artefacts pour empêcher quiconque de s'enfuir. Il te conduit jusqu'à la cellule de Lasseni et t'ouvre la porte. Elle se lève quand tu rentres. Elle est vivante mais a l'air d'avoir eu un traitement plutôt dur.</p>

    <p>
      -Lass' ça va ? demandes-tu. Je vais te sortir de là.<br />
      - Moi ça va, mais mon frère…? Tu l'as vu ?<br />
      - Non, pas encore. Mais on m'a dit qu'il était vivant.
    </p>

    <p>Lasseni semble soulagée. Puis elle reprend ses esprits beaucoup plus sérieusement.</p>

    <p>
      - Tu es donc leur allié<span class="sf">e</span> ? Pourquoi suis-tu ces monstres ?<br />
      - … Soufflardent nous a toujours donné sa magie, sans lui on n'aurait pas connu le monde qu'on a aujourd'hui. Le haïr et nous haïr juste parce que nous avons le pouvoir est injuste.<br />
      - Regarde la manière dont vous nous avez traité.<br />
      - Je ne dis pas que nous sommes exempts de reproches, fais-tu timidement. Mais nous sommes humains, accorde nous qu'aucun de nous n'est identique. Il y a des mages de l'Académie bons et d'autres mauvais, non ?<br />
      - Tu veux dire que les autres prophètes sont des monstres mais que TOI tu mérites qu'on t'accorde notre confiance ? demande Lasseni.<br />
      - … Je n'ai pas changé Lass', je suis toujours <span class="sf">la</span><span class="sg">le</span> même qu'avant. Seul mon pouvoir a changé.
    </p>

    <p>Lasseni veut bien te croire mais semble ne pas pouvoir t'accorder toute sa confiance.</p>

    <p>- … le pouvoir change les hommes, dit tout bas Lasseni pendant que tu la fais sortir de sa cellule.</p>

    <p>Fandrean, dans la cellule d'à côté, est plus amoché. Tu le fais sortir également, Lasseni l'aide pour qu'il puisse marcher. La magie est interdite dans les sous-sols, c'est seulement en retournant au rez-de-chaussée de la tour que vous pouvez le soigner avec quelques sorts. Alors qu'un attroupement commence à se faire autour du mage, tu décides de t'éclipser discrètement.</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="57">Continuer</div>
    </div>

</div>
