<div class="num num-1-3-64">

  <div class="text chapter3">

    <h1>- 64 -</h1>

    <p>Leng Fao essaie de te persuader de ne pas te rendre à la capitale. Usaki semble lui faire peur, et elle pense que tu ne pourras pas repartir de là-bas. Mais tu ne vois pas de meilleur moyen pour lui faire renoncer à son projet que d'aller le voir.</p>

    <p class="middle">*</p>

    <p>Se déplacer à la surface de la lune n'est pas difficile, la gravité étant moindre tu fais des bonds formidables, et tu arrives à suivre le rythme de marche des noctules qui t'accompagnent. Ils veulent te montrer le chemin mais n'espère pas qu'ils viennent avec toi rencontrer Usaki.</p>

    <p>Après une marche de quelques heures tu vois se profiler des tours blanches au loin. La capitale regroupe l'essentiel de la population noctule d'après ce que t'a dit Leng Fao. Et de loin tu dois l'avouer : cette ville parait gigantesque. Au moins dix fois plus grande que l'Académie. L'effet de grandeur est d'autant plus marqué que les noctules sont beaucoup plus grands que les humains et les bâtiments sont, bien entendu, à leur taille. Plus tu te rapproches et plus tu te sens écrasé<span class="sf">e</span> par la ville.</p>

    <p>Tes accompagnateurs finissent par te dire aurevoir. Leng Fao est triste de ta décision mais la respecte. Tu leur fais un signe de la main et continues d'avancer jusqu'aux faubourgs de la ville. Contrairement aux villes humaines, il n'y a aucune muraille. Il faut dire qu'il y a très peu de bêtes sauvages et elles ne sont pas vraiment violentes.</p>

    <p>Dès ton entrée dans la ville, les regards se braquent sur toi. Certains jeunes noctules, qui n'ont jamais vu d'humains, t'approchent alors que leurs parents leur disent de reculer. En tout cas c'est ce que tu crois comprendre. Il ne faut pas longtemps avant qu'une dizaine de grands noctules se placent devant toi l'air sérieux. Tu penses, vu leur tenu très défensive, qu'il s'agit de la garde la ville.</p>

    <p>- Je m'appelle <span class="tonnom"></span>, je suis ici pour parler à Usaki. Vous comprenez ?</p>

    <p>Mais aucune réponse de leur part, certains se parlent entre eux mais tu ne comprends rien.</p>

    <p>
      - USAKI ! USAKI ! Vous comprenez ? Je veux voir USAKI ! fais-tu pour qu'ils comprennent au moins le nom de leur chef.<br />
      - Usaki de lingui faür mit ? te répond celui que tu penses être le chef de la troupe.<br />
      - Oui...Usaki.
    </p>

    <p>Les gardes te font signe de les suivre, certains t'entourent pour éviter que tu t'enfuies. Ou que tu causes des dégâts peut-être.</p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch" data-go="65">Suivre les gardes</div>
    </div>

</div>
