<div class="num num-1-3-65">

  <div class="text chapter3">

    <h1>- 65 -</h1>

    <p>On t'amène jusqu'à un palais gigantesque, les murs sont tous d'un blanc éclatant. Les sols resplendissent également. Puis on te fait attendre sur une sorte de chaise en pierre trop haute. Tu es presque obligé<span class="sf">e</span> de l'escalader pour monter dessus.</p>

    <p>Après un petit moment d'attente un noctule habillé très élégamment apparait. Il est accompagné par toute une troupe d'autres noctules qui semblent vouloir lui lécher les bottes.</p>

    <p>
      - <span class="tonnom"></span> ! Quelle bonne surprise, te dit le noctule.<br />
      - … Usaki ? fais-tu en essayant de deviner de qui il s'agit.<br />
      - C'est bien moi, ou plutôt général Usaki. J'ai l'impression que tu n'arrives pas à différencier les noctules entre eux, n'est-ce pas ?<br />
      - Vous êtes tous les mêmes pour moi je dois avouer.
    </p>

    <p>Malgré ta remarque déplacée Usaki ne s'offusque pas. Il est même étrangement souriant.</p>

    <p>
      - Tu es arrivé<span class="sf">e</span> sur la lune de quelle manière ? te demande-t-il.<br />
      - Je ne suis pas venu<span class="sf">e</span> discuter de ça, mais plutôt je voudrai qu'on discute de cette guerre que tu prépares. Je suis sûr<span class="sf">e</span> qu'il y a un moyen qu'on s'entende.<br />
      - Hi hi hi. Mais tu n'es personne <span class="tonnom"></span> sur ton monde. Tu ne représente pas les humains, et tout ce que tu pourrais dire n'engagerai que toi... Mais tu m'as fait un beau cadeau en venant jusqu'ici.<br />
      - Comment cela ? demandes-tu inqui<span class="sf">ète</span><span class="sg">et</span>.<br />
      - Je vais pouvoir dire aux noctules que les humains savent maintenant comment venir sur la lune. Et que tu veux nous forcer à partir. Il n'y a que moi ici qui parle ta langue.<br />
      - Misérable …<br />
      - Et en plus je suis certain que ce sont les noctules rebelles qui t'ont aidé, n'est-ce pas ? Eux aussi ça me donnera un prétexte pour me débarrasser d'eux. En tout cas je te remercie pour tes efforts. Jamais je n'aurai pensé que tout puisse se passer aussi bien pour moi.
    </p>

    <p>Usaki lance un ordre et deux gardes noctules te prennent par le bras. L'un d'entre eux lance un sort qui t'aveugle également. Lancer un sort t'es impossible tu ne sais pas pourquoi. Tu t'es jeté<span class="sf">e</span> dans la gueule du loup. Usaki rugit encore plusieurs ordres et un brouhaha retentit. Forcé<span class="sf">e</span> par les gardes, tu fus emmené<span class="sf">e</span> tu ne sais où, puis plaqué<span class="sf">e</span> sur le sol froid. Sans savoir ce qui t'arrives tu commença à sentir ton corps aspiré par le sol sans pouvoir bouger. La boue lunaire finit par recouvrir ton cou et ton visage pour t'engloutir totalement. Ta vie prit fin sans douleur.</p>

    <p><em>L'aventure se termine là pour toi.</em></p>

  </div>


  <!---------------- --------------------->

    <div class="choix">
      <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
    </div>

</div>
