<div class="num num-1-3-66">

  <div class="text chapter3">

    <h1>- 66 -</h1>

    <p>Tu proposes à Leng Fao de faire venir sur terre tout le village. Elle semble d'abord contente de ta réponse puis se referme un peu pour finalement lâcher :</p>

    <p>
      - Parmis les gens du village il n'y a pas beaucoup de mages puissants. Et à part moi, personne ne maîtrise les magies de la terre, fait-elle. En d'autres termes : personnes à part moi pourra lancer un sort de masque pour passer inaperçu.<br />
      - … Je vois, fais-tu. Et puis personne ne parle notre langue non plus… Mais je vous trouverai un endroit où vous installer. Je vous le promet.
    </p>

    <p>Leng Fao te fait confiance et te sert la main. Puis elle en parle aux autres membres du villages. Les plus petits, qui sont certainement les plus jeunes, semblent emballés mais d'autres sont beaucoup plus inquiets. Leng Fao te dit qu'elle va devoir présenter l'affaire au chef du village et aux membres les plus importants ici, et que ça peut durer un petit peu.</p>

    <p>Bien évidemment tu es invité<span class="sf">e</span> à expliquer ce que tu proposes. Leng Fao relaie ta parole en faisant la traduction. Votre discussion dure si longtemps que le repas du soir est servi. Par la fenêtre, la terre n'est plus visible. Il fait aussi noir à l'extérieur que dans une grotte. Mais les flammes des torches magiques vous éclairent encore.</p>

    <p>Le dîner est surprenant, ne contenant, bien entendu, que des plats inconnus. Certains sont plutôt bons mais la plupart sont immangeables pour toi. Leng Fao assure pourtant que sur terre les noctules pourront trouver facilement de quoi manger.</p>

    <p>Finalement, le chef accepte ton idée mais te demande où exactement tu comptes les amener.</p>


  <div class="choix">
    <div class="ch" data-go="67">Je vous propose de vous installer à la forteresse de la Lune</div>
    <div class="ch" data-go="68">Je vous propose de vous installer à l'endroit de l'ancienne tour d'Azano</div>
  </div>

</div>
