<div class="num num-1-3-67">

  <div class="text chapter3">

    <h1>- 67 -</h1>

    <p>Leng Fao trouve l'idée plutôt bonne. Les gens de la forteresse ont déjà eu affaire à Usaki et donc connaissent les noctules. C'est probablement le meilleur endroit pour s'installer. Néanmoins accueilleront-ils facilement une centaine de nouvelles personnes après avoir déjà accueilli les gens de la tour d'Azano ?</p>

    <p>Les noctules du village commencent tout de même à se préparer à partir. On te prévient qu'il faut de toute façon attendre que la terre soit en vue pour pouvoir s'y rendre avec les artefacts. Leng Fao te conseille de prendre un peu de repos, ce que tu fais bien volontiers dans un lit 3 fois trop grand pour toi.</p>

    <p class="middle">*</p>

    <p>A ton réveil, les derniers paquets sont encore en train de se faire. La terre est revenue, le soleil est également là mais le ciel est toujours noir par contre. Leng Fao s'avance vers toi :</p>

    <p>
      - Toi et moi allons passer en premier, te dit-elle. Nous devons nous assurer d'être sur place pour accueillir les noctules n'ayant jamais été sur terre.<br />
      - Entendu, acquiesces-tu.<br />
      - Je suis déjà passée par la forteresse donc je vais calibrer l'artefact pour être amenée pas trop loin.<br />
      - T'es déjà allée là-bas ? t'étonnes-tu.<br />
      - Hé, je suis une mage-journaliste. Je vais partout.
    </p>

    <p>Leng Fao fait un petit geste de victoire aux autres villageois et vous partez, enveloppés par la lueur rouge que tu connais. Et peu de temps après, te voilà de retour sur terre, en pleine montagne.</p>

    <p>
      - Où sommes-nous ? Je ne vois pas la forteresse, demandes-tu.<br />
      - J'ai préféré nous amener un peu à côté, te fait Leng Fao. Il ne faudrait pas faire trop peur aux gens d'ici.
    </p>

    <p>Et, un par un, tout le village de Leng Fao apparait à vos côtés. Tu sens que cette dernière se fatigue au fur et à mesure que les noctules arrivent.</p>

    <p>
      - Ça va ? lui fais-tu. Qu'est-ce qu'il se passe ?.<br />
      - L'artefact s'active avec mon énergie...pffu. Du coup à chaque utilisation ça consomme mon énergie.
    </p>

    <p>Tu lui prends des mains.</p>

    <p>
      - Je me charge de la suite, repose-toi.<br />
      - Mais… tu sais l'utiliser ?<br />
      - Il suffit de concentrer ton énergie dessus non ?
    </p>

    <p>Tu joins l'action à la parole et amène déjà un noctule grâce à l'artefact. Puis à tour de rôle vous arrivez à faire descendre tous les noctules jusqu'à vous.</p>


  <div class="choix">
    <div class="ch" data-go="69">Continuer</div>
  </div>

</div>
