<div class="num num-1-3-68">

  <div class="text chapter3">

    <h1>- 68 -</h1>

    <p>Leng Fao trouve l'idée plutôt bonne. Il n'y a normalement plus personne là-bas. Néanmoins les marais sont extrêmement dangereux et les monts noirs ne sont pas loin. Même avec une présence moindre des dragons, ils restent énormément de bêtes très dangereuses.</p>

    <p>Les noctules du village commencent tout de même à se préparer à partir. On te prévient qu'il faut de toute façon attendre que la terre soit en vue pour pouvoir s'y rendre avec les artefacts. Leng Fao te conseille de prendre un peu de repos, ce que tu fais bien volontiers dans un lit 3 fois trop grand pour toi.</p>

    <p class="middle">*</p>

    <p>A ton réveil, les derniers paquets sont encore en train de se faire. La terre est revenu, le soleil est également là mais le ciel est toujours noir par contre. Leng Fao s'avance vers toi :</p>

    <p>
      - Toi et moi allons passer en premier, te dit-elle. Nous devons nous assurer d'être sur place pour accueillir les noctules n'ayant jamais été sur terre.<br />
      - Entendu, acquiesces-tu.<br />
      - Je suis déjà passée par l'ancienne tour donc je vais calibrer l'artefact pour être amené pas trop loin.<br />
      - T'es déjà allée là-bas ? t'étonnes-tu.<br />
      - Hé, je suis une mage-journaliste. Je vais partout.
    </p>

    <p>Leng Fao fait un petit geste de victoire aux autres villageois et vous partez, enveloppés par la lueur rouge que tu connais. Et peu de temps après te voilà de retour sur terre, sur les ruines de la tour d'Azano. Juste à côté de vous une poignée de personnes est affairée en train de chercher des choses dans les ruines. Votre arrivée les perturbe un peu, mais bien vite ils retrouvent des couleurs. Certains te reconnaissent.</p>

    <p>
      - Vous êtes revenus pour nous aider à rebatir la ville ? fait l'un d'entre eux tout content.<br />
      - Fandrean nous l'avait promis. C'est lui qui vous envoie ? fait une autre.
    </p>

    <p>Leng Fao te tire la manche et te murmure.</p>

    <p>
      - Qu'est-ce qu'il se passe ?<br />
      - Heu… J'ai l'impression que les gens qui habitaient ici sont en train de préparer leur réaménagement.<br />
      - On ne va pas pouvoir amener les villageois de mon peuple ici, si ? demande Leng Fao.<br />
      - Attends, je vais parler avec ces gens.
    </p>

    <p>Tu ne sais pas trop ce que tu vas leur dire mais tout le monde attend que tu parles.</p>


  <div class="choix">
    <div class="ch" data-go="70">Heu… nous allons vous aider à rebâtir le village avec l'aide de nos amis noctules</div>
    <div class="ch" data-go="96">Heu… en fait cet endroit a été donné aux noctules, vous pouvez aller ailleurs ?</div>
    <div class="ch" data-go="97">Heu… nous ne pouvons pas vous aider tout de suite [chercher un autre endroit où installer les noctules]</div>
  </div>

</div>
