<div class="num num-1-3-69">

  <div class="text chapter3">

    <h1>- 69 -</h1>

    <p>Une fois tout le monde arrivé sur terre, tu notes que leur première réaction à tous est de regarder tout autour d'eux. La plupart sont en admiration devant les couleurs qui les entourent. Et pourtant vous n'êtes entourés que par des rochers. Mais le ciel est bleu, certains réussissent à observer des animaux de montagnes ou des oiseaux. Et un peu de végétation apparait ça et là. Des choses banales mais qui manquent cruellement sur la lune, comme tu as pu t'en rendre compte.</p>

    <p>
      - Bon, suivez-nous ! lance Leng Fao à la populace dans sa langue.
    </p>

    <p>La mage-journaliste avait raison, en passant juste la petite crête derrière vous, vous arrivez déjà devant la forteresse. Tu vois qu'il y a du monde à l'extérieur et votre arrivée est d'autant plus remarquée.</p>

    <p>Visiblement les villageois de la tour d'Azano ont décidé d'essayer de commencer à reconstruire leur ville. Certains sont déjà retournés prés des marais, accompagnés de quelques mages de la forteresse pour les protéger.</p>

    <p>Les gens de la forteresse ne savent pas trop s'ils doivent accepter la requête des noctules. Il faut dire qu'il s'agit d'une histoire incroyable. Et que faire s'il s'agit d'une ruse des noctules pour envahir la forteresse ? Mais comme tu as décidé de faire confiance à Leng Fao et son village, tout le monde est accueilli.</p>

  <div class="choix">
    <div class="ch" data-go="98">Continuer</div>
  </div>

</div>
