<div class="num num-1-3-7">

  <div class="text chapter3">

    <h1>- 7 -</h1>

    <p>- Ok je vais vous rejoindre… mais vous pouvez vous écartez un peu. J'essaie de... enfin vous voyez ?<br />
      - Oh je ne voulais vraiment pas vous gêner. Excusez-moi.</p>

    <p>Leng Fao s'écarte et tu as le temps de laisser un message derrière toi pendant qu'elle te laisse tranquille. On ne sait jamais. Puis tu retournes la voir.</p>

    <p>- Bien j'aimerai bien expliquer mon départ à mes compagnons avant de vous suivre.<br />
      - Absolument hors de question. Ils arriveraient à vous convaincre de rester. Et je ne souhaite pas argumenter avec des gens comme Fandrean qui ne voudront pas m'écouter.<br />
      - Vous avez l'air de le connaître, fais-tu.<br />
      - Un peu. J'ai déjà eu à parler avec lui. Après tout je suis une journaliste, c'est mon travail de parler avec tous les mages les plus puissants.
    </p>

    <p>Pendant toute votre conversation tu as pu observé que Leng Fao n'a pas cligné une seule fois des yeux. Soit c'est de la magie soit elle n'est pas humaine.</p>

    <p>- Et où allons-nous alors ? demandes-tu.</p>

    <p>Leng Fao sort un petit artefact de son sac à dos et te le pose dans les mains. Elle en sort un autre pour elle également.</p>

    <p>- J'espère que vous n'êtes pas sujet<span class="sf">te</span> au mal des transports. Ça risque de secouer un peu, te dit-elle toujours en souriant.<br />
      - Attendez c'est quoi cet objet magiiiiiiiiiiii.....</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="10">Un grand éclair rouge surgit du ciel pour t'enrober toi et Leng Fao</div>
  </div>

</div>
