<div class="num num-1-3-70">

  <div class="text chapter3">

    <h1>- 70 -</h1>

    <p>Tu expliques à Leng Fao que cela semble la meilleure idée pour faire accepter aux gens la présence des noctules. En plus, ça permettra aux noctules de s'intégrer plus facilement. La mage-journaliste est d'accord, mais il reste à convaincre les villageois. Tu t'avances alors vers eux sans encore savoir ce que tu vas leur raconter.</p>

    <p>
      - En fait, …heu… nous avons des amis qui pourraient vous donner un coup de main, dis-tu. Ils sont assez nombreux alors le travail devrait être assez rapide.<br />
      - Hein ! Super ! s'écrient les villageois.<br />
      - Mais… heu… serait-il possible qu'ils puissent rester au village également ? demandes-tu.<br />
      - Bien sûr, le problème dans les environs c'est pas les ressources, c'est plutôt les monstres. Et si on a plus de gens pour défendre le village, alors c'est mieux pour tout le monde.
    </p>

    <p>Leng Fao est ravie de la réponse. Vous n'avez pas encore précisé que les personnes qui arriveront seront des noctules et pas des humains par contre. Mais tu préfères leur expliquer quand vous ferez descendre de la lune le premier d'entre eux.</p>

    <p>Leng Fao se concentre sur son artefact et un rayon rouge apparait faisant apparaitre un premier noctule. Les villageois restent bouche-bées devant la bête. Le noctule lui-même est également surpris en voyant autant de monde.</p>

    <p>
      - QU... QU'EST-CE QUE C'EST QUE CE MONSTRE ?! fait un villageois en reculant comme s'il allait s'enfuir.<br />
      - Hola hola ! Tout le monde garde son calme ! tentes-tu pour apaiser les esprits. Ces gens sont des noctules, ils ne vous feront aucun mal. Ils vont vous aider à reconstruire le village... D'accord ?<br />
      - Ils… ils ne sont pas dangereux ?<br />
      - Vous vous souvenez de moi ? J'ai aidé votre village pendant l'attaque des adorateurs de Soufflardent. Je vous le garantie : ces noctules veulent seulement un endroit où vivre en paix. Est-ce que vous pensez pouvoir partager le village avec eux ?
    </p>

    <p>Les villageois se parlent entre eux pendant que Leng Fao explique au noctule ce qu'il se passe.</p>

    <p>
      - Entendu, mais le village sera dirigé par un humain quand même, dit un des villageois, applaudi par les autres.
    </p>

    <p>Tu ne sais pas si c'est une bonne idée de laisser les humains au pouvoir dans le village. Les noctules seront certainement content de pouvoir déjà rester sur terre, mais il ne faudrait pas qu'ils soient traités comme des êtres inférieurs. Car sinon ça pourrait les faire rejoindre les troupes d'Usaki. Leng Fao semble te faire confiance sur la décision à prendre.</p>


  <div class="choix">
    <div class="ch" data-go="71">Entendu le village sera dirigé par un humain</div>
    <div class="ch" data-go="72">Le village ne pourrait-il pas être dirigé par un conseil à moitié humain et à moitié noctule ?</div>
  </div>

</div>
