<div class="num num-1-3-72">

  <div class="text chapter3">

    <h1>- 72 -</h1>

    <p>Les villageois ont un peu peur de perdre leur village complètement s'ils le partagent avec des inconnus. Mais d'un autre côté, avant c'était les mages qui organisaient tout ce qu'il y avait à faire sans demander leur opinion au villageois. Les humains serrèrent la main du noctule, provoquant un sourire sur le visage de Leng Fao. Les humains ne s'attendaient pas à voir débarquer autant de lapins géants. Ils étaient encore un peu inquiets quand le dernier noctule arriva. Mais très vite ils comprirent qu'ils leur apporteraient vraiment quelque chose en plus.</p>

    <p>Le déblaiement de l'ancien village s'effectua assez vite grâce à eux. Et puis avec ta magie et celle de Leng Fao tout se fit plus rapidement aussi. Tu entendis un villageois raconter que des monstres des marais s'enfuyaient quand ils voyaient des noctules, et les humains se mirent à comprendre qu'ils pourraient cohabiter ensemble.</p>

    <p class="middle">*</p>

    <p>Au fil des jours, le reste des humains du village arriva depuis la forteresse de la lune. Certains mages de la forteresse les accompagnaient d'ailleurs quand ils entendirent parler des noctules. Comme les mages de la forteresse connaissaient Usaki, ce fut à ce moment là que tu décidas de raconter l'histoire des noctules à tout le monde. Certains humains commencèrent à se demander si c'était une bonne idée de garder les noctules dans le village, mais la plupart avouèrent que leur présence était indispensable tant qu'il n'y avait pas plus de mages au village.</p>

    <p>C'est ainsi que le village d'Azano fut reconstruit. Mais sans son emblématique tour. Elle sera, peut-être, rebâtie quand des mages reviendront habiter ici.</p>

    <p class="middle">*</p>

    <p>Peu de temps après avoir enfin réussi à loger tout le monde, un groupe de mages arriva au village. Alors que tu t'attelais à la construction du nouveau moulin avec des noctules, Ely, un membre du nouveau conseil du village passe te voir accompagné par ces mages.</p>

    <p>
      - <span class="tonnom"></span> ! Y a des gens pour toi. Ils ont fait un sacré voyage pour te voir.<br />
      - Hein ? fis-tu étonné<span class="sf">e</span>.<br />
      - Hé ben, si on nous avait dit qu'on te retrouverait ici, fait une voix familère.
    </p>

    <p>Mac Lumy, Anselm, Haziko, Panacle et Kannan te saluent. Depuis la poutre sur laquelle tu te tenais, tu en lâche ton marteau et tu ne peux retenir un large sourire. Tu sautes à terre en ralentissant ta chute par magie.</p>

    <p>
      - Vous êtes là…? Et même tous là ? Je dois avouer que je ne m'y attendais pas.<br />
      - Je vois que tu n'as pas chômé, remarque Mac Lumy. D'où viennent tous ces noctules ?<br />
      - C'est une longue histoire, fais-tu. Je vais vous raconter ça.<br />
      - Nous aussi on a une histoire à te raconter, certainement moins belle que la tienne mais tout aussi importante, ajoute Kannan.
    </p>

    <p>Ils prennent tous un air sérieux. Quelque chose de grave a dû arriver.</p>


  <div class="choix">
    <div class="ch" data-go="99">Continuer</div>
  </div>

</div>
