<div class="num num-1-3-73">

  <div class="text chapter3">

    <h1>- 73 -</h1>

    <p>Leng Fao accepte de te faire confiance et, après que la noctule de la maison t'ait donné un petit baluchon de nourriture locale, on te renvoie sur terre. Tu es prévenu<span class="sf">e</span> que tu n'atterriras pas à côté de l'Académie. Cela pour ne pas apeurer les gens de la terre avec un rayon rouge venant de la lune. Et aussi pour être un peu discret.</p>

    <p>Le voyage se fait aussi rapidement qu'à l'aller. Tu te retrouves sur une petite colline assez loin de l'Académie. Néanmoins tu arrives encore à apercevoir le lac Déluine. Tu décides de ne pas perdre de temps et de déployer tes pouvoirs pour rejoindre ton but le plus rapidement possible. La nuit va bientôt tomber.</p>

    <p class="middle">*</p>

    <div class="tourdetruite">
      <p>Quelques minutes plus tard tu arrives dans la cours de l'école. Il y a pas mal de mouvements. Des mages semblent faire respecter une sorte de couvre-feux. En te voyant, ils te saluent par crainte en te disant que <span class="naorem"></span> et Méonie sont dans la tour. La tour qui a été reconstruite, encore plus belle qu'avant.</p>

      <p>Tu penêtres dans la tour d'un pas décidé.</p>
    </div>
    <div class="tourdetruite-no">
      <p>Quelques minutes plus tard tu arrives dans la cours de l'école. Il y a pas mal de mouvements. Des mages semblent faire respecter une sorte de couvre-feux. </p>

      <p>
        - Halte ! Fait un des mage-gardes. Qui êtes-vous ? Déclinez votre identité.<br />
        - Je suis <span class="tonnom"></span>. J'ai été élève ici il y a pas si longtemps.<br />
        - On va vous donner une chambre pour la nuit puis vous vous présenterez aux maîtres de l'Académie.<br />
        - Pas le temps, amenez-moi auprès des mages supérieurs, Soyos ou n'importe qui !... c'est une urgence !
      </p>

      <p>Les gardes se regardent ne sachant pas trop quoi faire. Visiblement quelque chose les dérange. Il s'est passé un événement ici. L'un d'entre eux te dit de le suivre et vous partez ensemble dans la tour. Et après avoir monté le premier étage, tu vois <span class="naorem"></span> en train de donner des ordres à un groupe de mages. Tu es surpris<span class="sf">e</span>, puis tu comprends. Les prophètes ont pris possession des lieux. L'Académie d'Azalys est désormais aux mains des héritiers de Soufflardent.</p>
    </div>

    <p>
      - <span class="tonnom"></span> ! te dit <span class="naorem"></span>. Enfin une bonne surprise… en tout cas j'espère. Pendant un moment j'ai cru que tu avais rejoint les rebelles.<br />
      - … Comment ça ? demandes-tu curieu<span class="sf">se</span><span class="sg">x</span><br />
      - Nous avons conquis l'académie… mais déjà une faction rebelle a vu le jour. Impossible de les localiser, ils utilisent une magie qu'on arrive pas à maîtriser. Une magie qui ne nécessite pas notre pouvoir.<br />
      - Soufflardent nous a pourtant donné toute sa magie, non ?<br />
      - Oui… c'est pour ça qu'on se demandait si tu n'en faisais pas partie… de cette rébellion.<br />
      - … Usaki. C'est lui qui est derrière tout ça. Il maîtrise la magie de la lune.
    </p>

  <div class="choix">
    <div class="ch" data-go="74">Continuer</div>
  </div>

</div>
