<div class="num num-1-3-74">

  <div class="text chapter3">

    <h1>- 74 -</h1>

    <p>Méonie, l'autre prophète présente à l'académie vous rejoint. Vous vous isolez dans une pièce proche. Tous les deux t'expliquent que la rébellion a déjà réussi à se défaire d'Arak. Le prophète impétueux n'a plus donné signe de vie depuis un bon moment déjà et plus personne n'arrive à le joindre télépathiquement ou à sentir son énergie. Tu te décides alors à leur raconter ton aventure lunaire. Cela les laisse perplexes. Tu reprends la parole :</p>

    <p>
      - Usaki est certainement derrière la rébellion, expliques-tu. La magie de la lune ne dépend pas de notre pouvoir : il est impossible d'empêcher son utilisation. Il essaie de créer une guerre entre nous, humains, avant d'amener ses troupes sur terre.<br />
      - C'est affreux ! s'exclame Méonie. Que pouvons faire ?<br />
      - Ils faut réussir à faire la paix avec cette rébellion en leur expliquant qu'ils sont manipulés par un général noctule.<br />
      - Ils ne nous croiront jamais, réplique <span class="naorem"></span>. Ils vont penser qu'on veut juste conserver tout notre pouvoir. Ils ne comprennent pas qu'on fait tout ça pour créer un monde parfait. Ces mécréants vont à l'encontre de personnages divins comme nous ! <br />
      - … Je… Nous ne sommes pas des dieux, fait Méonie.<br />
      - Nous en avons le pouvoir, dit <span class="naorem"></span>.
    </p>

    <p>La pièce reste silencieuse pendant quelques instants. Chacun réfléchissant à une solution.</p>

    <p>
      - Je vais exploser la lune, fait <span class="naorem"></span> en rompant le silence. S'il n'y a plus de noctule, il ne restera plus que le problème des rebelles. Mais en voyant un pouvoir pareil cela devrait en faire réfléchir plus d'un.<br />
      - Attend ! fais-tu. Il y a plein de noctules qui n'ont rien à voir avec tout ça. Ils veulent juste un endroit où vivre.<br />
      - ILS VEULENT NOUS ENVAHIR ! C'est eux ou nous ! éructe <span class="naorem"></span>.<br />
      - … Si nous sommes des dieux, comme tu le dis, il doit y avoir une autre solution, réplique Méonie. Un moyen de contenter tout le monde.<br />
      - Je pense qu'à nous trois, nous pourrions redonner vie à la lune, exprimes-tu. En envoyant un peu de notre pouvoir sur la lune.<br />
      - Maître Soufflardent nous a appris que Usaki était notre ennemi ultime. Il est en train de fomenter une rébellion en manipulant des humains. Il prévoit aussi d'envahir la terre… et toi tu veux l'aider ?<br />
      - Non, non… Je dis juste que je pense que c'est possible.
    </p>

    <p>De nouveau tout le monde se tut. Et alors que tu allais reprendre la parole, <span class="naorem"></span> décide de calmer un peu la situation.</p>

    <p>
      - Ok. Je vous propose de réfléchir à tout ça cette nuit et de voter pour une solution demain matin.
    </p>


  <div class="choix">
    <div class="ch def-pas-naif" data-go="114">Se reposer</div>
    <div class="ch" data-go="106">Tenter d'entrer en contact avec la rébellion pendant la nuit</div>
  </div>

</div>
