<div class="num num-1-3-75">

  <div class="text chapter3">

    <h1>- 75 -</h1>

    <p>Leng Fao accepte de te faire confiance et, après que la noctule de la maison t'ait donné un petit baluchon de nourriture locale, on te renvoie sur terre. Tu es prévenu<span class="sf">e</span> que tu n'atterriras pas à côté de l'Académie. Cela pour ne pas apeurer les gens de la terre avec un rayon rouge venant de la lune. Et aussi pour être un peu discret.</p>

    <p>Le voyage se fait aussi rapidement qu'à l'aller. Tu te retrouves sur une petite colline assez loin de l'Académie. Néanmoins tu arrives encore à apercevoir le lac Déluine. Il va bientôt faire nuit. Tu as encore le temps de t'approcher jusqu'au lac mais pas plus loin. Il y a beaucoup de villages sur les rives du lac, tu devrais facilement trouver un endroit où passer la nuit.</p>

    <p>Après quelques heures de marche, te voilà arrivé<span class="sf">e</span> au port d'Eaux-Claires, un village de pêcheurs. Tu pourras sûrement prendre un bâteau pour l'académie demain matin. Le village est beaucoup plus animé que tu ne l'aurais imaginé. Tu te demandes si tu trouveras de la place à l'auberge. "Le relai des pêcheurs" est encore illuminé, est tu entends des chants. Tu pénètres dedans sans te douter de ce que tu y trouverais.</p>

    <p>Espéride, ton ancienne professeur de l'académie est debout sur le bar en train de clamer un discours guerrier. Visiblement, un discours opposé à l'académie. Elle dit même que dès demain, une attaque contre la tour serait lancée. La foule, la soutien à gorge déployée. Tu reconnais dans la foule Kannan, présente elle aussi. Tu te faufiles jusqu'à elle.</p>

    <p>
      - Kannan ? Qu'est-ce que tu fais ici ? lui demandes-tu encore boulversé<span class="sf">e</span> par tout ce que tu viens de voir.<br />
      - <span class="tonnom"></span> ? Ben ça pour une surprise, te fait Kannan.<br />
      - <span class="tonnom"></span> ! Tu nous rejoins ? fait la voix de Mac Lumy en surgissant derrière toi.<br />
      - Qu... Mac ?
    </p>

    <p>Cette fois tu ne comprends plus rien du tout. Mac Lumy et Kannan te conduisent dehors prés d'un feux de camp où Panacle, Anselm et Haziko sont en train de manger des poissons grillés avec d'autres élèves de l'académie. Tu reconnais également plusieurs professeurs de magie que tu as déjà croisés.</p>

    <p>
      - Les prophètes, héritiers du pouvoir de Soufflardent ont pris l'académie. Les mages supérieurs n'ont rien pu faire. Fandrean est gardé prisonnier.<br />
      - Et Lasseni ? demandes-tu.<br />
      <span class="fin fin-1">
        - Elle est contrainte d'obéir, sinon c'est son frère qui sera torturé.<br />
        - Les… Il faut aller les sauver, fais-tu horrifié<span class="sf">e</span>
      </span>
      <span class="fin fin-2">
        - Elle est prisonnière également. Ils veulent l'utiliser pour manipuler Fandrean.<br />
        - Les… Il faut aller les sauver, fais-tu horrifié<span class="sf">e</span>
      </span>
    </p>

    <p>Espéride a pris le contrôle de la rébellion. En tout cas dans ce village. Il paraît qu'elle reçoit des ordres tous les matins du commandement de la rébellion, un certain général Allister. Ton ancienne professeur vient vous retrouver quand elle apprend ta présence.</p>

    <p>
      - Et bien, on dirait bien que toute votre promotion est rassemblée...ou presque.<br />
      - Madame, je suis porteu<span class="sf">se</span><span class="sg">r</span> d'informations urgentes. Je pensais les transmettre à l'académie. Mais maintenant...<br />
      - Je vais prendre le relai, que se passe-t-il ? te demande Espéride.
    </p>

    <p>Tu expliques alors devant tout le monde ton aventure lunaire. Tout le monde te fixe bouche-bée.</p>

    <p>
      - Cela ne change pas notre programme pour le moment, clame Espéride. Demain nous lanceront l'offensive prévue. Nous devons réussir à supprimer la prophétesse Méonie. Elle est notre cible principale de la journée. Quand nous en aurons fini avec les prophètes nous nous occuperons des noctules. Une chose à la fois.<br />
      - Mais Usaki va envoyer son armée. Si nous sommes en train de nous battre entre nous… ils auront la partie facile, fais-tu.<br />
      - Nous ne serons jamais une partie facile comme tu dis. Nous sommes en train de nous battre face des mages surhumains et nous en avons déjà tué un. Nous ne sommes pas à prendre à la légère.<br  />
      - … Vous… en avez tué un ?<br />
      - Oui, il était trop idiot pour comprendre qu'on l'envoyait dans un piège. Nous allons miser sur les points faibles de chaque prophète pour les faire tomber.
    </p>

  <div class="choix">
    <div class="ch" data-go="115">Continuer</div>
  </div>

</div>
