<div class="num num-1-3-76">

  <div class="text chapter3">

    <h1>- 76 -</h1>

    <p>C'est vrai que la magie de la lune est puisée de l'astre. Il n'a rien à voir avec la puissance que vous a donné Soufflardent. Mais avec tes connaissances de cette magie et ton pouvoir actuel, tu devrais pouvoir retracer les endroits où cette magie est utilisée. En te concentrant tu essaies de trouver son utilisation sur l'île de l'académie.</p>

    <p>Mais, bien entendu, tu ne ressens rien de spécial. Tu avais commencé par les endroits les plus proches, pour être sûr qu'Usaki n'avait pas infiltré Azalys. Satisfait<span class="sf">e</span> de n'avoir pas trouvé sa présence tu augmentes ta concentration pour visualiser la magie de la lune plus loin. C'est avec une grande surprise que tu te rends compte que la magie de la lune est présente autour du lac dans des petits villages et même plus loin. Il y a beaucoup plus de personnes qui connaissent la magie de la lune que tu ne l'aurais cru.</p>

    <p>- Hum… je crois que cela va être plus difficile que prévu, fais-tu. Je vais commencer par visiter les différents endroits que j'ai repéré autour du lac, je pense que notre ennemi ne doit pas être très loin de nous.<br />
      - Entendu, te répond <span class="naorem"></span>. Nous te laissons faire, c'est dans notre intérêt à tous de toutes façon d'arrêter ce monstre.<br />
      - Et si tu as besoin d'aide pour l'affronter, appelle-moi, lance cordialement Arak. Je réponds toujours présent pour une bonne baston.</p>

  <div class="choix">
    <div class="ch" data-go="77">Continuer</div>
  </div>

</div>
