<div class="num num-1-3-77">

  <div class="text chapter3">

    <h1>- 77 -</h1>

    <p>Tes collègues n'ont pas l'air trop inquiets par Usaki. Leur pouvoir a l'air de leur avoir monté un peu à la tête. Il faut dire que même toi, tu vois difficilement comment quelqu'un pourrait rivaliser avec tes nouveaux pouvoirs. Même les anciens mages supérieurs ont une aura qui les fait passer pour des premières années en magie si tu te comparais à eux.</p>

    <p>Quoi qu'il en soit, te voilà à la recherche de ces traces de magie de la lune qui tu as perçues autour du lac Déluine. Tu restes prudent<span class="sf">e</span> car tu ne sais pas vraiment sur quoi tu vas tomber. D'un coup de talon tu t'envoles avec tes nouveaux pouvoirs pour réattérir l'instant d'après à côté d'un petit village de pêcheurs.</p>

    <p>Les habitants sont interloqués de te voir arriver comme cela mais ne te font aucun problème. Ils ont tout de même déjà vu pas mal de mages en habitant ici. De ton côté tu remontes la piste de la magie de la lune jusqu'à l'auberge du coin. Elle est ouverte mais presque vide. Tu as dû ressentir une magie rémanente. La personne ayant manipulé l'énergie de la lune n'est peut être plus ici.</p>

    <p>Tu interroges tout le monde mais tu n'apprends rien. Personne n'a vu de lapin géant ou de personne ayant les traits de l'apparence humaine de Usaki. Tu te dis qu'il a certainement pris une nouvelle peau.</p>

    <p>Les autres points concentrant la magie de la lune ne change rien à l'histoire. Tu ne trouves jamais personne maniant cette magie de la lune. Juste des traces que quelqu'un en a canalisé, sans rien de plus. Un peu déçu<span class="sf">e</span> tu décides de retourner à l'Académie.</p>

  <div class="choix">
    <div class="ch" data-go="57">Retourner à l'académie</div>
  </div>

</div>
