<div class="num num-1-3-78">

  <div class="text chapter3">

    <h1>- 78 -</h1>

    <p>En arrivant au port d'Eaux-Claires, tu notes une agitation incroyable pour un village de cette taille.</p>

    <p>
      - C'est notre quartier général. Depuis que les prophètes se sont emparés du pouvoir, nous avons rejoint la résistance, t'explique Espéride. J'ai été nommée cheffe de ce bastion. Tu rencontreras Allister assez vite si tu décides de nous rejoindre. Nous allons nous battre pour éjecter ces prophètes de l'Académie.<br />
      - Allister ? demandes-tu.<br />
      - C'est notre général en chef. C'est lui qui rassemble les troupes un peu partout. Grâce à lui nous arrivons à préparer des coups que les prophètes n'arrivent pas à prévoir. Sans lui je n'aurai pas d'espoir.
    </p>

    <p>Tu es bien impatient<span class="sf">e</span> de rencontrer cette personne. Si Espéride le respecte autant il doit être impressionnant. En voyant arriver Espéride, les habitants se précipitent pour obtenir des informations.<br />
      - C'est vrai que Fandrean est arrivé à l'Académie ?<br />
      - Les prophètes sont pourtant là !<br />
      - Pourquoi personne ne l'a prévenu !! s'énerve quelqu'un.
    </p>

    <p>Effectivement si Espéride était au courant de tout cela elle aurait pu empêcher tout le monde de se faire capturer penses-tu.</p>

    <p>- On se calme, lance la mage. Pour le moment on attend les ordres d'Allister. Nos troupes sont en train d'être rassemblées, mais je peux vous jurer qu'on fait notre maximum. Tout le monde doit se mettre en quatre pour pouvoir tout faire actuellement et au moment où on a appris que Fandrean arrivait à l'Académie il était trop tard pour l'arrêter.<br />
      - Mais c'est notre héros, il a tué Soufflardent !<br />
      - Je sais… souffle Espéride. Croyez bien qu'on va faire notre possible pour qu'il ne lui arrive rien. Certains de nos espions sont encore sur place. Peut-être auront-ils pu l'informer à temps. Pour le moment je n'en sais pas plus que cela.
    </p>

    <p>Espéride se rends à l'auberge qui sert de centre de commandement visiblement. Une foule s'agglutine autour d'elle en la bombardant de questions. Tu ne penses pas pouvoir lui poser plus de questions avant un moment. Mais il y a toujours les autres membres de ton petit équipage que tu peux interroger.</p>

  <div class="choix">
    <div class="ch" data-go="79">Interroger l'équipage</div>
    <div class="ch" data-go="80">Attendre qu'Espéride ait un peu de temps pour répondre à tes questions</div>
  </div>

</div>
