<div class="num num-1-3-79">

  <div class="text chapter3">

    <h1>- 79 -</h1>

    <p>
      Tu te rapproches des compagnons d'infortune qui était avec toi sur la barque.
    </p>

    <p>
      - Vous… serviez Soufflardent, c'est ça ? demandes-tu à l'un d'entre eux.<br />
      - … Tu penses pouvoir nous juger pour ça ? te répond-t-il en déchargeant quelques caisses.<br />
      - Hein… ben Soufflardent c'est le mal, c'est...<br />
      - Il ne voulait que l'équilibre. Il fallait le sauver, on le voit bien maintenant que ces monstres ont récupéré son pouvoir c'est ingérable.<br />
      - Vous n'allez pas les aider ? Ils sont pourtant les héritiers de son pouvoir.<br />
      - Mais ça ne signifie pas qu'ils sont sages. Je fais plus confiance à un dragon qu'à un humain pour ça.
    </p>

    <p>Tu n'es pas complètement convaincu<span class="sf">e</span> par ses explications. Mais ça ne sert visiblement à rien de lui faire remarquer les incohérences dans ses pensées.</p>

    <p>
      - Et cet Allister, pourquoi vous le suivez ? fais-tu pour changer la discussion.<br />
      - Il pense différemment des autres. Et c'est le premier à nous avoir prévenu que les prophètes arrivaient.<br />
      - Comment ça ? t'étonnes-tu. Il savait ça comment ?<br />
      - Héhé ! Oui ça peut paraître bizarre mais il sait un paquet de choses. Ils nous a dit qu'il était… heu c'est un quoi déjà ?<br />
      - … un mage-journaliste, répond un autre marin à sa place.<br />
      - Oui c'est ça un mage-journaliste. Je ne savais pas trop ce que c'est mais il parait qu'il parcours le monde pour donner des nouvelles de ce qu'il se passe. Un peu comme un troubadour mais avec beaucoup plus de détails.
    </p>

    <p>Un journaliste ? Ce ne serait pas la même chose que ce qu'était cette Leng Fao que tu as vu sur le chemin pour l'Académie ? Tu ne sais pas pourquoi mais tu as de moins en moins confiance en ces gens et tu vas certainement faire très attention à cet Allister.</p>

    <p>Bien vite on te mets à l'ouvrage pour aider à décharger les nombreuses barques qui commencent à arriver.</p>

  <div class="choix">
    <div class="ch" data-go="80">Continuer</div>
  </div>

</div>
