<div class="num num-1-3-8">

  <div class="text chapter3">

    <h1>- 8 -</h1>

    <p>- A L'AIDE !!!! commences-tu à crier.</p>

    <p>Très vite tu entends tes compagnons arriver mais à peine tournes-tu la tête pour les regarder qu'un éclair rouge enrobe Leng Fao et la fait disparaitre. Il n'y a pas de trace de brûlures, elle a l'air de s'être envolée en un instant. L'éclair s'est enfuit directement dans le ciel à travers les nuages jusqu'à disparaitre complètement.</p>

    <p>
      - Qu'est-ce qui se passe ? demande Fandrean.<br />
      - Je ne sais pas. Une mage était là, une certaine Leng Fao. Elle voulait que je l'accompagne je ne sais où pour traquer Usaki, expliques-tu.<br />
      - Usaki ? fait Mac Lumy incrédule.<br />
      - Certainement une espionne de l'Académie, se désole Fandrean. Il faudra s'attendre à une réception peut être musclée. Mais ne vous inquiétez pas, j'ai des soutiens aussi là bas. On ne pourra pas nous faire disparaitre comme ça.
    </p>

    <p>Bizarrement tu n'avais pas autant l'impression que ça que cette fille était une espionne. Vous retournez finalement vous coucher à votre campement, mais tu as toujours dans un coin de ta tête cette question qui te hante : pourquoi s'est-elle adressée à toi cette Leng Fao ?</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="11">Dormir et attendre le lendemain</div>
  </div>

</div>
