<div class="num num-1-3-80">

  <div class="text chapter3">

    <h1>- 80 -</h1>

    <p>Les heures passent. Alors que tu te demandais comment tu allais refuser à un marin de l'aider à transporter un filet de poissons malodorants qui allaient te faire sentir la sardine toute la journée, tu entends une voix familière.</p>

    <p>
      - Débarquons ici, ordonne Kannan. On doit voir Espéride pour l'informer de la capture de Fandrean.
    </p>

    <p>Tu es surpris<span class="sf">e</span> de voir la mage ici. D'autant plus qu'elle n'est pas seule ! Mac Lumy, Panacle, Anselm et Haziko sont là également.</p>

    <p>
      - Argh... On n'a pas pu sauver Lass' et <span class="tonnom"></span> est introuvable, se lamente Panacle.<br />
      - C'est de moi qu'on parle ? fais-tu en t'avançant vers leur petite barque qui arrive à quai.<br />
      - <span class="tonnom"></span> ?! s'écrient-ils tous en cœur. C...Comment es-tu arrivé<span class="sf">e</span> ici ?
    </p>

    <p>Tu expliques à tes amis comment tu es partie de l'Académie avec Espéride ainsi que tout ce qu'il s'est passé. A leur tour ils te racontent comment Fandrean et son groupe se sont fait capturés par les prophètes. Mac Lumy a pu être sauvé par Panacle qui était devenu un des gardiens des geôles. Mais personne ne sait ce qu'il est advenu de Lasseni ou son frère.</p>

    <p>- Bien, je propose qu'on aille voir Espéride, lance Kannan.</p>


  <div class="choix">
    <div class="ch" data-go="81">Demander à <span class="partiavecusaki"></span> comment elle est arrivée ici</div>
    <div class="ch" data-go="83">La suivre</div>
  </div>

</div>
