<div class="num num-1-3-81">

  <div class="text chapter3">

    <h1>- 81 -</h1>

    <p>
      - Comment es-tu arrivée ici ? lui demandes-tu.<br />
      - Quand Soufflardent est mort j'ai décidé que j'allais me mettre à rechercher la vérité. Ymir et Zaïra ont été des mentors pour moi et après les événements qui se sont déroulés la dernière fois je me disais qu'il y avait certainement des choses que j'ignorais. Un jour, une journaliste est venue me voir : une certaine Leng Fao. Elle m'a dit que si je voulais savoir la vérité sur l'Académie il fallait que je vienne ici.<br />
      - Ici, dans ce village ? Ou à l'Académie.<br />
      - C'est ça qui est étrange : elle m'a dit de venir dans ce village "Eaux-Claires". Mais au départ elle voulait m'emmener je ne sais pas où et quand elle a vu que je voulais pas la suivre elle m'a dit de venir ici.<br />
      - Tout pareil que moi ! Je l'ai vue aussi cette femme et je n'ai pas voulu la suivre.
    </p>

    <p><span class="partiavecusaki"></span> est surprise de ce que tu lui racontes mais enchaines aussitôt.</p>

    <p>
      - Et le plus étrange c'est que le type que j'ai trouvé ici, Allister, est aussi un de ces journalistes. Mais Allister m'a dit de me méfier de cette Leng Fao.<br />
      - Ils se connaissent donc bien...fais-tu. C'est très bizarre tout ça.
    </p>


  <div class="choix">
    <div class="ch" data-go="83">La suivre vers l'auberge où Espéride se trouve</div>
  </div>

</div>
