<div class="num num-1-3-82">

  <div class="text chapter3">

    <h1>- 82 -</h1>

    <p>Vous débarquez au port d'Eaux-Claires, c'est beaucoup plus agité que tu ne l'aurais cru pour un petit village de pêcheurs comme ça.</p>

    <p>
      - C'est devenu beaucoup plus populaire depuis que le général Allister regroupe les troupes de la résistance ici, explique Kannan.<br />
      - Le général Allister ? demandes-tu.<br />
      - Oui c'est lui qui a créé la résistance quand les prophètes sont arrivés il y a quelques jours.<br />
      - Il a fait vite, dis-donc, fais-tu étonné<span class="sf">e</span>.<br />
      - Certains disent qu'il savait qu'ils arrivaient avant même qu'ils ne soient là. Ajoute Panacle. Après tout c'est un journaliste parait-il.<br />
      - Un journaliste ? Comme cette Leng Fao, t'exclames-tu tout haut.<br />
      - Leng... qui ? te réponds Haziko.<br />
      - Hein ? Heu... une personne que j'ai croisée sur le chemin de l'Académie.
    </p>

    <p>Décidemment, tout ceci est bien étrange. Alors que tu n'avais jamais entendu parler de ces journalistes tu as l'impression qu'ils sont partout désormais.</p>

    <p>
      - Nous devons faire notre rapport à Espéride, annonce Kannan. Il faut lui dire que Fandrean a été capturé et Lasseni aussi.<br />
      - Espéride... tu veux dire notre ancienne prof ? s'étonne Mac Lumy.<br />
      - Oui, Allister l'a nommé générale de l'armée d'Eaux-Claires. Elle doit être à l'auberge. Mais pour l'instant "armée" est un bien grand mot.
    </p>


  <div class="choix">
    <div class="ch" data-go="83">La suivre vers l'auberge où Espéride se trouve</div>
  </div>

</div>
