<div class="num num-1-3-83">

  <div class="text chapter3">

    <h1>- 83 -</h1>

    <p>
      L'auberge est très animée. Des paysans mettent des réserves de nourriture en cuisine pendant que d'autres transportent des armes à l'étage. La salle principale est occupée par ce qui semble être les dirigeants de la résistance. Au centre desquels Espéride trône. Ils ont tous les yeux rivés sur une carte de la région. Des petites figurines posées dessus semblent indiquer les troupes de chaque forces en présence. Tu reconnais plusieurs mages de l'Académie.
    </p>

    <p>
      - Lieutenant Kannan au rapport, fait la mage en s'avançant devant Espéride.<br />
      - Quelles sont les nouvelles de l'Académie ?<br />
      - Fandrean et Lasseni ont été faits prisonniers. Pour Fandrean c'est sûr, en ce qui concerne Lasseni on a très peu d'infos. Il semblerait qu'elle soit devenue le quatrième prophète de Soufflardent. En tout cas selon Mac Lumy ici présent.
    </p>

    <p>le petit mage et toi opinez quand Espéride vous regarde tour à tour. </p>

    <p>
      - Allister nous a confirmé avoir rallié à notre cause déjà des dizaines de villages tout autour du lac. le plus important est de mettre dans notre poche les mages encore présents à l'Académie.<br />
      - Malheureusement il y en a beaucoup trop qui préfèrent jurer allégeance aux prophètes. Ils ont trop peur de leur puissance, fait un mage à côté d'Espéride.
    </p>

    <p>Chacun fait alors part de sa confiance en Allister mais que les prophètes semblent surpuissants. Si Lasseni décide de les rejoindre il y aura en plus un autre problème à gérer. La résistance semble en fait trembler rien qu'en pensant à ce qu'il pourrait arriver en défiant ces monstres.</p>

    <p>
      - Vous avez pensé à contacter Ymir et Zaïra ? fais-tu en réfléchissant à qui pourrait vous aider.
    </p>

    <p>Tout le monde te regarde d'un air ahuri. Exceptés ceux qui les ont rencontré en personne à la forteresse de la Lune, personne ne semble au courant qu'ils ne soient en réalité pas mort.</p>

    <p>
      - Vous ne savez pas ? Ce sont eux qui ont gardé Soufflardent endormi jusqu'à il y a peu.<br />
      - Je n'ai pas le temps de jouer à ça, fait simplement Espéride. Si c'est pour dire ce genre de bêtises tu peux partir.<br />
      - Mais...!
    </p>

    <p><span class="partiavecusaki"></span> t'arrête en posant une main sur ton épaule, en secouant la tête. Visiblement, elle a déjà tenté de convaincre tout le monde sans résultat. Espéride reprend en s'adressant à vous.</p>

    <p>
      - Bon, nous ne sommes pas très nombreux en temps que mage dans la résistance. Alors je compte sur vous pour nous aider au maximum. Restez prêts à partir en mission d'un instant à l'autre. Pour le moment profitez en pour vous restaurer et vous reposer.
    </p>


  <div class="choix">
    <div class="ch" data-go="112">Je n'ai jamais dit que je rejoignais la résistance : je pars à la recherche d'Ymir et Zaïra</div>
    <div class="ch" data-go="113">Entendu, j'attends vos ordres</div>
  </div>

</div>
