<div class="num num-1-3-84">

  <div class="text chapter3">

    <h1>- 84 -</h1>

    <p>Tu termines ta présentation et réponds à quelques questions. L'enthousiasme n'est pas vraiment de mise. Les mages ont l'air de se demander si vous partagerez vraiment votre pouvoir. D'autres sont partis avant la fin, ne voulant pas collaborer avec vous ou étant trop sceptiques sur cette élection.</p>

    <p>Mais tu notes que certains restent à poser des questions à droite et à gauche. Notamment ce journaliste, Allister Lengl, qui parle avec Méonie, puis très vite passe te voir.</p>

    <p>
      - Je suis en train de réunir le plus d'informations sur votre projet qui me semble prometteur, lance le journaliste. Mais dites-moi, ne serait-ce pas un moyen de donner l'illusion aux humains que vous, prophètes, leur partagez un peu de pouvoir ?<br />
      - Non, je vous jur...<br />
      - Ne pensez-vous pas, reprend-t-il en te coupant la parole, qu'avec vos pouvoirs vous influenciez les humains de ce conseil ? Ils seraient forcément tentés de se rallier à vous pour ne pas que vous les évinciez, non ?<br />
      - Hein ? Quoi ? Non, il ne faut pas voir le mal partout ! t'exclames-tu. On essaie justement de se montrer plus … humains.<br />
      - Je veux bien vous croire mais dans ce cas pourquoi ne pas avoir proposé de voter pour votre maintien au pouvoir ? Vous pourriez laisser les humains choisirent les personnes qui les dirigent plutôt que de vous imposer.
    </p>

    <p>Tu sens que tu commences un peu à perdre pied. Ce journaliste pose les bonnes questions et t'attaque sans relâche sur les points qui fâchent.</p>


  <div class="choix">
    <div class="ch" data-go="85">Lui répondre sèchement</div>
    <div class="ch" data-go="86">Essayer de lui expliquer calmement ton point de vue</div>
  </div>

</div>
