<div class="num num-1-3-85">

  <div class="text chapter3">

    <h1>- 85 -</h1>

    <p>
      - Ecoutez-moi bien, reprends-tu. Les mages supérieurs humains ont menti à tout le monde, sur Ymir et Zaïra, sur Soufflardent, sur tout… Nous sommes bien plus fiables que vous, notre pouvoir est tel que nous n'avons pas besoin de mentir. On aurait pu être des dictateurs et tout vous imposer. Mais on vous laisse encore le droit à la parole.<br />
      - Vous voulez dire que vous...<br />
      - Et vous vous plaignez malgré ça ? fais-tu en l'interrompant comme il l'avait fait précédemment. Vous n'êtes jamais satisfait !
    </p>

    <p>Le journaliste te regarde sans parler. D'ailleurs tout le monde te regarde dans l'assemblée. <span class="naorem"></span> s'approche de toi pour calmer un peu les esprits :</p>

    <p>
      - Les questions sont terminées pour aujourd'hui. Nous reprendrons les échanges demain à tête reposée. Il y a certainement des choses à changer dans notre "conseil de la magie" nouvelle génération mais notre volonté de partager le pouvoir est réelle.
    </p>

    <p>Tu vois que le journaliste note bien tout dans un petit calepin. Les mages-humains sont invités à sortir de la salle pendant que vous faites le point entre vous.</p>

    <p>
      - Du coup… on partage encore le pouvoir ou les humains te lassent déjà ? te demande Arak.<br />
      - Ce type, ce journaliste… je pense qu'il était là pour que ça se passe mal. Fait Méonie.<br />
      - Ouais, j'ai l'impression que les humains sont plus méfiants que jamais envers nous, ajoute <span class="naorem"></span>.
      - Il faudrait peut-être assassiner ce journaliste, non ? demande sans détour Arak. Il a l'air d'être un ennemi.<br />
      - Non si on l'assassine, les gens vont forcément faire le rapprochement avec ce qu'il s'est passé aujourd'hui et s'en sera fini de ce projet, s'insurge Méonie.<br />
      - T'en penses quoi <span class="tonnom"></span> ? te demande <span class="naorem"></span>.
    </p>


  <div class="choix">
    <div class="ch" data-go="116">On l'assassine</div>
    <div class="ch" data-go="118">On le laisse et on continue le projet normalement</div>
  </div>

</div>
