<div class="num num-1-3-86">

  <div class="text chapter3">

    <h1>- 86 -</h1>

    <p>
      - En fait, nous souhaitons aider les humains. Pendant trop longtemps les mages supérieurs nous ont menti, sur Ymir et Zaïra, sur Soufflardent et certainement plein d'autres choses. Nous voulons que les prochaines personnes qui feront partis de ce conseil soit irréprochables. Et nous sommes là pour les aider à l'être.<br />
      - Vous... vous vous prenez presque pour des Dieux on dirait, ajoute le journaliste.<br />
      - En tout cas, c'est nous qui nous en rapprochons le plus. Si vous connaissez la vérité sur Soufflardent vous comprendriez bien qu'avec ses pouvoirs nous sommes… hum… oui n'ayons pas peur des mot, nous sommes des Dieux qui allons guider les humains vers quelque chose de meilleur.
    </p>

    <p>Le journaliste rit nerveusement en écoutant ta réponse. Visiblement il ne s'attendait pas à ça. Et l'espace d'un instant tu arrives à voir une expression sur son visage jusque là très neutre. Il n'a pas peur, il a l'air profondément en colère. Mais il se ressaisit vite et redevient amical en un instant.</p>

    <p>
      - Merci beaucoup pour ces informations, je n'hésiterai pas à en informer mes lecteurs, dit-il.<br />
      - Vos lecteurs ? Vous êtes écrivain ? fais-tu étonné<span class="sf">e</span>. C'est quoi un journaliste en fait ?<br />
      - On dirait que même si vous êtes des Dieux vous ne savez pas tout, répond-t-il par défi. Un journaliste relate les informations qu'il trouve dans des journaux. Ce sont des œuvres écrites qui expliquent tous ce qu'il se passe. Mais comme je suis mage et que tout le monde ne sait pas lire, mes journaux, eux, peuvent être écoutés par une voix magique qui vous le lit.
    </p>

    <p>Tu n'avais jamais entendu parler de ça. C'est en tout cas quelque chose de très intéressant pour faire passer tes idées auprès de la population. Il faut à tout prix que tu récupères le secret de fabrication de ces artefacts magiques.</p>

    <p>
      - Si vous désirez voir comment je les fabrique, n'hésitez pas à passer ce soir au port d'Eaux-Claires, c'est de l'autre côté du lac et c'est là que je travaille. Je ferai un journal avec tout ce que vous avez dit aujourd'hui.
    </p>


  <div class="choix">
    <div class="ch" data-go="119">Dire que tu passeras ce soir</div>
    <div class="ch" data-go="118">Dire que malheureusement tu as trop de choses à préparer, mais peut-être une autre fois</div>
  </div>

</div>
