<div class="num num-1-3-87">

  <div class="text chapter3">

    <h1>- 87 -</h1>

    <p>Lasseni et Fandrean te remercient pendant que vous remontez jusqu'aux jardins. Ils te disent qu'ils pensent partir de l'Académie au moins pour quelques temps mais qu'ils ne seront pas loin et qu'ils ne se cacheront pas.</p>

    <p>
      - <span class="tonnom"></span>, tu imagines bien qu'on ne va pas laisser ces prophètes s'en tirer comme ça, te dit Lasseni. Tu n'es pas comme eux. J'espère qu'on pourra compter sur toi.<br />
      - Je... je ne pense pas qu'ils soient aussi mauvais que tu le crois. J'aimerai qu'on puisse trouver un point d'entente.<br />
      - Lass' vient, on réfléchira à ça plus tard. On doit se soigner d'abord, lui dit Fandrean.
    </p>

    <p>Alors que tu allais les laisser partir un individu arrive en courant vers vous tout en tenant une plume et un calepin.</p>

    <p>
      - Bonjour ! Je me présente, Allister Lengl, journaliste. Vous devez être le quatrième prophète dont on m'a parlé : <span class="tonnom"></span> ? Et vous, vous êtes bien Fandrean ? J'écris un article sur les événements qui se sont produits à l'Académie. <span class="naorem"></span> m'a donné l'autorisation.<br />
      - Hein ?! Je ne comprends rien, fais-tu. Un… journaliste ? Comme cette... comment déjà... cette Leng Fao ?
    </p>

    <p>Allister semble surpris que tu connaisses Leng Fao. Il a l'air de la connaître également.</p>

    <p>
      - Ha ? Vous la connaissez ? Je n'aime pas dire du mal des gens, mais cette personne ne peut pas vraiment être appelée journaliste. Elle manipule les informations pour vous forcer à agir dans son sens. On ne peut pas lui faire confiance.
    </p>

    <p class="av-pas-naif">Tu n'avais pas fait totalement confiance à Leng Fao mais Allister Lengl ne t'inspire pas non plus.</p>
    <p class="av-naif">Tu n'avais pas fait totalement confiance à Leng Fao et tu commences à comprendre pourquoi.</p>

    <p>Ainsi vous expliquez les événements au journaliste qui prends soin de tout noter dans son carnet. Il t'explique qu'il crée des artefacts appelés "journaux" qui peuvent écouté magiquement par ceux qui ne savent pas lire. Cela semble intéressant.</p>

    <p>
      - Si vous désirez voir comment je les fabrique, n'hésitez pas à passer ce soir au port d'Eaux-Claires, c'est de l'autre côté du lac et c'est là que je travaille. Je ferai un journal avec tout ce que vous avez dit aujourd'hui.
    </p>


  <div class="choix">
    <div class="ch" data-go="119">Dire que tu passeras ce soir</div>
    <div class="ch" data-go="118">Dire que malheureusement tu as trop de choses à préparer, mais peut-être une autre fois</div>
  </div>

</div>
