<div class="num num-1-3-88">

  <div class="text chapter3">

    <h1>- 88 -</h1>

    <p>Tu n'as pas bien dormi, inqui<span class="sg">et</span><span class="sf">ète</span> de voir Usaki revenir et surtout des dégâts que tu as causés. A l'aube <span class="naorem"></span> prépare déjà une troupe de mages à envoyer à la recherche d'Usaki. Certains te regardent de travers pour te signifier qu'ils ne te pardonnent pas ce que tu as fait.</p>

    <p>La troupe part et tu décides, toi aussi, de rechercher le noctule. Tu ne sais pas trop par où commencer pour le débusquer. Tu ne sais même pas s'il est resté à l'Académie. Avec ses pouvoirs se serait possible. Pour ne négliger aucune piste tu décides de commencer tes recherches dès la sortie de l'école. Tu demandes aux passants s'ils ont déjà vu un noctule et tu leurs donne les description des personnes dont Usaki a pris l'apparence par le passé.</p>

    <p>Mais aucun résultat n'est probant. Toutefois un pêcheur du port te dit d'aller voir un certain Allister Lengl, qui serait journaliste et connaitrait plein de choses. Un journaliste… exactement le même mot que cette fille que tu avais vu : Leng Fao. On te dit qu'il passe régulièrement au village d'Eaux-Claires, de l'autre côté du lac Déluine.</p>


  <div class="choix">
    <div class="ch" data-go="89">Partir à Eaux-Claires</div>
  </div>

</div>
