<div class="num num-1-3-89">

  <div class="text chapter3">

    <h1>- 89 -</h1>

    <p>Tu mets plus longtemps à trouver le village qu'à traverser le lac. Tes pouvoirs sont incroyables mais ne te permettent pas de connaître les noms de tous les villages et leur localisation. Mais avant la nuit tu arrives à le trouver.</p>

    <p>Tu pensais qu'il s'agissait simplement d'un village de pêcheurs mais il y a une activité importante à Eaux-Claires. Beaucoup de monde te suit du regard. Tu n'imaginais pas que même ici les gens sachent que tu étais un prophète. Mais si un "journaliste" passe souvent ici ça pourrait être normal.</p>

    <p>
      Alors que tu allais t'approcher d'une première personne pour essayer de trouver cet Allister, un homme bien habillé, une trentaine d'année et la barbe luisante se place devant toi l'air grave :<br />
      - <span class="tonnom"></span>, c'est bien ça ? Le chef du village désire te voir.<br />
      - ...Vous me connaissez vraiment ? Votre chef c'est Allister ?<br />
      - Suivez-moi.
    </p>


  <div class="choix">
    <div class="ch" data-go="90">Suivre l'homme</div>
    <div class="ch" data-go="91">Ne pas lui faire confiance et le prendre en otage</div>
  </div>

</div>
