<div class="num num-1-3-9">

  <div class="text chapter3">

    <h1>- 9 -</h1>

    <p>- Désolé<span class="sf">e</span> mais je compte bien rester pour aider mes compagnons. Je ne vais pas les abandonner maintenant, lui réponds-tu.</p>
    <p>Leng Fao te regardes un peu déçue mais semble résignée. Elle sort un petit objet de son sac, qui semble être magique, et te dis :</p>
    <p>- Entendu. Mais tôt ou tard tu devras t'occuper de ce problème aussi. Car tu es le début et il est la fin. Vous êtes connectés tous les deux, la fin de cette histoire ne se résoudra que lorsque vous aurez résolu votre confrontation.<br />
      - Hein ?! Je ne comprends pas. Usaki a sauvé Ymir et Zaïra, il n'est pas si mauvais que ça. Et en plus je ne vois pas pourquoi MOI je devrai être <span class="sf">celle</span><span class="sg">celui</span> qui l'arrête.<br />
      - Hum… je croyais que tu n'étais pas intéressé<span class="sf">e</span> par ce que j'avais à te dire ? fait Leng Fao en retenant un rire.<br />
      - Je… j'ai jamais dit ça ! J'ai dit q...<br />
      - Pas de souci, je t'ai dit que de toute façon tu le retrouveras un jour ou l'autre, te coupe-t-elle.
    </p>

    <p>Elle te fait un dernier sourire et s'envole à une vitesse inimaginable, laissant une trainée rouge derrière elle. Disparaissant en quelques secondes dans le ciel. Des bruits de pas te tirent de ta contemplation. Mac Lumy, certainement attiré par cette trace rouge, déboule à grandes enjambées.</p>

    <p>- Humpf...humpf, c'était quoi ce truc ? fait-il essoufflé.<br />
      - Je dois bien avouer que je ne sais pas vraiment non plus, lui réponds-tu simplement.</p>

    <p>De retour au campement tu décides de garder pour toi cette conversation tout en la gardant bien en tête.</p>

  </div>


  <!---------------- --------------------->

  <div class="choix">
    <div class="ch" data-go="11">Dormir et attendre le lendemain</div>
  </div>

</div>
