<div class="num num-1-3-90">

  <div class="text chapter3">

    <h1>- 90 -</h1>

    <p>L'homme te guide jusqu'à l'auberge du village alors que tu notes que les villageois vous suivent à distance. Tu essaies de ressentir la magie, pour vérifier que tu ne vas pas atterrir dans un piège : rien, aucune trace de magie dans le village ni dans cette auberge.</p>

    <p>L'auberge est miteuse et en entrant tu vois tout de suite que plusieurs personnes t'attendent. Mais l'homme poursuit son chemin et te fait signe de continuer à le suivre au premier étage. Il rentre dans une des chambres, où tu t'engouffres juste derrière lui.</p>

    <p>
      - Bienvenue <span class="tonnom"></span>, te dit Espéride alors que tu rentres dans la pièce.<br />
      - Vous... professeur ? Qu'est-ce que vous faites là ? demandes-tu.<br />
      - Les prophètes ont pris le contrôle de l'Académie. Nous les combattons. Pour récupérer ce qui appartient aux humains.<br />
      - Mais... les journalistes, ce Allister machin, ils existent ou c'est vous ?<br />
      - Tu as entendu parler d'Allister ? C'est notre général, le général de la résistance. Je n'aurai jamais cru que le quatrième prophète ce soit toi. C'est pourquoi je veux bien te laisser une chance : rejoint nous.
    </p>

    <p>Alors que tu es encore sous le coup de la surprise d'autres personnes entre dans la pièce. Des visages que tu reconnais : Kannan, Panacle, Anselm, Mac Lumy et Haziko sont là.</p>

    <p>
      - Les amis ! Vous faites partis de la résistance, vous aussi ?<br />
      - En effet, on ne laissera pas le pouvoir à ces monstres. La bataille a déjà commencé, lance Kannan.
    </p>

    <p>Tu ne comprends pas tout. Mais tout à coup, tu penses à quelque chose : tu n'avais pas senti de magie tout à l'heure. Comment cela se fait-il ? <span class="partiavecusaki"></span> connait la magie de la lune, mais les autres ?</p>

    <p>
      - Vous pensez que vous êtes les plus forts ? te demande Espéride. Mais nous avons déjà abattu l'un des vôtres.<br />
      - Qu...tu parles d'Arak ?<br />
      - En effet nous l'avons...<br />
      - Enky Luna, Allister Lengl...toutes ces personnes ne sont en fait qu'Usaki !! Vous êtes en train d'être manipulés par lui, fais-tu en comprenant tout.<br />
      - Que racontes-tu ? fait Espéride. Sans Allister nous n'aurions jamais pu abattre votre prophète.<br />
      - <span class="tonnom"></span>, rejoins-nous, fais Kannan en te tendant la main.
    </p>


  <div class="choix">
    <div class="ch" data-go="122">Rejeter l'offre</div>
    <div class="ch" data-go="123">Accepter l'offre</div>
  </div>

</div>
