<div class="num num-1-3-91">

  <div class="text chapter3">

    <h1>- 91 -</h1>

    <p>Tu sens le danger tout de suite et décide d'attraper l'homme par derrière et le fait se mettre à genoux. Ta main remplie de magie est juste au dessus de son visage :</p>

    <p>
      - Bon ! fais-tu alors que les autres villageois commençaient à réagir. Je désire juste parler à Allister. Faites-le venir ici !
    </p>

    <p>Tout le monde se regarde un peu effrayé mais n'ose te répondre. Alors que tu allais répéter plus fort ta phrase, tu vois dans les yeux des personnes devant toi que quelque chose d'effrayant arrive dans ton dos. Tu te retournes juste à temps pour voir une forme noire gigantesque essayer de te gober.</p>


  <div class="choix">
    <div class="ch" data-go="93">Esquiver</div>
    <div class="ch" data-go="92">Tenter de faire exploser la forme avec ta magie</div>
  </div>

</div>
