<div class="num num-1-3-92">

  <div class="text chapter3">

    <h1>- 92 -</h1>

    <p>Tu lances une attaques remplie de la puissance de Soufflardent. La forme noire se referme sur toi et ton énergie explose dans la chose. Elle s'éparpille autour de toi vaincue. Mais quand tu scrutes les alentours, tu te rends compte que ce n'est plus le village d'Eaux-Claires. L'environnement est noir, les étoiles semblent plus proches de toi qu'avant. L'air n'arrive plus jusqu'à tes poumons. Tu essaies au maximum de canaliser ton énergie mais tu dois te rendre à l'évidence : tu n'es plus sur la terre.</p>

    <p>Après quelques minutes de lutte, tes forces disparaissent et le froid t'envahit. Tes ennemis t'ont vaincu.</p>

  <div class="choix">
    <div class="ch redochap3" data-go="1">Recommencer le chapitre 3</div>
  </div>

</div>
