<div class="num num-1-3-93">

  <div class="text chapter3">

    <h1>- 93 -</h1>

    <p>Tu esquives simplement l'attaque de cette bête noire avec tes pouvoirs. L'homme que tu avais capturé se fait dévorer à ta place. D'une simple décharge d'énergie tu fais exploser la créature. Mais la personne mangée a déjà complètement disparue.</p>

    <p>
      - <span class="tonnom"></span> ! Tu es comme ces monstres alors ? Tu n'hésites même pas à prendre des otages ? fais une voix qui sort de la foule aux alentours.
    </p>

    <p>Kannan s'extirpe des villageois pour te faire face.</p>

    <p>
      - Qu'est-ce que tu fais ici ? lui demandes-tu. Pourquoi m'as tu attaqué ?<br />
      - Allister nous a dit que tu n'étais plus comme avant, intervient une autre voix un peu plus loin.
    </p>

    <p>Haziko, Panacle, Anselm et même Mac Lumy sont là. Tous ont l'air prêt à t'affronter.</p>

    <p>
      - Il parait que le pouvoir de Soufflardent t'a corrompu, te lance Haziko.<br />
      - Quoi ! N'importe quoi ! Je sais absolument me contrôler...<br />
      - On nous a dit que tu avais tué des mages à l'Académie hier.<br />
      - Je… Je me battais contre Usaki, il y a eu plus de dégâts que ce que je pensais.
    </p>

    <p>Tes explications n'ont pas l'air de convaincre grand monde. Tous ont l'air de vouloir se battre, sauf peut-être Mac Lumy qui te regarde d'un air désespéré.</p>


  <div class="choix">
    <div class="ch" data-go="94">Se défendre</div>
    <div class="ch" data-go="95">S'enfuir</div>
  </div>

</div>
