<div class="num num-1-3-94">

  <div class="text chapter3">

    <h1>- 94 -</h1>

    <p>Kannan lance un sort, inconnu de toi et qui n'a pas l'air d'être lancé avec de l'énergie de Soufflardent. Tu n'as vu auparavant qu'une personne capable de ça : Usaki. Les autres font de même pour essayer de ne te laisser aucune chance.</p>

    <p class="magie-vent">Dans un élan de colère tu concentres ton énergie et la relâche d'un coup. Une force destructrice du vent se dégage tout autour de toi. Le souffle est telle qu'il emporte les maisons et les navires du port, les dispersants à plusieurs kilomètres. L'endroit où tu te trouvais est désormais un cratère qui commence à se remplir avec l'eau du lac. Tu ne vois plus personne, le village d'Eaux-Claires est rasé.</p>

    <p class="magie-feu">Dans un élan de colère tu concentres ton énergie et la relâche d'un coup. Une explosion de feu se dégage tout autour de toi. La force et la chaleur de ton sort sont tels qu'ils réduisent en cendres tout ce qui se trouvait là. Une partie de l'eau du lac s'évapore et tout est recouvert d'un brouillard. L'endroit où tu te trouvais est désormais un cratère qui commence à se remplir avec l'eau du lac. Tu ne vois plus personne, le village d'Eaux-Claires est rasé.</p>

    <p class="magie-eau">Dans un élan de colère tu concentres ton énergie et la relâche d'un coup. Une explosion de glace se dégage tout autour de toi. Tout se gèle autour de toi en un instant. Les bateaux, les hommes et même l'eau du lac. Quand tu regardes finalement autour de toi il ne reste que des statues de glace. Mais la couche de glace est trop grosse pour savoir s'il s'agit de tes amis ou des villageois. Le village est rasé</p>

    <p class="magie-terre">Dans un élan de colère tu concentres ton énergie et la relâche d'un coup. Un tremblement de terre gigantesque se déclenche autour de toi faisant s'effondrer les maisons dans des crevasses et voltiger tout le monde dans un grand fracas. Seul l'endroit où tu étais demeure intact. En regardant autour de toi il n'y a plus âme qui vive, le village est rasé. Ton sort a même déclenché une vague gigantesque sur le lac qui va percuter l'Académie avec force.</p>


    <p>En temps normal tu es déjà très puissant<span class='sf'>e</span> mais là tu as concentré ton énergie et les dégâts sont extrêmes. Est-ce que tes "amis" s'en sont sortis ou les as-tu tué ? Tu n'en as absolument aucune idée. Ce qui est sûr c'est que tu n'as plus qu'une piste : Allister, il y a certainement un lien entre lui et Usaki. Peut-être sont-ils une seule et même personne.</p>


  <div class="choix">
    <div class="ch" data-go="124">Chercher Allister Lengl</div>
  </div>

</div>
