<div class="num num-1-3-95">

  <div class="text chapter3">

    <h1>- 95 -</h1>

    <p>Tu préfères ne pas prendre le risque de blesser tes amis. Tu as déjà vu hier que tu ne maitrisais pas encore tes pouvoirs totalement. Et tu t'enfuis avant même que quiconque ait eu le temps de bouger.</p>

    <p>Mais ce qui est sûr c'est que tu n'as plus qu'une piste : Allister. Il y a certainement un lien entre lui et Usaki. Peut-être sont-ils une seule et même personne.</p>


  <div class="choix">
    <div class="ch" data-go="124">Chercher Allister Lengl</div>
  </div>

</div>
