<div class="num num-1-3-96">

  <div class="text chapter3">

    <h1>- 96 -</h1>

    <p>
      - Comment ça ? Nous avons toujours vécu ici. Fandrean nous avait promis qu'on pourrait revenir reconstruire notre village ici, te dit un des villageois.<br />
      - Oui je sais mais, pour le moment, des enjeux plus grands sont arrivés, leur expliques-tu. Ces personnes sont les invités de notre planète. Nous leur avons promis un endroit bien à eux. Un endroit où ils pourraient s'installer.<br />
      - Mais où est-ce qu'on va s'installer ? Il n'y a pas assez d'espace à la forteresse de la lune et nos proches sont morts ici, se plaint quelqu'un d'autre.<br />
      - Je sais, mais pourquoi ne vous installeriez-vous pas plus proche de l'Académie. Cette zone, même débarrassée de certains dragons, n'est pas encore très sûre. Pour les noctules par contre, elle est adaptée.
    </p>

    <p>Ta décision n'est pas du tout appréciée par les villageois qui manifestent leur colère. En discutant avec Leng Fao, les noctules et les villageois, vous arrivez finalement à faire accepter aux villageois de partir s'installer un peu plus loin. Le village prés des marais sera habité par les noctules.</p>

    <p>Une caravane d'humains part en emportant le plus de matériaux possibles. D'après ce que tu as compris, ils vont aller s'installer un peu plus en amont des marais. A mi-chemin avec la forteresse. L'endroit est un peu plus dangereux que sur les ruines de l'ancienne tour mais ils pourront bénéficier plus rapidement de l'aide des gens de la forteresse.</p>

    <p class="middle">*</p>

    <p>Les noctules sont soulagés que les villageois soient partis sans faire trop d'histoires. Et grâce à ta magie à toi et Leng Fao vous commencez à bâtir les premiers édifices pour loger les nouveaux habitants de la terre. Mais les premières nuits se feront néanmoins sous tentes.</p>


  <div class="choix">
    <div class="ch" data-go="100">S'installer</div>
  </div>

</div>
