<div class="num num-1-3-97">

  <div class="text chapter3">

    <h1>- 97 -</h1>

    <p>
      - Désolé Leng Fao, je crois qu'on va devoir chercher un autre endroit où installer ton village.<br />
      - Hum… Je comprends, mais as-tu une idée d'où pourrait être cet endroit ?<br />
      - Si on se rapproche de l'Académie, on ne trouvera que des terres appartenant à des humains. De l'autre côté il faudra probablement que les noctules se taillent une place entre les brigands, les mages renégats et les monstres.<br />
      - Tu ne me fais pas rêver en disant ça, s'exclame Leng Fao.
    </p>

    <p>La décision est finalement prise d'emmener les noctules de l'autre côté des marais, où ils pourront bénéficier de l'aide de la forteresse mais seront plus sensibles aux attaques de monstres. Les noctules ne sont pas très enthousiastes quand tu leurs expliques ça mais ils te font confiance.</p>

    <p class="middle">*</p>

    <p>La traversée des marais est terrible, même s'ils sont énormes et puissants, les noctules n'ont pas l'habitude de marcher dans la boue. Et la gravité terrestre leur pèse, ils ont l'impression de peser une tonne.</p>

    <p>Une fois arrivée sur place vous vous rendez compte que beaucoup de noctules sont fiévreux et ont contractés des maladies dans les marais. Leng Fao et toi faites votre possible pour les soigner tandis que des gens de la forteresse viennent vous donner un coup de main.</p>

    <p>Après plusieurs jours, la situation semble s'arranger mais une dizaine de noctules sont morts.</p>


  <div class="choix">
    <div class="ch" data-go="101">S'installer</div>
  </div>

</div>
