<div class="num num-1-3-98">

  <div class="text chapter3">

    <h1>- 98 -</h1>

    <p>Les noctules sont grands mais la forteresse avait été bâtie avec des plafonds très haut. Ce qui permet aux nouveaux venus d'apprécier un bâtiment qui semble presque à leur taille. Bien entendu, l'installation dans cette partie de la forteresse n'est que temporaire. Tu exposes aux nouveaux maîtres de la forteresse ton idée d'installer les noctules dans la forteresse en construisant petits à petits de nouvelles habitations dans la montagnes à la manière d'habitats troglodytes. Cela ne changerait pas trop les noctules par rapport à la lune.</p>

    <p>C'est le seul point qui chagrine un peu Leng Fao, la forteresse n'est pas remplie de verte végétation et les rivières sont rares. Mais les autres noctules sont déjà très heureux d'être là, ils voient la différence avec la lune et ça les ravit. Cependant, la mage journaliste ne t'en veut pas du tout, elle t'est très reconnaissant<span class='sf'>e</span> de ce que tu as fait.</p>

    <p>Tous les noctules remercient d'ailleurs les humains de la forteresse pour leur accueil. Ils sont aussi très surpris de voir que les gens de la forteresse maîtrisent la magie de la lune sans jamais y être allé. Et c'est ainsi qu'on explique qu'Usaki y a séjourné. Ainsi tu enchaines les explications auprès des mages de la forteresse pour leur expliquer la situation dans laquelle se trouve la lune. Lordonis, le grand mage en charge de la forteresse depuis le départ d'Ymir et Zaïra prend la parole :</p>

    <p>
      - Nous allons envoyer une expédition pour tenter de retrouver Ymir et Zaïra au plus vite. Ces informations sont de toutes premières importances.<br />
      - Bien, fait Leng Fao, nous vous remercions de prendre cette affaire au sérieux. Usaki vous a peut-être aidé mais son but était de vous détruire je puis vous l'affirmer.
    </p>

    <p>Les mages s'affairent dans tous les sens, certains vont parcourir les montagnes dans diverses directions. D'autres lancent des sorts de divination pour tenter de localiser les mages légendaires. Une expédition est également montée pour rejoindre l'Académie et prévenir Fandrean.</p>

    <p>Tu pourrais rester avec les noctules et les aider à s'installer ou rejoindre l'Académie avec cette expédition.</p>


  <div class="choix">
    <div class="ch" data-go="125">Rester à la forteresse</div>
    <div class="ch" data-go="126">Rejoindre l'expédition</div>
  </div>

</div>
