<div class="num num-1-3-99">

  <div class="text chapter3">

    <h1>- 99 -</h1>

    <p>
      - Les prophètes, héritiers du pouvoir de Soufflardent, ont pris le contrôle de l'Académie, t'explique Kannan. Leur pouvoir est sans limite. Les mages supérieurs ont préféré les servir plutôt que les combattre.<br />
      - Soyos et les autres sont encore pires que ce que je pensais quand j'ai appris l'histoire d'Ymir et Zaïra, soupire Mac Lumy.<br />
      - Déjà l'un d'entre eux est parti faire la guerre avec les barbares aux frontières des zones connus, fait Haziko. Il parait qu'il fait des massacres horribles.<br />
      - Et personne ne fait rien alors ? demandes-tu. Et Fandrean ? Et Lasseni ?
    </p>
    <p>Tes amis se regardent un peu gênés puis te répondent :</p>

    <p>
      - Fandrean et Lass' sont tombés dans un piège en arrivant à l'Académie. Les prophètes les ont capturé. Lass' est pied et poing liés car ils utilisent son frère pour la contrôler.<br />
      - Comment … !? Du… du coup Lasseni les aide dans ces massacres ?<br />
      - Non quand même pas, mais elle reste enfermée à l'Académie comme si elle était prisonnière, explique Panacle. Fandrean est mis dans une nouvelle prison construite par les pouvoirs de leur prophète <span class="naorem"></span>.<br />
      - On ne peut rien faire alors… te lamentes-tu.<br />
      - On n'a pas dit ça, te reprend Kannan. Nous faisons partis de la résistance. Nous sommes venus demander de l'aide à la forteresse. Notre général nous donne un peu d'espoir, et nous avons plusieurs ancien professeurs qui ont rejoint nos rangs.<br />
      - Mais qu'est-ce qu'on pourra faire contre eux ? fais-tu.<br />
      - Il y a une technique, dit Kannan en souriant. Il semble que les prophètes n'arrivent pas à sentir la magie de la lune. Et ils ne la contrôlent pas. La première chose que notre général nous a appris c'est cette magie. On peut les battre comme ça.
    </p>

    <p>Mac Lumy et Kannan décide de partir vers la forteresse sans perdre une minute pendant qu'Anselm, Panacle et Haziko restent avec toi. De toute façon ces deux là repasseront par là lors du retour.</p>

    <p>
      - Tu me présentes tes amis, fais Leng Fao en surgissant derrière toi.<br />
      - Oh ! Bien sûr ! Les amis voici Leng Fao, noctule venue s'installer sur terre. Leng Fao, je te présente mes amis de l'Académie : Anselm, Panacle et Haziko. Les deux qui sont partis sont Kannan et Mac Lumy.<br />
      - Enchantée de vous connaitre, fait la noctule.
    </p>

    <p>Tes amis sont un peu impressionnés par les noctules mais Leng Fao, sous forme humaine, les mets à l'aise. Tu remarques qu'ils ne lui parlent pas de la mission pour laquelle ils sont ici. Pourtant Leng Fao maîtrise la magie de la lune, elle pourrait vous aider.</p>


  <div class="choix">
    <div class="ch" data-go="102">Expliquer à Leng Fao pourquoi tes amis sont là</div>
    <div class="ch" data-go="105">Si tes amis se taisent c'est qu'il y a peut-être une raison : ne rien dire</div>
  </div>

</div>
