<div id="infoss">
  <div data-creature="barlin" class="hidden">
    <label>Barlin</label>
    <div class="contenu"><p class="phrase1">Petit rongeur qui vit dans les arbres et dors toute la journée pour s'activer la nuit.</p>
    </div>
  </div>

  <div data-creature="canidin" class="hidden">
    <label>Canidin</label>
    <div class="contenu">
      <p class="phrase1">C'est le plus fidèle ami de l'homme, sorte de Worg mais en plus petit que l'homme a réussi à domestiquer.</p>
    </div>
  </div>

  <div data-creature="félidé" class="hidden">
    <label>Félidé</label>
    <div class="contenu">
      <p class="phrase1">C'est un animal de compagnie. Très apprécié des mages il parait qu'il permet de canaliser la magie plus facilement que les autres animaux.</p>
    </div>
  </div>

  <div data-creature="Héréons" class="hidden">
    <label>Héréons</label>
    <div class="contenu"><p class="phrase1">Les Héréons sont de grands animaux, environ 4m de haut au garrot, vivants vers les monts noirs. Ils ont une grosse fourrure pour supporter le froid. Ce sont des herbivores mais leur taille immense impose la prudence. C'est un des repas préféré des dragons des monts noirs.</p>
    </div>
  </div>

  <div data-creature="longlant" class="hidden">
    <label>Longlant</label>
    <div class="contenu"><p class="phrase1">C'est une bête de ferme qui se nourrit de chamignon se trouvant sous la terre. Avec sa longue truffe il retourne la terre facilement. Les paysans l'utilise souvent pour retourner la terre de leurs champs.</p>
    </div>
  </div>

  <div data-creature="Manticore" class="hidden">
    <label>Manticore</label>
    <div class="contenu"><p class="phrase1">Le manticore vit dans les régions montagneuse. On en trouve principalement dans les monts venteux, mais aussi aux monts noirs. Ils ont une tête orné d'une crinière pourpre, leur corps est recouvert d'une fourrure tachetée marron et noire. Au bout de leur longue queue se trouve un dard (comme les abeilles) dont le poison peut assommer un grand Marandouin. C'est une des bêtes les plus dangereuse du pays après les dragons.</p>
    </div>
  </div>

  <div data-creature="Marandouins" class="hidden">
    <label>Marandouins (Grand)</label>
    <div class="contenu"><p class="phrase1">Il existe des grands et des petits marandouins. Les petits marandouins vivent dans la vallée du vent. Les grands marandouins, eux, habitent vers les monts noirs mais ont évolué différemment. Ils ont dû grandir grandement pour se protéger des nombreux prédateurs du coin. Les marandouins mangent du bois ou du charbon (de bois). Les grands mesurent environ 3 mètres de haut. Ils ont de longues jambes, une fine fourrure - blanche en hiver - grise en été, et une bouche située au bout d'une longue trompe. Malgré ce que l'on peut croire les grands marandouins se déplacent très vite.</p>
    </div>
  </div>

  <div data-creature="moufton" class="hidden">
    <label>Moufton</label>
    <div class="contenu"><p class="phrase1">C'est une bête de ferme, on l'élève pour sa fourrure avec laquelle on prépare de la laine, sa peau pour faire du cuir et sa viande que tout le monde adore.</p>
    </div>
  </div>

  <div data-creature="Noctule" class="hidden">
    <label>Noctule</label>
    <div class="contenu">
      <p class="phrase1">Le Noctule serait un animal qui a une taille immense, environ 3 mètres de haut, se déplace sur ses pattes arrière comme un humain et possède de gigantesques oreilles tel un grand lapin. Le Noctule possède aussi un pelage blanc et des yeux bleus qui brillent dans la nuit.</p>
    </div>
  </div>

  <div data-creature="pistre" class="hidden">
    <label>Pistre</label>
    <div class="contenu"><p class="phrase1">Animal de ferme qui hurle chaque matin. Pas plus gros qu'un cochon, couvert d'un fin pelage noir et blanc. Marche sur 2 pattes et mange n'importe quoi.</p>
    </div>
  </div>

  <div data-creature="porcussin" class="hidden">
    <label>Porcussin</label>
    <div class="contenu"><p class="phrase1">Petit porc du nord du pays. Ses long poils le protège du froid.</p>
    </div>
  </div>

  <div data-creature="ruflard" class="hidden">
    <label>Ruflard</label>
    <div class="contenu">
      <p class="phrase1">C'est une bête de ferme, à plumes mais qui ne peut pas voler. On l'élève pour ces oeufs qu'on mange.</p>
    </div>
  </div>

  <div data-creature="soufflardent" class="hidden">
    <label>Soufflardent</label>
    <div class="contenu"><p class="phrase1">Soufflardent est la créature la plus puissante que les mages ont jamais découvert. C'est un grand dragon d'onyx vivant dans les monts noirs. Ymir et Zaïra sont allés l'affronter car il attaquait sans arrêt les villages les plus proches. Même face aux deux plus grands mages jamais formés à l'académie la légende dit qu'Ymir et Zaïra ne purent qu'endormir le dragon. Il dort encore aujourd'hui. Mais tout le monde craint le jour où il se réveillera.</p>
    </div>
  </div>

  <div data-creature="worg" class="hidden">
    <label>Worg</label>
    <div class="contenu"><p class="phrase1">Le worg est un grand animal sauvage, se déplaçant en petit groupe de 3 ou 4. Il mesure 1.8m de haut et 3 mètres de long. Il a une grosse fourrure noir en été et blanche en été pour se fondre dans le décor quand il y a de la neige. C'est un carnivore qui mange ses proies avec ses longues dents acérées et ses puissantes griffes. Il attaque les troupeaux des bergers de temps en temps pour se nourrir.</p>
    </div>
  </div>
</div>
