<div id="infoss">

  <div data-perso="Andaelor" class="hidden">
    <label>Andaelor</label>
    <div class="contenu">
      <p class="phrase1">Andaelor est l'un des 4 mages supérieur. Il maîtrise la magie du vent à la perfection.</p>
      <p data-persomort="Andaelor" class="hidden">Il mourut sous ton sort lors de l'attaque de l'Académie.</p>
      <p data-persomort="Andaelor2" class="hidden">Il mourut assassiné par la résistance.</p>
      <p data-persomort="Andaelor3" class="hidden">Tu le tua lors de l'attaque de l'Académie par la résistance.</p>
    </div>
  </div>

  <div data-perso="Annette" class="hidden">
    <label>Annette</label>
    <div class="contenu"><p class="phrase1">Annette est ta meilleure amie. C'est la fille du meunier qui habite au bout de ta rue. Elle t'a toujours soutenu pour que tu deviennes mage même si elle ne comprends rien à la magie.</p></div>
  </div>

  <div data-perso="Anselm" class="hidden">
    <label>Anselm</label>
    <div class="contenu">
      <p class="phrase1">Un jeune mage de 13 ans. Il a fini <span class="place"></span>° à l'examen et a choisi la magie: <span class="magie"></span>.</p>
      <p data-persomort="Anselm" class="hidden">Tu l'as tué dans un élan de colère avec un sort surpuissant. Il n'a pas eu le temps de souffrir.</p>
      <p data-persomort="Anselm2" class="hidden">Sans le savoir, tu le tua en anihilant un village sur un coup de colère.</p>
      <p data-persomort="Anselm3" class="hidden">Il mourut, balayé par le sort du prophète qui avait pris l'apparence de Mac Lumy.</p>
      <p data-persomort="Anselm4" class="hidden">Il mourut, balayé par un sort qui détruisit le village d'Eaux-Claires.</p>
      <p data-persomort="Anselm5" class="hidden">Il mourut lors d'un combat hors norme dans la tour de magie.</p>
    </div>
  </div>

  <div data-perso="Appou" class="hidden">
    <label>Appou Durnan</label>
    <div class="contenu"><p class="phrase1">Un élève de 2° année qui s'entraine régulièrement à l'amphithéâtre.</p></div>
  </div>

  <div data-perso="Arak" class="hidden">
    <label>Arak</label>
    <div class="contenu">
      <p class="phrase1">C'est l'un des héritiers du pouvoir de Soufflardent. Il est implusif et colérique en plus d'être arrogant.</p>
    </div>
  </div>

  <div data-perso="Cellya" class="hidden">
    <label>Cellya Van Demillon</label>
    <div class="contenu"><p class="phrase1">Il s'agit de ta mère. C'est l'une des mages aventurière les plus puissante du pays. Depuis ta naissance elle reste à l'académie alors qu'avant elle avait l'habitude d'arpenter les monts noirs en large et en travers. Elle maîtrise tous les types de magie. Depuis qu'elle sait que tu veux devenir mage elle a essayé plusieurs fois de te faire changer de voie. Elle sait sûrement que le monde des mages est très dangereux. Mais tu adores trop la magie pour abandonner.</p></div>
  </div>

  <div data-perso="Dex" class="hidden">
    <label>Dex</label>
    <div class="contenu"><p class="phrase1">Il fait partie de l'équipe d'Estrion.</p></div>
  </div>

  <div data-perso="Dioné" class="hidden">
    <label>Dioné</label>
    <div class="contenu"><p class="phrase1">Dioné est un grand mage à l'académie. Cela signifie qu'il est juste en dessous des 4 Mages supérieurs dans la hiérarchie. Il est bien vieux et on il commence à plus avoir toute sa tête alors on lui donne des tâches faciles à faire comme accueillir les nouveaux élèves de l'académie.</p></div>
  </div>

  <div data-perso="Eran" class="hidden">
    <label>Eran</label>
    <div class="contenu"><p class="phrase1">Eran est ton grand frère. Tu es venu a Sarambe avec lui pour devenir mage. Malheureusement il a raté plusieurs fois l'examen et a dû trouver un travail pour que vous puissiez manger. Il a donc dû abandonner son rêve de devenir mage lui-même.</p>
    <p class="phrase2">Tu lui es reconnaissant(e) de ton ce qu'il a fait pour toi.</p></div>
  </div>

  <div data-perso="Espéride" class="hidden">
    <label>Espéride Mazénian</label>
    <div class="contenu">
      <p class="phrase1">C'est une mage de l'académie. Elle t'a fait passé l'examen d'entrée à l'académie. Elle a la peau très blanche avec de long cheveux noirs. Elle n'est pas jeune mais pas vieille non plus.</p>
      <p class="phrase2 hidden">Elle t'as vu triché et t'as sauvé la mise à l'examen. C'est une mage espionne pour le compte de l'académie et t'as obligé à suivre sa voie: la magie du vent.</p>
      <p data-persomort="Espéride" class="hidden">Tu l'as tué dans un élan de colère avec un sort surpuissant. Elle n'a pas eu le temps de souffrir.</p>
      <p data-persomort="Espéride2" class="hidden">Elle est morte en détruisant le sort qu'Usaki avait lancé pour t'anéantir. Elle est morte héroïquement.</p>
      <p data-persomort="Espéride3" class="hidden">Sans le savoir, tu la tua en anihilant un village sur un coup de colère.</p>
      <p data-persomort="Espéride4" class="hidden">Elle mourut, balayée par le sort du prophète qui avait pris l'apparence de Mac Lumy.</p>
      <p data-persomort="Espéride5" class="hidden">Elle mourut, balayée par un sort qui détruisit le village d'Eaux-Claires.</p>
      <p data-persomort="Espéride6" class="hidden">Elle mourut, en se sacrifiant pour sauver les gens du village d'Eaux-Claires. Le prophète avait pris l'apparence de Mac Lumy mais vous aviez réussir à la prévenir à temps.</p>
      <p data-persomort="Espéride7" class="hidden">Elle mourut des mains des prophètes lors de l'attaque de l'Académie.</p>
      <p data-persomort="Espéride8" class="hidden">Elle mourut lors d'un combat hors norme dans la tour de magie.</p>
    </div>
  </div>

  <div data-perso="Esteban" class="hidden">
    <label>Esteban Vento</label>
    <div class="contenu">
      <p class="phrase1">Un mage très connu, surnommé le fils du dragon. Il détient le record de vitesse du tour du lac à dos de dragon.</p>
      <p class="phrase2 hidden"></p>
      <p data-persomort="Esteban" class="hidden">Il mourut congelé, en combattant Usaki lors de l'attaque de l'Académie.</p>
    </div>
  </div>

  <div data-perso="Estrion" class="hidden">
    <label>Estrion</label>
    <div class="contenu"><p class="phrase1">C'est un mage de l'Académie. Il est responsable d'un groupe de mage d'investigation. C'est son groupe qui récupéra une personne maudite à Darmen.</p>
    <p class="phrase2 hidden">Il est tué par Modrak en se sacrifiant pour te protéger.</p>
    <p class="phrase3 hidden">Il est tué par Modrak en essayant de protéger Terrence.</p>
    <p class="phrase4 hidden">Il est tué par Miguel alors qu'il essayait de sauver Terrence.</p>
    </div>
  </div>

  <div data-perso="Fandrean" class="hidden">
    <label>Fandrean</label>
    <div class="contenu">
      <p class="phrase1">C'est l'un des mages les plus puissants en dehors de l'Académie. Il se trouve à la tour d'Azano, l'autre grand lieu de villégiature des mages. C'est un homme d'action plus que politique. C'est le frère aîné de Lasseni.</p>
      <p data-persomort="Fandrean" class="hidden">Il mourut dans sa geôle secrête que personne ne trouva jamais.</p>
    </div>
  </div>

  <div data-perso="Guérénile" class="hidden">
    <label>Guérénile la mage blanche</label>
    <div class="contenu"><p class="phrase1">Guérénile est ton professeur de magie de la terre, c'est est une vieille femme avec des lunettes et de longs cheveux blancs.</p></div>
  </div>

  <div data-perso="Guyot" class="hidden">
    <label>(Mr) Guyot</label>
    <div class="contenu"><p class="phrase1">C'est le maire un peu fainéant du village de Paumet.</p></div>
  </div>

  <div data-perso="Haziko" class="hidden">
    <label>Haziko</label>
    <div class="contenu">
      <p class="phrase1">Une toute jeune mage de 8 ans. Elle a fini <span class="place"></span>° à l'examen et a choisi la magie: <span class="magie"></span>.</p>
      <p data-persomort="Haziko" class="hidden">Tu l'as tué dans un élan de colère avec un sort surpuissant. Elle n'a pas eu le temps de souffrir.</p>
      <p data-persomort="Haziko2" class="hidden">Sans le savoir, tu la tua en anihilant un village sur un coup de colère.</p>
      <p data-persomort="Haziko3" class="hidden">Elle mourut lors d'un combat hors norme dans la tour de magie.</p>
    </div>
  </div>

  <div data-perso="Hector" class="hidden">
    <label>Hector</label>
    <div class="contenu"><p class="phrase1">Il est chargé de vous amener jusqu'à Darmen pour vous aider dans votre quête. Il connait bien la région, c'est un explorateur chevronné mais ne connait pas la magie.</p></div>
  </div>

  <div data-perso="Heldegarde" class="hidden">
    <label>Heldegarde</label>
    <div class="contenu"><p class="phrase1">Elle incarne la sagesse des mages de la tour d'Azano. Respectée par tout le monde, elle est également très puissante.</p></div>
  </div>

  <div data-perso="Herlly" class="hidden">
    <label>Herlly la voyante</label>
    <div class="contenu"><p class="phrase1">Tu es allé(e) la voir à Sarambe. C'est une voyante itinérante d'une vingtaine d'années qui t'as paru un peu dingue. Elle a la peu légèrement bleutée, signe distinctif des habitants des terres du nord. Elle t'a fait une drôle de prédiction.</p></div>
  </div>

  <div data-perso="Imp" class="hidden">
    <label>Imp</label>
    <div class="contenu">
      <p class="phrase1">Imp est le grand prophète de Soufflardent. C'est lui qui organise la libération du grand dragon depuis les marais du nord.</p>
      <p class="phrase2 hidden">Vous avez réussi à le capturer.</p>
      <p class="phrase2 hidden">Vous avez réussi à le terrasser.</p>
    </div>
  </div>

  <div data-perso="Jayn" class="hidden">
    <label>Jayn</label>
    <div class="contenu"><p class="phrase1">Un jeune mage de 11 ans. Il a fini <span class="place"></span>° à l'examen et a choisi la magie: <span class="magie"></span>.</p></div>
  </div>

  <div data-perso="Jayne" class="hidden">
    <label>Jayne</label>
    <div class="contenu"><p class="phrase1">Une jeune mage de 11 ans. Elle a fini <span class="place"></span>° à l'examen et a choisi la magie: <span class="magie"></span>.</p></div>
  </div>

  <div data-perso="Jolt" class="hidden">
    <label>Jolt</label>
    <div class="contenu"><p class="phrase1">Jolt est un ami d'Hector. Il vit un peu à l'extérieur du village de Darmen.</p></div>
  </div>

  <div data-perso="Kannan" class="hidden">
    <label>Kannan</label>
    <div class="contenu">
      <p class="phrase1">Une jeune mage de 10 ans. Elle a fini <span class="place"></span>° à l'examen et a choisi la magie: <span class="magie"></span>. Elle a de longs cheveux bruns, une peau claire, et des joues toutes roses.</p>
      <p class="phrase2 hidden">C'est ta camarade de chambre à l'académie. Elle vient de Téogile, la grande ville de l'ouest du pays. Gentille avec tout le monde et surtout très organisée. Elle garde son grimoire tout le temps avec elle.</p>
      <p data-persomort="Kannan" class="hidden">Tu l'as tué dans un élan de colère avec un sort surpuissant. Elle n'a pas eu le temps de souffrir.</p>
      <p data-persomort="Kannan2" class="hidden">Tu l'as terrassé alors qu'elle t'avait tendu un piège, mais ce ne fut pas quelque chose de facile.</p>
      <p data-persomort="Kannan3" class="hidden">Elle mourrut lors de la mission, que vous aviez, d'éliminer Méonie.</p>
      <p data-persomort="Kannan4" class="hidden">Sans le savoir, tu la tua en anihilant un village sur un coup de colère.</p>
      <p data-persomort="Kannan5" class="hidden">Elle mourut, balayée par le sort du prophète qui avait pris l'apparence de Mac Lumy.</p>
      <p data-persomort="Kannan6" class="hidden">Elle mourut, balayée par un sort qui détruisit le village d'Eaux-Claires.</p>
      <p data-persomort="Kannan7" class="hidden">Elle mourut lors d'un combat hors norme dans la tour de magie.</p>
    </div>
  </div>

  <div data-perso="Konakey" class="hidden">
    <label>Konakey</label>
    <div class="contenu">
      <p class="phrase1">Une jeune femme, d'à peu prés ton âge, à la peau grise et de long cheveux noire.</p>
      <p class="phrase2 hidden">Vous avez appris qu'elle venait de la forteresse de la lune, un lieu dirigé par Ymir et Zaïra.</p>
    </div>
  </div>

  <div data-perso="Lasseni" class="hidden">
    <label>Lasseni</label>
    <div class="contenu">
      <p class="phrase1">Une jeune mage de 11 ans. Elle a fini <span class="place"></span>° à l'examen et a choisi la magie: <span class="magie"></span>.</p>
      <p data-persomort="Lasseni" class="hidden">Elle mourut dans la tour de magie quand cette dernière s'effondra.</p>
    </div>
  </div>

  <div data-perso="Levy" class="hidden">
    <label>Levy</label>
    <div class="contenu"><p class="phrase1">Levy est un élève de 3° année, il est un peu plus vieux que toi, les cheveux courts et rouges. C'est le meilleur cavalier dragon de l'académie. Secrètement tu es tombée amoureux de lui.</p></div>
  </div>

  <div data-perso="Levy2" class="hidden">
    <label>Levy</label>
    <div class="contenu"><p class="phrase1">Levy est une élève de 3° année, elle est un peu plus vieille que toi, les cheveux courts et rouges. C'est la meilleure cavalière dragon de l'académie. Secrètement tu es tombée amoureux d'elle.</p></div>
  </div>

  <div data-perso="MacLumy" class="hidden">
    <label>Mac Lumy</label>
    <div class="contenu">
      <p class="phrase1">Un jeune mage de 9 ans. Il a fini <span class="place"></span>° à l'examen et a choisi la magie: <span class="magie"></span>. Cheveux courts et rouge, la peau un peau grise.</p>
      <p class="phrase2 hidden">C'est ton camarade de chambre à l'académie. Il vient de Melb, un village de mineurs un peu au nord de l'académie. Il a toujours l'air joyeux et ne possède pas grand chose. Il doit venir d'une famille pauvre. C'est un exploit d'autant plus grand que d'être arrivé à être pris à l'examen.</p>
      <p data-persomort="MacLumy" class="hidden">Tu l'as tué dans un élan de colère avec un sort surpuissant. Il n'a pas eu le temps de souffrir.</p>
      <p data-persomort="MacLumy2" class="hidden">Il ne revint jamais de la mission, que vous aviez, d'éliminer Méonie.</p>
      <p data-persomort="MacLumy3" class="hidden">Sans le savoir, tu le tua en anihilant un village sur un coup de colère.</p>
      <p data-persomort="MacLumy4" class="hidden">Tu te retrouvas dans l'obligation de le tuer pour faire croire aux prophètes que tu étais des leurs.</p>
      <p data-persomort="MacLumy5" class="hidden">Il mourut en essayant de protéger Kannan des prophètes.</p>
      <p data-persomort="MacLumy6" class="hidden">Il mourut en te protégeant d'un sort d'Usaki pour que tu puisses atteindre le vortex.</p>
    </div>
  </div>

  <div data-perso="Médeya" class="hidden">
    <label>Médeya</label>
    <div class="contenu"><p class="phrase1">Elle est la servante de ta famille depuis que tu es enfant. Elle a été plus présente à tes côtés que ta propre mère. Gentille et attentionnée, tu la considère comme un vrai membre de ta famille.</p></div>
  </div>

  <div data-perso="Méonie" class="hidden">
    <label>Méonie</label>
    <div class="contenu">
      <p class="phrase1">C'est une des héritières du pouvoir de Soufflardent. C'est une jeune fille d'apparence tout à fait banal, ni belle, ni moche, cheveux courts et noirs.</p>
      <p data-persomort="Méonie" class="hidden">Elle mourut dans un piège qui t'était initialement tendu, victime de la fourberie de Mullihane.</p>
      <p data-persomort="Méonie2" class="hidden">Incapable de pouvoir contenir la force de la magie de Soufflardent, elle se consumma un matin sans un bruit.</p>
      <p data-persomort="Méonie3" class="hidden">Elle mourut lors de votre attaque surprise avec Mullihane.</p>
      <p data-persomort="Méonie4" class="hidden">Elle mourut en se dispersant magiquement avec son amoureux.</p>
      <p data-persomort="Méonie5" class="hidden">Elle mourut en combattant Panacle et Lasseni lors de l'attaque de l'Académie.</p>
      <p data-persomort="Méonie6" class="hidden">Elle mourut lors d'un combat hors norme dans la tour de magie.</p>
      <p data-persomort="Méonie7" class="hidden">Tu absorba la prophétesse pendant l'attaque finale de l'Académie.</p>
    </div>
  </div>

  <div data-perso="Miguel" class="hidden">
    <label>Miguel</label>
    <div class="contenu"><p class="phrase1">C'est une chèvre qui devient le familier de l'équipe numéro 2. Elle est plutôt surprenante, au point qu'on la mette dans la partie personnage plutôt que créature.</p></div>
  </div>

  <div data-perso="Modrak" class="hidden">
    <label>Modrak</label>
    <div class="contenu"><p class="phrase1">Chef des bandits qui ont attaqué Darmen. Il est impitoyable et semble d'une puissance incroyable, il semble capable d'utiliser la magie. Dans un rêve Soufflardent t'a révélé qu'il était son envoyé.</p>
    <p class="phrase2 hidden">Il mourut réduit en cendres par Miguel.</p>
    <p class="phrase3 hidden">Tu réussis à l'éliminer après avoir récupéré les pouvoirs de Terrence.</p>
    <p class="phrase4 hidden">Il disparut à la fin de ta mission de Darmen sans laisser de trace.</p>
    <p class="phrase5 hidden">Tu réussis à le capturer grâce aux pouvoirs récupérés de Terrence.</p>
    </div>
  </div>

  <div data-perso="Mullihane" class="hidden">
    <label>Mullihane</label>
    <div class="contenu">
      <p class="phrase1">Elle fait partie de l'élite des mages. Il s'agit d'un des 4 mages supérieur de l'Académie.</p>
      <p data-persomort="Mullihane" class="hidden">Tu l'as terrassé alors qu'elle t'avait tendu un piège.</p>
      <p data-persomort="Mullihane2" class="hidden">Elle mourrut lors de la mission, que vous aviez, d'éliminer Méonie.</p>
      <p data-persomort="Mullihane3" class="hidden">Elle mourut, calciné par la rage d'un de tes sorts sur un petit village dans lequel elle se trouvait.</p>
      <p data-persomort="Mullihane4" class="hidden">Elle mourut lors de votre attaque sur Méonie. Victime du sort de Kannan pour permettre de toucher la prophétesse en même temps.</p>
    </div>
  </div>

  <div data-perso="Nao" class="hidden">
    <label>Nao</label>
    <div class="contenu">
      <p class="phrase1">Un élève qui s'est hissé jusqu'à la troisième place des jeunes mages. Il est juste un peu plus jeune que toi.</p>
      <p data-persomort="Nao" class="hidden">Il mourut dans les bras de la fille qu'il aimait, Méonie, trahi par elle mais au bord de la folie également.</p>
      <p data-persomort="Nao2" class="hidden">Il mourut lors d'un combat hors norme dans la tour de magie.</p>
      <p data-persomort="Nao3" class="hidden">Tu le tua lors d'un combat hors norme dans la tour de magie.</p>
      <p data-persomort="Nao4" class="hidden">Il fut mis hors d'état de nuire par Lasseni.</p>
      <p data-persomort="Nao5" class="hidden">Tu l'envoya sur la lune pour mourir.</p>
    </div>
  </div>

  <div data-perso="Nello" class="hidden">
    <label>Nello</label>
    <div class="contenu"><p class="phrase1">Un élève de 2° année qui a hâte d'arriver en 3° année pour affronter des monstres pendant les missions.</p></div>
  </div>

  <div data-perso="Osman" class="hidden">
    <label>Osman Zérion le mage du feu</label>
    <div class="contenu"><p class="phrase1">Osman est ton professeur de magie du feu, c'est un petit mage chauve, la peau noire avec une tunique sans manche.</p></div>
  </div>

  <div data-perso="Panacle" class="hidden">
    <label>Panacle</label>
    <div class="contenu">
      <p class="phrase1">Un jeune mage de 10 ans. Il a fini <span class="place"></span>° à l'examen et a choisi la magie: <span class="magie"></span>.</p>
      <p data-persomort="Panacle" class="hidden">Tu l'as tué dans un élan de colère avec un sort surpuissant. Il n'a pas eu le temps de souffrir.</p>
      <p data-persomort="Panacle2" class="hidden">Il mourrut lors de la mission, que vous aviez, d'éliminer Méonie.</p>
      <p data-persomort="Panacle3" class="hidden">Sans le savoir, tu le tua en anihilant un village sur un coup de colère.</p>
      <p data-persomort="Panacle4" class="hidden">Transformé en escargot par les prophètes, ces derniers l'écrasèrent pour mettre fin à sa misère.</p>
      <p data-persomort="Panacle4" class="hidden">Il mourut, balayé par le sort du prophète qui avait pris l'apparence de Mac Lumy.</p>
      <p data-persomort="Panacle5" class="hidden">Il mourut, balayé par un sort qui détruisit le village d'Eaux-Claires.</p>
      <p data-persomort="Panacle6" class="hidden">Il mourut lors d'un combat hors norme dans la tour de magie.</p>
    </div>
  </div>

  <div data-perso="Pasha" class="hidden">
    <label>Pasha</label>
    <div class="contenu">
      <p class="phrase1">Pasha est l'un des 4 mages supérieur. Il maîtrise la magie du feu à la perfection.</p>
      <p data-persomort="Pasha" class="hidden">Il mourut sous ton sort lors de l'attaque de l'Académie.</p>
      <p data-persomort="Pasha2" class="hidden">Il mourut assassiné par la résistance.</p>
      <p data-persomort="Pasha3" class="hidden">Tu le tua lors de l'attaque de l'Académie par la résistance.</p>
      <p data-persomort="Pasha4" class="hidden">Vous réussites à le vaincre, toi et Mac Lumy, lors d'un combat au sommet, lors de l'attaque de l'Académie.</p>
      <p data-persomort="Pasha5" class="hidden">Il fut écrasé par un bloc de pierre au cours de son combat contre Anselm.</p>
      <p data-persomort="Pasha6" class="hidden">Il mourut dans son combat contre Usaki lors de l'attaque de l'Académie.</p>
      <p data-persomort="Pasha7" class="hidden">Il fut écrasé par un bloc de pierre au cours de son combat contre Haziko.</p>
    </div>
  </div>

  <div data-perso="Qobur" class="hidden">
    <label>Qobur le mage violet</label>
    <div class="contenu"><p class="phrase1">Qobur est ton professeur principal, c'est un grand mage à cape violette avec de petites lunettes. En plus des cours de magie théorique et runique et il donne aussi des cours de magie de l'eau.</p></div>
  </div>

  <div data-perso="Rem" class="hidden">
    <label>Rem</label>
    <div class="contenu">
      <p class="phrase1">Le petit génie de la tour d'Azano. Un enfant très doué avec la magie mais qui n'a jamais mis les pieds à l'Académie.</p>
      <p data-persomort="Rem" class="hidden">Il mourut dans les bras de la fille qu'il aimait, Méonie, trahi par elle mais au bord de la folie également.</p>
      <p data-persomort="Rem2" class="hidden">Il mourut lors d'un combat hors norme dans la tour de magie.</p>
      <p data-persomort="Rem3" class="hidden">Tu le tua lors d'un combat hors norme dans la tour de magie.</p>
      <p data-persomort="Rem4" class="hidden">Il fut mis hors d'état de nuire par Lasseni.</p>
      <p data-persomort="Rem5" class="hidden">Tu l'envoya sur la lune pour mourir.</p>

    </div>
  </div>

  <div data-perso="Rodolphe" class="hidden">
    <label>Rodolphe</label>
    <div class="contenu">
      <p class="phrase1">Rodolphe est le fils d'un paysan. Il est aussi ton meilleur ami. Comme il a déjà 14 ans son père le laisse conduire sa charrette de temps en temps et faire des livraisons à l'académie d'Azalys.</p>
    </div>
  </div>

  <div data-perso="Romond" class="hidden">
    <label>Romond Dozly</label>
    <div class="contenu"><p class="phrase1">Romond a été ton tuteur pour l'apprentissage de la magie depuis longtemps. Tes parents se sont payé ses services pour que tu aies plus de chances d'être pris à l'examen. Il a eu un accident à l'académie il y a longtemps qui lui a provoqué une perte de magie: il ne peut plus du tout utiliser la magie depuis.</p></div>
  </div>

  <div data-perso="Soyos" class="hidden">
    <label>Soyos de Saphir</label>
    <div class="contenu">
      <p class="phrase1">Soyos est un des plus grands mages du pays. On ne sait pas trop quel âge il a mais on dit qu'il a presque 200 ans et qu'il aurait connu personnellement Ymir et Zaïra. Il dirige l'académie avec les 3 autres Mages supérieurs. On lui donne le nom de "Saphir" car il est en charge des sorts d'eau et de glace.</p>
      <p data-persomort="Soyos" class="hidden">Il mourut sous ton sort lors de l'attaque de l'Académie.</p>
      <p data-persomort="Soyos2" class="hidden">Il mourut sous ton sort lors de l'attaque de l'Académie.</p>Pash
      <p data-persomort="Soyos3" class="hidden">Il mourut assassiné par la résistance.</p>
    </div>
  </div>

  <div data-perso="Terrence" class="hidden">
    <label>Terrence</label>
    <div class="contenu"><p class="phrase1">Il fut maudit par la marque de Soufflardent. La malédiction prends la forme d'un tatouage et annule la magie le ciblant. Modrak est attiré par la malédiction et veut s'emparer de lui pour une raison inconnue.</p>
    <p class="phrase2 hidden">Il est enlevé par Miguel sous vos yeux.</p>
    <p class="phrase3 hidden">Il meurt en s'interposant face à la magie de Modrak, et te sauve. En mourant il te donne sa malédiction.</p>
    <p class="phrase4 hidden">Il est enlevé par Miguel que tu avais rejoins.</p>
    </div>
  </div>

  <div data-perso="Usaki" class="hidden">
    <label>Usaki</label>
    <div class="contenu">
      <p class="phrase1">C'est le vrai nom de Miguel. Il sert Ymir et Zaïra à la forteresse de la lune.</p>
      <p class="phrase2 hidden">Dans le temps, il sauva Ymir et Zaïra de la trahison des 4 mages supérieurs de l'Académie.</p>
      <p data-persomort="Usaki" class="hidden">Tu le tua en le faisant exploser de l'intérieur.</p>
      <p data-persomort="Usaki2" class="hidden">Tu le tua en le réduisant en cendres lors de l'attaque finale sur l'Académie.</p>
      <p data-persomort="Usaki3" class="hidden">Tu le tua en lui transperçant le coeur lors de l'attaque finale sur l'Académie.</p>
      <p data-persomort="Usaki4" class="hidden">Il meurt, tué par Lasseni, lors d'un combat qui détruisit l'Académie.</p>
      <p data-persomort="Usaki5" class="hidden">Tu le transforma en inoffensif petit lapin lors du combat final.</p>
      <p data-persomort="Usaki6" class="hidden">Tu le gela de la tête aux pieds lors du combat final.</p>
      <p data-persomort="Usaki7" class="hidden">Lasseni le tua lors du combat final.</p>
      <p data-persomort="Usaki8" class="hidden">Il mourut en essayant de protéger la lune.</p>
      <p data-persomort="Usaki9" class="hidden">Il mourut grillé contre le vortex.</p>
    </div>
  </div>

  <div data-perso="Ymir" class="hidden">
    <label>Ymir</label>
    <div class="contenu"><p class="phrase1">Un de tes idoles. Il fut l'un des plus grand mage du pays. Il peut utiliser n'importe quel type de magie à la perfection. Il est le frère de Zaïra et l'un des premiers élèves de l'académie.</p>
    <p class="phrase2">Il naquit dans la ville de Sarambe. Très vite les grands mages de l'académie découvrirent ses talents pour la magie et il fut invité à étudier à l'académie d'Azalys. Il réussit très vite à dépasser en puissance tous les autres mages, et mit au point avec sa sœur de nouveaux sortilèges.</p>
    <p class="phrase3">Après quelques années à rechercher de nouveaux sorts il décida de devenir mage explorateur accompagné de sa sœur. Grâce à eux on put découvrir des zones encore inexplorées.</p>
    <p class="phrase4">Il disparu avec sa sœur il y a plus de 150 ans alors qu'il partait en direction des monts noirs pour affronter le dragon Soufflardent. La légende dit que lui et sa soeur moururent en le plongeant dans un sommeil éternel grâce à leur magie.</p>
    <p data-persomort="Ymir" class="hidden">Tu le tua grâce aux pouvoirs de Soufflardent, lors de l'attaque de l'Académie.</p>
    <p data-persomort="Ymir2" class="hidden">Il mourut des mains des prophètes lors de l'attaque de l'Académie.</p>
    </div>
  </div>

  <div data-perso="Zaïra" class="hidden">
    <label>Zaïra</label>
    <div class="contenu"><p class="phrase1">Une de tes idoles. Elle fut l'un des plus grande mage du pays. Elle peut utiliser n'importe quel type de magie à la perfection. Elle est la sœur de Ymir et l'une des premières élèves de l'académie.</p>
    <p class="phrase2">Elle naquit dans la ville de Sarambe. Très vite les grands mages de l'académie découvrirent ses talents pour la magie et elle fut invitée à étudier à l'académie d'Azalys. Elle réussit très vite à dépasser en puissance tous les autres mages, et mit au point avec son frère de nouveaux sortilèges.</p>
    <p class="phrase3">Après quelques années à rechercher de nouveaux sorts elle décida de devenir mage explorateur accompagné de son frère. Grâce à eux on put découvrir des zones encore inexplorées.</p>
    <p class="phrase4">Elle disparu avec son frère il y a plus de 150 ans alors qu'il partait en direction des monts noirs pour affronter le dragon Soufflardent. La légende dit que elle et son frère moururent en le plongeant dans un sommeil éternel grâce à leur magie.</p>
    <p data-persomort="Zaïra" class="hidden">Tu la tua grâce aux pouvoirs de Soufflardent, lors de l'attaque de l'Académie.</p>
    <p data-persomort="Zaïra2" class="hidden">Elle mourut des mains des prophètes lors de l'attaque de l'Académie.</p>
    </div>
  </div>
</div>
