<div class="num num-1-1-1">

  <div class="text">
    <h1>Introduction</h1>
    <p>Aujourd'hui c'est le grand jour. Après avoir passé plusieurs années à étudier toi, <span class="tonnom"></span>, tu as enfin la possibilité de montrer ce que tu vaux.</p>
    <p>Aujourd'hui c'est l'examen d'entrée à l'académie Azalys. Une des écoles de magie les plus réputées du pays. C'est l'école dans laquelle Ymir et Zaïra, tes idoles, ont appris la magie. Alors c'est sûr tu es carrément excité<span class="sexe sexe-fille">e</span>.</p>
    <p>Mais c'est maintenant qu'il ne faut pas se louper. Tu n'es pas tout<span class="sexe sexe-fille">e</span> seul<span class="sexe sexe-fille">e</span> à essayer. Avec toi pas moins de 300 apprenties vont tenter d'y accéder. Et seulement les 8 meilleures lors de cet examen seront reçus en première année.</p>
    <p>
    <p>Tu as déjà montré que tu avais les capacités pour te hisser à ce niveau alors ce n'est pas le moment d'abandonner.</p>
  </div>
  <div class="choix">
    <div class="ch" data-go="2">Aller à l'examen</div>
  </div>

</div>
