<div class="num num-1-1-10">

  <div class="text">
    <h1>- 10 -</h1>
    <p>En te baladant tu vois des fêtes un peu partout dans la ville. Un des élèves retenus était visiblement un enfant de Sarambe. C'est suffisamment rare pour que toute la ville soit en fête. Tu arrives à récupérer des brochettes de poulpes et de la glace au sirop de pêche. Tu passes l'après-midi en regardant un spectacle de danse locale rythmé par un joueur de tambour très en forme.</p>
    <p>Alors que tu allais rentrer au camp des mages tu remarques une petite tente intrigante où un panneau indique "Herlly voyante itinérante".</p>
    <p>Intrigué<span class="sexe sexe-fille">e</span> tu t'y engouffres. Un tabouret posé devant une petite table semble tout prêt à t'accueillir. De même qu'une personne d'une vingtaine d'année, femme, la peau légèrement bleutée (sûrement une habitante des terres du nord), avec une énorme boucle d'oreille en jade à l'oreille droite.</p>
    <p>- Installe-toi je t'en pris. &raquo; énonça Herlly<br />
      - J'étais juste un peu curieu<span class="sexe sexe-fille">se</span><span class="sexe sexe-garcon">x</span> je n'ai pas beaucoup d'argent.<br />
      - Pour les élèves de l'académie, c'est gratuit.<br />
      - Comment savez-vous que... ?<br />
      - C'est mon métier de tout savoir. Je vais te révéler une partie de ton futur.</p>
      <p>Herlly sort un paquet de cartes qu'elle mélange, elle en sort 5, faces cachées, puis te demande d'en retourner une seule.</p>
      <p>Justement il y en a une qui a l'air de briller, ou alors c'est ton imagination.</p>

  </div>

  <div class="choix">
    <div class="ch def-bagarreur" data-go="11">Tirer la carte 1 qui brille</div>
    <div class="ch def-bagarreur" data-go="12">Tirer la carte 2</div>
    <div class="ch def-bagarreur" data-go="13">Tirer la carte 3</div>
    <div class="ch def-bagarreur" data-go="14">Tirer la carte 4</div>
    <div class="ch def-bagarreur" data-go="15">Tirer la carte 5</div>

    <div class="ch def-naif" data-go="12">Tirer la carte 2 qui brille</div>
    <div class="ch def-naif" data-go="11">Tirer la carte 1</div>
    <div class="ch def-naif" data-go="13">Tirer la carte 3</div>
    <div class="ch def-naif" data-go="14">Tirer la carte 4</div>
    <div class="ch def-naif" data-go="15">Tirer la carte 5</div>

    <div class="ch def-parfait" data-go="13">Tirer la carte 3 qui brille</div>
    <div class="ch def-parfait" data-go="11">Tirer la carte 1</div>
    <div class="ch def-parfait" data-go="12">Tirer la carte 2</div>
    <div class="ch def-parfait" data-go="14">Tirer la carte 4</div>
    <div class="ch def-parfait" data-go="15">Tirer la carte 5</div>

    <div class="ch def-peureux" data-go="14">Tirer la carte 4 qui brille</div>
    <div class="ch def-peureux" data-go="11">Tirer la carte 1</div>
    <div class="ch def-peureux" data-go="12">Tirer la carte 2</div>
    <div class="ch def-peureux" data-go="13">Tirer la carte 3</div>
    <div class="ch def-peureux" data-go="15">Tirer la carte 5</div>

    <div class="ch def-tricheur" data-go="15">Tirer la carte 5 qui brille</div>
    <div class="ch def-tricheur" data-go="11">Tirer la carte 1</div>
    <div class="ch def-tricheur" data-go="12">Tirer la carte 2</div>
    <div class="ch def-tricheur" data-go="13">Tirer la carte 3</div>
    <div class="ch def-tricheur" data-go="14">Tirer la carte 4</div>
  </div>

</div>
