<div class="num num-1-1-100">

  <div class="text">
    <h1>- 100 -</h1>

    <p>Alors que ton sort s'efface, tu te demandes ce que tu vas devenir. Tu es seul<span class="sexe sexe-fille">e</span> dans la pièce mais tu sais qu'un garde est placé devant la porte car tu l'entends grommeler de temps en temps.</p>

    <p>Tout à coup, tu entends un bruit métallique sourd comme si quelqu'un s'était cogné la tête contre un seau en fer. La porte de la chambre s'entrouvre lentement et tu vois <span class="grp1-2"></span> passer la tête. <span class="grp1-2-fille">Elle</span><span class="grp1-2-garcon">Il</span> est accompagné<span class="grp1-2-fille">e</span> par tout le groupe avec Jolt. On te délivre très vite, tes poignets te font un mal pas possible mais tu es tellement content<span class="sexe sexe-fille">e</span> que tu n'y penses que l'espace d'une seconde.</p>
    <p><span class="grp1-1"></span> fait signe de ne rien dire en posant un doigt devant ses lèvres. Vous ressortez discrètement de l'auberge, aidés par la serveuse qui vous ouvre la porte arrière de l'établissement.<br />
      - On est tous avec vous, il faut que vous préveniez l'académie au plus vite, vous dit-elle.<br />
      - Les renforts vont bientôt arriver, on a envoyé quelqu'un ne vous inquiétez pas, réponds-tu.<br />
      - Faites quand même attention, on a envoyé 2 fois des gens pour donner l'alerte et ils se sont fait prendre à chaque fois. Ils ont des mages avec des pouvoirs bizarres.</p>

      <p>Vous courez jusqu'à la forêt pour vous cacher, mais tu gardes ce que t'as dit la serveuse dans un coin de ta tête. Tu sais que le sort de Vision de rêves permet de trouver des gens ou des objets. Normalement, Hector devrait être en sécurité mais si jamais un sort encore plus puissant existe peut-être cela veut-il dire qu'il risque de se faire pourchasser.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="101">Faire le point avec ton groupe</div>
  </div>

</div>
