<div class="num num-1-1-101">

  <div class="text">
    <h1>- 101 -</h1>

    <p>Tu apprends à ton groupe que les bandits sont dirigés par une sorte de monstre qui connaît la magie. Mais vous n'avez aucun indice supplémentaire pour savoir où se trouve Estrion : il va falloir le chercher vous-même dans la forêt.</p>
    <p>Jolt vous dit qu'il vous attendra dans sa cabane mais qu'il ne faut pas hésiter à l'appeler s'il y a de la bagarre. Il a très envie de se venger des "bandits". Tu lui réponds que tu le feras, même si au fond de toi tu n'as pas envie de lui causer des ennuis. De ce que tu as pu voir hier soir : il est vraiment nul en bagarre.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="92">Fouiller la forêt et trouver la cascade des têtards</div>
  </div>

</div>
