<div class="num num-1-1-102">

  <div class="text">
    <h1>- 102 -</h1>

    <p class="magie-eau">Tu lances ton sort de Vision de Rêves et tu arrives à voir que <span class="mage-vent"></span> semble être retenu prisonnier dans l'auberge. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> a l'air d'être au premier étage dans une chambre. Heureusement ton sort a parfaitement fonctionné, tu as tout vu parfaitement.</p>
    <p class="magie-pas-eau"><span class="mage-eau"></span> lance son sort de Vision de Rêves et <span class="mage-eau-fille">elle</span><span class="mage-eau-garcon">il</span> arrive à voir que <span class="mage-vent"></span> semble être retenu prisonnier dans l'auberge. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> a l'air d'être au premier étage dans une chambre. Heureusement son sort a parfaitement fonctionné, <span class="mage-eau"></span> a tout vu parfaitement.</p>

    <p>Mais aller vers l'auberge pour <span class="mage-vent-fille">la</span><span class="mage-vent-garcon">le</span> délivrer peut être dangereux. Hector est parti chercher du renfort. L'académie ne sera pas là avant plusieurs jours, et tu ne sais pas si tu peux te permettre d'attendre que les secours arrivent.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="104">Décider de laisser <span class="mage-vent"></span> prisonnier pour que le reste du groupe ne prenne aucun risque</div>
    <div class="ch" data-go="105">Lancer l'opération de libération de <span class="mage-vent"></span></div>
  </div>

</div>
