<div class="num num-1-1-103">

  <div class="text">
    <h1>- 103 -</h1>

    <p class="magie-feu"><span class="mage-terre"></span> te met la main sur l'épaule :<br />
    - Il est arrivé quelque chose à <span class="mage-vent"></span>. Il faut faire quelque chose. On ne peut pas rester ici sans rien faire.</p>
    <p class="magie-pas-feu"><span class="mage-feu"></span> te met la main sur l'épaule :<br />
    - Il est arrivé quelque chose à <span class="mage-vent"></span>. Il faut faire quelque chose. On ne peut pas rester ici sans rien faire.</p>

    <p class="magie-eau"><span class="mage-feu"></span> te dit de lancer ton sort de Vision de Rêves.</p>
    <p class="magie-pas-eau"><span class="mage-eau"></span> dit qu'<span class="mage-eau-fille">elle</span><span class="mage-eau-garcon">il</span> va lancer son sort de Vision de Rêves.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="102">Lancer le sort de Vision de Rêves pour localiser <span class="mage-vent"></span></div>
  </div>

</div>
