<div class="num num-1-1-104">

  <div class="text">
    <h1>- 104 -</h1>

    <p>Tout le monde te regarde en faisant une tête surprise. Personne ne pensait que tu allais abandonner un compagnon. Mais en même temps, ils comprennent que c'est très risqué et finalement ne te font aucun reproche. Le mieux pour le moment est de trouver Estrion et peut-être qu'avec son aide vous pourrez délivrez <span class="mage-vent"></span>.</p>

    <p>Jolt te dit qu'il va rester ici au cas où <span class="mage-vent"></span> arriverait à s'échapper. C'est certainement le mieux que vous pouvez faire pour le moment.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="92">Fouiller la forêt et trouver la cascade des têtards pour trouver Estrion</div>
  </div>

</div>
