<div class="num num-1-1-105">

  <div class="text">
    <h1>- 105 -</h1>

    <p>Tout le monde s'infiltre discrètement dans le village, mais vous n'avez pas l'habitude de ça. Vous mettez presqu'une heure pour progresser jusqu'à l'auberge sans vous faire voir. Vous remarquez que l'auberge possède une porte arrière, c'est par là que vous allez rentrer, ce sera plus discret.</p>
    <p class="magie-eau">Tu dis aux autres d'attendre cachés dans un fourré pendant que tu vas jusqu'à la porte. D'une roulade gracieuse, tu arrives juste où il faut. Mais comme tu le pensais la porte est verrouillée. Tu décides de lancer ton sort de glaciation sur la serrure.
      <span class="magie-noire">Le gel se forme dessus, mais de manière tellement puissante que la serrure explose et ouvre la porte. C'est ce que tu voulais, mais là ça a vraiment fait beaucoup de bruit. Jolt te fait signe qu'un bandit arrive et que tu dois te cacher. Mais si le bandit vient, il va voir la serrure explosée et il sera très dur de sauver <span class="mage-vent"></span> car ils vont renforcer la surveillance.<br />Tu ne sais tellement pas quoi faire que tu paniques et tu ne trouves pas de cachette. Le bandit est tout proche, tu entends ses pas se rapprocher.<br />
      - Qui va là ? Il y a quelqu'un ? <br />
      dès qu'il va passer l'angle de l'auberge il va te voir. Tu es déjà prête à lui sauter dessus et lui glacer la tête avec ton sort. Mais soudain Miguel sort de son fourré regarde le garde et bêle.<br />
      - Une chèvre ? D'accord… bon je suis trop méfiant. Personne ne va nous attaquer, le chef est trop puissant de toute façon.<br />
      Tu entends le bandit faire demi-tour. Miguel t'a sauvé la mise sur ce coup-là.
      </span>
      <span class="magie-verte">Le gel se forme dessus de manière parfaite. Tu n'as plus qu'à donner un petit coup dessus pour la briser et ouvrir la porte.
      </span>
    </p>
    <p class="magie-pas-eau">Tu demandes à <span class="mage-eau"></span> de venir avec toi et aux autres d'attendre cachés dans un fourré pendant que vous allez jusqu'à la porte. D'une roulade gracieuse, vous arrivez juste où il faut. Mais comme tu le pensais, la porte est verrouillée. Tu demandes à <span class="mage-eau"></span> de lancer son sort de glaciation sur la serrure. <span class="mage-eau-fille">Elle</span><span class="mage-eau-garcon">Il</span> doit lancer 2 fois le sort pour que la serrure soit glacée comme il faut. Quelques petits coups dessus et elle se brise laissant la porte s'ouvrir sans un bruit.
    </p>

    <p>Tu fais signe à tout le monde de venir et vous pénétrez dans l'auberge.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="106">Délivrer <span class="mage-vent"></span></div>
  </div>

</div>
