<div class="num num-1-1-106">

  <div class="text">
    <h1>- 106 -</h1>

    <p>Vous pénétrez dans l'arrière-boutique de l'auberge, vous êtes en plein dans la réserve de nourriture. Miguel en profite, bien entendu, pour manger deux trois miches de pain. Il y a une porte qui a l'air de mener sur la salle principale de l'auberge et qui est entrouverte. Tu peux entendre des bruits de verre comme si quelqu'un posait des bouteilles, mais rien d'autre.</p>
    <p>Tu te rapproches lentement de la porte accroupi<span class="sexe sexe-fille">e</span> pour jeter un œil, mais la porte s'ouvre au même moment. Tu lèves la tête pour voir que la serveuse que tu as vu hier te regarde surprise.<br />
      Immédiatement, elle jette un regard autour d'elle pour vérifier que personne ne la voit et rentres avec vous tout en fermant la porte.<br />
      - Vous êtes des amis du mage prisonnier ? demande-t-elle.<br />
      - C'est ça, dis-tu. Vous pouvez nous dire où il est ?<br />
      - Modrak, le chef des bandits, l'a fait enfermer au premier étage. Mais il y a un garde devant la porte. <br />
      - Vous pouvez nous aider à monter à l'étage, demande à son tour Jolt.<br />
      - Bien sûr, que dois-je faire ?</p>

      <p>Vous décidez de vous servir de la serveuse comme distraction. Elle montera à l'étage, détournera l'attention du garde pendant que Jolt l'assommera avec une poële.</p>

      <p class="magie-feu">Si jamais ça tournait mal, tu seras là pour lancer ton sort de main de flammes.</p>
      <p class="magie-pas-feu">Si jamais ça tournait mal, tu demandes à <span class="mage-feu"></span> d'être prêt à lancer son sort de main de flammes.</p>

      <p>Il n'y a personne dans la grande salle de l'auberge et la serveuse vous fait signe de passer vite en étant accroupi. Miguel est resté dans la réserve, mais avec sa clochette il vaut mieux qu'il ne soit pas à côté de vous.</p>

      <p>La serveuse passe devant pour monter à l'étage, Jolt juste derrière, mais marchant à 4 pattes pour ne pas se faire voir. Elle engage la conversation avec le garde qui se met à rire. Jolt en profite pour surgir d'un coup et asséner un coup de poêle sec sur la tête du garde qui s'écroule. Tu avais un peu peur car Jolt n'avait pas l'air très fort mais il a fait un travail impeccable.</p>
      <p>Tu ouvres la porte et vois <span class="mage-vent"></span> attaché. Il sourit quand il vous voit tous. Il est même en pleurs.<br />
        - Merci de m'avoir délivré, je commençais à avoir trop peur.<br />
        - On n'allait pas t'abandonner quand même lui réponds-tu.</p>
      <p>La serveuse vous fait sortir par l'endroit d'où vous êtes venu et vous dit :<br />
        - On est tous avec vous, il faut que vous préveniez l'académie au plus vite.<br />
        - Les renforts vont bientôt arriver, on a envoyé quelqu'un ne vous inquiétez pas, réponds-tu.<br />
        - Faites quand même attention, on a envoyé 2 fois des gens pour donner l'alerte et ils se sont fait prendre à chaque fois. Ils ont des mages avec des pouvoirs bizarres.</p>

        <p>Vous courez jusqu'à la forêt pour vous cacher, mais tu gardes ce que t'as dit la serveuse dans un coin de ta tête. Tu sais que le sort de Vision de rêves permet de trouver des gens ou des objets. Normalement, Hector devrait être en sécurité mais si jamais un sort encore plus puissant existe peut-être cela veut-il dire qu'il risque de se faire pourchasser.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="107">Faire le point avec ton groupe</div>
  </div>

</div>
