<div class="num num-1-1-107">

  <div class="text">
    <h1>- 107 -</h1>

    <p><span class="mage-vent"></span> vous apprend que les bandits sont dirigés par une sorte de monstre qui connaît la magie. Il a des griffes horribles et n'est vraiment pas humain. Mais vous n'avez aucun indice supplémentaire pour savoir où se trouve Estrion : il va falloir le chercher vous-même dans la forêt.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="92">Fouiller la forêt et trouver la cascade des têtards</div>
  </div>

</div>
