<div class="num num-1-1-108">

  <div class="text">
    <h1>- 108 -</h1>

    <p>Les autres comprennent que ça puisse être effrayant, mais cette cascade est votre seule piste. Ils te proposent de monter au-dessus de la cascade. Comme ça tu seras à l'abri du monstre s'il vient. Eux vont rester un peu cachés dans les arbres proches du bassin.</p>
    <p>Tu n'as absolument aucune envie de rester seule, mais au moment où tu vas leur dire ça, Miguel s'approche et bêle. Il va rester avec toi.</p>

    <p>Ça peut paraître bête, mais rien qu'avec Miguel en plus tu te sens plus rassurée. <span class="av-studieux">Tu te dis même que tu pourras essayer de discuter avec lui</span>.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="110">Attendre la nuit avec Miguel</div>
  </div>

</div>
