<div class="num num-1-1-109">

  <div class="text">
    <h1>- 109 -</h1>

    <p>Au fil des heures, le temps se couvre, la nuit tombe brusquement. Il semble que l'orage ne tarde pas. Avec le bruit de la cascade et celui du vent vous n'entendez pas grand chose. Vous vous demandez même si vous entendriez le monstre s'il venait.</p>

    <p>Une fine pluie commence à tomber et derrière les nuages vous arrivez quand même à percevoir les rayons de la lune. Vous arrivez à la distinguer car elle est rouge et sa lumière, passant à travers les nuages, fait rougeoyer la clairière. Tout à coup un éclair. Sa lumière brutale vous permet de voir la silhouette d'un géant au fond de la clairière. <span class="chefbandit hidden">C'est le chef des bandits, il a l'air seul.</span></p>

    <p>- Qu'est-ce qu'on fait <span class="chef hidden"><span class="tonnom"></span></span><span class="cheh hidden"><span class="cheh-nom"></span></span> ? On l'attaque ? demande <span class="mage-feu"></span>.<br />
      - Non, tu oublies qu'ils ont mis une raclée à Estrion et son groupe. Peut-être que ce type est très fort ou que les autres se cachent. On ne peut rien faire. Restons cachés.</p>

    <p>L'homme s'avance dans la clairière, avec son bandeau sur l'œil droit. Il n'a pas d'arme et regarde de temps à autre vers cette étrange lune rouge à moitié cachée par les nuages. Un autre éclair provoque un coup de tonnerre terrible car très proche. D'autres bandits que vous n'aviez pas vus rigolent, car cela les a fait sursauter. Ils sont à une vingtaine de mètres dans la forêt et avancent dans votre direction sans vous avoir vu.</p>

    <p>- Tous accroupis ! chuchote<span class="chef hidden">s-tu</span><span class="cheh hidden"> <span class="cheh-nom"></span></span>.<br />
      - S'ils continuent, on va nous repérer.<br />
      - Pour l'instant, on ne bouge pas, mais préparez-vous à vous enfuir à mon signal. <span class="chef hidden">dis-tu tout bas</span><span class="cheh hidden">dit <span class="cheh-nom"></span> tout bas</span>.</p>

      <p>D'un coup, un cri horrible surgit d'au-dessus de vous. Vous vous retournez immédiatement.
        <span class="def-peureux"><span class="unautre"></span> plaque sa main sur ta bouche pour t'éviter de crier de peur.</span>
        <span class="def-pas-peureux">Tu plaques ta main sur la bouche de <span class="unautre"></span> pour lui éviter de crier de peur.</span><br />
        Vous ne voyez aucun monstre mais le cri semble venir d'au-dessus de la cascade.</p>

      <p>Les bandits de l'autre côté semblent attirés par les cris. Visiblement, ils cherchaient le monstre aussi. Que faire ?</p>

  </div>

  <div class="choix">
    <div class="ch chef hidden" data-go="111">Tenter de grimper vers la cascade et le monstre</div>
    <div class="ch chef hidden" data-go="112">Tenter de courir dans la clairière où se trouve le géant et s'enfuir</div>
    <div class="ch chef hidden" data-go="113">Tenter de courir vers les bandits dans la forêt et s'enfuir</div>
    <div class="ch cheh hidden" data-go="113"><span class="cheh-nom"></span> vous dit de tenter de courir vers les bandits dans la forêt et s'enfuir</div>
  </div>

</div>
