<div class="num num-1-1-11">

  <div class="text">
    <h1>- 11 -</h1>
    <p>Tu retournes la carte de la guerre.</p>
    <p>- Hum...une carte intéressante. Bientôt tu seras engagé<span class="sexe sexe-fille">e</span> dans une grande et dure bataille. Il se pourrait même que tu sois blessé<span class="sexe sexe-fille">e</span>. Et peut-être pire.</p>
    <p>Herlly prends un air sombre, puis ferme les yeux.</p>
    <p>- Il faut que tu fasses attention à l'éclair rouge. Lorsque tu le verras il ne faudra pas reculer mais l'affronter. Ce sera ta seule échappatoire possible. Souviens-t'en bien.</p>
    <p>Sur ces mots elle te fait signe de partir et range ses cartes. Tu ne comprends pas tout mais tu gardes ce qu'elle t'a dit dans un coin de la tête.</p>
    <p>Tu rentres au camp pour dormir.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="9">Dormir puis se rendre à l'académie</div>
  </div>

</div>
