<div class="num num-1-1-110">

  <div class="text">
    <h1>- 110 -</h1>

    <p>Au fil des heures, le temps se couvre, la nuit tombe brusquement. Il semble que l'orage ne tarde pas. Avec le bruit de la cascade est celui du vent tu n'entends pas grand chose. Tu te demandes même si tu entendrais le monstre s'il venait. Tu vois tes amis cachés dans la végétation en contrebas de la cascade te faire un sourire et lever le pouce dans ta direction.</p>

    <p>Une fine pluie commence à tomber et derrière les nuages vous arrivez quand même à percevoir les rayons de la lune. Tu arrives à la distinguer car elle est rouge et sa lumière, passant à travers les nuages, fait rougeoyer la clairière. Tout à coup un éclair. Sa lumière brutale te permet de voir la silhouette d'un géant au fond de la clairière. <span class="chefbandit hidden">C'est le chef des bandits, il a l'air seul.</span></p>

    <p>Tu ne sais pas trop quoi faire. Vous étiez là pour le monstre pas les bandits. Tu tentes de voir si ton groupe l'a remarqué. Et ça a l'air d'être le cas car tu les vois en train de discuter tout en regardant ce géant d'un œil attentif.</p>

    <p>L'homme s'avance dans la clairière, avec son bandeau sur l'œil droit. Il n'a pas d'arme et regarde de temps à autre vers cette étrange lune rouge à moitié cachée par les nuages. Un autre éclair provoque un coup de tonnerre terrible explose à quelques mètres de toi faisant se briser la roche. Tu ne peux retenir un cri de peur immense. Miguel lui semble impassible et regarde le géant droit dans les yeux. Ton cri a révélé ta présence. Le bandit te pointe du doigt et court dans ta direction, très vite, il saute dans les airs et vole vers toi : il vient de lancer un sort de lévitation.</p>

    <p>- FUIS ! te crie <span class="unautre"></span>.</p>

    <p>Miguel te tire par la manche pour fuir, mais tu as les jambes en coton, paralysées par la peur. Tu tombes et roules à côté d'un trou dans la montagne. Le trou est trop petit pour que tu puisses passer te cacher. Tu ne sais pas quoi faire, tu ne sais pas ce que font tes amis, tu as de la pluie dans les yeux.</p>

    <p>Soudain, un cri inhumain sort du trou. Il y a une bête cachée dans la montagne. C'est le monstre que tu cherches. Mais le cri est tellement horrible qu'il te fait te ressaisir. Tu prends aussitôt tes jambes à ton coup, tu jettes un regard vers le bandit mage qui venait vers toi mais… Horreur ! Il est juste au-dessus de ta tête et s'apprête à te frapper. Tu ressens un coup dans ton dos qui te fait éviter l'épée du bandit, mais te fait tomber dans le bassin de la cascade. Tu as juste le temps de voir que Miguel t'a poussé pour t'aider, mais ce plongeon provoque la peur de ta vie.</p>

    <p>Tu t'évanouis en entrant dans le bassin.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="114">Reprendre connaissance</div>
  </div>

</div>
