<div class="num num-1-1-111">

  <div class="text">
    <h1>- 111 -</h1>

    <p>Vous montez en vitesse vers le cri de monstre. Les bandits ont été surpris de vous voir si proche et se sont arrêtés l'espace d'un instant. Ça vous a permis de garder un peu d'avance. La pente est raide, mais pas trop dure. Sur le haut de la cascade, il n'y a que des rochers, plus de végétation, donc impossible de se cacher.</p>

    <p>Le cri semble venir d'un petit trou dans la roche, comme s'il y avait une grotte dans la montagne et qu'une bête était enfermée dedans. Mais le trou est trop petit pour pouvoir y passer.<br />
    - Attention, te crie <span class="unautre"></span> !<br />
    Le bandit géant est déjà là, il vole dans les airs, certainement grâce à un sort de lévitation.</p>

    <p class="magie-feu">Tu essaies de lancer ton sort de main de flammes mais avec la pluie, c'est extrêmement dur de tenir le sort. Tu donnes tout ce que tu peux pour que ta flamme ne s'éteigne pas.</p>
    <p class="magie-pas-feu"><span class="mage-feu"></span> essaie de lancer son sort de main de flammes mais avec la pluie, c'est extrêmement dur de tenir le sort. </p>

    <p>Vous restez quelques secondes sur place. Les bandits en profitent pour vous encercler. Votre seule porte de sortie : sauter du haut de la cascade dans le bassin. Mais le "bandit volant" va poser un problème.</p>

    <p class="magie-feu">- SAUTEZ ! Je retiens celui-là, cries-tu aux autres.<br />
    Tu sautes sur le "bandit volant" en essayant de lui brûler la tête. Il est tellement surpris de l'attaque que ça marche. Tes amis sautent dans le bassin, et toi, tu tombes dedans aussi accroché<span class="sexe sexe-fille">e</span> au bandit géant qui a relâché son sort de vol.<br /><br />
    Tu tombes dans le bassin accroché<span class="sexe sexe-fille">e</span> à la jambe par le bandit, Modrak. Tes amis te voit te débattre mais ne peuvent rien faire. Le courant commence à t'attirer dans la rivière. Tu t'accroches à la berge mais le bandit t'infliges un grand coup dans les cotes et tu est finalement emporté<span class="sexe sexe-fille">e</span>.
    </p>
    <p class="magie-pas-feu">- SAUTEZ ! Je retiens celui-là, vous crie <span class="mage-feu"></span>.<br /><br />
      <span class="mage-feu-fille">Elle</span><span class="mage-feu-garcon">Il</span> lui saute dessus mais son sort de flammes s'arrête car <span class="mage-feu-fille">elle</span><span class="mage-feu-garcon">il</span> n'a plus d'énergie et se fait arrêter en plein vol par le bandit.<br /><br />
      Quelqu'un t'agrippe le bras pour te faire sauter dans le bassin. Pendant le plongeon, ton regard reste en permanence braqué sur <span class="mage-feu"></span> qui se débat dans les bras du bandit géant.
    </p>

  </div>

  <div class="choix">
    <div class="ch magie-feu" data-go="114">Sortir du bassin</div>
    <div class="ch magie-pas-feu" data-go="115">Sortir du bassin</div>
  </div>

</div>
