<div class="num num-1-1-112">

  <div class="text">
    <h1>- 112 -</h1>

    <p>Vous vous ruez sur le géant. Les autres bandits ne savent pas quoi faire : aider leur chef ou aller trouver le monstre. Mais finalement ils décident de laisser leur chef se débrouiller avec vous.</p>
    <p>En vous voyant, Modrak, le chef des bandits sourit. Il sort deux énormes épées de derrière son dos et fonce vers vous.</p>

    <p class="magie-terre">
      Tu lances ton sort de racines pour le faire tomber, le sort est parfait et s'enroule autour des chevilles de Modrak. Mais il est tellement fort qu'il arrache les racines comme si c'était des brindilles de paille.
    </p>
    <p class="magie-pas-terre">
      <span class="mage-terre"></span> lance son sort de racines pour le faire tomber, le sort est parfait et s'enroule autour des chevilles de Modrak. Mais il est tellement fort qu'il arrache les racines comme si c'était des brindilles de paille.
    </p>

    <p>Modrak rit comme un démon en s'approchant de vous.
      <span class="magie-feu">Tu récites à ton tour ton sort de main de flammes pour entamer le combat, tout en hurlant à tes amis de partir dans toutes les directions pour s'enfuir.</span>
      <span class="magie-pas-feu"><span class="mage-feu"></span> récite à son tour son sort de main de flammes pour entamer le combat, tu hurles à tes amis de partir dans toutes les directions pour s'enfuir.</span>
      Au moment où Modrak arrive sur vous, vous vous divisez en plusieurs groupes tout en évitant le combat. Il ne fait pas vraiment attention à ça car il n'a qu'une personne dans sa ligne de mire : <span class="magie-feu">toi.</span><span class="magie-pas-feu"><span class="mage-feu"></span>.</span> Mais alors qu'il allait abattre ses deux épées sur <span class="magie-feu">toi</span><span class="magie-pas-feu"><span class="mage-feu"></span></span>, Miguel vient lui donner un violent coup de tête dans les cotes qui l'envoie valdinguer plus loin.
    </p>

    <p>Vous félicitez Miguel de loin pendant que vous continuez de courir. Tu jettes quand même un coup d'œil derrière toi et tu vois que Modrak concentre son énergie pour lancer un sort dans <span class="magie-feu">ta direction</span><span class="magie-pas-feu">la direction de <span class="mage-feu"></span>. D'un coup il décolle dans les airs et rattrape en quelques secondes son retard.</p>


    <p class="magie-feu">
      Tu arrives à lui flamber un peu son bras droit avec ta main de flammes mais ça n'a pas l'air de lui faire trop mal. Tu cries à tes amis :<br />
      - Enfuyez-vous ! Je vais m'en sortir !<br /><br />
      Tes amis te regardent tous sans savoir quoi faire. <span class="mage-eau"></span> revient vers toi en courant pour te venir en aide malgré ce que tu viens de lui dire. <br /><br />
      - Ha ha ha ! Tant mieux si ton ami revient. Ça en fera un de plus à interroger. Mais j'ai peut être pas besoin d'avoir tous les morveux du monde à ma disposition.<br /><br />
      Tu le vois commencer à réciter  un sort pendant qu'il se bat avec toi. Il esquive facilement tes mains de flammes pendant que sa main droite devient de plus en plus rouge. De petits crépitements commençants à apparaître autour.<br /><br />
      - <span class="mage-eau"></span> ! ATTENTION ! lui cries-tu.<br /><br />
      Mais c'est trop tard, un éclair rouge jaillit de la main du bandit et explose en plein sur <span class="mage-eau"></span> qui reste à terre sans bouger. De colère tu changes de tactique, tu arrêtes tes mains de flammes au moment de frapper la tête de Modrak. A ce moment là tu lances ton sort de lumière en concentrant le plus d'énergie possible, tout en fermant toi-même les yeux. <span class="magie-noire">La lumière est telle que tu entends le bandit hurler. La lumière va le rendre aveugle suffisamment longtemps pour t'échapper.</span><span class="magie-verte">Tu touches ses yeux pour lancer ton sort et de la lumière sort de ses globes oculaires.<br />
      - Hey ! Je vois plus rien ! Qu'est-ce qui se passe ?<br />La lumière va le rendre aveugle suffisamment longtemps pour t'échapper.</span><br /><br />
      Déjà les autres bandits ont l'air de revenir porter secours à leur chef. Tu as juste le temps de récupérer <span class="mage-eau"></span> et de partir te cacher dans les bois. Tu ne vois pas les autres, ils ont l'air d'avoir pu s'enfuir.
    </p>
    <p class="magie-pas-feu">
      <span class="mage-feu"></span> arrive à lui flamber un peu son bras droit avec sa main de flammes mais ça n'a pas l'air de lui faire trop mal. Ton ami te crie :<br />
      - Enfuyez-vous ! Je vais m'en sortir !<br /><br />
      Vous le regardez tous sans savoir quoi faire. <span class="magie-eau"><span class="mage-terre"></span></span><span class="magie-pas-eau"><span class="mage-eau"></span></span> revient vers lui en courant pour lui venir en aide malgré ce qu'il vient de lui dire. <br /><br />
      Tu vois le bandit à réciter  un sort pendant qu'il se bat avec <span class="mage-feu"></span> et il esquive facilement les mains de flammes.<br /><br />
      - ATTENTION ! crie <span class="mage-feu"></span>.<br /><br />
      Mais c'est trop tard, un éclair rouge jaillit de la main du bandit et explose en plein sur <span class="magie-eau"><span class="mage-terre"></span></span><span class="magie-pas-eau"><span class="mage-eau"></span></span> qui reste à terre sans bouger. De colère <span class="mage-feu"></span> change de tactique, <span class="mage-feu-fille">elle</span><span class="mage-feu-garcon">il</span> arrête ses mains de flammes au moment de frapper la tête de Modrak. À ce moment là <span class="mage-feu-fille">elle</span><span class="mage-feu-garcon">il</span> lance son sort de lumière en concentrant le plus d'énergie possible, tout en fermant les yeux. <span class="mage-feu-fille">Elle</span><span class="mage-feu-garcon">Il</span> touche ses yeux pour lancer son sort et de la lumière sort de ses globes oculaires du bandit.<br />
      - Hey ! Je vois plus rien ! Qu'est-ce qui se passe ?<br />La lumière va le rendre aveugle suffisamment longtemps pour vous échapper.<br /><br />
      Déjà les autres bandits ont l'air de revenir porter secours à leur chef. Tu as juste le temps de récupérer <span class="mage-eau"></span> et de partir te cacher dans les bois. <span class="mage-eau"></span> est parti dans une autre direction quand il a vu <span class="mage-feu-fille">elle</span><span class="mage-feu-garcon">il</span> que tu t'occupais de <span class="mage-eau"></span>.
    </p>

  </div>

  <div class="choix">
    <div class="ch" data-go="116">Se cacher avec <span class="mage-eau"></span></div>
  </div>

</div>
