<div class="num num-1-1-113">

  <div class="text">
    <h1>- 113 -</h1>

    <p>Vous surgissez des buissons et foncez entre les jambes des bandits. L'un d'entre eux veut te mettre la main dessus mais il est envoyé au sol d'un violent coup de tête de Miguel.</p>

    <p class="magie-terre">
      Tu te retournes juste après pour lancer ton sort de racines. Comme tu es au milieu de la forêt, il est encore plus puissant que d'habitude. Des racines s'enroulent autour des jambes des bandits qui ne peuvent plus avancer. Parfait pour couvrir votre retraite.
    </p>
    <p class="magie-pas-terre">
      <span class="mage-terre"></span> se retourne juste après pour lancer son sort de racines. Comme <span class="mage-terre-fille">elle</span><span class="mage-terre-garcon">il</span> est au milieu de la forêt, il est encore plus puissant que d'habitude. Des racines s'enroulent autour des jambes des bandits qui ne peuvent plus avancer. Parfait pour couvrir votre retraite.
    </p>

    <p>Mais ce n'est pas le moment de faiblir. Vous continuez à courir aussi vite que possible. Au moment où vous semblez hors de danger, tu poses le pied dans le vide. Tu n'avais pas vu qu'il y avait un trou, ou plutôt une sorte de gros terrier, à cet endroit avec la pluie et la nuit. Tu ne vois pas le fond, <span class="magie-vent">mais tu lances ton sort de chute contrôlée. Tu touches le fond sans trop de problème, même si c'est en pente et que ça te fait tomber dans la boue. Impossible de remonter les parois sont trop glissantes avec la pluie.<br /><br />
    - Les copains !? Vous êtes là ? cries-tu.<br /><br />Mais tu n'as aucune réponse. Tu vois à peine une faible lueur rouge au loin, qui doit être la lueur de cette étrange lune rouge.<br /><br />
    - HOUHOU !? Me laissez pas ici ! cries-tu de plus belle.<br />
    - WARRRRRRRRRRRRRRRRRRRRRGHHHHHHHHHHHHHHHHHHHHHHHHH !!!!!<br /><br />
    Quelque chose vient de te répondre et il est dans ce trou. C'est le monstre que vous recherchiez.
    </span>
    <span class="magie-pas-vent">et tu atterris dans le fond du trou tellement fort que tu t'évanouis.</span>
    </p>
  </div>

  <div class="choix">
    <div class="ch magie-vent" data-go="117">Continuer dans le trou, seul<span class="sexe sexe-fille">e</span>, dans le noir</div>
    <div class="ch magie-pas-vent" data-go="118">Se réveiller plus tard</div>
  </div>

</div>
