<div class="num num-1-1-115">

  <div class="text">
    <h1>- 115 -</h1>

    <p>Vous arrivez à vous enfuir dans la forêt mais vous avez abandonné <span class="mage-feu"></span>. Miguel également manque à l'appel. Tu n'oses pas utiliser le sifflet de peur de vous faire repérer. <span class="mageventmanque">Avec <span class="mage-vent"></span> qui s'est fait capturé tout à l'heure vous n'êtes plus que 2, le moral dans les chaussettes.</span> <span class="dernier"></span> te dit de ne pas t'inquiéter, que Qobur va arriver avec Hector mais tu vois bien que même <span class="luielle"></span> n'est pas très optimiste.</p>

    <p>Vous décidez quand même d'essayer de retrouver Jolt. Vous n'êtes pas de bons pisteurs mais tu arrives quand même à retrouver sa maison au bout d'un moment. Mais en arrivant vous êtes obligés de vous cacher. Les bandits sont déjà là, Jolt est capturé et les bandits mettent le feu à sa cabane.</p>

    <p>Tu es trop fatigué<span class="sexe sexe-fille">e</span> pour aller plus loin. Vous dormez donc dans les fourrés, trempés.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="120">Dormir</div>
  </div>

</div>
