<div class="num num-1-1-116">

  <div class="text">
    <h1>- 116 -</h1>

    <p><span class="mage-eau"></span> est blessé<span class="mage-eau-fille">e</span>. <span class="magie-terre">Tu lances ton sort de guérison sur <span class="mage-eau-fille">elle</span><span class="mage-eau-garcon">lui</span>, ça <span class="mage-eau-fille">la</span><span class="mage-eau-garcon">le</span> soigne mais <span class="mage-eau-fille">elle</span><span class="mage-eau-garcon">il</span> reste inconscient</span><span class="magie-pas-terre">Tu essaies de donner les premiers soins mais tu n'es pas médecin. Tu te rappelles quand même avoir lu ce qu'il faudrait faire pour lancer un sort de guérison. Tu te concentres et tu tentes de le lancer : rien ne se passe. Tu te dis que peut-être tu aurais dû travailler un peu plus pour connaître les sorts de terre. Après tout, Lasseni en connaît plein, elle. Tu pleures un petit peu mais tu te ressaisis, c'est pas en restant ici que tu arriveras à quoi que ce soit.</span></p>

    <p>Tu essaies de transporter <span class="mage-eau"></span> jusqu'à la cabane de Jolt. Mais de nuit, sous la pluie et avec un tel chargement, tu ne vas pas bien loin. Tu décides de t'abriter sous des rochers, qui forment une grotte minuscule, pour la nuit.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="124">Dormir</div>
  </div>

</div>
