<div class="num num-1-1-117">

  <div class="text">
    <h1>- 117 -</h1>

    <p>Tu t'enfonces dans le trou, tu as peur mais tu n'as nul par ailleurs où aller. De temps en temps un nouveau hurlement se fait entendre. Tu as finalement l'impression que c'est un cri de douleur. Et en entendant mieux, tu te demandes même si ça ne serait pas un cri humain.</p>
    <p>Au bout d'un moment le tunnel se fait trop étroit pour que tu puisses continuer. Les cris continuent. Tu oses lancer un petit "Ouhouh ? Y a quelqu'un ?". Mais personne ne répond et les cris reprennent. Au bout d'un moment tu n'entends plus aucun cri. Tu réfléchis un peu : tu as entendu un hurlement venant d'au-dessus de la cascade, tu as aussi entendu des hurlements dans ce tunnel - qui a l'air d'aller vers la cascade. Ça ne peut vouloir dire qu'une chose, il y a une grotte derrière la cascade, et c'est là que se cache Estrion, qui doit être blessé et pousse des hurlements.</p>
    <p>Avec la pluie il est impossible de remonter du trou, tu décides donc d'y dormir et d'attendre le lendemain pour tenter d'y grimper.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="121">Dormir</div>
  </div>

</div>
