<div class="num num-1-1-119">

    <div class="text">
      <h1>- 119 -</h1>

      <p>Tu essaies de retourner jusqu'à la cabane de Jolt. Les autres devraient y être. Tu mets un peu de temps, mais finalement tu y es. Quelle horreur : la cabane est complètement brûlée. Les bandits ont dû repasser par là après la bataille. Pas de trace de Jolt, il a dû être capturé. Tu as le moral à zéro.</p>
      <p>Mais tu ne dois pas te décourager, sinon tout sera vraiment fini. Ta seule piste c'est la cascade. Tu décides d'y retourner.</p>

    </div>

    <div class="choix">
      <div class="ch" data-go="122">Retourner fouiller au-dessus de la cascade</div>
      <div class="ch carte-voile hidden" data-go="123">Tenter de passer à travers la cascade pour voir s'il y a une grotte derrière</div>
    </div>

  </div>
