<div class="num num-1-1-12">

  <div class="text">
    <h1>- 12 -</h1>
    <p>Tu retournes la carte de l'assassin.</p>
    <p>- Hum...une carte triste. D'ici quelques temps tu vas perdre un camarade. Non pas que celui-ci mourra, noooooooon. En fait il te trahira.</p>
    <p>Herlly prends un air sombre, puis ferme les yeux.</p>
    <p>- Méfie-toi bien de tes proches. Celui ou celle qui te trahira pourrait te faire très mal.</p>
    <p>Sur ces mots elle te fait signe de partir et range ses cartes. Tu ne comprends pas tout mais tu gardes ce qu'elle t'a dit dans un coin de la tête.</p>
    <p>Tu rentres au camp pour dormir.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="9">Dormir puis se rendre à l'académie</div>
  </div>

</div>
