<div class="num num-1-1-122">

    <div class="text">
      <h1>- 122 -</h1>

      <p>En fouillant au-dessus de la cascade, tu vois finalement que la roche est un vrai gruyère. Il y a des trous partout. L'un d'entre eux semble assez gros pour y passer mais il va falloir ramper.</p>

      <p class="sipasseule">
        Vous décidez d'y aller à la queue leu-leu et tu passes en tête.
      </p>

      <p>C'est vraiment étroit, il ne faut pas être claustrophobe. Mais au bout d'un moment le passage s'élargit. <span class="sipasseule">Vous vous retrouvez dans une petite grotte fermée : <br />
        - Mince il faut faire demi-tour, c'était une fausse piste, dis-tu.<br />
        Mais au moment où tu dis ça, le sol s'effondre et vous glissez dans une grotte beaucoup plus grande. Visiblement il y avait une entrée plus simple : en passant à travers la cascade.</span><span class="siseule">Tu te retrouves dans une petite grotte fermée. Ne voyant rien à faire tu te dis que tu vas faire demi-tour.<br />
          Mais à ce moment là, le sol s'effondre et tu glisses dans une grotte beaucoup plus grande. Visiblement il y avait une entrée plus simple : en passant à travers la cascade.</span> Un mage avec une cicatrice sur l'œil <span class="sipasseule">vous</span><span class="siseule">te</span> regarde fixement. C'est certainement Estrion. Il y a également un autre mage blessé grièvement, il y a une sorte de boule de magie jaune qui lui tourne autour, sûrement pour l'aider à guérir et enfin, assis sur un petit rocher se trouve un homme rabougri portant des haillons. Il n'a pas l'air très en forme, avec de grands cernes sous les yeux et n'a que la peau sur les os.<br /><br />
          - Heu...Estrion, je présume ? <span class="sipasseule">Nous sommes les renforts de l'académie.</span><span class="siseule">Je viens en renfort de l'académie.</span> Dis-tu pour détendre l'atmosphère.
        </p>
        <p>Estrion regarde le plafond à l'endroit d'où <span class="sipasseule">vous êtes arrivés</span><span class="siseule">tu es arrivé<span class="sexe sexe-fille">e</span></span>.<br />
          - <span class="sipasseule">Vous n'avez</span><span class="siseule">Tu n'as</span> pas été suivi ?<br />
          - Je ne crois pas. J'ai pris toutes les précautions possibles. On venait juste ramener la personne maudite, on est juste des élèves de premières années et...snif...là j'avoue je suis content<span class="sexe sexe-fille">e</span> de vous trouver, dis-tu en pleurs.</p>
        <p>Estrion comprend que ça n'a pas été facile pour <span class="sipasseule">vous</span><span class="siseule">toi</span></p>
        <p>- On a envoyé...snif...quelqu'un...snif...prévenir l'académie, mais il est parti il y a 2 jours et...snif...il est à pied. Le reste des renforts arrivera pas tout de suite, t'excuses-tu.<br />
          - C'est bien <span class="sipasseule">vous</span><span class="siseule">tu</span> <span class="sipasseule">avez</span><span class="siseule">as</span> fait un bon travail petit<span class="sexe sexe-fille">e</span>. Je t'explique la situation, mon ami est blessé, intransportable et je connais que le sort de guérison de base. Malheureusement c'est trop peu pour le guérir. Et ces bandits sont dirigés par un monstre avec des pouvoirs magiques surhumain. Seuls les 4 mages supérieurs pourraient en venir à bout en un contre un, commence Estrion.<br />
          - Chef !...Argh...laissez-moi ici et partez avec lui, grogne le blessé.<br />
          - Dex, tu sais bien que ce monstre arrive à nous localiser dès qu'on sort de la grotte, lui répond Estrion. Oui, il a un sort inconnu qui nous localise parfaitement, il n'a pas besoin d'avoir quelque chose nous appartenant pour nous trouver, enfin je crois, je n'ai pas compris comment marche son sort, dit-il en se retournant vers toi.<br />
          - C'est bizarre car au début il ne pouvait pas nous localiser, nous. Enfin, je crois pas, lui dis-tu.
        </p>
        <p>
          La discussion continue et vous faites le point ensemble sur vos options. Tu apprends que la personne maudite s'appelle Terrence, si tu essaies de lancer un sort en le touchant, ton sort ne fonctionnera pas. Même si Terrence n'est pas la cible du sort.<br />
          - <span class="sipasseule">Ecoutez-moi</span><span class="siseule">Ecoute-moi petit<span class="sexe sexe-fille">e</span></span>, <span class="sipasseule">vous allez</span><span class="siseule">tu vas</span> partir avec Terrence pendant que moi je ferai une diversion et j'attaquerai Modrak - le chef des bandits. Dex, toi tu restes ici et on te ramène des renforts aussi vite que possible.<br />
          - Entendu chef.
        </p>
        <p>Estrion est un vrai chef qui a l'air de savoir ce qu'il fait. Ça fait plaisir de laisser la responsabilité à un adulte de temps en temps.<br />
          - Laissez tomber. On ne pourra pas lui échapper, c'est mon tatouage qui l'attire. Si je pars n'importe où il sera attiré par moi, il n'y a rien à faire. Vous avez réussi à lancer un sort de dissimulation sur cette grotte, c'est pour ça que c'est un endroit sûr mais en dehors on est foutu, dit Terrence.<br />
          - T'aurais pu nous dire ça avant, rage Dex.
        </p>

    </div>

    <div class="choix">
      <div class="ch" data-go="125">Réfléchir à une solution</div>
    </div>

  </div>
