<div class="num num-1-1-124">

    <div class="text">
      <h1>- Le rêve -</h1>

      <p>
        Tout est très calme. Tu es dans le noir, aucun bruit. Mais bizarrement tu n'as pas peur. Il y a une douce chaleur.<br />
        <span class="av-sportif">Tu as l'impression, tout à coup, de tomber de haut, de plus en plus vite, et la lumière arrive en un instant. Tu es dans le ciel, tellement haut que tu vois à peine le sol. Ça te rappelle les moments où tu montais Typhon.<br /><br />
        - Accroche-toi <span class="tonom"></span>.<br /><br />
        A côté de toi viens d'apparaître Levy sur le dos de Typhon qui te tend la main. Tu la saisis, montes derrière <span class="sexe sexe-fille">lui</span><span class="sexe sexe-garcon">elle</span>. Tu comprends que tu es en train de rêver.<br /><br />
        - Il faut que tu sois <span class="sexe sexe-fille">forte</span><span class="sexe sexe-garcon">fort</span>. Te dit Levy. Il ne faut pas abandonner maintenant sinon tes amis seront perdus.<br />
        - Tu sais ce qu'il leurs est arrivé ? demandes-tu, même si tu sais que tu es dans un rêve.<br /><br />
        A ce moment là tu vois <span class="grp1-1"></span> tomber très vite du ciel à côté de toi. Suivi de <span class="grp1-2"></span> de l'autre côté. <span class="grp1-3"></span> ne tarde pas à tomber dans une autre direction.<br /><br />
        - Il faut les sauver, avec Typhon on peut les rattraper, Levy !<br /><br />
        Mais Levy n'est plus là, à la place se trouve Miguel.<br /><br />
        - Ne t'inquiètes pas. Tu pourras sauver tes amis. Mais il te faut d'abord affronter ton ennemi, te dis Miguel dans un français impeccable.<br />
        - Mi...Miguel, tu parles ?<br />
        - C'est un rêve <span class="tonom"></span>, ne l'oublies pas. Mais garde tes yeux fixés sur ton ennemi.<br /><br />
        Avec une de ses pattes, Miguel montre le ciel devant vous, il est noir, rempli d'éclairs. Au loin les nuages commencent à bouger étrangement. Non, ce ne sont pas des nuages, cette forme gigantesque, c'est un dragon gigantesque. Un dragon d'onyx.<br /><br />
        - <span class="tonom"></span> éCouTeS Moi. tU DoIS M'aIdEr, N'éCOuTes PaS MigUeL ! C'EsT uN tRaITre ! Un ImPoSTeUR. commence à rugir le dragon.<br />
        - <span class="tonom"></span>, tu ne dois pas l'écouter, ce dragon c'est Soufflardent. Le dragon d'Onyx endormi. Il ne faut pas qu'il se réveille un jour, ne l'écoute pas. Te dit Miguel alors qu'il est en train de disparaître.<br />
        - Miguel ? On est vraiment dans un rêve ? Je trouve ça très réaliste.<br /><br />
        Miguel disparait te laissant seul<span class="sexe sexe-fille">e</span> sur Typhon. Le grand dragon d'Onyx semblant tout proche maintenant.<br />
        - L'AcaDéMiE te MeNT ! MiGUel tE MeNt ! MoI SeUL Te DiS La VéRiTé !<br />
        Soufflardent te semble plus menaçant que jamais. <br />
        - aMènE-MoI le TAtoUaGe ! ViEnT AVec lUi DaNs leS MONTS NOIRS !!!<br /><br />
        Le grand dragon t'avale, toi et Typhon, et tu te retrouves entouré<span class="sexe sexe-fille">e</span> de nuages noirs. Typhon a disparu.
        </span>
        <span class="av-riche">Tout à coup une porte s'ouvre. Tu décides de la passer. Tu débouches alors sur une colline, haute. Il fait nuit et il y a beaucoup de nuages. Tu vois l'académie, elle est juste en contrebas. Sur le lac Déluine.<br /><br />
        - Je voulais te préserver de tout ça, <span class="tonom"></span>.<br /><br />
        Tu te retournes et vois ta mère. Elle vient se placer à côté de toi. Tu comprends que tu es en train de rêver.<br /><br />
        - Il faut que tu sois <span class="sexe sexe-fille">forte</span><span class="sexe sexe-garcon">fort</span>. Te dit-elle. Il ne faut pas abandonner maintenant sinon tes amis seront perdus. J'ai essayé de te faire abandonner la magie pour ne pas que tu sois confronté<span class="sexe sexe-fille">e</span> à tous ses mensonges.<br />
        - De quels mensonges parles-tu ? demandes-tu, même si tu sais que tu es dans un rêve.<br /><br />
        Ta mère tends son bras et te montre le ciel devant vous. Il est noir, rempli d'éclairs. Au loin les nuages commencent à bouger étrangement. Non, ce ne sont pas des nuages, cette forme gigantesque c'est un dragon gigantesque. Un dragon d'onyx.<br /><br />
        - Plus tard pour les questions. Voilà ton vrai ennemi. Le mal absolu, te dit-elle.<br />
        - <span class="tonom"></span> éCouTeS Moi. tU DoIS M'aIdEr, N'éCOuTes PaS tA MèRe ! C'EsT uNe tRaITreSSe ! Un ImPoSTeUR. commence à rugir le dragon.<br />
        - <span class="tonom"></span>, tu ne dois pas l'écouter, ce dragon c'est Soufflardent. Le dragon d'Onyx endormi. Il ne faut pas qu'il se réveille un jour, ne l'écoute pas. Te dit ta mère alors qu'elle est en train de s'évaporer dans les airs.<br />
        - Mère ? On est vraiment dans un rêve ? Je trouve ça très réaliste.<br /><br />
        Elle disparait te laissant seul<span class="sexe sexe-fille">e</span> sur la colline. Le grand dragon d'Onyx semblant tout proche maintenant.<br />
        - L'AcaDéMiE te MeNT ! tA MèRe tE MeNt ! MoI SeUL Te DiS La VéRiTé !<br />
        Soufflardent te semble plus menaçant que jamais. <br />
        - aMènE-MoI le TAtoUaGe ! ViEnT AVec lUi DaNs leS MONTS NOIRS !!!<br /><br />
        Le grand dragon s'effondre sur toi, et tu te retrouves entouré<span class="sexe sexe-fille">e</span> de nuages noirs. Sans plus aucun son.
        </span>
        <span class="av-studieux">Tout à coup une porte s'ouvre. Tu décides de la passer. Tu débouches alors sur une colline, haute. Il fait nuit et il y a beaucoup de nuages. Tu vois l'académie, elle est juste en contrebas. Sur le lac Déluine.<br /><br />
        - C'est dur d'être un mage, <span class="tonom"></span>?<br /><br />
        Tu te retournes et vois Eran. Il vient se placer à côté de toi. Tu comprends que tu es en train de rêver.<br /><br />
        - Il faut que tu sois <span class="sexe sexe-fille">forte</span><span class="sexe sexe-garcon">fort</span>. Te dit-il. Il ne faut pas abandonner maintenant sinon tes amis seront perdus.<br />
        - Tu sais ce qu'il leurs est arrivé ? demandes-tu, même si tu sais que tu es dans un rêve.<br /><br />
        Eran tends son bras et te montre le ciel devant vous. Il est noir, rempli d'éclairs. Au loin les nuages commencent à bouger étrangement. Non, ce ne sont pas des nuages, cette forme gigantesque c'est un dragon gigantesque. Un dragon d'onyx.<br /><br />
        - Eran, c'est quoi ce truc ?<br /><br />
        Mais Eran n'est plus là. A sa place se trouve Miguel. <br /><br />
        - Plus tard pour les questions. Voilà ton vrai ennemi. Le mal absolu, te dit-il.<br />
        - Mi...Miguel, tu parles ?<br />
        - C'est un rêve <span class="tonom"></span>, ne l'oublies pas. Mais garde tes yeux fixés sur ton ennemi.<br />
        - <span class="tonom"></span> éCouTeS Moi. tU DoIS M'aIdEr, N'éCOuTes PaS MigUeL ! C'EsT uN tRaITre ! Un ImPoSTeUR. commence à rugir le dragon.<br />
        - <span class="tonom"></span>, tu ne dois pas l'écouter, ce dragon c'est Soufflardent. Le dragon d'Onyx endormi. Il ne faut pas qu'il se réveille un jour, ne l'écoute pas. Te dit Miguel alors qu'il est en train de disparaître.<br />
        - Miguel ? On est vraiment dans un rêve ? Je trouve ça très réaliste.<br /><br />
        Miguel disparait te laissant seul<span class="sexe sexe-fille">e</span> sur la colline. Le grand dragon d'Onyx semblant tout proche maintenant.<br />
        - L'AcaDéMiE te MeNT ! MiGUel tE MeNt ! MoI SeUL Te DiS La VéRiTé !<br />
        Soufflardent te semble plus menaçant que jamais. <br />
        - aMènE-MoI le TAtoUaGe ! ViEnT AVec lUi DaNs leS MONTS NOIRS !!!<br /><br />
        Le grand dragon s'effondre sur toi, et tu te retrouves entouré<span class="sexe sexe-fille">e</span> de nuages noirs. Sans plus aucun son.
        </span>
        <span class="av-populaire">Tout à coup une porte s'ouvre. Tu décides de la passer. Tu débouches alors sur une colline, haute. Il fait nuit et il y a beaucoup de nuages. Tu vois l'académie, elle est juste en contrebas. Sur le lac Déluine.<br /><br />
        - Je m'en serai mieux sorti que toi, <span class="tonom"></span>.<br /><br />
        Tu te retournes et vois Lasseni. Elle vient se placer à côté de toi. Tu comprends que tu es en train de rêver.<br /><br />
        - Je te dis ça pour que tu progresses. Tu es <span class="sexe sexe-fille">la seule</span><span class="sexe sexe-garcon">le seul</span> qui puisse devenir un grand mage en première année, avec moi. Te dit-elle. Tu pourrais abandonner tes amis, ça serait plus facile de terminer cette mission.<br />
        - Tu sais ce qu'il leurs est arrivé ? demandes-tu, même si tu sais que tu es dans un rêve.<br /><br />
        Lasseni tends son bras et te montre le ciel devant vous. Il est noir, rempli d'éclairs. Au loin les nuages commencent à bouger étrangement. Non, ce ne sont pas des nuages, cette forme gigantesque c'est un dragon gigantesque. Un dragon d'onyx.<br /><br />
        - Lasseni, c'est quoi ce truc ?<br /><br />
        Mais Lasseni n'est plus là. A sa place se trouve Miguel. <br /><br />
        - Plus tard pour les questions. Voilà ton vrai ennemi. Le mal absolu, te dit-il.<br />
        - Mi...Miguel, tu parles ?<br />
        - C'est un rêve <span class="tonom"></span>, ne l'oublies pas. Mais garde tes yeux fixés sur ton ennemi.<br />
        - <span class="tonom"></span> éCouTeS Moi. tU DoIS M'aIdEr, N'éCOuTes PaS MigUeL ! C'EsT uN tRaITre ! Un ImPoSTeUR. commence à rugir le dragon.<br />
        - <span class="tonom"></span>, tu ne dois pas l'écouter, ce dragon c'est Soufflardent. Le dragon d'Onyx endormi. Il ne faut pas qu'il se réveille un jour, ne l'écoute pas. Te dit Miguel alors qu'il est en train de disparaître.<br />
        - Miguel ? On est vraiment dans un rêve ? Je trouve ça très réaliste.<br /><br />
        Miguel disparait te laissant seul<span class="sexe sexe-fille">e</span> sur la colline. Le grand dragon d'Onyx semblant tout proche maintenant.<br />
        - L'AcaDéMiE te MeNT ! MiGUel tE MeNt ! MoI SeUL Te DiS La VéRiTé !<br />
        Soufflardent te semble plus menaçant que jamais. <br />
        - aMènE-MoI le TAtoUaGe ! ViEnT AVec lUi DaNs leS MONTS NOIRS !!!<br /><br />
        Le grand dragon s'effondre sur toi, et tu te retrouves entouré<span class="sexe sexe-fille">e</span> de nuages noirs. Sans plus aucun son.
        </span>
        <span class="av-courageux">Tout à coup une porte s'ouvre. Tu décides de la passer. Tu débouches alors sur une colline, haute. Il fait nuit et il y a beaucoup de nuages. Tu vois l'académie, elle est juste en contrebas. Sur le lac Déluine. Mais elle semble en ruine comme si un ouragan l'avait dévasté. Une forme immense semble, d'un coup, sortir du lac, faisant se déformer sa surface. Tu comprends que tu es en train de rêver. La tête d'un grand dragon noir surgit et t'adresse la parole :<br /><br />
        - <span class="tonom"></span> éCouTeS Moi. tU DoIS M'aIdEr, lA NoUveLLe MaGIe dOiT reNaiTre. commence à te dire le dragon.<br />
        - Qui êtes-vous ? Que voulez-vous de moi ? demandes-tu, même si tu sais que tu es dans un rêve.<br />
        - MoN nOM eSt SoUFFlarDenT : lE PlUs pUiSsAnt dEs dRAgOnS. mAIs l'AcAdéMIe m'A jeTé Un sORt.<br />
        - ... Soufflardent ? Je connais l'histoire : vous êtes un dragon dangereux ! Ymir et Zaïra vous ont endormi pour toujours, dis-tu un peu surprise de rêver de ce dragon.<br />
        - Il Y a uNe AutRE vErSiON dE l'HiSToirE, tU SaiS. En FaIT jE SuIS lA SoURce De tOUte lA MagIE, sI tU pEUx jeTeR dES SorTS c'Est GrâCE à MoI. mA MagIE eST dANs tOUtE cHoSe eT tU l'EmPRunTe ChaQUe FoIs QuE TU laNcEs Un sORt. l'AcaDéMIe eST aU CoURant eT m'A eNdOrMI pOUr se SerVIr dE MoI. MaIs tU pEUx m'AideR.<br />
        - Vous dites que l'académie a envoyé Ymir et Zaïra pour vous endormir, pour pouvoir prendre votre magie ?<br />
        - eN GRos OuI. j'AcCePte dE pRêTer Ma mAGie, MAiS dE TeMPs eN TeMPs jE DoIS mE RePOser. QUanD jE FaIS çA, CE qUE vOUs aPpelEz "MagIE" n'ExisTE PLuS et l'ACadéMIE n'ExIsTe plUS sAnS mAGie. lEs 4 mAGes sUpériEurs ONt dONc eNvoYés YmiR eT ZAïRa pouR m'EnDORmir. c'ESt uN FAux sOMMeil, mAGiQUE, qUI m'aFFAIblit mAIs qUI vOUs pErmET d'UTilIser lA MAgiE. bIEnTôT jE sErai SI éPUiSé qUe j'EN moURrai.<br />
        - Et tu as besoin de moi pour que je te réveille, c'est ça ?<br />
        - lA pERsONnE qUE tU cHERcHeS pEUt aNNulEr tOUtEs mAgIEs. j'AI beSoiN qUE tU mE l'aMèNE dANS lEs MOnTs NoiRs. tU DoIS aIDeR mES hOMMeS. sI Tu VeUx cOnTiNuEr à UtIlisER lA mAGiE : aIdEs-mOi ! ModrAK eST Un dE MEs eNVoyéS.<br />
          <span class="def-pas-naif">- Comment je sais que tu n'essaies pas de me manipuler ?<br />
          - tU PEuX deMAndER à l'AcadéMIE mAIs iLs risQUeRAieNT dE Te tUEr. tU DoIS mE cRoiRe SUr pARoLe.
          </span>
          <span class="def-naif">- Je comprends, je vais essayais de vous aider. Même si c'est un rêve je crois que tout ceci est réel.
          </span><br /><br />
          Le grand dragon s'enfonce sous l'eau du lac et tu es de nouveau aspiré<span class="sexe sexe-fille">e</span> dans les ténèbres.
        </span>
      </p>

      <p class="carte-voile hidden">
        Tu flottes encore un instant et une dernière lueur apparaît. Tu te souviens de la cart que tu avais tirée chez la voyante. La carte du mur brisé. Tout est clair pour toi. Il y a un passage derrière la cascade ! Certainement une grotte.
      </p>
      <p class="middle">*</p>
      <p>À ton réveil, tu sais que vous devez retourner à la cascade. <span class="mage-eau"></span>  s'est réveillé<span class="mage-eau-fille">e</span>, <span class="mage-eau-fille">elle</span><span class="mage-eau-garcon">il</span> va un peu mieux, tu es rassuré<span class="sexe sexe-fille">e</span>.</p>


    </div>

    <div class="choix">
      <div class="ch" data-go="122">Retourner fouiller au-dessus de la cascade</div>
      <div class="ch carte-voile hidden" data-go="123">Tenter de passer à travers la cascade pour voir s'il y a une grotte derrière</div>
    </div>

  </div>
