<div class="num num-1-1-125">

    <div class="text">
      <h1>- LE CHOIX -</h1>

      <p>Estrion et Dex continuent de chercher une solution pendant que Terrence apparaît lui très affaibli et pessimiste sur la situation. Tu décides d'aller lui parler un peu :<br /><br />
        - Comment tu as eu cette malédiction au fait ? demandes-tu pour engager la conversation.<br />
        - Une malchance absolue… touché par un éclair bizarre venant du ciel. Le lendemain, j'ai commencé à avoir un tatouage qui est apparu dans mon dos. Ça m'a pas plus posé de problèmes que ça, mais j'ai vu que les objets magiques ne fonctionnaient plus quand je les touchais. Il y a quelques jours Estrion m'a rencontré et m'a demandé si je voulais pas faire des tests à l'académie. Moi, ça m'allait, surtout qu'il m'a dit qu'il me paierait. Je ne m'imaginais pas que cela tournerait à l'horreur comme ça. Depuis que j'ai accepté, la lune devient rouge de temps en temps et j'ai un mal pas possible la nuit. Et mon tatouage me fait mal, j'ai l'impression qu'il essaie de m'attirer vers ce monstre bandit.<br /><br />
        Ça t'éclaire un peu plus, Terrence enlève sa tunique pour te montrer son tatouage : cela ressemble à une rune. Mais aucune que tu aies déjà vue. Estrion intervient et te dit que lui non plus n'a jamais vu une rune aussi complexe.
      </p>

      <p class="toutseul">
        Tout à coup tu entends <span class="hidden">le reste</span> tes amis t'appeler de l'extérieur de la cascade.<br /><br />
        - Ce sont mes amis Estrion ! expliques-tu<br / >
        - Hum, laisse-moi voir.<br /><br />
        Estrion jette un coup d'oeil pour vérifier que personne d'autre n'est dans les environs et te permet d'appeler tes amis. Tu passes rapidement à travers la cascade pour leur dire de venir te rejoindre. Tu remarques tout de même que Miguel n'est pas là, personne ne l'a revu depuis la nuit dernière.<br /><br />
        Estrion explique alors à tes amis la situation.
      </p>

      <p class="sinumero1">
        <span class="grp1-1"></span> est assez perplexe. <span class="grp1-1-fille">Elle</span><span class="grp1-1-garcon">Il</span> a plutôt envie de laisser Estrion les commandes pour choisir ce qu'il faudrait faire. <span class="av-studieux"><span class="grp1-1-fille">Elle</span><span class="grp1-1-garcon">Il</span> te dit que la disparition de Miguel l'inquiète.</span>
      </p>

      <p class="sinumero2">
        <span class="grp1-2"></span> est très fatigué<span class="grp1-2-fille">e</span>. <span class="grp1-2-fille">Elle</span><span class="grp1-2-garcon">Il</span> a envie que les secours arrivent et pour le moment de rester dans la grotte qui a l'air sûre.
      </p>

      <p class="sinumero3">
        <span class="grp1-3"></span> pleure un peu, <span class="grp1-3-fille">elle</span><span class="grp1-3-garcon">il</span> a eu trop d'émotions. Avec Estrion, maintenant ça va mieux mais tout n'est pas fini pour autant et ça <span class="grp1-3-fille">la</span><span class="grp1-3-garcon">le</span> stresse encore un peu.
      </p>

      <p class="mageeaublesse">
        <span class="mage-eau"></span> est encore blessé<span class="mage-eau-fille">e</span>, sans dire qu'<span class="mage-eau-fille">elle</span><span class="mage-eau-garcon">il</span> sera inutile, <span class="mage-eau-fille">elle</span><span class="mage-eau-garcon">il</span> ne sera pas à son maximum.
      </p>

      <div class="capture1">
        <p class="mageventcapture">
          Tu informes Estrion également que <span class="mage-vent"></span> s'est fait capturer par Modrak. Il te répond que la priorité reste sur Terrence mais qu'une fois cette mission terminée, l'académie enverra ses meilleurs mages pour délivrer les mages capturés.
        </p>

        <p class="magefeucapture">
          Tu informes Estrion également que <span class="mage-feu"></span> s'est fait capturer par Modrak. Il te répond que la priorité reste sur Terrence mais qu'une fois cette mission terminée, l'académie enverra ses meilleurs mages pour délivrer les mages capturés.
        </p>
      </div>
      <div class="capture2">
        <p>
          Tu informes Estrion également que <span class="mage-vent"></span> et <span class="mage-feu"></span> se sont faits capturer par Modrak. Il te répond que la priorité reste sur Terrence mais qu'une fois cette mission terminée, l'académie enverra ses meilleurs mages pour délivrer les mages capturés.
        </p>
      </div>

      <p class="explication choixAcademie">
        Ce que tu as promis à Qobur c'est de ramener Terrence à l'académie. Mais ça semble plus compliqué que ça. Ce que veut vraiment l'académie c'est connaître le secret de cette rune dans son dos.<br />
        En cherchant bien, tu as peut-être une idée pour faire sortir Terrence de la grotte sans que Modrak - le chef des bandits - ne le retrouve.
      </p>
      <p class="explication choixSoufflardent">
        Tu te souviens quand même que Soufflardent t'avait dit dans ton rêve de lui amener le tatouage. C'est ce qu'il recherche aussi. Mais ça voudrait dire : trahir l'académie. Ça paraît beaucoup plus facile à faire qu'aider Estrion.
      </p>
      <p class="explication choixYmir">
        Enfin tu sais aussi que Miguel a l'air de jouer un rôle dans tout ça, que ce n'est pas qu'une simple chèvre. Mais que l'académie n'est pas au courant de ses pouvoirs. Peut-être faut-il que tu attendes un signe de sa part.
      </p>

    </div>

    <div class="choix">
      <div class="ch" data-go="126">Proposer la solution pour amener Terrence à l'académie</div>
      <div class="ch choixSoufflardent" data-go="127">Trahir l'académie et tenter d'attirer les bandits pour sauver Soufflardent</div>
      <div class="ch" data-go="128">Attendre une information de Miguel pour agir</div>
    </div>

  </div>
