<div class="num num-1-1-126">

    <div class="text">
      <h1>- LE CHEMIN LOYAL -</h1>

      <p>- Estrion ! Je crois que j'ai une solution : il y a un sort de base qui s'appelle "Racines". <span class="magie-terre">Je le connais.</span><span class="magie-pas-terre">Vous devez forcément le connaître vu votre niveau.</span> Il suffirait de faire une boule de racines autour de Terrence puis de lancer votre sort de dissimulation sur la boule de racines pour qu'on puisse faire avancer Terrence jusqu'à un endroit sûr. Heu… en le faisant rouler, vous voyez ? dis-tu en mimant une balle qui roule.<br /><br />
        Tout le monde te regarde avec de grands yeux, se regarde, puis explose de rire :<br /><br />
        - On n'avait pas pensé à ça ! s'exclame Estrion. Mais c'est tellement simple que ça peut marcher.<br />
        - Oui pas besoin de sort compliqué, on a suffisamment d'énergie pour le faire, renchérit <span class="present2"></span>.<br />
        - Attendez quand même un peu, vous interrompt Terrence. Il ne faut pas oublier qu'il y a quand même des bandits partout pour nous voir.<br />
        - Tu as raison, lui dit Estrion. On devra partir de nuit et on devra te bâillonner fortement pour être sûr que tes cris n'attirent personne. On prendra la direction de Kaelleg sur la route du Nord. C'est assez loin à pied, mais ils ont des dragons-fées là-bas. On pourra rentrer à l'académie très vite si on y arrive.
      </p>

      <p>Estrion te félicite encore de ton idée et tout le monde se prépare. On met une grosse attelle à Dex pour qu'il puisse suivre le groupe. Il dit qu'il le fera, quitte à perdre sa jambe. Tout le monde est excité mais a un peu peur.</p>

      <p class="siabsent">Tu as quand même un peu d'appréhension pour tes camarades prisonniers. Que va-t-il leur arriver pendant tout ce temps peux-tu vraiment les abandonner comme ça ?</p>

      <p>La nuit arrive, Estrion jette des regards par la cascade, il lance plusieurs sorts de Vision de rêves en tentant de trouver des indices sur la localisation des bandits mais sans résultat. Visiblement ils se sont protégés aussi contre ce sort : impossible de savoir où ils sont.</p>

      <p>- En route, tout le monde fait attention, ils peuvent être n'importe où. Dex, désolé mais si tu n'arrives pas à suivre...<br />
      - Vous en faites pas chef, je vous ai dit de me laisser là depuis le début de toute façon. Hé hé.</p>

      <p>La nuit est bien noire. La lune n'est pas visible cette nuit. Il y a peut-être trop de nuages mais il n'y a pas de lueur rouge comme hier non plus. Toute votre petite troupe se dirige vers le Nord, vers Kaelleg. </p>

      <p class="siabsent">Tu as quand même bien réfléchi, si tu ne vas pas sauver tes amis prisonniers maintenant, tu à l'impression que jamais tu ne les reverras.</p>

    </div>

    <div class="choix">
      <div class="ch" data-go="129">Continuer avec Estrion</div>
      <div class="ch siabsent" data-go="130">Partir sauver les prisonniers</div>
    </div>

  </div>
