<div class="num num-1-1-127">

    <div class="text">
      <h1>- 127 -</h1>

      <p>Tu vois que pour maintenir son sort de dissimulation sur la grotte, Estrion a tracé des runes un peu partout. Il suffirait que tu effaces une partie des runes pour que Modrak vous retrouve. En tout cas en théorie. Car Modrak ne va certainement pas lancer son sort tout le temps en espérant que la magie d'Estrion disparaisse.</p>

      <p>Mais ça ne te semble pas complexe à faire et pas très risqué. Il paraît difficile de demander de l'aide à qui que ce soit ici, mais tu penses que tu pourras demander à Modrak de laisser partir tes amis.</p>

      <p>Pendant qu'Estrion et les autres cherchent une solution, tu t'approches de la rune dessinée derrière la cascade et effaces quelques traits discrètement avec ton pied.</p>

      <p class="middle">*</p>

      <p>Estrion n'a pas trouvé de solution mais il décide tout de même que vous partirez tous de la grotte aux aurores. La nuit Terrence a très mal à son tatouage et avec ses cris il alerterait les bandits. </p>

      <p>Mais au moment où tout le monde allait se préparer à passer la nuit dans la grotte, un éclair rouge passe au travers de la cascade pour s'écraser dans la grotte, ne blessant personne par miracle. Aussitôt après une dizaine de bandits saute dans la grotte.</p>

      <p>Ce que tu as fait a bien fonctionné. Estrion lance aussitôt un sort pour projeter les bandits hors de la grotte mais la surprise reste totale.</p>

      <p>- Tout le monde, sortez ! Partez tous dans une direction différente, je reste avec Terrence. Essayez de rejoindre l'académie le plus vite possible.</p>

      <p>Tout le monde panique un peu, même toi. Tu ne sais pas trop quoi faire. Modrak va certainement poursuivre Terrence, il faut que tu ailles dans la même direction que lui et Estrion.</p>


    </div>

    <div class="choix">
      <div class="ch" data-go="158">S'échapper de la grotte</div>
    </div>

  </div>
