<div class="num num-1-1-128">

    <div class="text">
      <h1>- 128 -</h1>

      <p>Estrion, finalement, trouve une solution. Il va lancer un sort de racines pour en faire une boule autour de Terrence puis va lancer son sort de dissimulation sur la boule de racines pour pouvoir le faire avancer Terrence jusqu'à un endroit sûr en le faisant rouler.<br /><br />
        Cela semble tellement simple que tout le monde se demande pourquoi personne n'y a pensé avant.<br /><br />
        - Attendez quand même un peu, vous interrompt Terrence. Il ne faut pas oublier qu'il y a quand même des bandits partout pour nous voir.<br />
        - Tu as raison, lui dit Estrion. On devra partir de nuit et on devra te bâillonner fortement pour être sûr que tes cris n'attirent personne. On prendra la direction de Kaelleg sur la route du Nord. C'est assez loin à pied, mais ils ont des dragons-fées là-bas. On pourra rentrer à l'académie très vite si on y arrive.
      </p>

      <p>On met une grosse attelle à Dex pour qu'il puisse suivre le groupe. Il dit qu'il le fera, quitte à perdre sa jambe. Tout le monde est excité mais a un peu peur.</p>

      <p>La nuit arrive, Estrion jette des regards par la cascade, il lance plusieurs sorts de Vision de rêves en tentant de trouver des indices sur la localisation des bandits mais sans résultat. Visiblement ils se sont protégés aussi contre ce sort : impossible de savoir où ils sont.</p>

      <p>- En route, tout le monde fait attention, ils peuvent être n'importe où. Dex, désolé mais si tu n'arrives pas à suivre...<br />
      - Vous en faites pas chef, je vous ai dit de me laisser là depuis le début de toute façon. Hé hé.</p>

      <p>La nuit est bien noire. La lune n'est pas visible cette nuit. Il y a peut-être trop de nuages mais il n'y a pas de lueur rouge comme hier non plus. Toute votre petite troupe se dirige vers le Nord, vers Kaelleg. </p>

      <p>Tu n'as toujours pas de nouvelles de Miguel. En attendant tu continues avec Estrion.</p>

    </div>

    <div class="choix">
      <div class="ch" data-go="157">Continuer</div>
    </div>

  </div>
