<div class="num num-1-1-129">

    <div class="text">
      <h1>- 129 -</h1>

      <p>Votre progression est assez lente car vous devez pousser la boule de racines mais pour le moment tout se passe bien. Estrion fait tout à coup signe à tout le monde de s'arrêter. Vous tendez l'oreille, des bruits se rapprochent de vous. Ils viennent en plein dans votre direction. <br />
      - Chef, on est repéré je crois, fais Dex. Partez devant moi je vais les retenir. Je suis un mage assez puissant quand même.<br />
      - Dex... Reste en vie c'est tout ce que je te demande.</p>

      <p>Maintenant vous entendez même des voix et des cris. Estrion casse la boule de racines. Ça vous permettra d'avancer plus vite. Dex vous fait une dernière fois signe de partir et tu ne peux te retenir d'être triste quand vous continuez votre route en courant en le laissant derrière. Tu ne le connaissais pas mais cet homme va se sacrifier pour vous. Estrion ne fait plus dans la discrétion : vous courez à en perdre haleine.</p>

      <p class="av-sportif">Pour toi ça va, tu arrives à suivre mais Terrence est à bout de souffle. <span class="sipresent"><span class="allnomspresents"> ont</span> aussi un peu de mal à suivre. </span>
      </p>

      <p class="av-pas-sportif">Vous êtes tous à bout de souffle. Estrion est quelqu'un de bien entraîné et il mène un train d'enfer.</p>

      <p>Vous arrivez enfin sur la route principale. Celle qui relie le village de Darmen à Kaelleg. Estrion attend tout le monde vous fait signe de vous dépêcher et jette un coup d'oeil un peu partout. Il se fige en direction de la route qui descend vers Kaelleg. Là-bas tu arrives à distinguer un homme seul au milieu de la route : Modrak, le chef des bandits. Tu as juste le temps de voir Estrion se tourner vers vous et commencer à crier quelque chose que tu ne comprends pas. L'instant d'après il disparait dans une explosion rouge provoquée par un sort de Modrak.</p>

      <p>Tu es tétanisé<span class="sexe sexe-fille">e</span>, tu t'étais reposé<span class="sexe sexe-fille">e</span> sur Estrion et maintenant que le combat est engagé tu es perdu<span class="sexe sexe-fille">e</span>. <br />
        - ATTENTION, te crie Terrence !</p>


      <p>Un éclair rouge part des mains de Modrak, il part en plein dans ta direction. <span class="carteeclair">Un éclair rouge ? Tu te souviens de la carte que tu avais tirée chez la voyante. Il ne faut pas reculer mais l'affronter !</span></p>



    </div>

    <div class="choix">
      <div class="ch" data-go="131">Reculer très vite pour éviter l'éclair</div>
      <div class="ch carteeclair" data-go="132">Affronter l'éclair en fonçant dedans</div>
    </div>

  </div>
