<div class="num num-1-1-13">

  <div class="text">
    <h1>- 13 -</h1>
    <p>Tu retournes la carte de la colombe.</p>
    <p>- Hum...une carte forte ! Vous pourriez très bien atteindre votre objectif beaucoup plus vite que vous ne le pensiez.</p>
    <p>Herlly prends un air sombre, puis ferme les yeux.</p>
    <p>- Il faudra cependant que tu fasses un choix crucial, qui te coûtera énormément. Mais si tu fais ce choix tu ne le regretteras pas.</p>
    <p>Sur ces mots elle te fait signe de partir et range ses cartes. Tu ne comprends pas tout mais tu gardes ce qu'elle t'a dit dans un coin de la tête.</p>
    <p>Tu rentres au camp pour dormir.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="9">Dormir puis se rendre à l'académie</div>
  </div>

</div>
