<div class="num num-1-1-130">

    <div class="text">
      <h1>- 130 -</h1>

      <p>- Estrion, désolé mais je dois vous laisser, je ne peux pas laisser mes compagnons entre les mains de ces bandits. </p>
      <p>Estrion s'arrête un instant, puis te dit :<br /><br />
        - Entendu, mais en ce qui me concerne je ne change rien à mon plan. Si jamais vous arrivez à vous en sortir, essayez de nous retrouver à Kaelleg.</p>

      <p class="siautre">
        <span class="simagevent">
          <span class="mage-vent"></span> s'avance vers toi et te met la main sur l'épaule avec un signe de tête approbateur pour te signifier qu'<span class="mage-vent-garcon">il</span><span class="mage-vent-fille">elle</span> vient avec toi.<br />
        </span>
        <span class="simagefeu">
          <span class="mage-feu"></span> fait un sourire, et s'écarte du groupe aussi. <span class="mage-feu-garcon">il</span><span class="mage-feu-fille">elle</span> t'accompagnera.<br />
        </span>
        <span class="simageeau">
          <span class="mage-eau"></span> remonte ses manches et en annonçant aussi son intention de délivrer les prisonniers.<br /><br />
        </span>
        Tu lances un regard confiant et d'un signe de main vous partez en direction du village de Darmen.
      </p>

      <p>Les bandits ne peuvent pas être partout. Mais il doit en rester probablement avec les prisonniers pour les surveiller. Il faudra les combattre.

    </div>

    <div class="choix">
      <div class="ch" data-go="144">Aller discrètement jusqu'au village</div>
    </div>

  </div>
