<div class="num num-1-1-131">

    <div class="text">
      <h1>- 131 -</h1>

      <p>Tu recules en pensant éviter l'éclair, mais au dernier moment, celui-ci change de direction et revient vers toi. Tu n'as pas le temps d'avoir peur tout est instantané. Tu fermes juste les yeux. L'explosion t'envoie rouler plus loin mais bizarrement il ne t'a pas touché. Tu rouvres les yeux pour voir que Estrion que tu croyais à terre s'est jeté entre toi et l'éclair pour te protéger.</p>

      <p>- Tout va bien… petit<span class="sexe sexe-fille">e</span> ? dit Estrion avec difficulté.<br />
        - Estrion... merci.</p>

        <p>Tu vois qu'il se tient le ventre à l'endroit où il a encaissé l'éclair rouge. Il a du sang qui coule de sa bouche.</p>

        <p>- Enfuis-toi... petit<span class="sexe sexe-fille">e</span> ce type est … trop …for...</p>

        <p>Estrion s'écroule au sol. Cette fois il ne bouge plus du tout. Tout le monde reste sur place pendant un instant avant que Terrence tente de s'enfuir en criant. Modrak lance un sort pour courir très vite et tente de le rattraper.</p>



    </div>

    <div class="choix">
      <div class="ch" data-go="133">S'enfuir <span class="sipresent">avec le reste de ton groupe</span> en laissant Terrence</div>
      <div class="ch" data-go="134">Porter secours à Terrence</div>
    </div>

  </div>
