<div class="num num-1-1-132">

    <div class="text">
      <h1>- 132 -</h1>

      <p>Tu fonces vers l'éclair et arrives à passer juste en dessous. Il explose juste derrière toi te poussant encore plus en avant. </p>

      <p>- Bravo, petit<span class="sexe sexe-fille">e</span> ! te dit Estrion.<br /><br />
        Tu le vois se relever à côté de toi. Il est un peu blessé mais il se lance un sort de guérison. Tout n'est pas perdu.</p>

        <p>- Je vais tenter un sort de catapultage, te chuchote Estrion. C'est un puissant sort de vent qui va envoyer l'adversaire très loin.<br /><br />
          Génial, il a une solution. Mais Modrak a l'air d'en avoir encore sous la pédale. <br /><br />
          - Reste derrière, je m'en occupe. Restez tous à l'abri.<br /><br />
          Tu te recules et va rejoindre Terrence mais tu as quand même noté qu'Estrion transpirait beaucoup et qu'il n'avait pas l'air d'être très optimiste.
        </p>

        <p>Tu le regardes préparer ses sorts lorsqu'un éclair rose transperce les nuages et vient s'écraser sur Modrak. Le réduisant en cendres.</p>

        <p>- Vous l'avez eu Estrion ! s'écrie Terrence.<br />
        - Heu, non je n'ai rien..., Estrion s'interromps quand il se retourne vers vous pour vous parler. Ses yeux s'écarquillent et il paraît apeuré.</p>

        <p>Tu as l'impression qu'Estrion a vu quelque chose derrière toi. Les bandits de la forêt vous ont-ils déjà rattrapés ? Tu fais volte-face et te retrouves nez-à-nez avec une créature de 3 mètres de haut. Il a le pelage blanc et des yeux bleus qui brillent. Avec ses longues oreilles, il ressemble à un gigantesque lapin debout sur ses pattes arrières. <span class="noctule">C'est un Noctule comme Zaïra l'avait décrit dans le livre que tu avais lu le premier jour de ton arrivée à l'académie.</span> Mais ce qui t'interpelle le plus c'est la clochette qui est attachée à son poignet : c'est celle de Miguel. Tu ne sais pas pourquoi mais tu sens que cette créature c'est Miguel.</p>

        <p>Terrence hurle devant le monstre quand il le voit enfin. La bête le prend dans ses bras en un instant et s'envole aussitôt. Estrion a beau tenter une poursuite dans les airs, la créature se déplace tellement vite qu'elle laisse le mage sur place.</p>

        <p>Estrion est complètement abasourdit, mais il reprend vite le commandement. Il <span class="seul">te</span><span class="passeul">vous</span> dit de rester là pendant qu'il retourne trouver Dex.</p>

        <p class="sigrp1-1">Après un moment <span class="grp1-1"></span> vient te voir.<br /><br />
          - C'était Miguel, pas vrai ?<br />
          - Oui… je crois. lui dis-tu dans un souffle.<br />
          - Si j'avais pu… je crois que je l'aurai accompagné.<br />
          <span class="av-studieux">- Il t'avait dit quelque chose… sur tout ça ?<br />
          - Non. Je crois qu'il avait juste besoin de nous pour trouver Terrence.<br /></span>
          <span class="av-pas-studieux"><br />Tu ne comprends pas trop pourquoi elle dit ça. Comment vouloir suivre un monstre pareil ?<br /></span>
          <br />
          Vous vous regardez encore une fois en vous demandant finalement qui était Miguel et qui était ce Modrak.
        </p>

        <p>Quelques minutes plus tard, Estrion revient avec Dex sous le bras. Il n'est pas en bon état mais il est vivant.</p>

    </div>

    <div class="choix">
      <div class="ch" data-go="143">Epilogue - Fin 4</div>
    </div>

  </div>
