<div class="num num-1-1-133">

    <div class="text">
      <h1>- 133 -</h1>

      <p class="sipresent">Vous vous enfuyez en courant le plus vite possible en direction opposée au bandit.</p>
      <p class="siseul">Tu t'enfuis en courant le plus vite possible en direction opposée au bandit.</p>

      <p>Un grand éclair rose déchire tout à coup le ciel derrière vous et frappe la route. L'éclair a frappé Modrak de plein fouet, le bandit a le bras encore levé mais fume encore. Il ne bouge plus du tout. Juste à côté de lui se tient un animal de taille gigantesque, une sorte de grand lapin de 3 mètres de haut qui se déplace sur ses pattes arrières. Il a un pelage blanc et des yeux bleus qui brillent dans la nuit. <span class="noctule">C'est un Noctule comme Zaïra l'avait décrit dans le livre que tu avais lu le premier jour de ton arrivée à l'académie.</span> La bête tient dans ses bras Terrence qui est évanoui.</p>

      <p>Mais c'est autre chose qui encore qui t'interloque le plus. La créature possède un bracelet que tu reconnais : la clochette de Miguel ! Tu ne sais pas pourquoi mais tu sens que cette créature c'est Miguel. De loin il te regarde.</p>

      <p>- Miguel ! C'est toi ? lui demandes-tu en élevant un peu la voix.</p>

      <p>Miguel ne répond pas mais tend une patte vers toi. Une voix s'élève dans ta tête : "<span class="tonnom"></span>, il est temps pour toi d'apprendre la vérité sur la magie. Si tu as un peu confiance en moi : suis-moi. Mais saches que l'académie est mon ennemie."</p>

      <p class="sigrp1-1">
        Tu vois que <span class="grp1-1"></span> s'avance vers Miguel. <span class="grp1-1-fille">Elle</span><span class="grp1-1-garcon">Lui</span> aussi a entendu la voix de Miguel dans sa tête et visiblement, <span class="grp1-1"></span> désire le suivre.<br /><br />
        - <span class="grp1-1"></span> attend ! Tu pars avec Miguel ?! lui cries-tu.<br /><br />
        <span class="grp1-1-fille">Elle</span><span class="grp1-1-garcon">Il</span> se retourne vers toi :<br />
        - Oui. désolé, l'académie c'était super et tu es vraiment un<span class="sexe sexe-fille">e</span> chouette ami<span class="sexe sexe-fille">e</span>. Mais je veux connaître la vérité sur tout ça. Je veux comprendre pourquoi Estrion est mort. Viens avec nous. Ça serait tellement mieux de ne pas être seul<span class="sexe sexe-fille">e</span>.
      </p>

    </div>

    <div class="choix">
      <div class="ch sipasgrp1-1" data-go="135">Rejoindre Miguel</div>
      <div class="ch sigrp1-1" data-go="135">Suivre <span class="grp1-1"></span> et rejoindre Miguel</div>
      <div class="ch" data-go="136">Ne pas rejoindre Miguel</div>
    </div>

  </div>
