<div class="num num-1-1-134">

    <div class="text">
      <h1>- 134 -</h1>

      <p>Au moment où Modrak va rattraper Terrence tu te jettes sur lui et le fiches par terre. <br />
        - Cours Terrence ! Il faut que tu rejoignes l'académie ! C'est tout ce qui compte ! lui dis-tu.</p>

      <p>Modrak se relève en rogne. Il te regarde méchamment et il commence à se tordre dans tous les sens. Il devient plus grand, ses mains s'allongent et des griffes apparaissent au bout de ses doigts, une longue queue reptilienne se découvre dans son dos et un museau garni de dents acérées fait son apparition. Tu as l'impression de voir une sorte d'homme lézard de 2 mètres de haut : il est répugnant.</p>

      <p>- Je vais commencer par toi si tu veux passer premi<span class="sexe sexe-fille">ère</span><span class="sexe sexe-garcon">er</span>, te dit-il.</p>

      <p>Il n'a plus ses épées mais ses griffes semblent encore plus meurtrières. Il se jette sur toi à vive allure. Tu n'as pas le temps de faire quoi que ce soit quand il inflige son coup. Tu peux juste constater que Terrence s'est interposé, la magie ne lui fait rien mais les griffes d'un monstre pareil ce n'est pas la même chose.<br /><br />
        - Crétin !! Je voulais te sauver ! Tu étais notre prophète ! lui dit Modrak. Tu t'es sacrifié pour cet<span class="sexe sexe-fille">te</span> gamin<span class="sexe sexe-fille">e</span> ?<br />
        - Hé hé. J'ai jamais voulu partir avec des meurtriers comme vous...Je voulais...juste aider l'académie.</p>

      <p>Terrence tourne la tête vers toi en souriant et s'écroule. Cela fait deux personnes qui se sacrifient pour toi, tu n'arrives pas à te contenir, tu prends Terrence dans tes bras pour le ranimer. Il ne peut pas être mort. Modrak semble avoir perdu son ardeur et commence à partir de son côté voyant que Terrence ne bouge plus. Il n'a plus de raison de continuer à se battre.</p>

      <p>Mais le corps de Terrence commence à se soulever et à émettre une petite lueur blanche. Tu regardes ça stupéfait<span class="sexe sexe-fille">e</span>. Des sortes de petits insectes de lumière partent du dos de Terrence pour venir s'encastrer dans ton propre dos. Tu ressens une vive douleur. Ta tunique se déchire dans ton dos sous les coups de ces bêtes de lumière. Modrak s'est arrêté et regarde la scène <span class="passeul">tout comme le reste de tes compagnons</span>.</p>

      <p>Finalement tout s'arrête d'un coup, le corps de Terrence disparait dans un éclat de lumière. En ce qui te concerne, tu n'as plus mal mais tu sens que tu as des marques dans le dos. <span class="passeul"><span class="quelquun"></span> arrive en courant vers toi. Une main sur ton dos <span class="quelquun"></span> te dit :<br />
      - <span class="tonnom"></span>, ton dos… tu as le même tatouage que Terrence.<br />
      - Quoi ? J'ai le...tatouage ?</span>.</p>

      <p>Modrak s'arrête et te regarde. <br /><br />
        - Ha ha ha ! Le prophète ne peut pas mourir. Il est en toi maintenant. C'est toi qui va réveiller Soufflardent !<br /><br />
        Puis il se remet à avancer vers toi.</p>

      <p class="passeul"><span class="quelquun"></span> t'aide à te relever et te dit qu'il faut que vous vous enfuyez. Mais tu l'arrêtes, tu sais que tu dois arrêter Modrak ici, il est trop fort pour que vous puissiez vous enfuir facilement de toute façon. Et tu veux lui faire payer pour Terrence et Estrion.</p>

      <p class="seul">Tu te relèves en le regardant fixement, tu sais que tu dois arrêter Modrak ici, il est trop fort pour que tu puisses vous enfuir facilement de toute façon. Et tu veux lui faire payer pour Terrence et Estrion.</p>

      <div class="passeul">
        <p><span class="quelquun"></span> te donne la main.</p>
      </div>
      <p class="magie-terre">Tu ne sais pas pourquoi mais ce tatouage dans ton dos, il t'a redonné toute ta magie. Non il t'en a donné même plus que tu n'avais jamais eu. Tu lances ton sort de racines d'une main posée par terre. <span class="magie-noire">Des ronces gigantesque surgissent de terre et viennent s'enrouler autour de Modrak en lui déchirant les bras et les jambes.</span><span class="magie-verte">Des lianes gigantesque surgissent de terre et viennent s'enrouler autour de Modrak en le ligotant comme un saucisson. C'est serré si fort qu'il ne peut plus bouger du tout.</span></p>

      <p class="magie-feu">Tu ne sais pas pourquoi mais ce tatouage dans ton dos, il t'a redonné toute ta magie. Non il t'en a donné même plus que tu n'avais jamais eu. Tu lances ton sort de main de flammes. <span class="magie-noire">Mais au lieu de ça une gigantesque boule de feu part droit devant toi et explose sur Modrak, qui reste à terre.</span><span class="magie-verte">Mais au lieu de ça une pluie de feu part droit devant toi pour s'abattre sur Modrak. Il est à terre blessé.</span></p>

      <p class="magie-eau">Tu ne sais pas pourquoi mais ce tatouage dans ton dos, il t'a redonné toute ta magie. Non il t'en a donné même plus que tu n'avais jamais eu. Tu lances ton sort de glaciation d'une main posée par terre. <span class="magie-noire">Le sol se glace devant toi et continue son avancé jusqu'à Modrak, qui se fait happer par le sort et se transforme en bloc de glace.</span><span class="magie-verte">Le sol se glace devant toi et continue son avancé jusqu'à Modrak, qui se fait happer par le sort et se transforme en bloc de glace. Ne laissant dépasser que sa tête.</span></p>

      <p class="magie-vent">Tu ne sais pas pourquoi mais ce tatouage dans ton dos, il t'a redonné toute ta magie. Non il t'en a donné même plus que tu n'avais jamais eu. Tu ne sais pas trop ce que tu fais, tu récites une formules que tu as lu dans des grimoires mais que tu n'as jamais utilisé auparavant. Une bourrasque gigantesque emporte d'un coup Modrak qui s'écrase dans un rocher un peu plus loin.</p>

      <p>Tu relâches un peu la pression. Un filet de lumière blanche part de ta bouche comme une sorte de respiration magique.<br /><br />
        - C'est la magie que tu es en train de perdre. Tu as la malédiction du Noctule désormais <span class="tonnom"></span>.<br /><br />
        Une créature de taille gigantesque, une sorte de grand lapin de 3 mètres de haut qui se déplace sur ses pattes arrières se tient derrière toi. Il a un pelage blanc et des yeux bleus qui brillent dans la nuit. <span class="noctule">C'est un Noctule comme Zaïra l'avait décrit dans le livre que tu avais lu le premier jour de ton arrivée à l'académie.</span> Mais c'est autre chose qui encore qui t'interloque le plus. La créature possède un bracelet que tu reconnais : la clochette de Miguel ! Tu ne sais pas pourquoi mais tu sens que cette créature c'est Miguel.</p>



    </div>

    <div class="choix">
      <div class="ch" data-go="139">Ecouter Miguel</div>
    </div>

  </div>
