<div class="num num-1-1-135">

    <div class="text">
      <h1>- CHANGEMENT DE VOIE -</h1>

      <p>Tu hésites un peu mais finalement tu t'avances vers Miguel.</p>

      <p class="sigrp1-1">- Merci de venir avec nous, te dit <span class="grp1-1"></span>. Je t'avoue que j'avais quand même un peu peur.</p>
      <p class="sigrpautre">Vous vous retournez une dernière fois vers <span class="nomsall"></span>.<br /><br />
        - Si vous rejoignez ce monstre vous ne pourrez plus revenir à l'académie ! crie <span class="unautre"></span>.<br />
        - Notre choix est fait. Vous aussi venez avec nous, lui dit <span class="grp1-1"></span>.<br />
        - Jamais. Vous êtes en train de prendre la mauvaise voie. Vous ne savez même pas qui est cette créature. Miguel ? Vous en êtes réellement sûr ? Moi ça me va pas. Si vous essayez de vous enfuir avec Terrence, j'essaierai de vous arrêter ! <br /><br />
        Mais il n'en aura pas l'occasion.
      </p>

      <p>Miguel vous prend dans ses bras et s'envole par magie.</p>

    </div>

    <div class="choix">
      <div class="ch" data-go="137">Epilogue - Fin 1</div>
    </div>

  </div>
