<div class="num num-1-1-136">

    <div class="text">
      <h1>- 136 -</h1>

      <p class="sigrp1-1">- Tu ne viens pas ? Dommage, te dit <span class="grp1-1"></span>.</p>

      <p class="sigrpautre">
        - Si tu rejoins ce monstre tu ne pourras plus revenir à l'académie ! crie <span class="unautre"></span> à <span class="grp1-1"></span>.<br />
        - Mon choix est fait. Venez avec moi, lui répond <span class="grp1-1"></span>.<br />
        - Jamais. Tu es en train de prendre la mauvaise voie. Tu ne sais même pas qui est cette créature. Miguel ? T'en es réellement sûr ? Moi ça me va pas. Si tu essaies de t'enfuir avec Terrence, j'essaierai de t'arrêter ! <br /><br />
        Mais il n'en aura pas l'occasion.
      </p>

      <p>Miguel prend <span class="grp1-1"></span> dans ses bras et s'envole dans les airs par magie. Un éclair rose les frappe et les enrobe d'une lumière rose sans les blesser. Après ça tu les vois disparaitre à une vitesse telle qu'en un instant tu ne vois qu'un point rose au loin.</p>

      <p class="sigrpautre">Vous vous regardez, incrédules. Mais ils sont bien partis.</p>

      <p>Modrak s'est changé en tas de cendres, finalement Miguel était une créature magique encore plus puissante que lui. Qui était Miguel en fait ? Tu ne le sauras peut-être jamais.</p>


    </div>

    <div class="choix">
      <div class="ch" data-go="138">Epilogue - Fin 2</div>
    </div>

  </div>
