<div class="num num-1-1-137">

    <div class="text">
      <h1>- Epilogue - Fin 1 -</h1>

      <p>Une fois dans les airs, un étrange rayon rose jaillit de la lune et vient vous enrober tous d'un halo rose. Aussitôt la vitesse de Miguel devient impressionnante. Vous filez vers le nord-ouest en voyant défiler les paysages. Très vite vous passez au-dessus d'un grand marais. Tu es certain<span class="sexe sexe-fille">e</span> qu'il s'agit du marais des monts noirs. Il est aussi lugubre que tu l'avais imaginé en lisant les grimoires de l'académie. Mais Miguel continue. La forêt suivant le marais est bientôt en vue, et aussitôt dépassé. <span class="av-sportif">Typhon était déjà rapide mais là ça n'a rien à voir. En y repensant tu es triste de la laisser elle et Levy. Tu ne les reverras peut-être jamais.</span> Les montagnes se rapprochent, les monts noirs, ces montagnes maudites, peuplées des monstres les plus dangereux au monde.</p>

      <p>Tu ne regrettes pas ton choix. Miguel va s'expliquer et tu étais prêt<span class="sexe sexe-fille">e</span> à savoir ce qui se passe. Miguel ralentit sa vitesse et vous amorcez une descente vers le milieu de la montagne. Vous vous dirigez vers une corniche où tu peux voir quelques bâtiments. Une petite tour et des fenêtres taillées directement dans la montagne. Il y a un village en plein milieu des monts noirs. Finalement Miguel atterrit sur un petit espace dégagé juste devant la tour. Et tu découvres un grand passage taillé dans la montagne pour rentrer dedans.</p>

      <p>Des humains vous attendent à l'arrivée. Miguel les salue et <span class="seul">te présente</span><span class="passeul">vous présente</span>.<br /><br />
        - Le général va <span class="seul">te</span><span class="passeul">vous</span> recevoir, dit un des humains. <span class="seul">Suis-moi</span><span class="passeul">Suivez-moi</span>. </p>

      <p>Tu rentres par le passage dans la montagne. C'est beaucoup plus confortable que ce que tu pensais de l'extérieur. Les couloirs sont grands, mais malgré le froid à l'extérieur, il fait très bon dedans. De belles tapisseries sont accrochées aux murs et des lustres remplis de bougies magiques illuminent l'intérieur de ce palais souterrain. Sur les tapisseries est dessinée la mythologie du combat de Ymir et Zaïra contre Soufflardent. Tu peux d'abord voir leur arrivée dans les monts noirs. Puis une autre tapisserie les montre en train de rentrer dans l'antre souterrain de Soufflardent. La suivante montre le combat en lui-même, où personne ne prend l'avantage. Puis enfin le moment où Ymir et Zaïra endorment le dragon. Mais la suite te paraît étrange, Ymir et Zaïra reviennent à l'académie et racontent leur combat. Une autre tapisserie encore montre 4 mages bannir Ymir et Zaïra de l'académie. Enfin la dernière tapisserie montre tes idoles construire un palais dans les monts noirs.</p>

      <p>Dans les livres de l'académie, tout le monde raconte que Ymir et Zaïra ont disparu en combattant Soufflardent il y a de cela 150 ans environ. Ça serait un mensonge ? Finalement on t'ouvre une porte et l'homme qui t'accompagne annonce :<br /><br />
        - Général Ymir, nous avons <span class="seul">un<span class="sexe sexe-fille">e</span> <span class="sexe sexe-fille">nouvelle</span><span class="sexe sexe-garcon">nouveau</span></span><span class="passeul">des nouveaux</span>. Miguel vient de les ramener avec la personne maudite.<br /><br />
        Un homme assez âgé, avec une longue barbe se retourne alors qu'il étudiait un parchemin. Il porte une grande cape rouge et dorée et ressemble un peu aux gravures de ton idole.<br /><br />
        - Bonjour. Bienvenue au bastion de la lune ! te dit Ymir.
        </p>
    </div>

    <div class="choix">
      <div class="ch finchapitre">Fin du chapitre</div>
    </div>

  </div>

    <div class="messagefin">
      <p class="t1">Chapitre fini !</p>
      <p class="t2">Prochain chapitre :</p>
      <p class="t3">Chap.2 - La source de toute magie</p>
      <p class="t4">Prochainement disponible</p>
    </div>
