<div class="num num-1-1-138">

    <div class="text">
      <h1>- Epilogue - Fin 2 -</h1>

      <p>Après ça tout s'est passé très vite. Les bandits qui étaient derrière vous dans la forêt vous ont retrouvé, mais quand ils ont vu Modrak en cendres, ils ont cru que vous étiez de très grands mages et ont préféré s'enfuir.</p>

      <p>En revenant sur vos pas vous avez découvert Dex qui aura réussi à tuer une dizaine de bandits avant de lui-même succomber à ses blessures. </p>

      <p>À votre retour au village de Darmen, les bandits étaient déjà partis. Les villageois vous ont célébrés en héros. Pour eux vous avez sauvé le village, même si finalement c'est plutôt Miguel qui aura fait le travail. Tu te sens un peu triste, car tu as l'impression que cette mission a été un grand échec. En tout cas, avec la mort du groupe d'Estrion au grand complet, difficile d'appeler ça une réussite.</p>

      <div class="capture1">
        <p class="mageventcapture">
          Tu retrouves <span class="mage-vent"></span>. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> était prisonnier à l'auberge mais <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> fut libéré dès que les bandits furent partis.
        </p>

        <p class="magefeucapture">
          Tu retrouves <span class="mage-feu"></span>. <span class="mage-feu-fille">Elle</span><span class="mage-feu-garcon">Il</span> était prisonnier à l'auberge mais <span class="mage-feu-fille">elle</span><span class="mage-feu-garcon">il</span> fut libéré dès que les bandits furent partis.
        </p>
      </div>
      <div class="capture2">
        <p>
          Tu retrouves <span class="mage-vent"></span> et <span class="mage-feu"></span>. Ils étaient prisonnier à l'auberge mais ils furent libérés dès que les bandits furent partis.
        </p>
      </div>

      <p class="middle">*</p>

      <p>Quelques jours plus tard Qobur, et une troupe de mages d'élite arrivèrent à Darmen. Tu racontas alors tout ce qui s'était passé en détails, de la mort d'Estrion à l'enlèvement de Terrence par Miguel. <span class="sigrp1-1">Egalement, tu expliquas la trahison de <span class="grp1-1"></span> les larmes aux yeux.</span></p>

      <p>Tout le monde fut rapatrié à l'académie pour se reposer. Qobur vous félicita tous pour votre courage et votre bravoure. Lors d'une cérémonie officielle on vous donna même une médaille dont tu ne voulais pas.</p>

      <p class="av-sportif">Levy te consola en t'emmenant dans le sud à Grand-Couronne pour te changer les idées. Ça te permit de te remettre un peu.</p>
      <p class="av-riche">Ta mère te consola et depuis cette expérience tu la trouves beaucoup plus gentille avec toi. Comme quoi tout arrive.</p>
      <p class="av-studieux">L'école te donna plusieurs jours de repos et tu retournas en vacances chez ton frère, Eran, à Sarambe. Ça te permit de te remettre un peu.</p>
      <p class="av-populaire">L'école te donna plusieurs jours de repos et tu retournas en vacances à Sarambe. Voir Annette et Rodolphe te mit un peu de baume au coeur. Et ça te permit de te remettre un peu.</p>
      <p class="av-courageux">Depuis cette époque Soyos et Espéride t'aident personnellement. Ils te donnent même de temps en temps des petites missions faciles juste pour toi. Ça te fait plaisir et ça te permit de te remettre un peu.</p>

      <p>Tu n'as pas eu de nouvelle de Miguel ou Terrence. <span class="sigrp1-1">Ni de <span class="grp1-1"></span>.</span> Tu ne sais pas ce qu'ils sont devenus. Mais quelque chose te dis que tu les reverras bientôt.</p>

    </div>

    <div class="choix">
      <div class="ch finchapitre">Fin du chapitre</div>
    </div>

  </div>

    <div class="messagefin">
      <p class="t1">Chapitre fini !</p>
      <p class="t2">Prochain chapitre :</p>
      <p class="t3">Chap.2 - La source de toute magie</p>
      <p class="t4">Prochainement disponible</p>
    </div>
