<div class="num num-1-1-139">

    <div class="text">
      <h1>- 139 -</h1>

      <p class="passeul"><span class="quelquun"></span> est à côté de toi, regardant Miguel avec stupeur.</p>

      <p>- Si vous voulez connaître la vérité vous devez venir avec moi. <span class="tonnom"></span>, si tu veux guérir de la malédiction tu n'as pas le choix. Seule ma maîtresse connaît le remède de cette malédiction, vous raconte Miguel.<br />
        - Pourquoi tu n'as pas aidé Terrence ? demandes-tu, plein de colère. Tu as l'air fort, tu aurais pu l'aider.<br />
        - Je viens malheureusement d'arriver à l'instant. Je l'aurais aidé sinon. Tu dois comprendre que cette malédiction va t'enlever toute ta magie si on ne fait rien. Dans quelque jour tu ne pourras plus lancer un seul sort... de toute ta vie. <br />
        <span class="def-pas-naif">- Tu mens ! Jamais j'ai pu lancé de sorts aussi puissants. <br />
          - Oui, la malédiction suce ta magie, il te permet de lancer des sorts beaucoup plus puissants en t'épuisant de ta magie.<br /></span>
      </p>

      <p class="trahison">Tu te souviens de la carte de la voyante. Un compagnon qui te trahira. Visiblement ce compagnon c'est Miguel.</p>

      <p><span class="passeul">- Venez tous avec moi</span><span class="seul">- Viens avec moi</span>. Le temps presse, d'ici quelques minutes le reste des bandits va arriver. Je n'ai pas le temps de tout vous expliquer maintenant mais je vous jure de le faire dès que possible.</p>

      <p class="sigrp1-1">
        Tu vois que <span class="grp1-1"></span> s'avance vers Miguel. <span class="grp1-1-fille">Elle</span><span class="grp1-1-garcon">Il</span> dèsire le suivre.<br /><br />
        - <span class="grp1-1"></span> attend ! Tu pars avec Miguel ?! lui cries-tu.<br /><br />
        <span class="grp1-1-fille">Elle</span><span class="grp1-1-garcon">Il</span> se retourne vers toi :<br />
        - Oui. Je veux connaître cette vérité sur tout ça. Je veux comprendre pourquoi tout le monde est mort. Tu dois venir avec nous, à cause de ta malédiction.
      </p>

    </div>

    <div class="choix">
      <div class="ch" data-go="140">Suivre Miguel</div>
      <div class="ch" data-go="141">Ne pas suivre Miguel</div>
    </div>

  </div>
