<div class="num num-1-1-14">

  <div class="text">
    <h1>- 14 -</h1>
    <p>Tu retournes la carte de la lune.</p>
    <p>- Hum...une carte mystérieuse. Je vois que ton chemin croisera un étranger...Je n'arrive pas bien à voir son visage</p>
    <p>Herlly prends un air sombre, puis ferme les yeux.</p>
    <p>- Il est grand...non...pas ça. C'est la malédiction...Non !<br />
      <span class="def-peureux">- Heu… vous commencez à me faire un peu peur là madame.</span><span class="def-pas-peureux">- Heu… ça va ?</span><br />
      - Tu es maudit, non pas encore. Tu seras maudit ! Noctule te maudira !</p>
    <p>Tu prends tes jambes à ton coup et déguerpis de là sans en entendre plus. Finalement tu décides de rentrer au camp pour dormir.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="9">Dormir puis se rendre à l'académie</div>
  </div>

</div>
