<div class="num num-1-1-141">

    <div class="text">
      <h1>- 141 -</h1>

      <p class="sigrp1-1">- Tu ne viens pas ? Dommage, te dit <span class="grp1-1"></span>.</p>

      <p class="sigrpautre">
        - Si tu rejoins ce monstre tu ne pourras plus revenir à l'académie ! crie <span class="unautre"></span> à <span class="grp1-1"></span>.<br />
        - Mon choix est fait. Venez avec moi, lui répond <span class="grp1-1"></span>.<br />
        - Jamais. Tu es en train de prendre la mauvaise voie. Tu ne sais même pas qui est cette créature. Miguel ? T'en es réellement sûr ? Moi ça me va pas.
      </p>

      <p>Tu vois que Miguel a envie de t'emmener avec lui de force mais tu lui montres bien que tu pourrais encore lancer un sort surpuissant grâce à la force du tatouage. Miguel<span class="sigrp1-1">, avec  <span class="grp1-1"></span> dans les bras,</span> s'envole.</p>

      <p class="sigrpautre">Vous vous regardez, incrédules.</p>
      <p class="middle">*</p>
      <p class="magie-noire">Tu te rends compte que tu y es allée un peu fort avec Modrak. Il ne bouge plus du tout. Vous ne pourrez pas l'interroger.</p>
      <p class="magie-verte">Modrak était inconscient, quand il reprend connaissance il ne comprends pas où il est. Il a l'air d'avoir complètement perdu la mémoire. Peut-être que l'académie arrivera à le faire parler quand même.</p>


    </div>

    <div class="choix">
      <div class="ch" data-go="142">Epilogue - Fin 3</div>
    </div>

  </div>
