<div class="num num-1-1-142">

    <div class="text">
      <h1>- Epilogue - Fin 3 -</h1>

      <p>Après ça tout s'est passé très vite. Les bandits qui étaient derrière vous dans la forêt vous ont retrouvé, mais quand ils ont vu ce que vous avez fait à Modrak, ils ont préféré s'enfuir.</p>

      <p>En revenant sur vos pas vous avez découvert Dex qui aura réussi à tuer une dizaine de bandits avant de lui même succomber à ses blessures. </p>

      <p>À votre retour au village de Darmen, les bandits étaient déjà partis. Les villageois vous ont célébrés en héros. Pour eux vous avez sauvé le village. Tu te sens un peu triste, car tu as l'impression que cette mission a été un grand échec. En tout cas, avec la mort du groupe d'Estrion au grand complet, difficile d'appeler ça une réussite.</p>

      <div class="capture1">
        <p class="mageventcapture">
          Tu retrouves <span class="mage-vent"></span>. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> était prisonnier à l'auberge mais <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> fut libéré<span class="mage-vent-fille">e</span> dès que les bandits furent partis.
        </p>

        <p class="magefeucapture">
          Tu retrouves <span class="mage-feu"></span>. <span class="mage-feu-fille">Elle</span><span class="mage-feu-garcon">Il</span> était prisonnier à l'auberge mais <span class="mage-feu-fille">elle</span><span class="mage-feu-garcon">il</span> fut libéré<span class="mage-feu-fille">e</span> dès que les bandits furent partis.
        </p>
      </div>
      <div class="capture2">
        <p>
          Tu retrouves <span class="mage-vent"></span> et <span class="mage-feu"></span>. Ils étaient prisonnier à l'auberge mais ils furent libérés dès que les bandits furent partis.
        </p>
      </div>

      <p class="middle">*</p>

      <p>Quelques jours plus tard Qobur, et une troupe de mages d'élite arrivèrent à Darmen. Tu racontas alors tout ce qui s'était passé en détails, de la mort d'Estrion et Terrence à la révélation de Miguel. <span class="sigrp1-1">Egalement, tu expliquas la trahison de <span class="grp1-1"></span> les larmes aux yeux.</span> Depuis ce matin-là d'ailleurs, comme te l'avait dit Miguel, tu n'arrives plus du tout à lancer de magie.</p>

      <p>Tout le monde fut rapatrié à l'académie pour se reposer. Qobur vous félicita tous pour votre courage et votre bravoure. Lors d'une cérémonie officielle on vous donna même une médaille dont tu ne voulais pas.</p>

      <p class="av-sportif">Levy te consola en t'emmenant dans le sud à Grand-Couronne pour te changer les idées. Ça te permit de te remettre un peu.</p>
      <p class="av-riche">Ta mère te consola et depuis cette expérience tu la trouves beaucoup plus gentille avec toi. Comme quoi tout arrive.</p>
      <p class="av-studieux">L'école te donna plusieurs jours de repos et tu retournas en vacances chez ton frère, Eran, à Sarambe. Ça te permit de te remettre un peu.</p>
      <p class="av-populaire">L'école te donna plusieurs jours de repos et tu retournas en vacances à Sarambe. Voir Annette et Rodolphe te mit un peu de baume au coeur. Et ça te permit de te remettre un peu.</p>
      <p class="av-courageux">Depuis cette époque Soyos et Espéride t'aident personnellement. Ils te donnent même de temps en temps des petites missions faciles juste pour toi. Ça te fait plaisir et ça te permit de te remettre un peu.</p>

      <p>Tu ne peux plus suivre les autres dans leurs missions et ça te fait de la peine. Tu te demandes même si tu ne vas pas partir de l'académie, ça ne sert plus à rien si tu ne peux plus faire de magie.</p>

      <p>Tu prépares tes affaires, sans rien dire à personne, laisses une lettre d'adieu sur ton lit et pars de ta chambre. Mais à la porte Lasseni t'attend.<br />
      - Tu ne comptes quand même pas abandonner ? <br />
      - Je ne peux plus faire de magie, rester ici ne sert à rien.<br />
      - Dire que je pensais que tu étais <span class="sexe sexe-fille">la seule</span><span class="sexe sexe-garcon">le seul</span> de mon niveau. Bon c'est ton choix, mais si tu ne veux pas abandonner, va à cet endroit.</p>

      <p>Lasseni te donne une petite enveloppe. Il y a une carte pour aller à la tour d'Azano. Ainsi qu'une lettre pour un certain "Manfred".</p>

      <p>- Dis-lui que tu viens de ma part, il t'aidera. Je ne sais pas s'il peut te rendre ta magie mais c'est la seule personne qui pourrait le faire chez nous.</p>

      <p>Tu remercies Lasseni, tu n'aurais pas cru qu'elle ferait ça pour toi. Peut-être que tu l'as mal jugée. Et finalement tu décides de l'écouter. Tu vas aller à la tour d'Azano.</p>

    </div>

    <div class="choix">
      <div class="ch finchapitre">Fin du chapitre</div>
    </div>

  </div>

    <div class="messagefin">
      <p class="t1">Chapitre fini !</p>
      <p class="t2">Prochain chapitre :</p>
      <p class="t3">Chap.2 - La source de toute magie</p>
      <p class="t4">Prochainement disponible</p>
    </div>
