<div class="num num-1-1-142">

    <div class="text">
      <h1>- Epilogue - Fin 4 -</h1>

      <p>Après ça, tout s'est passé très vite. Le reste des bandits était plutôt faible. Seul Modrak tenait tête à Estrion Vous avez même pu en capturer quelques-uns. Mais c'était juste des bandits qui avaient été engagés par Modrak, ils ne savaient pas vraiment pour qui ils travaillaient.</p>

      <p>À votre retour au village de Darmen, les villageois vous ont célébrés en héros. Pour eux vous avez sauvé le village. Tu te sens un peu triste, car tu as l'impression que cette mission a été un grand échec. Mais au moins tout le monde a survécu à cette mission. Tu te demandes juste ce qui est arrivé à Terrence.</p>

      <div class="capture1">
        <p class="mageventcapture">
          Tu retrouves <span class="mage-vent"></span>. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> était prisonnier à l'auberge mais <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> fut libéré<span class="mage-vent-fille">e</span> dès que les bandits furent partis.
        </p>

        <p class="magefeucapture">
          Tu retrouves <span class="mage-feu"></span>. <span class="mage-feu-fille">Elle</span><span class="mage-feu-garcon">Il</span> était prisonnier à l'auberge mais <span class="mage-feu-fille">elle</span><span class="mage-feu-garcon">il</span> fut libéré<span class="mage-feu-fille">e</span> dès que les bandits furent partis.
        </p>
      </div>
      <div class="capture2">
        <p>
          Tu retrouves <span class="mage-vent"></span> et <span class="mage-feu"></span>. Ils étaient prisonnier à l'auberge mais ils furent libérés dès que les bandits furent partis.
        </p>
      </div>

      <p class="middle">*</p>

      <p>Quelques jours plus tard Qobur, et une troupe de mages d'élite arrivèrent à Darmen. Estrion leur raconta alors tout ce qui s'était passé en détails. Tu ne parlas pas de Miguel, juste qu'il avait disparu. Après tout, tu n'es pas totalement sûr<span class="sexe sexe-fille">e</span> si ce monstre était bien Miguel ou non.</p>

      <p>Tout le monde fut rapatrié à l'académie pour se reposer. Qobur vous félicita tous pour votre courage et votre bravoure. Lors d'une cérémonie officielle on vous donna même une médaille. Miguel ne réapparut jamais à l'académie, même si Qobur vous dit qu'il a l'habitude de revenir au moment où on s'y attend le moins.</p>

      <p class="av-sportif">Tu retrouvas Levy et Typhon avec les autres cavaliers draconiques. A la fin de l'année, <span class="sexe sexe-fille">Il</span><span class="sexe sexe-garcon">Elle</span> gagna la grande course draconique du pays. Et depuis vous êtes officiellement ensemble. <span class="sexe sexe-fille">Il t'a demandé d'être sa petite amie le jour de sa victoire.</span><span class="sexe sexe-garcon">Elle t'a demandé d'être son petit ami le jour de sa victoire.</span> Ce que tu t'es empressé<span class="sexe sexe-fille">e</span> d'accepter.</p>

      <p class="av-riche">Ta mère vint aux nouvelles quand elle sut ce que tu avais affronté. Bizarrement depuis ce jour elle est beaucoup plus gentille avec toi. Cependant tu notes qu'on n'a donné à ton groupe que des missions très facile dans l'académie. Tu supposes que c'est ta mère qui est allée rouspéter auprés de Qobur et Soyos pour que vous n'ayez plus de mission potentiellement dangereuse. Tu apprécies qu'elle soit plus gentille mais tu regrettes un peu les missions plus dangereuses.</p>

      <p class="av-studieux">Cette expérience t'a encore plus donné envie de t'améliorer. En quelques mois tu appris tous les sorts de base qu'il te manquait. Avec Lasseni vous furent les deux seul<span class="sexe sexe-fille">e</span>s cette année à réussir cet exploit. Bien entendu, le passage en deuxième année fut facile.</p>

      <p class="av-populaire">Bien vite beaucoup d'élèves apprirent vos "exploits" - même si tu trouves n'avoir pas fait grand chose - et tu devins la vrai coqueluche de l'école avec ton groupe. Sans Miguel, vous décidèrent de vous rebaptiser les "courageux".</p>

      <p class="av-courageux">Espéride vous demanda à chacun d'entre vous, y compris Estrion, de lui décrire le monstre que vous aviez vu. Tu ne dis toujours rien sur le fait que tu pensais qu'il s'agissait de Miguel. Finalement, après avoir tout noté, Espéride partit en mission pendant 6 mois pour tenter de trouver la bête. Ce fut en pure perte, à son retour elle expliqua n'avoir trouvé aucune trace du monstre.</p>

      <p>Depuis ce jour tu n'aperçus plus aucune lune rouge.</p>

    </div>

    <div class="choix">
      <div class="ch finchapitre">Fin du chapitre</div>
    </div>

  </div>

  <div class="messagefin">
    <p class="t1">Chapitre fini !</p>
    <p class="t2">Prochain chapitre :</p>
    <p class="t3">Chap.2 - La source de toute magie</p>
    <p class="t4">Prochainement disponible</p>
  </div>
