<div class="num num-1-1-144">

    <div class="text">
      <h1>- 144 -</h1>

      <p>Très vite, alors même que vous parcourez la forêt, vous entendez des bruits de gens qui courent. Ils ne viennent pas vers vous mais plutôt dans la direction d'Estrion, Dex et Terrence. Le subterfuge n'a pas fonctionné et ils se sont fait repérer.</p>

      <p>- On doit continuer, annonce <span class="quelquun"></span>.<br />
        - Oui, on ne peut rien faire pour prévenir Estrion, dis-tu.<br />
        - De toute façon, avec ce bruit, Estrion a dû les repérer.</p>

      <p>Dans ta tête, tu te dis qu'Estrion a de la ressource, il réussira à trouver un moyen de s'échapper. Toi, tu as fait ton choix : tu dois sauver tes compagnons. Et avec les bandits sur les talons d'Estrion, ça doit vouloir dire qu'il ne reste plus grand monde au village.</p>

      <p>Toujours cachés, vous arrivez jusqu'à Darmen. Pendant le trajet vous avez entendu des explosions à plusieurs reprises. Le combat doit faire rage entre les bandits et Estrion. A Darmen, c'est beaucoup plus calme. Vous voyez quand même quelques bandits qui regardent en direction des explosions. Tu arrives à en compter 8.</p>

      <p>- Qu'est-ce qu'on fait <span class="tonnom"></span>, te demande <span class="quelquun"></span> ?<br />
        - Il faudrait s'approcher d'eux pour les écouter. On apprendra peut être quelque chose. </p>

      <p class="simagevent magie-pas-vent">- Je m'en charge. Avec mon sort de masque, je vais me faire passer pour un garde, annonce <span class="mage-vent"></span></p>
      <p class="sipasmagevent magie-pas-vent">- Je vais m'approcher discrètement d'eux. Vous, restez ici.</p>
      <p class="magie-vent">- Je m'en charge, dis-tu. Avec mon sort de masque, je vais me faire passer pour un garde.</p>

    </div>

    <div class="choix">
      <div class="ch infomagie" data-go="145">Récupérer des informations</div>
      <div class="ch infopasmagie" data-go="146">Récupérer des informations</div>
    </div>

  </div>
