<div class="num num-1-1-145">

    <div class="text">
      <h1>- 145 -</h1>

      <p class="magie-pas-vent"><span class="mage-vent"></span> lance son sort de masque pour ressembler à un bandit. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> cache ses vêtements de l'académie et va calmement dans la direction des gardes. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> ne va pas leur parler mais a l'air d'écouter leurs discussions. Quelqu'un vient vers <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">lui</span> à un moment pour lui demander quelque chose, après quoi 6 gardes partent vers la forêt et laisse <span class="mage-vent"></span> avec seulement 2 autres gardes. C'est le moment d'agir.</p>

      <p class="magie-vent">Tu lances ton sort de masque pour ressembler à un bandit.  Tu caches tes vêtements de l'académie en mettant un peu de terre sur tes écussons et vas calmement dans la direction des gardes. </p>
      <p class="magie-vent">Tu vas calmement te poser près des autres gardes sans rien dire. <br /><br />
      - J'ai entendu des explosions, Modrak a dû passer à l'action.<br />
      - Ça veut dire qu'ils ont repéré le type qu'on cherche.<br />
      - Vous croyez pas qu'il faudrait y aller aussi ? Y a plus de raison de rester ici.</p>
      <p class="magie-vent">Tu vois dans cette discussion qu'il y a peut-être un moyen de faire partir les gardes du village. <br /><br />
      <span class="av-populaire">- Si on réussit à attraper notre type, on aura certainement une prime, dis-tu tout haut.<br />
      - T'as raison, qu'est-ce qu'on fiche ici. <br />
      - Mais si ça foire encore, Modrak nous tuera pour avoir déserté notre poste.<br />
      - Je veux bien rester mais comme je vous ai donné l'idée celui qui aura la prime devra partager avec moi, essaies-tu de proposer.<br /><br />
      Les autres se regardent puis disent : <br /><br />
      - Ok de toute façon juste pour garder les prisonniers y a pas besoin d'être aussi nombreux.<br /><br />Et tous ils partirent, te laissant seul<span class="sexe sexe-fille">e</span> pour garder le camp.</span>
      <span class="av-pas-populaire">- On n'a pas besoin de tous rester, certains peuvent y aller, non ? proposes-tu.<br />
      - Oui on va faire comme ça. Vous 3 vous restez ici, dit celui qui a l'air d'être le plus fort. Nous on va aider Modrak.<br /><br />
      Tu fais partie des 3 qui sont désignés pour rester. Ces gardes sont vraiment idiots, ils n'ont même pas remarqué qu'un nouveau garde qu'ils n'avaient jamais vu auparavant était apparu. Enfin, ils étaient si nombreux qu'ils ne devaient pas tous se connaître. Avec seulement 2 gardes, vous allez pouvoir agir.</span>
      </p>
    </div>

    <div class="choix">
      <div class="ch infomagepop" data-go="147">Délivrer les prisonniers</div>
      <div class="ch autre" data-go="148">Attaquer les 2 gardes restants</div>
    </div>

  </div>
