<div class="num num-1-1-146">

    <div class="text">
      <h1>- 146 -</h1>

      <p>Tu t'approches le plus discrètement possible pour entendre leurs discussions. <br /><br />
      - J'ai entendu des explosions, Modrak a dû passer à l'action.<br />
      - Ça veut dire qu'ils ont repéré le type qu'on cherche.<br />
      - Vous croyez pas qu'il faudrait y aller aussi ? Y a plus de raison de rester ici.</p>
      <p>Les gardes continuent de discuter et décident de se séparer en 2 groupes. Certains vont prêter main forte à leur chef pendant que 3 d'entre eux restent pour s'occuper des prisonniers. C'est le moment d'agir, il n'y aura probablement pas de situation plus à votre avantage.
      </p>
    </div>

    <div class="choix">
      <div class="ch" data-go="149">Attaquer les 3 gardes restants</div>
    </div>

  </div>
