<div class="num num-1-1-147">

    <div class="text">
      <h1>- 147 -</h1>

      <p>Vous pénétrez dans l'auberge reconvertie en prison. L'aubergiste et la serveuse sont heureux de voir que les bandits ont fichu le camp. Ils vous amènent jusqu'aux chambres-geôles. <br />
        Jolt est dans la première chambre, très heureux de vous voir arriver.<br />
        <span class="mageventcapture"><span class="mage-vent"></span> est dans la deuxième chambre. Vous détachez le plus vite possible ses liens.<br /></span>
        <span class="magefeucapture"><span class="mage-feu"></span> attendait dans la chambre suivante.</span><br />
        Plusieurs autres villageois étaient aussi emprisonnés.<br />
        Sans hésiter, vous délivrez tout le monde, et mettez toute la population du village que les bandits sont partis du village pour le moment et qu'ils doivent en profiter pour partir. Ils pourront revenir quand l'académie aura envoyé des mages plus puissants que vous pour sécuriser les lieux.
      </p>
      <p>Les villageois et Jolt vous remercient chaleureusement et partent vers le village le plus proche.</p>

      <p>- Qu'est-ce qu'on fait nous ? demande <span class="grp1-3"></span>.<br />
        - On peut les accompagner… ou retourner aider Estrion, mais encore faudrait-il le retrouver, ajoute <span class="grp1-2"></span></p>

      <p>Tu penses qu'il vaudrait mieux partir avec les villageois pour les protéger. Tu as bien envie d'aller aider Estrion mais il faudrait que tu le retrouves sans tomber sur les hordes de bandits qui rôdent dans la forêt. Ou alors tenter de se rendre à Kaelleg en faisant un gros détour.</p>

      <p>Pendant tes réflexions une voix retentit dans ta tête :<br /><br />
        "Si tu veux connaître la vérité attends-moi près du moulin du village..."
        </p>

      <p class="av-studieux">
        Cette voix, c'est Miguel. Cela signifie qu'il est en vie. <span class="grp1-1"></span> te regarde en te faisant signe de la tête qu'<span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span> a aussi entendu le message, contrairement à tes 2 autres compagnons.
      </p>
      <p class="av-pas-studieux">
        <span class="grp1-1"></span> te regarde et te dit qu'<span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span> va aller au moulin, mais que vous devriez aller avec les villageois. Vos 2 autres compagnons se demandent de quoi <span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span> parle.
      </p>

    </div>

    <div class="choix">
      <div class="ch" data-go="150">Aller au moulin</div>
      <div class="ch" data-go="151">Finir avec les villageois en laissant <span class="grp1-1"></span></div>
    </div>

  </div>
