<div class="num num-1-1-148">

    <div class="text">
      <h1>- 148 -</h1>

      <p>Il ne reste que 2 gardes, l'opération peut sembler complexe mais vous êtes des mages.</p>

      <div  class="magie-vent">
        <p>Tu vas profiter du fait que tu es encore masqué<span class="sexe sexe-fille">e</span>. Tu sais que les prisonniers sont enfermés dans l'auberge, donc tu proposes à l'un des bandits restants d'aller boire un verre. En même temps tu fais signe à tes compagnons cachés de passer par l'arrière de l'auberge.</p>

        <p>Tu fais semblant d'aller commander un verre au comptoir et demandes une bouteille à la serveuse. Mais tu lui dis que ça ne te convient et rentres dans la réserve à l'arrière du comptoir, l'excuse est passée comme une lettre à la poste tout le monde pense que tu vas chercher une meilleure bouteille dans la réserve.</p>

        <p>Tes compagnons ont bien compris ce que tu voulais faire, ils ont réussi se faufiler dans la réserve. Tu appelles alors l'un des bandits sous prétexte de venir choisir la bouteille avec toi. Il te répond de choisir n'importe quoi d'alcoolisé mais vient quand même. dès qu'il pose le pied dans la réserve il est accueilli par une plaque de verglas créée par <span class="mage-eau"></span>, il glisse et s'assomme par terre.</p>

        <p>La serveuse, alertée par le bruit, arrive et vous voit en train de ligoter le bandit. L'aubergiste arrive également, vous décidez simplement de donner l'arme du bandit à l'aubergiste et de tous sortir dehors, le plus intimidant possible pour faire face au dernier des bandits. Cela devrait suffire. </p>

        <p>Effectivement, avec l'aubergiste et la serveuse en plus dans vos rangs, le dernier malfrat ne demande pas son reste en vous voyant débouler dehors. Il prend ses jambes à son cou. </p>
      </div>

      <div class="magie-feu">
        <p>L'un des bandits rentres dans l'auberge, il n'en reste plus qu'un dehors. Il faut juste qu'il ne donne pas l'alerte trop vite. Tu lances une pierre de l'autre côté de la rue pour qu'il regarde dans la direction opposée à toi.</p>

        <p>Un sprint rapide te permet d'arriver proche de lui en un rien de temps. Et tu lances ton sort de main de flammes. Un coup bien placé et tu mets le feu à son pantalon.</p>

        <p><span class="mage-terre"></span> lance son sort de racines quand il essaie d'aller vers l'abreuvoir pour les chevaux pour éteindre le feu. Cela le fait trébucher puis tomber violemment dans l'abreuvoir, le feu s'éteint mais il ne se relève pas.</p>

        <p>Son compagnon sort alors de l'auberge en trombe. <span class="mage-vent"></span>, toujours avec son sort de masque, lui fait un croche-pied qui le fait atterrir en plein sur son compagnon. Vous tous autour de lui dès qu'il essaie de se remettre debout. L'aubergiste et la serveuse également de l'auberge et vous apportent des cordes pour ligoter ces deux bandits.</p>
      </div>

      <div class="magie-eau">
        <p><span class="mage-vent"></span> profite du fait qu'<span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> encore masqué<span class="mage-vent-fille">e</span>. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> sait que les prisonniers sont enfermés dans l'auberge, donc <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> propose à l'un des bandits restant d'aller boire un verre, et en même temps vous fait signe de passer par l'arrière de l'auberge.</p>

        <p>Vous rentrez par derrière, la porte n'est pas verrouillée. <span class="mage-vent"></span> fait semblant d'aller commander un verre au comptoir et demande une bouteille à la serveuse. Mais <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> lui dit que ça ne te convient et rentre dans la réserve à l'arrière du comptoir, l'excuse est passée comme une lettre à la poste tout le monde pense que <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> va chercher une meilleure bouteille dans la réserve.</p>

        <p>La stratégie est prête. <span class="mage-vent"></span> appelle alors le bandit resté dans l'auberge, sous prétexte de venir choisir la bouteille. Il répond de choisir n'importe quoi d'alcoolisé mais vient quand même. dès qu'il pose le pied dans la réserve il est accueilli par une plaque de verglas que tu avais créée avec ton sort de glaciation, il glisse et s'assomme par terre.</p>

        <p>La serveuse, alertée par le bruit, arrive et vous voit en train de ligoter le bandit. L'aubergiste arrive également, vous décidez simplement de donner l'arme du bandit à l'aubergiste et de tous sortir dehors, le plus intimidant possible pour faire face au dernier des bandits. Cela devrait suffir. </p>

        <p>Effectivement, avec l'aubergiste et la serveuse en plus dans vos rangs, le dernier malfrat ne demande pas son reste en vous voyant débouler dehors. Il prend ses jambes à son cou. </p>
      </div>

      <div class="magie-terre">
        <p><span class="mage-vent"></span> profite du fait qu'<span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> encore masqué<span class="mage-vent-fille">e</span>. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> sait que les prisonniers sont enfermés dans l'auberge, donc <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> propose à l'un des bandits restant d'aller boire un verre, et en même temps vous fait signe de passer par l'arrière de l'auberge.</p>

        <p>Vous rentrez par derrière, la porte n'est pas vérouillée. <span class="mage-vent"></span> fait semblant d'aller commander un verre au comptoir et demande une bouteille à la serveuse. Mais <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> lui dit que ça ne te convient et rentre dans la réserve à l'arrière du comptoir, l'excuse est passée comme une lettre à la poste tout le monde pense que <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> va chercher une meilleure bouteille dans la réserve.</p>

        <p>La stratégie est prête. <span class="mage-vent"></span> appelle alors le bandit resté dans l'auberge, sous prétexte de venir choisir la bouteille. Il répond de choisir n'importe quoi d'alcoolisé mais vient quand même. dès qu'il pose le pied dans la réserve il est accueilli par une plaque de verglas créée par <span class="mage-eau"></span>, il glisse et s'assomme par terre.</p>

        <p>La serveuse, alertée par le bruit, arrive et vous voit en train de ligoter le bandit. L'aubergiste arrive également, vous décidez simplement de donner l'arme du bandit à l'aubergiste et de tous sortir dehors, le plus intimidant possible pour faire face au dernier des bandits. Cela devrait suffir. </p>

        <p>Effectivement, avec l'aubergiste et la serveuse en plus dans vos rangs, le dernier malfrat ne demande pas son reste en vous voyant débouler dehors. Il prend ses jambes à son cou. </p>
      </div>

    </div>

    <div class="choix">
      <div class="ch" data-go="152">Délivrer les prisonniers</div>
    </div>

  </div>
