<div class="num num-1-1-149">

    <div class="text">
      <h1>- 149 -</h1>

      <p>Il ne reste que 3 gardes, l'opération peut sembler complexe mais vous êtes des mages.</p>

      <p>L'un d'entre eux rentre dans l'auberge pendant que les deux autres restent dehors. Vous n'avez pas trop le temps de trainer. Modrak et ses hommes peuvent revenir à n'importe quel moment.</p>

      <p>Alors que vous alliez sortir de votre cachette pour tenter une attaque, vous voyez les villageois arriver avec des fourches jusqu'à l'auberge. Ils ont l'air d'avoir vu aussi qu'il ne restait que 3 bandits.</p>

      <p>- Rendez-vous ! Vous n'êtes presque plus personne et là il y a tout le village ! crie un des villageois.<br />
        - Pfuu. Tout un village de bouseux. Vous n'avez jamais tenu une épée de votre vie. Je peux facilement me battre contre une dizaine d'entre vous, lui répond un des bandits.<br />
        - En plus vous êtes même venu avec les vieillards et les enfants ? Sans rire ? Ils vont se battre ? ajoute le deuxième bandit.
        </p>

      <p>Les villageois semblent moins confiants qu'au début, tu décides de te montrer.<br /><br />
        - Peut-être que des mages de l'académie ça vous fait un peu plus peur ! Leur dis-tu en surgissant derrière eux.<br />
        - Oui, nous aussi on est prêt à en découdre, ajoute <span class="mage-eau"></span>.</p>

      <p>La peur change instantanément de camp. Le troisième bandit est sorti de l'auberge mais même à trois ils semblent tout tremblants.<br /><br />
        - Pitié, on n'a fait qu'obéir à Modrak. On ne sait rien, crie un des bandits en jetant son épée à terre.<br />
        - Crétin, ramasse ça. On ne peut pas perdre avec Modrak, lui assène son collègue.</p>

      <p>Mais le troisième bandit jette également son épée. Tu t'avances en lui demandant de rendre son arme. Il semble vraiment hésiter mais au moment où tu te trouves à quelques pas il t'attaque.</p>

      <p class="magie-feu">
        Tu réagis sur l'instant. La magie remplit tes mains et fais crépiter tes deux mains d'un feu que tu ne te connaissais pas capable de faire. Ton sort de main de flammes se transforme, et tu assistes à ta première création de sort : un cône de flamme se projette en plein sur le bandit, le faisant prendre feu immédiatement. Il s'écroule par terre et ses compagnons l'aident à éteindre les flammes. Ta démonstration de force n'a laissé personne indifférent, même toi tu es stupéfait<span class="sexe sexe-fille">e</span> de ton nouveau sort.
      </p>
      <p class="magie-pas-feu">
        Tu réagis sur l'instant. La magie remplit tes mains et fais crépiter ta main droite de flammes. Tu évites l'attaque du bandit tout en lui brûlant la tunique, le faisant prendre feu immédiatement. Il s'écroule par terre et ses compagnons l'aident à éteindre les flammes. Ta démonstration de force n'a laissé personne indifférent, même toi tu es stupéfait<span class="sexe sexe-fille">e</span> de maîtriser un sort de feu.
      </p>

      <p>L'aubergiste et la serveuse, vous disent qu'il y a des prisonniers dans l'auberge qui attendent leur libération.</p>

    </div>

    <div class="choix">
      <div class="ch" data-go="152">Délivrer les prisonniers</div>
    </div>

  </div>
