<div class="num num-1-1-15">

  <div class="text">
    <h1>- 15 -</h1>
    <p>Tu retournes la carte du mur brisé.</p>
    <p>- Hum...une carte rare ! Je vois que bientôt vous serez confronté<span class="sexe sexe-fille">e</span> à une épreuve, une énigme. Il faudra aller plus loin que ce que vous voyez pour découvrir la vérité.</p>
    <p>Herlly prends un air sombre, puis ferme les yeux.</p>
    <p>- Mais il faudra faire attention car le danger sera bien là également.</p>
    <p>Sur ces mots elle te fait signe de partir et range ses cartes. Tu ne comprends pas tout mais tu gardes ce qu'elle t'a dit dans un coin de la tête.</p>
    <p>Tu rentres au camp pour dormir.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="9">Dormir puis se rendre à l'académie</div>
  </div>

</div>
