<div class="num num-1-1-150">

    <div class="text">
      <h1>- 150 -</h1>

      <p><span class="grp1-1"></span> et toi allez au moulin. Tu laisses les autres partir avec les villageois.</p>

      <p>Vous ne savez pas trop qui va arriver. <span class="av-studieux">Même si tu penses que c'est Miguel.</span> En tout cas, votre curiosité a pris le dessus.</p>

      <p>Au bout d'un moment, les nuages s'écarte pour faire jaillir un éclair rose. Une créature gigantesque atterrit devant vous. Il fait environ 3 mètres de haut, le pelage blanc avec des yeux bleus brillants. Il a de grandes oreilles le faisant ressembler à un grand lapin. <span class="noctule">C'est exactement la description du Noctule que tu avais lu dans le livre de Zaïra.</span> A son poignet tu observes que la créature possède le collier de Miguel. Tu en es certain<span class="sexe sexe-fille">e</span> : ce monstre c'est Miguel !</p>

      <p>Il tient dans ses bras Terrence qui est inconscient.</p>

      <p>- Qu'est-ce qui est arrivé à Estrion ? demandes-tu immédiatement.<br />
        - Estrion et Modrak se sont battus… Mais Modrak possédait la force du dragon d'onyx, il était trop fort pour Estrion. Je suis désolé, je suis arrivé trop tard. J'ai pu sauver Terrence par contre, raconte la créature.<br />
        - Tu es...Miguel ? demande <span class="grp1-1"></span>.<br />
        - Si vous voulez tout savoir vous allez devoir m'accompagner. Ici je n'aurai pas le temps de tout vous expliquer. Mais avant de prendre votre décision vous devez savoir que je suis l'ennemi de l'académie.</p>

      <p>Tu regardes <span class="grp1-1"></span>. <span class="grp1-1-fille">Elle</span><span class="grp1-1-garcon">Il</span> hésite un instant mais finalement s'approche de la créature.<br /><br />
        - Je viens avec toi.<br />
        - Entendu, et toi <span class="tonnom"></span> ? Je ne veux pas te presser mais il y a encore beaucoup de bandits qui sont sur nos talons, explique le monstre.</p>

        <p>Quoi que tu fasses, il semble impossible de demander à la créature de laisser Terrence.</p>
    </div>

    <div class="choix">
      <div class="ch" data-go="153">Suivre Miguel</div>
      <div class="ch" data-go="154">Laisser <span class="grp1-1"></span> partir avec Miguel et Terrence</div>
    </div>

  </div>
