<div class="num num-1-1-152">

    <div class="text">
      <h1>- Epilogue - Fin 5 -</h1>

      <p>En laissant <span class="grp1-1"></span> vous accompagnez les villageois jusqu'à un petit village plus loin, perdu dans la montagne mais sûr. Ne sachant pas ce qui est arrivé à Estrion ou Modrak, vous restez quand même sur le qui vive.</p>

      <p class="middle">*</p>

      <p>Quelques jours plus tard Qobur, et une troupe de mages d'élite arrivèrent, guidés par un sort de Vision de Rêve d'un des mages. Qobur te raconta qu'Estrion et Dex furent retrouvés morts et que Terrence a disparu. Nulle trace des bandits ou de Modrak.</p>

      <p>Tout le monde fut rapatrié à l'académie pour se reposer. Qobur vous félicita tous pour votre courage et votre bravoure. Lors d'une cérémonie officielle on vous donna même une médaille. Miguel ne réapparut jamais à l'académie, même si Qobur vous dit qu'il a l'habitude de revenir au moment où on s'y attend le moins.</p>

      <p class="av-sportif">Tu retrouvas Levy et Typhon avec les autres cavaliers draconiques. A la fin de l'année, <span class="sexe sexe-fille">Il</span><span class="sexe sexe-garcon">Elle</span> gagna la grande course draconique du pays. Et depuis vous êtes officiellement ensemble. <span class="sexe sexe-fille">Il t'a demandé d'être sa petite amie le jour de sa victoire.</span><span class="sexe sexe-garcon">Elle t'a demandé d'être son petit ami le jour de sa victoire.</span> Ce que tu t'es empressé<span class="sexe sexe-fille">e</span> d'accepter.</p>

      <p class="av-riche">Ta mère vint aux nouvelles quand elle sut ce que tu avais affronté. Bizarrement depuis ce jour elle est beaucoup plus gentille avec toi. Cependant tu notes qu'on n'a donné à ton groupe que des missions très facile dans l'académie. Tu supposes que c'est ta mère qui est allée rouspéter auprés de Qobur et Soyos pour que vous n'ayez plus de mission potentiellement dangereuse. Tu apprécies qu'elle soit plus gentille mais tu regrettes un peu les missions plus dangereuses.</p>

      <p class="av-studieux">Cette expérience t'a encore plus donné envie de t'améliorer. En quelques mois tu appris tous les sorts de base qu'il te manquait. Avec Lasseni vous furent les deux seul<span class="sexe sexe-fille">e</span>s cette année à réussir cet exploit. Bien entendu, le passage en deuxième année fut facile.</p>

      <p class="av-populaire">Bien vite beaucoup d'élèves apprirent vos "exploits" - même si tu trouves n'avoir pas fait grand chose - et tu devins la vrai coqueluche de l'école avec ton groupe. Sans Miguel, vous décidèrent de vous rebaptiser les "courageux".</p>

      <p class="av-courageux">Espéride vous demanda à chacun d'entre vous de lui décrire Modrak, le chef des bandits. Elle fut choisie par l'académie pour mener la recherche de Terrence. Espéride partit en mission pendant 6 mois pour tenter de les trouver. Ce fut en pure perte, à son retour elle expliqua n'avoir trouvé aucune trace.</p>

      <p>Depuis ce jour tu n'aperçus plus aucune lune rouge.</p>

    </div>

    <div class="choix">
      <div class="ch finchapitre">Fin du chapitre</div>
    </div>

  </div>

    <div class="messagefin">
      <p class="t1">Chapitre fini !</p>
      <p class="t2">Prochain chapitre :</p>
      <p class="t3">Chap.2 - La source de toute magie</p>
      <p class="t4">Prochainement disponible</p>
    </div>
