<div class="num num-1-1-154">

    <div class="text">
      <h1>- 154 -</h1>

      <p>- Tu ne viens pas ? Dommage, te dit <span class="grp1-1"></span>.</p>

      <p>Miguel prend <span class="grp1-1"></span> dans ses bras et s'envole dans les airs par magie. Un éclair rose les frappe et les enrobe d'une lumière rose sans les blesser. Après ça tu les vois disparaitre à une vitesse telle qu'en un instant tu ne vois qu'un point rose au loin.</p>

      <p>Tu te demandes si tu as fait le bon choix et rejoins le plus vite possible les villageois et le reste de ton groupe.</p>


    </div>

    <div class="choix">
      <div class="ch" data-go="151">Epilogue - Fin 5</div>
    </div>

  </div>
