<div class="num num-1-1-155">

    <div class="text">
      <h1>- 155 -</h1>

      <p>Estrion ne s'y attend pas. Tu prends un gros caillou sur le chemin et l'abats sur la tête d'Estrion qui s'écroule. </p>

      <div class="sigrp1-1">
        <p>Mais il n'est pas totalement assommé, <span class="grp1-1"></span> à son tour lui frappe la tête pour qu'il s'écroule.</p>
        <p class="siautre">
          - Qu'est-ce que vous faites ? Vous êtes cinglés ? crie <span class="unautre"></span>.<br />
          - C'est Miguel... Il faut lui faire confiance. Je veux savoir ce qu'il se passe, essaies-tu de te justifier.<br />
          - Oui, l'académie ne nous a pas tout dit. Elle nous cache plein de choses sur la magie, ajoute <span class="grp1-1"></span>.<br />
          - Vous êtes juste des traitres ! Et dire que je vous prenais pour mes amis !
        </p>
        <p class="siautre"><span class="unautre"></span> est en colère, et tu comprends très bien que ça doit être dur de comprendre ce que vous avez fait.</p>

        <p class="siautre">- On doit partir avec Miguel, toi retournes à l'académie, lui dis-tu.<br />
          - Je ne peux pas vous laisser emmener Terrence, c'est notre mission.<br />
          - Miguel vient de réduire en cendres Modrak, tu crois que tu peux l'arrêter ? demande ironiquement <span class="grp1-1"></span>.</p>

        <p class="siautre">À contrecœur, <span class="unautre"></span> vous laisse partir, non sans vous avoir juré de vous retrouver.</p>
        <p>Il n'y a plus de possibilité de faire machine arrière. Miguel vous prend dans ses bras et s'élance dans les airs avec un sort de vol.</p>
      </div>

      <div class="sipasgrp1-1">
        <p class="siautre">
          - Qu'est-ce que tu fais ? Tu es cinglé<span class="sexe sexe-fille">e</span> ? crie <span class="unautre"></span>.<br />
          - C'est Miguel… Il faut lui faire confiance. Je veux savoir ce qu'il se passe, essaies-tu de te justifier.<br />
          - Tu nous trahis ! Et dire que je te prenais pour un<span class="sexe sexe-fille">e</span> ami<span class="sexe sexe-fille">e</span> !
        </p>
        <p class="siautre"><span class="unautre"></span> est en colère, et tu comprends très bien que ça doit être dur de comprendre ce que tu as fait.</p>

        <p class="siautre">- Je dois partir avec Miguel, toi retournes à l'académie, lui dis-tu.<br />
          - Je ne peux pas vous laisser emmener Terrence, c'est notre mission.<br />
          - Miguel vient de réduire en cendres Modrak, tu crois que tu peux l'arrêter ? demandes-tu ironiquement.</p>

        <p class="siautre">À contrecœur, <span class="unautre"></span> vous laisse partir, non sans vous avoir juré de vous retrouver.</p>
        <p>Il n'y a plus de possibilité de faire machine arrière. Miguel vous prend dans ses bras et s'élance dans les airs avec un sort de vol.</p>
      </div>

    </div>

    <div class="choix">
      <div class="ch" data-go="137">Epilogue - Fin 1</div>
    </div>

  </div>
