<div class="num num-1-1-156">

    <div class="text">
      <h1>- 156 -</h1>

      <p>Tu ne peux pas faire ça à Estrion et tu fais face à Miguel côte à côte avec le mage de l'académie. </p>

      <div class="sigrp1-1">
        <p>Mais au moment où tu y attends le moins, <span class="grp1-1"></span> le frappe à la tête pour qu'il s'écroule.</p>
        <p class="siautre">
          - Qu'est-ce que tu fais ? Tu es cinglé<span class="grp1-1-fille">e</span> ? crie <span class="unautre"></span>.<br />
          - C'est Miguel… Il faut lui faire confiance. Je veux savoir ce qu'il se passe, essaie-<span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span> de se justifier. L'académie ne nous a pas tout dit. Elle nous cache plein de choses sur la magie.<br />
          - Tu nous as juste trahis ! Et dire que je te prenais pour notre ami<span class="grp1-1-fille">e</span> !
        </p>
        <p class="siautre"><span class="unautre"></span> est en colère. Tu es penché<span class="sexe sexe-fille">e</span> sur Estrion, il est dans les pommes. <span class="magie-terre">Même avec ton sort de guérison, tu arriveras à le soigner mais pas à le réveiller.</span></p>

        <p class="siautre">- Je dois partir avec Miguel, retournez à l'académie, vous dit <span class="grp1-1"></span>.<br />
          - Je ne peux pas te laisser emmener Terrence, c'est notre mission, t'écries-tu.<br />
          - Miguel vient de réduire en cendres Modrak, tu crois que tu peux l'arrêter ? demande ironiquement <span class="grp1-1"></span>.</p>

        <p class="siautre">À contrecœur, <span class="unautre"></span> les laissez partir, non sans leur avoir juré de les retrouver.</p>
        <p>Miguel prend <span class="grp1-1"></span> dans ses bras et s'élance dans les airs avec un sort de vol.</p>
      </div>

      <div class="sipasgrp1-1">
        <p>"Je vois, quel dommage je pensais que tu me rejoindrais, ajoute Miguel dans ta tête."</p>

        <p>Estrion se jette sur Miguel armé d'une épée de lumière - sort de magie du vent - qu'il vient d'incanter. Mais Miguel démontre qu'il est autrement plus puissant que tout ce que tu as pu voir jusqu'à présent. Un rayon rose provenant des nuages percute Estrion et l'immobilise. Et, d'un coup, Estrion disparait dans les nuages, avalé par une force magique inconnue.</p>

        <p>Tu restes bouche bée. Miguel te lance un dernier regard et s'envole ne laissant derrière lui que les cendres de Modrak.</p>
      </div>

    </div>

    <div class="choix">
      <div class="ch" data-go="138">Epilogue - Fin 2</div>
    </div>

  </div>
