<div class="num num-1-1-157">

    <div class="text">
      <h1>- 157 -</h1>

      <p>Votre progression est assez lente car vous devez pousser la boule de racines mais pour le moment tout se passe bien. Estrion fait tout à coup signe à tout le monde de s'arrêter. Vous tendez l'oreille, des bruits se rapprochent de vous. Ils viennent en plein dans votre direction. <br />
      - Chef, on est repéré je crois, fais Dex. Partez devant moi je vais les retenir. Je suis un mage assez puissant quand même.<br />
      - Dex... Reste en vie c'est tout ce que je te demande.</p>

      <p>Maintenant vous entendez même des voix et des cris. Estrion casse la boule de racines. Ça vous permettra d'avancer plus vite. Dex vous fait une dernière fois signe de partir et tu ne peux te retenir d'être triste quand vous continuez votre route en courant en le laissant derrière. Tu ne le connaissais pas mais cet homme va se sacrifier pour vous. Estrion ne fait plus dans la discrétion : vous courez à en perdre haleine.</p>

      <p class="av-sportif">Pour toi ça va, tu arrives à suivre mais Terrence est à bout de souffle. <span class="sipresent"><span class="allnomspresents"> ont</span> aussi un peu de mal à suivre. </span>
      </p>

      <p class="av-pas-sportif">Vous êtes tous à bout de souffle. Estrion est quelqu'un de bien entraîné et il mène un train d'enfer.</p>

      <p>Vous arrivez enfin sur la route principale. Celle qui relie le village de Darmen à Kaelleg. Estrion attend tout le monde vous fait signe de vous dépêcher et jette un coup d'oeil un peu partout. Il se fige en direction de la route qui descend vers Kaelleg. Là-bas tu arrives à distinguer un homme seul au milieu de la route : Modrak, le chef des bandits. Tu as juste le temps de voir Estrion se tourner vers vous et commencer à crier quelque chose que tu ne comprends pas. L'instant d'après il disparait dans une explosion rouge provoquée par un sort de Modrak.</p>

      <p>"Prépare-toi. J'arrive."</p>

      <p>C'était la voix, dans ta tête. Miguel arrive.</p>


      <p>Au moment où un éclair rouge allait partir des mains de Modrak, un puissant rayon rose jaillit du ciel et vient percuter le bandit, le réduisant en cendres. </p>

      <p>Là où il se tenait il y a encore quelques secondes se tient une créature de 3 mètres de haut. Il a le pelage blanc et des yeux bleus qui brillent. Avec ses longues oreilles, il ressemble à un gigantesque lapin debout sur ses pattes arrières. <span class="noctule">C'est un Noctule comme Zaïra l'avait décrit dans le livre que tu avais lu le premier jour de ton arrivée à l'académie.</span> Mais ce qui t'interpelle le plus c'est la clochette qui est attachée à son poignet : c'est celle de Miguel. Tu ne sais pas pourquoi mais tu sens que cette créature c'est Miguel.</p>

      <p>- Qu'est-ce que c'est encore que ce truc là ? Ce bandit s'est changé en monstre ? s'écrie Estrion qui est en train de se guérir avec sa magie. Je vais devoir sortir mes sorts les plus puissants pour...<br />
      - Estrion, attendez ce n'est pas Modrak ! C'est Miguel ! tentes-tu de lui expliquer.<br />
      - Mig... Qui ? Qui est Miguel ?</p>

      <p>Mais tu n'as pas le temps d'expliquer que Miguel file comme le vent et attrape Terrence. Immédiatement, il lui lance un sort qui l'endort.</p>

      <p>- Miguel ou je ne sais pas qui, en tout cas ce truc est un ennemi ! rugit Estrion.</p>

      <p>"Tu dois l'assommer <span class="tonnom"></span>, sinon je serais obligé de le tuer."</p>

      <p>Miguel te demande d'assommer Estrion, tu t'apprêtes à trahir complètement l'académie.</p>

      </div>

      <div class="choix">
      <div class="ch" data-go="155">Aider Miguel et assommer Estrion</div>
      <div class="ch" data-go="156">Aider Estrion</div>
      </div>

</div>
