<div class="num num-1-1-158">

    <div class="text">
      <h1>- 158 -</h1>

      <p>A peine sorti de la grotte, tu vois que Modrak vous attend juste derrière le bassin de la cascade. Il y a des bandits partout. Les bandits projetés par Estrion sont en train de patauger dans le bassin mais sont encore prêts à en découdre.</p>

      <p>Dex est un mage de bataille, tu le vois se lancer un sort qui l'enveloppe de flammes et partir sur le côté gauche pour ouvrir le chemin. Malgré sa blessure il s'occupe à lui tout seul d'une dizaine de bandits.<br /><br />
        - Tout le monde ! Passez par là ! vous dit-il</p>

      <p>Sans lui c'était impossible de passer mais grâce à Dex vous pouvez passer dans la forêt. Tu te retournes pour voir où est Estrion. Et tu vois qu'il est parti du côté droit avec Terrence.</p>

      <p>Modrak donne l'ordre de poursuivre Terrence et d'achever Dex mais de ne pas s'occuper de vous. Les bandits sont innombrables, probablement tous ceux du village sont là. Si vous retournez aider Dex, vous allez certainement être blessé voire pire.</p>

      <p>- <span class="tonnom"></span> ! On doit partir vite, s'exclament tes compagnons.</p>


    </div>

      <div class="choix">
        <div class="ch" data-go="159">S'enfuir avec tes compagnons</div>
        <div class="ch" data-go="162">courir vers Modrak pour lui parler</div>
      </div>

</div>
