<div class="num num-1-1-159">

    <div class="text">
      <h1>- 159 -</h1>

      <div class="sigrp1-1">
        <p>- Désolé, je peux pas rester comme ça sans rien faire, dit <span class="grp1-1"></span>.<br />
        - On ne peut rien faire, lui dis-tu.<br />
        - … J'ai encore un allié qui peut nous aider. Partez, moi je dois essayer de les empêcher de récupérer Terrence.</p>

        <p><span class="grp1-1"></span> part sur la gauche, dans la pente de la montagne. Elle compte contourner toute la cascade par le dessus.</p>
        <p>Et pendant qu'<span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span> disparait au loin, vous continuez votre route en courant.</p>
      </div>
      <div class="sipasgrp1-1">
        <p>Sentant que tu ne peux rien faire, tu continues ta course avec tes compagnons. Tu savais qu'en choisissant d'aider Soufflardent et Modrak il y aurait des gens qui le paieraient.</p>
      </div>

      <p>À force de courir vous sortez de la forêt pour atterrir sur une grande route. En la remontant vous pouvez aller jusqu'à Darmen. Les bandits étant occupés vous pouvez y retourner sans problème, pour voir si les villageois n'ont pas besoin d'aide.</p>

      <p class="sicapture">
        En plus ça te permettra de retrouver tes amis emprisonnés.
      </p>

      <p>Tu as aidé les bandits, mais maintenant tu ne sais pas trop quoi faire si ce n'est attendre que Modrak revienne avec Terrence au village.</p>

    </div>

      <div class="choix">
        <div class="ch" data-go="160">Retourner au village</div>
      </div>

</div>
