<div class="num num-1-1-16">

  <div class="text">
    <h1>- 16 -</h1>
	  <p>Tu arrives finalement jusqu'à ton école proprement dite. Au deuxième niveau de l'académie d'Azalys.</p>
	  <p>Beaucoup de monde se rassemblent auprès des nouveaux venus. Un vieux mage avec une grande cape blanche et de petites lunettes vous accueille.</p>
	  <p>- Bonjour je m'appelle Dioné, grand mage de l'académie. Suivez-moi la cérémonie des nouveaux va commencer dès que tout le monde sera arrivé.</p>
	  <p>Pas le temps de visiter tu es guidé<span class="sexe sexe-fille">e</span> dans un dédale de couloirs tous ornés de sculptures magnifiques. Au détour de l'une d'elles tu débouches sur un petit jardin intérieur. D'autres élèves que tu as vus hier sont déjà là. Et un autre vieux mage se tient devant eux. Longue barbe tressée et cheveux blanc, il n'a pas l'air de rigoler.</p>
	  <p>Autour de toi tu remarques que d'autres mages vous regardent depuis les balcons du premier étage.</p>
	  <p class="tricheur">Un jeune mage arrive en courant et va murmurer quelque chose à l'oreille du vieux mage barbu. Le jeune mage a l'air inquiet. L'autre lui fait un petit signe de la main pour le rassurer et le remercie. <br />
    &laquo; Bien. Un des nouveaux élèves ne sera pas présent, nous sommes donc tous là et allons commencer. &raquo; commence le vieux mage.</p>
    <p class="tricheur">- Je vous souhaite tout d'abord la bienvenue à Azalys. Je m'appelle Soyos de Saphir, je suis l'un des quatre Mage supérieur qui dirige de l'académie.<br />
    Aujourd'hui nous allons bien entendu vous donner votre matériel indispensable à l'apprentissage de la magie et nous vous ferons visiter une partie l'école. Elle est très grande et comme vous pouvez le pensez, il vous faudra du temps pour en connaitre tous les recoins.</p>
	  <p class="pas-tricheur">Finalement les derniers nouveaux arrivent et le mage annonce :</p>
    <p class="pas-tricheur">- Bonjour, je vous souhaite la bienvenue à Azalys. Je m'appelle Soyos de Saphir, je suis l'un des quatre Mage supérieur qui dirige de l'académie.<br />
    Aujourd'hui nous allons bien entendu vous donner votre matériel indispensable à l'apprentissage de la magie et nous vous ferons visiter une partie l'école. Elle est immense et comme vous pouvez le pensez, il vous faudra du temps pour en connaitre tous les recoins. &raquo;</p>
	  <p>Soyos fais une pause dans son discours. Tu ressens de plus en plus d'excitation.</p>
	  <p>- Mais tout d'abord vous allez devoir choisir une classe de magie parmi les suivantes : magie du vent, magie de l'eau, magie du feu ou magie de la terre. Comme vous le savez ces 4 magies sont les seules à exister. Les premières années doivent se spécialiser dans l'une d'entre elle. Mais plus tard, vous pourrez peut-être les maitriser toutes. En tout cas je vous le souhaite. Malheureusement il n'y a que 2 places dans chaque classe de magie, vous choisirez par ordre dans lequel vous avez fini à l'examen</p>
  </div>

  <div class="choix">
    <div class="ch place-1" data-go="17">Choisir ma magie</div>
    <div class="ch place-3" data-go="18">Choisir ma magie</div>
    <div class="ch place-4" data-go="19">Choisir ma magie</div>
    <div class="ch place-9" data-go="20">Choisir ma magie</div>
  </div>

</div>
