<div class="num num-1-1-160">

    <div class="text">
      <h1>- 160 -</h1>

      <p>En arrivant au village, tout le monde est content de vous voir. Les prisonniers sont libérés. Jolt avait été capturé et est bien content de vous voir aussi. </p>

      <div class="capture1">
        <p class="mageventcapture">
          Tu retrouves <span class="mage-vent"></span>. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> était prisonnier à l'auberge mais <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> fut libéré<span class="mage-vent-fille">e</span> dès que les bandits furent partis.
        </p>

        <p class="magefeucapture">
          Tu retrouves <span class="mage-feu"></span>. <span class="mage-feu-fille">Elle</span><span class="mage-feu-garcon">Il</span> était prisonnier à l'auberge mais <span class="mage-feu-fille">elle</span><span class="mage-feu-garcon">il</span> fut libéré<span class="mage-feu-fille">e</span> dès que les bandits furent partis.
        </p>
      </div>
      <div class="capture2">
        <p>
          Tu retrouves <span class="mage-vent"></span> et <span class="mage-feu"></span>. Ils étaient prisonnier à l'auberge mais ils furent libérés dès que les bandits furent partis.
        </p>
      </div>

      <p>Tu t'attends à ce que Modrak et ses hommes reviennent d'un instant à l'autre et tu dis à tout le monde qu'il faut évacuer du village. Tu te dis que tu resteras seul<span class="sexe sexe-fille">e</span> au village pour savoir quelle est la suite.</p>

      <p>- Partez tous. Moi je vais me cacher et rester ici pour voir comment ça se passe. Je vous rejoindrai d'ici ce soir. Si vous allez au village un peu plus loin je pourrai me repérer, dis-tu.<br />
        - C'est trop dangereux <span class="tonnom"></span>. Tu dois venir avec nous, te dit <span class="grp1-3"></span>. <br />
        - Je ne prendrai aucun risque, c'est promis. Je vais juste me cacher.</p>

      <p>À contrecœur tes compagnons te laissent au village pendant que tout le monde s'en va.</p>

      <p class="middle">*</p>

      <p>Au bout de plusieurs minutes un bandit sort de la forêt, mais il est en triste état. Il a beaucoup de blessures et marche de travers. Il s'approche de toi, seul, sans jeter un regard ailleurs que sur toi.</p>

      <p>- Qu'est-ce qui s'est passé ? Je suis avec vous. Je suis envoyé par Soufflardent ! lui dis-tu.<br />
        - Ha aH HA ! MeRCi MaIs nE pROnOnCe PaS mON NOm dEVanT n'IMporTE QuI, répond l'homme.</p>

      <p>En le regardant bien, le bandit a les yeux complètement noirs. Et une drôle de fumée noire sort de sa bouche.</p>

      <p>- J'AI PrIS pOSsESSioN dE Ce BaNDiT pOuR tE PaRlEr.<br />
        - ... Vous êtes So...heu vous êtes entré dans ce bandit ? <br />
        - C'eST jUsTe uN SoRt. tU As BiEn aGi eN AiDanT MoDRak. MaIs uN nOUveL aDVeRsAiRe ESt aPParU eT NoUs a MiS eN déROute. CeLuI qUI s'AppElLe MiGUel Est UnE puISsanTE cRéaTuRe eT iL a Tué ModRAk eT tOUs nOs baNdIts.<br />
        - Miguel ? Vraiment ?...Qu'est-ce que je dois faire ? Où est Terrence ? demandes-tu.<br />
        - TeRRenCe eST EnTRe lES mAiNS De MiGUel. PoUr lE mOMenT nOUs deVOnS aTTenDrE. ReTOurNe à L'AcadéMiE. jE tE ReCOnTacTerAI.</p>

      <p>Sitôt la discussion finie, une grosse fumée noire s'échappe de la bouche du bandit qui s'écroule à terre. Tu t'approches un peu pour vérifier ce que tu pressens. Il est effectivement mort. Mais il a des marques de combat de partout. Ce n'est pas le sort de Soufflardent qui l'a tué.</p>

      <p>Tu décides de repartir voir tes compagnons comme Soufflardent te l'a demandé.</p>

    </div>

      <div class="choix">
        <div class="ch" data-go="161">Epilogue - Fin 6</div>
      </div>

</div>
