<div class="num num-1-1-161">

    <div class="text">
      <h1>- Epilogue - Fin 6 -</h1>

      <p>Tu retrouves rapidement tes compagnons de l'académie. Ils sont contents de te voir sain<span class="sexe sexe-fille">e</span> et sau<span class="sexe sexe-fille">ve</span><span class="sexe sexe-garcon">f</span>. Bien sûr ils ne savent pas que tu travailles maintenant pour délivrer Soufflardent de son sommeil.</p>

      <p class="middle">*</p>

      <p>Quelques jours plus tard Qobur, et une troupe de mages d'élite arrivèrent à Darmen. Tu racontas alors tout ce qui s'était passé en omettant les détails sur Soufflardent ou Miguel. <span class="sigrp1-1">Egalement, tu expliquas la disparition de <span class="grp1-1"></span> les larmes aux yeux.</span></p>

      <p>Quelques jours plus tard encore vous apprirent en partie ce qu'il arriva. Estrion fut retrouvé mort, Terrence disparut. <span class="sigrp1-1">On ne retrouva jamais <span class="grp1-1"></span>, tu te demandes si l'allié dont <span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span> parlait était Miguel.</span> Modrak ne fut pas retrouvé non plus mais on retrouva beaucoup de bandits morts. Miguel ne revint jamais à l'académie, tu ne sais pas trop qui il était finalement.</p>

      <p>Tout le monde fut rapatrié à l'académie pour se reposer. Qobur vous félicita tous pour votre courage et votre bravoure. Lors d'une cérémonie officielle on vous donna même une médaille dont tu ne voulais pas.</p>

      <p class="av-sportif">Levy te consola en t'emmenant dans le sud à Grand-Couronne pour te changer les idées. Ça te permit de te remettre un peu.</p>
      <p class="av-riche">Ta mère te consola et depuis cette expérience tu la trouves beaucoup plus gentille avec toi. Comme quoi tout arrive.</p>
      <p class="av-studieux">L'école te donna plusieurs jours de repos et tu retournas en vacances chez ton frère, Eran, à Sarambe. Ça te permit de te remettre un peu.</p>
      <p class="av-populaire">L'école te donna plusieurs jours de repos et tu retournas en vacances à Sarambe. Voir Annette et Rodolphe te mit un peu de baume au cœur. Et ça te permit de te remettre un peu.</p>
      <p class="av-courageux">Depuis cette époque Soyos et Espéride t'aident personnellement. Ils te donnent même de temps en temps des petites missions faciles juste pour toi. Ça te fait plaisir et ça te permit de te remettre un peu.</p>

      <p class="middle">*</p>

      <p>L'année finit et grâce à tes efforts tu passais en deuxième année. C'est à ce moment là seulement, alors que tu te demandais si tu n'avais pas rêvé le jour où tu avais parlé à ce bandit possédé, un corbeau se posa dans ta chambre avec un message accroché à sa patte.</p>

      <p>"<span class="sexe sexe-fille">Chère</span><span class="sexe sexe-garcon">Cher</span> ami<span class="sexe sexe-fille">e</span>, le temps de m'aider est arrivé. Préparez-vous pour mon réveil."</p>

      <p>En tenant le parchemin, tu as la vision de Soufflardent te lisant le message dans ta tête. Et sitôt lu, le parchemin disparait en se transformant en une multitude de petits moucherons.</p>

      <p>Le prochain chapitre pour aider Soufflardent va commencer.</p>

    </div>

      <div class="choix">
        <div class="ch finchapitre">Fin du chapitre</div>
      </div>

</div>

  <div class="messagefin">
    <p class="t1">Chapitre fini !</p>
    <p class="t2">Prochain chapitre :</p>
    <p class="t3">Chap.2 - La source de toute magie</p>
    <p class="t4">Prochainement disponible</p>
  </div>
