<div class="num num-1-1-162">

    <div class="text">
      <h1>- 162 -</h1>

      <p>- Continuez de votre côté, je vais tenter quelque chose, dis-tu.</p>

      <p>Tes compagnons sont très surpris, mais tu es tellement rapide à partir qu'ils sont bien obligés d'obéir. Avant d'aller parler à Modrak, tu te retournes quand même pour vérifier que personne ne peut te voir.</p>

      <p>Dex est encore en train de se battre mais il est submergé de tous les côtés.</p>

      <p>En arrivant auprès du chef des bandits, c'est ce dernier qui te parle en premier :<br /><br />
        - Bravo, notre maître m'a prévenu que tu travaillais pour nous maintenant.<br />
        - Oui, je voulais savoir ce qu'il fallait faire maintenant.<br />
        - Ne te soucies pas de ça. C'est mon combat. Attends les ordres auprès de tes compagnons. Tu seras notre espion infiltré.<br />
        <span class="capture">- Certains de mes amis ont été capturé par vous, que leur est-il arrivé ?<br />
        - Ah ? On n'a tué personne, comme on a quitté le village, en ce moment les paysans doivent être en train de les libérer.<br /><br />
      Tu es soulagé<span class="sexe sexe-fille">e</span> de savoir que tout le monde est sain et sauf. Enfin...<br /></span>
      - Et Dex, et Estrion, qu'est-ce que vous allez leur faire ?<br />
      - Je ne suis là que pour le prophète, s'ils se mettent sur mon chemin : ils mourront.</p>

      <p>Modrak semble être quelqu'un de sensé malgré son apparence. Il est certainement puissant mais il veut en priorité réveiller Soufflardent, comme toi. Tu décides de lui faire confiance sur le déroulement du combat et de retourner avec tes compagnons.</p>

    </div>

      <div class="choix">
        <div class="ch" data-go="160">Rejoindre tes compagnons au village de Darmen</div>
      </div>

</div>
