<div class="num num-1-1-18">

  <div class="text">
    <h1>- 18 -</h1>
	  <p>Puisque tu as terminé<span class="sexe sexe-fille">e</span> troisième à l'examen, tu vois deux élèves choisir leur magie avant toi. Lasseni, 11 ans, la magicienne qui a fini première de l'examen choisit la magie de l'eau. Mac Lumy, un jeune garçon de 9 ans, choisit la magie du feu. Tu peux donc choisir n'importe quel type de magie. Certains sont plus à la mode que d'autres mais au final un jour ton but c'est de tous les connaître.</p>
	  <p><b>Magie du vent</b>: La magie du vent est un ensemble de magie dans laquelle tu apprendras à voler dans les airs, faire apparaitre des illusions ou soulever des objets à distance. [Sorts de départ: <b>chute contrôlée</b> et <b>masque</b>]</p>
	  <p><b>Magie de l'eau et de la glace</b>: avec cette magie tu pourras manipuler l'eau, le froid et les rêves. [Sorts de départ: <b>glaciation</b> et <b>vision de rêve</b>]</p>
	  <p><b>Magie du feu</b>: c'est la magie pour les mages de bataille. Tu pourras un jour envoyer des boules de feu, allumer des torches ou dessécher une mare d'eau. C'est la magie à la mode. [Sorts de départ: <b>lumière</b> et <b>main de feu</b>]</p>
	  <p><b>Magie de la terre</b>: c'est la magie défensive par excellence. Permet de protéger ses alliés et de les guérir. Également tu pourras contrôler les arbres et la nature.  [Sorts de départ: <b>racines</b> et <b>guérison</b>]</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="21">Je choisis la magie du vent</div>
    <div class="ch" data-go="22">Je choisis la magie de l'eau/glace</div>
    <div class="ch" data-go="23">Je choisis la magie du feu</div>
    <div class="ch" data-go="24">Je choisis la magie de la terre</div>
  </div>

</div>
