<div class="num num-1-1-19">

  <div class="text">
    <h1>- 19 -</h1>
	  <p>Puisque tu as terminé<span class="sexe sexe-fille">e</span> quatrième à l'examen, tu vois trois élèves choisir leur magie avant toi. Lasseni, 11 ans, la magicienne qui a fini première de l'examen choisit la magie de l'eau. Mac Lumy, un jeune garçon de 9 ans, choisit la magie du feu. Haziko, une petite fille de 8 ans, troisième de l'examen choisit également la magie du feu. Tu ne peux donc choisir que parmi les 3 autres types de magie. La magie du feu est très populaire en ce moment.</p>
	  <p><b>Magie du vent</b>: La magie du vent est un ensemble de magie dans laquelle tu apprendras à voler dans les airs, faire apparaitre des illusions ou soulever des objets à distance. [Sorts de départ: <b>chute contrôlée</b> et <b>masque</b>]</p>
	  <p><b>Magie de l'eau et de la glace</b>: avec cette magie tu pourras manipuler l'eau, le froid et les rêves. [Sorts de départ: <b>glaciation</b> et <b>vision de rêve</b>]</p>
	  <p><b>Magie de la terre</b>: c'est la magie défensive par excellence. Permet de protéger ses alliés et de les guérir. Également tu pourras contrôler les arbres et la nature.  [Sorts de départ: <b>racines</b> et <b>guérison</b>]</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="21">Je choisis la magie du vent</div>
    <div class="ch" data-go="22">Je choisis la magie de l'eau/glace</div>
    <div class="ch" data-go="24">Je choisis la magie de la terre</div>
  </div>

</div>
