<div class="num num-1-1-2">

  <div class="text">
    <h1>- 2 -</h1>
    <p>L'examen a lieu dans la petite ville de Sarambe, située non loin de l'académie d'Azalys. Il n'y a pas beaucoup de mages ici, mais toute la ville vit pour l'académie. Les paysans fournissent la nourriture à l'école, les forgerons forgent toutes sortent d'outils et l'école de la ville forme les apprentis mages. Apprentis dont tu fais partie.</p>
    <p class="middle">*</p>
    <p class="av-riche">
      Ce matin, tu te lèves facilement. Tu es prêt<span class="sexe sexe-fille">e</span>. En descendant dans la grande salle à manger de la famille, tu vois que Médeya, ta servante, t'as préparé ton petit déjeuner préféré : brioche au sucre, confiture d'amandes rouges et jus de yuzu.
    </p>
    <p class="av-riche">
      &laquo; Bonjour <span class="sexe sexe-fille">mademoiselle</span><span class="sexe sexe-garcon">monsieur</span>, j'espère que vous avez bien dormi. &raquo; sourit Médeya<br />
      - Très bien merci... As-tu vu mes parents ?<br />
      - Votre mère est déjà partie travailler à l'académie. Être un grand mage n'est pas de tout repos vous savez. Quant à votre père il est lui aussi déjà monté dans les pâturages. Il y a eu une attaque de Worg la nuit dernière et le berger a perdu 3 bêtes.<br />
      - Je vois…
      - Mais ne vous en faites pas, vos parents vous soutiennent. Vous devez tout donner pour votre examen.
      - Oui, j'en ai bien l'intention.
    </p>
    <p class="av-riche">
      Tu ramasses ta plume et ton encre. Tu jettes un dernier coup d'œil sur ton livre de théorie runique. Ta jaquette sur les épaules et ton écharpe autour du coup tu marches d'un pas décidé vers l'amphithéâtre, lieu de l'examen.
    </p>
    <p class="av-populaire">
      En te levant ce matin tu es motivé<span class="sexe sexe-fille">e</span> comme jamais. Même si cette ville est située à côté de l'académie, il y a très peu de personne à y être allé étudier. La plupart des gens de l'académie viennent des quatre coins du pays mais pas de Sarambe. Mais toi tu es soutenu<span class="sexe sexe-fille">e</span> par tout le village.
    </p>
    <p class="av-populaire">
      Juste un bout de pain pour le petit déjeuner. Mieux vaut ne pas être ballonné pendant l'examen. Tu enfiles ta cape, tu prends ton crayon. En sortant de chez toi, Annette et Rodolphe, tes meilleurs amis t'attendent.<br />
        &laquo; <span class="tonnom"></span>, c'est le grand jour, on est avec toi! &raquo; s'exclama Annette<br />
        - Merci les copains, je vais enfin suivre les pas d'Ymir et Zaïra.<br />
        - C'est vrai qu'eux aussi sont nés et ont grandi à Sarambe. &raquo; dit Rodolphe avec un grand sourire<br />
        - Oui c'est le premier pas pour les rejoindre.
    </p>
    <p class="av-populaire">
      Entouré<span class="sexe sexe-fille">e</span> d'Annette et Rodolphe tu remontes toute la rue jusqu'à l'amphithéâtre, lieu de l'examen. Jim, le forgeron, te souhaite bonne chance et la boulangère te donne un croissant tout chaud au cas où tu aurais une petite fringale.
    </p>
    <p class="av-studieux">
      Eran, ton grand frère, te tire du lit. Tu as étudié encore très tard hier soir pour être sûr d'être prêt<span class="sexe sexe-fille">e</span> aujourd'hui.<br /><br />
      &laquo; Et bien, faut pas que tu arrives en retard, c'est ce matin l'examen. &raquo;<br /><br />
      Eran et toi êtes arrivé à Sarambe il y a 3 ans. Vous avez laissé vos parents dans le petit village dans lequel vous êtes nés pour essayer d'entrer à l'académie. Eran a déjà essayé 2 fois l'examen mais n'a jamais été pris. Cette année il a trouvé un travail chez l'épicier du quartier. Il a renoncé à devenir mage, c'est trop dur pour lui, d'après ce qu'il dit. Grâce à son travail tu as pu avoir tout ce dont tu avais besoin pour étudier. Pas question d'échouer donc.<br /><br />
      - Je sais bien que c'est aujourd'hui. Ne t'en fais pas je connais tout par cœur.
    </p>
    <p class="av-studieux">
      Tu sors de chez toi déterminé<span class="sexe sexe-fille">e</span> à ce que les efforts de ton frère pour t'offrir la chance d'être un mage, ne soient pas vains. Direction l'amphithéâtre lieu de l'examen.
    </p>
    <p class="av-courageux av-sportif">
      Tu es réveillé<span class="sexe sexe-fille">e</span> par le chant du pistre (sorte de coq local). La grange dans laquelle tu as dormi ne sent pas très bon, mais la paille était confortable et bien chaude. Tu es venu de loin pour passer l'examen à Sarambe et un paysan a accepté que tu dormes dans sa grange gratuitement.<br /><br />
      &laquo; Comment ça va ce matin ? Bien dormi, petit<span class="sexe sexe-fille">e</span> ? &raquo; t'assène-t-il de bon matin<br />
      - Comme un barlin (sorte de loir local), encore merci de m'avoir laissé dormir chez vous.<br />
      - Tiens prends un verre de lait, tu vas pas aller à l'examen le ventre vide !<br />
      - Ha, je ne dis pas non.
    </p>
    <p class="av-courageux av-sportif">
      Le verre de lait à peine avalé, tu remercies une nouvelle fois le paysan et tu prends la direction de l'amphithéâtre, lieu de l'examen.
    </p>
    <p class="middle">*</p>
    <p>
      Une foule pas possible est présente à l'amphithéâtre. C'est l'endroit où les gens viennent d'habitude pour regarder les pièces de théâtre. Aujourd'hui c'est utilisé pour l'examen. Plusieurs mages enseignants sont venus de l'académie pour faire passer les épreuves.
    </p>
    <p>
      Tu ne connais pas encore la magie, seulement la théorie des livres. Les examens seront uniquement des questions écrites, mais il y en aura beaucoup.<br /><br />Tout à coup une mage, vêtue d'une belle cape noire avec des ornements dorés représentant des fleurs, tape dans ses mains et demande le silence.
    </p>
    <p>
      &laquo; Très bien, les épreuves vont commencer. Asseyez-vous à une place et taisez-vous. Nous allons vous distribuer les feuilles d'examen. Nous commencerons par l'épreuve de théorie magique, puis viendront l'épreuve de runes, l'épreuve de mythologie magique et enfin l'épreuve de connaissance de la magie. Pour chaque épreuve vous n'aurez qu'une heure. Si vous n'avez pas le temps de répondre à une question, nous vous la compterons fausse. Il est interdit de s'absenter pendant les épreuves même pour aller aux toilettes. Une pause sera faite après la deuxième épreuve. &raquo;
    </p>
  </div>

  <div class="choix">
    <div class="ch" data-go="3">S'installer pour la première épreuve</div>
  </div>

</div>
