<div class="num num-1-1-20">

  <div class="text">
    <h1>- 20 -</h1>
	  <p>Puisque tu as terminé<span class="sexe sexe-fille">e</span> non-classé à l'examen, tu vois tous les élèves choisir leur magie avant toi. Lasseni, 11 ans, la magicienne qui a fini première de l'examen choisit la magie de l'eau. Mac Lumy, un jeune garçon de 9 ans, choisit la magie du feu. Haziko, une petite fille de 8 ans, troisième de l'examen choisit également la magie du feu. L'élève qui a fini 4° à l'examen est celui qui est absent. Anselm, 13 ans, est le suivant et choisit la magie de la terre. Kannan, 10 ans, choisit, elle, la magie de l'eau également. Panacle, garçon de 10 ans aussi, décide d'apprendre la magie du vent.</p>
	  <p class="sexe sexe-fille">Enfin Jayn, garçon de 11 ans, choisit la magie de la terre.</p>
	  <p class="sexe sexe-garcon">Enfin Jayne, fille de 11 ans, choisit la magie de la terre.</p>
	  <p>Soyos s'approche alors de toi:<br />
	  - On m'a prévenu pour toi. C'est vraiment étrange mais cela se passe parfaitement. Il ne reste qu'une place en magie du vent et c'est ce qu'Espéride t'avait imposé.</p>
	  <p><b>Magie du vent</b>: La magie du vent est un ensemble de magie dans laquelle tu apprendras à voler dans les airs, faire apparaitre des illusions ou soulever des objets à distance. [Sorts de départ: <b>chute contrôlée</b> et <b>masque</b>]</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="21">Je choisis la magie du vent</div>
  </div>

</div>
