<div class="num num-1-1-21">

  <div class="text">
    <h1>- 21 -</h1>
	  <p>Une fois que tous les élèves eurent choisis leur spécialisation, Soyos repris la parole.</p>
	  <p>- Désormais vous vivrez à l'académie. Et plus spécifiquement, au niveau 2 de l'académie avec les élèves débutants: les premières années (vous), deuxièmes années et troisièmes années. Mais bien sûr, tout l'équipement de l'académie vous est accessible, l'amphithéâtre, le laboratoire de potions, la grande bibliothèque... Les seules exceptions sont les étages supérieurs de l'académie. Les étages 3 à 5 de l'académie sont strictement réservés aux professeurs et aux grands maitres de magie. &raquo; expliqua Soyos.</p>
	  <p>Encore une fois il vous félicita tous puis parti, suivi par 4 jeunes mages qui lui parlaient tous en même temps.</p>
	  <p>Le vieux mage qui t'avais amené jusque dans ce petit jardin intérieur, Dioné, dit calmement :<br />
	  - Ce bâtiment c'est le dortoir des élèves débutants. Vous serez en chambre par 2. Je vais vous donner les compositions.</p>
	  <p>Les élèves qui vous regardaient depuis les étages supérieurs commencent à s'en aller pendant que Dioné donne la répartition des chambres des premières années.</p>
	  <p>- Chambre numéro 11, <span data-chambre="0"></span> et <span data-chambre="1"></span>. Chambre numéro 12, <span data-chambre="2"></span> et <span data-chambre="3"></span>. Chambre numéro 14, <span data-chambre="4"></span> et <span data-chambre="5"></span>. Et enfin chambre numéro 15, <span data-chambre="6"></span> et <span data-chambre="7"></span>. Toutes vos chambres sont au premier étage. Nous vous laissons pour aujourd'hui, installez-vous bien, allez visiter l'académie, parlez avec les autres élèves... Les cours commenceront officiellement demain.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="25">Aller voir la chambre 11.</div>
  </div>

</div>
