<div class="num num-1-1-25">

  <div class="text">
    <h1>- 25 -</h1>
	  <p>Tu montes l'escalier situé dans l'angle du petit jardin et tu cherches la chambre numéro 11. Le couloir te donne la vue sur l'endroit où Soyos a fait son discours. C'est d'ici que les autres élèves vous regardaient. Au bout du couloir tu la vois, la porte de bois de ta chambre avec un 11 gravé à mi-hauteur.</p>
	  <p>La porte s'ouvre en grinçant un peu, il y a deux lits, un de chaque côté de la pièce, une grande malle posée entre pour vos affaires. Juste au-dessus la seule fenêtre de la chambre mais assez grande pour bien éclairer la pièce. Également, deux bureaux et deux chaises de part et d'autre de la chambre complètent le mobilier. Aucune décoration mais vous la ferez vous-même. Tout de même sur la malle sont posées 2 bougies magiques. Il suffit de toucher la mèche pour l'allumer ou l'éteindre et elle ne brûle ni les doigts ni les vêtements. Tu en as déjà vu à Sarambe mais c'était plutôt quelque chose de rare. Ici tous les élèves en ont.</p>
	  <p>Tu poses tes affaires sur le lit de gauche et tu regardes par la fenêtre. La vue est magnifique : la grande tour de magie de l'académie est vraiment toute proche. Tu vois la grande cour de l'école, avec de magnifiques fontaines et par-dessus les toits de l'académie tu arrives même à voir le lac et les montagnes derrières.</p>
	  <p>GRIIIIIIII. La porte de la chambre grince en s'entrouvrant.</p>

	  <p class="sexe sexe-fille">- Ha… Salut. Moi c'est Kannan, je suis dans cette chambre aussi.</p>
	  <p class="sexe sexe-fille">Une souriante petite mage rentre, avec un énorme sac à dos. Elle a de longs cheveux bruns, une peau claire, et des joues toutes roses. Elle pose ses affaires sur le lit de droite.</p>
	  <p class="sexe sexe-fille">- Tu as pris le lit de gauche, je préfère être à droite de toute façon. J'espère qu'on pourra être amie. Je viens de Téogile et toi ? &raquo; dit-elle à toute vitesse<br />
	  <span class="av-sportif av-courageux av-studieux">- Je viens d'un petit village dans les plaines de Varnak.</span><span class="av-studieux"> Mais ça fait 2 an que j'habitais à Sarambe pour étudier l'examen avec mon frère.</span><span class="av-populaire av-riche">- Je viens de Sarambe.</span> Où est-ce que ça se trouve Téogile ?<br />
	  - Téogile c'est la grande ville de l'ouest. C'est là-bas que tu trouves les célèbres galettes de troubes.</p>
	  <p class="sexe sexe-fille">Tu n'as jamais goûté aux galettes de troubes mais tu es bien contente de tomber sur une camarade de chambre aussi sympa.</p>

	  <p class="sexe sexe-garcon">- Hey ! Salut. Je m'appelle Mac Lumy, magie du feu, je suis dans ta chambre.</p>
	  <p class="sexe sexe-garcon">Un jeune mage euphorique s'avance dans la pièce avec son petit balluchon sur l'épaule. Il a l'air jeune, mais il a fini dans les premières places de l'examen. Cheveux courts et rouge, la peau un peau grise.</p>
	  <p class="sexe sexe-garcon">- WOAH ! DES BOUGIES MAGIQUES PERSOS ! C'EST TROP BIEN !!! &raquo; explose-t-il de joie <br />
	  <span class="av-sportif av-courageux av-studieux">- Je viens d'un petit village dans les plaines de Varnak, et toi ?</span><span class="av-populaire av-riche">- Je viens de Sarambe et toi ?</span> &raquo; lui demandes-tu<br />
	  - Je viens de Melb, c'est un village de mineurs un peu plus au nord. C'est dans les montagnes venteuses.</p>
	  <p class="sexe sexe-garcon">Les montagnes venteuses c'est juste à quelques jours de charrette de l'académie, tu as déjà vu des gens de là-bas à Sarambe. Ils ont tous la peau un légèrement grise.</p>
  </div>

  <div class="choix">
    <div class="ch sexe sexe-fille av-pas-studieux" data-go="26">Proposer à Kannan d'aller voir la marina de l'académie (il parait qu'il y a plein de boutiques)</div>
    <div class="ch sexe sexe-garcon av-pas-studieux" data-go="26">Proposer à Mac Lumy d'aller voir la marina de l'académie (il parait qu'il y a plein de boutiques)</div>
    <div class="ch" data-go="27">Aller faire un tour à la bibliothèque</div>
    <div class="ch" data-go="28">Aller faire un tour à l'amphithéâtre de l'école</div>
  </div>

</div>
