<div class="num num-1-1-26">

  <div class="text">
    <h1>- La marina -</h1>
	  <p>La marina c'est l'endroit le plus cool de l'académie paraît-il. Tout le monde peut y aller même les non-mages. Il y a plein de boutiques et un monde fou.</p>
	  <p><span class="sexe sexe-fille">Kannan est ravie que tu lui proposes d'y aller.</span><span class="sexe sexe-garcon">Mac Lumy accepte de venir, il n'a rien de mieux à faire te-dit-il.</span></p>
	  <p class="av-populaire">Sur place, tu retrouves Rodolphe en train de vendre les légumes de son père. Tu lui présente <span class="sexe sexe-fille">ta nouvelle amie</span><span class="sexe sexe-garcon">ton nouvel ami</span> et tu le laisses car il a encore un gros stock à vendre.</p>
	  <p class="av-riche"><span class="sexe sexe-garcon">Vous passez devant une boutique vendant des fioles neuves de première qualité, tu décides de t'en acheter deux ou trois ça pourrait servir. Mac Lumy est impressionné que tu aies autant d'argent.</span></p>
	  <p class="av-riche"><span class="sexe sexe-fille">Vous passez devant une boutique vendant des fioles neuves de première qualité, tu décides de t'en acheter deux ou trois ça pourrait servir. Kannan te dit que t'es un peu trop prévoyant<span class="sexe sexe-fille">e</span> : vous n'avez même pas encore eu le moindre cours. Mais tu as de toute façon assez d'argent pour te le permettre.</span></p>
	  <p class="av-courageux">Juste en arrivant à la marina, un marchand propose un sachet gratuit à qui osera avaler d'un coup son célèbre piment fermier du dragon. Personne n'a envie d'un avaler un entier d'un coup. Un seul de ces piments peut épicer une marmite pour 20 personnes. Mais ça ne te fait pas peur. Tu lui prends le piment des mains et l'avale...Tout le monde autour te regarde. Haha, c'est même pas si horrible que ça...... Tu sens une chaleur terrible monter, tes yeux deviennent rouges et tout à coup des flammes sortent de ta bouche.</p>
	  <p class="av-courageux"><span class="sexe sexe-garcon">- HA HA HA! Tu viens d'apprendre ton premier sort on dirait, <span class="tonnom"></span>! &raquo;Mac Lumy est en train de rire à s'en décrocher la mâchoire. Tout comme les autres personnes autour de toi.</span><span class="sexe sexe-fille">- Mon dieux! &raquo; Kannan te plonge directement la tête dans un tonneau d'eau à côté du marchand. Les autres personnes autour de toi rient aux éclats.</span><br />- Tiens petit<span class="sexe sexe-fille">e</span>, ton paquet de piments comme convenu, tu m'as bien fais rire ceci-dit.</p>
	  <p class="av-sportif">En arrivant sur la marina tu vois des enfants qui pèchent. Tu entends l'un d'eux se désespérer :<br />
	  - Argh...! Il est trop gros celui-là, il va casser la ligne !<br />
	  Tu t'avances vers lui et tends la main vers sa canne à pêche.<br />
	  - Je peux t'aider ?<br />
	  - Laisse tomber, c'est sûrement une carposse, elles sont énormes dans la marina mais y a que les adultes qui peuvent les pêcher avec leurs filets. &raquo; Dit un de ses amis<br />
	  - Un challenge, j'adore ça. &raquo; lui réponds-tu</p>
	  <p class="av-sportif">Le garçon te passe la canne à pêche et tu sens qu'effectivement il y a un gros morceau au bout.<br />
	  - Tu es sûr<span class="sexe sexe-fille">e</span> que tu vas y arriver ? &raquo; te demande <span class="sexe sexe-fille">Kannan</span><span class="sexe sexe-garcon">mac Lumy</span>.<br />
	  - Hum... peut-être.</p>
	  <p class="av-sportif">Tout à coup le poisson tire très fort sur la canne, tu sais que si tu restes sur place la ligne va casser. Alors tu te jettes en contrebas de la marina pour atterrir sur le bateau d'un pêcheur.<br />
	  - WHA ! C'est un<span class="sexe sexe-fille">e</span> pro ! &raquo;  s'exclame le petit groupe d'enfants derrière toi.<br />
	  - Mais t'es qui toi ? &raquo;  demande le pêcheur<br />
	  - Pas de panique monsieur, je suis un<span class="sexe sexe-fille">e</span> mage, je gère la situation.</p>
	  <p class="av-sportif">Après 5 minutes de combat intense avec le poisson tu sens qu'il s'affaiblit, tu en profites alors pour le terminer en le ramenant petit à petit jusqu'à la barque. Le pêcheur t'aide à le remonter, c'est une carposse de 8 kilos ! Tu donnes le poisson et la canne à pêche au jeune garçon. Il parait que c'est la première fois que quelqu'un sort de l'eau, sans magie, une carposse avec une simple canne.</p>
	  <p>Vous passez le reste de l'après-midi à vous amuser et à découvrir les petites échoppes de la marina. Cette ville est vraiment super tu te dis.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="29">Retourner à ta chambre pour dormir</div>
  </div>

</div>
