<div class="num num-1-1-27">

  <div class="text">
    <h1>- La bibliothèque -</h1>
	  <p>L'académie possède la plus grande bibliothèque du pays. 15000 livres et plus de 100000 parchemins paraît-il. La plupart des gens ne savent pas lire dans le pays, mais ce n'est pas le cas des mages. Toi y compris l'académie comptent des milliers de personnes qui adorent cet endroit. La grande coupole est impressionnante de l'extérieur mais à l'intérieur c'est encore mieux, il y a de magnifiques tableaux peints au plafond, et les rayons de la bibliothèque partent sur des dizaines de mètres en hauteur.</p>
	  <p>Tu es un peu perdu<span class="sexe sexe-fille">e</span> au début, puisque c'est la première fois que tu y mets les pieds. Mais tu vois que beaucoup de personnes possèdent la tenue de l'école, ce sont donc des élèves mages à tous les coups.</p>
	  <p>Finalement tu te décides à aller demander à la bibliothécaire un livre.</p>
  </div>

  <div class="choix">
    <div class="ch malediction" data-go="30">Demander un livre sur Noctule ou les malédictions</div>
    <div class="ch" data-go="31">Demander un livre sur la légende de Ymir et Zaïra</div>
  </div>

</div>
