<div class="num num-1-1-28">

  <div class="text">
    <h1>- L'amphithéâtre -</h1>
	  <p>L'amphithéâtre de l'école sert à donner des cours de magie. Tu y auras droit certainement bientôt. Aujourd'hui il n'y a pas encore de cours mais 2 élèves profitent de la place pour s'exercer à lancer des sorts.</p>
	  <p>- C'est autorisé de faire de la magie ici ? &raquo; demandes-tu<br />
	  - Bien sûr t'es dans une école de magie donc tu peux faire de la magie. Je m'appelle Appou Durnan, je suis élève en 2° année. <br />
	  - Tu peux venir à l'amphithéâtre quand il n'y a pas de cours pour lancer des sorts. &raquo; explique son collègue. Moi c'est Nello, 2° année aussi. On se prépare à nos prochaines missions.<br />
	  - Vos missions...? &raquo; demandes-tu<br />
	  - T'es <span class="sexe sexe-fille">nouvelle</span><span class="sexe sexe-garcon">nouveau</span>? On fait des missions de notre niveau pour nous entraîner et gagner un peu d'argent.<br />
	  - De toute façon c'est obligatoire. &raquo; enchaine Appou<br />
	  - Oui, c'est obligatoire, mais en première et deuxième année on fait rien de dangereux. En troisième année il parait qu'on commence à nous envoyer à la chasse aux monstres. J'ai trop hâte.</p>
	  <p>Tu en avais entendu parler mais tu n'avais jamais eu de détails. Pour que les élèves se forment l'école les envoie en mission aux alentours de l'école. Ymir et Zaïra sont ceux qui ont mis ce système en place.</p>
	  <p class="def-peureux">D'avance tu as peur. Affronter des monstres ! Dès la troisième année en plus. Tu ne seras jamais assez puissant<span class="sexe sexe-fille">e</span>.</p>
	  <p class="av-populaire">Tu continues de discuter avec Appou et Nello pendant un bon moment, tu peux désormais les compter comme tes amis.</p>
	  <p>Il se fait tard et tu décides de rentrer à ta chambre pour la soirée.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="29">Retourner à ta chambre et dormir</div>
  </div>

</div>
