<div class="num num-1-1-29">

  <div class="text">
    <h1>- 29 -</h1>
	  <p class="sexe sexe-fille">Tu te lèves facilement du lit aujourd'hui, ce qui n'est pas le cas de Kannan, que tu dois réveiller sans quoi elle va rater les premiers cours.</p>
	  <p class="sexe sexe-garcon">En te réveillant ce matin, tu vois que Mac Lumy est déjà prêt, son grimoire sous le bras. <br />
      - Tu es réveillé depuis longtemps ? &raquo; lui demandes-tu<br />
    - Depuis que le jour s'est levé. Je suis un lève-tôt. On va apprendre nos premiers sorts aujourd'hui je n'arrivais pas à dormir en plus.</p>
	  <p>Avec tes affaires sous le bras tu pars en direction de la salle de classe des premières années. Le premier cours sera un apprentissage des énergies magiques.</p>
	  <p class="av-riche">En parcourant le couloir qui mène à la classe, tu tombes nez à nez avec ta mère. <br />
    - Médeya m'avait dit que tu étais partie pour une mission.<br />
    - Je suis revenue hier soir. Je suis satisfaite de toi <span class="tonnom"></span>. Tu ne pouvais pas rater l'examen tu fais partie de la grande famille des Van Demillon. Nous sommes mages de générations en générations.<br />
    - ... Heu je vais être en retard pour mon premier cours.</p>
    <p class="av-riche">Tu es encore un peu surpris<span class="sexe sexe-fille">e</span>. Tu savais que tu la croiserais de temps en temps mais depuis hier tu n'y pensais plus. Ta mère n'a pas souvent été à la maison pour toi, entre elle et toi c'est toujours un peu difficile de se parler.</p>

	  <p class="middle">*</p>

	  <p>La classe de premières années n'est pas très grande, mais il y a des élèves que tu ne connais pas. On te dit que ce sont d'anciens premières années qui ne connaissent pas suffisamment bien leurs sorts pour passer en deuxième année. Au total vous êtes 12. Chacun est à un petit bureau individuel avec une chaise. Un grand mage à cape violette avec de petites lunettes rentre :</p>
	  <p>- Bonjour à tous. Bienvenue à votre premier cours à l'académie. Enfin sauf pour les redoublants, ha ha ! Je m'appelle Qobur le mage violet. Je suis votre professeur principal, ce qui signifie que si vous avez des questions, sur n'importe quoi vous pouvez venir me voir. Mon bureau est au deuxième étage de l'académie, c'est un endroit autorisé pour les premières années.</p>
    <p>Tu vois que Lasseni et Kannan écrivent déjà toutes les informations dans leur grimoire. Ça n'a pourtant pas l'air très intéressant à noter.</p>
    <p>- Le cours de ce matin c'est le cours d'énergie magique, c'est essentiel pour lancer des sorts. Alors écoutez bien. Pour lancer des sorts vous allez devoir puiser au fond de vous votre énergie magique et la canaliser dans vos mains. Pour apprendre cela on va aujourd'hui utiliser un objet magique : le globe de magie.</p>
    <p>L'objet ressemble à une boule de cristal comme on en voit chez les diseuses de bonne aventure. Qobur en place un devant lui sur son bureau, place ses mains autour et le globe commence à s'illuminer d'une douce lumière violette.<br />
      - WOAH !<br />
      Tout le monde est stupéfait, sauf les redoublants et Lasseni qui a l'air de déjà connaître ça.</p>
    <p>- Le globe permet de rassembler plus facilement votre énergie dans vos mains. &raquo; reprend Qobur. C'est un objet pour aider les débutants. Pour la théorie c'est très simple : placez vos mains autour du globe et fermez les yeux, puis commencez à vider votre esprit et ne plus penser à rien. Au bout d'un moment vous allez sentir le bout de vos doigts devenir plus lourd, c'est que vous aurez réussi à canaliser votre énergie. Et votre globe s'éclairera.</p>
    <p>Chacun récupère un globe et le met devant lui à son bureau.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="32">Placer tes mains sur le globe</div>
  </div>

</div>
