<div class="num num-1-1-3">

  <div class="text">
    <h1>- 3 -</h1>
    <p>L'épreuve de théorie magique était plutôt facile. L'épreuve de magie runique : une simple formalité.</p>
    <p>Pendant la pause tout le monde se parle et tu te rends compte que tu as certainement une très bonne note comparée aux autres. Être dans les 8 premiers est largement possible. C'est pas du tout cuit mais il y a moyen d'y arriver.</p>
    <p>Vous reprenez l'examen.</p>
    <p>L'épreuve de mythologie magique portait sur Ymir et Zaïra, impossible que tu te sois trompé<span class="sexe sexe-fille">e</span> : ce sont tes idoles!<br />C'est la dernière épreuve : connaissance de la magie. Tout débute bien mais soudain une question te paraît piégeuse.</p>
    <p>La moindre erreur pourrait te faire échouer, après tout il suffit que 8 personnes aient une meilleure note et tu retourneras étudier un an de plus… mais pas à l'académie.</p>
    <p>Que faire ?</p>
  </div>

  <div class="choix">
    <div class="ch def-tricheur" data-go="4">Tu as préparé des antisèches - utilisons les [TRICHE]</div>
    <div class="ch av-studieux" data-go="5">Tu te souviens que tu as revu ce cours hier soir - c'est tout bon [STUDIEUX]</div>
    <div class="ch" data-go="6">Tu écris une réponse pas sûre</div>
    <div class="ch" data-go="7">Tu n'écris rien et tu passes à la suite</div>
  </div>

</div>
