<div class="num num-1-1-30">

  <div class="text">
    <h1>- 30 -</h1>
	<p>- Et bien, tu viens d'arriver à l'académie et tu cherches déjà des malédictions ? Tu dois être un mage du vent, non ? Ils adorent les malédictions.</p>
	<p>La bibliothécaire n'a pas l'air de s'offusquer de ta recherche et toi tu aimerais bien en savoir un peu plus sur ce que t'as raconté Herlly la voyante.<br />Elle lance un sort et ferment les yeux un instant. Puis en les rouvrant te dit :<br />
	- Pour les livres sur les malédictions c'est aile nord, rayon F, tu auras 3 armoires complètes de livres sur le sujet. Pour ce qui est de "Noctule", je n'ai qu'un seul livre qui en fait mention : aile Est, rayon C, armoire numéro 1. Le livre s'appelle "Odyssée 54" de Zaïra.</p>
	<p>Tu remercies la bibliothécaire et décide d'aller voir ce livre de Zaïra. Incroyable, Zaïra, ton idole, est la seule à faire mention de ce Noctule. Peut-être que ton destin est lié à ce qu'a vécu Zaïra.</p>
	<p>Non sans mal tu trouves le livre. Il n'est pas énorme, une centaine de pages. Il raconte l'expédition numéro 54 de Ymir et Zaïra. L'expédition eut lieu il y a plus de 150 ans dans la région de Morlune, un village proche des monts noirs. C'est une des dernières expéditions de Ymir et Zaïra avant leur bataille contre Soufflardent. Zaïra décrit une aventure difficile mais qu'ils ont pu mener à bien et surtout d'une créature étrange qui s'est enfuit et qu'elle appelle "Noctule" dans son livre. Le Noctule serait un animal qui a une taille immense, environ 3 mètres de haut, se déplace sur ses pattes arrières comme un humain et possède de gigantesques oreilles tel un grand lapin. Le Noctule possède aussi un pelage blanc et des yeux bleus qui brillent dans la nuit. Dans son livre, Zaïra raconte qu'en s'approchant du Noctule il s'est envolé si haut qu'il a disparu en quelque secondes. C'est pourquoi elle soupçonne la créature de connaitre la magie.</p>
	<p>Ce que tu as appris dans ce livre t'inquiète un peu. Cette créature mythique que seule une mage légendaire aurait vu, qu'est-ce que ça a à voir avec toi ?</p>
	<p>La nuit commence à approcher, beaucoup de mages restent encore à étudier mais tu décides de retourner dans ta chambre pour dormir.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="29">Retourner à ta chambre et dormir</div>
  </div>

</div>
