<div class="num num-1-1-31">

  <div class="text">
    <h1>- 31 -</h1>
	<p>- Ah les classiques. Tout le monde adore les légendes de Ymir et Zaïra. Tu trouveras les récits des légendes de ces deux-là il faut aller à l'aile Est, rayon A c'est tout ce qui a été écrit sur eux par des écrivains connus, le rayon B c'est tout ce que Ymir a écrit, le rayon C c'est tout ce que Zaïra a écrit et le rayon D c'est d'autres informations sur eux. Comme tu peux le voir on a énormément de chose sur eux. Il te faudra plusieurs années pour tout lire.</p>
	<p>Les yeux pleins d'étoiles tu remercies la bibliothécaire et tu te diriges vers l'aile Est. </p>
	<p>Tu ouvres le premier ouvrage de la série et t'assoies à une table.</p>
	<p>La nuit commence à approcher, beaucoup de mages restent encore à étudier mais tu décides de retourner dans ta chambre pour dormir. Bien sûr tu décides d'emprunter un livre pour te faire un peu de lecture le soir.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="29">Retourner à ta chambre et dormir</div>
  </div>

</div>
