<div class="num num-1-1-32">

  <div class="text">
    <h1>- 32 -</h1>
	  <p>Tu regardes un peu autour de toi, et tu vois que Lasseni arrive à éclairer son globe très rapidement, une petite lumière bleue apparait dans son globe.</p>
    <p class="def-parfait">Enfin, si elle y arrive, tu devrais y arriver aussi.</p>
    <p>Tu fermes les yeux et tentes de faire le vide dans ton esprit. Tu ne ressens pas grand-chose il y a un peu de bruit dans la salle de classe et tu as du mal à te concentrer. Tu entends le rire de Mac Lumy, il a certainement dû réussir à éclairer son globe.</p>
    <p>- Surtout, il n'y a pas de soucis si vous n'arrivez pas aujourd'hui à le faire. Mais d'ici un ou deux jours tout le monde y arrivera vous verrez. &raquo; tente de rassurer Qobur.</p>
    <p>Tu te replonges dans ta concentration. C'est mieux, tu rentres mieux dans tes pensées. Le calme t'envahit. Tu n'entends plus le reste de la classe. Un petit son est perceptible au loin...non, c'est une voix :<br />
      - <span class="tonnom"></span> ! <span class="tonnom"></span>, tu m'entends ? Ecoute-moi... Suis la lumière....</p>
    <p>Au loin, dans ton esprit, alors que tout le reste est noir tu "vois" un point brillant.</p>
  </div>

  <div class="choix">
    <div class="ch def-peureux" data-go="33">Enlever tes mains du globe</div>
    <div class="ch def-pas-peureux" data-go="33">Enlever tes mains du globe</div>
    <div class="ch def-pas-peureux" data-go="34">Observer un peu plus ce point</div>
  </div>

</div>
