<div class="num num-1-1-33">

  <div class="text">
    <h1>- 33 -</h1>
	  <p>Tu enlèves tes mains d'un coup. Qu'est-ce que c'était que cette voix ? <span class="def-peureux">Tes mains tremblent encore un peu.</span></p>
	  <p>-Eh. C'était pas mal, on commençait à voir une petite lumière dans ton globe. &raquo; te dit Qobur. On n'a pas eu le temps de voir la couleur par contre.<br />
    - C'est important la couleur ? &raquo; demande Panacle.<br />
    - La couleur ça représente votre type d'énergie. Il y a les énergies chaudes et les énergies froides. Moi j'ai une énergie froide car ma couleur est violette. Lasseni a une énergie bleue donc froide aussi. A l'opposé de Mac Lumy qui a une énergie orangée donc chaude. </p>
    <p>Qobur continue d'expliquer les couleurs d'énergie. Les énergies chaudes permettent d'avoir plus d'énergie dans les milieux chauds, comme les déserts. Alors que dans une pleine enneigée on aura plus d'énergie froide.</p>
    <p>Plusieurs élèves n'ont pas réussi à allumer leur globe. Toi-même tu n'es pas très satisfait<span class="sexe sexe-fille">e</span> du résultat.</p>
    <p class="def-naif">- Professeur ? Est-ce que l'énergie c'est vivant ? &raquo; demandes-tu.<br />
    - Hein ? Heu, non, l'énergie n'est pas vivante c'est juste un matériel. Comme le bois pour faire du feu, tu vois ? Pourquoi crois-tu que ce soit vivant ?<br />
    - Et bien… j'ai eu l'impression que l'énergie… me parlait.</p>
    <p class="def-naif">Tout le monde se regarde. Le reste de la classe explose de rire. Le professeur calme tout le monde et le cours continue.</p>
    <p class="middle">*</p>
    <p>Pour la suite du cours, le Professeur Qobur vous amène à différents endroits de l'académie. Cela vous fait visiter plein d'endroits : la cafétéria, le jardin d'hiver, la grande fontaine de l'école, le grand balcon sud, le gymnase... A chaque fois vous retentez de canaliser votre énergie. De temps en temps c'est plus difficile qu'à d'autres moments pour certains élèves. Lasseni a du mal quand vous êtes au four à pain de l'école, car elle a une magie froide.</p>
    <p>En ce qui te concerne tu n'entends plus la petite voix dans ta tête et tu arrives à faire apparaître une lumière toute verte.</p>
    <p>- Regardez bien tout le monde, <span class="tonnom"></span> a une lumière verte. C'est l'énergie totale, <span class="sexe sexe-fille">elle</span><span class="sexe sexe-garcon">il</span> peut utiliser aussi bien les énergies froides que chaudes. C'est extrêmement rare.</p>
    <p>Puis, Qobur vous laisse à la cafétéria pour le déjeuner. Cet après-midi tu vas avoir ton premier cours de vraie magie.</p>
  </div>

  <div class="choix">
    <div class="ch magie-vent" data-go="35">Manger à la cafétéria puis aller à ton cours</div>
    <div class="ch magie-eau" data-go="36">Manger à la cafétéria puis aller à ton cours</div>
    <div class="ch magie-feu" data-go="37">Manger à la cafétéria puis aller à ton cours</div>
    <div class="ch magie-terre" data-go="38">Manger à la cafétéria puis aller à ton cours</div>
  </div>

</div>
