<div class="num num-1-1-34">

  <div class="text">
    <h1>- 34 -</h1>
	  <p>Le point s'agrandit, comme si tu t'approchais. Puis il commence à changer de forme. On dirait un croissant de lune.<br />
    Tu ressens dans tes doigts une certaine lourdeur. Tu rouvres les yeux pour voir ton globe.</p>
	  <p>Ton globe s'éclaire de plus en plus. La lumière est grise. Tes doigts deviennent de plus en plus lourds, ils s'engourdissent. La lumière devient de plus en plus noire et puissante, assombrissant la salle de cours. </p>
    <p>- Qu'est-ce qui se passe professeur ? &raquo; demandes-tu alors que tout le monde commence à avoir peur.<br />
    - Calme-toi. Enlève tes doigts du globe doucement. &raquo t'explique Qobur</p>
    <p>Mais tes doigts semblent collés au globe maintenant. Le bout de tes doigts commence à te faire mal.</p>
    <p>- J'y arrive pas professeur ! Je suis collé<span class="sexe sexe-fille">e</span> au globe ! &raquo; cries-tu</p>
    <p>Qobur te reprends le globe faisant s'échapper une explosion de lumières violettes et noires. Le bout de tes doigts est devenu noir.</p>
    <p>- Tout va bien <span class="tonnom"></span> ? Il semble que tu as une énergie particulièrement puissante. Comme tu es débutante tu n'as pas réussi à la contrôler. J'avoue que je n'ai jamais vu ça.<br />
    - Mais je ne pouvais plus enlever mes doigts.<br />
    - Tu pensais que tu nous pouvais plus les enlever. En fait tu as tellement d'énergie en toi que le globe a été attiré par tes doigts, mais en tirant un peu plus fort tu aurais pu te libérer.</p>
    <p>Tu n'es pas vraiment convaincu<span class="sexe sexe-fille">e</span>. Tu ne pouvais réellement plus enlever tes doigts du globe.</p>
    <p class="def-parfait">Tu es quand même satisfait<span class="sexe sexe-fille">e</span> de savoir que tu as plus d'énergie que n'importe qui. Ymir et Zaïra seraient fiers de toi.</p>
    <p>Qobur continue d'expliquer les couleurs d'énergie. Les énergies chaudes (claires) permettent d'avoir plus d'énergie dans les milieux chauds, comme les déserts. Alors que dans une pleine enneigée on aura plus d'énergie froide (sombre).</p>
    <p>Comme la lumière que tu as générée est complètement noire, tu as un type d'énergie froid.</p>
    <p>Pour la suite du cours Professeur Qobur vous amène à différents endroits de l'académie. Cela vous fait visiter pleins d'endroits : la cafétéria, le jardin d'hiver, la grande fontaine de l'école, le grand balcon sud, le gymnase… A chaque fois vous retentez de canaliser votre énergie. De temps en temps c'est plus difficile qu'à d'autres moments pour certains élèves. Lasseni a du mal quand vous êtes au four à pain de l'école, car elle a une magie froide.</p>
    <p>En ce qui te concerne tu n'entends plus la petite voix et tu arrives à faire réapparaitre une lumière noire très brillante. Tu arrives à chaque fois maintenant à enlever tes doigts du globe.</p>
    <p>Puis, Qobur vous laisse à la cafétéria pour le déjeuner. Cet après-midi tu vas avoir ton premier cours de vraie magie.</p>
  </div>

  <div class="choix">
    <div class="ch magie-vent" data-go="35">Manger à la cafétéria puis aller à ton cours</div>
    <div class="ch magie-eau" data-go="36">Manger à la cafétéria puis aller à ton cours</div>
    <div class="ch magie-feu" data-go="37">Manger à la cafétéria puis aller à ton cours</div>
    <div class="ch magie-terre" data-go="38">Manger à la cafétéria puis aller à ton cours</div>
  </div>

</div>
