<div class="num num-1-1-35">

  <div class="text">
    <h1>- 35 -</h1>
	  <p>Le menu de la cafétéria était plutôt bon. Une quiche aux pommes de terre et un flan au caramel.</p>
	  <p>Aujourd'hui l'après-midi est consacrée à la pratique de son type de magie. Tu cherches la salle de classe avec <span class="nom-autre"></span>, c'est au deuxième palier de l'académie. Tu dois emprunter le grand escalier de marbre, puis passer plusieurs couloirs. Enfin tu arrives à une grande salle en plein air. Des bancs sont placés sous un grand préau mais vous allez certainement lancer des sorts en extérieur.</p>
	  <p>Ta professeure de magie du vent est Espéride Mazénian, que tu connais un peu désormais.<br />
    &laquo; Bonjour tout le monde. Bienvenue pour cette nouvelle année en cours de magie du vent. Nous aurons, comme d'habitude deux nouveaux élèves <span class="nom-autre"></span> et <span class="tonnom"></span>. Veuillez à bien les accueillir. &raquo; commence Espéride.</p>
    <p>Il y a une vingtaine de personnes dans le cours. Certains ont l'air d'avoir au moins 20 ans voir plus. Il parait que tous les élèves de première, deuxième et troisième année de magie du vent sont là. Mais en plus certains mages plus chevronnés viennent continuer à apprendre avec Espéride qui est une grande mage.</p>
    <p>Espéride commence à donner des informations pour ces mages plus chevronnés, puis donne des exercices pour les 3° années. Les 2° années eux sont plongés dans leur grimoire et se mettent en groupe pour lancer des sorts basiques.</p>
    <p>En première année, en plus de toi et <span class="nom-autre"></span>, il y a 3 autres élèves qui sont plus anciens mais n'ont pas réussi à passer l'examen de deuxième année.</p>
    <p>- Cette année vous allez tenter de maîtriser plusieurs sorts de base de magie du vent : Masque et Chute contrôlée. Si vous êtes doué on vous en apprendra d'autres mais c'est sur ces deux-là que portera l'examen de magie du vent, explique Espéride. Aujourd'hui on va vous expliquer les deux sorts et tout au long de l'année vous allez vous améliorer. Commençons par le sort de MASQUE.</p>
    <p>Les 3 élèves redoublants se regardent en souriant. Le sort de masque a l'air d'être leur préféré.</p>
    <p>- Ce sort vous permet de changer de visage pendant quelques minutes. Sortez vos grimoires. Et notez la formule suivante : KAO KANGAETE. C'est la formule qu'il vous faudra prononcer. Comme vous avez dû l'apprendre déjà vous devrez canaliser votre énergie dans vos mains, toucher votre visage et réciter la formule. Pendant que vous faites ça pensez au visage que vous voulez avoir.</p>
    <p>Espéride montre l'exemple en changeant de visage et prenant l'apparence d'une vieille dame. C'est incroyable.</p>
    <p>- Vous verrez qu'il est difficile de copier parfaitement le visage de quelqu'un que vous connaissez. Essayez déjà avec un visage peu précis. Également n'essayez pas de changer de sexe car là ça devient beaucoup plus difficile et ça vous demandera beaucoup plus d'énergie. Taro, au lieu de rigoler, montre-nous ce que tu sais faire, je te signale que tu as raté l'examen l'an dernier.</p>
    <p>Le jeune garçon devient complètement rouge, s'excuse et lance le sort. Effectivement il est moins doué qu'Espéride. Il change de visage mais il est hideux, le nez de travers et les yeux qui louchent.</p>
    <p>Le cours continue, chacun son tour vous lancez le sortilège. C'est à toi.</p>
  </div>

  <div class="choix">
    <div class="ch def-parfait" data-go="39">Tenter de changer de sexe pour montrer que tu es trop fort<span class="sexe sexe-fille">e</span></div>
    <div class="ch" data-go="40">Tenter de changer de visage</div>
  </div>

</div>
