<div class="num num-1-1-36">

  <div class="text">
    <h1>- 36 -</h1>
	  <p>Le menu de la cafétéria était plutôt bon. Une quiche aux pommes de terre et un flan au caramel.</p>
	  <p>Aujourd'hui l'après-midi est consacrée à la pratique de son type de magie. Tu cherches la salle de classe avec <span class="nom-autre"></span>, c'est au deuxième palier de l'académie. Tu dois emprunter le grand escalier de marbre, puis passer plusieurs couloirs. Enfin tu arrives dans un grand jardins. Des bancs sont placés sous un grand parasol mais vous allez certainement lancer des sorts un peu plus loin.</p>
	  <p>Comme Qobur le mage violet est spécialisé en magie de l'eau c'est aussi ton professeur cet après-midi.<br />
    &laquo; Bonjour tout le monde. Bienvenue pour cette nouvelle année en cours de magie de l'eau. Nous aurons, comme d'habitude deux nouveaux élèves <span class="nom-autre"></span> et <span class="tonnom"></span>. Veuillez à bien les accueillir. &raquo; commence Qobur.</p>
    <p>Il y a une vingtaine de personnes dans le cours. Certains ont l'air d'avoir au moins 20 ans voir plus. Il parait que tous les élèves de première, deuxième et troisième année de magie de l'eau sont là. Mais en plus certains mages plus chevronnés viennent continuer à apprendre avec Qobur qui est un grand mage.</p>
    <p>Qobur commence à donner des informations pour ces mages plus chevronnés, puis donne des exercices pour les 3° années. Les 2° années eux sont plongés dans leur grimoire et se mettent en groupe pour lancer des sorts basiques.</p>
    <p>En première année, en plus de toi et <span class="nom-autre"></span>, il y a 2 autres élèves qui sont plus anciens mais n'ont pas réussi à passer l'examen de deuxième année.</p>
    <p>- Cette année vous allez tenter de maîtriser plusieurs sorts de base de magie de l'eau : Glaciation et Vision de rêve. Si vous êtes doué on vous en apprendra d'autres mais c'est sur ces deux là que portera l'examen de magie de l'eau. &laquo; explique Qobur. Aujourd'hui on va vous expliquer les deux sorts et tout au long de l'année vous allez vous améliorer. Commençons par le sort de GLACIATION. Ce sort vous permet de glacer un objet, une plante, une créature. Sortez vos grimoires. Et notez la formule suivante : KORI KANGAETE. C'est la formule qu'il vous faudra prononcer. Comme vous avez dû l'apprendre déjà vous devrez canaliser votre énergie dans vos mains, toucher la chose que vous voulez geler et réciter la formule.</p>
    <p>Qobur montre l'exemple en glaçant un caillou. Une grosse couche de glace se formant par-dessus.</p>
    <p>- Vous verrez qu'il est difficile glacer des animaux et qu'il est plus facile de glacer des liquides. C'est avec ça qu'on va commencer aujourd'hui. Mishio tu ferais bien d'écouter tu as déjà raté ton examen une fois l'année dernière.</p>
    <p>Le jeune garçon devient complètement rouge, s'excuse et lance le sort sur un verre d'eau. Effectivement il est moins doué que Qobur. L'eau se cristallise un peu mais c'est encore très liquide.</p>
    <p>Le cours continue, chacun son tour vous lancez le sortilège. C'est à toi.</p>
  </div>

  <div class="choix">
    <div class="ch def-parfait" data-go="41">Tenter de glacer un caillou pour montrer que tu es trop fort<span class="sexe sexe-fille">e</span></div>
    <div class="ch" data-go="42">Tenter de glacer le verre d'eau</div>
  </div>

</div>
