<div class="num num-1-1-37">

  <div class="text">
    <h1>- 37 -</h1>
	  <p>Le menu de la cafétéria était plutôt bon. Une quiche aux pommes de terre et un flan au caramel.</p>
	  <p>Aujourd'hui l'après-midi est consacrée à la pratique de son type de magie. Tu cherches la salle de classe avec <span class="nom-autre"></span>, c'est au deuxième palier de l'académie. Tu dois emprunter le grand escalier de marbre, puis passer plusieurs couloirs. Enfin tu arrives sur une place changée en salle de cours. De petits plots en marbre font office de chaises. En magie du feu il est essentiel qu'il n'y ait rien d'inflammable à côté pour pas déclencher d'incendie.</p>
	  <p>Ton professeur de magie du feu est un petit mage chauve, la peau noire avec une tunique sans manche. Il s'appelle Osman Zérion.<br />
    &laquo; Bonjour tout le monde. Bienvenue pour cette nouvelle année en cours de magie du feu. Nous aurons, comme d'habitude deux nouveaux élèves <span class="nom-autre"></span> et <span class="tonnom"></span>. Veuillez à bien les accueillir. &raquo; commence Osman.</p>
    <p>Il y a une quarantaine de personnes dans le cours. Certains ont l'air d'avoir au moins 20 ans voir plus. Il parait que tous les élèves de première, deuxième et troisième année de magie du feu sont là. Mais en plus certains mages plus chevronnés viennent continuer à apprendre avec Osman qui est un grand mage.</p>
    <p>Osman commence à donner des informations pour ces mages plus chevronnés, puis donne des exercices pour les 3° années. Les 2° années eux sont plongés dans leur grimoire et se mettent en groupe pour lancer des sorts basiques.</p>
    <p>En première année, en plus de toi et <span class="nom-autre"></span>, il y a 8 autres élèves qui sont plus anciens mais n'ont pas réussi à passer l'examen de deuxième année.</p>
    <p>- Cette année vous allez tenter de maîtriser plusieurs sorts de base de magie du feu : Lumière et Main de feu. Si vous êtes doué on vous en apprendra d'autres mais c'est sur ces deux là que portera l'examen de magie du feu. &laquo; explique Osman. Aujourd'hui on va vous expliquer les deux sorts et tout au long de l'année vous allez vous améliorer. Commençons par le sort de LUMIERE. Ce sort vous permet de placer une lumière sur un objet ou dans le creux de votre main. C'est avec ce sort qu'on crée les bougies magiques. Mais avec votre niveau vous ne pourrez pas les faire durer très longtemps. Sortez vos grimoires. Et notez la formule suivante : HIKARI ARU. C'est la formule qu'il vous faudra prononcer. Comme vous avez dû l'apprendre déjà vous devrez canaliser votre énergie dans vos mains, toucher la chose que vous voulez éclairer et réciter la formule.</p>
    <p>Osman montre l'exemple et fait apparaitre une lumière au bout d'un bâton.</p>
    <p>- Vous verrez qu'il est plus difficile de créer une lumière dans sa main que sur un objet. Aujourd'hui essayez d'éclairer ce bâton. Jamyce au lieu de faire l'idiote écoute un peu, sinon tu vas encore rater l'examen à la fin de l'année.</p>
    <p>La jeune fille devient complètement rouge, s'excuse et lance le sort sur le bâton. Effectivement elle est moins douée que Osman. Le bâton s'éclaire mais s'éteint aussitôt comme si on avait jeté un seau d'eau sur un petit feu.</p>
    <p>Le cours continue, chacun son tour vous lancez le sortilège. C'est à toi.</p>
  </div>

  <div class="choix">
    <div class="ch def-parfait" data-go="43">Tenter d'illuminer ta main pour montrer que tu es trop fort<span class="sexe sexe-fille">e</span></div>
    <div class="ch" data-go="44">Tenter d'illuminer le bâton</div>
  </div>

</div>
