<div class="num num-1-1-38">

  <div class="text">
    <h1>- 38 -</h1>
	  <p>Le menu de la cafétéria était plutôt bon. Une quiche aux pommes de terre et un flan au caramel.</p>
	  <p>Aujourd'hui l'après-midi est consacrée à la pratique de son type de magie. Tu cherches la salle de classe avec <span class="nom-autre"></span>, c'est au deuxième palier de l'académie. Tu dois emprunter le grand escalier de marbre, puis passer plusieurs couloirs. Enfin tu arrives dans la serre. Pour la magie de la terre, il est important d'être au contact avec la nature. Et tu as l'impression d'être dans une forêt miniature ici.</p>
	  <p>Ta professeure de magie de la terre est une vieille femme avec des lunettes et de longs cheveux blancs. Elle s'appelle Guérénile la mage blanche.<br />
    &laquo; Bonjour tout le monde. Bienvenue pour cette nouvelle année en cours de magie de la terre. Nous aurons, comme d'habitude deux nouveaux élèves <span class="nom-autre"></span> et <span class="tonnom"></span>. Veuillez à bien les accueillir. &raquo; commence Guérénile.</p>
    <p>Il y a une vingtaine de personnes dans le cours. Certains ont l'air d'avoir au moins 20 ans voir plus. Il parait que tous les élèves de première, deuxième et troisième année de magie de la terre sont là. Mais en plus certains mages plus chevronnés viennent continuer à apprendre avec Guérénile qui est une grande mage.</p>
    <p>Guérénile commence à donner des informations pour ces mages plus chevronnés, puis donne des exercices pour les 3° années. Les 2° années eux sont plongés dans leur grimoire et se mettent en groupe pour lancer des sorts basiques.</p>
    <p>En première année, en plus de toi et <span class="nom-autre"></span>, il y a 8 autres élèves qui sont plus anciens mais n'ont pas réussi à passer l'examen de deuxième année.</p>
    <p>- Cette année vous allez tenter de maîtriser plusieurs sorts de base de magie de la terre : Racine et Guérison. Si vous êtes doué on vous en apprendra d'autres mais c'est sur ces deux là que portera l'examen de magie de la terre. &laquo; explique Guérénile. Aujourd'hui on va vous expliquer les deux sorts et tout au long de l'année vous allez vous améliorer. Commençons par le sort de RACINES. Ce sort vous permet de créer des racines qui vont sortir de terres et que vous pourrez contrôler. Sortez vos grimoires. Et notez la formule suivante : NE JI. C'est la formule qu'il vous faudra prononcer. Comme vous avez dû l'apprendre déjà vous devrez canaliser votre énergie dans vos mains, toucher la terre et réciter la formule. Pour contrôler les racines, faites-le avec votre esprit, vous verrez c'est juste une question de pratique.</p>
    <p>Guérénile montre l'exemple, place ses mains par terre et des racines en sorte et s'enroulent autour d'une chaise puis continuent jusqu'à atteindre le plafond en verre de la serre.</p>
    <p>- Vous verrez qu'il est difficile de créer des formes bizarres avec les racines. De même il est difficile de créer de grandes racines. Aujourd'hui essayez juste de faire sortir des racines du sol. Akané, au lieu de regarder les 2° années, essaie de nous montrer ce que tu sais faire.</p>
    <p>La jeune fille devient complètement rouge, s'excuse et lance le sort par terre. Les racines sortent de la terre, mais flétrissent aussitôt sans bouger.</p>
    <p>Le cours continue, chacun son tour vous lancez le sortilège. C'est à toi.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="45">Tenter de lancer le sort</div>
  </div>

</div>
