<div class="num num-1-1-39">

  <div class="text">
    <h1>- 39 -</h1>
    <p>Tu concentres ton énergie dans tes mains. Tu récites la formule et te passes la main sur le visage en imaginant <span class="sexe sexe-fille">un garçon</span><span class="sexe sexe-garcon">une fille</span>.</p>
	  <p class="magie-verte">Espéride te regarde en faisant la moue. <br />
    - Hum… On va dire que c'est le premier essai. Tu essayais de changer quoi ?<br />
    - Ben, tout mon visage.<br />
    - Ok, on ne voit presque pas la différence avec avant. Essaie juste de changer ton nez ou tes cheveux. Tu as tenté de changer trop de choses d'un coup.</p>
	  <p class="magie-noire">Espéride te regarde en mettant sa main devant son visage. Les autres élèves sont en train de crier.<br />
    - … Mince alors. C'est absolument affreux.<br />
    - Donnez-moi un miroir que je vois ça.</p>
    <p class="magie-noire">En te regardant dans le miroir, même toi tu as presque envi<span class="sexe sexe-fille">e</span> de vomir. Ton visage est bien changé en <span class="sexe sexe-fille">celui d'un garçon</span><span class="sexe sexe-garcon">celui d'une fille</span>. Mais qu'est-ce que t'es moche ! L'essentiel c'est d'y être arrivé<span class="sexe sexe-fille">e</span> alors qu'Espéride disait que c'était difficile. Et du premier coup en plus. Tu te retournes vers <span class="nom-autre"></span> :<br />
    - T'as vu ça j'ai réussi à changer de sexe !<br />
    - Ah bon ? T'as changé de sexe là ? J'avais pas remarqué. &raquo; te répondit <span class="nom-autre"></span></p>
    <p class="magie-noire">Hum, c'est sûr que tu as réussi. <span class="nom-autre"></span> t'envie certainement à mort en fait.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="46">Continuer le cours</div>
  </div>

</div>
