<div class="num num-1-1-4">

  <div class="text">
    <h1>- 4 -</h1>
    <p>Tu avais planqué une feuille de révision dans ta manche. Délicatement tu la sors pour jeter un coup d'œil.</p>
    <p>Hum...Oui c'est exactement le sujet de la question qui te posait problème, ça tombe bien.</p>
    <p>- Et bien <span class="tonnom"></span>, qu'est-ce que c'est que ça ?</p>
    <p>Une voix derrière toi te fais sursauter. C'est la mage qui présentait l'examen au début. De prêt, elle est impressionnante et a même des flammes qui crépitent au fond des yeux.</p>
    <p>- Tu pensais qu'on peut tricher facilement fasse à des mages. Ma magie sert justement à trouver les tricheurs. Pose ta copie et vient avec moi tout de suite.</p>
    <p><span class="sexe sexe-fille">Honteuse</span><span class="sexe sexe-garcon">Honteux</span> tu la suis la tête baissée. Tous les autres apprentis te regardent. La mage t'emmène à l'écart dans l'arrière scène de l'amphithéâtre, à l'abris des regards.</p>
    <p class="middle">*</p>
    <p>- Tu ne savais pas qu'il était interdit de tricher ?<br />
    - Heu...<br />
    - En fait ce n'est pas interdit. Mais il ne faut pas se faire attraper.<br />
    - Pour les autres épreuves j'ai vraiment pas triché. Je vous jure que je ne le ferai plu...<br />
    - Comment ça ? J'espère bien que tu continueras à tricher.<br />
    - …Pardon ?</p>
    <p>Tu ne comprends plus trop ce qui se passe mais, alors que tu pensais que tout espoir était perdu, tu as l'impression que cela va peut-être s'arranger. La mage ne parait pas en colère et se permet même de te sourire.</p>
    <p>- Je m'appelle Espéride Mazénian, l'une des meilleure mage espionne de l'académie, et les apprentis comme toi il nous en faut. Des mages qui n'ont pas peur de mentir, tricher, voler car, oui, le monde n'est pas tout rose. De temps en temps faut se salir les mains.<br />
      - Ha ha ha ! Bien sûr, moi j'accepte de faire tout ça.<br />
      - Et bien tant mieux. Cependant je ne veux que les meilleurs quand même. Si tes 3 épreuves précédentes sont mauvaises tu seras banni à tout jamais.</p>
      <p class="middle">*</p>
      <p>Pendant qu'Espéride regarde tes copies, tu restes assis par terre avec un peu d'appréhension. Et si jamais tu avais fait beaucoup d'erreurs ? Tu ne peux pas t'empêcher d'y penser. Espéride fait une grimace, se mord la lèvre, fait un petit rire. C'est insupportable, tu as l'impression d'avoir tout loupé.</p>
      <p>- 0 faute! C'est parfait.<br />
        - Hein ?! Mais je croyais… vous faisiez une grimace ?<br />
        - Oui, c'était juste pour te faire peur. Très bien je te ferai rentrer à l'académie en première année. En échange tu devras obligatoirement choisir la <b>magie du vent</b> comme type de magie. La magie du vent c'est aussi la magie des illusions et des espions. Et je compte faire de toi un des meilleurs espions du pays.</p>
      <p>Tu es soulagé<span class="sexe sexe-fille">e</span>, non même tu es content<span class="sexe sexe-fille">e</span>. Tu es à l'académie d'Azalys.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="8">Attendre la présentation des gagnants</div>
  </div>

</div>
