<div class="num num-1-1-40">

  <div class="text">
    <h1>- 40 -</h1>
    <p>Tu concentres ton énergie dans tes mains. Tu récites la formule et te passes la main sur le visage en imaginant quelqu'un d'autre.</p>
	  <p>Espéride te regarde et te félicite. <br />
    - Bravo, pour un premier essai c'est pas mal. Le nez, les yeux et même un peu les cheveux ont changé. Pas besoin d'en faire trop pour commencer.</p>
	  <p>Tu es bien content<span class="sexe sexe-fille">e</span> qu'on t'ait félicité. Tu ne penses même pas à regarder ce que fais <span class="nom-autre"></span>.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="46">Continuer le cours</div>
  </div>

</div>
