<div class="num num-1-1-41">

  <div class="text">
    <h1>- 41 -</h1>
    <p>Tu concentres ton énergie dans tes mains. Tu récites la formule et tu touches un caillou à côté du verre d'eau.</p>
	  <p class="magie-verte">Le caillou ne change absolument pas. Qobur s'approche, effleure le caillou du bout des doigts et dit : <br />
    - Oui c'est un peu froid. Qu'est-ce que j'ai dit ? On commence par geler un liquide car c'est plus facile. Il faut écouter son professeur.<br />
    - Heu… Désolé<span class="sexe sexe-fille">e</span> ma main a glissé et j'ai touch...<br />
    - Je t'ai à l'œil <span class="tonnom"></span>. Continuons le cours.</p>
	  <p class="magie-noire">A peine as-tu touché le cailloux qu'une aura noire entoure ta main, des cristaux de givre s'envolent autour de toi et le caillou s'enveloppe d'une énorme couche de glace. Le froid est tel que le caillou finit même par se casser.</p>
	  <p class="magie-noire">Qobur, te regarde. Met la main sur le caillou cassé puis repose les yeux sur toi. Tout le monde s'est arrêté dans la classe. Même les 3° années te regardent.<br />
    - … Je crois… qu'on a trouvé un nouveau génie de la magie ! &raquo; s'écrit Qobur.</p>
    <p class="magie-noire">Tu n'en doutais pas une seconde. Tu es <span class="sexe sexe-fille">la meilleure</span><span class="sexe sexe-garcon">le meilleur</span>, tu le sais depuis longtemps.<br />
    Lasseni, te regarde bouche-bée.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="47">Continuer le cours</div>
  </div>

</div>
