<div class="num num-1-1-42">

  <div class="text">
    <h1>- 42 -</h1>
    <p>Tu concentres ton énergie dans tes mains. Tu récites la formule et tu touches le verre d'eau.</p>
	  <p class="magie-verte">Tu réussi parfaitement à geler le contenu du verre. C'est parfait.</p>
	  <p class="magie-verte">- Bravo <span class="tonnom"></span>. Pour une première c'est impressionnant de maîtrise.</p>
	  <p class="magie-verte">Tu ne caches pas ton bonheur jusqu'à ce que Lasseni lance également le sort et fasse se briser le verre tellement la glaciation a été rapide.</p>
	  <p class="magie-verte">- On a de très bons nouveaux cette année dis donc. &raquo; se réjouit Qobur. Tu as réussi à briser le verre car tu as envoyé beaucoup de puissance dedans. <span class="tonnom"></span> possède la maîtrise et toi la puissance Lasseni. C'est très bien.</p>
	  <p class="magie-noire">Tu transforme instantanément l'eau en glace et le verre se brise sous l'effet de gel.</p>
	  <p class="magie-noire">- Bravo <span class="tonnom"></span>. Pour une première c'est impressionnant de puissance.</p>
	  <p class="magie-noire">Tu ne caches pas ton bonheur jusqu'à ce que Lasseni lance également le sort et fasse se briser le verre exactement comme toi.</p>
	  <p class="magie-noire">- On a de très bons nouveaux cette année dis donc. &raquo; se réjouit Qobur. Deux futurs grands mages de l'eau.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="47">Continuer le cours</div>
  </div>

</div>
