<div class="num num-1-1-43">

  <div class="text">
    <h1>- 43 -</h1>
    <p>Tu concentres ton énergie dans tes mains. Tu récites la formule et tu touches ta main (en tout cas tu penses que c'est ce que tu dois faire pour éclairer ta main).</p>
	  <p class="magie-verte">Une petite lumière apparait dans le creux de ta main puis disparait aussitôt.<br />
    - Tu croyais pouvoir augmenter la difficulté à ta première tentative ? Ha ha ! T'étais pas loin, j'aime cet esprit. Continue comme ça <span class="tonnom"></span>. &raquo; se réjouit Osman.</p>
	  <p class="magie-noire">...Rien ne se passe.<br />
    - Quand tu tentes quelque chose de compliqué il faut réussir. Sinon tu passes juste pour un<span class="sexe sexe-fille">e</span> nul<span class="sexe sexe-fille">le</span>. &raquo; dit Osman avec un sourire.</p>
	  <p class="magie-noire"><span class="nom-autre"></span> et les autres premières années rigolent bien à cette blague.<br />
    - On va t'appeler <span class="sexe sexe-fille">la</span><span class="sexe sexe-garcon">le</span> nul<span class="sexe sexe-fille">le</span> à partir de maintenant. &raquo; dit un des redoublants dans un ricanement</p>
    <p class="magie-noire def-bagarreur">- Et toi on va t'appeler l'éborgné. &raquo; lui réponds-tu.</p>
    <p class="magie-noire def-bagarreur">Tu te jettes sur lui et lui assène deux coups de poings dans la figure avant que Osman vous sépare.</p>
    <p class="magie-noire def-bagarreur">- C'est lui qui m'a cherché.<br />
    - Ça suffit comme ça. <span class="tonnom"></span> Tu prends le bâillon. Et tu vas au coin.</p>
    <p class="magie-noire def-bagarreur">Le bâillon c'est la punition chez les mages. C'est pour t'empêcher de lancer un sort. Il est magique et tu ne peux pas le retirer sans l'aide d'un professeur.</p>
    <p class="magie-noire def-bagarreur">- Je te le retirerai quand tu te seras calmé, en attendant continuons le cours. &raquo; dit Osman.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="48">Continuer le cours</div>
  </div>

</div>
