<div class="num num-1-1-44">

  <div class="text">
    <h1>- 44 -</h1>
    <p>Tu concentres ton énergie dans tes mains. Tu récites la formule et tu touches le bâton.</p>
	  <p class="magie-verte">Le bâton ne bouge pas mais petit à petit une faible lumière apparait.<br />
    - Bravo <span class="tonnom"></span>. Pour une première c'est pas mal. &raquo; te dit Osman</p>
	  <p class="magie-noire">Tu as beau t'acharner, le bâton ne fait aucune lumière. Enfin si juste un peu mais tu as l'impression que ça t'as vidé<span class="sexe sexe-fille">e</span> de ton énergie.<br />
    - C'est pas trop mal <span class="tonnom"></span>. Tu vas t'améliorer pendant l'année, ne t'inquiètes pas. &raquo; te dit Osman</p>
	  <p><span class="nom-autre"></span> passe après toi et fait apparaitre une belle lumière blanche. Le professeur est très content et le félicite.<br />
    - Wah ! T'es super fort en fait. &raquo; lui dis-tu<br />
    - Ha ha ! J'ai toujours été attiré par le feu. Dans mon village mon père était forgeron alors je pense que c'est pour ça qu'instinctivement je maitrise le feu.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="48">Continuer le cours</div>
  </div>

</div>
