<div class="num num-1-1-45">

  <div class="text">
    <h1>- 45 -</h1>
    <p>Tu concentres ton énergie dans tes mains. Tu récites la formule et tu plaques tes mains par terre.</p>
	  <p class="magie-verte">Des racines sortent rapidement et tu les fais monter en spirale sur une dizaine de centimètres.<br />
    - Bravo <span class="tonnom"></span>. Quelle maîtrise impressionnante pour un premier sort. &raquo; te dit Guérénile.</p>
	  <p class="magie-noire">Des racines sortent rapidement et partent dans tous les sens allant presque jusqu'au plafond de la serre.<br />
    - Bravo <span class="tonnom"></span>. Quelle puissance impressionnante pour un premier sort. &raquo; te dit Guérénile.</p>
	  <p><span class="nom-autre"></span> passe après toi et fait apparaitre une petite racine.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="49">Continuer le cours</div>
  </div>

</div>
