<div class="num num-1-1-46">

  <div class="text">
    <h1>- 46 -</h1>
    <p>- Le prochain sort est un peu dangereux alors s'il vous plait ne prenez AUCUN risque. &raquo; insiste Espéride.</p>
    <p>Le sort de CHUTE CONTROLEE permet, comme son nom l'indique, de ralentir une chute. L'incantation est : AKI OSOI. On peut le lancer sur soi ou sur quelqu'un d'autre. Mais le lancer sur quelqu'un d'autre demande de pouvoir le toucher ou de projeter son énergie. Et tu n'as pas encore appris à projeter l'énergie.</p>
    <p>Espéride vous fait monter sur une table pour vous exercer sur une toute petite chute.</p>
    <p>Tous les redoublants se ratent. Ils tombent par terre mais sans ralentir la chute. Ce sort est plus difficile que MASQUE. C'est à toi de t'élancer. Tu montes sur la table et lance le sort.</p>
    <p class="magie-verte">Tu arrives à ralentir ta chute, tu le sens. Mais pas de beaucoup. Cela te permet quand même d'atterrir facilement sur tes pieds.<br />
    - Je vois que tu as réussi. En tombant d'une falaise tu t'écraserais quand même en bas pour le moment mais petit à petit ça va venir. Essaie de concentrer plus ton énergie dans tes mains puis dans tes pieds pour ralentir la chute. &raquo; t'explique Espéride.</p>
    <p class="magie-noire">Tu arrives à beaucoup ralentir ta chute. Néanmoins tu n'arrives pas du tout à te stabiliser et tu tournes en l'air pour te retrouver tête en bas et atterrir de manière disgracieuse mais sans aucun mal.<br />
    - C'est une sacrée performance pour un sort difficile. Regardez bien vous autres. <span class="tonnom"></span> a canalisé<span class="sexe sexe-fille">e</span> beaucoup d'énergie dans ses pieds pour ralentir sa chute mais pas assez dans ses mains et donc <span class="sexe sexe-fille">elle</span><span class="sexe sexe-garcon">il</span> s'est retrouvé<span class="sexe sexe-fille">e</span> déséquilibré<span class="sexe sexe-fille">e</span>. &raquo; explique Espéride.</p>
    <p>Le reste du cours est super intéressant. Les 3° années vous montrent les sorts que vous apprendrez plus tard. Certains sont vraiment très doués. Les 2° années font une présentation d'une mission d'un mage des vents dont tu n'avais jamais entendu parler avant. Et bien sûr Espéride continue de vous faire essayer vos deux sorts jusqu'à l'épuisement.</p>
    <p>- Attention je vous rappelle qu'en première année il est interdit d'utiliser un sort en dehors de l'école sauf si vous êtes en mission. Compris ? Alors que je ne prenne personne à tenter de sauter du haut d'une tour pour tester son sort de chute contrôlée ! &raquo; vous préviens Espéride.</p>
    <p>Le cours est terminé, tu es vanné<span class="sexe sexe-fille">e</span>.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="50">Retourner au dortoir</div>
  </div>

</div>
