<div class="num num-1-1-47">

  <div class="text">
    <h1>- 47 -</h1>
    <p>- Le prochain sort est un peu difficile mais il ne présente aucun risque. &raquo; dit Qobur.</p>
    <p>Une élève de troisième année s'approche du professeur.</p>
    <p>- Le but de l'exercice sera de retrouver Lia. Donne-moi une mèche de cheveux toi. &raquo; demande Qobur à la 3° année en rigolant.</p>
    <p>Elle se coupe quelques cheveux et pars dans les couloirs de l'école en courant pour se cacher.</p>
    <p>- Le sort de VISION DE RÊVE permet de retrouver une personne ou un objet. Le mieux est de tenir dans sa main quelque chose appartenant à cette personne pour la retrouver facilement. C'est pourquoi c'est beaucoup plus dur de retrouver un objet. L'incantation à réciter est : DOKO KA. On va attendre encore quelques minutes pour que Lia puisse se cacher et on lancera le sort.</p>
    <p>Au bout d'un moment Qobur lance le sort pour vérifier que la troisième année s'est bien cachée quelque part puis vous demande d'essayer de savoir où elle se trouve avec le sortilège.</p>
    <p class="magie-verte">En prenant la mèche dans ta main tu lances à ton tour le sort. Tu fermes les yeux et normalement une vision de l'endroit où elle est devrait t'apparaitre. Mais c'est très flou. Tu ne vois pas où c'est, seulement la direction générale à prendre.</p>
    <p class="magie-verte">Qobur t'explique que c'est un des effets du sort. Cela signifie que tu dois concentrer un peu plus d'énergie dans tes yeux pour voir plus nettement l'endroit. Mais c'est plus facile à dire qu'à faire.</p>
    <p class="magie-noire">En prenant la mèche dans ta main tu lances à ton tour le sort. Tu fermes les yeux et normalement une vision de l'endroit où elle est devrait t'apparaitre. Tu la vois sur une chaise dans une cuisine. Mais où se trouve cette cuisine : tu n'en as aucune idée.</p>
    <p class="magie-noire">Qobur t'explique que c'est un des effets du sort. Cela signifie que tu dois te concentrer plus sur la mèche de cheveux. Mais c'est plus facile à dire qu'à faire.</p>
    <p>Le reste du cours est super intéressant. Les 3° années vous montrent les sorts que vous apprendrez plus tard. Certains sont vraiment très doués. Les 2° années font une présentation d'une mission légendaire dont tu n'avais jamais entendu parler avant. Et bien sûr Qobur continue de vous faire essayer vos deux sorts jusqu'à l'épuisement.</p>
    <p>Le cours est terminé, tu es vanné<span class="sexe sexe-fille">e</span>.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="50">Retourner au dortoir</div>
  </div>

</div>
