<div class="num num-1-1-48">

  <div class="text">
    <h1>- 48 -</h1>
    <p>- Le prochain sort est un peu dangereux donc on ne l'utilise pas n'importe comment. &raquo; prévient Osman.</p>
    <p>Il s'agit du sort de MAIN DE FLAMME. Une flamme enveloppe la main du mage mais ne le brûlant ni lui ni ses vêtements. Osman vous demande quand même de remonter vos manches car les débutants ont l'habitude de mal maitriser le sort.</p>
    <p>Un des redoublants est très bon, il fait une flamme parfaite et bien maîtrisée. C'est superbe à voir. D'autres ratent complètement et Osman est obligé de lancer un sort de jet d'eau pour éteindre les flammes qui partent dans tous les sens. Puis viens ton tour L'invocation à réciter est : HI TE. Facile à retenir.</p>
    <p class="magie-verte">Tu sens ta main chauffer un peu sans te brûler et une petite flamme sort de chacun de tes 5 doigts.<br />
    - Une flamme maîtrisée, c'est bien. Pour la puissance on repassera mais mieux vaut bien maîtriser un sort avant d'augmenter sa puissance. &raquo; Osman te sourit en mettant son pouce en l'air.</p>
    <p class="magie-noire">Ta main chauffe beaucoup et une petite flamme sort de ta main... et semble remonter toute seule sur ton bras vers ta tête. Un jet d'eau t'asperge pour éteindre l'incendie sur ton corps. Tu as fait le même genre d'erreur que les redoublants avant toi.<br />
    - C'est une erreur classique. Tu dois focaliser l'énergie dans ta main. Là tu as mis l'énergie trop où tu regardais et ça a fait remonter la flamme sur ton bras. On est tous passé par là alors ne t'inquiètes pas. &raquo; te console Osman.</p>
    <p>Le reste du cours est super intéressant. Les 3° années vous montrent les sorts que vous apprendrez plus tard. Certains sont vraiment très doués. Les 2° années font une présentation d'une mission d'un mage du feu dont tu n'avais jamais entendu parler avant. Et bien sûr Osman continue de vous faire essayer vos deux sorts jusqu'à l'épuisement.</p>
    <p>- Attention je vous rappelle qu'en première année il est interdit d'utiliser un sort en dehors de l'école sauf si vous êtes en mission. Compris ? Alors que je ne prenne personne à tenter de lancer le sort de main de flamme dans les dortoirs ! Vous déclencheriez un incendie &raquo; vous préviens Osman.</p>
    <p>Le cours est terminé, tu es vanné<span class="sexe sexe-fille">e</span>.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="50">Retourner au dortoir</div>
  </div>

</div>
