<div class="num num-1-1-49">

  <div class="text">
    <h1>- 49 -</h1>
    <p>- Le prochain sort est un extrêmement utile. &raquo; dit Guérénile.</p>
    <p>Il s'agit du sort de GUERISON. Il permet de guérir les blessures et les maladies. Mais plus la blessure est grande et plus le sort demande de l'énergie et de la maitrise. Egalement pour guérir une maladie il faut absolument savoir de quelle maladie il s'agit, sinon le sort sera sans effet.</p>
    <p>Pour vous exercer, Guérénile se coupe légèrement le doigt. Vous allez chacun à votre tour tenter de guérir la blessure.</p>
    <p class="def-naif">- Ça ne vous fait pas trop mal de vous couper le doigt madame ? &raquo; demandes-tu<br />
    - Ha ha ! Ne t’inquiète pas, je me suis préparée. J'ai, avant cela, lancé un sort d'anti-douleur. Je ne ressens rien.<br />
    Te voilà rassuré<span class="sexe sexe-fille">e</span></p>
    <p>L'incantation à réciter est : BONOBONAILLE. La professeure te propose de commencer.</p>
    <p class="magie-verte">Facilement la blessure se ferme et Guérénile te félicite. Le doigt est encore un peu rouge à l'endroit de l'ancienne blessure mais tu es content<span class="sexe sexe-fille">e</span> de toi.</p>
    <p class="magie-noire">Un peu de sang coule de la blessure, il se met à devenir plus sombre puis forme une petite croûte. Bravo, tu as réussi le sort. Plus tard avec un peu plus de maîtrise il n'y aura même plus de croûte, juste le doigt guéri.</p>
    <p>Le reste du cours est super intéressant. Les 3° années vous montrent les sorts que vous apprendrez plus tard. Certains sont vraiment très doués. Les 2° années font une présentation d'une mission d'un mage de la terre dont tu n'avais jamais entendu parler avant. Et bien sûr Guérénile continue de vous faire essayer vos deux sorts jusqu'à la fin de la journée.</p>
    <p>Le cours est terminé, tu es vanné<span class="sexe sexe-fille">e</span>.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="50">Retourner au dortoir</div>
  </div>

</div>
