<div class="num num-1-1-5">

  <div class="text">
    <h1>- 5 -</h1>
    <p>Tu finis l'épreuve très vite et tu es particulièrement content<span class="sexe sexe-fille">e</span> de toi. Tu rends ta copie en <span class="sexe sexe-fille">première</span><span class="sexe sexe-garcon">premier</span>.</p>
    <p>Certains apprentis rendent leur copie en pleurant puis s'enfuient de l'amphithéâtre sans attendre leur note. Ils ont certainement raté l'épreuve et savent qu'ils ne seront pas pris.</p>
    <p>D'autres attendent impatiemment les résultats. On vous fait attendre quelques minutes. Les mages qui sont ici ont des sorts de magie pour lire très très vite. La correction ne dure donc pas longtemps.</p>
    <p>Un grand mage avec des cheveux rouge prends la parole:<br />
      - Je vais annoncer les 8 apprentis qui pourront poursuivre leurs études à l'académie. Tout d'abord, major de la promotion, 0 faute, <span class="tonnom"></span> !</p>
    <p>Tu savais que tu avais bien réussi mais de là à faire 0 faute tu es émerveillé<span class="sexe sexe-fille">e</span>. Tous les autres élèves t'applaudissent et tu te diriges vers l'estrade des récompenses.</p>
    <p>Le mage te tends un grimoire.</p>
    <p>- Voici ton grimoire, <span class="tonnom"></span>. Tu le rempliras avec les sorts que tu apprendras, et tout ce qui te sembleras utile. Encore bravo.</p>
    <p>Des étoiles plein les yeux tu rentres chez toi. De loin, tu vois Eran qui t'attends devant chez toi en train de repailler une chaise. Tu lèves bien haut ton grimoire pour qu'il le voit. Il sourit alors comme tu ne l'avais jamais vu auparavant.</p>
    <p>Vous faites la fête tout l'après-midi. Dès demain tu seras obligé<span class="sexe sexe-fille">e</span> de déménager à l'académie, ça te fais un petit pincement au cœur de laisser Eran à Sarambe mais tu savais qu'il le faudrait si tu arrivais à passer l'examen.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="9">Dormir et aller à l'académie</div>
  </div>

</div>
