<div class="num num-1-1-50">

  <div class="text">
    <h1>- 50 -</h1>
    <p>Alors que tu es en train de discuter de ta journée avec <span class="nom-autre"></span>, quelqu'un toque à votre porte. C'est Haziko.</p>
    <p>- Ça vous dit de dîner avec nous ? Avec les autres premières années on va se faire un petit barbecue dans le jardin ouest. Y a le couché de soleil sur le lac et on va se griller du maïs et des poissons.</p>
    <p>L'idée n'est pas mauvaise, vous changez de tenue, allez chercher un ou deux poissons à faire griller et vous vous précipitez au jardin ouest. Y a pas mal de monde mais les autres premières années ont réservé un bout de jardin avec un grill magique.</p>
    <p>Chacun sort ce qu'il a apporté, Panacle a trouvé des marshmallow à griller, Lasseni a amené des tranches de jambon de pays et Haziko des maquereaux. Il y a des épis de maïs et quelques brochettes de légumes également.</p>
	<p>- Je me disais que ça serait sympa de faire ce genre de truc de temps en temps. &raquo; commença Haziko. Comme on est en tous des débutants et qu'on connaît personne faut se serrer les coudes.<br />
	<span class="av-riche">- Y en a qui connaisse du monde ! <span class="tonnom"></span>, ta mère c'est la célèbre Cellya Van Demillon, la mage aventurière. Je t'ai vu avec elle ce matin. &raquo; dit Anselm<br />
	- Ce n'est pas très important...<br />
	- C'est pas vrai ? &raquo; dirent <span class="nom-autre"></span> et Haziko.<br />
	- Cellya est la mage aventurière la plus importante de l'école. Et l'une des plus puissantes après les quatre Mages supérieurs.<br /><br />
	Lasseni n'a pas l'air d'être intéressée par l'information et se sert une tranche de jambon grillée.</span></p>
	<p>Panacle distribue des gobelets et verse un peu de jus bleu de glacier, il vient directement des montagnes venteuses. Il a réussi à en trouver à la marina.</p>
	<p>- Bon présentons-nous un peu plus. Moi c'est Haziko, 8 ans, j'adore la magie depuis toute petite. Mon père est artisan en objets magiques à Condorra. Et comme je m'amusais tout le temps avec, il a décidé de m'inscrire à des cours théorique de magie. Et me voilà.<br />
	- Moi c'est Mac Lumy, 9 ans, magie du feu. Je viens de Melb, ma famille avait pas beaucoup d'argent mais un type du village a bien voulu me laisser étudier la magie avec son fils. Sauf que moi j'ai réussi l'examen et pas lui, hé hé.<br />
	- T'as de la chance toi. &raquo; lui dis-tu.<br />
	- J'ai eu de la chance pour les études mais sinon, ma famille est tellement pauvre que je ne peux pas dire que j'ai eu de la chance.<br />
	- Belle volonté quand même. Moi c'est Panacle, j'ai toujours vécu à Azalys. Mais au niveau 1, mon père est pêcheur pour l'académie et ma mère est costumière. La plupart des capes des mages de l'académie, c'est ma mère qui les a cousues.<br />
	- Celle qu'avait Espéride à l'examen était trop belle. &raquo; poursuivit <span class="nom-jayne-jayn"></span>. Je prends la suite, je m'appelle <span class="nom-jayne-jayn"></span>, j'ai 11 ans. J'ai grandi à la tour Azano, où il y a aussi pas mal de grands mages. Mais moi je m'occupais juste d'y faire le ménage. J'ai été abandonné<span class="e-jayne-jayn hidden">e</span> à la naissance et les mages m'ont receuilli. Je suis content<span class="e-jayne-jayn hidden">e</span> car j'aurai pu avoir une vie bien plus pourrie.<br />
	- La tour des mages Azano c'est pas loin des monts noirs. T'as déjà vu des dragons ? &raquo; lui demande Mac Lumy<br />
	- Non, jamais par contre des Héréons, des grand Marandouins et même un Manticore une fois.<br />
	- T'as dû avoir la peur de ta vie avec le Manticore, non ? Ça fait au moins 2 mètres de haut...Bon à moi. Mon nom c'est Anselm, 13 ans, j'ai tenté l'examen 4 fois et enfin je suis pris.<span class="av-studieux"> -- [4 fois ? Tu te dis qu'il a bien de la chance car Eran, lui n'a pu le tenter que 2 fois. Vous manquiez trop d'argent pour qu'il puisse le tenter une troisième fois sans avoir à travailler à la ferme à côté.] -- </span> Je viens de Grand-Couronne, c'est la grande ville du sud.</p>
	<p>Tu te racles un peu la gorge et tu enchaînes sur ta présentation. Tu expliques d'où tu viens et ce que t'as traversé pour arriver jusqu'ici.</p>

	<p>
		<span class="place-9 hidden">- Que les choses soient claires : tu ne mérites pas ta place parmi nous. Tu est un<span class="sexe sexe-fille">e</span> imposteur. &raquo; te dit Lasseni en sortant de son silence. Tu ne devrais même pas essayer de te mélanger avec nous. <span class="lassenipeur hidden">En plus ce que t'as fait en cours de magie de l'eau... C'est pas humain. T'es pas un génie, t'es un monstre. &raquo; insiste-t-elle </span></span>
		<span class="av-riche place-1 hidden">- Ta mère est Cellya Van Demillon ? Et bien je vois qu'il y a peut-être eu des privilèges accordés. Je suis désolée mais JE suis la meilleure et je te le prouverai. &raquo; Lasseni te regarde avec un air de défi.</span>
		<span class="av-pas-riche place-1 hidden">- Tu es arrivé<span class="sexe sexe-fille">e</span> premi<span class="sexe sexe-fille">ère</span><span class="sexe sexe-garcon">er</span> à l'examen par hasard. Ou en trichant. Je suis désolée mais je suis la meilleure et je te le prouverai. &raquo; Lasseni te regarde avec un air de défi.</span>
		<span class="av-populaire place-3 place-4 hidden">- Désolé mais j'aime pas les <span class="sexe sexe-fille">petites pimbèches</span><span class="sexe sexe-garcon">gros lourdauds</span> dans ton genre. Désolé à vous autres aussi. Je n'ai pas besoin de vous, je suis déjà la meilleure et vous allez me ralentir. &raquo; vous dit Lasseni.<br />
		Elle se lève lance la couenne de son jambon dans le lac et repars vers sa chambre.</span>
		<span class="av-pas-populaire place-3 place-4 hidden">- Désolé de casser l'ambiance mais personnellement je me fiche bien de vous. Je suis déjà la meilleure et vous allez me ralentir. &raquo; vous dit Lasseni.<br />
		Elle se lève lance la couenne de son jambon dans le lac et repars vers sa chambre.</span>
	</p>

	<p>Vous la regardez tous partir sans rien dire puis vous vous regardez l'air un peu ahuri.<br />
	- Mais pour qui elle se prend celle là ! &raquo; éructe Mac Lumy. Elle a juste eu une bonne note à l'examen et elle snobe tout le monde.<br />
	- Heu, c'est peut-être une bêtise, mais j'ai entendu une rumeur incroyable à propos d'elle. &raquo; chuchota Haziko. Je suis dans la même chambre qu'elle et elle a plein d'objets magiques. Dont un qui permet de communiquer à distance. Et une fois je l'ai entendue discuter...Je n'espionnais pas, hein, je...me tenais juste au courant. Et bien il semblerait qu'elle soit la petite-petite-petite-petite fille de Ymir et Zaïra.</p>
	<p>Tu te lèves d'un coup, abasourdi<span class="sexe sexe-fille">e</span> par la révélation.</p>
	<p>- Impossible, ils n'ont jamais eu d'enfant ! Je connais leur vie par cœur ce sont mes idoles ! &raquo; explique-tu<br />
	- Moi j'ai entendu quelque part qu'ils avaient adoptés un petit garçon quelques années avant de disparaître, mais c'est juste une rumeur qu'il y avait à la tour Azano. &raquo; raconta <span class="nom-jayne-jayn"></span></p>

	<p>Le soleil se couche sur le lac Déluine et vous rentrez tous à votre chambre.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="51">Dormir</div>
  </div>

</div>
