<div class="num num-1-1-51">

  <div class="text">
    <h1>- 51 -</h1>
    <p>Le lendemain, tu repenses encore à cette histoire à propos de Lasseni. Mais tu ne compte pas pour autant aller lui parler directement.</p>
    <p>Aujourd'hui Qobur vous a demandé de vous présenter à la ferme de l'école pour commencer la journée. Oui, oui y a une ferme dans l'école. Tu arrives en même temps que les autres premières années, sauf Anselm qui est en retard et s'excuse. Les redoublants ne sont pas avec vous ce matin, ce qui fait que vous n'êtes que huit.</p>
    <p>- Bonjour tout le monde. Bien dormi ? commence Qobur bien joyeux comme d'habitude. Aujourd'hui je vais vous expliquer comment vont se dérouler les missions que vous allez effectuer pour vous entraîner. Ce qu'il faut que vous sachiez d'abord c'est que vous ne serez pas seuls. Vous serez répartis en groupe de 4 en première année.</p>
    <p>Il ouvre la barrière de l'enclos des bêtes, vous fait rentrer avec les animaux qui viennent directement vous renifler. Il y a un peu de tout : des mouftons, des ruflards ou même des petits canidins qui viennent aboyer devant ces visiteurs inconnus.</p>
	<p>- Quand vous ferez une mission ce sera en dehors de l'école. &raquo; commença Qobur. Donc pour vous accompagner chaque groupe aura un familier. Comme vous ne savez pas encore très bien canaliser l'énergie en première année le familier est là pour vous aider. Je vous ai déjà dit que ceux qui ont une énergie "froide" peuvent mieux récupérer leur énergie dans les milieux froids. Et bien avec un familier à côté de vous vous pouvez très bien utiliser votre énergie au milieu du désert.<br />
	- C'est génial ça. &raquo; s'exclame Panacle. Mais alors pourquoi les mages n'ont pas un familier tout le temps avec eux ?<br />
	- Très bonne question. Le familier n'est qu'une aide. Quand un mage devient expérimenté il en a plus besoin. Et puis nous n'avons pas énormément de familier dans le pays. Il n'y a que l'académie qui en élèvent pour tout le pays.<br />
	- Ça veut dire que c'est hyper précieux les familiers alors ? &raquo; demande Kannan.<br />
	- En fait non, car seule l'académie à le droit d'en donner ou d'en vendre. Et on en donne uniquement aux personnes qui en ont besoin. Pour les débutants c'est important donc vous en aurez un par groupe.</p>
	<p>Qobur vous montre que sur chaque animal il y a un collier avec le nom d'un groupe. Cela signifie que ces familiers ont déjà un groupe. Il vous amène alors jusqu'à un petit enclos ou attendent plusieurs animaux sans collier.</p>
	<p>- Tout d'abord je vais annoncer les groupes. Il est important d'avoir des mages de chaque type dans vos groupes. Un mage du feu / eau / terre / vent dans chaque groupe pour pouvoir faire face à n'importe quoi.<br />
	Groupe numéro 1 : <span class="grp2-1"></span>, <span class="grp2-2"></span>, <span class="grp2-3"></span> et <span class="grp2-4"></span><br />
	Groupe numéro 2 : <span class="grp1-1"></span>, <span class="tonnom"></span>, <span class="grp1-2"></span> et <span class="grp1-3"></span></p>
	<p>Tu es plutôt content<span class="sexe sexe-fille">e</span> de ne pas être dans le groupe de Lasseni.</p>
	<p>- Maintenant il est aussi important d'avoir un familier qui vous choisisse. Vous devez désigner un chef d'équipe qui rentrera dans l'enclos et on verra quel animal le choisira.<br />
	- Professeur ! &raquo; Lasseni lève la main. On est obligé d'être en groupe ? Je peux très bien me débrouiller seule. <br />
	- Oui c'est obligatoire, tu pourras être seule uniquement quand tu connaîtra tous les sorts de base et normalement ce ne sera pas le cas avant la troisième année.<br />
	- Dans ce cas je veux être chef de mon groupe. répondit-elle<br />
	- Heu, on peut en discuter ? dit <span class="grp2-3"></span><br />
	- Si je ne suis pas chef, je ne suivrai pas les ordres de celui qui le sera de toute façon.<br />
	- Laisse <span class="grp2-3"></span>. dit <span class="grp2-4"></span> en lui posant la main sur l'épaule.</p>
	<p>Pour le groupe 1 Lasseni est donc chef d'équipe et passe dans l'enclos. Un canidin de bonne taille arrive très vite pour lui lécher la main et aboyer gentiment. Étrangement tu vois Lasseni le prendre dans les bras et lui faire un câlin.</p>
	<p>- Très bien, groupe 1, vous avez été choisi par Turbo, le canidin.</p>
	<p>Avec ton groupe vous vous regardez :<br />
	- Moi j'ai pas trop envie de devenir chef. dit <span class="grp1-3"></span><br />
	- Moi non plus. ajouta <span class="grp1-2"></span><br />
	- Moi ça me dérange pas, mais si <span class="tonnom"></span> tu veux aussi la place je te la laisse. finit <span class="grp1-1"></span>.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="52">Demander à être chef d'équipe</div>
    <div class="ch" data-go="53">Laisser <span class="grp1-1"></span> être chef d'équipe</div>
  </div>

</div>
