<div class="num num-1-1-52">

  <div class="text">
    <h1>- 52 -</h1>
    <p>- J'ai bien envie d'être chef d'équipe. &raquo; dis-tu plein<span class="sexe sexe-fille">e</span> d'entrain. <span class="av-parfait">Je suis sûr<span class="sexe sexe-fille">e</span> que je serai parfait<span class="sexe sexe-fille">e</span>.</span></p>
    <p>Ton groupe te choisit donc comme chef d'équipe. Tu rentres dans l'enclos doucement pour ne pas effrayer les animaux. Il y a un superbe félidé que tu aimerais bien avoir comme familier. Mais quand tu pénètres à l'intérieur, les animaux se retournent vers un familier qui restait dans le fond de l'enclos. Une chèvre se lève et s'approche en lançant un regard noir à tous les autres familiers. Tu sens qu'elle leur dit à tous : cet humain est pour moi. Elle s'arrête devant toi, bêle et s'assoit.</p>
    <p>- Miguel la chèvre est donc le familier du groupe 2, dit Qobur joyeusement.<br />
	- Miguel ! La chèvre s'appelle Miguel ? dis-tu effaré<span class="sexe sexe-fille">e</span>.<br />
	- Miguel est un des familiers les plus puissants. C'est le plus vieux ici. Il est capable de canaliser beaucoup d'énergie, je serai fier à ta place. Il accepte pas beaucoup de groupe.</p>
	<p>Tu regardes Miguel avec un sourire un peu forcé. Tu aurais préféré n'importe quoi d'autre, une chèvre c'est pas très classe. Miguel te regarde tout en ruminant ce qu'il a dans la bouche.</p>
	<p>- Ça me dérange pas d'avoir Miguel, dit <span class="grp1-2"></span>, il a l'air marrant.<br />
	- Vous pouvez vous appeler le groupe des chèvres comme ça, rigole <span class="grp2-3"></span>.<br />
	- Occupe-toi de ton groupe un peu, lui répond <span class="grp1-1"></span>.</p>
	<p>Qobur met un collier au canidin du groupe 1 et à Miguel.</p>
	<p>- Vous pourrez trouver un nom de groupe quand vous voulez. Juste pensez-y pour pas qu'on vous appelle le "groupe 2" jusqu'à la fin de l'année, vous dit Qobur.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="54">Continuer la matinée</div>
  </div>

</div>
