<div class="num num-1-1-54">

  <div class="text">
    <h1>- 54 -</h1>
    <p>Qobur vous apprend pendant le reste de la matinée à bien vous occuper de votre familier. Quand vous ne serez pas en mission il faudra le ramener dans l'enclos des familiers choisis (ceux avec un collier). Et bien sûr, penser à venir le voir de temps en temps car il est important qu'il vous connaisse.</p>
	<p>Miguel a un petit collier à grelots car il a tendance à partir un peu partout et certains groupes l'ont déjà perdu de vue plusieurs fois. Il revient toujours tout seul à l'académie dans ces cas là. Enfin il parait qu'il adore les choux rouges, si tu veux lui faire plaisir tu sais quoi lui apporter.</p>
	<p>- Bon ce n'est pas tout mais je ne vous ai pas encore raconté le meilleur de la journée, dit Qobur décidément très joyeux aujourd'hui. Cet après-midi vous partez pour votre première mission.<br />
	- QUOI !? cria Haziko. Mais on n'est pas suffisamment formé pour ça.<br />
	- Pas de panique. C'est des missions toutes simples, on ne vous envoie pas attaquer des monstres. Les missions c'est toujours l'occasion de se tester. Il ne faut jamais que vous hésitiez à lancer vos sorts pour vous entraîner. Mais toujours le plus en sécurité possible. Je compte sur les chefs d'équipe pour mettre des limites, écoutez les biens.</p>
	<p class="chef hidden">Avec ces mots Qobur te met un peu de pression sur les épaules.</p>
	<p>Qobur vous dit de déjeuner et de revenir plus tard pour connaître votre mission. Chaque groupe aura une mission différente.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="55">Revenir avec ton groupe après avoir mangé</div>
  </div>

</div>
