<div class="num num-1-1-55">

  <div class="text">
    <h1>- La première mission -</h1>
    <p>A la cafétéria, vous vous réunissez avec ton groupe. Vous avez bien hâte de commencer cette mission. <span class="grp1-2"></span> propose d'appeler le groupe : "Les 4 Fro-mages". Mais vous lui dites que c'est vraiment trop ridicule. Vous décidez donc de reporter le choix du nom à plus tard. Après la mission.</p>
    <p>Vous retournez donc à la ferme de l'école après le repas. Le groupe 1 est en train de repartir avec leur familier. <span class="grp2-2"></span> vous fait signe et ils partent tous, Lasseni dirigeant le groupe.</p>
	<p>- Groupe 2 : parfait. Vous arrivez pile au bon moment, s'exclame Qobur. Votre mission est très facile : il y a un village à quelques heures de marche de l'académie qui vous attend. Le village s'appelle <b>Paumet</b>. C'est tout petit vous verrez. Mais c'est un village que certains de nos mages utilisent pour nous laisser des messages ou d'autres choses. Aujourd'hui des mages nous ont laissés 5 objets magiques au village. Il faut juste que vous alliez les récupérer. Le maire de la ville, Mr Guyot, a l'habitude de voir des mages débutants venir.</p>
	<p class="def-peureux">Tu es rassuré<span class="sexe sexe-fille">e</span>, ça n'a pas l'air très compliqué effectivement.</p>
	<p>Qobur va chercher Miguel et vous donne un sifflet.</p>
	<p>- Miguel viendra quand il entendra le son du sifflet. Comme je vous l'ai déjà dit, de temps en temps il part en vadrouille mais la plupart du temps il suit gentiment tout le groupe vous verrez. Bon, on a réservé une carriole pour vous pour aller jusqu'au village. Elle vous attend à la marina.</p>
	<p>Un paysan vous attend effectivement à la marina. Vous montez tous à l'arrière (y compris Miguel). Le paysan vous dit qu'il devait passer au village pour livrer des poissons et que ça ne lui pose aucun souci de vous amener avec lui.<br />
	Pendant le trajet vous voyez que Miguel avale et rumine un des poissons du paysan. Il mange des poissons ? Les chèvres c'est pas herbivore normalement ? Décidément Miguel est la chèvre la plus bizarre que tu aies jamais vu.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="56">Voyager jusqu'à Paumet</div>
  </div>

</div>
