<div class="num num-1-1-56">

  <div class="text">
    <h1>- 56 -</h1>
    <p>Le voyage n'est pas très long, vous arrivez avant la nuit au village. Le paysan vous dit au revoir et vous propose même un poisson, mais vous n'osez pas sachant que Miguel s'est déjà servi 2 fois dans le tas sans qu'il le voit.</p>
    <p>Paumet est vraiment un tout petit village, une trentaine de maisons, un autel de magie, un cimetière pour les morts et c'est tout. Quand vous arrivez une personne approche, plutôt bien portant, grande barbe grise et aucun cheveu sur le crâne, avec des vêtements tout usés :<br />
	- Hey ! Salut la compagnie. Je suis Mr Guyot, le maire. Vous venez de l'académie, pas vrai ?<br />
	- Oui c'est ça, <span class="chef hidden">dis-tu</span><span class="cheh hidden">dit <span class="cheh-nom"></span></span><br />
	- Venez, suivez-moi.</p>
	<p>Mr Guyot vous conduit jusque chez lui. Sur le chemin vous croisez une dame, Mme Lebon, c'est chez elle que vous serez logés cette nuit. Il n'y a aucune auberge ni aucun hôtel dans le village donc rien de plus normal que de dormir chez l'habitant.</p>
	<p>La maison du maire est le genre de ferme que tu as déjà vu souvent : une grande pièce dans laquelle vit toute la famille. Une grange est attenante à la maison, et sert pour les bêtes. Vous ne savez pas quels sont les animaux qu'il élèvent car ils sont déjà tous rentrés pour la nuit. La femme du maire est en train de préparer le repas, aidée par une de ses filles. Une autre est en train d'apprendre à lire à son petit frère.</p>
	<p>- Asseyez-vous. De toute façon vous aller bien manger avec nous ce soir ? Y a pas de restaurant tout' façon.<br />
	- Heu… oui bien sûr, c'est très gentil, répondez-vous tous en même temps.</p>
	<p>Le maire amène un petit coffre et vous le tend. Il se pose sur la grande table de la maison, ouvre le coffret et vous le présente.</p>
	<p>- Voilà, 4 objets magiques à ramener à l'académie.<br />
	- Hum...4 objets, <span class="chef hidden">dis-tu</span><span class="cheh hidden">dit <span class="cheh-nom"></span></span> ?<br />
	- Heu… Je crois que Qobur avait dit 5 objets magiques, non ? dit <span class="grp1-1"></span></p>
	<p>Oui tu en sûr<span class="sexe sexe-fille">e</span> aussi. Qobur a parlé de 5 objets magiques.</p>
	<p>- Ha bon ? Vous êtes sûrs ? Ben moi c'est tout ce qu'on m'a laissé. Les mages sont repartis en mission, peut-être qu'ils en ont repris un dont ils avaient besoin. &raquo; répondit Mr Guyot nonchalamment</p>
	<p class="middle">*</p>
	<p>Après le repas vous allez retrouver Mme Lebon qui vous ouvre sa grange. Il y a un dortoir déjà prêt. Elle vous apprend qu'elle a transformé sa grange en dortoir car beaucoup de mages venaient dans le village et n'avaient nulle part où passer la nuit. C'est une sorte d'hôtel sans beaucoup de confort. Mais vous n'en demandez pas plus. Mme Lebon vous souhaite une bonne nuit, ferme la porte de la grange et repart.</p>
	<p>- C'est bizarre quand même ça. On nous avait dit 5 objets. répéta <span class="grp1-1"></span><br />
	- Peut être que c'est un test, dit <span class="grp1-3"></span> en haussant les épaules.<br />
	- Comment ça un test ? demandas-tu<br />
	- Ben, peut-être que Qobur veut voir comment on réagirait. Peut-être qu'il a caché un objet et qu'on doit le retrouver.<br />
	- Pour notre première mission il ferait un truc comme ça ? s'interrogea <span class="grp1-2"></span><br />
	- On a appris des sorts et il nous a dit de tout faire pour les utiliser. Si on revient avec les 4 objets on n'aura rien fait de spécial. C'est même pas une mission ça.</p>
	<p>Tout le monde se regarda. C'est vrai que la mission est un peu trop facile pour le moment.</p>
	<p>- Bon je suis chef d'équipe, je décide qu'on va essayer d'enquêter un peu plus pour savoir s'il ne manque pas un cinquième objet, déclama<span class="chef hidden">s-tu</span><span class="cheh hidden"> <span class="cheh-nom"></span></span>. Tout le monde est d'accord ?</p>
	<p>Le groupe répondit d'un grand oui, même Miguel y alla de son petit bêlement pour montrer qu'il était d'accord.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="57">Dormir et lancer l'enquête demain</div>
  </div>

</div>
