<div class="num num-1-1-57">

  <div class="text">
    <h1>- 57 -</h1>
    <p>Le lendemain matin, vous vous réunissez avant de sortir de la grange.</p>
    <p class="magie-eau">Tu expliques aux autres que tu connais un sort de magie qui te permet de repérer les gens et les objets. Comme les objets magiques ont tous été en contact peut-être qu'en en touchant un tu arriverais à localiser l'objet manquant.</p>
    <p class="magie-pas-eau">Kannan vous explique qu'elle connaît un sort de magie - Vision de Rêve - qui lui permet de repérer les gens et les objets. Comme les objets magiques ont tous été en contact peut-être qu'en en touchant un elle arriverait à localiser l'objet manquant.</p>
    <p class="def-pas-naif">Ça vaut le coup d'essayer. Mais tu te demandes si tu dois en parler au maire ou pas.</p>
    <p class="def-naif">Tu penses quand même qu'il faut en parler au maire et lui dire que vous allez enquêter.<br />
	<span class="cheh hidden">Mais ton chef d'équipe te dit qu'il vaut mieux être prudent. On ne sait pas qui a caché le 5° objet.</span></p>
  </div>

  <div class="choix">
    <div class="ch" data-go="58">Lancer le sort de Vision de Rêve</div>
    <div class="ch" data-go="59">Aller en parler au maire</div>
  </div>

</div>
