<div class="num num-1-1-58">

  <div class="text">
    <h1>- 58 -</h1>
    <p class="magie-eau">Tu attrapes un des 4 autres objets magiques et tu lances le sort de Vision de Rêves.
		<span class="energie-verte hidden">Tu ne vois pas grand-chose c'est très flou. Mais tu sens que ce n'est pas très loin. Quelque part dans le village, au nord-est. Tu rouvres les yeux et dis aux autres que tu peux les guider vers l'endroit que tu penses que tu as senti quelque chose.</span>
		<span class="energie-noire hidden">Tu vois clairement un homme de bonne stature. Avec une hache, il ressemble à un bûcheron, environ 30 ans, les cheveux noirs et une petite barbe. Mais tu n'as aucune idée d'où il peut être en ce moment.</span>
	</p>
    <p class="magie-pas-eau">Kannan ferme les yeux et lance le sort. Au bout d'un petit moment, elle vous dit qu'elle a senti quelque chose pas très loin de la grange. Quelque part dans le village, au nord-est. Elle peut vous guider vers cet endroit, mais sans savoir vraiment si c'est la personne qui a l'objet ou si c'est seulement une piste.</p>

	<p>- C'est pas non plus très sûr. Vous pensez qu'on va devoir se battre ? &raquo; demanda <span class="grp1-1"></span><br />
	- Je ne pense pas. Si c'est Qobur qui a mis ce test en place on doit surtout mener l'enquête avec nos sorts, lui répondit <span class="grp1-3"></span></p>

	<p class="chef hidden">- Bon, on va quand même aller dans cette direction. On n'a absolument rien d'autre pour le moment, dis-tu.</p>
	<p class="cheh hidden">- Bon, on va quand même aller dans cette direction. On n'a absolument rien d'autre pour le moment, dit <span class="cheh-nom"></span></p>

	<p>Avant de partir de la grange, vous sifflez Miguel qui est en train de mâchonner un des 4 autres objets magiques que vous avez en votre possession.</p>
	<p>- Ha mais lâche ça Miguel ! C'est pas vrai, il bouffe n'importe quoi, se lamente <span class="grp1-1"></span></p>
	<p>Miguel lâche l'objet et tu remarques une rune qu'il y avait dessus : la rune de pistage.</p>
	<p>- Cet objet : il a une rune de vision. On peut peut-être l'utiliser pour remonter jusqu'à notre objet perdu ? &raquo; t'exclames-tu tout<span class="sexe sexe-fille">e</span> content<span class="sexe sexe-fille">e</span>. Est-ce que quelqu'un sait ce qu'est cet objet ?</p>
	<p><span class="grp1-2"></span> observe l'objet puis dit :<br />
	- Ça ressemble à un pisteur. Normalement ça sert à repérer les traces magiques.<br />
	- Donc on pourrait certainement repérer l'objet manquant, non ? Comment active-t-on l'objet ?<br />
	- Normalement il suffit juste de canaliser de l'énergie dedans pour le faire fonctionner.</p>


	<p class="chef hidden">Tu es chef d'équipe. Tu vas devoir choisir entre la piste du sort de Vision de Rêves ou utiliser l'objet magique.</p>
	<p class="cheh hidden"><span class="cheh-nom"></span> prend la parole. Elle explique que vous allez finalement utiliser l'objet magique et que si ça ne donne rien vous irez à l'endroit indiqué par le sort de Vision de Rêves. Tout le monde acquiesce.</p>
  </div>

  <div class="choix">
    <div class="ch chef energie-verte hidden" data-go="60">Suivre la piste de Vision de Rêve</div>
    <div class="ch chef energie-noire hidden" data-go="61">Suivre la piste de Vision de Rêve</div>
    <div class="ch" data-go="62">Utiliser l'objet magique</div>
  </div>

</div>
