<div class="num num-1-1-59">

  <div class="text">
    <h1>- 59 -</h1>
    <p>Votre groupe décide d'aller expliquer au maire que vous allez enquêter un peu pour savoir s'il ne manque pas le 5° objet.</p>
    <p>En arrivant à la ferme du maire, vous le trouvez en train de sortir son troupeau de longlants de sa grange :<br />
	- Ah, vous voulez enquêter ? Bah, d'accord. J'imagine que vous savez ce que vous faites. Moi je suis juste un paysan et vous êtes des mages même si vous êtes tous les 4 bien plus jeune que moi je vous fais confiance.<br />
	- C'est bien compréhensif de votre part. Nous vous remercions. lui dis-tu<br />
	- Essayez de pas réduire le village en cendres avec vos sorts, dit-il en rigolant.</p>
	<p>A priori il n'est pas surpris. Qobur a dû lui dire d'avance qu'on enquêterait. <span class="grp1-3"></span> avait raison, c'est un test.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="58">Retourner à la grange pour lancer le sort de Vision de Rêves</div>
  </div>

</div>
