<div class="num num-1-1-6">

  <div class="text">
    <h1>- 6 -</h1>
    <p class="def-parfait">De toute façon tu es le meilleur, donc ta réponse sera la bonne. Tu n'en doute pas un seul instant.</p>
    <p class="def-pas-parfait">Tu écris une réponse d'une main hésitante et tu espères très fort que cette réponse soit juste. Ou tout du moins qu'elle ne coûte pas ta place à l'académie.</p>
    <p>Tu finis le reste du devoir et rends ta feuille.</p>
    <p>Certains apprentis rendent leur copie en pleurant puis s'enfuient de l'amphithéâtre sans attendre leur note. Ils ont certainement raté l'épreuve et savent qu'ils ne seront pas pris.</p>
    <p>D'autres attendent impatiemment les résultats. On vous fait attendre quelques minutes. Les mages qui sont ici ont des sorts de magie pour lire très très vite; la correction ne dure donc pas longtemps.</p>
    <p>Un grand mage avec des cheveux rouge prends la parole :<br />
      - Je vais annoncer les 8 apprenties qui pourront poursuivre leurs études à l'académie. </p>
    <p>Le mage annonce plusieurs apprentis puis soudain tu entends ton nom.</p>
    <p>- 4° place <span class="tonnom"></span>. Félicitation tu es reçu<span class="sexe sexe-fille">e</span> à l'académie d'Azalys.</p>
    <p>On te fait signe de te diriger vers l'estrade des récompenses.</p>
    <p>Le mage te tends un grimoire.</p>
    <p>- Voici ton grimoire, <span class="tonnom"></span>. Tu le rempliras avec les sorts que tu apprendras, et tout ce qui te sembleras utile. Encore bravo.</p>

    <p class="av-studieux">Des étoiles plein les yeux tu rentres chez toi. De loin, tu vois Eran qui t'attends devant chez toi en train de repailler une chaise. Tu lèves bien haut ton grimoire pour qu'il le voit. Il sourit alors comme tu ne l'avais jamais vu auparavant.</p>
    <p class="av-studieux">Vous faites la fête tout l'après-midi. Dès demain tu seras obligé de déménager à l'académie, ça te fais un petit pincement au cœur de laisser Eran à Sarambe mais tu savais qu'il le faudrait si tu arrivais à passer l'examen.</p>

    <p class="av-populaire">Cela faisait longtemps qu'un enfant de Sarambe n'avait pas été reçu à l'académie d'Azalys. Annette et Rodolphe ont prévu un buffet et tout ton quartier est invité pour fêter l'événement. Tu sais d'ailleurs que Rodolphe fait souvent des allers-retours à l'académie pour livrer les légumes de son père. Tu ne seras donc pas en terre totalement inconnue là-bas.</p>
    <p class="av-populaire">Annette te dit également que te connaissant elle est sûre que tu te feras plein d'amis dans l'académie.</p>
    <p class="av-populaire">La fête se termine tard mais il faut être en forme pour demain. Tu es attendu<span class="sexe sexe-fille">e</span> à l'académie pour l'accueil des nouveaux premières années.</p>

    <p class="av-riche">A ton retour chez toi Médeya est folle de joie quand tu lui apprends la bonne nouvelle. Quand ton père est revenu des pâturages il te félicite.</p>
    <p class="av-riche">- C'est bien <span class="sexe sexe-fille">ma fille</span><span class="sexe sexe-garcon">mon fils</span>. Je suis fier de toi, tu seras un<span class="sexe sexe-fille">e</span> grand<span class="sexe sexe-fille">e</span> mage comme ta mère. Mais tu ne dois pas te reposer sur tes lauriers, c'est maintenant que tout commence pour toi.</p>
    <p class="av-riche">Il a raison, être intégré à l'académie n'est pas suffisant. Ta mère le dirait également; rentrer à l'académie c'est le plus facile. Devenir un grand mage ça c'est autre chose.</p>
    <p class="av-riche">D'ailleurs une mission spéciale a obligé ta mère à partir pour les montagnes enneigées. Elle n'a pas pu rentrer et ne sais pas encore que tu es accepté<span class="sexe sexe-fille">e</span> à l'académie.</p>
    <p class="av-riche">Demain tu dois déjà aller à l'académie, c'est l'accueil des nouveaux élèves.</p>

    <p class="av-sportif av-courageux">Les élèves acceptés qui n'ont nul part où dormir à Sarambe sont confiés à Espéride Mazénian, la mage à la cape noire et or.</p>
    <p class="av-sportif av-courageux">- Nous repartirons tous ensemble pour l'académie dès demain. Ce soir nous avons plantés des tentes pour nous tous à l'entrée de la ville pour dormir. D'ici là vous avez quartier libre.</p>

  </div>

  <div class="choix">
    <div class="ch av-studieux av-riche av-populaire" data-go="9">Dormir et partir à l'académie le lendemain</div>
    <div class="ch av-sportif av-courageux" data-go="9">Aller directement au camp et attendre le départ pour l'académie</div>
    <div class="ch av-sportif av-courageux" data-go="10">Aller flâner un peu dans la ville</div>
  </div>

</div>
