<div class="num num-1-1-61">

  <div class="text">
    <h1>- 61 -</h1>
    <p>Tu décides d'aller demander à Mme Lebon si elle connaît l'homme que tu as vu en vision. Elle te dit qu'il doit s'agir de Kalgo le bûcheron. Elle t'indique là où il habite et vous y allez d'un pas prudent. C'est juste en bordure du village, il n'y a qu'une seule maison dans le coin.</p>
    <p>Vous entendez le bruit de la hache qui s'enfonce dans le bois d'un arbre à intervalles réguliers. En vous approchant vous voyez ledit bûcheron. Torse nu, en train de couper un arbre. Quand il vous voit, il arrête son travail et prend une gorgée dans sa gourde posée à côté de lui.</p>
	<p>- Bonjour, dis-tu. Kalgo, c'est bien ça ? Heu...On peut vous poser 2-3 questions ?<br />
	- Bien sûr. C'est au sujet des objets magiques ?<br />
	- Hein… que...Oui ! C'est exactement ça, comment le saviez-vous ?</p>
	<p>Tu es estomaqué<span class="sexe sexe-fille">e</span>, tu ne t'attendais pas à ce qu'il vous dise ça tout de suite.</p>
	<p>- C'est moi qui ai récupéré les objets des mages et les ai donnés au maire. Et je vois bien que vous êtes des mages de l'académie. On dirait pas mais y a pas mal de mages qui passent dans le village vous savez.<br />
	- Ah ? C'est vous qui aviez donné les objets au maire ? Donc vous les avez eus dans les mains ? C'est pour ça que mon sort m'a amené jusqu'à vous alors. Comme vous êtes la dernière personne à l'avoir eu en main c'est vous que j'ai vu.<br />
	- Et ben, vous voulez remonter la piste des objets ? Pourquoi donc ? demande-t-il. J'ai fait quelque chose qui ne fallait pas ?<br />
	- Vous vous souvenez combien d'objets vous avez donnés au maire ? interrogea <span class="grp1-1"></span><br />
	- Ah oui je me souviens bien. Il y en avait 5. J'ai dû faire faire un rapport pour envoyer le message à l'académie, donc je me souviens.</p>
	<p>Au moins cette conversation confirme qu'il y avait bien 5 objets. En insistant un peu plus avec le bûcheron, il vous apprend que les mages qui lui ont donné les objets se sont reposés une nuit puis sont repartis le lendemain.</p>
	<p>- Je ne pense pas que les mages soient repassés chez Mr le maire. Mais allez voir Tobbias. Il a beaucoup discuté avec les mages il pourra mieux vous dire que moi.</p>
	<p>Tobbias est un paysan qui habite sur la colline un peu plus loin. Le bûcheron vous indique le chemin pour aller le voir.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="63">Vous diriger vers chez Tobbias</div>
  </div>

</div>
