<div class="num num-1-1-62">

  <div class="text">
    <h1>- 62 -</h1>
    <p>Tu canalises ton énergie sur l'objet et un faisceau lumineux apparait dans la direction que tu pointes comme avec les torches magiques. Ça n'a pas une portée immense mais assez pour t'aider. En te retournant avec ton pisteur vers les 3 objets restant tu vois qu'ils laissent une trace lumineuse rouge dans l'air partout où ils sont passés. Il va être assez facile de remonter la piste.</p>
	<p>Aussitôt, vous sortez en trombe de la grange pour remonter la trace rouge.</p>
	<p>Bien entendu vous arrivez tout d'abord jusqu'à la maison du maire. Normal puisque les objets y ont été amenés. Mais de la maison du maire, il y a une trace bizarre : un des objets a l'air d'avoir pris un chemin différent.</p>
	<p>- Hé hé, on est trop fort. Faudra nous appeler le groupe des "Mages trop puissants", dit <span class="grp1-2"></span><br />
	- NOON! répondez-vous tous en coeur. Arrête avec tes noms trop nuls.</p>
	<p>La piste vous amène vers une colline un peu à l'écart du village. Il y a une petite ferme là-bas. La piste semble venir de la maison, mais bizarrement elle repart de la maison pour partir vers la forêt derrière.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="64">Proposer de toquer à la porte</div>
    <div class="ch" data-go="67">Proposer de suivre la piste vers la forêt</div>
  </div>

</div>
