<div class="num num-1-1-63">

  <div class="text">
    <h1>- 63 -</h1>
    <p>Vous arrivez jusque chez Tobbias. C'est une petite ferme, avec des trous dans le toit. Il est dans son champ et vous a vu arriver de loin. Il vous fait signe de venir le voir.</p>
    <p>- Je peux vous aider ? Z-êtes qui ? demande-t-il<br />
	- On est des mages de l'académie, il paraît que...</p>
	<p>A peine as-tu eu le temps de dire ces quelques mots que Tobbias se retourne, prend ses jambes à son cou et s'enfuit en direction de la forêt toute proche.</p>
	<p class="def-naif">- Qu'est-ce que j'ai dit ?<br />
	- Je crois qu'il est juste en train de s'enfuir, c'est lui qui a pris l'objet magique !</p>
	<p class="def-pas-naif">- TOUS A SA POURSUITE, C'EST LE VOLEUR ! <span class="chef hidden">dis-tu</span><span class="cheh hidden">dit <span class="cheh-nom"></span></span></p>
  </div>

  <div class="choix">
    <div class="ch" data-go="65">Se lancer à sa poursuite</div>
  </div>

</div>
