<div class="num num-1-1-64">

  <div class="text">
    <h1>- 64 -</h1>
    <p>Personne ne répond. En regardant par la fenêtre vous voyez que l'homme doit être très pauvre.</p>
    <p>- Peut-être que l'homme est tellement pauvre qu'il a volé un objet magique pour le revendre ? propose <span class="grp1-2"></span><br />
	- Non, il n'y a pas que ça. Il aurait volé plusieurs objets dans ce cas-là.<br />
	- Oui mais s'il en avait volé plusieurs le maire aurait tout de suite vu qu'il en manquait. Là avec seulement 1 en moins Mr Guyot a rien vu. Mr Guyot n'a pas l'air tellement sérieux dans son travail comme on a pu le voir. réponds-tu<br />
	- Oui je suis d'accord, si on n'avait pas creusé un peu on serait retourné à l'académie et le temps que le professeur Qobur ait été informé ce type aurait été loin. ajouta <span class="grp1-1"></span><br />
	- Par contre, tout à coup, ça ressemble moins à un test. dit <span class="grp1-3"></span>. On fait quoi ?</p>
	<p>C'est vrai que si quelqu'un a volé un objet pour le revendre, vous pourriez avoir affaire avec un malandrin. Et peut-être sera-t-il violent.</p>
	<p class="def-peureux">- Heu, du coup ça serait peut-être mieux de retourner à l'académie, non ?<br />
	- C'est toi qui est chef d'équipe <span class="tonnom"></span>. On te reprochera rien, on te suivra où tu nous diras d'aller, dit <span class="grp1-1"></span>.</p>
  </div>

  <div class="choix">
    <div class="ch def-peureux" data-go="66">Retourner à l'académie avec 4 objets</div>
    <div class="ch" data-go="67">Suivre la piste de la forêt</div>
  </div>

</div>
