<div class="num num-1-1-65">

  <div class="text">
    <h1>- 65 -</h1>
    <p class="av-sportif">Tobbias est un adulte mais ce n'est pas un athlète - contrairement à toi. Tu es sur ses talons et même tu le rattrapes petit à petit.<br />
		<span class="magie-terre">Tu te dis que faire un sort de Racines pour le faire tomber serait certainement génial.</span>
		<span class="magie-pas-terre">Tu te dis que tu vas tenter de te jeter sur lui pour le faire tomber.</span>
	</p>
    <p class="av-pas-sportif">Tobbias est un adulte, ce n'est pas un athlète mais il avance plus vite que vous. Si ça continue vous allez le perdre de vue.<br />
	<span class="super-racine">Tu te souviens que les racines de ton sort allaient super loin. Peut-être que tu arriverais à le faire se prendre les pieds dedans.</span>
	<span class="pas-super-racine">Vous voyez Tobbias passer par-dessus un tronc tombé puis vous ne le distinguez plus. À votre tour vous sautez tous au-dessus l'arbre en travers et… chutez dans un trou juste derrière. Il fait au moins 4 mètres de profondeur ! Ça va faire mal. <br /><br />
		<span class="magie-vent">- Vite, tout le monde : accrochez-vous à moi ! cries-tu.<br />Et tu lances ton sort de Chute contrôlée le plus vite possible</span>
		<span class="magie-pas-vent">Tu entends <span class="mage-vent"></span> crier : &laquo; Vite, tout le monde : accrochez-vous à moi ! &raquo;<br />Et il lance un sort le plus vite possible</span>.
	</span>
	</p>
  </div>

  <div class="choix">
    <div class="ch attaque" data-go="68">Te jeter sur lui</div>
    <div class="ch super-racine" data-go="69">Lancer le sort de Racines</div>
    <div class="ch chute-contro" data-go="70">Lancer le sort de Chute Contrôlée</div>
    <div class="ch chute-autre" data-go="71">S'accrocher à <span class="mage-vent"></span></div>
  </div>

</div>
