<div class="num num-1-1-66">

  <div class="text">
    <h1>- 66 -</h1>
    <p>Vous rentrez à l'académie dans la journée en vous faisant ramener par la charrette d'un marchand qui se rend justement au lac Déluine.</p>
	
	<p class="middle">*</p>
	<p>En rentrant à l'académie, vous ramenez Miguel dans son enclos, puis vous allez rendre les 4 objets magiques au Professeur Qobur.<br />
	- Il n'y avait que 4 objets, <span class="chef hidden">dis-tu</span><span class="cheh hidden">dit <span class="cheh-nom"></span></span>. Est-ce qu'il s'agissait d'un test pour nous faire chercher le 5° ?<br />
	- Hein ? Non, pas du tout, vous êtes à l'académie depuis 2 jours. On a dit qu'on vous faisait faire des missions toutes simples. Je suis content que vous n'ayez pas cherché à retrouver le dernier objet. Si ça se trouve c'est un mage renégat qui l'a volé et là vous auriez été très en difficulté.<br />
	- Heu...On a essayé un peu de le chercher grâce à cet objet-là qu'il y avait à ramener.</p>
	<p>Tu montres le pisteur au professeur.</p>
	<p>- Un pisteur ! Eh bien, c'est une coïncidence incroyable que vous ayez eu cet objet et que vous l'ayez reconnu. Mais cela aurait pu très mal se terminer ! J'avais bien dit : on ne prend pas de risque, on essaie juste de lancer ses sorts.</p>
	<p>Il vous regarde en fronçant les sourcils, puis se remet à sourire :<br />
	- Bon, vous n'avez pas non plus pris trop de risques, donc je ne vais pas trop me fâcher.</p>
	<p>Vous racontez alors toute la piste que vous avez remontée et Qobur appelle un troisième année pour qu'il aille au village de Paumet avec son équipe pour mettre tout ça au clair.</p>
	<p>Finalement vous avez probablement bien fait de ne pas suivre la piste dans les bois.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="76">Se reposer et aller au prochain cours</div>
  </div>

</div>
