<div class="num num-1-1-67">

  <div class="text">
    <h1>- 67 -</h1>
    <p>La piste se poursuit dans la forêt, mais c'est assez dur d'avancer. Il y a des branches au niveau du visage, vous êtes obligés d'avancer à moitié accroupi. La piste vous oblige même à passer par-dessus un tronc d'arbre immense. Mais une fois tous passé derrière, CRAC ! Le sol s'effondre sous vos pieds. Il y avait un trou recouvert de branchages que vous avez fait céder avec votre poids.<br />
	<span class="magie-vent">- Vite, tout le monde : accrochez-vous à moi ! cries-tu.<br />Et tu lances ton sort de Chute contrôlée le plus vite possible.</span>
	<span class="magie-pas-vent">Tu entends <span class="mage-vent"></span> crier : &laquo; Vite, tout le monde : accrochez-vous à moi ! &raquo;<br />Et il lance un sort le plus vite possible.</span>
	</p>
  </div>

  <div class="choix">
    <div class="ch chute-contro" data-go="70">Lancer le sort de Chute Contrôlée</div>
    <div class="ch chute-autre" data-go="71">S'accrocher à <span class="mage-vent"></span></div>
  </div>

</div>