<div class="num num-1-1-68">

  <div class="text">
    <h1>- 68 -</h1>

    <p class="def-bagarreur">Tu te jettes sur lui et le fais tomber. En roulant par terre tu le plaques au sol. Il tente de prendre une branche mais tu lui prends le poignet le fait tourner pour qu'il soit face au sol et lui bloque son bras dans le dos. Tes compagnons arrivent à ce moment précis pour qu'il n'ait plus d'espoir de pouvoir s'enfuir.</p>
    <p class="def-bagarreur">Vous le ramenez jusqu'à sa maison où il vous rend l'objet magique qu'il avait volé. Finalement ce n'était pas un test de Qobur mais un vrai voleur. Vous ramenez Tobbias auprès du maire qui vous promet de le punir sévèrement. Il est complètement désolé de la situation surtout qu'il sait qu'il a été négligent pour garder les objets magiques de manière sécurisée.</p>
    <p class="def-bagarreur">Vous repartez donc en direction de l'académie avec les 5 objets magiques. <span class="chef hidden">Tu es particulièrement content<span class="sexe sexe-fille">e</span> par ta performance de chef, et l'arrestation musclée de Tobbias.</span></p>
    <p class="def-bagarreur middle">*</p>
    <p class="def-bagarreur">Vous ramenez Miguel dans son enclos et allez faire votre rapport à Qobur tout en lui rendant les 5 objets.<br />
	- C'est très contrariant. Vous avez pris de gros risques inutilement. &raquo; vous dit Qobur. Si ce Tobbias avait été un mage renégat qui voulait utiliser l'objet vous auriez pu avoir de très gros problèmes. <br />
	- On pensait que c'était un test… commença <span class="grp1-3"></span><br />
	- Je ne fais pas faire un test après 2 jours à l'académie ! Vous êtes encore en apprentissage bon sang.<br/><br />
	Qobur est très en colère. Il se retourne vers <span class="chef hidden">toi</span><span class="cheh hidden"><span class="cheh-nom"></span></span> et déclare :<br />
	- Tu étais chef d'équipe. C'est donc toi qui dois assumer cette prise de risque. Tu devras t'occuper des familiers tous les soirs pendant 10 jours.<br />
	- Ha...mais on a tout réussi. On l'a arrêt...<br />
	- Ce n'est pas discutable ! &raquo; dit sèchement Qobur.<br /><br />
	<span class="chef hidden">Tes compagnons repartent et au moment où tu comptais les suivre, le professeur te retient par l'épaule.<br />
	- Néanmoins, bravo pour l'efficacité de la mission. Il faut juste que tu comprennes qu'un de tes compagnons aurait pu être blessé gravement voire pire. Aurais-tu pu gérer la situation dans ce cas-là ?<br />
	- Je comprends, je serai plus prudent<span class="sexe sexe-fille">e</span> à l'avenir.<br />
	- Très bien, tu restes chef d'équipe mais je te le redis : prends le moins de risque possible.</span>
	<span class="cheh hidden">Tu repars avec tes compagnons, mais <span class="cheh-nom"></span> reste pour parler un peu plus avec Qobur. Pas facile d'être chef d'équipe.</span>
	</p>

	<p class="def-pas-bagarreur">Tu fais trébucher Tobbias, tombant au sol en même temps que lui. Au moment de te relever tu vois que Tobbias a ramassé un bâton et te donne un grand coup sur la tête. Tout devient noir, tu perds connaissance.</p>
	<p class="def-pas-bagarreur">Quand tu reviens à toi <span class="mage-terre"></span> est en train de lancer un sort de Guérison sur toi. Tu as un peu la tête qui tourne mais tu n'as plus mal nulle part.<br />
	- Tu nous as fait peur. Tu avais plein de sang qui coulait sur le côté de ton crâne.<br />
	- Ha ? &raquo; Tu touches ta tête et tu sens une grosse croûte là où tu t'es fait frapper.<br />
	- On l'a perdu de vue, qu'est-ce qu'on fait ? demande <span class="grp1-1"></span>
	</p>
	<p class="def-pas-bagarreur">Tu ouvres ta main et montres que tu as réussi à arracher un morceau du vêtement de Tobbias.<br />
		<span class="magie-eau">- Ça devrait suffire pour relancer un sort de Vision de Rêve. On va le débusquer.</span>
		<span class="magie-pas-eau">- Ça devrait suffire pour relancer un sort de Vision de Rêve, pas vrai <span class="mage-eau"></span> ?</span>
	</p>

  </div>

  <div class="choix">
    <div class="ch def-bagarreur" data-go="76">Se reposer et aller au prochain cours</div>
    <div class="ch def-pas-bagarreur" data-go="72">Débusquer Tobbias avec un sort de Vision de Rêve</div>
  </div>

</div>
