<div class="num num-1-1-70">

  <div class="text">
    <h1>- 70 -</h1>

    <p>Tous tes compagnons s'accrochent à toi. Tu récites le sort et <span class="energie-verte hidden">… tu n'arrives presque pas à freiner la chute. Vous tombez rapidement.
	<span class="av-sportif">Tu arrives quand même à atterrir le premier sur tes pieds et tente de rattraper les autres au vol. Ça ne fonctionne bien évidemment pas bien, tes trois collègues te tombant dessus en t'écrasant. Au moins tu leur as évité de se faire mal mais toi tu es par terre avec les jambes recouvertes d'ecchymoses. <span class="mage-terre"></span> s'approche de toi et lance alors son sort de Guérison. Instantanément tes jambes ne te font plus souffrir.<br />
	- Merci pour la réception <span class="tonnom"></span>. Je nous voyais déjà tous en bouilli, rigola <span class="grp1-3"></span>.<br />
	- Ouais c'est quand même rude de tous vous recevoir sur la figure comme ça. Heureusement que tu avais ce sort <span class="mage-terre"></span>, merci.
	</span>
	<span class="av-pas-sportif"> Et vous vous effondrez tous au fond du trou comme des crêpes. <br />
	- Haaaaaaaaa. La vache, je crois qu'on est dans un trou. Tout le monde va bien ? demande <span class="grp1-1"></span><br />
	- Ouais, moi ça va je vais vous lancer mon sort pour vous guérir. dit <span class="mage-terre"></span>.<br />
	En passant auprès de chacun des membres du groupe <span class="mage-terre"></span> lance son sort de Guérison et soulage tout le monde.
	</span></span><span class="energie-noire hidden">... incroyable : malgré le poids des autres accrochés à toi tu arrives à ralentir la chute. Mais tu sens que tu dois canaliser beaucoup d'énergie. En arrivant lentement au fond du trou tu dois reprendre ton souffle.<br />
	- Eh ben, merci <span class="tonnom"></span>. Impressionnant ton sort! dit <span class="grp1-2"></span></span>.
	</p>
    <p>Le trou fait bien 4 mètres de profondeur. <span class="av-sportif">Même toi qui est sporti<span class="sexe sexe-garcon">f</span><span class="sexe sexe-fille">ve</span> tu aurais du mal à remonter.</span></p>
    <p>- Regardez : les branches qui recouvraient le trou ont été taillées. Ce truc était un piège ! dit <span class="grp1-1"></span>.<br />
	- Ça fait vraiment sadique si c'est un test du prof. se demanda tout haut <span class="grp1-3"></span>.<br />
	- Dans tous les cas faut remonter.</p>

	<p><span class="mage-feu"></span> commence par lancer un sort sur un bâton cassé au fond du trou. Une douce lumière blanche apparaît et vous permet d'y voir un peu plus clair. Miguel n'a pas l'air d'être au fond du trou. Vous décidez de donner un coup dans le sifflet pour voir s'il entend quelque chose. Quelques secondes plus tard vous voyez sa tête émergée du trou en train de ruminer quelque chose.<br />
	- Miguel ! Tu peux nous lancer une corde ? lui demanda <span class="grp1-3"></span>.<br />
	- C'est un chèvre, tu crois vraiment qu'elle va te comprendre ? En plus où veux-tu qu'elle trouve une corde ? s'irrita <span class="grp1-1"></span>.<br />
	- Moi je peux lui en créer une. lui répondit <span class="mage-terre"></span>.</p>
	<p>Avec son sort de racines, <span class="mage-terre"></span> put créer une sorte de "petite corde". Que vous lancez alors à Miguel.</p>
	<p>- Bon d'accord, génial, et comment Miguel va-t-il attacher cette corde maintenant ? demandas-tu</p>
	<p>Miguel commence alors à mâchonner la racine, c'est vrai qu'il mange tout, en laissant l'autre bout descendre dans le trou. L'occasion est parfaite : Miguel est en train de "tenir" la racine pour que quelqu'un remonte. Le plus léger d'entre vous s'accroche à la racine et Miguel, qui croit qu'on veut lui voler, tire dessus très fort. Ainsi le groupe est sauvé du trou grâce au 5° membre de l'équipe : Miguel.</p>
	<p>- Je ne dirai plus jamais rien contre toi Miguel, tu nous as sauvé la vie. dis-tu.<br />
	- Bêêêê.<br />
	- Miguel a raison. Il faudrait peut-être continuer la piste. Mais faites attention : y a quelqu'un qui veut pas qu'on le suive je crois. dit <span class="grp1-3"></span><br />
	- Finalement le "groupe des chèvres" comme nom c'était pas mal. dit <span class="grp1-2"></span>.<br />
	- Non. Arrête avec tes noms de groupe débiles.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="72">Poursuivre la piste avec l'objet magique</div>
  </div>

</div>
