<div class="num num-1-1-72">

  <div class="text">
    <h1>- 72 -</h1>

    <p>La piste vous amène jusqu'à de petites falaises de pierres au milieu de la forêt. En les contournant vous voyez apparaitre une petite grotte de laquelle s'échappe un petit ruisseau. C'est assez calme mais vous notez des traces de pas dans la boue. <br />
	- Il y a quelqu'un ici. On lance l'assaut sur la grotte? demanda <span class="grp1-3"></span><br />
	- Oui, préparez-vous et en avant. <span class="chef hidden">lanças-tu</span><span class="cheh hidden">lança <span class="cheh-nom"></span></span>.</p>
	<p><span class="magie-feu">Tu récites ton</span><span class="magie-pas-feu"><span class="mage-feu"></span> récite son</span> sort de lumière pour avoir une torche puis vous vous engouffrez plus profondément dans la grotte.</p>
	<p>C'est plus grand que ce que vous pensiez et après quelques minutes vous commencez à voir une lumière un peu plus loin, ainsi que quelqu'un qui a l'air de se parler à lui-même.</p>
	<p>- Voilà. Caché ici personne le trouvera. Faut que je file maintenant avant que quelqu'un ne vienne.</p>

	<p>Vous éteignez votre lumière en comprenant qu'il va revenir dans votre direction. Il y a des gros rochers derrière lesquels vous pouvez facilement vous cacher pour tendre une embuscade. L'individu se rapprochant vous entendez plus distinctement ses bruits de pas, et sa lampe éclaire davantage la grotte que ce que votre petite lumière faisait. Si vous ne faites pas de bruit il n'y a aucune chance qu'il vous voit.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="73">L'attaquer quand il passe à votre niveau</div>
    <div class="ch" data-go="74">Le laisser passer et aller chercher ce qu'il a caché</div>
  </div>

</div>
