<div class="num num-1-1-73">

  <div class="text">
    <h1>- 73 -</h1>

    <p>Au moment où il passe, <span class="chef hidden">tu fais</span><span class="cheh hidden"><span class="cheh-nom"></span> fait</span> un signe à tout le monde pour lui sauter dessus. L'homme est tellement surpris qu'il laisse tomber sa torche dans le ruisseau et plonge la grotte dans le noir.</p>
	<p><span class="magie-feu">Tu te décides alors à lancer ton</span><span class="magie-pas-feu"><span class="mage-feu"></span> lance alors son</span> sort de Main de flammes. Vous y voyez tous un peu plus clair et l'homme lance un cri de terreur et tente de s'échapper.</p>
	<p>Mais c'était sans compter sur <span class="magie-eau">ton sort de Glaciation</span><span class="magie-pas-eau"> le sort de Glaciation de <span class="mage-eau"></span></span>. Vous arrivez à geler un peu le ruisseau, l'homme glisse dessus et vous n'avez plus aucun mal à l'arrêter. Il s'est assommé en tombant par terre mais il va bien.</p>
	<p>Il n'a rien sur lui mais en allant chercher un peu plus loin vous trouvez un tas de cailloux un peu bizarre. En les soulevant un à un vous découvrez l'objet magique que vous recherchiez.</p>
	<p>- Et voilà, mission accomplie on dirait. soufflas-tu</p>
	<p>Vous ramenez l'individu auprès du maire. Tobbias le fermier avait bien volé l'objet magique pour essayer de le revendre. Finalement ce n'était pas un test de Qobur mais un vrai voleur. Mr Guyot vous promet de le punir sévèrement. Il est complètement désolé de la situation surtout qu'il sait qu'il a été négligent pour garder les objets magiques de manière sécurisée.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="75">Rentrer à l'académie</div>
  </div>

</div>
