<div class="num num-1-1-74">

  <div class="text">
    <h1>- 74 -</h1>
	
    <p>Au moment où il passe, <span class="chef hidden">tu fais</span><span class="cheh hidden"><span class="cheh-nom"></span> fait</span> signe à tout le monde de se cacher silencieusement.</p>
	<p>Quand vous ne le voyez plus du tout vous sortez tous de votre cachette pour vous diriger dans le fond de la grotte. Vous remarquez un tas de cailloux un peu bizarre. En les soulevant un à un vous découvrez l'objet magique que vous recherchiez.</p>
	<p>- Et voilà, mission accomplie on dirait. soufflas-tu</p>
	<p>Satisfait de ce résultat final sans violence vous vous dites que vous pouvez rentrer à l'académie maintenant.</p>
	
  </div>

  <div class="choix">
    <div class="ch" data-go="75">Rentrer à l'académie</div>
  </div>

</div>