<div class="num num-1-1-75">

  <div class="text">
    <h1>- 75 -</h1>

	<p>Le chemin du retour est rapide, un paysan vous prend avec lui dans sa charrette gentiment. C'est facile de se déplacer dans cette partie du pays.</p>
    <p>En arrivant, vous rentrez Miguel dans son enclos et allez faire votre rapport à Qobur tout en lui rendant les 5 objets.<br />
	- C'est très contrariant. Vous avez pris de gros risques inutilement. &raquo; vous dit Qobur. Si ce Tobbias avait été un mage renégat qui voulait utiliser l'objet vous auriez pu avoir de très gros problèmes. <br />
	- On pensait que c'était un test… commença <span class="grp1-3"></span><br />
	- Je ne fais pas faire un test après 2 jours à l'académie ! Vous êtes encore en apprentissage bon sang.<br/><br />
	Qobur est très en colère. Il se retourne vers <span class="chef hidden">toi</span><span class="cheh hidden"><span class="cheh-nom"></span></span> et déclare :<br />
	- Tu étais chef d'équipe. C'est donc toi qui dois assumer cette prise de risque. Tu devras t'occuper des familiers tous les soirs pendant 10 jours.<br />
	- Ha...mais on a tout réussi. On l'a arrêt...<br />
	- Ce n'est pas discutable ! &raquo; dit sèchement Qobur.<br /><br />
	<span class="chef hidden">Tes compagnons repartent et au moment où tu comptais les suivre, le professeur te retient par l'épaule.<br />
	- Néanmoins, bravo pour l'efficacité de la mission. Il faut juste que tu comprennes qu'un de tes compagnons aurait pu être blessé gravement voire pire. Aurais-tu pu gérer la situation dans ce cas-là ?<br />
	- Je comprends, je serai plus prudent<span class="sexe sexe-fille">e</span> à l'avenir.<br />
	- Très bien, tu restes chef d'équipe mais je te le redis : prends le moins de risque possible.</span>
	<span class="cheh hidden">Tu repars avec tes compagnons, mais <span class="cheh-nom"></span> reste pour parler un peu plus avec Qobur. Pas facile d'être chef d'équipe.</span>
	</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="76">Se reposer et aller au prochain cours</div>
  </div>

</div>
