<div class="num num-1-1-76">

  <div class="text">
    <h1>- 76 -</h1>

  	<p>Le lendemain, au premier cours, Qobur vous fait un petit récapitulatif de vos missions. L'équipe de Lasseni n'a pas eu de problèmes particuliers et a pu engranger un peu d'expérience sur leurs sorts. Qobur rappelle l'importance de la prudence tout en racontant votre mésaventure. <span class="grp1-1"></span> lève la main pour poser une question.</p>
  	<p>- Monsieur, comment ça se fait que tous nos sorts qu'on a lancés pendant la mission ont été réussis facilement ? Aujourd'hui si je réessaie j'y arrive beaucoup moins bien.<br />
  	- Hum, oui c'est étrange normalement l'académie est un lieu facile pour lancer un sort. Ni trop chaud ni trop froid. Mais peut-être que Paumet était un village magiquement parfait pour votre type de magie.<br />
  	- Ça peut pas venir de Miguel ? demandes-tu.<br />
  	- Ha ha ha ! Miguel est un familier puissant mais quand même il n'est pas capable de faire ça, rigole Qobur. Non ça veut dire que même si vous avez lancé des sorts parfaitement hier vous devez continuer à étudier.</p>
    <p class="middle">*</p>
    <p>La journée continue, avec ton groupe vous décidez d'un commun accord de renommer votre groupe : "Les 5 mages unis" ou "Les 5 MU" pour le dire plus vite (vous avez décidé d'inclure Miguel comme membre officiel du club).</p>
    <p>Les jours passent, sans que d'autres problèmes n'arrivent. Vous profitez des missions pour vous entraîner à vos sorts. Tu t'en sors de mieux en mieux. Mais finalement vous n'êtes jamais arrivés à reproduire des sorts aussi puissants que lors de votre première mission. Bien entendu vous avez retenu la leçon et dès que quelque chose semble bizarre dans une mission vous retournez à l'académie en informant Qobur.</p>
    <p>Lasseni montre très vite qu'elle est la plus douée des premières années, après quelques mois seulement elle a déjà appris parfaitement les sorts de glace et de terre. Mais elle est toujours aussi insupportable. <span class="av-populaire">Elle est particulièrement odieuse avec toi et te rabaisse sans arrêt.</span></p>
    <p>Les autres "premières années" sont par contre super-sympas. <span class="nom-autre"></span>, <span class="sexe sexe-fille">ta collègue de chambre t'emmène régulièrement à la marina pour aller manger plein de trucs dont tu n'as jamais entendu parler. Vous avez décoré votre chambre avec des gravures de Ymir et Zaïra, elle aussi est une grande fan des deux mages.</span><span class="sexe sexe-garcon">ton collègue de chambre t'emmène régulièrement au port pour griller quelques poissons. Il t'apprend à sculpter le bois, il est très doué pour tout ce qui est manuel.</span>.</p>
    <p>Quand vous êtes en mission tu as appris à connaitre un peu plus ton groupe <span class="grp1-1"></span> est <span class="grp1-1-fille">sérieuse et réfléchie</span><span class="grp1-1-garcon">sérieux et réfléchi</span>, <span class="grp1-2"></span> est <span class="grp1-2-fille">marrante et désorganisée</span><span class="grp1-2-garcon">marrant et désorganisé</span>, <span class="grp1-3"></span> est <span class="grp1-3-fille">timide mais toujours prête à aider les autres</span><span class="grp1-3-garcon">timide mais toujours prêt à aider les autres</span>.</p>
  </div>

  <div class="choix">
    <div class="ch av-riche" data-go="77">Continuer</div>
    <div class="ch av-studieux" data-go="78">Continuer</div>
    <div class="ch av-populaire" data-go="79">Continuer</div>
    <div class="ch av-courageux" data-go="80">Continuer</div>
    <div class="ch av-sportif" data-go="81">Continuer</div>
  </div>

</div>
