<div class="num num-1-1-77">

  <div class="text">
    <h1>- 77 -</h1>

  	<p>Un jour, alors que tu viens de finir de manger avec tes amis à la cafétéria, tu vois ta mère qui te fait signe de venir la voir. Ça ne te dit rien de bon, tu as réussi à l'éviter autant que possible jusqu'à maintenant. Tu laisses tes amis et va la voir en trainant les pieds.</p>
  	<p>- <span class="tonnom"></span>, comment ça se passe ton année pour l'instant ? demande-t-elle.</p>
    <p>Ça va faire exactement 2 mois que tu as commencé les cours à l'académie et c'est seulement maintenant qu'elle te pose la question. Enfin, mieux vaut tard que jamais.</p>
    <p>- Pour le moment tout va bien. Les cours sont très intéressants et je me suis fait des amis.<br />
    - J'ai vu ton professeur, Mr Qobur. Pour l'instant il me dit que tu es du même niveau que les autres mais qu'une des filles de "première année" est vraiment au-dessus de toi.<br />
    - Tu parles de Lasseni ? Oui elle est très douée mais elle est vraiment horrib...<br />
    - Tu ne crois pas qu'il serait temps d'arrêter ? te coupe-t-elle.</p>
    <p>Tu la regardes, en essayant de savoir ce qu'elle veut dire.</p>
    <p>- Dans notre famille, on est les meilleurs ou alors on n'est rien. Ton père a aussi commencé à être mage, quand il a vu qu'il n'était pas le meilleur il a changé de métier. Maintenant il possède le plus grand troupeau de Sarambe. Tu devrais abandonner la magie et prendre exemple sur lui.</p>
    <p>Tu restes bouche bée. Tu savais que ta mère ne te ferait pas de cadeau mais elle dépasse les bornes. Tu es au bord des larmes, tu sais très bien que ses remarques sont injustes. D'accord Lasseni est plus douée mais tu es loin d'être nulle.</p>
    <p>- Tu ferais mieux d'abandonner la magie. Quand tu étais petite tu aimais bien les fleurs, tu devrais peut-être te reconvertir en fleuriste. <br />
      - … Quoi ?! Je...<br />
      - Je connais quelqu'un qui recherche une personne pour l'aider d'ailleurs, ça t'intéresse ?</p>
    <p>Tu ne vois aucun sourire sur le visage de ta mère. Elle ne se moque pas, elle est vraiment sérieuse.</p>
    <p>- Désolé<span class="sexe sexe-fille">e</span> si tu ne crois pas en moi. Je continue la magie, lui réponds-tu dans une crispation de colère.<br />
      - Hum… d'accord. Fais-moi signe si tu changes d'avis. Il n'y a pas de honte à abandonner quand on voit qu'on ne peut pas aller plus loin.</p>
    <p>Ta mère tourne les talons et files en direction de l'escalier de la grande tour. Cette fois tu es bien décidé<span class="sexe sexe-fille">e</span> à lui montrer ce que tu sais faire. Lasseni finira l'année derrière toi.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="82">Continuer</div>
  </div>

</div>
