<div class="num num-1-1-78">

  <div class="text">
    <h1>- 78 -</h1>

  	<p>De temps en temps Eran passe à l'académie pour te voir. Il est très fier d'avoir un<span class="sexe sexe-fille">e</span> mage dans sa famille. Pour te faire un peu d'argent tu aides l'académie à s'occuper des familiers. Tu as toujours adoré les animaux donc ça ne te dérange pas. Et ça a permis à Eran de reprendre ses études de magie. Peut-être que l'année prochaine il pourra intégrer l'école avec toi.</p>
  	<p>Grâce à ce travail à la ferme de l'académie, tu es devenu<span class="sexe sexe-fille">e</span> <span class="sexe sexe-fille">la</span><span class="sexe sexe-garcon">le</span> préféré<span class="sexe sexe-fille">e</span> de Miguel. En mission il reste toujours avec toi. Et contrairement à ce que disait Qobur : vous ne l'avez jamais perdu pour l'instant. </p>
  	<p>Tu t'occupes aussi de Turbo, le canidin de l'équipe 1. Il est très gentil mais tu as l'impression qu'il ne comprend pas grand-chose à ce que tu dis. Ou alors c'est peut-être Miguel qui est particulièrement attentif, car lui, il fait tout ce que tu lui demandes. Tu lui amènes souvent des choux rouges comme il aime, mais pas seulement. Il aime tout sauf les sucreries.</p>
    <p>Ce jour-là il pleut à torrents. Les bêtes ne sont pas rentrées dans leur espace couvert, tu dois te dépêcher mais le cours dure plus longtemps que d'habitude, tout ça parce que Lasseni a encore demandé des informations supplémentaires. Le cours est fini, vite ! Mais le professeur Qobur t'arrête et te parle d'un parchemin à amener aux mages scribes du premier étage. Aujourd'hui tu sens que Miguel ne va pas être de bonne humeur.</p>
    <p>Une fois les parchemins donnés, tu te précipites à la ferme. La pluie s'est transformée en orage, tu te couvres la tête avec le seau en bois de la cafétéria. L'enclos est en vue, les bêtes font un bruit pas possible, car elles ont peur. Un éclair zèbre le ciel et illumine la ferme l'espace d'un instant. </p>
    <p>Tu t'arrêtes immédiatement. Non tu as eu la berlue. Un autre éclair frappe la montagne au loin et te permet de le revoir : la pluie ne tombe pas sur les animaux. Il pleut tout autour mais pas dans un petit cercle autour de Miguel qui rumine tout calmement quelque chose. Certainement qu'un mage est venu poser un sort pour les protéger de la pluie. Miguel tourne la tête et te voit lorsqu'un troisième éclair illumine toute la ferme. À ce moment là la pluie s'abat alors sur tout le petit troupeau, faisant hurler les bêtes.</p>
    <p>Tu te précipites pour les rentrer dans leur espace couvert. Tu donnes à manger à tout le monde tout en regardant Miguel du coin de l'œil. Tu finis par t'approcher de lui, avec un épi de maïs.</p>
    <p>- Tient c'est pour toi, lui dis-tu en mettant le maïs devant son nez et en lui caressant la tête.<br />
      Il te regarde fixement. Pour une fois il ne se jette pas sur sa nourriture.<br />
      - C'est quand même pas toi qui a arrêté la pluie … ? Non, c'est pas possible t'es juste un familier.</p>
    <p>Certainement que tu es arrivé<span class="sexe sexe-fille">e</span> juste au moment où le sort se terminait. Miguel n'est qu'une chèvre il ne peut pas incanter de sort. Tu finis ton travail très tard ce soir-là en décidant de ne pas accorder d'importance à ce qui s'était passé plus tôt.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="82">Continuer</div>
  </div>

</div>
