<div class="num num-1-1-79">

  <div class="text">
    <h1>- 79 -</h1>

    <p>Un jour où il fait particulièrement chaud, tu proposes à ton équipe d'aller manger quelques glaces à la marina. Annette et Rodolphe sont de passage à l'académie pour livrer des légumes. Pour Annette c'est la toute première fois qu'elle pose les pieds ici. C'était inévitable : elle adore l'endroit. Ils t'ont amené une tarte au chocolat, spécialité de la mère d'Annette, que tu as toujours adorée. La journée est particulièrement réussie et Annette et Rodolphe repartent pour Sarambe contents.</p>

    <p>En rentrant à l'école vous tombez sur Lasseni qui, elle, revient de la bibliothèque. Elle vous lance un regard coupable puis reprend son chemin sans vous parler.</p>

    <p>- C'était quoi ça ? s'exclame <span class="grp1-2"></span>. Qu'est-ce qu'on t'a fait enfin ?</p>

    <p>Lasseni stoppa net. <br />
      - J'ai vraiment l'impression que c'est des vacances pour vous ici. Vous n'êtes pas sérieux. Toujours à vous amuser. Pas étonnant que je sois la seule à avoir appris des sorts supplémentaires.<br />
      - On étudie à fond figure-toi. Mais de temps en temps il faut aussi se détendre, continue de s'énerver <span class="grp1-2"></span>.<br />
      - Hum. Oui je suppose que pour des gens qui ne veulent devenir qu'un petit mage de campagne ça peut suffire.<br />
      - Hey !! Je serai un<span class="grp1-2-fille">e</span> grand<span class="grp1-2-fille">e</span> mage ! Mais tout le monde n'est pas né avec des pouvoirs fabuleux, tout le monde n'est pas descendant de Ymir et Zaïra.</p>

    <p><span class="grp1-2"></span> est allé un peu loin. Tout le monde l<span class="grp1-2-fille">a</span><span class="grp1-2-garcon">e</span> regarde. Depuis le jour où on t'a dit qu'elle était peut-être la descendante de tes idoles, personne n'avait eu le courage de lui demander pour confirmer. Lasseni lance un regard sombre à <span class="grp1-2"></span>.</p>

    <p>- Qui t'a dit ça ? Pourquoi tu crois que Ymir ou Zaïra sont mes ancêtres ?<br />
      - Quoi c'est pas vrai peut-être ? C'est facile d'être première de la classe quand tu as la magie qui coule dans tes veines depuis la naissance.</p>

    <p>Lasseni s'avance, attrape <span class="grp1-2"></span> par le col de sa tunique et lui dit sèchement.<br />
      - Parce que tu crois que tout m'ait acquis ? Si t'as pas bien vu, je bosse tous les jours mes sorts, j'essaie d'en faire toujours plus. La magie qui coule dans les veines c'est du n'importe quoi. Ça n'existe pas ! Pour être un mage puissant faut étudier et étudier encore. Mais je perds mon temps à essayer de t'expliquer.</p>

      <p>Lasseni finit sa phrase presque en pleurs. <span class="grp1-2"></span> ne dit plus rien.</p>

      <p>- Et pour ton information, même si Ymir et Zaïra étaient mes ancêtres je ne veux rien recevoir de leur part. Je les déteste.</p>

      <p>En disant cela, Lasseni se retourne et repars vers l'école en courant. Tu n'as pas bien compris si Ymir et Zaïra étaient vraiment les grands-grands-grands-grands-parents de Lasseni mais tu te demandes pourquoi elle ne les aime pas. Toi tu donnerais tout pour faire partie de leurs descendants. </p>

  </div>

  <div class="choix">
    <div class="ch" data-go="82">Continuer</div>
  </div>

</div>
