<div class="num num-1-1-8">

  <div class="text">
    <h1>- 8 -</h1>
    <p>Espéride te tiens à l'écart pour que personne ne puisse te voir. La cérémonie s'effectue avec des pleurs pour les recalés ou des cris de joie pour les élèves retenus.</p>
    <p>8 personnes sont bien appelées, 8 nouveaux élèves. Mais pour l'instant tu n'es pas appelé<span class="sexe sexe-fille">e</span>.</p>
    <p>On remet son grimoire à chaque nouvel élève, tu en crèves de jalousie. Quand est-ce que tu auras le tien ?</p>
    <p>La cérémonie se termine et seuls restent les 8 élèves sélectionnés ainsi que les mages enseignants. Espéride te fais signe de t'avancer et prend la parole :</p>
    <p>- Cet<span class="sexe sexe-fille">te</span> élève sera intégré<span class="sexe sexe-fille">e</span> à la promotion de cette année. Nous aurons donc 9 nouveaux cette année.<br />
    - Comment ça ? &raquo; s'interloque une des élèves qui a été classée numéro 1 il te semble.<br />
    - Disons que ses compétences sont trop intéressantes pour qu'on <span class="sexe sexe-fille">la</span><span class="sexe sexe-garcon">le</span> laisse tomber comme ça. Il intégrera l'académie et rejoindra les cours de magie du vent. &raquo; lui expliqua Espéride</p>
    <p>Tu vois bien que les 8 élèves ne sont pas tellement contents de voir un tricheur les rejoindre.</p>

    <p class="av-populaire">- Je suis vraiment désolé<span class="sexe sexe-fille">e</span>. Je me doute que vous pensez que je ne mérite pas ma place. Mais je vous promets que j'en ferai deux fois plus pour que cette place ne soit plus dû à la gentillesse de la professeure Mazénian. &raquo;  fais-tu en t'excusant une nouvelle fois.</p>
    <p class="av-populaire">Tu vois déjà que certains t'adressent des regards approbateurs ou souriant. Finalement ils n'ont pas l'air de trop t'en vouloir. Sauf Lasseni, la fille classée numéro 1, qui te lance un regard noir désapprobateur.</p>


    <p>Un autre mage te tends un grimoire.</p>
    <p>- Voici ton grimoire, <span class="tonnom"></span>. Tu le rempliras avec les sorts que tu apprendras, et tout ce qui te sembleras utile.</p>

    <p class="av-studieux">Des étoiles plein les yeux tu rentres chez toi. De loin, tu vois Eran qui t'attends devant chez toi en train de repailler une chaise. Tu lèves bien haut ton grimoire pour qu'il le voit. Il sourit alors comme tu ne l'avais jamais vu auparavant.</p>
    <p class="av-studieux">Vous faites la fête tout l'après-midi. Dès demain tu seras obligé de déménager à l'académie, ça te fais un petit pincement au cœur de laisser Eran à Sarambe mais tu savais qu'il le faudrait si tu arrivais à passer l'examen.</p>

    <p class="av-populaire">Cela faisait longtemps qu'un enfant de Sarambe n'avait pas été reçu à l'académie d'Azalys. Annette et Rodolphe ont prévu un buffet et tout ton quartier est invité pour fêter l'événement. Tu sais d'ailleurs que Rodolphe fait souvent des allers-retours à l'académie pour livrer les légumes de son père. Tu ne seras donc pas en terre totalement inconnue là-bas.</p>
    <p class="av-populaire">Annette te dit également que te connaissant elle est sûre que tu te feras plein d'amis dans l'académie.</p>
    <p class="av-populaire">La fête se termine tard mais il faut être en forme pour demain. Tu es attendu<span class="sexe sexe-fille">e</span> à l'académie pour l'accueil des nouveaux « premières années ».</p>

    <p class="av-riche">A ton retour chez toi Médeya est folle de joie quand tu lui apprends la bonne nouvelle. Quand ton père est revenu des pâturages il te félicite.</p>
    <p class="av-riche">- C'est bien <span class="sexe sexe-fille">ma fille</span><span class="sexe sexe-garcon">mon fils</span>. Je suis fier de toi, tu seras un<span class="sexe sexe-fille">e</span> grand<span class="sexe sexe-fille">e</span> mage comme ta mère. Mais tu ne dois pas te reposer sur tes lauriers, c'est maintenant que tout commence pour toi.</p>
    <p class="av-riche">Il a raison, être intégré à l'académie n'est pas suffisant. Ta mère le dirait également ; rentrer à l'académie c'est le plus facile. Devenir un grand mage ça c'est autre chose.</p>
    <p class="av-riche">D'ailleurs une mission spéciale a obligé ta mère à partir pour les montagnes enneigées. Elle n'a pas pu rentrer et ne sais pas encore que tu es accepté<span class="sexe sexe-fille">e</span> à l'académie.</p>
    <p class="av-riche">Demain tu dois déjà aller à l'académie, c'est l'accueil des nouveaux élèves.</p>

    <p class="av-sportif av-courageux">Les élèves acceptés qui n'ont nul part où dormir à Sarambe sont confiés à Espéride.</p>
    <p class="av-sportif av-courageux">- Nous repartirons tous ensemble pour l'académie dès demain. Ce soir nous avons plantés des tentes pour nous tous à l'entrée de la ville pour dormir. D'ici là vous avez quartier libre.</p>

  </div>

  <div class="choix">
    <div class="ch av-studieux av-riche av-populaire" data-go="9">Dormir et partir à l'académie le lendemain</div>
    <div class="ch av-sportif av-courageux" data-go="9">Aller directement au camp et attendre le départ pour l'académie</div>
    <div class="ch av-sportif av-courageux" data-go="10">Aller flâner un peu dans la ville</div>
  </div>

</div>
