<div class="num num-1-1-80">

  <div class="text">
    <h1>- 80 -</h1>

  	<p>Une nuit, alors que le ciel est particulièrement clair et la température très agréable, tu t'endors très rapidement. Et tandis que tu fais un rêve très agréable tu entends <span class="nom-autre"></span> te chuchoter dans l'oreille :<br />
    - Réveille-toi. <br />
    - Hum… Qu'est-ce que tu veux <span class="nom-autre"></span>?</p>
    <p class="sipasmeme">Tu es encore complètement endormi<span class="sexe sexe-fille">e</span> tu te frottes les yeux et tu vois que <span class="nom-autre"></span> est bien emmitouflé<span class="sexe sexe-fille">e</span> dans ses draps.</p>
    <p class="simeme">Tu es encore complètement endormi<span class="sexe sexe-fille">e</span> tu te frottes les yeux et tu vois que <span class="nom-autre"></span> n'est plus dans son lit. Tu ne sais pas où <span class="sexe sexe-fille">elle</span><span class="sexe sexe-garcon">il</span> est passé<span class="sexe sexe-fille">e</span> mais <span class="sexe sexe-fille">elle</span><span class="sexe sexe-garcon">il</span> n'est plus là.</p>
    <p>- Si c'est une blague c'est pas drôle, commences-tu à lui dire.</p>
    <p>Mais aucune réponse de sa part. <span class="sipasmeme">Tu te décides à te lever pour aller lui arracher ses draps</span><span class="simeme">Tu te décides à te lever quand même</span> quand tu entends encore la voix :<br /><br />
      - Viens, suis-moi.</p>
    <p>Personne dans la pièce. Tu te retournes mais ne vois rien.</p>
    <p>- Viens, suis-moi. répètes la voix.<br /><br />
      Cette voix, tu l'as déjà entendue. C'est celle que tu avais perçue le premier jour. Quand tu avais posé tes mains sur le globe magique.</p>
    <p>- Viens, descends.<br /><br />
        La voix semble plus loin comme si un homme invisible était en train de partir. Tu décides de la suivre.</p>
    <p>La voix te fait descendre des dortoirs, te ramène petit à petit vers le jardin d'hiver. Duquel on a une vue magnifique sur toute la ville. Tout en la suivant tu remarques que la lune est bizarre cette nuit. Elle est toute rose. Tu n'avais jamais vu ça avant.</p>
    <p>Quelqu'un est accoudé au balcon ouest du jardin, c'est <span class="grp1-1"></span>. <span class="grp1-1-fille">Elle</span><span class="grp1-1-garcon">Il</span> se retourne vers toi quand tu arrives :<br /><br />
      - Toi aussi tu n'arrivais pas à dormir ? te dit-<span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span>.<br />
      - Heu… c'est pas toi qui … la voix ? commences-tu<br /><br />
      C'est vrai que tu n'entends plus la voix. Elle s'est tue en arrivant dans le jardin.<br /><br />
      - Hum ? Une voix ?<br />
      - Heu, non rien… hé hé. T'as vu la lune ? Elle est étrange, non ? dis-tu pour détourner la conversation.<br />
      - Moi aussi j'ai entendu une voix. Elle m'a réveillée et m'a amené ici. C'est là que j'ai vu la lune aussi. C'est bizarre non ?</p>
    <p>Oui c'est très bizarre. Quelqu'un vous a réveillé tous les deux pour vous amener là. Peut-être pour voir cette lune rose, tu ne sais pas bien. <span class="grp1-1"></span> a aussi envie de savoir qui était cette voix mais maintenant qu'<span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span> est là, <span class="grp1-1-garcon">il</span><span class="grp1-1-fille">elle</span> préfère regarder cette lune qui est terriblement belle et apaisante.</p>
    <p>Tu regardes encore un peu autour de toi mais tu n'aperçois personne. Tu décides de rester un peu aussi pour observer la lune. Sans rien dire, vous êtes côte à côte en train de la regarder. Puis, d'un coup, un rayon rose semble partir de lune pour atterrir derrière les montagnes. Puis plus rien, la lune est redevenue blanche, comme si tout ce qui s'était passé avant n'avait jamais existé. </p>
    <p><span class="grp1-1"></span> retourne dans sa chambre en te souhaitant bonne nuit. Tu fais de même tout en te posant plein de questions sur tout ce qui s'était passé.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="82">Continuer</div>
  </div>

</div>
