<div class="num num-1-1-81">

  <div class="text">
    <h1>- 81 -</h1>

      <p>Après quelques semaines tu apprends que l'académie dispose d'un club d'équitation draconique. Les membres du club ne montent pas de gros dragons mais seulement des dragon-fées, plus petits, multicolores et très rapides. Chaque année en fin d'année une course est organisée autour du lac et le vainqueur est traité en héros. Pas forcément besoin d'être mage, mais il faut posséder et pouvoir monter un dragon-fée. Ce qui n'est pas donné à tout le monde.</p>
      <p>Le club de l'académie dispose de 20 dragon-fées, c'est le plus gros club du pays. Les meilleurs chevaucheurs de dragon sont des élèves de l'école. Bien sûr quand un élève sait utiliser les sorts de vol ou de téléportation, il n'a plus besoin de dragon-fée. Et c'est pourquoi les grands mages ou les mages les plus puissants ne font pas parti du club.</p>

      <p>Tu te verrais bien essayer de devenir cavali<span class="sexe sexe-fille">ère</span><span class="sexe sexe-garcon">er</span> dragon et tu décides donc d'aller assister à un des entraînements. Le club est un peu en dehors de la ville. Il faut reprendre le pont et faire quelques kilomètres jusqu'à Port-dragon. C'est un petit hameau qu'on a baptisé comme cela à cause de la présence des dragon-fées. Quand tu arrives là-bas, les membres du club sont en train de regarder voler quelqu'un.</p>

      <p>Tu ne sais pas qui pilote ce dragon-fée, mais il a l'air extrêmement doué. Rapide, il fuse à la surface de l'eau, zigzague entre les mâts des bateaux servants de parcours d'obstacles. Il ne fait pas une erreur et se pose dans la cours du centre d'entraînement sous les vivas des autres membres du club.</p>

      <p>Le pilote descend de son dragon, donne une petite tape sur le poitrail de sa monture pour la féliciter et retire son casque et ses lunettes. Les cheveux courts et rouges, le teint halé par le soleil et souriant<span class="sexe sexe-garcon">e</span> <span class="sexe sexe-fille">le jeune homme</span><span class="sexe sexe-garcon">la jeune femme</span> tape dans les mains des autres membres. <span class="sexe sexe-fille">Il</span><span class="sexe sexe-garcon">Elle</span> a l'air juste un peu plus <span class="sexe sexe-fille">vieux</span><span class="sexe sexe-garcon">vieille</span> que toi et indubitablement <span class="sexe sexe-fille">il</span><span class="sexe sexe-garcon">elle</span> est très populaire - et <span class="sexe sexe-fille">beau</span><span class="sexe sexe-garcon">belle</span>.</p>
      <p>- Bravo Levy ! Tu as encore amélioré le record de vitesse de l'année. Si tu continue comme ça, tu vas battre le record d'Esteban Vento, dit le fils du dragon !<br />
      - Haha, merci Olda, mais je ne suis pas encore à son niveau. répondit Levy très humblement.<br />
      - En tout cas tu es largement <span class="sexe sexe-fille">le meilleur cavalier</span><span class="sexe sexe-garcon">la meilleure cavalière</span> dragon de l'école. dit un autre membre.</p>
      <p>Tu décides de t'approcher un peu et d'entamer la discussion avec les membres du club. Personne n'a l'air de faire attention à toi. Tout le monde n'a d'yeux que pour Levy. L'espace d'un instant ton regard croise le sien :<br />
      - Ola. Mais voici un visage inconnu. Faites un peu de place, s'écria Levy en s'avançant vers toi. Tu viens pour rejoindre le club ?<br />
      - Et bien, je comptais peut-être m'inscrire, oui. répondis-tu timidement en baissant un peu les yeux. Ton vol était magnifique.<br />
      - Merci, nous sommes ravi d'accueillir un nouveau membre. Pour savoir si tu es vraiment fait pour l'équitation draconique je te propose un vol d'essai.<br />
      Levy te tend la main, t'entraîne jusqu'à un stock de fournitures et te donne un casque et une paire de lunettes de vol.</p>
      <p>Puis il file a l'aire de repos des dragons et revient avec l'un d'entre eux.<br />
        - Elle s'appelle Typhon, mais ne t'inquiète pas, elle est très calme, tu verras. De toute façon, je t'accompagne. Tu ne risques donc rien.<br />
        Tu ne pensais pas faire un vol aussi vite, mais tu dois avouer que ça ne te déplaît pas. En plus avec Levy comme professeur !</p>
      <p>Tu te mets à l'avant sur Typhon, et Levy te rejoint derrière tout en agrippant les rênes. <span class="sexe sexe-fille">Il</span><span class="sexe sexe-garcon">Elle</span> te cale bien à l'abri entre ses bras pour pas que tu tombes et le décollage ne se fait pas attendre.</p>
      <p>Typhon file au-dessus du lac. Levy ne fait pas de zigzag comme tout à l'heure, mais les sensations sont quand même là. Puis le dragon-fée décolle plus haut. Tu vois même l'académie par au-dessus. La vue est magnifique. Le vent froid te fouette le visage, tu frissonnes un peu et Levy ressert ses bras pour te réchauffer. <br />
      - Désolé, c'est vrai qu'en vol, il fait bien plus froid, j'aurai dû te dire de mettre une veste. On va redescendre un peu.<br />
      Typhon fait un virage qui te fait des petits guilis dans le ventre, c'est grisant. Encore quelques minutes et vol et Levy vous fait atterrir à votre point de départ.</p>
      <p>- Alors tes impressions ? te demande Levy.<br />
      - C'est bon je m'inscris, c'est trop génial.</p>

      <p>Ainsi se termina ta première séance d'équitation draconique. Typhon sera ton dragon-fée attitré.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="82">Continuer</div>
  </div>

</div>
