<div class="num num-1-1-82">

  <div class="text">
    <h1>- 82 -</h1>

      <p>Le temps file et déjà la moitié de l'année est là. Tu lances tes sorts beaucoup plus facilement maintenant. Tu as même lu plein de livres sur les autres sorts de base. Ils n'ont pas l'air si dur que ça et tu te dis qu'en maîtriser un ou deux de plus d'ici la fin de l'année, comme Lasseni, doit être possible.</p>
      <p>Ce jour là, c'est jour de mission. Qobur donne sa mission à l'autre groupe puis revient vous voir :<br />
      - Aujourd'hui c'est une mission un peu spéciale pour vous. Spéciale, car la mission va durer plusieurs jours. Pas besoin d'emmener de tente, on vous donnera de l'argent pour vous arrêter dans les auberges sur le chemin.<br />
      - C'est classe ça ! Ça veut dire qu'on va aller loin ? On va jusqu'aux monts noirs ? demande <span class="grp1-2"></span>.<br />
      - Non, non. Les monts noirs, vous n'y irez pas de si tôt. Il faut avoir fini les études magie complètement pour être envoyé en mission là-bas. C'est vraiment trop dangereux. On vous envoie vers Darmen, un village au nord qui est assez loin.</p>
      <p>Mac Lumy t'a déjà parlé de ce village, ce n'est pas si loin que ça de chez lui si tu as bien compris.</p>
      <p>- La mission est simple : sur place vous attend un groupe de mage dirigé par Estrion. Ils ont trouvé une personne maudite qu'il va falloir ramener jusqu'à l'académie. Estrion, lui, doit absolument rester là-bas avec sa troupe de mages.<br />
        - Heu...une personne maudite ? <span class="def-peureux">dis-tu d'une voix hésitante</span><span class="def-pas-peureux">dit-<span class="grp1-3"></span> d'une voix hésitante</span>.<br />
        - Inutile de t'inquiéter. La malédiction n'affecte que cette personne : il est impossible de lui lancer le moindre sort. La magie n'a pas le moindre effet sur cette personne. Quand la magie le touche elle s'évapore. Nous voulons l'étudier un peu et donc c'est pourquoi il faut bien le ramener à l'académie. La mission n'est pas difficile, mais elle est importante. Vous avez compris ?<br />
        - Oui, chef ! répondez-vous d'une seule voix.<br />
        - Bien, alors en avant "Les 5 mages unis".</p>

      <p>Vous récupérer votre 5° membre à la ferme de l'académie et vous filez en direction du nord. Une charrette vous attend déjà.</p>
      <p class="av-sportif">Tu te dis que si tu pouvais emprunter Typhon tu arriverais là-bas en quelques heures. Mais les dragons ne doivent pas partir du lac, pour des raisons de sécurité. Ils sont gentils mais c'est quand même des animaux sauvages.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="83">Partir en direction de Darmen</div>
  </div>

</div>
