<div class="num num-1-1-83">

  <div class="text">
    <h1>- 83 -</h1>

      <p>La première journée de voyage est marrante, vous vous racontez des histoires, lancez quelques sorts pour vous entraîner, donnez une carotte à manger à Miguel. Hector, la personne qui vous amène jusqu'à Darmen, vous dit qu'elle doit vous aider jusqu'au bout. Il sera là pour vous raccompagner aussi. C'est un serviteur de l'école mais il ne connaît pas la magie. Il a l'air assez fort pour donner du fil à retordre à n'importe qui, il est grand et voyage avec une épée à sa ceinture. Comme la mission est importante l'académie vous a quand même donné tout ce qu'il vous faut pour réussir.</p>
      <p>Vous trouvez une petite auberge pour la nuit, le lit n'est pas aussi bon que celui de la chambre 11, mais il fait très bien l'affaire.</p>
      <p>Le deuxième jour est plus ennuyeux, il pleut tout du long. <span class="av-studieux">Tu jettes des regards à Miguel de temps en temps comme pour lui demander s'il pouvait arrêter la pluie mais rien n'y fait.</span> Vous êtes trempés. L'arrêt à une autre auberge est une bénédiction : vous pouvez faire sécher vos vêtements autour d'un bon feu. Vous vous dites que les missions longues de plusieurs jours sont quand même plus fatigantes que les autres. <span class="grp1-3"></span> se dit qu'<span class="grp1-3-fille">elle</span><span class="grp1-3-garcon">il</span> ne deviendra jamais mage <span class="grp1-3-fille">aventurière</span><span class="grp1-3-garcon">aventurier</span>, ils sont tout le temps dans ce genre de conditions et c'est trop ennuyant.</p>
      <p>Avec la pluie vous avez perdu un peu de temps, mais vous vous rapprochez de votre destination. Il fait plus froid, et il y a même un brouillard très épais quand vous arrivez finalement à Darmen en fin d'après-midi après trois jours de voyage.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="84">Arriver à Darmen</div>
  </div>

</div>
