<div class="num num-1-1-84">

  <div class="text">
    <h1>- Darmen -</h1>

      <p>Votre première chose à faire, c'est de retrouver Estrion. Hector vous dit qu'il devrait être à l'auberge avec son groupe. Il n'y a qu'une seule auberge à Darmen : "Le cochon qui boit". C'est le lieu le plus animé de la ville. En approchant, vous entendez effectivement une joyeuse agitation à l'intérieur.</p>
      <p>Incroyable ! Tu as l'impression que tout le village est dans l'auberge : c'est plein à craquer. Hector vous dit d'entrer, il va poser la charrette à l'écurie.</p>
      <p>En entrant, beaucoup de monde vous dévisage d'un air méchant. Vous ne savez pas trop pourquoi, pourtant vous portez les habits de l'académie, tout le monde devrait comprendre que vous êtes des mages en mission. Impossible de savoir où est Estrion. Vous savez que c'est un mage assez grand, qu'il a une cicatrice sur la joue droite et qu'il a les cheveux longs et noirs, mais personne ne correspond à cette description.<br />
      - Allons demander à l'aubergiste, dit <span class="grp1-1"></span>.</p>
      <p>L'aubergiste est, lui, très souriant. Mais il a l'air très occupé, il amène des plats à une table tout en récupérant une bouteille vide sur une autre. <br />
        - Je peux vous aider ? demande une serveuse.<br />
        - On recherche un mage qui s'appelle Estrion. On est venu de l'académie pour l'aider. <span class="chef hidden">dis-tu</span><span class="cheh hidden">dit-<span class="cheh-nom"></span></span><br />
        - Ah ? Oh, heu… viens par là.</p>
      <p>La serveuse vous amène au fond de l'auberge dans un endroit plus calme. Plusieurs personnes aux mines patibulaires vous suivent du regard. Tu as le pressentiment que les choses vont se compliquer légèrement.</p>
      <p>- Il y a quelques jours des gens sont arrivés en ville et ils ont tout de suite cherché à attaquer le mage que vous chercher et son groupe, commence-t-elle. Deux mages de chez vous sont morts, Estrion a dû prendre la fuite on ne sait où. Et depuis, il y a de plus en plus de monde, l'auberge est complète, on ne sait pas d'où sortent toutes ces personnes mais on dirait que tout le monde recherche Estrion.<br />
      - Donc vous n'avez même plus de place pour nous à l'auberge ? <span class="chef hidden">demandas-tu</span><span class="cheh hidden">demanda-<span class="cheh-nom"></span></span><br />
      - Même la grange est complète. Et comme vous êtes des mages de l'académie les gens vont avoir peur de se faire attaquer comme Estrion s'ils vous hébergent. Désolé mais je ne peux rien faire de plus pour vous.</p>
      <p>La situation semble critique. Hector vous rejoint peut après et vous lui expliquez l'étendu du problème.<br />
        - D'accord, vous dit-il. Bon, je connais un type qui vit en ermite un peu plus loin. Il pourra nous héberger. Pour le reste de la mission, qu'est-ce qu'on fait ?</p>

      <p class="cheh hidden">
        - Qobur nous a dits que la mission était importante, explique <span class="cheh-nom"></span>. Je pense qu'il faut d'abord contacter l'académie. Ensuite, sans prendre de risque, on essaie de trouver Estrion. Il va falloir camoufler nos vêtements, personne ne doit savoir qu'on est des mages sinon on risque de se faire attaquer aussi. Commençons par aller voir l'ami d'Hector.<br />
        <span class="def-peureux">- Mais il y a 2 mages qui sont morts. Des mages beaucoup plus puissants que nous. On peut vraiment rester ici ? demandes-tu.<br />
        - L'ermite que connaît Hector est une personne sûre. Pour le reste : je te garantie qu'on ne prendra pas de risque.</span>
      </p>

  </div>

  <div class="choix">
    <div class="ch cheh" data-go="86">Aller chez l'ermite</div>
    <div class="ch chef def-peureux" data-go="85">Partir du village tout de suite [peureux]</div>
    <div class="ch chef" data-go="86">Aller chez l'ermite</div>
  </div>

</div>
