<div class="num num-1-1-86">

  <div class="text">
    <h1>- 86 -</h1>

      <p>Vous décidez donc d'aller chez l'ami d'Hector. Ce dernier part récupérer la charrette et vous remontez tous dedans en direction du nord.</p>
      <p>À peine l'auberge quittée, vous voyez plusieurs individus sortir également derrière vous et vous regarder de loin. En vous voyant prendre la direction du nord, ils retournent dans l'auberge. Tu pousses un ouf de soulagement, mais en arrivant à la sortie du village une dizaine de personne a l'air de vous attendre de pied ferme. Hector arrête la charrette.<br />
        - Je pense que la route est bloquée, dit-il. Je connais le village, je peux trouver une route de côté et les semer : ils sont à pied et y a du brouillard on devrait pouvoir s'en sortir.<br />
        - Ok on évite le combat : allez-y.</p>
      <p>Hector tire sur les rênes et prend une route sur le côté, les hommes au loin tentent de courir vers vous, mais la charrette est plus rapide. Hector arrive à vous faire passer par un chemin tortueux mais qui vous évite le combat. Soudain, deux troncs d'arbre barrent la route.<br />
        - Il faut abandonner la charrette, dit <span class="grp1-1"></span>.<br />
        Vous sautez tous à terre et courez vous cacher plus loin. Vous entendez les hommes qui vous poursuivaient arriver aussitôt, vous ne voyez rien à cause du brouillard. L'un d'entre eux dit à un autre :<br />
        - Ils ne doivent pas être bien loin, mais avec ce brouillard impossible de continuer chef.<br />
        - Bien, emportez la charrette avec vous et laisser quelques hommes à la sortie de la ville. Ils ne doivent pas contacter l'académie avant qu'on ait récupéré le prophète.</p>
      <p>Puis les bruits de pas s'éloignent, votre charrette est emportée. Tu regardes autour de toi, le groupe est sous le choc, mais sain et sauf. Miguel ne s'est pas perdu, il est toujours avec vous.</p>
      <p>- La nuit approche, je vous propose de vous amener chez l'ermite que je connais, dit Hector.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="87">Aller chez l'ermite</div>
  </div>

</div>
