<div class="num num-1-1-87">

  <div class="text">
    <h1>- 87 -</h1>

      <p>Vous prenez le plus de précaution possible pour vous rendre jusque chez l'ami d'Hector. La nuit commence à tomber et il est hors de question d'allumer une torche. Heureusement, Hector semble bien connaître le chemin.</p>
      <p>À travers le brouillard quelque chose rougeoie dans le ciel. Cela semble être la lune.<span class="av-courageux"> <span class="grp1-1"></span> semble l'avoir remarqué également.</span></p>
      <p>Au milieu des montagnes vous redescendez dans une forêt un peu en contrebas. Hector est un vrai pisteur, il vous guide facilement jusqu'à une cabane complètement perdue dans la végétation. Vous arrivez juste moment où la nuit vous aurait empêchée de continuer. En approchant de la maison, un homme en sort, armé d'un solide bâton, et en vociférant :</p>
      <p>- CETTE FOIS JE VAIS VOUS FAIRE PAYER ! PREPAREZ-VOUS A LA BASTONNADE !</p>
      <p>À ces mots il se jette sur vous mais trébuche et s'étale juste devant vous laissant rouler son bâton à vos pieds.</p>
      <p>- Heu... je disais ça pour rire. On est copain, hein ? dit-il en changeant de ton.<br />
        - Jolt, c'est moi Hector. Ça va ?<br />
        - Hector ? Qu'est-ce que tu fiches ici vieux ? Ha ha, je vous avais pris pour quelqu'un d'autre. dit-il rassuré.</p>
      <p>Jolt l'ermite vous fait alors rentrer chez lui tout en lançant un regard derrière vous. Il a des traces de coups partout sur le corps, quelqu'un est visiblement venu le malmener, il y a peu de temps. Miguel reste dehors, vous lui dites de sonner l'alerte s'il voit quelqu'un, vous lui donnez un bout de bois à mâchonner et vous le laisser. Jolt vous fait remarquer que vous avez une chèvre bien bizarre et qu'il se demande comment elle sonnera l'alerte.</p>
      <p>Une fois rentré, vous vous réchauffez auprès du feu de l'ermite. La cabane n'est pas bien grande, mais cela vaut mieux que de dormir dehors. Jolt, est assez vieux et visiblement vit en sculptant des figurines sur du bois à Darmen. Pour la nourriture, il chasse ou cueille ce qu'il trouve dans la forêt et ça lui suffit. Il vous explique que des gens sont arrivés il y a quelques jours au village pour capturer la personne maudite que vous deviez escorter jusqu'à l'académie. La personne maudite, celle qui se trouve avec le mage Estrion, est visiblement la cible d'un autre groupe de personne. Qobur ne le savait certainement pas, mais vous voilà maintenant dans de beaux draps.</p>

      <p>La journée fut longue, vous décidez tous de vous reposer et de vous lever tôt demain pour voir ce que vous allez faire.</p>

  </div>

  <div class="choix">
    <div class="ch av-studieux" data-go="88">Se reposer</div>
    <div class="ch av-pas-studieux" data-go="89">Se reposer</div>
  </div>

</div>
