<div class="num num-1-1-88">

  <div class="text">
    <h1>- 88 -</h1>

      <p>Même si tu es très fatigué<span class="sexe sexe-fille">e</span>, tu as du mal à trouver le sommeil et au beau milieu de la nuit un cauchemar te réveille. Tu te souviens que tu es dans la cabane de Jolt et tu t'apprêtes à te recoucher contre <span class="grp1-2"></span>. Mais tu notes que <span class="grp1-1"></span> n'est plus là. La cabane n'est pas grande et <span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span> n'est pas à l'intérieur. Tu paniques un peu mais tu entends la clochette de Miguel tinter et en tendant l'oreille, tu entends <span class="grp1-1"></span> lui parler.</p>
      <p>Tu te lèves de ta paillasse et tu sors de la cabane le plus doucement possible pour ne pas réveiller les autres.</p>
      <p>En ouvrant la porte, <span class="grp1-1"></span> et Miguel tournent la tête. <span class="grp1-1"></span> est accroupi<span class="grp1-1-fille">e</span> pour se mettre au niveau de Miguel.</p>
      <p>- T'arrives pas à dormir non plus ? lui demandes-tu.<br />
        - Non, je préfère parler avec Miguel, il est de bon conseil, te répond-t-<span class="grp1-1-fille">elle</span><span class="grp1-1-garcon">il</span>.<br />
        - Il est pas causant, mais il sait écouter, c'est sûr...<br />
        - Miguel me parle. Il suffit de savoir l'entendre.<br />
        - Heu... Tu dis que Miguel te...parle ?<br />
        - Je l'entends depuis le début, mais avant je ne savais pas que c'était lui. J'entendais juste sa voix dans ma tête.<br />
        - ...Une voix ? J'entends une voix de temps en temps. Tu veux dire que c'est Miguel cette voix ?<br />
        - Oui. Il m'a dit qu'il t'avait déjà parlé.</p>
      <p>Tu regardes Miguel, tu es en train de te dire que si c'est vrai cette chèvre est beaucoup plus puissante que ce que Qobur vous a dit. D'où est-ce qu'elle sort ? Mais en ce moment, tu n'entends pas Miguel, tu as beau te concentrer aucune voix n'arrive dans ta tête.</p>
      <p>- Tu es trop fatigué<span class="sexe sexe-fille">e</span> pour entendre sa voix, te dit <span class="grp1-1"></span>. Mais Miguel te dit que bientôt, il va avoir besoin de nous deux. Que cette mission est beaucoup plus importante que prévue et que même Qobur ne pouvais l'imaginer.<br />
        - Besoin de nous ?<br />
        - Oui, il me dit qu'il faut absolument qu'on retrouve Estrion et cette personne maudite. Mais il y a plein de trucs que je ne comprends pas encore. De temps en temps, sa voix est complètement incompréhensible.</p>
      <p>Vous restez encore un peu avec Miguel puis vous retournez vous couchez. Vous devez être en forme demain, quoi que vous décidez de faire.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="89">Finir la nuit</div>
  </div>

</div>
