<div class="num num-1-1-89">

  <div class="text">
    <h1>- 89 -</h1>

      <p>Au petit matin Hector vous réveille. Jolt vous offre une tasse d'eau chaude et des racines à mâcher. On dirait de la réglisse, ça réveille bien.</p>
      <p><span class="chef hidden">En tant que chef d'équipe, tout le monde attend tes ordres, même Hector.</span> <span class="cheh hidden">En tant que chef d'équipe, tout le monde attend les ordres de <span class="cheh-nom"></span>, même Hector.</span> Vous n'avez plus de charrette, partir à pied à travers champs serait risqué. La première chose à faire c'est d'avertir l'académie de la situation. Hector connaît bien la région, <span class="chef hidden">tu</span><span class="cheh hidden"><span class="cheh-nom"></span></span> décides de l'envoyer seul avec un message pour l'académie. Il passera par les montagnes. Même si ça doit prendre du temps au moins l'académie sera au courant de ce qui se passe. Mais à pied, il va se passer au moins 5 ou 6 jours avant que les renforts arrivent de l'académie.</p>

      <p>Pour le reste, vous avez plusieurs solutions. Jolt vous informe qu'il a été battu par la troupe qui vous a pourchassée. Elle cherchait Estrion dans les bois, ça pourrait vouloir dire qu'Estrion est caché dans la forêt.<br />
        - Faites quand même attention si vous allez dans la forêt, vous dit Jolt. Il y a un monstre récemment qui rôde du côté de la cascade des têtards. On l'a pas encore vu mais plusieurs personnes du village ont entendu son cri. Il faut dire qu'avant la cascade était un lieu pour les amoureux du village, car on voit bien les étoiles et la lune de là-bas. Il y a une belle clairière.<br />
        - Certains mages peuvent faire des invocations, dit-<span class="grp1-3"></span>. Peut-être qu'Estrion a appelé un monstre pour le protéger.</p>
      <p class="magie-vent">C'est une piste. Tu te dis aussi qu'avec ton sort de masque, tu pourrais retourner au village pour récupérer plus d'informations. Tu t'es bien amélioré<span class="sexe sexe-fille">e</span> depuis ton essai du premier jour.</p>
      <p class="magie-pas-vent">C'est une piste. <span class="mage-vent"></span> te dit aussi qu'avec son sort de masque <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> pourrait retourner au village pour récupérer plus d'informations. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> changerait de visage et passerait inaperçu. <span class="mage-vent-fille">Elle</span><span class="mage-vent-garcon">Il</span> s'es bien amélioré<span class="mage-vent-fille">e</span> depuis son essai du premier jour.</p>

      <p class="cheh hidden"><span class="cheh-nom-2"><span class="cheh-nom"></span> décide que cette option est trop risquée.</span> Vous allez fouiller la forêt, en allant d'abord à la cascade.</p>

  </div>

  <div class="choix">
    <div class="ch chef magie-vent hidden" data-go="90">Utiliser ton sort de masque</div>
    <div class="ch chef magie-pas-vent hidden" data-go="91">Utiliser le sort de masque de <span class="mage-vent"></span></div>
    <div class="ch chef hidden" data-go="92">Fouiller la forêt et trouver la cascade des têtards</div>
    <div class="ch cheh hidden" data-go="92">Fouiller la forêt et trouver la cascade des têtards</div>
  </div>

</div>
