<div class="num num-1-1-9">

  <div class="text">
    <h1>Azalys</h1>
	<p class="av-populaire">Le lendemain matin, tu pars accompagné<span class="sexe sexe-fille">e</span> de Rodolphe, qui avait prévu de passer vendre quelques paniers à l'académie. La route n'est pas si longue mais être accompagné d'un ami maintenant ne te déplait pas.</p>

	<p class="av-riche">En te réveillant le lendemain matin ton père te dit qu'il a fait appeler une calèche pour t'emmener à l'académie. Tu feras le parcours avec Mr Romond. C'est ton tuteur, avec lui tu as longtemps révisé pour passer l'examen. Lui-même a été mage il fut un temps mais il a eu un accident et depuis il ne peut plus pratiquer la magie.</p>

	<p class="av-sportif av-courageux av-studieux">Le lendemain matin, tu rejoins le convoi des mages qui retournent à l'académie. Espéride Mazénian prend la tête, chevauchant un beau cheval blanc.</p>

	<p class="middle">*</p>

	<p>Après 2 bonnes heures de route, enfin vous voyez se dessiner la silhouette de la grande tour de l'académie au loin. L'académie est construite sur une île du lac Déluine. Un grand pont permet d'y accéder à n'importe quel moment. Les eaux du lac sont d'un bleu cristallin. Il parait qu'on y trouve beaucoup de poissons et, en tout cas, de nombreuses barques de pêcheurs sont visibles. Il est interdit de construire quoi que ce soit tout autour du lac sans l'autorisation de l'académie, donc forcément ces pêcheurs doivent habiter pour la plupart à l'académie. Peut-être sont-ils mages ?</p>

	<p>Ça y est ! Vous arrivez au pont. Il est immense ! 3 ou 4 carioles pourraient passer en même temps tant il est large. Construit tout en pierre blanche et parsemé tous les 10 mètres d'un réverbère. Il parait qu'il n'y a pas besoin de les allumer, qu'à la nuit tombée, magiquement, ils s'allument. Tu as hâte de voir ça.</p>

	<p>Vu de prêt la tour de l'académie est encore plus grande. On a l'impression qu'elle touche les nuages. Mais le reste de l'académie est également très impressionnant. Tu aperçois le grand dôme de l'opéra, ainsi que celui de la grande bibliothèque. Plus tu t'approches plus le son de la ville emplit tes oreilles. La partie basse de l'académie est réservée aux marchands extérieurs et ils font un vacarme agréable. Digne d'une très grande ville. En fait c'est une très grande ville, on dit qu'il y aurait plus de 10000 personnes en permanence à l'académie. Parmi eux seulement 2000 mages et environ 200 élèves comme toi.</p>

	<p>Tu passes les portes de la ville. C'est une grande arche avec le blason de l'académie d'Azalys: un dragon blanc devant une vague. Un flux incessant de personnes rentre en permanence dans la "cité". Ton véhicule a du mal à remonter le chemin jusqu'à l'entrée de ton école au milieu d'une telle foule. Tu passes devant toutes sortes d'échoppes : des fabricants de capes magiques, des herboristes, un maître en potion qui fait une démonstration de sa dernière trouvaille faisant repousser les cheveux d'un passant chauve. Tout cela te met des étoiles plein les yeux.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="16">Arrivée à l'académie</div>
  </div>

</div>
