<div class="num num-1-1-90">

  <div class="text">
    <h1>- 90 -</h1>

      <p>Tu donnes l'ordre aux autres de rester cachés dans les buissons en attendant que tu reviennes avec des informations. Jolt te dit qu'il va rester avec eux. Hector, quant à lui, est parti à travers les montagnes avec le message de secours que tu as rédigé. Miguel mange un champignon trouvé sur le chemin, il est aussi calme que d'habitude.</p>
      <p>Tu lances ton sort, tu sais qu'avec ton niveau, ton nouveau visage va tenir environ 1 heure. Il faudra que tu reviennes avant ça sinon tu risques de te faire repérer. Bien entendu Jolt t'a fourni des vêtements pour que personne ne sache que tu viennes de l'académie. Les habits sont troués et puent mais au moins personne ne te reconnaîtra. Avec ton sort, on dirait que tu as 20 ou 25 ans.</p>

      <p>Les autres te souhaitent bonne chance. <span class="mage-eau"></span> a récupéré tes habits, comme ça si vous êtes séparés <span class="mage-eau-fille">elle</span><span class="mage-eau-garcon">il</span> pourra jeter son sort de "vision de rêves" pour te retrouver.</p>

      <p>Tu rentres dans le village d'un pas sûr, mais intérieurement tu as quand même peur qu'on se demande qui tu es. Au détour de la première maison que tu dépasses, un groupe de 4 hommes te croise en sens inverse sans même te jeter un regard. Ils sont habillés comme des bandits : une épée à la ceinture et la mine sombre. Visiblement, ton sort a bien fait effet, ils ont cru que tu étais un<span class="sexe sexe-fille">e</span> habitant<span class="sexe sexe-fille">e</span> du village.</p>

      <p>Le mieux serait certainement d'aller voir le maire de la ville. Il saura mieux que personne ici ce qui se trame. Tu demandes ton chemin prudemment à un petit vieux assis sur un banc. Il t'indique la maison du maire et tu t'y diriges vite mais discrètement. Tu toques à la porte et une femme t'ouvre :<br />
      - Bonjour, heu...je cherche Mr le Maire, demandes-tu.<br />
      - Il est parti au champ. Vous êtes nouvelle ? Je ne vous ai jamais vu au village.<br />
      - Heu... en fait je vis en ermite dans la montagne. Je vais essayer de le trouver au champ, c'est dans quelle direction ?</p>

      <p>La femme t'indique quelle direction prendre pour le champs et tu ne t'attardes pas plus longtemps. Aussitôt es tu parti<span class="sexe sexe-fille">e</span> que 2 hommes vont demander à la femme ce que tu voulais. Mince, c'était trop facile. Tu tournes derrière une grande maison. Il faut que tu les sèmes.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="93">Relancer un sort de masque en changeant de sexe</div>
    <div class="ch" data-go="94">Se cacher dans un tonneau à côté de la maison</div>
  </div>

</div>
