<div class="num num-1-1-91">

  <div class="text">
    <h1>- 91 -</h1>

      <p>Pendant que <span class="mage-vent"></span> va tenter d'avoir plus d'informations, tu vas rester avec les autres cachés dans les buissons en attendant. Jolt te dit qu'il va rester avec vous. Hector, quant à lui, est parti à travers les montagnes avec le message de secours que tu as rédigé. Miguel mange un champignon trouvé sur le chemin, il est aussi calme que d'habitude.</p>
      <p><span class="mage-vent"></span> lance son sort, il devrait tenir environ 1 heure. Il faudra que <span class="mage-vent"></span> revienne avant ça sinon <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> risque de se faire repérer. Bien entendu Jolt lui a fourni des vêtements pour que personne ne sache que <span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> vienne de l'académie. Les habits sont troués et puent mais au moins personne ne <span class="mage-vent-fille">la</span><span class="mage-vent-garcon">le</span> reconnaitra. Avec le sort on dirait que <span class="mage-vent"></span> a 20 ou 25 ans.</p>

      <p>Vous lui souhaitez bonne chance. Si vous êtes séparés vous pourrez jeter un sort de "vision de rêves" pour <span class="mage-vent-fille">la</span><span class="mage-vent-garcon">le</span> retrouver.</p>

      <p>En attendant, vous voyez de loin que le village est rempli de "bandits". Ils sont partout. Même les paysans qui vont dans leur champs sont surveillés. <span class="mage-vent"></span> va devoir faire très attention.</p>

      <p>Au bout d'un moment, tu commences à être inqui<span class="sexe sexe-fille">ète</span><span class="sexe sexe-garcon">et</span>. Tu ne vois toujours pas <span class="mage-vent"></span> revenir. Ça va bientôt faire une heure depuis son départ. L'attente semble interminable. Encore plus tard sans meilleur résultat, ton groupe commence à te regarder pour savoir quoi faire. Il est arrivé quelque chose à <span class="mage-vent"></span>, peut être est-<span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> caché<span class="mage-vent-fille">e</span> quelque part où a-t-<span class="mage-vent-fille">elle</span><span class="mage-vent-garcon">il</span> été capturé<span class="mage-vent-fille">e</span>.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="102">Lancer le sort de Vision de Rêves pour localiser <span class="mage-vent"></span></div>
    <div class="ch" data-go="103">Décider d'attendre encore</div>
  </div>

</div>
