<div class="num num-1-1-92">

  <div class="text">
    <h1>- 92 -</h1>

      <p>Jolt vous guide jusqu'à la cascade des têtards. L'endroit est magnifique. Une cascade d'un bleu cristallin jaillit de la montagne. Elle fait environ 20 mètres de haut et est très large. Derrière la cascade, la montagne monte de manière douce d'abord pour devenir plus abrupt un peu plus loin. L'eau provient de la fonte des neiges de la montagne et donc elle est très froide. Au niveau de la cascade, il y a un beau bassin d'eau entouré de végétation, puis la rivière continue à travers la clairière pour s'enfoncer dans la forêt. Jolt vous apprend que si on l'appelle cascade des têtards, c'est parce que le bassin est rempli de têtards.</p>

      <p>Malheureusement, malgré toutes vos recherches autour du bassin, vous ne trouvez absolument rien. Aucune trace d'Estrion ni même d'un monstre.</p>

      <p><span class="magie-eau"><span class="mage-feu"></span></span><span class="magie-pas-eau"><span class="mage-eau"></span></span> déclare :<br />
        - C'est bizarre, s'il y avait un monstre ou une bête sauvage ou aurait dû trouver des traces, non ?<br />
        - Oui il n'y a vraiment rien du tout ici. Mr Jolt, vous êtes sûr qu'on est au bon endroit ? demandes-tu.<br />
        - Certain. Les gens du village m'ont bien dit que c'est ici qu'ils ont entendu le monstre. Mais ils ne l'ont entendu qu'à la nuit tombée.
      </p>

      <p class="def-peureux">Tu n'es pas très à l'aise à l'idée de rester ici avec un monstre dont tu ne sais rien.<br />
        - Si on a trouvé aucune trace c'est peut être parce que c'est un fantôme ce monstre. Vous croyez pas ? dit <span class="magie-terre"><span class="mage-eau"></span></span><span class="magie-pas-terre"><span class="mage-terre"></span></span><br />
        - C'est encore PIRE !! dis-tu effrayé<span class="sexe sexe-fille">e</span>.</p>

      <p class="def-pas-peureux">
        - Si on a trouvé aucune trace, c'est peut-être parce que c'est un fantôme ce monstre. Vous ne croyez pas ? dit <span class="magie-terre"><span class="mage-eau"></span></span><span class="magie-pas-terre"><span class="mage-terre"></span></span><br />
        - Un fantôme ? Tu crois que ça existe ? dis-tu un peu effrayé<span class="sexe sexe-fille">e</span>.</p>

      <p class="cheh hidden"><span class="cheh-nom"></span> décide de rester dans le coin jusqu'à la nuit tombée. Mais de rester vigilant, vous savez que les bandits tentent de trouver Estrion. Ils vont peut-être venir par ici à un moment ou un autre.</p>
      <p class="chef hidden def-pas-peureux">Tu penses que si vous restez dans le coin jusqu'à la nuit tombée, vous pourrez peut-être voir le monstre. Mais il faut rester vigilant, vous savez que les bandits tentent de trouver Estrion. Ils vont peut-être venir par ici à un moment ou un autre.</p>
      <p>Jolt, quant à lui, rentre à sa cabane.</p>

  </div>

  <div class="choix">
    <div class="ch cheh hidden" data-go="109">Attendre la nuit</div>
    <div class="ch chef hidden def-peureux" data-go="108">Tu as trop peur pour rester dans le coin. Cherchez Estrion ailleurs</div>
    <div class="ch chef hidden def-pas-peureux" data-go="109">Attendre la nuit</div>
  </div>

</div>
