<div class="num num-1-1-93">

  <div class="text">
    <h1>- 93 -</h1>

      <p>Tu relances très vite ton sort à l'abri des regards.</p>

      <p class="magie-noire">Le sort est réussi, tu sens que ton visage est celui <span class="sexe sexe-fille">d'un jeune garçon de 10 ans</span><span class="sexe sexe-garcon">d'une jeune fille de 10 ans</span>. Tu as aussi changé la couleur de tes cheveux : rouges et la peau grisée. Comme ça on te prendra vraiment pour un habitant du nord.<br />
      Les hommes armés arrivent juste à ce moment-là, tu tournes la tête vers eux.<br />
      - Mince où est-<span class="sexe sexe-fille">elle</span><span class="sexe sexe-garcon">il</span>?<br />
      - <span class="sexe sexe-fille">Elle</span><span class="sexe sexe-garcon">Il</span> est rapide dis-donc. Tu n'aurais pas vu passer <span class="sexe sexe-fille">une jeune femme</span><span class="sexe sexe-garcon">un jeune homme</span>, <span class="sexe sexe-fille">gamin</span><span class="sexe sexe-garcon">gamine</span> ? te demande un des deux hommes.<br />
      <span class="def-tricheur">- Elle a couru par là, dis-tu en pointant la direction opposée au champ.<br />
      - Merci <span class="sexe sexe-fille">petit</span><span class="sexe sexe-garcon">petite</span>.<br /><br />
      Les deux gardent disparaissent dans la direction que tu leur as donnée. Tu as peut-être le temps d'aller voir le maire avant qu'ils ne se rendent compte de la supercherie.
      </span><span class="def-pas-tricheur">- Heu je ne sais pas, je dormais.<br />
      - Tu dors en plein milieu de la journée ? T'es <span class="sexe sexe-fille">un vrai fainéant toi</span><span class="sexe sexe-garcon">une vrai fainéante toi</span>.<br /><br />
      Les deux gardent disparaissent dans la direction du champs où le maire est sensé être. Impossible d'aller le voir maintenant.
      </span></p>

      <p class="magie-verte">Le sort semble réussi, tu sens que ton visage est celui <span class="sexe sexe-fille">d'un jeune garçon de 10 ans</span><span class="sexe sexe-garcon">d'une jeune fille de 10 ans</span>. Mais tu as l'air assez moche.<br />
      Les hommes armés arrivent juste à ce moment-là, tu tournes la tête vers eux.<br />
      - Mince où est-<span class="sexe sexe-fille">elle</span><span class="sexe sexe-garcon">il</span>... ? Oh la vache c'est quoi cette horreur ?<br /><br />
      Tu ne dis rien et les deux hommes passent avant de s'arrêter. <br /><br />
      - Attends, hier des gens de l'académie sont arrivés. Il y a un sort de l'académie qui permet de changer de visage, non ? dit un des 2 hommes en se retournant vers toi.<br /><br />
      Le subterfuge n'a pas pris, tu prends tes jambes à ton coup.<br />
      <span class="av-sportif">Grâce à ton talent naturel pour la course, tu arrives à t'en sortir et rejoindre tes amis dans la forêt. Cela n'aura rien rapporté, mais au moins tu es rentré<span class="sexe sexe-fille">e</span> sain<span class="sexe sexe-fille">e</span> et sau<span class="sexe sexe-fille">ve</span><span class="sexe sexe-garcon">f</span>.</span>
      <span class="av-pas-sportif">Les 2 hommes te rattrapent facilement, te jettent au sol et t'emmènent avec eux jusqu'à l'auberge. Ça a l'air d'être devenu leur quartier général.</span></p>

  </div>

  <div class="choix">
    <div class="ch magie-noire def-tricheur" data-go="95">Aller voir le maire</div>
    <div class="ch magie-noire def-pas-tricheur" data-go="96">Tenter de trouver des informations ailleurs</div>
    <div class="ch magie-verte av-sportif" data-go="97">Faire un point avec le groupe</div>
    <div class="ch magie-verte av-pas-sportif" data-go="98">Devenir prisonnier</div>
  </div>

</div>
