<div class="num num-1-1-94">

  <div class="text">
    <h1>- 94 -</h1>

      <p>Tu te caches dans le tonneau et tu ne bouges plus. Tu mets la main sur la bouche pour ne même plus respirer. Tu entends les deux hommes passer, s'arrêter proche de toi et dire :<br />
      - <span class="sexe sexe-fille">Elle</span><span class="sexe sexe-garcon">Il</span> doit pas être loin. Continues par là, moi je fouille cette maison.</p>
      <p>Tu entends l'un des 2 courir plus loin et l'autre rentrer dans la maison. Tu attends quelques secondes et surgis à toute vitesse.<br />
      <span class="av-sportif">Grâce à ton talent naturel pour la course, tu arrives à t'en sortir et rejoindre tes amis dans la forêt. Cela n'aura rien rapporté mais au moins tu es rentré<span class="sexe sexe-fille">e</span> sain<span class="sexe sexe-fille">e</span> et sau<span class="sexe sexe-fille">ve</span><span class="sexe sexe-garcon">f</span>.</span>
      <span class="av-pas-sportif">L'homme dans la maison sort à son tour, te rattrape, te jette au sol et t'emmène jusqu'à l'auberge. Ça a l'air d'être devenu leur quartier général.</span></p>

  </div>

  <div class="choix">
    <div class="ch av-sportif" data-go="97">Faire un point avec le groupe</div>
    <div class="ch av-pas-sportif" data-go="98">Devenir prisonnier</div>
  </div>

</div>
