<div class="num num-1-1-95">

  <div class="text">
    <h1>- 95 -</h1>

    <p>Tu trouves le maire dans le champ que la femme t'a indiqué. Tu n'hésites pas, le temps t'es compté.<br />
      - Monsieur le Maire ?<br />
      - Hum, oui, qui êtes-vous ? te répond-il.<br />
      - Chut, je viens de l'académie. Qui sont tous ces gens dans la ville ? Et où se trouve Estrion ?<br />
      - Vous venez de l'académie, enfin des renforts !<br /><br />
      Il a l'air vraiment heureux de ta présence. Ce qui te prouve que les individus à tes trousses ont pris le contrôle du village.<br /><br />
      - Il y a de cela 3 jours, ces hommes sont arrivés, ils ont posé des barrières à l'entrée et à la sortie du village. Personne ne peut partir, on ne sait pas d'où ils viennent. Par contre on sait qu'ils veulent cette personne qui était avec le mage Estrion. dit-il à toute vitesse.<br />
      - Très bien, vous savez où se cache Estrion ?<br />
      - Non malheureusement on a aucune trace de lui. On a bien essayé d'envoyer des gens contacter l'académie, mais ils se sont tous fait prendre et maintenant tout le monde à peur. Nous sommes tous emprisonnés dans le village.</p>

      <p>Le Maire ne t'a pas appris grand chose, mais il a confirmé tes doutes. Il vaut mieux retourner auprès de tes amis avant que ton sort ne finisse et que tu ne te fasses repérer.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="97">Faire un point avec le groupe</div>
  </div>

</div>
