<div class="num num-1-1-96">

  <div class="text">
    <h1>- 96 -</h1>

    <p>Tu penses que l'endroit où tu trouveras le plus d'informations est à l'auberge. Tu décides donc de t'y rendre. À l'entrée de l'auberge se trouvent 4 hommes armés, qui semblent faire partie de ce que tu appelleras "les bandits". Ils t'ont vu, impossible de faire marche arrière sans éveiller les doutes, tu rentres donc dans l'auberge normalement.</p>

    <p>À l'intérieur, se trouvent 3 autres bandits à une table dont un qui semble faire 2 mètres de haut, il a un œil en moins et les autres l'appellent "chef". Tu es venu<span class="sexe sexe-fille">e</span> en plein dans leur quartier général. Tu te diriges directement vers le bar où la serveuse de la veille est en train de tout ranger.</p>

    <p class="def-tricheur">Tu lui fais signe discrètement que tu es de l'académie pour ne pas qu'elle révèle que tu es une étrangère au village.<br />
      - ...Bonjour, je vous sers comme d'habitude ? <br />
      Parfait, elle a compris. Elle commence à te servir une bière, mince, elle croit que tu es un<span class="sexe sexe-fille">e</span> adulte évidemment.<br />
      - Heu, hum... c'est qui ceux-là ? lui dis-tu tout bas.<br />
      Elle ne te répond pas, mais tu la vois aller un peu plus loin sortir un papier et écrire quelque chose sur un petit papier. Elle te le remet subtilement puis continue de ranger un peu les bouteilles derrière elle.<br />
      Sur le papier tu peux lire : "Bandits venus il y a 3 jours. Cherchent un homme et des mages (Estrion). Très dangereux.". Tu en apprends pas plus que ce que tu savais. Tu sors ta plume - que tu caches - pour écrire à ton tour si elle sait où se trouve Estrion. Après un nouvel échange de papiers, tu reçois le message suivant : "Probablement dans la forêt. Sûre de rien".
      Tu replies le papier le ranges. Tu décides de boire un peu la bière pour ne pas paraître suspect<span class="sexe sexe-fille">e</span>, puis tu repars de l'auberge (en titubant un peu). Les "bandits" te regardent, mais ne te disent rien. Tu rentres dans la forêt après avoir fait un petit détour.
    </p>
    <p class="def-pas-tricheur">
      - Bonjour, vous êtes avec eux ? demande la serveuse en pointant les 3 bandits plus loin.<br />
      - Chuuuuuut. dis-tu doucement.<br />
      Mais déjà un des "bandits" se lève demandant :<br />
      - Comment ? Vous n'êtes pas du village ? Vous venez d'où ?<br />
      - Si, si. Je suis … heu machin, enfin je veux dire que...<br />
      Il se jette sur toi et te fais prisonni<span class="sexe sexe-fille">ère</span><span class="sexe sexe-garcon">er</span>.
      </p>

  </div>

  <div class="choix">
    <div class="ch def-tricheur" data-go="97">Faire un point avec le groupe</div>
    <div class="ch def-pas-tricheur" data-go="98">Devenir prisonnier</div>
  </div>

</div>
