<div class="num num-1-1-97">

  <div class="text">
    <h1>- 97 -</h1>

    <p>Tu retrouves ton groupe, et Jolt, dans la forêt. Tu expliques à tout le monde que tu as fait chou blanc. Aucun indice supplémentaire et il va falloir chercher vous-même Estrion dans la forêt.</p>
    <p>Jolt vous dit qu'il vous attendra dans sa cabane, mais qu'il ne faut pas hésiter à l'appeler si y a de la bagarre. Il a très envie de se venger des "bandits". Tu lui réponds que tu le feras, même si au fond de toi, tu n'as pas envie de lui causer des ennuis. De ce que tu as pu voir hier soir : il est vraiment nul en bagarre.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="92">Fouiller la forêt et trouver la cascade des têtards</div>
  </div>

</div>
