<div class="num num-1-1-98">

  <div class="text">
    <h1>- 98 -</h1>

    <p>On t'amène devant ce grand type, un géant même vu de prés. Il a un bandage sur l'œil droit et n'a pas un cheveux sur la tête. Il demande à la serveuse de l'auberge une chambre pour pouvoir t'interroger au calme.</p>

    <p>La serveuse est obligée d'obéir et tu te retrouves seul<span class="sexe sexe-fille">e</span> avec ce type monstrueux. Il te fait asseoir sur une chaise et demande à ses hommes de partir.</p>

    <p>- Qui es tu ?<br />
      - Heu je crois que si je vous dis mon nom ça vous dise rien, oses-tu répondre.<br />
      - Oh ! Un<span class="sexe sexe-fille">e</span> petit<span class="sexe sexe-fille">e</span> malin<span class="sexe sexe-fille">e</span>. Je sais que tu viens de l'académie. Tu fais parti<span class="sexe sexe-fille">e</span> des gens qui sont arrivés hier et se sont enfuis, je parie.<br /><br />
      Tu ne réponds rien. Il ressemble à une brute, mais il est plus futé qu'il en a l'air.<br /><br />
      - Vous êtes qui ? demandes-tu finalement.<br />
      - Tu veux vraiment savoir ?<br /><br />
      Il se décale un peu en arrière en rigolant. Mais son rire te glace le sang, car il n'a pas l'air humain. Sa main droite devient étrange, elle se tord dans un sens pas normal, ses doigts s'allongent et des griffes commencent à apparaître.<br /><br />
      - Moi aussi je connais le sort de masque figure-toi, dit-il dans un sourire qui dévoile de longues dents acérées.<br />
      - Oh.....Ok vous êtes un monstre, mais je ne sais rien, je n'y suis pour rien. Laissez-moi vivant<span class="sexe sexe-fille">e</span>.<br />
      - Est-ce que tu sais où se trouve Estrion ? Si tu es ici peut-être cela veut-il dire qu'il se trouve encore au village ?<br />
      - Non vraiment, je ne sais rien.
      </p>
      <p>Malgré les menaces de plus en plus pesantes, le bandit voit que tu ne dis rien de plus. Il commence alors à te fouiller.</p>
      <p class="piment">Il sort de tes vêtements le piment que tu as reçu du marchand à l'académie. Comme il est pilé dans un petit sachet, on ne voit pas trop que c'est un piment. Il voit juste que c'est une poudre.<br />
        - Qu'est-ce que c'est ? Une poudre magique ? te demande-t-il.<br />
        - Heu, non ça, c'est rien du tout.<br />
        - Rien du tout ? On va voir ça.<br />
        Il ouvre le sachet et voit la poudre rouge. Alors qu'il commence à ouvrir la bouche pour te dire quelque chose, tu souffles un grand coup dans le sachet et une grosse quantité de piments arrive dans sa bouche.
      </p>
      <p class="pas-piment">
        Il ne trouve finalement rien d'intéressant, te coupe une mèche de cheveux et décide de faire revenir un de ses hommes pour qu'il t'attache à la chaise. Tu remarques qu'il se "re-transforme" en humain pour pas que ses hommes voient qu'en fait, il est un monstre.
      </p>

  </div>

  <div class="choix">
    <div class="ch piment" data-go="99">S'enfuir en rigolant grâce au piment</div>
    <div class="ch pas-piment" data-go="100">Attendre dans la chambre de l'auberge</div>
  </div>

</div>
