<div class="num num-1-1-99">

  <div class="text">
    <h1>- 99 -</h1>

    <p>Le chef des "bandits" commence par éternuer un peu, mais très vite, il devient complètement rouge. Dans un cri horrible, tu le vois cracher des flammes comme toi lorsque tu étais sur la marina à l'époque. Tu décides de te jeter par la fenêtre et de lancer ton sort de chute contrôlée.
      </p>

      <p>Tu es bien content<span class="sexe sexe-fille">e</span> de t'en être sortie. Tu cours jusqu'à la forêt en entendant toujours les cris du "monstre bandit".</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="101">Faire le point avec ton groupe</div>
  </div>

</div>
