<div class="modifpersos">
  <div class="frise frise1"></div>
  <div class="frise frise2"></div>
  <div class="frise frise3"></div>
  <div class="frise frise4"></div>
  <div id="myperso">
    <div class="portrait">
      <div class="modif_nom">
        <input name="modif_nom" class="" />
      </div>
    </div>
    <div class="infos_small">
      <div class="infos_av"></div>
      <div class="infos_def"></div>
      <div class="infos_livre"></div>
      <div class="infos_chapitre"></div>
    </div>
    <hr />
    <div class="histoire">
      <div class="hist_1">
        <!-- <p>
          <span class="av-courageux av-sportif av-studieux"><span class="tonnom"></span> vient d'un petit village dans les plaines de Varnak.</span>
          <span class="av-studieux"><span class="sexe-garcon">Il</span><span class="sexe-fille">Elle</span> décida </span>
        </p> -->
        <p class="energie"></p>
        <p class="magie"></p>
        <p class="niveaumagie"></p>
      </div>
    </div>
  </div>
</div>
