<div class="persos">
  <div id="newperso">
    <p data-trad="estu" class="estu part1"></p>
    <p class="estu part2">Quel est ton nom ?</p>
    <p class="estu part3">Choisit un avantage</p>
    <p class="estu part4">Choisit un défaut</p>
    <div class="board">

      <div class="part1">
        <div class="img img-fille" data-img="fille">
          <label data-trad="fille"></label>
        </div>
        <div class="img img-garcon" data-img="garcon">
          <label data-trad="garcon"></label>
        </div>
      </div>
      <div class="part2">
        <div class="center">
          <input type="text" value="" id="monnom" placeholder="Ecris ton nom ici." />
          <button id="validnom">Valider</button>
        </div>
      </div>
      <div class="part3">
        <div class="center">
          <button data-value="courageux">Courageux</button>
          <button data-value="populaire">Populaire</button>
          <button data-value="riche">Plein aux as</button>
          <button data-value="sportif">Sportif</button>
          <button data-value="studieux">Studieux</button>
          <div class="def">
            <p data-value="courageux">
              Vous avez moins peur que les autres. Toujours prêt(e) à affronter le danger et le/la dernier/dernière à s'enfuir. Attention cela peut de temps en temps vous mettre en situation de danger.
            </p>
            <p data-value="populaire">
              Vous vous faites facilement des ami(e)s. D'ailleurs ils sont toujours prêts à vous aider. Par contre d'autres personnes risquent d'être jaloux de votre popularité.
            </p>
            <p data-value="riche">
              Votre famille est très riche et vous avez toujours le matériel le plus à la mode, les plus beaux habits et les dernières nouveautés technologiques. Par contre vous avez du mal à comprendre ceux qui ont moins que vous.
            </p>
            <p data-value="sportif">
              Vous avez des compétences physiques supérieures à la moyenne. Vous courrez plus vite, vous êtes plus fort, plus grand, plus résistant. Par contre vos entrainements vous oblige à délaisser un peu vos études.
            </p>
            <p data-value="studieux">
              Vous êtes tout le temps dans vos livres. Vous connaissez tous vos cours par coeur et même ceux que vous n'auriez dû apprendre que l'année prochaine. Par contre à force de lire des livres jusqu'à tard le soir, éclairé(e) seulement par une bougie, vous avez abimé vos yeux. Vous portez donc des lunettes.
            </p>
          </div>
        </div>
      </div>
      <div class="part4">
        <div class="center">
          <button data-value="bagarreur">Bagarreur</button>
          <button data-value="naif">Naïf</button>
          <button data-value="parfait">Parfait</button>
          <button data-value="peureux" class="peureux">Peureux</button>
            <button data-value="tricheur" class="tricheur">Tricheur</button>
          <div class="def">
            <p data-value="bagarreur">
              Dès que quelqu'un vous énerve vous réglez toujours ça aux poings. Vous vous emportez vite. En contre-partie cela vous a appris la boxe. <span class="cache cache-sportif">Comme vous êtes sportif vous êtes une vraie terreur.</span>
            </p>
            <p data-value="naif">
              Vous croyez facilement les autres. Tout le monde à l'air plutôt gentil et vous avez du mal à voir quand on vous ment. En contre-partie les professeur vous aiment bien.
            </p>
            <p data-value="parfait">
              Votre croyez être parfait. Vous êtes donc en fait un peu narcissique. Vous penez être supérieur aux autres. En contre-partie vous avez toujours le moral et jamais vous ne doutez de vous.
            </p>
            <p data-value="peureux">
              Le/la première à s'enfuir. Vous aurez besoins d'aide pour aller affronter les montres ou pour vous engouffrer dans les grottes sombres. En contre-partie vous voyez facilement quand on ne vous dit pas tout.
            </p>
            <p data-value="tricheur">
              Vous êtes arrivé là où vous êtes grâce à vos talent de discrétion et de triche. Camoufler les réponses des examens dans vos manches ou autres stratagèmes sont normales pour vous. Vous êtes un peu prestidigitateur.
            </p>
          </div>
        </div>
      </div>

      <div class="contour">
        <div class="bordure bordure1"></div>
        <div class="bordure bordure2"></div>
        <div class="bordure bordure3"></div>
        <div class="bordure bordure4"></div>
        <div class="angle angle1"></div>
        <div class="angle angle2"></div>
        <div class="angle angle3"></div>
        <div class="angle angle4"></div>
      </div>
    </div>
  </div>
</div>
