$gris:  #dedede;
$blanc: #ffffff;
$noir:  #000000;
$bleu:  #5bc0de;
$couleurscene:  #11bd11;
$couleurfilm:  #bd1111;
$savoirplus:  #41dac5;

/*********************/
$jcolor1: #FF0000;
$jcolor2: #00FF00;
$jcolor3: #0000FF;
$jcolor4: #FF00FF;
$jcolor5: #00FFFF;
$jcolor6: #FFFF00;
