@font-face {
	font-family: "Cinzel";
	src: url('../../fonts/Cinzel-Regular.ttf');
}
@font-face {
	font-family: "Dosis";
	src: url('../../fonts/Dosis-Regular.ttf');
}
@font-face {
	font-family: "Indie Flower";
	src: url('../../fonts/IndieFlower.ttf');
}
.font-titre{
	font-family: 'Cinzel', serif;
}
.font-normal{
	font-family: 'Dosis', sans-serif;
}
.font-hand{
	font-family: 'Indie Flower', cursive;
}
