.getplayer {
  padding: 10px;
  text-align: left;
  margin: 10px;
  background: #3a3a3a;
  border-radius: 10px;

  select {
    width: calc(60% - 5px);
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
    font-family: Arial;
  }

  input {
    width: calc(60% - 5px);
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
    font-family: Arial;
  }

  label {
    width: 40%;
    float: left;
    color: #fff;
    text-align: right;
    padding-right: 8px;
    font-family: Arial;
    margin-bottom: 0;
    line-height: 28px;
    text-transform: uppercase;
  }

  button {
    margin-top: 20px;
    width: 100%;
    border: 0;
    padding: 5px;
    border-radius: 5px;
  }
  .msg {
    background: green;
    margin-top: 20px;
    width: 100%;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
  }
}
.importplayer {
  padding: 10px;
  text-align: left;
  margin: 10px;
  background: #3a3a3a;
  border-radius: 10px;

  select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
    text-align: center;

    option {
      text-align: center;
    }
  }
  button {
    margin-top: 0px;
    width: 100%;
    border: 0;
    padding: 5px;
    border-radius: 5px;
  }
}
