.bt {
  position: relative;
  text-align: center;
  z-index: 10;
  padding: 0;
  font-size: 1.2rem;
  line-height: 40px;
  height: 40px;

    &.bt-valid{
      background: url(../../img/woodenui/Wooden_UI_png/Plank_10.png) top left no-repeat;
      background-size: 100% 100%;
      color: $blanc;
      width: 60%;
      margin-right: 10%;
    }
    &.bt-cancel{
      background: url(../../img/woodenui/Wooden_UI_png/Plank_11.png) top left no-repeat;
      background-size: 100% 100%;
      color: $blanc;
      width: 30%;

      &:after{
        background: url(../../img/woodenui/Wooden_UI_png/checkbox_01.png) top left no-repeat;
        background-size: 100% 100%;
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%);
      }
    }
    &.bt-cancel2{
      background: url(../../img/woodenui/Wooden_UI_png/Plank_12_2.png) top left no-repeat;
      background-size: 100% 100%;
      color: $blanc;
      width: 40px;

      &:after{
        background: url(../../img/woodenui/Wooden_UI_png/checkbox_01.png) top left no-repeat;
        background-size: 100% 100%;
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%);
      }
    }
    &.bt-disabled {
      opacity: 0.7;
      &:after{
        // content: " ";
        // background: $blanc;
        // height: 1px;
        // width: 80%;
        // position: absolute;
        // top: 0px;
        // left: 0px;
      }
    }
}
button.Export {
  width: 90%;
  height: 50px;
}

.messagefin {
  position: fixed;
  top: 50px;
  z-index: 100;
  width: 100%;
  left: 0;
  background: rgba(108, 82, 63, 0.9);
  padding: 30px 0;
  display: none;

  .t1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 10px #fff;
  }
  .t2 {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 10px #fff;
  }
  .t3 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 10px #fff;
  }
  .t4 {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 10px #fff;
  }
}
