.dialoggoogle{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(45deg,#3f220c 0,#d1bdb1 100%);
  padding: 20vw 15vw;

  .titre {
    background: url(../../img/woodenui/Wooden_UI_png/plank_13.png) center center no-repeat #000;
    background-size: 100% 100%;
    text-align: center;
    color: $blanc;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
    width: 80%;
    margin: 0 10%;
    position: relative;
    z-index: 12;
  }

  #content {
    position: relative;
    margin-top: -20px;
    z-index: 10;

    img {
      position: relative;
      z-index: 10;
      margin: 20px 0 0 0;
      border-radius: 5px;
      width: 80%;
    }

    .myname{
      position: relative;
      z-index: 10;
      color: $blanc;
      font-size: 1rem;
      text-transform: uppercase;
    }

    button {
      z-index: 10;
      position: relative;
      background: url(../../img/woodenui/Wooden_UI_png/Plank_10.png) center center no-repeat #000;
      background-size: 100% 100%;
      border: none;
      color: $blanc;
      padding: 15px;
      width: 100%;
      margin-top: 20px;
      font-size: 1rem;
      text-transform: uppercase;

      &:nth-child(2){
        background: url(../../img/woodenui/Wooden_UI_png/Plank_09.png) center center no-repeat #000;
        background-size: 100% 100%;
      }
    }
  }
}
.persos {
  margin: 20px;
  width: calc(100% - 40px);
  // background: $noir;

  #creer {
    z-index: 10;
    position: relative;
    background: url(../../img/woodenui/Wooden_UI_png/Plank_04.png) center center no-repeat;
    background-size: 100% 100%;
    border: none;
    color: $blanc;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
