.boardhead{
  background: url(../../img/woodenui/Wooden_UI_png/Plank_12_bg.png) top left no-repeat;
  background-size: 100% 100%;
  height: 50px;
}
.board{
  padding: 20px;
  position: relative;
  z-index: 10;

  .contour{
    position: absolute;
    z-index: 8;
    width: calc(100% + 4px);
    background: url(../../img/woodenui/Wooden_UI_png/board.png) top left repeat;
    background-size: auto 150px;
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    overflow: hidden;

    .bordure{
      position: absolute;
      width: 200%;
      height: 5px;
      background: url(../../img/woodenui/Wooden_UI_png/obj_07.png) top left repeat-x;
      background-size: auto 100%;

      &.bordure1{
        top: 0px;
        left: 0px;
      }
      &.bordure2{
        top: 50%;
        right: calc(-100% + 3px);
        transform: rotate(90deg);
      }
      &.bordure3{
        bottom: 50%;
        left: calc(-100% + 3px);
        transform: rotate(270deg);
      }
      &.bordure4{
        bottom: 0px;
        right: 0px;
        transform: rotate(180deg);
      }
    }
    .angle {
      background: url(../../img/woodenui/Wooden_UI_png/obj_08.png) top left no-repeat;
      background-size: 100% auto;
      position: absolute;
      width: 26px;
      height: 26px;

      &.angle1{
        top: 0px;
        left: 0px;
      }
      &.angle2{
        top: 0px;
        right: 0px;
        transform: rotate(90deg);
      }
      &.angle3{
        bottom: 0px;
        left: 0px;
        transform: rotate(270deg);
      }
      &.angle4{
        bottom: 0px;
        right: 0px;
        transform: rotate(180deg);
      }
    }
  }
}
.feuille {
  background: url(../../img/woodenui/Wooden_UI_png/bg_01_02.png) top left no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  height: calc(100vh - 140px);
  z-index: 10;

  .titre {
    background: url(../../img/woodenui/Wooden_UI_png/title.png) top left no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 50px;
    margin: 0px auto;
    line-height: 31px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
  }

  nav {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    .prev {
      width: 20%;
      background: url(../../img/woodenui/Wooden_UI_png/arrow_left.png) center center no-repeat;
      background-size: auto 100%;
      height: 40px;
    }
    .bt {
      width: 60%;
      background: url(../../img/woodenui/Wooden_UI_png/plank_13.png) center center no-repeat;
      background-size: auto 100%;
      height: 40px;
      color: $blanc
    }
    .next {
      width: 20%;
      background: url(../../img/woodenui/Wooden_UI_png/arrow_right.png) center center no-repeat;
      background-size: auto 100%;
      height: 40px;
    }
  }
}
.radiobt {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../../img/woodenui/Wooden_UI_png/button_01_01.png) center center no-repeat;
  background-size: auto 100%;

  &:after{
    content: " ";
    position: absolute;
    background: url(../../img/woodenui/Wooden_UI_png/button_01_02.png) center center no-repeat;
    background-size: auto 100%;
    width: 20px;
    height: 20px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.checked{

    &:after{
      background: url(../../img/woodenui/Wooden_UI_png/button_01_03.png) center center no-repeat;
      background-size: auto 100%;
    }
  }
}
