footer{
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100vw;
  height: 30px;
  background: url(../../img/woodenui/Wooden_UI_png/plank_19.png) top left repeat-x;
  background-size: auto 100%;

  &:after, &:before{
    content: " ";
    height: 5px;
    background: url(../../img/woodenui/Wooden_UI_png/obj_07.png) top left repeat-x;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    left: 0;
  }
  &:after{
    bottom: -5px;
  }
  &:before{
    top: -5px;
  }

  .gamemod{
    background: url(../../img/woodenui/Wooden_UI_png/skull_03.png) center center no-repeat $noir;
    background-size: auto 100%;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    left: 5%;
    bottom: -15px;

    &:before{
      content: " ";
      height: calc(100% - 12px);
      background: url(../../img/woodenui/Wooden_UI_png/skull_02.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 12px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:after{
      content: " ";
      height: calc(100% - 5px);
      background: url(../../img/woodenui/Wooden_UI_png/logo_04.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 5px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .home{
    background: url(../../img/woodenui/Wooden_UI_png/skull_03.png) center center no-repeat $noir;
    background-size: auto 100%;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // overflow: hidden;
    z-index: 100;
    left: 5%;
    bottom: -15px;

    &:before{
      content: " ";
      height: calc(100% - 12px);
      background: url(../../img/woodenui/Wooden_UI_png/skull_02.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 12px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:after{
      content: " ";
      height: calc(100% - 5px);
      background: url(../../img/badge/02.PNG) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 5px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .livre{
    background: url(../../img/woodenui/Wooden_UI_png/skull_03.png) center center no-repeat $noir;
    background-size: auto 100%;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // overflow: hidden;
    z-index: 100;
    left: 30%;
    bottom: -15px;

    &:before{
      content: " ";
      height: calc(100% - 12px);
      background: url(../../img/woodenui/Wooden_UI_png/skull_02.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 12px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:after{
      content: " ";
      height: calc(100% - 5px);
      background: url(../../img/book/b_m_01_t.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 5px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .infos{
    background: url(../../img/woodenui/Wooden_UI_png/skull_03.png) center center no-repeat $noir;
    background-size: auto 100%;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // overflow: hidden;
    z-index: 100;
    left: 55%;
    bottom: -15px;
    display: none;

    &:before{
      content: " ";
      height: calc(100% - 12px);
      background: url(../../img/woodenui/Wooden_UI_png/skull_02.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 12px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:after{
      content: " ";
      height: calc(100% - 5px);
      background: url(../../img/woodenui/Wooden_UI_png/checkbox_02.png) center center no-repeat;
      background-size: auto 70%;
      position: absolute;
      width: calc(100% - 5px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .admin{
    background: url(../../img/woodenui/Wooden_UI_png/skull_03.png) center center no-repeat $noir;
    background-size: auto 100%;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // overflow: hidden;
    z-index: 100;
    left: 78%;
    bottom: -15px;

    &:before{
      content: " ";
      height: calc(100% - 12px);
      background: url(../../img/woodenui/Wooden_UI_png/skull_02.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 12px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:after{
      content: " ";
      height: calc(100% - 5px);
      background: url(../../img/woodenui/Wooden_UI_png/gear.png) center center no-repeat;
      background-size: auto 70%;
      position: absolute;
      width: calc(100% - 5px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .gatcha{
    background: url(../../img/woodenui/Wooden_UI_png/skull_03.png) center center no-repeat $noir;
    background-size: auto 100%;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    left: calc(10vw + 70px);
    bottom: -15px;

    &:before{
      content: " ";
      height: calc(100% - 12px);
      background: url(../../img/woodenui/Wooden_UI_png/skull_02.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 12px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:after{
      content: " ";
      height: calc(100% - 5px);
      background: url(../../img/box/BagsAndBoxes_04_t.PNG) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 5px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .army{
    background: url(../../img/woodenui/Wooden_UI_png/skull_03.png) center center no-repeat $noir;
    background-size: auto 100%;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    left: calc(15vw + 140px);
    bottom: -15px;

    &:before{
      content: " ";
      height: calc(100% - 12px);
      background: url(../../img/woodenui/Wooden_UI_png/skull_02.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 12px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:after{
      content: " ";
      height: calc(100% - 5px);
      background: url(../../img/woodenui/Wooden_UI_png/logo_01.png) center center no-repeat;
      background-size: auto 100%;
      position: absolute;
      width: calc(100% - 5px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
