.gatchawrapper{
  width: 100%;
  position: relative;
  height: calc(100vh - 140px);
  padding: 60px 50px;
  background: url(../../img/woodenui/Wooden_UI_png/bg_01_02.png) center center no-repeat;
  background-size: calc(100% - 40px) calc(100% - 40px);

  .gatcha {
      background: url(../../img/woodenui/Wooden_UI_png/Plank_06.png) center center no-repeat;
      background-size: 100% 100%;
      width: 100%;
      height: 100px;
      position: relative;
      margin-bottom: 30px;

      &.locked {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:after{
        content: " ";
        background: url(../../img/woodenui/Wooden_UI_png/circle_bg.png) center center no-repeat;
        background-size: 100% auto;
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 5px;
        left: 5px;
      }

      &:before{
        content: " ";
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 5px;
      }

      .box{
        width: 70px;
        height: 70px;
        position: absolute;
        bottom: 5px;
        right: 5px;
      }

      .num {
        position: absolute;
        color: $blanc;
        bottom: 5px;
        left: 5px;
        margin: 0;
        z-index: 10;
        line-height: 30px;
        width: 30px;
        text-align: center;
      }

      .titre{
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        background: url(../../img/woodenui/Wooden_UI_png/title.png) center center no-repeat;
        background-size: 100% 100%;
        margin: 0;
        height: 45px;
        width: 230px;
        line-height: 30px;
        color: $noir;
      }

      &.gatcha__army {


        &.chapitre2 {
          &:before{
            background: url(../../img/livre1/deuxieme.jpg) center center no-repeat;
            background-size: 100% auto;
          }
        }
        &[data-livre="livre2"] {
          &:before{
            background: url(../../img/livre2/premiere.jpg) center center no-repeat;
            background-size: 100% auto;
          }
        }

        &:before{
          background: url(../../img/livre1/premiere.jpg) center center no-repeat;
          background-size: 100% auto;
        }

        .box{
          background: url(../../img/box/Chest_01_01.png) center center no-repeat;
          background-size: 100% auto;
        }
      }

      &.gatcha__hero {

        &:before{
          content: " ";
          background: url(../../img/feature/coffre_hero.jpg) center center no-repeat;
          background-size: 100% auto;
        }

        .box{
          background: url(../../img/box/Chest_01_02.png) center center no-repeat;
          background-size: 100% auto;
        }
      }
  }


  .chapitre {
    display: none;

    .titre__chapitre {
      background: url(../../img/woodenui/Wooden_UI_png/Plank_07.png) center center no-repeat;
      background-size: 100% 100%;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: line-through;
      color: rgba(255, 255, 255, 0.5);

      &.selected {
        color: $blanc;
        text-decoration: none;
      }
      &.done {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;

        &::before {
          content: "✓ ";
        }
      }
    }

    button {
      background: url(../../img/woodenui/Wooden_UI_png/Plank_16.png) center center no-repeat;
      background-size: 100% 100%;
      width: 45%;
      height: 40px;
      line-height: 40px;
      font-size: 1.2rem;
      font-weight: bold;
      border: 0;
      color: $blanc;

      &.continue{
        display: none;
      }
    }

    .nom {
      background: url(../../img/woodenui/Wooden_UI_png/plank_19.png) center center no-repeat;
      background-size: 100% 100%;
      width: 100%;
      height: 35px;
      line-height: 35px;
      margin-bottom: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      border: 0;
      color: $blanc;
    }
  }
}

.ouverture{
  width: 100%;
  position: absolute;
  height: calc(100vh - 140px);
  padding: 60px 50px;
  background: url(../../img/woodenui/Wooden_UI_png/bg_01_02.png) center center no-repeat;
  background-size: calc(100% - 40px) calc(100% - 40px);
  top: 0;
  left: 0;
  z-index: 10;
  display: none;

  .coffre {
    position: relative;
    width: 100%;
    height: 100%;

    &.coffre_army {
      background: url(../../img/box/Chest_01_01.png) center center no-repeat;
      background-size: 50% auto;
    }

    &.coffre_hero {
      background: url(../../img/box/Chest_01_02.png) center center no-repeat;
      background-size: 50% auto;
    }

    .coffre__num {
      padding: 20px 40px;
      font-size: 1.2rem;

      span {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }

    .bt-cancel2 {
      position: absolute;
      top: -20px;
      right: -15px;
    }

    .flextab{
      position: absolute;
      bottom: 30px;
      left: 20px;
      width: calc(100% - 40px);

      .coffre__ouverture1 {
        background: url(../../img/woodenui/Wooden_UI_png/Plank_10.png) center center no-repeat;
        background-size: 100% 100%;
        width: 45%;
        margin-right: 10%;
        height: 40px;
        line-height: 40px;
        font-size: 1.2rem;
        font-weight: bold;
        color: $blanc;
      }

      .coffre__ouverture10{
        background: url(../../img/woodenui/Wooden_UI_png/Plank_10.png) center center no-repeat;
        background-size: 100% 100%;
        width: 45%;
        height: 40px;
        line-height: 40px;
        font-size: 1.2rem;
        font-weight: bold;
        color: $blanc;
      }

      .disabled{
        opacity: 0.5;
      }
    }
  }
}
