header{
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 30px;
  background: url(../../img/woodenui/Wooden_UI_png/plank_19.png) top left repeat-x;
  background-size: auto 100%;

  &:after, &:before{
    content: " ";
    height: 5px;
    background: url(../../img/woodenui/Wooden_UI_png/obj_07.png) top left repeat-x;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    left: 0;
  }
  &:after{
    bottom: -5px;
  }
  &:before{
    top: -5px;
  }

  .avatar{
    background: url(../../img/woodenui/Wooden_UI_png/frame_c_02.png) top left repeat-x $noir;
    background-size: auto 100%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    right: 5px;
    top: -15px;

    img {
      width: calc(100% - 10px);
      height: auto;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
