#infoss{
  margin: 10px;
  margin-bottom: 70px;

  &.infoss-map {
    height: 100vh;
    overflow: scroll;
    width: 100vw;
    margin: 0;

    img {
      width: 500%;
      max-width: 800%;
    }

    button {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #663b22;
      color: #FFF;
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.moinssize {
        right: 60px;
      }
    }
  }

  > div {

    label {
      background: url(../../img/woodenui/Wooden_UI_png/Plank_09.png) center center no-repeat;
      background-size: 100% 100%;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 1.2rem;
      font-weight: bold;
      border: 0;
      color: $blanc;
      position: relative;

      &:after{
        content: " ";
        background: url(../../img/gui_01_slider_02_ar_left.png) center center no-repeat;
        background-size: auto 60%;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        top: 0;
        transform: rotate(-90deg);
      }

      &.open:after {
        transform: rotate(90deg);
      }
    }

    .contenu {
      background: url(../../img/woodenui/Wooden_UI_png/bg_01_02.png) center center no-repeat;
      background-size: 100% 100%;
      padding: 40px 20px;
      font-size: 18px;
      text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
      text-align: justify;
      display: none;
      margin-bottom: 10px;

      &.open {

      }
    }
  }

}
#listeinfo {
    button.Export {
      background: url(../../img/woodenui/Wooden_UI_png/Plank_07.png) center center no-repeat;
      background-size: 100% 100%;
      margin-top: 20px;
      width: 90%;
      border: 0;
      padding: 5px;
      border-radius: 0px;
      text-transform: uppercase;
      font-weight: bold;
      color: $blanc;
    }
}
