.choixunit{
  position: relative;
  padding: 24px;
  width: 100%;

  .choix{
    height: 17vw;
    position: relative;
    z-index: 9;
    line-height: 40px;
    color: #fff;
    font-size: 1.2rem;
    background: url(../../img/woodenui/Wooden_UI_png/frame_s_02.png) center center no-repeat #000;
    background-size: 100% auto;
    width: 23.33%;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 5% 25px;

    &:after{
      content: " ";
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 30px;
      height: 30px;
    }
    &.choc:after{
      background: url(../../img/badge/Tex_badge_02.png) center center no-repeat;
      background-size: auto 100%;
    }
    &.arrow:after{
      background: url(../../img/badge/Tex_badge_03.png) center center no-repeat;
      background-size: auto 100%;
    }
    &.sword:after{
      background: url(../../img/badge/Tex_badge_05.png) center center no-repeat;
      background-size: auto 100%;
    }
  }
  .select {
    height: 40px;
    margin: 0 0 25px;
    position: relative;
    z-index: 9;
    line-height: 40px;
    color: $blanc;
    font-size: 1.2rem;
    background: url(../../img/woodenui/Wooden_UI_png/Plank_07.png) top left repeat;
    background-size: 100% 100%;
  }
}
.troupes {
  position: relative;
  padding: 24px;
  width: 100%;

  .feuilleliste {
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
    padding: 50px 20px 0;
    overflow-y: scroll;

    .troupe {
      height: 55px;
      width: calc(33.33% - 20px);
      margin: 10px;
      background: url(../../img/woodenui/Wooden_UI_png/frame_s_01.png) center center repeat $noir;
      background-size: 100% 100%;
      border-radius: 5px;
      overflow: hidden;
      position: relative;

      .radiobt{
        position: absolute;
        bottom: -4px;
        right: -4px;
        transform: scale(0.5, 0.5);
      }
    }
  }
}

.uppernom {
  text-transform: uppercase;
}
