body, html{
  padding: 0;
  margin: 0;
  position: relative;
  background: linear-gradient(45deg, #3f220c 0%,#d1bdb1 100%);
  min-height: calc(100vh - 0px);
  font-family: 'Lora', serif;
  font-size: 12px;
}
.wrapper{
  position: relative;
  width: 100%;
  text-align: center;
  overflow-x: hidden;

  header, footer{
    max-width: $maxwidth;
    width: 100%;
    position: fixed;
    margin: 20px auto;
    left: 50%;
    transform: translateX(-50%);
  }
  main {
    max-width: $maxwidth;
    width: 100%;
    position: relative;
    margin: 0 auto 0;
  }
}

h1, h2, h3, h4, h5, h6, .titre{
  font-family: 'Uncial Antiqua', cursive;
}

.flextab{
  display: flex;

  &.flextabwrap{
    flex-wrap: wrap;
  }
}

#listeinfo {

  .boxinfo{
    width: calc(100% - 50px);
    position: relative;
    margin: 25px;
    background: url(../../img/woodenui/Wooden_UI_png/plank_19.png) center center no-repeat;
    background-size: 100% 100%;

    &.boxinfo-perso{
      button {
          background: url(../../img/badge/02.PNG) left center no-repeat;
          background-size: auto 110%;
          background-position: top 50% left 5%;
      }
    }
    &.boxinfo-lieu{
      button {
          background: url(../../img/badge/03.png) left center no-repeat;
          background-size: auto 110%;
          background-position: top 50% left 5%;
      }
    }
    &.boxinfo-monstre{
      button {
          background: url(../../img/badge/10.png) left center no-repeat;
          background-size: auto 110%;
          background-position: top 50% left 5%;
      }
    }
    &.boxinfo-carte{
      button {
          background: url(../../img/map_t_01.png) left center no-repeat;
          background-size: auto 80%;
          background-position: top 50% left 5%;
      }
    }
    button {
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 1.2rem;
      font-weight: bold;
      border: 0;
      color: $blanc;
    }
  }
}
