main > .num {
  width: calc(100% - 0px);
  padding: 20px;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(45deg,#bf9e86 0,#d1bdb1 100%);
  padding-bottom: 100px;

  .text{
    padding-bottom: 30px;
    text-align: justify;

    h1 {
      text-align: center;
    }

    p{
      font-size: 22px;
      margin: 0 0 30px;

      &.middle{
        text-align: center;
        font-weight: bold;
      }

      &.attention{
        border: 1px solid red;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: Arial;
        padding: 10px;
        background: #ffdbdb;
      }
    }
  }

  .choix {
    padding-bottom: 30px;

    &.choix2 {
      position: absolute;
      z-index: 10;
      width: calc(100% - 40px);
      left: 20px;
      bottom: 30px;
      display: none;
    }

    .ch {
      background: url(../../img/woodenui/Wooden_UI_png/Plank_10.png) center center no-repeat;
      background-size: 100% 100%;
      width: 100%;
      height: auto;
      line-height: 20px;
      font-size: 20px;
      padding: 12px;
      font-weight: bold;
      border: 0;
      color: $blanc;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

.text.chapter2 {

  &:after{
    background: url(../../img/livre1/intro2.jpg) left center no-repeat;
    background-position: top 50% left 0;
    background-size: auto 100%;
    width: calc(100% + 40px);
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    height: 100vh;

    animation: bg 15s linear 0s 1;
    animation-fill-mode: forwards;
  }

  .newchapter {
    position: absolute;
    z-index: 10;
    font-size: 30px;
    font-weight: 700;
    top: 50px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    left: -180px;
    animation: newchap 2s cubic-bezier(0, 1.25, 1, 1) .5s 1;
    animation-fill-mode: forwards;
  }
  .newchapter2 {
    position: absolute;
    z-index: 10;
    font-size: 22px;
    font-weight: 700;
    top: 120px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    right: -290px;
    animation: newchap2 2s cubic-bezier(0, 1.25, 1, 1) 1s 1;
    animation-fill-mode: forwards;
  }
  .resume {
    position: absolute;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    width: calc(100% - 40px);
    height: calc(100vh - 170px);
    padding: 20px;
    overflow-y: scroll;
    display: none;
  }
}
.text.chapter3.intro {
  .resume {
    position: absolute;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    width: calc(100% - 40px);
    height: calc(100vh - 170px);
    padding: 20px;
    overflow-y: scroll;
    display: none;
  }
  &:after{
    background: url(../../img/livre1/intro3.jpg) left center no-repeat;
    background-position: top 50% left 0;
    background-size: auto 100%;
    width: calc(100% + 40px);
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    height: 100vh;

    animation: bg 15s linear 0s 1;
    animation-fill-mode: forwards;
  }
  .newchapter {
    position: absolute;
    z-index: 10;
    font-size: 30px;
    font-weight: 700;
    top: 50px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    left: -180px;
    animation: newchap 2s cubic-bezier(0, 1.25, 1, 1) .5s 1;
    animation-fill-mode: forwards;
  }
  .newchapter3 {
    position: absolute;
    z-index: 10;
    font-size: 22px;
    font-weight: 700;
    top: 120px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    right: -290px;
    animation: newchap2 2s cubic-bezier(0, 1.25, 1, 1) 1s 1;
    animation-fill-mode: forwards;
  }

}

@keyframes bg {
  0% {
    background-position: top 50% left 0;
  }
  80% {
    background-position: top 50% left 60%;
    opacity: 1;
  }
  99% {
    opacity: 1;
    background-position: top 50% left 60%;
  }
  100% {
    opacity: 1;
    background-position: top 50% left 60%;
    // display: none;
  }
}
@keyframes newchap {
  0% {
    left: -180px;
  }
  100% {
    left: 40px;
  }
}
@keyframes newchap2 {
  0% {
    right: -290px;
  }
  100% {
    right: 20px;
  }
}
