#newperso{
  width: 100%;
  height: calc(100vh - 170px);
  padding: 20px;

  .estu{
    background: url(../../img/woodenui/Wooden_UI_png/strip_bg02.png) left bottom no-repeat;
    background-size: 100% 100%;
    padding: 4px;
  }

  .board .part1, .board .part2, .board .part3{
    height: 100%;
    position: relative;
    width: 100%;
  }
  .part2{
    display: none;

    .center{
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      text-align: center;

      input {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding: 5px;
      }

      button {
        background: url(../../img/woodenui/Wooden_UI_png/Plank_16.png) center center no-repeat;
        background-size: 100% 100%;
        width: 45%;
        height: 40px;
        line-height: 40px;
        font-size: 1.2rem;
        font-weight: bold;
        border: 0;
        color: $blanc;
      }
    }
  }
  .part3, .part4{
    display: none;

    .center{
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      text-align: center;

      button {
        background: url(../../img/woodenui/Wooden_UI_png/Plank_16.png) center center no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 50px;
        line-height: 40px;
        font-size: 1.2rem;
        font-weight: bold;
        border: 0;
        color: $blanc;
        margin-bottom: 20px;
      }

      .def {
        display: none;
      }
    }
  }
  .cache {
    display: none;
  }

  .board {
    width: 100%;
    height: 100%;
    padding:0;

    .img {
      width: 100%;
      z-index: 10;
      position: relative;
      height: 50%;
      color: $blanc;

      &.img-fille{
        background: url(../../img/avatar/female/Tex_AnimeAva_11.png) left bottom no-repeat;
        background-size: auto 100%;

        label {
          right: 5px;
        }
      }
      &.img-garcon{
        background: url(../../img/avatar/male/Tex_AnimeAva_38.png) right bottom no-repeat;
        background-size: auto 100%;

        label {
          left: 5px;
        }
      }

      label{
        text-transform: uppercase;
        font-size: 18px;
        position: absolute;
        bottom: 0;
        background: url(../../img/woodenui/Wooden_UI_png/Plank_16.png) center center no-repeat;
        background-size: 100% 100%;
        width: 45%;
        height: 40px;
        line-height: 40px;
        font-size: 1.2rem;
        font-weight: bold;
        border: 0;
        color: $blanc;
      }
    }
  }
}


.popin {
  display: none;
  background: rgba($noir, 0.7);
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .wrapperpopin{
    margin: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    width: calc(100% - 40px);
    transform: translateY(-50%);
    color: $blanc;

    p {
      font-size: 22px;
    }

    button {
      background: url(../../img/woodenui/Wooden_UI_png/Plank_16.png) center center no-repeat;
      background-size: 100% 100%;
      width: 45%;
      height: 40px;
      line-height: 40px;
      font-size: 1.2rem;
      font-weight: bold;
      border: 0;
      color: $blanc;

      &.oui {

      }
      &.non {

      }
    }

    .plus {
      background: url(../../img/woodenui/Wooden_UI_png/book.png) center center no-repeat;
      background-size: 100% 100%;
      padding: 20px;
      margin: 20px 0;
      color: $noir;
      display: none;

      p {
        font-size: 18px;
        // font-weight: bold;
        column-count: 2;
      }
    }
  }
}

.allpersos {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-left: -20px;
  display: flex;
  margin-bottom: 25px;

  .fiche{
    margin: 0 20px 20px;
    // width: 100%;
    width: calc(50% - 40px);
    height: 100%;
    position: relative;
    z-index: 2;
    background: url(../../img/woodenui/Wooden_UI_png/black_01_01.png) top left repeat;
    background-size: 100% 100%;

    &:before {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &.fiche-livre1{
      background: url(../../img/livre1/premiere.jpg) center center no-repeat;
      background-size: cover;
    }
    &.fiche-livre1.fiche-chapitre2{
      background: url(../../img/livre1/deuxieme.jpg) center center no-repeat;
      background-size: cover;
    }
    &.fiche-livre2{
      background: url(../../img/livre2/premiere.jpg) center center no-repeat;
      background-size: cover;
    }

    &.fiche-fille{
      &:before {
       background: url(../../img/avatar/female/Tex_AnimeAva_11.png) left bottom no-repeat;
       background-size: auto 100%;
     }
    }
    &.fiche-garcon{
      &:before {
       background: url(../../img/avatar/male/Tex_AnimeAva_38.png) right bottom no-repeat;
       background-size: auto 100%;
     }
     .nom {
       left: 5px;
     }
     button {
       left: 15px;
     }
     .livre {
       text-align: left;
     }
     .chapitre {
       text-align: left;
     }
    }

     .nom {
       background: url(../../img/woodenui/Wooden_UI_png/Plank_08.png) right bottom no-repeat;
       background-size: 100% 100%;
       position: relative;
       z-index: 2;
       width: 60%;
      height: 30px;
      line-height: 30px;
      color: $blanc;
      text-transform: uppercase;
      position: absolute;
      top: 5px;
      right: 5px;
     }
     .livre {
       position: relative;
       z-index: 2;
       text-align: right;
        padding: 46px 15px 15px 15px;
        color: $blanc;
        margin: 0;
        text-shadow: $noir 1px 1px 5px, $noir -1px -1px 5px, $noir -1px 1px 5px, $noir 1px -1px 5px;
     }
     .chapitre {
       position: relative;
       z-index: 2;
       text-align: right;
        padding: 0 15px 15px 15px;
        color: $blanc;
        margin: 0;
        text-shadow: $noir 1px 1px 5px, $noir -1px -1px 5px, $noir -1px 1px 5px, $noir 1px -1px 5px;
     }

     button {
       background: url(../../img/woodenui/Wooden_UI_png/Plank_16.png) center center no-repeat;
       background-size: 100% 100%;
       width: 45%;
       height: 40px;
       line-height: 40px;
       font-size: 1.2rem;
       font-weight: bold;
       border: 0;
       color: $blanc;
       position: absolute;
       bottom: 15px;
       right: 15px;
       text-transform: uppercase;
     }
   }
}

.previous_perso {
  background: url(../../img/woodenui/Wooden_UI_png/arrow_left.png) center left no-repeat;
  background-size: auto 100%;
  width: 30%;
  display: block;
  float: left;
  height: 50px;
  border: 0;
  color: $blanc;
  position: relative;

  &.disabled {
    opacity: 0.25;
  }
}

.select_perso {
  background: url(../../img/woodenui/Wooden_UI_png/frame_red.png) center center no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 50px;
  border: 0;
  color: $blanc;
  position: relative;
  width: 40%;
  display: block;
  float: left;

  &:before {
    content: "Infos";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 40px;
    transform: translate(-50%, -50%);
    line-height: 50px;
    text-transform: uppercase;
    width: 100%;
  }
}

.next_perso {
  background: url(../../img/woodenui/Wooden_UI_png/arrow_right.png) center right no-repeat;
  background-size: auto 100%;
  width: 40px;
  height: 50px;
  border: 0;
  color: $blanc;
  position: relative;
  width: 30%;
  display: block;
  float: left;

  &.disabled {
    opacity: 0.25;
  }
}

.modifpersos {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 20px;

  .frise {
    background: url(../../img/woodenui/Wooden_UI_png/Plank_05.png) top left repeat-x;
    background-size: auto 100%;
    height: 20px;
    width: 100%;
    position: absolute;

    &.frise1 {
      top: 0;
      left: 0;
    }
    &.frise2 {
      bottom: 0;
      left: 0;
    }
    &.frise3 {
      background: url(../../img/woodenui/Wooden_UI_png/Plank_05bis.png) top left repeat-y;
      background-size: 100% auto;
      top: 0;
      left: 0;
      height: 100%;
      width: 20px;
    }
    &.frise4 {
      background: url(../../img/woodenui/Wooden_UI_png/Plank_05bis.png) top left repeat-y;
      background-size: 100% auto;
      top: 0;
      right: 0;
      height: 100%;
      width: 20px;
    }
  }

  #myperso {
    position: relative;
    padding: 5px;
    width: 100%;
    height: 100%;
    text-align: left;
    min-height: calc(100vh - 100px);

    .portrait{
      position: relative;
      width: 60%;
      min-height: 220px;
      border: 2px dashed #8e4a28;
      border-radius: 3px;
      float: left;

      &.fille {
        background: url(../../img/avatar/female/Tex_AnimeAva_11.png) center center no-repeat rgba(255, 255, 255, 0.55);
        background-size: 100% auto;
      }
      &.garcon {
        background: url(../../img/avatar/male/Tex_AnimeAva_38.png) center center no-repeat rgba(255, 255, 255, 0.55);
        background-size: 100% auto;
      }

      .modif_nom {
        width: calc(100% - 0px);
        position: absolute;
        bottom: 0;
        left: 0;

        input {
          width: calc(100% - 0px);
          padding: 5px;
          border-radius: 0px;
          border: 0;
          margin-bottom: 10px;
          font-family: Arial;
          background: url(../../img/woodenui/Wooden_UI_png/Plank_09.png) center center no-repeat;
          background-size: 100% 100%;
          padding: 5px 20px;
          color: $blanc;
        }

        &:after {
          background: url(../../img/autre/penb.png) center center no-repeat;
          background-size: 60% auto;
          top: 0;
          right: 0;
          height: 30px;
          width: 30px;
          content: " ";
          position: absolute;
        }
      }
    }

    .infos_small {
      float: left;
      width: calc(40% - 4px);
      padding: 10px;

      > div {
        color: $blanc;
        margin-bottom: 5px;
        text-shadow: $noir 1px 1px 4px;
      }
    }
    hr {
      clear: both;
      height: 1px;
      width: 100%;
      border: 0;
      margin: 0px;
    }
    .histoire {
      // overflow-y: scroll;
      position: relative;
      clear: both;
      width: calc(100% - 20px);
      height: calc(100vh - 350px);
      margin: 10px;
      background: url(../../img/woodenui/Wooden_UI_png/bg_01_02.png) center center no-repeat;
      background-size: 100% 100%;
      padding: 10px;

      .hist_1 {
        overflow-y: scroll;
        position: relative;
      }
    }
  }
}
