<div id="infoss">
  <div data-lieux="Azalys" class="hidden">
    <label>L'académie d'Azalys</label>
    <div class="contenu"><p class="phrase1">L'académie d'Azalys a été construite il y a 250 ans sur une île du lac Déluine. Trés vite tous les plus grands mages ont commencé à s'y rassembler pour apprendre et découvrir de nouveaux sorts. Comme la région était infestés de monstres et de barbares, les mages ont envoyé leurs plus puissants éléments pour pacifier les alentours. Les villages sauvés par les mages décidèrent trés vite de suivre l'académie. Ainsi "le pays" commença à s'aggrandir. L'académie est l'endroit où sont formés les futurs mages mais aussi c'est l'endroit où les 4 mages supérieurs dirigent le pays. Désormais l'influence du pays va des terres du nord aux monts noirs.</p>
    <p class="phrase2">Aujourd'hui l'académie est une véritable ville de plus de 10000 personnes vivant là en permanence. C'est une vraie capitale. 2000 mages y sont présents également.</p>
    <p data-lieux="Marina" class="hidden">La marina de l'académie est le lieu de rendez-vous des mages et des non-mages. Multitudes de petites échoppes et bâteaux. C'est l'endroit parfait pour se détendre et faire du shopping.</p>
    <p data-lieux="Azalysbibliotheque" class="hidden">La bibliothèque d'Azalys est extraordinairement grande. On y trouve 15000 livres et plus de 100000 parchemins.</p>
    </div>
  </div>

  <div data-lieux="Azano" class="hidden">
    <label>tour Azano</label>
    <div class="contenu"><p class="phrase1">Cette tour est un avant poste des mages vers les monts noirs. C'est l'endroit où sont envoyés les mages aventuriers les plus puissants. Ce sont Ymir et Zaïra qui ont fait construire la tour à l'époque pour les aider à repartir en mission plus vite. La tour est toujours gardée par au moins 20 mages très puissant. Un village est venu se construire à côté, profitant de la protection de ses habitants. C'est le passage obligé pour toute mission vers les monts noirs et le deuxième endroit où l'on peut trouver le plus de mage dans le pays (après Azalys).</p></div>
  </div>

  <div data-lieux="Condorra" class="hidden">
    <label>Condorra</label>
    <div class="contenu"><p class="phrase1">Haziko est originaire de cette citée. C'est une ville de taille moyenne au sud de l'académie. Elle est à mi-chemin entre l'académie et Grand-Couronne. La spécialité de la ville est la forge. La finesse des épées et des fers forgés de la ville est reconnu partout dans le pays.</p></div>
  </div>

  <div data-lieux="Darmen" class="hidden">
    <label>Darmen</label>
    <div class="contenu"><p class="phrase1">Darmen est un village plus au nord de l'académie. Ni petit ni grand, il faut plusieurs jours pour l'atteindre en charrette.</p></div>
  </div>

  <div data-lieux="Déluine" class="hidden">
    <label>Lac Déluine</label>
    <div class="contenu"><p class="phrase1">C'est un lac de montagne aux eaux cristallines. Il est célèbre car l'académie d'Azalys est construite sur une île du lac.</p></div>
  </div>

  <div data-lieux="GrandCouronne" class="hidden">
    <label>Grand-Couronne</label>
    <div class="contenu"><p class="phrase1">Cette grande ville est située tout au sud du pays. C'est une des dernières villes à avoir été intégré au pays. Il y a de cela 25 ans, c'était encore une ville de barbares. Maintenant, elle possède de grandes fortifications et l'académie a envoyé plusieurs mages pour la sécuriser. L'endroit est devenu un carrefour pour faire du commerce avec toutes les tribus nomades de la région.</p></div>
  </div>

  <div data-lieux="Kaelleg" class="hidden">
    <label>Kaelleg</label>
    <div class="contenu"><p class="phrase1">C'est un village au nord de Darmen. Le village possède un élevage de dragons-fées.</p></div>
  </div>

  <div data-lieux="Melb" class="hidden">
    <label>Melb</label>
    <div class="contenu"><p class="phrase1">C'est un petit village minier au nord de l'académie. Mac Lumy vient de ce village qui se situe dans les monts venteux.</p></div>
  </div>

  <div data-lieux="montsnoirs" class="hidden">
    <label>Les Monts noirs</label>
    <div class="contenu"><p class="phrase1">C'est la limite Est du pays. Une chaine de montagnes peuplés de monstres tous plus puissants les uns que les autres. C'est là-bas qu'est endormi le dragon Soufflardent depuis 150 ans.</p></div>
  </div>

  <div data-lieux="Paumet" class="hidden">
    <label>Paumet</label>
    <div class="contenu"><p class="phrase1">C'est un petit village paumé, pas très très loin de l'académie. Il n'y a absolument rien de spécial à voir là-bas.</p></div>
  </div>

  <div data-lieux="Sarambe" class="hidden">
    <label>Sarambe</label>
    <div class="contenu"><p class="phrase1">C'est une ville de taille modeste: environ 3000 habitants. La plupart des gens vit des marchandises vendues à l'académie toute proche. En quelques heures de charrette on arrive au lac Déluine et à l'académie. Comme construire des maisons autour du lac est interdit, c'est la grande ville la plus proche de l'académie. C'est également le lieu de l'examen d'entrée des nouveaux élèves de l'académie qui a lieu 1 fois par an.</p></div>
  </div>

  <div data-lieux="Téogile" class="hidden">
    <label>Téogile</label>
    <div class="contenu"><p class="phrase1">C'est la grande ville de l'ouest du pays. Kannan est originaire de ce lieu. On y mange particulièrement bien, la spécialité locale est la galette de troubes.</p></div>
  </div>

  <div data-lieux="terresnord" class="hidden">
    <label>Terres du nord</label>
    <div class="contenu"><p class="phrase1">La partie du pays la plus au nord. Les gens du nord ont la peau légèrement bleutée car ils n'y a pas beaucoup de soleil et cela les protège du froid glacial qu'il peut y faire.</p></div>
  </div>
</div>
