<div class="num num-1-2-1">

  <div class="text chapter2">
    <div class="newchapter">CHAPITRE 2</div>
    <div class="newchapter2">La source de toute magie</div>

    <div class="resume">
      <p class="middle">- Résumé -</p>

      <!-- FIN 1 accompagne Miguel à la forteresse de la lune -->
      <div class="fin fin-1">
      <p>Après avoir fini <span class="maplace"></span>° à l'examen d'entrée à l'Académie d'Azalys, tu as intégré l'école avec 7 autres nouveaux élèves.</p>
      <p>Sous l'enseignement de Qobur, le mage violet, et d'autres mages tu as pu enfin apprendre à lancer de vrais sorts.</p>
      <p>Au sein de ton groupe (<span class="grp1-1"></span>, <span class="grp1-2"></span> et <span class="grp1-3"></span>) et accompagné de votre familier, Miguel, vous avez pu vous améliorer tout au long de l'année.</p>
      <p>Mais lors d'une mission plus dangereuse que prévue, tout a basculé pour toi.</p>
      <p>Estrion, un mage chevronné, devait te remettre une personne maudite, Terrence, que tu devais ramener à l'académie avec ton groupe. Mais le village où vous deviez vous retrouver était rempli de bandits et vous avez dû batailler pour les retrouver.</p>
      <p>Ils s'étaient réfugiés dans une grotte derrière une cascade. Alors que vous aviez perdu de vue Miguel et que la nuit tombait, vous décidiez de tenter une sortie.</p>
      <p>Malgré vos précautions, Modrak, le chef des bandits, tomba sur vous. Il s'avéra qu'il était une créature d'une puissance inimaginable.</p>
      <p>Mais contre toute attente un noctule, sorte de lapin géant, le réduisit en cendres facilement. Ce noctule, c'était la forme véritable de Miguel. Et lui aussi convoitait Terrence pour sa malédiction.</p>
      <p class="sigrp1-1">Accompagné<span class="sf">e</span> de <span class="grp1-1"></span>, vous décidiez de partir avec eux.</p>
      <p class="sipasgrp1-1">Tu décidas de partir avec eux après quelques hésitations.</p>
      <p>Voyageant dans les airs à une vitesse inimaginable vous arriviez à une forteresse taillée dans les contreforts des monts noirs. Quelle fut ta surprise quand tu rencontras en personne Ymir. Encore vivant malgré tout ce qu'on avait pu te raconter à l'académie.</p>
      </div>
      <!-- \FIN 1 -->
      <!-- FIN 2 retourne à l'académie -->
      <div class="fin fin-2">
      <p>Après avoir fini <span class="maplace"></span>° à l'examen d'entré à l'Académie d'Azalys, tu as intégré l'école avec 7 autres nouveaux élèves.</p>
      <p>Sous l'enseignement de Qobur, le mage violet, et d'autres mages tu as pu enfin apprendre à lancer de vrais sorts.</p>
      <p>Au sein de ton groupe (<span class="grp1-1"></span>, <span class="grp1-2"></span> et <span class="grp1-3"></span>) et accompagné de votre familier, Miguel, vous avez pu vous améliorer tout au long de l'année.</p>
      <p>Mais lors d'une mission plus dangereuse que prévue, tout a basculé pour toi.</p>
      <p>Estrion, un mage chevronné, devait te remettre une personne maudite, Terrence, que tu devais ramener à l'académie avec ton groupe. Mais le village où vous deviez vous retrouver était rempli de bandits et vous avez dû batailler pour les retrouver.</p>
      <p>Ils s'étaient réfugiés dans une grotte derrière une cascade. Alors que vous aviez perdu de vue Miguel et que la nuit tombait, vous décidiez de tenter une sortie.</p>
      <p>Malgré vos précautions, Modrak, le chef des bandits, tomba sur vous. Il s'avéra qu'il était une créature d'une puissance inimaginable.</p>
      <p>Mais contre toute attente un noctule, sorte de lapin géant, le réduisit en cendres facilement. Ce noctule, c'était la forme véritable de Miguel. Et lui aussi convoitait Terrence pour sa malédiction.</p>
      <p class="sigrp1-1"><span class="grp1-1"></span> décida de partir avec eux.</p>
      <p>Miguel te proposa de le suivre également mais tu refusas.</p>
      </div>
      <!-- \FIN 2 -->
      <!-- FIN 3 va à la tour d'azano pour te faire retirer le tatouage -->
      <div class="fin fin-3">
      <p>Après avoir fini <span class="maplace"></span>° à l'examen d'entré à l'Académie d'Azalys, tu as intégré l'école avec 7 autres nouveaux élèves.</p>
      <p>Sous l'enseignement de Qobur, le mage violet, et d'autres mages tu as pu enfin apprendre à lancer de vrais sorts.</p>
      <p>Au sein de ton groupe (<span class="grp1-1"></span>, <span class="grp1-2"></span> et <span class="grp1-3"></span>) et accompagné de votre familier, Miguel, vous avez pu vous améliorer tout au long de l'année.</p>
      <p>Mais lors d'une mission plus dangereuse que prévue, tout a basculé pour toi.</p>
      <p>Estrion, un mage chevronné, devait te remettre une personne maudite, Terrence, que tu devais ramener à l'académie avec ton groupe. Mais le village où vous deviez vous retrouver était rempli de bandits et vous avez dû batailler pour les retrouver.</p>
      <p>Ils s'étaient réfugiés dans une grotte derrière une cascade. Alors que vous aviez perdu de vue Miguel et que la nuit tombait, vous décidiez de tenter une sortie.</p>
      <p>Malgré vos précautions, Modrak, le chef des bandits, tomba sur vous. Il s'avéra qu'il était une créature d'une puissance inimaginable.</p>
      <p>Au cours du combat Terrence se sacrifia pour te sauver la vie. Il disparut mais tu récupéras tu ne sais trop comment sa malédiction. Cette malédiction te permit de maitriser Modrak facilement. Puis un noctule, sorte de lapin géant, arriva juste à ce moment là. Ce noctule, c'était la forme véritable de Miguel.</p>
      <p> Il voulut t'emmener avec lui mais tu refusais son offre. Grâce au pouvoir du tatouage Miguel ne put te forcer à l'accompagner.</p>
      <p class="sigrp1-1">Cependant <span class="grp1-1"></span> décida de partir avec lui.</p>
      <p>A ton retour à l'académie, tes pouvoirs magiques disparurent comme te l'avait prédit Miguel. Et au moment où tu comptais partir de l'académie, Lasseni te conseilla d'aller à la tour d'Azano où, selon elle, quelqu'un pourrait t'aider à retrouver tes pouvoirs.</p>
      </div>
      <!-- \FIN 3 -->
      <!-- FIN 4 retour à l'académie Estrion vivant Terrence enlevé -->
      <div class="fin fin-4">
      <p>Après avoir fini <span class="maplace"></span>° à l'examen d'entré à l'Académie d'Azalys, tu as intégré l'école avec 7 autres nouveaux élèves.</p>
      <p>Sous l'enseignement de Qobur, le mage violet, et d'autres mages tu as pu enfin apprendre à lancer de vrais sorts.</p>
      <p>Au sein de ton groupe (<span class="grp1-1"></span>, <span class="grp1-2"></span> et <span class="grp1-3"></span>) et accompagné de votre familier, Miguel, vous avez pu vous améliorer tout au long de l'année.</p>
      <p>Mais lors d'une mission plus dangereuse que prévue, tout a basculé pour toi.</p>
      <p>Estrion, un mage chevronné, devait te remettre une personne maudite, Terrence, que tu devais ramener à l'académie avec ton groupe. Mais le village où vous deviez vous retrouver était rempli de bandits et vous avez dû batailler pour les retrouver.</p>
      <p>Ils s'étaient réfugiés dans une grotte derrière une cascade. Alors que vous aviez perdu de vue Miguel et que la nuit tombait, vous décidiez de tenter une sortie.</p>
      <p>Malgré vos précautions, Modrak, le chef des bandits, tomba sur vous. Il s'avéra qu'il était une créature d'une puissance inimaginable.</p>
      <p>Mais contre toute attente un noctule, sorte de lapin géant, le réduisit en cendres facilement. Ce noctule, c'était sûrement la forme véritable de Miguel. Et lui aussi convoitait Terrence pour sa malédiction. Il prit rapidement la fuite en enlevant Terrence.</p>
      </div>
      <!-- \FIN 4 -->
      <!-- FIN 5 retour à l'académie sans info à propos de Miguel -->
      <div class="fin fin-5">
      <p>Après avoir fini <span class="maplace"></span>° à l'examen d'entré à l'Académie d'Azalys, tu as intégré l'école avec 7 autres nouveaux élèves.</p>
      <p>Sous l'enseignement de Qobur, le mage violet, et d'autres mages tu as pu enfin apprendre à lancer de vrais sorts.</p>
      <p>Au sein de ton groupe (<span class="grp1-1"></span>, <span class="grp1-2"></span> et <span class="grp1-3"></span>) et accompagné de votre familier, Miguel, vous avez pu vous améliorer tout au long de l'année.</p>
      <p>Mais lors d'une mission plus dangereuse que prévue, tout a basculé pour toi.</p>
      <p>Estrion, un mage chevronné, devait te remettre une personne maudite, Terrence, que tu devais ramener à l'académie avec ton groupe. Mais le village où vous deviez vous retrouver était rempli de bandits et vous avez dû batailler pour les retrouver.</p>
      <p>Ils s'étaient réfugiés dans une grotte derrière une cascade. Alors que vous aviez perdu de vue Miguel et que la nuit tombait, vous décidiez de tenter une sortie.</p>
      <p>Mais tu ne pouvais abandonner tes compagnons qui avaient été emprisonné par Modrak, le chef des bandits. Tu décidas de te séparer d'Estrion et d'aller les délivrer. Ce qui fut chose facile finalement. Le calme revint dans le village sans que tu saches les détails du dénouement. Estrion fut retrouvé mort et Terrence disparut.</p>
      </div>
      <!-- \FIN 5 -->
      <!-- FIN 6 allié de Soufflardent -->
      <div class="fin fin-6">
      <p>Après avoir fini <span class="maplace"></span>° à l'examen d'entré à l'Académie d'Azalys, tu as intégré l'école avec 7 autres nouveaux élèves.</p>
      <p>Sous l'enseignement de Qobur, le mage violet, et d'autres mages tu as pu enfin apprendre à lancer de vrais sorts.</p>
      <p>Au sein de ton groupe (<span class="grp1-1"></span>, <span class="grp1-2"></span> et <span class="grp1-3"></span>) et accompagné de votre familier, Miguel, vous avez pu vous améliorer tout au long de l'année.</p>
      <p>Mais lors d'une mission plus dangereuse que prévue, tout a basculé pour toi.</p>
      <p>Estrion, un mage chevronné, devait te remettre une personne maudite, Terrence, que tu devais ramener à l'académie avec ton groupe. Mais le village où vous deviez vous retrouver était rempli de bandits et vous avez dû batailler pour les retrouver.</p>
      <p>Une nuit tu reçus un message de Soufflardent lui-même. Il te délivra une vérité que l'académie essaie de cacher : sans le dragon, la magie n'existerait pas. Et s'il ne se réveille pas bientôt, le dragon risque de mourir et de faire disparaitre toute la magie. Tu décidas donc de l'aider.</p>
      <p>Estrion et Terrence s'étaient réfugiés dans une grotte derrière une cascade. Alors que vous aviez perdu de vue Miguel et que la nuit tombait, vous décidiez de tenter une sortie.</p>
      <p>Tu sabotes le plan pour d'Estrion pour aider Soufflardent. Une grande bataille eut lieu. Tu laissas Modrak s'occupait du combat et attendis avec tes compagnons au village de Darmen.</p>
      <p>Finalement un messager du dragon te rapporta que Miguel, qui est une créature surpuissante, réussit à s'enfuir avec Terrence et a éliminer Modrak et les bandits.</p>
      <p>Estrion fut retrouvé mort également et Soufflardent te demanda de rester à l'académie pour attendre ses ordres.</p>
      </div>
      <!-- \FIN 6 -->

    </div>

  </div>
  <div class="choix choix2">
    <div class="ch fin fin-1" data-go="3">SUITE</div>
    <div class="ch fin fin-2" data-go="2">SUITE</div>
    <div class="ch fin fin-3" data-go="4">SUITE</div>
    <div class="ch fin fin-4" data-go="2">SUITE</div>
    <div class="ch fin fin-5" data-go="2">SUITE</div>
    <div class="ch fin fin-6" data-go="9">SUITE</div>
  </div>
  <audio id="myAudio">
    <source src="media/chapter2.mp3" type="audio/mpeg">
  </audio>
</div>
