<div class="num num-1-2-10">

  <div class="text">
    <h1>- 10 -</h1>

    <p>Un matin, Qobur te fit appeler alors que tu étais en train d'expérimenter certains effets de tes sorts en condition extrême (tu tentais de lancer un sort d'eau dans le jardin sec de l'académie).</p>

    <p>Quand il t'appelle de manière imprévue c'est qu'il a une mission urgente pour toi. Tu montes les marches du 3° étage de la grande tour quatre à quatre. De là tu vois encore plus loin à l'horizon. Depuis que tu es passé<span class="sf">e</span> jeune mage tu as enfin le droit de monter ici et ça t'impressionne à chaque fois. Dire que les mages supérieurs comme Soyos ont le droit de monter au dernier étage...tu en meurs d'envie.</p>

    <p>Qobur t'attend dans une des salles pour l'établissement de la stratégie des missions. Lasseni est en train de parler avec lui.</p>

    <p>- Vous m'avez demandé ? dis-tu en les interrompant.<br />
      - <span class="tonnom"></span> ! Oui il y a une mission importante à laquelle tu vas participer.</p>

    <p>Lasseni reste écouter ta conversation avec Qobur, ce qui laisse sous-entendre qu'elle va participer à la mission avec toi. Au cours des dernières années tu as dû faire 5 missions avec elle et ça c'est toujours mal passé. Pas au niveau du résultat de la mission, mais au niveau relationnel avec elle vous finissiez toujours par vous énerver.</p>

    <p>- Professeur, je dois vraiment faire équipe avec Lasseni ? Vous savez que ça se passe pas bien entre nous.<br />
      - Cette fois la mission est beaucoup plus complexe que d'habitude. Vous serez 4. Lasseni qui est toujours classée meilleure jeune mage sera chef d'équipe, sa présence a été demandée par Mullihane elle-même.</p>

    <p>Mullihane, c'est une des 4 mages supérieurs de l'académie, elle a le même rang que Soyos. Depuis ta deuxième année à l'académie tu sais qu'elle adore Lasseni - mais c'est bien la seule.</p>

    <p>- Mac Lumy et toi vous l'accompagnerez. Comme ça, les trois meilleurs jeunes mages de l'académie seront sur la mission, reprend Qobur.<br />
      - Qui est la quatrième personne ? Vous avez bien dit qu'on était 4, non ?<br />
      - C'est un jeune mage de la tour d'Azano, un certain Rem. Recommandé par Fandrean, le...<br />
      - Il paraît que c'est un mage encore plus puissant que moi. J'ai hâte de voir ça, le coupe Lasseni.</p>

    <p>Tu sais que Fandrean est le mage le plus puissant de la tour d'Azano. Certains voient en lui le futur Ymir de ta génération. Tu ne sais pas qui est ce Rem mais tu aimerais bien rencontrer Fandrean.</p>

    <p>Tu entends quelqu'un arriver à bout de souffle :<br />
      - Je suis en retard ? Désolé j'étais de corvée de familier, s'excuse Mac Lumy.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="11">Partir en mission</div>
  </div>

</div>
