<div class="num num-1-2-100">

  <div class="text">
    <h1>- 100 -</h1>

    <p class="fin fin-3 fin-2 fin-4 fin-5 fin-6">Vous passez dans de somptueux couloirs. De l'extérieur rien ne laissait présager d'un tel luxe intérieur. Des tableaux et des tapisseries anciennes, d'ailleurs certaines ont l'air de raconter la mythologie du combat d'Ymir et Zaïra contre Soufflardent. Tu peux d'abord voir leur arrivée dans les monts noirs. Puis une autre tapisserie les montre en train de rentrer dans l'antre souterrain de Soufflardent. La suivante montre le combat en lui-même, où personne ne prend l'avantage. Puis enfin le moment où Ymir et Zaïra endorment le dragon. Mais la suite te paraît étrange, Ymir et Zaïra reviennent à l'académie et racontent leur combat. Une autre tapisserie encore montre 4 mages bannir Ymir et Zaïra de l'académie. Enfin, la dernière tapisserie montre tes idoles construire un palais dans les monts noirs.</p>
    <p class="fin fin-1">Tu guides tes amis dans la forteresse, tu n'es pas peu <span class="sf">fière</span><span class="sg">fier</span> de connaître tout le monde ici.</p>

    <p class="fin fin-3 fin-2 fin-4 fin-5 fin-6">Vous arrivez finalement dans la salle de stratégie de la forteresse. Une vieille mage vous y attend déjà avec une dizaine d'autres personnes qui ont tous l'air d'être de grands mages.<br />
    - À la forteresse, tout le monde connait la magie, même les serviteurs. te dit <span class='fort-nom'></span><br />
    - Cette femme...c'est quand même pas…? commences-tu à dire.<br />
    - Si c'est bien elle. Zaïra, la mage légendaire.<br /><br />
    Elle parait, elle aussi, très vieille. Mais Zaïra illumine la pièce par son charisme. Ça y est tu as rencontré tes 2 idoles. </p>
    <p class="fin fin-1">Vous arrivez finalement dans la salle de stratégie de la forteresse. Zaïra vous y attend déjà avec une dizaine d'autres mages : tous les plus puissants sorciers de la forteresse sont là. Certainement pour contenir Fandrean s'il venait à faire du grabuge. Tu vois Mac Lumy se demandait si ces personnes sont des mages.<br />
    - A la forteresse, tout le monde connait la magie, même les serviteurs. lui dis-tu<br />
    - Et cette femme...c'est quand même pas…? commence-t-il à dire <br />
    - Si c'est bien elle. Zaïra, la mage légendaire.</p>

    <p>Ymir vient se placer à côté de Zaïra, puis cette dernière prend la parole :<br />
      - Fandrean, ta réputation te précède. Tu es un très grand mage, parait-il, mais nous te prévenons : nous avons ici dans la forteresse du répondant. Non seulement nous deux, fait-elle en désignant Ymir et elle-même, mais aussi d'autres mages plus puissants que nous désormais.<br />
      - Je vous rassure ; aucun de nous n'est venu ici dans le but de faire des siennes. Nous sommes simplement pour demander un refuge puisque le village d'Azano a été entièrement détruit par les adorateurs de Soufflardent.</p>

    <p>Les mages de la forteresse se mettent à parler entre eux. Visiblement, l'annonce faite par Fandrean ne les rassure pas. Usaki lève le bras puis déclare à son tour :</p>

    <p>- Amis de la forteresse. Je tiens à vous faire mon rapport. J'étais, comme vous le savez, parti enquêter sur les adorateurs de Soufflardent dans les marais proches de la tour d'Azano. Et bien que je pus suivre leurs traces, j'ai pu faire l'expérience du retour de Soufflardent dans le monde réel. Ses adorateurs ont des pouvoirs terribles, tels qu'ils ont pu me retenir prisonnier.</p>

    <p>Ymir et Zaïra semblent maintenant aussi inquiets que les autres mages autour.</p>

    <p>- Les adorateurs de Soufflardent sont très proches, se lamente Zaïra. S'ils arrivent jusqu'à nous ce sera très dur de maintenir Soufflardent endormi et de combattre ses laquais.<br />
      - Soufflardent est ici, s'étonne Lasseni ? Dans la forteresse ?<br />
      - Il est sous notre garde, oui, explique Ymir.</p>

  </div>

  <div class="choix">
    <div class="ch pas-decouvert" data-go="101">Continuer</div>
    <div class="ch decouvert" data-go="102">Continuer</div>
  </div>
</div>
