<div class="num num-1-2-101">

  <div class="text">
    <h1>- 101 -</h1>

    <p>- Nous savons que l'académie vous a raconté l'histoire d'une certaine façon. Mais je pense que pour que vous puissiez vous faire une opinion sur nous et sur tout ce qu'il se passe, vous devez connaître notre version de la légende du combat contre Soufflardent.</p>

    <p class="fin fin-2 fin-3 fin-4 fin-5 fin-6">Ymir et Zaïra commencent alors leur légende. Tu es excité<span class="sf">e</span> de te voir raconter l'Histoire par ces deux héros.</p>
    <p class="fin fin-1">Ymir et Zaïra racontent alors l'histoire comme tu l'avais toi-même entendu quand tu arrivas à la forteresse pour la première fois. Avec un peu de chance tes amis y croiront et ils vous rejoindront.</p>

  </div>

  <div class="choix">
    <div class="ch fin fin-1" data-go="104">Attendre la fin de l'histoire</div>
    <div class="ch fin fin-2 fin-3 fin-4 fin-5 fin-6" data-go="103">Ecouter l'histoire</div>
  </div>
</div>
