<div class="num num-1-2-102">

  <div class="text">
    <h1>- 102 -</h1>

    <p>Heldegarde lève le bras pour prendre la parole à son tour :<br />
      - Je suis désolée Fandrean, mais je pense qu'il faut dire maintenant ce que nous savons à propos de <span class='tonnom'></span>. C'est trop dangereux de ne pas en parler.</p>

    <p>Tu deviens immédiatement le centre de tous les regards.<br /><br />
      - Cette personne, dit Heldegarde en te pointant du doigt, est un<span class='sf'>e</span> espion<span class='sf'>ne</span> du dragon d'Onyx. Vous devez la mettre en lieu sûr pour ne pas qu'<span class='sf'>elle</span><span class='sg'>il</span> réveille le dragon.</p>

    <p>Pour tes amis c'est la stupéfaction. Mac Lumy essaie même de te défendre :<br />
    - Je connais <span class="tonnom"></span>. Qu'est-ce que vous racontez ?<br />
    - Fandrean, dit leur, ajoute simplement Heldegarde.</p>

    <p>Mais tu ne le laisses pas répondre à ta place.<br />
    - Je travaille pour Soufflardent c'est vrai. Mais je pense que vous ne comprenez pas son message. Il n'est pas aussi mauvais que tout le monde veut nous le faire croire. Je sais que personne ne me croira quand je vous dirai que l'attaque du village : c'était pas ce que je voulais. Je ne voulais pas que des gens meurent.</p>

    <p>Ymir d'un geste fait appeler deux gardes qui viennent te demander de les suivre. Devant les regards abasourdis de tes amis tu es emmené<span class="sf">e</span> au cachot.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="106">Attendre la suite</div>
  </div>
</div>
