<div class="num num-1-2-103">

  <div class="text">
    <h1>- 103 -</h1>

    <p>Il n'y eut pas de combat titanesque contre Soufflardent. Le dragon d'Onyx était beaucoup trop puissant. Quand Ymir et Zaïra arrivèrent dans les monts noirs, ils ne purent que constater l'écart de puissance qu'il y avait entre eux et la bête. Soufflardent était capable de réduire en poussière une montagne d'un souffle noir comme ses écailles.</p>

    <p>Pendant des jours, ils préparèrent des artefacts magiques. Et ils décidèrent de profiter du sommeil du monstre pour agir. Sur chacune des milliers d'écailles de Soufflardent ils collèrent un de leurs artefacts. Puis en lançant une dernière incantation à deux, ils réussirent à coincer le dragon dans ses propres rêves.</p>

    <p>Quand ce fut chose faite, les deux mages légendaires avertirent l'académie que le dragon ne posait plus de problème. Mais les 4 mages supérieurs de l'époque se déplacèrent quand même sur place, dans les monts noirs, pour vérifier tout ça.</p>

    <p>Et ils s'aperçurent  que malgré la magie de Zaïra et Ymir, le dragon arrivait à affaiblir les artefacts chaque jours un peu plus. Tôt ou tard il finirait par sortir de son sommeil.</p>

    <p>Ymir et Zaïra proposèrent de rester sur place pour relancer des sorts quotidiennement et de former des mages pour faire de même en attendant une meilleure solution. Les 4 mages supérieurs pensaient que Soufflardent réussirait à un moment à s'habituer aux sorts et à se réveiller quand même. Ils proposèrent de profiter du sommeil du monstre pour l'achever : une bombe magique mise dans sa bouche réussirait probablement à finir le travail.</p>

    <p>Mais pour Ymir, le dragon était si puissant que la bombe n'aurait pu que le réveiller sans le tuer.</p>

    <p>Ne l'écoutant pas, les 4 mages supérieurs demandèrent à Fygtyr le mage supérieur du feu de déposer son plus puissant artefact explosif dans la gueule endormie de Soufflardent. L'explosion sembla prendre au début mais tout de suite après seule une fine fumée noire sortie des narines du dragon...juste avant qu'il ne rouvre les yeux.</p>

    <p>Pendant que Zaïra relançait des sorts pour endormir la bête, Ymir essayait de l'attirer vers lui. Mais Soufflardent était énervé et il n'avait d'yeux que pour Fygtyr. Le mage du feu disparut en une seconde transformé en poussière par le souffle noir du dragon. Allassinda, la mage supérieure du vent, proche de son collègue perdit sa main en même temps.</p>

    <p>Soyos et Pasha déjà présents à cette époque ne tardèrent pas à s'enfuir. Et alors que la bataille semblait perdue d'avance, un noctule se posa délicatement sur le museau du dragon. Il lança une incantation qui répara tous les artefacts de Zaïra et Soufflardent reparti dans ses rêves.</p>

    <p>Allassinda mourut des suites de ses blessures. Usaki resta un mystère pour tout le monde à l'exception d'e 'Ymir et Zaïra. C'est comme ça qu'ils commencèrent leur aventure avec lui.</p>

    <p>Les deux mages légendaires étaient obligés de rester sur place pour relancer des sorts en permanence. Ils restèrent sur place jusqu'à ce qu'un mage de l'académie revienne. Il était envoyé par Soyos et Pasha qui pensaient que Soufflardent avait tué tout le monde, mais qui se demandaient aussi pourquoi le dragon n'était pas reparti faire des ravages.</p>

    <p>Sans que Zaïra sache pourquoi, le mage tenta de les attaquer. Ymir pense qu'il en avait reçu l'ordre de la part de Soyos. En effet, si jamais les deux mages légendaires revenaient vivants, ils auraient pu révéler que les mages supérieurs avaient réveillé le dragon puis s'étaient enfuis.</p>

    <p>Le mage envoyé par l'académie fut relâché par Ymir et plus jamais l'académie ne renvoya quelqu'un dans les monts noirs. À la place ils dirent partout que Ymir et Zaïra furent tués en endormant Soufflardent pour l'éternité.</p>

    <p>Forcées de rester sur place, les deux légendes ne survécurent que grâce à l'aide d'Usaki. Il leur amenait à manger et ramena également plusieurs mages de la tour d'Azano. Ces derniers devinrent les premiers disciples d'Ymir et Zaïra. Ensemble, ils construisirent la forteresse de la lune dont le but à toujours été de trouver un moyen d'endormir le dragon en attendant de trouver une meilleure solution.</p>

    <p>L'académie, elle, envoya des mages à la tour d'Azano pour prévenir que des mages renégats se faisant passer pour Ymir et Zaïra tentaient de renverser le pouvoir en place. Ceux qui crurent en Ymir et Zaïra les rejoignirent, ceux qui crurent l'académie les considérèrent comme des bandits, les obligeant à vivre dans la forteresse pendant maintenant 150 ans.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="104">Ymir finit son histoire</div>
  </div>
</div>
