<div class="num num-1-2-104">

  <div class="text">
    <h1>- 104 -</h1>

    <p>Ymir finit l'histoire que Zaïra avait commencée. Ceux qui ne la connaissaient pas sont un peu chamboulés.</p>

    <p>- Il y a quelque chose qui ne va pas dans votre histoire, intervient Lasseni. Si vous étiez vraiment Ymir et Zaïra, aujourd'hui vous auriez plus de 150 ans. Personne ne peut vivre aussi longtemps.<br />
      - Oui dans votre histoire, Soyos et Pasha sont également là et tout le monde sait très bien qu'ils ne sont pas aussi vieux que ça, ajoute Heldegarde.<br />
      - En êtes-vous vraiment sûr ? demande Ymir.</p>

    <p>Le mage se lève et se tâte pour montrer qu'il est bien vivant.</p>

    <p>- Il y a une explication à notre longévité, dit Zaïra. Une raison qui se trouve endormie au sous-sol et qui mesure 500 mètres de longs.<br />
      - Soufflardent ? s'étonne Fandrean. Je ne comprends pas ce que vous voulez dire.<br />
      - C'est disons...une théorie que j'ai mise au point, continue Zaïra, mais qui me semble la plus probable. Voyez-vous, le vent, l'eau, le feu, la terre...tout doit bien venir de quelque part ; d'où exactement ?<br />
      - Vous voulez nous refaire la genèse de la création de notre monde ? dit Fandrean. Selon les anciens, tout cela vient de la magie. Elle est toute puissante et sans elle rien ne serait là. Les 4 magies, du feu, du vent, de l'air et de la terre ont tout créé.<br />
      - Oui, mais comment est apparue cette magie, dit Ymir dans un sourire qui montre toutes ses dents.<br />
      - … Je ne sais pas. La magie est là, elle est l'origine de tout, dit Lasseni.<br />
      - Selon ma théorie, reprend Zaïra, la magie vient de...Soufflardent. Le grand dragon est en fait le créateur de tout ce qu'on connaît. Sans lui le monde ne serait qu'une boule de poussière et les humains ne seraient jamais apparus.<br />
      - Impossible ! intervient Heldegarde. Vous êtes en train de dire qu'il nous a fabriqué, je ne...<br />
      - Je ne sais pas s'il nous a fabriqué. Je pense qu'il a juste créé la magie. Et la magie a créé une multitude de choses.</p>

    <p>L'explication n'a pas l'air de convaincre grand monde, ils demandent tous des preuves de ce que leur dit Zaïra.</p>

    <p>- Si nous pouvons vivre aussi vieux, c'est que nous avons vécu l'essentiel de notre vie au contact direct du grand dragon d'onyx. En le touchant, on sent la magie circuler dans nos veines plus intensément.<br />
    - Dans ce cas… si on tue Soufflardent, que se passera-t-il ? demande Fandrean.</p>

    <p>Zaïra se repose sur une chaise l'air grave.</p>

    <p>- Certainement un cataclysme, avertit la vieille mage. Dans le meilleur des cas, la magie cessera d'exister. Notre confort magique disparaîtra : plus de feu facile, plus de lumière le soir, plus d'eau douce en plein désert, plus de chauffage en hiver sans brûler des arbres...<br />
      - Et dans le pire des cas, ajoute Ymir, le monde pourrait bien disparaître complètement. Si la magie a tout créé, sans magie, tout peut disparaître.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="105">Continuer</div>
  </div>
</div>
