<div class="num num-1-2-105">

  <div class="text">
    <h1>- 105 -</h1>

    <p>Les deux mages légendaires ont jeté un froid. Le monde pourrait disparaître si Soufflardent venait lui même à mourir. Lui qui a toujours été présenté comme le symbole du mal par l'académie.</p>

    <p>- Donc, si l'académie nous ment depuis des générations sur ce qu'il vous est arrivé… c'est juste car ils ont peur de ce qu'on pourrait penser d'eux ? insiste Fandrean.<br />
      - Il faudrait poser cette question aux 4 mages supérieurs, répond Zaïra, mais c'est ce que je pense. Et si Pasha et Soyos sont toujours vivant, c'est qu'ils ont passé plusieurs jours avec nous à côté du dragon.<br />
      - En restant seulement quelques jours à côté de lui, on peut vivre jusqu'à plus de 150 ans ? s'exclame Heldegarde.<br />
      - Sa puissance est plus grande que vous ne semblez le penser, dit Ymir.<br />
      - Est-ce que je peux le voir ? demande Fandrean après un instant.</p>

    <p>Les deux mages légendaires se regardent puis un des mages derrière eux intervient :</p>

    <p>-Nous vous amènerons à son antre demain. Pour aujourd'hui mieux vaut vous reposer.</p>

    <p>Alors que la discussion semblait s'arrêter là et que tout le monde était invité à se diriger dans une autre pièce par des gardes de la forteresse, Lasseni se pose devant Ymir et Zaïra et leur dit sèchement :</p>

    <p>- Pourquoi avoir abandonné Aeternia ? Pourquoi l'avoir abandonnée ?</p>

    <p>Les deux mages semblent surpris d'entendre ce nom.</p>

    <p>- …Petite. Nous ne pouvions pas abandonner notre mission ici. Le dragon aurait pu se réveiller. Quand Usaki nous a amené enfin des renforts nous avions déjà appris qu'elle était morte.<br />
      - Et c'est tout ? s'écria Lasseni. Vous n'avez pas essayé d'en savoir plus sur elle ? C'était votre fille pourtant !<br />
      - Même si elle était ma fille, dit Zaïra, endormir Soufflardent était plus important. Mais ne crois pas que je n'ai pas pleuré sa mort.<br />
      - Pfff, fit simplement Lasseni en tournant les talons.</p>

    <p>Elle part en trombe de la pièce laissant les deux mages stupéfaits. Devant leur réaction Fandrean leur expliqua simplement :<br />
      - Cette fille est Lasseni, une de vos descendantes. Elle a pas mal souffert d'être de votre famille… Et je suis son frère, ajouta-t-il dans un sourire.</p>

    <p>Visiblement, ces informations n'étaient jamais parvenues jusqu'aux deux mages vu l'exclamation visible sur leur visage.</p>

  </div>

  <div class="choix">
    <div class="ch fin fin-3" data-go="107">Continuer</div>
    <div class="ch fin fin-1" data-go="113">Continuer</div>
    <div class="ch fin fin-2 fin-4 fin-5" data-go="114">Continuer</div>
    <div class="ch fin fin-6" data-go="115">Continuer</div>
  </div>
</div>
