<div class="num num-1-2-106">

  <div class="text">
    <h1>- 106 -</h1>

    <p>Tu es jeté<span class="sf">e</span> dans un cachot au sous-sol. Aucune fenêtre et de solides barreaux en fer ferment ta geôle. Seule une torche en face de toi te donne un peu de lumière. Au plafond se trouve une étrange boule de cristal, trop haut pour être accessible.</p>

    <p>- Inutile d'essayer de faire de la magie ici, t'explique un des gardes. Cet artefact aspire toutes les magies que tu pourrais lancer.</p>

    <p>Les deux gardes referme la geôle et s'en vont. Il n'y a personne pour te surveiller. Mais si ce qu'ils t'ont dit est vrai il n'y a besoin de personne pour te garder. Tu essaies quand même de concentrer ton énergie pour tenter un sort de lumière mais l'énergie est immédiatement attirée par le globe. </p>

    <p class="middle">*</p>

    <p>Tu te dis que, finalement, tu mérites peut-être ce sort d'être enfermé au cachot. Tu n'as jamais été aussi proche de Soufflardent, mais faut-il vraiment le délivrer ? S'il est prêt à faire autant de dommages que lors de l'attaque de la tour, alors c'est peut-être un prix trop lourd à payer.</p>

    <p class="av-sportif">Des pas se font entendre dans le couloir qui t'a amené ici. Tu colles ton visage aux barreaux pour tenter d'apercevoir quelque chose. La silhouette de Levy apparait au coin du couloir. Quand il te voit il accélère jusqu'à ta geôle. Il reste un moment planté devant toi pour reprendre son souffle.<br /><br />
      - … Désolé<span class="sf">e</span>, j'aurai dû t'en parler… mais c'est pas quelque chose de facile à dire, commences-tu.<br />
      - Oui, tu aurais dû m'en parler. Mais je sais aussi que tu n'es pas comme les adorateurs qu'on a affronté l'autre jour.<br />
      - Tu … me crois ? fais-tu ému<span class="sf">e</span>. Tu me crois quand je dis que je ne voulais pas de ce massacre ?<br />
      - Je te crois, répond simplement Levy en te prenant dans ses bras à travers les barreaux.<br />
      <br />
      - ...Et je peux te comprendre. Ymir et Zaïra nous ont parlé de l'histoire véritable, poursuit-<span class="sf">il</span><span class="sg">elle</span>. Visiblement Soufflardent est à l'origine de toute la magie sur le monde. S'il venait à mourir, tout le monde pourrait disparaitre.<br /><br />
      La nouvelle t'abassourdit. Même les mages légendaires disent la même chose que le dragon d'onyx. Tu t'es toujours demandé<span class="sf">e</span> s'il ne t'avait pas menti.<br /><br />
      - Ecoute-moi Levy ! Soufflardent, il est mourant. S'il a demandé mon aide c'est pour le réveiller mais s'il ne se réveille pas bientôt, il mourra. Tu dois m'aider à sortir de là. Je dois l'aider.<br />
      - Attend, attend ! Je peux comprendre ce que tu dis, mais le réveiller...il va probablement faire un carnage ici à la forteresse si on le réveille.<br />
      - On a jamais été aussi proche de lui. Est-ce qu'on aura une meilleure chance ? te plains-tu. Il doit y avoir un type qui s'appelle Terrence dans la forteresse, il peut annuler n'importe quelle magie, amène le à Soufflardent s'il te plait.<br />
      - Tu … avais un plan depuis le début ? s'étonne Levy.<br /><br />
      <span class="sf">Il</span><span class="sg">Elle</span> s'écarte de toi puis te regarde triste et s'en va avec une larme à l'oeil.<br /><br />
      - Attend Levy ! S'il te plait, j'ai besoin de toi ! LEVYYYYY !</p>

      <p class="av-pas-sportif">Des pas se font entendre dans le couloir qui t'a amené ici. Tu colles ton visage aux barreaux pour tenter d'apercevoir quelque chose. Les silhouettes de Mac Lumy et <span class="nao">Nao</span><span class="rem">Rem</span> apparaissent au coin du couloir. Quand ils te voient ils accélèrent jusqu'à ta geôle. Ils restent un moment planté devant toi pour reprendre leur souffle.<br /><br />
        - … Désolé<span class="sf">e</span>, j'aurai dû vous en parler... mais c'est pas quelque chose de facile à dire, commences-tu.<br />
        - Oui, tu aurais dû m'en parler, commence Mac Lumy. Mais je sais aussi que tu n'es pas comme les adorateurs qu'on a affronté l'autre jour.<br />
        - Tu … me crois ? fais-tu ému<span class="sf">e</span>. Tu me crois quand je dis que je ne voulais pas de ce massacre ?<br />
        - Je te crois, répond simplement Mac Lumy en te faisant un sourire.<br />
        <br />
        - …Et on peut te comprendre. Ymir et Zaïra nous ont parlé de l'histoire véritable, poursuit le mage. Visiblement Soufflardent est à l'origine de toute la magie sur le monde. S'il venait à mourir, tout le monde pourrait disparaitre.<br /><br />
        La nouvelle t'abasourdit. Même les mages légendaires disent la même chose que le dragon d'onyx. Tu t'es toujours demandé<span class="sf">e</span> s'il ne t'avait pas menti.<br /><br />
        - Ecoutez-moi ! Soufflardent, il est mourant. S'il a demandé mon aide c'est pour le réveiller mais s'il ne se réveille pas bientôt, il mourra. Tu dois m'aider à sortir de là. Je dois l'aider.<br />
        - Attend, attend ! s'exclament les deux mages. Je peux comprendre ce que tu dis, mais le réveiller...il va probablement faire un carnage ici à la forteresse si on le réveille.<br />
        - On a jamais été aussi proche de lui. Est-ce qu'on aura une meilleure chance ? te plains-tu. Il doit y avoir un type qui s'appelle Terrence dans la forteresse, il peut annuler n'importe quelle magie, amenez-le à Soufflardent s'il vous plait.<br />
        - Tu … avais un plan depuis le début ? s'étonne Mac Lumy.<br /><br />
        Il s'écarte de toi puis te regarde triste et s'en va.<br /><br />
        - Attend Mac ! S'il te plait, j'ai besoin de toi !<br /><br />
        <span class="nao">Nao</span><span class="rem">Rem</span> pose sa main sur la tienne, sur le barreau. Et te regarde avec des yeux injectés de fumée noire.<br /><br />
        - Ne t'inquiète pas. Les renforts de Soufflardent sont là. On ne va pas rater l'occasion. Reste ici et attend le signal.<br /><br />
        Le mage s'en va aussitôt et cours vers Mac Lumy pour le rattraper. Il est devenu un allié, mais quand ? …Les cocons ! Tous les villageois que vous avez délivré sont des alliés de Soufflardent ? Usaki aussi ?
        </p>

  </div>

  <div class="choix">
    <div class="ch" data-go="116">Attendre dans ta geôle</div>
  </div>
</div>
