<div class="num num-1-2-107">

  <div class="text">
    <h1>- 107 -</h1>

    <p>Vous rejoignez les villageois dans une série de grandes pièces qui devaient servir d'entrepôt car il y a encore plein de caisses posées sur les côtés. Il y a quand même quelques fenêtres et chacun est en train d'installer une paillasse pour la nuit et de se restaurer.</p>

    <p>Les gardes de la forteresse ne laissent pas vraiment les villageois se balader où ils veulent dans la forteresse mais ils n'hésitent pas à apporter à manger et à boire à tout le monde. Les villageois décident même d'organiser une petite fête pour célébrer une nouvelle aventure. La fin de tous les drames passés et le début de quelque chose de nouveau dans cette forteresse au milieu des monts noirs.</p>

    <p>Tu te dis qu'ils ne seraient pas aussi joyeux s'ils avaient été présents lors de l'histoire d'Ymir et Zaïra. Les deux mages légendaires ont d'ailleurs demandé à tous les mages de ne pas divulguer cette histoire aux villageois. Mieux vaut les laisser se reposer un peu effectivement. Ils ont bien mérité de faire la fête.</p>

    <p>Mac Lumy a trouvé un bout de pain et une saucisse, qu'il arrose de sauce piquante. Lasseni et Fandrean ne sont pas là, ils discutent peut-être avec leurs ancètres. Tu essaies de compter, et tu te dis qu'elle doit être leur petite-petite-petite-petite-petite-petite-fille. Tu n'aurais jamais cru ça possible. Usaki vient te voir avec un verre dans chaque main.</p>

    <p>- Alors, enfin un peu de repos ? te fait-il. Tiens, je t'ai pris un verre de bière des montagnes.<br />
      - Je suis un peu jeune pour l'alcool, essaies-tu.<br />
      - Ha ha ! C'est juste de la bière, ce n'est pas très fort. Et puis il faut bien commencer un jour. Tu as 13 ans ? C'est le bon âge.<br /><br />
      Et il te pose un verre entre les mains. Tu as déjà bu un peu de vin auparavant mais c'était pour finir le verre d'un mage à la tour d'Azano généralement.<br /><br />
      - Tu dEvRaIS jeTeR CE vErrE. cEtTE pERsONne eSSaIE dE tE TUer, fait soudain une voix dans ta tête.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="108">Boire le verre quand même</div>
    <div class="ch" data-go="109">Jeter le verre</div>
  </div>
</div>
