<div class="num num-1-2-108">

  <div class="text">
    <h1>- 108 -</h1>

    <p>Cette voix ? Tu ne l'aurais pas entendu auparavant ? Bah ! Pourquoi Usaki voudrait-il te tuer. Et tu commences à boire le verre.</p>
    <p>- dOmMAge. J'aURai esSAYE de TE PrEveNIR aU MoINs.</p>

    <p>Tu tournes un peu la tête pour voir si ce n'est pas quelqu'un autour de toi.</p>

    <p>- Tu as entendu ? demandes-tu à Usaki.<br />
      - Quoi donc ?<br />
      - Je ne sais pas. Une voix étrange.</p>

    <p>Tout à coup tu commences à te sentir un peu bizarre. Tes jambes flageolent, tes doigts s'engourdissent et tu n'arrives même plus à te tenir debout. Usaki te retient alors que tu allais tomber.</p>

    <p>- Ola. Tu ne tiens vraiment pas l'alcool on dirait. Je pensais qu'avec juste une bière ça irait mais on dirait que non.</p>

    <p>Qu'y avait-il dans ce verre ? Ce n'est pas l'alcool qui t'a mis dans cet état. Mais tu n'arrives même pas à décrocher un mot. Tes yeux se ferment, la dernière chose que tu entends c'est Usaki te dire :<br />
      - Je vais t'amener dans ma chambre, tu pourras te reposer au calme là-bas.</p>

    <p>Tu espères très fort qu'un de tes amis va se rendre compte de ta disparition et vouloir te chercher. Puis tu t'endors.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="110">Se réveiller</div>
  </div>
</div>
