<div class="num num-1-2-109">

  <div class="text">
    <h1>- 109 -</h1>

    <p>Sans même obéir vraiment à la voix, elle t'a tellement surprise que tu laisses tomber ton verre à terre. Il est en roche et ne se brise pas mais son contenu s'éparpille au sol.</p>

    <p>- Ha désolé. Tu as entendu ? demandes-tu à Usaki.<br />
      - Quoi donc ? demande-t-il l'air un peu contrarié mais qui redevient jovial très vite.<br />
      - Heu...non rien. Je vais aller chercher un autre verre.<br />
      - Je peux y aller si tu veux ça ne me dérange pas, te propose-t-il.<br />
      - Non, c'est bon. J'ai renversé le verre, je peux au moins me resservir seul<span class="sf">e</span>, dis-tu mais cette fois en repensant à la voix.</p>

    <p>Tu ramasses le verre et te diriges lentement vers le bar improvisé dans la salle. Tu regardes tout autour de toi pour voir si quelqu'un te regarde. Mais personne en vue. Tu as pourtant bien l'impression d'avoir déjà entendu cette voix auparavant. Tu te retournes vers Usaki, qui l'espace d'un instant semble faire une grimace. Puis te voyant retourné<span class='sf'>e</span> te fait un sourire et lève son verre vers toi.</p>

    <p>- c'éTaIT mOIns Une. BraVO.</p>

    <p>C'est de la magie, quelqu'un te parle par magie dans ta tête. Tu ne sais pas comment lui répondre mais la voix est grave et sombre. Un homme qui te parlerait avec cette voix te ferait une peur bleue.</p>

    <p>- n'AiS pAs PEur. jE SuIS eNDoRmi. Je NE pEUX paS tE FAirE dE MAl.</p>

    <p>Endormi ? Ce ne serait quand même pas... ?</p>

    <p>- SoUFFlArDenT ! PouR Te SerVIR.</p>

    <p>Est-ce qu'il peut lire mes pensées, te demandes-tu.</p>

    <p>- pOUr lE MomEnT, sErt-Toi à MAngER eT à BoIRe eT SUrToUT rEsTEs pROcHe d'Un oU dEUx puISsants MagEs. UsaKI veUT tE TUer Car Tu pOSSèdeS mON taTOUaGe. aVEc çA tU PouRRais ME déLiVrER.</p>

    <p>Quoi ? Mais vous êtes des alliés et tu n'as jamais eu l'intention de réveiller le dragon.</p>

    <p>- HA HA HA ! UsaKI se FIchE dE TeS InTENtiONS. Il sAIt qUE c'ESt uNe DEs CHoSes quI pEUT me RévEIller. çA Et Si lES mAGes dE lA foRETeresSe aRRêTeNT leURs sORts d'EnDormISSemeNT.</p>

    <p>Ça n'a aucun sens. Usaki ne ferait pas ça, c'est un allié.</p>

    <p>- iL n'ESt mêMe pAS HumAiN. iL vIEnt dE lA LUne. QuEl eST sON buT ICI ? Tu nE Te l'AIs jaMAIs deMAndé ?</p>

    <p>Qu'est-ce que je dois faire ? Est-ce que je peux faire confiance à la voix de Soufflardent ? Une chose est sûre : il vaut mieux se méfier de Usaki au moins tant que tu es dans la forteresse.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="111">Rester avec tes amis</div>
    <div class="ch" data-go="112">Aller trouver Ymir et Zaïra</div>
  </div>
</div>
