<div class="num num-1-2-11">

  <div class="text">
    <h1>- 11 -</h1>

    <p>Aller à la tour d'Azano n'est pas une partie de plaisir : c'est très loin. La première fois que tu iras aussi loin d'ailleurs. Et c'est surtout très proche des monts noirs, une région particulièrement riche en monstres et dragons de toutes sortes.</p>

    <p>Et justement, votre mission consiste à aller fouiner un peu dans les marais situés non loin de la tour d'Azano. Le marais est très dangereux pour des personnes ne connaissant pas la magie et votre petite équipe de 4 est chargée de trouver des informations sur un nouveau phénomène : de plus en plus de personnes du village de la tour disparaissent dans les marais. Il faudra trouver ce qui se passe et y mettre un terme.</p>

    <p>Pour avoir plus d'informations vous devrez aller voir Fandrean à la tour de magie d'Azano. De toute façon c'est là-bas que Rem vous attend aussi.</p>

    <p class="middle">*</p>

    <p>Heureusement que Mac Lumy est présent pour le voyage car sinon tu serais morte d'ennui depuis belle lurette. Le voyage est atrocement long, même en utilisant votre magie. <span class="av-sportif">Si tu avais eu le droit d'amener Typhon tu aurais pu diviser le temps par 10. Mais on t'a dit que comme il y a des dragons sauvages vers la tour d'Azano c'était dangereux pour elle. Par contre tu sais que Levy est en mission à la tour régulièrement, peut-être que tu pourras <span class="sf">le</span><span class="sg">la</span> voir.</span></p>

    <p>Et après 17 jours de voyages, ponctués de quelques prises de bec avec Lasseni, vous arrivez tous les trois à Azano. C'est un village assez petit comparé à l'académie, à peine quelques centaines d'habitants. En plein milieu s'élève la tour de magie, mais elle fait pâle figure face à celle de l'académie.</p>

    <p>- Allons nous présenter à Fandrean, ordonna Lasseni.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="12">Aller voir Fandrean</div>
  </div>

</div>
