<div class="num num-1-2-110">

  <div class="text">
    <h1>- 110 -</h1>

    <p>Tu te réveilles dans une chambre, les bras et les jambes liées par des liens magiques. Impossible de bouger. Un bâillon t'empêche de crier à l'aide. Usaki est assis à son bureau. Tu as été amené<span class="sf">e</span> dans sa chambre. Il écrit une sorte de lettre et la roule dans une drôle de boîte en fer allongée et gravée d'une multitude de runes.</p>

    <p>Il apporte la boîte à la fenêtre et d'un coup elle part en direction de la lune à une vitesse inimaginable et laissant une trainée rose sur son passage. En un instant la couleur s'estompe pour disparaitre totalement.</p>

    <p>- Tu es réveillé<span class="sf">e</span>. Désolé pour tout ça. Ce n'est pas contre toi tu sais. Mais le tatouage dans ton dos est problématique.</p>

    <p>Horreur. Il va vraiment te tuer ! Mais s'il fait ça tes amis vont se demander ce qu'il t'est arrivé. Cette éventualité n'a pas l'air de faire peur à Usaki en tout cas.</p>

    <p>- Les sorts de Soufflardent sont puissants et si je te tue simplement, le tatouage va se transférer à quelqu'un d'autre. Comme avec Terrence. Je suis vraiment désolé, mais ce que je vais devoir te faire est extrêmement douloureux.</p>

    <p>Non, ça ne peut pas finir comme ça. Tu essaies de te débattre mais les liens magiques qui te retiennent sont d'un tout autre niveau que ce que tu as l'habitude de combattre.</p>

    <p>- jE pEUx eNCorE t'AIder ? Si JE tE liBèrEs jE vEUx PaR cONtrE qUE tU VieNNeS me LibéRer !</p>

    <p>Encore cette voix ? Oui n'importe quoi plutôt que mourir !</p>

    <p>- jE SuIS SOUFFLARDENT ! sI Je tE liBèrEs, Tu m'AiDeRas ? ProMET-lE !</p>

    <p>Soufflardent ? Le grand dragon d'onyx ? Oui c'est la voix qui t'avait parlé dans tes rêves lors de la mission avec Terrence justement. OUI OUI OUI ! De toute façon tu n'as rien à perdre.</p>

    <p>Tu sens ton dos brûler. Puis tout ton corps devient douloureux, tu te demandes même si ce n'est pas Usaki qui commence à te torturer. Puis tout se calme d'un coup et tu ressens la magie comme lorsque tu avais reçu le tatouage.</p>

    <p>En écartant simplement tes doigts les liens magiques explosent. Tu arraches ton bâillon et te relèves d'un coup devant un Usaki médusé. Tu sens une chaleur intense dans tes yeux et une colère immense monter en toi.</p>

    <p>- …Tu es ... Soufflardent ! dit-il en serrant les dents. Je dois t'éliminer ! Tu as tué trop des miens !</p>

    <p>- JE NE SUIS PAS SOUFFLARDENT ! dis-tu dans un rugissement inhumain. JE SUIS <span class="tonnom uppernom"></span> !</p>

    <p>Et d'un geste tu lances un sort que tu avais lu dans des grimoires. Un sort que tu n'avais jamais tenté mais qui te semble approprié contre un mage aussi puissant qu'Usaki : OKII KAZAN, la colonne de feu ! La magie palpite sous tes veines et le sort est immédiatement lancé. La chambre du mage de la lune est pulvérisée dans une explosion immense. De gros blocs te tombent dessus mais une magie puissante t'enrobe. Tout atterrit finalement à côté de toi comme si tu les avais déposés délicatement. La puissance de Soufflardent semble tienne. Le tatouage est maintenant partout sur ton corps, tes mains, tes bras, tes jambes et probablement ton visage si tu pouvais te voir.</p>

    <p>Usaki semble avoir disparu, est-il mort de ton attaque ? Tu ne sais pas. Mais maintenant le temps t'es compté. Bientôt, tu le sais, tu ne pourras plus utiliser la magie encore une fois. Personne ne te croira sur le fait qu'Usaki essayait de te tuer, tu dois délivrer Soufflardent comme promis. C'est ta seule issue.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="118">Sortir des débris de la chambre</div>
  </div>
</div>
