<div class="num num-1-2-111">

  <div class="text">
    <h1>- 111 -</h1>

    <p>Tu retrouves Mac Lumy et <span class="nao">Nao</span><span class="rem">Rem</span>. Ils se trouvent en train de discuter avec Levy de l'académie et Heldegarde. Parfait, si Usaki veut t'attaquer il devra se frotter à tout ce monde.</p>

    <p class="av-sportif">Levy voit que tu as l'air inquiète :<br />
      - Ça va pas <span class="tonnom"></span> ? te demande-t-il.<br />
      - Heu...non non tout va bien. C'est juste ce que nous ont dit Ymir et Zaïra. Ça me faisait quand même réfléchir.<br />
      - Oui, comme nous tous, ajoute Heldegarde. L'académie nous a roulé dans la farine j'ai l'impression. Il va y avoir du changement prochainement je peux te le dire. Les 4 supérieurs vont avoir du souci à se faire.</p>
    <p class="av-pas-sportif"><span class="nao">Nao</span><span class="rem">Rem</span> voit que tu as l'air inquiète :<br />
      - Ça va pas <span class="tonnom"></span> ? te demande-t-il.<br />
      - Heu...non non tout va bien. C'est juste ce que nous ont dit Ymir et Zaïra. Ça me faisait quand même réfléchir.<br />
      - Oui, comme nous tous, ajoute Heldegarde. L'académie nous a roulé dans la farine j'ai l'impression. Il va y avoir du changement prochainement je peux te le dire. Les 4 supérieurs vont avoir du souci à se faire.</p>

    <p>Tu vois qu'Usaki est parti. Quand il a vu que tu étais avec des amis il a préféré battre en retraite. Mais tu dois rester vigilant<span class="sf">e</span>. La soirée se finit tard et vous allez tous vous coucher les uns à côté des autres. Malgré ça tu n'arrives pas à t'endormir tout de suite.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="119">Un bruit te réveille</div>
  </div>
</div>
