<div class="num num-1-2-112">

  <div class="text">
    <h1>- 112 -</h1>

    <p>Alors que tu souhaites partir de l'entrepôt-dortoir, les gardes te coupent le chemin.</p>
    <p>- Veuillez rester avec le groupe s'il vous plait. Vous comprenez bien qu'on ne peut pas vous laissez vous balader n'importe où dans notre forteresse.<br />
    - Heu… Mais je dois parler à Ymir et Zaïra. réponds-tu.<br />
    - Ils sont déjà en discussion avec des membres de votre groupe, vous pourrez les voir demain peut-être.<br />
    - C'est...important. Ça concerne Soufflardent.</p>

    <p>Tu te dis que si tu parlais d'Usaki comme de quelqu'un qui veut te tuer, tu n'aurais pas d'aide de ces gardes. Alors tu as préféré ne parler que du grand dragon. Les deux gardes se regardent puis reviennent à toi :<br />
      - Comment ça ? te demande-t-il.<br />
      - Je pense que Soufflardent veut se réveiller : il vient de me parler. A l'instant, dans ma tête.</p>

    <p>Les deux gardes surpris, se détendent puis éclatent de rire devant toi.</p>

    <p>- Ne le prends pas mal petit<span class="sf">e</span>, commence un des gardes. Mais à la forteresse, tout le monde a entendu la voix du dragon au moins une fois. Il essaie tous de nous corrompre pour le délivrer.<br />
      - Vraiment ? Vous êtes sûr ? dis-tu surpris<span class="sf">e</span>.<br />
      - Ymir et Zaïra les premiers. Plus tu es au contact du dragon et plus tu l'entends. C'est bizarre que tu l'entendes déjà à peine arrivé<span class='sf'>e</span> ici.</p>

    <p>Tu ne leur dit pas que tu as dans ton dos un sort probablement lancé par Soufflardent ou un de ses plus fidèle serviteurs. Tu fais machine arrière après les avoir remercier et tu décides de retourner avec tes amis.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="111">Rester avec tes amis</div>
  </div>
</div>
