<div class="num num-1-2-113">

  <div class="text">
    <h1>- 113 -</h1>

    <p>Fandrean part chercher Lasseni pour lui parler. Pendant ce temps tu vois qu'Ymir et Zaïra sont encore sous le coup de la nouvelle. Ils ne savaient pas que leur fille avait eu des enfants. peut-être que Lasseni et Fandrean ne sont pas les seuls d'ailleurs.</p>

    <p>- Qui était Aeternia ? Votre fille ? leur demandes-tu.</p>

    <p>Zaïra relève la tête vers toi mais c'est Ymir qui te parle le premier :<br />
      - Oui. Quand nous sommes partis pour notre mission des monts noirs elle venait de naître un an auparavant. Nous l'avions laissé à mes parents pendant notre mission.<br />
      - C'était bien sûr beaucoup trop dangereux pour elle de venir avec nous, ajoute alors Zaïra. Et quand nous avons enfin pu bouger de la montagne, on nous dit qu'elle était morte. Je suppose que c'est encore un des mensonges de l'académie. Je ne pensais pas qu'ils iraient jusque là.<br />
      - C'est vrai c'est la seule chose que j'ai regrettée dans ma vie, déclare Ymir. Ne pas avoir pu passer plus de temps avec elle.</p>

    <p>L'académie a gâché la vie des deux mages légendaires mais d'autres personnes ont payé également sans même le savoir. Bien sûr sachant que l'académie avait déclaré morts les deux mages, et leur fille, il ne pouvait y avoir de descendants. Si Lasseni disait à quiconque qui elle était, elle aurait été accusée de mensonges. Mais tu vois quand même qu'elle et Fandrean ont réussi à devenir de puissants mages. Leurs ancêtres doivent être fiers.</p>

    <p>Tu rejoins les villageois dans l'entrepôt, c'est là que vous les avez placés. C'est le seul endroit de la forteresse avec assez d'espace pour y mettre tout le monde. Il y a quand même quelques fenêtres et chacun est en train d'installer une paillasse pour la nuit et de se restaurer.</p>

    <p>Les gardes de la forteresse ne laissent pas vraiment les villageois se balader où ils veulent dans la forteresse mais ils n'hésitent pas à apporter à manger et à boire à tout le monde. Les villageois décident même d'organiser une petite fête pour célébrer une nouvelle aventure. La fin de tous les drames passés et le début de quelque chose de nouveau dans cette forteresse au milieu des monts noirs.</p>

    <p>Tu te dis qu'ils ne seraient pas aussi joyeux s'ils avaient été présents lors de l'histoire d'Ymir et Zaïra. Les deux mages légendaires ont d'ailleurs demandé à tous les mages de ne pas divulguer cette histoire aux villageois. Mieux vaut les laisser se reposer un peu effectivement. Ils ont bien mérité de faire la fête.</p>

    <p>La fête te permet de penser à autre chose. Mac Lumy te demande où est Terrence. Et tu lui apprends qu'il est malade, il est resté dans sa chambre ce soir. Enfin tu lui souhaites une bonne nuit à lui et aux autres avant de partir pour ta propre chambre.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="122">Un bruit te réveille</div>
  </div>
</div>
