<div class="num num-1-2-114">

  <div class="text">
    <h1>- 114 -</h1>

    <p>Vous rejoignez les villageois dans une série de grandes pièces qui devait servir d'entrepôt, car il y a encore plein de caisses posées sur les côtés. Il y a quand même quelques fenêtres et chacun est en train d'installer une paillasse pour la nuit et de se restaurer.</p>

    <p>Les gardes de la forteresse ne laissent pas vraiment les villageois se balader où ils veulent dans la forteresse mais ils n'hésitent pas à apporter à manger et à boire à tout le monde. Les villageois décident même d'organiser une petite fête pour célébrer une nouvelle aventure. La fin de tous les drames passés et le début de quelque chose de nouveau dans cette forteresse au milieu des monts noirs.</p>

    <p>Tu te dis qu'ils ne seraient pas aussi joyeux s'ils avaient été présents lors de l'histoire d'Ymir et Zaïra. Les deux mages légendaires ont d'ailleurs demandé à tous les mages de ne pas divulguer cette histoire aux villageois. Mieux vaut les laisser se reposer un peu effectivement. Ils ont bien mérité de faire la fête.</p>

    <p>La fête te permet de penser à autre chose. Pendant que <span class="fort-nom"></span> est là, tu en profites pour lui demander :<br />
      - Au fait, je ne vois pas Terrence, il est bien à la forteresse ?<br />
      - Ah, on m'a dit que malheureusement, il est malade ce soir. Il est resté dans ses quartiers. On pourra aller le voir demain si tu veux.
    </p>

    <p>Tu acceptes volontiers l'invitation, ça te permettrait de savoir ce qu'il est advenu d'un peu tout le monde.</p>

    <p>Enfin, tout le monde se souhaite une bonne nuit et part s'allonger sur sa paillasse, sauf <span class="fort-nom"></span> et les mages de la forteresse qui retournent dans sa chambre bien sûr.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="119">Un bruit te réveille</div>
  </div>
</div>
