<div class="num num-1-2-115">

  <div class="text">
    <h1>- 115 -</h1>

    <p>Vous rejoignez les villageois dans une série de grandes pièces qui devait servir d'entrepôt car il y a encore plein de caisses posées sur les côtés. Il y a quand même quelques fenêtres et chacun est en train d'installer une paillasse pour la nuit et de se restaurer.</p>

    <p>Avec tout ce que tu viens d'apprendre, tu es plus déterminé<span class="sf">e</span> que jamais a délivrer Soufflardent de son sommeil. Et tu n'as jamais été aussi proche de lui. La première chose à faire est de retrouver Terrence, avec son tatouage il pourra annuler les sorts des mages de la forteresse.</p>

    <p>Tu interceptes <span class="fort-nom"></span> qui partait chercher à manger :<br />
      - Hey ! Je cherches un type que je connais, Terrence. Il devrait être à la forteresse. Tu sais où il est ? lui demandes-tu.<br />
      - Terrence ? Il est tombé malade, il est dans sa chambre. Si tu veux on ira lui rendre visite demain pour voir s'il va mieux, d'accord ?<br />
      - Entendu, ça me ferait plaisir de le revoir.</p>

    <p>Tu te dis qu'il vaut mieux être prudent<span class='sf'>e</span> et ne pas agir trop précipitamment. Voir Terrence demain semble être la bonne option.</p>

    <p>Tu vas chercher une gamelle avec une sorte de bouilli de porc et de légumes. C'est pas très bon mais ça te réchauffe. Tu préfères manger seul<span class='sf'>e</span> accoudé<span class='sf'>e</span> aux rebors d'une fenêtre. <span class='nao'>Nao</span><span class='rem'>Rem</span> arrive pour discuter. Même si tu n'en as pas vraiment envie.</p>

    <p>- C'est prévu pour cette nuit, te dit-il.<br />
      - Quoi donc ? demandes-tu sans comprendre.<br />
      - On délivre Soufflardent cette nuit, te fait-il en souriant.</p>

    <p>A peine eut-il finit sa phrase qu'il repart en croquant dans une pomme. <span class='nao'>Nao</span><span class='rem'>Rem</span> est un allié de Soufflardent ? Depuis quand ? Est-ce que les cocons lui ont fait ça ? Si toutes les personnes dans les cocons sont des alliés de Soufflardent ça signifie que vous êtes une trentaine, c'est amplement suffisant. Vous pouvez y arriver...Mais sans Terrence est-ce possible ? Tu te poses des questions mais tu laisses passer la fête et vas te coucher, comme tout le monde, sur ta paillasse.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="123">Quelqu'un te réveille dans la nuit</div>
  </div>
</div>
