<div class="num num-1-2-116">

  <div class="text">
    <h1>- 116 -</h1>

    <p>On t'a amené un bol de soupe dans la soirée. Mais tu as déjà vu mieux. Même ta paillasse est très dure, dormir dessus te fait un mal au dos terrible. </p>

    <p>- jE Ne t'OuBlIe PaS, surgit un voix dans ta tête.</p>

    <p>C'est Soufflardent.</p>

    <p>- Ne diS RieN eT écOUte-MoI, ordonne-t-il d'une voix très calme. MeS sErVitEURs oNT iNFiLtréS lA fORteREsSe. CeTtE nUIT vOuS mE réVeILlerEZ. mAIs POur ToI j'AI uNE miSSion SpéCiAle. Tu eS uN<span class="sf">e</span> dES SeUl<span class="sf">e</span>S QuI m'éCOUte aVEc eMPatHiE eT SaNS rAGE. Je veUX quE tU deVIenNEs mON sUCcesseUr.</p>

    <p>Son successeur ? QUe veut-il dire ? Si vous le délivrez cette nuit il pourra faire ce qu'il veut. Peut-être tuera-t-il tout le monde.</p>

    <p>- NoN. jE Ne pouRRaI pAS. jE VAis mE réVEilleR, mAiS c'EsT ceTTe nUit quE jE moURRai aUSsi. tU fAiS pArTie dES 4 peRsoNnEs qUE j'AI chOIsi PouR me sUcCédeR. d'AiLLeuRs jE cOMptE sUR toI pOUr eMpêChER mES aUTRes SerVIteURs dE FaIRe dES AtrOcitéS.</p>

    <p>Tu te demandes comment tu pourras faire pourr t'opposer à des gens qui probablement seront aussi puissant qu'Imp. Mais ça veut dire que tu es <span class="sf">la seule</span><span class="sf">le seul</span> à pouvoir empêcher un massacre.</p>

    <p>- qUAnd Les GENs SAUronT qUe jE t'Es ChoISi : iLs t'obéIRonT. N'AiS CRainTE.</p>

    <p>La porte en fer de ta geôle fait un déclic puis s'ouvre lentement.</p>

    <p>- MaInteNAnt sORs de là ! Et vIEns VeRS mOI. je VAiS tE gUider.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="117">S'évader</div>
  </div>
</div>
