<div class="num num-1-2-117">

  <div class="text">
    <h1>- 117 -</h1>

    <p>Les couloirs sont vides, les gardes de la forteresse pensent certainement que leurs cachots sont à l'épreuve de toutes les magies. Mais pas celle de Soufflardent.</p>

    <p>Tu cours dans jusqu'au premier embranchement.</p>

    <p>- pReND à DroITE aPrès çA.</p>

    <p>Mais tu n'as pas le temps de t'engager sur le couloir de droite qu'une boule de feu t'es lancée dessus. D'un réflexe parfait tu arrives à l'éviter et la magie par s'encastrer dans un mur, absorbée un petit peu par un des globes de cristal d'une geôle proche.</p>

    <p>- Je savais que tu réussirais à t'enfuir ! Je leur avais dit de mettre plus de surveillance mais ils n'ont pas voulu me croire.</p>

    <p>Heldegarde apparait derrière le nuage de fumée soulevé par le sort.</p>

    <p>- Heldegarde... tu te mords la lèvre car tu sais que tu auras du mal à la faire changer d'avis à ton encontre. Ecartes-toi, moi seul<span class='sf'>e</span> peut éviter le carnage dans la forteresse.<br />
      - Peuh. Tu penses vraiment que je vais te laisser passer ?</p>

    <p>Elle déclenche sur le champ un sort de "lances de glace". Des centaines de piques apparaissent pour t'embrocher et volent dans tous les côtés. La moitié sont aspirés par les boules de cristal mais les autres te foncent dessus trop rapidement.</p>

    <p>- jE VaIS tE DonNEr uN CouP dE MAin.</p>

    <p class="magie-verte">Un afflux d'énergie apparait en toi et tu te sens vraiment puissant<span class="sf">e</span>, tu déclenches un sort de bourrasque qui fait s'écarter les piques restantes. Elles se plantent dans les murs autours de toi.<br /><br />
    - Je ne veux pas te blesser Heldegarde ! Laisse-moi passer.<br />
    - J'ai toujours combattu les adorateurs de Soufflardent. Vous êtes les pires engeances que ce monde ait porté. Tu ne mérites pas de vivre plus longtemps.<br /><br />
    Heldegarde relance son sort pendant que tu fais de même, mais avec encore plus de puissance. Aucun pique de glace n'arrive jusqu'à toi, bien sûr. Mais en plus, Heldegarde est projetée violemment contre le mur. Un pique de glace planté dans ses deux bras. Elle n'est pas morte mais est définitivement hors combat.<br /><br />
    - Achève moi maintenant, te dit-elle. Ou tu le...regretteras plus tard.<br />
    - Je te l'ai déjà dit, je ne veux pas te tuer.<br /><br />
    Et tu disparais dans le couloir de droite, celui que Soufflardent t'avait demandé de prendre.</p>

    <p class="magie-noire">Un afflux d'énergie apparait en toi et tu te sens vraiment puissant<span class="sf">e</span>, tu déclenches un sort d'ouragan qui fait s'écarter les piques restantes. Mais en plus, Heldegarde est projetée violemment contre le mur. Des piques de glace plantés partout dans son corps. Le vent a renvoyé son attaque contre elle. Elle ne bouge plus, morte.<br /><br />
    Tu disparais sans te retourner, dans le couloir de droite, celui que Soufflardent t'avait demandé de prendre.</p>

    <p class="magie-noire2">Un afflux d'énergie apparait en toi et tu te sens vraiment puissant<span class="sf">e</span>, tu déclenches un sort d'ouragan qui fait s'écarter les piques restantes. Mais en plus, Heldegarde est projetée violemment contre le mur. Ton ouragan est tellement puissant qu'il arrache des briques des murs et ces dernières viennent percuter Heldegarde avec violence. Une fois le sort terminé elle retombe à terre morte.<br /><br />
    Tu disparais sans te retourner, dans le couloir de droite, celui que Soufflardent t'avait demandé de prendre.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="118">Continuer</div>
  </div>
</div>
