<div class="num num-1-2-118">

  <div class="text">
    <h1>- 118 -</h1>

    <p>- PreNdS l'EscAliER !</p>

    <p>La voix de Soufflardent dans ta tête te souffle le chemin pour arriver jusqu'à lui. Avec l'explosion de tout à l'heure tu es étonné<span class="sf">e</span> de n'avoir pas encore entendu d'alerte sonnée.</p>

    <p>Mais en passant devant une fenêtre tu entends des bruits de combat.</p>

    <p>- nOs AlLiéS sE baTTent. ÇA te DoNnErA le TEmPs dE Me reJOIndRe.</p>

    <p>Avec les indications du grand dragon tu as l'impression de savoir où tu vas. Mais ta route s'arrête devant une porte gardée. Deux personnes qui étaient avec Ymir et Zaïra la veille sont présentes pour garder la porte. Ils ne t'ont pas vu.</p>

    <p>- JE sUIS aU-dElà dE ceTTE poRtE. iL fAut la FRaNcHiR.<br />
      - Je vais lancer un sort de masque. Je ne veux pas de tuerie, lui dis-tu dans ta tête.<br />
      - Je n'en attendais pas moins de toi, te répond-il.</p>

    <p>D'un geste sûr tu t'appliques à lancer un sort de masque. Tu essaies de prendre l'apparence de <span class="fort-nom"></span>. C'est la personne de la forteresse qui tu as eu le plus l'occasion de côtoyer donc tu pourras copier son visage et ses expressions plus facilement.</p>

    <p>Une fois le sort lancé, tu t'avances en courant vers eux pour donner l'impression que tu viens leur apporter des nouvelles.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="124">Dire que Ymir et Zaïra demandent de l'aide et que tu prends la relève ici</div>
    <div class="ch" data-go="125">Dire que des intrus sont peut-être déjà entré et que tu dois passer pour vérifier</div>
  </div>
</div>
