<div class="num num-1-2-119">

  <div class="text">
    <h1>- 119 -</h1>

    <p>Tu te réveilles et vois immédiatement que quelque chose ne va pas. Des villageois sont debout, certains tiennent leur enfant contre eux.</p>

    <p>- Il y a des bruits de combat, te dit Mac Lumy à côté de toi.<br />
      - Des combats…? réponds-tu encore un peu assoupi<span class="sf">e</span><br />
      - Plusieurs mages ne sont pas là, Fandrean et Heldegarde ont l'air d'être déjà parti.</p>

    <p>Lasseni vient vous voir, elle est réveillée elle aussi.</p>

    <p>- Je ne sais pas ce qu'il se passe, mais on va voir. Tous les mages : venez avec moi. Johan, tu restes avec les villageois, ils te connaissent bien.<br />
      - Entendu, répond le mage d'Azano.</p>

    <p>Vous allez tous le plus vite possible jusqu'à l'entrée de l'entrepôt. En chemin, vous essayez de calmer les villageois. Vous leur dites que vous allez voir ce qu'il se passe. Certains vous disent qu'un membre de leur famille a disparu. Tu entends ça plusieurs fois. Mac Lumy arrive en trombe, il était resté chercher tous les mages restants.</p>

    <p>- Lasseni ! dit-il à bout de souffle. <span class="nao">Nao</span><span class="rem">Rem</span> n'est pas là.<br />
      - Il est peut-être parti avec Fandrean et Heldegarde à l'avant, réponds-tu. Ne perdons pas de temps.</p>

    <p>À l'entrée de la pièce des villageois sont paniqués. Certains forment un cordon pour ne laisser personne s'approcher. Quand votre groupe de mage arrive l'un d'entre eux vous laisse passer et vous montre : les 4 gardes postés à l'entrée de l'entrepôt sont morts. Aucun doute que ce sont des sorts de magie qui les ont tués.</p>

    <p>- Lasseni ? demandes-tu. Qu'est-ce qu'il se passe ? Tu es au courant de quelque chose.<br />
      - N...Non. <br />
      - Des mages ont disparu et là, on voit que les gardes ont été tué par magie. Ce n'est pas normal ! continues-tu à dire.<br />
      - JE SAIS BIEN ! Mais j'essaie de réfléchir là !</p>

    <p>Encore un instant passe sans que vous ne puissiez réagir.</p>

    <p>- Lasseni, <span class="tonnom"></span>. Les mages qui ont disparu, c'est ceux qui étaient dans les cocons, dit Mac Lumy.</p>
    <p class="iflevy">- Levy n'est pas là ? demandes-tu en regardant autour de toi.<br />
      - <span class="sf">Il</span><span class="sg">Elle</span> n'est pas là non plus, dit Mac Lumy.</p>

    <p>- Il faut prévenir Ymir et Zaïra tout de suite, fais-tu.<br />
      - Ils vont faire quoi d'après toi ? N'attends pas d'aide de ces deux-là, s'énerve Lasseni. Va les voir si tu veux. Moi, je vais retrouver mon frère. </p>

    <p>Lasseni prend un escalier à toute allure comme si elle connaissait le chemin.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="120">La suivre</div>
    <div class="ch" data-go="121">Essayer de trouver Ymir et ZaÏra</div>
  </div>
</div>
