<div class="num num-1-2-12">

  <div class="text">
    <h1>- 12 -</h1>

    <p>Les villageois vous saluent tous sur votre passage. Visiblement les mages sont très appréciés ici. Il faut dire que sans les mages de la tour, personne ne les aiderait face aux dangereuses créatures des environs.</p>

    <p>La tour est haute de 5 étages, mais le rez-de-chaussée est clairement plus grand. L'ensemble de la vie des mages doit s'y concentrer. Au maximum une vingtaine de mages doivent y habiter et il paraît que beaucoup partent en mission dans les monts noirs plusieurs jours. Donc ça va vous changer du monde présent dans l'école.</p>

    <p>Mac Lumy frappe à la porte et entre en vous tenant la porte pour vous laisser passer Lasseni et toi. Une vieille mage en habit d'aventurière - pantalon et bottes - est en train de faire la cuisine. Tu es sûr<span class="sf">e</span> que c'est une mage car elle possède une sacoche magique à sa ceinture et que seul un mage peut l'utiliser.</p>

    <p>- Salutations madame. Nous sommes l'expédition envoyée par l'académie pour une mission dans les marais. Nous devons nous entretenir avec le mage Fandrean, est-il là ? demande Lasseni avec une politesse que tu ne lui connaissais pas.<br />
      - Lasseni, c'est toi ? Qu'est-ce que tu as grandi dis donc ! Viens par là que je te vois mieux, lui répond la mage.</p>

    <p>Cette dernière prend Lasseni dans ses bras et lui assène un grand câlin, la faisant décoller du sol.</p>

    <p>- Heldegarde ! Je suis en mission officielle ! Repose-moi tout de suite ! s'énerve Lasseni un peu honteuse.<br />
      - Haha, toujours aussi sérieuse ? Et qui sont tes amis ?<br />
      - Madame Heldegarde, c'est ça ? Moi c'est Mac Lumy, futur mage supérieur de l'académie. Je ne savais pas que Lasseni était connue ici ?<br />
      - J'ai passé quelques années ici quand j'étais petite mais ça fait une éternité...</p>

    <p>Heldegarde a un regard doux et affectueux pour Lasseni, elle a dû beaucoup changer depuis ce temps là car pour toi elle est insupportable.</p>

    <p>- Et toi, qui es-tu ? te demande Heldegarde.<br />
      - <span class="tonnom"></span>, madame. Si vous avez des souvenirs honteux de Lasseni à nous raconter, nous sommes preneurs.</p>

    <p>Heldegarde éclate de rire et commence à vous installer à une table. Un mage descend du premier étage et vous salue. Puis deux autres descendent également suivis d'un jeune mage d'environ 12 ans avec des cheveux devant les yeux. Tous sont habillés chaudement avec de bonnes bottes. Vous faites sensation avec vos robes de mages et vos capes finement brodées. <span class="av-riche">Quand une des mages voit la broche que tu portes dans les cheveux elle pense que tu es une princesse et tout le monde rigole.<br />
      - Arrêtez de rire, dit-elle. Je sais que j'ai toujours vécu à la campagne pas besoin de vous marrez comme ça !<br />
      - Elle a toujours voulu rencontrer une princesse, te murmure Heldegarde à l'oreille.</span></p>

      <p>Finalement un des mages se présente comme étant Fandrean, il a une vingtaine d'années, l'air sombre mais sérieux. Habillé décontracté et visiblement très populaire avec le reste des mages de la tour. Le jeune mage avec les cheveux devant les yeux est Rem, le quatrième membre de votre équipe.</p>

      <p>- Salut, j'espère qu'on pourra mener à bien cette mission tous ensemble, vous dit-il simplement. Je suis ravi de pouvoir faire connaissance avec toi Lasseni, Fandrean m'a beaucoup parlé de toi.</p>

      <p>Tu es un peu jalou<span class="sf">se</span><span class="sg">x</span>, Lasseni est légèrement supérieure à toi mais pas de beaucoup.</p>

      <p>- On est les trois meilleurs jeunes mages de l'académie tu sais, ajoute Mac Lumy.<br />
        - Oh désolé. Je ne voulais pas dire que vous n'étiez pas doué. Je voulais juste dire que j'étais content de rencontrer la sœur de Maître Fandrean.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="13">QUOI ?! TU AS UN FRERE LASSENI ?!</div>
    <div class="ch" data-go="13">Hum. Oui je me disais qu'il y avait un air de ressemblance.</div>
  </div>

</div>
