<div class="num num-1-2-120">

  <div class="text">
    <h1>- 120 -</h1>

    <p>Tu décides de suivre ton amie, Mac Lumy dans ta foulée. Elle va à vive allure dans les couloirs. De temps en temps elle s'arrête comme si elle essayait de se souvenir, puis repart.</p>

    <p>- On va où Lasseni ? lui demandes-tu.<br />
      - L'antre de Soufflardent. Ymir me l'a montré à moi et Fandrean hier. Je l'ai vu.</p>

    <p>D'accord, tu décoches un regard plein d'inquiétude à Mac Lumy qui paraît lui aussi troublé. Beaucoup de torches sont éteintes. Ou plutôt cassées. C'était des torches magiques mais quelqu'un ou quelque chose en a cassé une bonne partie. Et au détour d'un énième couloir vous tombez sur un des gardes de la forteresse.</p>

    <p>- Halte là ! Mais… Lasseni, Mac, <span class="tonnom"></span>. Que se passe-t-il ?</p>

    <p><span class='fort-nom'></span> est planté<span class='sfg-f'>e</span> devant vous. Vous lui expliquez les gardes morts à l'entrée de l'entrepôt et les mages disparus.</p>

    <p>- Vous pensez qu'ils veulent réveiller Soufflardent ? demande <span class='fort-nom'></span>.<br />
      - Non, pas eux. dit Lasseni. Mais s'ils sont contrôlés par le dragon d'onyx alors… peut-être. Je ne sais pas.</p>

    <p>Vous posez tous votre main sur la tête de Lasseni.</p>

    <p>- Ok, ne t'en fais pas Lass', dis-tu. Ton frère on va le sauver.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="126">Continuer à courir vers l'antre de Soufflardent</div>
  </div>
</div>
