<div class="num num-1-2-121">

  <div class="text">
    <h1>- 121 -</h1>

    <p>Mac Lumy part avec Lasseni. Tu lui fais un signe de la tête et tente de partir à la recherche d'Ymir et Zaïra.</p>

    <p>Les couloirs sont noirs, les torches magiques au mur ont été cassées par quelqu'un ou quelque chose. Il y a des signes de combat mais tu ne vois pas de sang ou de cadavre. Tu t'arrêtes soudain de courir pour écouter. Oui… tu n'étais pas <span class='sf'>folle</span><span class='sg'>fou</span> c'est bien des bruits de pas.</p>

    <p>Quelqu'un a l'air de venir dans ta direction. Tu te prépares à toute éventualité en concentrant ton énergie. Et de la pénombre sort Usaki.</p>

    <p>- Usaki ! Qu'est-ce qu'il se passe ? lui dis-tu sur le coup.<br />
      - <span class="tonnom"></span> ! Comment va tout le monde à l'entrepôt ?<br />
      - Les gardes sont morts et certains mages et villageois manquent à l'appel, ceux qui étaient… heu … ceux qui étaient dans les cocons. Comme… comme...vous.</p>

    <p>Tu t'écartes un peu de lui, toujours sur le qui-vive. Il est peut-être dans ce coup-là.</p>

    <p>- Malédiction ! dit-il seulement. Soufflardent les contrôle.</p>

    <p>Il a vraiment l'air sincère mais jusque-là tu n'aurais pas imaginé que les autres non plus puissent être sous l'influence du dragon. Ils agissaient tous normalement. Usaki te voit hésitant<span class='sf'>e</span>.</p>

    <p>- Je ne suis pas ton ennemi. C'est grâce à ma magie que je ne suis pas comme eux. Je n'étais pas endormi dans le cocon, contrairement à eux. Tu dois me faire confiance.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="127">Faire confiance à Usaki</div>
    <div class="ch" data-go="128">Tenter de t'enfuir</div>
  </div>
</div>
