<div class="num num-1-2-122">

  <div class="text">
    <h1>- 122 -</h1>

    <p>Tu te réveilles, tiré<span class='sf'>e</span> de ton lit par une sorte de bruit d'explosion. Tu sais qu'il y a régulièrement des attaques de dragons aux alentours de la forteresse et tu as souvent été réveillé<span class='sf'>e</span> par des sorts lancés de nuit.</p>

    <p>Mais tu ne sais pas pourquoi, tu as un mauvais pressentiment. Tu t'habilles le plus vite possible, mets tes bottes et ouvre ta porte pour aller demander à un garde ce qu'il se passe.</p>

    <p>Mais pour une fois personne n'est là pour te renseigner.</p>
    <p class="aveck">Tu frappes à la porte de <span class='aveck-nom'></span>, qui met un peu de temps à répondre. Si bien que tu ouvres sa porte sans attendre. <br />
      - Oui… fait <span class='aveck-nom'></span> encore à moitié endormi.<br />
      - Je crois qu'il se passe quelque chose, lui dis-tu. Habille-toi. Vite !</p>

    <p class="aveck">Sitôt dit sitôt fait, <span class='aveck-nom'></span> t'accompagne dans les couloirs sombres de la forteresse. Au loin encore des bruits de sorts lancés se font entendre. Vous lancez vous aussi un sort de lumière pour voir où vous allez.</p>

    <p class="pas-aveck">Au loin encore des bruits de sorts lancés se font entendre. Tu lances toi aussi un sort de lumière pour voir où tu marches.</p>

    <p>Et au détour d'un couloir tu entends des bruits de course :<br />
      - Halte là ! fais-tu. Que faites-vous ic... Lasseni ? Mac Lumy ? Qu'est-ce qu'il se passe ?<br />
      - <span class="tonnom"></span><span class="aveck">, <span class='aveck-nom'></span></span>...les gardes à l'entrepôt ont été tués. Plusieurs mages ont disparu dont mon frère. En fait tous ceux qui ont été dans ces maudits cocons ont disparu.<br />
      - Vous pensez qu'ils veulent réveiller Soufflardent ? demandes-tu.<br />
      - Non, pas eux. dit Lasseni. Mais s'ils sont contrôlés par le dragon d'onyx alors… peut-être. Je ne sais pas.</p>

      <p>Vous posez tous votre main sur la tête de Lasseni.</p>

      <p>- Ok, ne t'en fais pas Lass', dis-tu. Ton frère on va le sauver.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="129">Continuer à courir vers l'antre de Soufflardent</div>
  </div>
</div>
