<div class="num num-1-2-123">

  <div class="text">
    <h1>- 123 -</h1>

    <p>Un des villageois te réveilles. Beaucoup d'autres sont debout aussi. Une trentaine. En fait tous ceux qui était dans les cocons sont debout prêt à l'attaque.</p>

    <p>Fandrean et Heldegarde aussi sont debout, ainsi que <span class="nao">Nao</span><span class="rem">Rem</span>. Tu te demandes exactement ce qu'il se passe. Fandrean a passé beaucoup de temps à pourchasser les adorateurs de Soufflardent et maintenant il aurait été convaincu par le dragon ? Tu as du mal à y croire. Cela voudrait dire qu'à part toi tout le monde est contrôlé par le dragon d'onyx ? Ou alors, se pourrait-il que tu sois contrôlé<span class='sf'>e</span> également sans le savoir ?</p>

    <p>Fandrean prend la tête du groupe et s'approche de l'entrée. Il y a des gardes de la forteresse qui n'ont pas le temps de comprendre ce qu'il se passe. Heldegarde et Fandrean font déjà place nette. L'effet de surprise a été total et les gardes se vident de leur sang par terre.</p>

    <p>Le reste des villageois qui était encore endormi commence à se réveiller.</p>

    <p>- Suivez-moi ! demande Fandrean à votre petit groupe.</p>

    <p>Au moment où toi aussi tu allais le suivre tu entends quelque chose dans ta tête.</p>

    <p>- PaS toI ! tU As uNE aUTre tâChE à FaIRe. PeNdANt qUe FaNDreAn feRAS dIVeRSiON, tU mE DéLIVrerAS.</p>

    <p><span class="nao">Nao</span><span class="rem">Rem</span> et deux villageois te regardent également en hochant la tête :<br />
      - Nous sommes les 4 élus qui avons été choisi par Soufflardent pour le délivrer de son sommeil.</p>

    <p>Menant ce groupe de 4 tu pars en suivant dans ta tête les instructions de Soufflardent. Tu ne sais pas comment tu vas faire pour le réveiller mais tout a l'air prévu. Ce n'est pas le moment de réfléchir à autre chose qu'à arriver jusqu'à ton maître.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="130">Courir dans les couloirs de la forteresse en direction de Soufflardent</div>
  </div>
</div>
