<div class="num num-1-2-124">

  <div class="text">
    <h1>- 124 -</h1>

    <p>- Hey ! Ymir et Zaïra demandent de l'aide, pffuuu, fais-tu en prétendant être à bout de souffle.<br />
    - Il se passe quoi exactement ? demande un des gardes.<br />
    - Un combat avec des villageois et des mages arrivés hier, dis-tu sûr<span class="sf">e</span>. Mais ça se présente mal là-bas, vers l'entrée de la forteresse.<br />
    - Ce passage doit être gardé, fait l'un des deux.<br />
    - Je sais c'est pour ça que je suis là. Mais vous êtes plus forts que moi, vous serez plus utiles que moi là-bas.<br />
    - On compte sur toi ici alors ? Entendu. Jesp on y va.<br />
    - Je laisserai passer personne ne vous inquiétez pas, leur fais-tu pendant qu'ils s'en vont.</p>

    <p>Aussitôt les deux gardes hors de vue, tu passes bien entendu la porte sans attendre.</p>

    <p>Derrière la porte, le passage est simplement un tunnel creusé dans la montagne. On peut passer à deux sur le côté mais ce n'est pas bien haut. Une personne de la taille de Fandrean devrait peut-être se pencher. Ymir et Zaïra doivent tout juste pouvoir passer.</p>

    <p>Plus tu avances et plus tu ressens de la chaleur.</p>

    <p>- ceTTe mONtaGnE eSt uN VolCaN. lA ChAlEuR EtaiT agRéAblE eT c'ESt pOuR çA qUE j'HaBitAIS là.</p>

    <p>Puis tu débarques dans une grotte gigantesque. Eclairée par de multiples artefacts de lumière. D'ici, il est impossible d'entendre les bruits des combats.</p>

    <p>- sToP !</p>

    <p>Soufflardent te fait t'arrêter. Tu te caches derrière des rochers pour voir quelques mages en train de préparer des artefacts.</p>

    <p>- Comment je vais passer ces mages, te dis-tu tout bas.<br />
      - dU CaLmE, tU eS AU bOuT dU CheMIN.</p>

    <p>Tu regardes un peu mieux et...stupéfaction, ce que tu prenais pour un amas de rochers est en fait un dragon. Mais gigantesque. Moins grand, quand même, que le géant du village d'Azano mais certainement le plus grand dragon que tu n'as jamais vu. D'un noir profond et brillant. C'est un dragon d'Onyx, c'est Soufflardent.</p>

    <p>Il est endormi, couvert sur chacune de ses écailles d'un artefact. De temps en temps un des mages change un des artefacts par un autre qu'il vient de recharger. Tu cherches à savoir combien de mages se trouvent entre toi et le dragon. Apparemment 2,... non 3 il y en avait un autre derrière Soufflardent.</p>

    <p>- 3 mages c'est beaucoup. Je ne sais pas si je pourrai les passer.<br />
      - dU CaLmE j'AI dIT. lA cAvAlERie ArriVE. AttEND uN pEU.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="131">Attendre sans te faire remarquer</div>
  </div>
</div>
