<div class="num num-1-2-125">

  <div class="text">
    <h1>- 125 -</h1>

    <p>- Hey ! Je dois passer, fais-tu en faisant semblant d'être à bout de souffle. Des intrus sont peut-être déjà passés.<br />
    - Hein ? demande un des gardes. Impossible, on est ici depuis plus d'une heure. Personne n'est passé.<br />
    - Ymir m'a demandé de vérifier quand même. Je dois passer, dis-tu.<br />
    - J'aurai pu y aller sinon, fait l'un des deux.<br />
    - Non, non. Restez-ici, il y a des combats dans la forteresse, vous devez restez à protéger la porte.<br />
    - Ok, vas-y reviens nous prévenir dès que possible si tout va bien ? te dit un garde en ouvrant la porte.<br />
    - Entendu. Je fais aussi vite que possible, leur fais-tu pendant qu'ils s'en vont.</p>

    <p>Derrière la porte, le passage est simplement un tunnel creusé dans la montagne. On peut passer à deux sur le côté mais ce n'est pas bien haut. Une personne de la taille de Fandrean devrait peut-être se pencher. Ymir et Zaïra doivent tout juste pouvoir passer.</p>

    <p>Plus tu avances et plus tu ressens de la chaleur.</p>

    <p>- ceTTe mONtaGnE eSt uN VolCaN. lA ChAlEuR EtaiT agRéAblE eT c'ESt pOuR çA qUE j'HaBitAIt là.</p>

    <p>Puis tu débarques dans une grottes gigantesque. Eclairée par de multiples artefacts de lumière. D'ici, il est impossible d'entendre les bruits des combats.</p>

    <p>- sToP !</p>

    <p>Soufflardent te fait t'arrêter. Tu te caches derrière des rochers pour voir quelques mages en train de préparer des artefacts.</p>

    <p>- Comment je vais passer ces mages, te dis-tu tout bas.<br />
      - dU CaLmE, tU eS AU bOuT dU CheMIN.</p>

    <p>Tu regardes un peu mieux et...stupéfaction, ce que tu prenais pour un amas de rochers est en fait un dragon. Mais gigantesque. Moins grand, quand même, que le géant du village d'Azano mais certainement le plus grand dragon que tu n'as jamais vu. D'un noir profond et brillant. C'est un dragon d'Onyx, c'est Soufflardent.</p>

    <p>Il est endormi, couvert sur chacune de ses écailles d'un artefact. De temps en temps un des mages change un des artefact par un autre qu'il vient de recharger. Tu cherches à savoir combien de mages se trouvent entre toi et le dragon. Apparemment 2,... non 3 il y en avait un autre derrière Soufflardent.</p>

    <p>- 3 mages c'est beaucoup. Je ne sais pas si je pourrai les passer.<br />
      - dU CaLmE j'AI dIT. lA cAvAlERie ArriVE. AttEND uN pEU.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="131">Attendre sans te faire remarquer</div>
  </div>
</div>
