<div class="num num-1-2-126">

  <div class="text">
    <h1>- 126 -</h1>

    <p>- Le tunnel d'accès vers Soufflardent se trouve par ici, indique <span class='fort-nom'></span>.</p>

    <p>Courant toujours plus vite, vous arrivez à l'accès pour l'antre de Soufflardent, mais deux gardes sont étendus par terre.</p>

    <p><span class='fort-nom'></span> se penche pour vérifier s'ils sont morts. Et après un instant :<br />
      - Ils respirent encore, ils sont vivants, dit-<span class="sfg-f">elle</span><span class="sfg-g">il</span>.<br />
      - Il faut se dépêcher, ça veut dire que des intrus sont déjà passés, lance Lasseni.</p>

      <p>Vous passez la porte d'accès à l'antre de Soufflardent et continuez votre course. Derrière la porte, le passage est simplement un tunnel creusé dans la montagne. On peut passer à deux sur le côté mais ce n'est pas bien haut. Une personne de la taille de Fandrean devrait peut-être se pencher. Ymir et Zaïra doivent tout juste pouvoir passer.</p>

      <p>Plus tu avances et plus tu ressens de la chaleur.</p>

      <p>- L'antre de Soufflardent est proche d'une poche volcanique. Il va faire de plus en plus chaud, prévient <span class='fort-nom'></span>.</p>

      <p>Puis vous débarquez dans une grotte gigantesque. Eclairée par de multiples artefacts de lumière. D'ici, il est impossible d'entendre les bruits des combats de la forteresse.</p>

      <p>Tu regardes un peu mieux et...stupéfaction, ce que tu prenais pour un amas de rochers est en fait un dragon. Mais gigantesque. Moins grand, quand même, que le géant du village d'Azano mais certainement le plus grand dragon que tu n'as jamais vu. D'un noir profond et brillant. C'est un dragon d'Onyx, c'est Soufflardent.</p>

      <p>Il est endormi, couvert sur chacune de ces écailles d'un artefact. </p>

      <p>- Malédiction, s'écrie <span class='fort-nom'></span>. Les mages gardiens...</p>

      <p><span class="sfg-f">La mage</span><span class="sfg-g">Le mage</span> vous montre des personnes à terre. Vous êtes arrivés trop tard ? Non, Soufflardent est toujours endormi.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="132">Foncer</div>
  </div>
</div>
