<div class="num num-1-2-127">

  <div class="text">
    <h1>- 127 -</h1>

    <p>- OK, je te fais confiance. Lasseni est partie de son côté. Je cherchais Ymir et Zaïra pour les prévenir.<br />
    - Ymir et Zaïra combattent des mages vers l'entrée de la forteresse. Je crois qu'il y a Fandrean dans le tas. Mais je ne suis pas sûr, te dit Usaki.</p>

    <p>Pendant que tu discutes avec Usaki, tu vois qu'il y a du sang sur sa tenue. Beaucoup de sang.</p>

    <p>- Vous avez combattu aussi ? lui demandes-tu.<br />
      -  Hein ? Ha ça ? fait la créature sous forme humaine...Oui j'ai dû tuer quelqu'un qui voulait réveiller le dragon.<br />
      - …Pourquoi vous êtes ici ?<br />
      - Pardon...?<br />
      - Vous devriez être avec Ymir et Zaïra ou alors empêcher Soufflardent d'être réveillé, expliques-tu. Ici, je ne sais pas bien où on est mais on doit pas être tout proche du grand dragon.</p>

    <p>Usaki te regarde sans rien dire.</p>

    <p>- Vous êtes contrôlé par Soufflardent...<br />
      - Non, ce n'est pas vrai ! JE SUIS LE SEUL QUI EMPÊCHE VRAIMENT LE DRAGON DE SE REVEILLER ! dit-il en colère. Sans moi Soufflardent serait réveillé depuis longtemps. Ymir et Zaïra ont fait beaucoup mais sans moi ils n'auraient rien pu faire.<br />
      - Vous êtes...trop bizarre désolé.</p>

    <p>Tu décides de laisser Usaki sur place et de t'enfuir.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="128">S'enfuir</div>
  </div>
</div>
