<div class="num num-1-2-128">

  <div class="text">
    <h1>- 128 -</h1>

    <p>Usaki n'a pas l'air de te poursuivre. Il ne doit pas avoir grand-chose à faire de toi, mais tu avais quand même bien peur.</p>

    <p>Passant les couloirs les uns après les autres à la vitesse de l'éclair, tu percutes violemment quelqu'un à un croisement.</p>

    <p>- AÏE ! Ça va pas ? te dit <span class='fort-nom'></span>. On court pas en pleine nuit sans lumière comme ça !<br />
      - Désolé<span class='sf'>e</span>. Je voulais être sûr<span class='sf'>e</span> de l'avoir semé.</p>

    <p><span class='fort-nom'></span> se frotte la tête à l'endroit où tu l'as percuté.</p>

    <p>- Qui ça ? Qu'est-ce qu'il se passe ce soir ?<br />
      - Usaki. Je ne sais pas pourquoi, ce soir je l'ai trouvé très bizarre.<br />
      - Il est très souvent étrange, mais il est fiable tu sais, te dit <span class='fort-nom'></span>.<br />
      - D'accord...mais plus grave : des gardes ont été tués. Je cherchais Ymir et Zaïra pour leur dire que des villageois et des mages qui sont arrivés avec nous sont peut-être contrôlés par Soufflardent.</p>

    <p><span class='fort-nom'></span> t'aide à te relever. Son visage est tout à coup très sérieux et elle te dit :<br />
      - Je ne sais pas où ils sont mais il faut aller à l'antre de Soufflardent tout de suite.<br />
      - Tu peux m'y guider ? <br />
      - Bien sûr, accroche-toi je vais pas ralentir.</p>

    <p><span class='fort-nom'></span> lance un sort de lumière et file dans un couloir. Tu n'hésites pas une seconde à lui emboiter le pas.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="134">Courir</div>
  </div>
</div>
