<div class="num num-1-2-129">

  <div class="text">
    <h1>- 129 -</h1>

      <p>Vous passez la porte d'accès à l'antre de Soufflardent et continuez votre course. Derrière la porte, le passage est simplement un tunnel creusé dans la montagne. On peut passer à deux sur le côté mais ce n'est pas bien haut. Une personne de la taille de Fandrean devrait peut-être se pencher. Ymir et Zaïra doivent tout juste pouvoir passer.</p>

      <p>Plus tu avances et plus tu ressens de la chaleur.</p>

      <p>- L'antre de Soufflardent est proche d'une poche volcanique. Il va faire de plus en plus chaud, préviens-tu.</p>

      <p>Puis vous débarquez dans une grotte gigantesque. Eclairée par de multiples artefacts de lumière. D'ici, il est impossible d'entendre les bruits des combats de la forteresse.</p>

      <p>Soufflardent est là, toujours endormi, les écailles toujours recouvertes d'artefacts pour le faire dormir. Son gigantesque corps est au même endroit que d'habitude. Mais quelque chose te fait perdre ton calme :</p>

      <p>- Malédiction, t'écries-tu. Les mages gardiens...</p>

      <p>Tu montres à tous des personnes à terre. Vous êtes arrivés trop tard ? Non, Soufflardent est toujours endormi.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="132">Foncer</div>
  </div>
</div>
