<div class="num num-1-2-13">

  <div class="text">
    <h1>- 13 -</h1>

    <p>- Désolé de ne pas vous l'avoir dit, mais ça n'avait aucune importance avec la mission. Pas besoin de vous embêter avec des détails, explique Lasseni.<br />
    - Un détail ? Tu trouves que c'est un détail <span class="tonnom"></span> ? te demande Mac Lumy.<br />
    - Ouais, je m'en fiche un peu. Pour une fois je suis d'accord avec elle. </p>

    <p>Intérieurement tu es bien sûre surprise mais tu ne veux pas montrer à Lasseni que sa vie t'importe tant que ça.</p>

    <p>- Ha ha ha ! Et bien je vois que ma petite sœur n'a pas changé. Si elle est chef d'équipe vous ne devez pas avoir la belle vie je suppose, s'exclame Fandrean.</p>

    <p>Lasseni lui lance un regard noir. Il commence à te plaire ce Fandrean, si c'est lui le prochain mage supérieur ça va faire du changement à l'académie. Soyos et les autres sont tellement guindés.</p>

    <p>Un mage apporte quelques provisions, du pâté, un pain entier et vous écoutez Fandrean vous expliquer la mission pendant que tout le monde mange un morceau. Au final il n'y a que 6 mages dans la tour actuellement.</p>

    <p class="middle">*</p>

    <p>- Les gens du village disparaissent la nuit uniquement. Ils vont tranquillement se promener dans le marais en pleine nuit et ne reviennent jamais. Mais on ne retrouve jamais les corps non plus.<br />
      - Donc ils sont peut-être encore vivants, explique Rem.<br />
      - Oui mais aucun habitant du village d'Azano n'est assez fou pour partir dans les marais en pleine nuit, poursuit Fandrean<br />
      - Personne n'a rien vu ? Personne ne les a suivis ?<br />
      - C'est ça le plus dingue : personne n'a jamais pu en voir un seul partir vers les marais. C'est avec nos sorts de magie qu'on a pu les localiser dans les marais. Mais quand on va à l'endroit que nous indique notre sort : il n'y a personne.</p>

    <p>La magie de "Vision de rêve" est normalement infaillible. Si elle t'indique un endroit précisément c'est que la personne est là-bas. Ce qui veut dire que la seule explication possible...</p>

    <p>- Il y a certainement de la magie là-dessous, dit Lasseni.<br />
      - Oui, c'est aussi ce que je pense. Soit les gens ont été enlevés magiquement, soit il y a quelque chose qui les cache magiquement. Dans les 2 cas c'est quelque chose que je n'ai jamais vu, dit Fandrean.<br />
      - Très bien on va enquêter.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="14">Discuter un peu avec Fandrean</div>
    <div class="ch" data-go="15">Discuter un peu avec Rem</div>
  </div>

</div>
