<div class="num num-1-2-130">

  <div class="text">
    <h1>- 130 -</h1>

    <p>Guidés par la voix du dragon vous avancez dans la forteresse pendant que vous entendez des explosions provoqués par Fandrean et les autres plus loin.</p>

    <p>- On va devoir attaquer des gardes bientôt, te dit <span class='nao'>Nao</span><span class='rem'>Rem</span>. Prépare un sort de "main de flamme", ajoue-t-il.</p>

    <p>Vous tournez à gauche au bout d'un couloir et tu vois deux gardes à quelques mètres en face de toi. Tu lances ton sort de main de flamme comme demandé par ton ami. Tu t'accroupis tout en tenant ta main enflammée en l'air et <span class='nao'>Nao</span><span class='rem'>Rem</span> lance à son tour un sort de gaz. Ça sent très fort mais surtout avec ta main de flamme, le sort se transforme en canon de feu qui vient exploser et brûler les mages devant.</p>

    <p>Pendant qu'ils s'écroulent dans des cris de douleur atroces vous ouvrez la porte qu'ils gardaient et continuez votre périple.</p>

    <p>Sitôt passé la porte, le passage devient plus étroit puis un simple tunnel creusé dans la montagne. On peut passer à deux sur le côté mais ce n'est pas bien haut. Une personne de la taille de Fandrean devrait peut-être se pencher. Ymir et Zaïra doivent tout juste pouvoir passer.</p>

    <p>Plus tu avances et plus tu ressens de la chaleur.</p>

    <p>Puis vous débarquez dans une grottes gigantesque. Eclairée par de multiples artefacts de lumière. D'ici, il est impossible d'entendre les bruits des combats de la forteresse.</p>

    <p>Tu regardes un peu mieux et...stupéfaction, ce que tu prenais pour un amas de rochers est en fait un dragon. Mais gigantesque. Moins grand, quand même, que le géant du village d'Azano mais certainement le plus grand dragon que tu n'as jamais vu. D'un noir profond et brillant. C'est un dragon d'Onyx, c'est Soufflardent.</p>

    <p>- Meonie, Arak, passez devant, occupez-vous des gardiens, ordonne <span class='nao'>Nao</span><span class='rem'>Rem</span></p>

    <p>Les deux villageois avec vous font un signe de tête et passent devant toi. Tu n'avais pas vu mais 3 gardiens sont là à surveiller le dragon. Ils sont certainement tous les 3 très puissants en magie.</p>

    <p>Meonie et Arak courent vers eux, ce ne sont que de simples villageois. Que vont-ils pouvoir faire, te demandes-tu. Mais pendant leur course, leur peau se noircit, leur jambes s'allongent et une queue de lézard apparait soudain. Et, pour finir, en sautant sur les 3 mages une paire d'ailes leur pousse dans le dos. Les mages tentent de réagir pendant l'attaque et des sorts sont envoyés dans tous les sens. Des cris et du sang jaillissent.</p>

    <p>- Par ici, te fait <span class='nao'>Nao</span><span class='rem'>Rem</span> en tirant sur ta manche.</p>

    <p>Un pas de côté et tu te retrouves devant la tête du grand dragon. Le combat faisant encore rage à quelques mètres de toi.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="136">Réveiller Soufflardent</div>
  </div>
</div>
