<div class="num num-1-2-131">

  <div class="text">
    <h1>- 131 -</h1>

    <p>Après quelques minutes à attendre et en observant le chemin d'où tu viens, tu vois finalement débouler <span class='nao'>Nao</span><span class='rem'>Rem</span> accompagné de 2 autres personnes. Tu as l'impression qu'il s'agit de villageois qui étaient avec vous.</p>

    <p>- Meonie, Arak, passez devant, occupez-vous des gardiens, ordonne <span class='nao'>Nao</span><span class='rem'>Rem</span>.</p>

    <p>Les deux villageois avec vous font un signe de tête et attaquent, te passant juste devant. Les gardiens sont certainement tous les 3 très puissants en magie.</p>

    <p>Meonie et Arak courent vers eux, ce ne sont que de simples villageois. Que vont-ils pouvoir faire, te demandes-tu. Mais pendant leur course, leur peau se noircit, leurs jambes s'allongent et une queue de lézard apparait soudain. Et, pour finir, en sautant sur les 3 mages une paire d'ailes leur pousse dans le dos. Les mages tentent de réagir pendant l'attaque et des sorts sont envoyés dans tous les sens. Des cris et du sang jaillissent.</p>

    <p>- Par ici, te fait <span class='nao'>Nao</span><span class='rem'>Rem</span> en tirant sur ta manche.</p>

    <p>Un pas de côté et tu te retrouves devant la tête du grand dragon. Le combat faisant encore rage à quelques mètres de toi.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="136">Réveiller Soufflardent</div>
  </div>
</div>
