<div class="num num-1-2-132">

  <div class="text">
    <h1>- 132 -</h1>

    <p>Vous passez entre les corps des mages à terre. Lasseni en tête, elle zigzague à en perdre haleine pour arriver jusqu'au grand dragon.</p>

    <p>Vous avez désormais la vue sur Soufflardent, encore plus impressionnant de prés même s'il est endormi. Autour de lui le terrain est dégagé et tu peux voir <span class='nao'>Nao</span><span class='rem'>Rem</span> juste devant sa tête. Un autre humain est proche également, ils essaient d'enlever les artefacts sur le corps de la bête.</p>

    <p>- <span class='nao'>Nao</span><span class='rem'>Rem</span> ! crie Lasseni. Arrête !</p>

    <p>C'est à ce moment là que tu aperçois, juste au-dessus d'elle, un petit dragon noir, comme ceux que vous avez affrontés à la tour, tomber sur la jeune mage. Il lui fonce dessus mais elle ne l'a pas repéré. </p>


  </div>

  <div class="choix">
    <div class="ch" data-go="133">Pousser Lasseni pour lui faire éviter le dragon</div>
    <div class="ch" data-go="135">Prendre appui sur un rocher à côté pour te jeter sur le dragon</div>
  </div>
</div>
