<div class="num num-1-2-133">

  <div class="text">
    <h1>- 133 -</h1>

    <p>Tu la pousses juste assez pour lui faire éviter un coup de griffes de la bête. Lasseni roule quelques mètres plus loin pendant que le dragon reprend un peu de hauteur.</p>

    <p>Tu t'es également étalé<span class='sf'>e</span> par terre et Mac Lumy te relève au passage.</p>

    <p>Tout à coup les artefacts de lumière de la grotte vacillent, et l'espace d'un instant, clignotent, le sol tremble légèrement et tout revient à la normale. </p>

    <p class="fin fin-2 fin-3 fin-4 fin-5 fin-6">- Que s'est-il passé ? demande Mac Lumy.<br />
      - Malheur...regardez ! vous montre <span class='fort-nom'></span></p>
    <p class="fin fin-1">- Que s'est-il passé ? demande Mac Lumy.<br />
      - Malheur...regardez ! leur montres-tu.</p>

    <p>Soufflardent dans un calme terrible ouvre les yeux. C'est trop tard. Immédiatement une sorte de bulle transparente se forme entre vous et lui. <span class='nao'>Nao</span><span class='rem'>Rem</span>, un autre humain et un petit dragon se trouvent à l'intérieur de la bulle.</p>

    <p>- MAITRE ! Je ne suis pas dans la bulle de protection ! hurle le petit dragon qui vous a attaqué.<br />
      - Ce n'est pas grave, vous êtes 4 à l'intérieur de la bulle, c'est ce dont j'ai besoin, dit le grand dragon d'une voix fatiguée.</p>

    <p>Quatre ? Non il fait erreur, ils ne sont que trois.</p>

    <p>- <span class="tonnom"></span> ! te crie Lasseni.</p>

    <p>Tu n'avais pas fait attention, Lasseni s'est retrouvée dans la bulle parce que tu l'as poussée. Tu te précipites pour essayer de la récupérer. Mais tu restes plaqué<span class='sf'>e</span> contre la paroi. La bulle est peut-être transparente mais elle est plus dure que de la roche.</p>

    <p>- MAITRE ! C'est une impure ! Elle ne peut pas faire partie des 4 !<br />
      - SILENCE ! Tout est déjà décidé, lui répond seulement le grand dragon.</p>

    <p><span class='nao'>Nao</span><span class='rem'>Rem</span> s'approche lentement de Lasseni en lui tendant la main.</p>

    <p>- Inutile de nous battre. Soufflardent t'a choisi. Tu vas assister à son réveil.<br />
    - Je ne suivrai jamais ce monstre, dit Lasseni en se relevant. Où est mon frère ? Libère-le !</p>

    <p>Mais déjà tu ne penses plus qu'à ce qu'a dit <span class='nao'>Nao</span><span class='rem'>Rem</span>. "Tu vas assister à son réveil". Ça signifie qu'il y a encore un moyen de l'empêcher.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="137">Tenter un sort d'un niveau supérieur pour percer la bulle</div>
    <div class="ch" data-go="139">Tenter de monter le petit dragon pour qu'il transperce la bulle à toute vitesse</div>
  </div>
</div>
