<div class="num num-1-2-134">

  <div class="text">
    <h1>- 134 -</h1>

    <p>Arrivant à un croisement tu vois deux gardes par terre et à moitié brûlés.</p>

    <p>- Ils protégeaient l'entrée du tunnel, te dit <span class='fort-nom'></span>. J'espère qu'il n'est pas trop tard. Vite, par là.</p>

    <p>Vous passez la porte d'accès à l'antre de Soufflardent et continuez votre course. Derrière la porte, le passage est simplement un tunnel creusé dans la montagne. On peut passer à deux sur le côté mais ce n'est pas bien haut. Une personne de la taille de Fandrean devrait peut-être se pencher. Ymir et Zaïra doivent tout juste pouvoir passer.</p>

    <p>Plus tu avances et plus tu ressens de la chaleur.</p>

    <p>- L'antre de Soufflardent est proche d'une poche volcanique. Il va faire de plus en plus chaud, prévient <span class='fort-nom'></span>.</p>

    <p>Puis vous débarquez dans une grotte gigantesque. Eclairée par de multiples artefacts de lumière. D'ici, il est impossible d'entendre les bruits des combats de la forteresse.</p>

    <p>Tu regardes un peu mieux et...stupéfaction, ce que tu prenais pour un amas de rochers est en fait un dragon. Mais gigantesque. Moins grand, quand même, que le géant du village d'Azano mais certainement le plus grand dragon que tu n'as jamais vu. D'un noir profond et brillant. C'est un dragon d'Onyx, c'est Soufflardent.</p>

    <p>D'un coup, une sorte de bulle transparente apparait autour de lui. Vous apparaissez en trombe dans l'espace dégagé où la bête est allongée. Des mages sont à terre pendant que Lasseni et Mac Lumy essaie d'entrer dans la bulle en lançant des sorts.</p>

    <p>- Lass' ! C'est quoi ce truc ? lui lances-tu.<br />
      - <span class="tonnom"></span> ? Je t'expliquerai  après mais on doit passer, Soufflardent est déjà à moitié réveillé.</p>

    <p>C'est vrai. Tu vois que les yeux du grand dragon sont ouverts. <span class='nao'>Nao</span><span class='rem'>Rem</span> se trouve à l'intérieur de la bulle avec un autre humain et deux petits dragons. Ils semblent se préparer à une sorte de rituel.</p>

    <p>La solution semble désespérée.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="140">Tenter un sort d'un niveau supérieur pour percer la bulle</div>
  </div>
</div>
