<div class="num num-1-2-135">

  <div class="text">
    <h1>- 135 -</h1>

    <p>Dans une sorte d'acrobatie héroïque dont tu ne te savais pas capable, tu prends appui sur un rocher à côté pour te projeter sur le petit dragon. Tu n'hésites pas à lancer un sort de glaciation en plein vol pour le faire s'écrouler à terre.</p>

    <p>Lasseni te voit passer par dessus sa tête et rouler un peu plus loin, pendant que le dragon finit sa route dans les rochers derrières Mac Lumy.</p>

    <p>- Tout va bien ? te crie Lasseni.</p>

    <p>Mais à ce moment là les artefacts de lumière de la grotte vacillent, et l'espace d'un instant clignotent, le sol tremble légèrement et tout revient à la normale. </p>

    <p>- Que s'est-il passé ? demande Mac Lumy.<br />
      - Malheur...regardez vous montre <span class='fort-nom'></span></p>

    <p>Soufflardent dans un calme terrible ouvre les yeux. C'est trop tard. Immédiatement une sorte de bulle transparente se forme entre Lasseni et lui. <span class='nao'>Nao</span><span class='rem'>Rem</span>, un autre humain et un petit dragon se trouvent à l'intérieur de la bulle.</p>

    <p>- MAITRE ! Je ne suis pas dans la bulle de protection ! hurle le petit dragon qui vous a attaqué.<br />
      - Ce n'est pas grave, vous êtes 4 à l'intérieur de la bulle, c'est ce dont j'ai besoin, dit le grand dragon d'une voix fatiguée.</p>

    <p>Quatre ? Non il fait erreur, ils ne sont que trois.</p>

    <p>- <span class="tonnom"></span> ! te crie Lasseni.</p>

    <p>Tu n'avais pas fait attention, tu t'es retrouvé<span class='sf'>e</span> dans la bulle avec ton acrobatie. Lasseni se précipite pour essayer de te récupérer. Mais elle reste plaquée contre la paroie. La bulle est peut-être transparente mais elle est plus dure que de la roche.</p>

    <p>- MAITRE ! C'est une impure ! Elle ne peut pas faire partie des 4 !<br />
      - SILENCE ! Tout est déjà décidé, lui répond seulement le grand dragon.</p>

    <p><span class='nao'>Nao</span><span class='rem'>Rem</span> s'approche lentement de toi en te tendant la main.</p>

    <p>- Inutile de nous battre. Soufflardent t'a choisi. Tu vas assister à son réveil.</p>

    <p>Tu te relèves le sourire aux lèvres. Te forçant un peu pour ne pas montrer à quel point tu as peur.</p>

    <p>- Ah ! Alors c'est moi seul<span class="sf">e</span> contre vous 3 et Soufflardent. C'est un sacré challenge.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="141">Se battre pour que Soufflardent ne se réveille pas complètement</div>
  </div>
</div>
