<div class="num num-1-2-136">

  <div class="text">
    <h1>- 136 -</h1>

    <p><span class='nao'>Nao</span><span class='rem'>Rem</span> et toi, vous enlevez à toute vitesse plusieurs artefacts des écailles de Soufflardent. Pendant ce temps le combat a cessé. Les petits dragons sont victorieux et vous rejoignent pour enlever les objets qui gardent Soufflardent endormi.</p>

    <p>Mais à un moment, les artefacts de lumière de la grotte vacillent, et l'espace d'un instant clignotent, le sol tremble légèrement et tout revient à la normale. </p>

    <p>Le grand dragon ouvre lentement les yeux sans pouvoir bouger quoi que ce soit d'autre.</p>

    <p>- <span class="tonnom"></span> ! Arrête ! crie une voix à l'autre bout de la grotte.</p>

    <p>Lasseni, Mac Lumy et <span class='fort-nom'></span> sont là. Ils courent vers vous avec la ferme intention de vous arrêter. Mais une sorte de bulle gigantesque et transparente apparait devant le petit groupe de mage et vous enveloppe, vous et le grand dragon.</p>

    <p>- Le réveil va commencer, te dit <span class='nao'>Nao</span><span class='rem'>Rem</span>.</p>

    <p>Et pendant que le groupe de Lasseni tente d'ouvrir la bulle par tous les moyens, Soufflardent commence à vous parler :<br />
      - Mes chers enfants, oui je ne vous considère pas comme mes serviteurs, commence-t-il. Vous avez tous pris de grands risques pour me réveiller et je ne voudrai pas que vous le preniez mal… mais ce soir je vais mourir.<br />
      - COMMENT ? s'écrie <span class='nao'>Nao</span><span class='rem'>Rem</span>. Vous ne pouvez pas mourir ! Le monde va se détruire sans vous. <br />
      - Héhé, du calme...du calme. Je suis resté trop longtemps endormi, trop longtemps sans manger. Mes forces physiques m'abandonnent. </p>

    <p>Tes 3 compagnons semblent vraiment attristés. Même les deux dragons, Méonie et Arak, pleurent.</p>

    <p>- Mais mes forces magiques seront toujours là. Je vous ai, tous les 4, choisi pour que vous récupériez chacun une partie de ma magie. Et quand ce sera fait vous aurez mes souvenirs également. Vous comprendrez tout.<br />
      - Entendu maitre, dit Méonie en refermant ses ailes et en fermant les yeux.<br />
      - Je vous serai digne, affirme Arak en posant une patte sur sa poitrine.<br />
      - Maitre. Je vous promets que je vous vengerai, dit <span class='nao'>Nao</span><span class='rem'>Rem</span>.</p>

    <p>Tu ne sais pas trop quoi dire. De son côté Lasseni te hurle de ne pas t'approcher de Soufflardent.</p>

    <p>- Soufflardent... les pouvoirs que vous me confierez, je jure de les utiliser pour faire éclater la vérité sur le monde, dis-tu finalement.</p>

    <p>- Maintenant tout ce que vous avez à faire, mes enfants, c'est toucher ma peau.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="142">Toucher Soufflardent</div>
  </div>
</div>
