<div class="num num-1-2-137">

  <div class="text">
    <h1>- 137 -</h1>

    <p>Lasseni décide de se battre. Tu la vois, portée par le désespoir, tenter des sorts absolument géniaux. Elle envoie une bourrasque pour mettre à terre <span class='nao'>Nao</span><span class='rem'>Rem</span>. Puis saute légèrement en l'air et se fait pousser des ailes de lumière, lui permettant de foncer sur le petit dragon restant. Dans un flash lumineux elle lui envoie une explosion de magie qui le met lui aussi à terre.</p>

    <p>- Elle est formidable ! s'exclame Mac Lumy.<br />
      - Mais elle ne va pas rester debout longtemps si elle dépense son énergie comme ça, dis-tu. Nous devons concentrer nos efforts pour lancer tous ensemble un sort capable de percer cette bulle.</p>

    <p class="fin fin-2 fin-3 fin-4 fin-5 fin-6">Mac Lumy et <span class="fort-nom"></span> acquiescent de la tête. Mais vous êtes obligés de plonger à terre pour éviter le souffle enflammé qui vous arrive dessus.</p>
    <p class="fin fin-1">
      <span class="aveck">Mac Lumy et <span class="fort-nom"></span> acquiescent de la tête. Mais vous êtes obligés de plonger à terre pour éviter le souffle enflammé qui vous arrive dessus.</span>
      <span class="pas-aveck">Mac Lumy acquiesce de la tête. Mais vous êtes obligés de plonger à terre pour éviter le souffle enflammé qui vous arrive dessus.</span>
    </p>

    <p>- VOUS PENSEZ QUE JE VAIS VOUS LAISSER FAIRE ? vous hurle le petit dragon de tout à l'heure.</p>

    <p>Vous vous regardez vite tous les trois. Sans un mot partagé vous vous êtes compris : vous allez faire votre triple sort combiné sur le dragon. Il servira d'expérimentation.</p>

    <p class="aveck2"><span class="fort-nom"></span> concentre son énergie en créant une sorte de vortex noir au creux de ses mains. Toi même tu décides de tenter un sort de haut niveau, et un vortex de glace apparait dans les tiennes. Mac Lumy complète le sort par un vortex de flammes. Et en lançant votre sort sur le dragon vous hurlez "VORTEX DE LA LUNE, DES GLACES ET DES FLAMMES !" comme s'il s'agissait d'une attaque spéciale</p>
    <p class="pas-aveck2">Tu décides de tenter un sort de haut niveau, et un vortex de glace apparait dans tes mains. Mac Lumy complète le sort par un vortex de flammes. Et en lançant votre sort sur le dragon vous hurlez "VORTEX DES GLACES ET DES FLAMMES !" comme s'il s'agissait d'une attaque spéciale</p>

    <p class="aveck2">Un rayon noir, bleu et rouge est envoyé sur le dragon qui se le prend en plein visage. Vous regardez tous vos mains encore fumantes comme si vous étiez surpris de la puissance de votre sort.</p>
    <p class="pas-aveck2">Un rayon bleu et rouge est envoyé sur le dragon qui se le prend en plein visage. Vous regardez tous vos mains encore fumantes comme si vous étiez surpris de la puissance de votre sort.</p>

    <p>- On doit faire le même contre la bulle, s'exclame Mac Lumy.<br />
      - Non. On doit faire mieux, dis-tu.</p>

    <p>Vous vous retournez pour observer Lasseni. Elle est à bout de souffle, ses assaillants sont encore tous debout. Le petit dragon arrive même à la faire tomber à terre. Enchevêtrée dans un sort de racines particulièrement puissant, elle est finalement amenée devant Soufflardent, qui a l'air de leur parler. Mais de derrière la bulle, impossible de comprendre ce qu'il dit.</p>

    <p class="aveck2">- Concentration d'énergie au maximum les amis. dit simplement Mac Lumy.</p>
    <p class="pas-aveck2">- Concentration d'énergie au maximum. te dit simplement Mac Lumy.</p>

    <p>Vous recommencez votre sort mais cette fois en concentrant encore plus d'énergie.</p>

    <p class="aveck2">Le triple rayon frappe la bulle de plein fouet. Mais cela s'avère totalement inutile. La bulle est intacte.</p>
    <p class="pas-aveck2">Le double rayon frappe la bulle de plein fouet. Mais cela s'avère totalement inutile. La bulle est intacte.</p>

    <p>- Impossible. Il faut recommencer, avec encore plus d'énergie, fais-tu.<br />
      - Je ne sais pas si je pourrai faire mieux, dit Mac Lumy. Je suis à mon maximum.<br />
      - Il faut faire mieux ! lui dis-tu.</p>

  </div>

  <div class="choix">
    <div class="ch aveck2" data-go="138">Lancer un nouveau triple rayon</div>
    <div class="ch pas-aveck2" data-go="138">Lancer un nouveau double rayon</div>
  </div>
</div>
