<div class="num num-1-2-138">

  <div class="text">
    <h1>- 138 -</h1>

    <p>Tu tentes de concentrer encore plus d'énergie dans ton sort. Tu en as même tellement que tes mains commencent à trembler. Si tu en mets plus tu risques de te faire exploser ton propre sort au visage.</p>

    <p class="aveck2">- LANCEZ ! hurles-tu.</p>
    <p class="pas-aveck2">- LANCE ! hurles-tu.</p>

    <p class="aveck2">Le triple rayon percute une nouvelle fois la bulle au même endroit. </p>
    <p class="pas-aveck2">Le double rayon percute une nouvelle fois la bulle au même endroit. </p>

    <p class="aveck2">- Ça ne sert à rien, fait <span class="fort-nom"></span>.<br />
      - SI ! Regardez, fait Mac Lumy.</p>
    <p class="pas-aveck2">- Ça ne sert à rien, fais-tu.<br />
        - SI ! Regarde, fait Mac Lumy.</p>

    <p>Sur la bulle il y a un petit éclat à  l'endroit de votre sort. Si vous continuez comme ça vous pourrez peut-être ouvrir la barrière magique.</p>

    <p>- On recommence, ce doit être le dernier, sinon on aura plus assez d'énergie pour se battre, compris ? dis-tu.</p>

    <p class="aveck2">Mac Lumy et <span class="fort-nom"></span> sont d'accord, d'ailleurs le petit mage de l'académie a les mains complètement noires. Il a dû arriver à sa limite déjà au dernier sort.</p>
    <p class="pas-aveck2">Mac Lumy est d'accord, d'ailleurs le petit mage de l'académie a les mains complètement noires. Il a dû arriver à sa limite déjà au dernier sort.</p>

    <p>- Mac, c'est le dernier effort, fais-tu.<br />
      - Hey ! Tu crois que je vais me dégonfler ? Je vais te sortir un meilleur sort encore que les deux premiers.</p>

    <p>C'est reparti. Tu te dis que tu vas concentrer encore plus d'énergie. Ce doit être la bonne cette fois. L'énergie de l'eau est très présente dans le coin, elle vient de Soufflardent. Forcément, s'il est la source de toute magie, tu es dans un endroit idéal pour lancer des sorts. Le vortex de glace grossit dans tes mains. Encore plus. Tu ne veux pas que Mac Lumy ait à trop forcer sur son sort donc tu dois y mettre encore plus d'énergie. Encore plus. Tes mains tremblent, trop puis s'ouvrent complètement.</p>

    <p class="aveck2">L'explosion d'énergie te prend au dépourvu. <span class="fort-nom"></span> est juste à côté et laisse partir son énergie de la lune qui explose à son tour, puis l'énergie du feu de Mac Lumy à la suite. Votre petit groupe explose.</p>
    <p class="pas-aveck2">L'explosion d'énergie te prend au dépourvu. Mac Lumy est juste à côté et laisse partir son énergie de la lune qui explose à son tour.</p>

    <p class="aveck2">- Mac…! Mac ! fais-tu en essayant de te mettre debout.<br />
      - <span class='tonnom'></span>, désolé… je crois que je suis à bout de force...là, fait le petit mage.<br />
      - Ah … la vache… je déguste, dit à son tour <span class="fort-nom"></span>.</p>
    <p class="pas-aveck2">- Mac…! Mac ! fais-tu en essayant de te mettre debout.<br />
      - <span class='tonnom'></span>, désolé… je crois que je suis à bout de force...là, fait le petit mage.</p>

    <p class="aveck2">Tu les vois tous les deux à terre, par ta faute complètement brûlés et déchirés par leur propre énergie.</p>
    <p class="pas-aveck2">Tu le vois à terre, par ta faute complètement brûlé et déchiré par sa propre énergie.</p>

    <p class="aveck2">- Désolé, les amis, c'est ma faute, dis-tu en te relevant. Je vais ouvrir cette bulle, je dois sauver Lass'.<br />
      - Mais <span class='tonnom'></span> ! Tes bras ! te crie Mac Lumy.</p>
    <p class="pas-aveck2">- Désolé, c'est ma faute, dis-tu en te relevant. Je vais ouvrir cette bulle, je dois sauver Lass'.<br />
      - Mais <span class='tonnom'></span> ! Tes bras ! te crie Mac Lumy.</p>

    <p>En entendant ce que te dit ton ami tu te rends compte : tes bras sont complètement gelés, pris dans la glace. </p>

    <p>- Hé hé. Ça m'empêchera de trembler comme ça, fais-tu en rigolant.</p>

    <p>Tu recommences à concentrer ton énergie, il en faut vraiment un paquet si tu lances le sort seul<span class='sf'>e</span>.</p>

    <p>- Stop. Laisse-moi faire.</p>

    <p>Usaki te retient dans ton sort. Arrivé de nulle part il concentre à son tour son énergie, mais il n'en concentre pas beaucoup. Une sorte de plaque violette part de ses mains pour se plaquer contre la bulle : à son contact une sorte de trou se fait. Usaki se précipite dans l'espace pour charger le grand dragon.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="143">Continuer</div>
  </div>
</div>
