<div class="num num-1-2-139">

  <div class="text">
    <h1>- 139 -</h1>

    <p>Lasseni décide de se battre. Tu la vois porté par le désespoir tenter des sorts absolument géniaux. Elle envoie une bourrasque pour mettre à terre <span class='nao'>Nao</span><span class='rem'>Rem</span>. Puis saute légèrement en l'air et se fait pousser des ailes de lumière, lui permettant de foncer sur le petit dragon restant. Dans un flash lumineux elle lui envoie une explosion de magie qui le met lui aussi à terre.</p>

    <p>- Elle est formidable ! s'exclame Mac Lumy.<br />
      - Mais elle ne va pas rester debout longtemps si elle dépense son énergie comme ça, dis-tu. Nous devons récupérer ce petit dragon et en le montant on transpercera la bulle à toute vitesse.</p>

    <p class="aveck2">Mac Lumy et <span class='fort-nom'></span> te regardent comme si tu avais dit une bêtise.</p>
    <p class="pas-aveck2">Mac Lumy te regarde comme si tu avais dit une bêtise.</p>

    <p class="aveck2">- Ça va marcher, leur dis-tu.</p>
    <p class="pas-aveck2">- Ça va marcher, lui dis-tu.</p>

    <p class="aveck2">Aussitôt dit, tes deux compères se retournent contre le petit dragon. Voyant qu'on l'attaque ce dernier tente un décollage rapide vers le haut de la grotte, mais des liens magiques le retiennent.</p>
    <p class="pas-aveck2">Aussitôt dit, Mac Lumy se retourne contre le petit dragon. Voyant qu'on l'attaque ce dernier tente un décollage rapide vers le haut de la grotte, mais des liens magiques le retiennent.</p>

    <p class="aveck2">- Je l'ai attrapé ! fait <span class='fort-nom'></span>.<br />
      - <span class="tonnom"></span>, je te fais monter dessus ! te dit Mac Lumy en posant ses mains pour te faire la courte-échelle.</p>
    <p class="pas-aveck2">- Je l'ai attrapé ! fait Mac. <span class="tonnom"></span>, je te fais monter dessus ! te dit Mac Lumy en posant ses mains pour te faire la courte-échelle.</p>

    <p class="aveck2">D'un pas habile tu poses ton pieds sur Mac Lumy et t'accroches à califourchon sur le dos du dragon. <span class='fort-nom'></span> défait son sort, pendant que tu lui poses tes mains sur les yeux, l'empêchant de voir.</p>
    <p class="pas-aveck2">D'un pas habile tu poses ton pieds sur Mac Lumy et t'accroches à califourchon sur le dos du dragon. Le petit mage défait son sort, pendant que tu  poses tes mains sur les yeux du dragon, l'empêchant de voir.</p>

    <p>- Qu'est-ce que tu fais ? Lâches-moi ! te crie le dragon.</p>

    <p>Le dragon tourne dans tous les sens et prend de la vitesse. Tout se passe comme prévu tu dois juste arriver à le faire foncer dans la bulle désormais. D'un coup de reins tu le fais basculer d'un côté et la trajectoire devient bonne.</p>

    <p>- Elle va y arriver, dit Mac Lumy sans y croire.</p>

    <p class="aveck2">Et tu t'écrases brutalement avec le dragon contre la bulle. Le dragon est KO, pendant que tu glisses à la surface de la bulle lentement jusqu'en bas. Un peu de sang coulant de ton nez, Mac Lumy et <span class='fort-nom'></span> viennent voir comment tu vas.</p>
    <p class="pas-aveck2">Et tu t'écrases brutalement avec le dragon contre la bulle. Le dragon est KO, pendant que tu glisses à la surface de la bulle lentement jusqu'en bas. Un peu de sang coulant de ton nez, Mac Lumy vient voir comment tu vas.</p>

    <p class="aveck2">- Pas de commentaire, leur dis tu en mettant ta main gauche sur ton nez.</p>
    <p class="pas-aveck2">- Pas de commentaire, lui dis tu en mettant ta main gauche sur ton nez.</p>

    <p>Vous vous retournez pour observez Lasseni. Elle est à bout de souffle, ses assaillants sont encore tous debout. Le petit dragon arrive même à la faire tomber à terre. Enchevêtrée dans un sort de racines particulièrement puissant, elle est finalement amenée devant Soufflardent, qui a l'air de leur parler. Mais de derrière la bulle, impossible de comprendre ce qu'il dit.</p>

    <p>- Laissez moi faire les enfants.</p>

    <p>Arrivé de nulle-part, Usaki apparait.</p>

    <p>- Je vais ouvrir cette bulle. Mais ça va me demander toute mon énergie. Vous pensez que vous pouvez récupérer votre amie vous-même ?<br />
      - Compte sur nous, dit Mac Lumy.</p>

    <p>Usaki concentre toute son énergie dans un gros vortex violet. Il est gigantesque, c'est la magie de la lune. D'un geste il projette son vortex contre la bulle. Dans une myriade d'étincelles un craquement se fait entendre, puis la bulle se casse légèrement à l'endroit de l'impact. Usaki à bout de forces tombe par terre.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="145">Passer par le trou dans la bulle pour sauver Lasseni</div>
  </div>
</div>
