<div class="num num-1-2-14">

  <div class="text">
    <h1>- 14 -</h1>

    <p>Pendant que les mages de la tour vous donnent des habits plus confortables pour marcher dans les marais tu en profites pour discuter avec Fandrean.</p>

    <p>- Je peux vous poser une question ? demandes-tu timidement.<br />
      - Bien sûr. Pose toutes les questions que tu veux.<br />
      - On peut vraiment croiser des dragons dans les marais ?<br />
      - Eh oui. C'est vraiment dangereux mais généralement ils n'attaquent pas les humains, on n'est pas assez gros pour leur servir de repas. Faut juste faire attention aux bébés, ils choisissent des proies plus petites.</p>

    <p>Tu as d'abord commencé à lui poser une question générale pour ne pas paraître trop curieu<span class="sf">se</span><span class="sg">x</span>, mais tu enchaines très vite avec des questions plus personnelles :<br /><br />
      - D'accord...heu sinon il paraît que vous allez devenir le prochain mage supérieur.<br />
      - Vraiment ? C'est juste une rumeur. Y a des gens à l'académie qui essaient de me renvoyer là-bas mais je préfère rester ici, à la tour d'Azano. Je me sens plus utile sur le terrain.<br />
      - Oh ! Je vois… Et sinon… vous êtes… marié ?<br />
      - Hein ? Heu non, je suis encore jeune tu sais. Et pour l'instant je vis une vie trop dangereuse pour avoir une femme. Lasseni est la seule personne vivante de ma famille. Et elle aussi a choisi la voie de la magie.</p>

      <p>Tu étais sur le point de lui demander si la rumeur comme quoi Lasseni était la descendante de Ymir et Zaïra était vraie quand une main se pose sur ton épaule.</p>

      <p>- Dépêche-toi de t'habiller on part juste après, te dit Lasseni.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="22">S'habiller et partir</div>
  </div>

</div>
