<div class="num num-1-2-140">

  <div class="text">
    <h1>- 140 -</h1>

    <p>- Cette bulle est plus résistante que de la roche, t'explique Lasseni.<br />
    - Essayons de mettre en commun nos plus puissants sorts, dis-tu.<br/>
    - Tu proposes un sort combiné ? demande <span class='fort-nom'></span>.<br />
    - Exactement.</p>

    <p><span class="fort-nom"></span> concentre son énergie en créant une sorte de vortex noir au creux de ses mains. Toi-même tu décides de tenter un sort de haut niveau, et un vortex de vent apparait dans les tiennes. Lasseni s'applique à créer un vortex de glace. Et Mac Lumy complète le sort par un vortex de flammes. Et en lançant votre sort sur la bulle vous hurlez "QUADRUPLE VORTEX" comme s'il s'agissait d'une attaque spéciale</p>

    <p>Un rayon noir, blanc, bleu et rouge est envoyé contre la bulle. Et à sa surface, un petit éclat apparait à l'endroit de votre sort. Si vous continuez comme ça vous pourrez peut-être ouvrir la barrière magique.</p>

    <p>- On recommence, ce doit être le dernier, sinon on aura plus assez d'énergie pour se battre, compris ? dis-tu.</p>

    <p>Pendant ce temps tu peux observer Soufflardent en train de parler à ses disciples à l'intérieur de la bulle. Mais de l'extérieur  tu n'arrives pas à entendre ses paroles. Tu te remets en position puis tentes de concentrer encore plus d'énergie dans ton sort. Tu en as même tellement que tes mains commencent à trembler. Si tu en mets plus tu risques de te faire exploser ton propre sort au visage. Tes 3 compagnons ont l'air à leur limite également :</p>

    <p>- LANCEZ, vous crie Lasseni.</p>

    <p>Le vortex est gigantesque. Dans une myriade d'étincelles un craquement se fait entendre contre la paroi, puis la bulle se casse légèrement à l'endroit de l'impact. Vous permettant de passer.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="146">Passer par le trou dans la bulle pour arrêter tout ça</div>
  </div>
</div>
