<div class="num num-1-2-141">

  <div class="text">
    <h1>- 141 -</h1>

    <p>Tu te dis qu'il vaut mieux tenter de reposer les artefacts tombés sur le sol et qui permettait d'endormir Soufflardent. Si tu arrives à les poser sur n'importe lequel des 3 autres ennemis dans la bulle cela devrait les endormir instantanément. Il restera le problème du grand dragon d'Onyx mais tu verras ça après.</p>

    <p>D'un sort de "racines", tu arrives à les envoyer suffisamment loin pour attraper un des artefacts. Puis en contrôlant les racines comme on te l'a appris récemment tu arrives à te le lancer vers toi. Tu te précipites en esquivant <span class='nao'>Nao</span><span class='rem'>Rem</span> pour récupérer l'objet.</p>

    <p> Mais le petit dragon dans la bulle avait bien suivi tes mouvements et attrape l'artefact au vol avant toi.</p>

    <p>- Tu croyais vraiment nous avoir avec ce genre de tactique ?</p>

    <p class="fin fin-1">Tu décides alors d'enchainer avec ton sort de "cape de la nuit", il te permettra de passer inaperçue jusqu'à ce que tu puisses ramasser un des autres artefacts. Et cela fonctionne bien. Les ennemis ne comprennent plus où tu te trouves et tu files ramasser un des objets tombé prés du corps de Soufflardent.</p>
    <p class="fin fin-1">Ça y est tu viens d'en ramasser un. Mais en te relevant tu vois que l'œil de Soufflardent regarde exactement dans ta direction. Normalement ton sort empêche quiconque de te repérer. Mais la bête en face de toi n'est pas n'importe qui. Il cligne de l'œil d'un coup et projette un des artefacts qui était encore attaché à ses écailles en plein sur ta tête. Tu n'as pas le temps d'esquiver. En recevant l'objet, tu fais non seulement tomber le tien mais tu relâches ton sort et tout le monde te vois.</p>
    <p class="fin fin-1">- Ouch ! Comment ... m'a-t-il vu ? fais-tu simplement.</p>
    <p class="fin fin-1">Mais des griffes s'agrippent à toi par derrière pour te plaquer au sol. On te poses des liens puis on t'amènes ainsi saucissonné devant le grand dragon.</p>
    <p class="fin fin-2 fin-3 fin-4 fin-5 fin-6">Tu ne te laisses pas abattre et cours pour en chercher un autre proche de la créature légendaire encore à moitié endormie. Mais le troisième ennemi, l'humain, s'interpose entre toi et l'artefact de tes désirs.</p>
    <p class="fin fin-2 fin-3 fin-4 fin-5 fin-6">D'un sort de "main de flamme" tu essaies de le faire reculer, mais lui même lance le même sort et part tes coups. Tu réussis quand même à le faire tomber en arrière quand tu changes de tactique en lançant de ta main droite un sort de lumière particulièrement puissant. Eblouit, il te laisse le champs libre. C'est assez pour arriver jusqu'à l'artefact : mais en te relevant tu vois que l'œil de Soufflardent est sur toi. Et tu as beau tenter par tous les moyens de te retourner pour aller au combat, tu n'arrives plus à bouger le moindre orteil.</p>
    <p class="fin fin-2 fin-3 fin-4 fin-5 fin-6">Des griffes s'agrippent à toi par derrière pour te plaquer au sol. On te poses des liens puis on t'amènes ainsi saucissonné devant le grand dragon.</p>

    <p>- N'aie crainte petit humain. Je ne suis pas le monstre que tout le monde essaie de te faire croire, commence à te dire la géante créature. Je t'ai choisie, ainsi que ces 3 là pour recevoir mon pouvoir car je vais bientôt mourir.<br />
    - COMMENT ? s'écrie <span class='nao'>Nao</span><span class='rem'>Rem</span>. Vous ne pouvez pas mourir ! Le monde va se détruire sans vous. <br />
    - Héhé, du calme...du calme. Je suis resté trop longtemps endormi, trop longtemps sans manger. Mes forces physiques m'abandonnent. </p>

    <p><span class='nao'>Nao</span><span class='rem'>Rem</span>, l'humain et le petit dragon semblent tous les 3 très tristes.</p>

    <p>- Désolé de te décevoir mais je ne veux pas de ton pouvoir, lui fais-tu. Tu peux bien mourir ça m'est égal.<br />
    - Je sais bien. Mais je suis obliger de partager mon pouvoir en 4, ni plus ni moins et tu seras donc le quatrième. Car ton ennemi, ce n'est pas moi. Nous avons un ennemi commun, qui souhaite détruire le monde. Quelqu'un qui ne vient pas d'ici.</p>

    <p>A ces mots tu entends une profonde déflagration, et tu vois que quelqu'un a percé la bulle. Lasseni, Mac Lumy et <span class='fort-nom'></span> passe par le trou juste derrière Usaki.</p>

    <p>- Notre ennemi est là. Vous tous touchez juste mon corps pour récupérer mon pouvoir.</p>

    <p>Le petit dragon te porte d'un coup et te fait toucher le corps de Soufflardent.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="148">Continuer</div>
  </div>
</div>
