<div class="num num-1-2-142">

  <div class="text">
    <h1>- 142 -</h1>

    <p class="magie-vent">Dès que tu touches le grand dragon tu te retrouves ailleurs. Emporté<span class="sf">e</span> par une bourrasque, tu sembles au sommet d'une montagne. Au-dessus des nuages tu vois jusqu'à l'horizon. Le soleil a l'air de se lever. <br /><br />
    - <span class='tonnom'></span>, te dit Soufflardent qui apparait volant devant toi comme dans un rêve. Tu vas recevoir mes pouvoirs du vent. Tu seras la personne la plus puissante dans cette magie. Maintenant, c'est toi qui généreras la magie du vent du monde entier. Quand les vents souffleront quelque part c'est que tu l'auras choisi. Et quand les mages utiliseront un sort de vent c'est parce qu'ils auront pu récupérer un peu de ton énergie.<br />
    - Je suis devenu<span class="sf">e</span>... dieu ? demandes-tu.<br />
    - Non, tu es juste surpuissant<span class="sf">e</span>. À toi de voir ce que tu feras de ces pouvoirs. Mais je te fais confiance.</p>

    <p class="magie-vent">D'un coup tu sens dans tes veines comme l'essence même du vent. Tu as l'impression que ton sang se change en typhon, mais sans douleur. Tu te sens extrêmement bien. </p>

    <p class="magie-feu">Dès que tu touches le grand dragon tu te retrouves ailleurs. Emporté<span class="sf">e</span> dans une lumière intense tu sembles au milieu d'un désert, sous un soleil implacable. Mais la chaleur ne te brûle pas, elle est agréable. <br /><br />
    - <span class='tonnom'></span>, te dit Soufflardent qui apparait volant devant toi comme dans un rêve. Tu vas recevoir mes pouvoirs du feu. Tu seras la personne la plus puissante dans cette magie. Maintenant, c'est toi qui généreras la magie du feu du monde entier. Quand le soleil brillera quelque part c'est que tu l'auras choisi. Et quand les mages utiliseront un sort du feu c'est parce qu'ils auront pu récupérer un peu de ton énergie.<br />
    - Je suis devenu<span class="sf">e</span>... dieu ? demandes-tu.<br />
    - Non, tu es juste surpuissant<span class="sf">e</span>. À toi de voir ce que tu feras de ces pouvoirs. Mais je te fais confiance.</p>

    <p class="magie-feu">D'un coup tu sens dans tes veines comme l'essence même du feu. Tu as l'impression que ton sang te chauffe, mais sans douleur. Tu te sens extrêmement bien. </p>

    <p class="magie-eau">Dès que tu touches le grand dragon tu te retrouves ailleurs. Emporté<span class="sf">e</span> dans une lumière intense tu sembles au milieu de la mer, sur un petit bâteau. Aucune terre à l'horizon. <br /><br />
    - <span class='tonnom'></span>, te dit Soufflardent qui apparait volant devant toi comme dans un rêve. Tu vas recevoir mes pouvoirs de l'eau. Tu seras la personne la plus puissante dans cette magie. Maintenant, c'est toi qui généreras la magie de l'eau du monde entier. Quand la pluie tombera quelque part c'est que tu l'auras choisi. Et quand les mages utiliseront un sort de l'eau c'est parce qu'ils auront pu récupérer un peu de ton énergie.<br />
    - Je suis devenu<span class="sf">e</span>... dieu ? demandes-tu.<br />
    - Non, tu es juste surpuissant<span class="sf">e</span>. À toi de voir ce que tu feras de ces pouvoirs. Mais je te fais confiance.</p>

    <p class="magie-eau">D'un coup tu sens dans tes veines comme l'essence même de l'eau. Tu as l'impression que ton sang s'écoule comme un torrent de montagne, puissant et frais. Tu te sens extrêmement bien. </p>

    <p class="magie-terre">Dès que tu touches le grand dragon tu te retrouves ailleurs. Emporté<span class="sf">e</span> à travers la terre tu sembles au milieu d'une forêt, de grands arbres t'entourants.. <br /><br />
    - <span class='tonnom'></span>, te dit Soufflardent qui apparait volant au dessus de toi à travers les arbres comme dans un rêve. Tu vas recevoir mes pouvoirs de la terre. Tu seras la personne la plus puissante dans cette magie. Maintenant, c'est toi qui généreras la magie de la terre du monde entier. Quand la terre tremblera quelque part c'est que tu l'auras choisi. Et quand les mages utiliseront un sort de la terre c'est parce qu'ils auront pu récupérer un peu de ton énergie.<br />
    - Je suis devenu<span class="sf">e</span>... dieu ? demandes-tu.<br />
    - Non, tu es juste surpuissant<span class="sf">e</span>. À toi de voir ce que tu feras de ces pouvoirs. Mais je te fais confiance.</p>

    <p class="magie-terre">D'un coup tu sens dans tes veines comme l'essence même de la terre. Tu as l'impression que ton sang s'est épaissi, il semble même dur comme de la roche. Tu te sens extrêmement bien. </p>

    <p>- Qu'allez-vous devenir ? fais-tu au grand dragon.<br />
      - Une fois mes 4 pouvoirs donnés je ne serai plus. Mon corps disparaitra et tu devras te débrouiller. Je n'ai aucun ordre à te donner. Seulement un conseil, ou plutôt une précaution à te confier.<br />
      - Je vous écoute.<br />
      - La créature que vous appelez Usaki. Celle là est ton ennemi véritable. Il est venu de la lune pour détruire la terre. Ses pouvoirs sont extraordinaires et ses alliés sont les deux mages légendaires. Mais ils ont été manipulés. Nul doute toutefois qu'il essaiera de te tuer, toi et les 3 autres prophètes que j'ai créés.<br />
      - Prophètes…? Vous voulez parler de <span class='nao'>Nao</span><span class='rem'>Rem</span> et des deux autres ?<br />
      - C'est cela. Vous devrez faire attention, même avec vos nouveaux pouvoirs, cet Usaki est dangereux.</p>

    <p>Tu écoutes Soufflardent jusqu'au bout, sur la fin de son discours son image commence à s'effacer. Il tousse un peu puis te dit :<br />
      - <span class='tonnom'></span> je te fais confiance pour utiliser ces pouvoirs. J'aurais aimé avoir 4 prophètes comme toi. A présent je dois te dire adieu.</p>

    <p>La vision s'estompe en même temps que la vie quitte le grand dragon. Te voilà de retour dans la grotte avec tes 3 compères. Le corps de Soufflardent se change progressivement en tas de cendres et tu ne peux retenir une petite larme de couler. On t'a toujours enseigné la cruauté de cet être, mais finalement il fut endormi par les hommes jusqu'à ce qu'il meure à bout de forces.</p>

    <p>La bulle de protection n'est plus présente. Vous vous retrouvez seuls. Seuls avec quelques mages : Lasseni, Mac Lumy, <span class="fort-nom"></span> et … Usaki qui vient de les rejoindre.</p>

    <p>- USAKI ! fait Arak en grinçant des dents. Laissez le moi. C'est cette ordure qu'il faut tuer, c'est bien ça ?<br />
      - Du calme, lui dis-tu. Je pense qu'il vaut mieux qu'on sorte de là d'abord. On reviendra plus tard.<br />
      - Plus tard ? s'écrie-t-il. Nous sommes les 4 plus puissants mages du monde. Que peut-il faire contre nous ?.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="151">Continuer</div>
  </div>
</div>
