<div class="num num-1-2-143">

  <div class="text">
    <h1>- 143 -</h1>

    <p class="aveck2">Tu essaies de t'approcher du trou derrière Usaki mais tu es en sale état. Mac Lumy et <span class='fort-nom'></span> sont restés à terre derrière toi. Tu te baisses pour passer dans le trou qui est plus petit que toi, ce n'est pas facile surtout avec tes deux bras gelés.</p>
    <p class="pas-aveck2">Tu essaies de t'approcher du trou derrière Usaki mais tu es en sale état. Mac Lumy et <span class='fort-nom'></span> sont restés à terre derrière toi. Tu te baisses pour passer dans le trou qui est plus petit que toi, ce n'est pas facile surtout avec tes deux bras gelés.</p>

    <p>Et sitôt passé<span class='sf'>e</span> la bulle s'évapore.</p>

    <p>- Quoi ? Tout ça pour rien ? t'écries-tu.</p>

    <p>Plus loin, devant toi, Usaki est debout. Lasseni l'est aussi, elle n'est plus prisonnière. <span class='nao'>Nao</span><span class='rem'>Rem</span>, un autre humain et le petit dragon semblent eux aussi en état de se battre, ils ont d'ailleurs l'air très remontés. Par contre, Soufflardent a refermé ses yeux.</p>

    <p>- Vous avez réussi à le rendormir ? Bravo ! cries-tu.<br />
      - C'est un peu plus compliqué que ça ! te crie Usaki en retour.</p>

    <p>Tu ne comprends pas. Mais le grand dragon n'est pas endormi, le voilà qui commence à se transformer en cendres. Il est mort.</p>

    <p>- USAKI ! T'ES MON ENNEMI ! JE VAIS TE TUER ! fait le petit dragon en lui chargeant dessus.</p>

    <p>Usaki s'écarte le plus vite possible, évitant ainsi une attaque de feu gigantesque. Elle est tellement puissante qu'elle brise la roche en deux jusqu'à toi. Le sol émet des flammes aux endroits où elle s'est brisée et la chaleur est tellement intense que tes bras dégèlent sur-le-champ.</p>

    <p>Tu ne sais pas ce qu'il se passe mais Usaki est le seul visé. <span class='nao'>Nao</span><span class='rem'>Rem</span> reste à côté de Lasseni mais l'humain qui était avec eux a l'air de s'enfuir. Tu décides d'en profiter pour tirer Lasseni du guêpier.</p>

    <p>Tu files jusqu'à elle aussi vite que possible en essayant d'éviter les attaques de flammes du petit dragon puis tu t'interposes entre Lasseni et <span class='nao'>Nao</span><span class='rem'>Rem</span>. Ce dernier n'a pas l'air d'être très surpris ou n'a pas l'air de vouloir se battre :<br />
      - Inutile, je ne vais pas lui faire de mal. Elle a été choisie par Soufflardent. Elle est sa descendante maintenant.<br />
      - Qu'est-ce que tu racontes ? lui dis-tu. Je te préviens si tu cherches la bagarre je sais me défendre.<br />
      - Je crois que maintenant je te suis légèrement repassé devant. En fait j'ai toujours été devant toi, dit le jeune mage vantard. <br />
      - Je te préviens...<br />
      - Arrête, fait Lasseni en posant sa main sur ton épaule.</p>

    <p>Tu sens un froid immense dans la paume de ton amie. Ses yeux sont devenus d'un bleu intense alors qu'elle les avait marrons auparavant.</p>

    <p>- Lass'...qu'est-ce qui t'est arrivé ?<br />
    - Elle a reçu une partie de l'âme de Soufflardent, elle EST le grand dragon. Tout comme nous 3. Mince, Méonie est déjà partie ? fait-il en cherchant la troisième personne qui s'enfuyait tout à l'heure.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="144">Continuer</div>
  </div>
</div>
