<div class="num num-1-2-144">
  <!-- Lasseni est forcée de devenir un suppot de Soufflardent -->
  <div class="text">
    <h1>- 144 -</h1>

    <p>Le combat entre le petit dragon et Usaki est intense mais semble complètement à l'avantage du dragon. Usaki est obligé d'utiliser des sorts pour s'enfuir tout le temps.</p>

    <p>- Inutile de t'enfuir ! lui dit le dragon. Tes sorts de la lune ne te protégeront pas ! Maintenant je peux te voir tout le temps. HA HA HA !</p>

    <p>Retournant à tes problèmes tu continues de discuter avec <span class='nao'>Nao</span><span class='rem'>Rem</span> :<br />
      - Et qu'est-ce que vous allez faire de Lasseni ? dis-tu en regardant ton amie toujours sous le choc.<br />
      - Hein ? Rien. Lasseni fera ce qu'elle voudra. Je n'ai aucun ordre à lui donner. Je pense prendre quelques vacances pour penser à ce que je vais faire personnellement.<br />
      - Mais... tu es toujours le <span class='nao'>Nao</span><span class='rem'>Rem</span> de la tour d'Azano ?<br />
      - J'étais contrôlé par Soufflardent après avoir été dans le cocon. Mais maintenant, je suis juste moi. Tout comme Lasseni d'ailleurs. Maintenant excuse moi mais je dois aider mon ami deux secondes.</p>

    <p>Sur ces mots il disparait, tu te retournes vers le combat entre Usaki et le dragon immédiatement. Usaki a l'air en mauvaise position, il a reculé au fond de la grotte et ne pourra plus éviter d'autres attaques. Le dragon lui fonce dessus en crachant une boule de feu gigantesque. Mais l'œil d'Usaki brille de malice et un gigantesque portail magique vient s'ouvrir devant lui, avalant la boule de feu sans lui faire de dommages. Le dragon pris par son élan est à deux doigts de se faire avaler également. Mais <span class='nao'>Nao</span><span class='rem'>Rem</span> surgit de nulle part pour attraper le dragon au vol et écarter tout danger pour lui.</p>

    <p>- On t'avait dit qu'il était puissant. Tu as failli y rester ! reproche <span class='nao'>Nao</span><span class='rem'>Rem</span> au dragon.</p>

    <p>Il se retourne vers Usaki, lui fait un regard sombre puis te regarde et te fait un signe de la main comme un au revoir. Puis il disparait, laissant son ami dragon. Mais ce dernier, calmé par le sort d'Usaki qui aurait pu le tuer, s'envole dans la grotte faisant fondre la roche de ses flammes pour se trouver une sortie. Usaki le laisse partir, complètement épuisé.</p>

    <p class="aveck2">Mac Lumy et <span class='fort-nom'></span> arrivent peu après jusqu'à toi et Lasseni.</p>
    <p class="pas-aveck2">Mac Lumy arrive peu après jusqu'à toi et Lasseni.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="152">Epilogue - chapitre 2</div>
  </div>
</div>
