<div class="num num-1-2-145">

  <div class="text">
    <h1>- 145 -</h1>

    <p>Vous passez les uns derrières les autres à travers le trou dans la bulle, juste à temps pour voir les trois ennemis faire toucher Lasseni le grand dragon. Ces liens tombent immédiatement et une sorte d'onde de magie part de Soufflardent. Aussitôt la bulle s'évapore.</p>

    <p>- Quoi ? Tout ça pour rien ? s'écrie Mac Lumy.</p>

    <p>Plus loin, devant toi, Lasseni est debout. Elle n'est plus prisonnière. <span class='nao'>Nao</span><span class='rem'>Rem</span>, un autre humain et le petit dragon semblent très remontés. Par contre, Soufflardent a refermé ses yeux.</p>

    <p>- Vous avez réussi à le rendormir ? Bravo ! crie Mac Lumy.<br />
      - C'est un peu plus compliqué que ça, je crois. Quelque chose ne va pas. lui dis-tu.<br />
      - COURREZ ! vous crie Usaki derrière vous. FUYEZ ! IL EST TROP TARD !</p>

    <p>Tu ne comprends pas ce qu'il veut dire. Mais le grand dragon n'est pas endormi, le voilà qui commence à se transformer en cendres. Il est mort.</p>

    <p>- USAKI ! T'ES MON ENNEMI ! JE VAIS TE TUER ! fait le petit dragon en lui chargeant dessus.</p>

    <p>Usaki s'écarte le plus vite possible, évitant ainsi une attaque de feu gigantesque. Elle est tellement puissante qu'elle brise la roche en deux. Le sol émet des flammes aux endroits où elle s'est brisé et la chaleur est intense.</p>

    <p>Tu ne sais pas ce qu'il se passe mais Usaki est le seul visé. <span class='nao'>Nao</span><span class='rem'>Rem</span> reste à côté de Lasseni mais l'humain qui était avec eux a l'air de s'enfuir. Tu décides d'en profiter pour tirer Lasseni du guêpier.</p>

    <p>Tu files jusqu'à elle aussi vite que possible en essayant d'éviter les attaques de flammes du petit dragon puis tu t'interposes entre Lasseni et <span class='nao'>Nao</span><span class='rem'>Rem</span>. Ce dernier n'a pas l'air d'être très surpris ou n'a pas l'air de vouloir te faire du mal :<br />
      - Inutile, je ne vais pas lui faire de mal. Elle a été choisi par Soufflardent. Elle est sa descendante maintenant.<br />
      - Qu'est-ce que tu racontes ? lui dis-tu. Je te préviens si tu cherches la bagarre je sais me défendre.<br />
      - Je crois que maintenant je te suis légèrement repassé devant. En fait j'ai toujours été devant toi, dit le jeune mage vantard. <br />
      - Je te préviens...<br />
      - Arrête, fait Lasseni en posant sa main sur ton épaule.</p>

    <p>Tu sens un froid immense dans la paume de ton amie. Ses yeux sont devenus d'un bleu intense alors qu'elle les avait marrons.</p>

    <p>- Lass'...qu'est-ce qui t'es arrivé ?<br />
    - Elle a reçu une partie de l'âme de Soufflardent, elle EST le grand dragon. Tout comme nous 3. Mince, Méonie est déjà partie ? fait-il en cherchant la 3° personne qui s'enfuyait tout à l'heure.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="144">Continuer</div>
  </div>
</div>
