<div class="num num-1-2-146">

  <div class="text">
    <h1>- 146 -</h1>

    <p>Vous passez les uns derrière les autres à travers le trou dans la bulle, juste à temps pour voir les quatre ennemis toucher le museau du grand dragon. Immédiatement, une sorte d'onde de magie part de Soufflardent. Aussitôt la bulle s'évapore.</p>

    <p>- Quoi ? Tout ça pour rien ? s'écrie Mac Lumy.</p>

    <p>Les quatre ennemis se retournent vers vous. Ils semblent très remontés. Par contre, Soufflardent a refermé ses yeux.</p>

    <p>- Il s'est rendormi ? Bravo ! crie Mac Lumy.<br />
      - C'est un peu plus compliqué que ça, je crois. Quelque chose ne va pas. lui dis-tu.<br />
      - COURREZ ! vous crie Usaki derrière vous. FUYEZ ! IL EST TROP TARD !</p>

    <p>Le mage de la forteresse vient d'arriver juste derrière vous et il semble terrifié. Tu ne comprends pas ce qu'il veut dire. Mais le grand dragon n'est pas endormi, le voilà qui commence à se transformer en cendres. Il est mort.</p>

    <p>- USAKI ! T'ES MON ENNEMI ! JE VAIS TE TUER ! fait un des deux petits dragons en lui chargeant dessus.</p>

    <p>Usaki s'écarte le plus vite possible, évitant ainsi une attaque de feu gigantesque. Elle est tellement puissante qu'elle brise la roche en deux. Le sol émet des flammes aux endroits où elle s'est brisée et la chaleur est intense.</p>

    <p>Tu ne sais pas ce qu'il se passe mais Usaki est le seul visé. <span class='nao'>Nao</span><span class='rem'>Rem</span> reste à côté de l'autre dragon mais l'humain qui était avec eux a l'air de s'enfuir.</p>

    <p>- Il faut sortir <span class='nao'>Nao</span><span class='rem'>Rem</span> de là, fais-tu.<br />
      - Allons-y, enchaine Lasseni.</p>

    <p>Courrant tous les quatre vers <span class='nao'>Nao</span><span class='rem'>Rem</span> et le dragon, vous esquivez des attaques de flammes partant dans tous les sens mais qui ne vous sont pas destinées. Usaki évite de justesse toutes les attaques, le petit dragon semble beaucoup plus puissant que ce que tu aurais cru.</p>

    <p>Et au bout de quelques secondes vous vous retrouvez tous les 4 autour de <span class='nao'>Nao</span><span class='rem'>Rem</span> comme pour le protéger de l'autre dragon qui se trouve encore à ses côtés.</p>

    <p>- Haha, rigole-t-il. Inutile, maintenant tout est terminé. On ne vous veut pas de mal dit <span class='nao'>Nao</span><span class='rem'>Rem</span>.<br />
      - Même si c'est de votre faute si Soufflardent est mort, souffle le dragon avec reproches.<br />
      - Non, tu te trompes, lui dit <span class='nao'>Nao</span><span class='rem'>Rem</span>. Ils n'ont rien à voir avec la forteresse de la lune...Enfin sauf <span class='fort-nom'></span> en fait.<br />
      - Je ne comprends rien ! Qu'est-ce qu'il se passe ? demande Lasseni.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="147">Continuer</div>
  </div>
</div>
