<div class="num num-1-2-149">

  <div class="text">
    <h1>- 149 -</h1>

    <p>- Qu'est ce qui s'est passé ? demandes-tu à <span class='nao'>Nao</span><span class='rem'>Rem</span>. Votre but n'était pas de réveiller Soufflardent?<br />
    - Bien sûr que si. Mais tu l'as bien vu : ces années de sommeil l'ont tellement usé qu'il en est mort. Maintenant, nous sommes lui.<br />
    - Je me sens changé<span class='sf'>e</span>, mais je suis moi. lui dis-tu un peu affolé<span class='sf'>e</span>.<br />
    - Chacun de nous 4, sommes un peu nous et un peu lui.</p>

    <p>Lasseni, Mac Lumy et <span class='fort-nom'></span> arrivent juste à ce moment là pour s'interposer entre toi et <span class='nao'>Nao</span><span class='rem'>Rem</span>.</p>

    <p>- Ça va <span class='tonnom'></span> ? te demande Lasseni en se montrant menaçant envers <span class='nao'>Nao</span><span class='rem'>Rem</span>.<br />
      - Inutile, fait de suite le mage. Je ne lui veux aucun mal, ni à elle ni à aucun d'entre vous d'ailleurs.<br />
      - Qu'est-ce que tu racontes ? lui dit Mac Lumy. Je te préviens si tu cherches la bagarre je sais me défendre.<br />
      - Je crois que maintenant je te suis légèrement repassé devant. En fait j'ai toujours été devant toi, dit le jeune mage vantard. <br />
      - Je te préviens...<br />
      - Arrête, fais-tu en posant sa main sur son épaule.</p>

    <p>Mac Lumy se retourne vers toi et semble appeuré. Il a l'air de te voir comme si tu étais devenu différent<span class='sf'>e</span>.</p>

    <p>- <span class='tonnom'></span>...qu'est-ce qui t'est arrivé ?<br />
    - <span class="sf">Elle</span><span class="sg">Il</span> a reçu une partie de l'âme de Soufflardent, <span class="sf">elle</span><span class="sg">il</span> EST le grand dragon. Tout comme nous 3. Mince, Meonie est déjà partie ? fait-il en cherchant l'autre humain qui était avec vous tout à l'heure.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="150">Continuer</div>
  </div>
</div>
