<div class="num num-1-2-15">

  <div class="text">
    <h1>- 15 -</h1>

    <p>Pendant que les mages de la tour vous donnent des habits plus confortables pour marcher dans les marais tu en profites pour discuter avec Rem.</p>

    <p>- Il paraît que tu es plutôt doué en magie, commences-tu.<br />
    - Je ne sais pas. Je sais juste que maitre Fandrean est beaucoup plus puissant que moi.<br />
    - C'est vrai qu'on peut voir des dragons dans les marais ?<br />
    - Si tu as peur, je sais les gérer.<br />
    <span class="av-courageux">- Moi peur ? Tu rigoles, j'en ai déjà vu d'autres tu sais.</span><span class="def-peureux">- J'avoue, ça me rassure un peu.</span>
    <span class="def-pas-peureux av-pas-courageux">- C'est un peu arrogant de dire ça, non ?<br />
    - Quand tu es puissant, les gens prennent l'honnêteté pour de l'arrogance.</span></p>

      <p>Tu étais sur le point de lui poser une autre question quand une main se pose sur ton épaule.</p>

      <p>- Dépêche-toi de t'habiller on part juste après, te dit Lasseni.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="22">S'habiller et partir</div>
  </div>

</div>
