<div class="num num-1-2-151">
  <!-- Tu a voulu devenir un suppot de Soufflardent -->
  <div class="text">
    <h1>- 151 -</h1>

    <p class="magie-pas-feu">Arak file droit sur Usaki, laissant Lasseni et les autres sains et saufs. Il déploie une énorme magie du feu.</p>
    <p class="magie-feu">Arak file droit sur Usaki, laissant Lasseni et les autres sains et saufs. Il déploie une énorme magie de glace.</p>

    <p>- Inutile de t'enfuir ! dit le dragon à Usaki. Tes sorts de la lune ne te protégeront pas ! Maintenant je peux te voir tout le temps. HA HA HA !</p>

    <p>Lasseni, Mac Lumy et <span class='fort-nom'></span> arrivent juste à ce moment là pour se poser devant toi.</p>

    <p>- Qu'est-ce qu'il s'est passé ? Dites-nous ! vous interroge Lasseni.<br />
      - Désolé<span class='sf'>e</span>. Il n'y a rien à expliquer, Soufflardent est mort à cause des mages de la forteresse de la lune.<br />
      - Mais il tuait tout le monde dans la région, intervient <span class='fort-nom'></span>. Il fallait que Ymir et Zaïra fassent quelque chose !<br />
      - C'est aussi grâce à lui que tu as de l'air à respirer et de l'eau à boire, explique <span class='nao'>Nao</span><span class='rem'>Rem</span>.</p>

    <p>Vous n'arrivez vraiment pas à vous entendre. Vos arguments ne touchent pas Lasseni et son groupe. Toi même tu n'arrives plus à comprendre pourquoi les mages sont allés aussi loin avec Soufflardent.</p>

    <p>- Ok vous allez nous suivre, vous dit Lasseni. Ymir, Zaïra et mon frère verront ce qu'ils feront de vous.<br />
      - Lass'... lui dis-tu. Laisse nous.<br />
      - Vous allez faire quoi si on vous laisse ? demande Mac Lumy.<br />
      - Je vais probablement me poser un moment et réfléchir à ce que je pourrai faire plus tard, dit <span class='nao'>Nao</span><span class='rem'>Rem</span>.<br />
      - Ce n'est absolument pas suffisant ! se plaint Lasseni. Désolé de vous le dire mais vous êtes nos prisonniers.</p>

    <p><span class='nao'>Nao</span><span class='rem'>Rem</span> disparait en un instant et tu arrives à le retrouver en train d'aider Arak qui allait encaisser un sort de la lune d'Usaki qui aurait pu sérieusement le blesser. Il regarde vers toi, te fait un petit signe d'au revoir de la main puis disparait laissant Arak sur place après l'avoir sauvé. Ce dernier décide à son tour de partir quand il voit que Meonie est également partie quand tu avais le dos tourné.</p>

    <p>- <span class="tonnom"></span>, tu dois rester avec nous, te supplie Mac Lumy.</p>

    <p class="magie-vent">Mais tu sens que rester ici, pour le moment, ne ferait qu'aggraver la situation. Tu décides une sortie rapide. Avec ta magie du vent, c'est chose aisée. Rien qu'en courant tu as l'impression que les gens autour de toi vivent au ralenti. Tu refais tout le chemin jusqu'à la forteresse en une fraction de seconde. Tu sors de la forteresse en un clignement, et tu te retrouves au village détruit d'Azano en moins de 30 secondes.</p>
    <p class="magie-eau">Mais tu sens que rester ici, pour le moment, ne ferait qu'aggraver la situation. Tu te concentres un peu et te transformes en flaque d'eau, tu passes au travers de la roche, passe à côté de la lave du volcan puis ressort à l'extérieur de la montagne.</p>
    <p class="magie-feu">Mais tu sens que rester ici, pour le moment, ne ferait qu'aggraver la situation. Tu te concentres un peu et plaques tes mains au sol. Le sol se liquéfie sous la chaleur de tes mains et tu te retrouves dans la lave du volcan. Tu n'es aucunement blessé<span class="sf">e</span>. Tu ne fais qu'un avec la lave et d'une simple concentration tu créées une éruption qui te fais sortir de la montagne.</p>
    <p class="magie-terre">Mais tu sens que rester ici, pour le moment, ne ferait qu'aggraver la situation. Tu te concentres un peu et fusionnes avec la roche. C'est comme si la roche était de l'eau. Tu laisses tes anciens amis pendant que tu traverses "à la nage" la montagne.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="155">Epilogue - chapitre 2</div>
  </div>
</div>
