<div class="num num-1-2-154">
  <!-- Tu es forcé de devenir un suppot de Soufflardent -->
  <div class="text">
    <h1>- Epilogue - fin numéro 3 -</h1>

    <p>Une fois Soufflardent réduit en poussière il paraît que tout le monde redevint comme avant. Enfin tout le monde sauf toi. Fandrean et les villageois qui avaient été dans les cocons avaient attaqué la forteresse et en redevenant normal n'avaient plus aucun souvenir de ce qu'ils avaient fait.</p>

    <p class="impcapture">Imp, le prêtre capturé de Soufflardent, s'est transformé en cendres à la mort de son maître.</p>

    <p>Ymir et Zaïra ne purent que constater la mort de Soufflardent. Quand vous leur expliquèrent que 4 personnes avaient probablement récupéré les pouvoirs de Soufflardent ils se sentirent un peu soulagés. Même si seul<span class='sf'>e</span> toi était questionnable.</p>

    <p>Tu fus d'abord un peu sous le choc, puis tu expliquas que tu avais reçu des pouvoirs de Soufflardent. Te fit quelques démonstrations de tes pouvoirs qui démontra aux plus suspicieux que tu étais devenu<span class='sf'>e</span> d'une puissance inimaginable.</p>

    <p>Tout le monde fut heureux d'apprendre la fin du grand dragon et seuls les mages les plus puissants de la forteresse furent mis au courant de tes pouvoirs. </p>

    <p>Ymir et Zaïra décidèrent de partir à la recherche des 3 autres "prophètes" comme tu les appelais. La forteresse devint le nouveau refuge des villageois d'Azano. Sans la présence de Soufflardent, les montagnes devinrent beaucoup plus tranquilles, les dragons partirent.</p>

    <p>Toutes les mauvaises choses que les gens firent sous le contrôle de Soufflardent furent pardonnées, mais Fandrean s'en voulait beaucoup. Même un mage aussi puissant que lui n'avait pu contrecarrer les plans du grand dragon.</p>

    <p>Usaki ne sortit jamais de la grotte. Il disparut sans laisser de trace. Tu expliquas que Soufflardent t'avais dit qu'il était le réel ennemi, qu'il était venu de la lune pour détruire la terre.</p>

    <p class="fin fin-2 fin-3 fin-4 fin-5 fin-6">Ymir et Zaïra se méfièrent de tes paroles et te déconseillèrent de retourner à l'académie. Cependant c'est bien là-bas que vous décidiez de retourner. Fandrean, Lasseni, Mac Lumy, <span class="fort-nom"></span> et toi. C'est là-bas que tu découvriras les dernières informations qui te manquent pour comprendre cette histoire en entier.</p>
    <p class="fin fin-1">Ymir et Zaïra se méfièrent de tes paroles et te déconseillèrent de retourner à l'académie. Cependant c'est bien là-bas que vous décidiez de retourner. Fandrean, Lasseni, Mac Lumy et toi. C'est là-bas que tu découvriras les dernières informations qui te manquent pour comprendre cette histoire en entier.</p>

  </div>

  <div class="choix">
    <div class="ch finchapitre" data-go="152">Fin du chapitre 2</div>
  </div>
</div>

  <div class="messagefin">
    <p class="t1">Chapitre fini !</p>
    <p class="t2">Prochain chapitre :</p>
    <p class="t3">Chap.3 - La bataille de la lune</p>
    <p class="t4">Prochainement disponible</p>
  </div>
  <audio id="myAudio">
    <source src="media/chapter2_fin.mp3" type="audio/mpeg">
  </audio>
