<div class="num num-1-2-155">
  <!-- Tu a voulu devenir un suppot de Soufflardent -->
  <div class="text">
    <h1>- Epilogue - fin numéro 4 -</h1>

    <p>Tu ne sus jamais ce qu'il advint de tout le monde. Fandrean et les villageois ont-ils retrouvé leurs esprits ? Que sont devenus tes amis après les avoir laissés dans la grotte ?</p>

    <p>La seule chose dont tu te souvins c'est de l'avertissement de Soufflardent : Usaki serait un être malfaisant venu de la lune pour détruire la terre. Faut-il vraiment croire tout ce que le grand dragon t'a dit ? Faudrait-il que tu retrouves les 3 autres prophètes ?</p>

    <p>Tu es enveloppé<span class="sf">e</span> par une multitude de questions. Et pour le moment tout ce que tu sais c'est que tu as le pouvoir de changer le monde mais tu ne sais pas dans quel sens tu veux faire pencher la balance.</p>

    <p>Pour commencer tu décides de partir à la recherche de la civilisation, une ville où tu pourras te reposer et réfléchir. Mais pas l'Académie. Un endroit plus calme, et sûr. Où tu ne connaitras personne.</p>


  </div>

  <div class="choix">
    <div class="ch finchapitre" data-go="155">Epilogue - chapitre 2</div>
  </div>
</div>

  <div class="messagefin">
    <p class="t1">Chapitre fini !</p>
    <p class="t2">Prochain chapitre :</p>
    <p class="t3">Chap.3 - La bataille de la lune</p>
    <p class="t4">Prochainement disponible</p>
  </div>
  <audio id="myAudio">
    <source src="media/chapter2_fin.mp3" type="audio/mpeg">
  </audio>
