<div class="num num-1-2-16">

  <div class="text">
    <h1>- 16 -</h1>

    <p>Un jour Heldegarde et Fandrean t'appellent. Cela fait maintenant un moment que tu étudies avec eux et tu peux dire que tu as énormément progressé. Tu connais les marais de mieux en mieux et même les dragons ne te font plus peur - mais tu les évites au maximum car tu ne peux que t'enfuir face à eux.</p>

    <p>- <span class="tonnom"></span>, ta maitrise de la magie est maintenant assez bonne pour que Fandrean ait pensé à t'envoyer en mission officielle, te dit Heldegarde.<br />
      - Je fais déjà des missions pour la tour de magie régulièrement, réponds-tu.<br />
      - Je sais, mais cette fois il s'agit d'une mission conjointe avec l'académie. C'est totalement officiel.</p>

    <p>Tu es surpri<span class="sf">se</span><span class="sg">s</span>. Tu ne t'attendais même plus à retravailler un jour avec l'académie. La vie à la tour d'Azano a l'air d'être si loin de l'effervescence de l'école de magie.</p>

    <p>- L'académie envoie des mages pour travailler avec moi ? demandes-tu.<br />
      - Oui une équipe de trois jeunes mages, il paraît que ce sont les 3 meilleurs de leur génération.<br />
      - Vous...avez des noms ? demandes-tu avec un peu d'excitation, espérant entendre des noms de personnes connues.<br />
      - Il y a Lasseni, te répond Fandrean, mais pour les autres j'avoue que nous ne savons pas.</p>

    <p>Tu es content<span class="sf">e</span> ce sera l'occasion de remercier Lasseni de t'avoir parlé de la tour. Même si tu n'avais jamais vraiment été exclu<span class="sf">e</span> de l'académie, tu te sens de nouveau dans le groupe et ça te fait presque pleurer de joie.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="17">Attendre les 3 mages de l'académie</div>
  </div>

</div>
