<div class="num num-1-2-17">

  <div class="text">
    <h1>- 17 -</h1>

    <p>Tu es avec Fandrean en train de relancer un sort sur ton tatouage pour encore améliorer la protection, quand tu entends du bruit au rez-de-chaussée. Marty, un des mages de la tour vous dit que des gens de l'académie sont arrivés.</p>

    <p>Sitôt ta protection finie tu descends les marches de l'escalier 4 à 4. En arrivant en bas tu vois Lasseni, Mac Lumy et un autre mage que tu ne connais pas. Ils ont pas mal changé en 2 ans mais tu les reconnais au premier coup d'oeil. Ça a l'air d'être une surprise pour Mac Lumy qui explose de joie.</p>

    <p>- <span class="tonnom"></span> ! Ça pour une surprise ! exulte-t-il.<br />
      - Ha ha ! On t'avait pas dit que j'allais faire cette mission avec vous ?<br />
      - C'est toi qui… ! Mais alors tu as retrouvé ta magie ? C'est génial, dit-il en se retournant vers Lasseni.<br />
      - Oui, désolé de t'avoir rien dit Mac Lumy. J'étais la seule au courant, explique Lasseni.</p>

    <p>Tu échanges un regard avec Lasseni et tu la prends dans tes bras. Elle devient toute rouge, elle n'a pas l'habitude que quelqu'un lui montre de l'affection.</p>

    <p>- Heu...oui. Pas besoin de me remercier. C'est surtout mon frère qui t'a aidé à retrouver tes pouvoirs il paraît.</p>

    <p>Fandrean explique comment il a annulé la malédiction sans pour autant l'annuler complètement. Le troisième mage que tu ne connais pas se nomme Nao. Il est arrivé juste après ton départ de l'académie. Il avait déjà étudié avec un maître mage à Condorra. Mais il était tellement doué que ses parents décidèrent de l'envoyer à l'académie.</p>

    <p>Fandrean vous réexplique la mission autour de la table à manger de la tour. Tout le monde écoute même les mages qui ne viendront pas avec vous en mission. Heldegarde amène à manger pour vous restaurer en même temps.</p>

    <p>Tu en as entendu parler : des gens du village disparaissent la nuit dans les marais. Même la magie de "Vision de rêve", qui est normalement infaillible, ne permet pas de les retrouver. </p>

    <p>- Les gens du village disparaissent la nuit uniquement. Ils vont tranquillement se promener dans le marais en pleine nuit et ne reviennent jamais. Mais on ne retrouve jamais les corps non plus.<br />
      - Donc ils sont peut-être encore vivants, expliques-tu.<br />
      - Oui mais aucun habitant du village d'Azano n'est assez fou pour partir dans les marais en pleine nuit, poursuit Fandrean.<br />
      - Personne n'a rien vu ? Personne ne les a suivis ? demande Lasseni.<br />
      - C'est ça le plus dingue : personne n'a jamais pu en voir un seul partir vers les marais. C'est avec nos sorts de magie qu'on a pu les localiser là-bas. Mais quand on va à l'endroit que nous indique notre sort : il n'y a personne.</p>

    <p>Ce qui veut dire que la seule explication possible...</p>

    <p>- Il y a certainement de la magie là-dessous, dit Lasseni.<br />
      - Oui, c'est aussi ce que je pense. Soit les gens ont été enlevés magiquement, soit il y a quelque chose qui les cache magiquement. Dans les 2 cas c'est quelque chose que je n'ai jamais vu, dit Fandrean.<br />
      - Très bien on va enquêter.</p>

      <p>les 3 jeunes mages de l'académie sont habillés de jolies robes et de belles capes finement brodées. Ce qui ne convient pas du tout à un voyage dans les marais, vous leur fournissez donc des pantalons et bottes pour la mission.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="22">Les laisser s'habiller et partir</div>
  </div>

</div>
