<div class="num num-1-2-18">

  <div class="text">
    <h1>- 18 -</h1>

    <p>Ton séjour à la forteresse de la lune est rempli de surprises chaque jour. Tu apprends que Miguel s'appelle en réalité Usaki. C'est un noctule qui vient directement de la lune. C'est pour ça que sa maîtrise de la magie de la lune est si puissante.</p>

    <p>De ce que Zaïra a pu te dire les noctules vivent sur la lune. Usaki est un messager du peuple noctule venu sur terre. Il est le seul de son espèce à être descendu. Toutes les connaissances que Ymir et Zaïra ont pu répertorier sur la magie de la lune proviennent de Usaki.</p>

    <p class="aveck">Avec <span class="aveck-nom"></span> vous avez commencé à étudier la magie de la lune et très vite vous réussîtes à apprendre un nouveau sort : "Cape de la nuit" qui vous permet de vous cacher dans les ombres. À l'abri de tous les regards. Même la magie "Vision de rêve" ne peut vous trouver avec précision.</p>

    <p class="pas-aveck">Tu commença à étudier la magie de la lune et très vite tu réussis à apprendre un nouveau sort : "Cape de la nuit" qui te permet de te cacher dans les ombres. À l'abri de tous les regards. Même la magie "Vision de rêve" ne peut te trouver avec précision.</p>

    <p>Mais bien sûr à la forteresse de la lune connaître la totalité des sorts de base est une obligation. Ce fut chose facile pour <span class="aveck">vous</span><span class="pas-aveck">toi</span>.</p>

    <p>Après quelques mois, Usaki parti en mission. Il fait partie de cette armée à la forteresse mais est très autonome. Il n'obéit qu'à lui même, Ymir et Zaïra ne sont pas ses supérieurs. Usaki pensait qu'il était trop dur de retourner à l'académie sous forme de chèvre, il se demandait s'il ne s'était pas fait repérer par des mages de l'académie. C'est pourquoi cette fois-ci il partit s'installer dans les marais proches des monts noirs. Son but était de trouver le lieu de rassemblement des fidèles de Soufflardent.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="19">Continuer ton enseignement à la forteresse.</div>
  </div>

</div>
