<div class="num num-1-2-19">

  <div class="text">
    <h1>- 19 -</h1>

    <p>Mais l'information qui te surprit le plus c'est d'apprendre pourquoi l'académie vous apprenait que Ymir et Zaïra étaient morts.</p>

    <p>Il semble, en fait, que les 4 mages supérieurs - Soyos, Mullihane, Andealor et Pasha - sont parfaitement au courant que Ymir et Zaïra ont survécu à leur combat contre Soufflardent il y a de cela 150 ans.</p>

    <p>L'histoire, la vraie, Zaïra te l'a raconté :</p>

    <p>Il n'y eut pas de combat titanesque contre Soufflardent. Le dragon d'Onyx était beaucoup trop puissant. Quand Ymir et Zaïra arrivèrent dans les monts noirs, ils ne purent que constater l'écart de puissance qu'il y avait entre eux et la bête. Soufflardent était capable de réduire en poussière une montagne d'un souffle noir comme ses écailles.</p>

    <p>Pendant des jours ils préparèrent des artefacts magiques. Et ils décidèrent de profiter du sommeil du monstre pour agir. Sur chacune des milliers d'écailles de Soufflardent ils collèrent un de leurs artefacts. Puis en lançant une dernière incantation à deux ils réussirent à coincer le dragon dans ses propres rêves.</p>

    <p>Quand ce fut chose faite, les deux mages légendaires avertirent l'académie que le dragon ne posait plus de problème. Mais les 4 mages supérieurs de l'époque se déplacèrent quand même sur place, dans les monts noirs, pour vérifier tout ça.</p>

    <p>Et ils s'aperçurent que malgré la magie de Zaïra et Ymir, le dragon arrivait à affaiblir les artefacts chaque jour un peu plus. Tôt ou tard il finirait par sortir de son sommeil.</p>

    <p>Ymir et Zaïra proposèrent de rester sur place pour relancer des sorts quotidiennement et de former des mages pour faire de même en attendant une meilleure solution. Les 4 mages supérieurs pensaient que Soufflardent réussirait à un moment à s'habituer aux sorts et à se réveiller quand même. Ils proposèrent de profiter du sommeil du monstre pour l'achever : une bombe magique mise dans sa bouche réussirait probablement à finir le travail.</p>

    <p>Mais pour Ymir, le dragon était si puissant que la bombe n'aurait pu que le réveiller sans le tuer.</p>

    <p>Ne l'écoutant pas, les 4 mages supérieurs demandèrent à Fygtyr le mage supérieur du feu de déposer son plus puissant artefact explosif dans la gueule endormie de Soufflardent. L'explosion sembla prendre au début mais tout de suite après seule une fine fumée noire sortie des narines du dragon...juste avant qu'il ne rouvre les yeux.</p>

    <p>Pendant que Zaïra relançait des sorts pour endormir la bête, Ymir essayait de l'attirer vers lui. Mais Soufflardent était énervé et il n'avait d'yeux que pour Fygtyr. Le mage du feu disparut en une seconde, transformé en poussière par le souffle noir du dragon. Allassinda, la mage supérieure du vent, proche de son collègue perdit sa main en même temps.</p>

    <p>Soyos et Pasha déjà présents à cette époque ne tardèrent pas à s'enfuir. Et alors que la bataille semblait perdue d'avance, un noctule se posa délicatement sur le museau du dragon. Il lança une incantation qui répara tous les artefacts de Zaïra et Soufflardent reparti dans ses rêves.</p>

    <p>Allassinda mourut des suites de ses blessures. Usaki resta un mystère pour tout le monde à l'exception d'Ymir et Zaïra. C'est comme ça qu'ils commencèrent leur aventure avec lui.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="20">Connaitre la suite de la légende</div>
  </div>

</div>
