<div class="num num-1-2-20">

  <div class="text">
    <h1>- 20 -</h1>

    <p>Les deux mages légendaires étaient obligés de rester sur place pour relancer des sorts en permanence. Ils restèrent sur place jusqu'à ce qu'un mage de l'académie revienne. Il était envoyé par Soyos et Pasha qui pensaient que Soufflardent avait tué tout le monde mais qui se demandaient aussi pourquoi le dragon n'était pas reparti faire des ravages.</p>

    <p>Sans que Zaïra sache pourquoi, le mage tenta de les attaquer. Ymir pense qu'il en avait reçu l'ordre de la part de Soyos. En effet, si jamais les deux mages légendaires revenaient vivants ils auraient pu révéler que les mages supérieurs avaient réveillé le dragon puis s'étaient enfuis.</p>

    <p>Le mage envoyé par l'académie fut relâché par Ymir et plus jamais l'académie ne renvoya quelqu'un dans les monts noirs. À la place ils dirent partout que Ymir et Zaïra furent tués en endormant Soufflardent pour l'éternité.</p>

    <p>Forcées de rester sur place, les deux légendes ne survécurent que grâce à l'aide d'Usaki. Il leur amenait à manger et ramena également plusieurs mages de la tour d'Azano. Ces derniers devinrent les premiers disciples d'Ymir et Zaïra. Ensemble ils construisirent la forteresse de la lune dont le but à toujours été de trouver un moyen d'endormir le dragon en attendant de trouver une meilleure solution.</p>

    <p>L'académie, elle, envoya des mages à la tour d'Azano pour prévenir que des mages renégats se faisant passer pour Ymir et Zaïra tentaient de renverser le pouvoir en place. Ceux qui crurent en Ymir et Zaïra les rejoignirent, ceux qui crurent l'académie les considérèrent comme des bandits, les obligeant à vivre dans la forteresse pendant maintenant 150 ans.</p>

    <p class="middle">*</p>

    <p>Tu as mis longtemps avant d'accepter l'idée que les mages supérieurs de l'académie étaient des menteurs et des lâches, qu'ils avaient abandonné tes idôles également.</p>

    <p>Même si tu t'es posé la question de savoir si ces personnes étaient vraiment Ymir et Zaïra, aujourd'hui tu ne te poses plus la question. Tu es sûr<span class="sf">e</span> de toi.</p>

    <p>Et Terrence au fait ? Ymir vous a dit que les sbires de Soufflardent voulaient l'utiliser pour annuler la magie de sommeil utilisée sur le dragon et ainsi le réveiller. Depuis Terrence est devenu un membre de la forteresse de la lune également. Mais il a interdiction de s'approcher de Soufflardent.</p>

    <p>Et ce matin là, Ymir te fait appeler pour te donner une mission. Ça sera la première mission qu'il te donne en personne !</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="21">Se présenter à Ymir pour la mission</div>
  </div>

</div>
