<div class="num num-1-2-21">

  <div class="text">
    <h1>- 21 -</h1>

    <p class="aveck"><span class="aveck-nom"></span> est là également. Comme vous vous connaissez Ymir souhaite vous faire travailler ensemble. Ça te fait plaisir, tu as l'impression de garder cet esprit de camaraderie qu'il y avait du temps de l'académie et que tu aimais bien.</p>

    <p class="aveck">- Ça va faire maintenant 2 ans que vous êtes là et vous connaissez beaucoup de sorts. Le moment est venu de vous envoyer en mission en dehors de la forteresse, débute Ymir.</p>

    <p class="pas-aveck">- Ça va faire maintenant 2 ans que tu es là et tu connais beaucoup de sorts. Le moment est venu de t'envoyer en mission en dehors de la forteresse, débute Ymir.</p>

    <p>C'est vrai que jusqu'à maintenant vous restiez beaucoup aux alentours de la forteresse. Il faut dire qu'en allant pas très loin tu avais déjà pu voir de grands dragons rouges et même de terribles Mirillon des montagnes.</p>

    <p class="aveck">- Vous savez que Usaki est parti en mission il y a un moment déjà pour tenter de trouver la base secrète des adorateurs de Soufflardent. Eh bien il se trouve que depuis une dizaine de jours nous n'avons plus de nouvelle de lui alors qu'il envoyait son rapport quotidiennement.<br />
    - Nous devons aller voir ce qu'il lui est arrivé ? demandes-tu.<br />
    - Exactement. Il s'était installé pas très loin de la tour d'Azano. Tout près des marais. Vous irez là-bas voir ce qu'il en est mais faites bien attention. Au moindre danger de toute façon n'hésitez pas à lancer la "cape de la nuit".</p>

    <p class="pas-aveck">- Tu sais que Usaki est parti en mission il y a un moment déjà pour tenter de trouver la base secrète des adorateurs de Soufflardent. Et bien il se trouve que depuis une dizaine de jours nous n'avons plus de nouvelle de lui alors qu'il envoyait son rapport quotidiennement.<br />
    - Je dois aller voir ce qu'il lui est arrivé ? demandes-tu.<br />
    - Exactement. Il s'était installé pas très loin de la tour d'Azano. Tout près des marais. Tu iras là-bas voir ce qu'il en est mais fais bien attention. Au moindre danger de toute façon n'hésite pas à lancer la "cape de la nuit".</p>

    <p>Sur ces mots il <span class="aveck">vous</span><span class="pas-aveck">te</span> souhaite bonne chance et <span class="aveck">vous partez</span><span class="pas-aveck">tu pars</span> de la forteresse.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="25">Partir de la forteresse</div>
  </div>

</div>
