<div class="num num-1-2-22">

  <div class="text">
    <h1>- 22 -</h1>

    <p class="rem">Rem vous explique que les marais sont dangereux surtout la nuit. Mais qu'en journée les mages n'ont pas de problème particulier. En tout cas des mages de votre niveau n'ont pas de problème.
    </p>

    <p class="nao">Tu expliques au groupe que les marais sont dangereux surtout la nuit. Mais qu'en journée les mages n'ont pas de problème particulier. En tout cas des mages de votre niveau n'ont pas de problème.
    </p>

    <p class="rem">- Fandrean m'a déjà emmené une fois à l'endroit que le sort "Vision de rêve" nous indique. Vous voulez que je vous y emmène ?<br />
      - On a une autre piste de toute façon ? demandes-tu.<br />
      - Sinon ben je peux vous amener chez la dernière personne disparue. Il a disparu il y a deux semaines et lui c'était un mage. Un peu bizarre, il vivait tout seul près des marais.</p>

    <p class="nao">- La dernière personne disparue était différente des autres. C'était un mage un peu bizarre qui est arrivé à la tour il y a un an et demi. Il s'était installé près des marais. Il a disparu il y a deux semaines, racontes-tu.<br />
      - On a une autre piste de toute façon ? demande Mac Lumy.<br />
      - Fandrean m'a déjà emmené une fois à l'endroit que le sort "Vision de rêve" nous indique. Vous voulez que je vous y emmène sinon ?</p>

    <p>Lasseni réfléchit un peu mais n'a pas de préférence.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="23">Suivre le sort de "Vision de rêve" dans les marais</div>
    <div class="ch" data-go="24">Aller voir la maison de ce mage disparu</div>
  </div>

</div>
