<div class="num num-1-2-23">

  <div class="text">
    <h1>- 23 -</h1>

    <p>Dès que vous arrivez aux marais et mettez les pieds dans la boue, Lasseni s'énerve :<br />
    - Ah ! Ça ne me manquait vraiment pas ces marais.<br />
    <span class="nao">- C'est sûr ça change de l'académie, lui répond Nao.</span>
    <span class="rem">- C'est à cause de ça que t'es toujours de mauvaise humeur ? lui dis-tu ironique. Mais Lasseni ne retient pas la pique et continue de marcher.</span>
    </p>

    <p class="rem">Guidés par Rem sur une sorte de chemin dans les marais, vous lancez tous un sort de "main de feu" par précaution comme demandé par Lasseni. À plusieurs moments tu vois des bestioles à tes pieds ou en train de patauger dans les marais. Rem s'amuse un peu de tous vous voir prendre peur en voyant des Héréons. Et après une bonne marche Rem vous précise que c'est l'endroit que "Vision de rêve" indique.</p>

    <p class="nao">Tu guides tout le monde sur une sorte de chemin dans les marais. Vous lancez tous un sort de "main de feu" par précaution comme demandé par Lasseni. À plusieurs moments vous voyez des bestioles à vos pieds ou en train de patauger dans les marais. Tu les rassures tous également que tu les vois prendre peur en apercevant des Héréons. Et après une bonne marche tu leur précises que c'est l'endroit que "Vision de rêve" indique.</p>

    <p>- Effectivement, dit Lasseni en lançant un sort de "Vision de rêve" sur un habit d'une personne disparue que Fandrean vous avait passé.<br />
      - Enfin, sans guide on aurait eu du mal à trouver l'endroit quand même, dit Mac Lumy.<br />
      - Il y a quelque chose de spécial dans cette zone ? demande<span class="nao"> Nao</span><span class="rem">s-tu</span>.<br />
      <span class="rem">- Il n'y a vraiment rien de spécial dans les marais. Seulement des monstres. Maître Fandrean dit qu'il y a aussi des adorateurs de Soufflardent qui viennent faire des sacrifices d'animaux de temps en temps mais personne ne les a jamais vus. En temps normal ils habiteraient des monts noirs selon mon maitre, explique Rem.</span><span class="nao">- Il n'y a vraiment rien de spécial dans les marais. Seulement des monstres. Fandrean dit qu'il y a aussi des adorateurs de Soufflardent qui viennent faire des sacrifices d'animaux de temps en temps mais personne ne les a jamais vu. En temps normal ils habiteraient dans les monts noirs selon lui, expliques-tu.</span></p>

      <p>Après une inspection rapide des environs le brouillard commence à vous encercler rapidement. Vous empêchant de voir grand-chose.</p>

      <p>- Je ne détecte aucune magie, et toi ? te demande Lasseni.</p>

      <p class="magie-verte">Après un essai pour concentrer ton énergie tu ne ressens rien d'anormal. Et Mac Lumy vous interromps pour vous montrer quelque chose :<br /><br />
      - Regardez ! J'ai remarqué que malgré la boue quand on marche ici on ne fait aucune trace de pas, dit Mac Lumy. <br /><br />
      Il soulève sa botte et effectivement il n'y a aucun trace alors que la botte était toute enfoncée il y a une seconde.<br /><br />
      - Une magie indétectable ? dit Lasseni. C'est impossible.<br /><br />
      <span class="nao">- Mais alors c'est quoi ces traces ? demande Nao.<br /><br />
      Il vous montre des traces d'un animal dans la boue. Vous avez beau marcher à côté, vous ne laissez aucune trace, vous. Tu vis à côté des marais depuis 2 ans mais tu n'as jamais vu de trace comme celles-ci. L'animal en question doit être gigantesque, au moins 2 mètres de haut vu la taille des pattes, et il a l'air d'être bipède.<br /><br />
      - Tu vois de quel bête il s'agit ? te demande Lasseni.<br />
      - Non, aucune idée. Mais ça a l'air d'être une piste.</span>
      <span class="rem">- Mais alors c'est quoi ces traces ? demande Lasseni.<br /><br />
      Elle vous montre des traces d'un animal dans la boue. Vous avez beau marcher à côté, vous ne laissez aucune trace, vous. Rem vit à côté des marais depuis toujours mais il n'a jamais vu de trace comme celles-ci. L'animal en question doit être gigantesque, au moins 2 mètres de haut vu la taille des pattes, et il a l'air d'être bipède.<br /><br />
      - Tu vois de quel bête il s'agit ? lui demandes-tu.<br />
      - Non, aucune idée. Mais ça a l'air d'être une piste.</span></p>

      <p class="magie-noire">Après un essai pour concentrer ton énergie tu ressens un flux d'énergie très puissante tout autour de toi. Comment Lasseni n'a pas pu la remarquer ?
      <span class="fin fin-6"><br /><br />
      - bONjOuR <span class="tonnom"></span> ! jE VoIS qUE Tu T'Es raPProcHé dE MoI. SaCHeS Que Tu TE TrOUvEs nON LOin DE mON grAND PRopHETE. tU lE ReCONnaitRAS QuAND tU Le VERRas. Et SI jAMaIS iL A BEsOIn dE ToI : AIDE-LE.<br /><br />
      Tu ne t'attendais pas à recevoir un message de Soufflardent maintenant. Visiblement ces disparitions ont l'air d'être l'œuvre de ton maître. Mince, tu vas devoir trouver un moyen de saboter la mission. Mais pourquoi fait-il disparaitre des gens ? Il aurait pu au moins te révéler un peu plus son plan.
      </span>
      <span class="fin fin-autre">
        - Il y a une énorme énergie tout autour et elle vient de cette direction plus particulièrement, dis-tu en pointant la direction vers laquelle tu ressentais une pression magique terrible.<br />
        - Vraiment ? J'avais remarqué que tu ressentais des énergies complètements différentes de moi. Je ne sais pas comment tu fais… Mais je te fais confiance.
      </span>
      </p>


  </div>

  <div class="choix">
    <div class="ch magie-verte" data-go="34">Suivre les traces de la créature</div>
    <div class="ch magie-noire fin fin-1 fin-2 fin-3 fin-4 fin-5 fin-autre" data-go="35">Suivre la direction de l'énergie</div>
    <div class="ch magie-noire fin fin-6" data-go="35">Montrer la bonne direction de l'énergie à Lasseni</div>
    <div class="ch magie-noire fin fin-6" data-go="36">Montrer une fausse direction à Lasseni</div>
    <div class="ch" data-go="37">Proposer d'attendre que le brouillard se lève</div>
  </div>

</div>
