<div class="num num-1-2-24">

  <div class="text">
    <h1>- 24 -</h1>

    <p>Le mage disparu était installé un peu à l'écart du village. <span class="rem">Sa maison avait l'air assez grande quand même, 3 étages. Et chaque étage semble particulièrement haut.</span><span class="nao">Sa maison était assez grande quand même, 3 étages et chaque étage semble particulièrement haut.</span> Vous vous approchez et Mac Lumy vous fait signe de vous taire.</p>

    <p>- J'ai l'impression d'entendre des bruits venant de l'intérieur.</p>

    <p>C'est vrai, toi aussi tu peux entendre des bruits de pas provenant de l'étage.</p>

    <p class="rem">- Personne du village ne viendrait si proche des marais sans un mage, dit Rem.</p>
    <p class="nao">- Personne du village ne viendrait si proche des marais sans un mage, dis-tu.</p>

    <p>- Tout le monde sur ses gardes, ordonne Lasseni.</p>

    <p class="rem">Rem, Lasseni et toi montez à l'étage pendant que Mac Lumy reste caché dehors pour éviter que la personne ne puisse s'échapper discrètement.</p>
    <p class="nao">Nao, Lasseni et toi montez à l'étage pendant que Mac Lumy reste caché dehors pour éviter que la personne ne puisse s'échapper discrètement.</p>

    <p>
       Lasseni vous fait signe qu'à son décompte vous surgissez d'un coup pour prendre l'individu par surprise. Les bruits de pas sont toujours là, il y a bien quelqu'un. D'un geste de la main de Lasseni vous vous précipitez.
    </p>

    <p class="konakey">
      Une jeune femme, d'à peu prés ton âge, à la peau grise et de long cheveux noire est en train de lire un manuscrit magique. Probablement, le grimoire de la personne disparue.<br /><br />
      - Qui êtes-vous ? interroge Lasseni.<br />
      - Hum. Je peux vous retourner la question. Vous êtes rentrés sans frapper, répond l'inconnue.<br />
      - Vous n'êtes pas du village, je ne vous ai jamais vu, <span class="rem">fait remarquer Rem.</span><span class="nao">fais-tu remarquer.</span><br />
      - Je suis de la famille de maitre Maski. N'ayant pas de nouvelles je suis venue voir si tout allait bien.<br /><br />
      Vous vous regardez un peu bête. Si cette personne est de la famille du disparu, elle cherche juste des informations tout comme vous.<br /><br />
      - Pourquoi ne pas être venu nous voir à la tour, <span class="rem">demande Rem.</span><span class="nao">demandes-tu.</span><br />
      - Je viens d'arriver… Vous me laissez souffler un peu ? J'ai fait un long voyage.<br />
      - Hum, désolé de vous avoir pris pour un individu louche. Je suis Lasseni, je m'occupe personnellement des recherches de maitre Maski. Je suis envoyée par l'académie. D'autres personnes ont disparues également. Et je suis désolé de vous dire ça maintenant mais les marais aux alentours sont très dangereux, vous devriez vous réfugier à la tour d'Azano.<br />
      - Je suis mage moi-même, le danger ne me fait pas peur. Vous avez dit que vous vous occupiez des recherches ? J'aimerai intégrer votre groupe si vous êtes d'accord. Si vous n'êtes pas d'accord je ferai mes recherches de mon côté quand même.<br />
      - Laissez faire les professionnels mademoiselle, lui dis-tu pour la dissuader.<br />
      - Pourquoi ? Vous avez des déjà pistes ? <br />
      <span class="rem">- Nous commençons seulement l'enquête, se défend Rem.</span>
      <span class="nao">- Nous commençons seulement l'enquête, se défend Nao.</span><br />
      - Dans ce cas je pourrai vous être utile. Je connais mon oncle, et en lisant son grimoire je sais des choses qui pourraient vous aider dans votre enquête.<br /><br />
      Cette fille essaie de vous forcer la main. Tu sens que Lasseni va la laisser venir avec vous. Sauf si tu interviens.
    </p>
    <p class="pas-konakey">
      Cette dernière surgit de derrière le mur, toi tu décides de faire une roulade pour avoir la classe et <span class="rem">Rem s'avance dans la mauvaise direction car il ne voit rien avec ses cheveux devant les yeux.</span><span class="nao">Nao lance un sort de lumière vers l'intrus pour mieux le voir.</span><br /><br />
      Et...stupeur ! Devant vous se tient <span class="fort-nom"></span> en train de lire un grimoire, certainement celui de la personne disparue.<br /><br />
      - <span class="fort-nom"></span> ! Qu'est-ce que tu fais là ? J'ai plein de questions à te poser, dis-tu en t'approchant <span class="sfg-g">de lui</span><span class="sfg-f">d'elle</span>.<br /><br />
      Mais Lasseni tend son bras pour t'interdire de passer.<br /><br />
      - Il paraît que tu es parti<span class="sfg-f">e</span> avec Miguel ? Est-ce que c'était un mage renégat ? Est-ce que TU es un mage renégat ? demande-t-elle le plus sérieusement du monde.<br /><br />
      <span class="fort-nom"></span> ferme le grimoire tout en soupirant.<br /><br />
      - Je pourrai vous en parler mais je suppose que vous travaillez toujours pour l'académie, non ? Malheureusement vous ne me croiriez pas si je vous racontais tout ce qu'il m'est arrivé.<br />
      - Essaie quand même, lui dit Lasseni.<br /><br />
      L'ambiance est électrique, tu te retrouves face à un<span class="sfg-f">e</span> ancien<span class="sfg-f">ne</span> ami<span class="sfg-f">e</span> qui est peut-être passé du côté de l'ennemi. Lasseni semble concentrer son énergie, si tu ne fais rien, le combat va s'engager. Mais faut-il vraiment l'arrêter ?
    </p>

  </div>

  <div class="choix">
    <div class="ch konakey" data-go="26">Laisser Lasseni inviter l'inconnue dans le groupe</div>
    <div class="ch konakey" data-go="27">Prendre le grimoire des mains de l'inconnue pour qu'elle ne rejoigne pas le groupe</div>
    <div class="ch pas-konakey" data-go="28">Se préparer au combat contre <span class="fort-nom"></span></div>
    <div class="ch pas-konakey" data-go="29">Détendre Lasseni et interroger <span class="fort-nom"></span></div>
  </div>

</div>
