<div class="num num-1-2-25">

  <div class="text">
    <h1>- 25 -</h1>

    <p>Usaki vivait un peu à l'écart de la tour d'Azano, pour le rejoindre <span class="aveck">vous devez</span><span class="pas-aveck">tu dois</span> descendre les monts noirs et traverser les marais dans la vallée.</p>

    <p>Ça <span class="aveck">vous</span><span class="pas-aveck">te</span> prend un bon moment à cause des bêtes qui rôdent. <span class="aveck">Vous pourriez</span><span class="pas-aveck">Tu pourrais</span> en combattre certains avec la magie mais il ne faut pas courir de risque inutile, c'est ce que Zaïra <span class="aveck">vous</span><span class="pas-aveck">te</span> répétait tout le temps.</p>

    <p>Le périple a quand même le mérite de <span class="aveck">vous</span><span class="pas-aveck">te</span> permettre de <span class="aveck">vous </span><span class="pas-aveck">t'</span>aventurer dans des endroits que tu n'avais jamais vus. Mais certainement pas les plus beaux, loin de là.</p>

    <p class="middle">*</p>

    <p class="aveck">- Je vois la maison d'Usaki. Regarde, elle est là-bas, te dit <span class="aveck-nom"></span> en te montrant une maison au loin.<br />
      - C'est là ?... Ah oui il y a la branche en forme de "Y" au sommet comme nous avait dit Ymir.</p>
    <p class="pas-aveck">Tu aperçois, peu après être sorti<span class="sf">e</span> des marais, la maison d'Usaki. Reconnaissable par sa branche en "Y" attaché sur le toi, comme t'avait dit Ymir.</p>

    <p>La porte est fermée. Ce qui signifie qu'il avait pris soin de verrouiller avant de sortir. S'il lui est arrivé quelque chose c'est en dehors de chez lui. Tu frappes quand même à la porte mais avec le silence comme réponse.</p>

    <p class="aveck">- Rentrons à l'intérieur pour voir s'il a laissé un mot ou quelque chose, propose <span class="aveck-nom"></span>.</p>

    <p>Avec le sort de glaciation la serrure ne tient pas longtemps et la porte s'ouvre. La maison semble bien en ordre, le plafond est très haut, il était déguisé en humain - sous l'identité du mage Maski - mais de temps en temps il devait se retransformer en noctule. En tout cas il avait assez d'espace pour ça dans cette maison. <span class="aveck">Vous montez</span><span class="pas-aveck">Tu montes</span> au premier étage et <span class="aveck">vous apercevez</span><span class="pas-aveck">tu aperçois</span> son bureau ainsi que son grimoire bien posé en évidence.</p>

    <p>En le parcourant <span class="aveck">vous notez</span><span class="pas-aveck">tu notes</span> qu'Usaki semblait être à la poursuite des adorateurs de Soufflardent dans les marais. Selon lui, ils recruteraient de plus en plus de villageois de la tour d'Azano.</p>

    <p>Tout à coup 2 personnes surgissent de l'escalier et apparaissent devants vous. L'un d'eux vous éclaire avec un sort de lumière. Quant à l'autre il s'agit de...Lasseni.</p>

    <p class="aveck">- ...Je m'attendais pas à vous trouver ici. Vous étiez partis avec Miguel il paraît. Est-ce que c'était un mage renégat ? Est-ce que VOUS êtes un mage renégat ? demande-t-elle le plus sérieusement du monde. <br />
      - Je pourrai t'en parler mais je suppose que tu travailles toujours pour l'académie, non ? Malheureusement tu ne me croirais pas si je te racontais tout ce qu'il nous est arrivé, dit <span class="aveck-nom"></span>.<br /><br />
    Tu ne sais pas trop quoi lui dire en plus. Elle est certainement présente pour une mission de l'académie. Et si elle est là c'est qu'elle est à la recherche d'Usaki. Tu vois aussi qu'elle concentre son énergie. Si tu ne réagis pas elle va certainement vous attaquer.</p>
    <p class="pas-aveck">- …Je m'attendais pas à te trouver ici. Tu étais partis avec Miguel il paraît. Est-ce que c'était un mage renégat ? Est-ce que TU es un mage renégat ? demande-t-elle le plus sérieusement du monde. <br /><br />
      Tu ne sais pas trop quoi lui répondre. Elle est certainement présente pour une mission de l'académie. Et si elle est là c'est qu'elle est à la recherche d'Usaki. Tu vois aussi qu'elle concentre son énergie. Si tu ne réagis pas elle va certainement vous attaquer.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="30">- Attend ! On se calme, <span class="aveck">on</span><span class="pas-aveck">je</span> cherche la probablement la même chose que toi.</div>
    <div class="ch" data-go="31">Lancer un sort de "cape de la nuit" pour s'enfuir</div>
  </div>

</div>
