<div class="num num-1-2-26">

  <div class="text">
    <h1>- 26 -</h1>

    <p>- Entendu tu peux rejoindre le groupe. Je m'appelle Lasseni, voici <span class="rem">Rem</span><span class="nao">Nao</span> et <span class="tonnom"></span>. Comment t'appelles-tu ?<br />
      - <span class="fort-nom"></span> ! Merci de votre invitation.<br />
      - Tu disais que tu avais déjà une piste ? lui dis-tu.<br />
      - En effet, mon oncle semblait pourchasser des adorateurs de Soufflardent. Et il semble dire dans son grimoire que les gens qui disparaissent de la tour sont allés les rejoindre.<br />
     <span class="rem">- Impossible ! s'écrie Rem. Les habitants de la tour d'Azano ne s'allieraient jamais avec ce genre de personnes.</span><span class="nao">- Vraiment ? t'écries-tu. Les habitants de la tour d'Azano m'ont l'air d'apprécier énormément les mages et l'académie. Pourquoi s'allieraient-ils avec ce genre de personnes?</span><br />
     - Je n'en sais rien, je vous dis juste ce que j'ai retenu du grimoire de mon oncle.
    </p>
    <p><span class="fort-nom"></span> tend le grimoire pour vous permettre de vérifier. Lasseni le récupère et jette un œil. </p>

    <p>- C'est effectivement ce qu'il y a d'écrit dans le grimoire. Mais on ne sait pas trop où chercher ces adorateurs.</p>

    <p>La jeune mage à la peau grise, sort alors un parchemin de sa poche.</p>

    <p>- Il y avait surtout ça dans le grimoire de mon oncle : un plan de ses recherches dans le marais. Plutôt bien détaillé et qui nous dit où chercher.<br />
      <span class="rem">- J'ai l'impression que tu ne nous fait pas totalement confiance encore, lui dit Rem.</span>
      <span class="nao">- J'ai l'impression que tu ne nous fait pas totalement confiance encore, lui dit Nao.</span><br />
      - Je préfère garder ce plan avec moi si ça vous dérange pas.</p>

    <p>Cela étant dit elle déplie le parchemin et vous le présente. Depuis que le mage Maski est à la tour il a répertorié le marais comme personne auparavant. La carte est vraiment très précise. Il devait être mage cartographe. Etrangement, les zones de marais proches des monts noirs sont parfaitement rendus. Il a l'air d'avoir commencé sa cartographie par la partie la plus dangereuse.</p>

    <p>Mais une zone sur sa carte en plein milieu des marais n'est pas encore finie. Il y a juste une tête de mort indiquée, qui ne rassure personne.</p>

    <p><span class="def-peureux">- Faut aller à cet endroit ? demandes-tu tremblotante.<br />
      - J'en ai bien peur, te dit Lasseni.</span><span class="def-pas-peureux">- Faut aller à cet endroit ? demande <span class="rem">Rem</span><span class="nao">Nao</span>.<br />
        - J'en ai bien peur, te dit Lasseni.</span></p>

    <p><span class="fort-nom"></span> remballe la carte et vous redescendez retrouver Mac Lumy à qui vous racontez tout. Pendant que lui et <span class="fort-nom"></span> font connaissance, Lasseni te dit de garder un œil sur la nouvelle venue. Elle n'a pas entièrement confiance en elle.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="44">Partir dans les marais, direction : la tête de mort</div>
  </div>

</div>
