<div class="num num-1-2-27">

  <div class="text">
    <h1>- 27 -</h1>

    <p class="av-sportif">Tu récupères le grimoire d'un geste rapide. L'inconnue n'a pas le temps de réagir que déjà le grimoire est dans tes mains.<br /><br />
    - Hey ! Rend moi ça, se plaint-elle.<br />
    - Cette mission est plus importante que juste ton oncle. D'autres personnes ont disparues, lui reproches-tu.<br />
    - Oui mais moi je ne suis pas une mage de l'académie. Seul mon oncle m'intéresse. Et si on retrouve mon oncle on retrouve vos autres brebis égarées.<br />
    - Je dois dire que je n'ai pas non plus une grande envie de prendre une inconnue dans le groupe, dit Lasseni.</p>
    <p class="av-sportif">La mage inconnue semble bouillonner intérieurement. Mais se calme et vous dit :<br /><br />
    - D'accord, on peut en rester là et chacun repart de son côté. Mais j'ai encore quelque chose qui pourrait vous intéresser. Mon oncle avait dessiné une carte des marais et je sais à peu prés où chercher. Sans cette carte c'est comme chercher une aiguille dans une botte de foin.<br /><br />
    En feuilletant le grimoire tu vois que Maski a fait plein de petits plans. Il devait être cartographe. Cette fille dit probablement la vérité quand elle affirme qu'elle a une carte détaillée des marais. Mais peut-être que les dessins dans le grimoires vous suffiraient pour avancer dans votre enquête.<br /><br />
    - Lasseni, j'ai l'impression qu'on peut se passer de cette carte. Maski a consigné plein de choses dans son grimoire.<br />
    - Dans ce cas c'est décidé. Désolé mais tu ne viens pas avec nous, lui dit Lasseni.<br /><br />
    La mage fulmine et pars furibonde. Puis vous entendez Mac Lumy crier à l'extérieur. Vous retournez en trombe devant la maison de Maski, pour voir que Mac Lumy a capturé la mage croyant qu'elle tentait de s'échapper.<br /><br />
    - Je l'ai attrappé, vous dit-il tout sourire.<br />
    - Mais lâche-moi ! Je ne m'enfuis pas ! C'est tes copains qui m'ont demandé de partir.<br /><br />
    Vous expliquait la situation à Mac Lumy qui s'excuse, confus, auprès de la mage.
    </p>

    <p class="av-sportif">La mage repart et vous lisez plus attentivement le grimoire. Selon les informations contenues dedans, Maski recherchait les adorateurs de Soufflardent. C'est un groupe nouveau qui se serait installé dans les marais et dont le but serait de réveiller le dragon. Maski semblait croire que les adorateurs recrutaient des gens à la tour d'Azano. Et que les villageois disparus seraient en fait aller rejoindre les rangs des adorateurs. Ce qui semble difficile à croire tant les gens à la tour semblent aimer les mages et l'académie.<br /><br />
      Avec plusieurs indications sur le grimoire il vous semble intéressant de commencer par une zone qui avait été noté comme dangereuse par Maski. Dangereuse car "la magie semblait déformée à cet endroit", c'est ce que le mage disparu a noté.
    </p>

    <p class="av-pas-sportif">Tu tentes d'attraper le grimoire mais la mage est plus rapide que toi et fait un pas en arrière. Tu concentres alors ton énergie pour lancer immédiatement un sors de "racines". Cela la retiendra sur place. Mais l'inconnue récite une formule courte et disparait.<br /><br />
      <span class="rem">- Ouah. C'est un sort d'invisibilité ? demande Rem.</span>
      <span class="nao">- Ouah. C'est un sort d'invisibilité ? demande Nao.</span><br /><br />
      Lasseni lance un sort de glaciation dans la pièce pendant que toi tu essaies de la trouver au hasard en tendant les bras là où elle se tenait juste avant. Mais vous n'entendez rien, vous ne la trouvez pas.<br /><br />
      - Je ne sens pas d'énergie magique autre que les nôtres, dit Lasseni. Cette mage...elle s'est téléportée ?<br />
      - Une téléportation ? C'est un sort les plus difficile de magie du vent, non ? demandes-tu.<br />
      - Cette fille était très puissante alors...<span class="rem">finit Rem</span>
      <span class="nao">finit Nao</span>.
    </p>

    <p class="av-pas-sportif">Vous retrouvez Mac Lumy à l'extérieur. Finalement vous n'avez pas trouvé grand chose. La mage avait pris tout ce qui était intéressant. Sans le grimoire de Maski vous n'êtes pas plus avancés. Il ne vous reste plus qu'à enquêter dans les marais à l'endroit où les gens avaient disparus et que le sort de "Vision de rêve" vous indiquait.
    </p>

  </div>

  <div class="choix">
    <div class="ch av-sportif" data-go="44">Suivre les indications du grimoire pour aller dans la zone de magie déformée</div>
    <div class="ch av-pas-sportif" data-go="23">Partir dans les marais</div>
  </div>

</div>
