<div class="num num-1-2-28">

  <div class="text">
    <h1>- 28 -</h1>

    <p>Lasseni lance un puissant sort de Glaciation qui gèle la pièce. Elle y va très fort d'entrée de jeu. Mais <span class="fort-nom"></span> ne se laisse pas faire. <span class="sfg-g">Il</span><span class="sfg-f">Elle</span> lance un double sort de "mains de feu" pour enflammer ses deux bras. La glace autour <span class="sfg-g">de lui</span><span class="sfg-f">d'elle</span> fond instantanément. Tu enchaines avec un sort de racines qui s'enroulent autour des chevilles de <span class="fort-nom"></span>. <span class="rem">Rem lui lance à son tour un sort que tu n'avais jamais vu : "canon de lumière", un faisceau lumineux lui éteind aussitôt ses flammes.</span><span class="nao">Nao se précipite alors dans sa direction pour <span class="sfg-g">le</span><span class="sfg-f">la</span> plaquer au sol.</span>
    </p>

    <p>Et c'est à cet instant que <span class="fort-nom"></span> disparait complètement.<br /><br />
      <span class="rem">- Ouah. C'est un sort d'invisibilité ? demande Rem.</span>
      <span class="nao">- Ouah. C'est un sort d'invisibilité ? demande Nao.</span><br /><br />
      Tu essaies de la trouver au hasard en tendant les bras là où elle se tenait juste avant. Mais vous n'entendez rien, vous ne la trouvez pas.<br /><br />
      - Je ne sens pas d'énergie magique autre que les nôtres, dit Lasseni. Cette mage...elle s'est téléportée ?<br />
      - Une téléportation ? C'est un des sorts les plus difficiles de magie du vent, non ? demandes-tu.<br />
      - Cette fille était très puissante alors...<span class="rem">finit Rem</span>
      <span class="nao">finit Nao</span>.
    </p>

    <p>Vous retrouvez Mac Lumy à l'extérieur. Finalement vous n'avez pas trouvé grand-chose. <span class="fort-nom"></span> avait pris tout ce qui était intéressant. Sans le grimoire de Maski - le mage disparu - vous n'êtes pas plus avancés. Il ne vous reste plus qu'à enquêter dans les marais à l'endroit où les gens avaient disparu et que le sort de "Vision de rêve" vous indiquait.
    </p>

  </div>

  <div class="choix">
    <div class="ch" data-go="23">Partir dans les marais</div>
  </div>

</div>
