<div class="num num-1-2-29">

  <div class="text">
    <h1>- 29 -</h1>

    <p>- Calmons-nous. Je ne pense pas que <span class="fort-nom"></span> est ici parce qu'<span class="sfg-g">il</span><span class="sfg-f">elle</span> est responsable de la disparition de Maski - le mage disparu de cette maison. Je ne sais pas ce que tu as traversé depuis la dernière fois qu'on s'est vus mais peut-être qu'on peut au moins se parler sans se taper, non ?</p>

    <p>Ton petit discours a le mérite de calmer tout le monde. Lasseni et <span class="fort-nom"></span> reconnaissent qu'il n'y a pas besoin de s'énerver pour le moment. Tu en profites pour dire à Mac Lumy de venir et tout le monde se retrouve réuni au premier étage de la maison.</p>

    <p><span class="fort-nom"></span> vous apprend qu'<span class="sfg-g">il</span><span class="sfg-f">elle</span> est à la recherche de Maski aussi. <span class="sfg-g">Il</span><span class="sfg-f">Elle</span> vous avoue que Maski est en fait la nouvelle identité de Miguel, et que son nom véritable est Usaki. Il était à la poursuite des adorateurs de Soufflardent, qui semblent s'être installé dans les marais.</p>

    <p>- Donc vous êtes bien des mages renégats, dit Lasseni.<br />
      - Mais ils combattent ces gens qui essaient de réveiller Soufflardent ! t'exclames-tu. Je pense qu'on peut quand même leur faire confiance. Au moins pour cette mission, non ?<br />
      - Si les mages renégats sont pourchassés par l'académie, c'est parce qu'ils sont une force qui n'obéit pas à l'académie, intervient Mac Lumy. Ils sont capables de vendre leur pouvoir pour faire les choses les plus atroces. Mais en l'occurrence, c'est la première fois que j'entends parler de renégats qui veulent combattre Soufflardent. Vous devriez intégrer l'académie.<br />
      - Il se trouve que c'est compliqué. Notre groupe n'est vraiment pas aimé par les 4 mages supérieurs. Vous devriez leur demander : ils sont au courant de tout mais vous cachent la vérité.<br />
      - Arrêtons tout de suite ce genre de divagation, s'énerve Lasseni. Ok on va collaborer ensemble pour cette mission, mais si tu fais le moindre pas de travers je te glace.
    </p>

    <p><span class="fort-nom"></span> sourit, <span class="sfg-g">il</span><span class="sfg-f">elle</span> a l'air satisfait<span class="sfg-f">e</span> et serre la main de Lasseni. Ce n'est pas la grande amitié mais au moins personne ne blesse personne.</p>

    <p><span class="fort-nom"></span> ajoute qu'<span class="sfg-g">il</span><span class="sfg-f">elle</span> a une idée assez précise où se cacheraient les adorateurs de Soufflardent. Maski - qui est Miguel ou son vrai nom Usaki - a laissé une carte détaillée d'un endroit où la magie serait "déformée", au milieu des marais. Sur la carte que <span class="fort-nom"></span> a trouvé avec le grimoire, Usaki a dessiné une tête de mort. Rien de très réjouissant donc.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="44">Partir dans les marais, direction : la tête de mort</div>
  </div>

</div>
