<div class="num num-1-2-3">

  <div class="text">
    <h1>- 3 -</h1>

    <p>Il faut bien l'avouer quand Ymir <span class="sipasgrp1-1">vous a</span><span class="sigrp1-1">t'a</span> accueilli, <span class="sipasgrp1-1">vous êtes restés</span><span class="sigrp1-1">tu es resté<span class="sf">e</span></span> bouche bée. Il avait vieilli par rapport aux gravures que <span class="sipasgrp1-1">vous aviez</span><span class="sigrp1-1">tu avais</span> pu voir dans les livres et parchemins de l'académie mais cela ne vous a pas empêché de le reconnaitre.</p>

    <p>Mais les surprises ne s'arrêtaient pas là. Zaïra également était présente. Les deux mages avaient bâti à partir de rien une fantastique forteresse, uniquement grâce à leur magie.</p>

    <p>Dans la forteresse habite une centaine de personnes, toutes rompues à la magie depuis des années. Même des enfants de 5 ans connaissent la magie mieux que des étudiants de première année à l'académie.</p>

    <p>Ymir et Zaïra vous apprirent l'existence d'un cinquième type de magie : la magie de la lune. Une magie puissante qui leur permet de poursuivre leur but : endormir Soufflardent encore et encore.</p>

    <p>En effet si les deux mages se sont installés dans les monts noirs ce n'est pas pour le paysage mais bien pour garder un œil sur le puissant dragon. Ils ont autrefois réussi à l'endormir et il sommeille encore dans les entrailles de la montagne.</p>

    <p>Un tunnel creusé dans la montagne au sein de la forteresse s'enfonce jusqu'à l'antre du grand dragon d'Onyx. Miguel t'y a emmené une fois pour que tu puisses le voir. Gigantesque il remplit une grotte entière. Il est surveillé en permanence par des mages de la forteresse de la lune. Zaïra y est souvent présente également.</p>

    <p>Les mages sont d'ailleurs obligés de relancer des dizaines de sorts de sommeil sur la bête, chaque jour, pour l'obliger à rester endormie. Si elle se réveillait vous n'avez aucune idée des dégâts qu'elle pourrait causer.</p>

    <p>Et bien qu'endormi, Soufflardent arrive à communiquer avec des gens par les rêves. C'est comme cela que le dragon est arrivé à se faire une petite troupe d'adorateurs - comme Modrak.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="18">Continuer</div>
  </div>

</div>
