<div class="num num-1-2-30">

  <div class="text">
    <h1>- 30 -</h1>

    <p>- Calmons-nous, commences-tu. Si vous êtes là c'est pour Usaki...enfin je veux dire Maski ? Et bien <span class="aveck">nous</span><span class="pas-aveck">moi</span> aussi. Maski était <span class="aveck">notre</span><span class="pas-aveck">mon</span> ami, <span class="aveck">on est</span><span class="pas-aveck">je suis</span> à sa recherche. On peut sûrement travailler ensemble sur cette enquête, non ?<br />
      - Comment <span class="aveck">vous</span><span class="pas-aveck">te</span> faire confiance ? <span class="aveck">Vous nous avez</span><span class="pas-aveck">Tu nous as</span> trahis par le passé.<br />
      - Trahis ? Non, on a juste changé de route.</p>

    <p>Tu ne penses pas que révéler à Lasseni que vous travaillez pour Ymir et Zaïra soit une bonne idée. Il y avait cette rumeur comme quoi elle était leur descendante, mais tu sais aussi qu'elle n'a pas l'air de porter dans son coeur les deux mages de la légende.</p>

    <p>- Ecoute, Maski c'est en fait Usaki. Et Usaki c'est le vrai nom de Miguel, essaies-tu d'expliquer.<br />
      - Miguel ? La chèvre que vous aviez comme familier ? s'étonne Lasseni.<br />
      - C'est ça… c'était un sort de masque...Enfin bon, voilà. Miguel cherche le repaire des adorateurs de Soufflardent. On ne cherche pas à s'en prendre à l'académie.<br />
      <span class="aveck">- Ne leur en dit pas trop, te dit <span class="aveck-nom"></span> en tirant sur ta manche.<br /></span>
      - Vous êtes donc des mages renégats, s'étonne le deuxième mage qui accompagne Lasseni.<br />
      - On ne travaille pas avec l'académie, oui, lui confies-tu.</p>

    <p>Les deux se parlent entre eux sans que <span class="aveck">vous ne puissiez</span><span class="pas-aveck">tu ne puisses</span> entendre puis Lasseni reprend la parole :</p>

    <p>- Ok, travaillons ensemble. Mais sitôt les villageois de la tour d'Azano retrouvés, chacun repartira de son côté.<br />
      - Vous êtes à la recherche des villageois ? Il semblerait, d'après le grimoire d'Usaki, qu'ils soient partis rejoindre les adorateurs de Soufflardent.<br />
      - Impossible, s'écrie le second mage. Les villageois de la tour respectent les mages et l'académie. Sans eux il n'y aurait pas de village ici.<br />
      - C'est en tout cas ce qu'Usaki pensait, dis-tu en leur présentant le grimoire.</p>

    <p>Les deux mages jettent un coup d'oeil au grimoire et sont forcés de voir que tu dis vrai. Ils appellent alors un autre membre de leur groupe qui était resté à l'extérieur. Mac Lumy est aussi surpris que <span class="aveck">vous</span><span class="pas-aveck">toi</span>. Il avait toujours été gentil et est très heureux de <span class="aveck">vous</span><span class="pas-aveck">te</span> revoir. Le dernier membre s'appelle Rem, c'est un mage qui est originaire de la tour d'Azano et connaît bien le coin.</p>

    <p>Dans le grimoire d'Usaki vous trouvez également une carte détaillée des marais. Seule une zone n'est pas encore dessinée, au centre des marais. Vous ne voyez qu'une tête de mort griffonnée par Usaki. Dans son grimoire, il faisait mention d'une zone où la magie était "déformée" à cet endroit.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="44">Partir dans les marais, direction : la tête de mort</div>
  </div>

</div>
