<div class="num num-1-2-31">

  <div class="text">
    <h1>- 31 -</h1>

    <p>Tu lances ton sort de "cape de la nuit", <span class="aveck">aussitôt <span class="aveck-nom"></span> t'imite,</span> et Lasseni contre-attaque en lançant une glaciation de toute la pièce.</p>

    <p>L'autre mage tente de se rapprocher et de <span class="aveck">vous</span><span class="pas-aveck">te</span> toucher, pensant à un sort d'invisibilité. Mais le sort de "cape de la nuit" <span class="aveck">vous</span><span class="pas-aveck">te</span> permet d'être invisible à tous leurs sens, et le jeune mage passe à travers toi sans te sentir.</p>

    <p class="aveck">Tu ne vois pas <span class="aveck-nom"></span> non plus mais vous aviez déjà prévu qu'en cas de besoin vous vous retrouviez à un croisement sur le chemin en amont.</p>

    <p>Tu suis les deux mages qui finalement repartent de la maison d'Usaki bredouilles. Ils sont rejoints par Mac Lumy qui les attendait dehors. Tu écoutes leur conversation et d'après ce que tu comprends, ils sont chargés par l'académie de retrouver des villageois disparus de la tour d'Azano. Et d'après le grimoire d'Usaki, ces villageois auraient rejoint les adorateurs de Soufflardent.</p>

    <p class="pas-aveck">Tu te demandes s'il faut que tu les rejoignes dans leur quête ou pas. Ils cherchent la même chose que toi au fond.</p>

    <p class="aveck">Après ça tu repars vers le croisement du chemin pour en parler à <span class="aveck-nom"></span>. Ton ami<span class="sfg-f">e</span> est déjà là à t'attendre quand tu fais disparaitre ton sort. Tu lui racontes ce que tu as vu et finalement <span class="sfg-f">elle</span><span class="sfg-g">il</span> te laisse choisir si vous rejoignez le groupe de Lasseni ou pas. Sachant que peut-être vous attaqueront-ils.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="32">Tenter d'intégrer le groupe de Lasseni</div>
    <div class="ch" data-go="33">Continuer <span class="aveck">ta mission avec <span class="aveck-nom"></span></span><span class="pas-aveck">ta mission en solo</span></div>
  </div>

</div>
