<div class="num num-1-2-32">

  <div class="text">
    <h1>- 32 -</h1>

    <p class="pas-aveck">Tu désactives ton sort pour te révéler juste devant Mac Lumy. Aussitôt tu calmes tout le monde pour leur expliquer que vous avez le même but : retrouver les gens disparus. Enfin, pour toi, tu dois juste retrouver Usaki. Tu révèles aussi que Usaki est Miguel mais tu ne dis rien sur Ymir et Zaïra, Lasseni est peut-être leur descendante mais elle n'a pas l'air de les porter dans son cœur.</p>

    <p class="aveck">Vous retournez voir le groupe de Lasseni tout en gardant votre sort de "cape de la nuit" prêt à être lancé. Vous vous révélez à eux alors qu'ils allaient entrer dans les marais. Aussitôt tu calmes tout le monde pour leur expliquer que vous avez le même but : retrouver les gens disparus. Enfin, pour vous, vous devez juste retrouver Usaki. Tu révèles aussi que Usaki est Miguel mais tu ne dis rien sur Ymir et Zaïra, Lasseni est peut-être leur descendante mais elle n'a pas l'air de les porter dans son cœur. </p>

    <p>A part Mac Lumy et toi personne n'a l'air très enthousiaste mais finalement tout le monde accepte l'alliance temporairement.</p>

    <p>Et après avoir vu dans le grimoire une carte détaillée des marais vous décidez tous d'aller à l'endroit marqué d'une tête de mort. Usaki indiquait dans son grimoire que la magie semblait "déformée" à cet endroit des marais. C'était la dernière piste sur laquelle il travaillait pour trouver les adorateurs de Soufflardent.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="44">Partir dans les marais, direction : la tête de mort</div>
  </div>

</div>
