<div class="num num-1-2-33">

  <div class="text">
    <h1>- 33 -</h1>

    <p>Tu ne vois pas l'intérêt de rejoindre le groupe de Lasseni. Mais il faudra faire attention, tu risques de les retrouver sur ton chemin.</p>

    <p>En inspectant plus en profondeur le grimoire de Usaki, <span class="aveck">vous trouvez</span><span class="pas-aveck">tu trouves</span> une carte détaillée des marais. Le seul endroit de la carte qui n'a pas encore été cartographié semble être le centre des marais. À cet endroit, Usaki a juste griffonné une tête de mort. Et dans le grimoire, il indique une magie "déformée" au centre des marais sans autre explication.</p>

    <p>Cela semble être un bon départ pour enquêter.</p>

    <p class="def-peureux">Mais tu es particulièrement <span class="sf">inquiète</span><span class="sg">inquiet</span> par le dessin de la tête de mort.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="44">Partir dans les marais, direction : la tête de mort</div>
  </div>

</div>
