<div class="num num-1-2-34">

  <div class="text">
    <h1>- 34 -</h1>

    <p>Vous continuez à vous enfoncer dans les marais, le brouillard vous enveloppant de plus en plus. Tu crois entendre un bruit de bête dans le ciel. <span class="nao">Certainement un dragon rouge, mais le brouillard vous protège.</span></p>

    <p class="rem">- Un dragon rouge certainement, le brouillard nous protège, ne t'inquiètes pas, dit Rem.</p>

    <p>Et alors que tu te disais justement que remonter la piste était trop facile, un groupe de Crocolins apparait devant vous. Gueules béantes, en train de se baigner dans la boue des marais, vous les avez dérangé. Il va falloir combattre.</p>

  </div>

  <div class="choix">
    <div class="ch rem" data-go="38">Geler le sol des marais avec un sort de glaciation</div>
    <div class="ch rem" data-go="39">Lancer un sort de "main de feu"</div>
    <div class="ch nao" data-go="40">Lancer un sort de lumière</div>
  </div>

</div>
