<div class="num num-1-2-36">

  <div class="text">
    <h1>- 36 -</h1>

    <p>Tu indiques une mauvaise direction en te disant qu'il vaut mieux pas que tes compagnons découvrent cette piste où te faisait aller l'énergie.</p>

    <p>Après une petite marche dans la boue, où tu mènes le groupe, <span class="rem">Rem</span><span class="nao">Nao</span> lance :<br />
      - J'ai l'impression qu'on retourne vers la tour. C'est normal ?<br />
      - Heu… j'en sais rien, je suis juste la piste</p>

    <p>Et effectivement, quelques minutes après, le brouillard s'efface et vous êtes en vue de la tour d'Azano. </p>

    <p>- On a tourné en rond j'ai l'impression, dit Mac Lumy.<br />
      - Oui si ça se trouve on a suivi la piste dans le mauvais sens, ce qui veut dire que quelqu'un est venu de la tour vers l'endroit des disparition. Et cette personne était probablement sous l'influence d'un sort de magie, ajoute Lasseni.</p>

    <p>Difficile pour toi de dire autre chose. Tu as essayé de brouillé les pistes et ça a plutôt bien marché. Tu les laisses tirer les conclusions qu'ils veulent à cette balade boueuse.</p>

    <p>- Retournons à l'endroit de tout à l'heure on a dû louper quelque chose, propose Mac Lumy./<p>

    <p class="middle">*</p>

    <p>Finalement ton essai pour leur faire abandonner la piste n'aura servi qu'à patauger un peu plus dans la boue. Enfin vous retrouvez l'endroit des disparitions en plein milieu des marais et du brouillard.</p>

    <p>- Regardez ! J'ai remarqué que malgré la boue quand on marche ici on ne fait aucune trace de pas, dit Mac Lumy. <br /><br />
    Il soulève sa botte et effectivement il n'y a aucun trace alors que la botte était toute enfoncée il y a une seconde.<br /><br />
    - Une magie indétectable ? dit Lasseni. C'est impossible.<br /><br />
    <span class="nao">- Mais alors c'est quoi ces traces ? demande Nao.<br /><br />
    Il vous montre des traces d'un animal dans la boue. Vous avez beau marcher à côté, vous ne laissez aucune trace, vous. Tu vis à côté des marais depuis 2 ans mais tu n'as jamais vu de trace comme celles-ci. L'animal en question doit être gigantesque, au moins 2 mètres de haut vu la taille des pattes, et il a l'air d'être bipède.<br /><br />
    - Tu vois de quel bête il s'agit ? te demande Lasseni.<br />
    - Non, aucune idée. Mais ça a l'air d'être une piste.</span>
    <span class="rem">- Mais alors c'est quoi ces traces ? demande Lasseni.<br /><br />
    Elle vous montre des traces d'un animal dans la boue. Vous avez beau marcher à côté, vous ne laissez aucune trace, vous. Rem vit à côté des marais depuis toujours mais il n'a jamais vu de trace comme celles-ci. L'animal en question doit être gigantesque, au moins 2 mètres de haut vu la taille des pattes, et il a l'air d'être bipède.<br /><br />
    - Tu vois de quel bête il s'agit ? lui demandes-tu.<br />
    - Non, aucune idée. Mais ça a l'air d'être une piste.</span></p>

  </div>

  <div class="choix">
    <div class="ch" data-go="34">Suivre les traces de la créature</div>
  </div>

</div>
