<div class="num num-1-2-37">

  <div class="text">
    <h1>- 37 -</h1>

    <p>Le brouillard n'est pas inhabituel dans les marais mais là il est vraiment très épais. Il serait dangereux que des personnes du groupe se perdent dans les marais. </p>

    <p>Lasseni accepte <span class="rem">bizarrement</span> ta requête et propose d'attendre quelques minutes le temps de se restaurer un peu.</p>

    <p>Vous vous dites que vous avez bien fait puisque quelques minutes plus tard, le brouillard commence déjà à se dissiper. Mais un cri dans le ciel vous fait aussitôt regretter le voile qui vous cachait juste avant.</p>

    <p>Un petit dragon rouge pique sur vous bien décidé à faire de vous son déjeuner.</p>

    <p class="nao">Tu sais depuis que tu habites à la tour que les dragons rouges sont immunisés aux sorts de feu. Généralement quand tu en rencontres un on te dit de te cacher : un sort de "masque" est le mieux. Mais il faut une transformation en objet, une souche par exemple, pour que le dragon n'attaque pas.</p>

    <p class="rem">
      <span class="av-studieux">Rem vous avait prévenu qu'en cas d'attaque de dragon rouge il ne faudrait pas utiliser de magie du feu. Ils sont immunisés. Un sort de "masque" est le mieux. Mais il faut une transformation en objet, une souche par exemple, pour que le dragon n'attaque pas.</span>
      <span class="av-pas-studieux">Rem vous avait prévenu qu'en cas d'attaque de dragon rouge il faudrait utiliser un sort mais en pleine action tu n'arrives plus à te souvenir duquel.</span>
    </p>

  </div>

  <div class="choix">
    <div class="ch nao" data-go="41">Lancer un sort de masque</div>
    <div class="ch rem av-studieux" data-go="41">Lancer un sort de masque</div>
    <div class="ch rem av-pas-studieux" data-go="42">Lancer un sort de main de feu</div>
    <div class="ch rem av-pas-studieux" data-go="43">Lancer un sort de glaciation</div>
    <div class="ch rem av-pas-studieux" data-go="41">Lancer un sort de masque</div>
  </div>

</div>
