<div class="num num-1-2-38">

  <div class="text">
    <h1>- 38 -</h1>

    <p>Tu transformes la boue en glace, mais les crocodins n'ont pas l'air affecté. Leurs griffes acérées leur permettent de ne pas glisser, et leur puissance naturelle leur permet de se libérer de l'emprise de la glace facilement. Aussitôt ils se jettent sur vous.</p>

    <p>- Sort de lumière, vous crie Rem qui joint le geste à la parole.</p>

    <p>Les crocodins ne sont pas habitués à avoir beaucoup de lumière, ici au milieu des marais, et la lumière magique les aveugle. Tous ensemble vous lancez le sort qui les fait s'enfuir sans demander leur reste.</p>

    <p>- Merci Rem, lui dit Lasseni. J'avoue que je n'aurai plus pensé à utiliser ce sort ici. <br />
      - C'est juste une question d'habitude mais vous devez faire aussi attention aux sorts que vous lancez. Tout à l'heure vous aviez tous un sort de "main de flamme" lancé, mais il y a des poches de gaz inflammables un peu partout ici. Vous auriez pu exploser si vous l'aviez lancé ici.</p>

    <p>Mieux vaut effectivement faire attention avant de lancer un sort de manière inconsidérée. Vous continuez votre route en suivant les traces de la bête qui ne disparaissent toujours pas. Contrairement à celles des crocodins, plus rien ne laisse penser qu'ils étaient là il y a seulement un instant.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="49">Continuer la piste</div>
  </div>

</div>
