<div class="num num-1-2-39">

  <div class="text">
    <h1>- 39 -</h1>

    <p>A peine ton sort lancé que Rem te crie : "NON ! ATTENTION IL Y A DES POCHES DE GAZ ICI !". Mais tu n'as pas le temps de réagir que tout explose autour de toi. Tu déclenches sans le vouloir une série d'explosions qui fait tout éclater.</p>

    <p>Les crocodins ne font pas les fiers, ils hurlent de douleur et s'en vont ventre à terre - pour ceux encore vivants. Tes amis sont dans le même état : brûlés de partout. Heureusement personne n'est blessé trop gravement. Chacun se lance un sort de guérison qui vous remet un peu en état mais vos habits sont en lambeaux.</p>

    <p>- Faites attention, dit Rem, il y a des poches de gaz inflammables un peu partout ici. Contre les crocodins, lancez un sort de lumière. Il y a si peu de soleil ici qu'avec un sort de lumière vous les aveuglez.</p>

    <p>Mieux vaut effectivement faire attention avant de lancer un sort de manière inconsidérée. Vous continuez votre route en suivant les traces de la bête qui ne disparaissent toujours pas. Contrairement à celles des crocodins, plus rien ne laisse penser qu'ils étaient là il y a seulement un instant.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="49">Continuer la piste</div>
  </div>

</div>
