<div class="num num-1-2-4">

  <div class="text">
    <h1>- 4 -</h1>

    <p>Cela ne fut pas chose aisée de partir de l'académie sans rien dire à personne - exception faite de Lasseni. Probablement que personne n'attacherait une grande importance à la perte d'un ancien apprenti mage qui a perdu ses pouvoirs.</p>

    <p>La tour d'Azano est assez loin de l'académie. Il s'y trouve beaucoup de grands mages. Cependant tu n'aurais jamais pensé que des gens puissent te faire retrouver tes pouvoirs là-bas, là où personne ne pouvait rien faire à l'académie.</p>

    <p>Après un trop long voyage tu débarquas à la célèbre tour. Proche des marais, en plein milieu hostile. D'ici tu peux même voir les monts noirs. Sans la présence des mages il n'y aurait probablement personne d'autre à vivre ici, mais actuellement la tour d'Azano est une petite ville de quelques centaines d'habitants.</p>

    <p>Ta première destination fut la tour elle-même. Le repaire des plus puissants mages de la ville. En poussant la vieille porte d'entrée en bois, un vieille mage habillée comme une aventurière, avec pantalon et bottes, t'accueillit.</p>

    <p>- Je peux vous aider jeune <span class="sf">fille</span><span class="sg">homme</span>?</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="5">Je viens de la part de Lasseni.</div>
    <div class="ch" data-go="6">Est-ce que vous êtes mage ? J'ai un problème.</div>
  </div>

</div>
