<div class="num num-1-2-40">

  <div class="text">
    <h1>- 40 -</h1>

    <p>Tu sais qu'il ne faut surtout pas lancer de sort de feu ici. Il y a des émanations gazeuses qui risqueraient d'exploser. Pour éloigner les crocodins il faut lancer un sort de lumière. Comme ils ne voient pas souvent la lumière du jour ces bêtes sont très sensibles aux fortes lueurs.</p>

    <p>Tu lances ton sort tout en ordonnant à Mac Lumy d'arrêter d'incanter son sort.</p>

    <p>Les crocodins s'enfuient et tu expliques un peu pourquoi il ne faut pas lancer de sort de feu ici.</p>

    <p>- J'avoue que je n'aurai plus pensé à utiliser ce sort ici, dit Lasseni.</p>

    <p>Tout le monde acquiesce et vous repartez à la suite des traces de la bête.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="49">Continuer la piste</div>
  </div>

</div>
