<div class="num num-1-2-41">

  <div class="text">
    <h1>- 41 -</h1>

    <p>Tout le monde se souvient bien des recommandations, tu te transformes en souche d'arbre.</p>

    <p>Mac Lumy, devient un petit rocher dans la boue, Lasseni se transforme en branche d'arbre flottante. <span class="rem">Quant à Rem il se transforme en ossements de créatures. Le dragon a l'air complètement perturbé et s'arrête à quelques mètres du sol. Rem sort alors de sa cachette pour lui lancer un sort de "canon à eau". Très efficace contre le dragon rouge il tombe dans les marais complètement sonné.</span>
      <span class="nao">Quant à Nao il se transforme en ossements de créatures. Le dragon a l'air complètement perturbé et s'arrête à quelques mètres du sol puis repart comme si rien ne s'était passé.</span></p>

    <p class="rem">- Tu es complètement fou, s'écrie Lasseni ! Si tu avais mal visé il aurait pu se retourner contre toi !<br />
    - Du calme, j'ai l'habitude. Et puis j'ai bien visé, non ? dit tranquillement Rem.<br />
    - C'était bien un "canon à eau" ce sort ? lui demandes-tu.<br />
    - Oui, si tu veux survivre à la tour d'Azano, tu dois apprendre les sorts d'attaque le plus vite possible, tu sais. Mais vous inquiétez pas, je suis capable de vous protéger.</p>

    <p>Malheureusement - ou heureusement - le brouillard revient déjà.</p>
  </div>

  <div class="choix">
    <div class="ch magie-verte" data-go="34">Suivre les traces de la créature</div>
    <div class="ch magie-noire fin fin-1 fin-2 fin-3 fin-4 fin-5" data-go="35">Suivre la direction de l'énergie</div>
    <div class="ch magie-noire fin fin-6" data-go="35">Montrer la bonne direction de l'énergie à Lasseni</div>
    <div class="ch magie-noire fin fin-6" data-go="36">Montrer une fausse direction à Lasseni</div>
  </div>

</div>
