<div class="num num-1-2-42">

  <div class="text">
    <h1>- 42 -</h1>

    <p>Dans le cas d'un combat, ton sort de "main de feu" a toujours été ton plus utile. Mais en le laissant tu sens bien que quelque chose de ne va pas. Le dragon fonce sur toi. Tes amis ont tous utilisé un sort de masque pour se transformer en souche d'arbre ou en rocher.
    </p>

    <p>Le dragon n'a visiblement pas peur du feu et te rentre dedans en te projetant une dizaine de mètres plus loin.</p>

    <p>Rem annule son sort de masque pour lancer un sort de "canon à eau" sur le dragon qui a l'air de détester l'eau. Lasseni à son tour lui fait un puissant sort de glaciation qui lui explose les ailes. Le dragon s'enfuit en courant dans les marais et vous le voyez se faire gober par un gigantesque Estrosaure à une centaine de mètres de vous. Les Estrosaures ne sont pas une menace pour les hommes, ils sont tellement gros que les humains ne peuvent pas lui servir de repas.</p>

    <p>Mac Lumy s'approche de toi en lançant un sort de guérison. <br />
      - Ça va ? Tu vas bien ?<br />
      - Ah… ça fait bien mal. Sur le coup, j'avais oublié cette histoire de sort de masque contre les dragon.<br />
      - Fait plus attention ! C'est tout le groupe que tu mets en danger dans ces cas là, t'incendie Lasseni.</p>

    <p>Tout le monde félicite Rem pour son sort, il a l'air d'être particulièrement doué avec les sorts de combat. Mais ayant vécu dans les marais toute sa vie, il vous dit que si on veut vivre vieux ici on doit connaitre ce genre de sort mieux que les autres.</p>

    <p>Malheureusement - ou heureusement - le brouillard revient déjà.</p>

  </div>

  <div class="choix">
    <div class="ch magie-verte" data-go="34">Suivre les traces de la créature</div>
    <div class="ch magie-noire fin fin-1 fin-2 fin-3 fin-4 fin-5 fin-autre" data-go="35">Suivre la direction de l'énergie</div>
    <div class="ch magie-noire fin fin-6" data-go="35">Montrer la bonne direction de l'énergie à Lasseni</div>
    <div class="ch magie-noire fin fin-6" data-go="36">Montrer une fausse direction à Lasseni</div>
  </div>

</div>
