<div class="num num-1-2-43">

  <div class="text">
    <h1>- 43 -</h1>

    <p>
      Dans le cas d'un combat, ton sort de "main de feu" a toujours été ton plus utile. Mais tu te dis que les sorts de feu ne doivent pas fonctionner contre les dragons rouges. Alors tu décides d'essayer un sort de "glaciation". Le dragon fonce sur toi. Tes amis ont tous utilisé un sort de masque pour se transformer en souche d'arbre ou en rocher… Oups, c'est vrai tu te rappelles maintenant que vous aviez tous décidé de vous cacher si vous tombiez sur un dragon.
    </p>

    <p class="magie-noire fin fin-6">
      Ton sort est quand même parfait, avec l'eau stagnante des marais tu es dans l'endroit idéal pour un sort d'eau. L'eau s'envole en direction du dragon et se transforme en morceaux de glace acérés qui lui déchirent les ailes. Mais ton sort se met à augmenter en puissance, les morceaux de glace deviennent plus gros et découpent le dragon en petits morceaux. La bête s'écroule morte devant toi. Tu es à deux doigts de vomir devant la boucherie que tu viens de faire.
    </p>
    <p class="magie-verte fin fin-6">
      Ton sort est quand même parfait, avec l'eau stagnante des marais tu es dans l'endroit idéal pour un sort d'eau. Au moment où le dragon pique sur toi, un mur de glace se dresse juste devant lui avec des piques de glaces se dressant contre lui. Il le percute tellement vite qu'il se fait transpercer par les piques. Le dragon reste collé à ton mur de glace dans une mare de sang. Tu ne voulais pas créer ces piques mais ils sont apparus quand même.
    </p>

    <p class="magie-noire fin fin-1 fin-2 fin-3 fin-4 fin-5 fin-autre">
      Ton sort est quand même parfait, avec l'eau stagnante des marais tu es dans l'endroit idéal pour un sort d'eau. L'eau s'envole en direction du dragon et se transforme en morceaux de glace acérés qui lui déchirent les ailes. La bête tombe à terre devant toi et la glace l'enrobe en entier. Il ne peut plus bouger. Tu ne t'attendais pas à ce que cela fonctionne si bien. Tu viens de battre un dragon seul<span class="sf">e</span>, il était petit mais tu es fi<span class="sf">ère</span><span class="sg">er</span> de toi.
    </p>
    <p class="magie-verte fin fin-1 fin-2 fin-3 fin-4 fin-5 fin-autre">
      Ton sort est quand même parfait, avec l'eau stagnante des marais tu es dans l'endroit idéal pour un sort d'eau. Au moment où le dragon pique sur toi, un mur de glace se dresse juste devant lui. Il le percute tellement vite qu'il le fait éclater mais s'assomme aussitôt. Tu viens de battre un dragon seul<span class="sf">e</span>, il était petit mais tu es fi<span class="sf">ère</span><span class="sg">er</span> de toi.
    </p>

    <p>- Ça va pas !? te lance Lasseni. Tu aurais pu y rester. On a dit "contre un dragon on lance un sort de masque". Tu te rappelles ?<br />
      - J'avais oublié… bon on va pas en faire une histoire. Je l'ai vaincu quand même.<br />
      - Tu es sous mes ordres. On ne prend pas de risque inutile. Si tu ne penses pas à toi, pense au reste du groupe.</p>

    <p>Mac Lumy te réconforte un peu, même si tu sais que Lasseni a raison. C'est juste un oubli, ça aurait pu être pire quand même. Rem, lui, est impressionné. Il te dit qu'il ne pensait pas qu'il existe un jeune de ton niveau à l'académie. Arrogant, le petit.</p>

    <p>Malheureusement - ou heureusement - le brouillard revient déjà.</p>

  </div>

  <div class="choix">
    <div class="ch magie-verte" data-go="34">Suivre les traces de la créature</div>
    <div class="ch magie-noire fin fin-1 fin-2 fin-3 fin-4 fin-5 fin-autre" data-go="35">Suivre la direction de l'énergie</div>
    <div class="ch magie-noire fin fin-6" data-go="35">Montrer la bonne direction de l'énergie à Lasseni</div>
    <div class="ch magie-noire fin fin-6" data-go="36">Montrer une fausse direction à Lasseni</div>
  </div>

</div>
