<div class="num num-1-2-44">

  <div class="text">
    <h1>- 44 -</h1>

    <!-- MAC LUMY + LASSENI + REM + TOI + KONAKEY 1 -->
    <!-- MAC LUMY + LASSENI + NAO + TOI + KONAKEY 2 -->

    <!-- MAC LUMY + LASSENI + NAO + TOI  3 -->
    <!-- MAC LUMY + LASSENI + REM + TOI  4 -->

    <!-- MAC LUMY + LASSENI + NAO + TOI + KANNAN 5 -->
    <!-- MAC LUMY + LASSENI + REM + TOI + KANNAN 6 -->

    <!-- MAC LUMY + LASSENI + REM + TOI YMIR + KANNAN 7 -->
    <!-- MAC LUMY + LASSENI + REM + TOI YMIR 8 -->
    <!-- TOI YMIR 9 -->
    <!-- TOI YMIR + KANNAN 10 -->

    <div class="numgroupe numgroupe-1 numgroupe-2 numgroupe-3 numgroupe-4 numgroupe-5 numgroupe-6 numgroupe-7 numgroupe-8">
      <p>Vous arrivez péniblement à l'endroit prévu. Les marais ne sont pas vraiment un endroit facile où se repérer. Le soleil n'est presque pas visible à travers le brouillard. Vous rencontrez également des tonnes de créatures toutes plus étranges les unes que les autres. Mais finalement aucune ne vous a attaqué.</p>

      <p>Vous reconnaissez facilement l'endroit puisque vous étiez tous avec un sort de lumière et en arrivant à cet endroit précis votre lumière s'est transformée en glace. Vous en avez conclu que cet endroit déformait la magie comme indiqué dans le grimoire.</p>

      <p>- Il y a forcément quelque chose dans le coin, lance Lasseni. Cherchez si vous voyez quelque chose d'inhabituel.</p>

      <p>Tu as beau regarder aux alentours tu ne vois absolument rien d'autre que des arbres à moitié morts et de la boue. En t'observant dans une mare tu vois que tu t'es d'ailleurs complètement sali ta cape. Tu pestes en essayant d'enlever la boue sans résultat. Et au moment où tu allais rejoindre les autres tu notes que ton reflet dans la mare est resté le même. Tu as beau changer de position, ton reflet, lui, reste au même endroit.</p>

      <p class="av-courageux">
        Tu approches lentement ta main de la mare en question et effleures la surface de l'eau avec ton gant. Tu ne notes rien de spécial, ton reflet a même repris la position qu'il aurait dû toujours avoir. Mais...l'eau est restée accrochée à tes doigts. Tu es même attiré<span class="sf">e</span> avec force à l'intérieur de la mare. De plus en plus.<br /><br />
        - J'AI TROUVE QUELQUE CHOSE ! cries-tu pour demander de l'aide.<br /><br />
        Mac Lumy est le premier à arriver en courant :<br /><br />
        - Qu'est-ce qu'y se passe ? demande-t-il.<br />
        - Y a cette mare qui… commences-tu<br /><br />
        Mais tu n'as pas le temps de finir ta phrase que tu es happé<span class="sf">e</span> dans la mare d'un coup sec comme si quelqu'un te tirait le bras.<br /><br />
        <span class="fin fin-6">- Ne T'iNQuIETEs pAS CeCI eST lE PAssAGE PoUR eUPHoRiA, mON NoUveAU ROyAUme ! BiEnveNUE a Toi sERviTEuR <span class="tonnom"></span><br /></span>
        Tu ne vois bientôt plus rien mais, bizarrement, tu arrives à respirer.
      </p>
      <p class="av-pas-courageux">
        - HEY ! J'AI UN TRUC BIZARRE ICI ! cries-tu pour rameuter le groupe.<br /><br />
        Tout le monde se rassemble autour de toi et tu leurs montres le reflet dans la mare qui ne correspond pas à votre image réelle.<br /><br />
        - C'est de la magie, quelqu'un a enchanté la mare, dit Mac Lumy.<br />
        - C'est peut-être dangereux, non ? fais-tu.<br />
        - C'est sûr qu'on va d'abord étudier ça avant de...Tu fais quoi Mac ?! s'écrie Lasseni.<br /><br />
        Mac Lumy était en train de poser sa main à la surface de l'eau. Aussitôt sa main semble collée à l'eau.<br /><br />
        - J'ai l'impression d'être attiré dans l'eau, s'exclame Mac Lumy.<br /><br />
        Tu lances un sort de "racines" pour retenir le pauvre mage, pendant que Lasseni glace la mare. Mais il est maintenant collé à la mare dans une position ridicule.<br /><br />
        - Je peux plus bouger du tout maintenant ! Aidez-moi !<br /><br />
        Vous essayez de le tirer de là par la force, mais d'un coup la glace craque, les racines sont arrachées et Mac Lumy est aspiré dans la mare. Lasseni qui était accrochée à lui coule également.
      </p>
    </div>

    <div class="numgroupe numgroupe-10">
      <p>Vous arrivez péniblement à l'endroit prévu. Les marais ne sont pas vraiment un endroit facile où se repérer. Le soleil n'est presque pas visible à travers le brouillard. Vous rencontrez également des tonnes de créatures toutes plus étranges les unes que les autres. Mais finalement aucune ne vous a attaqué.</p>

      <p>Vous reconnaissez facilement l'endroit puisque vous étiez avec un sort de lumière et en arrivant à cet endroit précis votre lumière s'est transformée en glace. Vous en avez conclu que cet endroit déformait la magie comme indiqué dans le grimoire.</p>

      <p>- Il y a forcément quelque chose dans le coin, lance <span class="aveck-nom"></span>. Regarde si tu vois quelque chose d'inhabituel.</p>

      <p>Tu as beau regarder aux alentours tu ne vois absolument rien d'autre que des arbres à moitié morts et de la boue. En t'observant dans une mare tu vois que tu t'es d'ailleurs complètement sali ta cape. Tu pestes en essayant d'enlever la boue sans résultat. Et au moment où tu allais rejoindre les autres tu notes que ton reflet dans la mare est resté le même. Tu as beau changer de position, ton reflet, lui, reste au même endroit.</p>

      <p>
        Tu approches lentement ta main de la mare en question et effleures la surface de l'eau avec ton gant. Tu ne notes rien de spécial, ton reflet a même repris la position qu'il aurait dû toujours avoir. Mais...l'eau est restée accrochée à tes doigts. Tu es même attiré<span class="sf">e</span> avec force à l'intérieur de la mare. De plus en plus.<br /><br />
        - J'AI TROUVE QUELQUE CHOSE ! cries-tu pour demander de l'aide.<br /><br />
        <span class="aveck-nom"></span> arrive en courant :<br /><br />
        - Qu'est-ce qu'y se passe ? demande-t-<span class="sfg-g">il</span><span class="sfg-f">elle</span>.<br />
        - Y a cette mare qui... commences-tu<br /><br />
        Mais tu n'as pas le temps de finir ta phrase que tu es happé<span class="sf">e</span> dans la mare d'un coup sec comme si quelqu'un te tirait le bras.<br /><br />
        Tu ne vois bientôt plus rien mais, bizarrement, tu arrives à respirer.
      </p>
    </div>

    <div class="numgroupe numgroupe-9">
      <p>Tu arrives péniblement à l'endroit prévu. Les marais ne sont pas vraiment un endroit facile où se repérer. Le soleil n'est presque pas visible à travers le brouillard. Tu rencontres également des tonnes de créatures toutes plus étranges les unes que les autres. Mais finalement aucune ne t'a attaqué.</p>

      <p>Tu reconnais facilement l'endroit puisque tu étais avec un sort de lumière et en arrivant à cet endroit précis ta lumière s'est transformée en glace. Tu en as conclu que cet endroit déformait la magie comme indiqué dans le grimoire.</p>

      <p>- Il y a forcément quelque chose dans le coin, te dis-tu. Il faut que je cherche aux alentours.</p>

      <p>Tu as beau regarder partout tu ne vois absolument rien d'autre que des arbres à moitié morts et de la boue. En t'observant dans une mare tu vois que tu t'es d'ailleurs complètement sali ta cape. Tu pestes en essayant d'enlever la boue sans résultat. Et au moment où tu allais rejoindre les autres tu notes que ton reflet dans la mare est resté le même. Tu as beau changer de position, ton reflet, lui, reste au même endroit.</p>

      <p>
        Tu approches lentement ta main de la mare en question et effleures la surface de l'eau avec ton gant. Tu ne notes rien de spécial, ton reflet a même repris la position qu'il aurait dû toujours avoir. Mais...l'eau est restée accrochée à tes doigts. Tu es même attiré<span class="sf">e</span> avec force à l'intérieur de la mare. De plus en plus.<br /><br />
        - Ha ? Je crois que là j'ai fait une boulette.<br /><br />
        Et d'un coup, tu es happé<span class="sf">e</span> dans la mare d'un coup sec comme si quelqu'un te tirait le bras.<br /><br />
        Tu ne vois bientôt plus rien mais, bizarrement, tu arrives à respirer.
      </p>
    </div>

  </div>

  <div class="choix">
    <div class="ch numgroupe numgroupe-1 numgroupe-2 numgroupe-3 numgroupe-4 numgroupe-5 numgroupe-6 numgroupe-7 numgroupe-8 av-courageux" data-go="45">Sortir de la mare</div>
    <div class="ch numgroupe numgroupe-1 numgroupe-2 numgroupe-3 numgroupe-4 numgroupe-5 numgroupe-6 numgroupe-7 numgroupe-8 av-pas-courageux" data-go="46">Plonger dans la mare à ton tour</div>
    <div class="ch numgroupe numgroupe-10 numgroupe-9" data-go="45">Sortir de la mare</div>
  </div>

</div>
