<div class="num num-1-2-45">

  <div class="text">
    <h1>- 45 -</h1>

    <!-- MAC LUMY + LASSENI + REM + TOI + KONAKEY 1 -->
    <!-- MAC LUMY + LASSENI + NAO + TOI + KONAKEY 2 -->

    <!-- MAC LUMY + LASSENI + NAO + TOI  3 -->
    <!-- MAC LUMY + LASSENI + REM + TOI  4 -->

    <!-- MAC LUMY + LASSENI + NAO + TOI + KANNAN 5 -->
    <!-- MAC LUMY + LASSENI + REM + TOI + KANNAN 6 -->

    <!-- MAC LUMY + LASSENI + REM + TOI YMIR + KANNAN 7 -->
    <!-- MAC LUMY + LASSENI + REM + TOI YMIR 8 -->
    <!-- TOI YMIR 9 -->
    <!-- TOI YMIR + KANNAN 10 -->

    <div class="numgroupe numgroupe-1 numgroupe-2 numgroupe-3 numgroupe-4 numgroupe-5 numgroupe-6 numgroupe-7 numgroupe-8">
      <p>Au bout d'un moment tu vois une lumière, tu t'en rapproches le plus vite possible en nageant. C'est une sortie. La lumière frappe tes yeux en sortant de l'eau. Tu te tiens dans une sorte de puits en pierre. Au milieu d'une formidable prairie, remplies de jolies fleurs. Aucun nuage, le ciel est bleu, magnifique. La brise est douce. Tu enjambes le puits pour admirer le paysage et ne réalises qu'après quelques minutes que tu n'es pas du tout mouillé<span class="sf">e</span>.</p>

      <p class="numgroupe numgroupe-1">
        Mac Lumy sort la tête du puits à son tour. Il a dû plonger également pour te suivre. Puis Rem et Konakey sortent également. Finalement Lasseni suit et tout le monde se retrouve à cet étrange endroit.
      </p>

      <p class="numgroupe numgroupe-2">
        Mac Lumy sort la tête du puits à son tour. Il a dû plonger également pour te suivre. Puis Nao et Konakey sortent également. Finalement Lasseni suit et tout le monde se retrouve à cet étrange endroit.
      </p>

      <p class="numgroupe numgroupe-3">
        Mac Lumy sort la tête du puits à son tour. Il a dû plonger également pour te suivre. Puis Nao arrive à son tour. Finalement Lasseni suit et tout le monde se retrouve à cet étrange endroit.
      </p>

      <p class="numgroupe numgroupe-4 numgroupe-8">
        Mac Lumy sort la tête du puits à son tour. Il a dû plonger également pour te suivre. Puis Rem arrive à son tour. Finalement Lasseni suit et tout le monde se retrouve à cet étrange endroit.
      </p>

      <p class="numgroupe numgroupe-5">
        Mac Lumy sort la tête du puits à son tour. Il a dû plonger également pour te suivre. Puis Nao et <span class="fort-nom"></span> sortent également. Finalement Lasseni suit et tout le monde se retrouve à cet étrange endroit.
      </p>

      <p class="numgroupe numgroupe-6 numgroupe-7">
        Mac Lumy sort la tête du puits à son tour. Il a dû plonger également pour te suivre. Puis Rem et <span class="fort-nom"></span> sortent également. Finalement Lasseni suit et tout le monde se retrouve à cet étrange endroit.
      </p>

      <p>- Je crois qu'on a découvert l'entrée d'un royaume caché, dis-tu à tout le monde.<br />
      - Ça paraît trop beau pour être vrai, répond Lasseni. Il doit y avoir un sort d'illusion. On est au milieu des marais, cet endroit ne peut pas être réel.<br />
      - S'il n'est pas réel...Je veux dire, tu imagines la puissance magique qu'il faudrait pour faire un sort pareil ? s'exclame <span class="numgroupe numgroupe-2 numgroupe-3 numgroupe-5">Nao</span><span class="numgroupe numgroupe-1 numgroupe-4 numgroupe-6 numgroupe-7 numgroupe-8">Rem</span>.<br />
      - Regardez ! On dirait qu'il y a quelqu'un là-bas ! montre Mac Lumy</p>

      <p>Un peu plus loin, sous un arbre vous distinguez une femme debout qui n'a pas l'air de vous avoir vu. Vous vous rapprochez tout en restant tout de même sur vos gardes. Tu remarques qu'il n'y a aucun dragon dans le ciel ni aucun animal d'ailleurs partout où ton regard se pose.</p>

      <p class="fin fin-6">Soufflardent t'a dit qu'il s'agissait de son royaume "Euphoria". Tu ne t'attendais quand même pas à quelque chose d'aussi beau.</p>

      <p>Plus tu t'approches de la femme et plus tu te dis qu'il y a quelque chose d'étrange : elle ne bouge pas du tout et regarde dans la même direction depuis tout à l'heure.</p>

      <p>- Madame ? lui demande Lasseni de loin. Madame ?</p>

      <p>Mais aucune réaction de sa part. Même à côté d'elle, la femme reste sans réaction. </p>

      <p>
        <span class="numgroupe numgroupe-1 numgroupe-4 numgroupe-6 numgroupe-7 numgroupe-8">- C'est Emma, une femme du village qui a disparu, vous dit Rem.<br />
        - Elle a pas l'air en forme, dis-tu.<br />
        - Vous croyez qu'elle est devenue une adoratrice de Soufflardent...commence Mac Lumy<br /><br />
        Dès qu'elle entend le nom du grand dragon d'onyx la femme se tourne vers Mac Lumy :<br /><br />
        - INTRUS !!!!! hurle-t-elle en se jetant sur le jeune mage.</span>
        <span class="numgroupe numgroupe-2 numgroupe-3 numgroupe-5">Tu la reconnais. C'est Emma une femme du village qui a disparu, Emma. Tu expliques ça aux autres.<br /><br />- Elle a pas l'air en forme, dit Lasseni.<br />
        - Vous croyez qu'elle est devenue une adoratrice de Soufflardent...commence Mac Lumy<br /><br />
        Dès qu'elle entend le nom du grand dragon d'onyx la femme se tourne vers Mac Lumy :<br /><br />
        - INTRUS !!!!! hurle-t-elle en se jetant sur le jeune mage.</span>
      </p>

      <p>La pauvre femme n'est pas mage et il n'est pas difficile pour votre groupe de la maitriser même si elle vous a bien surpris. Pendant que vous la maintenez au sol vous voyez que ces yeux sont devenus complètement noirs, sans pupille. Et que ses dents sont devenues semblables à celles d'un animal carnivore : plus longues et plus acérées.</p>

      <p>Mais malgré ses cris, personne ne vient pour l'aider.<br /><br />
        - Où sont les autres ? Il y a 10 personnes à avoir disparu.<br />
        - Soufflardent les a peut-être transformés en dragon, tente d'expliquer Lasseni. Regardez : cette femme, ces yeux noirs comme les dragons. Et ses dents aussi.<br />
        - Soufflardent est endormi : il ne peut pas faire ça ! s'exclame <span class="numgroupe numgroupe-2 numgroupe-3 numgroupe-5">Nao</span><span class="numgroupe numgroupe-1 numgroupe-4 numgroupe-6 numgroupe-7 numgroupe-8">Rem</span>.<br />
        - Dans ce cas il y a peut-être un mage surpuissant qui peut le faire, se lamente Lasseni.
      </p>

      <p>Le ciel s'assombrit au loin, un orage semble proche. Et il fonce sur vous.</p>

      <p class="numgroupe numgroupe-1 numgroupe-2">- Cet orage ne semble pas naturel, dit Konakey. Je propose de partir avec cette femme le plus vite possible.</p>
      <p class="numgroupe numgroupe-5 numgroupe-6">- Cet orage ne semble pas naturel, dit <span class="fort-nom"></span>. Je propose de partir avec cette femme le plus vite possible.</p>
      <p class="numgroupe numgroupe-3 numgroupe-4 numgroupe-7 numgroupe-8">- Cet orage ne semble pas naturel, dit Mac Lumy. Je propose de partir avec cette femme le plus vite possible.</p>

      <p>Vous ficelez la femme avec un sort de racine et vous vous précipitez vers le puits pour partir.</p>

    </div>

    <div class="numgroupe numgroupe-10">
      <p>Au bout d'un moment tu vois une lumière, tu t'en rapproches le plus vite possible en nageant. C'est une sortie. La lumière frappe tes yeux en sortant de l'eau. Tu te tiens dans une sorte de puits en pierre. Au milieu d'une formidable prairie, remplies de jolies fleurs. Aucun nuage, le ciel est bleu, magnifique. La brise est douce. Tu enjambes le puits pour admirer le paysage et ne réalises qu'après quelques minutes que tu n'es pas du tout mouillé<span class="sf">e</span>.</p>

      <p>
        <span class="aveck-nom"></span> sort la tête du puits à son tour. <span class="sfg-f">Elle</span><span class="sfg-g">Il</span> a dû plonger également pour te suivre.
      </p>

      <p>- Je crois qu'on a découvert l'entrée d'un royaume caché, lui dis-tu.<br />
      - Ça paraît trop beau pour être vrai, répond-<span class="sfg-f">elle</span><span class="sfg-g">il</span>. Il doit y avoir un sort d'illusion. On est au milieu des marais, cet endroit ne peut pas être réel.<br />
      - S'il n'est pas réel...Je veux dire, tu imagines la puissance magique qu'il faudrait pour faire un sort pareil ? t'exclames-tu.<br />
      - Regarde on dirait qu'il y a quelqu'un là-bas ! montre <span class="aveck-nom"></span></p>

      <p>Un peu plus loin, sous un arbre vous distinguez une femme debout qui n'a pas l'air de vous avoir vu. Vous vous rapprochez tout en restant tout de même sur vos gardes. Tu remarques qu'il n'y a aucun dragon dans le ciel ni aucun animal d'ailleurs partout où ton regard se pose.</p>

      <p>Plus tu t'approches de la femme et plus tu te dis qu'il y a quelque chose d'étrange : elle ne bouge pas du tout et regarde dans la même direction depuis tout à l'heure.</p>

      <p>- Madame ? lui demandes-tu de loin. Madame ?</p>

      <p>Mais aucune réaction de sa part. Même à côté d'elle, la femme reste sans réaction. </p>

      <p>
        - Elle a pas l'air en forme, dis-tu.<br />
        - Tu crois qu'elle est devenue une adoratrice de Soufflardent... commence <span class="aveck-nom"></span><br /><br />
        Dès qu'elle entend le nom du grand dragon d'onyx la femme se tourne vers ton ami<span class="sfg-f">e</span> :<br /><br />
        - INTRUS !!!!! hurle-t-elle en se jetant sur <span class="aveck-nom"></span>.
      </p>

      <p>La pauvre femme n'est pas mage et il n'est pas difficile pour vous deux de la maitriser même si elle vous a bien surpris. Pendant que vous la maintenez au sol vous voyez que ces yeux sont devenus complètement noirs, sans pupille. Et que ses dents sont devenues semblables à celles d'un animal carnivore : plus longues et plus acérées.</p>

      <p>Mais malgré ses cris, personne ne vient pour l'aider.<br /><br />
        - C'est quoi ce truc ? demande <span class="aveck-nom"></span><br />
        - C'est une des personnes disparues, dit une voix derrière vous.
      </p>

      <p>D'une volte-face brutale vous voyez Lasseni et son groupe. Ils ont été bien discrets et ont profité de votre bataille avec la femme pour s'approcher sans se faire voir.</p>

      <p>- Vous voulez la bagarre ? s'énerve <span class="aveck-nom"></span><br />
        - Laisse tomber, cette femme ne vous intéresse pas je suppose. laissez-la nous, on la ramènera au village, répond Lasseni.<br />
        - On vous la laisse...effectivement on n'est pas là pour elle, dis-tu.<br />
        - On pourrait peut-être mettre nos informations en commun, non ? propose Mac Lumy.</p>

        <p>Pendant que vous réfléchissez à la proposition, le ciel s'assombrit au loin, un orage semble proche. Et il fonce sur vous.</p>

        <p>- Cet orage ne semble pas naturel, dit Rem le troisième mage du groupe de Lasseni. Je propose de partir avec cette femme le plus vite possible.</p>

        <p>Vous ficelez la femme avec un sort de racine et vous vous précipitez vers le puits pour partir.</p>
    </div>

    <div class="numgroupe numgroupe-9">
      <p>Au bout d'un moment tu vois une lumière, tu t'en rapproches le plus vite possible en nageant. C'est une sortie. La lumière frappe tes yeux en sortant de l'eau. Tu te tiens dans une sorte de puits en pierre. Au milieu d'une formidable prairie, remplies de jolies fleurs. Aucun nuage, le ciel est bleu, magnifique. La brise est douce. Tu enjambes le puits pour admirer le paysage et ne réalises qu'après quelques minutes que tu n'es pas du tout mouillé<span class="sf">e</span>.</p>

      <p>- Je crois qu'on a découvert l'entrée d'un royaume caché, te dis-tu.<br /><br />
      Mais ça paraît trop beau pour être vrai. Il doit y avoir un sort d'illusion. Tu es au milieu des marais, cet endroit ne peut pas être réel.</p>

      <p>Un peu plus loin, sous un arbre tu distingues une femme debout qui n'a pas l'air de t'avoir vu. Tu t'en rapproches tout en restant tout de même sur tes gardes. Tu remarques qu'il n'y a aucun dragon dans le ciel ni aucun animal d'ailleurs partout où ton regard se pose.</p>

      <p>Plus tu t'approches de la femme et plus tu te dis qu'il y a quelque chose d'étrange : elle ne bouge pas du tout et regarde dans la même direction depuis tout à l'heure.</p>

      <p>- Madame ? lui demandes-tu de loin. Madame ?</p>

      <p>Mais aucune réaction de sa part. Même à côté d'elle, la femme reste sans réaction. </p>

      <p>
        - C'est peut-être une adoratrice de Soufflardent... dis-tu tout haut<br /><br />
        Dès qu'elle entend le nom du grand dragon d'onyx la femme se tourne vers toi :<br /><br />
        - INTRUSE !!!!! hurle-t-elle en se jetant sur toi.
      </p>

      <p>La pauvre femme n'est pas mage et il n'est pas difficile pour toi de la maitriser même si elle t'a bien surpris. Pendant que tu la maintiens au sol avec un sort de glaciation tu vois que ces yeux sont devenus complètement noirs, sans pupille. Et que ses dents sont devenues semblables à celles d'un animal carnivore : plus longues et plus acérées.</p>

      <p>Mais malgré ses cris, personne ne vient pour l'aider.<br /><br />
        - C'est quoi ce truc ? te demandes-tu à toi-même<br />
        - C'est une des personnes disparues, dit une voix derrière toi.
      </p>

      <p>D'une volte-face brutale tu vois Lasseni et son groupe. Ils ont été bien discrets et ont profité de ta bataille avec la femme pour s'approcher sans se faire voir.</p>

      <p>- Encore toi ? t'énerves-tu<br />
        - Laisse tomber, cette femme ne vous intéresse pas je suppose. laisse-la nous, on la ramènera au village, répond Lasseni.<br />
        - Ok je te la laisse...effectivement je ne suis pas là pour elle, dis-tu.<br />
        - On pourrait peut-être mettre nos informations en commun, non ? propose Mac Lumy.</p>

        <p>Pendant que tu réfléchis à la proposition, le ciel s'assombrit au loin, un orage semble proche. Et il fonce sur vous.</p>

        <p>- Cet orage ne semble pas naturel, dit Rem le troisième mage du groupe de Lasseni. Je propose de partir avec cette femme le plus vite possible.</p>

        <p>Vous ficelez la femme avec un sort de racine et vous vous précipitez vers le puits pour partir.</p>
    </div>

  </div>

  <div class="choix">
    <div class="ch" data-go="50">S'enfuir de cet endroit</div>
  </div>

</div>
