<div class="num num-1-2-47">

  <div class="text">
    <h1>- 47 -</h1>


    <p>Les tambours se font plus proches, puis vous voyez un peu plus loin une dizaine de personnes en train d'effectuer une sorte de rite. Aussitôt, vous vous cachez derrière des joncs, allongés dans la boue, pour pas qu'on vous voit. </p>

    <p>L'un des protagonistes a l'air d'être une sorte de prêtre ou de sorcier, il tient un braséro d'encens dans la main droite et donne une coupe à boire à une autre personne. Quand la personne a fini de boire, tous les autres lancent un grand cri de joie. Puis le prêtre les invite tous à le suivre.</p>

    <p>C'est là que la cérémonie devient étrange. Le prêtre commence à s'avancer dans le marais et s'enfonce complètement dans une des mares à côté. Les musiciens le suivent, ainsi que toutes les autres personnes. Chacun passe à la queue leu-leu pour disparaitre dans le marais. Vous avez beau attendre : aucun ne ressort.</p>

    <p>- Ils se sont peut-être noyés, dit Mac Lumy tout bas.<br />
      - Tu es sérieux ? lui réponds-tu.<br />
      - J'ai l'impression qu'on a assisté à une initiation, explique Lasseni. Celle qui a bu dans la coupe devait être nouvelle.<br />
      <span class="rem">- Toutes ces personnes...c'est toutes des personnes du village, dit Rem dans un souffle.<br /></span>
      <span class="nao">- Toutes ces personnes...c'est toutes des personnes du village, dis-tu.<br /></span>
      - On est sur la bonne piste alors, dit Lasseni.</p>

    <p>Vous restez un peu à murmurer dans la boue avant de décider de sortir de votre cachette. Vous vous approchez de la mare où les dix personnes se sont engouffrées.</p>

    <p>- Qui veut passer le premier ? dit Mac Lumy un peu hésitant.</p>

    <p class="av-courageux">- J'y vais, dis-tu.<br /><br />
      Lasseni, acquiesce de la tête, lance un sort de racine particulièrement long et t'en donne un morceau. Tu enroules le bout à ton poignet et Mac Lumy l'autre côté au sien. Lasseni et <span class="rem">Rem</span><span class="nao">Nao</span> font de même. On ne sait jamais, quoiqu'il arrive dans cette mare, au moins vous serez avec votre binôme. Tu plonges en premi<span class="sf">ère</span><span class="sg">er</span>.<br />
      Tu ne vois bientôt plus rien mais, bizarrement, tu arrives à respirer.
    </p>
    <p class="av-pas-courageux">- J'y vais, dit <span class="rem">Rem</span><span class="nao">Nao</span>.<br /><br />
      Lasseni, acquiesce de la tête, lance un sort de racine particulièrement long et lui en donne un morceau. Il enroule le bout à son poignet et Mac Lumy l'autre côté au sien. Lasseni et toi faites de même. On ne sait jamais, quoiqu'il arrive dans cette mare, au moins vous serez avec votre binôme. <span class="rem">Rem</span><span class="nao">Nao</span> plonge en premier. Mac Lumy suit, puis c'est votre tour et tu t'engouffres dans la mare en retenant ton souffle.<br />
      Tu ne vois bientôt plus rien mais, bizarrement, tu arrives à respirer.
      <span class="fin fin-6"><br /><br />- Ne T'iNQuIETEs pAS CeCI eST lE PAssAGE PoUR eUPHoRiA, mON NoUveAU ROyAUme ! BiEnveNUE a Toi sERviTEuR <span class="tonnom"></span></span>
    </p>

  </div>

  <div class="choix">
    <div class="ch" data-go="48">Continuer à nager</div>
  </div>

</div>
