<div class="num num-1-2-48">

  <div class="text">
    <h1>- 48 -</h1>

      <p>Au bout d'un moment tu vois une lumière, tu t'en rapproches le plus vite possible en nageant. C'est une sortie. La lumière frappe tes yeux en sortant de l'eau. Tu te tiens dans une sorte de puits en pierre. Au milieu d'une formidable prairie, remplie de jolies fleurs. Aucun nuage, le ciel est bleu, magnifique. La brise est douce. Tu enjambes le puits pour admirer le paysage et ne réalises qu'après quelques minutes que tu n'es pas du tout mouillé<span class="sf">e</span>.

      <span class="av-courageux">Tu aides Mac Lumy à sortir du puits. <span class="rem">Rem</span><span class="nao">Nao</span> arrive à son tour. Enfin Lasseni sort à son tour. Et après vous être débarrassé de vos racines vous essayez de trouver les personnes qui vous ont précédées.</span>
      <span class="av-pas-courageux">Mac Lumy et <span class="rem">Rem</span><span class="nao">Nao</span> t'aident à descendre du puits. Tu vois Lasseni sortir à son tour. Et après vous être débarrassé de vos racines vous essayez de trouver les personnes qui vous ont précédées.</span>
      </p>

      <p>- Je crois qu'on a découvert l'entrée d'un royaume caché, dis-tu à tout le monde.<br />
      - Ça paraît trop beau pour être vrai, répond Lasseni. Il doit y avoir un sort d'illusion. On est au milieu des marais, cet endroit ne peut pas être réel.<br />
      - S'il n'est pas réel...Je veux dire, tu imagines la puissance magique qu'il faudrait pour faire un sort pareil ? s'exclame <span class="nao">Nao</span><span class="rem">Rem</span>.<br />
      - Regardez, on dirait qu'il y a quelqu'un là-bas ? montre Mac Lumy</p>

      <p>Un peu plus loin, sous un arbre vous distinguez une femme debout qui n'a pas l'air de vous avoir vu. Vous vous rapprochez tout en restant tout de même sur vos gardes. Tu remarques qu'il n'y a aucun dragon dans le ciel ni aucun animal d'ailleurs partout où ton regard se pose.</p>

      <p class="fin fin-6">Soufflardent t'a dit qu'il s'agissait de son royaume "Euphoria". Tu ne t'attendais quand même pas à quelque chose d'aussi beau.</p>

      <p>Plus tu t'approches de la femme et plus tu te dis qu'il y a quelque chose d'étrange : elle ne bouge pas du tout et regarde dans la même direction depuis tout à l'heure.</p>

      <p>- Madame ? lui demande Lasseni de loin. Madame ?</p>

      <p>Mais aucune réaction de sa part. Même à côté d'elle, la femme reste sans réaction. </p>

      <p>
        <span class="rem">- C'est Emma, une femme du village qui a disparu, vous dit Rem.<br />
        - Elle a pas l'air en forme, dis-tu.<br />
        - Vous croyez qu'elle est sous l'emprise d'un sort...commence Mac Lumy<br /><br />
        Dès qu'elle entend le nom du grand dragon d'onyx la femme se tourne vers Mac Lumy :<br /><br />
        - INTRUS !!!!! hurle-t-elle en se jetant sur le jeune mage.</span>
        <span class="nao">Tu la reconnais. C'est Emma une femme du village qui a disparu, Emma. Tu expliques ça aux autres.<br /><br />- Elle a pas l'air en forme, dit Lasseni.<br />
        - Vous croyez qu'elle est sous l'emprise d'un sort...commence Mac Lumy<br /><br />
        Dès qu'elle entend le nom du grand dragon d'onyx la femme se tourne vers Mac Lumy :<br /><br />
        - INTRUS !!!!! hurle-t-elle en se jetant sur le jeune mage.</span>
      </p>

      <p>La pauvre femme n'est pas mage et il n'est pas difficile pour votre groupe de la maitriser même si elle vous a bien surpris. Pendant que vous la maintenez au sol vous voyez que ces yeux sont devenus complètement noirs, sans pupille. Et que ses dents sont devenues semblables à celles d'un animal carnivore : plus longues et plus acérées.</p>

      <p>Mais malgré ses cris, personne ne vient pour l'aider.<br /><br />
        - Où sont les autres ? Il n'y a nulle part où se cacher ici. On devrait les voir, dit <span class="nao">Nao</span><span class="rem">Rem</span>.<br />
        - Ça ressemble à une transformation, tente d'expliquer Lasseni. Regardez : cette femme, ces yeux noirs comme les dragons. Et ses dents aussi.<br />
        - Qui peut faire ça ? demande Mac Lumy.<br />
        - Un mage surpuissant sûrement. Le type qu'on a vu tout à l'heure avait l'air d'être un mage, réfléchit Lasseni.
      </p>

      <p>Le ciel s'assombrit au loin, un orage semble proche. Et il fonce sur vous.</p>

      <p>- Cet orage ne semble pas naturel, dis-tu. Je propose de partir avec cette femme le plus vite possible.</p>

      <p>Vous ficelez la femme avec un sort de racine et vous vous précipitez vers le puits pour partir.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="50">S'enfuir de cet endroit</div>
  </div>

</div>
