<div class="num num-1-2-49">

  <div class="text">
    <h1>- 49 -</h1>


    <p>Les traces semblent plus difficiles à suivre, elles sont de plus en plus espacées comme si la créature avait courue à grandes enjambées. Et le brouillard devient si dense que vous êtes obligés de vous tenir la main pour ne pas vous perdre de vue.</p>

    <p>Soudain tu franchis une sorte de mur invisible : plus aucun brouillard ne gène ta vue. Tu es dans une sorte de clairière au milieu des marais. Les arbres sont verts et l'herbe est bonne. Plus de boue non plus. Un petit paradis au milieu des marais.</p>

    <p>Tes compagnons sont aussi estomaqués que toi.</p>

    <p class="rem">- Incroyable, dit Rem. Les marais ont été visités des centaines de fois. Personne n'a jamais parlé de cet endroit.<br />
    - peut-être que ça ne fait pas longtemps que ça existe, explique Lasseni.<br />
    - Si ça se trouve c'est là depuis que les gens ont commencé à disparaitre, fait Mac Lumy.</p>
    <p class="nao">- Incroyable, dis-tu. Les marais ont été visités des centaines de fois. Personne n'a jamais parlé de cet endroit.<br />
    - peut-être que ça ne fait pas longtemps que ça existe, explique Lasseni.<br />
    - Si ça se trouve c'est là depuis que les gens ont commencé à disparaitre, fait Nao.</p>

    <p>Votre discussion est interrompue par des bruits de tambours, provenant d'un peu plus loin, dans cette zone cachée des marais.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="47">Se diriger vers les tambours discrètement</div>
  </div>

  </div>
