<div class="num num-1-2-5">

  <div class="text">
    <h1>- 5 -</h1>

    <p>- La petite Lasseni ? Comment va-t-elle ?<br />
    - Très bien madame, en fait elle m'a conseillé de venir ici car j'ai un problème que quelqu'un pourrait peut-être m'aider à résoudre ici.</p>

    <p>La mage, Heldegarde, est surprise que tu connaisses Lasseni, visiblement elle aurait vécu quelques années près de la tour avant de partir avec un maître mage il y a quelques années.</p>

    <p>Tu expliques à Heldegarde ton parcours à l'académie et ton problème de tatouage dans le dos qui t'a volé tes pouvoirs magiques. Au fur et à mesure de tes récits, de plus en plus de mages viennent t'écouter. Au final cinq mages observent ton dos pour examiner le tatouage.</p>

    <p>- Humm. Je n'ai jamais vu une magie pareille. J'ai l'impression qu'elle n'est ni une magie de feu, du vent, de l'eau ou de la terre, dit Heldegarde.<br />
      - Une magie maudite qui peut en plus se transmettre aux personnes proches... c'est vraiment très particulier, renchérit un autre mage.</p>

    <p>Tout le monde a l'air bien embêté jusqu'à ce qu'un jeune mage, très beau gosse, assez grand entre dans la tour. Une vingtaine d'années, l'air sombre et très bien habillé.</p>

    <p>- Ha ! Fandrean, vient voir, <span class="sg">un ami</span><span class="sf">une amie</span> de ta soeur est arrivé<span class="sf">e</span> avec une magie inconnue.</p>

    <p>Tu écarquilles grand les yeux quand tu entends ça. Lasseni a un frère ?<br />Fandrean, qui vient d'arriver, pose sa cape sur une attache au mur et vient calmement te voir. Il te salue poliment et examine le tatouage. Tu ne vois pas ce qu'il fait mais tu ressens une douce chaleur dans ton dos au moment où il lance un sort.</p>

    <p>Il te fait te recouvrir, réfléchis et va consulter un livre qui était posé sur une étagère proche.<br />
      - Ne t'en fais pas, te dit Heldegarde. Fandrean est le mage le plus puissant de la tour actuellement. Si quelqu'un peut t'aider c'est lui.</p>

    <p>Tu te demandes pourquoi Lasseni ne t'a pas clairement dit d'aller voir son frère. En tout cas il a l'air très populaire à la tour d'Azano, contrairement à sa sœur à l'académie.</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="7">Attendre que Fandrean trouve un remède</div>
  </div>

</div>
