<div class="num num-1-2-50">

  <div class="text">
    <h1>- REPOS -</h1>

    <p>Vous soufflez un bon coup une fois retournés au village. Difficile de ne pas faire sensation, les villageois sont tous autour de vous quand vous revenez avec l'un des leurs.<br /><br />
    - Attention ! Fais-tu. Cette personne est peut-être dangereuse, ne vous approchez pas !<br />
    - EMMA ! EMMA ! crie une vieille femme.</p>

    <p class="numgroupe numgroupe-1 numgroupe-4 numgroupe-6 numgroupe-7 numgroupe-8">- C'est sa mère, vous murmure Rem.</p>
    <p class="numgroupe numgroupe-2 numgroupe-3 numgroupe-5">- Mince c'est sa mère, dis tu aux autres.</p>

    <p>- Madame, vous pourrez voir votre fille plus tard, pour le moment il ne faut pas vous en approcher, elle est certainement sous l'influence d'une magie maléfique, lui explique Lasseni. On l'emmène à la tour.</p>

    <p class="numgroupe numgroupe-1 numgroupe-2 numgroupe-3 numgroupe-4 numgroupe-5 numgroupe-6">Sans plus de précision, vous la portez jusqu'au centre de la ville, mais toujours suivi du regard par les villageois. En arrivant sur place Heldegarde vous ouvre la porte.</p>
    <p class="numgroupe numgroupe-7 numgroupe-8">Sans plus de précision, vous la portez jusqu'au centre de la ville, mais toujours suivi du regard par les villageois. En arrivant sur place un vieille mage habillée en aventurière - Heldegarde - vous ouvre la porte.</p>

    <p>- Fandrean est allé au mont des Alizés pour régler un problème mais il revient dans la journée, vous dit-elle.<br />
      - Mince, on aurait bien eu besoin de lui je pense, lui répond Lasseni.</p>

    <p>La femme est solidement ligotée sur un lit au deuxième étage, hors de vue des villageois qui commençaient à s'agglutiner devant les vitres du rez-de-chaussée de la tour.</p>

    <p class="numgroupe numgroupe-7 numgroupe-8">La tour n'est pas très grande. C'est normalement l'endroit où trouver le plus de mage de haut niveau après l'académie. Même si tu sais que la forteresse de la lune est beaucoup plus grande que cette tour. Au maximum 20 mages doivent habiter ici. Il n'y a que quelques étages et seulement 3 mages sont descendus quand vous êtes arrivés.</p>

    <p>Vous laissez Heldegarde observer la femme que vous avez ramené pendant que vous prenez une rasade d'Hydromiel pour vous rafraichir un peu. Lasseni décide de réunir tout le monde dans les quartiers de vie de la tour : en bas.</p>

    <!-- DOUBLE YMIR -->
    <div  class="numgroupe numgroupe-7">
      <p>- Bon, je crois que c'est le moment pour vous de nous en dire un peu plus : vous faites quoi ici ?</p>
      <p>Tu regardes <span class="fort-nom"></span> qui d'un geste te signifie qu'<span class="sfg-f">elle</span><span class="sfg-g">il</span> te laisse le choix de dire ce que tu veux.</p>
      <p>- Ecoutez. Hum...on est à la recherche d'Usaki donc. C'est une créature extraordinaire non humaine qui vient de...la lune.<br />
        - La lune ? intervient Mac Lumy.<br />
        - Oui je sais que déjà ça c'est dur à accepter. Il a pour but d'arrêter les adorateurs de Soufflardent, il était parti en mission et comme on n'avait plus de nouvelles de lui on est passé voir s'il ne lui était pas arrivé quelque chose.<br />
        - Donc...vous avez suivi une créature non-humaine, comme ça ? Sans poser de question ? Et comment avez-vous pu survivre ? Vous avez vécu où ?<br />
        - Ouais, là je crois qu'il faut que tout le monde s'asseye, prévient <span class="fort-nom"></span>. Où on a vécu ? Dans une forteresse dans les monts noirs, guidés par deux mages assez célèbres du nom de Ymir et Zaïra.
      </p>
      <p><span class="fort-nom"></span> vient de calmer tout le monde avec sa phrase. Puis petit à petit tout le monde se lance pour poser sa question. Certains vous traitent de menteurs, d'autres vous disent que vous avez été abusés et qu'Ymir et Zaïra ne peuvent pas être vivants, seule Lasseni vous regarde l'air sombre.</p>

      <p>- C'est Ymir et Zaïra qui vous ont envoyé en mission, c'est ça ? finit-elle par dire avec une moue qui laisse transparaitre une certaine colère.<br />
        - ... Oui je sais que ça peut paraitre dingue mais ils sont restés dans les monts noirs pour garder Soufflardent endormi, fais-tu. J'ai vu le dragon de mes propres yeux. On ne veut absolument pas combattre l'académie. Notre seul but c'est de trouver une solution définitive pour Soufflardent.<br />
        - Et visiblement il a réussi à trouver de plus en plus de disciples, ajoute <span class="fort-nom"></span>.</p>

      <p>Heldegarde qui venait de redescendre et vous a entendu fait irruption dans votre conversation :<br />
        - Je crois qu'il faut en tout cas qu'on mette tous nos efforts en commun pour lutter contre cette menace.<br />
        - Le rôle de l'académie est de lutter contre la magie clandestine, enrage Lasseni. Les mages renégats sont considérés comme illégaux, ils n'ont pas le droit de faire de magie...<br />
        - Nous arrêter est plus important pour toi que l'aide qu'on peut t'apporter, lui demandes-tu ?<br />
        - JE N'AI PAS BESOIN DE L'AIDE DE CEUX QUI M'ONT DEJA ABANDONNE ! s'exclame-t-elle.</<p>

      <p>Tu comprends qu'elle ne parle pas de toi et <span class="fort-nom"></span> mais d'Ymir et Zaïra. La rumeur comme quoi elle est leur descendante est vraie visiblement. Mais tu ne connais aucun détail de l'histoire.</p>

      <p>Alors que vous êtes au milieu de la journée, le ciel s'assombrit d'un coup. En regardant par la fenêtre vous avez l'impression que la tempête que vous aviez vu tantôt vous a suivi jusqu'ici.</p>
    </div>
    <!-- SIMPLE YMIR -->
    <div  class="numgroupe numgroupe-8">
      <p>- Bon, je crois que c'est le moment pour toi de nous en dire un peu plus : tu fais quoi ici exactement ?</p>
      <p>Tu te dis que c'est le moment de parler un peu plus de toi et de la forteresse de la lune.</p>
      <p>- Ecoutez. Hum...Je suis à la recherche d'Usaki donc. C'est une créature extraordinaire non humaine qui vient de...la lune.<br />
        - La lune ? intervient Mac Lumy.<br />
        - Oui je sais que déjà ça c'est dur à accepter. Il a pour but d'arrêter les adorateurs de Soufflardent, il était parti en mission et comme on n'avait plus de nouvelles de lui je suis passé<span class="sf">e</span> voir s'il ne lui était pas arrivé quelque chose.<br />
        - Donc...tu as suivi une créature non-humaine, comme ça ? Sans poser de question ? Et comment as-tu pu survivre ? Tu as vécu où ?<br />
        - Oui...heu...là je crois qu'il faut que tout le monde s'assoit, préviens-tu. Où j'ai vécu ?...Dans une forteresse dans les monts noirs, guidé<span class="sf">e</span> par deux mages assez célèbres du nom de...Ymir et Zaïra.
      </p>
      <p>Tu viens de calmer tout le monde avec ta phrase. Puis petit-à-petit tout le monde se lance pour poser sa question. Certains te traitent de menteu<span class="sf">se</span><span class="sg">r</span>, d'autres vous disent que tu as été abusé<span class="sf">e</span> et qu'Ymir et Zaïra ne peuvent pas être vivants, seule Lasseni te regarde l'air sombre.</p>

      <p>- C'est Ymir et Zaïra qui t'ont envoyé en mission, c'est ça ? finit-elle par dire avec une moue qui laisse transparaitre une certaine colère.<br />
        - … Oui je sais que ça peut paraitre dingue mais ils sont restés dans les monts noirs pour garder Soufflardent endormi, fais-tu. J'ai vu le dragon de mes propres yeux. On ne veut absolument pas combattre l'académie. Notre seul but c'est de trouver une solution définitive pour Soufflardent. Et visiblement il a réussi à trouver de plus en plus de disciples.</p>

      <p>Heldegarde qui venait de redescendre et vous a entendu fait irruption dans votre conversation :<br />
        - Je crois qu'il faut en tout cas qu'on mette tous nos efforts en commun pour lutter contre cette menace.<br />
        - Le rôle de l'académie est de lutter contre la magie clandestine, enrage Lasseni. Les mages renégats sont considérés comme illégaux, <span class="sf">elle</span><span class="sg">il</span> n'a pas le droit de faire de magie...<br />
        - M'arrêter est plus important pour toi que l'aide que je peux t'apporter, lui demandes-tu ?<br />
        - JE N'AI PAS BESOIN DE L'AIDE DE CEUX QUI M'ONT DEJA ABANDONNE ! s'exclame-t-elle.</<p>

      <p>Tu comprends qu'elle ne parle pas de toi mais d'Ymir et Zaïra. La rumeur comme quoi elle est leur descendante est vraie visiblement. Mais tu ne connais aucun détail de l'histoire.</p>

      <p>Alors que vous êtes au milieu de la journée, le ciel s'assombrit d'un coup. En regardant par la fenêtre vous avez l'impression que la tempête que vous aviez vu tantôt vous a suivi jusqu'ici.</p>
    </div>
    <!-- SIMPLE KANNAN -->
    <div  class="numgroupe numgroupe-5 numgroupe-6">
      <p>- Bon, je crois que c'est le moment pour toi de nous en dire un peu plus : tu fais quoi ici exactement ? demande Lasseni à <span class="fort-nom"></span></p>
      <p>Tu attends avec impatience sa réponse. Tu te poses aussi plein de questions.</p>
      <p>- Ecoutez. Hum...Je suis à la recherche d'Usaki - Miguel - donc. C'est une créature extraordinaire non humaine qui vient de...la lune.<br />
        - La lune ? intervient Mac Lumy.<br />
        - Oui je sais que déjà ça c'est dur à accepter. Il a pour but d'arrêter les adorateurs de Soufflardent, il était parti en mission et comme on n'avait plus de nouvelles de lui je suis passé<span class="sfg-f">e</span> voir s'il ne lui était pas arrivé quelque chose.<br />
        - Donc...tu as suivi une créature non-humaine, comme ça ? Sans poser de question ? Et comment as-tu pu survivre ? Tu as vécu où ? demandes-tu.<br />
        - Oui...heu...là je crois qu'il faut que tout le monde s'asseye, prévient-<span class="sfg-f">elle</span><span class="sfg-g">il</span>. Où j'ai vécu ?...Dans une forteresse dans les monts noirs, guidé<span class="sfg-f">e</span> par deux mages assez célèbres du nom de...Ymir et Zaïra.
      </p>
      <p><span class="fort-nom"></span> vient de calmer tout le monde avec sa phrase. Puis petit-à-petit tout le monde se lance pour poser sa question. Certains <span class="sfg-f">la</span><span class="sfg-g">le</span> traitent de menteu<span class="sfg-f">se</span><span class="sfg-g">r</span>, d'autres lui disent qu'<span class="sfg-f">elle</span><span class="sfg-g">il</span> a été abusé<span class="sfg-f">e</span> et qu'Ymir et Zaïra ne peuvent pas être vivants, Toi tu ne sais pas trop quoi en penser. Seule Lasseni <span class="sfg-f">la</span><span class="sfg-g">le</span> regarde l'air sombre. </p>

      <p>- C'est Ymir et Zaïra qui t'ont envoyé en mission, c'est ça ? finit-elle par dire avec une moue qui laisse transparaitre une certaine colère.<br />
        - … Oui je sais que ça peut paraitre dingue mais ils sont restés dans les monts noirs pour garder Soufflardent endormi, fait-<span class="sfg-f">elle</span><span class="sfg-g">il</span>. J'ai vu le dragon de mes propres yeux. On ne veut absolument pas combattre l'académie. Notre seul but c'est de trouver une solution définitive pour Soufflardent. Et visiblement il a réussi à trouver de plus en plus de disciples.</p>

      <p>Heldegarde qui venait de redescendre et vous a entendu fait irruption dans votre conversation :<br />
        - Je crois qu'il faut en tout cas qu'on mette tous nos efforts en commun pour lutter contre cette menace.<br />
        - Le rôle de l'académie est de lutter contre la magie clandestine, enrage Lasseni. Les mages renégats sont considérés comme illégaux, <span class="sfg-f">elle</span><span class="sfg-g">il</span> n'a pas le droit de faire de magie...<br />
        - M'arrêter est plus important pour toi que l'aide que je peux t'apporter, lui demande <span class="fort-nom"></span> ?<br />
        - JE N'AI PAS BESOIN DE L'AIDE DE CEUX QUI M'ONT DEJA ABANDONNE ! s'exclame-t-elle.</<p>

      <p>Tu comprends qu'elle ne parle pas de <span class="fort-nom"></span> mais d'Ymir et Zaïra. La rumeur comme quoi elle est leur descendante est vraie visiblement. Mais tu ne connais aucun détail de l'histoire.</p>

      <p>Alors que vous êtes au milieu de la journée, le ciel s'assombrit d'un coup. En regardant par la fenêtre vous avez l'impression que la tempête que vous aviez vu tantôt vous a suivi jusqu'ici.</p>
    </div>
    <!-- SIMPLE KONAKEY -->
    <div  class="numgroupe numgroupe-1 numgroupe-2">
      <p>- Bon, je crois que c'est le moment pour toi de nous en dire un peu plus : tu fais quoi ici exactement ? demande Lasseni à <span class="fort-nom"></span></p>
      <p>Tu te demandes pourquoi Lasseni lui dit ça. Visiblement elle n'a pas gobé l'histoire que cette jeune mage vous avez raconté tout à l'heure.</p>
      <p>- Hum, d'accord. Je suppose que je peux vous le dire. Je cherche bien celui que vous appelez Maski, mais son vrai nom est Usaki. Il était en mission pour notre groupe. Il devait trouver le repère des adorateurs de Soufflardent.<br />
        - Votre groupe ? intervient Mac Lumy. Quel groupe ?<br />
        - Un groupe de ce que vous pourriez appeler "mage renégats". Mais notre seul but c'est de trouver une solution définitive à Soufflardent, qui dort toujours mais n'est pas mort.<br />
        - Laissez l'académie faire ça, ou rejoignez là. Pourquoi faites vous bande à part ? demandes-tu.<br />
        - Oui...heu...là je crois qu'il faut que tout le monde s'asseye, prévient-elle. Notre base se situe dans les monts noirs. Et nous sommes guidés par deux mages assez célèbres du nom de...Ymir et Zaïra.
      </p>
      <p><span class="fort-nom"></span> vient de calmer tout le monde avec sa phrase. Puis petit-à-petit tout le monde se lance pour poser sa question. Certains <span class="sfg-f">la</span><span class="sfg-g">le</span> traitent de menteu<span class="sfg-f">se</span><span class="sfg-g">r</span>, d'autres lui disent qu'<span class="sfg-f">elle</span><span class="sfg-g">il</span> a été abusé<span class="sfg-f">e</span> et qu'Ymir et Zaïra ne peuvent pas être vivants, Toi, tu ne sais pas trop quoi en penser. Seule Lasseni <span class="sfg-f">la</span><span class="sfg-g">le</span> regarde l'air sombre. </p>

      <p>- C'est Ymir et Zaïra qui t'ont envoyé en mission, c'est ça ? finit-elle par dire avec une moue qui laisse transparaitre une certaine colère.<br />
        - … Oui je sais que ça peut paraitre dingue mais ils sont restés dans les monts noirs pour garder Soufflardent endormi, fait-<span class="sfg-f">elle</span><span class="sfg-g">il</span>. J'ai vu le dragon de mes propres yeux. On ne veut absolument pas combattre l'académie. Notre seul but c'est de trouver une solution définitive pour Soufflardent. Et visiblement il a réussi à trouver de plus en plus de disciples.</p>

      <p>Heldegarde qui venait de redescendre et vous a entendu fait irruption dans votre conversation :<br />
        - Je crois qu'il faut en tout cas qu'on mette tous nos efforts en commun pour lutter contre cette menace.<br />
        - Le rôle de l'académie est de lutter contre la magie clandestine ! enrage Lasseni. Les mages renégats sont considérés comme illégaux, <span class="sfg-f">elle</span><span class="sfg-g">il</span> n'a pas le droit de faire de magie...<br />
        - M'arrêter est plus important pour toi que l'aide que je peux t'apporter, lui demande <span class="fort-nom"></span> ?<br />
        - JE N'AI PAS BESOIN DE L'AIDE DE CEUX QUI M'ONT DEJA ABANDONNE ! s'exclame-t-elle.</<p>

      <p>Tu comprends qu'elle ne parle pas de <span class="fort-nom"></span> mais d'Ymir et Zaïra. La rumeur comme quoi elle est leur descendante est vraie visiblement. Mais tu ne connais aucun détail de l'histoire.</p>

      <p>Alors que vous êtes au milieu de la journée, le ciel s'assombrit d'un coup. En regardant par la fenêtre vous avez l'impression que la tempête que vous aviez vu tantôt vous a suivi jusqu'ici.</p>
    </div>
    <!-- SANS PERSONNE DE LA FORTERESSE -->
    <div  class="numgroupe numgroupe-3 numgroupe-4">
      <p>- Nous avons réussi à récupérer cette femme et je sens que cet endroit où nous sommes allé est l'oeuvre d'une magie très puissante, commence-t-elle.<br />
      - Je suis d'accord, fais-tu, mais qu'est-ce que tu proposes ? J'ai l'impression assez nette qu'on s'est fait repérer là-bas.<br />
      - Si on retourne dans cette prairie paradisiaque par le chemin de la dernière fois ils vont nous attendre, ajoute <span class="nao">Nao</span><span class="rem">Rem</span>.<br />
      - Il faut attendre Fandrean déjà, dit Lasseni. Sans lui je pense qu'on n'a aucune chance d'aller plus loin. Même en étant les meilleurs jeunes mages de l'académie.</p>

      <p class="fin fin-autre">Chacun est un peu dépité d'entendre ça. Mais c'est vrai, vous avez déjà le maximum : trouver un chemin dans les marais et ramené une des disparues.</p>

      <p class="nao">Heldegarde redescend après avoir ausculté Emma. Elle vous dit qu'elle est sous l'emprise d'une magie qu'elle n'a vu qu'une fois : dans ton tatouage.<br /><br />
      - C'est donc bien la magie de Soufflardent, dis-tu.<br />
      - Oui mais il va falloir attendre le retour de Fandrean pour confirmer ça.</p>
      <p class="rem">Heldegarde redescend après avoir ausculté Emma. Elle vous dit qu'elle est sous l'emprise d'une magie qu'elle n'a jamais vue.</p>

      <p>Alors que vous êtes au milieu de la journée, le ciel s'assombrit d'un coup. En regardant par la fenêtre vous avez l'impression que la tempête que vous aviez vu tantôt vous a suivi jusqu'ici.</p>
    </div>

    <p class="fin fin-6">Tu te demandes comment tu pourrais aider Soufflardent dans cette situation. peut-être que tu peux libérer cette fille que vous venez tout juste de récupérer.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="52">Continuer</div>
    <div class="ch fin fin-6" data-go="51">Profiter de l'orage pour monter à l'étage et libérer la femme</div>
  </div>

  </div>
