<div class="num num-1-2-51">

  <div class="text">
    <h1>- LA FEMME DRAGON -</h1>

    <p>Pendant que tout le monde se presse dehors ou à la fenêtre pour observer cette tempête qui approche, tu en profites pour monter discrètement voir Emma.</p>

    <p>La femme est solidement attachée à un lit dans une des chambres. Une sorte de lien magique la retient, c'est le sort de Heldegarde. Emma a l'air plus agitée que tout à l'heure, elle réagit à la tempête qui approche.</p>

    <p>Tu observes que sa peau noirci à vue d'œil, des écailles commencent même à faire leurs apparitions et, alors que tu allais t'enfuir, finit par te parler avec une sorte de fumée noire qui sort de sa bouche :<br />
      - sErvItEUr ! LibèRE cETte FeMME ! Tu NE crAIndS rIEn, faIS mOI CoNFiAnCE.</p>

    <p>En entendant les paroles du dragon, tu décides d'essayer de casser les liens magiques. Mais tu as beau t'acharner dessus ils sont d'un niveau magique aux delà des tiens. </p>

    <p>- tOUcHe lA MAiN dE CeTTe feMME, jE VAiS te TRanSféRER uNe PArtIe dE MOn POuvOIR, te dit Soufflardent par la bouche d'Emma.</p>

    <p class="magie-noire">Tu prends la main de la jeune femme et sens une magie d'une puissance absolue couler dans tes veines. En prenant les liens magiques à deux mains tu les casses juste en concentrant ton énergie dessus. Tu sens d'ailleurs en même temps un voile noir passer devant tes yeux, te faisant voir le monde en noir et blanc. Cette sensation s'arrête dès que tu arrêtes ta concentration.</p>
    <p class="magie-verte">Tu prends la main de la jeune femme et sens une forte énergie t'envahir. Tu n'avais jamais ressenti la magie comme ça. Tu as l'impression que ta magie a changé. En prenant les liens magiques à deux mains tu les casses juste en concentrant ton énergie dessus. Tu sens d'ailleurs en même temps un voile noir passer devant tes yeux, te faisant voir le monde en noir et blanc. Cette sensation s'arrête dès que tu arrêtes ta concentration.</p>

    <p>Dans un flash de lumière Emma se met debout, calmement. Mais elle ne ressemble plus du tout à une humaine. Des ailes ont poussé dans son dos, des ailes de dragon noir. De tous les dragons existant, les dragons noirs sont réputés les plus puissants. Celui qui se tient devant toi est petit mais il est incontestablement puissant.</p>

    <p>- Merci de m'avoir aidé, te dit Emma.</p>

    <p>Elle ne parle plus avec la voix de Soufflardent. Elle a totalement accepté sa transformation, elle est totalement devenue un allié du dragon. D'un coup de griffe, elle ouvre une brèche dans le mur suffisamment grand pour passer avec ses ailes.</p>

    <p>- Imp, le grand prophète de Soufflardent est présent à Euphoria. Si tu désires le voir, il saura te recevoir. Mais pour le moment Soufflardent a encore besoin de toi comme espion<span class="sf">ne</span>.</p>

    <p>Et d'un coup d'ailes Emma s'envole.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="66">Continuer</div>
  </div>

  </div>
