<div class="num num-1-2-52">

  <div class="text">
    <h1>- LA FEMME DRAGON -</h1>

    <p>Tu te presses dehors pour voir ce qu'il se passe. Heldegarde dit à tous les villageois de rentrer chez eux, ce qu'ils ne se font pas dire deux fois.</p>

    <p>Des bourrasques commencent à soulever des tonneaux et à faire plier les arbres. Les nuages forment une sorte de tourbillon noir dont s'échappent des éclairs. Vous avez l'impression que des dragons volent en rond autour de ce tourbillon.</p>

    <p>Au moment où vous étiez tous focalisés sur le tourbillon, le deuxième étage de la tour explose. Juste à l'endroit où Emma était restée. L'un des mages se précipite à l'intérieur pour voir ce qu'il se passe, pendant que vous observez des griffes sortir de la chambre de la villageoise.</p>

    <p>Et un petit dragon noir en sort, s'envolant en direction de la tempête. Le dragon semble un peu étrange, il avait l'air de se tenir debout avant de s'envoler et il a de longs cheveux noirs comme.. Emma.</p>

    <p>- Elle s'est … transformée en dragon ? fais-tu incrédule.<br />
      - Du calme <span class="tonnom"></span>, te fait Heldegarde en posant sa main sur la tienne. Il faut qu'on reste aussi serein que possible car je n'ai pas l'impression que ce soit fini.</p>

    <p>En effet, la tempête progresse encore lentement dans la direction du village. Le dragon, qui semble être Emma, a rejoint ses nouveaux congénères dans la tempête. Et alors qu'ils ne faisaient que tourner ils bifurquent soudain dans votre direction. </p>

    <p>- ATTAQUE DE DRAGONS ! crie Heldegarde à tout le monde.<br />
      - Il faut utiliser un sort de "masque" là ? demande <span class="numgroupe numgroupe-1 numgroupe-4 numgroupe-6 numgroupe-7 numgroupe-8">Rem</span><span class="numgroupe numgroupe-2 numgroupe-3 numgroupe-5">Nao</span>.<br />
      - Si on fait ça c'est tous les villageois qui vont se faire attaquer, lui répond Lasseni.<br />
      - Ça veut dire qu'il faut tous les battre ? dit Mac Lumy.<br />
      - Chaque mage sur un dragon. Nous sommes une dizaine, il y a une dizaine de cibles, ordonne Heldegarde.</p>

    <p>Tu choisis un dragon, plutôt petit mais de couleur noire. Les dragons noirs sont réputés plus puissants que les autres dragons. <span class="numgroupe numgroupe-7"><span class="fort-nom"></span> se tient à côté de toi, et te fait un sourire forcé pour te dire que tout ira bien même si <span class="sfg-f">elle</span><span class="sfg-g">il</span> n'en sait rien.</span></p>

    <p>Il n'y a que 4 mages adultes. Tu as un peu peur.</p>

    <p>Les dragons arrivent tous en même temps, Heldegarde lance un puissant sort d'armure qui brille sur chacun d'entre vous.<br />
      - Ça vous aidera, vous dit-elle. Mais vous n'êtes pas invincible avec, alors faites tous attention.</p>

    <p>Le dragon que tu as choisi arrive. Il te regarde fixement, il t'a choisi également.</p>

    <p>Quel sort vas-tu lancer pour accueillir le dragon ?</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="53">Masque</div>
    <div class="ch" data-go="54">Glaciation</div>
    <div class="ch" data-go="55">Lumière</div>
    <div class="ch" data-go="56">Main de feu</div>
    <div class="ch" data-go="57">Racines</div>
    <div class="ch numgroupe numgroupe-7 numgroupe-8" data-go="58">Cape de la nuit</div>
  </div>

  </div>
