<div class="num num-1-2-53">

  <div class="text">
    <h1>- 53 -</h1>

    <p>Lasseni a dit de ne pas utiliser ce sort mais tu as une idée derrière la tête.</p>

    <p>Tu lances le sort sur toi mais pas pour te transformer en objet. Tu décides de te changer en dragon noir exactement comme eux. Ton sort est rapide et parfaitement maitrisé. Te voilà devenu<span class="sf">e</span> un dragon, en tout cas tu es une illusion de dragon.</p>

    <p>Celui qui te fonçait dessus est assez surpris, il était sur le point de cracher son souffle mortel mais la surprise le fait se raviser un instant. </p>

    <p>Tu n'attends pas qu'il revienne à lui, tu enchaines ton sort avec un sort de "main de flamme". L'illusion de ton sort précédent donne l'impression que tu craches du feu sous forme de dragon. Et ton ennemi arrivant à portée, tu lui infliges une légère blessure. Le dragon s'écrase à terre plus sous la surprise que sous la douleur car tu sais que ton sort ne suffit pas à terrasser un dragon.</p>

    <p>Mais au moins maintenant le dragon est à terre et c'est ce que tu voulais.</p>

    <p>Il est à terre mais se retourne vers toi avec de la fumée noire sortant de ses naseaux. Il est tombé contre l'une des maisons du village sans la détruire. Heureusement il ne regarde que toi, enragé. D'une vitesse incroyable il saute à quelques mètres de toi, tend son cou et tente de te mordre. Tu désactives ton sort de masque pour revenir à ta forme humaine, plus petite, ce qui te permet d'éviter la morsure. Et dans ton élan tu lui lances un sort de glaciation sur la mâchoire en y mettant toute ta puissance.</p>

    <p>La tête entière du dragon a l'air prise dans la glace, mais il est pris dans son élan et tu n'as plus le temps de l'éviter. Alors que le dragon s'écrase une nouvelle fois à terre tu te retrouves piétiné<span class='sf'>e</span>, et même s'il est petit il doit peser dans les 800kg.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="59">Continuer</div>
  </div>

  </div>
