<div class="num num-1-2-54">

  <div class="text">
    <h1>- 54 -</h1>

    <p>Ton sort de glaciation est un des plus puissants en combat. Il n'y a pas de raison qu'il te fasse défaut aujourd'hui. Tu décides de recevoir le dragon en élevant des piques de glace dans sa direction quand il arrivera à ta hauteur.</p>

    <p>Les marais proches regorgent d'eau, ça devrait être assez facile à faire. Tu es plutôt confiant<span class="sf">e</span> dans ta tactique. Mais tu n'avais pas pensé à ce que le dragon fasse autre chose qu'essayer de te gober. Quand il arrive à une vingtaine de mètres de toi tu le vois ouvrir grand la bouche et cracher une sorte de feu noir sur toi.</p>

    <p>Dans la panique tu lances quand même ton sort de glace comme prévu espérant que la glace barre le chemin à ce souffle mortel.</p>

    <p>Mais le feu brise la glace et t'envahit comme un feu glacial. Dans l'éclat glacé de ton sort des centaines de petits bouts de cristal déchirent quand même les écailles et les yeux du dragon. Et il s'écrase sur toi. En plus de ce froid intense qui parcourt tes os, ton bras droit et tes jambes se brisent sous le poids de la bête.</p>

    <p>Même petit, ce dragon reste bien plus gros qu'un humain.</p>

    <p>L'armure que t'as laissé Heldegarde a l'air d'absorber le feu du dragon puis s'efface, tu n'es plus protégé<span class="sf">e</span> et tu ne peux plus bouger tes jambes : elles sont cassées.</p>

    <p>Le dragon se relève à côté de toi, mais il ne voit rien, il a des éclats de glace dans les yeux. Ce qui l'a rendu aveugle. Il lance un cri à te faire peur sans savoir exactement où tu te trouves.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="60">Continuer</div>
  </div>

  </div>
