<div class="num num-1-2-55">

  <div class="text">
    <h1>- 55 -</h1>

    <p>Tu te décides à utiliser un sort de lumière. Tu vas attendre que le dragon approche encore un peu. Il n'est plus qu'à une vingtaine de mètres quand il ouvre pour cracher son souffle mortel. Mais tu étais prêt<span class="sf">e</span> à réagir au quart de tour. Tu lances ton sort de lumière avec toute la puissance possible.</p>

    <p>Un faisceau lumineux par de tes mains pour viser les yeux du dragon. Ce dernier est immédiatement aveuglé, ferme sa gueule béante et s'écrase au sol.</p>

    <p>Alors qu'il est encore au sol, tu grimpes sur sa tête. L'animal secoue son corps dans tous les sens pour te faire tomber mais tu t'accroches. Ton but ce sont ses yeux. En pleine acrobatie, pendant que tu te tiens de ta main gauche aux écailles de sa tête, tu lances ton sort de "main de feu" sur ta main droite. Et d'un crochet vif tu le plonges dans l'œil droit du dragon.</p>

    <p>La douleur a l'air énorme pour la bête, elle te projette plus loin. Tu tombes lourdement mais l'armure que t'avais lancé Heldegarde te protège bien mieux que tu aurais pu le penser.</p>

    <p>Dans une inspiration soudaine, tu te souviens d'un sort que tu as lu dans un livre de magie de haut niveau. Tu ne l'as jamais réussi, tu ne l'as même jamais essayé en combat. Mais avec tes sorts de base tu n'arriveras jamais à abattre un dragon. Alors tu te lances, tu formes un cercle avec tes doigts, concentre l'énergie de l'eau des environs et prononces la formule magique : FUBUKI - sort de  blizzard !!!</p>

    <p>Un puissant vent froid se lance dans la direction du dragon, il est rempli de morceaux de glace. Le dragon se défend en lançant en même temps son souffle mortel. Une fumée noire part dans ta direction.</p>

    <p>Tu peux contrôler la direction de ton blizzard et tu vises en priorité ses ailes. Dans un bruit terrible les morceaux de glace déchirent les ailes de la bête, le faisant une nouvelle fois hurler. Mais le souffle mortel du dragon arrive toujours dans ta direction. Visiblement il n'est pas affecté par le vent. En te touchant tu commences à bruler dans des flammes noires d'un froid intense. La douleur est incroyable.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="61">Continuer</div>
  </div>

  </div>
