<div class="num num-1-2-56">

  <div class="text">
    <h1>- 56 -</h1>

    <p>Alors que le dragon ouvre sa bouche pour te cracher dessus son souffle mortel, tu lances ton sort de "main de flamme". Le dragon n'a pas l'air très impressionné et un souffle de feu noir part dans ta direction. C'est la poisse tu ne t'attendais pas à ça. Même avec un saut de côté le feu te touchera.</p>

    <p>Et alors que tu pensais que tu étais fichu<span class="sf">e</span> une autre bête débarque du ciel et inflige un violent coup de griffe sur le dragon. C'est un dragon mais plus petit, un dragon fée comme il y a à l'académie. Et ce dragon-fée a encaissé le souffle de feu noir à ta place en plus de combattre ce monstre.</p>

    <div class="av-sportif">
      <p>- Salut <span class="tonnom"></span> ! Je crois que t'as besoin d'un coup de main d'un des plus grands mages de l'académie.</p>
      <p>A côté de toi atterrit  Levy. Tu crois rêver, <span class="sf">il est arrivé</span><span class="sg">elle est arrivée</span> au bon moment, comme les héros.</p>
      <p>- J'étais en mission dans les monts noirs quand j'ai vu cette tempête irréelle débouler sur la tour, te dit-<span class="sf">il</span><span class="sg">elle</span>.<br />
        - Je t'expliquerai mais il faut protéger le village de ces dragons, lui dis-tu assez content<span class="sf">e</span> de <span class="sf">le</span><span class="sg">la</span> voir.</p>
    </div>
    <div class="av-pas-sportif">
      <p>- Salut ! Levy pour te servir. Je crois que t'as besoin d'un coup de main d'un des plus grands mages de l'académie.</p>
      <p>A côté de toi atterrit un<span class="sg">e</span> mage qui a l'air de vraiment se prendre au sérieux. Tu n'as jamais entendu parler <span class="sf">de lui</span><span class="sg">d'elle</span>.</p>
      <p>- J'étais en mission dans les monts noirs quand j'ai vu cette tempête irréelle débouler sur la tour, te dit-<span class="sf">il</span><span class="sg">elle</span>.<br />
        - Je t'expliquerai mais il faut protéger le village de ces dragons, lui dis-tu.</p>
    </div>

    <p>Le dragon-fée est celui de Levy, d'un geste <span class="sf">il</span><span class="sg">elle</span> lui fait signe de s'écarter et lance un puissant sort de boule de feu. Le dragon encaisse le sort en pleine figure et recule légèrement. Levy décide alors de se lancer au corps-à-corps. Le dragon, lui, déploie ses ailes pour prendre son envol. Mais tu lances un sort de racines pour le retenir au sol. Levy te fait un clin d'oeil pour te remercier et sort le sabre qu'il portait à sa ceinture. D'un geste vif <span class="sf">il</span><span class="sg">elle</span> donne un coup qui dégage un éclair vert qui tranche le ciel et les cornes du dragon, comme si c'était du beurre.</p>

    <p>Le dragon se cambre, arrachant tes racines et tente de s'envoler mais trop tard. Levy est déjà sur lui, <span class="sf">il</span><span class="sg">elle</span> évite un dernier coup de patte de la bête et lui ouvre le ventre avec son épée magique.</p>

    <p>Le dragon s'écroule mort. Levy te demande si tu vas bien, tu acquiesces d'un signe de tête.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="62">Continuer</div>
  </div>

  </div>
