<div class="num num-1-2-57">

  <div class="text">
    <h1>- 57 -</h1>

    <p>Tu te dis que tu vas attendre que le dragon se rapproche du sol et de toi pour le clouer au sol avec tes racines. Tu sais que tu arrives à les faire monter à une dizaine de mètres donc c'est ce moment-là que tu vas devoir saisir.</p>

    <p>La bête semble avoir aussi sa stratégie, elle fonce sur toi. Tu lances le combat <span class="sf">la première</span><span class="sg">le premier</span>. Tu plaques tes mains au sol et fait sortir des racines du sol pour tenter d'agripper les pattes du dragon. Il a l'air de voir ce que tu essaies de faire et fait une pirouette pour éviter tes racines.</p>

    <p>Tu envoies encore plus de puissance dans ton sort pour l'attraper, il est déjà sorti du champ d'action de tes racines. Un effort de plus et sa patte arrière droite est saisie quand même. Cela arrête le dragon d'un coup, mais avec sa vitesse il brise tes racines facilement. Cela l'a fait vaciller dans son vol. Il ne maintient plus rien et s'écrase sur une des maisons du village, passant à travers le toit.</p>

    <p>Tu vois des gens sortir en courant de la maison et le dragon leur courir après en détruisant la porte et le mur autour comme s'il s'agissait de brindilles. Tu es trop loin pour faire quoi que ce soit si ce n'est les rejoindre le plus rapidement possible. Mais le dragon a déjà sa gueule ouverte au-dessus de l'un des villageois s'enfuyant.</p>

    <p>Une bête se jette soudain sur le dragon. Elle a des écailles et de belles ailes comme un grand papillon : c'est un dragon-fée, comme ceux de l'académie. </p>

    <div class="av-sportif">
      <p>- Salut <span class="tonnom"></span> ! Je crois que t'as besoin d'un coup de main d'un des plus grands mages de l'académie.</p>
      <p>À côté de toi atterrit Levy. Tu crois rêver, <span class="sf">il est arrivé</span><span class="sg">elle est arrivée</span> au bon moment, comme les héros.</p>
      <p>- J'étais en mission dans les monts noirs quand j'ai vu cette tempête irréelle débouler sur la tour, te dit-<span class="sf">il</span><span class="sg">elle</span>.<br />
        - Je t'expliquerai mais il faut protéger le village de ces dragons, lui dis-tu assez content<span class="sf">e</span> de <span class="sf">le</span><span class="sg">la</span> voir.</p>
    </div>
    <div class="av-pas-sportif">
      <p>- Salut ! Levy pour te servir. Je crois que t'as besoin d'un coup de main d'un des plus grands mages de l'académie.</p>
      <p>À côté de toi atterrit un<span class="sg">e</span> mage qui a l'air de vraiment se prendre au sérieux. Tu n'as jamais entendu parler <span class="sf">de lui</span><span class="sg">d'elle</span>.</p>
      <p>- J'étais en mission dans les monts noirs quand j'ai vu cette tempête irréelle débouler sur la tour, te dit-<span class="sf">il</span><span class="sg">elle</span>.<br />
        - Je t'expliquerai mais il faut protéger le village de ces dragons, lui dis-tu.</p>
    </div>

    <p>Le dragon-fée est celui de Levy, d'un geste <span class="sf">il</span><span class="sg">elle</span> lui fait signe de s'écarter et lance un puissant sort de boule de feu. Le dragon encaisse le sort en pleine figure et recule légèrement. Levy décide alors de se lancer au corps-à-corps. Le dragon, lui, déploie ses ailes pour prendre son envol. Mais tu lances un sort de racines pour le retenir au sol. Levy te fait un clin d'oeil pour te remercier et sort le sabre qu'il portait à sa ceinture. D'un geste vif <span class="sf">il</span><span class="sg">elle</span> donne un coup qui dégage un éclair vert qui tranche le ciel et les cornes du dragon, comme si c'était du beurre.</p>

    <p>Le dragon se cambre, arrachant tes racines et tente de s'envoler mais trop tard. Levy est déjà sur lui, <span class="sf">il</span><span class="sg">elle</span> évite un dernier coup de patte de la bête et lui ouvre le ventre avec son épée magique.</p>

    <p>Le dragon s'écroule mort. Levy te demande si tu vas bien, tu acquiesces d'un signe de tête.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="62">Continuer</div>
  </div>

  </div>
