<div class="num num-1-2-58">

  <div class="text">
    <h1>- 58 -</h1>

    <p>Tu te dis que tu vas montrer à ce dragon la puissance de la magie de la lune, il n'a pas dû souvent se trouver confronter à ça. Et au moment où le dragon commence à voler à raz du sol pour fondre sur toi tu disparais complètement.</p>

    <p>La "cape de la nuit" a fait son petit effet. Le dragon ne comprend pas du tout où tu es. Tu en profites pour monter sur son dos avec une petite acrobatie quand il passe finalement à côté de toi sans te voir. Avec ton sort il ne se rend même pas compte que tu es sur son dos. Ce sort est tellement extra que c'en est presque de la triche. Ne sachant quoi faire la bête reprend son envol pour repérer un autre mage à attaquer.</p>

    <p>Tu as une belle vue de là où tu te trouves. Tu vois tout le champ de bataille. Certains mages ont l'air en difficulté mais tu n'arrives pas à voir exactement qui. Mais avant de les aider tu vas devoir te débarrasser du tien.</p>

    <p>À cette altitude tu te dis que même un dragon sentira passer la chute s'il devait tomber. Alors tu lances ton sort de glaciation sur ses ailes à puissance maximale. En lançant ton sortilège, tu sors de ta cape de la nuit. Le dragon te voit sur son dos mais c'est déjà trop tard pour lui : ses ailes ne bougent plus, il ne peut maintenir sa position en vol et s'écroule.</p>

    <p>Toi tu restes les bras croisés sur son dos avec un petit sourire pendant qu'il te regarde sans rien comprendre. Et au moment où l'atterrissage est imminent tu lui dis :<br />
      - Désolé mais c'est là que je descends.</p>

    <p>Tu lances aussitôt ton sort de "chute ralentie", là encore à la puissance la plus forte possible. Le dragon s'écrase lui a une vitesse telle qu'il a vraiment dû se blesser gravement. Tu arrives un peu après et retombes légèrement sur le ventre de la bête, qui ne bouge plus, avec petite roulade pour atténuer encore un peu plus la vitesse.</p>

    <p>En regardant bien le dragon, il s'est arraché les ailes que tu lui avais gelées. Sa langue pend en dehors de sa bouche et tu ne le vois plus respirer. Ça fait un dragon de moins.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="63">Continuer</div>
  </div>

  </div>
