<div class="num num-1-2-59">

  <div class="text">
    <h1>- 59 -</h1>

    <p>Tu as cru un instant que c'était la fin pour toi. Mais tu te relèves finalement sans mal. L'armure d'Heldegarde est vraiment incroyable. Elle t'a protégé à un point que tu n'imaginais pas.</p>

    <p>Le dragon, lui, secoue sa tête pour se défaire de la glace. Il faut lui donner le coup fatal. Tu plaques tes mains au sol pour tenter de faire jaillir des racines. Tu concentres donc ton énergie pour lancer le sort le plus puissant possible. Les racines doivent contenir un dragon quand même ! C'est la première fois que tu dois maintenir au sol une créature aussi puissante. Les racines s'enroulent autour de son long cou, son ventre, ses jambes. À chaque fois qu'il arrache des racines tu relances ton sort.</p>

    <p>Tu sens tes forces magiques diminuer à chaque fois que tu relances tes sorts. Le dragon a l'air d'avoir de plus en plus de mal. Il faut dire qu'avec le bloc de glace sur sa tête il ne peut plus respirer. </p>

    <p>Mais malgré ça il continue d'arracher les racines, tu relances une énième fois ton sort mais tu sens une douleur vive dans ta poitrine et tu craches du sang. Ça y est, tu es à ta limite. Le dragon continue d'essayer de se dégager. Tu sais que tu ne vas pas pouvoir lancer tes sorts très longtemps, alors tu pousses tes limites au maximum pour relancer un dernier sort de racine en espérant que ça suffise.</p>

    <p>Mais tu n'auras pas l'occasion de savoir ce qu'il se passera. Ce sort t'as tellement vidé<span class="sf">e</span> que ta vue se brouille et tombe inconsciente.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="64">Recouvrer ses esprits</div>
  </div>

  </div>
