<div class="num num-1-2-6">

  <div class="text">
    <h1>- 6 -</h1>

    <p>- Un problème ? Concernant la magie ?<br />
    - Oui, je viens de l'académie et ils n'ont rien pu faire pour moi là-bas.</p>

    <p>Tu expliques à Heldegarde, la mage, ton parcours à l'académie et ton problème de tatouage dans le dos qui t'a volé tes pouvoirs magiques. Au fur et à mesure de tes récits, de plus en plus de mages viennent t'écouter. Au final 5 mages observent ton dos pour examiner le tatouage.</p>

    <p>- Humm. Je n'ai jamais vu une magie pareille. J'ai l'impression qu'elle n'est ni une magie de feu, du vent, de l'eau ou de la terre, dit Heldegarde.<br />
      - Une magie maudite qui peut en plus se transmettre aux personnes proches… c'est vraiment très particulier, renchérit un autre mage.</p>

    <p>Tout le monde a l'air bien embêté jusqu'à ce qu'un jeune mage, très beau gosse, assez grand entre dans la tour. Une vingtaine d'années, l'air sombre et très bien habillé.</p>

    <p>- Ha ! Fandrean, vient voir, <span class="sg">un jeune homme est arrivé</span><span class="sf">une jeune fille est arrivée</span> avec une magie inconnue.</p>

    <p>Fandrean, qui vient d'arriver, pose sa cape sur une attache au mur et vient calmement te voir. Il te salue poliment et examine le tatouage. Tu ne vois pas ce qu'il fait mais tu ressens une douce chaleur dans ton dos au moment où il lance un sort.</p>

    <p>Il te fait te recouvrir, réfléchis et va consulter un livre qui était posé sur une étagère proche.<br />
      - Ne t'en fais pas, te dit Heldegarde. Fandrean est le mage le plus puissant de la tour actuellement. Si quelqu'un peut t'aider c'est lui.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="7">Attendre que Fandrean trouve un remède</div>
  </div>

</div>
