<div class="num num-1-2-60">

  <div class="text">
    <h1>- 60 -</h1>

    <p>Tu ne vois pas trop ce que tu peux faire. Mais tu lances le plus vite un sort de guérison sur tes jambes. Mais avec un seul bras valide cela ne va pas très vite. Le dragon est juste au-dessus de toi maintenant, juste en dessous de son ventre. Il ne te voit pas et en marchant au hasard, il s'est retrouvé dans cette position.</p>

    <p>Tu t'arrêtes dans ton sort. Peu importe si tu arrives à bouger tes jambes, ce n'est pas ça qui mettra à terre la bête. À cet instant tu peux frapper la bête au niveau de son cœur sans qu'il puisse réagir. Mais il va falloir autre chose que tes sorts de base pour ça. Tu te souviens d'un sort de plus haut niveau qui devrait faire l'affaire. Mais tu ne l'as jamais lancé. Tu n'as même jamais essayé, juste lu le grimoire.</p>

    <p>Tu te poses dos au sol, en visant bien le cœur du dragon et récites la formule que tu connais quand même parfaitement. Le puissant sort de terre jaillit de tes mains : DO NO EAFFU ! Le pilier de pierre !</p>

    <p>Le sol à côté de toi se déforme et s'élance en l'air en formant un gigantesque pique de pierre parfaitement aiguisé. Il transperce le coeur du dragon qui n'a même pas vu le sort partir.</p>

    <p>Tu es content<span class="sf">e</span>, <span class="sf">fière</span><span class="sg">fier</span> d'avoir battu un tel adversaire. Mais au moment où tu criais victoire tu te rends compte que tu te trouves juste en dessous du dragon avec deux jambes cassées. Le dragon s'écroule sur toi pendant que tu appelles de l'aide.</p>

    <p>Tu essaies de rouler sur le côté mais ton bras cassé te fait trop mal. Tu es saisie par ta cape juste à temps pour éviter d'être écrasé<span class="sf">e</span>. </p>

    <p>- Rien de cassé ? Te demande la voix de la personne qui t'a sauvé.</p>

    <p class="av-sportif">En <span class="sf">le</span><span class="sg">la</span> regardant tu vois Levy en train de te sourire.<br /><br />
      - Qu... qu'est-ce que tu fais là ?<br />
      - J'avais une mission dans le coin et j'ai vu une tempête pas possible arriver sur la tour alors j'ai fait le détour.<br />
      - Ça c'est une chance, hé hé. lui dis-tu. Je crois que j'ai les jambes brisées et mon bras droit aussi.<br />
      - Ok laisse-moi voir ça.
     </p>
     <p class="av-pas-sportif">En <span class="sf">le</span><span class="sg">la</span> regardant tu vois <span class="sf">un beau mage</span><span class="sg">une jolie mage</span> en train de te sourire mais que tu ne connais pas.<br /><br />
       - Qui êtes-vous ?<br />
       - Levy, mage de l'académie, pour vous servir. Maintenant que je suis là, vous n'avez plus à vous en faire.<br />
       - Il y a quand même quelques dragons noirs à repousser, lui dis-tu. Et je crois que j'ai les jambes brisées et mon bras droit aussi.<br />
       - Ok laisse-moi voir ça.
      </p>

      <p class="av-sportif">Levy te soigne avec un sort de guérison supérieur, pendant qu'il donne un ordre à son dragon-fée. Plus petit qu'un dragon, il n'en reste pas moins une puissante créature.</p>
      <p class="av-pas-sportif">Levy te soigne avec un sort de guérison supérieur, pendant qu'il donne un ordre à son dragon-fée. C'est une monture qu'on voit souvent à l'académie. Plus petit qu'un dragon, il n'en reste pas moins une puissante créature.</p>

      <p>Au-delà de tes os brisés, tu commences à ressentir un froid intense dans tout ton corps. Le souffle du dragon commence à faire effet. C'est comme si la température de ton corps chutait brusquement. Tu tombes soudain inconscient<span class="sf">e</span>.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="65">Recouvrer ses esprits</div>
  </div>

  </div>
