<div class="num num-1-2-61">

  <div class="text">
    <h1>- 61 -</h1>

    <p>Le dragon est encore debout pendant que tu luttes contre les flammes noires qui sont en train de te dévorer. Elles disparaissent rapidement mais la sensation de froid est toujours là. </p>

    <p>Pour te sortir de cette mauvaise passe tu ne vois qu'un sort à lancer. Et ce n'est pas un des sorts que tu maitrises. Tu l'as lu de nombreuses fois dans les grimoires mais tu ne l'as jamais lancé, en tout cas jamais avec succès. Mais c'est le moment où jamais.</p>

    <p>Alors que le dragon fonce sur toi, tu joins tes deux poings et prononces le sort : SHOKU PSY, le sort du vent d'attaque mentale ! Une décharge invisible est lancée dans le crâne du dragon, qui s'écroule par terre en bavant.</p>

    <p>Tu es bien content<span class="sf">e</span> d'avoir enfin réussi ce sort. Mais tu n'as pas le temps de te réjouir, tu ne sens plus tes jambes. Dans ton état, lancer ce sort était au-dessus de tes moyens. Tu craches du sang et commences à t'évanouir.</p>

    <p>- Reste avec moi ! te dit une voix alors que ta vision se trouble. Je vais te sauver ne t'inquiètes pas.</p>

    <p class="av-sportif">En réfléchissant un peu tu as déjà entendu cette voix. Levy ? Que fait-<span class="sf">il</span><span class="sg">elle</span> ici ? Mais tu n'as pas le temps de te poser plus de question et tu chutes inconscient<span class="sf">e</span>.</p>
    <p class="av-pas-sportif">Quelqu'un te tient la main pendant que tu chutes inconscient<span class="sf">e</span> sans savoir de qui il s'agit.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="65">Recouvrer ses esprits</div>
  </div>

  </div>
