<div class="num num-1-2-62">

  <div class="text">
    <h1>- 62 -</h1>

    <p>Vous regardez tous les deux l'état du champ de bataille. Tu vois que Heldegarde s'est débarrassée d'un dragon et va aider Mac Lumy qui n'est pas loin de se faire manger.</p>

    <p>Un autre mage est étendu par terre et Lasseni essaie de repousser un dragon qui paraît déjà blessé. Il y a plusieurs maisons qui brûlent d'un feu noir anormal.</p>

    <p>- Allons aider Lasseni, dis-tu à Levy.<br />
      - Attends, te dit-<span class="sf">il</span><span class="sg">elle</span> en te retenant par le bras et en regardant au loin vers les marais. Qu'est-ce que c'est que ce truc ?</p>

    <p>Au-delà du brouillard des marais commence à apparaitre une gigantesque silhouette humanoïde. Elle avance lentement mais surement vers la tour et elle est tellement grande que sa tête est dans les nuages, invisible. Ses bras gigantesques balancent au rythme de sa marche et déclenchent des rafales à chaque mouvement. Et quand ses pieds se posent, tu commences à ressentir la terre trembler.</p>

    <p>- On va avoir un problème je crois, dis-tu pessimiste.<br />
    - Fais évacuer la ville, je m'occupe d'aider tes amis, ajoute Levy.</p>

    <p>Tu as bien envi<span class="sf">e</span> de lui demander l'inverse mais tu sais qu'<span class="sg">elle</span><span class="sf">il</span> connaît des sorts de plus haut niveau que toi. Le dragon était déjà presque trop dur pour toi, alors cette chose...</p>

    <p>- Tu n'as pas intérêt à en laisser un seul mourir, lui dis-tu.<br />
      - Compte sur moi.</p>

    <p>Vous partez chacun d'un côté sans même vous retourner. Déjà tu peux voir que les villageois sont en train de s'enfuir de chez eux.<br />
    - Suivez-moi ! leur cries-tu. Je vais vous protéger.</p>

    <p>Les villageois sont bien contents qu'un mage leur vienne en aide. Certains pleurent. Au-delà de la perte de leur maison qui part en fumée, certains sont morts. En te retournant encore, cette fois tu vois s'écrouler la petite tour de magie qui représentait la sécurité des gens dans toute la région. Tu essaies de guider tout le monde vers un petit promontoire rocheux qui pourra servir d'abris.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="71">Protéger les villageois</div>
  </div>

  </div>
