<div class="num num-1-2-63">

  <div class="text">
    <h1>- 63 -</h1>

    <p>- Sacrée démonstration petit<span class="sf">e</span>, te dit Heldegarde qui s'est également débarrassée de son dragon.<br />
    - Mais c'est pas fini. Certains ont besoin d'aide, ajoutes-tu.<br />
    - Attends, te dit-elle en te retenant par le bras et en regardant au loin vers les marais. Qu'est-ce que c'est que ce truc ?</p>

    <p>Au-delà du brouillard des marais commence à apparaitre une gigantesque silhouette humanoïde. Elle avance lentement mais surement vers la tour et elle est tellement grande que sa tête est dans les nuages, invisible. Ses bras gigantesques balancent au rythme de sa marche et déclenchent des rafales à chaque mouvement. Et quand ses pieds se posent, tu commences à ressentir la terre trembler.</p>

    <p>- On va avoir un problème je crois, dis-tu pessimiste.<br />
    - Fais évacuer la ville, je m'occupe d'aider tes amis, t'ordonne Heldegarde.</p>

    <p>Tu n'as aucun ordre à recevoir de cette personne et tu pourrais fuir sans t'occuper des villageois. Mais voir tout le monde mourir des mains de cette créature t'écœures.</p>

    <p>- Entendu. Je m'occupe des villageois. Mais ne laisse pas un seul de mes amis mourir, lui dis-tu.<br />
      - Tu peux compter sur moi.</p>

    <p>Vous partez chacun d'un côté sans même vous retourner. Et déjà tu peux voir que les villageois sont en train de s'enfuir de chez eux.<br />
    - Suivez-moi ! leur cries-tu. Je vais vous protéger.</p>

    <p>Les villageois sont bien contents qu'un mage leur vienne en aide. Certains pleurent. Au delà de la perte de leur maison qui part en fumée, certains sont morts. En te retournant encore, cette fois tu vois s'écrouler la petite tour de magie qui représentait la sécurité des gens dans toute la région. C'est peut-être l'occasion d'emmener tout le monde à la forteresse ?</p>


  </div>

  <div class="choix">
    <div class="ch" data-go="71">Protéger les villageois</div>
  </div>

  </div>
