<div class="num num-1-2-64">

  <div class="text">
    <h1>- 64 -</h1>

    <p>Tu te réveilles secoué<span class="sf">e</span> par un tremblement de terre. Puis un autre, puis un autre. Tu es au plus mal. Tu sens que tu n'as plus une once d'énergie pour lancer un sort. Et tu as beaucoup de mal à tenir debout.</p>

    <p>Autour de toi le village est en flammes. Tu vois des cadavres de dragons et de villageois un peu partout. Mais aucun de tes amis n'a l'air de faire partie des morts. En tout cas tu ne vois personne. Un autre tremblement de terre te fait te retourner.</p>

    <p>Tu es juste devant une gigantesque créature humanoïde. Elle avance lentement mais surement vers la tour et elle est tellement grande que sa tête est dans les nuages, invisible. Ses bras gigantesques balancent au rythme de sa marche et déclenchent des rafales à chaque mouvement. Et quand ses pieds se posent, tu commences à ressentir la terre trembler. Au point de te faire sauter du sol à chaque fois.</p>

    <p>Dans les airs tu as l'impression de voir des mages se battre contre la créature. Il y a même un dragon-fée, comme il y en a à l'académie. <span class="av-sportif">Levy était <span class="sf">le meilleur cavalier</span><span class="sg">la meilleure cavalière</span> dragon de l'académie. Tu espères que ce n'est pas <span class="sf">lui</span><span class="sg">elle</span>.</span></p>

    <p>Mac Lumy surgit à tes côtés :<br />
      - <span class="tonnom"></span>, ça va ? dit-il<br />
      - Ça a l'air d'aller ? dis-tu en rigolant.<br />
      - Si tu blagues ça veut dire que ça va. On est tous parti avec les villageois un peu plus loin en voyant cette créature approcher. Je suis revenu voir s'il n'y avait pas d'autres survivants.</p>

    <p>Il te prend sur son dos et vous foncez en dehors du village en direction d'un petit promontoire rocheux un peu plus loin.</p>

    <p>- Fandrean est revenu juste à temps, c'est lui qui se bat avec la créature, t'explique Mac Lumy pendant que vous vous enfuyez.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="72">Finir le combat</div>
  </div>

  </div>
