<div class="num num-1-2-65">

  <div class="text">
    <h1>- 65 -</h1>

    <p>Tu te réveilles secoué<span class="sf">e</span> par un tremblement de terre. Puis un autre, puis un autre. Tu es au plus mal. Tu sens que tu n'as plus une once d'énergie pour lancer un sort. Et tu as beaucoup de mal à tenir debout.</p>

    <p>Autour de toi ce n'est plus le village. Tu ne sais pas où tu te trouves mais il y a beaucoup de villageois avec toi. Finalement un visage que tu connais te sourit.</p>

    <p>- Réveillé<span class="sf">e</span> ? Comment tu te sens ? te demande Mac Lumy.<br />
      - ...Hum, où je suis ? demandes-tu encore à moitié sonné<span class="sf">e</span>.<br />
      - On a dû se mettre à l'abri à l'écart du village avec les villageois pour...<br />
      <span class="av-sportif">- J'ai rêvé ou Levy de l'académie m'a sauvé ?<br />
        - Non <span class="sf">il</span><span class="sg">elle</span> est bien là mais juste après t'avoir amené ici <span class="sf">il</span><span class="sg">elle</span> est reparti combattre le monstre.</span>
      <span class="av-pas-sportif">- C'était toi qui m'a sauvé ?<br />
        - Non Levy, <span class="sg">une mage de l'académie</span><span class="sf">un mage de l'académie</span>. Après t'avoir amené ici <span class="sf">il</span><span class="sg">elle</span> est reparti combattre le monstre.</span><br />
        - Heu...attend...quel monstre ? Les dragons ?</p>

      <p>Mac Lumy secoue la tête et te montre du doigt le village. Il est encore en flammes. Ravagé par les dragons. La tour d'Azano est tombée il ne reste rien de l'endroit qui protégeait les gens dans la région. Mais les dragons ne sont plus là. À la place se trouve une silhouette humanoïde gigantesque. Tellement grand que sa tête est cachée dans les nuages. C'est ça le monstre dont Mac Lumy te parlait.</p>

      <p>À chacun de ses pas un tremblement de terre vous secoue, à chaque fois qu'il bouge ses bras une bourrasque vous met à terre. D'où sort ce monstre tu ne sais pas bien mais apparemment il y a encore des mages qui l'affrontent. De temps en temps tu vois une boule de feu ou un éclair frapper cet homme gigantesque.</p>

      <p>- Qui est en train d'affronter ce truc ? demandes-tu. Lasseni ?<br />
        - Non, on ne peut rien contre ce machin, il est sorti des marais après les dragons et on a décidé d'évacuer tout le monde. Les dragons avaient déjà fait beaucoup trop de dommages. Heureusement Fandrean est revenu à temps pour nous donner l'opportunité de nous enfuir. Sans lui on y serait tous resté je pense.<br />
        - Mais...ils sont plusieurs à combattre là, non ?<br />
        - Oui, Levy et Heldegarde lui porte main-forte en ce moment.<br />
        <span class="av-sportif">- Lev...Levy se bat contre ce monstre ?... Je dois y aller.<br />
          - Hors de question ! Tu ne peux même plus lancer un sort.<br />
          - Laisse moi. Je DOIS y aller.<br /><br />
          Tu mets le genou à terre dès que tu essaies de te relever. Tu dois l'accepter, tu ne peux rien faire pour aider Levy.</span>
        <span class="av-pas-sportif">- Ils ont une chance ?<br />
          - Fandrean est le mage le plus puissant que j'ai jamais vu. Tu aurais dû le voir repousser la créature tout à l'heure. Je ne sais pas s'ils vont gagner mais j'ai envie d'y croire.<br />
          - Il faut aller les aider, dis-tu finalement.<br />
          - Hors de question ! Tu ne peux même plus lancer un sort. Et moi je suis dans un piteux état aussi.<br /><br />
          Tu mets le genou à terre dès que tu essaies de te relever. Tu dois l'accepter, tu ne peux rien faire.</span></p>


  </div>

  <div class="choix">
    <div class="ch" data-go="73">Finir le combat</div>
  </div>

  </div>
