<div class="num num-1-2-66">

  <div class="text">
    <h1>- 66 -</h1>

    <p>Un mage déboule dans la tour juste derrière toi.</p>

    <p>- Heu… j'ai rien pu faire elle a réussi à s'enfuir en se transformant en dragon ! dis-tu.</p>

    <p>Tu t'impressionnes, tu arrives à mentir de mieux en mieux. Ça t'es venu<span class="sf">e</span> tout naturellement.</p>

    <p>- Mince. J'espère qu'ils vont pas attaquer maintenant, te dit-il.<br />
      - Qui donc ? Le dragon ?<br />
      - LES dragons, regarde !</p>

    <p>Le mage te montre une dizaine de dragons noirs en train de voler dans la tempête et qui sont rejoints par Emma. Sitôt ton allié arrivé dans le groupe, que les 10 dragons foncent sur la tour.</p>

    <p>- Tout le monde en bas ! hurle Heldegarde, notamment à votre attention.</p>

    <p>Vous descendez les escaliers 4 à 4 pour voir la vieille mage donner des ordres à tout le monde. Les villageois se barricadent chez eux. Il y a une dizaine de dragons, vous êtes une dizaine de mages, Heldegarde vous dit que chacun va devoir s'occuper d'un dragon.</p>

    <p>Tu ne sais pas vraiment si tu dois affronter ces dragons, étant un allié de Soufflardent toi-même. Cependant une chose est sûre, si une de ces bestioles t'attaque : tu lui envoies tes plus gros sorts dans la figure.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="67">Se mettre un peu à l'écart pour te battre</div>
  </div>

  </div>
