<div class="num num-1-2-67">

  <div class="text">
    <h1>- 67 -</h1>

    <p>Visiblement les dragons ont choisi de respecter vos règles : chaque mage possède son adversaire. Le tien c'est… Emma, qui te fonce dessus.</p>

    <p>- J'espère que c'est pas une vraie attaque que tu me prépares, marmonnes-tu tout bas.</p>

    <p>Emma a l'air un peu en retrait et les autres dragons commencent le combat avant le tien. Elle te fonce dessus à très vive allure quand même. Et elle a pas l'air de sourire.</p>

    <p>- Ne vous fichez pas de moi, j'ai tout fait pour vous aidez, te dis-tu alors que tu commences à te dire que Soufflardent est peut-être en train de te sacrifier.</p>

    <p>Emma est trop proche, tu lances un sort de "main de flammes" pour te protéger. Le dragon fait exploser la terre juste devant toi pour soulever un énorme tas de poussière. Tu ne vois plus rien.</p>

    <p>Soudain un bras reptilien t'entraine dans les airs, te coupant le souffle. Emporté<span class="sf">e</span> par Emma à une altitude dangereuse, elle ralentit un peu et te parle :<br />
      - Je ne pouvais pas faire exprés de t'éviter, ça aurait éveillé les soupçons.<br />
      - Tu...Tu m'as fait peur !! lui hurles-tu.<br />
      - Ha ha ha ! Désolée. Je vais te poser plus loin. Attend.</p>

    <p>Le dragon se pose plus loin, derrière des rochers, qui vous cachent bien comme il faut. A ce moment là tu aperçoit une gigantesque créature humanoïde derrière le brouillard des marais. Il marche lentement vers la tour. Il est tellement grand que sa tête est cachée par les nuages.</p>

    <p>- Purée...C'est quoi ce truc ? lances-tu dans un souffle.<br />
      - Ce doit être Imp, le grand prêtre de Soufflardent. Mais là, il est transformé.<br />
      - Des dragons noirs et un… truc comme ça ? Soufflardent est vraiment … surpuissant.</p>

    <p>Tu es vraiment héberlué<span class="sf">e</span> par la vision de cette créature. Mais tu réfléchis, Imp se dirige vers la tour où se trouve entre autres Lasseni et Mac Lumy. Que vont-ils devenir.</p>

    <p>- Vous… avez décidé de détruire la tour ? Et tuer tout le monde ? demandes-tu à Emma.<br />
      - On ne va pas tuer tout le monde, on veut convertir le maximum de personnes à notre cause mais Fandrean est un mage tellement puissant qu'on a besoin de ça pour prendre le contrôle de la tour. Et comme les mages ont découvert notre repaire on a dû agir plus vite que prévu.<br />
      - Mais attend, Fandrean n'est même pas là, lui retorques-tu.<br />
      - Ha bon ? Tant mieux ce sera plus facile alors.</p>

    <p>Emma bat légèrement des ailes :<br />
      - Je dois y aller maintenant. Regarde le spectacle d'ici.</p>

    <p>Et elle repart aussi vite qu'elle t'a amené à l'abri. Mais tu réfléchis de plus en plus, Fandrean n'étant pas là ça va être un carnage. Est-ce que tu pourrais quand même sauver des gens ? Soufflardent t'aimes bien, peut-être que ça vaut le coup de retourner à la tour.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="68">Regarder le combat à distance</div>
    <div class="ch" data-go="69">Retourner à la tour le plus vite possible</div>
  </div>

  </div>
