<div class="num num-1-2-68">

  <div class="text">
    <h1>- 68 -</h1>

    <p>Tu ne vois pas beaucoup le combat des dragons, mais certains ont l'air de tomber. Emma, elle, reste en combat jusqu'à ce qu'un éclair la frappe et qu'elle tombe à terre. Tu es trop loin pour voir ce qu'il lui arrive ensuite. Le village par contre est en flammes. Mais des flammes noires.</p>

    <p>La tour de magie s'effondre également. Avant même que le géant n'arrive au village tu as l'impression qu'il est déjà complètement rasé. Dix dragons noirs, c'est extrêmement puissant.</p>

    <p>Du villages s'enfuient des centaines de villageois qui partent vers un petit promontoire rocheux au sud du village, à l'opposé du géant. Un dragon a l'air de les prendre en chasse mais les villageois ont l'air protégé par un mage.</p>

    <p>Finalement quand le géant sort son pied gigantesque de la boue du marais pour le poser sur la terre ferme, tout tremble. Et tu vois que quelqu'un semble lui lancer des boules de feu. Il y a donc encore quelques mages survivant de cette attaque.</p>

    <p>Mais les boules de feu ont l'air de faire autant de dégât qu'une plume. La bataille semble jouée. Et au moment où tu pensais que les mages allaient abandonner une gigantesque flèche de lumière vient transpercer les nuages et se planter dans le géant. Des sortes de cordes lumineuses s'accrochent à ses membres sortis d'on ne sait où.</p>

    <p>Fandrean.</p>

    <p>Il n'y a que lui pour faire ça. En tout cas c'est ce que tu penses. Mais le géant n'a pas dit son dernier mot, il arrache les liens qui le retiennent et sors sa gigantesque tête des nuages. C'est une tête de dragon ! Et dans un souffle quasi divin, il fait déferler sur tout le village les mêmes flammes noires qui ont ravagées toutes les maisons.</p>

    <p>Tu n'oses imaginer si quelqu'un se trouvait sur la trajectoire du souffle. Mais contre toute attente le combat reprend : sort de lumière et de feu pour Fandrean contre sorts de flammes noires pour Imp. Et après plusieurs sort dévastateurs lancés, Imp claque ses deux mains dans un geste qui te rappelle ce que tu ferais à un moustique.</p>

    <p>Tout s'arrête. Plus de sort lancé. Ça veut dire qu'Imp vient tout juste d'écraser Fandrean entre ses mains ? Le géant met un genou à terre, il a l'air bien blessé.</p>

    <p>La tempête vient tourbillonner autour de sa tête et vient aspirer le géant comme s'il était de l'eau au fond d'un évier. Il est aspiré dans le ciel comme par magie. Qui a gagné finalement ? Tu n'as pas compris.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="74">Retourner au village démoli</div>
  </div>

  </div>
