<div class="num num-1-2-69">

  <div class="text">
    <h1>- 69 -</h1>

    <p>Tu cours ventre à terre jusqu'au village. Mais Emma t'a emmené trop loin. Le géant sort du marais pour poser pied sur la terre ferme bien avant que tu ne puisses rejoindre la tour. Tu vois à la sortie du village des habitants s'enfuir en courant. Un dragon essaie de les pourchasser mais est accueilli chaudement par un mage qui aide les villageois.</p>

    <p>Il n'y a plus beaucoup de dragons à voler autour du village. Quatre, non trois, un vient de tomber touché par un éclair. Tu ne vois pas Emma. peut-être est-elle déjà hors de combat. Mais dans le villages, en plus des maisons détruites par les flammes noires des dragons, tu commences à voir des gens à terre. Ils ne bougent plus.</p>

    <p>Chacun des pas d'Imp est maintenant si intense qu'il te fait sauter de trente centimètres tellement il est proche. Tu aperçois Heldegarde, elle lance des sorts au grand prophète aidé par un mage sur un dragon-fée. <span class="av-sportif">Tu n'en crois pas tes yeux : Levy est là à aider la vieille mage. Quand est-il arrivé ? Il faut que tu les sauves !</span> Tu passes soudain à côté d'une personne à terre et tu t'arrêtes net : c'est un des mages de la tour. Mais il ne bouge plus. Mangé à moitié par un dragon.</p>

    <p>Tu continues à courir dans tous les sens pour essayer de trouver tes amis.</p>

    <p>- SOUFFLARDENT ! JE VOUS EN SUPPLIE, ARRETEZ CE MASSACRE ! cries-tu pour qu'il t'entende.<br />
      - Il...il faut être fort<span class="sf">e</span>...p...pour aider maitre Soufflardent.</p>

    <p>La voix d'Emma te fait te retourner, elle est à l'agonie. Tu te précipites vers elle :<br />
      - Aider Soufflardent...c'est...poursuivre un but plus...grand, te murmure Emma en crachant du sang.<br />
      - Tais-toi ! Je suis sûr<span class="sf">e</span> qu'on peut tout arranger. Il suffit de se parler. Les gens comprendront qu'il faut aider Soufflardent à se réveiller.<br />
      - Les...gens ne voient...le maitre que comme...la source du mal. Les mages...ils ne veulent pas...le...libérer. Cela...changerait trop...leur...monde.<br />
      - Comment dire au monde que Soufflardent doit être réveillé quand on voit se massacre ! dis-tu en pleurs.<br />
      - Tu...doutes. C'est...bien. Il faut...toujours...douter. Toi... tu peux...peut-être changer les choses...tu es pur<span class="sf">e</span>. N'abandonne pas Soufflardent s'il...te...plait. Il a besoin de...toi....</p>

    <p>Emma ferme ses yeux sans que tu aies pu l'aider. Tu as autant de peine à la voir mourir dans tes bras qu'en voyant le mage mort de la tour. Tu aurais voulu que tout le monde s'en sorte.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="70">Finir la bataille de la tour</div>
  </div>

  </div>
