<div class="num num-1-2-7">

  <div class="text">
    <h1>- 7 -</h1>

    <p>- Soufflardent !</p>
    <p>Dans un souffle, Fandrean cite le dragon d'onyx de manière énigmatique.</p>

    <p>- Que veux tu dire, demande Heldegarde ?<br />
      - Cette magie dans le dos de notre amie, est l'oeuvre de Soufflardent. C'est un être qui manipule tous les éléments, et cette trace magique c'est celle que j'ai déjà pu ressentir dans les monts noirs.<br />
      - Mais il est censé être endormi. Comment peut-il lancer des sorts ?<br />
      - Depuis quelque temps il y a de plus en plus d'adorateurs de Soufflardent qui sillonnent les marais. Des créatures horribles mais également de simples humains qui le vénèrent. D'après les rumeurs il y aurait un prophète du dragon qui les guiderait. Cette magie ne vient peut-être pas du dragon lui-même mais peut-être de ce prophète.</p>

      <p>Ça n'a pas l'air d'être une très bonne nouvelle. Mais c'est déjà beaucoup plus d'informations que tu as pu en avoir à l'académie.</p>

      <p>- Mais...est-ce que vous pouvez annuler la malédiction ? demandes-tu timidement.</p>

      <p>Les mages s'échangent des regards inquiets qui ne te font espérer aucune bonne nouvelle. </p>

      <p>- Actuellement, mes pouvoirs ne me permettent pas de le faire, annonce Fandrean. Mais je te propose de rester à la tour. Cela nous permettra d'étudier cette nouvelle magie et de trouver un moyen de la combattre. Si cela peut te donner confiance, je veux que tu saches que mon objectif est justement de finir le combat contre Soufflardent. Le combat débuté par Ymir et Zaïra, c'est moi qui le terminerai, explique-t-il avec aplomb.</p>

      <p>Encore impressionné par le charisme du jeune mage, tu acceptes de rester à la tour. De toute façon tu n'as pas grand-chose d'autre à faire.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="8">S'installer à la tour d'Azano.</div>
  </div>

</div>
