<div class="num num-1-2-70">

  <div class="text">
    <h1>- 70 -</h1>

    <p>Soudain le ciel est perforé par une flèche de lumière immense qui transperce Imp. Fandrean se tient volant juste en face de lui. Le mage le plus puissant de la tour est enfin arrivé.</p>

    <p class="av-pas-sportif">Heldegarde et le mage de l'académie sont encore là pour lui donner un coup de main. Est-ce qu'à 3 ils vont pouvoir faire face au grand prophète ?</p>
    <p class="av-sportif">Heldegarde et Levy sont encore là pour lui donner un coup de main. Est-ce qu'à 3 ils vont pouvoir faire face au grand prophète ?</p>

    <p>Mais d'une frappe de la main, le géant percute violemment le mage sur son dragon-fée, les faisant tomber tous les deux à une vingtaine de mètres de toi. Tu accours immédiatement.</p>

    <p class="av-pas-sportif">- HEY ! Ça va ?<br />
    - J'ai...vu mieux, dit le mage en piteux état.<br />
    - Ne parlez pas et accrochez-vous. Je viens déjà de voir quelqu'un mourir dans mes bras et il hors de question qu'il vous arrive la même chose, dis-tu en lançant un sort de guérison.</p>

    <p class="av-sportif">- LEVY ! C'est moi, <span class="tonnom"></span> !<br />
    - <span class="tonnom"></span> ? Je suis … content<span class="sg">e</span> que tu n'aies...rien. Je ne savais… même pas que tu étais ici.<br />
    - Ne parle pas et accroche-toi. Je viens déjà de voir quelqu'un mourir dans mes bras et il hors de question qu'il t'arrive la même chose, dis-tu en lançant un sort de guérison.</p>

    <p>Heldegarde arrive alors. Elle est, elle aussi, blessée. Tu ne l'avais pas remarqué jusque là.</p>

    <p>- Emmène-le avec les autres. Enfuyez-vous vite, te dit-elle entre deux respirations tendues.<br />
      - Vous aussi vous devez partir, lui dis-tu. Laissez faire Fandrean et partons tous d'ici.<br />
      - Fandrean... Je crois qu'il ne sera pas assez puissant pour le vaincre seul. Je dois rester pour l'aider.</p>

    <p class="av-pas-sportif">Pendant tes soins, le mage s'est endormi<span class="sg">e</span>, épuisé<span class="sg">e</span> par son combat.</p>
    <p class="av-sportif">Pendant tes soins, Levy s'est endormi<span class="sg">e</span>, épuisé<span class="sg">e</span> par son combat.</p>

    <p>Tu <span class="sg">la</span><span class="sf">le</span> prend sur tes épaules comme tu peux. Son dragon-fée n'a pas eu sa chance et tu es obligé<span class="sf">e</span> de le laisser mourant sur place.</p>

    <p class="av-pas-sportif">Heldegarde te lance une dernier regard et repars chancelante au combat. Tu passes entre les flammes et les morts pour sortir du village. Mais alors que tu sortais de cet enfer tu te dis que tu étais venu<span class="sf">e</span> pour agir. Et tu n'as presque rien fait. Tu peux encore sauver Fandrean, Heldegarde et Imp. Tu peux les empêcher de s'entretuer.</p>
    <p class="av-pas-sportif">Tu poses le mage à l'abri des flammes et retourne en courant jusqu'au lieu de la bataille.<br /><br />
    - IMP ! FANDREAN ! ECOUTEZ-MOI ! VOUS DEVEZ ARRETEZ DE VOUS BATTRE ! VOUS N'ETES PAS ENNEMIS ! hurles-tu le plus fort possible.</p>
    <p class="av-pas-sportif">Heldegarde te regarde incrédule. Elle ne comprends pas vraiment ce qu'il se passe. Fandrean aussi paraît surpris. Il a arrêté de se battre et reste à voler juste devant le géant. Et d'un déloyal coup de poing Imp le fait s'écraser au sol.</p>
    <p class="av-pas-sportif">- Bravo serviteur, te dit Imp. Tu as réussi à briser sa concentration.</p>
    <p class="av-pas-sportif">La tête du grand prophète sort enfin des nuages pour montrer ses traits draconiques.<br />
    - Tu...travaillais pour Soufflardent ? te demande Heldegarde choquée.<br />
    - N... oui… mais je n'ai jamais voulu ce massacre, réponds-tu honteuse.<br />
    - Les mages de l'académie sont trop obtus pour être convaincus facilement. Il est naturel d'avoir des pertes, nous sommes en guerre, dit simplement Imp. Et tuer Fandrean va permettre à l'académie de se rendre compte que nous ne sommes pas là pour rigoler.</p>
    <p class="av-pas-sportif">Imp lève son pied pour écraser le mage de la tour, encore vivant mais n'arrivant même plus à prononcer un mot. Dans un sprint soudain, tu t'interposes sans même savoir si le géant arrêtera son coup pour toi. <br />
    - ARRETEZ !! Ou tuez-moi sinon. Je ne suis pas sûr<span class="sf">e</span> que vous ne le ferez pas... mais je ne reculerai pas.</p>
    <p class="av-pas-sportif">Imp s'arrête et recule un peu.<br />
    - Soufflardent t'a peut-être pardonné cet affront mais ne t'avise jamais de croiser ma route, te prévient-il.</p>
    <p class="av-pas-sportif">Le prophète tourne les talons et repars lentement dans les marais jusqu'à disparaitre. Tes jambes flageolent encore de peur.</p>

    <p class="av-sportif">Heldegarde te lance une dernier regard et repars chancelante au combat. Tu passes entre les flammes et les morts pour sortir du village. Finalement, à la sortie de cet enfer, tu vois Lasseni arriver vers toi en courant. Elle était avec les villageois pour les protéger et revenait pour affronter le géant Imp. Un flash dans ton dos illumine tous les environs, puis un gigantesque claquement te fait tomber à terre. Tes oreilles en bourdonnent et tu voies Lasseni à genoux pleurer à s'en décrocher la mâchoire. Tu te retournes, tout est devenu calme. Imp a les deux mains jointes, comme s'il avait attrapé un insecte en plein vol.</p>
    <p class="av-sportif">Tu a les larmes aux yeux mais ce n'est pas le moment de s'arrêter tu tires Lasseni de sa torpeur. Elle vient d'assister à la mort de son frère juste devant elle. Tu dois la sauver, c'est pour ça que tu es revenu<span class="sf">e</span> à la tour.</p>
    <p class="av-sportif">Tu ne sais pas d'où te viens cette force mais tu arrives à porter Levy d'un bras et à tirer Lasseni de l'autre pour les ramener plus loin à l'abri. Derrière le promontoire rocheux. Imp quand à lui est soudain aspiré dans le ciel par la tempête. Il avait l'air gravement blessé.</p>
  </div>

  <div class="choix">
    <div class="ch av-pas-sportif" data-go="75">Tenter d'expliquer tes actions aux mages</div>
    <div class="ch av-sportif" data-go="76">Retrouver les survivants</div>
  </div>

  </div>
