<div class="num num-1-2-71">

  <div class="text">
    <h1>- 71 -</h1>

    <p>C'est la course jusqu'au promontoire. Tu fais passer tout le monde devant toi, relèves ceux qui tombent et gardes en permanence un oeil sur les dragons.</p>

    <p>L'un d'eux vous a d'ailleurs repéré et décide de vous prendre en chasse. Tant que vous ne serez pas à l'abri des rochers vous serez en danger. Tu vas devoir éloigner ce dragon. Il passe à l'attaque mais tu te protèges avec un mur de glace. Certains villageois lui lancent aussi des fourches et certaines l'atteignent sans lui causer beaucoup de dommages. Après être passé plusieurs fois au-dessus de vous il vous laisse tranquille pour se jeter sur une personne à moitié morte laissée au village.</p>

    <p>Le dragon l'emporte dans ses griffes et tu ne le vois plus.</p>

    <p>Le gigantesque géant continue sa route vers le village. Il sort péniblement sa jambe gauche de la boue des marais pour le poser sur la terre ferme. La terre tremble et fait tomber les villageois à chacun de ses pas. Levy a l'air d'avoir retrouvé sa monture et est parti<span class="sg">e</span> à l'assaut du titan. Heldegarde lui lance aussi des boules de feu de loin.</p>

    <p>Tu presses les derniers villageois à s'abriter derrière le promontoire. Vous êtes assez loin pour être protégé du combat mais vous êtes également aux premières loges pour le voir. Il n'y a plus aucun dragon dans le ciel. Seulement le géant. Mac Lumy arrive vers vous en courant en tenant Lasseni sur son dos. Elle n'est pas au mieux. D'autres mages arrivent petits à petits. Seuls Levy et Heldegarde sont restés à combattre le monstre gigantesque.</p>

    <p>Le ciel se déchire soudain et laisse passer une flèche de lumière immense qui vient se planter dans l'imposante poitrine du monstre. Sorti de nulle part, Fandrean, vient de faire son entrée. Il est en lévitation devant le monstre géant. Un nouveau sort de sa part et la créature est serrée par des cordes de lumières qui lui contraignent les bras et les jambes.</p>

    <p>Il y a beaucoup d'éclairs, le monstre sort enfin sa gigantesque tête des nuages pour vous montrer un visage draconique. Et d'un coup lance un souffle semblable à celui des dragons, sauf que le sien fait la taille du village en entier. Les flammes noires sont projetées partout et tu ordonnes à tous les villageois de s'accroupir.</p>

    <p>En te relevant tu ne vois plus que Fandrean qui continue le combat. Levy et Heldegarde ne lancent plus de sorts...</p>

    <p class="av-sportif">Immédiatement tu te lances dans une course pour revenir sur le champ de bataille. Mac Lumy essaie de te retenir mais tu te dégages immédiatement de sa main.<br />
      - C'est trop dangereux <span class="tonnom"></span>, te dit-il.<br />
      - Mac ! T'es en charge des villageois, je te laisse le commandement, lui dis-tu alors que tu cours à en perdre haleine.</p>

    <p>Finalement un flash lumineux immense se déclenche, tu n'arrives plus rien à voir pendant un instant. En les rouvrant tu aperçois Fandrean en train de transpercer le géant de toutes parts avec des sorts de lumière que tu n'avais jamais vus. Et la bête semble reculer, mais d'un clappement de main elle attrape Fandrean comme s'il était un insecte. Le son de ce claquement ne laisse aucun doute : Fandrean vient de se faire écraser par la bête, il est mort.</p>

    <p>Au loin tu entends Lasseni crier de désespoir.</p>

    <p>Le géant n'est pas en bon état et semble, lui aussi, sur le point de tomber à terre quand la tempête l'aspire dans le ciel comme s'il n'était qu'une flaque d'eau au fond d'un évier. Le village est désert, tous les ennemis sont partis et le calme est enfin de retour.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="77">Retrouver tout le monde</div>
  </div>

  </div>
