<div class="num num-1-2-72">

  <div class="text">
    <h1>- 72 -</h1>

    <p>Tu te retrouves à l'abri derrière un promontoire rocheux, avec une bonne partie des villageois et quelques mages encore vivants.</p>

    <p>- Heldegarde est encore avec Fandrean, te dit quelqu'un. À eux deux ils vont pouvoir s'occuper de la bête.<br />
      - Il y a un mage de l'académie qui est arrivé aussi qui est très fort. Il m'a sauvé tout à l'heure, dit un autre.</p>

    <p class="av-sportif">Mac Lumy te confirme que Levy est bien arrivé au combat juste à temps. Il est toujours à combattre le monstre avec Fandrean et Heldegarde.<br />
    - Hors de question que je <span class="sf">le laisse sans moi</span><span class="sf">la laisse sans moi</span>, dis-tu en essayant de retourner au village.</p>

    <p class="av-sportif">Mais tu dois te rendre à l'évidence, tu n'as plus la force de l'aider. Tu es obligé<span class="sf">e</span> de rester <span class="sf">spectatrice</span><span class="sg">spectateur</span> du combat depuis le promontoire.</p>

    <p>Il y a beaucoup d'éclairs, le monstre sort enfin sa gigantesque tête des nuages pour vous montrer un visage draconique. Et d'un coup lance un souffle semblable à celui des dragons, sauf que le sien fait la taille du village en entier. Les flammes noires sont projetées partout et Lasseni - présente aussi avec vous - ordonne à tous les villageois de s'accroupir.</p>

    <p>En te relevant tu ne vois plus que Fandrean qui continue le combat. <span class="av-sportif">Levy</span><span class="av-pas-sportif">Le mage de l'Académie sur son dragon-fée</span> et Heldegarde ne lancent plus de sorts...</p>

    <p class="av-sportif">Immédiatement tu te lances dans une course pour revenir sur le champ de bataille. Mac Lumy essaie de te retenir mais tu te dégages immédiatement de sa main.<br />
      - C'est trop dangereux <span class="tonnom"></span>, te dit-il.<br />
      - Je DOIS y aller, lui dis-tu alors que tu cours boitant.</p>

    <p>Finalement un flash lumineux immense se déclenche, tu n'arrives plus rien à voir pendant un instant. En les rouvrant tu aperçois Fandrean en train de transpercer le géant de toutes parts avec des sorts de lumière que tu n'avais jamais vus. Et la bête semble reculer, mais d'un clappement de main elle attrape Fandrean comme s'il était un insecte. Le son de ce claquement ne laisse aucun doute : Fandrean vient de se faire écraser par la bête, il est mort.</p>

    <p><span class="av-sportif">Au loin</span><span class="av-pas-sportif">A côté</span> tu entends Lasseni crier de désespoir.</p>

    <p>Le géant n'est pas en bon état et semble, lui aussi, sur le point de tomber à terre quand la tempête l'aspire dans le ciel comme s'il n'était qu'une flaque d'eau au fond d'un évier. Le village est désert, tous les ennemis sont partis et le calme est enfin de retour.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="77">Retrouver tout le monde</div>
  </div>

  </div>
