<div class="num num-1-2-74">

  <div class="text">
    <h1>- 74 -</h1>

    <p>Alors que tu parcours le village tu ne vois qu'une immense destruction. Il y a des corps calcinés par les flammes un peu partout, même les corps de quelques dragons. Les maisons sont complètement détruites. Rien n'est debout. C'est la victoire de Soufflardent.</p>

    <p>Les villageois qui s'étaient enfuis reviennent en voyant que le danger est écarté. Certains tombent en larmes en découvrant un proche mort ou leur maison en morceaux. Lasseni également est sous le choc, tu la vois en train de chercher partout son frère. Mac Lumy vient te voir, il est salement blessé au bras mais n'a pas l'air de se plaindre.</p>

    <p>- T'as pu te cacher ? On se demandait où tu étais, commence-t-il. Lasseni... Son frère...<br />
      - J'ai vu le combat...Le dragon que j'ai combattu m'a fait atterrir loin du village. J'ai pu échapper à ce géant comme ça, essaies-tu de te justifier sans attendre que qui que ce soit te l'ai demandé.</p>

    <p>Mac Lumy a l'air choqué également, tu n'as pas souvenir d'avoir fait une mission aussi meurtrière auparavant.</p>

    <p>- Que sont devenus les autres ? lui demandes-tu.</p>

    <p class="numgroupe numgroupe-1">Konakey est toujours là. Elle voit le carnage avec horreur mais ne peut rien faire d'autre. Elle passe son temps à lancer des sorts de guérison pour aider les villageois. Rem, quant à lui, a disparu. Il s'est fait attaqué par deux dragons en même temps et vous n'avez plus de nouvelles.</p>

    <p class="numgroupe numgroupe-2">Konakey est toujours là. Elle voit le carnage avec horreur mais ne peut rien faire d'autre. Elle passe son temps à lancer des sorts de guérison pour aider les villageois. Nao, quant à lui, a disparu. Il s'est fait attaqué par deux dragons en même temps et vous n'avez plus de nouvelles.</p>

    <p class="numgroupe numgroupe-3">Rem a disparu. Il s'est fait attaqué par deux dragons en même temps et vous n'avez plus de nouvelles.</p>

    <p class="numgroupe numgroupe-4">Nao a disparu. Il s'est fait attaqué par deux dragons en même temps et vous n'avez plus de nouvelles.</p>

    <p class="numgroupe numgroupe-5"><span class="fort-nom"></span> est toujours là. <span class="sfg-f">Elle</span><span class="sfg-g">Il</span> voit le carnage avec horreur mais ne peut rien faire d'autre. <span class="sfg-f">Elle</span><span class="sfg-g">Il</span> passe son temps à lancer des sorts de guérison pour aider les villageois. Rem, quant à lui, a disparu. Il s'est fait attaqué par deux dragons en même temps et vous n'avez plus de nouvelles.</p>

    <p class="numgroupe numgroupe-6"><span class="fort-nom"></span> est toujours là. <span class="sfg-f">Elle</span><span class="sfg-g">Il</span> voit le carnage avec horreur mais ne peut rien faire d'autre. <span class="sfg-f">Elle</span><span class="sfg-g">Il</span> passe son temps à lancer des sorts de guérison pour aider les villageois. Nao, quant à lui, a disparu. Il s'est fait attaqué par deux dragons en même temps et vous n'avez plus de nouvelles.</p>

    <p>Heldegarde est portée disparue, un mage venu de l'académie au dernier moment a aussi disparu. La tour a perdu tous ses membres sauf un, à la recherche du corps de ses amis.</p>

    <p class="middle">*</p>

    <p>Alors que tu te demandes si ce massacre était nécessaire, Mac Lumy revient te voir :<br />
      - C'est très étrange.<br />
      - Quoi donc ? fais-tu.<br />
      - Il y a beaucoup de corps mais beaucoup de villageois sont introuvables. Des mages aussi.<br />
      - Tu as bien vu le souffle de ce géant ? Il a certainement réduit en poussières le corps des vill...<br />
      - Non. Fandrean n'est pas mort du souffle du géant. Et on ne le retrouve pas. Même pour les dragons c'est pareil. On est sur d'en avoir tué au moins 6 mais on n'en retrouve que 4.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="78">Faire le point sur la bataille</div>
  </div>

  </div>
