<div class="num num-1-2-75">

  <div class="text">
    <h1>- 75 -</h1>

    <p>Il n'y a que Heldegarde et Fandrean pour le moment. La vielle mage te regarde pendant qu'elle soigne le frère de Lasseni.</p>

    <p>- Est-ce que c'est toi qui leur a dit d'attaquer pendant que Fandrean n'était pas là ? te demande-t-elle.<br />
      - Je vous jure que non. Normalement je ne fais que passer des messages à l'académie.<br />
      - QUE passer des messages ? Tu entends ça Fandrean ? Un<span class="sf">e</span> espion<span class="sf">ne</span> qui essaie de nous faire croire qu'elle n'a pas d'importance.</p>

    <p>Fandrean ne dit rien mais te regarde. Il n'a pas l'air en colère, lui.</p>

    <p>- Je n'ai jamais voulu ça. Soufflardent doit être réveillé pour le bien de tout le monde. Il faudrait tous qu'on puisse se parler.<br />
      - Inutile, te coupe-t-elle. Je vois bien que tu a eu le cerveau complètement retourné par le dragon. C'est LE MAL ABSOLU. Tu comprends.<br />
      - Je pense que chacun ne veut voir que ce qui l'arrange.<br />
      - Mais regarde autour de toi ! fait-elle en montrant le carnage du village. Des dizaines de morts et un village détruit. Il faudrait qu'on vous applaudisse ?</p>

    <p>Fandrean, qui se sent un peu mieux pose la main sur l'épaule de la mage. Elle se calme un peu.</p>

    <p>- Calme toi Helde. Je ne connais pas <span class="tonnom"></span> depuis longtemps mais rien que la discussion qu'on a en ce moment me fait dire qu'elle n'est pas une extrémiste qui ne souhaite que détruire l'académie.<br />
      - Mais… tous ces morts ? dit Heldegarde en lâchant une larme sur sa joue.<br />
      - Je sais… Petit<span class="sf">e</span> raconte nous comment tu as rejoint les adorateurs de Soufflardent. Je les pourchasse depuis longtemps. Mais je n'avais jamais vu quelqu'un comme toi, tu as l'air convaincu<span class="sf">e</span> par le dragon d'onyx mais tu refuses la violence.</p>

    <p>Et tu leur raconta comment Soufflardent t'avais contacté dans tes rêves puis toutes les petites missions qu'il t'avait confié - mais en omettant quand même de divulguer les noms des personnes impliquées à l'académie.</p>

    <p class="middle">*</p>

    <p>- Donc… l'académie est déjà truffée d'espion de Soufflardent, se lamente Heldegarde. Moi qui croyais que seuls les monts noirs et les marais l'était.<br />
      - Soufflardent t'a dit qu'il était la source de la magie ici bas ? Et que s'il mourrait il n'y en aurait plus ? Fandrean paraît assez abasourdi par la nouvelle, lui qui est tout le temps calme.</p>

    <p>Les villageois qui avaient fuis commencent à revenir au village. Tu vois Lasseni et d'autres mages également courir vers vous.</p>

    <p>- Heldegarde, tout ceci doit rester secret entre nous pour le moment. ordonne Fandrean.<br />
      - QUOI ? Impossible, tu te rends comp...<br />
      - Je t'en supplie. Nous garderons un œil sur toi petit<span class="sf">e</span>. Mais pour le moment je dois analyser ces informations.</p>

    <p>Heldegarde te lance un regard noir. Tu viens de te faire une ennemie. Lasseni, qui n'est pas très émotive d'habitude, se jette dans les bras de son frère. Fandrean lui raconte alors qu'à vous 3 vous avez réussi à blesser suffisamment le géant pour qu'il s'enfuit. Le mensonge est gros mais tout le monde l'accepte.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="79">Faire le point sur la bataille</div>
  </div>

  </div>
