<div class="num num-1-2-76">

  <div class="text">
    <h1>- 76 -</h1>

    <p>Chacun panse ses blessures, les mages lancent des sorts de guérison. Mais vous n'êtes plus nombreux. Lasseni est en état de choc. La mort de Fandrean l'affecte beaucoup plus que tu ne l'aurais pensé. Il n'avait pas l'air si proche que ça. Mac Lumy est là aussi, mais il a une vilaine blessure au bras droit. Il dépense toute sa magie sur les villageois avant de penser à se soigner lui même.</p>

    <p class="numgroupe numgroupe-1 numgroupe-2">Konakey aide également. Elle n'a pas l'air si choqué que ça du combat mais est horrifiée par les blessures des gens. Ça a l'air d'être une bonne fille finalement.</p>

    <p class="numgroupe numgroupe-1 numgroupe-4 numgroupe-6 numgroupe-7 numgroupe-8">Rem est porté disparu. Quelqu'un l'a vu se faire attaquer par deux dragons. Selon les rumeurs il était encore au village quand le géant a lancé ses attaques. Tu te dis qu'il est probablement mort.</p>
    <p class="numgroupe numgroupe-2 numgroupe-3 numgroupe-5">Nao est porté disparu. Quelqu'un l'a vu se faire attaquer par deux dragons. Selon les rumeurs il était encore au village quand le géant a lancé ses attaques. Tu te dis qu'il est probablement mort.</p>

    <p class="numgroupe numgroupe-5 numgroupe-6 numgroupe-7"><span class="fort-nom"></span> aide également. <span class="sfg-f">Elle</span><span class="sfg-g">Il</span> n'a pas l'air si choqué que ça du combat mais est horrifié<span class="sfg-f">e</span> par les blessures des gens. Etre parti de l'académie n'en a pas fait un monstre finalement.</p>

    <p>Levy se remet de ses blessures et c'est le principal pour toi mais pour Heldegarde et Fandrean...</p>

    <p class="middle">*</p>

    <p>Un groupe de villageois était retourné au village avec le dernier mage de la tour survivant. Après une petite heure ils reviennent au rapport. Comme Lasseni n'est pas encore remise c'est toi qui dirige un peu tout le monde pour le moment :<br />
      - Il y a quelque chose d'étrange au village, te dit le mage.<br />
      - Quoi donc ? fais-tu.<br />
      - Il y a beaucoup de corps mais beaucoup de villageois sont introuvables. Des mages aussi.<br />
      - Tu as bien vu les sorts de ce géant ? Il a certainement réduit en poussières le corps des vill...<br />
      - Non. Fandrean n'est pas mort du souffle du géant. Et on ne le retrouve pas. Même pour les dragons c'est pareil. On est sur d'en avoir tué au moins 6 mais on n'en retrouve que 4.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="78">Faire le point</div>
  </div>

  </div>
