
<div class="num num-1-2-78">

  <!-- MAC LUMY + LASSENI + TOI + KONAKEY + JOHAN = 1 - 2 -->
  <!-- MAC LUMY + LASSENI + TOI + JOHAN = 3 - 4 - 8 -->
  <!-- MAC LUMY + LASSENI + TOI + KANNAN + JOHAN = 5 - 6 - 7 -->

  <div class="text">
    <h1>- 78 -</h1>

    <p>Tu réunis tous les mages qu'il reste pour faire le point. Johan, le dernier mage de la tour encore présent t'a laissé le commandement. Et Lasseni, reste toujours prostrée.</p>

    <p>- Ecoutez-moi. Visiblement, il y a beaucoup de villageois ou de mages qui manquent à l'appel. Et je ne parle pas des morts, mais vraiment… ils ont l'air d'avoir disparu.<br />
      - Où tu veux en venir ? demande Johan.<br />
      - La mission que j'ai reçue, c'était d'enquêter sur des disparitions. Des disparitions dont personne n'avait jamais vu comment elles s'étaient déroulées.</p>

    <p>Lasseni soudain relève la tête et intègre la conversation :<br />
      - Tu penses que tous ces gens disparus pendant la bataille… ont été enlevés comme ceux qu'on recherchait ? demande-t-elle.<br />
      - Oui c'est ce que je pense. Et si elles ont été enlevées...<br />
      - C'est qu'elles sont vivantes, ajoute Mac Lumy.</p>

    <p>L'espoir renaît dans les yeux de Lasseni. De tout le monde même. </p>

    <p>- Mais d'après ce qu'on a vu, les personnes enlevées sont ensorcelées, dit Lasseni.<br />
      - Oui, une malédiction qui a l'air de les transformer en dragon.</p>

    <p class="fin fin-3">
      - Je sais que même les plus grandes malédictions peuvent être contrées, dis-tu. J'en suis la preuve vivante. Mon tatouage, Fandrean l'a "désactivé".<br />
      - Oui, on trouvera un moyen de les sauver tous, mais il faut les retrouver, fait Mac Lumy.
    </p>
    <p class="fin fin-1">
      - Je ne sais pas comment contrer la malédiction, mais à la forteresse de la lune Ymir et Zaïra pourront certainement nous aider.<br />
      - Oui, on trouvera un moyen de les sauver tous, mais il faut les retrouver, fait Mac Lumy.
    </p>
    <p class="fin fin-2">
      - Je ne sais pas comment contrer la malédiction, mais à la forteresse de la lune Ymir et Zaïra pourront certainement nous aider, dit <span class="fort-nom"></span>.<br />
      - Oui, on trouvera un moyen de les sauver tous, mais il faut les retrouver, fait Mac Lumy.
    </p>
    <p class="fin fin-4">
      - Je ne sais pas comment contrer la malédiction, mais à la forteresse de la lune Ymir et Zaïra pourront certainement nous aider, dit <span class="fort-nom"></span>.<br />
      - Oui, on trouvera un moyen de les sauver tous, mais il faut les retrouver, fait Mac Lumy.
    </p>
    <p class="fin fin-5">
      - Je ne sais pas comment contrer la malédiction, mais à la forteresse de la lune Ymir et Zaïra pourront certainement nous aider, dit <span class="fort-nom"></span>.<br />
      - Oui, on trouvera un moyen de les sauver tous, mais il faut les retrouver, fait Mac Lumy.
    </p>
    <p class="fin fin-6">
      - Si on délivre Fandrean, il trouvera une solution. C'est le mage le plus puissant que je connaisse, dit Lasseni.<br />
      - Oui, on trouvera un moyen de les sauver tous, mais il faut les retrouver, fait Mac Lumy.
    </p>

    <p class="fin fin-6">Etant un<span class="sf">e</span> espion<span class="sf">ne</span> de Soufflardent tu te dis qu'il vaut mieux amener tout le monde jusqu'à Imp. Il saura quoi faire.</p>

    <p class="middle">*</p>

    <p>Sur ces mots vous formez une équipe de secours. Les villageois vont devoir prendre sur eux et se barricader où ils peuvent pendant que vous allez tenter de secourir les disparus. Vous promettez de revenir les chercher dès que possible.</p>

    <p class="iflevy">Levy est trop blessé pour vous accompagner. <span class="sf">Il</span><span class="sg">Elle</span> restera avec les villageois.</p>

    <p class="numgroupe numgroupe-1 numgroupe-2">Konakey a promis de tous vous amener à la forteresse de la lune pour vous abriter une fois le sauvetage fait.</p>
    <p class="numgroupe numgroupe-5 numgroupe-6"><span class="fort-nom"></span> a promis de tous vous amener à la forteresse de la lune pour vous abriter une fois le sauvetage fait.</p>
    <p class="numgroupe numgroupe-7">Toi et <span class="fort-nom"></span>, vous avez promis de tous les amener à la forteresse de la lune pour les abriter une fois le sauvetage fait.</p>
    <p class="numgroupe numgroupe-8">Tu as promis de tous les amener à la forteresse de la lune pour les abriter une fois le sauvetage fait.</p>

    <p>Le groupe de sauvetage se compose de toi, Lasseni, Mac Lumy, <span class="numgroupe numgroupe-1 numgroupe-2">Johan et Konakey</span><span class="numgroupe numgroupe-3 numgroupe-4">et Johan</span><span class="numgroupe numgroupe-5 numgroupe-6 numgroupe-7"><span class="fort-nom"></span> et Johan</span><span class="numgroupe numgroupe-8">et Johan</span>.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="80">Retourner dans les marais</div>
  </div>
</div>
