<div class="num num-1-2-79">

  <!-- FANDREAN + HELDEGARDE + MAC LUMY + LASSENI + TOI + KONAKEY + JOHAN = 1 - 2 -->
  <!-- FANDREAN + HELDEGARDE + MAC LUMY + LASSENI + TOI + JOHAN = 3 - 4 - 8 -->
  <!-- FANDREAN + HELDEGARDE + MAC LUMY + LASSENI + TOI + KANNAN + JOHAN = 5 - 6 - 7 -->

  <div class="text">
    <h1>- 79 -</h1>

    <p>En essayant de voir s'il ne reste pas des personnes à sauver dans le village vous vous rendez compte que plusieurs personnes ont disparu. Des mages aussi et même des dragons.</p>

    <p>- Fandrean, il nous manque beaucoup de personnes. Ils n'ont pas pu tous être réduits en cendre, lui dit un villageois.<br />
      - Ecoutez-moi. Visiblement, il y a beaucoup de villageois ou de mages qui manquent à l'appel. Et je ne parle pas des morts, mais vraiment… ils ont l'air d'avoir disparu, dit Fandrean en réfléchissant.<br />
      - Où tu veux en venir ? demande Johan, un des mages de la tour.<br />
      - La mission pour laquelle sont venus les mages de l'académie, c'était pour enquêter sur des disparitions. Des disparitions dont personne n'avait jamais vu comment elle s'étaient déroulées.<br />
      - Tu penses que tous ces gens disparus pendant la bataille… ont été enlevé comme ceux qu'on recherchait ? demande Lasseni.<br />
      - Oui c'est ce que je pense. Et si elles ont été enlevées...<br />
      - C'est qu'elles sont vivantes, ajoute Mac Lumy.</p>

    <p>L'espoir renait dans les yeux de tout le monde. </p>

    <p>- Mais d'après ce qu'on a vu, les personnes enlevées sont ensorcelées, dit Lasseni.<br />
      - Oui, une malédiction qui a l'air de les transformer en dragon, ajoute Fandrean. Et si on me laisse l'occasion d'ausculter les personnes maudites : je trouverai un moyen de les sauver, jure-t-il.
    </p>

    <p>Sur ces mots vous formez une équipe de secours. Les villageois vont devoir prendre sur eux et se barricader où ils peuvent pendant que vous allez tenter de secourir les disparus. Vous promettez de revenir les chercher dès que possible.</p>

    <p class="iflevy">Levy est trop blessé pour vous accompagner. <span class="sf">Il</span><span class="sg">Elle</span> restera avec les villageois.</p>

    <p>Tu t'avances de Fandrean, et lui dit timidement.<br />
      - Je sais que vous ne me faites probablement pas confiance...mais j'aimerai vous accompagner. Je pourrai vous aider. Tout ce que je veux c'est que tout le monde survive.</p>

    <p>Fandrean te regarde en hésitant. Heldegarde le regarde méchamment, pour lui dire qu'il est hors de question que tu viennes. Les autres ne comprennent pas bien ce qu'il se passe.</p>

    <p>- Ok tu nous accompagnes, décide-t-il.</p>

    <p>Il regarde Heldegarde comme pour dire qu'il vallait mieux que tu sois avec eux pour qu'ils puissent te surveiller.</p>

    <p>Le groupe de sauvetage se compose de Fandrean, Heldegarde, toi, Lasseni, Mac Lumy, <span class="numgroupe numgroupe-1 numgroupe-2">Johan et Konakey</span><span class="numgroupe numgroupe-3 numgroupe-4">et Johan</span><span class="numgroupe numgroupe-5 numgroupe-6 numgroupe-7"><span class="fort-nom"></span> et Johan</span><span class="numgroupe numgroupe-8">et Johan</span>.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="81">Retourner dans les marais</div>
  </div>
</div>
