<div class="num num-1-2-8">

  <div class="text">
    <h1>- 8 -</h1>

    <p>Le temps passe, on t'a donné une chambre dans la tour. Finalement, peu de mages habitent en permanence ici. Ils partent souvent en mission. Seule Heldegarde reste tout le temps. Elle t'a appris la vie dans les marais, et est gentille avec toi.</p>

    <p>Même sans magie tu apprends plein de trucs incroyables. Tu as vu des tas de nouvelles créatures, Héréons, Soufflants des marais et même des petits dragons rouges qui survolaient les marais.</p>

    <p>Le village d'Azano est également accueillant, tout le monde respecte les mages, encore plus qu'à l'académie. Et comme tu habites dans la tour, les villageois sont extrêmement polis avec toi.</p>

    <p>Tu tentes de ne pas perdre de temps et de toujours écouter les mages quand ils parlent de magie. Tu t'endors en lisant des livres de magie. Tu aides Heldegarde à préparer des potions et tu t'occupes de la cuisine pour les mages de passage.</p>

    <p>Fandrean tient promesse et passe du temps pour étudier la magie de ton tatouage. Il consigne énormément de chose tout en t'expliquant ce qu'il arrive à découvrir sur cette magie. Durant une année, le prophète dont il parlait reste toutefois introuvable.</p>

    <p class="middle">*</p>

    <p>Le temps passe, si tu étais resté<span class="sf">e</span> à l'académie, tu serais aujourd'hui en troisième année. Tu n'as absolument aucune nouvelle de tes anciens amis restés là-bas. Fandrean, qui est en fait le frère de Lasseni, ne parle jamais de sa sœur et jamais Lasseni n'est venu à la tour depuis ton arrivée.</p>

    <p>Mais ce jour, tu as enfin une bonne nouvelle : Fandrean a réussi à tromper la magie de Soufflardent. En tatouant un cercle de protection autour de ton tatouage maudit tu sens que ta magie n'est plus aspirée. Et en un rien de temps tu peux enfin relancer tes sorts.</p>

    <p>Heldegarde est folle de joie pour toi. Le temps passé à la tour fut profitable, et Heldegarde te propose d'y rester pour te servir de professeure de magie. Tu acceptes volontiers et il ne te faut que quelques mois pour maitriser les 8 sorts de bases : chute contrôlée, masque, glaciation, vision de rêve, lumière, main de feu, racines et guérison. Mais les sorts que tu maitrises le mieux sont les sorts de <span class="magieMType"></span>.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="16">Continuer</div>
  </div>

</div>
