<div class="num num-1-2-80">

  <!-- MAC LUMY + LASSENI + TOI + KONAKEY + JOHAN = 1 - 2 -->
  <!-- MAC LUMY + LASSENI + TOI + JOHAN = 3 - 4 - 8 -->
  <!-- MAC LUMY + LASSENI + TOI + KANNAN + JOHAN = 5 - 6 - 7 -->

  <div class="text">
    <h1>- 80 -</h1>

    <p>Vous ne pensiez pas retourner si vite dans les marais. Mais le temps presse, il faut retrouver le plus vite possible les personnes disparues.</p>

    <p>Après quelques hésitations, vous retrouvez enfin l'endroit où vous enfoncer dans les marais pour finalement sortir du puits de l'autre côté.</p>

    <p>- Que...Quel est cet endroit ? demande Johan.<br />
      - Ça semble être l'endroit où les adorateurs de Soufflardent se cachent. La dernière fois, c'est ici qu'on a trouvé Emma, explique Lasseni.</p>

    <p>L'endroit semble toujours aussi accueillant. Mais cette fois, il y a de grosses flaques de sang qui partent du puits et vous montrent un chemin. Le géant avait été blessé, ce doit être sa piste.</p>

    <p>- Faites attention, on ne veut surtout pas se retrouver à combattre une créature aussi puissante, fais-tu. Donc chacun fait extrêmement attention, ok ?</p>

    <p>La piste est assez longue et vous amène en vue de ce qui semble être un village forestier. Des maisons de bois, certaines accrochées à des arbres. Plus vous avancez plus vous voyez des cultures, arbres fruitiers, et même des animaux d'élevage. Des poules et des porcussins font un peu de bruit sur votre passage.</p>

    <p>- Incroyable, ce village semble être l'endroit parfait pour vivre, s'étonne Johan. C'est ici qu'il faut venir s'installer.<br />
      - Tout ça n'est possible que grâce à des pouvoirs sombres, ceux de Soufflardent, fait Lasseni. Je pense que vivre ici contribue à te maudire et te transforme en dragon.</p>

    <p>Au milieu du village, un gigantesque arbre protège le village. Il ressemble à un saule pleureur avec ses branches qui retombent mais il est gigantesque. De ses branches pendant des sortes de cocons blancs. Vous restez sur vos gardes mais aucun dragon n'est visible. Les traces de sang, elles, se poursuivent vers la plus grande maison du village. Mais il est impossible que le géant de tout à l'heure puisse se tenir dedans. Tout est à taille humaine.</p>

    <p>Lasseni, te demande ton avis sur la marche à suivre.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="82">Examiner les cocons</div>
    <div class="ch" data-go="83">Suivre les traces de sang et entrer dans la maison</div>
  </div>
</div>
