<div class="num num-1-2-83">

  <!-- MAC LUMY + LASSENI + TOI + KONAKEY + JOHAN = 1 - 2 -->
  <!-- MAC LUMY + LASSENI + TOI + JOHAN = 3 - 4 - 8 -->
  <!-- MAC LUMY + LASSENI + TOI + KANNAN + JOHAN = 5 - 6 - 7 -->

  <div class="text">
    <h1>- 83 -</h1>

    <p>Tu t'approches doucement de la maison, Lasseni à tes côtés. Les autres suivent juste derrière.</p>

    <p>Tu jettes un coup d'œil par la porte ouverte mais tu ne vois rien de spécial. Seulement les traces de sang qui ont l'air de partir dans le fond de la pièce principale. Mais les volets étant fermés, l'intérieur de la maison est plongé dans le noir. Rentrer dans cette maison est peut-être un piège.</p>

    <p>Lasseni fait un signe de la main pour dire de rentrer et vous pénétrer sans bruit à l'intérieur. Pas de signes de dragons ou du géant. Les traces de sang vous amènent jusqu'à un homme assis contre le mur en train de mourir visiblement.</p>

    <p>- Vous avez été touché par le sort de "fissure de lumière" de Fandrean, lui dit Lasseni. Vous êtes foutu. Dites-nous où se trouve tout le monde !</p>

    <p>L'homme a l'air tout à fait normal. Une grande barbe, des cheveux en bataille mal peigné, des habits quelconques. Mais des blessures qui laissent effectivement penser que le géant c'était lui. Il souffle bruyamment, et crache du sang.</p>

    <p>- Vous ne pouvez plus nous ignorer, dit-il. Vous ne pouvez plus le retenir...Il va revenir...Car sans lui vous n'êtes rien, commence-t-il à dire.</p>

    <p>Il veut faire passer un message. Le message de Soufflardent. Mais ce qu'il tente d'expliquer est confus.</p>

    <p>- Où sont les personnes enlevées ? demande une nouvelle fois Lasseni.</p>

    <p>Le vieux monsieur rigole un peu ce qui lui fait cracher du sang.</p>

    <p>- Il y a... un des types que vous voulez sauver... c'est lui le véritable ennemi... ce lapin... vous devriez vous en méfier plutôt que moi.</p>

    <p class="fin fin-1">
      - Usaki ? fais-tu. Où est-il ? Dans les cocons ?<br/>
      - Héhé, tu connais la vraie nature de... cette bête ? Alors tu es un<span class="sf">e</span> ennemi<span class="sf">e</span>.<br /><br />
      L'homme se relève d'un coup mais Mac Lumy le replaque au sol immédiatement. Johan lui lance un sort d'étreinte pour lui mettre les bras dans son dos.<br /><br />
      - Ha ha ha, rigole-t-il encore. Votre véritable ennemi est dans vos propres rangs. <span class="sf">Cette fille</span><span class="sg">Ce garçon</span> va vous faire tuer tous, dit-il en te désignant du regard.<br /><br />
      Les autres te regardent mais te font plus confiance qu'en ce type. Ce qu'il dit n'est que le cri d'un homme sur le point de mourir.
    </p>
    <p class="fin fin-2 fin-3 fin-4 fin-5">
      - Usaki ? fait <span class="fort-nom"></span>. Où est-il ? Dans les cocons ?<br/>
      - Héhé, tu connais la vraie nature de... cette bête ? Alors tu es un<span class="sf">e</span> ennemi<span class="sf">e</span>.<br /><br />
      L'homme se relève d'un coup mais Mac Lumy le replaque au sol immédiatement. Johan lui lance un sort d'étreinte pour lui mettre les bras dans son dos.<br /><br />
      - Ha ha ha, rigole-t-il encore. Votre véritable ennemi est dans vos propres rangs. <span class="sfg-f">Cette fille</span><span class="sfg-g">Ce garçon</span> va vous faire tuer tous, dit-il en désignant <span class="fort-nom"></span> du regard.<br /><br />
      Tu as largement plus confiance en <span class="fort-nom"></span> qu'en ce type. Ce qu'il dit n'est que le cri d'un homme sur le point de mourir.
    </p>
    <p class="fin fin-6">
      - Usaki ? fait <span class="fort-nom"></span>. Où est-il ? Dans les cocons ?<br/>
      - Héhé, tu connais la vraie nature de... cette bête ? Alors tu es un<span class="sf">e</span> ennemi<span class="sf">e</span>.<br /><br />
      L'homme se relève d'un coup mais Mac Lumy le replaque au sol immédiatement. Johan lui lance un sort d'étreinte pour lui mettre les bras dans son dos.<br /><br />
      - Ha ha ha, rigole-t-il encore. Votre véritable ennemi est dans vos propres rangs. <span class="sfg-f">Cette fille</span><span class="sfg-g">Ce garçon</span> va vous faire tuer tous, dit-il en désignant <span class="fort-nom"></span> du regard.<br /><br />
      Tu sais maintenant ce que tu as à faire. Si tu retrouves "ce lapin", c'est de lui qu'il faut te méfier. Imp, le grand prêtre vient de te faire parvenir le message.
    </p>

    <p>- Que fait-on de lui ? demande Mac Lumy.<br />
      - Tant qu'on n'a pas retrouvé les autres on le garde avec nous, ordonne Lasseni. Il n'a plus l'air dangereux.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="82">Retourner dehors pour examiner les cocons</div>
  </div>
</div>
