<div class="num num-1-2-84">

  <!-- MAC LUMY + LASSENI + TOI + KONAKEY + JOHAN = 1 - 2 -->
  <!-- MAC LUMY + LASSENI + TOI + JOHAN = 3 - 4 - 8 -->
  <!-- MAC LUMY + LASSENI + TOI + KANNAN + JOHAN = 5 - 6 - 7 -->

  <div class="text">
    <h1>- 84 -</h1>

    <p>Les cocons ne sont pas en soie comme ceux des papillons mais plutôt recouverts d'écailles blanches. Des écailles comme celles des dragons. Ils sont retenus aux branches par une sorte de corde naturelle dans une matière que tu ne connais pas. Et ils ont une taille humaine. Cela voudrait dire que les gens disparus sont dedans ?</p>

    <p>Lasseni commence à couper une des cordes pour faire tomber un cocon. Grâce à un sort de chute ralentie, le cocon se pose doucement au sol. Tu demandes à tout le monde de faire attention. Il est possible que chaque cocon renferme un dragon prêt à vous attaquer.</p>

    <p>C'est donc avec une grande précaution que vous ouvrez le premier cocon. D'un sort de glaciation, Lasseni se créer un petit poignard de glace pour ouvrir l'enveloppe d'écailles. Vous êtes tout autour, prêt à attaquer au cas où vous trouveriez un dragon.</p>

    <p>Le cocon s'ouvre sans effort. A l'intérieur ? Une des villageoise disparue.</p>

    <p>- C'est Madame Hump ! s'écrie Johan.</p>

    <p>La femme est endormie, elle ne ressemble en aucun cas à un dragon.</p>

    <p>- Vite il faut délivrer tout le monde, fait Heldegarde en commençant à faire descendre d'autres cocons.</p>

    <p>Tu te souviens quand même que Emma semblait tout à fait normale quand vous l'aviez trouvée. Enfin, pas tout à fait normale mais au moins humaine.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="88">Délivrer tout le monde</div>
    <div class="ch" data-go="87">Demander la prudence et attendre de réveiller cette femme avant de continuer</div>
  </div>
</div>
