<div class="num num-1-2-85">

  <div class="text">
    <h1>- 85 -</h1>

    <p>Vous arrachez les cocons les uns après les autres, il y en a une trentaine. Tu ne pensais pas qu'il y en ait autant. Il y en a cinq particulièrement gros. Vous vous dites que vous les ouvrirez en dernier.</p>

    <p>Petit à petit vous retrouvez tous vos compagnons : <span class="numgroupe numgroupe-1 numgroupe-4 numgroupe-6 numgroupe-7 numgroupe-8">Rem</span><span class="numgroupe numgroupe-2 numgroupe-3 numgroupe-5">Nao</span>, Heldegarde, <span class="if-pas-levy">Levy</span>, Fandrean. Tout le monde a l'air vivant finalement.</p>

    <p class="fin fin-6">Tu te demandes si tu dois vraiment faire tout ça. Soufflardent doit compter sur ces personnes pour le délivrer.</p>

    <p>Lasseni prend son frère dans ses bras en pleurant. Ça te fait plaisir de la voir heureuse. Mac Lumy s'avance quand même vers toi pour te demander ce que vous allez faire des cinq derniers cocons.</p>

    <p>- Ils sont trop gros pour avoir des humains dedans, dit Mac Lumy.<br />

    <span class="numgroupe numgroupe-1 numgroupe-2">- On les ouvre, décide Konakey. Usaki doit être dans un de ces cocons. Il est plus grand qu'un humain.<br />
    - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
    - Chaque minute compte, lui répond la mage. Si ton frère était dans un des cocons restants tu ne me demanderais pas d'attendre.</span>

    <span class="numgroupe numgroupe-3 numgroupe-4 pas-kannan">- Il y a probablement un de mes amis dedans, dit une voix derrière vous.<br />
      <span class="grpsansfg">- C'est toi ? Tu nous as finalement retrouvé ? dis-tu.<br /><br />La jeune mage à la peau noire que vous aviez vu dans la maison du mage Maski, se trouve derrière vous.<br /><br />
      - Usaki, enfin celui que vous appelez Maski est dans un des cocons restants, ajoute-t-elle.<br />
      - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
      - Chaque minute compte, lui répond la mage. Si ton frère était dans un des cocons restants tu ne me demanderais pas d'attendre.</span>
      <span class="grpsansfg-2"><br /><br />Une fille de ton age à la peau noire et aux cheveux noirs tressées se tient derrière vous.<br /><br />
      - Usaki, enfin celui que vous connaissez peut-être sous le nom de Maski est dans un des cocons restants, ajoute-t-elle.<br />
      - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
      - Chaque minute compte, lui répond la mage. Si ton frère était dans un des cocons restants tu ne me demanderais pas d'attendre.</span>
    </span>
    <span class="numgroupe numgroupe-3 numgroupe-4 kannan">- Il y a probablement un de mes amis dedans, dit une voix derrière vous.<br />
      <span class="grpsansfg">- C'est toi ? Tu nous as finalement retrouvé ? dis-tu.<br /><br /><span class="fort-nom"></span> se trouve derrière vous.<br /><br />
      - Usaki, enfin celui que vous appelez Maski est dans un des cocons restants, ajoute-t-elle.<br />
      - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
      - Chaque minute compte, lui répond <span class="fort-nom"></span>. Si ton frère était dans un des cocons restants tu ne me demanderais pas d'attendre.</span>
      <span class="grpsansfg-2"><br /><br /><span class="fort-nom"></span> se tient derrière vous, sorti<span class='sfg-f'>e</span> d'on ne sait où.<br /><br />
      - Usaki, enfin celui que vous connaissez peut-être sous le nom de Maski est dans un des cocons restants, ajoute-t-elle.<br />
      - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
      - Chaque minute compte, lui répond la mage. Si ton frère était dans un des cocons restants tu ne me demanderais pas d'attendre.</span>
    </span>

    <span class="numgroupe numgroupe-5 numgroupe-6">- On les ouvre, décide <span class="fort-nom"></span>. Usaki doit être dans un de ces cocons. Il est plus grand qu'un humain.<br />
    - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
    - Chaque minute compte, lui répond <span class="sfg-f">la</span><span class="sfg-g">le</span> mage. Si ton frère était dans un des cocons restants tu ne me demanderais pas d'attendre.</span>

    <span class="numgroupe numgroupe-7"><span class="fort-nom"></span> te fait remarquer qu'Usaki na pas été encore retrouvé. Vu sa taille ce ne serait pas surprenant qu'il soit dans un des cocons encore accroché.<br /><br />
    - On les ouvre, décides-tu. Usaki doit être dans un de ces cocons. Il est plus grand qu'un humain.<br />
    - Attend ! te demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
    - Chaque minute compte, lui réponds-tu. Si ton frère était dans un des cocons restants tu ne me demanderais pas d'attendre.</span>

    <span class="numgroupe numgroupe-8">Tu remarques qu'Usaki na pas été encore retrouvé. Vu sa taille ce ne serait pas surprenant qu'il soit dans un des cocons encore accroché.<br /><br />
    - On les ouvre, décides-tu. Usaki doit être dans un de ces cocons. Il est plus grand qu'un humain.<br />
    - Attend ! te demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
    - Chaque minute compte, lui réponds-tu. Si ton frère était dans un des cocons restants tu ne me demanderais pas d'attendre.</span></p>

  </div>

  <div class="choix">
    <div class="ch numgroupe numgroupe-1 numgroupe-2" data-go="89">Se ranger du côté de Konakey</div>
    <div class="ch numgroupe numgroupe-1 numgroupe-2" data-go="90">Se ranger du côté de Lasseni</div>
    <div class="ch numgroupe numgroupe-3 numgroupe-4 pas-kannan" data-go="89">Se ranger du côté de la mage</div>
    <div class="ch numgroupe numgroupe-3 numgroupe-4 pas-kannan" data-go="90">Se ranger du côté de Lasseni</div>
    <div class="ch numgroupe numgroupe-3 numgroupe-4 kannan" data-go="91">Se ranger du côté de <span class="fort-nom"></span></div>
    <div class="ch numgroupe numgroupe-3 numgroupe-4 kannan" data-go="92">Se ranger du côté de Lasseni</div>
    <div class="ch numgroupe numgroupe-5 numgroupe-6" data-go="91">Se ranger du côté de <span class="fort-nom"></span></div>
    <div class="ch numgroupe numgroupe-5 numgroupe-6" data-go="92">Se ranger du côté de Lasseni</div>
    <div class="ch numgroupe numgroupe-7 numgroupe-8" data-go="93">Ouvrir les cocons restants quand même</div>
  </div>
</div>
