<div class="num num-1-2-87">

  <div class="text">
    <h1>- 87 -</h1>

    <p>- Désolé mais tes conseils : garde-les, te dit Heldegarde.<br />
      - C'est vrai que la dernière fois, Emma semblait humaine. Cette fois-ci encore la villageoise est peut-être maudite, dit Lasseni.</p>

    <p>L'explication de Lasseni a l'air de faire plus d'effets que ton avis auprés d'Heldegarde. Et même si la jeune mage a envie d'ouvrir les autres cocons pour vérifier si son frère est présent, il vaut mieux s'assurer que cette fille ne vous attaquera pas quand elle reprendra ses esprits.</p>

    <p>Johan lance un sort d'eau pour mouiller un peu le visage de la villageoise qui commence à se réveiller.</p>

    <p>- Comment vous sentez-vous ? lui demandes-tu.<br />
      - Qu...qu'est-ce qui s'est passé ? J'étais au village et puis tout fut noir, vous murmure-t-elle.<br />
      - Elle a l'air d'être sensée. Ça veut dire qu'on l'a délivré à temps, non ? demande Mac Lumy.</p>

    <p>Vous l'aidez un peu puis après avoir vérifié qu'elle ne se comportait pas bizarrement Lasseni donne l'ordre de détacher les autres cocons.</p>
  </div>

  <div class="choix">
    <div class="ch" data-go="88">Ouvrir les cocons</div>
  </div>
</div>
