<div class="num num-1-2-88">

  <div class="text">
    <h1>- 88 -</h1>

    <p>Alors que vous alliez commencer à détacher les autres cocons une explosion provient de la maison où est rentré Fandrean. Vous tournez tous la tête immédiatement. Fandrean sort calmement de la maison mais avec le visage fermé et sérieux. Puis vous voyant fait un sourire et un signe de main pour vous dire que tout va bien.</p>

    <p>- C'était quoi ça, lui demande Heldegarde.<br />
      - Un dernier adversaire, j'ai pu m'en charger. Pas d'inquiétude.</p>

    <p>Vous retournez à vos cocons et les arrachez les uns après les autres, il y en a une trentaine. Tu ne pensais pas qu'il y en ait autant. IL y en a 5 particulièrement gros. Vous vous dites que vous les ouvrirez en derniers.</p>

    <p>Petit à petit vous retrouvez tous vos compagnons : <span class="numgroupe numgroupe-1 numgroupe-4 numgroupe-6 numgroupe-7 numgroupe-8">Rem</span><span class="numgroupe numgroupe-2 numgroupe-3 numgroupe-5">Nao</span><span class="if-pas-levy">, Levy</span>... Tout le monde a l'air vivant finalement.</p>

    <p>Mac Lumy s'avance quand même vers toi pour te demander ce que vous allez faire des 5 derniers cocons.</p>

    <p>- Ils sont trop gros pour avoir des humains dedans, dit Mac Lumy.<br />

    <span class="numgroupe numgroupe-1 numgroupe-2">- On les ouvre, décide Konakey. Usaki doit être dans un de ces cocons. Il est plus grand qu'un humain.<br />
    - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
    - Chaque minute compte, lui répond la mage. Si ton frère était dans un des cocons restant tu ne me demanderais pas d'attendre.</span>

    <span class="numgroupe numgroupe-3 numgroupe-4">- Il y a probablement un de mes amis dedans, dit une voix derrière vous.<br />
      <span class="grpsansfg">- C'est toi ? Tu nous as finalement retrouvé ? dis-tu.<br /><br />La jeune mage à la peau noire que vous aviez vu dans la maison du mage Maski, se trouve derrière vous.<br /><br />
      - Usaki, enfin celui que vous appelez Maski est dans un des cocons restants, ajoute-t-elle.<br />
      - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
      - Chaque minute compte, lui répond la mage. Si ton frère était dans un des cocons restant tu ne me demanderais pas d'attendre.</span>
      <span class="grpsansfg-2"><br /><br />Une fille de ton age à la peau noire et aux cheveux noirs tressées se tient derrière vous.<br /><br />
      - Usaki, enfin celui que vous connaissez peut-être sous le nom de Maski est dans un des cocons restants, ajoute-t-elle.<br />
      - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
      - Chaque minute compte, lui répond la mage. Si ton frère était dans un des cocons restant tu ne me demanderais pas d'attendre.</span>
    </span>

    <span class="numgroupe numgroupe-5 numgroupe-6">- On les ouvre, décide <span class="fort-nom"></span>. Usaki doit être dans un de ces cocons. Il est plus grand qu'un humain.<br />
    - Attend ! lui demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
    - Chaque minute compte, lui répond <span class="sfg-f">la</span><span class="sfg-g">le</span> mage. Si ton frère était dans un des cocons restant tu ne me demanderais pas d'attendre.</span>

    <span class="numgroupe numgroupe-7"><span class="fort-nom"></span> te fait remarquer qu'Usaki na pas été encore retrouvé. Vu sa taille ce ne serait pas surprenant qu'il soit dans un des cocons encore accroché.<br /><br />
    - On les ouvre, décides-tu. Usaki doit être dans un de ces cocons. Il est plus grand qu'un humain.<br />
    - Attend ! te demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
    - Chaque minute compte, lui réponds-tu. Si ton frère était dans un des cocons restant tu ne me demanderais pas d'attendre.</span>

    <span class="numgroupe numgroupe-8">Tu remarques qu'Usaki na pas été encore retrouvé. Vu sa taille ce ne serait pas surprenant qu'il soit dans un des cocons encore accroché.<br /><br />
    - On les ouvre, décides-tu. Usaki doit être dans un de ces cocons. Il est plus grand qu'un humain.<br />
    - Attend ! te demande Lasseni. C'est probablement des dragons. Ton Usaki c'est un risque à prendre. On va d'abord récupérer tout le monde et les amener au village avant d'en ouvrir d'autres.<br />
    - Chaque minute compte, lui réponds-tu. Si ton frère était dans un des cocons restant tu ne me demanderais pas d'attendre.</span></p>

    <p>Fandrean s'avance et calme tout le monde.<br />
      - Ecoutez. Vous allez emporter tous les villageois. Moi je vais ouvrir les cocons restants. Je suis encore suffisamment fort pour m'occuper de bébés dragons. </p>

    <p>
      <span class="numgroupe numgroupe-1 numgroupe-2 numgroupe-3 numgroupe-4">La jeune mage à la peau noire reste avec lui.</span>
      <span class="numgroupe numgroupe-5 numgroupe-6"><span class="fort-nom"></span> reste avec lui.</span>
      <span class="numgroupe numgroupe-7"><span class="fort-nom"></span> et toi restez avec lui.</span>
      <span class="numgroupe numgroupe-8">Tu restes avec lui.</span>
    </p>

  </div>

  <div class="choix">
    <div class="ch numgroupe numgroupe-1 numgroupe-2 numgroupe-3 numgroupe-4 numgroupe-5 numgroupe-6" data-go="94">Partir avec les villageois</div>
    <!-- <div class="ch numgroupe numgroupe-7 numgroupe-8" data-go="95">Rester avec Fandrean pour ouvrir les cocons restants</div> -->
  </div>
</div>
