<div class="num num-1-2-89">

  <div class="text">
    <h1>- 89 -</h1>

    <p>- <span class="tonnom"></span>, qu'est-ce que tu fais ? te dit Lasseni. C'est des dragons là-dedans. Tu penses pouvoir les battre ?<br />
    - Si cette fille dit qu'il y a un de ses amis à l'intérieur des cocons restants ; je prends le risque. Et d'ailleurs, les dragons seront peut-être endormis aussi.</p>

    <p>Lasseni est en colère mais elle ne peut pas y faire grand-chose.</p>

    <p>- Laissez-nous au moins cinq minutes qu'on réveille tout le monde et qu'on commence à s'en aller.</p>

    <p>Vous restez donc à deux pendant que tout le groupe de villageois et de mages s'en va. Mac Lumy te dit de faire attention et vous laisse. Il te dit de repasser au village dès que vous aurez fini.</p>

    <p class="middle">*</p>

    <p class="numgroupe numgroupe-3 numgroupe-4">
      <span class="grpsansfg">La mage te rappelle qu'elle se nomme Konakey et te remercie d'avoir pris sa défense.</span>
      <span class="grpsansfg-2">La mage s'appelle Konakey et te remercie d'avoir pris sa défense.</span>
    </p>

    <p><span class="sf">Toutes</span><span class="sg">Tous</span> les deux vous vous occupez de faire descendre les cocons restants. L'un d'entre eux a l'air un peu différent. Konakey concentre son énergie dessus et te dit qu'il s'agit certainement de son allié.</p>

    <p>Tu lui fais confiance et vous l'ouvrez en même temps.</p>

    <p class="fin fin-2 fin-3 fin-4">L'enveloppe d'écailles à peine ouverte tu reconnais la créature que tu avais vue il y a deux ans. Le noctule de la mission de Terrence. Contrairement aux autres villageois, Miguel, lui, n'était pas endormi.</p>
    <p class="fin fin-6">L'enveloppe d'écailles à peine ouverte tu vois une créature ressemblant à un lapin de 3 mètres de haut. Contrairement aux autres villageois, Usaki, lui, n'était pas endormi.</p>

    <p>- USAKI ! s'écrie Konakey. Je suis là pour t'aider.<br />
      - Tout va bien maintenant, lui répond la créature. Merci d'être venue, les sortilèges de Soufflardent sont puissants. Impossible de sortir de cette coquille de l'intérieur.<br />
      - Hé hé. C'est moi qui te sauve maintenant. Je te présente <span class="tonnom"></span>.<br />
      - Oh je <span class="sf">la</span><span class="sg">le</span> connais. J'ai travaillé avec <span class="sf">elle</span><span class="sg">lui</span> pendant une année...ou presque.<br />
      <span class="fin fin-3">- On se connait ?<br />
      - Tu dois me connaitre sous le nom de Miguel. Mais Usaki est mon nom véritable.<br /></span>
      <span class="fin fin-1 fin-2 fin-4 fin-5 fin-6">- ... Miguel. Qu'est devenu Terrence ? <span class="kannan">Et <span class="kannan-nom"></span> ?</span><br />
      - Terrence se porte bien. <span class="kannan"><span class="kannan-nom"></span> aussi.</span> Chez nous. Mais appelle-moi Usaki, c'est mon vrai nom.</span><br /></p>

    <p>Konakey est surprise de savoir que vous vous connaissiez. Usaki vous confirme que les cocons restants contiennent des dragons. Il est impossible d'enlever la malédiction une fois une personne totalement transformée en dragon. En tout cas c'est ce qu'Usaki vous dit. Et avant de partir vous mettez le feu aux cocons et à tout le village.</p>

    <p>- Usaki ? dit Konakey. Je comptais proposer à tous les gens de la tour d'Azano de venir à la forteresse. Ils n'ont plus de village.<br />
      - Fandrean est un problème. Il est trop puissant pour ne pas provoquer de dommages à la forteresse. <br />
      - Hey. Soyez sympa. Ces gens ont tout perdu. Vous allez leur interdire un peu de repos juste à cause d'un désaccord avec l'un d'entre eux ? glisses-tu en te mêlant à leur conversation.</p>

    <p>Usaki acquiesce finalement, Konakey est très contente aussi de pouvoir aider les gens du village. Comme Mac Lumy te l'avait proposé, vous retournez au village. Mais en brûlant le village des adorateurs de Soufflardent, toute la magie de l'endroit disparait. Plus de belle prairie, plus de puits où s'engouffrer. Vous êtes au milieu des marais.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="95">Retourner au village avec Usaki</div>
  </div>
</div>
