<div class="num num-1-2-9">

  <div class="text">
    <h1>- 9 -</h1>

    <p>Après le premier message reçu de la part de Soufflardent tu remarquas que l'académie étaient remplis d'espions à la solde du dragon. Pas des mages mais des cuisiniers, des bonnes, des palefreniers...à qui tu donnais des messages ou des instructions. Jamais tu ne prenais de grands risques.</p>

    <p>Ta première année finit très vite, tu réussis à terminer l'année en connaissant la totalité des sorts de niveau 1. Seule Lasseni put faire de même. Et si tu étais complètement objecti<span class="sf">ve</span><span class="sg">f</span> tu avouerais même qu'elle est encore supérieure à toi en magie.</p>

    <p class="av-sportif">Levy gagna la grande course de fin d'année de l'académie d'Azalys. Il fut immédiatement propulsé grand mage malgré son jeune âge. Il est régulièrement envoyé en mission lointaine mais grâce à la vitesse de son dragon Mazaäne tu peux le voir encore très souvent.</p>

    <p class="av-sportif">De ton côté tu arrives de mieux en mieux à chevaucher Typhon, ton dragon. Et même si au cours de ta deuxième année on te demanda de le prêter à un petit nouveau qui venait d'arriver, tu sais que, finalement, il n'y a que toi pour comprendre vraiment Typhon.</p>

    <p class="av-riche">Après ce résultat, ta mère te félicita. Elle t'expliqua que si elle essayait par le passé de te faire arrêter la magie c'est parce qu'elle sait à quel point celle-ci peut-être dangereuse. Et surtout que la magie attire toujours des êtres malfaisants. Ça t'a permis de relativiser le comportement qu'elle avait avec toi au départ. Tu regrettes quand même qu'elle soit obligée de partir de l'académie très souvent puisqu'elle est une des mages les plus puissantes de l'académie. Certains rumeurs disent qu'elle deviendrait la 5° mages supérieures bientôt.</p>

    <p class="av-studieux">Eran, ton frère, s'est remis à étudier la magie pendant que tu passais ta deuxième année. Et tu lui donna un coup de main, grâce à tes nouvelles connaissances. Cela lui permit de réussir l'examen d'entrée 2 ans après toi seulement. Il est installé dans la chambre 11, ton ancienne chambre, et il a choisit de se spécialiser en magie du feu.</p>

    <p class="av-populaire">Après tes performances en missions et le fait que tu connaisses tous les sorts de niveau 1 avec une année d'avance, tu devins rapidement la sensation de l'école. Ça aurait pu être le cas de Lasseni aussi mais son caractère renfermé la laissa dans ton ombre, et ça n'avait pas l'air de la déranger du tout.</p>

    <p class="av-courageux">Pendant ton temps libre tu essayais de trouver le maximum d'informations possibles sur Soufflardent. Mais aucun livre ne mentionnait ce qu'il t'a raconté.</p>

    <p class="middle">*</p>

    <p>Et finalement, te voilà désormais au rang de jeune mage au début de ta troisième année à l'académie. Tu n'es plus considéré<span class="sf">e</span> comme un<span class="sf">e</span> débutant<span class="sf">e</span>. Parmi tes amis de première année, Lasseni et Mac Lumy sont arrivés à ce niveau là en même temps que toi. Mais les autres ne sont pas en reste, aucun n'est en retard sur l'apprentissage normal de la magie. C'est juste vous trois qui êtes de futurs grands mages.</p>

    <p>Avec ce nouveau statut, on vous dit que vous serez peut-être amené à effectuer des missions seules.</p>

    <p class="middle">*</p>

    <p>Les sorts que tu connais désormais sont : chute contrôlée, masque, glaciation, vision de rêve, lumière, main de feu, racines et guérison. Mais les sorts que tu maitrise le mieux sont les sorts de <span class="magieMType"></span>.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="10">Continuer</div>
  </div>

</div>
