<div class="num num-1-2-90">

  <div class="text">
    <h1>- 90 -</h1>

    <p>- Je pense aussi que c'est trop dangereux. dis-tu à la mage. C'est des dragons là-dedans. Tu penses pouvoir les battre ?</p>

    <p>Mais Mac Lumy s'interpose.</p>

    <p>- Je...je pense qu'on peut couper la poire en deux. On la laisse ouvrir les cocons pendant que nous emmenons tout le monde. Elle nous laissera un peu d'avance, ça va à tout le monde comme ça ?</p>

    <p>Lasseni est en colère mais elle ne peut pas y faire grand-chose.</p>

    <p>Vous réveillez tous les villageois et commencez à vous préparer à retourner au village, Mac Lumy vient alors te dire de partir devant.</p>

    <p>- Comment ça ? Tu ne viens pas avec nous ? lui demandes-tu.<br />
      - Je vais rester avec Konakey. Je vais l'aider, je suis sûr qu'il ne m'arrivera rien. Ne t'inquiète pas je vous retrouverai au village.</p>

    <p class="numgroupe numgroupe-1 numgroupe-2">Tu espères quand même que Mac Lumy ne soit pas tombé amoureux d'elle. C'est toujours quand on aime quelqu'un qu'on fait des bêtises.</p>
    <p class="numgroupe numgroupe-3 numgroupe-4">
      <span class="grpsansfg">Tu espères quand même que Mac Lumy ne soit pas tombé amoureux d'elle. C'est toujours quand on aime quelqu'un qu'on fait des bêtises.</span>
      <span class="grpsansfg-2">Tu ne savais même pas qu'elle s'appelait Konakey. Tu espères quand même que Mac Lumy ne soit pas tombé amoureux d'elle. C'est toujours quand on aime quelqu'un qu'on fait des bêtises.</span>
    </p>

    <p class="middle">*</p>

    <p>Après avoir passé le puits, vous revoilà à parcourir les marais. Accompagnant une trentaine de villageois, la chose n'est pas aisée. Vous êtes interrompus de temps en temps par des Héréons mais aucun prédateur ne vous attaque.</p>

    <p>Le retour au village se fait en héros. Tout le monde vous félicite. Ça met un peu de baume au cœur malgré la journée infernale vécue par tout le monde. Tout le monde se demande ce qu'ils vont devenir maintenant que le village est détruit. Mais la présence de Fandrean a l'air de rassurer tout le monde. Le protecteur d'Azano est vivant.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="96">Attendre le retour de Mac Lumy</div>
  </div>
</div>
