<div class="num num-1-2-92">

  <div class="text">
    <h1>- 92 -</h1>

    <p>- Je pense aussi que c'est trop dangereux. dis-tu à <span class="fort-nom"></span>. C'est des dragons là-dedans. Tu penses pouvoir les battre ?</p>

    <p>Mais Mac Lumy s'interpose.</p>

    <p>- Je...je pense qu'on peut couper la poire en deux. On <span class="sfg-f">la</span><span class="sfg-g">le</span> laisse ouvrir les cocons pendant que nous emmenons tout le monde. Elle nous laissera un peu d'avance, ça va à tout le monde comme ça ?</p>

    <p>Lasseni est en colère mais elle ne peut pas y faire grand-chose.</p>

    <p>Vous réveillez tous les villageois et commencez à vous préparer à retourner au village, Mac Lumy vient alors te dire de partir devant.</p>

    <p>- Comment ça ? Tu ne viens pas avec nous ? lui demandes-tu.<br />
      - Je vais rester avec <span class="fort-nom"></span>. Je vais l'aider, je suis sûr qu'il ne m'arrivera rien. Ne t'inquiète pas je vous retrouverai au village.</p>

    <p class="middle">*</p>

    <p>Après avoir passé le puits, vous revoilà à parcourir les marais. Accompagnant une trentaine de villageois, la chose n'est pas aisée. Vous êtes interrompus de temps en temps pour des Héréons mais aucun prédateur ne vous attaque.</p>

    <p>Le retour au village se fait en héros. Tout le monde vous félicite. Ça met un peu de baume au cœur malgré la journée infernale vécue par tout le monde. Tout le monde se demande ce qu'ils vont devenir maintenant que le village est détruit. Mais la présence de Fandrean a l'air de rassurer tout le monde. Le protecteur d'Azano est vivant.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="96">Attendre le retour de Mac Lumy</div>
  </div>
</div>
