<div class="num num-1-2-93">

  <div class="text">
    <h1>- 93 -</h1>

    <p class="numgroupe numgroupe-7">- Je crois qu'on va se passer de ta bénédiction Lasseni, expose <span class="fort-nom"></span>. Mon ami est encore dans un de ces cocons et on va les ouvrir.<br  />
      - Fais ça et je te fige dans la glace pour 3 jours, répond Lasseni avec colère.<br />
      - Laisse tomber Lasseni, notre magie est maintenant supérieure à la tienne, ajoutes-tu. On a appris des sorts dont tu n'as pas idée.</p>

    <p class="numgroupe numgroupe-8">- Je crois qu'on va se passer de ta bénédiction Lasseni, exposes-tu. Mon ami est encore dans un de ces cocons et je vais les ouvrir.<br  />
      - Fais ça et je te fige dans la glace pour 3 jours, répond Lasseni avec colère.<br />
      - Laisse tomber Lasseni, ma magie est maintenant supérieure à la tienne, ajoutes-tu. J'ai appris des sorts dont tu n'as pas idée.</p>

    <p>Mais Mac Lumy s'interpose.</p>

    <p class="numgroupe numgroupe-7">- Je...je pense qu'on peut couper la poire en deux. On vous laisse ouvrir les cocons pendant que nous emmenons tout le monde. Vous nous laisserez un peu d'avance, ça va à tout le monde comme ça ?</p>
    <p class="numgroupe numgroupe-8">- Je...je pense qu'on peut couper la poire en deux. On te laisse ouvrir les cocons pendant que nous emmenons tout le monde. Tu nous laisseras un peu d'avance, ça va à tout le monde comme ça ?</p>

    <p>Lasseni est en colère mais elle ne peut pas y faire grand chose. Par souvenir de l'amitié que tu portais à Mac Lumy tu acceptes aussi.</p>

    <p>Tous les villageois sont réveillés et tout le monde commence à se préparer à retourner au village, Mac Lumy vient alors te dire un mot avant de partir.</p>

    <p class="numgroupe numgroupe-7">- Retrouvez-nous au village quand vous aurez fini.</p>
    <p class="numgroupe numgroupe-8">- Retrouve-nous au village quand tu auras fini.</p>

    <p class="middle">*</p>

    <p class="numgroupe numgroupe-7">Tous les deux vous vous occupez de faire descendre les cocons restants. L'un d'entre eux a l'air un peu différent. Tu concentres ton énergie dessus et tu te dis qu'il s'agit certainement de ton allié.</p>
    <p class="numgroupe numgroupe-8">Tu t'occupes de faire descendre les cocons restants. L'un d'entre eux a l'air un peu différent. Tu concentres ton énergie dessus et tu te dis qu'il s'agit certainement de ton allié.</p>

    <p>Tu ouvres délicatement le cocon en tirant fort sur les écailles blanches.</p>

    <p class="numgroupe numgroupe-7">- USAKI ! t'écries-tu. Je suis là pour t'aider.<br />
      - Tout va bien maintenant, te répond la créature. Merci d'être venue, les sortilèges de Soufflardent sont puissants. Impossible de sortir de cette coquille de l'intérieur.<br />
      - Hé hé. C'est moi qui te sauve maintenant.<br />
      - Je suis là aussi, ajoute <span class="fort-nom"></span> pour bien montrer que tu n'as pas fait le travail tout<span class="sf">e</span> seul<span class="sf">e</span>.<br />
      - Hé hé hé bien sûr je ne t'oublie pas, dit Usaki en rigolant. Bon ce n'est pas que je n'apprécie pas les retrouvailles mais je ne pense pas que ce soit le bon moment pour prendre tout notre temps.<br />
      - Oui on ne sait jamais qui pourrait arriver.<br /></p>
    <p class="numgroupe numgroupe-8">- USAKI ! t'écries-tu. Je suis là pour t'aider.<br />
    - Tout va bien maintenant, te répond la créature. Merci d'être venue, les sortilèges de Soufflardent sont puissants. Impossible de sortir de cette coquille de l'intérieur.<br />
    - Hé hé. C'est moi qui te sauve maintenant.<br />
    - Bon ce n'est pas que je n'apprécie pas les retrouvailles mais je ne pense pas que ce soit le bon moment pour prendre tout notre temps.<br />
    - Oui on ne sait jamais qui pourrait arriver.<br /></p>

    <p class="numgroupe numgroupe-7">Usaki vous confirme que les cocons restants contiennent des dragons. Il est impossible d'enlever la malédiction une fois une personne totalement transformée en dragon. En tout cas c'est ce qu'Usaki vous dit. Et avant de partir vous mettez le feu aux cocons et à tout le village.</p>
    <p class="numgroupe numgroupe-8">Usaki te confirme que les cocons restants contiennent des dragons. Il est impossible d'enlever la malédiction une fois une personne totalement transformée en dragon. En tout cas c'est ce qu'Usaki te dit. Et avant de partir vous mettez le feu aux cocons et à tout le village.</p>

    <p class="numgroupe numgroupe-7">- Usaki ? dit <span class="fort-nom"></span>. On comptait proposer à tous les gens de la tour d'Azano de venir à la forteresse. Ils n'ont plus de village.<br />
    - Fandrean est un problème. Il est trop puissant pour ne pas provoquer de dommages à la forteresse. <br />
    - Hey. Sois sympa. Ces gens ont tout perdu. On va pas leur interdire un peu de repos juste à cause d'un désaccord avec l'un d'entre eux ? glisses-tu. En plus Fandrean et Lasseni sont les descendants de Ymir et Zaïra, non ?<br />
    - Oui, je l'ai entendu dire, te confirme Usaki. Mais c'est peut-être une complication justement. Néanmoins, d'accord. Si comme vous le dites leur village est détruit, c'est certainement la seule chose qu'on peut faire pour ne pas qu'il y ait plus de morts.</p>
    <p class="numgroupe numgroupe-8">- Usaki ? dis-tu. Je comptais proposer à tous les gens de la tour d'Azano de venir à la forteresse. Ils n'ont plus de village.<br />
    - Fandrean est un problème. Il est trop puissant pour ne pas provoquer de dommages à la forteresse. <br />
    - Hey. Sois sympa. Ces gens ont tout perdu. On va pas leur interdire un peu de repos juste à cause d'un désaccord avec l'un d'entre eux ? glisses-tu. En plus Fandrean et Lasseni sont les descendants de Ymir et Zaïra, non ?<br />
    - Oui, je l'ai entendu dire, te confirme Usaki. Mais c'est peut-être une complication justement. Néanmoins, d'accord. Si comme vous le dites leur village est détruit, c'est certainement la seule chose qu'on peut faire pour ne pas qu'il y ait plus de morts.</p>

    <p class="numgroupe numgroupe-7">Vous êtes très contents aussi de pouvoir aider les gens du village. Comme Mac Lumy te l'avait proposé, vous retournez au village. Mais en brûlant le village des adorateurs de Soufflardent, toute la magie de l'endroit disparait. Plus de belle prairie, plus de puits où s'engouffrer. Vous êtes au milieu des marais.</p>
    <p class="numgroupe numgroupe-8">Tu es très content<span class="sf">e</span> aussi de pouvoir aider les gens du village. Comme Mac Lumy te l'avait proposé, vous retournez au village. Mais en brûlant le village des adorateurs de Soufflardent, toute la magie de l'endroit disparait. Plus de belle prairie, plus de puits où s'engouffrer. Vous êtes au milieu des marais.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="95">Retourner au village avec Usaki</div>
  </div>
</div>
