<div class="num num-1-2-94">

  <div class="text">
    <h1>- 94 -</h1>

    <p>Vous prenez un peu de temps pour réveiller tout le monde et pour les soigner un peu. Fandrean se repose un peu encore. Visiblement il n'a pas totalement récupéré depuis son combat contre Imp. Mais il a dit que les dragons ne lui poseraient pas de problème. Lasseni a l'air de se faire un peu de souci pour lui quand même mais ne peut trop rien dire. Heldegarde, elle, a toujours un regard sur toi.</p>

    <p>Vous laissez finalement Fandrean et <span class="fort-nom"></span> pendant que vous rentrez d'un pas pressé vers le puits permettant le retour dans les marais.</p>

    <p class="middle">*</p>

    <p>Vous voilà de retour dans les marais, accompagnés par une trentaine de villageois, la chose n'est pas aisée. Vous êtes interrompus de temps en temps pour des Héréons mais aucun prédateur ne vous attaque.</p>

    <p>Le retour au village se fait en héros. Tout le monde vous félicite. Ça met un peu de baume au cœur malgré la journée infernale vécue par tout le monde. Tout le monde se demande ce qu'ils vont devenir maintenant que le village est détruit.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="97">Attendre le retour de Fandrean</div>
  </div>
</div>
