<div class="num num-1-2-95">

  <div class="text">
    <h1>- 95 -</h1>

    <p>Vous retrouvez le chemin du village facilement. Usaki a revêtu un sort de masque pour ne pas faire peur aux villageois, mais décide de ne pas revenir sous la forme du mage Maski qui habitait dans le coin. Usaki vous explique en chemin qu'il s'est fait capturer pendant son passage dans l'eau. Ce court passage où vous deviez entrer dans la mare pour ressortir du puits. Le grand prêtre des adorateurs de Soufflardent était très puissant et l'avait attaqué dans ce lieu sans qu'il ne puisse faire quoi que ce soit.</p>

    <p>Les marais vous semblent étrangement beaucoup plus calmes que la première fois que tu y étais passé aujourd'hui. Il faut dire qu'avec les passages des dragons, géant, villageois et vous également, les animaux des marais ont certainement été tellement dérangés qu'ils ont préféré décamper.</p>

    <p>Le village est en vue, en tout cas ce qu'il en reste. Les villageois ont établi un camp de fortune pendant que les mages essaient de faire du feu et s'occupent d'avoir un peu de confort. Mais tout le monde est à bout de forces.</p>

    <p class="impcapture">Lasseni vous apprend qu'Imp, le grand prêtre de Soufflardent que vous aviez capturé, s'est endormi dangereusement en arrivant dans les marais. Personne ne sait ce qu'il lui est arrivé mais ça ressemble à de la magie. Fandrean a déjà ausculté l'homme sans pouvoir établir de jugement sur son état. Usaki vous dit que probablement Soufflardent l'a endormi pour qu'il ne puisse pas donner d'information à Fandrean.<br /><br />
    - C'est horrible, fais-tu rempli<span class="sf">e</span> de dégoût. Soufflardent est prêt à sacrifier même son grand prêtre.<br />
    - Son seul but, c'est d'arriver à se réveiller. Qu'importent les moyens utilisés pour arriver à ça, te répondit Usaki avec calme.</p>

    <p>Usaki explique alors à Fandrean et aux villageois qu'ils sont les bienvenus à la "forteresse de la lune" : un endroit dans les monts noirs mais complètement sûrs. Il explique que l'endroit est protégé par de très grands mages. Il préfère ne pas révéler aux villageois qu'Ymir et Zaïra sont là-bas. Mais Fandrean, Heldegarde et les autres mages sont maintenant tous au courant. La nuit étant proche, la décision de partir est repoussée au lendemain. Mais Fandrean est plutôt d'accord pour escorter tout le monde dans les montagnes. Il semble même impatient de voir ses descendants.</p>

    <p class="av-sportif">Levy se repose aussi. Il a eu une grosse journée et déjà il dort prêt d'un feu. Tu décides d'aller te blottir contre lui pour la nuit.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="98">Se reposer enfin</div>
  </div>
</div>
