<div class="num num-1-2-97">

  <div class="text">
    <h1>- 97 -</h1>

    <p>Pendant que vous attendez Fandrean, vous établissez un campement de fortune pour les villageois rescapés. Au total il y a environ 250 personnes. Vous faites du feu avec quelques sorts de magie, quelques cabanes de fortunes avec un sort de racines...</p>

    <p>Le soir arrive, dans les marais un petit groupe arrive. C'est Fandrean. Il est accompagné par <span class="fort-nom"></span> et un homme assez grand. Est-ce que c'est la personne que <span class="fort-nom"></span> recherchait ?</p>

    <p>Ils sont accueillis par Heldegarde. Tu t'approches également. Le grand type accompagnant Fandrean s'appelle Usaki, qui s'avère être en fait Miguel, la chèvre. La nouvelle n'est donnée qu'aux mages. Pour les villageois ça ferait beaucoup à digérer.</p>

    <p class="impcapture">Lasseni vous apprend aussi qu'Imp, le grand prêtre de Soufflardent que vous aviez capturé, s'est endormi dangereusement il y a quelques minutes. Personne ne sait ce qu'il lui est arrivé mais ça ressemble à de la magie. Fandrean l'a déjà ausculté sans pouvoir établir de jugement sur son état. Usaki vous dit que probablement Soufflardent l'a endormi pour ne pas qu'il puisse donner d'information à Fandrean.<br /><br />
    - C'est horrible, fais-tu rempli<span class="sf">e</span> de dégoût. Pourquoi Soufflardent fait-il ça à son grand prêtre.<br />
    - Oui on se demande pourquoi quelqu'un voudrait suivre une créature aussi atroce, dit Heldegarde sournoisement.<br />
    - Le seul but de Soufflardent c'est d'arriver à se réveiller. Qu'importe les moyens utilisés pour arriver à ça, te répondit Usaki avec calme.</p>

    <p>Usaki vous explique alors aux mages et aux villageois qu'ils sont les bienvenus à la "forteresse de la lune" : un endroit dans les monts noirs mais complètement sûr. Il explique que l'endroit est protégé par de très grands mages. Il préfère ne pas révéler aux villageois qu'Ymir et Zaïra sont là-bas. Mais Fandrean, Heldegarde et les autres mages sont maintenant tous au courant. La nuit étant proche, la décision de partir est repoussée au lendemain. Mais Fandrean est plutôt d'accord pour escorter tout le monde dans les montagnes. Il semble même impatient de voir ses descendants.</p>

    <p class="av-sportif">Levy se repose aussi. Il a eu une grosse journée et déjà il dort prêt d'un feu. Tu décides d'aller te blottir contre lui pour la nuit.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="98">Se reposer enfin</div>
  </div>
</div>
