<div class="num num-1-2-98">

  <div class="text">
    <h1>- Le départ -</h1>

    <p class="av-sportif">Tu es réveillé<span class="sf">e</span> par une douce odeur de chocolat chaud. Levy te tends une petite chopine toute chaude que tu acceptes volontiers.<br /><br />
    - Ça va mieux, lui demandes-tu en buvant une gorgée.<br />
    - Je suis encore bien fatigué<span class="sg">e</span> mais ça peut aller. Les soins magiques m'ont remis<span class="sg">e</span> d'applomb.<br /><br />
    Tu souris, le visage caché dans ta chope de chocolat chaud. Vu l'état de Levy hier tu ne pensais pas qu'<span class="sg">elle</span><span class="sf">il</span> se lèverait avant toi aujourd'hui.</p>

    <p class="av-pas-sportif">Le repos t'a fait du bien et tu te réveilles sous un temps typique de la tour d'Azano : un gros brouillard. Mais tout le monde est reconnaissant des efforts des mages. À peine t'es-tu levé<span class='sf'>e</span> qu'une petite fille te propose une chopine de chocolat chaud:<br />
    - C'est pour toi <span class='sf'>madame</span><span class='sg'>monsieur</span>. T'en veux ?<br />
    - Heu merci petite, mais je ne suis pas très vieille. Appelle moi <span class="tonnom"></span><br />
    - Ma maman, elle m'a dit de toujours être polie avec les mages.<br />
    - Ha ha, tu as raison. Il faut être polie avec tout le monde. Mais appelle moi <span class="tonnom"></span>, c'est poli je t'assure, lui réponds-tu en étant choqué<span class="sf">e</span> d'avoir été appelé <span class="sf">e</span><span class='sf'>madame</span><span class='sg'>monsieur</span>.<br /><br />
    Le chocolat chaud est délicieux, tu te demandes d'où il sort.</p>

    <p>En marchant dans le campement, tu te rends compte que les gens sont en train de faire leurs bagages pour partir. Il y a quelques charriots, mais la plupart ont été détruits pendant l'attaque. Du coup, comme beaucoup de choses vont devoir être laissé sur place, chacun essaie de donner ce qu'il peut à quelqu'un qui en voudrait. Ton chocolat chaud, c'était aussi une des choses que cette petite fille ne pouvait pas emporter. Il n'était pas indispensable.</p>

    <p>Les mages ont repris en main le contrôle de la situation. Même s'il ne reste plus grand monde de la tour d'Azano. Certains mages sont réellement morts. Ils n'avaient pas tous été enlevés par les adorateurs de Soufflardent.</p>

    <p>Tu retrouves donc Fandrean en train d'expliquer aux villageois quelle route ils vont prendre. Usaki est là également pour leur indiquer le chemin sur une carte.<br /><br />
      - C'est étrange, lui dit Fandrean. Je suis certain d'être déjà allé dans ce coin-là des dizaines de fois et je n'ai jamais vu de "forteresse".<br />
      - C'est normal. Nous avons un cinquième type de magie : la magie de la lune. C'est un type de magie qui nous permet de nous cacher. C'est même impossible de nous remarquer si on ne vous le dit pas.</p>

    <p>Fandrean a passé beaucoup de temps avec Usaki. Il écoute assidûment ce que lui dit la créature, qui porte un sort de masque en permanence pour ne pas révéler sa forme véritable.</p>

    <p class="fin fin-1">Tu es content<span class="sf">e</span> que Fandrean s'entende bien avec Usaki mais tu te demandes si Ymir et Zaïra aurait dit autant de choses sur la forteresse… Enfin c'est vrai qu'Usaki a presque le même grade que les deux mages de la légende.</p>
    <p class="fin fin-2 fin-4 fin-5 fin-6">
      - Reposé<span class="sf">e</span> ? Te dit <span class="nao">Nao</span><span class="rem">Rem</span>. Je voulais tous vous remercier de m'avoir libéré de ces cocons. C'était vraiment bizarre à l'intérieur.<br />
      - Ah oui ? C'est vrai, je ne t'ai pas encore demandé, mais ça faisait mal ? Tu as senti que tu commençais à te transformer en dragon ?<br />
      - Non. Je n'ai ressenti aucun changement, j'étais comme dans un beau rêve. Et il y avait un grand mage dans mon rêve qui me parlait...Je suis à peu prés sûr que c'était Soufflardent qui me parlait.<br />
      - Sérieusement ? Mais il te parlait de quoi ?<br />
      - Je m'en souviens plus. Mais c'était juste un rêve, tu sais.
    </p>
    <p class="fin fin-3">
      - Reposé<span class="sf">e</span> ? Te dit Lasseni contrariée. T'as une minute ? Je voulais te parler.<br />
      - Oui bien sûr. Qu'est-ce qu'il se passe ?<br />
      - Partir pour cette forteresse... je ne sais pas... je crois pas que ce soit une bonne idée.<br />
      - C'est à cause... de tes ancêtres ?<br />
      - Non... enfin si. Je suis sûre que c'est pas vraiment eux qu'il y a dans cette forteresse mais même comme ça je suis sûre que ça va me peser. Je pense que t'as dû voir que j'avais pas Ymir et Zaïra dans mon coeur.<br />
      - Oui, je m'en suis rendu<span class='sf'>e</span> compte. Mais on va à cette forteresse aussi pour que les villageois aient un toit. Les laisser dans le marais c'est trop dur, tu trouves pas.<br />
      - ... Si tu as raison. Je ne devrai pas penser qu'à moi...<br />
      - Heu non je voulais pas dire ça. Tu sais je serai là avec toi, donc si à un moment tu te sens mal on partira. Je te promets, lui dis-tu.<br />
      <br />
      Lasseni te fait promettre encore, ce que tu refais pour lui faire plaisir.
    </p>

    <p>Soudain, Fandrean lance un sort de feu d'artifice pour attirer l'attention. <br /><br />
      - Mes amis, les dragons et Soufflardent nous ont enlevé beaucoup de choses hier. Nos amis, nos familles et nos maisons. La tour d'Azano était notre foyer, même si l'endroit était dur à vivre c'est là qu'on vivait, c'est là que nous sommes nés pour la plupart. Alors je sais combien c'est dur de partir de cet endroit, et ça semblera bizarre pour ceux qui ne sont pas d'ici surtout quand on voit un temps comme aujourd'hui complètement brumeux mais si typique de chez nous.</p>

    <p>Les villageois explosent de rire, certains ont une petite larme à l'œil, mais tous écoutent le mage.</p>

    <p>- Usaki, le mage ici présent nous propose de nous aider, poursuit Fandrean. Comme il nous l'a dit hier soir. Sa forteresse est dans les monts noirs, mais je vous le jure : nous les mages vous protégerons tout le long du trajet. Vous ne devez pas avoir peur de ce voyage. Et je veux vous faire une promesse. Le village d'Azano, nous le reconstruirons. Quand nous seront reposés, quand nous irons mieux, nous reconstruiront le village encore plus beau qu'avant !</p>

    <p>La foule des villageois hurle de joie, le poing levé et scande le nom de Fandrean. C'est bien plus que le chef de la tour d'Azano. Il est le chef de tout le village.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="99">Partir du village en direction de la forteresse</div>
  </div>
</div>
