<div class="num num-1-2-99">

  <div class="text">
    <h1>- 99 -</h1>

    <p>La marche passe en partie par les marais, mais pour des raisons de sécurité vous avez décidé de passer là où le passage est le plus étroit. Ça vous fait un petit détour, mais finalement cela ne rallonge pas trop le voyage en durée. Il va falloir plusieurs jours pour rejoindre la forteresse, un voyage où tous les mages du groupe sont chargés de protéger le convoi. Dans les marais, il y a beaucoup de créatures dangereuses, mais arrivés dans les monts noirs, c'est surtout des dragons dont il faudra se méfier.</p>

    <p>Ça paraît un peu bizarre d'essayer de trouver refuge dans un endroit aussi dangereux, mais Fandrean garantit la sécurité de tout le monde. <span class="fin fin-1">Sachant qu'Usaki est avec vous tu ne vois pas de raison de te faire du souci non plus. Après Ymir et Zaïra, il doit être le plus puissant de la forteresse.</span></p>

    <p class="middle">*</p>

    <p>Avec la taille de votre groupe, les prédateurs ne vous attaquent pas. Un groupe de worgs essaient de vous suivre un moment, pensant certainement que vous alliez laisser à la traîne un ou deux retardataires. Mais bien entendu, personne n'est laissé derrière.</p>

    <p>Seul<span class='sf'>e</span>, tu aurais certainement mis 1 ou 2 jours de moins pour arriver à destination, mais finalement, en milieu de journée du 5° jour de marche, tu découvres, taillées directement dans la roche, des ouvertures. Oui, les fenêtres de la forteresse de la lune te font face.</p>

    <p class="fin fin-1">Ça fait du bien de rentrer à la maison avec le sentiment d'avoir mené ta mission à bien. Ymir sera content, enfin ça dépendra aussi de ce qu'il pensera de toute cette caravane que tu ramènes avec toi.</p>
    <p class="fin fin-3 fin-2 fin-4 fin-5 fin-6">De grandes portes en pierres protègent la forteresse. Elles sont très grandes. Au moins 5 mètres de haut. Au vu de la multitude de fenêtres il doit y avoir plusieurs centaines de personnes vivant ici. Ils vivent en pleine montagne. Pas un arbre, pas une rivière, tu te demandes comment ils font pour survivre.</p>

    <p class="fin fin-1">Derka et Zend, les gardes du palais vous accueillent en vous demandant de vous arrêter. Usaki va leur parler, tu le rejoins :<br />
    - Bonjour Usaki, bonjour <span class="tonnom"></span>. Qui sont ces gens ?<br />
    - C'est le village de la tour d'Azano, presqu'au complet, leur répond Usaki avec un sourire.<br /><br />Les deux gardes font une tête que tu n'es pas prêt<span class="sf">e</span> d'oublier. Pendant que Zend part informer les deux mages légendaires, Derka reste avec vous. D'autres gardes vous rejoignent assez vite, inquiets de savoir ce qu'il se passe.</p>
    <p class="fin fin-3 fin-2 fin-4 fin-5 fin-6">Deux gardes vous demandent de vous arrêter à l'entrée de la forteresse. Usaki et <span class="fort-nom"></span> vont leur parler. Pendant qu'un des gardes semble partir alerter ses supérieurs, d'autres viennent en renfort inquiets de voir arriver chez eux tout un village.</p>

    <p class="fin fin-1">- Hé bien <span class="tonnom"></span> ? Je t'envoie récupérer un de nos amis et tu reviens avec des centaines de personnes ?<br />
    - Maître Ymir ! t'écries-tu. J'ai ramené Usaki quand même, il est là.<br /><br />
    Ymir sourit et pose sa main sur ta tête puis prend Usaki dans ses bras. Après un bref échange il s'avance alors vers les villageois et notamment Fandrean qui est devant le groupe.</p>
    <p class="fin fin-3 fin-2 fin-4 fin-5 fin-6">- Hé bien <span class="fort-nom"></span> ? Je t'envoie récupérer un de nos amis et tu reviens avec des centaines de personnes ?<br />
    - Maître Ymir ! s'écrie <span class="fort-nom"></span>. J'ai ramené Usaki quand même, il est là.<br /><br />
    Ymir sourit et pose sa main sur sa tête puis prend Usaki dans ses bras. Après un bref échange il s'avance alors vers les villageois et notamment Fandrean qui est devant le groupe.</p>

    <p class="fin fin-3 fin-2 fin-4 fin-5 fin-6">C'est un vieux mage avec une très longue barbe grise qui se dresse devant vous. Il est habillé de belles robes rouges et paraît imposant. C'est le mage légendaire que tu vénères depuis toujours. Il est devant toi, vivant.</p>

    <p>- Bonjour, je m'appelle Ymir. Général de la "forteresse de la lune". Vous avez fait un grand voyage et nous ne refuserons l'entrée à personne. Soyez tous les bienvenues.</p>

    <p>Tu sens que Fandrean a envie de discuter beaucoup plus avec Ymir mais il échange juste quelques amabilités avec le mage légendaire et demande aux villageois de suivre les gardes de la forteresse.</p>

    <p>À voir la tête des gardes, tu penses qu'ils doivent se demander où ils vont mettre autant de monde. Quant à vous, les mages, Ymir vous propose de le suivre. Ce que tu fais sans te faire prier.</p>

  </div>

  <div class="choix">
    <div class="ch" data-go="100">Discuter entre mages</div>
  </div>
</div>
